/* CSS Document */
/*__________________________________________________________________TAGS_____________________________________*/
body, button, td, th, div, p {font:normal 12px Arial; color:#fff}
body 					{background:#000;}
input 					{color:#000}
td 						{line-height:16px; color:#c4ced5;}



label					{color:#979797;}
p						{line-height:16px; padding:0px 0px 0px 0px;}
.contentpaneopen li		{line-height:16px !important}

/*__________________________________________________________________CONTENT_____________________________________*/

.inputbox				{border:1px solid #46462f;}
.article_indent, #component-contact	{padding:20px 0px 0px 0px;}
.article_bot			{line-height:5px}
.article_separator		{background:url(/clients/3Cevent/Images/article_separator.gif) repeat-x 0 50%; line-height:25px; width:100%; display:block}

.contentpaneopen td		{line-height:17px}
.contentpaneopen p		{padding:0px 0px 0px 0px;}

.contentpaneopen img	{margin:0px 2px 0px 0px;}
.contentpaneopen li		{background:url(/clients/3Cevent/Images/li_bg2.gif) no-repeat 0 0px; padding:0px 0px 0px 10px; line-height:10px}
.contentpaneopen li	a	{color:#0844DA; text-decoration:none; display:block; padding:2px 0px 0px 13px;}
.contentpaneopen li	a:hover {text-decoration:underline}

/*______________________HEADING__________________*/

.componentheading		{color:#fff; font-size:22px; font-weight:normal; padding:5px 0px 5px 0px; margin:0px 0px 10px 0px;line-height:18px}
.contentheading			{color:#fff; font-size:18px; font-weight:normal; padding:6px 0px 0px 0px; line-height:18px !important;}
.buttonheading			{padding:7px 0px 5px 0px;}

/*______________________BUTTONS__________________*/

.button, .validate		{color:#fff; font-size:11px; font-weight:bold; margin:0px 0px 0px 0px; padding:0px 0px 2px 0px; background:url(/clients/3Cevent/Images/button.gif) no-repeat 0 0; width:62px; display:block; text-transform:none; text-align:center; border:none}
* html .button, * html .validate {height:22px}

/*______________________READ_MORE________________*/	

a.readon				{color:#fff; font-size:11px; font-weight:bold; margin:0px 0px 0px 0px; padding:3px 0px 5px 0px; display:block; text-decoration:none; }
a.readon:hover			{color:#fff; text-decoration:underline}
a.readon:visited 		{color:#fff;}
.readmore				{padding:0px 0px 0px 0px; display:table; width:auto; margin:5px 0px 0px 0px;}
* html .readmore		{}

/*______________________ITEMINFO__________________*/

.iteminfo				{background:url(/clients/3Cevent/Images/iteminfo_gl.gif) repeat-x bottom; padding:0px 0px 6px 0px; margin:0px 0px 15px 0px;}
.modifydate				{color:#8d8d8d; font-size:11px; padding:5px 0px 0px 0px; text-decoration:none !important}
.createdby				{color:#8d8d8d; font-weight:bold; font-size:11px; display:block; text-transform:non; text-decoration:none !important}
.createdate				{color:#8d8d8d; font-size:10px; padding:0px 0px 7px 14px; margin:0px 0px 0px 0px; text-transform:none; text-decoration:none !important; background:url(/clients/3Cevent/Images/createdate.gif) no-repeat 0 3px}
.small					{color:#bbb; font-weight:normal; font-size:12px; margin:5px 0px 0px 0px; text-transform:none ; text-decoration:none !important}
span.small				{padding:0px 0px 0px 0px; margin:0px 0px 0px 0px; text-transform:none !important}

/*______________________BLOGMORE__________________*/

.blog_more				{padding:10px 0px 10px 10px}
.blog_more h2			{color:#605a40; font-size:12px; background:none; padding:0px 0px 0px 0px;}
.blog_more ul			{margin:10px 0px 0px 10px;}
.blog_more a			{color:#605a40; text-decoration:underline}
.blog_more a:hover		{color:#605a40; text-decoration:none;}			
.blog_more strong		{color:#605a40; }

/*______________________PAGE_NAVIGATION___________*/

.pagenav				{color:#605a40; font-size:12px; font-weight:normal}
a.pagenav				{color:#605a40;}
a.pagenav:hover			{color:#605a40; text-decoration:none}
.pagination_nav			{color:#605a40; background:url(/clients/3Cevent/Images/article_separator.gif) repeat-x 0 0; font-size:12px; padding:7px 0px 0px 0px;}
.pagination_result		{color:#605a40}

.pagination				{margin-top:10px}
.pagination	li			{float:left; padding:0px 5px 0px 5px;}	
.pagenavcounter, .contenttoc			{display:block; width:100%; float:none; clear:both}			
/*______________________RESULT____________________*/
.sectiontableentry0 td	{padding:5px 0px 5px 0px; border-bottom:1px solid #333;}
.sectiontableentry1 td	{padding:5px 0px 5px 0px; border-bottom:1px solid #333; border-top:1px solid #000; background:#ff591d}
.sectiontableentry2 td 	{padding:5px 0px 5px 0px;}

.sectiontableentry0,
.sectiontableentry1,
.sectiontableentry2		{}

.sectiontableentry1 a	{color:#fff}
.sectiontableentry1 a:hover {color:#fff}
.sp						{padding-right:4px !important}
.sp2					{padding:0px 0px 0px 10px;}

/*______________________POLL______________________*/

.pollstableborder_s3		{margin:0px 0px 0px 0px;}
.poll_s3					{}
.poll_s3 thead td 			{font-size:12px; color:#fff; font-weight:normal !important; padding:10px 0px 4px 0px;}
.pollstableborder_s3 td	{padding:2px 0px 2px 5px; vertical-align:top; text-align:left; font-size:12px}
.pollstableborder_s3 label	{color:#fff; font-size:12px; padding:0px 0px 0px 0px; display:block}

.display				{padding:0px 0px 10px 0px;}
.display select			{border:1px solid #46462f; width:100px; height:16px}

.sectiontableentry1 div, .sectiontableentry0 div {font-size:1px}
/*________________________________________SEARCH____________________________________*/
#search					{padding:0px 0px 0px 545px;}
.search_s7				{padding:0px 0px 0px 0px; margin:0px 0px 0px 0px; background:url(/clients/3Cevent/Images/search_bg.gif) no-repeat 0 0}
.inputbox_s7 			{width:159px; height:18px; border:1px solid #656565; background:#fff; margin:0px 0px 5px 30px; color:#404040; font-size:11px; padding:2px 0px 0px 5px; vertical-align:middle; font:normal 11px Tahoma; color:#656565}
* html .inputbox_s7		{height:21px}
.button_s7				{}

/*_____________________________RESULT___________________________*/
.search_result h3		{color:#c4ced5; font-size:14px}
.search_result p		{padding:10px 0px 0px 0px;}
#search_searchword		{border:1px solid #999}
legend					{color:#c4ced5}

.phrase 				{color:#c4ced5; margin:10px 10px 10px 0; padding:10px; width:60%; border:solid 1px #ccc; float:left;}
.phrase .inputbox 		{background:#fff; color:#000; display:block; margin-top:10px; width:12em;}

.phrase .inputbox option {background:#fff; border-bottom:solid 1px #333; padding:2px; }
.phrase .inputbox option a:hover {color:#1e3300; background:#C00; border-color:#CFD0D6; }
fieldset.word,fieldset.only { border:solid 1px #ccc;}

.only 					{border:solid 0; margin:10px 0 0 10px; padding:5px 10px; line-height:1.3em;}
.word 					{padding:10px 10px 10px 0; border:solid 0 !important;}
.word input 			{background:#fff; color:#000; font-weight:normal; margin:0 0 0 10px; padding:2px;}

/*________________________________________BOXES________________________________________________________________*/

.module					{margin:0px 0px 0px 0px;}
.module div				{}
.module div div			{}
.module div div div		{color:#d3d3d3; padding-left:6px}
.module div div div	div	{padding-left:0px}
* html .module div div div {width:100%; }
.module h3				{color:#136173; font-size:14px; font-weight:bold; text-transform:none; padding:12px 0px 10px 21px; background:url(/clients/3Cevent/Images/box1_h3.gif) no-repeat 0 0}
.module .button			{margin:15px 0px 0px 0px; background:url(/clients/3Cevent/Images/button.gif); width:63px; height:22px; display:inline; color:#fff; font:bold 12px Arial}
.module label			{color:#6e7e81; font-size:12px; font-family:Arial}
.module td				{color:#483c24; font-size:11px; padding:0px 0px 7px 17px;}
.module ul				{padding:0px 0px 15px 0px;}
.module li				{padding:2px 0px 2px 0px; }
.module li a			{color:#483c24; font-size:11px; font-weight:normal;  text-decoration:none; line-height:16px; padding:0px 0px 4px 20px; display:block}
.module li a:hover		{color:#483c24; text-decoration:underline}
.module li a:visited	{color:#483c24}


.module_s3				{}
.module_s3 div			{}
* html .module_s3 div	{width:100%}
.module_s3 div div		{background:none}
.module_s3 div div div	{color:#f9f0cf; background:none; padding-top:5px}
.module_s3 h3			{color:#f4eadb; font-size:14px; font-weight:bold; padding:12px 0px 0px 18px}
.module_s3 ul			{padding:4px 0px 0px 0px;}
.module_s3 li			{padding:0px 0px 2px 0px;}			
.module_s3 li strong a	{font-size:12px; color:#fff !important}
.module_s3 .button		{margin:15px 0px 0px 0px; background:url(/clients/3Cevent/Images/vote.gif); width:62px; height:18px; display:inline; color:#fff; font-size:12px !important; font-weight:normal; text-transform:lowercase; padding:0px 0px 0px 0px;}
.module_s3 li span		{padding:0px 0px 0px 15px; display:block; color:#fff}
.module_s3 a			{color:#364628; font-size:11px; text-decoration:none; background:url(/clients/3Cevent/Images/bullet2.gif) no-repeat 0 6px; padding:0px 0px 2px 15px; display:block}
.module_s3 a:hover		{color:#364628; text-decoration:underline}

.module_s4				{margin:0px 0px 9px 0px; padding:10px 0px 10px 0px;color:#c0d1dc}
.module_s4 div			{}
.module_s4 div div		{}
.module_s4 div div div	{background:none;display:inline; }
.module_s4 h3			{color:#fff; font-size:12px; font-weight:normal; text-transform:none; padding:7px 5px 10px 15px; margin:0px 0px 20px 0px;}

.module_s5				{margin:0px 0px 9px 0px;}
.module_s5 div			{}
.module_s5 div div		{}
.module_s5 div div div	{}
* html .module div div div {width:100%; }
.module_s5 h3			{color:#fff; font-size:14px; font-weight:bold; text-transform:none; padding:12px 0px 10px 21px; background:url(/clients/3Cevent/Images/box4_h3.gif) no-repeat 0 0}
.module_s5 .button		{margin:15px 0px 0px 0px; background:url(/clients/3Cevent/Images/button.gif); width:63px; height:22px; display:inline; color:#fff; font:bold 12px Arial}
.module_s5 label		{color:#6e7e81; font-size:12px; font-family:Arial}
.module_s5 ul			{padding:0px 0px 15px 0px;}
.module_s5 li			{padding:2px 0px 2px 0px; }
.module_s5 li a			{color:#d65200; font-size:11px; font-weight:normal;  text-decoration:none; line-height:16px; padding:0px 0px 0px 14px; background:url(/clients/3Cevent/Images/bullet1.gif) no-repeat 0px 5px; display:block}
.module_s5 li a:hover	{color:#d65200; text-decoration:underline}
.module_s5 li a:visited	{color:#d65200 !important}
.module_s5 td, ..module_s5 p {color:#fff; font-size:11px}

.c2 .module_s5				{margin:0px 0px 9px 0px;}
.c2 .module_s5 div			{}
.c2 .module_s5 div div		{}
.c2 .module_s5 div div div	{}
.c2 * html .module div div div {width:100%; }
.c2 .module_s5 .button		{margin:15px 0px 0px 0px; background:url(/clients/3Cevent/Images/button.gif); width:63px; height:22px; display:inline; color:#fff; font:bold 12px Arial}
.c2 .module_s5 label		{color:#6e7e81; font-size:12px; font-family:Arial}
.c2 .module_s5 ul			{padding:0px 0px 15px 15px;}
.c2 .module_s5 li			{padding:2px 0px 2px 0px; }
.c2 .module_s5 li a			{color:#483c24; font-size:12px; font-weight:bold;  text-decoration:underline; line-height:16px; padding:0px 0px 5px 14px; background:url(/clients/3Cevent/Images/bullet2.gif) no-repeat 0px 5px; display:block}
.c2 .module_s5 li a:hover	{color:#483c24 !important; text-decoration:none}
.c2 .module_s5 li a:visited	{color:#483c24 !important}
.c2 .module_s5 td, ..module_s5 p {color:#483c24; font-size:11px}

.module_s9				{margin:0px 0px 9px 0px; background:#eee9d8; padding:25px 0px 25px 0px;}
.module_s9 div			{}
.module_s9 div div		{}
.module_s9 div div div	{}
.module_s9 ul li		{padding:0px 0px 10px 0px;}
.module_s9 ul li a		{color:#ff5e00 !important; padding:0px 0px 0px 24px; background:url(/clients/3Cevent/Images/bullet3.gif) no-repeat 0 0}
.module_s9 td			{padding:0px 0px 0px 19px;}
/*________________________________________MAINMENU_____________________________________*/
.module_menu			{}
.module_menu div		{}
* html .module_menu div	{width:100%}
.module_menu div div	{background:url(/clients/3Cevent/Images/box2_top.gif) no-repeat 0 0; padding:0px 0px 0px 0px;}
.module_menu div div div{background:none; padding:0px 19px 27px 20px;}
.module_menu div div div div {padding:0px 0px 0px 0px;}
.module_menu h3			{margin:0px 0px 19px 0px;}
.module_menu ul			{padding:0px 0px 0px 0px;}
.module_menu li			{padding:2px 0px 2px 0px; background:url(/clients/3Cevent/Images/menu_gl.gif) repeat-x 0 bottom}
.module_menu li a		{color:#ececec; font-size:13px; font-weight:bold; text-decoration:none; line-height:14px; padding:6px 0px 6px 12px; background:url(/clients/3Cevent/Images/menu_bullet.gif) no-repeat 0px 10px; display:block}
.module_menu li a em	{font-style:normal}
.module_menu li a:hover	{color:#ececec; text-decoration:underline}
.module_menu li a:visited{color:#ececec}

/*________________________________________TOPMENU_____________________________________*/

#topmenu				{height:69px; background:url(/clients/3Cevent/Images/topmenu_separator.gif) no-repeat 10px 32px; overflow:hidden}
#topmenu dt				{padding:20px 0px 0px 10px;}
ul.menu-nav 			{padding:0px 0px 0px 0px;}
* html ul.menu-nav 		{margin:0}
ul.menu-nav li			{display:block; float:left;}
ul.menu-nav li a  		{color:#fff !important; font-weight:normal; font-size:14px; text-decoration:none; display:block; text-transform:none; text-align:center; padding:0px 0px 0px 0px; width:auto; float:left}
* html ul.menu-nav li a	{}
ul.menu-nav li a span	{display:block; padding:11px 38px 14px 35px; background:url(/clients/3Cevent/Images/topmenu_separator.gif) no-repeat right 12px}
ul.menu-nav li a span em {font-style:normal;}

ul.menu-nav li a:hover  {color:#a9a9a9 !important; font-weight:normal; font-size:14px; text-decoration:none; display:block;  background:url(/clients/3Cevent/Images/topmenu_arrow.gif) no-repeat 50% bottom;}
ul.menu-nav li a:hover span {padding:11px 38px 14px 35px; display:block;}

ul.menu-nav li.active a {color:#fff !important; font-weight:normal; font-size:14px; text-decoration:none; display:block;  background:url(/clients/3Cevent/Images/topmenu_arrow.gif) no-repeat 50% bottom;}
ul.menu-nav li.active a span {display:block; padding:11px 38px 14px 35px}

a.menu-nav:visited		{color:#fff}

/*________________________________________LOGINFORM_____________________________________*/

.module_s2				{margin:0px 0px 11px 0px; background:url(/clients/3Cevent/Images/box1_bg.jpg) repeat-y 0 0}
.module_s2 div			{background:url(/clients/3Cevent/Images/box1_bot.jpg) no-repeat 0 bottom;}
* html .module_s2 div	{width:100%}
.module_s2 div div		{background:url(/clients/3Cevent/Images/box1_top.jpg) no-repeat 0 0}
.module_s2 div div div	{background:none; padding:27px 40px 10px 37px;}
.module_s2 div div div div	{padding:0px 0px 0px 0px;}
.module_s2 h3			{color:#010101; font-size:14px; font-weight:bold; text-transform:none; padding:12px 0px 7px 18px; background:url(/clients/3Cevent/Images/box2_h3.gif) no-repeat 0 0;}
.module_s2 label		{color:#010101; padding:0px 0px 0px 1px; display:block; vertical-align:middle; font-size:11px; font-weight:bold}
.module_s2 p, label.remember {color:#136173; padding:0px 0px 0px 0px; font-size:11px; font-weight:normal;}
.module_s2 a			{color:#010101 !important; font-size:11px; text-decoration:underline; font-weight:normal}
.module_s2 a:hover		{color:#010101; text-decoration:none}
.module_s2 form			{text-align:left; padding:0px 0px 10px 0px;}
.module_s2 form div		{width:65px; margin:auto;}
* html .module_s2 form div	{width:65px; margin:0px 0px 0px 0px;}
.module_s2 .inputbox	{width:100%; height:18px; border:1px solid #cad2d5; margin:2px 0px 2px 0px; padding:0px 0px 0px 3px; color:#280828; vertical-align:middle; background:none;border-top:2px solid #414143; border-left:2px solid #414143; font-size:11px}	/* inputbox */
.module_s2 .button		{border:none; background:url(/clients/3Cevent/Images/button.gif) no-repeat 0 0; width:62px; color:#000; font-size:10px; font-weight:bold !important; margin:7px 0px 3px 0px; text-align:center; padding:0px 0px 0px 0px; font-family:Tahoma; height:18px; text-transform:uppercase; color:#fff; } /* button */
#mod_login_remember		{margin:0px 10px 0px 0px; vertical-align:middle; background:none; border:none; float:left; display:block; width:12px}		/*checkbox*/

.required				{border:1px solid #46462f; margin:0px 0px 0px 0px;}
input.requred			{border:none !important}

/*___________________________________________________________INDEX.PHP_STYLES_________________________________*/

.main 					{width:943px; text-align:left}
#header					{overflow:hidden; height:251px; background:url(/clients/3Cevent/Images/header.png) no-repeat 0 0}
#logo					{margin:0px 200px 0px 0px;}
#logo img 				{margin:70px 0px 0px 380px;}
#logo dl				{height:200px}
#login					{float:right; width:198px; height:251px; background:url(/clients/3Cevent/Images/loginform_bg.png) no-repeat 0 0}

#breadcrumb				{height:26px; padding:0px 0px 0px 66px;}
#breadcrumb	span, #breadcrumb a	{color:#18aeb6; font:bold 11px Tahoma}
#breadcrumb img			{margin:0px 8px 0px 5px;}

#top					{height:173px; overflow:hidden}
#content				{padding:0px 0px 20px 12px;}
.box_indent				{padding:13px 30px 7px 18px;}
.c2 .box_indent			{padding:13px 30px 7px 20px;}
.indent					{padding:0px 35px 0px 37px; height:231px}

#bottom .module			{padding:26px 0px 0px 40px;}
#bottom h3				{color:#4a99b2; font-size:14px; font-weight:bold; padding:0px 0px 7px 0px;}
#bottom li a			{color:#77bed8; font-size:11px; padding:0px 0px 0px 10px; background:url(/clients/3Cevent/Images/bullet.gif) no-repeat 0 6px; text-decoration:underline; line-height:14px}
#bottom li a:hover		{text-decoration:none}
.c1				{width:194px}
.c2 .space, .c1 .space	{padding:0px 0px 0px 4px;}
.c1						{background:url(..) no-repeat 74px 0px; padding:56px 0px 0px 0px;}
.c1	h3					{background:url(/clients/3Cevent/Images/box_h3.gif) no-repeat 0 0; padding:7px 0px 7px 38px; font:normal 14px Arial; color:#fff}

.c2						{width:234px; float:right; margin:0px 0px 0px 0px}
.c2 .space				{padding:7px; margin:0px 0px 10px 0px;; background:#cdbfa1}
.c2	h3					{background:url(/clients/3Cevent/Images/box2_h3.gif) no-repeat 0 0; padding:9px 0px 13px 38px; font:normal 14px Arial; color:#f6f6f7}
.c2	.module td, .c2	.module p {color:#000}

#footer					{padding:0px 0px 0px 0px;}
#footer dl				{padding:0px 45px 0px 46px;}
#footer dd				{width:100%;}
#footer .space 			{padding:20px 7px 10px 10px;}
#footer .space div		{padding:0px 0px 0px 20px; color:#483c24 !important; font-weight:normal; font-size:12px}
#footer a				{color:#ff6f1e; font-size:12px; text-decoration:none;}
#footer a:hover			{text-decoration:underline}

.gl						{background:url(/clients/3Cevent/Images/gl.gif) repeat-x 0 bottom}

.space2					{padding:0px 20px 15px 30px;}
.c_t					{background:url(/clients/3Cevent/Images/c_t.gif) no-repeat 0 0}
.c_t2					{background:url(/clients/3Cevent/Images/c_t2.gif) no-repeat right 0}
.c_t3					{background:url(/clients/3Cevent/Images/c_t3.gif) repeat-x 0 0}
.c_l					{background:url(/clients/3Cevent/Images/c_l.gif) repeat-y 0 0}
.c_r					{background:url(/clients/3Cevent/Images/c_r.gif) repeat-y right 0 #fff}
.c_b					{background:url(/clients/3Cevent/Images/c_b.gif) repeat-x 0 bottom}
.c_tr					{background:url(/clients/3Cevent/Images/c_tr.gif) no-repeat right 0}
.c_tl					{background:url(/clients/3Cevent/Images/c_tl.gif) no-repeat 0 0}
.c_tr					{background:url(/clients/3Cevent/Images/c_tr.gif) no-repeat right 0;}
.c_bl					{background:url(/clients/3Cevent/Images/c_bl.gif) no-repeat 0 bottom}
.c_br					{background:url(/clients/3Cevent/Images/c_br.gif) no-repeat right bottom;}
.c_br .space2			{padding:40px 14px 10px 10px;}
.center					{margin:0px 246px 0px 0px;}
* html .center			{margin:0px 244px 0px 0px;}
.center2				{margin:0px 0px 0px 0px;}

.article_tl				{background:#000}
.article_tr				{width:100%}
.article_bl				{}
.article_br				{padding:23px 18px 20px 25px;}

#mark					{position:absolute; top:324px; width:52px; margin-left:891px}
#mark div				{background:url(/clients/3Cevent/Images/mark.png) no-repeat 0 0; width:52px; height:111px;}