/* Mix-ins and Colors */
/*MISC*/
.z-index100 {
  z-index: 100; }

img.fullwidth {
  width: 100%;
  height: 261px; }

img.logo {
 max-width: 250px; }

/*GLOBALs*/
.none {
  display: none; }

.block {
  display: block; }

.left {
  float: left; }

.right {
  float: right; }

.center {
  margin: 0 auto;
  text-align: center; }

.textleft {
  text-align: left; }

.textright {
  text-align: right; }

.textcenter {
  text-align: center; }

.caps {
  text-transform: uppercase; }

.relative {
  position: relative; }

.absolute {
  position: absolute; }

.fixed {
  position: fixed !important; }

.cpointer {
  cursor: pointer; }

.cunvailable {
  cursor: not-allowed; }

.ohidden {
  overflow: hidden; }

.posright-0 {
  right: auto !important; }

.content-pad {
  padding: 0px 30px 30px 30px; }

.img-floatL {
  margin: 0 20px 10px 0; }

.img-floatR {
  margin: 0 0 10px 20px; }

/*HRs*/
.line1 {
  margin: 16px 0 6px 0;
  background: #e8e8e8;
  height: 1px;
  padding: 0;
  display: block; }

.line2 {
  margin: 12px 0 6px 0;
  background: #e8e8e8;
  height: 1px;
  padding: 0;
  display: block; }

.line3 {
  margin: 0px 0 0px 0;
  background: #e8e8e8;
  height: 1px;
  padding: 0;
  display: block; }

.line4 {
  margin: 17px 0 15px 0;
  background: #e8e8e8;
  height: 1px;
  padding: 0;
  display: block; }

.line5 {
  margin: 4px 0 12px 0;
  background: #e8e8e8;
  height: 1px;
  padding: 0;
  display: block; }

/*TYPOGRAPHY*/
.xslim {
  font-weight: 100; }

.slim {
  font-weight: 300; }

.normal {
  font-weight: 400; }

.bold {
  font-weight: 700; }

.lh1 {
  line-height: 7px !important; }

.lh2 {
  line-height: 15px; }

.lh3 {
  line-height: 60px; }

.lh4 {
  line-height: 17px; }

.lato {
  font-family: "Lato"; }

.opensans {
  font-family: "Open Sans"; }

.size8 {
  font-size: 8px; }

.size10 {
  font-size: 10px; }

.size11 {
  font-size: 11px; }

.size12 {
  font-size: 12px; }

.size13 {
  font-size: 13px; }

.size14 {
  font-size: 14px; }

.size16 {
  font-size: 16px; }

.size18 {
  font-size: 18px; }

.size20 {
  font-size: 20px; }

.size22 {
  font-size: 22px; }

.size24 {
  font-size: 24px; }

.size28 {
  font-size: 28px; }

.size26 {
  font-size: 26px; }

.size30 {
  font-size: 30px; }

.size40 {
  font-size: 40px; }

.size48 {
  font-size: 48px; }

.size60 {
  font-size: 60px; }

.size65 {
  font-size: 65px; }

.size100 {
  font-size: 100px; }

/*COLORS*/
.white {
  color: white; }

.offwht {
  color: #f3f3f3; }

.dark {
  color: #333333; }

.lgrey {
  color: #cccccc; }

.lightgrey {
  color: #cccccc; }

.grey {
  color: #999999; }

.grey2 {
  color: #666666; }

.green {
  color: #72bf66; }

.green2 {
  color: #339933; }

.lblue {
  color: #0099cc; }

.yellow {
  color: yellow; }

.red {
  color: #ff3300; }

.lred {
  color: #ff9966; }

.lred2 {
  color: #ff5a00; }

.orange {
  color: #ff9900; }

/*LINKS*/
a.orange {
  color: #ff9900;
  text-decoration: none; }

a:hover.orange {
  color: #72bf66;
  text-decoration: none; }

a.dark {
  color: #333333;
  text-decoration: none; }

a:hover.dark {
  color: #ff9900;
  text-decoration: none; }

a.clblue {
  color: #0099cc; }

a:hover.clblue {
  color: #72bf66; }

a.green2 {
  color: #72bf66;
  font-weight: normal;
  text-decoration: none;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  transition: .3s; }

a:hover.green2 {
  color: #339933;
  font-weight: normal;
  text-decoration: none; }

a.grey {
  color: #999999;
  font-weight: normal; }

a.whitelink {
  color: white; }

a.greylink {
  color: #666666; }

/*SHADOW*/
.shadow {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); }

/*Alignments positioning*/
.paddingg {
  padding: 0px !important; }

.pbottom15 {
  padding-bottom: 10px; }

.m1 {
  margin: 13px 0px 0px 22px; }

.mt110 {
  position: relative;
  top: 90px; }

.mt1 {
  position: relative;
  top: 1px; }

.mt2 {
  position: relative;
  top: 2px; }

.mt3 {
  position: relative;
  top: 3px; }

.mt4 {
  position: relative;
  top: 4px; }

.mt5 {
  position: relative;
  top: 5px; }

.mt6 {
  position: relative;
  top: 6px; }

.mt7 {
  position: relative;
  top: 7px; }

.mt8 {
  position: relative;
  top: 8px; }

.mt9 {
  position: relative;
  top: 9px; }

.mt10 {
  position: relative;
  top: 10px; }

.mt15 {
  position: relative;
  top: 15px; }

.mt20 {
  position: relative;
  top: 20px; }

.mt25 {
  position: relative;
  top: 25px; }

.mt30 {
  position: relative;
  top: 30px; }

.mt-1 {
  position: relative;
  top: -1px; }

.mt-2 {
  position: relative;
  top: -2px; }

.mt-3 {
  position: relative;
  top: -3px; }

.mt-4 {
  position: relative;
  top: -4px; }

.mt-5 {
  position: relative;
  top: -5px; }

.mt-6 {
  position: relative;
  top: -6px; }

.mt-7 {
  position: relative;
  top: -7px; }

.mt-8 {
  position: relative;
  top: -8px; }

.mt-9 {
  position: relative;
  top: -9px; }

.mt-10 {
  position: relative;
  top: -10px; }

.mt-200 {
  position: relative;
  top: -230px; }

.mt-130 {
  position: relative;
  top: -130px; }

.ml10 {
  margin-left: 10px; }

.ml20 {
  margin-left: 20px; }

.ml30 {
  margin-left: 30px; }

.mr20 {
  margin-right: 20px; }

.mr30 {
  margin-right: 30px; }

.cmtt {
  position: relative;
  top: 500px; }

.pt-6 {
  position: relative;
  top: -6px; }

.ca01 {
  margin: 20px 0 0 30px; }

.ca02 {
  position: relative;
  top: -10px;
  margin: 8px 10px 0 0;
  color: #999999; }

.ca03 {
  position: relative;
  top: -5px;
  margin: 7px 10px 0 0;
  color: #999999; }

img.imgpos1 {
  margin: 0px 10px; }

.margtop1 {
  margin-top: 1px !important; }

.margtop2 {
  margin-top: 2px !important; }

.margtop3 {
  margin-top: 3px !important; }

.margtop4 {
  margin-top: 4px !important; }

.margtop5 {
  margin-top: 5px !important; }

.margtop6 {
  margin-top: 6px !important; }

.margtop7 {
  margin-top: 7px !important; }

.margtop8 {
  margin-top: 8px !important; }

.margtop9 {
  margin-top: 9px !important; }

.margtop10 {
  margin-top: 10px !important; }

.margtop12 {
  margin-top: 12px !important; }

.margtop15 {
  margin-top: 15px !important; }

.margtop20 {
  margin-top: 20px !important; }

.margtop25 {
  margin-top: 25px !important; }

.margtop30 {
  margin-top: 30px !important; }

.margtop35 {
  margin-top: 35px !important; }

.margtop40 {
  margin-top: 40px !important; }

.margtop-0 {
  margin-top: 0px; }

.margtop-1 {
  margin-top: -1px !important; }

.margtop-2 {
  margin-top: -2px !important; }

.margtop-3 {
  margin-top: -3px !important; }

.margtop-4 {
  margin-top: -4px !important; }

.margtop-5 {
  margin-top: -5px !important; }

.margtop-10 {
  margin-top: -10px !important; }

.margtop-15 {
  margin-top: -15px !important; }

.margtop-20 {
  margin-top: -20px !important; }

.margtop-25 {
  margin-top: -25px !important; }

.margtop-30 {
  margin-top: -30px !important; }

.margtop-35 {
  margin-top: -35px !important; }

.margtop-40 {
  margin-top: -40px !important; }

.margleft15 {
  margin-left: 15px !important; }

.margleft20 {
  margin-left: 20px !important; }

.margright20 {
  margin-right: 20px !important; }

.margbottom20 {
  margin-bottom: 35px !important; }
