UNKNOWN {
	
}
BODY {
	MARGIN: 20px 0px; BACKGROUND-COLOR: #65be6c; TEXT-ALIGN: center
}
DIV.frame {
	TEXT-ALIGN: center; BORDER-RIGHT: #000 4px double; PADDING-RIGHT: 20px; BORDER-TOP: #000 4px double; PADDING-LEFT: 20px; PADDING-BOTTOM: 20px; MARGIN: auto; BORDER-LEFT: #000 4px double; WIDTH: 640px; PADDING-TOP: 10px; BORDER-BOTTOM: #000 4px double; BACKGROUND-COLOR: #ffffff
}
DIV.nav {
	
}
DIV.main_content {
	TEXT-ALIGN: center
}
DIV.linkbox {
	FLOAT: right; MARGIN: 0px 0px 0px 10px; BACKGROUND-COLOR: #de0029; TEXT-ALIGN: center
}
H1 {
	COLOR: #0168b3; FONT-FAMILY: Times, serif
}
H2 {
	COLOR: #0168b3; FONT-FAMILY: Times, serif
}
H3 {
	COLOR: #0168b3; FONT-FAMILY: Times, serif
}
H4 {
	COLOR: #0168b3; FONT-FAMILY: Times, serif
}
H5 {
	COLOR: #0168b3; FONT-FAMILY: Times, serif
}
H6 {
	COLOR: #0168b3; FONT-FAMILY: Times, serif
}
H1 {
	FONT-WEIGHT: bold; FONT-SIZE: 28px; TEXT-ALIGN: center
}
H2 {
	FONT-WEIGHT: bold; FONT-SIZE: 24px
}
H3 {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; MARGIN-BOTTOM: 5px
}
H4 {
	FONT-WEIGHT: bold; FONT-SIZE: 15px; MARGIN-BOTTOM: 10px
}
H5 {
	FONT-WEIGHT: normal; FONT-SIZE: 13px; MARGIN-BOTTOM: 0px; FONT-STYLE: italic; TEXT-DECORATION: underline
}
H6 {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; MARGIN: 0px auto
}
H3.bottomlessmargin {
	MARGIN-BOTTOM: 0px
}
H3.emphasis {
	TEXT-DECORATION: underline
}
P {
	FONT-SIZE: 13px; COLOR: #0168b3; FONT-FAMILY: Times, serif
}
UL {
	FONT-SIZE: 13px; COLOR: #0168b3; FONT-FAMILY: Times, serif
}
OL {
	FONT-SIZE: 13px; COLOR: #0168b3; FONT-FAMILY: Times, serif
}
TD {
	FONT-SIZE: 13px; COLOR: #0168b3; FONT-FAMILY: Times, serif
}
DL {
	FONT-SIZE: 13px; COLOR: #0168b3; FONT-FAMILY: Times, serif
}
BLOCKQUOTE {
	FONT-SIZE: 13px; COLOR: #0168b3; FONT-FAMILY: Times, serif
}
BLOCKQUOTE {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 15px; PADDING-BOTTOM: 10px; COLOR: #de0029; PADDING-TOP: 10px; BACKGROUND-COLOR: #f5b450
}
P.footer {
	COLOR: #ffffff; TEXT-ALIGN: center
}
P.heading_subtext {
	FONT-SIZE: 11px; COLOR: #de0029
}
P.toplessmargin {
	MARGIN-TOP: 0px
}
EM {
	FONT-WEIGHT: bold; FONT-STYLE: italic
}
DIV.nav P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DIV.linkbox P {
	MARGIN: 10px 0px; WIDTH: 100px; COLOR: #ffffff
}
TABLE.scrapbook {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; BORDER-LEFT: #ffffff 1px solid; BORDER-BOTTOM: #ffffff 1px solid
}
TABLE.scrapbook TD {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: normal; PADDING-BOTTOM: 5px; COLOR: #ffffff; PADDING-TOP: 5px; BACKGROUND-COLOR: #333333; TEXT-ALIGN: center
}
TABLE.scrapbook IMG {
	BORDER-RIGHT: #f5b450 0px solid; BORDER-TOP: #f5b450 0px solid; BORDER-LEFT: #f5b450 0px solid; BORDER-BOTTOM: #f5b450 0px solid
}
A:link {
	COLOR: #de0029
}
A:visited {
	COLOR: #af65a2
}
A:hover {
	COLOR: #ffffff; BACKGROUND-COLOR: #de0029
}
A:active {
	COLOR: #65be6c
}
P.footer A:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
P.footer A:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
P.footer A:hover {
	COLOR: #ffffff; BACKGROUND-COLOR: #65be6c; TEXT-DECORATION: none
}
P.footer A:active {
	COLOR: #ffffff; TEXT-DECORATION: none
}
DIV.linkbox A:link {
	FONT-WEIGHT: bold; COLOR: #ffffff
}
DIV.linkbox A:visited {
	FONT-WEIGHT: bold; COLOR: #f5b450
}
DIV.linkbox A:hover {
	FONT-WEIGHT: bold; COLOR: #de0029; BACKGROUND-COLOR: #ffffff
}
DIV.linkbox A:active {
	FONT-WEIGHT: bold; COLOR: #65be6c
}
