body {
	font-family: arial, sans-serif;
	font-size: 12px;
	line-height: 18px;
}
a {
color: #9e1b32;
}
#topnav li a {
	color: #faf1c6;
	font-size: 15px;
	line-height: 20px;
font-family: "le-havre-1","le-havre-2",sans-serif;
font-weight: bold;
}
#centernav li a {
font-family: "le-havre-1","le-havre-2",sans-serif;
font-weight: bold;
	color: #EEE6BB;
	font-size: 20px;
	line-height: 24px;
}
#header {
	font-weight: bold;
	font-size: 15px;
	color: #eee4ac;
}
#considerthis
,#season
,#season a {
	font-family: Times New Roman;
	font-size: 16px;
	line-height: 22px;
	color: #faf1c6;
}
#season a {
text-decoration: none;
}
#copy {
	font-family: Lucida Grande, Arial;
	font-size: 13px;
	color: #faf1c6;
}