/* _________________________________________________

Ball State Design - Announcements
_____________________________________________________

1.ANNOUNCEMENTS

ANNOUNCEMENTS
*/
.announcements 
{
    margin: 0;
    padding: 0;
    background-color: #E3DEBE;
    border-bottom: 1px dotted #FFFFFF;
}
    
.announcements .header 
{
    margin: 0;
    padding: 7px 10px;
    font-size: 10pt;
    text-transform: uppercase;
    color: #445566;
    border-bottom: 1px solid #445566;
}
    
#column2.secondary .callout.announcement 
{
    margin: 0;
    color: #445566;
    background-color: #E3DEBE;
    text-decoration: none;
    border-bottom: 1px dotted #FFF;
}
    
#column2.secondary .callout.last.announcement 
{
    margin: 0;
    border-bottom: none;
}
    
#column2.secondary .callout.announcement .middle 
{
    padding: 10px 10px;
}
    
#column2.secondary .callout.announcement .middle  .copy
{
    font-size: 8.5pt;
    text-align: left;
}

#column2.secondary .callout.announcement .middle  .link
{
    text-align: left;
    padding: 0 0 5px 0;
}

#column2.secondary .callout.announcement .middle .link a 
{
    color: #CC0000;
    font-size: 8.5pt;
    font-weight: bold;
    text-decoration: underline;
}

#column2.secondary .callout.announcement .middle .link a:hover 
{
    color: #CC0000;
    text-decoration: none;
}


/*960px __________________________________________________________________________________________________________ */
/* @media only screen and (max-width: 960px) { */
    body {}
/* } */
