/* _________________________________________________

Ball State Design - Breadcrumbs
_____________________________________________________

1.BREADCRUMBS

BREADCRUMBS
*/
#breadcrumbs 
{
    line-height: 1.2em;
    padding-bottom: 5px;
}
    
#breadcrumbs a { text-decoration: none; }
#breadcrumbs a:hover 
{ 
    color: #CC0000; 
    text-decoration: underline;
}
    
/*960px __________________________________________________________________________________________________________ */
/* @media only screen and (max-width: 960px) { */
    body {}
/* } */