/* _________________________________________________

Ball State Design - Primary Navigation
_____________________________________________________

1.PRIMARYACCESS

PRIMARYACCESS
*/
#primaryAccess
{
    margin: 0 auto;
    width: 940px;
    height: 40px;
    text-align: left;
    overflow: hidden;
    
    font-family: NewsGothicBT-Roman, Helvetica, Arial, Sans-Serif;
    font-weight: bold;
    text-transform: uppercase;
    /* CSS3 Font Smoothing */
    -webkit-font-smoothing: subpixel-antialiased;
    color: #FFFFFF;
}
    
/* Primary Access UL */
#primaryAccess ul 
{
    margin: 0;
    padding: 0;
    
    list-style: none;
}

/* Primary Access UL LI */
#primaryAccess ul li
{
    float: left;
    font-size: 10.5pt;
}

#primaryAccess ul li.on
{
    background-color: #666666;
}

/* Primary Access UL LI A */
#primaryAccess ul li a
{
    display: block;
    margin: 0;
    padding: 12px 23px 13px 24px;
    
    color: #FFFFFF;
    text-decoration: none;
}

#primaryAccess ul li a:hover
{   
    color: #FFFFFF;
    text-decoration: none;
    background-color: #666666;
}

#primaryAccess ul li.on a 
{
    background-color: #666666;
}

/*960px __________________________________________________________________________________________________________ */
/* @media only screen and (max-width: 960px) { */
    body {}
}