/* Safari-Chrome specific declarations here */
#primaryAccess  
{
    font-family: NewsGothicBT-Bold; 
    font-weight: normal;
}

/* Primary Access UL LI A */
#primaryAccess ul li a { padding: 12px 25px 13px 26px; }

/* Nav Gateway */
#navGateway  
{
    font-family: NewsGothicBT-Bold; 
    font-weight: normal;
}

/* Nav Tactical */
#navTactical  
{
    font-family: NewsGothicBT-Bold; 
    font-weight: normal;
}