/* _________________________________________________

Ball State Design - Two Column Wide Left
_____________________________________________________

1.CONTENTCONTAINER
2.BILLBOARDCONTAINER

CONTENTCONTAINER
*/
#contentContainer 
{
    background-image: url(/Components/Design/Images/Backgrounds/backgroundWideLeft.gif);
    background-position: 100% 0;
    background-repeat: repeat-y;
}
    
/* Content Container Single Column */
    
/* COMPLEX? */
#contentContainer.single-column-banner { /* background-image: none; */ }
    
#contentContainer.feature-page 
{
    background-image: url(/Components/Design/Images/Backgrounds/backgroundFeature.gif);
    background-position: 100% 0;
    background-repeat: repeat-y;
}

#contentContainer .primary img { padding: 3px 5px; display: block; z-index: 100; }

/*960px __________________________________________________________________________________________________________ */
/* @media only screen and (max-width: 960px) { */
    body {}
/* } */