body {
	font-family: Arial, Helvetica, sans-serif;
	background-image: url(/clients/diversionary/images/back2.jpg);
	background-repeat: repeat-y;
	background-position: left;
	background-color: #FFFFFF;
}
.bodycopy {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #000000;
}
.bodycopyBlue {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #006699;
}
.bodycaption {
	font-family: Arial, Helvetica, sans-serif;
	font-size: x-small;
	color: #000000;
}
.bodyheadline {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #336699;
}
.bodysubheadline {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #336699;
}
.bodyheadlinepurple {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #990099;
	background-repeat: repeat-x;
}
.bodycopySeason {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
}
.toprightheader {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: bold;
}
.legal {
	font-family: Arial, Helvetica, sans-serif;
	font-size: xx-small;
	color: #000000;
}
.legalWhite {
	font-family: Arial, Helvetica, sans-serif;
	font-size: xx-small;
	color: #FFFFFF;
}
.legalPurple {
	font-family: Arial, Helvetica, sans-serif;
	font-size: xx-small;
	color: #670067;