p, li, span, table, td, input, textarea, select, option, nav.li {
	font-size   : 16px; 
	line-height : 24px;
	font-family : Trebuchet MS, Arial;
	font-weight : normal;
	font-style  : normal;
	color	    : #454545;
}

img { border: 0; }

li {
	margin-left: 30px;
}

#adminheader, #admincontent {
	font-size: 11px;
}

#adminheader b, #admincontent b {
	font-size: 11px;
}

#adminheader a, #admincontent a {
	font-size: 11px;
}

.newsHeader {
	font-size   : 18px; 
	line-height : 18px;
	font-family : Trebuchet MS, Arial;
	font-weight : normal;
	font-style  : normal;
	color	    : #454545;
	padding-bottom: 5px;
}

.newsContent {
	font-size   : 12px; 
	line-height : 18px;
	font-family : Trebuchet MS, Arial;
	font-weight : normal;
	font-style  : normal;
	color	    : #333333;
	padding-top : 2px;
}

.worldwideNewsContent, .worldwideNewsContent a {
	font-size   : 11px; 
	line-height : 14px;
	font-family : Trebuchet MS, Arial;
	font-weight : normal;
	font-style  : normal;
	color	    : #333333;
	padding-top : 2px;
}

.newsDate {
	color		: #999999;
	padding-right: 5px;
}

.worldwideNewsContent .newsDate 
{
	font-size	: 11px;
	color	    : #999999;
	padding-right: 5px;
}

.worldwideNewsContent A {
	text-decoration : none;
	font-weight     : bold;
	color           : #006699;
}

.subscribeToday {
	font-size    : 12px; 
	line-height  : 15px;
	font-family  : Trebuchet MS, Arial;
	font-weight  : normal;
	font-style   : normal;
	padding-left : 10;
	padding-right: 10;
        vertical-align: middle;
	color	     : #ffffff;
}

.siteSearch {
	font-size   : 10px; 
	line-height : 14px;
	font-family : Trebuchet MS, Arial;
        margin-left : 10px;
        width       : 120px;
        height      : 20px;
	color	    : #333333;
}

.emailSubmit {
	font-size   : 10px; 
	line-height : 14px;
	font-family : Trebuchet MS, Arial;
        margin-left : 10px;
        width       : 180px;
        height      : 20px;
	color	    : #333333;
}

.connectShare {
	font-size   : 14px; 
	line-height : 20px;
	font-family : Trebuchet MS, Arial;
	font-weight : normal;
	font-style  : normal;
	padding-left: 10;
        vertical-align: middle;
	color	    : #666666;
}

H1 {
	font-size   : 24px; 
	line-height : 28px;
	font-family : Trebuchet MS, Arial;
	font-weight : normal;
	font-style  : normal;
	color	    : #006699;
}

H3 
{
	font-size   : 18px; 
	line-height : 24px;
	font-family : Trebuchet MS, Arial;
	font-weight : normal;
	font-style  : normal;
	color	    : #006699;
}

A {
	font-size       : 16px; 
	line-height     : 24px;
	font-family     : Trebuchet MS, Arial;
	text-decoration : none;
	font-weight     : bold;
	color           : #006699;
}

A:Hover {
	text-decoration : underline;
	font-family     : Trebuchet MS, Arial;
}

A.subNav {
	font-size       : 12px; 
	line-height     : 18px;
	font-family     : Trebuchet MS, Arial;
	text-decoration : none;
	font-weight     : bold;
	color           : #FFFFFF;
}

A.subNav:Hover {
	text-decoration : none;
	font-family     : Trebuchet MS, Arial;
	color           : #333333;
}

.articleTitle {
	font-size   : 14px; 
	line-height : 18px;
	font-family : Trebuchet MS, Arial;
	font-weight : bold;
	color	    : #333333;
}

.articleTags A {
	font-size       : 12px; 
	line-height     : 18px;
	font-family     : Trebuchet MS, Arial;
	text-decoration : none;
	font-weight     : bold;
	color           : #c89600;
}

.articleTags A:Hover {
	text-decoration : underline;
	font-family     : Trebuchet MS, Arial;
}

.siteMap,
.siteMap A {
	font-size       : 10px; 
	line-height     : 16px;
	font-family     : Trebuchet MS, Arial;
	text-decoration : none;
	font-weight     : normal;
	color           : #333333;
}

.siteMap A:Hover {
	text-decoration : underline;
	font-family     : Trebuchet MS, Arial;
	color           : #006699;
}

.siteMapMain A {
	font-size       : 10px; 
	line-height     : 16px;
	font-family     : Trebuchet MS, Arial;
	text-decoration : none;
	font-weight     : bold;
	color           : #006699;
}

.siteMapMain A:Hover {
	text-decoration : underline;
	font-family     : Trebuchet MS, Arial;
	color           : #006699;
}

.breadcrumb
{
	font-size: 12px;
	margin-bottom: 15px; 
	padding: 5px 0px 5px 0px; 
	border-top: solid 1px #eee; 
	border-bottom: solid 1px #eee;	
}

.breadcrumb a 
{
	font-size: 12px;
	color: #666666;
}

.validation, .validation li 
{
	color: #bb0000;
}