.sm {
	FONT-SIZE: 9pt; COLOR: #333333; FONT-FAMILY: Verdana
}
.smm {
	FONT-SIZE: 8pt; COLOR: #333333; FONT-FAMILY: Verdana
}
.sm6 {
	FONT-SIZE: 9pt; COLOR: #333333; FONT-FAMILY: Verdana
}
.smb {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #333333; FONT-FAMILY: Verdana
}
.lb {
	FONT-WEIGHT: bold; FONT-SIZE: 11pt; COLOR: #333333; FONT-FAMILY: Verdana
}
.lb2 {
	FONT-WEIGHT: bold; FONT-SIZE: 11pt; COLOR: #640100; FONT-FAMILY: Verdana
}
.sml {
	FONT-SIZE: 9pt; COLOR: #eeeeee; FONT-FAMILY: Verdana; TEXT-DECORATION: underline
}
.smwhite {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #ffffff; FONT-FAMILY: Verdana
}
.smlink2 {
	FONT-SIZE: 9pt; COLOR: #9b6328; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
.smlink3 {
	FONT-SIZE: 9pt; COLOR: #640100; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
.smblink {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #333333; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A.smlink:hover {
	FONT-SIZE: 9pt; COLOR: #cc0000; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
.mm {
	FONT-SIZE: 9pt; COLOR: #333333; FONT-FAMILY: Verdana
}
.mm2 {
	FONT-SIZE: 8pt; COLOR: #666666; FONT-FAMILY: Verdana
}
.mmb {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #333333; FONT-FAMILY: Verdana
}
.mml {
	FONT-SIZE: 9pt; COLOR: #333333; FONT-FAMILY: Verdana; TEXT-DECORATION: underline
}/*
A:link {
	COLOR: #ffffff; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
A:visited {
	COLOR: #ffffff; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
A:active {
	COLOR: #ffffff; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
A:hover {
	COLOR: #ffffff; BACKGROUND-COLOR: transparent; TEXT-DECORATION: underline
}*/
BODY {
	FONT-SIZE: 8pt; COLOR: #666666; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
TD {
	FONT-SIZE: 8pt; COLOR: #666666; FONT-FAMILY: verdana, arial, helvetica, sans-serif
}
.footer {
	FONT-SIZE: 7pt; COLOR: #666666; FONT-FAMILY: Verdana
}
