img{border: none;}
a{
	color: #333;
	text-decoration: none;
}
a:hover{text-decoration: underline;}
object, embed{
	margin: 0;
	padding: 0;
	display: block;
}
input, textarea, select{
	font: bold 100% Arial, Helvetica, sans-serif;
	vertical-align: middle;
}
form, fieldset{
	margin: 0;
	padding: 0;
	border: none;
}
input[type=text]:focus{outline: none;}
html{height: 100%;}
body{
	height: 100%;
	margin: 0;
	font: 11px Verdana, Arial, Helvetica, sans-serif;
	color: #333;
	background: #efefef;
}
h2.title{
	border-bottom: 1px solid #ccc;
	height: 44px;
	background: url(/clients/ArmedForcesBowl/Images/main-title-bg.gif) no-repeat;
	padding: 2px 0 0 33px;
	font-size: 35px;
	margin: 0;
	letter-spacing: -2px;
	text-transform: uppercase;
	color: #032562;
}
h2.title-home{
	border: none;
	padding-bottom: 1px;
	background: url(/clients/ArmedForcesBowl/Images/main-title-home-bg.gif) no-repeat;
}
h3{
	margin: 0;
	font: bold 14px/18px "Times New Roman", Times, serif;
	color: #852322;
	text-transform: uppercase;
}

.info-block h3 a:hover{
	text-decoration: underline;
}

.info-block h3 a{
	margin: 0;
	font: bold 14px/18px "Times New Roman", Times, serif;
	color: #852322;
	text-transform: uppercase;
	text-decoration: none;
}
h3.title{
	background: #d1d1c2;
	color: #852322;
	text-transform: uppercase;
	letter-spacing: -1px;
	font-size: 19px;
	padding: 8px 6px
}
h4.title{
	height: 21px;
	background: url(/clients/ArmedForcesBowl/Images/title-bg.png) no-repeat;
	margin: 0;
	padding: 4px 0 0 18px;
	color: #852322;
	font-size: 14px;
	letter-spacing: -1px;
}
#container{
	padding: 0 20px;
	width: 950px;
	background: #fff;
	margin: 0 auto;
	min-height: 100%;
}
* html #container{height: 100%;}
#header{
	background: #d1d1c2 url(/clients/ArmedForcesBowl/Images/header-bg.jpg) no-repeat;
	background-color:#B11216;
	padding: 8px 0 3px;
}
.hotspot {
	margin: 0 10px 6px 35px;
	width: 213px;
	height: 60px;
	display: block;
	text-indent: -9999px;
	overflow: hidden;
}
.logo{
	width: 151px;
	height: 144px;
	overflow: hidden;
	padding: 20px 0 0 21px;
	margin: 0;
}
.logo a{
	width: 151px;
	height: 144px;
	display: block;
	text-indent: -9999px;
	overflow: hidden;
	background: url(/clients/ArmedForcesBowl/Images/logo.png) no-repeat;
}
.main-nav{
	margin: 0;
	padding: 0;
	list-style: none;
	width: 100%;
	overflow: hidden;
	background: url(/clients/ArmedForcesBowl/Images/nav-background.gif) repeat-x;
	margin: 22px 0 0;
}
.main-nav li{float:left;}
.main-nav a{
	float: left;
	height: 25px;
	background-repeat: no-repeat;
	overflow: hidden;
	text-indent: -9999px;
}
.post{
	padding: 10px 0 35px;
	border-bottom: 1px solid #ccc;
}
.main-nav .home a{
	width: 51px;
	background-image: url(/clients/ArmedForcesBowl/Images/nav-home.gif);
}
.main-nav .tickets a{
	width: 67px;
	background-image: url(/clients/ArmedForcesBowl/Images/nav-tickets.gif);
}
.main-nav .military a{
	width: 74px;
	background-image: url(/clients/ArmedForcesBowl/Images/nav-military.gif);
}
.main-nav .events a{
	width: 62px;
	background-image: url(/clients/ArmedForcesBowl/Images/nav-events.gif);
}
.main-nav .visitor a{
	width: 95px;
	background-image:url(/clients/ArmedForcesBowl/Images/nav-visitor.gif);
}
.main-nav .featured a{
	width: 76px;
	background-image:url(/clients/ArmedForcesBowl/Images/nav-features.gif);
}
.main-nav .media a{
	width: 55px;
	background-image:url(/clients/ArmedForcesBowl/Images/nav-media.gif);
}
.main-nav .partners a{
	width: 76px;
	background-image:url(/clients/ArmedForcesBowl/Images/nav-partners.gif);
}
.main-nav .about a{
	width: 73px;
	background-image:url(/clients/ArmedForcesBowl/Images/nav-about.gif);
}
.main-nav .merchandise a{
	width: 99px;
	background-image:url(/clients/ArmedForcesBowl/Images/nav-merchandrise.gif);
}
.main-nav a:hover{background-position: 0 -25px;}
.email-form{
	width: 100%;
	margin: 0;
	padding: 2px 0 0;
	overflow: hidden;
}
.email-form label{
	float: left;
	width: 197px;
	height: 11px;
	background: url(/clients/ArmedForcesBowl/Images/txt-subscribe.gif) no-repeat;
	margin: 4px 0 0 11px;
	text-indent: -9999px;
}
.email-form input{float: left;}
.email-form input.text{
	width: 145px;
	border: 1px #AAAA9B solid;
	color:#AAAA9B;
	padding: 2px 6px 2px;
	margin: 0 4px 0 2px;
	background: #fffea1;
}
.email-form a{
	float: right;
	margin: 0 11px 0 0;
	height: 18px;
	width: 70px;
	text-indent: -9999px;
	overflow: hidden;
	background: url(/clients/ArmedForcesBowl/Images/contact-us.gif) no-repeat;
}
.email-form a:hover{background-position: 0 100%;}
#content{
	margin: 10px 0 15px;
	width: 100%;
	overflow: hidden;
}
.seo-block{
	width: 95%;
	float: left;
	padding: 16px 5px 0 25px;
}

.data-block h3 a{
	color: #852322;
}
.data-block{
	padding: 24px 10px 0 34px;
	line-height: 15px;
}

.rsswidget img{
	display: none;
}

.data-block p{margin: 10px 0 0;}
p.month{
	font-size: 14px;
	color: #002459;
	margin: 2px 0 20px;
	font-weight: bold;
}


.seo-block .more-link{
	width: 100%;
	overflow: hidden;
	font-weight: bold;
	background: url(/clients/ArmedForcesBowl/Images/arrow-right.gif) no-repeat left;
	padding: 0 0 0 20px;
	line-height: 15px;
	float: left;
}
.pager{
	width: 100%;
	overflow: hidden;
	font-weight: bold;
	margin: 0;
	padding: 10px 0 0;
	list-style: none;
}
.pager li{float: left;}
.pager li.more{float: right;}
.pager a{
	float: left;
	background: url(/clients/ArmedForcesBowl/Images/arrow-left.gif) no-repeat left;
	padding: 0 0 0 20px;
	line-height: 15px;
}
.pager li.more a{
	background: url(/clients/ArmedForcesBowl/Images/arrow-right.gif) no-repeat right;
	padding: 0 20px 0 0;
}
.sidebar{
	width: 228px;
	float: right;
	padding: 0 8px 0 4px;
	border-left: 1px solid #ccc;
	margin: 0 0 0 -1px;
}
.sidebar ul{
	margin: 0;
	padding: 5px 0 18px 18px;
	list-style: none;
	color: #666;
}
.sidebar ul li{
	background: url(/clients/ArmedForcesBowl/Images/bullet-1.gif) no-repeat 0 6px;
	padding: 0 0 0 8px;
	margin: 9px 0 0;
}
.sidebar ul a{color: #666;}
.home-holder{
	background: url(/clients/ArmedForcesBowl/Images/home-holder-bg.gif) repeat-y;
	width: 100%;
	overflow: hidden;
}
.home-holder a{
	color: #00245b;
	text-decoration: underline;
}
.home-holder a:hover{text-decoration: none;}
.col-1{
	width: 290px;
	float: left;
	padding: 0 0 0 5px;
	float: left;
}
.col-2{
	width: 214px;
	float: left;
	padding: 0 0 0 7px;
	line-height: 14px;
}
.col-2 a{
	font-size: 10px;
	font-weight: bold;
}
.col-3{
	width: 230px;
	float: right;
	padding: 0 7px 0 0;
}
.image{
	background: #d1d1c2;
	margin: 0 0 20px;
}
.image img{display: block;}
.image p{
	padding: 7px 22px 11px 8px;
	font-weight: bold;
	margin: 0;
	font-size: 10px;
	line-height: 16px;
}
.info-block{padding: 0 0 15px 6px;}
.info-block p{
	line-height: 17px;
	margin: 10px 0 0;
}
.info-block img{
	float: right;
	margin: 10px 0 0;
}
.info-block a{font-weight: bold;}
.extra ul{
	margin: 0;
	padding: 7px 0 0 7px;
	list-style: none;
	line-height: 18px;
	text-transform: uppercase;
}
.extra ul li{
	background: url(/clients/ArmedForcesBowl/Images/bullet-2.gif) no-repeat 0 7px;
	padding: 0 0 0 10px;
}

.about-block strong a:hover{
	text-decoration: underline;
}

.about-block strong a{
	font-size: 11px;
	color: #333;
	text-decoration: none;
}

.about-block{padding: 11px 0 11px 11px;}
.about-block p{margin: 14px 0 0;}
.section{padding: 3px 0 0 11px;}
.section .title{
	color: #862522;
	display: block;
	margin: 0 0 10px;
}

.section .title a{
	color: #862522;
	text-decoration: none;
	font-size: 11px;
	
}

.section ul{
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: 13px;
}
.more-link:hover{
	text-decoration: underline !important;
}
.more-link{
	text-decoration: none !important;
}
.post p a{
	text-decoration: underline;
}
.post p a:hover{
	text-decoration: none;
}
.alignright{
	float: right; 
}

.red {
	color: #862522;
	font-weight: bold;
}
.section ul li{padding: 5px 0 0;}
.section ul .rssSummary{margin: 1px 0 0;}
#footer{padding: 0 0 27px;}
.banners{
	border-top: 2px solid #e9e9e9;
	width: 747px;
	padding: 3px 0 6px;
	margin: 0 0 0 7px;
}
.banners ul{
	margin: 0;
	padding: 6px 7px 5px 7px;
	list-style: none;
	border: 1px solid #ccc;
	width: 731px;
	overflow: hidden;
}
.banners ul li{
	float: left;
	padding: 0 0 0 5px;
}
.banners ul li.right{
	float: right;
	padding: 0 5px 0 0;
}
.banners img{display: block;}
.copyright{
	background: #000034 url(/clients/ArmedForcesBowl/Images/copyright-bg.gif) repeat-x;
	padding: 9px 14px;
	font-size: 10px;
	color: #8089a3;
	font-weight: bold;
}
/* These are standard sIFR styles... do not modify */
.sIFR-flash{
	visibility: visible !important;
	margin: 0;
}
.sIFR-replaced{visibility: visible !important;}
span.sIFR-alternate{
	position: absolute;
	left: 0;
	top: 0;
	width: 0;
	height: 0;
	display: block;
	overflow: hidden;
}
.sIFR-flash + div[adblocktab=true]{display: none !important;}