.small {
	FONT-SIZE: 11px
}
.normal {
	FONT-SIZE: 13px
}
A {
	COLOR: #777; TEXT-DECORATION: none
}
A:hover {
	COLOR: black; TEXT-DECORATION: underline
}
.link2 A:link {
	COLOR: #f38167; TEXT-DECORATION: none
}
.link2 A:visited {
	COLOR: #f38167
}
.link2 A:hover {
	COLOR: #f38167; TEXT-DECORATION: underline
}
.list {
	LIST-STYLE-IMAGE: url(images/bullet_silver.gif)
}
