captcha.Panel1Link {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #ff0017; FONT-STYLE: normal; FONT-FAMILY: verdana; TEXT-DECORATION: none
}
captcha.Panel1Link A:link {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #ff0017; FONT-STYLE: normal; FONT-FAMILY: verdana; TEXT-DECORATION: none
}
captcha.Panel1Link A:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #ff0017; FONT-STYLE: normal; FONT-FAMILY: verdana; TEXT-DECORATION: none
}
captcha.Panel1Link A:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #ffffff; FONT-STYLE: normal; FONT-FAMILY: verdana; TEXT-DECORATION: none
}
captcha.Panel1Link A:active {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #ff0017; FONT-STYLE: normal; FONT-FAMILY: verdana; TEXT-DECORATION: none
}
captcha.Cellpadding {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
captcha.Cellpadding A:link {
	FONT-FAMILY: verdana; TEXT-DECORATION: none
}
captcha.Cellpadding A:visited {
	FONT-FAMILY: verdana; TEXT-DECORATION: none
}
captcha.Cellpadding A:hover {
	FONT-FAMILY: verdana; TEXT-DECORATION: none
}
captcha.Cellpadding A:active {
	FONT-FAMILY: verdana; TEXT-DECORATION: none
}
captcha.ImageFloatRight {
	FLOAT: right
}
captcha.ImageFloatRight A:link {
	FONT-FAMILY: verdana; TEXT-DECORATION: none
}
captcha.ImageFloatRight A:visited {
	FONT-FAMILY: verdana; TEXT-DECORATION: none
}
captcha.ImageFloatRight A:hover {
	FONT-FAMILY: verdana; TEXT-DECORATION: none
}
captcha.ImageFloatRight A:active {
	FONT-FAMILY: verdana; TEXT-DECORATION: none
}
captcha.SpecialLink {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #ffffff; FONT-STYLE: normal; FONT-FAMILY: verdana; TEXT-DECORATION: none
}
captcha.SpecialLink A:link {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #ffffff; FONT-STYLE: normal; FONT-FAMILY: verdana; TEXT-DECORATION: none
}
captcha.SpecialLink A:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #ffffff; FONT-STYLE: normal; FONT-FAMILY: verdana; TEXT-DECORATION: none
}
captcha.SpecialLink A:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #c83f06; FONT-STYLE: normal; FONT-FAMILY: verdana; TEXT-DECORATION: none
}
captcha.SpecialLink A:active {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #ffffff; FONT-STYLE: normal; FONT-FAMILY: verdana; TEXT-DECORATION: none
}
captcha.ImageFloatLeft {
	FLOAT: left
}
captcha.ImageFloatLeft A:link {
	FONT-FAMILY: verdana; TEXT-DECORATION: none
}
captcha.ImageFloatLeft A:visited {
	FONT-FAMILY: verdana; TEXT-DECORATION: none
}
captcha.ImageFloatLeft A:hover {
	FONT-FAMILY: verdana; TEXT-DECORATION: none
}
captcha.ImageFloatLeft A:active {
	FONT-FAMILY: verdana; TEXT-DECORATION: none
}
captcha.BottomMenu {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #ffffff; FONT-STYLE: normal; FONT-FAMILY: verdana; TEXT-DECORATION: none
}
captcha.BottomMenu A:link {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #ffffff; FONT-STYLE: normal; FONT-FAMILY: verdana; TEXT-DECORATION: none
}
captcha.BottomMenu A:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #ffffff; FONT-STYLE: normal; FONT-FAMILY: verdana; TEXT-DECORATION: none
}
captcha.BottomMenu A:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #f8ed96; FONT-STYLE: normal; FONT-FAMILY: verdana; TEXT-DECORATION: none
}
captcha.BottomMenu A:active {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #ffffff; FONT-STYLE: normal; FONT-FAMILY: verdana; TEXT-DECORATION: none
}
captcha.default {
	FONT-SIZE: 12px; COLOR: #737267; FONT-FAMILY: verdana
}
captcha.default A:link {
	FONT-SIZE: 12px; COLOR: #737267; FONT-FAMILY: verdana
}
captcha.default A:visited {
	FONT-SIZE: 12px; COLOR: #737267; FONT-FAMILY: verdana
}
captcha.default A:hover {
	FONT-SIZE: 12px; COLOR: #737267; FONT-FAMILY: verdana
}
captcha.default A:active {
	FONT-SIZE: 12px; COLOR: #737267; FONT-FAMILY: verdana
}
