SPAN.Panel1Link {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #ff0017; FONT-STYLE: normal; FONT-FAMILY: verdana; TEXT-DECORATION: none
}
SPAN.Panel1Link A:link {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #ff0017; FONT-STYLE: normal; FONT-FAMILY: verdana; TEXT-DECORATION: none
}
SPAN.Panel1Link A:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #ff0017; FONT-STYLE: normal; FONT-FAMILY: verdana; TEXT-DECORATION: none
}
SPAN.Panel1Link A:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #ffffff; FONT-STYLE: normal; FONT-FAMILY: verdana; TEXT-DECORATION: none
}
SPAN.Panel1Link A:active {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #ff0017; FONT-STYLE: normal; FONT-FAMILY: verdana; TEXT-DECORATION: none
}
SPAN.Cellpadding {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
SPAN.Cellpadding A:link {
	FONT-FAMILY: verdana; TEXT-DECORATION: none
}
SPAN.Cellpadding A:visited {
	FONT-FAMILY: verdana; TEXT-DECORATION: none
}
SPAN.Cellpadding A:hover {
	FONT-FAMILY: verdana; TEXT-DECORATION: none
}
SPAN.Cellpadding A:active {
	FONT-FAMILY: verdana; TEXT-DECORATION: none
}
SPAN.ImageFloatRight {
	FLOAT: right
}
SPAN.ImageFloatRight A:link {
	FONT-FAMILY: verdana; TEXT-DECORATION: none
}
SPAN.ImageFloatRight A:visited {
	FONT-FAMILY: verdana; TEXT-DECORATION: none
}
SPAN.ImageFloatRight A:hover {
	FONT-FAMILY: verdana; TEXT-DECORATION: none
}
SPAN.ImageFloatRight A:active {
	FONT-FAMILY: verdana; TEXT-DECORATION: none
}
SPAN.SpecialLink {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #ffffff; FONT-STYLE: normal; FONT-FAMILY: verdana; TEXT-DECORATION: none
}
SPAN.SpecialLink A:link {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #ffffff; FONT-STYLE: normal; FONT-FAMILY: verdana; TEXT-DECORATION: none
}
SPAN.SpecialLink A:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #ffffff; FONT-STYLE: normal; FONT-FAMILY: verdana; TEXT-DECORATION: none
}
SPAN.SpecialLink A:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #c83f06; FONT-STYLE: normal; FONT-FAMILY: verdana; TEXT-DECORATION: none
}
SPAN.SpecialLink A:active {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #ffffff; FONT-STYLE: normal; FONT-FAMILY: verdana; TEXT-DECORATION: none
}
SPAN.ImageFloatLeft {
	FLOAT: left
}
SPAN.ImageFloatLeft A:link {
	FONT-FAMILY: verdana; TEXT-DECORATION: none
}
SPAN.ImageFloatLeft A:visited {
	FONT-FAMILY: verdana; TEXT-DECORATION: none
}
SPAN.ImageFloatLeft A:hover {
	FONT-FAMILY: verdana; TEXT-DECORATION: none
}
SPAN.ImageFloatLeft A:active {
	FONT-FAMILY: verdana; TEXT-DECORATION: none
}
SPAN.BottomMenu {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #ffffff; FONT-STYLE: normal; FONT-FAMILY: verdana; TEXT-DECORATION: none
}
SPAN.BottomMenu A:link {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #ffffff; FONT-STYLE: normal; FONT-FAMILY: verdana; TEXT-DECORATION: none
}
SPAN.BottomMenu A:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #ffffff; FONT-STYLE: normal; FONT-FAMILY: verdana; TEXT-DECORATION: none
}
SPAN.BottomMenu A:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #f8ed96; FONT-STYLE: normal; FONT-FAMILY: verdana; TEXT-DECORATION: none
}
SPAN.BottomMenu A:active {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #ffffff; FONT-STYLE: normal; FONT-FAMILY: verdana; TEXT-DECORATION: none
}
SPAN.default {
	FONT-SIZE: 12px; COLOR: #737267; FONT-FAMILY: verdana
}
SPAN.default A:link {
	FONT-SIZE: 12px; COLOR: #737267; FONT-FAMILY: verdana
}
SPAN.default A:visited {
	FONT-SIZE: 12px; COLOR: #737267; FONT-FAMILY: verdana
}
SPAN.default A:hover {
	FONT-SIZE: 12px; COLOR: #737267; FONT-FAMILY: verdana
}
SPAN.default A:active {
	FONT-SIZE: 12px; COLOR: #737267; FONT-FAMILY: verdana
}
