@font-face {
  font-family: 'Archivo Narrow';
  font-style: normal;
  font-weight: 700;
  src: local('Archivo Narrow Bold'), local('ArchivoNarrow-Bold'), url(https://themes.googleusercontent.com/static/fonts/archivonarrow/v2/M__Wu4PAmHf4YZvQM8tWsCylde52zikAzebNtJS89aM.woff) format('woff');
}
