body{
margin:0;
padding:0;
font-family:Verdana, Arial, Helvetica, sans-serif;
background-color:#8FCEE8;/*#BEE0E8;*/
font-size:12px;
}

/* new clearfix */
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

.borderRed{border:1px solid #FF0000;}
.borderBlue{border:1px solid #0000FF;}
.borderGreen{border:1px solid #339900;}
.borderGray{border:1px solid #999999;}

a{
color:#5B2D1A;
text-decoration:none;
}

h1{
margin:0;
margin-top:15px;
color:#0099CC;
font-weight:normal;
font-size:28px;
}

h2{
margin:0;
margin-top:15px;
color:#000;
font-weight:bold;
font-size:16px;
width:500px;
}

h3{
margin:0;
color: #5B2D1A;
font-size:12px;
}

p{
font-size:14px;
color:#555;
line-height:180%;
}
.container{
width:1020px;
margin:0 auto;
background-color:#FFFFFF;
position:relative;
overflow:auto;
}

.logoBar{
background-color:#5B2D1A;
height:50px;
}

.logoBar img{
margin-top:13px;
margin-left:20px;
}

.navContainer{
height:70px;
position:relative;
font-size:12px;
}

.nav{
position:absolute;
bottom:15px;
right:40px;
}

.nav a{
color:#B19C6E;
text-transform:uppercase;
margin-right:10px;
letter-spacing:.05em;
}


#myFairWedding a.myFairWedding,
#profiles a.profiles,
#photos a.photos,
#stem a.stem,
#clients a.clients,
#dtWeddings a.dtWeddings,
#faviana a.faviana,
#contact a.contact,
#charities .charities,
#appearances .appearances,
#books .books,
#press .press,
#videos .videos,
#speaking_appearance .speaking_appearance{
font-weight:bold;
}

.homeCenterContainer{
height:530px;
position:relative;
}

.homeCenterLeft{
width:387px;
position:absolute;
}

.homeCenterRight{
width:633px;
height:530px;
position:absolute;
left:387px;
}

.homeLogoContainer{
background-color:#5B2D1A;
height:286px;
}

.homeLogoContainer img{
margin-left:85px;
}

.homeCenterRight #celebrateTextSlider{
position:absolute;
bottom:0;
right:0;
}

.centerContainer{
position:relative;
height:244px;
overflow:hidden;
}

.subNav{
width:257px;
height:244px;
background-image:url(../images/sub_nav_image.jpg);
}
.centerContainer .subNav, .centerContainer img{
float:left;
}

.subNav div{
margin-top:26px;
margin-left:20px;
}

.homeCenterRight .subNav{
position:absolute;
bottom:0;
}

.subNav a{
display:block;
color:#5B2D1A;
font-weight:normal;
text-transform:uppercase;
font-size:14px;
margin-bottom:10px;
width:auto;
}

.homeWidgetContainerFour{
height:197px;
}

.homeWidgetContainerFour .widget div{
background-color:#000000;
color:#FFFFFF;
font-size:14px;
text-transform:uppercase;
letter-spacing:.4em;
padding:12px 0 12px 20px;
font-family:Arial, Helvetica, sans-serif;
}

.homeWidgetContainerFour .widget{
width:244px;
height:177px;
float:left;
margin-top:9px;
margin-left:9px;
}

.homeWidgetContainerFive{
height:160px;
}

.homeWidgetContainerFive .widget div{
background-color:#000000;
color:#FFFFFF;
font-size:10px;
text-transform:uppercase;
letter-spacing:.1em;
padding:9px 0 9px 20px;
font-family:Arial, Helvetica, sans-serif;
}

.homeWidgetContainerFive .widget{
width:193px;
height:111px;
float:left;
margin-top:9px;
margin-left:9px;
}

.footer{
background-color:#B19C6E;
height:40px;
position:relative;
}

.copyright{
position:absolute;
text-transform:uppercase;
font-size:10px;
color:#FFFFFF;
position:absolute;
margin-top:13px;
margin-left:10px;
}

.icons{
position:absolute;
top:5px;
right:5px;
}

div.link a{
font-weight:bold;
color:#5B2D1A;
}

.content{
margin:40px 20px 40px;
overflow:hidden;
line-height:180%;
position:relative;
}



.profileContainer{
border-top:1px solid #bbb;
margin:0 0 60px;
}

.subCopy{
margin-top:30px;
width:475px;
}

.content .subCopy p{
font-size:12px;
}

.subCopy .list ul{
color:#555;
margin:0;
padding:14px;
text-transform:uppercase;
float:left;
}

.content a{
font-weight:bold;
}

.profileContainer .left img{
margin-top:40px;
}

.profileContainer .right{
margin-top:60px;
}

.content .left{
width:235px;
float:left;
font-size:11px;
line-height:170%;
}

.content .right{
width:600px;
float:left;
margin-left:60px;
position:relative;
}

.content .wideRight{
width:700px;
margin-left:0;
}

ul.galleryNav{
margin:0;
padding:0;
list-style:none;
font-size:15px;
}

ul.galleryNav ul{
margin:0;
margin-top:5px;
padding-left:10px;
list-style:none;
font-size:14px;
color:#777;
}

ul.galleryNav li{
margin-bottom:8px;
}

ul.galleryNav li li{
margin-bottom:4px;
}

.galleryNav a{
color:#5B2D1A;
font-weight:normal;
}

ul.albumNav{
margin:0;
padding:0;
list-style:none;
font-size:11px;
color:#777;
float:left;
width:230px;
}

.albumNav a, ul.galleryNav ul a{
color:#555;
font-weight:normal;
}

.albumNav a.active, ul.galleryNav ul a.active{font-weight:bold;}

.slideShow{
float:left;
}

.slideShow .image{
position:relative;
width:470px;
text-align:center;
}

.slideShow .controls img{
margin-right:10px;
margin-top:10px;
}

.pointer{
cursor:pointer;
}

.slideShow .credit{
font-size:9px;
float:right;
color:#777;
text-align:right;
}

.videoInPage{
margin-top:30px;
position:relative;
}

.videoOptions{
position:absolute;
left:365px;
}

.videoOptions a{
color:#999999;
font-weight:bold;
}

.videoInPage .link{
position:absolute;
top:210px;
}

label{
font-size:12px;
}

.textField, textarea{
font-size:11px;
width:100%;
margin-bottom:6px;
}

.submitButton{
font-size:11px;
background-image:url(../images/button_gray.jpg);
border:1px solid #999999;
padding:2px 6px;
font-weight:bold;
cursor:pointer;
float:right;
}

.columnedList{
list-style:none;
margin:0;
padding:0;
float:left;
margin-right:30px;
color:#777;
}

.section{
margin-bottom:30px;
}

.spotlightBox{
background-color:#EBE6DA;
padding:25px;
padding-right:10px
}

.spotlightBox p{
font-size:11px;
}

#promo a.promo,
#fashion a.fashion{
color:#5B2D1A;
}

a.bold, ul.galleryNav ul a.bold{
font-weight:bold;
}

#player{
background: url(../images/general_video_background.png) no-repeat ;
width:320px;
height:240px;
display:block;
}

.errorMessage{
margin-top:20px;
color:#990000; 
font-weight:bold;
font-size:13px;
}


#spinner{
float:left; 
padding-top:2px;
padding-left:6px;
}