@charset "UTF-8";
/* CSS Document */

body {
   text-align: center;
   background-color: #243a58;
   background-image: url(/clients/CarmelMusic/Images/background3.jpg);
   background-repeat: repeat-x;
   background-position: top;
   vertical-align: top;
   margin-top: 0px;
   margin-left: 0px;
   margin-right: 0px;
}
#wrapper {
   background-image: url(/clients/CarmelMusic/Images/body-bar3.jpg);
   background-repeat: repeat-x;
   background-position: center top;
   text-align: center;
   margin: 2px 0px 0px 0px;
   width: 100%;
}
.red-text {
	color: #0F0;
}
#container {
	width: 950px;
	margin-left: 0px;
	margin: auto;
	vertical-align: top;
}
#headerLogo {
   width: 950px;
   margin-top: 0px;
   vertical-align: top;
   padding: 0px 0px 0px 0px;
}
#activeContent {
   width: 950px;
   margin-top: 1px;
   text-align: center;
   border-top-width: 2px;
   border-right-width: 4px;
   border-bottom-width: 4px;
   border-left-width: 2px;
   border-top-style: solid;
   border-right-style: solid;
   border-bottom-style: solid;
   border-left-style: solid;
   border-top-color: #777777;
   border-right-color: #444444;
   border-bottom-color: #444444;
   border-left-color: #777777;
   background-color: #fffffc;
}
.verdana15Black {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 15px;
	line-height: 21px;
	font-weight: normal;
	color: 000011;
	text-align: left;
	margin-top: 6px;
	margin-bottom: 9px;
}
.Futura15Black {
	font-family: Futura, "Futura Bk BT", "Futura Std Book", "Futura Std Medium", "Century Gothic", "Gill Sans MT", "Trebuchet MS", "Lucida Grande", Arial, sans-serif;
	font-size: 17px;
	line-height: 21px;
	font-weight: normal;
	color: 000022;
	text-align: left;
	margin-top: 6px;
	margin-bottom: 9px;
}
.Futura15BlackRight {
	font-family: Futura, "Futura Bk BT", "Futura Std Book", "Futura Std Medium", "Century Gothic", "Gill Sans MT", "Trebuchet MS", "Lucida Grande", Arial, sans-serif;
	font-size: 16px;
	line-height: 21px;
	font-weight: normal;
	color: 000022;
	text-align: right;
	margin-top: 6px;
	margin-bottom: 9px;
}
#footer {
	width: 950px;
	background-repeat: no-repeat;
	background-position: center top;
}
.footerImage {
	margin-top: 12px;
	margin-bottom: 8px;
}
.BodyTextHighLine {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	line-height: 29px;
	font-weight: normal;
	color: #000000;
	margin-right: 0px;
	letter-spacing: 1px;
}
.ConcertList {
   font-family: "Futura Std Medium", "Gill Sans MT", "Trebuchet MS", Arial, sans-serif;
   font-size: 18px;
   font-style: normal;
   line-height: 24px;
   font-weight: normal;
   margin-left: 0px;
   color: #000022;
   margin-top: 12px;
   margin-bottom: 3px;
   letter-spacing: 0px;
}
.ConcertListCopy
{
   font-family: Futura, "Futura Bk BT", "Futura Std Book", "Futura Std Medium", "Century Gothic", "Gill Sans MT", "Trebuchet MS", "Lucida Grande", Arial, sans-serif;
   font-size: 16px;
   font-style: normal;
   line-height: 21px;
   font-weight: normal;
   margin-left: 0px;
   color: #33FF33;
   margin-top: 12px;
   margin-bottom: 3px;
   letter-spacing: 0px;
}

.seasonListPopup
{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 14px;
   font-style: normal;
   line-height: normal;
   font-weight: normal;
   margin-left: 0px;
   color: #000055;
   margin-top: 18px;
   margin-bottom: 1px;
   letter-spacing: 0px;
}
.seasonArtistPopup
{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 15px;
   font-style: normal;
   line-height: normal;
   font-weight: normal;
   margin-left: 5px;
   color: #000055;
   margin-top: 5px;
   margin-bottom: 3px;
   letter-spacing: 0px;
}
.ConcertListSmallerHighLine
{
   font-family: Futura, "Futura Bk BT", "Futura Std Book", "Futura Std Medium", "Century Gothic", "Gill Sans MT", "Trebuchet MS", "Lucida Grande", Arial, sans-serif;
   font-size: 16px;
   font-style: normal;
   line-height: normal;
   font-weight: normal;
   margin-left: 0px;
   color: #000055;
   margin-top: 2px;
   margin-bottom: 16px;
   letter-spacing: 0px;
}



.ConcertListSmaller
{
     font-family: Futura, "Futura Bk BT", "Futura Std Book", "Futura Std Medium", "Century Gothic", "Gill Sans MT", "Trebuchet MS", "Lucida Grande", Arial, sans-serif;
     font-size: 14px;
     font-style: normal;
     line-height: 21px;
     font-weight: normal;
     margin-left: 0px;
     color: #000055;
     margin-top: 4px;
     margin-bottom: 3px;
     letter-spacing: 0px;
}
.ConcertListSmallest
{
   font-family: "Gill Sans MT Pro Book", "Gill Sans", Arial, sans-serif;
   font-size: 13px;
   font-style: normal;
   line-height: normal;
   font-weight: normal;
   margin-left: 0px;
   color: #000033;
   margin-top: 7px;
   margin-bottom: 11px;
   letter-spacing: 0px;
   margin-right: 18px;
}
.ConcertListSmallestLoRise
{
   font-family: Futura, "Futura Bk BT", "Futura Std Book", "Futura Std Medium", "Century Gothic", "Gill Sans MT", "Trebuchet MS", "Lucida Grande", Arial, sans-serif;
   font-size: 13px;
   font-style: normal;
   line-height: normal;
   font-weight: normal;
   margin-left: 0px;
   color: #000022;
   margin-top: 4px;
   margin-bottom: 2px;
   letter-spacing: 0px;
}



#photoInlineRight {
	float: right;
	margin-top: 24px;
	margin-right: 12px;
	margin-bottom: 6px;
	margin-left: 18px;
	border-top: 1px solid #666666;
	border-right: 2px solid #222222;
	border-bottom: 2px solid #222222;
	border-left: 1px solid #666666;
}
#photoInlineLeft {
	float: left;
	margin-top: 12px;
	margin-right: 18px;
	margin-bottom: 12px;
	margin-left: 6px;
border-top: 1px solid #666666;
	border-right: 2px solid #222222;
	border-bottom: 2px solid #222222;
	border-left: 1px solid #666666;
}
.photofloatLeft {
	float: left;
	margin-top: 12px;
	margin-right: 18px;
	margin-bottom: 12px;
	margin-left: 6px;
border-top: 1px solid #666666;
	border-right: 2px solid #222222;
	border-bottom: 2px solid #222222;
	border-left: 1px solid #666666;
}
.photofloatLeftClear
{
   float: left;
   margin-top: 12px;
   margin-right: 18px;
   margin-bottom: 12px;
   margin-left: 0px;
   border-top: 1px solid #666666;
   border-right: 2px solid #222222;
   border-bottom: 2px solid #222222;
   border-left: 1px solid #666666;
   clear: both;
}

.photoFloatRight {
	float: right;
	margin-top: 24px;
	margin-right: 12px;
	margin-bottom: 6px;
	margin-left: 18px;
	border-top: 1px solid #666666;
	border-right: 2px solid #222222;
	border-bottom: 2px solid #222222;
	border-left: 1px solid #666666;
}
#photoCenter {
  text-align: center;
  align: center;
  margin-top: 12px;
  margin-right: 18px;
  margin-bottom: 2px;
  margin-left: 12px;
  border-top: 1px solid #666666;
  border-right: 2px solid #222222;
  border-bottom: 2px solid #222222;
  border-left: 1px solid #666666;
}
.ArtsCouncilCenter {
   text-align: center;
   align: center;
   margin-top: 80px;
   margin-right: 0px;
   margin-bottom: 12px;
   margin-left: 0px;
   border-top: 1px solid #666666;
   border-right: 2px solid #222222;
   border-bottom: 2px solid #222222;
   border-left: 1px solid #666666;
   width: 160px;
   margin: auto;
}
.ArtsCouncilImage {
   text-align: center;
   align: center;
   margin-top: 6px;
   margin-right: 12px;
   margin-bottom: 0px;
   margin-left: 0px;
   border-top: 1px solid #666666;
   border-right: 2px solid #222222;
   border-bottom: 2px solid #222222;
   border-left: 1px solid #666666;
   margin: auto;
}

.photoCenterSunset
{
   text-align: center;
   align: center;
   border-top: 1px solid #666666;
   border-right: 2px solid #222222;
   border-bottom: 2px solid #222222;
   border-left: 1px solid #666666;
   margin: 5px 0px 2px 0px;
}
#artscouncil-logo {
   text-align: center;
   align: center;
   width: 160px;
   height: 90px;
   border-top: 1px solid #666666;
   border-right: 2px solid #222222;
   border-bottom: 2px solid #222222;
   border-left: 1px solid #666666;
   margin: auto;
   margin-top: 95px;
   margin-left: 0px;
   margin-right: 0px;
   clear: both;
}
.footerText {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: #333333;
	letter-spacing: 1px;
	text-align: center;
}

.LinksSmall {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	letter-spacing: 1px;
	font-weight: normal;
}
.BodyTextSmaller {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	color: #000000;
	margin-right: 21px;
	letter-spacing: normal;
	margin-bottom: 2px;
	margin-top: 2px;
	margin-left: 16px;
}
.details-p2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	margin-right: 0px;
	letter-spacing: normal;
	margin-top: 6px;
	margin-bottom: 6px;
}
.details {
   font-family: "Gill Sans MT Pro Book", "Gill Sans", Arial, sans-serif;
   font-size: 14px;
   font-style: normal;
   font-weight: normal;
   color: #000;
   letter-spacing: normal;
   text-align: left;
   margin: 6px 24px 3px 0px;
}
.details_quote {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-style: italic;
  font-weight: normal;
  color: #333;
  margin-right: 0px;
  letter-spacing: normal;
  margin-top: 2px;
  margin-bottom: 2px;
  line-height: 17px;
}
.BodyTextNormalLine {
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 13px;
   font-style: normal;
   line-height: 125%;
   font-weight: normal;
   color: #000000;
   margin-right: 16px;
   text-align: left;
   margin: 0px 16px 9px 0px;
}
.BodyTextNormalLineBigRight {
     font-family: Verdana, Arial, Helvetica, sans-serif;
     font-size: 13px;
     font-style: normal;
     line-height: normal;
     font-weight: normal;
     color: #000000;
     text-align: left;
     margin: 0px 60px 9px 0px;
}
.BodyTextHighLine
{
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  line-height: 21px;
  font-weight: normal;
  color: #000000;
  margin-right: 16px;
  text-align: left;
  margin: 0px 16px 9px 0px;
  letter-spacing: normal;
}
.ParagraphBoxRight270w
{
   font-family: "Gill Sans MT", "Gill Sans", "Futura Bk BT", Futura, "Futura Std Book", "Futura Std Medium", "Century Gothic", Arial, sans-serif;
   font-size: 17px;
   color: #000033;
   font-weight: normal;
   line-height: 27px;
   border: 3px solid #000055;
   padding: 8px 8px;
   background-color: #F6F6F6;
   width: 270px;
   text-align: center;
   margin: 6px 6px 30px 14px;
   float: right;
}
.ArtistResourceLinks {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	margin-left: 16px;
	color: #000044;
	margin-top: 19px;
	margin-bottom: 1px;
	text-align: left;
}
.Footnote {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	margin-right: 0px;
	letter-spacing: 0px;
}
.ArtistPrograms {
     font-family: Verdana, Arial, Helvetica, sans-serif;
     font-size: 13px;
     font-style: normal;
     font-weight: normal;
     margin-left: 18px;
     color: #000033;
     margin-top: 9px;
     margin-bottom: 4px;
     text-align: left;
     line-height: normal;
     clear: both;
}
.ArtistPageHeaders {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 20px;
	color: #000033;
	margin-left: 3px;
	font-weight: normal;
	margin-top: 14px;
	line-height: normal;
}
.ArtistPageHeadersCentered
{
   font-family: "Gill Sans MT", "Gill Sans", "Futura Bk BT", Futura, "Futura Std Book", "Futura Std Medium", "Century Gothic", Arial, sans-serif;
   font-size: 25px;
   color: #000033;
   font-weight: normal;
   line-height: normal;
   text-align: center;
   margin: 16px 0px 6px 0px;
}

.ConcertListGray {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	margin-left: 0px;
	color: #666666;
	margin-top: 16px;
	margin-bottom: 1px;
	letter-spacing: 1px;
}
.BodyTextSmallerGray {
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 12px;
   font-style: normal;
   line-height: normal;
   font-weight: normal;
   color: #666666;
   margin-right: 0px;
   letter-spacing: normal;
   margin: 12px 0px 5px 0px;
}
.tenPointGray {
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	color: #666666;
	letter-spacing: normal;
	line-height: normal;
}
.tenPointGrayCentered {
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	color: #666666;
	letter-spacing: normal;
	margin: 0 12px 0 12px;
	text-align: center;
}
.Date-Time-Place {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    margin-left: 18px;
    color: #000033;
    margin-top: 15px;
    margin-bottom: 12px;
    text-align: left;
    line-height: 24px;
}
.Date-Time-Place14 {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	margin-left: 18px;
	color: #000033;
	margin-top: 12px;
	margin-bottom: 12px;
	text-align: left;
	line-height: 20px;
}
.Date-Time-PlaceFlushLeft {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	margin-left: 1px;
	color: #000033;
	margin-top: 24px;
	margin-bottom: 1px;
	text-align: left;
	line-height: 29px;
}
.caption-small-centered {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	text-align: center;
	margin: 6px 6px;
}
.listOfBoardAndStaff {
   font-family: "Gill Sans MT", "Gill Sans", "Futura Bk BT", Futura, "Futura Std Book", "Futura Std Medium", "Century Gothic", Arial, sans-serif;
   font-size: 14px;
   font-style: normal;
   line-height: 24px;
   font-weight: normal;
   color: #000000;
   margin-right: 25px;
   letter-spacing: normal;
   margin-top: 1px;
   margin-bottom: 9px;
}
#wrapper #container #headerLogo a {
   margin: 0px;
   padding: 0px;
   border-width: 0px;
   text-decoration: none;
	border-bottom: 0px solid #000000;
   }
#wrapper #container #headerLogo img a:hover
{
   margin: 0px;
   padding: 0px;
   border-width: 0px;
   text-decoration: none;
   border-bottom: 0px solid #000000;
}

.caption-small-left {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 10px;
   color: #333333;
   text-align: left;
   margin: 0px 6px;
   line-height: normal;
}
.LinksPageLinks {
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 13px;
   font-style: normal;
   font-weight: normal;
   margin-left: 12px;
   color: #000022;
   margin-top: 9px;
   margin-bottom: 1px;
   text-align: left;
}
.LinksPageLinksLoRise
{
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 13px;
   font-style: normal;
   font-weight: normal;
   margin-left: 18px;
   color: #000022;
   margin-top: 5px;
   margin-bottom: 1px;
   text-align: left;
}

.verdana17Blue {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 17px;
	line-height: 26px;
	font-weight: normal;
	color: #000055;
	text-align: center;
	margin-top: 6px;
	margin-bottom: 9px;
}
.verdana14Black {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 20px;
	font-weight: normal;
	color: #000011;
	text-align: left;
	margin-top: 6px;
	margin-bottom: 9px;
}
.arial14Black
{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 14px;
   line-height: 20px;
   font-weight: normal;
   color: #000011;
   text-align: left;
   margin-top: 6px;
   margin-bottom: 9px;
}

.verdana14blueLeft {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: normal;
	color: #000055;
	text-align: left;
	margin-top: 6px;
	margin-bottom: 9px;
}
.verdana14blueRight {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: normal;
	color: #000055;
	text-align: right;
	margin-top: 6px;
	margin-bottom: 9px;
}
.verdana17greenLeft
{
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 17px;
   line-height: normal;
   font-weight: normal;
   color: #000033;
   text-align: left;
   letter-spacing: normal;
   margin: 6px 14px 9px 0px;
}
.verdana16greenLeft
{
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 16px;
   line-height: normal;
   font-weight: normal;
   color: #000033;
   text-align: left;
   letter-spacing: normal;
   margin: 6px 14px 9px 0px;
}

h1 {
   font-family: "Gill Sans MT", "Gill Sans", "Futura Bk BT", Futura, "Futura Std Book", "Futura Std Medium", "Century Gothic", Arial, sans-serif;
   font-size: 30px;
   color: #000044;
   margin-left: 0px;
   font-weight: normal;
   letter-spacing: 1px;
   margin-top: 18px;
   margin-bottom: 6px;
   text-align: left;
}
h2 {
   font-family: "Gill Sans MT", "Gill Sans", "Futura Bk BT", Futura, "Futura Std Book", "Futura Std Medium", "Century Gothic", Arial, sans-serif;
   font-size: 20px;
   color: #0c4f7f;
   margin-left: 0px;
   font-weight: normal;
   margin-top: 18px;
   margin-bottom: 0px;
   clear: both;
}
.h2Paragraph2-3 {
   font-family: "Gill Sans MT", "Gill Sans", "Futura Bk BT", Futura, "Futura Std Book", "Futura Std Medium", "Century Gothic", Arial, sans-serif;
   font-size: 20px;
   color: #000044;
   margin-left: 0px;
   font-weight: normal;
   line-height: 30px;
   margin-top: 18px;
   margin-bottom: 22px;
   margin-right: 0px;
   text-align: left;
}
.h2Paragraph2_3HomePage
{
   font-family: "Gill Sans MT", "Gill Sans", "Futura Bk BT", Futura, "Futura Std Book", "Futura Std Medium", "Century Gothic", Arial, sans-serif;
   font-size: 20px;
   color: #000044;
   margin-left: 0px;
   font-weight: normal;
   line-height: 30px;
   margin-top: 18px;
   margin-bottom: 22px;
   margin-right: 14px;
   text-align: left;
}

.h2Paragraph3-4
{
  font-family: "Gill Sans MT", "Gill Sans", "Futura Bk BT", Futura, "Futura Std Book", "Futura Std Medium", "Century Gothic", Arial, sans-serif;
  font-size: 20px;
  color: #000055;
  margin-left: 0px;
  font-weight: normal;
  line-height: 34px;
  margin-top: 21px;
  margin-bottom: 22px;
  margin-right: 0px;
  text-align: left;
}
.h2Paragraph2-3NoHeight
{
  font-family: "Gill Sans MT", "Gill Sans", "Futura Bk BT", Futura, "Futura Std Book", "Futura Std Medium", "Century Gothic", Arial, sans-serif;
  font-size: 20px;
  color: #000055;
  margin-left: 0px;
  font-weight: normal;
  line-height: 34px;
  margin-top: 5px;
  margin-bottom: 12px;
  margin-right: 0px;
  text-align: left;
}

.h2Paragraph2-3MarginTop28
{
  font-family: "Gill Sans MT", "Gill Sans", "Futura Bk BT", Futura, "Futura Std Book", "Futura Std Medium", "Century Gothic", Arial, sans-serif;
  font-size: 18px;
  color: #000055;
  margin-left: 0px;
  font-weight: normal;
  line-height: 25px;
  margin-top: 12px;
  margin-bottom: 0px;
  margin-right: 0px;
}

.h2Paragraph2-3Box
{
   font-family: "Gill Sans MT", "Gill Sans", "Futura Bk BT", Futura, "Futura Std Book", "Futura Std Medium", "Century Gothic", Arial, sans-serif;
   font-size: 15px;
   color: #000055;
   margin-left: 0px;
   font-weight: normal;
   line-height: 22px;
   margin-top: 12px;
   margin-bottom: 12px;
   margin-right: 0px;
   border: 1px solid #333333;
   padding: 12px 12px;
   background-color: #EDEDED;
   width: 310px;
}

.h2Paragraph2-3BoxFloatRight
{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 16px;
   color: #000055;
   margin-left: 0px;
   font-weight: normal;
   line-height: 22px;
   margin-top: 25px;
   margin-bottom: 12px;
   margin-right: 0px;
   border: 1px solid #333333;
   padding: 6px 6px;
   background-color: #EDEDED;
   width: 320px;
   float: right;
}


.h2Paragraph2-3Box_400Left
{
   font-family: "Gill Sans MT", "Gill Sans", "Futura Bk BT", Futura, "Futura Std Book", "Futura Std Medium", "Century Gothic", Arial, sans-serif;
   font-size: 15px;
   color: #000022;
   margin-left: 0px;
   font-weight: normal;
   line-height: 22px;
   margin-top: 12px;
   margin-bottom: 12px;
   margin-right: 0px;
   border: 1px solid #333333;
   padding: 6px 6px;
   background-color: #EDEDED;
   width: 380px;
   float: left;
   text-align: center;
}
.h2Paragraph2-3Box_450w
{
     font-family: "Gill Sans MT", "Gill Sans", "Futura Bk BT", Futura, "Futura Std Book", "Futura Std Medium", "Century Gothic", Arial, sans-serif;
     font-size: 16px;
     color: #000055;
     margin-left: 0px;
     font-weight: normal;
     line-height: 27px;
     margin-top: 12px;
     margin-bottom: 12px;
     margin-right: 0px;
     border: 1px solid #333333;
     padding: 6px 6px;
     background-color: #EDEDED;
     width: 450px;
}
.h2Paragraph2-3Box_450wLoRise
{
   font-family: "Gill Sans MT", "Gill Sans", "Futura Bk BT", Futura, "Futura Std Book", "Futura Std Medium", "Century Gothic", Arial, sans-serif;
   font-size: 16px;
   color: #000055;
   margin-left: 0px;
   font-weight: normal;
   line-height: normal;
   margin-top: 4px;
   margin-bottom: 4px;
   margin-right: 0px;
   border: 1px solid #333333;
   padding: 6px 6px;
   background-color: #EDEDED;
   width: 450px;
}

.h2Paragraph2-3Box_600w
{
   font-family: "Gill Sans MT", "Gill Sans", "Futura Bk BT", Futura, "Futura Std Book", "Futura Std Medium", "Century Gothic", Arial, sans-serif;
   font-size: 16px;
   color: #000055;
   margin-left: 0px;
   font-weight: normal;
   line-height: 27px;
   margin-top: 12px;
   margin-bottom: 12px;
   margin-right: 0px;
   border: 1px solid #333333;
   padding: 6px 6px;
   background-color: #EDEDED;
   width: 600px;
}
.ticketPageNoteBox500w
{
   font-family: "Gill Sans MT", "Gill Sans", "Futura Bk BT", Futura, "Futura Std Book", "Futura Std Medium", "Century Gothic", Arial, sans-serif;
   font-size: 16px;
   color: #000055;
   margin-left: 0px;
   font-weight: normal;
   line-height: 27px;
   margin-top: 12px;
   margin-bottom: 12px;
   margin-right: 0px;
   margin-right: 0px;
   margin: auto;
   border: 1px solid #333333;
   padding: 6px 6px;
   background-color: #EDEDED;
   width: 500px;
   text-align: center;
}
.h2Paragraph2-3Box_700wLoRise
{
   font-family: "Gill Sans MT", "Gill Sans", "Futura Bk BT", Futura, "Futura Std Book", "Futura Std Medium", "Century Gothic", Arial, sans-serif;
   font-size: 16px;
   color: #000055;
   margin-left: 0px;
   font-weight: normal;
   line-height: normal;
   margin-top: 4px;
   margin-bottom: 4px;
   margin-right: 0px;
   border: 1px solid #333333;
   padding: 6px 6px;
   background-color: #EDEDED;
   width: 775px;
}



.h2Paragraph2-3Box250w
{
     font-family: "Gill Sans MT", "Gill Sans", "Futura Bk BT", Futura, "Futura Std Book", "Futura Std Medium", "Century Gothic", Arial, sans-serif;
     font-size: 16px;
     color: #000055;
     font-weight: normal;
     line-height: 27px;
     border: 1px solid #333333;
     padding: 6px 6px;
     background-color: #EDEDED;
     width: 250px;
     margin: auto;
}
.Save_the_Dates_box
{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 20px;
   color: #000055;
   font-weight: normal;
   line-height: 31px;
   border: 2px solid #990000;
   padding: 6px 6px;
   background-color: #EDEDED;
   width: 300px;
   margin: auto;
   text-align: center;
   margin-top: 18px;
   margin-bottom: 32px;
}


.h2Paragraph2-3Box250wLeft
{
     font-family: "Gill Sans MT", "Gill Sans", "Futura Bk BT", Futura, "Futura Std Book", "Futura Std Medium", "Century Gothic", Arial, sans-serif;
     font-size: 16px;
     color: #000055;
     font-weight: normal;
     line-height: 27px;
     border: 1px solid #333333;
     padding: 6px 6px;
     background-color: #EDEDED;
     width: 250px;
}

.h2Paragraph2-3Box250wLeft18L
{
     font-family: "Gill Sans MT", "Gill Sans", "Futura Bk BT", Futura, "Futura Std Book", "Futura Std Medium", "Century Gothic", Arial, sans-serif;
     font-size: 14px;
     color: #000055;
     font-weight: normal;
     line-height: 27px;
     border: 1px solid #333333;
     padding: 6px 6px;
     background-color: #EDEDED;
     width: 250px;
     margin: 0 0 0 18px;
}

.h2Paragraph2-3Box300wLeft
{
  font-family: Verdana, Geneva, sans-serif;
  font-size: 14px;
  color: #000055;
  font-weight: normal;
  line-height: 20px;
  border: 1px solid #333333;
  padding: 6px 6px;
  background-color: #EDEDED;
  width: 300px;
}

.ParagraphBoxCentered
{
   font-family: "Gill Sans MT", "Gill Sans", "Futura Bk BT", Futura, "Futura Std Book", "Futura Std Medium", "Century Gothic", Arial, sans-serif;
   font-size: 18px;
   color: #000055;
   font-weight: normal;
   line-height: 27px;
   border: 1px solid #000055;
   padding: 4px 4px 9px 4px;
   background-color: #Fffffe;
   width: 350px;
   text-align: center;
   margin: auto;
   margin-bottom: 14px;
}
.ParagraphBoxCentered180w
{
   font-family: "Gill Sans MT", "Gill Sans", "Futura Bk BT", Futura, "Futura Std Book", "Futura Std Medium", "Century Gothic", Arial, sans-serif;
   font-size: 18px;
   color: #000055;
   font-weight: normal;
   line-height: 27px;
   border: 1px solid #000055;
   padding: 4px 4px 9px 4px;
   background-color: #Fffffe;
   width: 300px;
   text-align: center;
   margin: auto;
   margin-bottom: 25px;
}

.ParagraphBoxCentered600w
{
   font-family: "Gill Sans MT", "Gill Sans", "Futura Bk BT", Futura, "Futura Std Book", "Futura Std Medium", "Century Gothic", Arial, sans-serif;
   font-size: 18px;
   color: #000055;
   font-weight: normal;
   line-height: 27px;
   border: 1px solid #000066;
   padding: 4px;
   background-color: #CCCCCC;
   text-align: center;
   margin: auto;
   letter-spacing: 1px;
   width: 590px;
}

.ParagraphBoxCenteredNoBox
{
  font-family: "Gill Sans MT", "Gill Sans", "Futura Bk BT", Futura, "Futura Std Book", "Futura Std Medium", "Century Gothic", Arial, sans-serif;
  font-size: 16px;
  color: #000055;
  font-weight: normal;
  line-height: normal;
  padding: 4px;
  text-align: center;
  margin: 9px 0 4px 0;
}
.ParagraphBoxCentered200w
{
  font-family: "Gill Sans MT", "Gill Sans", "Futura Bk BT", Futura, "Futura Std Book", "Futura Std Medium", "Century Gothic", Arial, sans-serif;
  font-size: 16px;
  color: #000055;
  font-weight: normal;
  line-height: 27px;
  border: 1px solid #333333;
  padding: 6px 6px;
  background-color: #F6F6F6;
  width: 200px;
  text-align: center;
  margin: 24px 6px 30px 14px;
}
h3 {
   font-family: "Gill Sans MT", "Gill Sans", "Futura Bk BT", Futura, "Futura Std Book", "Futura Std Medium", "Century Gothic", Arial, sans-serif;
   font-size: 15px;
   color: #0c4f7f;
   margin-left: 0px;
   font-weight: bold;
   line-height: normal;
   margin-top: 16px;
   margin-bottom: 6px;
}
h4 {
   font-family: "Gill Sans MT", "Gill Sans", "Futura Bk BT", Futura, "Futura Std Book", "Futura Std Medium", "Century Gothic", Arial, sans-serif;
   font-size: 18px;
   color: #0c4f7f;
   margin-left: 0px;
   font-weight: normal;
   line-height: 22px;
   margin-top: 12px;
   margin-bottom: 6px;
   letter-spacing: normal;
}
h5 {
   font-family: "Gill Sans MT", "Gill Sans", "Futura Bk BT", Futura, "Futura Std Book", "Futura Std Medium", "Century Gothic", Arial, sans-serif;
   font-size: 15px;
   color: #0c4f7f;
   margin-left: 0px;
   font-weight: normal;
   line-height: 22px;
   margin-top: 16px;
   margin-bottom: 6px;
}
h6 {
	font-family: "Gill Sans MT", "Gill Sans", "Futura Bk BT", Futura, "Futura Std Book", "Futura Std Medium", "Century Gothic", Arial, sans-serif;
	font-size: 24px;
	color: #0c4f7f;
	text-align: center;
	font-weight: bold;
	letter-spacing: 1px;
	margin-top: 2px;
	margin-bottom: 1px;
}
#audio-player {
	text-align: left;
	border: 1px solid #333333;
	padding: 3px 12px 24px 12px;
	width: 254px;
}
#photoFlushLeft {
	float: left;
	margin-top: 24px;
	margin-right: 24px;
	margin-bottom: 24px;
	margin-left: 0px;
	border-top: 1px solid #666666;
	border-right: 2px solid #222222;
	border-bottom: 2px solid #222222;
	border-left: 1px solid #666666;
	text-align: center;
}
#photoFlushRight {
	float: right;
	margin-top: 24px;
	margin-right: 0px;
	margin-bottom: 24px;
	margin-left: 24px;
	border-top: 1px solid #666666;
	border-right: 2px solid #222222;
	border-bottom: 2px solid #222222;
	border-left: 1px solid #666666;
}
.smalltype {
   color: #000000;



font-family: "Times New Roman", Times, serif
font-weight: normal; 
   font-size: 12px;
   line-height: 17px;
   margin-right: 0px;
   font-family: Arial, Helvetica, sans-serif;
   text-align: left;
}
.smalltypeWideMargins {
   color: #000000;

font-family: "Times New Roman", Times, serif
font-weight: normal; 
   font-size: 12px;
   line-height: 16px;
   margin: 0px 80px 8px 60px;
   text-align: left;
   font-family: Arial, Helvetica, sans-serif;
}
.smalltypeWideMarginsHeader
{
   color: #000000;





font-family: "Times New Roman", Times, serif
font-weight: normal; 
   font-size: 30px;
   line-height: 16px;
   margin: 12px 0px 18px 60px;
   text-align: left;
   font-family: Arial, Helvetica, sans-serif;
}

.smalltypeHEAD 
{
	color: #000033;
	word-spacing: 2px;
	letter-spacing: 3px;
	text-decoration: none;
	line-height: normal;
	font-family: Futura, "Futura Bk BT", "Futura Std Book", "Futura Std Medium", "Century Gothic", "Gill Sans MT", "Trebuchet MS", "Lucida Grande", Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
}
.ProgramNoteText {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	color: #000000;
	margin-right: 12px;
	text-align: left;
}

.BodyTextMediumLine {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	line-height: 20px;
	font-weight: normal;
	color: #000000;
	margin-right: 16px;
	text-align: left;
	margin-left: 20px;
	margin-bottom: 8px;
}
.BodyTextMediumLine2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	line-height: 20px;
	font-weight: normal;
	color: #000000;
	margin-right: 16px;
	text-align: left;
	margin-left: 20px;
	margin-top: 2px;
	margin-bottom: 8px;
}
#photoFlushLeftNoMargins {
	float: left;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 12px;
	margin-left: 0px;
border-top: 1px solid #666666;
	border-right: 2px solid #222222;
	border-bottom: 2px solid #222222;
	border-left: 1px solid #666666;
}
.BodyTextNormalLine200r {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	line-height: 19px;
	font-weight: normal;
	color: #000000;
	margin-right: 16px;
	text-align: left;
}
#wrapper #container #activeContent table tr td .SlideshowRight object a:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000055;
	text-decoration: underline;
}
#wrapper #container #activeContent table tr td .SlideshowRight img a:link
{
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 12px;
   color: #000055;
   text-decoration: underline;
}
#wrapper #container #activeContent #theone tr td .more a
{
   text-decoration: none;
   border: 0px solid #FFFFCC;
}



#menubar
{
     z-index: 2;
}

#iframe
{
     margin: 0px;
}
blockquote
{
  margin: 3px 0px 0px 25px;
}
#JetPhotoView
{
  margin-bottom: 24px;
  border: 0px solid #ffffff;
}
.more {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	margin-top: 12px;
	text-align: left;
}

.more {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	margin-top: 12px;
	text-align: left;
}
.years {
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 13px;
   font-weight: normal;
   color: #000077;
}
.yearsWhite {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #ffffff;
	line-height: normal;
	margin-bottom: 0px;
}
.caption-winners {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #444444;
	text-align: left;
	line-height: normal;
	margin-top: 0px;
	margin-right: 33px;
	padding-top: 0px;
}
.winners {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 14px;
   font-style: normal;
   line-height: 18px;
   font-weight: normal;
   color: #000000;
   margin-right: 0px;
   letter-spacing: normal;
   margin-top: 16px;
}
.style1 {font-size: 10px}
.style2 {font-size: 10px}
.style3 {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; color: #444444; text-align: left; line-height: normal; margin-top: 0px; margin-right: 33px; padding-top: 0px; font-style: italic; }

#wrapper #container #activeContent table tr td #SunsetPhoto p
{
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 11px;
   font-style: italic;
   color: #333333;
   text-align: center;
   margin: 9px;
}

#wrapper #container #activeContent table tr td #SunsetPhoto p img
{
   margin: 0px 0px 16px;
   border-top: 1px solid #666666;
   border-right: 1px solid #333333;
   border-bottom: 1px solid #333333;
   border-left: 1px solid #666666;
}

.superscript1
{
   margin-bottom: 12px;
   top: auto;
   clip: rect(auto,auto,auto,auto);
}

#wrapper #container #activeContent table tr td hr
{
   clear: both;
   margin: 12px 22px 12px 33px;
   text-align: left;
}
.more {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	margin-top: 12px;
	text-align: left;
}
.pricelines {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	color: #000033;
	letter-spacing: normal;
}
#prices-box {
   padding: 0px 9px 8px 12px;
   border-top: 1px solid #000033;
   border-right: 2px solid #000022;
   border-bottom: 2px solid #000022;
   border-left: 1px solid #000033;
}
.style1 {
	color: #666666;
	font-size: 12px;
	font-style: italic;
}
.h2_normal_height {
	font-family: "Gill Sans MT", "Gill Sans", "Futura Bk BT", Futura, "Futura Std Book", "Futura Std Medium", "Century Gothic", Arial, sans-serif;
	font-size: 18px;
	color: #0c4f7f;
	margin-left: 0px;
	font-weight: bold;
	margin-top: 4px;
	margin-bottom: 0px;
}
.artscouncil
{
   text-align: center;
   margin: 22px 0px 12px;
}

.no_nothin
{
   text-decoration: none;
   border: 0px solid #fffffc;
}

.support
{
   font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
   font-size: 14px;
   color: #000033;
   text-align: center;
   margin: 34px 0px 14px 0px;
}
.sunset
{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 15px;
   color: #000055;
   text-align: center;
   margin: 80px 0px 30px 0px;
}


.NoDecoration
{
   text-decoration: none;
   border-width: 0px;
}

#wrapper #container #activeContent #nodec tr td table tr td a #BuyOnline
{
   text-decoration: none;
}

#wrapper #container #activeContent #nodec tr td table tr td a img
{
   text-decoration: none;
}

hr
{
   color: #000033;
   text-align: left;
}
a:link {
   color: #000022;
   text-decoration: none;
   border-bottom: 1px solid #000066;
}
a:visited {
   color: #000022;
   text-decoration: none;
   border-bottom: 1px solid #000066;
}
a:hover {
   color: #999999;
   border-bottom: 1px solid #FF9900;
}
.purchase_online_framed
{
   font-family: "Gill Sans MT", "Gill Sans", "Futura Bk BT", Futura, "Futura Std Book", "Futura Std Medium", "Century Gothic", Arial, sans-serif;
   font-size: 19px;
   color: #000055;
   margin-left: 0px;
   font-weight: normal;
   line-height: 22px;
   margin-top: 16px;
   margin-bottom: 12px;
   margin-right: 0px;
   border: 1px solid #333333;
   padding: 6px 12px 6px 12px;
   background-color: #C7FFF4;
   float: right;
   width: 396px;
   text-align: center;
}
.purchase_online_framed_nowidth
{
   font-family: "Gill Sans MT", "Gill Sans", "Futura Bk BT", Futura, "Futura Std Book", "Futura Std Medium", "Century Gothic", Arial, sans-serif;
   font-size: 19px;
   color: #000055;
   margin-left: 0px;
   font-weight: normal;
   line-height: 22px;
   margin-top: 16px;
   margin-bottom: 12px;
   margin-right: 0px;
   border: 1px solid #333333;
   padding: 6px 12px 6px 12px;
   background-color: #C7FFF4;
   float: left;
   text-align: center;
}

.purchase_online_framed_nowidthCenter
{
   font-family: "Gill Sans MT", "Gill Sans", "Futura Bk BT", Futura, "Futura Std Book", "Futura Std Medium", "Century Gothic", Arial, sans-serif;
   font-size: 19px;
   color: #000055;
   margin-left: 0px;
   font-weight: normal;
   line-height: 22px;
   margin-top: 16px;
   margin-bottom: 12px;
   margin-right: 0px;
   border: 1px solid #333333;
   padding: 6px 12px 6px 12px;
   background-color: #C7FFF4;
   float: none;
   text-align: center;
}
