@charset "utf-8";
.shell {
	width: 900px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	}
body{
	background-color: #f0f0f0;
}
.header {
	width: 900px;
	height: 250px;
	position: relative;
	background-image: url(/clients/BooneCountyGOP/Images/headerbg.jpg);
}
.contentshell {
	float: left;
	width: 900px;
	overflow: auto;
	background-image: url(/clients/BooneCountyGOP/Images/bodybg.jpg);
}
.content2 {
	width: 793px;
	padding-top: 15px;
	padding-right: 10px;
	padding-left: 10px;
	text-align: left;
	
}
.footer {
	width: 900px;
	height: 40px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	background-image: url(/clients/BooneCountyGOP/Images/footerbg.jpg);
}.contentleft {
	width: 570px;
	padding-bottom: 15px;
	float: left;	
}
.contentright {
	float: right;
	width: 195px;
	padding-bottom: 15px;
	
}
.linkbutton {
	height: 23px;
	width: 180px;
	color: #FFFFFF;
	font: bold 18px Geneva, Arial, Helvetica, sans-serif;
	text-align: right;
	background: #143D8D right;
	margin-top: 4px;
	margin-bottom: 4px;
}
.linkbuttontext {
	color: #FFFFFF;
	text-align: right;
	height: 23px;
	vertical-align: middle;
	background-position: center;
	font: bold 17px Arial, Helvetica, sans-serif;
	margin-top: 4px;
	margin-bottom: 4px;
	padding-top: 2px;
}
.linkbuttontext A:link {
	color: #FFFFFF;
	text-align: right;
	height: 25px;
	vertical-align: middle;
	margin-right: 15px;
	background-position: center;
	text-align: right;
	text-decoration: none;
	
}
.linkbuttontext A:visited {
	color: #FFFFFF;
	text-align: right;
	height: 25px;
	vertical-align: middle;
	margin-right: 15px;
	background-position: center;
	text-align: right;
	text-decoration: none;
	
}
.linkbuttontext A:active {
	color: #FFFFFF;
	text-align: right;
	height: 25px;
	vertical-align: middle;
	margin-right: 15px;
	background-position: center;
	text-align: right;
	text-decoration: none;
	
}
.linkbuttontext A:hover {
	color: #E31C23;
	text-align: right;
	height: 25px;
	vertical-align: middle;
	margin-right: 15px;
	background-position: center;
	text-align: right;
	text-decoration: none;
	font-size: 17px;
	font-weight: bold;
}
.indeximage {
	float: left;
	padding-bottom: 15px;
	padding-right: 15px;
	padding-left: 15px;
	height: 180px;
	width: 225px;
}
.contenttext {
	padding-top: 15px;
	padding-bottom: 5px;
	float: left;
	padding-left: 15px;
	width: 565px;
}
.sitetitle {
	font: bold 26px Georgia, "Times New Roman", Times, serif;
	color: #143d8d;
	padding-left: 15px;
	padding-top: 10px;
}
.pagetitle {
	color: #8E0F08;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 28px;
	font-weight: bold;
	padding-bottom: 10px;
	text-align: center;

}

.addy {
	position: absolute;
	width: 800px;
	color: #FFFFFF;
	text-align: center;
	font-size: 13px;
	left: 50px;
	top: 15px;
	
}
.addy A:link {
	color: #FFFFFF;
	text-decoration: none;
	
}
.addy A:visited {
	color: #FFFFFF;
	text-decoration: none;
	
}
.addy A:hover {
	color: #FFFFFF;
	text-decoration: underline;	
}
.addy A:active {
	color: #FFFFFF;
	text-decoration: none;

	
}
.contactus {
	color: #FFFFFF;
	position: absolute;
	text-align: right;
	font-size: 13px;
	left: 775px;
	top: 15px;
}
.contactus A:link {
	color: #FFFFFF;
	text-align: right;
	height: 25px;
	vertical-align: middle;
	margin-right: 15px;
	background-position: center;
	text-align: right;
	text-decoration: none;
	
}
.contactus A:visited {
	color: #FFFFFF;
	text-align: right;
	height: 25px;
	vertical-align: middle;
	margin-right: 15px;
	background-position: center;
	text-align: right;
	text-decoration: none;
	
}
.contactus A:hover {
	color: #E42024;
	text-align: right;
	height: 25px;
	vertical-align: middle;
	margin-right: 15px;
	background-position: center;
	text-align: right;
	text-decoration: none;
	
}
.contactus A:active {
	color: #FFFFFF;
	text-align: right;
	height: 25px;
	vertical-align: middle;
	margin-right: 15px;
	background-position: center;
	text-align: right;
	text-decoration: none;
	
}


.footerleft {
	float: left;
	font-size: x-small;
	margin-left: 30px;
}
.footerright {
	float: right;
	font-size: x-small;
	margin-right: 30px;
}
.paidforby{
	border: 1px solid #FFFFFF;
	font-size: 12px;
	float: left;
	margin: 0px;
	padding: 2px;
	position: absolute;
	color: #FFFFFF;
	top: 15px;
	left: 55px;
	}
	
	.headerlinks {
	position: absolute;
	top: 182px;
	left: 48px;
}
.headerlink {
	text-decoration: none;
	border-style: none;
	float: left;
	padding-right: 20px;
	padding-left: 0px;
}
.headerlink2 {
	text-decoration: none;
	border-style: none;
	float: left;
	padding-right: 10px;
	padding-top: 2px;
}
.underlinks {
	position: absolute;
	top: 225px;
	left: 26px;
	width: 840px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}
.ulink {
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	width: 840px;
}

.underlinks1 {
	float: left;
}
.underlinks2 {
	position: absolute;
	top: 225px;
	left: 318px;
}
.underlinks3 {
	position: absolute;
	top: 225px;
	left: 436px;
}
.underlinks4 {
	position: absolute;
	top: 225px;
	left: 575px;
}

.mainimg1 {
	float: left;
	padding: 10px 15px 10px 0px;
}

.mainimg2 {
float: right;
padding:10px;
}
hr{
	clear: both;
}
.issuetitle {
	font-size: 18px;
	color: #143d8d;
}
.candidateinfo {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	background-color: #163585;
	padding: 5px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #FF0000;
	border-right-color: #FF0000;
	border-bottom-color: #FF0000;
	border-left-color: #FF0000;
	width: 450px;
}
.candidatename {
	font-size: 22px;
}
.eventsub {
	font-size: 12px;
	
}
.eventsub2 {
	font-size: 18px;
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: #FFFFFF;
	margin-bottom: 3px;
}

.candidatesite {
	color: #FFFFFF;
}
.candidatesite A:link {
	color: #FFFFFF;
	text-decoration: none;
	
}
.candidatesite A:visited {
	color: #FFFFFF;
	text-decoration: none;
	
}
.candidatesite A:hover {
	color: #E42024;
	text-decoration: none;
	
}
.candidatesite A:active {
	color: #FFFFFF;
	text-decoration: none;
	
}.aboutimage {
	padding: 5px;
	float: left;
	font-size: xx-large;
}
.headertext {
	position: absolute;
	font-size: 36px;
	color: #FFF;
	left: 157px;
	top: 103px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-weight: 900;
}
.headername {
	position: absolute;
	font-size: 44px;
	color: #FFF;
	left: 156px;
	top: 46px;
	font-weight: 900;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
.logo {
	position: absolute;
	height: 125px;
	width: 250px;
	top: 28px;
	left: 614px;
}
.iconshell {
	float: right;
	width: 822px;
	height: 40px;
	background-position: center;
	text-align: center;
	position: absolute;
	top: -8px;
	left: 39px;
	padding-left: 15px;
}
.facebook {
	float: left;
}
.Twitter {
	float: left;
}
.poweredby A:link {
	color: #003C7A;
	text-align: right;
	height: 25px;
	vertical-align: middle;
	margin-right: 15px;
	background-position: center;
	text-align: right;
	text-decoration: none;
	
}
.poweredby A:visited {
	color: #003C7A;
	text-align: right;
	height: 25px;
	vertical-align: middle;
	margin-right: 15px;
	background-position: center;
	text-align: right;
	text-decoration: none;
	
}
.poweredby A:hover {
	color: #E11C23;
	text-align: right;
	height: 25px;
	vertical-align: middle;
	margin-right: 15px;
	background-position: center;
	text-align: right;
	text-decoration: none;
	
}
.poweredby A:active {
	color: #003C7A;
	text-align: right;
	height: 25px;
	vertical-align: middle;
	margin-right: 15px;
	background-position: center;
	text-align: right;
	text-decoration: none;
	
}
.poweredby {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #E11C23;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	padding: 15px;
	clear: both;
}