UNKNOWN {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; LEFT: 25px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; WHITE-SPACE: nowrap; POSITION: absolute; TOP: 65px
}
.menutrans {
	FILTER: alpha(opacity=60); moz-opacity: 0.6
}
UL#top-nav {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #fff; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
UL#top-nav UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #fff; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
UL#top-nav LI {
	LIST-STYLE-TYPE: none; POSITION: relative
}
 HTML UL#top-nav LI {
	FLOAT: left; HEIGHT: 1%
}
 HTML UL#top-nav LI A {
	HEIGHT: 1%
}
UL#top-nav UL {
	DISPLAY: none; LEFT: 152px; POSITION: absolute; TOP: 0px
}
UL#top-nav LI:hover UL UL {
	DISPLAY: none
}
UL#top-nav LI:hover UL UL UL {
	DISPLAY: none
}
UL#top-nav LI.over UL UL {
	DISPLAY: none
}
UL#top-nav LI.over UL UL UL {
	DISPLAY: none
}
UL#top-nav LI:hover UL {
	DISPLAY: block
}
UL#top-nav LI LI:hover UL {
	DISPLAY: block
}
UL#top-nav LI LI LI:hover UL {
	DISPLAY: block
}
UL#top-nav LI.over UL {
	DISPLAY: block
}
UL#top-nav LI LI.over UL {
	DISPLAY: block
}
UL#top-nav LI LI LI.over UL {
	DISPLAY: block
}
UL#top-nav {
	BORDER-RIGHT: #000066 0px solid; BORDER-TOP: #000066 1px solid; Z-INDEX: 2; BORDER-LEFT: #000066 0px solid; WIDTH: 153px
}
UL#top-nav LI A {
	PADDING-RIGHT: 4px; DISPLAY: block; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; FONT: bold 12pt verdana, sans; COLOR: #ffffff; TEXT-INDENT: 3px; PADDING-TOP: 4px; TEXT-ALIGN: right; TEXT-DECORATION: none
}
UL#top-nav LI.menuT {
	BACKGROUND-IMAGE: url(/PrivateLabel/DancePalace/Images/menu.gif); BORDER-BOTTOM: #000066 1px solid
}
UL#top-nav LI.menuT:hover {
	BACKGROUND-IMAGE: url(/PrivateLabel/DancePalace/Images/menuon.gif); BACKGROUND-COLOR: #ffffff
}
UL#top-nav LI.over {
	BACKGROUND-IMAGE: url(/PrivateLabel/DancePalace/Images/menuon.gif); BACKGROUND-COLOR: #ffffff
}
UL#top-nav LI A:hover {
	BACKGROUND-IMAGE: url(/PrivateLabel/DancePalace/Images/menuon.gif); COLOR: #ffffff; BACKGROUND-COLOR: #6666cc
}
UL#sub-nav {
	BORDER-RIGHT: #000066 1px solid; BORDER-TOP: #000066 1px solid; Z-INDEX: 3; BORDER-LEFT: #000066 2px solid; WIDTH: 160px
}
UL#sub-nav LI A {
	PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; FONT: bold 9pt arial, verdana, helvetica, sans; COLOR: #000099; PADDING-TOP: 5px; TEXT-ALIGN: left; TEXT-DECORATION: none
}
UL#sub-nav LI {
	BACKGROUND-IMAGE: url(/PrivateLabel/DancePalace/Images/spacer.gif); BORDER-BOTTOM: #000066 1px solid; BACKGROUND-COLOR: #ffffff
}
UL#sub-nav LI A:hover {
	BACKGROUND-IMAGE: url(/PrivateLabel/DancePalace/Images/spacer.gif); COLOR: #000066; BACKGROUND-COLOR: #f0f0f0
}
