BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; FONT: 12px Helvetica, Arial, sans-serif; PADDING-TOP: 0px
}
STRONG {
	COLOR: #030
}
TABLE {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px; 
	MARGIN: 0px; 
	/*WIDTH: 100%; */
	PADDING-TOP: 0px
}
TD {
	FONT: 12px Helvetica, Arial, sans-serif; VERTICAL-ALIGN: top
}
TH {
	FONT-SIZE: 13px
}
#leftcontent {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BACKGROUND: #eee; BORDER-LEFT: 0px; WIDTH: 200px; BORDER-BOTTOM: 0px
}
#centercontent {
	BORDER-RIGHT: #090 1px solid; 
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; 
	BACKGROUND: #fff; PADDING-BOTTOM: 15px; 
	MARGIN-LEFT: 201px; BORDER-LEFT: #090 1px solid;
	MARGIN-RIGHT: 201px; PADDING-TOP: 0px
}
HTML BODY #centercontent {
	MARGIN-LEFT: 201px; MARGIN-RIGHT: 201px
}
#rightcontent {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BACKGROUND: #eee; BORDER-LEFT: 0px; WIDTH: 200px; BORDER-BOTTOM: 0px
}
TH {
	BACKGROUND: #cdb; COLOR: #222
}
BLOCKQUOTE {
	PADDING-RIGHT: 0px; MARGIN-TOP: 5px; PADDING-LEFT: 5px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; MARGIN-LEFT: 5px; BORDER-LEFT: #cdb 2px solid; PADDING-TOP: 0px
}
#banner {
	BACKGROUND: #fff; BORDER-BOTTOM: #cdb 10px solid; HEIGHT: 49px; voice-family: inherit
}
HTML BODY #banner {
	HEIGHT: 49px
}
#footer {
	PADDING-RIGHT: 10px; BORDER-TOP: #090 1px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
P {
	MARGIN: 0px 10px 10px
}
H1 {
	MARGIN: 0px 10px 10px
}
H2 {
	MARGIN: 0px 10px 10px
}
H3 {
	MARGIN: 0px 10px 10px
}
H4 {
	MARGIN: 0px 10px 10px
}
H5 {
	MARGIN: 0px 10px 10px
}
H6 {
	MARGIN: 0px 10px 10px
}
PRE {
	MARGIN: 0px 10px 10px
}



#centercontent P {
	MARGIN-LEFT: 0px; MARGIN-RIGHT: 0px
}
#centercontent H1 {
	MARGIN-LEFT: 0px; MARGIN-RIGHT: 0px
}
#centercontent H2 {
	MARGIN-LEFT: 0px; MARGIN-RIGHT: 0px
}
#centercontent H3 {
	MARGIN-LEFT: 0px; MARGIN-RIGHT: 0px
}
#centercontent H4 {
	MARGIN-LEFT: 0px; MARGIN-RIGHT: 0px
}
#centercontent H5 {
	MARGIN-LEFT: 0px; MARGIN-RIGHT: 0px
}
#centercontent H6 {
	MARGIN-LEFT: 0px; MARGIN-RIGHT: 0px
}
#centercontent TABLE {
	MARGIN: 0px 10px 10px
}
#centercontent PRE {
	MARGIN-LEFT: 0px; MARGIN-RIGHT: 0px
}
#centercontent TABLE {
	MARGIN-LEFT: 0px; MARGIN-RIGHT: 0px
}


H1 {
	FONT-SIZE: 14px; PADDING-TOP: 10px
}
H2 {
	FONT-SIZE: 14px; PADDING-TOP: 10px
}
H3 {
	FONT-WEIGHT: normal; FONT-SIZE: 14px; PADDING-TOP: 10px
}
H4 {
	FONT-SIZE: 12px; PADDING-TOP: 10px
}
H5 {
	FONT-SIZE: 12px; PADDING-TOP: 10px
}
H6 {
	FONT-SIZE: 12px; PADDING-TOP: 10px
}
#leftcontent H1 {
	PADDING-RIGHT: 3px; PADDING-LEFT: 5px; PADDING-BOTTOM: 3px; MARGIN: 5px 0px 10px; COLOR: #222; PADDING-TOP: 5px; BACKGROUND-COLOR: #cdb
}
#leftcontent H2 {
	PADDING-RIGHT: 3px; PADDING-LEFT: 5px; PADDING-BOTTOM: 3px; MARGIN: 5px 0px 10px; COLOR: #222; PADDING-TOP: 5px; BACKGROUND-COLOR: #cdb
}
#leftcontent H3 {
	PADDING-RIGHT: 3px; PADDING-LEFT: 5px; PADDING-BOTTOM: 3px; MARGIN: 5px 0px 10px; COLOR: #222; PADDING-TOP: 5px; BACKGROUND-COLOR: #cdb
}
#rightcontent H1 {
	PADDING-RIGHT: 3px; PADDING-LEFT: 5px; PADDING-BOTTOM: 3px; MARGIN: 5px 0px 10px; COLOR: #222; PADDING-TOP: 5px; BACKGROUND-COLOR: #cdb
}
#rightcontent H2 {
	PADDING-RIGHT: 3px; PADDING-LEFT: 5px; PADDING-BOTTOM: 3px; MARGIN: 5px 0px 10px; COLOR: #222; PADDING-TOP: 5px; BACKGROUND-COLOR: #cdb
}
#rightcontent H3 {
	PADDING-RIGHT: 3px; PADDING-LEFT: 5px; PADDING-BOTTOM: 3px; MARGIN: 5px 0px 10px; COLOR: #222; PADDING-TOP: 5px; BACKGROUND-COLOR: #cdb
}
#leftcontent H2 {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px; BACKGROUND-COLOR: #eee
}
#rightcontent H2 {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px; BACKGROUND-COLOR: #eee
}
#leftcontent H3 {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; FONT-SIZE: 12px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px; BACKGROUND-COLOR: #eee
}
#rightcontent H3 {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; FONT-SIZE: 12px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px; BACKGROUND-COLOR: #eee
}
#leftcontent TEXTAREA {
	WIDTH: 150px
}
#banner H1 {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-WEIGHT: normal; FONT-SIZE: 26px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #693; PADDING-TOP: 10px
}
#banner H1 STRONG {
	COLOR: #693
}
#centercontent H1 {
	FONT-SIZE: 18px; COLOR: #006600
}
#rightcontent P {
	FONT-SIZE: 10px
}
A {
	COLOR: #666
}
A:hover {
	COLOR: #693
}
#centercontent LI {
	MARGIN-BOTTOM: 10px
}
.elevated {
	BORDER-RIGHT: #000 1px solid; BORDER-TOP: #aaa 1px solid; BORDER-LEFT: #aaa 1px solid; BORDER-BOTTOM: #000 1px solid
}
.topheader {
	FONT-WEIGHT: bold; COLOR: #fff; BACKGROUND-COLOR: #369
}
.subheader {
	COLOR: #369; BACKGROUND-COLOR: #fff
}
P.invalid {
	FONT-WEIGHT: bold; COLOR: #900
}
LABEL.invalid {
	FONT-WEIGHT: bold; COLOR: #900
}
LEGEND.invalid {
	FONT-WEIGHT: bold; COLOR: #900
}
.overlib-foreground {
	COLOR: #000; BACKGROUND-COLOR: #fff
}
.overlib-background {
	BORDER-RIGHT: #369 1px solid; BORDER-TOP: #9cf 1px solid; BORDER-LEFT: #9cf 1px solid; BORDER-BOTTOM: #369 1px solid; BACKGROUND-COLOR: #369
}
.overlib-caption {
	FONT-WEIGHT: bold; COLOR: #fd0
}
HR {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: #090 1px solid
}

@media Print    
{
#banner {
	COLOR: #000; BORDER-BOTTOM: #000 1px solid; BACKGROUND-COLOR: #fff
}
#banner H1 {
	FONT-SIZE: 16px; COLOR: #000
}
#leftcontent {
	DISPLAY: none
}
#rightcontent {
	DISPLAY: none
}
#centercontent {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; WIDTH: 100%; BORDER-BOTTOM: 0px
}
    }
.sitesearch-result .sitesearch-score-title {
	COLOR: #666
}
SPAN.highlighted {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 0px; PADDING-TOP: 2px; BACKGROUND-COLOR: #ff0
}
P.news-page-nav {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; COLOR: #000; PADDING-TOP: 3px; BACKGROUND-COLOR: #eee
}
SPAN.news-page-nav-inactive {
	COLOR: #888
}
P.news-page-nav A {
	COLOR: #060
}
P.news-page-nav A:hover {
	COLOR: #693
}
.files-app {
	PADDING-RIGHT: 0px; MARGIN: 0px 0px 0px 2px
}
headline {
	PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 18px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
category {
	PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 14px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
catalog {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
book {
	
}
book * {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: #ccc 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #ccc 1px solid
}
DIV.sitelinks-item-summary {
	BORDER-RIGHT: #cdb 1px solid; BORDER-TOP: #cdb 1px solid; MARGIN-TOP: 10px; PADDING-BOTTOM: 0px; BORDER-LEFT: #cdb 1px solid; BORDER-BOTTOM: #cdb 1px solid
}
DIV.sitelinks-item-summary H2 {
	PADDING-RIGHT: 2px; MARGIN-TOP: 0px; PADDING-LEFT: 2px; FONT-SIZE: 12px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; BACKGROUND-COLOR: #cdb
}
DIV.sitelinks-item-summary P {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; MARGIN: 0px; PADDING-TOP: 5px
}
DIV.sitelinks-item-summary UL {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; MARGIN: 0px; PADDING-TOP: 5px
}
DIV.sitelinks-item-summary P {
	COLOR: #888
}
DIV.sitelinks-item-summary P.sitelinks-summary {
	COLOR: #000
}
