.footer {
	FONT-SIZE: 10px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: center
}
P {
	FONT-SIZE: 12px; COLOR: #333333; LINE-HEIGHT: 16px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.highlight_title {
	FONT-WEIGHT: bold; COLOR: #000000
}
.highlight {
	COLOR: #0066ff
}
TABLE {
	FONT-SIZE: 10pt; FONT-FAMILY: Arial, Helvetica, sans-serif
}
H1 {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: left
}
.super {
	FONT-SIZE: 8pt; VERTICAL-ALIGN: super; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.jtc {
	VERTICAL-ALIGN: top; TEXT-ALIGN: center
}
.jtl {
	VERTICAL-ALIGN: top; TEXT-ALIGN: left
}
TD {
	VERTICAL-ALIGN: top; 
}

.note {
	FONT-SIZE: 10px
}
