/* -------------------------------- WEB FONTS CSS -------------------------------- */
@-zs-include webfonts(Roboto:300, 400, 700/Source Sans Pro:300, 400, 700);
/* -------------------------------- PRESET CSS -------------------------------- */
body, h1, h2, h3, h4, h5, h6, p, ol, ul, li {
    margin: 0;
    padding: 0;
    font-weight: normal;
}
h1, h2, h3, h4, h5, h6, p {
    font-weight: 300;
}
body {
 background-attachment:fixed;
 background-color:transparent;
 background-image:url('/clients/ailes/images/3272079115_edf3ac717c_o.jpg');
 background-position:right center;
 background-repeat:repeat;
 background-size:cover;
 font-family:'Roboto', Tahoma, Geneva, sans-serif;
 font-size:14px;
 color:#707070;
    font-weight: 300;
}
h1 {
font-family:'Roboto', Tahoma, Geneva, sans-serif;
font-size:30px;
color:#000000;
}
h2 {
font-family:'Roboto', Tahoma, Geneva, sans-serif;
font-size:28px;
color:#000000;
}
h3 {
font-family:'Roboto', Tahoma, Geneva, sans-serif;
font-size:26px;
color:#000000;
}
h4 {
font-family:'Roboto', Tahoma, Geneva, sans-serif;
font-size:22px;
color:#000000;
}
h5 {
font-family:'Roboto', Tahoma, Geneva, sans-serif;
font-size:20px;
color:#000000;
}
h6 {
font-family:'Roboto', Tahoma, Geneva, sans-serif;
font-size:18px;
color:#000000;
}
a {
 color:#d22831;
 text-decoration:none;
}
a:hover {
 text-decoration:none;
 color:#d22831;
}
p {
    line-height: 1.8;
}
a img {
    border: 0 solid
}
:focus {
    outline: none;
}
ul, ol {
    padding: 0 0 0 25px;
}
ol {
    padding: 0 0 0 25px;
}
li {
    padding: 5px 0;
}
hr {
    border: 0;
    border-top: 1px solid #e6e6e6;
}

/* -------------------------------- COMMEN USAGE CSS -------------------------------- */
.floatLeft {
    float: left;
}
.floatRight {
    float: right;
}
.clearDiv {
    clear: both;
}
.themeWidth {
    width: 1000px;
    margin: 0px;
}
/* -------------------------------- SEARCH BOX & SOCIAL ICONS AREA CSS -------------------------------- */
.themeSocialandSearchContainer {
    background: url(images/transparencybg.png) left top repeat;
    padding: 5px 0;
}
/* -------------------------------- SEARCH BOX AREA CSS -------------------------------- */
.themeSearchContainer {
    float: right;
}
.themeSearchbox {
    width: 160px;
    height: 22px;
    position: relative;
    background: #838383;
}
.themeSearchbox input[type=text] {
    background: transparent;
    width: 130px;
    height: 22px;
    border: 0 none;
    outline: none;
    line-height: 22px;
    font-family: 'Roboto', Tahoma, Geneva, sans-serif;
    font-size: 14px;
    color: #000000;
    padding: 0 5px
}
.themeSearchbox input[type=submit] {
    background: url(images/searchicon.png) center center no-repeat;
    width: 24px;
    height: 22px;
    position: absolute;
    top: 0px;
    right: 0px;
    border: 0 none;
    cursor: pointer;
}
/* -------------------------------- LEFT AREA CSS -------------------------------- */
.themeLeftArea {
    width: 300px;
    padding: 20px;
}
.themeBrandingArea {
    text-align: center;
    background: #d22831;
}
.themeBrandingArea span {
    display: block;
}
/* -------------------------------- LOGO SITENAME CAPTION AREA CSS -------------------------------- */
.themeLogo {
    padding: 20px 0 5px;
}
.themeSitename {
font-family:'Roboto', Tahoma, Geneva, sans-serif;
 font-size:34px;
 color:#ffffff;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 1.2;
    padding: 10px 0;
}
.themeCaption {
font-family:'Source Sans Pro', Tahoma, Geneva, sans-serif;
 font-size:13px;
 color:#ffff00;
    font-weight: 300;
    padding-bottom: 15px;
}
/*--------------------------------------------------------- THEME NAVIGATION AREA CSS ----------------------------------------------------------------------------------*/
.themeNavigationContainer {
    background: url(images/transparencybg.png) left top repeat;
    padding: 15px 0;
    margin-bottom: 20px;
    position: relative;
}
#navigation {
    background: url(images/navigationIcon.png) center center no-repeat;
    height: 36px;
}
#navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 1px;
    line-height: 0;
}
#navigation li {
 background-color:transparent;
 background-image:url(images/navigationIcon.png);
 background-repeat:no-repeat;
 background-position:center center;
    display: block;
    overflow: hidden;
    padding: 0;
    margin: 0;
    float: left;
    height: 36px;
    width: 100%;
}
#navigation li a {
 font-family:'Roboto', Tahoma, Geneva, sans-serif;
 color:#ffffff;
 font-size:16px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 300;
    text-decoration: none;
    display: block;
    line-height: 3;
    float: left;
    width: 100%;
    curser: pointer;
}
#navigation li a:hover, #navigation li.selected, #navigation li.active {
 color:#ffffff;
 background-color:transparent;
 background-image:none;
 background-repeat:repeat;
 background-position:center center;
}
/*--------------------------------------------------------- SUB MENU AREA CSS -----------------------------------------------------------------------------*/
.submenu {
 background-color:#2b2b2b;
background-image:none;
background-position:top left;
background-repeat:repeat;
 border-width:0;
border-style:none;
border-color: transparent;
 border-radius:0px;
-moz-border-radius:0px;
-webkit-border-radius:0px;
-o-border-radius:0px;
    width: 300px;
    position: absolute;
    display: block;
    padding: 0;
    -webkit-transition: opacity 0.5s ease 0s;
    -moz-transition: opacity 0.5s ease 0s;
    -o-transition: opacity 0.5s ease 0s;
    -ms-transition: opacity 0.5s ease 0s;
    transition: opacity 0.5s ease 0s;
}
.submenu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 1px;
    line-height: 0;
}
.submenu li {
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.submenu li a {
 color:#ffffff;
 font-size:16px;
 font-family:'Roboto', Tahoma, Geneva, sans-serif;
    text-decoration: none;
    display: block;
    width: 100%;
    line-height: 2.5;
    text-transform: uppercase;
    font-weight: 300;
    float: left;
    cursor: pointer;
    padding: 0;
}
.submenu li a:hover {
 color:#ffffff;
 background-color:#464646;
background-image:none;
background-position:top left;
background-repeat:repeat;
}
.submenu li a span {
    width: 90%;
    float: left;
    padding-left: 10px;
    word-wrap: break-word;
}
.submenu li a em {
    width: 10px;
    float: left;
    height: 10px;
}
.submenu li.navArrow a em, .submenu li:hover.navArrow a em {
    background: url(images/navArrow.png) no-repeat scroll center left;
    float: left;
    height: 15px;
    width: 8px;
    margin-top: 12px;
}
/* -------------------------------- SIDEBAR AREA CSS -------------------------------- */
.themeSidebarArea {
background-color:transparent;
 background-image:url(images/transparencybg.png);
 background-position:0 0;
 background-repeat:repeat;
 background-attachment:scroll;
 background-size:auto;
 box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.07), 0px 0px 0px 0px transparent inset;
 -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.07), 0px 0px 0px 0px transparent inset;
 -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.07), 0px 0px 0px 0px transparent inset;
 -o-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.07), 0px 0px 0px 0px transparent inset;
 border-width: 0px;
 border-style:none;
 border-color:transparent;
 border-radius: 0px;
 -moz-border-radius:0px;
 -webkit-border-radius:0px;
 -o-border-radius:0px;
 font-family:'Roboto', Tahoma, Geneva, sans-serif;
 font-size:14px;
 color:#ffffff;
    min-height: 300px;
    height: auto !important;
    height: 300px;
    padding: 20px;
}
.themeSidebarArea h1 {
font-family:'Roboto', Tahoma, Geneva, sans-serif;
font-size:28px;
color:#d22831;
}
.themeSidebarArea h2 {
font-family:'Roboto', Tahoma, Geneva, sans-serif;
font-size:24px;
color:#d22831;
}
.themeSidebarArea h3 {
font-family:'Roboto', Tahoma, Geneva, sans-serif;
font-size:22px;
color:#d22831;
}
.themeSidebarArea h4 {
font-family:'Roboto', Tahoma, Geneva, sans-serif;
font-size:20px;
color:#d22831;
}
.themeSidebarArea h5 {
font-family:'Roboto', Tahoma, Geneva, sans-serif;
font-size:18px;
color:#d22831;
}
.themeSidebarArea h6 {
font-family:'Roboto', Tahoma, Geneva, sans-serif;
font-size:16px;
color:#d22831;
}
.themeSidebarArea a {
 color:#d22831;
 text-decoration:none;
}
.themeSidebarArea a:hover {
 text-decoration:none;
 color:#d22831;
}
.themeSidebarArea form li span input[type="text"], .themeSidebarArea form li span textarea, .themeSidebarArea form li span select {
    background: #212020;
    box-shadow: 1px 1px 0 0 #332E2E;
    -webkit-box-shadow: 1px 1px 0 0 #332E2E;
    -moz-box-shadow: 1px 1px 0 0 #332E2E;
    -o-box-shadow: 1px 1px 0 0 #332E2E;
    width: 200px;
}
.themeSidebarArea form li span select {
    width: 213px;
}
.themeSidebarArea form li input[type="reset"] {
    background: #3A3A3A;
}
.themeSidebarArea th {
 font-family:'Roboto', Tahoma, Geneva, sans-serif;
 font-size:14px;
 color:#707070;
 background:#2D2D2D;
 border-width:1px;
 border-style:solid;
 border-color:#222222;
 padding:10px;
    font-weight: normal;
}
.themeSidebarArea td {
 font-family:'Roboto', Tahoma, Geneva, sans-serif;
 font-size:14px;
 color:#707070;
 background:transparent;
 border-width:1px;
 border-style:solid;
 border-color:#222222;
 padding:10px;
}
.themeSidebarArea h3.newsletter-heading {
    color:#D22831;
}
.themeSidebarArea .newsletter-input-field {
    background:#212020;
    border-color:#332E2E;
    color:#707070;
}
.themeSidebarArea .newsletter-form input[type="text"]::-moz-placeholder {
    color:#707070;
}
.themeSidebarArea .newsletter-form  input[type="text"]::-webkit-input-placeholder{
    color:#707070;
}
.themeSidebarArea .newsletter-form  input[type="text"]:-ms-input-placeholder {
    color:#707070;
}
/* -------------------------------- THEME SIDEBAR HIGLIGHT BOX AREA CSS -------------------------------- */
.themeSidebarArea .zs-highlight-box {
 background-color: rgba(255,255,255,0.75);
 background-image: none;
 background-image: none, -moz-linear-gradient(top, transparent, transparent);
 background-image: none, -webkit-linear-gradient(top, transparent, transparent);
 background-image: none, -o-linear-gradient(top, transparent, transparent);
 background-position: top left;
 background-repeat: no-repeat;
 box-shadow: 0 0 5px 0px #000000, 0px 0px 0px 0 transparent inset;
 -moz-box-shadow: 0 0 5px 0px #000000, 0px 0px 0px 0 transparent inset;
 -webkit-box-shadow: 0 0 5px 0px #000000, 0px 0px 0px 0 transparent inset;
 -o-box-shadow: 0 0 5px 0px #000000, 0px 0px 0px 0 transparent inset;
 border-width: 0;
 border-style:none;
 border-color: transparent;
 border-radius: 0;
 -moz-border-radius:0;
 -webkit-border-radius:0;
 -o-border-radius:0;
 padding: 10px;
 margin: 5px;
    min-height: 200px;
font-family:'Roboto', Tahoma, Geneva, sans-serif;
 font-size:14px;
 color:#707070;
}
.themeSidebarArea .zs-highlight-box h1 {
font-family:'Roboto', Tahoma, Geneva, sans-serif;
font-size:28px;
color:#d22831;
}
.themeSidebarArea .zs-highlight-box h2 {
font-family:'Roboto', Tahoma, Geneva, sans-serif;
font-size:24px;
color:#d22831;
}
.themeSidebarArea .zs-highlight-box h3 {
font-family:'Roboto', Tahoma, Geneva, sans-serif;
font-size:22px;
color:#d22831;
}
.themeSidebarArea .zs-highlight-box h4 {
font-family:'Roboto', Tahoma, Geneva, sans-serif;
font-size:20px;
color:#d22831;
}
.themeSidebarArea .zs-highlight-box h5 {
font-family:'Roboto', Tahoma, Geneva, sans-serif;
font-size:18px;
color:#d22831;
}
.themeSidebarArea .zs-highlight-box h6 {
font-family:'Roboto', Tahoma, Geneva, sans-serif;
font-size:16px;
color:#d22831;
}
.themeSidebarArea .zs-highlight-box a {
 text-decoration:none;
color:#d22831;
}
.themeSidebarArea .zs-highlight-box a:hover {
text-decoration:none;
color:#d22831;
}
.themeSidebarArea .zs-highlight-box hr {
    border-top-color: #9E9E9E;
}
.themeSidebarArea .zs-highlight-box th {
 font-family:'Roboto', Tahoma, Geneva, sans-serif;
 font-size:14px;
 color:#000000;
 background:#DDDDDD;
 border-width:1px;
 border-style:solid;
 border-color:#C2C2C2;
 padding:10px;
    font-weight: normal;
}
.themeSidebarArea .zs-highlight-box td {
 font-family:'Roboto', Tahoma, Geneva, sans-serif;
 font-size:14px;
 color:#707070;
 background:transparent;
 border-width:1px;
 border-style:solid;
 border-color:#B3B3B3;
 padding:10px;
}
.themeSidebarArea .zs-highlight-box form li span input[type=text], .themeSidebarArea .zs-highlight-box form li span textarea, .themeSidebarArea .zs-highlight-box form li span select {
    background: #B3B3B3;
    box-shadow: 1px 1px 0 0 #9B9B9B;
    -webkit-box-shadow: 1px 1px 0 0 #9B9B9B;
    -moz-box-shadow: 1px 1px 0 0 #9B9B9B;
    -o-box-shadow: 1px 1px 0 0 #9B9B9B;
 color:#707070;
    width: 170px;
}
.themeSidebarArea .zs-highlight-box form li span select {
    width: 183px;
}
.themeSidebarArea .zs-highlight-box h3.newsletter-heading {
    color:#D22831;
}
.themeSidebarArea .zs-highlight-box .newsletter-desc {
    color:#707070;
}
.themeSidebarArea .zs-highlight-box button.newsletter-button {
    background:#FF2A35;
}
.themeSidebarArea .zs-highlight-box .newsletter-input-field {
    background:#B3B3B3;
    border-color:#9B9B9B;
    color:#707070;
}
.themeSidebarArea .zs-highlight-box .newsletter-form input[type="text"]::-moz-placeholder {
    color:#707070;
}
.themeSidebarArea .zs-highlight-box .newsletter-form  input[type="text"]::-webkit-input-placeholder{
    color:#707070;
}
.themeSidebarArea .zs-highlight-box .newsletter-form  input[type="text"]:-ms-input-placeholder {
    color:#707070;
}
/* -------------------------------- Text Highlight  AREA CSS -------------------------------- */
.themeSidebarArea .zs-text-light-color {
color:#595757
}
.themeSidebarArea .zs-text-highlight-color {
color:#D22831
}
.themeSidebarArea .zs-highlight-box .zs-text-light-color {
color:#434343
}
.themeSidebarArea .zs-highlight-box .zs-text-highlight-color {
color:#D22831
}
/*--------------------- THEME SIDEBAR TABS ACCORDION AREA CSS ---------------------*/
.themeSidebarArea .zs-tabs ul, .themeSidebarArea .zs-highlight-box .zs-tabs ul {
    list-style: none;
    float: left;
    padding: 0px;
    display: none;
    width: 100%;
    margin: 0;
    border-bottom: 1px solid #414141;
    border-left: 1px solid #414141;
}
.themeSidebarArea .zs-tabs ul li, .themeSidebarArea .zs-highlight-box .zs-tabs ul li {
    margin: 0px;
    float: left;
    padding: 0px;
}
.themeSidebarArea .zs-tabs ul li div, .themeSidebarArea .zs-highlight-box .zs-tabs ul li div {
    background: #414141;
    padding: 0 25px;
    color: #A8A8A8;
    position: relative;
    margin: 0 0 -1px;
    line-height: 3;
    display: block;
    cursor: pointer;
    border-right: 1px solid #414141;
    border-top: 1px solid #414141;
    border-bottom: 1px solid #414141;
}
.themeSidebarArea .zs-tabs ul li:hover div, .themeSidebarArea .zs-highlight-box .zs-tabs ul li:hover div {
    background: #d22831;
    color: #ffffff;
}
.themeSidebarArea .zs-tabs ul li.selected div, .themeSidebarArea .zs-highlight-box .zs-tabs ul li.selected div {
    background: #F2EFE9;
    color: #d22831;
    border-bottom: 1px solid #F2EFE9;
}
.themeSidebarArea .zs-tabs-accordion-content, .themeSidebarArea .zs-highlight-box .zs-tabs-accordion-content {
    clear: both;
    border: 1px solid #414141;
    padding: 15px;
    display: block;
    color: #A8A8A8;
    margin: 3px 0;
    background: #2C2C2C;
    margin-bottom: 3px;
    min-height: 70px;
    height: auto !important;
    height: 70px;
}
.themeSidebarArea .zs-accordion, .themeSidebarArea .zs-highlight-box .zs-accordion {
    background: #414141;
    color: #A8A8A8;
    padding: 12px 10px;
    cursor: pointer;
    border: 1px solid #414141;
    margin-bottom: 2px;
    display: block;
}
.themeSidebarArea .zs-accordion.selected, .themeSidebarArea .zs-highlight-box .zs-accordion.selected {
    background: #d22831;
    color: #FFFFFF;
    border: 0px;
    margin-bottom: 0;
}
/*---------------------------------- THEME SIDEBAR AREA HIGHLIGHT BOX TABS ACCORDION AREA CSS START ------------------------------------*/
.themeSidebarArea .zs-highlight-box .zs-tabs-accordion-content {
    padding: 10px;
}
.themeSidebarArea .zs-highlight-box .zs-tabs-accordion-content h1, .themeSidebarArea .zs-highlight-box .zs-tabs-accordion-content h2, .themeSidebarArea .zs-highlight-box .zs-tabs-accordion-content h3, .themeSidebarArea .zs-highlight-box .zs-tabs-accordion-content h4, .themeSidebarArea .zs-highlight-box .zs-tabs-accordion-content h5, .themeSidebarArea .zs-highlight-box .zs-tabs-accordion-content h6 {
    color: #d22831;
}
.themeSidebarArea .zs-highlight-box .zs-tabs-accordion-content a, .themeSidebarArea .zs-highlight-box .zs-tabs-accordion-content a:hover {
    color: #d22831;
}
.themeSidebarArea .zs-highlight-box .zs-tabs-accordion-content hr {
    border-top: 1px solid #555555;
}
.themeSidebarArea .zs-highlight-box .zs-tabs-accordion-content th {
    background: #393939;
    border-color: #222222;
    color: #707070;
}
.themeSidebarArea .zs-highlight-box .zs-tabs-accordion-content td {
    background: transparent;
    border-color: #222222;
    color: #707070;
}
.themeSidebarArea .zs-highlight-box .zs-tabs-accordion-content form li span input[type="text"], .themeSidebarArea .zs-highlight-box .zs-tabs-accordion-content form li span textarea, .themeSidebarArea .zs-highlight-box .zs-tabs-accordion-content form li span select {
    background: #303030;
    color: #707070;
    box-shadow: 1px 1px 0 #404040;
    -webkit-box-shadow: 1px 1px 0 #404040;
    -moz-box-shadow: 1px 1px 0 #404040;
    -o-box-shadow: 1px 1px 0 #404040;
    width: 130px;
}
.themeSidebarArea .zs-highlight-box .zs-tabs-accordion-content form li span select {
    width: 143px;
}
.themeSidebarArea .zs-highlight-box .zs-tabs-accordion-content form li input[type="submit"], .themeSidebarArea .zs-highlight-box .zs-tabs-accordion-content form li input[type="reset"] {
    padding: 4px 20px;
}
/* -------------------------------- RIGHT AREA CSS -------------------------------- */
.themeRightArea {
    width: 660px;
    padding: 20px 0;
}
/* -------------------------------- CONTENT AREA CSS -------------------------------- */
.themeContentContainer {
 background-color: transparent;
 background-image:url(images/contentBg.png);
 background-position:0 0;
 background-repeat:repeat;
 background-attachment:scroll;
 background-size:auto;
 box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.07), 0px 0px 0px 0px transparent inset;
 -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.07), 0px 0px 0px 0px transparent inset;
 -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.07), 0px 0px 0px 0px transparent inset;
 -o-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.07), 0px 0px 0px 0px transparent inset;
 border-width: 0;
 border-style:none;
 border-color:transparent;
 border-radius: 0;
 -moz-border-radius:0;
 -webkit-border-radius:0;
 -o-border-radius:0;
    padding: 15px;
}
/* -------------------------------- BREADCRUMB AREA CSS -------------------------------- */
.themeBreadcrumb {
    padding: 0 0 20px;
}
.themeBreadcrumb span {
    padding: 0 10px;
}
.themeBreadcrumb p {
    word-wrap: break-word;
}
.themeContentArea {
    min-height: 400px;
    height: auto !important;
    height: 400px;
}
/* -------------------------------- THEME FOOTER AREA CSS -------------------------------- */
.themeFooterArea {
background-color:transparent;
 background-image:url(images/transparencybg.png);
 background-position:0 0;
 background-repeat:repeat;
 background-attachment:scroll;
 background-size:auto;
 box-shadow: 0px 0px 0px 0px transparent, 0px 0px 0px 0px transparent inset;
-moz-box-shadow: 0px 0px 0px 0px transparent, 0px 0px 0px 0px transparent inset;
-webkit-box-shadow: 0px 0px 0px 0px transparent, 0px 0px 0px 0px transparent inset;
-o-box-shadow: 0px 0px 0px 0px transparent, 0px 0px 0px 0px transparent inset;
border-width:0;
 border-style:none;
 border-color: transparent;
 border-radius: 0px;
 -moz-border-radius:0px;
 -webkit-border-radius:0px;
 -o-border-radius:0px;
 font-family:'Roboto', Tahoma, Geneva, sans-serif;
 font-size:14px;
 color:#ffffff;
    min-height: 50px;
    height: auto !important;
    height: 50px;
    padding: 25px 15px;
    margin: 0 0 20px 20px;
}
.themeFooterArea h1 {
font-family:'Roboto', Tahoma, Geneva, sans-serif;
font-size:28px;
color:#d22831;
}
.themeFooterArea h2 {
font-family:'Roboto', Tahoma, Geneva, sans-serif;
font-size:24px;
color:#d22831;
}
.themeFooterArea h3 {
font-family:'Roboto', Tahoma, Geneva, sans-serif;
font-size:22px;
color:#d22831;
}
.themeFooterArea h4 {
font-family:'Roboto', Tahoma, Geneva, sans-serif;
font-size:20px;
color:#d22831;
}
.themeFooterArea h5 {
font-family:'Roboto', Tahoma, Geneva, sans-serif;
font-size:18px;
color:#d22831;
}
.themeFooterArea h6 {
font-family:'Roboto', Tahoma, Geneva, sans-serif;
font-size:16px;
color:#d22831;
}
.themeFooterArea a {
 color:#d22831;
 text-decoration:none;
}
.themeFooterArea a:hover {
 text-decoration:none;
 color:#d22831;
}
.themeFooterArea form li span input[type="text"], .themeFooterArea form li span textarea, .themeFooterArea form li span select {
    background: #212020;
    box-shadow: 1px 1px 0 0 #332E2E;
    -webkit-box-shadow: 1px 1px 0 0 #332E2E;
    -moz-box-shadow: 1px 1px 0 0 #332E2E;
    -o-box-shadow: 1px 1px 0 0 #332E2E;
}
.themeFooterArea form li input[type="reset"] {
    background: #3A3A3A;
}
.themeFooterArea th {
 font-family:'Roboto', Tahoma, Geneva, sans-serif;
 font-size:14px;
 color:#707070;
 background:#2D2D2D;
 border-width:1px;
 border-style:solid;
 border-color:#222222;
 padding:10px;
    font-weight: normal;
}
.themeFooterArea td {
 font-family:'Roboto', Tahoma, Geneva, sans-serif;
 font-size:14px;
 color:#707070;
 background:transparent;
 border-width:1px;
 border-style:solid;
 border-color:#222222;
 padding:10px;
}
.themeFooterArea h3.newsletter-heading {
    color:#D22831;
}
.themeFooterArea .newsletter-desc {
    color:#FFF;
}
.themeFooterArea .newsletter-input-field {
    background:#212020;
    border-color:#332E2E;
}
.themeFooterArea .newsletter-form input[type="text"]::-moz-placeholder {
    color:#707070;
}
.themeFooterArea .newsletter-form  input[type="text"]::-webkit-input-placeholder{
    color:#707070;
}
.themeFooterArea .newsletter-form  input[type="text"]:-ms-input-placeholder {
    color:#707070;
}
/* -------------------------------- THEME FOOTER HIGLIGHT BOX AREA CSS -------------------------------- */
.themeFooterArea .zs-highlight-box {
background-color: #d22831;
 background-image: none;
 background-image: none, -moz-linear-gradient(top, transparent, transparent);
 background-image: none, -webkit-linear-gradient(top, transparent, transparent);
 background-image: none, -o-linear-gradient(top, transparent, transparent);
 background-position: top left;
 background-repeat: no-repeat;
 box-shadow: 0 0 5px 0px #000000, 0px 0px 0px 0 transparent inset;
 -moz-box-shadow: 0 0 5px 0px #000000, 0px 0px 0px 0 transparent inset;
 -webkit-box-shadow: 0 0 5px 0px #000000, 0px 0px 0px 0 transparent inset;
 -o-box-shadow: 0 0 5px 0px #000000, 0px 0px 0px 0 transparent inset;
 border-width: 0;
 border-style:none;
 border-color: transparent;
 border-radius: 0;
 -moz-border-radius:0;
 -webkit-border-radius:0;
 -o-border-radius:0;
 padding: 10px;
 margin: 5px;
    min-height: 200px;
font-family:'Roboto', Tahoma, Geneva, sans-serif;
 font-size:14px;
 color:#FF7B82;
}
.themeFooterArea .zs-highlight-box h1 {
font-family:'Roboto', Tahoma, Geneva, sans-serif;
font-size:28px;
color:#FFFFFF;
}
.themeFooterArea .zs-highlight-box h2 {
font-family:'Roboto', Tahoma, Geneva, sans-serif;
font-size:24px;
color:#FFFFFF;
}
.themeFooterArea .zs-highlight-box h3 {
font-family:'Roboto', Tahoma, Geneva, sans-serif;
font-size:22px;
color:#FFFFFF;
}
.themeFooterArea .zs-highlight-box h4 {
font-family:'Roboto', Tahoma, Geneva, sans-serif;
font-size:20px;
color:#FFFFFF;
}
.themeFooterArea .zs-highlight-box h5 {
font-family:'Roboto', Tahoma, Geneva, sans-serif;
font-size:18px;
color:#FFFFFF;
}
.themeFooterArea .zs-highlight-box h6 {
font-family:'Roboto', Tahoma, Geneva, sans-serif;
font-size:16px;
color:#FFFFFF;
}
.themeFooterArea .zs-highlight-box a {
 text-decoration:none;
color:#FFFFFF;
}
.themeFooterArea .zs-highlight-box a:hover {
text-decoration:none;
color:#FFFFFF;
}
.themeFooterArea .zs-highlight-box th {
 font-family:'Roboto', Tahoma, Geneva, sans-serif;
 font-size:14px;
 color:#EEB0B0;
 background:#F0313B;
 border-width:1px;
 border-style:solid;
 border-color:#d22831;
 padding:10px;
    font-weight: normal;
}
.themeFooterArea .zs-highlight-box td {
 font-family:'Roboto', Tahoma, Geneva, sans-serif;
 font-size:14px;
 color:#FF7B82;
 background:transparent;
 border-width:1px;
 border-style:solid;
 border-color:#BB2B32;
 padding:10px;
}
/* -------------------------------- Text Highlight  AREA CSS -------------------------------- */
.themeFooterArea .zs-text-light-color {
color:#595757
}
.themeFooterArea .zs-text-highlight-color {
color:#D22831
}
.themeFooterArea .zs-highlight-box .zs-text-light-color {
color:#434343
}
.themeFooterArea .zs-highlight-box .zs-text-highlight-color {
color:#FFFFFF
}
/*--------------------- THEME FOOTER TABS ACCORDION AREA CSS ---------------------*/
.themeFooterArea .zs-tabs ul, .themeFooterArea .zs-highlight-box .zs-tabs ul {
    list-style: none;
    float: left;
    padding: 0px;
    width: 100%;
    margin: 0;
    border-bottom: 1px solid #383838;
    border-left: 1px solid #383838;
}
.themeFooterArea .zs-tabs ul li, .themeFooterArea .zs-highlight-box .zs-tabs ul li {
    margin: 0px;
    float: left;
    padding: 0px;
}
.themeFooterArea .zs-tabs ul li div, .themeFooterArea .zs-highlight-box .zs-tabs ul li div {
    background: #171717;
    padding: 0 25px;
    font-size: 14px;
    color: #999999;
    position: relative;
    margin: 0 0 -1px;
    line-height: 3;
    display: block;
    cursor: pointer;
    border-right: 1px solid #383838;
    border-top: 1px solid #383838;
    border-bottom: 1px solid #383838;
}
.themeFooterArea .zs-tabs ul li:hover div, .themeFooterArea .zs-highlight-box .zs-tabs ul li:hover div {
    background: #D22831;
    color: #ffffff;
}
.themeFooterArea .zs-tabs ul li.selected div, .themeFooterArea .zs-highlight-box .zs-tabs ul li.selected div {
    background: #2A2A2A;
    color: #D22831;
    border-bottom: 1px solid #2A2A2A;
}
.themeFooterArea .zs-tabs-accordion-content, .themeFooterArea .zs-highlight-box .zs-tabs-accordion-content {
    clear: both;
    border: 1px solid #383838;
    padding: 15px;
    display: none;
    color: #999999;
    border-top: 0px;
    background: #2A2A2A;
    margin-bottom: 3px;
    min-height: 70px;
    height: auto !important;
    height: 70px;
}
.themeFooterArea .zs-accordion, .themeFooterArea .zs-highlight-box .zs-accordion {
    background: #383838;
    color: #999999;
    padding: 12px 10px;
    cursor: pointer;
    border: 1px solid #383838;
    margin-bottom: 2px;
    display: none;
}
.themeFooterArea .zs-accordion.selected, .themeFooterArea .zs-highlight-box .zs-accordion.selected {
    background: #D22831;
    color: #FFFFFF;
    border: 0px;
    margin-bottom: 0;
}
/*---------------------------------- THEME FOOTER AREA HIGHLIGHT BOX TABS ACCORDION AREA CSS START ------------------------------------*/
.themeFooterArea .zs-highlight-box .zs-tabs-accordion-content h1, .themeFooterArea .zs-highlight-box .zs-tabs-accordion-content h2, .themeFooterArea .zs-highlight-box .zs-tabs-accordion-content h3, .themeFooterArea .zs-highlight-box .zs-tabs-accordion-content h4, .themeFooterArea .zs-highlight-box .zs-tabs-accordion-content h5, .themeFooterArea .zs-highlight-box .zs-tabs-accordion-content h6 {
    color: #d22831;
}
.themeFooterArea .zs-highlight-box .zs-tabs-accordion-content a, .themeFooterArea .zs-highlight-box .zs-tabs-accordion-content a:hover {
    color: #d22831;
}
.themeFooterArea .zs-highlight-box .zs-tabs-accordion-content hr {
    border-top: 1px solid #4B4B4B;
}
.themeFooterArea .zs-highlight-box .zs-tabs-accordion-content th {
    background: #393939;
    border-color: #222222;
    color: #707070;
}
.themeFooterArea .zs-highlight-box .zs-tabs-accordion-content td {
    background: transparent;
    border-color: #222222;
    color: #707070;
}
.themeFooterArea .zs-highlight-box .zs-tabs-accordion-content form li span input[type="text"], .themeFooterArea .zs-highlight-box .zs-tabs-accordion-content form li span textarea, .themeFooterArea .zs-highlight-box .zs-tabs-accordion-content form li span select {
    background: #303030;
    color: #707070;
    box-shadow: 1px 1px 0 #404040;
    -webkit-box-shadow: 1px 1px 0 #404040;
    -moz-box-shadow: 1px 1px 0 #404040;
    -o-box-shadow: 1px 1px 0 #404040;
}
/* -------------------------------- THEME FORM AREA CSS -------------------------------- */
form ul {
    margin: 0;
    padding: 0;
    list-style: none;
    list-style-image: none;
}
form li {
    overflow: hidden;
    padding: 10px 0 3px;
    margin: 0;
}
form ul li label, form ul li div {
    width: auto;
    float: none;
    padding: 8px 0;
}
form li div span {
    display: block;
    margin: 0 3px;
}
form li span input, form li span label {
    float: none;
    width: auto;
    margin: 5px 2px 0;
    font-weight: normal;
    padding: 5px 3px;
}
form li span input[type=text], form li span textarea, form li span select {
 font-family:'Roboto', Tahoma, Geneva, sans-serif;
 font-size:14px;
 color:#707070;
    width: 280px;
    background: #FBFBFB;
    border: 0 solid;
    float: left;
    padding: 6px;
    resize: none;
    margin: 0px;
    box-shadow: 1px 1px 0 0 #c8c8c8;
    -webkit-box-shadow: 1px 1px 0 0 #c8c8c8;
    -moz-box-shadow: 1px 1px 0 0 #c8c8c8;
    -o-box-shadow: 1px 1px 0 0 #c8c8c8;
}
form li span select {
    width: 293px;
}
form li span textarea {
    height: 120px;
    overflow: auto;
}
form .dateinvoker {
    background: url(images/datePickerIcn.png) 0 0 no-repeat;
    width: 16px;
    height: 15px;
    border: none;
    vertical-align: middle;
    margin-top: 10px;
    margin-left: 5px;
    outline: none;
    padding: 0px;
}
form li input[type=submit], form li input[type=reset], button {
 font-family:'Roboto', Tahoma, Geneva, sans-serif;
    font-size: 13px;
    color: #ffffff;
    border: 0 solid;
    text-transform: uppercase;
    background: #d22831;
    padding: 4px 25px;
    margin-right: 10px;
    cursor: pointer;
    font-weight: 300;
}
form li input[type=reset] {
    background: #0c0c0c;
}
/* -------------------------------- THEME  SLIDESHOW  AREA CSS -------------------------------- */
.zs-slideshow-right-arrow {
    background: url(images/zs-slideshow-right-arrow.png) left top no-repeat;
    cursor: pointer;
    height: 36px;
    left: auto;
    right: 10px;
    margin-top: 0;
    opacity: 0;
    position: absolute;
    top: auto;
    bottom: 10px;
    transition: opacity 500ms ease 0s;
    -webkit-transition: opacity 500ms ease 0s;
    -moz-transition: opacity 500ms ease 0s;
    -o-transition: opacity 500ms ease 0s;
    width: 35px;
    z-index: 150;
}
.zs-slideshow-left-arrow {
    background: url(images/zs-slideshow-left-arrow.png) left top no-repeat;
    cursor: pointer;
    height: 36px;
    right: 50px;
    left: auto;
    margin-top: 0px;
    opacity: 0;
    position: absolute;
    top: auto;
    bottom: 10px;
    transition: opacity 500ms ease 0s;
    -webkit-transition: opacity 500ms ease 0s;
    -moz-transition: opacity 500ms ease 0s;
    -o-transition: opacity 500ms ease 0s;
    width: 35px;
    z-index: 150;
}
.themeSlideshowOuterContainer {
    top: 10px;
    height: 16px;
    right: 10px;
    left: auto;
    opacity: 0;
    text-align: right;
    position: absolute;
    transition: opacity 500ms ease 0s;
    -webkit-transition: opacity 500ms ease 0s;
    -moz-transition: opacity 500ms ease 0s;
    -o-transition: opacity 500ms ease 0s;
    z-index: 150;
}
.themeSlideshowInnerContainer {
    background: transparent;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    padding: 0;
}
.zs-slideshow-control-active {
    background: url(images/zs-slideshow-control-active.png) no-repeat left top;
    cursor: pointer;
    display: inline-block;
    height: 12px;
    padding: 0 0 0 5px;
    width: 12px;
    margin: 0px;
}
.zs-slideshow-control {
    background: url(images/zs-slideshow-control.png) no-repeat left top;
    cursor: pointer;
    display: inline-block;
    height: 12px;
    margin: 0px;
    padding: 0 0 0 5px;
    width: 12px;
}
/* -------------------------------- THEME HIGLIGHT BOX AREA CSS -------------------------------- */
.zs-highlight-box {
background-color: #d22831;
 background-image: none;
 background-image: none, -moz-linear-gradient(top, transparent, transparent);
 background-image: none, -webkit-linear-gradient(top, transparent, transparent);
 background-image: none, -o-linear-gradient(top, transparent, transparent);
 background-position: top left;
 background-repeat: no-repeat;
 box-shadow: 0 0 5px 0px #000000, 0px 0px 0px 0 transparent inset;
 -moz-box-shadow: 0 0 5px 0px #000000, 0px 0px 0px 0 transparent inset;
 -webkit-box-shadow: 0 0 5px 0px #000000, 0px 0px 0px 0 transparent inset;
 -o-box-shadow: 0 0 5px 0px #000000, 0px 0px 0px 0 transparent inset;
 border-width: 0;
 border-style:none;
 border-color: transparent;
 border-radius: 0;
 -moz-border-radius:0;
 -webkit-border-radius:0;
 -o-border-radius:0;
 padding: 10px;
 margin: 5px;
    min-height: 200px;
font-family:'Roboto', Tahoma, Geneva, sans-serif;
 font-size:14px;
 color:#FF7B82;
}
.zs-highlight-box h1 {
font-family:'Roboto', Tahoma, Geneva, sans-serif;
font-size:28px;
color:#FFFFFF;
}
.zs-highlight-box h2 {
font-family:'Roboto', Tahoma, Geneva, sans-serif;
font-size:24px;
color:#FFFFFF;
}
.zs-highlight-box h3 {
font-family:'Roboto', Tahoma, Geneva, sans-serif;
font-size:22px;
color:#FFFFFF;
}
.zs-highlight-box h4 {
font-family:'Roboto', Tahoma, Geneva, sans-serif;
font-size:20px;
color:#FFFFFF;
}
.zs-highlight-box h5 {
font-family:'Roboto', Tahoma, Geneva, sans-serif;
font-size:18px;
color:#FFFFFF;
}
.zs-highlight-box h6 {
font-family:'Roboto', Tahoma, Geneva, sans-serif;
font-size:16px;
color:#FFFFFF;
}
.zs-highlight-box a {
 text-decoration:none;
color:#FFFFFF;
}
.zs-highlight-box a:hover {
text-decoration:none;
color:#FFFFFF;
}
.zs-highlight-box hr {
    border-top-color: #FA4751;
}
.zs-highlight-box th {
 font-family:'Roboto', Tahoma, Geneva, sans-serif;
 font-size:14px;
 color:#EEB0B0;
 background:#F0313B;
 border-width:1px;
 border-style:solid;
 border-color:#d22831;
 padding:10px;
    font-weight: normal;
}
.zs-highlight-box td {
 font-family:'Roboto', Tahoma, Geneva, sans-serif;
 font-size:14px;
 color:#FF7B82;
 background:transparent;
 border-width:1px;
 border-style:solid;
 border-color:#BB2B32;
 padding:10px;
}
.zs-highlight-box form li input[type=submit], .zs-highlight-box button {
    background-color: #FF2A35;
}
.zs-highlight-box form li span input[type=text], .zs-highlight-box form li span textarea, .zs-highlight-box form li span select {
    background: #DF313B;
    box-shadow: 1px 1px 0 0 #EB4952;
    -webkit-box-shadow: 1px 1px 0 0 #EB4952;
    -moz-box-shadow: 1px 1px 0 0 #EB4952;
    -o-box-shadow: 1px 1px 0 0 #EB4952;
 color:#FF7B82;
}
.zs-highlight-box h3.newsletter-heading {
    color:#FFFFFF;
}
.zs-highlight-box .newsletter-desc {
    color:#FFAEB3;
}
.zs-highlight-box button.newsletter-button {
    background:#FF2A35;
}
.zs-highlight-box .newsletter-input-field {
    background:#DF313B;
    border-color:#EB4952;
    color:#FFAEB3;
}
.zs-highlight-box .newsletter-form input[type="text"]::-moz-placeholder {
    color:#FFAEB3;
}
.zs-highlight-box .newsletter-form  input[type="text"]::-webkit-input-placeholder{
    color:#FFAEB3;
}
.zs-highlight-box .newsletter-form  input[type="text"]:-ms-input-placeholder {
    color:#FFAEB3;
}
/* -------------------------------- Text Highlight  AREA CSS -------------------------------- */
.zs-text-light-color {
color:#B1B1B1
}
.zs-text-highlight-color {
color:#000000
}
.zs-highlight-box .zs-text-light-color {
color:#B1B1B1
}
.zs-highlight-box .zs-text-highlight-color {
color:#FFFFFF
}
/*-------------------- THEME TABS AND ACCORDION AREA CSS START --------------------- */
.zs-tabs ul, .zs-highlight-box .zs-tabs ul {
    list-style: none;
    float: left;
    padding: 0px;
    width: 100%;
    margin: 0;
    border-bottom: 1px solid #D2D2D2;
    border-left: 1px solid #D2D2D2;
}
.zs-tabs ul li, .zs-highlight-box .zs-tabs ul li {
    margin: 0px;
    float: left;
    padding: 0px;
}
.zs-tabs ul li div, .zs-highlight-box .zs-tabs ul li div {
    background: #E4E4E4;
    padding: 0 25px;
    color: #707070;
    position: relative;
    margin: 0 0 -1px;
    line-height: 3;
    display: block;
    cursor: pointer;
    border-right: 1px solid #D2D2D2;
    border-top: 1px solid #D2D2D2;
    border-bottom: 1px solid #D2D2D2;
}
.zs-tabs ul li:hover div, .zs-highlight-box .zs-tabs ul li:hover div {
    background: #D22831;
    color: #ffffff;
}
.zs-tabs ul li.selected div, .zs-highlight-box .zs-tabs ul li.selected div {
    background: #ffffff;
    color: #D22831;
    border-bottom: 1px solid #ffffff;
}
.zs-tabs-accordion-content, .zs-highlight-box .zs-tabs-accordion-content {
    clear: both;
    border: 1px solid #D2D2D2;
    padding: 15px;
    display: none;
    color: #707070;
    border-top: 0px;
    background: #FFFFFF;
    margin-bottom: 3px;
    min-height: 70px;
    height: auto !important;
    height: 70px;
}
.zs-accordion, .zs-highlight-box .zs-accordion {
    background: #E4E4E4;
    color: #707070;
    padding: 12px 10px;
    cursor: pointer;
    border: 1px solid #D2D2D2;
    margin-bottom: 2px;
    display: none;
}
.zs-accordion.selected, .zs-highlight-box .zs-accordion.selected {
    background: #D22831;
    color: #FFFFFF;
    border: 0px;
    margin-bottom: 0;
}
/*---------------------------------- THEME HIGHLIGHT BOX TABS ACCORDION AREA CSS START ------------------------------------*/
.zs-highlight-box .zs-tabs-accordion-content h1, .zs-highlight-box .zs-tabs-accordion-content h2, .zs-highlight-box .zs-tabs-accordion-content h3, .zs-highlight-box .zs-tabs-accordion-content h4, .zs-highlight-box .zs-tabs-accordion-content h5, .zs-highlight-box .zs-tabs-accordion-content h6 {
    color: #000000;
}
.zs-highlight-box .zs-tabs-accordion-content a, .zs-highlight-box .zs-tabs-accordion-content a:hover {
    color: #d22831;
}
.zs-highlight-box .zs-tabs-accordion-content hr {
    border-top: 1px solid #DADADA;
}
.zs-highlight-box .zs-tabs-accordion-content th {
    background: #EEEEEE;
    border-color: #e6e5e5;
    color: #707070;
}
.zs-highlight-box .zs-tabs-accordion-content td {
    background: transparent;
    border-color: #e6e5e5;
    color: #707070;
}
.zs-highlight-box .zs-tabs-accordion-content form li span input[type="text"], .zs-highlight-box .zs-tabs-accordion-content form li span textarea, .zs-highlight-box .zs-tabs-accordion-content form li span select {
    background: #f5f5f5;
    color: #707070;
    box-shadow: 1px 1px 0 #ededed;
    -webkit-box-shadow: 1px 1px 0 #ededed;
    -moz-box-shadow: 1px 1px 0 #ededed;
    -o-box-shadow: 1px 1px 0 #ededed;
}
.zs-highlight-box .zs-tabs-accordion-content form li input[type="submit"] {
    border-color: #fd7f34;
    color: #fd7f34;
}
.zs-highlight-box .zs-tabs-accordion-content form li input[type="submit"] {
    background: #d22831;
}
/***************************** START SOCIAL ICONS SPRITE *****************************/
.themeSocialiconContainer {
    float: left;
    margin-left: 10px;
}
.zs-socialicon-email, .zs-socialicon-facebook, .zs-socialicon-flickr, .zs-socialicon-googleplus, .zs-socialicon-linkedin, .zs-socialicon-pinterest, .zs-socialicon-rss, .zs-socialicon-twitter, .zs-socialicon-youtube, .zs-socialicon-medium, .zs-socialicon-instagram {
    background: url('images/zs-socialicon-sprite.png') no-repeat top left;
    width: 18px;
    height: 18px;
    display: inline-block;
    margin: 0 3px;
}
.zs-socialicon-email {
    background-position: 0 -0px;
}
.zs-socialicon-facebook {
    background-position: 0 -18px;
}
.zs-socialicon-flickr {
    background-position: 0 -36px;
}
.zs-socialicon-googleplus {
    background-position: 0 -54px;
}
.zs-socialicon-linkedin {
    background-position: 0 -72px;
}
.zs-socialicon-pinterest {
    background-position: 0 -90px;
}
.zs-socialicon-rss {
    background-position: 0 -108px;
}
.zs-socialicon-twitter {
    background-position: 0 -126px;
}
.zs-socialicon-youtube {
    background-position: 0 -144px;
}
.zs-socialicon-medium {
    background-position: 0 -162px;
}
.zs-socialicon-instagram {
    background-position: 0 -180px;
}
/*****************************   END: SOCIAL ICONS SPRITE *****************************/


.newsletter-container {
background: transparent;
    padding: 10px
}
h3.newsletter-heading {
    margin-bottom: 10px;
font-family: 'Roboto', Tahoma, Geneva, sans-serif;
font-size: 26px;
color: #000000;
}
.newsletter-desc {
    margin-bottom: 25px;
font-family: 'Roboto', Tahoma, Geneva, sans-serif;
font-size: 14px;
color: #707070;
}
.newsletter-input-field {
background: #FBFBFB;
border-width: 0 1px 1px 0px;
border-color: #C8C8C8;
color:#707070;
font-family: 'Roboto', Tahoma, Geneva, sans-serif;
font-size: 14px;
    border-style: solid;
    box-sizing: border-box;
    margin-bottom: 10px;
    margin-right: 5px;
    width: 200px;
    padding: 10px;
    box-sizing: border-box;
    vertical-align:top;
}
button.newsletter-button {
background: #D22831;
border-width: 0;
border-color: transparent;
color:#ffffff;
font-family: 'Roboto', Tahoma, Geneva, sans-serif;
font-size: 14px;
    border-style: solid;
    cursor: pointer;
    padding: 10px;
    font-weight: 400;
    box-sizing: border-box;
    margin-right: 0;
}
.newsletter-layout-1 .newsletter-form, .newsletter-layout-2 .newsletter-form {
    margin: 0 auto;
    text-align: center;
}
.newsletter-layout-3 .newsletter-form {
    width: 200px;
    margin: 0 auto;
    text-align: right;
}
.newsletter-layout-3 button {
    text-align: right;
}
.newsletter-form input[type="text"]::-moz-placeholder {
    color:#707070;
  font-size:90%;
  line-height:normal;
}
.newsletter-form  input[type="text"]::-webkit-input-placeholder{
    color:#707070;
  font-size:85%;
  line-height:normal;
}
.newsletter-form  input[type="text"]:-ms-input-placeholder {
    color:#707070;
  font-size:90%;
  line-height:normal;
}
