body
{
	padding: 0;
	margin: 0;
	font: 76% tahoma, verdana, sans-serif;
	background: #e0e0e0;
	color: #303030;
}

a
{
	text-decoration: none;
	color: #286ea0;
}

a:hover
{
	text-decoration: underline;
}

 .floatleft
{
float: left;
margin: 0 10px 0 0;
}
#toptabs
{
	margin: 10px auto -13px auto;
	font-size: 0.8em;
	width: 760px;
}

#toptabs p
{
	text-align: right;
	color: #808080;
}

.toptab
{
	padding: 3px 5px 3px 5px;
	margin: 0 0 0 4px;
	text-decoration: none;
	background: #f0f0f0 url(../images/corner2.gif) top right no-repeat;
	color: #808080;
	border-bottom: 1px solid #e0e0e0;
}

.toptab:hover
{
	background: #fafafa url(../images/corner2.gif) top right no-repeat;
	border-bottom: 1px solid #eaeaea;
	color: #505050;
	text-decoration: none;
}

.activetoptab
{
	padding: 3px 5px 3px 5px;
	margin: 0 0 0 4px;
	color: #505050;
	text-decoration: none;
	background: #ffffff url(../images/corner2.gif) top right no-repeat;
	border-bottom: 1px solid #ffffff;
}

.activetoptab:hover
{
	text-decoration: none;
}

#container
{
	margin: 0 auto 15px auto;
	width: 760px;
	padding: 2px 2px 2px 2px;
	background: #ffffff;
}

#logo
{
	margin: 15px 0 0 0;
}

#logo h1 a
{
	color: #303030;
}

#logo h1 a:hover
{
	text-decoration: none;
}

#navitabs
{
	clear: both;
        padding: 5px 0 0 0;
}

.navitab
{
	padding: 4px 8px 4px 8px;
	margin: 0 0 4px 0;
	text-decoration: none;
	letter-spacing: 1px;
	background: #e0e0e0 url(../images/corner.gif) top right no-repeat;
	border-bottom: 1px solid #ffffff;
	border-left: 1px solid #ffffff;


}

.navitab:hover
{
	text-decoration: none;
	background: #d0d0d0 url(../images/corner.gif) top right no-repeat;
}

.activenavitab
{
	padding: 4px 8px 5px 8px;
	color: #ffffff;
	margin: 0 0 5px 0;
	text-decoration: none;
	background: #505050 url(../images/corner.gif) top right no-repeat;
}

.activenavitab:hover
{
	text-decoration: none;
}

#gpost
{
    background-color: #505050;
    padding: 18px 0 0 15px;
    margin: 1px 0 0 0;
}


#gpost p
{
    color:#ffffff;
        width: 550px;
    font-size: 1em;
    line-height: 1.3em;
    padding: 0 0 0 0;
}

#desc
{
	height: 200px;
	color: #ffffff;
	padding: 0;
	background: #505050 url(../images/front.gif) top right no-repeat;
	clear: both;
	margin: 5px 0 0 0;
}

#desc p
{
	width: 440px;
	font-size: 1em;
	line-height: 1.3em;
	padding: 0 0 0 15px;
}

#besc
{
	height: 200px;
	color: #000;
	padding: 0;
	background: #ffffff;
	clear: both;
	margin: 1px 0 0 0;
}

#besc p
{
	
	font-size: 1em;
        font-weight: bolder;
	line-height: 1.3em;
	padding: 0px 0 0 0px;
}

#resc
{
	height: 200px;
	color: #000;
	padding: 0;
	background: #ffffff;
	clear: both;
	margin: 1px 0 0 0;
}

#resc p
{
	
	font-size: 1em;
        font-weight: bolder;
	line-height: 1.3em;
	padding: 0px 0 0 0px;
}

#tsm
{
	color: #000;
	padding: 0;
	background: #ffffff;
	clear: both;
	margin: 1px 0 0 0;
}

#tsm p
{
	font-size: 1em;
	line-height: 1.5em;
	padding: 14px 0px 0px 14px;
}

#rescb
{

	height: 300px;
	color: #000;
	padding: 0;
	background: #ffffff;
	clear: both;
	margin: 1px 0 0 0;
}

#rescb p
{
	width: 150px;
	font-size: 1em;
        font-weight: bolder;
	line-height: 1.3em;

	padding: 18px 0 0 440px;
}

#ascb
{
        
	
	color: #000;
	padding: 0;
	background: #ffffff;
	clear: both;
	margin: 1px 0 0 0;
}

#ascb p
{
	
	font-size: 1em;
        font-weight: bold;
	line-height: 1.3em;
        text-align:center;
	padding: 18px 0 0 10px;
}

#tesc
{
	height: 200px;
	color: #fff;
	padding: 0;
	background: #d1BC31;
	clear: both;
	margin: 1px 0 0 0;
}

#tesc p
{
	width: 295px;
	font-size: 1em;
        font-weight: bolder;
	line-height: 1.3em;
	padding: 0 0 0 20px;
}

#desc h2
{
	padding: 15px 15px 0 15px;
	color: #ffffff;
}

#post
{
	padding: 5px 0 0 15px;
}

#desc a
{
	color: #ffffff;
	text-decoration: underline;
}

#shell
{
	float: right;
}

#bell
{
	float: left;
        width:300px;
        overflow:hidden;
}

#epost
{
	
        width:625px;
}

#cshell
{
        width: 275px;
        float: right;
}

#wshell
{
  
       padding: 1px 0 0 15px;
}

#wshell p
{
       font-size: 1em;
       line-height: 1.3em;
       padding: 10px 15px 0 15px;
}

#fatshell
{
       background:#000000;
       color: #ffffff;
       padding: 1px 0 0 15px;
}

#fatshell p
{
       font-size: 1em;
       line-height: 1.3em;
       color: #ffffff;
       padding: 10px 15px 0 15px;
}


#main
{
	width: 590px;
	float: left;
	padding: 0 15px 0 0px;
	border-right: 1px solid #d0d0d0;
}

.block
{
	background: #f0f0f0;
	padding: 15px;
}

#sidebar
{
	width: 140px;
	float: right;
}

#sidebar p
{
	font-size: 0.9em;
	line-height: 1.3em;
	margin: 0 0 12px 0;
}

.linklist a
{
	text-align: left;
	display: block;
	width: 120px;
	background: #f0f0f0 url(../images/corner.gif) top right no-repeat;
	padding: 3px 4px 3px 8px;
	margin: 5px 10px 5px 0;
}

.linklist a:hover
{
	background: #e0e0e0 url(../images/corner.gif) top right no-repeat;
	text-decoration: none;
}

.linklist3 a
{
	text-align: left;
	display: block;
	width: 100px;
	background: #f0f0f0 url(../images/corner.gif) top right no-repeat;
	padding: 3px 4px 3px 28px;
	margin: 5px 10px 5px 0;
}

.linklist3 a:hover
{
	background: #e0e0e0 url(../images/corner.gif) top right no-repeat;
	text-decoration: none;
}

.linklist2 a
{
	text-align: left;
	display: block;
	width: 250px;
	background: #f0f0f0 url(../images/corner.gif) top right no-repeat;
	padding: 3px 4px 3px 8px;
	margin: 5px 10px 5px 0;
}

.linklist2 a:hover
{
	background: #d0d0d0 url(../images/corner.gif) top right no-repeat;
	text-decoration: none;
}

#footer
{
	clear: both;
	background: #fafafa;
	color: #808080;
	font-size: 0.9em;
	padding: 8px 0 8px 0;
	border-top: 1px solid #d0d0d0;
	border-bottom: 1px solid #d0d0d0;
	text-align: center;
}

#footer a
{
	color: #808080;
}

h1
{
	margin: 0 0 20px 0;

	font-size: 2.1em;
	font-weight: normal;
}

h2
{
	margin: 0 0 20px 0;
	font-size: 1.6em;
	font-weight: normal;
}

h3
{
	margin: 20px 0 10px 0;
	font-size: 1.4em;
	font-weight: normal;
}
h6
{
	float: left;
        width: 300px;
        margin: 20px 0 10px 0;
	font-size: 1.4em;
	font-weight: normal;
        color: #286ea0;
}
h4
{
	margin: 20px 0 10px 0;
	font-size: 1.0em;
	font-weight: normal;
}

h5
{
	margin: 20px 0 10px 0;
	font-size: 1.2em;
	font-weight: normal;
        color: #F05D00;
}

h7
{
	margin: 20px 0 10px 0;
	font-size: 1.2em;
	font-weight: normal;
        color: #ffffff;
}

h8
{
        font-size: 1.2em;
        font-weight: normal;
	line-height: 1.4em;
        text-align:left;
	
}

h9
{
        font-size: 1.1em;
        font-weight: bolder;
	line-height: 1.4em;
        text-align:left;
	
}

p
{
	margin: 0 0 15px 0;
	line-height: 1.5em;
	text-align: left;
}

.etext
{
        margin: 0 0 15px 0;
        line-height: 1.5em;
        font-size:1.0 em;
	text-align: left;
        font-weight:bold;
}

.eitext
{
	margin: 0 0 15px 0;
	line-height: 1.5em;
        font-size:1.0 em;
        font-style: italic;
        color: #A06E28;
	text-align: left;
        font-weight:bold;
}


.fptext
{
	margin: 20px 0 15px 0;
	line-height: 1.5em;
        font-size:1.0 em;
	text-align: left;
        font-weight:bold;
}

.itext
{
	margin: 100px 0 15px 0;
	line-height: 1.5em;
        font-size:1.0 em;
        font-style: italic;
        color: #A06E28;
	text-align: left;
        font-weight:bold;
}


.right
{
	text-align: right;
}

.rightrm
{       margin: -14px 0 0 0;
	line-height: 1em;
	text-align: right;
}

a img
{
	border: 0;
}

.photo
{
	padding: 5px;
	display: block;
	margin: 20px 20px 30px 0px;
	background-color: #f0f0f0;
}

.photo2
{
	padding: 5px;
	display: block;
	margin: 10px 10px 10px 10px;
	background-color: #f0f0f0;
}

.hide
{
	display: none;
}

#ap
{
	margin: 0;
        padding-right: 20px; 
	width: 120px;
	height: 60px;
	float: right;
	position: relative;
        overflow:hidden;
}

#ap ul
{
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-family: Gill Sans, Trebuchet, arial, san-serif;
	font-size: 16px;
	line-height: 20px;
	color: #666666;
}

#ap li
{
	margin: 0 0 0 0;
	width: 120px;
}

#ap a
{
	display: block;
	margin: 0;
	padding: 60px 0 0 0;
	overflow: hidden;
	height: 0px !important;
	height : 120px;
}

#ap a:hover

{
	background-position: 0 -60px;
}

#ap a:active, #ap a.selected
{
	background-position: 0 -120px;
}

#apbut a
{
	width: 120px;
	background: url(http://aboutpd.org/images/logres2160.gif) top left no-repeat;
}

.calendar th {
        text-align: center;
}

.calendar th a {
	text-decoration: none;
}

.calendar th a:hover {
	border-bottom: 0;
}

.calendar td {
	vertical-align: top;
	width: 14%;
	height: 5em;
	border: 1px solid silver;
	background-color: #F1F1F1;
	padding-left: 0.2em;
}

.calendar td:hover {
	background-color: #A06E28;
}

.calendar .permalink {
	display: block;
	margin-bottom: 0.1em;
	text-align: left;
        line-height: 1em;
}
.calendar td#today {
	color: inherit;
	background: #E7E7EB;
}
.calendar td#today div.date {
	color: #FFF;
}

.calendar td.invalidDay {
	background-color: #BABABA;
}
.calendar div.date {
	text-align: right;
	font-weight: bold;
	margin-right: 0.25em;
	color: #666;
}

.calendar .hasarticle {
	background-color: #FFF;
}

.authorcon250 {
	
	margin: 0 0 0 265px;
}

#cdcover {
	width: 250px;
        margin-left: 15px;
	float: left;
}

#edimg {
	width: 215px;
        margin-left: 15px;
	float: left;
}

#simg {
	width: 240px;
        margin-left: 15px;
	float: left;
}

#text-size {
	font-size: 11px;
	margin-top: 7px;
	text-align: left;
}

#text-size ul, #text-size li {
	display: inline;
	list-style: none;
	margin: 0;
	padding: 0;
}

#text-size span.label {
	margin-right: 5px;
}

#text-size a {
	font-weight: bold;
}

#text-size .current a {
	color: #000;
	cursor: text;
	text-decoration: none;
}

#text-size li li {
	background: url("/images/border-list-item.gif") no-repeat;
	line-height: 1em;
	padding: 0 4px 2px;
	padding-left: 4px;
	margin-right: 1px;
}

#text-size li#txt-small {
	background: none;
	padding-left: 0;
}

#text-size li#txt-medium {
	background-position: 0 4px;
	font-size: 14px;
}

#text-size li#txt-large {
	background-position: 0 5px;
	font-size: 16px;
	margin-right: 0;
}