.copy {
	FONT-SIZE: 9pt; COLOR: #999999; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.highlight {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #999999; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.footer {
	FONT-SIZE: 12px; COLOR: #cccccc; FONT-FAMILY: Arial, Helvetica, sans-serif
}
A:link {
	COLOR: #cccccc
}
A:active {
	COLOR: #cccccc; TEXT-DECORATION: none
}
A:visited {
	COLOR: #cccccc
}
.maillistborder {
	BORDER-RIGHT: #333333 1px solid; BORDER-TOP: #333333 1px solid; BORDER-LEFT: #333333 1px solid; BORDER-BOTTOM: #333333 1px solid
}
.formfield {
	FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: verdana, arial, sans-serif; BACKGROUND-COLOR: #cccccc
}
DIV.smallcopy {
	FONT-SIZE: 8pt; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif
}
A.smallcopy:link {
	FONT-SIZE: 8pt; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif
}
A.smallcopy:active {
	FONT-SIZE: 8pt; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif
}
A.smallcopy:visited {
	FONT-SIZE: 8pt; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif
}
A.smallcopy:hover {
	FONT-SIZE: 8pt; COLOR: #18b0e0; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.normal_text {
	COLOR: #cccccc
}
#entrytext {
	COLOR: #cccccc
}
