@charset "ISO-8859-1";

/* 2013-04-23 - Humanities Specific Styles */

body div#wrapper div#sidebar div#viewbook {
	margin: 20px auto;
	width: 235px;
	height: 182px;
	background-image: url('/programs/Humanities/viewbook/201302/cover-underlay_sm.png');
	background-repeat: no-repeat;
	clear: both;
	border-left: 2px solid #000;
	border-right-width: 3px;
	border-right-style: solid;
	/* Fall Back Color for IE 8 and lower */
	background-color: rgb(204, 48, 36);
	border-right-color: rgb(198, 206, 221);
	/* Everyone Else */
	background-color: rgb(204, 48, 36);
	border-radius: .2em 3em 3em .2em;
	box-shadow: 2px 2px 2px rgb(191, 191, 191);
	border-right-color: rgb(198, 206, 221);
}

body div#wrapper div#sidebar div#viewbook a:link,
div#viewbook a:visited {
	display: block;
	width: 235px;
	height: 182px;
	text-decoration: none;
	text-indent: -9999em;
	background: url('/programs/Humanities/viewbook/201302/cover-overlay_sm.png') no-repeat;
	color: rgb(255, 255, 255);
	border: 0;
	border-radius: .2em 3em 3em .2em;
}

body div#wrapper div#sidebar div#viewbook:hover,
div#viewbook:focus {
	background-image: url('/programs/Humanities/viewbook/201302/cover-underlay2_sm.png');
	background-repeat: no-repeat;
	/* Fall Back Color for IE 8 and lower */
	background-color: rgb(240, 192, 189);
	/* Everyone Else */
	background-color: rgb(240, 192, 189);
}


/* -- Headings -- */

div#sidebar h2 {
	text-align: center;
	font-family: 'Marcellus SC', serif;
}

div#content h2 {
	font-family: 'Marcellus SC', serif;
	background-image: url('http://cavs.darton.edu/images/11/light-gradient.png');
	background-repeat: repeat-x;
	background-position: left -85px;
	color: rgb(255, 255, 255);
	font-size: 1.9em;
	text-align: center;
	padding: 5px;
	border: 0;
	margin: 5px 20px;
	background-color: rgb(153, 0, 0);
	text-shadow: 2px 2px 0 rgb(0, 0, 0);
	border-radius: 2em;
	box-shadow: 2px 2px 2px rgb(140, 137, 138);
}

div#content h3 {
	font-family: 'Marcellus SC', serif;
	text-align: center;
}

div#content h4.bar {
	font-family: 'Marcellus SC', serif;
	background-color: rgb(153, 0, 0);
	color: rgb(255, 255, 255);
	text-align: center;
	text-shadow: 1px 1px rgb(0, 0, 0);
	font-weight: normal;
	padding: 5px 10px;
}


/******* Writing Center Specific 2013-05-06 *******/

#WC #submenu h3#back {
	background-image: url(/programs/Humanities/writing/images/return3.png);
	font-weight: bold;
	font-style: italic;
	padding-left: 23px;
}

#WC #submenu div.subHead {
	margin: 3px 6px;
	border-width: 25px 1px 1px 1px;
	border-style: solid;
	/* Fall Back Color for IE 8 and lower */
	border-color: rgb(91, 85, 73);
	background: rgb(235, 233, 229);
	/* Everyone Else */
	border-color: rgb(91, 85, 73);
	border-radius: .5em;
	box-shadow: 1px 1px 1px rgb(191, 191, 191);
	background: rgb(235, 233, 231);
}

#WC #submenu div.subHead a:link,
#WC #submenu div.subHead a:visited {
	padding: 2px 5px;
	display: block;
	margin-right: 5px;
	border-width: 1px;
	border-style: solid;
	/* Fall Back Color for IE 8 and lower */
	border-color: rgb(235, 233, 229);
	/* Everyone Else */
	border-color: rgba(176, 167, 150, 0);
	border-radius: .5em;
}

#WC #submenu div.subHead a:hover,
#WC #submenu div.subHead a:focus {
	border-width: 1px;
	border-style: solid;
	/* Fall Back Color for IE 8 and lower */
	border-color: rgb(91, 85, 73);
	background-color: rgb(215, 211, 202);
	/* Everyone Else */
	border-color: rgb(91, 85, 73);
	background-color: rgb(215, 211, 202);
	box-shadow: 1px 1px 2px rgb(203, 200, 194);
}

#WC #submenu div.subHead h2 {
	border: 0;
	background: none;
	margin: 0px;
	margin-top: -24px;
	font-weight: bold;
	color: rgb(255, 255, 255);
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	padding: 5px 5px 10px 5px;
	text-align: center;
	text-shadow: 1px 1px rgb(0, 0, 0);
	background-color: rgb(91, 85, 73);
	border-radius: 5em;
	padding-bottom: 0px;
	margin-bottom: 10px;
}

#WC #submenu div.subHead h3 {
	background-image: none;
	padding-left: 5px;
}

#WC #submenu div.subHead h3.plus,
#WC #submenu div.subHead h3.minus {
	padding-left: 20px;
}

#WC #submenu div.subHead h3.minus {
	background-image: url('/programs/Humanities/writing/images/minus12_rw.png');
	background-repeat: no-repeat;
	background-position: 2px 0px;
}

#WC #submenu div.subHead h3.plus {
	background-image: url('/programs/Humanities/writing/images/plus12_rw.png');
	background-repeat: no-repeat;
	background-position: 2px 0px;
}

#WC #submenu div.subHead ul {
	border-width: 1px;
	border-style: solid;
	/* Fall Back Color for IE 8 and lower */
	border-color: rgb(47, 35, 12);
	color: rgb(47, 35, 12);
	background: rgb(211, 208, 201);
	/* Everyone Else */
	border-radius: .5em;
	box-shadow: 1px 1px 2px rgb(191, 191, 191);
	border-color: rgb(47, 35, 12);
	color: rgb(91, 85, 73);
	background: rgb(235, 233, 231);
}

#WC #submenu div.subHead ul li {
	color: rgb(47, 35, 12);
	color: rgb(91, 85, 73);
}

#WC #submenu div.subHead ul li a:link,
#WC #submenu div.subHead ul li a:visited {
	color: rgb(47, 35, 12);
	border-color: rgb(211, 208, 201);
}

#WC #submenu div.subHead ul li a:hover,
#WC #submenu div.subHead ul li a:focus {
	border-color: rgb(91, 85, 73);
	border-color: rgb(91, 85, 73);
}

div#WC_Homepage .now {
	font-size: 1.2em;
	padding: .5em;
	background-color: rgb(255, 255, 204);
	text-align: center;
	margin: 5px auto;
	width: 450px;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(221, 127, 127);
	/* Fall Back Color for IE 8 and lower */
	border-color: rgb(221, 127, 127);
	/* Everyone Else */
	/* Special for Higher End Browsers */
	box-shadow: 0 2px 2px rgba(0, 0, 0, .4);
	border-radius: 1em;
}

div#WC_Homepage .teachers a:link,
div#WC_Homepage .teachers a:visited,
div#WC_Homepage .guides a:link,
div#WC_Homepage .guides a:visited {
	display: block;
	font-size: 1.2em;
	padding: .5em;
	text-decoration: none;
	font-family: 'Marcellus SC', serif;
	font-weight: bold;
	margin: 5px auto;
	width: 450px;
	text-align: center;
	background-image: url('http://cavs.darton.edu/images/11/drk-gradient.png');
	background-repeat: repeat-x;
	background-position: left -105px;
	color: rgb(0, 0, 255);
	background-color: rgb(255, 255, 204);
	border-width: 1px;
	border-style: solid;
	border-color: rgb(221, 127, 127);
	/* Fall Back Color for IE 8 and lower */
	border-color: rgb(221, 127, 127);
	/* Everyone Else */
	/* Special for Higher End Browsers */
	border-radius: 1em;
	box-shadow: 0 2px 2px rgba(0, 0, 0, .4);
	text-shadow: 1px 1px 2px rgb(191, 191, 191);
}

div#WC_Homepage .guides a:link em,
div#WC_Homepage .guides a:visited em {
	font-weight: normal;
	color: #000;
}

div#WC_Homepage .teachers a:hover,
div#WC_Homepage .teachers a:focus,
div#WC_Homepage .guides a:hover,
div#WC_Homepage .guides a:focus {
	background-color: rgb(0, 0, 255);
	color: rgb(255, 255, 255);
	border-color: rgb(0, 0, 153);
}

div#WC_Homepage .guides a:hover em,
div#WC_Homepage .guides a:focus em {
	color: rgb(255, 255, 255);
}

#content div#WC_Homepage h2 {
	font-family: 'Marcellus SC', serif;
	background-image: url('http://cavs.darton.edu/images/11/light-gradient.png');
	background-color: rgb(153, 0, 0);
	background-repeat: repeat-x;
	background-position: left -85px;
	color: rgb(255, 255, 255);
	font-size: 1.9em;
	text-align: center;
	padding: 5px;
	border: 0;
	margin: 5px 20px;
	/* Special for Higher End Browsers */
	border-radius: 2em;
	box-shadow: 2px 2px 2px rgb(140, 137, 138);
	text-shadow: 2px 2px 0 rgb(0, 0, 0);
}

#content div#WC_Homepage div#deptInfo {
	display: block;
	margin: 5px;
	padding: 0 20px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 0px\9;
	border-bottom-color: rgb(255, 255, 255);
	/* Fall Back Color for IE 8 and lower */
	border-bottom-color: rgba(0, 0, 0, .15);
	/* Everyone Else */
}

#content div#WC_Homepage div#deptInfo p {
	/* Fall Back Color for IE 8 and lower */
	background-color: rgb(235, 233, 229);
	/* Everyone Else */
	background-color: rgb(235, 233, 231);
	border-radius: 1em;
	box-shadow: 0 2px 2px rgb(191, 191, 191);
}

#content div#WC_Homepage div#deptInfo p#contact {
	/* Shared */
	display: inline-block;
	width: 260px;
	vertical-align: top;
	padding: 5px 10px;
	margin-left: 10px;
	margin-top: 0px;
	font-size: 1.2em;
	line-height: 1.75em;
	height: 75px;
	border-width: 1px;
	border-style: solid;
	/* Fall Back Color for IE 8 and lower */
	border-color: rgb(215, 211, 202);
	*float: left;
	/* IE 7 */
	/* Everyone Else */
	border-color: rgb(215, 211, 202);
}

#content div#WC_Homepage div#deptInfo p#contact strong {
	display: inline-block;
	width: 100px;
}

#content div#WC_Homepage div#deptInfo p.hours {
	display: inline-block;
	width: 260px;
	margin-left: 10px;
	vertical-align: top;
	padding: 5px 10px;
	border-width: 1px;
	border-style: solid;
	/* Fall Back Color for IE 8 and lower */
	border-color: rgb(215, 211, 202);
	*float: left;
	/* IE 7 */
	/* Everyone Else */
	border-color: rgb(215, 211, 202);
}

#content div#WC_Homepage div#deptInfo p em {
	display: block;
	text-align: center;
	font-weight: bold;
	margin: 0px 10px -20px 10px;
	font-family: 'Marcellus SC', serif;
	font-style: normal;
	/* Fall Back Color for IE 8 and lower */
	background-color: rgb(215, 211, 202);
	/* Everyone Else */
	background-color: rgb(215, 211, 202);
	border-radius: 1em;
	box-shadow: 1px 1px 2px rgb(140, 137, 138);
}

#content div#WC_Homepage div#deptInfo p.hours strong {
	display: inline-block;
	width: 140px;
	margin: 5px;
}

#content div#WC_Homepage div#deptInfo p#OWC {
	font-family: 'Marcellus SC', serif;
	height: 75px;
	margin-top: 0px;
	display: inline-block;
	width: 260px;
	vertical-align: top;
	padding: 2px 10px 8px 10px;
	text-align: center;
	margin-left: 10px;
	background-image: url('http://cavs.darton.edu/images/11/light-gradient.png');
	background-color: rgb(60, 40, 20);
	background-repeat: repeat-x;
	background-position: left -85px;
	color: rgb(255, 255, 255);
	border-width: 1px;
	border-style: solid;
	/* Fall Back Color for IE 8 and lower */
	border-color: rgb(215, 211, 202);
	*float: left;
	/* IE 7 */
	/* Everyone Else */
	border-color: rgb(215, 211, 202);
	text-shadow: 1px 1px rgb(0, 0, 0);
}

#content div#WC_Homepage div#deptInfo p#OWC a:link,
#content div#WC_Homepage div#deptInfo p#OWC a:visited {
	display: block;
	font-size: 1.3em;
	line-height: 1.3em;
	padding: 5px;
	text-align: center;
	border-radius: 2em;
	color: rgb(255, 255, 255);
	text-shadow: 2px 2px 0 rgb(0, 0, 0);
	text-decoration: none;
}

#content div#WC_Homepage div#deptInfo p#OWC:hover,
#content div#WC_Homepage div#deptInfo p#OWC:focus {
	box-shadow: 0 0 3px rgb(0, 0, 255);
	background-color: rgb(0, 0, 255);
}

#content div#WC_Homepage div#deptInfo p#OWCS {
	height: 75px;
	margin-top: 0px;
	font-family: 'Marcellus SC', serif;
	display: inline-block;
	width: 260px;
	vertical-align: top;
	padding: 2px 10px 8px 10px;
	text-align: center;
	margin-left: 10px;
	background-image: url('http://cavs.darton.edu/images/11/light-gradient.png');
	background-color: rgb(60, 40, 20);
	background-repeat: repeat-x;
	background-position: left -85px;
	color: rgb(255, 255, 255);
	border-width: 1px;
	border-style: solid;
	/* Fall Back Color for IE 8 and lower */
	border-color: rgb(215, 211, 202);
	*float: left;
	/* IE 7 */
	/* Everyone Else */
	border-color: rgb(215, 211, 202);
	text-shadow: 1px 1px rgb(0, 0, 0);
}

#content div#WC_Homepage div#deptInfo p#OWCS strong {
	font-family: 'Marcellus SC', serif;
}

#content div#WC_Homepage div#deptInfo p#OWCS span {
	font-size: 2em;
	padding: 7px;
	display: inline-block;
	text-shadow: 2px 2px rgb(0, 0, 0);
}

#content div#WC_Homepage h3 {
	font-family: 'Marcellus SC', serif;
	background-image: url('http://cavs.darton.edu/images/11/light-gradient.png');
	background-color: rgb(60, 40, 20);
	background-repeat: repeat-x;
	background-position: left -85px;
	color: rgb(255, 255, 255);
	text-align: center;
	padding: 5px;
	border: 0;
	margin: 5px 30px;
	/* Everyone Else */
	border-radius: 2em;
	box-shadow: 2px 2px 2px rgb(140, 137, 138);
	text-shadow: 2px 2px 0 rgb(0, 0, 0);
}

#content div#WC_Homepage h4 {
	text-transform: uppercase;
	font-family: 'Marcellus SC', serif;
	background-image: url('http://cavs.darton.edu/images/11/light-gradient.png');
	background-color: rgb(176, 167, 150);
	background-repeat: repeat-x;
	background-position: left -85px;
	color: rgb(60, 40, 20);
	text-align: center;
	padding: 5px;
	border: 0;
	margin: 5px 50px;
	/* Everyone Else */
	border-radius: 2em;
	box-shadow: 2px 2px 2px rgb(140, 137, 138);
	text-shadow: 2px 2px 2px rgb(191, 191, 191);
}

#content div#WC_Homepage div.section {
	padding: 0px 10px 10px 10px;
	margin: 10px 50px;
	margin-bottom: 20px;
	border-width: 1px;
	border-style: solid;
	/* Fall Back Color for IE 8 and lower */
	background-color: rgb(235, 233, 229);
	border-color: rgb(215, 211, 202);
	/* Everyone Else */
	background-color: rgb(235, 233, 231);
	border-radius: 0 0 2em 2em;
	border-color: rgb(215, 211, 202);
	box-shadow: 0 2px 2px rgb(191, 191, 191);
}

#content div#WC_Homepage div.section p {
	margin: 10px 10px 0px 20px;
}

#content div#WC_Homepage div.section h3 {
	margin-top: -10px;
	margin-left: -30px;
	margin-right: -30px;
}

#content div#WC_Homepage div.section h4 {
	margin-top: -10px;
	margin-left: -25px;
	margin-right: -25px;
}

#content div#WC_Homepage p.note {
	/*padding: 0 0 0 0; margin: 0 0 10px 20px;*/
	font-family: 'Rock Salt', cursive;
	line-height: 1.75em;
	letter-spacing: .05em;
	font-size: 100%;
	text-decoration: none;
	color: rgb(0, 0, 0);
	background-color: rgb(255, 230, 193);
	display: block;
	padding: 1em;
	margin: 1em 25px;
	margin-bottom: 25px;
	border-width: 1px;
	border-style: solid;
	/* Fall Back Color for IE 8 and lower */
	border-color: rgb(255, 179, 64);
	/* Everyone Else */
	border-color: rgb(255, 179, 64);
	box-shadow: 5px 5px 7px rgb(99, 99, 99);
	-webkit-transform: rotate(-.5deg);
	-o-transform: rotate(-.5deg);
	-moz-transform: rotate(-.5deg);
}

#content div#WC_Homepage p.note:hover,
#content div#WC_Homepage p.note:focus {
	position: relative;
	z-index: 5;
	/* Everyone Else */
	box-shadow: 10px 10px 7px rgb(76, 76, 76);
	-webkit-transform: scale(1.25);
	-moz-transform: scale(1.25);
	-o-transform: scale(1.25);
}

body#WC div.attention {
	border: 1px solid rgb(215, 0, 0);
	margin: 20px;
	padding: 0;
	background-color: rgb(255, 229, 229);
	box-shadow: 2px 2px 2px rgb(140, 137, 138);
	border-radius: 6em;
	background-image: url('http://cavs.darton.edu/images/11/drk-gradient.png');
	background-position: left -75px;
	background-repeat: repeat-x;
}

body#WC div.attention h3 {
	text-align: center;
	background-color: rgb(215, 0, 0);
	margin: 10px auto 0 auto;
	width: 500px;
	border-radius: 2em;
	padding: 5px;
	color: rgb(255, 255, 255);
	text-shadow: 1px 1px #000;
	background-image: url('http://cavs.darton.edu/images/11/drk-gradient.png');
	background-position: left -85px;
	background-repeat: repeat-x;
	box-shadow: 2px 2px 2px rgb(64, 64, 64);
}

body#WC div.attention p {
	margin: 20px 50px;
}


/******* END Writing Center Specific *******/


/******* CURRICULUM *******/

table.curriculum {
	width: 450px;
	margin: 0 0 1em 0;
	font-size: 1.2em;
	border-collapse: collapse;
}

table.curriculum caption {
	font-size: .8em;
	background-color: rgb(223, 220, 213);
	padding: 5px;
	border-radius: 2em 2em 0 0;
	box-shadow: 0 -1px 1px rgb(191, 191, 191);
}

table.curriculum caption strong {
	font-size: 1.2em;
}

table.curriculum tr,
table.curriculum th,
table.curriculum td {
	margin: 0;
	padding: 0;
	border: 1px solid #000;
}

table.curriculum tr {}

table.curriculum th {
	background-color: rgb(100, 0, 0);
	color: rgb(255, 255, 255);
	padding: 5px 10px;
	background-image: url('http://cavs.darton.edu/images/11/light-gradient.png');
	background-position: left -100px;
	background-repeat: repeat-x;
}

table.curriculum th.hours {
	width: 60px;
	font-size: .8em;
}

table.curriculum td {
	padding: 5px;
	vertical-align: top;
}

table.curriculum .hours {
	text-align: center;
	width: 50px;
}

table.curriculum .total {
	text-align: right;
	font-weight: bold;
	background-color: rgb(204, 204, 204);
}

table.curriculum .totalHours {
	width: 70px;
	text-align: center;
	font-weight: bold;
	background-color: rgb(204, 204, 204);
}

table.curriculum .totalYear {
	text-align: right;
	font-weight: bold;
}

table.curriculum .totalYearHours {
	text-align: center;
	font-weight: bold;
}

table.curriculum tr:hover {
	background-color: #FFFFCC;
}

table.curriculum tr:hover .total,
table.curriculum tr:hover .totalHours {
	background-color: #FFCC99;
}

table.curriculum tr:hover .totalYear,
table.curriculum tr:hover .totalYearHours {
	background-color: #F63;
	text-shadow: 0 0 5px rgb(255, 255, 255);
}

table.curriculum table {
	background-color: #f4f4f4;
	border-collapse: collapse;
	font-size: .9em;
	margin: auto;
}

table.curriculum table tr,
table.curriculum table th,
table.curriculum table td {
	margin: 0;
	padding: 0;
	border: 1px solid #000;
}

table.curriculum table td {
	padding: 5px;
	vertical-align: top;
}

table.curriculum table:hover {
	box-shadow: 0 2px 2px rgb(204, 204, 204);
	background: rgb(255, 255, 255);
}

table.curriculum table tr:hover {
	background-color: #FC0
}

table.curriculum table tr .OR {
	font-weight: bold;
	font-style: italic;
	text-decoration: underline;
	text-align: center;
}


/******* END CURRICULUM *******/


/******* MISSION STATEMENTS *******/

h4.mission {
	text-align: center;
}

p.mission {
	font-size: 1.2em;
	margin-left: 30px;
	margin-right: 30px;
}

ol.mission,
ul.mission {
	margin-left: 40px;
}


/******* END MISSION STATEMENTS *******/


/******* FACULTY/STAFF TABLE *******/

div#FacStaffTable {}

div#FacStaffTable p#select {
	font-weight: bold;
	font-size: 1em;
	text-align: center;
}

div#FacStaffTable p#select a:link,
div#FacStaffTable p#select a:visited {
	text-decoration: none;
	display: inline-block;
	padding: 0 10px;
	background: url(http://cavs.darton.edu/images/11/light-gradient.png) 0px -85px repeat-x;
	background-color: rgb(0, 0, 153);
	color: rgb(255, 255, 255);
	border-radius: 1em;
}

div#FacStaffTable p#select a:focus,
div#FacStaffTable p#select a:hover {
	background-color: rgb(153, 0, 0);
	box-shadow: 2px 2px 2px rgb(140, 137, 138);
}

div#FacStaffTable h3 {
	text-align: center;
	background: url(http://cavs.darton.edu/images/11/light-gradient.png) 0px -85px repeat-x;
	background-color: rgb(60, 40, 20);
	color: rgb(255, 255, 255);
	padding: 5px;
	border-radius: 2em 2em 0 0;
	margin: 0 auto;
	width: 95%;
	text-shadow: 1px 1px #000;
}

div#FacStaffTable table {
	margin: 0;
	padding: 0;
	width: 100%;
	border: 3px solid #900;
	background-color: #600;
	border-radius: .5em;
	border-spacing: 0;
}

div#FacStaffTable table tr {
	margin: 10px;
	padding: 10px;
	background-color: #600;
}

div#FacStaffTable table tr td {
	border: 3px solid #900;
	margin: 15px;
	padding: 5px 15px;
	border-radius: .5em;
	background-color: rgb(255, 255, 255);
}

div#FacStaffTable table tr td h5 {
	padding: 0;
	margin: 0;
	margin-top: 5px;
}

div#FacStaffTable table tr td h5.noLink {
	background-color: rgb(240, 240, 240);
	padding: 5px 20px;
	display: inline-block;
	border-radius: 2em;
}

div#FacStaffTable table tr td h5 a:link,
div#FacStaffTable table tr td h5 a:visited {
	text-decoration: none;
	background: url('http://cavs.darton.edu/images/11/light-gradient.png') 0px -85px repeat-x;
	background-color: rgb(0, 0, 153);
	padding: 5px 19px;
	display: inline-block;
	border-radius: 2em;
	color: rgb(255, 255, 255);
	text-shadow: 1px 1px #000;
}

div#FacStaffTable table tr td h5 a:active,
div#FacStaffTable table tr td h5 a:hover,
div#FacStaffTable table tr td h5 a:focus {
	background-color: rgb(153, 0, 0);
	box-shadow: 2px 2px 2px rgb(127, 127, 127);
}

div#FacStaffTable table tr td.image {
	text-align: center;
	vertical-align: top;
	padding: 5px;
	padding-top: 10px;
	width: 75px;
}

div#FacStaffTable table tr td.image img {
	padding: 0;
	margin: auto;
	text-align: center;
	border: 1px solid #000;
	border-radius: .5em;
	box-shadow: 0 0 5px rgb(176, 167, 150);
}

div#FacStaffTable table tr td p {
	margin-left: 20px;
	margin-bottom: 0px;
}

div#FacStaffTable table tr td form {}

div#FacStaffTable table tr td form fieldset {
	border: 0;
	font-size: 0em;
}

div#FacStaffTable table tr td form fieldset legend {
	border-color: rgb(255, 255, 255);
}

div#FacStaffTable table tr td form fieldset button {
	margin-top: 1em;
	border-radius: .75em;
	background: url(http://cavs.darton.edu/images/11/light-gradient.png) 0px -55px repeat-x;
	background-color: rgb(176, 167, 150);
	border: 1px solid rgb(100, 94, 82);
	padding: 5px;
	width: 175px;
	font-size: 13px;
	font-weight: bold;
}

div#FacStaffTable table tr td form fieldset button:active,
div#FacStaffTable table tr td form fieldset button:hover,
div#FacStaffTable table tr td form fieldset button:focus {
	background: url(http://cavs.darton.edu/images/11/drk-gradient.png) 0px -100px repeat-x;
	background-color: rgb(153, 0, 0);
	color: rgb(255, 255, 255);
	box-shadow: 0 0 2px rga(0, 0, 0);
}

div#FacStaffTable table tr td div#contact {
	background-color: rgb(255, 255, 255);
	border: 1px solid rgb(60, 40, 20);
	border-radius: 0 0 1em 1em;
	padding: 0;
	width: 200px;
	float: right;
	box-shadow: 1px 1px 2px rgb(102, 102, 102);
	margin-right: -10px;
	margin-left: 5px;
}

div#FacStaffTable table tr td div#contact h4 {
	text-align: center;
	color: rgb(255, 255, 255);
	background-color: rgb(60, 40, 20);
	background-image: url('http://cavs.darton.edu/images/11/light-gradient.png');
	background-position: left -85px;
	background-repeat: repeat-x;
	margin: 0;
	padding: 3px;
	text-shadow: 1px 1px #000;
	font-size: 1em;
}

div#FacStaffTable table tr td div#contact ul {
	margin: 0;
	padding: 5px;
	list-style-type: none;
	font-size: 1em;
}

div#FacStaffTable table tr td div#contact ul li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

div#FacStaffTable table tr td div#contact ul li a:link,
div#FacStaffTable table tr td div#contact ul li a:visited {
	display: block;
	text-align: center;
	text-decoration: none;
	background-color: rgb(0, 0, 153);
	background-image: url('http://cavs.darton.edu/images/11/light-gradient.png');
	background-position: left -85px;
	background-repeat: repeat-x;
	color: rgb(255, 255, 255);
	font-weight: bold;
	padding: 3px;
	border-radius: 2em;
}

div#FacStaffTable table tr td div#contact ul li a:hover,
div#FacStaffTable table tr td div#contact ul li a:focus,
div#FacStaffTable table tr td div#contact ul li a:active {
	background-color: rgb(153, 0, 0);
	text-shadow: 1px 1px #000;
	box-shadow: 2px 2px 2px rgb(204, 204, 204);
}

div#FacStaffTable table tr td div#contact ul li a span {
	display: none;
}


/************* END Fac/Staff Page Specific *************/


/******* FACULTY/STAFF TABLE *******/


/******* FACULTY BIOS *******/

div#bio {}

div#bio h4 {
	text-align: center;
	background-color: rgb(153, 0, 0);
	padding: 5px;
	border-radius: 2em;
	color: rgb(255, 255, 255);
	text-shadow: 1px 1px #000;
	background-image: url('http://cavs.darton.edu/images/11/light-gradient.png');
	background-position: left -85px;
	background-repeat: repeat-x;
	box-shadow: 2px 2px 2px rgb(140, 137, 138);
}

div#bio img {
	float: left;
	margin: 5px 10px 5px 5px;
	border: 1px solid rgb(60, 40, 20);
	border-radius: 2em;
	padding: 2px;
	background-color: rgb(176, 167, 150);
	box-shadow: 2px 2px 2px rgb(140, 137, 138);
}

p#return {
	text-align: center;
}

p#return a:link,
p#return a:visited {
	display: block;
	width: 200px;
	margin: auto;
	padding: 5px;
	border-radius: 2em;
	text-decoration: none;
	color: rgb(255, 255, 255);
	font-weight: bold;
	background-color: rgb(0, 0, 153);
	background-image: url('http://cavs.darton.edu/images/11/light-gradient.png');
	background-position: left -85px;
	background-repeat: repeat-x;
	text-shadow: 1px 1px #000;
}

p#return a:hover,
p#return a:focus {
	font-style: italic;
	background-color: rgb(153, 0, 0);
	box-shadow: 2px 2px 2px rgb(140, 137, 138);
}


/******* END FACULTY BIOS *******/


/******* DANCE FLIERS *******/

dl.fliers {}

dl.fliers dt {
	margin-left: 2px;
	margin-bottom: 5px
}

dl.fliers dt a:link,
dl.fliers dt a:visited {
	border: 0;
}

dl.fliers dt a:hover,
dl.fliers dt a:focus {}

dl.fliers dt a:link img,
dl.fliers dt a:visited img {
	border-radius: 1em;
}

dl.fliers dt a:hover img,
dl.fliers dt a:focus img {
	box-shadow: 0 0 5px rgb(179, 64, 64);
}

dl.fliers dd {
	display: none;
}

@media print {
	dl.fliers dt {
		display: none;
	}
	dl.fliers dd {
		display: block;
	}
}


/******* END DANCE FLIERS *******/


/******* Scholarships Page *******/

div.scholarships {}

div.scholarships h2 {
	text-align: center;
}

div.scholarships h3 {
	text-align: center;
	color: rgb(255, 255, 255);
	text-shadow: 1px 1px rgb(0, 0, 0);
	background-color: rgb(60, 40, 20);
	padding: 5px;
	border-radius: 1em 1em 0 0;
	background-image: url('http://cavs.darton.edu/images/11/light-gradient.png');
	background-repeat: repeat-x;
	background-position: left -85px;
	margin-bottom: 0;
}

div.scholarships div.individscholar {
	border: 1px solid rgb(60, 40, 20);
	padding: 0 10px;
	border-radius: 0 0 1em 1em;
	box-shadow: 1px 1px 2px rgb(204, 204, 204);
}

div.scholarships div.individscholar p.application {
	text-align: center;
}

div.scholarships div.individscholar p.application a span {
	display: none;
}

div.scholarships div.individscholar p.application a:link,
div.scholarships div.individscholar p.application a:visited {
	display: inline-block;
	text-align: center;
	background-color: rgb(0, 0, 153);
	text-decoration: none;
	color: rgb(255, 255, 255);
	padding: 5px 15px;
	border-radius: 2em;
	text-shadow: 1px 1px rgb(0, 0, 0);
	background-image: url('http://cavs.darton.edu/images/11/light-gradient.png');
	background-repeat: repeat-x;
	background-position: left -85px;
}

div.scholarships div.individscholar p.application a:hover,
div.scholarships div.individscholar p.application a:focus,
div.scholarships div.individscholar p.application a:active {
	background-color: rgb(153, 0, 0);
	box-shadow: 2px 2px 2px rgb(200, 200, 200);
}


/******* END Scholarships Page *******/


/**** New Version Fac Bio Page list ****/

blockquote.facultyDB_2014 {
	margin: 0;
}

blockquote.facultyDB_2014 div {
	clear: left;
	border-radius: 1em;
	background-color: rgb(235, 233, 229);
	display: block;
	padding: 5px;
	border: 1px solid rgb(60, 40, 20);
	margin: 10px;
	min-height: 120px;
}

blockquote.facultyDB_2014 div:hover,
blockquote.facultyDB div:focus,
blockquote.facultyDB div:active {
	box-shadow: 2px 2px 2px rgb(140, 137, 138);
}

blockquote.facultyDB_2014 div h4 {
	margin: 0;
}

blockquote.facultyDB_2014 div h4 a:link,
blockquote.facultyDB_2014 div h4 a:visited {
	text-decoration: none;
	font-weight: bold;
	background-color: rgb(0, 0, 153);
	background-image: url('http://cavs.darton.edu/images/11/light-gradient.png');
	background-position: left -85px;
	background-repeat: repeat-x;
	display: block;
	text-align: center;
	color: rgb(255, 255, 255);
	padding: 5px 10px;
	border-radius: 2em;
	font-size: .85em;
	margin: 0;
	text-shadow: 1px 1px rgb(0, 0, 0);
}

blockquote.facultyDB_2014 div h4 a:hover,
blockquote.facultyDB_2014 div h4 a:focus,
blockquote.facultyDB_2014 div h4 a:active {
	background-color: rgb(153, 0, 0);
	box-shadow: 2px 2px 2px rgb(127, 127, 127);
}

blockquote.facultyDB_2014 div p {
	margin: 5px 0 0 100px;
	padding: 0;
	font-size: 1em;
	line-height: 1.5em;
}

blockquote.facultyDB_2014 div img {
	margin: 5px 10px 20px 10px;
	border: 1px solid #000;
	float: left;
	border-radius: 1em;
	box-shadow: 2px 2px 2px rgb(178, 178, 178);
}

blockquote.facultyDB_2014 div p+ p {
	padding-top: 5px;
	border-top: 1px dotted rgb(60, 40, 20);
}

blockquote.facultyDB_2014 div p a:link,
blockquote.facultyDB div p a:visited {
	text-decoration: none;
	font-weight: bold;
}

blockquote.facultyDB_2014 div p a:hover,
blockquote.facultyDB div p a:focus,
blockquote.facultyDB div p a:active {
	color: rgb(153, 0, 0);
}

blockquote.facultyDB_2014 div p+ p strong {
	display: inline-block;
	width: 100px;
}


/**** END VERSION ****/

div#sub-menu {}

div#sub-menu a:link,
div#sub-menu a:visited {
	text-decoration: none;
}

div#sub-menu a:hover,
div#sub-menu a:focus,
div#sub-menu a:active {}

div#sub-menu p.heading {
	font-size: 1em;
	text-align: center;
	color: #FFFFFF;
	background: #bc0000 url('/images/glass/red2-glass-bar-sm.gif') repeat-x;
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 0px;
	font-weight: bold;
	font-family: Georgia, "Times New Roman", Times, serif;
}

p.button {
	text-align: center;
}

p.button a:link,
p.button a:visited {
	display: inline-block;
	font-family: 'Marcellus SC', serif;
	text-decoration: none;
	color: rgb(255, 255, 255);
	text-shadow: 1px 1px rgb(0, 0, 0);
	background-color: rgb(153, 0, 0);
	padding: 5px 15px;
	border: 1px solid rgb(153, 0, 0);
	margin: 5px;
}

p.button a:hover,
p.button a:focus,
p.button a:active {
	color: rgb(153, 0, 0);
	background-color: rgb(255, 255, 255);
	text-shadow: none;
}

table.courses {
	border-collapse: collapse;
	border: 1px solid rgb(60, 40, 20);
	margin: 0;
	padding: 0;
	width: 100%;
	font-size: 1.2em;
}

table.courses tr {
	border: 1px solid rgb(60, 40, 20);
	margin: 0;
	padding: 0;
}

table.courses th {
	border: 1px solid rgb(60, 40, 20);
	margin: 0;
	padding: 5px;
	text-align: center;
	background-color: rgb(153, 0, 0);
	color: rgb(255, 255, 255);
	text-shadow: 1px 1px rgb(0, 0, 0);
	font-family: 'Marcellus SC', serif;
}

table.courses td {
	border: 1px solid rgb(60, 40, 20);
	margin: 0;
	padding: 5px;
}

dl#FAQs {}

dl#FAQs dt {
	font-size: 1.2em;
	font-weight: bold;
	color: rgb(255, 255, 255);
	text-shadow: 1px 1px rgb(0, 0, 0);
	background-color: rgb(60, 40, 20);
	background-image: url('http://cavs.darton.edu/images/11/light-gradient.png');
	background-repeat: repeat-x;
	background-position: left -85px;
	padding: 5px 15px;
	margin: 5px 10px 0px 10px;
	border-radius: .5em;
}

dl#FAQs dd {
	border: 1px solid rgb(60, 40, 20);
	margin: -1px 30px 10px 30px;
	padding: 0 20px;
	border-radius: 0 0 1em 1em;
	background-color: rgb(245, 243, 241);
	box-shadow: 2px 2px 2px rgb(192, 192, 192);
}

ul.buttons {
	list-style-type: none;
	margin: 0 120px;
	padding: 0;
	text-align: center;
	display: inline-block;
	width: 400px;
}

ul.buttons li {
	list-style-type: none;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	display: inline;
}

ul.buttons li a:link,
ul.buttons li a:visited {
	display: inline-block;
	text-decoration: none;
	width: 50px;
	border: 1px solid rgb(153, 0, 0);
	margin: 5px 0;
	color: rgb(255, 255, 255);
	background-color: rgb(153, 0, 0);
	text-shadow: 1px 1px rgb(0, 0, 0);
}

ul.buttons li a:hover,
ul.buttons li a:focus,
ul.buttons li a:active {
	color: rgb(153, 0, 0);
	background-color: rgb(255, 255, 255);
	text-shadow: none;
	box-shadow: 2px 2px 2px rgb(192, 192, 192);
}

form {
	color: rgb(60, 40, 20);
}

form .row1 {
	background-color: rgb(255, 255, 255);
}

form .row2 {
	background-color: rgb(235, 233, 231);
}

form fieldset {
	border: 1px solid rgb(60, 40, 20);
	border-radius: .25em;
}

form legend {
	font-family: 'Marcellus SC', serif;
	font-size: 1.15em !important;
	font-weight: normal;
	border: 1px solid rgb(60, 40, 20);
	padding: 5px 10px;
	color: rgb(60, 40, 20);
	background-color: rgb(240, 239, 237);
	border-radius: .25em;
}

form fieldset fieldset {
	border-style: double;
	border-width: 3px;
	border-color: rgb(153, 0, 0);
}

form fieldset fieldset legend {
	color: rgb(153, 0, 0);
	border-color: rgb(153, 0, 0);
}

form fieldset fieldset fieldset {
	border-color: rgb(0, 0, 153);
	border-style: dotted;
	border-width: 2px;
}

form fieldset fieldset fieldset legend {
	color: rgb(0, 0, 153);
	border-color: rgb(0, 0, 153);
}

form .required {
	color: rgb(153, 0, 0);
}

form .required+ input,
form .required+ textarea {
	border: 2px ridge rgb(153, 0, 0);
	box-shadow: 1px 1px 2px rgb(102, 102, 102);
}


/* -- Paragraph that goes with Forms -- */

p.required {
	color: rgb(255, 255, 255);
	font-style: italic;
	background-color: rgb(153, 0, 0);
	font-family: 'Marcellus SC', serif;
	text-align: center;
	font-weight: normal;
	margin: 5px 30px;
	padding: 5px;
	text-shadow: 1px 1px rgb(0, 0, 0);
	border-radius: .5em;
}