ul#menu {
	position:relative;
	margin:0;
	padding:0;
	width:200px;
	height:176px;
	overflow:hidden;
}
ul#menu li {
	position:relative;
	display:block;
	overflow:hidden;
	width:200px;
	height:22px;
	margin:0;
	padding:0;
}

ul#menu li a:link,
ul#menu li a:visited,
ul#menu li a:active,
ul#menu li a:hover {
	display:block;
	overflow:hidden;
	width:200px;
	height:22px;
	margin:0;
	padding:22px 0 0 0;
	background-image:url("/clients/ArtLosAngelesFair/Images/menu091217c.gif");
	background-repeat:no-repeat;
}


li#about a:link,
li#about a:visited,
li#about a:active,
li#about a:hover {
	top:0px;
	background-position:0 0;
}
li#about a:hover,
li#about a.on {
	background-position:-200px 0;
}


li#exhibitors a:link,
li#exhibitors a:visited,
li#exhibitors a:active,
li#exhibitors a:hover {
	top:22px;
	background-position:0 -44px;
}
li#exhibitors a:hover,
li#exhibitors a.on {
	background-position:-200px -44px;
}


li#visitorinfo a:link,
li#visitorinfo a:visited,
li#visitorinfo a:active,
li#visitorinfo a:hover {
	top:44px;
	background-position:0 -66px;
}
li#visitorinfo a:hover,
li#visitorinfo a.on {
	background-position:-200px -66px;
}


li#press a:link,
li#press a:visited,
li#press a:active,
li#press a:hover {
	top:66px;
	background-position:0 -176px;
}
li#press a:hover,
li#press a.on {
	background-position:-200px -176px;
}


li#sponsors a:link,
li#sponsors a:visited,
li#sponsors a:active,
li#sponsors a:hover {
	top:88px;
	background-position:0 -198px;
}
li#sponsors a:hover,
li#sponsors a.on {
	background-position:-200px -198px;
}


li#venue a:link,
li#venue a:visited,
li#venue a:active,
li#venue a:hover {
	top:110px;
	background-position:0 -88px;
}
li#venue a:hover,
li#venue a.on {
	background-position:-200px -88px;
}


li#contact a:link,
li#contact a:visited,
li#contact a:active,
li#contact a:hover {
	top:132px;
	background-position:0 -220px;
}
li#contact a:hover,
li#contact a.on {
	background-position:-200px -220px;
}


li#mailinglist a:link,
li#mailinglist a:visited,
li#mailinglist a:active,
li#mailinglist a:hover {
	top:154px;
	background-position:0 -242px;
}
li#mailinglist a:hover,
li#mailinglist a.on {
	background-position:-200px -242px;
}

