BODY
{
 
    BACKGROUND-COLOR: #ffffff
}
.smaller
{
    FONT-SIZE: 10px
}
.caption
{
    FONT-SIZE: 10px
}
BODY
{
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
TD
{
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
TH
{
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
P
{
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
LI
{
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
UL
{
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
OL
{
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
H1
{
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
H2
{
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
H3
{
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
H4
{
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
H5
{
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
H6
{
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
A:link
{
    COLOR: #012652
}
A:visited
{
    COLOR: #012652
}
A:hover
{
    COLOR: #c93333
}
A:active
{
    COLOR: #c93333
}
TD
{
    VERTICAL-ALIGN: top
}
H1
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    FONT-WEIGHT: 900;
    FONT-SIZE: 17px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px 0px -7px;
    COLOR: #e5012c;
    PADDING-TOP: 0px
}
H2
{
    MARGIN-TOP: 20px;
    FONT-WEIGHT: 900;
    FONT-SIZE: 14px;
    MARGIN-BOTTOM: -7px;
    COLOR: #d7cab4
}
#main
{
    BORDER-RIGHT: #012652 1px solid;
    PADDING-RIGHT: 60px;
    PADDING-LEFT: 69px;
    BORDER-LEFT: #012652 1px solid;
    WIDTH: 697px;
    BORDER-BOTTOM: #012652 1px solid;
    BACKGROUND-COLOR: #fff
}
#mainWrapper
{
    WIDTH: 565px
}
#events TD
{
    FONT-SIZE: 11px;
    COLOR: ;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
TH
{
    FONT-SIZE: 11px;
    COLOR: ;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
P
{
    FONT-SIZE: 11px;
    COLOR: ;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
LI
{
    FONT-SIZE: 11px;
    COLOR: ;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
UL
{
    FONT-SIZE: 11px;
    COLOR: ;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
OL
{
    FONT-SIZE: 11px;
    COLOR: ;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
H1
{
    FONT-SIZE: 11px;
    COLOR: ;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
H2
{
    FONT-SIZE: 11px;
    COLOR: ;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
H3
{
    FONT-SIZE: 11px;
    COLOR: ;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
H4
{
    FONT-SIZE: 11px;
    COLOR: ;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
H5
{
    FONT-SIZE: 11px;
    COLOR: ;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
H6
{
    FONT-SIZE: 11px;
    COLOR: ;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
#events A:link
{
    FONT-SIZE: 11px;
    COLOR: #012652
}
#events A:visited
{
    FONT-SIZE: 11px;
    COLOR: #012652
}
#events A:hover
{
    FONT-SIZE: 11px;
    COLOR: #bc2929
}
#events TD
{
    PADDING-LEFT: 1px
}
#subnav
{
    TEXT-ALIGN: center
}
#subnav P
{
    FONT-SIZE: 12px
}
#subnav A:link
{
    FONT-SIZE: 13px;
    COLOR: 
}
A:visited
{
    FONT-SIZE: 13px;
    COLOR: 
}
A:active
{
    FONT-SIZE: 13px;
    COLOR: 
}
A:hover
{
    FONT-SIZE: 13px;
    COLOR: 
}
