.modal .formline div input[type=text] {
    float: left;
    left: 0;
    vertical-align: middle;
    width: 98%;
}

.commonToolbar
{
	z-index: 1001;
	
}
div.#floating
{
	z-index: 1000;
}

div#modalFavorites
{
	z-index: 1002;
}

.commonToolbar .inner .button.add img
{
	cursor:pointer;
}

/* Modal */
.modalContainer.editFavorite
{
    position: absolute;
    left: 50%;
    margin-left: -350px;
	width: 700px;
	z-index: 4;
	margin-left: auto; 
	margin-right: auto;
	
}
.modalContainer .modalTabs
{
	overflow: hidden;
	padding: 10px 0px 10px 10px; /* ??? */	
}

.modalContainer .modalTabs p
{
	padding: 0px 10px 0px 0px; 
}

.modalContainer.editFavorite .modalTabs > div
{
    max-height: 280px;
    border-style: none;
	overflow-x: hidden;
	overflow-y: auto;
}

.modalContainer.editFavorite .item
{
	float: left;
	width: 31%;
}

.modalContainer.editFavorite span
{
	margin: 0px 0px 0px 0px;
}

.modalContainer.editFavorite .check
{
	width: 100%;
}

.modalContainer.editFavorite .modalContent
{
    background-color: #FFFFFF;
}

.modalContainer .formline
{
    border-style: none;
	padding-top: 10px;
}

.modalContainer .formline.noLabel > div
{
	padding-left: 0px;
	width: 100%;
}
 
.hidden
{
    display: none;
}