/*  M O D A L   W I N D O W
============================================================ */

/*  CONTAINER  */

.modalContainer .modalTitleLeft
{
	clear: both;
	height: 37px;
	padding: 0px 45px 0px 18px;
	position: relative;
}

.modalContainer h3.modalTitle
{
	width: 100%;
	height: 23px;
	margin: 0px;
	padding-top: 14px;
	font-size: 11pt;
	text-shadow: none;
}

.modalContainer .modalTitleLeft .attribution,
.modalContainer .modalTitleLeft .help
{
	color: #6b869f;
	font-size: 9pt;
	font-weight: bold;
	position: absolute;
	right: 55px;
	text-align: right;
	text-shadow: 1px 1px 1px #c8e3fc;
	top: 15px;
}

.modalContainer .modalTitleLeft a.help
{
	border-left: 1px solid #c0d2e3;
	display: block;
	font-size: 15pt;
	padding: 1px 0px 12px 9px;
	text-decoration: none;
	text-shadow: none;
	top: 10px;
}

.modalContainer a.modalClose
{
	display: block;
	width: 45px;
	height: 37px;
	position: absolute;
	top: 0px;
	right: 0px;
	text-indent: -9999px;
}


.modalContainer .modalContentLeft
{
	clear: both;
	padding: 0px 0px 0px 9px;
}

.modalContainer .modalContent
{
	background: url(/App_Themes/Default/images/ModalLeftInnerBkg.png) repeat-y left top;
	overflow: auto;
	padding-left: 9px;
}

.modalContainer .modalContentRight
{
	padding: 0px 9px 0px 0px;
}

.modalContainer .modalBottomLeft
{
	clear: both;
	height: 18px;
	padding: 0px 0px 0px 18px;
	margin: 0px;
}

.modalContainer .modalBottom
{
	width: 100%;
	height: 18px;
	margin: 0px;
}

.modalContainer .modalBottomRight
{
	height: 18px;
	padding: 0px 18px 0px 0px;
	margin: 0px;
}

/*  END CONTAINER  */


/*  CUSTOM CONTAINER SIZES  */

.modalContainer.notifyMe
{
	width: 862px;
}

.modalContainer.notifyMe .modalContent iframe
{
	height: 310px;
}

.modalContainer.modalCopyLink
{
	width: 525px;
}

.modalContainer.modalCopyLink iframe
{
	height: 150px;
}

.modalContainer.map
{
	width: 85%;
}

.modalContainer.map .modalContent iframe
{
	height: 505px;
}

.modalContainer.reportInappropriate
{
	width: 470px;
}

.modalContainer.reportInappropriate .modalContent iframe
{
	height: 230px;
}

.modalContainer.reportInappropriateSuccess
{	
	width: 470px;
}

.modalContainer.reportInappropriateSuccess .modalContent iframe
{
	height: 100px;
}

.modalContainer.help
{
	width: 500px;
}

.modalContainer.help .modalContent iframe
{
	height: 433px;
}

.modalContainer.jobsUpgradeWizard
{
	width: 525px;
}

.modalContainer.jobsUpgradeWizard .modalContent iframe
{
	height: 482px;
}

.newCP.modal.upgrade .form
{
	height: 462px;
}
	
.modalContainer.jobHelp
{
	width: 500px;
}

.modalContainer.jobHelp .modalContent iframe
{
	height: 433px;
}
	
.modalContainer.alertCenterUpdate
{
	width: 625px;
}

.modalContainer.alertCenterUpdate .modalContent iframe
{
	height: 370px;
}

.modalContainer.notifyMeConfirm
{
	width: 400px;
}

.modalContainer.notifyMeConfirm .modalContent iframe
{
	height: 190px;
}

.modalContainer.newProfile
{
	width: 538px;
}

.modalContainer.newProfile .modalContent iframe
{
	height: 300px;
}

.modalContainer.addPhotos
{
	width: 450px;
}

.modalContainer.addPhotos .modalContent iframe
{
	height: 325px;
}

.modalContainer.submitEvent iframe {
    height: 480px;
}

.modalContainerCP.addFiles
{
	width: 450px;
}

.modalContainerCP.addFiles iframe
{
	height: 305px;
}

/* END CONTAINER SIZES */


/*  CONTENT  */

.modalContainer iframe
{
	background: #fff;
	border: none;
	display: block;
	overflow: hidden;
	width: 100%;
}

body.modal
{
	font-family: Arial, sans-serif;
	font-size: 10pt;
	margin: 0px;
}

.modalTabs
{
	background: url(/App_Themes/Default/images/ModalRightInnerBkg.png) repeat-y right top;
	color: #333;
	font-size: 10pt;
	overflow: auto;
	padding: 10px 19px 10px 10px;
}

.modalTabs p
{
	margin: 0px 0px 10px;
}

/*  Tabs  */

.modalTabs .ajax__tab_header
{
	background: url(/App_Themes/Default/images/ModalTabsBkg.png) repeat-x left bottom;
	margin-bottom: 10px;
	padding-left: 5px;
	overflow: hidden;
	zoom: 1;
}

.modalTabs .ajax__tab_header span
{
	display: block;
	float: left;
	margin-right: 5px;
}

.modalTabs .ajax__tab_header span.ajax__tab_outer
{
	background: url(/App_Themes/Default/images/ModalTabLeft.png) no-repeat left top;
	border-bottom: 1px solid #b2b3a5;
	cursor: pointer;
	float: none;
	margin: 0px;
	padding-left: 4px;
}

.modalTabs .ajax__tab_header span.ajax__tab_inner
{
	background: url(/App_Themes/Default/images/ModalTabRight.png) no-repeat right top;
	float: none;
	margin: 0px;
	padding-right: 4px;
}

.modalTabs .ajax__tab_header span.ajax__tab_tab
{
	background: url(/App_Themes/Default/images/ModalTab.png) repeat-x left top;
	float: none;
	margin: 0px;
	padding: 3px 6px 2px;
}

.modalTabs .ajax__tab_header span.ajax__tab_active
{
	font-weight: bold;
}

.modalTabs .ajax__tab_header span.ajax__tab_hover span.ajax__tab_outer,
.modalTabs .ajax__tab_header span.ajax__tab_active span.ajax__tab_outer
{
	background: url(/App_Themes/Default/images/ModalTabLeftActive.png) no-repeat left top;
	border-color: #fff;
}

.modalTabs .ajax__tab_header span.ajax__tab_hover span.ajax__tab_inner,
.modalTabs .ajax__tab_header span.ajax__tab_active span.ajax__tab_inner
{
	background: url(/App_Themes/Default/images/ModalTabRightActive.png) no-repeat right top;
}

.modalTabs .ajax__tab_header span.ajax__tab_hover span.ajax__tab_tab,
.modalTabs .ajax__tab_header span.ajax__tab_active span.ajax__tab_tab
{
	background: url(/App_Themes/Default/images/ModalTabActive.png) repeat-x right top;
}

/* E X T E R N A L   S I T E   M O D A L
============================================================ */
.externalLinkDialog
{
	width: 500px;
}

.externalLinkDialog .modalContent
{
	background-color: #fefcfd !important;
}