.Caption, p.Caption, li.Caption, div.Caption, span.Caption
{
 font-family: Arial;
 font-size: 9pt;
 color: #999999;
 font-style: italic;
}
a:link.frontendeditlink, a:hover.frontendeditlink, a:active.frontendeditlink, a:visited.frontendeditlink
{
 color: #FF0000;
 text-decoration: none;
}
div.frontendeditarea
{
 padding: 3px 0px;
 text-align: center;
 border-top: solid #000000 1px;
 border-bottom: solid #000000 1px;
 background: #FFFEA5;
}
.frontendedittext, p.frontendedittext, li.frontendedittext, div.frontendedittext, span.frontendedittext
{
 color: #000000;
}
.BartlettHeadline, p.BartlettHeadline, li.BartlettHeadline, div.BartlettHeadline, span.BartlettHeadline, .h1
{
 font-family: Arial;
 font-size: 14pt;
 color: #9D0B0E;
 font-weight: normal;
 font-style: normal;
 text-decoration: none;
}
.BartlettSubhead1, p.BartlettSubhead1, li.BartlettSubhead1, div.BartlettSubhead1, span.BartlettSubhead1, .h2
{
 font-family: Arial;
 font-size: 10pt;
 color: #9D0B0E;
 font-weight: bold;
 font-style: normal;
 text-decoration: none;
}
.BartlettSubhead2, p.BartlettSubhead2, li.BartlettSubhead2, div.BartlettSubhead2, span.BartlettSubhead2, .h3
{
 font-family: Arial;
 font-size: 10pt;
 color: #B02925;
 font-weight: bold;
 font-style: normal;
 text-decoration: none;
}
.Section1 a, #Section1 a, span.MsoHyperlink, span.MsoHyperlinkFollowed, .Hyperlink, .Section1 a.Hyperlink, #Section1 a.Hyperlink, span.Hyperlink
{
 font-family: Arial;
 font-size: 10pt;
 color: #4491d7;
 font-weight: normal;
 font-style: normal;
 text-decoration: underline;
}
.Section1 a:visited, #Section1 a:visited, span.MsoHyperlinkFollowed, .FollowedHyperlink, .Section1 a:visited.FollowedHyperlink, #Section1 a:visited.FollowedHyperlink
{
 font-family: Arial;
 font-size: 10pt;
 color: #4491d7;
 font-weight: normal;
 font-style: normal;
 text-decoration: underline;
}
body, td, .normal, .Normal, .MsoNormal, p.MsoNormal, li.MsoNormal, div.MsoNormal, span.MsoNormal
{
 font-family: Arial;
 font-size: 10pt;
 color: #000000;
 font-weight: normal;
 font-style: normal;
 text-decoration: none;
}
hr, .hr
{
 color: #0268CC;
 background: #0268CC;
}
a:link.CPCopy, a:hover.CPCopy, a:active.CPCopy, a:visited.CPCopy
{
 font-family: Arial;
 font-size: 8pt;
 color: #9d0a0e;
 text-decoration: underline;
}
.Footer, p.Footer, li.Footer, div.Footer, span.Footer
{
 font-family: Arial;
 font-size: 8pt;
 color: #013334;
 text-decoration: underline;
}
#Section1 ul, #Section1 ol, .bullet1
{
 padding: 4px 0px 0px 19px;
 margin: 0px 0px 0px 19px;
}
#Section1 ul li, #Section1 ol li, .bullet2
{
 margin: 0px 0px 4px 0px;
}
.BartlettStationHeadline, p.BartlettStationHeadline, li.BartlettStationHeadline, div.BartlettStationHeadline, span.BartlettStationHeadline
{
 font-family: Arial;
 font-size: 14pt;
 color: #387701;
 font-weight: normal;
 font-style: normal;
 text-decoration: none;
}
.BartlettStationSubhead1, p.BartlettStationSubhead1, li.BartlettStationSubhead1, div.BartlettStationSubhead1, span.BartlettStationSubhead1
{
 font-family: Arial;
 font-size: 10pt;
 color: #6da739;
 font-weight: bold;
 font-style: normal;
 text-decoration: none;
}
.BartlettStationSubhead2, p.BartlettStationSubhead2, li.BartlettStationSubhead2, div.BartlettStationSubhead2, span.BartlettStationSubhead2
{
 font-family: Arial;
 font-size: 10pt;
 color: #387701;
 font-weight: bold;
 font-style: normal;
 text-decoration: none;
}
.BartlettStationHyperlink, .Section1 a.BartlettStationHyperlink, #Section1 a.BartlettStationHyperlink, span.BartlettStationHyperlink
{
 font-family: Arial;
 font-size: 10pt;
 color: #6da739;
 font-weight: normal;
 font-style: normal;
 text-decoration: underline;
}
.BartlettStationhr, p.BartlettStationhr, li.BartlettStationhr, div.BartlettStationhr, span.BartlettStationhr
{
 color: #b9b888;
 background: #b9b888;
}

