body#home {
	margin:0px 0px 0px 0px;
	padding:0px;
	background-image:url(/clients/AtlasArts/Images/bg_interior.jpg); 
	background-repeat:repeat-x; 
	background-color:#ffffff;
	font-family:Arial, Helvetica, sans-serif;
	color:#666666;
	font-size:11px;
	line-height:15px;
	text-align:center;
	overflow-y: scroll; 

	
	}
	
body#int {
	margin:0px 0px 0px 0px;
	padding:0px;
	background-image:url(/clients/AtlasArts/Images/bg_interior.jpg); 
	background-repeat:repeat-x; 
	background-color:#ffffff;
	font-family:Arial, Helvetica, sans-serif;
	color:#666666;
	font-size:11px;
	line-height:15px;
	text-align:center;
	overflow-y: scroll; 

	}



/* TEXT */
h1, h3 {
	font-family:Verdana, Arial, sans-serif;
	text-transform:uppercase;
	font-weight:600;
	font-size:14px;
	margin-top:0px;
	color:#6f6188;
	margin-bottom:0px;
	padding-bottom:3px;
	}


h2 {
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	font-size:12px;
	margin-bottom:5px;
	color:#746b81;
	}
	
h4 {
	font-family:Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	font-size:12px;
	margin-top:5px;
	color:#999999;
	}

p {
	margin-top:0px;
	}
	
blockquote.withquote {
	background:url(/clients/AtlasArts/Images/quote.gif) no-repeat;
	background-position:top left;
	padding-left:15px;
	text-align:justify;
	margin:10px 10px 10px 3px;
	} 

p.withunquote {
	background: url(/clients/AtlasArts/Images/quote_btm.gif) no-repeat;
	background-position:bottom right;
	padding-right:5px;
	}

.text {
	padding: 15px;
	}
	
.heading {
	font-weight:600;
	color:#882900;
	}
	
.light {
	color:#fbf7df;
	padding:5px;
	}
	
	
ul, li {
	margin-top:0px;
	padding-top:0px;
	}
	
img.block {
	display:block;
	}

img.header {
	display:block;
	padding-bottom:8px;
	}

img.styled{
	border:1px solid #CCCCCC; 
	float:right; 
	padding:3px; 
	margin:12px;
}

img.side_line{
	padding-top:10px; 
	display:block;
	width:200px;
}

/* LAYOUT */
#container_nav_home{
	width:800px;
	background:none;
	margin-top:50px;
	margin-bottom:0px;
	margin-left: auto;
	margin-right: auto;
	text-align:left;
}

#container_nav_home_new{
	width:800px;
	background:none;
	margin-top:0px;
	margin-bottom:0px;
	margin-left: 0px;
	margin-right: 0px;
	text-align:left;
	padding:0px;
}

#container_home{
	width:800px;
	background:url(/clients/AtlasArts/Images/bg_content.png); 
	background-repeat:repeat-y;
	margin-top:0px;
	margin-bottom:0px;
	margin-left: auto;
	margin-right: auto;
	text-align:left;
}

#container_home_inside{
	width:780px;
	background-repeat:repeat-y;
	margin-top:0px;
	margin-bottom:0px;
	margin-left: auto;
	margin-right: auto;
	text-align:left;
}

#container_home p{
	color:#232323;
	font-size:11px;
	line-height:15px;
}

div#left_column{
	float: left; 
	width: 230px; 
	background-color: #f6f6f6; 
	background-image:url(/clients/AtlasArts/Images/fade.gif); 
	background-position:bottom; 
	background-repeat:no-repeat;
}

div#right_column{
	float: left; 
	width: 530px; 
	background-color: #fff; 
	margin:0px 0px 50px 0px; 
	overflow:auto;
}

#login { 	
  text-align: left;
  vertical-align: middle;	
  margin: 0px auto;
  padding: 15px;
  width: 300px;
  background-color: #ffffff;
  border: 1px dashed #564b47;
}

#banner {
	padding-top:33px;
	text-align:center; 
	background-color:#3a3a3a;
	}

#content {
	background-color: #dcdcdc;
	margin-left: 213px;
	margin-right: 0px; 
	margin-top: 0px;
	}
	
div#content { 
	min-height:300px;
	height:expression(this.scrollHeight > 300 ? "auto":"300px"); 
	}


#footer {
	width:800px;
	background:url(/clients/AtlasArts/Images/bg_content.png); 
	background-repeat:repeat-y;
	margin-top:0px;
	margin-bottom:0px;
	margin-left: auto;
	margin-right: auto;
	text-align:left;
	clear: both;
	padding: 0px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:9px;
	font-weight:600;
	color:#cccccc;
	background-color:#ffffff;
	}
	
	#footer #footer_left {
		float:left; 
		width:450px; 
		height:35px;
		padding:10px 0 10px 15px;
		}
		
	#footer #footer_right {
		height:35px;
		text-align:right; 
		padding:10px 15px 10px 0;
		}

	
#global_nav {
	text-align:right;
	}
	
#icons {
	text-align:right; 
	padding-right:14px;
	}
	
div.floating_box {
	width:122px; 
	background-color:#8e8761; 
	border:1px solid #716c51; 
	margin-bottom:10px;
	}
	
div.clear {
	clear:both;
	}
		
div.indent {
	padding-left:20px;
	padding-bottom:10px;
	}

/* LINKS */
a{
	color: #5e9ec4;
}

a:visited{
	color: #5e9ec4;
}

a:hover {
	text-decoration: none;
	background-color:#5e9ec4;
	color:#663399;
}

#menu{
	border-left:2px solid #cccccc;
	padding-top:8px;
	padding-left:5px;
	margin-left:8px;
	margin-bottom:35px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	}

#menu a{
	color: #5e9ec4;
	display:block;
	border-bottom:1px dotted #CCCCCC;
	width:210px;
}

#menu a:visited{
	color: #5e9ec4;
	display:block;
	border-bottom:1px dotted #CCCCCC;
	width:210px;
}

#menu a:hover {
	text-decoration: none;
	background-color: #5e9ec4;
	color:#dcdcdc;
	display:block;
	border-bottom:1px dotted #CCCCCC;
	width:210px;
}





