@charset "UTF-8";
/* CSS Document for Chamber Music Monterey Bay */

body {font-family: Arial,  Helvetica, sans-serif; 
      font-size:16px;font-style:normal; text-align:left; background:url(/clients/ChamberMusicMontereyBay/Images/banner_bg4.jpg)}

a:link    {font-family: Arial,  Helvetica, sans-serif; 
				font-size:16px;font-style:normal; color:#000000; font-weight:700; text-decoration:none;line-height: 1.0; }
a:visited  {font-family: Arial,  Helvetica, sans-serif; 
				font-size:16px;font-style:normal; color:#000000; font-weight:700; text-decoration:none;line-height: 1.0; }
a:active   {font-family: Arial,  Helvetica, sans-serif; 
				font-size:16px;font-style:normal; color:#650c0c; font-weight:700; text-decoration:none;line-height: 1.0; }
a:hover   {font-family: Arial,  Helvetica, sans-serif; 
				font-size:16px;font-style:normal; color:#650c0c; font-weight:700; text-decoration:none;line-height: 1.0; }


a.topnav:link    {font-family: Arial,  Helvetica, sans-serif; 
				font-size:16px;font-style:normal; color:#000000; font-weight:700; text-decoration:none;line-height: 1.0; }
a.topnav:visited  {font-family: Arial,  Helvetica, sans-serif; 
				font-size:16px;font-style:normal; color:#000000; font-weight:700; text-decoration:none;line-height: 1.0; }
a.topnav:active   {font-family: Arial,  Helvetica, sans-serif; 
				font-size:16px;font-style:normal; color:#650c0c; font-weight:700; text-decoration:none;line-height: 1.0; }
a.topnav:hover   {font-family: Arial,  Helvetica, sans-serif; 
				font-size:16px;font-style:normal; color:#650c0c; font-weight:700; text-decoration:none;line-height: 1.0; }


a.musicmenu:link    {font-family: Arial,  Helvetica, sans-serif; 
				font-size:16px;font-style:normal; color:#ffffff; font-weight:700; text-decoration:none;line-height: 1.0; }
a.musicmenu:visited  {font-family: Arial,  Helvetica, sans-serif; 
				font-size:16px;font-style:normal; color:#ffffff; font-weight:700; text-decoration:none;line-height: 1.0; }
a.musicmenu:active   {font-family: Arial,  Helvetica, sans-serif; 
				font-size:16px;font-style:normal; color:#300; font-weight:700; text-decoration:none;line-height: 1.0; }
a.musicmenu:hover   {font-family: Arial,  Helvetica, sans-serif; 
				font-size:16px;font-style:normal; color:#650c0c; font-weight:700; text-decoration:none;line-height: 1.0; }
img{border:0px;}


a.menu:link {border-right-color:#300;}
a.menu:link {border-right-color:#300;}
a.menu:hover {border-right-color:#650c0c;}
a.menu:active {border-right-color:#650c0c; }

.shortbr{line-height: 0.5px; }
.bigline{font-size:80px; text-align:left; margin-left:-10px;}
.biglinecurnav{color:#887147;font-size:80px; text-align:left; margin-left:-10px;}
.curnav{color:#533a04;}

.captionsize{font-family: Arial,  Helvetica, sans-serif; 
				font-size:10px;font-style:normal; color:#000; font-weight:300; text-decoration:none;line-height:1.0; 
			 	padding-left:00px;}


li.creative {background-color:#887147; width:500px; height:200px;}

.subhdr{font-family: Arial,  Helvetica, sans-serif; 
				font-size:20px;font-style:normal; color:#000; font-weight:900; text-decoration:none;line-height: 1.0; }
				
.titlehdr{font-family: Arial,  Helvetica, sans-serif; 
				font-size:30px;font-style:normal; color:#000; font-weight:900; text-decoration:none;line-height: 1.0; }

p.quotepress{font-family: Arial,  Helvetica, sans-serif; 
				font-size:18px; font-style:italic; color:#000; font-weight:700; text-decoration:none;line-height: 1.0; 
				padding-left:50px; width:550px;}
p.quoteattrib{font-family: Arial,  Helvetica, sans-serif; 
				font-size:12px;font-style:normal; color:#000; font-weight:700; text-decoration:none;line-height:0.5; 
			 	padding-left:40px;}
				





