BODY {
	MARGIN: 0px; BACKGROUND-COLOR: #000
}
DIV#container {
	MARGIN-TOP: 10px; MARGIN-LEFT: auto; WIDTH: 760px; MARGIN-RIGHT: auto
}
DIV#container DIV#tabsTop {
	WIDTH: 759px; HEIGHT: 20px; TEXT-ALIGN: right
}
DIV#container DIV#tabsTop UL {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; TEXT-ALIGN: center; BORDER-RIGHT-WIDTH: 0px
}
DIV#container DIV#tabsTop LI {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; TEXT-ALIGN: center
}
DIV#container DIV#tabsTop A {
	DISPLAY: block; BACKGROUND-REPEAT: no-repeat; HEIGHT: 20px; BACKGROUND-COLOR: #1a1a1c
}
DIV#container DIV#tabsTop A:hover {
	BACKGROUND-COLOR: #4d4d4d
}
A#tab_direct {
	BACKGROUND-IMAGE: url(/PrivateLabel/ATCWeb/Images/tab_directions.gif); WIDTH: 88px
}
A#tab_dining {
	BACKGROUND-IMAGE: url(/PrivateLabel/ATCWeb/Images/tab_dining.gif); WIDTH: 65px
}
A#tab_tickets {
	BACKGROUND-IMAGE: url(/PrivateLabel/ATCWeb/Images/tab_tickets.gif); WIDTH: 77px
}
DIV#container TD#colLeft .ddm1 {
	
}
DIV#container TD#colLeft .ddm1 .item1 {
	DISPLAY: block; COLOR: #333; POSITION: relative; BACKGROUND-COLOR: #333
}
DIV#container TD#colLeft .ddm1 .item1:hover {
	DISPLAY: block; COLOR: #4d4d4d; BACKGROUND-COLOR: #4d4d4d
}
DIV#container TD#colLeft .ddm1 .item1-active {
	DISPLAY: block; COLOR: #4d4d4d; BACKGROUND-COLOR: #4d4d4d
}
DIV#container TD#colLeft .ddm1 .item1-active:hover {
	DISPLAY: block; COLOR: #4d4d4d; BACKGROUND-COLOR: #4d4d4d
}
DIV#container TD#colLeft .ddm1 .item2 {
	PADDING-RIGHT: 8px; DISPLAY: block; PADDING-LEFT: 8px; PADDING-BOTTOM: 4px; PADDING-TOP: 3px; WHITE-SPACE: nowrap; TEXT-DECORATION: none
}
DIV#container TD#colLeft .ddm1 .item2:hover {
	PADDING-RIGHT: 8px; DISPLAY: block; PADDING-LEFT: 8px; PADDING-BOTTOM: 4px; PADDING-TOP: 3px; WHITE-SPACE: nowrap; TEXT-DECORATION: none
}
DIV#container TD#colLeft .ddm1 .item2 {
	FONT: bold small-caps 11px Georgia, "Times New Roman", Times, serif; COLOR: #595959; BACKGROUND-COLOR: transparent
}
DIV#container TD#colLeft .ddm1 .item2:hover {
	BACKGROUND: #e6deb3
}
DIV#container TD#colLeft .ddm1 .section {
	Z-INDEX: 1000; VISIBILITY: hidden; MARGIN: -60px 0px 0px -49px; POSITION: absolute; TEXT-ALIGN: left
}
DIV#container TD#colLeft .ddm1 .section DIV.submenu {
	LEFT: 0px; MARGIN: 25px 0px 0px 63px; POSITION: absolute; TOP: 0px
}
DIV#container TD#colLeft {
	BORDER-RIGHT: #4d4d4d 1px solid; BORDER-TOP: #4d4d4d 1px solid; FONT: 11px Verdana, Arial, Helvetica, sans-serif; VERTICAL-ALIGN: top; BORDER-LEFT: #4d4d4d 1px solid; WIDTH: 190px; COLOR: #b3b3b3; BORDER-BOTTOM: #4d4d4d 1px solid; BACKGROUND-COLOR: #1a1a1a
}
DIV#container TD#colLeft DIV#indexHeadlines {
	MARGIN: 55px 9px 9px; VERTICAL-ALIGN: bottom
}
DIV#container TD#colLeft DIV#indexHeadlines P {
	FONT-SIZE: 10px; PADDING-BOTTOM: 14px; MARGIN: 3px 6px 15px 8px; LINE-HEIGHT: 14px; BORDER-BOTTOM: #333333 1px dotted
}
DIV#container TD#colLeft DIV#contentLeft {
	MARGIN: 3px 0px 0px
}
DIV#container TD#colLeft DIV#contentLeft FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: -13px 0px 21px; PADDING-TOP: 0px
}
DIV#container TD#colLeft DIV#contentLeft INPUT.ATCmail {
	MARGIN: 2px 0px 0px 15px; FONT: 10px Verdana, Arial, Helvetica, sans-serif; VERTICAL-ALIGN: middle; WIDTH: 135px
}
DIV#container TD#colLeft DIV#contentLeft INPUT.submitMail {
	MARGIN: 0px 0px 0px 1px; VERTICAL-ALIGN: middle
}
DIV#container TD#colLeft DIV#contentLeft P.mailSuccess {
	COLOR: #66cc00
}
DIV#container TD#colLeft DIV#contentLeft P.mailError {
	COLOR: #ff3300
}
DIV#container TD#colLeft DIV#contentLeft P {
	FONT-SIZE: 10px; MARGIN: -8px 15px 18px 16px; COLOR: #999999; LINE-HEIGHT: 14px
}
DIV#container TD#colRightIndex {
	BORDER-RIGHT: #4d4d4d 1px solid; BORDER-TOP: #4d4d4d 1px solid; VERTICAL-ALIGN: top; WIDTH: 567px; BORDER-BOTTOM: #4d4d4d 1px solid
}
DIV#container TD#colRight {
	BORDER-RIGHT: #4d4d4d 1px solid; BORDER-TOP: #4d4d4d 1px solid; VERTICAL-ALIGN: top; WIDTH: 567px; BORDER-BOTTOM: #4d4d4d 1px solid
}
DIV#container TD#colRight {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 45px; PADDING-TOP: 0px; BACKGROUND-COLOR: #fffff0
}
DIV#container TD#colRight DIV#flashIndex {
	BACKGROUND-COLOR: #000
}
DIV#container TD#colRight DIV#flash {
	BACKGROUND-COLOR: #000
}
DIV#container TD#colRight DIV#content {
	FONT: 11px Verdana, Arial, Helvetica, sans-serif; COLOR: #4f3a00
}
DIV#container TD#colRight DIV#content DIV#reviews {
	BACKGROUND-COLOR: #3366ff
}
DIV#container TD#colRight DIV#content SPAN.subcolLeft {
	FLOAT: left; MARGIN: 3px 0px 0px 25px; VERTICAL-ALIGN: top; WIDTH: 225px
}
DIV#container TD#colRight DIV#content SPAN.subcolRight {
	FLOAT: right; WIDTH: 317px
}
DIV#container TD#colRight DIV#content IMG.dividerStroke {
	MARGIN: 0px 0px 0px 15px; WIDTH: 535px; HEIGHT: 33px
}
DIV#container TD#colRight DIV#content H1 {
	MARGIN: 15px 15px 0px; FONT: bold small-caps 14px Georgia, "Times New Roman", Times, serif; LETTER-SPACING: 1px
}
DIV#container TD#colRight DIV#content H2 {
	MARGIN: 15px 15px 0px; FONT: bold small-caps 16px Verdana, Arial, Helvetica, sans-serif; LETTER-SPACING: 1px
}
DIV#container TD#colRight DIV#content H3 {
	MARGIN: 0px 15px; FONT: bold small-caps 13px Verdana, Arial, Helvetica, sans-serif; LETTER-SPACING: 1px
}
H4 {
	MARGIN: 0px 15px; FONT: bold small-caps 13px Verdana, Arial, Helvetica, sans-serif; LETTER-SPACING: 1px
}
DIV#container TD#colRight DIV#content H3 {
	MARGIN: 0px 15px 15px
}
H4 {
	MARGIN: 0px 15px 15px
}
DIV#container TD#colRight DIV#content P {
	MARGIN: 15px 30px 15px 15px; LINE-HEIGHT: 15px
}
DIV#container TD#colRight DIV#content OL LI {
	MARGIN: 8px 30px 5px 15px; LINE-HEIGHT: 15px
}
DIV#container TD#colRight DIV#content UL {
	MARGIN: 0px 0px 0px 15px
}
DIV#container TD#colRight DIV#content UL LI {
	LIST-STYLE-POSITION: inside; LIST-STYLE-IMAGE: url(/PrivateLabel/ATCWeb/Images/colRight_ul_li.gif)
}
DIV#container TD#colRight DIV#content P.linkList {
	MARGIN: 0px 15px 3px
}
DIV#container TD#colRight DIV#content P A {
	COLOR: #b50c00; TEXT-DECORATION: none
}
DIV#container TD#colRight DIV#content P A:hover {
	COLOR: #fffff0; BACKGROUND-COLOR: #b50c00
}
DIV#container TD#colRight DIV#content P.miniHead {
	MARGIN: 3px 15px 15px; FONT: 10px/15px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: uppercase
}
DIV#container TD#colRight DIV#content A.linkBullet {
	PADDING-RIGHT: 2px; BACKGROUND-POSITION: 2px 2px; PADDING-LEFT: 21px; BACKGROUND-IMAGE: url(/PrivateLabel/ATCWeb/Images/colRight_linkBullet.gif); PADDING-BOTTOM: 2px; COLOR: #b50c00; PADDING-TOP: 2px; BACKGROUND-REPEAT: no-repeat; TEXT-DECORATION: none
}
DIV#container TD#colRight DIV#content A.linkBullet:hover {
	BACKGROUND-IMAGE: url(/PrivateLabel/ATCWeb/Images/colRight_linkBullet_hover.gif); COLOR: #fffff0; BACKGROUND-COLOR: #b50c00
}
DIV#container TD#colRight DIV#content FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DIV#container TD#colRight DIV#content TABLE#form {
	MARGIN: 15px 0px 0px 10px; WIDTH: 95%
}
DIV#container TD#colRight DIV#content TABLE#form TD {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; FONT: 10px Verdana, Arial, Helvetica, sans-serif; VERTICAL-ALIGN: top; TEXT-TRANSFORM: uppercase; PADDING-TOP: 5px
}
DIV#container TD#colRight DIV#content .textbox {
	FONT: 11px Verdana, Arial, Helvetica, sans-serif; WIDTH: 300px
}
TEXTAREA {
	FONT: 11px Verdana, Arial, Helvetica, sans-serif; WIDTH: 300px
}
DIV#container TD#colRight DIV#content TEXTAREA {
	HEIGHT: 125px
}
DIV#container TD#colRight DIV#content SELECT {
	FONT: 11px Verdana, Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none
}
DIV#container TD#colRight DIV#content DIV#error {
	BORDER-RIGHT: #990000 1px solid; BORDER-TOP: #990000 1px solid; MARGIN: 15px 0px 15px 15px; BORDER-LEFT: #990000 1px solid; WIDTH: 485px; COLOR: #990000; BORDER-BOTTOM: #990000 2px solid; BACKGROUND-COLOR: #ffd2d2
}
DIV#container TD#colRight DIV#content DIV#error UL {
	MARGIN: 10px
}
DIV#container TD#colRight DIV#content DIV#error UL LI {
	LIST-STYLE-POSITION: outside; LIST-STYLE-IMAGE: url(/PrivateLabel/ATCWeb/Images/arrow_red_right.gif)
}
DIV#container DIV#footer {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 50px; FONT: 10px Verdana, Arial, Helvetica, sans-serif; WIDTH: 760px; COLOR: #999; PADDING-TOP: 7px; TEXT-ALIGN: center
}
TD#colLeft A {
	COLOR: #fede58; TEXT-DECORATION: none
}
DIV#footer A {
	COLOR: #fede58; TEXT-DECORATION: none
}
TD#colLeft A:hover {
	COLOR: #000; BACKGROUND-COLOR: #fede58; TEXT-DECORATION: none
}
DIV#footer A:hover {
	COLOR: #000; BACKGROUND-COLOR: #fede58; TEXT-DECORATION: none
}
