#container #rightfeature div.block-quickmenu {
  text-align:center;
  background: #1468b1;
  padding-top:4px;
  padding-bottom:5px;
}

#container #rightfeature div.block-quickmenu p {
  font-size:11px;
  line-height:11px;
  color: white;
}

#container #rightfeature div.block-quickmenu h2 {
  font-size:12px;
  font-weight:bold;
  color: #FFCC33;  
  width:100%;
}

#container #rightfeature div.block-quickmenu div.form-item {
  margin-top:0px;
}
