#classlist_view {
  position: relative;
  border: 1px solid #666;
}

#classlist_view li {
  list-style-type: none;
  position: relative;
  height: 25px;
  margin: 0 0 0 10px;
}


#classlist_view .view-content .views-field-field-date-value {
  position:absolute;
  float:left;
  width: 85px;
}

#classlist_view .view-content .views-field-title {
  position:absolute;
  float: left;
  margin-left:85px;
  clear:both;
}




#classlist_view .view-content a {
  margin-left:25px;
  text-decoration:none;
  color: 0e4d94;
  font-weight:bold;
  font-family: "Verdana", "Arial", sans-serif;
  font-size: 11px;

}

#classlist_view .view-content a:visited{
  color:#0e4d94;
}

#classlist_view a:visited {
  color:#1468b1;
}

#classlist_view  .view-content .date-display-single {
  font-size:11px;
}

#classlist_view  .view-content .views-field-title .field-content a {
  color: #1468b1;
  text-decoration:none;
  font-size:11px;
}
