#front-main-panel .views_slideshow_slide {
  background-color: #fafae8;
  height: 455px;
  border-right: 1px solid #666;
}

#front-main-panel .views_slideshow_slide .views-field-image-attach-images{
  width:795px;
  overflow:hidden;
}


#front-main-panel .views_slideshow_slide p{
  font-family: "Georgia", Times, serif;
  font-size: 16px;
  color: #666;
  padding-left: 15px;
  padding-right: 15px; 
}


#front-main-panel .views-slideshow-controls-bottom p.tabtext {
  font-family: "Georgia", Times, serif;
  font-size: 11px;
  font-weight: bold;
  color: #666; 
  padding-left: 15px; 
}


#front-main-panel .views-slideshow-controls-bottom {
}

#front-main-panel .views-slideshow-controls-bottom .views_slideshow_thumbnailhover_div_breakout_teaser{
  display:inline;
  float: left;
  width: 198px;
  height: 30px;
  background-color: #ffcc33;
  border-right: 1px solid #666;
  border-bottom: 1px solid #666;
  border-top: 1px solid #666;
  border-left: 1px solid #666;
  margin-left:-1px;
  border-bottom-right-radius: 10px;
  -moz-border-radius-bottomright: 10px;
}

#front-main-panel #views_slideshow_thumbnailhover_div_breakout_teaser_Front_FOUR-block_1_0{
 border-left:none;
 margin-left:0px;
}


#front-main-panel .views-slideshow-controls-bottom .views_slideshow_thumbnailhover_div_breakout_teaser.activeSlide{
  border-top: 0px solid transparent;
  height:31px;
  background-color: #fafae8;
}
