/************************
** EACH EVENT ACTIVITY **
************************/
.block div.item-wrapper{
  /*border: 1px solid #ccc;*/
  margin: 5px 5px 15px 5px;
  padding: 5px;
  position: relative;
  clear:both;
}

.block div.item-wrapper.Class_Program, .block div.item-wrapper.AYA_Reunion_Activity{
  border: 2px solid #9dbedd; /*light blue*/
  border-top: 15px solid #9dbedd;
}

.block div.item-wrapper.Campus_Activity{
  border:2px solid #aecc7e; /*light green*/
  border-top: 15px solid #aecc73;
}

.block div.item-wrapper.Friday_Lectures__Tours, .block div.item-wrapper.Morning_at_Yale {
  border:2px solid #dbab5e; /*orange*/
  border-top: 15px solid #dbab5e;
}


.block div.item-wrapper div.clear-block{
  clear:both;
}


/**ACTIVITY INFO**/
.block .item-wrapper div.activity-info {
  position: relative;
}

/**ACTIVITY INFO CONTENTS**/
.block .item-wrapper div.activity-info span.image.left{
  float: left;
}
.block .item-wrapper div.activity-info img.left{}
.block .item-wrapper div.activity-info span.image.right{
  float: right;
}
.block .item-wrapper div.activity-info img.right{}

#content .block .item-wrapper div.activity-info img {
  padding: 0;
  margin: 0 5px 5px 5px;
}

.block .item-wrapper div.activity-info span.description{}
.block .item-wrapper div.activity-info span.description p{}

.block .item-wrapper div.activity-info span.date-time{
  font-size: 11px;
  line-height: 18px;
}
.block .item-wrapper div.activity-info span.date-time span.start{}
.block .item-wrapper div.activity-info span.date-time span.end{}


/**ACTIVITY LOCATION INFO**/
.block .item-wrapper div.location-info {
  font-size: 11px;
  line-height: 18px;
  font-style: italic;
}


/**ACTIVITY LOCATION INFO CONTENTS**/
.block .item-wrapper div.location-info span.bldg-name{
  padding-right: 4px;
}
.block .item-wrapper div.location-info span.bldg-address{
  padding-right: 4px;
}
.block .item-wrapper div.location-info span.room-name{}
