#topnavbar div.menu, #topnavbar div.menu ul {
  line-height:1;
  list-style-image:none;
  list-style-position:outside;
  list-style-type:none;
  margin-top:10px;
  padding:0;
  text-align:left;
}

#topnavbar li.expanded {
  padding:0;
}

#topnavbar div.menu a {
/*  display:block; */
  width:170px;
}

#topnavbar div.menu li.active-trail{
  /*background-color: #0e4d94;
  border-left:1px solid black;
  border-right:1px solid black;*/
  color:white;
}

#topnavbar div.menu li.active-trail a{
  color:white;
}

#topnavbar div.menu li:hover{
  background-color: #efefef;
 /* border-left:1px solid #efefef;
  border-right:1px solid #efefef;*/
}

#topnavbar div.menu li:hover a{
  color:#1468b1;
}

#topnavbar div.menu li:hover ul li a{
	color:#666666;	
}

#topnavbar div.menu li ul li {
  padding-top:0px;
  margin-top:10px;
  margin-left:0px;
  margin-right:0px;
/*new*/
  font-size:11px;
  padding-left:0px;
  padding-right:0px;
  color: white;
  border-bottom: 1px dotted #666666;
}

#topnavbar div.menu li ul li:hover *{
  color: #666666;
}

#topnavbar div.menu li ul li a {
  color: #666666;
}

#topnavbar div.menu li ul {
  -moz-background-clip:border;
  -moz-background-inline-policy:continuous;
  -moz-background-origin:padding;
  background: #efefef none repeat scroll 0 0;
 /* border-left:1px solid #efefef;
  border-bottom:1px solid #efefef;
  border-right:1px solid #efefef;*/
  left:-999em;
  position:absolute;
  width:199px;
  margin-left:0px;
  margin-top:-1px; 
  z-index:500;
  padding-bottom:15px;
  text-align:left;
}

#topnavbar div.menu li ul ul {
  margin:-2.37em 0 0 185px;
  display:none;
}

#topnavbar div.menu li:hover ul ul, #topnavbar div.menu li:hover ul ul ul, #topnavbar div.menu li.sfhover ul ul, #topnavbar div.menu li.sfhover ul ul ul {
  left:-999em;
}

#topnavbar div.menu li:hover ul, #topnavbar div.menu li li:hover ul, #topnavbar div.menu li li li:hover ul, #topnavbar div.menu li.sfhover ul, #topnavbar div.menu li li.sfhover ul, #topnavbar div.menu li li li.sfhover ul {
  left:auto;
}

