/*AYA Typography*/

/*RESET*/
* {
  margin:0;
  padding:0;
  font-family: Georgia, Times, serif;

}

h1,h2,h3,h4,h5,h6,p,blockquote,form,label,ul,ol,dl,fieldset,address {
  margin: 0.5em 0;
}

li,dd {
  margin-left:1em;
}

fieldset {
  padding:.5em;
}


body {
  font-size:76%
  font-family: Arial, Helvetica, sans-serif;
  line-height:1.3em;
}

p, li {
  color:#000;
  font-size: 11px;
  line-height:18px;
}

table {
  font-size: 13px;
  line-height:1.3em;
}

/* CUSTOMIZE BY REGION */

/* FOOTER */
#footer-wrapper p{
  font-size: 12px;
  font-family: sans-serif;
}

#footer-nav p{
  font-size: 12px;
  font-family: Verdana, Helvetica, sans-serif;
  font-weight: normal;
  color: #cccccc;
  margin-top:10px;
  margin-left:10px;
}

#footer-nav a{
  color: #cccccc;
  font-family: Verdana, Helvetica, sans-serif;
  text-decoration: none;
  margin-left:15px;
  margin-right:15px;
}

#footer-nav a:hover{
  color: white;
}

#footer p {
  font-family: Verdana, Helvetica, sans-serif;
  font-size:12px;
  color: #999999;
}

#footer a {
  font-family: Verdana, Helvetica, sans-serif;
  font-size:12px;
  color: #999999;
}

#sub-footer p {
  margin-left:20px;
  margin-top:0px;
  color:#cccccc;
}

#sub-footer a {
  margin-left:5px;
  margin-right:5px;
  font-family: Verdana, Helvetica, sans-serif;
  color:#cccccc;
  text-decoration: none;
}

/* HEADER */
#toplinks-and-search p, #toplinks-and-search a {
  font-size:10px;
  line-height:15px;
  font-weight:bolder;
  color: #999999;
}


/* BREADCRUMBS */
.breadcrumb {
  color: white;
  font-size: 11px;
  padding:0px;
  font-weight:bold;
  font-style:italic;
}

.breadcrumb a{
  text-decoration:none;
  color: white;
  font-weight:normal;
}

.breadcrumb a:hover{
  text-decoration:underline;
}


/* RIGHT BOX */
#rightfeature h2 {
  color: #226db6;
  font-size: 14px;
  font-weight: bold;
}


/* CONTENT AREA */

#content h1 {
  color: #666666;
  font-size: 18px;
  font-weight: bolder;
  padding-bottom: 4px;
}

#content h2{
  color: #1468b1;
  font-size: 14px;
  font-weight: bold;
  text-transform:uppercase;
}

#content h3{
  color: #666666;
  font-size: 14px;
  font-weight:bold;
}

#content h4{
  color: #1468b1;
  font-size: 14px;
  font-weight:bold;
}
		
#content h5 {
  color: #ff0000;
  font-size: 13px;
}

#content img {
  margin-left: -2px;
  padding: 4px;
}


#content ul, #content ol {
  margin-left:12px;
}


/* MENUS */
/* ALL MENUS */
.menu li a{
  text-decoration:none;
  color: #1468b1;
}

.menu li a:hover{
  color: white;
}

#sidebar-left .menu li a:hover {
  color: #889999;
}


/* TOPRIGHT */
.ayamenu {
  font-size: 11px;
  font-family: serif;
  line-height:1.3em;
  padding-top:15px;
  padding-right:35px;
  color: #aaffff;
}

.ayamenu a {
  color: #ddeeff;
  text-decoration:none;
}

.ayamenu a:hover {
  color: #ffffff;
  text-decoration:underline;
}



/* PRIMARY NAVIGATION */
#topnavbar .menu li {
  list-style: none;
  margin-left:0px;
  font-size: 18px;
  font-weight:normal;
  color: white;
  font-family: Georgia, Times, serif;
 
}
#topnavbar .menu li a{
  text-decoration:none;
  color: white;
  display:block;
  padding-left:22px;
}

/* LEFT MENU */
#sidebar-left .menu li {
  display: block;
  list-style: none;
  margin-left:0px;
  font-size: 12px;
  line-height: 15px;
  
  width:198px;
  color: #2d3f60;
  font-family: arial, helvetica, sans-serif;
  border-bottom: 1px dotted #666666;
  padding-bottom:10px;
}

#sidebar-left .menu li:hover{
  background:#1468b1;
}

#sidebar-left .menu li:hover a {
	color: #cccccc;
	
}

#sidebar-left h2 {
  margin-left:22px;
}

#sidebar-left .menu a{
  margin-left:22px;
  margin-right:13px;
}

#sidebar-left h2 {
  font-size:14px;
  color: #1468b1;
}

#sidebar-left h2 a{
  text-decoration:none;
  color: #1468b1;
}

#sidebar-left h2.a:hover{
  color: white;
  text-decoration:underline;
}

#sidebar-left #navigation #primary .links li{
  display: block;
}

#sidebar-right .links li {
  display:block;
}

#rightfeature div.ayaquicklinks h2 {
	font-family: Georgia, Times, serif;
	font-size: 12px;
	color: #ffcc33;
	text-transform:uppercase;
}

#rightfeature h2 {
	font-family: Georgia, Times, serif;
	font-size: 12px;
	color: #1468b1;
	text-transform:uppercase;
}

#rightfeature div.content ul, #rightfeature div.content li, #rightfeature div.content p, #rightfeature div.content a {
	font-family: Georgia, Times, serif;
	font-size: 11px;
	color: #666666;
}

#rightfeature .menu li a{
  text-decoration:none;
  color: #666666;
}
	
/* VIEWS */ 
.view-content .item-list li {
  margin-left:30px;
}


/************************
 * WEB FORMS ************
 ************************/

#content form {
  font-family:"Georgia", Times, serif;
  font-size: 11px;
}

#content form fieldset legend {
  font-family:"Georgia", Times, serif;
  color: #1468b1;
  font-size:14px;
  font-weight: bold;
  text-transform: uppercase;
}


/****************************
 *** Front Carousel Links ***
 ****************************/

#tertiary ul li .field-content a {
  font-family: "Verdana", Arial, sans-serif;
  font-size: 14px;
  color: #666;
  text-decoration:none;
  
}



/*********************
 ** EVENT GOTO LINK **
 *********************/

p.gotolink {
  font-size: 16px;
  text-align: right;
  background-image: url('../images/icon-cal.gif');
  background-position: top right;
  background-repeat:no-repeat;
  padding-right:35px;
  padding-top: 6px;
  height:30px;
  font-weight:bold;
}

p.gotolink a{
  text-decoration: none;
  color:#0e4d94;
}

p.gotolink a:visited {
  color:#0e4d94;
}
