/*EDIT AND REVISION STYLES FOR LOGGED IN USERS*/
.messages {
  font-size: 11px;
  color: #990000;
}

.tabs ul.primary li {
 font-size: 11px;
}

.tabs ul.secondary li {
  font-size: 11px;
}

.tabs {
  display:inline-block;
}

.table-revisions {
  font-size: 11px;
  width: 100%;
}

.block-revisioning {
  background-color: #ffbbaa;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  border-bottom: 1px solid #666;
}

.block-revisioning h2 {
  font-size:13px;
}

.block-revisioning .item-list ul li {
  font-size:11px;
}


/*VIEWS MODULE LISTINGS*/
.views-row {
  margin-top: 30px;
  padding-top:10px;
}

.views-field-title {
  font-size:12px;
}

.views-label-created {
  font-size: 10px;
}

.views-field-created .field-content {
  font-size: 10px;
  font-style: italic;
}

.views-label-view-node {
  font-size:12px;
  font-weight:bold;
}

.views-field-view-node .field-content {
  font-size: 12px;
  font-style: italic;
}

ul.links li.comment_forbidden {
  display: none;
}

.views-label-field-date-value {
  font-size: 12px;
  font-weight: bold;
}

.date-display-single {
  font-size: 12px;
}

.field-field-date {
  padding-left: 12px;
  font-size: 12px;
  font-weight: bold;
}

.field-field-date .field-label {
  display: none;
}

.table-nodes {
  font-size:11px;
}

.view-content .item-list {
  margin-top: 15px;
}


/********************
 * STAFF LIST VIEWS *
 ********************/

table.views-view-grid--staff-list td.col-1, table.views-view-grid--staff-list td.col-2 {
  width:340px;
  vertical-align:top;
  padding-bottom:14px;
}

table.views-view-grid--staff-list span.views-field-FirstName, table.views-view-grid--staff-list span.views-field-LastName {
  font-size:14px;
  font-weight:bold;
}

div.view-staff-list.view-display-id-default  div.view-content h3 {
  display:none;
}

/******************
 * CALENDAR POPUP *
 ******************/

div#calpopup div#calpopup-body div.node h2 {
  text-align:left;
  font-size:16px;
  font-weight:bold; 
}


div#calpopup div#calpopup-body div.node h2 a {
  text-decoration: none;
  color: #1468b1;
}

div#calpopup div#calpopup-body div.node div.meta {
  display:none;
}

div#calpopup div#calpopup-body div.node div.content div.field-field-date {
  text-align:left;
  font-size:12px;
  font-weight:normal;
}

div#calpopup div#calpopup-body div.node div.content div.field-field-date span {
 display:block;
 clear:both;
}

div#calpopup div#calpopup-body div.node div.content p {
  text-align:left;
  font-size:12px;
}

div#calpopup div#calpopup-body div#nodelink {
  display: none;
}

div#calpopup div#calpopup-body .field-field-extlink{
  display:none;
}
