HTML {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; TEXT-ALIGN: center
}
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; TEXT-ALIGN: center
}
#pagewidth {
	MARGIN-LEFT: auto; WIDTH: 100%; MARGIN-RIGHT: auto; TEXT-ALIGN: left
}
#adamenu {
	DISPLAY: none
}
#hdr {
	MARGIN-BOTTOM: 10px; WIDTH: 100%; HEIGHT: 62px
}
#logo {
	BORDER-BOTTOM: black 1px solid
}
#search {
	DISPLAY: none; FLOAT: right; MARGIN-LEFT: 585px; WIDTH: 175px; POSITION: absolute; TOP: 25px; HEIGHT: 30px
}
#snow {
	BORDER-RIGHT: red 3px solid; PADDING-RIGHT: 5px; BORDER-TOP: red 3px solid; DISPLAY: none; PADDING-LEFT: 5px; BACKGROUND: #ffeedd; PADDING-BOTTOM: 5px; BORDER-LEFT: red 3px solid; PADDING-TOP: 5px; BORDER-BOTTOM: red 3px solid; TEXT-ALIGN: center
}
#menublock {
	DISPLAY: none; BACKGROUND: url(/images/Templates/facstaff/top_menu.jpg); HEIGHT: 30px
}
#logobottom {
	WIDTH: 78px; POSITION: absolute; HEIGHT: 30px
}
#submenu {
	PADDING-LEFT: 78px; WIDTH: 687px; PADDING-TOP: 6px; POSITION: relative; HEIGHT: 18px
}
#outer {
	BORDER-RIGHT: white 0px solid; BORDER-TOP: white 0px solid; BORDER-LEFT: white 0px solid; WIDTH: auto; BORDER-BOTTOM: white 0px solid; BACKGROUND-COLOR: #ffffff
}
#inner {
	MARGIN: 0px; WIDTH: 100%
}
#l-g-col {
	BORDER-RIGHT: black 1px solid; DISPLAY: none; FLOAT: left; MARGIN-LEFT: -140px; WIDTH: 138px; MARGIN-RIGHT: 1px; POSITION: relative
}
#maincol {
	FLOAT: left; WIDTH: 100%; POSITION: relative
}
#pageheader {
	PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 3px
}
#SubLogo {
	DISPLAY: block; FLOAT: right; PADDING-BOTTOM: 5px
}
#MainContent {
	PADDING-RIGHT: 5px; PADDING-LEFT: 10px; WIDTH: 100%
}
#footer {
	BORDER-TOP: black 0px solid; DISPLAY: none; WIDTH: 775px; POSITION: relative; HEIGHT: 114px; BACKGROUND-COLOR: #e6e6e9
}
#newsfooter {
	PADDING-LEFT: 6px; BACKGROUND: url(/images/homepage1/bottom_left.jpg); MARGIN-LEFT: 0px; WIDTH: 354px; PADDING-TOP: 10px; POSITION: relative; HEIGHT: 104px
}
#newsimage {
	PADDING-LEFT: 10px; BACKGROUND: url(/images/homepage1/bottom_middle.jpg); MARGIN-LEFT: 360px; WIDTH: 168px; PADDING-TOP: 8px; POSITION: absolute; TOP: 0px; HEIGHT: 106px
}
#footerimage {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; BORDER-LEFT: #000000 1px solid; WIDTH: 150px; BORDER-BOTTOM: #000000 1px solid; HEIGHT: 96px
}
#quicklinks {
	PADDING-LEFT: 6px; BACKGROUND: url(/images/homepage1/bottom_right.jpg); MARGIN-LEFT: 528px; WIDTH: 241px; PADDING-TOP: 9px; POSITION: absolute; TOP: 0px; HEIGHT: 105px
}
#outer > #inner {
	BORDER-BOTTOM: #ffffff 1px solid
}
.clr {
	CLEAR: both
}
#header .content {
	PADDING-BOTTOM: 0px
}
.donotprint {
	DISPLAY: none
}
#leftmenu {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 10px; MARGIN-BOTTOM: 1px; PADDING-BOTTOM: 1px; WIDTH: 140px; COLOR: #000000; PADDING-TOP: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
#leftmenu UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; LIST-STYLE-TYPE: none; BORDER-BOTTOM-STYLE: none
}
#leftmenu LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: #000 1px solid
}
#leftmenu LI A {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 2px; FONT-SIZE: 10px; PADDING-BOTTOM: 0px; WIDTH: 100%; COLOR: #000000; PADDING-TOP: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
HTML > BODY #leftmenu LI A {
	WIDTH: auto
}
#leftmenu LI A:hover {
	COLOR: #fff; BACKGROUND-COLOR: #2586d7
}
.narrowcolumn {
	FLOAT: left; MARGIN: 0px; WIDTH: 100%
}
.widecolumn {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 5px 0px 0px 5px; WIDTH: 100%; PADDING-TOP: 10px
}
.post {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; MARGIN: 0px 0px 10px; BACKGROUND-COLOR: #eeeeee; TEXT-ALIGN: justify
}
.widecolumn .post {
	MARGIN: 0px
}
.narrowcolumn .postmetadata {
	PADDING-TOP: 5px
}
.widecolumn .postmetadata {
	MARGIN: 30px 0px
}
H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.description {
	TEXT-ALIGN: center
}
H2 {
	MARGIN: 0px; BORDER-BOTTOM: black 1px solid
}
H2.pagetitle {
	MARGIN-TOP: 0px; TEXT-ALIGN: center
}
#sidebar H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 5px 0px 0px; PADDING-TOP: 0px
}
H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 30px 0px 0px; PADDING-TOP: 0px
}
H3.comments {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 40px auto 20px; PADDING-TOP: 0px
}
P IMG {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; MAX-WIDTH: 100%; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
IMG.centered {
	DISPLAY: block; MARGIN-LEFT: auto; MARGIN-RIGHT: auto
}
IMG.alignright {
	PADDING-RIGHT: 4px; DISPLAY: inline; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; MARGIN: 0px 0px 2px 7px; PADDING-TOP: 4px
}
IMG.alignleft {
	PADDING-RIGHT: 4px; DISPLAY: inline; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; MARGIN: 0px 7px 2px 0px; PADDING-TOP: 4px
}
.alignright {
	FLOAT: right
}
.alignleft {
	FLOAT: left
}
HTML > BODY .entry UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; MARGIN-LEFT: 0px; TEXT-INDENT: -10px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
HTML > BODY .entry LI {
	MARGIN: 7px 0px 8px 10px
}
.entry UL LI:unknown {
	content: "» "
}
#sidebar UL UL LI:unknown {
	content: "» "
}
.entry OL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 35px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.entry OL LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.postmetadata UL {
	DISPLAY: inline; LIST-STYLE-IMAGE: none; LIST-STYLE-TYPE: none
}
.postmetadata LI {
	DISPLAY: inline; LIST-STYLE-IMAGE: none; LIST-STYLE-TYPE: none
}
#sidebar UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#sidebar UL OL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#sidebar UL LI {
	LIST-STYLE-IMAGE: none; MARGIN-BOTTOM: 15px; LIST-STYLE-TYPE: none
}
#sidebar UL P {
	MARGIN: 5px 0px 8px
}
#sidebar UL SELECT {
	MARGIN: 5px 0px 8px
}
#sidebar UL UL {
	MARGIN: 5px 0px 0px 10px
}
#sidebar UL OL {
	MARGIN: 5px 0px 0px 10px
}
#sidebar UL UL UL {
	MARGIN: 0px 0px 0px 10px
}
#sidebar UL OL {
	MARGIN: 0px 0px 0px 10px
}
OL LI {
	LIST-STYLE-POSITION: outside; LIST-STYLE-TYPE: decimal
}
#sidebar UL OL LI {
	LIST-STYLE-POSITION: outside; LIST-STYLE-TYPE: decimal
}
#sidebar UL UL LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 3px 0px 0px; PADDING-TOP: 0px
}
#sidebar UL OL LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 3px 0px 0px; PADDING-TOP: 0px
}
#searchform {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 5px; MARGIN: 10px auto; PADDING-TOP: 5px
}
#sidebar #searchform #s {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; WIDTH: 115px; PADDING-TOP: 2px
}
#sidebar #searchsubmit {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; PADDING-TOP: 1px
}
.entry FORM {
	TEXT-ALIGN: center
}
SELECT {
	WIDTH: 130px
}
#commentform INPUT {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; MARGIN: 5px 5px 1px 0px; WIDTH: 170px; PADDING-TOP: 2px
}
#commentform TEXTAREA {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; WIDTH: 100%; PADDING-TOP: 2px
}
#commentform #submit {
	FLOAT: right; MARGIN: 0px
}
.alt {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; MARGIN: 0px; PADDING-TOP: 10px
}
.commentlist {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; TEXT-ALIGN: justify
}
.commentlist LI {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 3px; MARGIN: 15px 0px 3px; PADDING-TOP: 5px; LIST-STYLE-TYPE: none
}
.commentlist P {
	MARGIN: 10px 5px 10px 0px
}
#commentform P {
	MARGIN: 5px 0px
}
.nocomments {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; TEXT-ALIGN: center
}
.commentmetadata {
	DISPLAY: block; MARGIN: 0px
}
#sidebar {
	PADDING-RIGHT: 0px; DISPLAY: none; PADDING-LEFT: 3px; PADDING-BOTTOM: 10px; MARGIN-LEFT: 470px; WIDTH: 140px; PADDING-TOP: 20px
}
#sidebar FORM {
	MARGIN: 0px
}
#wp-calendar {
	MARGIN: 10px auto 0px; WIDTH: 155px; empty-cells: show
}
#wp-calendar #next A {
	PADDING-RIGHT: 10px; TEXT-ALIGN: right
}
#wp-calendar #prev A {
	PADDING-LEFT: 10px; TEXT-ALIGN: left
}
#wp-calendar A {
	DISPLAY: block
}
#wp-calendar CAPTION {
	WIDTH: 100%; TEXT-ALIGN: center
}
#wp-calendar TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; TEXT-ALIGN: center
}
#wp-calendar TD.pad:hover {
	BACKGROUND-COLOR: #fff
}
ACRONYM {
	CURSOR: help
}
ABBR {
	CURSOR: help
}
SPAN.caps {
	CURSOR: help
}
ACRONYM {
	BORDER-BOTTOM: #999 1px dashed
}
ABBR {
	BORDER-BOTTOM: #999 1px dashed
}
BLOCKQUOTE {
	PADDING-LEFT: 20px; MARGIN: 15px 30px 0px 10px
}
BLOCKQUOTE CITE {
	DISPLAY: block; MARGIN: 5px 0px 0px
}
.center {
	TEXT-ALIGN: center
}
HR {
	DISPLAY: none
}
A IMG {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.navigation {
	DISPLAY: block; MARGIN-BOTTOM: 10px; TEXT-ALIGN: center
}
