.clr {
	CLEAR: both
}
#PullQuote {
	BORDER-RIGHT: black 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: black 1px solid; PADDING-LEFT: 5px; BACKGROUND: #eeeeee; FLOAT: right; PADDING-BOTTOM: 5px; MARGIN-LEFT: 10px; BORDER-LEFT: black 1px solid; WIDTH: 200px; PADDING-TOP: 5px; BORDER-BOTTOM: black 1px solid
}
.phonebookimage {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; FLOAT: right; MARGIN: 5px; BORDER-LEFT: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid
}
.GrayBackgroundLight {
	BACKGROUND-COLOR: #eeeeee
}
.GrayBackgroundMed {
	BACKGROUND-COLOR: #dddddd
}
.GrayBackgroundDark {
	BACKGROUND-COLOR: #cccccc
}
.formerror {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; PADDING-BOTTOM: 15px; COLOR: #ff0000; TEXT-ALIGN: center
}
.UnderlinedHeadline {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 15px; PADDING-BOTTOM: 2px; TEXT-TRANSFORM: none; WIDTH: 99%; PADDING-TOP: 2px; BORDER-BOTTOM: 1px solid; BACKGROUND-COLOR: #eeeeff; TEXT-DECORATION: none
}
.grayboxfullNP {
	WIDTH: 100%; BACKGROUND-COLOR: #eeeeee
}
.GrayBoxSmallHeadline {
	PADDING-RIGHT: 2px; MARGIN-TOP: 20px; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 15px; PADDING-BOTTOM: 2px; TEXT-TRANSFORM: none; WIDTH: 100%; PADDING-TOP: 2px; BORDER-BOTTOM: 1px solid; BACKGROUND-COLOR: #eeeeff; TEXT-DECORATION: none
}
.graybox {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; WIDTH: 90%; PADDING-TOP: 2px; BACKGROUND-COLOR: #eeeeee
}
.grayboxfull {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; WIDTH: 100%; PADDING-TOP: 2px; BACKGROUND-COLOR: #eeeeee
}
.grayboxborder {
	BORDER-RIGHT: 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; MARGIN: 5px; BORDER-LEFT: 1px solid; WIDTH: 95%; PADDING-TOP: 2px; BORDER-BOTTOM: 1px solid; BACKGROUND-COLOR: #eeeeee
}
.NewsIndexImage {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; FLOAT: right; MARGIN: 5px; BORDER-LEFT: 1px solid; BORDER-BOTTOM: 1px solid; BACKGROUND-COLOR: #fff
}
.AdmissionsLeftAlignImage {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; MARGIN-TOP: 5px; FLOAT: left; MARGIN-BOTTOM: 5px; BORDER-LEFT: 1px solid; MARGIN-RIGHT: 17px; BORDER-BOTTOM: 1px solid; BACKGROUND-COLOR: #fff
}
.formSection {
	
}
.FormSectionHeader {
	
}
.NoBulletPoints UL {
	LIST-STYLE-TYPE: none
}
.horozontal_menu LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.horozontal_menu LI {
	DISPLAY: inline
}
#tabs UL {
	DISPLAY: inline; PADDING-LEFT: 0px; MARGIN-LEFT: 0px
}
#tabs UL LI {
	BORDER-RIGHT: #000 1px solid; PADDING-RIGHT: 13px; BORDER-TOP: #000 1px solid; DISPLAY: inline; PADDING-LEFT: 13px; PADDING-BOTTOM: 1px; MARGIN-LEFT: 0px; BORDER-LEFT: #000 1px solid; MARGIN-RIGHT: 3px; PADDING-TOP: 0px; BORDER-BOTTOM: #000 1px solid; LIST-STYLE-TYPE: none; BACKGROUND-COLOR: #ffa
}
#tabs UL LI.here {
	DISPLAY: inline; BORDER-BOTTOM: #f5f5f5 1px solid; LIST-STYLE-TYPE: none; BACKGROUND-COLOR: #f5f5f5
}
#tabs UL LI:hover {
	DISPLAY: inline; LIST-STYLE-TYPE: none; BACKGROUND-COLOR: #fff
}
#NoBullets UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#NoBullets LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#HeadlineUnder {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; WIDTH: 99%; PADDING-TOP: 2px; BORDER-BOTTOM: 1px solid; BACKGROUND-COLOR: #eeeeff
}
#HeadlineUnderPlain {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; WIDTH: 99%; PADDING-TOP: 2px; BORDER-BOTTOM: 1px solid
}
#formindent INPUT {
	
}
.Indent {
	MARGIN-LEFT: 20px
}
