BODY {
	MARGIN: 0px; BACKGROUND-COLOR: #8e181b
}
P {
	FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 15px; FONT-FAMILY: verdana, Helvetica, sans-serif
}
TD {
	FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 15px; FONT-FAMILY: verdana, Helvetica, sans-serif
}
LI {
	FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 15px; FONT-FAMILY: verdana, Helvetica, sans-serif
}
DIV {
	FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 15px; FONT-FAMILY: verdana, Helvetica, sans-serif
}
UL {
	MARGIN-TOP: 5px
}
LI {
	MARGIN-TOP: 5px}
A {FONT-SIZE: 10px; COLOR: #000000; TEXT-DECORATION: underline}
A:link {FONT-SIZE: 10px; COLOR: #000000; TEXT-DECORATION: underline}
A:visited {FONT-SIZE: 10px; COLOR: #000000; TEXT-DECORATION: underline}
A:hover {FONT-SIZE: 10px; COLOR: #8e181b; TEXT-DECORATION: none}
A:active {FONT-SIZE: 10px; COLOR: #000000; TEXT-DECORATION: underline}
A.footer {COLOR: #000000; TEXT-DECORATION: none}
A.footer:link {COLOR: #000000; TEXT-DECORATION: none}
A.footer:visited {COLOR: #000000; TEXT-DECORATION: none}
A.footer:hover {COLOR: #000000; TEXT-DECORATION: underline}
A.footer:active {COLOR: #000000; TEXT-DECORATION: none}
A.cite {COLOR: #999999; TEXT-DECORATION: none}
A.cite:link {COLOR: #999999; TEXT-DECORATION: none}
A.cite:visited {COLOR: #999999; TEXT-DECORATION: none}
A.cite:hover {COLOR: #999999; TEXT-DECORATION: underline}
A.cite:active {COLOR: #999999; TEXT-DECORATION: none}
A.listen {FONT-SIZE: 10px; COLOR: #000000; TEXT-DECORATION: underline}
A.listen:link {FONT-SIZE: 10px; COLOR: #000000; TEXT-DECORATION: underline}
A.listen:visited {FONT-SIZE: 10px; COLOR: #000000; TEXT-DECORATION: underline}
A.listen:hover {FONT-SIZE: 10px; COLOR: #8e181b; TEXT-DECORATION: none}
A.listen:active {FONT-SIZE: 10px; COLOR: #000000; TEXT-DECORATION: underline}
.pageTitle {
	MARGIN-TOP: 5px; FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #8e181b
}
.pageHeader {
	MARGIN-TOP: 5px; FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #8e181b
}
.footer {
	FONT-SIZE: 11px; FONT-FAMILY: arial
}
.cite {
	FONT-SIZE: 11px; COLOR: #999999; FONT-FAMILY: arial
}
#callout {
	MARGIN-LEFT: 3px; MARGIN-RIGHT: 5px
}
.callout {
	MARGIN-TOP: 35px; FONT-SIZE: 10px; MARGIN-LEFT: 3px; LINE-HEIGHT: 12px; MARGIN-RIGHT: 5px
}
