hr.lp1,
hr.lp2,
hr.lp3,
hr.lp4,
hr.lp5,
hr.lp6,
hr.lp7,
hr.lp8,
hr.lp9,
hr.lp10,
hr.lp11,
hr.lp12,
hr.lp13,
hr.lp14,
hr.lp15,
hr.lp16,
hr.lp17,
hr.lp18,
hr.lp19,
hr.lp20
 {
	height:40px;
	width:881px;
	margin:10px 0 20px 0;
	padding:0;
	border:none;
	background-color:#FFF;
	background-image:url('/clients/ArtLosAngelesFair/Images/1.gif');	
	background-repeat:no-repeat;
}

hr.lp1 {
	background-image:url('/clients/ArtLosAngelesFair/Images/1.gif');	
}

hr.lp2 {
	background-image:url('/clients/ArtLosAngelesFair/Images/2.gif');	
}

hr.lp3 {
	background-image:url('/clients/ArtLosAngelesFair/Images/3.gif');	
}

hr.lp4 {
	background-image:url('/clients/ArtLosAngelesFair/Images/4.gif');	
}

hr.lp5 {
	background-image:url('/clients/ArtLosAngelesFair/Images/12.gif');	
}

hr.lp6 {
	background-image:url('/clients/ArtLosAngelesFair/Images/6.gif');	
}

hr.lp7 {
	background-image:url('/clients/ArtLosAngelesFair/Images/7.gif');	
}

hr.lp8 {
	background-image:url('/clients/ArtLosAngelesFair/Images/8.gif');	
}

hr.lp9 {
	background-image:url('/clients/ArtLosAngelesFair/Images/7.gif');	
}

hr.lp10 {
	background-image:url('/clients/ArtLosAngelesFair/Images/10.gif');	
}

hr.lp11 {
	background-image:url('/clients/ArtLosAngelesFair/Images/11.gif');	
}

hr.lp12 {
	background-image:url('/clients/ArtLosAngelesFair/Images/12.gif');	
}

hr.lp13 {
	background-image:url('/clients/ArtLosAngelesFair/Images/13.gif');	
}

hr.lp14 {
	background-image:url('/clients/ArtLosAngelesFair/Images/14.gif');	
}

hr.lp15 {
	background-image:url('/clients/ArtLosAngelesFair/Images/15.gif');	
}

hr.lp16 {
	background-image:url('/clients/ArtLosAngelesFair/Images/16.gif');	
}

hr.lp17 {
	background-image:url('/clients/ArtLosAngelesFair/Images/17.gif');	
}

hr.lp18 {
	background-image:url('/clients/ArtLosAngelesFair/Images/18.gif');	
}

hr.lp19 {
	background-image:url('/clients/ArtLosAngelesFair/Images/19.gif');	
}

hr.lp20 {
	background-image:url('/clients/ArtLosAngelesFair/Images/20.gif');	
}
