<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
<head runat="server">
<asp:ContentPlaceHolder id="MasterHead" runat="server"></asp:ContentPlaceHolder>
</head>
<BODY leftmargin=0 rightmargin=0 topmargin=0 marginheight=0 marginwidth=0 >
<form id="form1" runat="server">
<div>
<script language="JavaScript" type="text/javascript">

<!--
    // JavaScript to interpolate random images into a page.
    var ic = 4     // Number of alternative images
    var xoxo = new Array(ic);  // Array to hold filenames
        

xoxo[0] = "../images/amenities_2009.jpg";
xoxo[1] = "../images/amenities_2009.jpg";
xoxo[2] = "../images/amenities_2009.jpg";
xoxo[3] = "../images/amenities_2009.jpg";

function pickRandom(range) {
if (Math.random)
return Math.round(Math.random() * (range-1));
else {
var now = new Date();
return (now.getTime() / 1000) % range;
}
}
// Write out an IMG tag, using a randomly-chosen image name.
var choice = pickRandom(ic);
// -->
</script>

<link rel="shortcut icon" href="http://www.desmondhotelsalbany.com/images/favicon.ico">
<link rel="stylesheet" href="/clients/DesmondHotels/Images/desmondStyles.css" type="TEXT/CSS">
<style type="text/css">
.style1 {
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-size: 12.0px;
	line-height: normal;
	font-family: Arial;
	color: #1a0000;
	margin: 0.0px;
}
.style2 {
	font-family: Arial;
}
.style3 {
	font-family: Arial;
	font-weight: bold;
}
.style4 {
	font-family: Arial;
	font-size: x-small;
}
.style5 {
	font-family: Arial;
	font-weight: bold;
	font-size: x-small;
}
.style6 {
	font-size: x-small;
}
.style7 {
	font-size: x-small;
	font-weight: bold;
}
.style8 {
	background-image: url('../images/line_down.png');
}
.style9 {
	font-family: Arial;
	font-weight: bold;
	font-size: 12px;
}
.style10 {
	font-family: Arial;
	font-size: 12px;
}
.style11 {
	font-size: 13px;
	font-weight: bold;
}
.style12 {
	font-family: Arial;
	font-size: 13px;
}
.style13 {
	font-size: 13px;
}
</style>
<link type="text/css" rel="stylesheet" href="/clients/DesmondHotels/Images/sharethis.css"></head>
<body class="main">
<!--CONTAINER-->
<div class="container">
		<!--HEADER-->
		<div class="header">
				 <!-- LEFT -->
				 <a href="http://www.desmondhotelsalbany.com/">
					<img alt="Desmond Hotel and Conference Center" src="/clients/DesmondHotels/Images/desmond-logo.gif" height="123" width="256"></a>
				 <!-- /LEFT -->
				 
				 <!-- RIGHT -->
				 <div class="nav">
				 			<!-- TOP MAIN LINKS -->
				 			 <ul>
									 <li><a href="http://www.desmondhotelsalbany.com/contact-us/" class="padding-left-5">
										CONTACT US</a></li>
									 <li class="border-right-green"><a href="http://www.desmondhotelsalbany.com/giftcards/" class="padding-sides-5">
										GIFT CARDS</a></li>
									 <li class="border-right-green"><a href="http://www.desmondhotelsalbany.com/map-and-directions/" class="padding-sides-5">
										MAP &amp; DIRECTIONS</a></li>
									 <li class="border-right-green"><a href="http://www.desmondhotelsalbany.com/about-the-desmond/" class="padding-sides-5">
										ABOUT THE DESMOND</a></li><li class="border-right-green"><a target="_blank" href="http://eepurl.com/u6Lh" class="padding-sides-5">JOIN OUR MAILING LIST</a></li>
							</ul>
							<p>
								 <span class="text-right font-bold">660 Albany 
									Shaker Road, Albany, NY 12211</span><br>
								 <span class="text-right font-bold">
									1-800-448-3500 (518)869-8100</span>
							</p>						
							<!-- BUTTON LINKS -->
									 <!-- GREEN BAK -->
									 <ul class="buttons-green">
									 		 <li><a href="http://www.desmondhotelsalbany.com/photogallery/">PHOTO GALLERY</a></li>
											 <li><a href="http://www.desmondhotelsalbany.com/amenities/" class="current">AMENITIES</a></li>
											 <li><a href="http://www.desmondhotelsalbany.com/specials-and-packages/">SPECIALS &amp; PACKAGES</a></li>
											 <li>
												<a target="_blank" href="https://booking.ihotelier.com/istay/istay.jsp?hotelid=12446">RESERVATIONS</a></li>
									 </ul> 
									 <!-- /GREEN BAK -->
									 
									 <!-- GRAY BAK -->
									 <ul class="buttons-gray">
									 		 <li><a href="http://www.desmondhotelsalbany.com/weddings-and-special-events/">WEDDINGS</a></li>
											 <li><a href="http://www.desmondhotelsalbany.com/conferences-and-meetings/">CONFERENCES &amp; MEETINGS</a></li>
											 <li><a href="http://www.desmondhotelsalbany.com/wine-and-dine/">WINE &amp; DINE</a></li>
											 <li><a href="http://www.desmondhotelsalbany.com/accommodations/">ACCOMMODATIONS</a></li>
									 </ul>
									 <!-- /GRAY BAK -->
									 
							<!-- /BUTTON LINKS -->
				 </div>
				 <!-- /RIGHT -->
		</div>
		<!--/HEADER-->
		
		<!-- MIDDLE -->
		<!-- /MIDDLE -->
		
		<!-- BOTTOM -->
		<div class="bottom">
		<table style="width: 98%" cellpadding="0" cellspacing="0">
			<tbody><tr>
				<td>

		<table class="padding-sides-10" cellpadding="0" cellspacing="0" align="center">
			<tbody><tr>
				<td>

<asp:ContentPlaceHolder id="MasterContent" runat="server"></asp:ContentPlaceHolder>
</td>
			</tr>
		</tbody></table>
				</td>
			</tr>
		</tbody></table>
		<br>
		<div class="bottom-boxes">
  				 <ul class="buttons-gray">
  			 		 <li><a href="http://www.desmondhotelsalbany.com/specials-and-packages/"><img alt="Specials &amp; Packages" title="Specials &amp; Packages" src="/clients/DesmondHotels/Images/bottombox1.jpg" height="153" width="207"></a></li>
  					 <li><a href="http://www.desmondhotelsalbany.com/news-and-events/"><img alt="Events at the Desmond" title="Events at the Desmond" src="/clients/DesmondHotels/Images/bottom-box2.gif" height="153" width="207"></a></li>
  					 <li><a href="http://www.desmondhotelsalbany.com/explore-the-desmond/"><img alt="Explore the Desmond" title="Explore the Desmond" src="/clients/DesmondHotels/Images/bottombox3.jpg" height="153" width="207"></a></li>
  					 <li><a href="http://www.desmondhotelsalbany.com/photogallery/"><img alt="Photo Gallery" title="Photo Gallery" src="/clients/DesmondHotels/Images/gallery_pic.jpg" height="153" width="207"></a></li>
  				 </ul>
  		</div>
		<div>
		<!-- /BOTTOM -->
		
		<!-- FOOTER -->
		<div class="footer">
				 <ul>
  					 <li class="border-right-green"><a href="http://www.desmondhotelsalbany.com/accommodations/" class="padding-sides-5">ACCOMMODATIONS</a></li>
  					 <li class="border-right-green"><a href="http://www.desmondhotelsalbany.com/wine-and-dine/" class="padding-sides-5">WINE &amp; DINE</a></li>
						 <li class="border-right-green"><a href="http://www.desmondhotelsalbany.com/weddings-and-special-events/" class="padding-sides-5">WEDDINGS </a></li>
						 <li class="border-right-green"><a href="http://www.desmondhotelsalbany.com/conferences-and-meetings/" class="padding-sides-5">CONFERENCES</a></li>
						 <li class="border-right-green"><a href="http://www.desmondhotelsalbany.com/press/" class="padding-sides-5">PRESS</a></li>
						 <li class="border-right-green"><a href="http://www.desmondhotelsalbany.com/news-and-events" class="padding-sides-5">NEWS &amp; EVENTS</a></li>
						 <li class="border-right-green"><a href="http://www.desmondhotelsalbany.com/capital-region-local-attractions/" class="padding-sides-5">CAPITAL REGION ATTRACTIONS</a></li>
                         <li class="border-right-green"><a href="http://www.desmondhotelsalbany.com/employment/" class="padding-sides-5">EMPLOYMENT</a></li>
                         <li class="border-right-green"><a href="http://www.desmondhotelsalbany.com/sitemap/" class="padding-sides-5">SITEMAP</a></li>
						 <li><a href="http://www.desmondhotelsalbany.com/contact-us/" class="padding-sides-5">CONTACT US</a></li>
  			 </ul>
<p class="font-black"><br><strong>The Desmond Albany Hotel</strong> | 660 Albany Shaker Road, Albany, New York, 12211 | Tel. 518-869-8100 | 1-800-448-3500<br><br>© Copyright 2008 - 2010 The Desmond Hotel and Conference Center, Albany, NY. All Rights Reserved. <span class="c14"><a href="http://www.desmondhotelsalbany.com/policy/"><u>Privacy Policy</u></a></span><br>
Traveling to the Philadelphia area? Visit the <a class="copy" target="_blank" href="http://www.desmondgv.com/">Desmond Hotel</a> in Malvern, PA</p>
<br>
								<script type="text/javascript" src="/clients/DesmondHotels/Images/sharethis.js"></script><span id="sharethis_0"><a st_page="home" href="javascript:void(0)" title="ShareThis via email, AIM, social bookmarking and networking sites, etc." class="stbutton stico_default"><span st_page="home" class="stbuttontext">ShareThis</span></a></span>
	
		</div>
		<!-- /FOOTER -->
		
		
		
</div>
<!--/CONTAINER-->

<!--GOOGLE-ANALYTICS-SCRIPT BEGIN-->

<script src="/clients/DesmondHotels/Images/urchin.js" type="text/javascript">
</script>
<script type="text/javascript">
    _uacct = "UA-3329945-1";
    urchinTracker();
</script>

<!--GOOGLE-ANALYTICS-SCRIPT END-->




</div>
</form>
</body>
</html>