a:link {
    text-decoration: none;
    color: #003399;}
a:visited {
    text-decoration: none;
    color: #003399;}
a:hover {
    text-decoration: underline;
    color: #003399;}

body {
    background: #ffffff;
    background-image: url(/clients/CityBoxing/Images/bgtile.jpg);
    color: #666666;
    font-family: Verdana, Sans-Serif;
    font-size: 11px;
	margin: 0px;
	padding: 0px;}

table {
    font-family: Verdana, Sans-Serif;
    font-size: 11px;}

img {behavior: url(/iepngfix.htc)}

/* dsp collapsable div */
a.dsphead{
   text-decoration:none;}
a.dsphead:hover{
   text-decoration:underline;}
a.dsphead span.dspchar{
   font-family:monospace;
   font-weight:normal;}
.dspcont{
   display:none;}/* [END] dsp collapsable div */

.imgborder {border: solid 1px #333333;}

/* classes pages */
.classes_title {
    font-size: 25px;
    font-weight: bold;
    text-align: right;
    padding-right: 40px;}
.classes_subtitle {
    font-size: 13px;
    font-weight: bold;}/* [END] classes pages */

.control_border {border: solid 1px #4a6f95;}
.control_button {
    text-align: right;
    padding: 5px 10px 5px 10px;}
.control_subtitle {
    font-weight: bold;
    padding: 3px 3px 3px 8px;}
.control_title {
    font-weight: bold;
    background-color: #4a6f95;
    color: #ffffff;
    padding: 3px;}

/* drop down menu */
.dropdownmenu {
    width: 142px;
    z-index: 100;
    position: absolute;
    border: solid 1px #000000;
    border-bottom-width: 0px;
    font-family: Verdana, Sans-Serif;
    font-size: 10px;
    font-weight: bold;
    line-height: 16px;
    background-color: #ffffff;
    background-image: url(/clients/CityBoxing/Images/150x5.jpg);
    background-repeat: repeat-y;
    visibility: hidden;}
.dropdownmenu a:link {
    width: 134px;
    border-bottom: solid 1px #000000;
    padding-left: 8px;
    text-decoration: none;
    text-indent: 5px;
    color: #ffffff;
    display: block;}
.dropdownmenu a:visited {
    width: 134px;
    border-bottom: solid 1px #000000;
    padding-left: 8px;
    text-decoration: none;
    text-indent: 5px;
    color: #ffffff;
    display: block;}
.dropdownmenu a:hover {
    background-color: #666666;
    color: #ffffff;}/* [END] drop down menu */

.fighterslink {color: #ffff00;}
.fighterslink a:link {
    text-decoration: none;
    color: #ffff00;}
.fighterslink a:visited {
    text-decoration: none;
    color: #ffff00;}
.fighterslink a:hover {
    text-decoration: underline;
    color: #ffff00;}

.footer {
    padding: 3px;
    font-size: 10px;
    text-align: center;}
.footer a:link {
    text-decoration: none;
    color: #666666;}
.footer a:visited {
    text-decoration: none;
    color: #666666;}
.footer a:hover {
    text-decoration: underline;
    color: #666666;}

.imglink {border: none;}


/* membership pages */
.membership_td1 {
    width: 257px;
    background-color: #e2eeff;
    vertical-align: top;}
.membership_td2 {
    width: 256px;
    background-color: #bdd1ed;
    vertical-align: top;}
.membership_td3 {
    width: 257px;
    background-color: #e2eeff;
    vertical-align: top;}
.membership_title {
    font-size: 20px;
    font-weight: bold;
    text-align: right;
    padding-right: 40px;}
.membership_subtitle1 {
    font-size: 14px;
    font-weight: bold;}
.membership_subtitle2 {
    font-weight: bold;}
.membership_textindent {padding-left: 6px;}/* [END] membership pages */


.myaccount_table_title {
    font-weight: bold;
    background-color: #333333;
    color: #ffffff;
    padding: 3px;}

.myaccount_table_subtitle {
    font-weight: bold;
    padding: 3px 3px 3px 8px;}

.myaccount_table_link {color: #999999;}
.myaccount_table_link a:link {
    text-decoration: none;
    color: #999999;}
.myaccount_table_link a:visited {
    text-decoration: none;
    color: #999999;}
.myaccount_table_link a:hover {
    text-decoration: underline;
    color: #999999;}

.link_indent {text-indent: -5000px;}

/* locations pages */
.locations_subtitle {
    font-size: 13px;
    font-weight: bold;}/* [END] locations pages */


/* navi mouseover image */
#navi {
    width: 707px;
    height: 18px;
    background-image: url(/clients/CityBoxing/Images/navi.jpg);
    margin: 0px;
    padding: 0px;
    position: relative;}
#navi li {
    height: 18px;
    margin: 0px;
    padding: 0px;
    display: block;
    list-style: none;
    position: absolute;
    top: 0px;}
#navi a {
    height: 18px;
    display: block;}

#navi1 {left: 0px; width: 43px;}
#navi2 {left: 46px; width: 85px;}
#navi3 {left: 134px; width: 56px;}
#navi4 {left: 193px; width: 53px;}
#navi5 {left: 249px; width: 69px;}
#navi6 {left: 322px; width: 62px;}
#navi7 {left: 387px; width: 59px;}
#navi8 {left: 450px; width: 58px;}
#navi9 {left: 512px; width: 41px;}
#navi10 {left: 557px; width: 39px;}
#navi11 {left: 600px; width: 43px;}
#navi12 {left: 647px; width: 56px;}

#navi1 a:hover {background: transparent url(/clients/CityBoxing/Images/navi.jpg) -0px -18px no-repeat;}
#navi2 a:hover {background: transparent url(/clients/CityBoxing/Images/navi.jpg) -46px -18px no-repeat;}
#navi3 a:hover {background: transparent url(/clients/CityBoxing/Images/navi.jpg) -134px -18px no-repeat;}
#navi4 a:hover {background: transparent url(/clients/CityBoxing/Images/navi.jpg) -193px -18px no-repeat;}
#navi5 a:hover {background: transparent url(/clients/CityBoxing/Images/navi.jpg) -249px -18px no-repeat;}
#navi6 a:hover {background: transparent url(/clients/CityBoxing/Images/navi.jpg) -322px -18px no-repeat;}
#navi7 a:hover {background: transparent url(/clients/CityBoxing/Images/navi.jpg) -387px -18px no-repeat;}
#navi8 a:hover {background: transparent url(/clients/CityBoxing/Images/navi.jpg) -450px -18px no-repeat;}
#navi9 a:hover {background: transparent url(/clients/CityBoxing/Images/navi.jpg) -512px -18px no-repeat;}
#navi10 a:hover {background: transparent url(/clients/CityBoxing/Images/navi.jpg) -557px -18px no-repeat;}
#navi11 a:hover {background: transparent url(/clients/CityBoxing/Images/navi.jpg) -600px -18px no-repeat;}
#navi12 a:hover {background: transparent url(/clients/CityBoxing/Images/navi.jpg) -647px -18px no-repeat;}/* [END] navi mouseover image */

.rowA {background-color: #f5f5f5;}
.rowB {background-color: #ebebeb;}

.tdA {
    border-bottom: solid 1px #ffffff;
    border-right: solid 1px #ffffff;
    padding: 3px;}
.tdB {
    border-bottom: solid 1px #ffffff;
    padding: 3px;}

.textbox {
    border: solid 1px #999999;
    font-family: Verdana, Sans-Serif;
    font-size: 11px;}


    /* trainers mouseover images */
/* boxing */
#trainers_boxing {
    width: 180px;
    height: 118px;
    background-image: url(/clients/CityBoxing/Images/trainers/boxing.jpg);
    margin: 0px;
    padding: 0px;
    position: relative;}
#trainers_boxing li {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: block;
    position: absolute;}
#trainers_boxing a {
    display: block;}

#trainers_boxing1 {left: 82px; top: 38px; width: 92px; height: 22px;}
#trainers_boxing2 {left: 40px; top: 60px; width: 133px; height: 23px;}
#trainers_boxing3 {left: 57px; top: 83px; width: 117px; height: 22px;}
#trainers_boxing1 a {height: 22px;}
#trainers_boxing2 a {height: 23px;}
#trainers_boxing3 a {height: 22px;}

#trainers_boxing1 a:hover {background: transparent url(/clients/CityBoxing/Images/trainers/boxing.jpg) -82px -156px no-repeat;}
#trainers_boxing2 a:hover {background: transparent url(/clients/CityBoxing/Images/trainers/boxing.jpg) -40px -178px no-repeat;}
#trainers_boxing3 a:hover {background: transparent url(/clients/CityBoxing/Images/trainers/boxing.jpg) -57px -201px no-repeat;}


/* kickboxing */
#trainers_kickboxing {
    width: 180px;
    height: 140px;
    background-image: url(/clients/CityBoxing/Images/trainers/kickboxing.jpg);
    margin: 0px;
    padding: 0px;
    position: relative;}
#trainers_kickboxing li {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: block;
    position: absolute;}
#trainers_kickboxing a {
    display: block;}

#trainers_kickboxing1 {left: 55px; top: 63px; width: 119px; height: 22px;}
#trainers_kickboxing2 {left: 101px; top: 85px; width: 73px; height: 23px;}
#trainers_kickboxing3 {left: 70px; top: 107px; width: 104px; height: 22px;}
#trainers_kickboxing1 a {height: 22px;}
#trainers_kickboxing2 a {height: 23px;}
#trainers_kickboxing3 a {height: 22px;}

#trainers_kickboxing1 a:hover {background: transparent url(/clients/CityBoxing/Images/trainers/kickboxing.jpg) -55px -203px no-repeat;}
#trainers_kickboxing2 a:hover {background: transparent url(/clients/CityBoxing/Images/trainers/kickboxing.jpg) -101px -225px no-repeat;}
#trainers_kickboxing3 a:hover {background: transparent url(/clients/CityBoxing/Images/trainers/kickboxing.jpg) -70px -247px no-repeat;}


/* jiujitsu */
#trainers_jiujitsu {
    width: 180px;
    height: 94px;
    background-image: url(/clients/CityBoxing/Images/trainers/jiujitsu.jpg);
    margin: 0px;
    padding: 0px;
    position: relative;}
#trainers_jiujitsu li {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: block;
    position: absolute;}
#trainers_jiujitsu a {
    display: block;}

#trainers_jiujitsu1 {left: 112px; top: 61px; width: 61px; height: 22px;}
#trainers_jiujitsu1 a {height: 22px;}

#trainers_jiujitsu1 a:hover {background: transparent url(/clients/CityBoxing/Images/trainers/jiujitsu.jpg) -112px -155px no-repeat;}


/* assistants */
#trainers_asst {
    width: 180px;
    height: 134px;
    background-image: url(/clients/CityBoxing/Images/trainers/asst.jpg);
    margin: 0px;
    padding: 0px;
    position: relative;}
#trainers_asst li {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: block;
    position: absolute;}
#trainers_asst a {
    display: block;}

#trainers_asst1 {left: 55px; top: 34px; width: 120px; height: 22px;}
#trainers_asst2 {left: 136px; top: 58px; width: 38px; height: 20px;}
#trainers_asst3 {left: 68px; top: 79px; width: 106px; height: 22px;}
#trainers_asst4 {left: 48px; top: 102px; width: 126px; height: 22px;}
#trainers_asst1 a {height: 22px;}
#trainers_asst2 a {height: 20px;}
#trainers_asst3 a {height: 22px;}
#trainers_asst4 a {height: 22px;}

#trainers_asst1 a:hover {background: transparent url(/clients/CityBoxing/Images/trainers/asst.jpg) -55px -168px no-repeat;}
#trainers_asst2 a:hover {background: transparent url(/clients/CityBoxing/Images/trainers/asst.jpg) -136px -192px no-repeat;}
#trainers_asst3 a:hover {background: transparent url(/clients/CityBoxing/Images/trainers/asst.jpg) -68px -213px no-repeat;}
#trainers_asst4 a:hover {background: transparent url(/clients/CityBoxing/Images/trainers/asst.jpg) -48px -236px no-repeat;}/* [END] trainers mouseover images */


/* trainers pages */
.trainers_name {
    font-size: 14px;
    font-weight: bold;
    color: #336699;}
.trainers_title {
    font-size: 20px;}/* [END] trainers pages */


.sitemappath {
    color: #666666;
    font-size: 9px;}
.sitemappath a:link {
    text-decoration: none;
    color: #999999;}
.sitemappath a:visited {
    text-decoration: none;
    color: #999999;}
.sitemappath a:hover {
    text-decoration: underline;
    color: #999999;}

.yellowlink {color: #ffff00;}
.yellowlink a:link {
    text-decoration: none;
    color: #ffff00;}
.yellowlink a:visited {
    text-decoration: none;
    color: #ffff00;}
.yellowlink a:hover {
    text-decoration: underline;
    color: #ffff00;}

