HR {
	size: 1px
}
A {
	TEXT-DECORATION: none
}
A:link {
	COLOR: #66c; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
A:visited {
	COLOR: #66c; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
A:active {
	COLOR: #f00; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
A:hover {
	COLOR: #b1b1e4; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
TD {
	FONT-SIZE: 10px; LINE-HEIGHT: 14px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.text-normal-spacing {
	FONT-SIZE: 10px; LINE-HEIGHT: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.subhead {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; LINE-HEIGHT: 14px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.headline-color {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #886898; LINE-HEIGHT: 20px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.subheadcolor {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #886898; LINE-HEIGHT: 14px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.sidenav-right {
	BORDER-RIGHT: #e8bc98 2px solid; PADDING-RIGHT: 5px; BACKGROUND-POSITION: center center; BORDER-TOP: #e8bc98 2px solid; PADDING-LEFT: 5px; FONT-SIZE: 7pt; FLOAT: left; PADDING-BOTTOM: 5px; BORDER-LEFT: #e8bc98 2px solid; WIDTH: 114px; COLOR: #000000; LINE-HEIGHT: 14pt; PADDING-TOP: 5px; BORDER-BOTTOM: #e8bc98 2px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #f7e2b9
}
.small-maroon-bold {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #e00050; LINE-HEIGHT: 14px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.small-blue-bold {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #0066cc; LINE-HEIGHT: 14px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.sidenav-left {
	BORDER-RIGHT: #d6bceb 2px solid; PADDING-RIGHT: 10px; BACKGROUND-POSITION: center center; BORDER-TOP: #d6bceb 2px solid; PADDING-LEFT: 10px; FONT-SIZE: 7pt; FLOAT: left; PADDING-BOTTOM: 10px; BORDER-LEFT: #d6bceb 2px solid; WIDTH: 192px; COLOR: #000000; LINE-HEIGHT: 10pt; PADDING-TOP: 10px; BORDER-BOTTOM: #d6bceb 2px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #e1ccee
}
.highlight {
	FONT-WEIGHT: bold; COLOR: #ff0000; BACKGROUND-COLOR: #ffff66
}
.under-rule {
	WIDTH: 80%; BORDER-TOP-STYLE: none; BORDER-BOTTOM: #000000 0.5pt solid; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none
}
.show-time {
	BORDER-RIGHT: #e8bc98 2px solid; PADDING-RIGHT: 10px; BORDER-TOP: #e8bc98 2px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; BORDER-LEFT: #e8bc98 2px solid; PADDING-TOP: 10px; BORDER-BOTTOM: #e8bc98 2px solid
}
.text-tiny {
	FONT-SIZE: 9px; LINE-HEIGHT: normal
}
.padding-10 {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.sidenav-right-archive {
	BORDER-RIGHT: #c2d799 2px solid; PADDING-RIGHT: 5px; BACKGROUND-POSITION: center center; BORDER-TOP: #c2d799 2px solid; PADDING-LEFT: 5px; FONT-SIZE: 7pt; FLOAT: left; PADDING-BOTTOM: 5px; BORDER-LEFT: #c2d799 2px solid; WIDTH: 114px; COLOR: #000000; LINE-HEIGHT: 14pt; PADDING-TOP: 5px; BORDER-BOTTOM: #c2d799 2px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
