.menutitle {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: x-large; Z-INDEX: 14; PADDING-BOTTOM: 0px; COLOR: #ffffff; PADDING-TOP: 0px; FONT-FAMILY: Book Antiqua, Century, Palatino Linotype, Palatino, Verdana, Arial, Helvetica, sans-serif, Times New Roman, Times, serif; BACKGROUND-COLOR: #000066; TEXT-DECORATION: none
}
#mainMenu {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; Z-INDEX: 10; PADDING-BOTTOM: 5px; MARGIN: 0px; BORDER-LEFT: 0px; COLOR: #ffffff; PADDING-TOP: 0px; BORDER-BOTTOM: #888888 1px solid; BACKGROUND-COLOR: #000066
}
#menuList {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; TEXT-ALIGN: center
}
#menuList UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; TEXT-ALIGN: left
}
#menuList LI {
	DISPLAY: inline; LIST-STYLE-TYPE: none
}
A.actuator {
	PADDING-RIGHT: 11px; PADDING-LEFT: 11px; FONT-SIZE: x-small; PADDING-BOTTOM: 5px; MARGIN: 0px; COLOR: #ffffff; PADDING-TOP: 5px; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
A.actuator:hover {
	COLOR: #ffffff; BACKGROUND-COLOR: #0000aa
}
.menu {
	BORDER-RIGHT: 0px; BORDER-TOP: #888888 1px solid; Z-INDEX: 7; VISIBILITY: hidden; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px; POSITION: absolute
}
.menu LI {
	Z-INDEX: 6
}
.menu LI A {
	BORDER-RIGHT: #888888 1px solid; PADDING-RIGHT: 4px; DISPLAY: block; PADDING-LEFT: 4px; FONT-SIZE: x-small; Z-INDEX: 5; PADDING-BOTTOM: 4px; MARGIN: 0px; BORDER-LEFT: #888888 1px solid; WIDTH: 200px; COLOR: #ffffff; PADDING-TOP: 4px; BORDER-BOTTOM: #888888 1px solid; BACKGROUND-COLOR: #000066; TEXT-DECORATION: none
}
.menu LI A:hover {
	FONT-WEIGHT: bold; Z-INDEX: 4; COLOR: #ffffff; BACKGROUND-COLOR: #0000aa
}
.menuplain {
	FONT-WEIGHT: bold; COLOR: #ffffff
}
.menucool {
	FONT-WEIGHT: bold; COLOR: #00ffff
}
