<%
'changelog'
'LSP 09/12/16 - initial development'
%>
  <!DOCTYPE html>
  <html class="" dir="ltr" lang="en-US">

  <head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
<head runat="server">
<asp:ContentPlaceHolder id="MasterHead" runat="server"></asp:ContentPlaceHolder>
<meta property="og:title" content="title" />
<meta property="og:description" content="description" />
<meta property="og:image" content="http://tix.com/images/TixLogo128x128.gif"/>
<meta property="og:image:secure_url" content="https://tix.com/images/TixLogo128x128.gif" />
<meta property="og:image:type" content="image/jpeg" />
</head>
<body>
<form id="form1" runat="server">
<div>
          <link rel="profile" href="http://gmpg.org/xfn/11">
          <link rel="pingback" href="http://www.amishacres.com/xmlrpc.php">
          <link href="/clients/AmishAcres/Images/screen.css" media="screen, projection" rel="stylesheet" type="text/css">
          <link rel="stylesheet" href="/clients/AmishAcres/Images/print.css" type="text/css" media="print">
          <script src="/clients/AmishAcres/Images/ga.js" async="" type="text/javascript"></script>



          <link rel="alternate" type="application/rss+xml" title="Amish Acres Historic Farm &amp; Heritage Resort » Feed" href="http://www.amishacres.com/feed/">
          <link rel="alternate" type="application/rss+xml" title="Amish Acres Historic Farm &amp; Heritage Resort » Comments Feed" href="http://www.amishacres.com/comments/feed/">
          <link rel="alternate" type="application/rss+xml" title="Amish Acres Historic Farm &amp; Heritage Resort » About Us Comments Feed" href="http://www.amishacres.com/about-us/feed/">
          <link rel="stylesheet" id="sp-events-calendar-style-css" href="/clients/AmishAcres/Images/events.css" type="text/css" media="all">
          <link rel="stylesheet" id="contact-form-7-css" href="/clients/AmishAcres/Images/styles.css" type="text/css" media="all">
        
          <link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://www.amishacres.com/xmlrpc.php?rsd">
          <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://www.amishacres.com/java/wlwmanifest.xml">
          <link rel="index" title="Amish Acres Historic Farm &amp; Heritage Resort" href="http://www.amishacres.com/">
          <link rel="next" title="Event Calendar" href="http://www.amishacres.com/event-calendar/">






          <body class="subpage">

            <div style="z-index: 1000;" id="header">
              <div style="z-index: 990;" class="wrapper">
                <h1><a href="http://www.amishacres.com/">Amish Acres</a></h1>

                <div style="z-index: 980;" id="home-search">
                  <!-- BEGIN: Constant Contact Stylish Email Newsletter Form -->
                  <div style="z-index: 970;" align="left">
                    <div style="width: 300px; z-index: 960;">

                      <br>
                   </div>
                  </div>
                  <!-- END: Constant Contact Stylish Email Newsletter Form -->
                </div>
              </div>
            </div>

            <div style="z-index: 950;" id="navigation">
              <div style="z-index: 940;" class="wrapper">
                <ul id="nav" class="sf-menu sf-js-enabled sf-shadow">

                  <li><a href="http://www.amishacres.com/plan_your_visit.php">Visit</a>
                    <ul style="z-index: 3000; display: none; visibility: hidden;">
                      <li><a href="http://www.amishacres.com/historic_farmstead/about_amish_acres.php">About Amish Acres</a></li>
                      <li><a href="http://www.amishacres.com/calendar.php">Days, Hours and Events</a></li>
                      <li><a href="http://www.amishacres.com/historic_farmstead/attractions_at_amish_acres.php">Historic Farmstead</a></li>
                      <li><a href="http://www.amishacres.com/historic_farmstead/guided_tours.php">Guided House &amp; Farm Tour</a></li>
                      <li><a href="http://www.amishacres.com/historic_farmstead/horse_buggy_ride.php">Horse &amp; Buggy Rides</a></li>
                      <li><a href="http://www.amishacres.com/kids/kids.php">Kids</a></li>
                      <li><a href="http://www.amishacres.com/threshers_dinner/wine_tasting_loft.php">Wine Tasting Loft</a></li>
                      <li><a href="http://www.amishacres.com/arts_crafts_festival/arts_crafts_festival_2016.php">Blue Ribbon Art Museum</a></li>
                      <li><a href="http://www.amishacres.com/pricing.php">Pricing &amp; Packages</a></li>
                      <li><a href="http://www.amishacres.com/packages/02.1_99_getaway_packages.php">All Inclusive Packages</a></li>
                      <li><a href="http://www.amishacres.com/groups/groups.php">Groups</a></li>
                      <li><a href="http://www.amishacres.com/special_events.php">Events</a></li>
                      <li><a href="http://www.amishacres.com/groups/testimonials.php">Testimonials</a></li>
                      <li><a href="http://www.amishacres.com/miscellaneous/links.php">Friendly Neighbors</a></li>
                    </ul>
                  </li>


                  <li><a href="http://www.amishacres.com/dining.php">Dining</a>
                    <ul style="z-index: 3000; display: none; visibility: hidden;">
                      <li><a href="http://www.amishacres.com/threshers_dinner/family_style_dining.php">Family Style Dining</a></li>
                      <li><a href="http://www.amishacres.com/threshers_dinner/family_style_dining.php">Threshers Dinner</a></li>
                      <li><a href="http://www.amishacres.com/musical_theatre/theme_dinners/theme_dinners.php">Theme Dinners</a></li>
                      <li><a href="http://www.amishacres.com/threshers_dinner/family_style_dining.php">Group Parties</a></li>
                      <li><a href="http://www.amishacres.com/threshers_dinner/catering.php" target="_blank">Catering</a></li>
                      <li><a href="http://www.amishacres.com/threshers_dinner/family_style_dining.php">Carry-out</a></li>
                      <li><a href="http://www.amishacres.com/groups/weddings_and_receptions.php">Weddings</a></li>
                    </ul>
                  </li>

                  <li><a href="http://www.amishacres.com/theatre.php">Theatre</a>
                    <ul style="z-index: 3000; display: none; visibility: hidden;">
                      <li><a href="http://www.amishacres.com/musical_theatre/the_round_barn_theatre_home.php">The Round Barn Theatre</a></li>
                      <li><a href="http://www.amishacres.com/musical_theatre/2016_season/2016_round_barn_theatre_season.php">Season Subscriptions</a></li>
                      <li><a href="http://www.amishacres.com/musical_theatre/theme_dinners/theme_dinners.php">Theme Dinners</a></li>
                      <li><a href="http://www.amishacres.com/musical_theatre/theatre_for_young_audiences.php">Theatre for Young Audiences</a></li>
                      <li><a href="http://www.amishacres.com/musical_theatre/summer_acting_camps.php">Young Actors Camps</a></li>
                      <li><a href="http://www.amishacres.com/packages/02.1_99_getaway_packages.php">All-Inclusive Packages</a></li>
                    </ul>
                  </li>

                  <li><a href="http://www.amishacres.com/lodging.php">Lodging</a>
                    <ul style="z-index: 3000; display: none; visibility: hidden;">
                      <li><a href="http://www.amishacres.com/lodging/inn_at_amish_acres.php">Inn at Amish Acres</a></li>
                      <li><a href="http://www.amishacres.com/lodging/the_nappanee_inn.php">The Nappanee Inn</a></li>
                      <li><a href="http://www.amishacres.com/packages/02.1_99_getaway_packages.php">All Inclusive Packages</a></li>
                      <li><a href="http://www.amishacres.com/lodging/inn_at_amish_acres.php">Meeting Rooms</a></li>
                      <li><a href="http://www.amishacres.com/lodging/corporate_travel.php">Corporate Travel</a></li>
                      <li><a href="http://clients.innroad.com/amish/accomodations.aspx">Reservations</a></li>
                    </ul>
                  </li>
                  <li><a href="http://www.amishacres.com/packages.php">Packages</a>
                    <ul style="display: none; visibility: hidden;">
                      <li><a href="http://www.amishacres.com/packages/02.1_99_getaway_packages.php">Amish Acres Packages</a></li>
                      <li><a href="http://www.amishacres.com/packages/01.2_pastport_package.php">PastPort Package</a></li>
                      <li><a href="http://www.amishacres.com/pricing.php">Pricing &amp; Packages</a></li>
                    </ul>
                  </li>

                  <li><a href="http://www.amishacres.com/groups.php">Groups</a>
                    <ul style="z-index: 3000; display: none; visibility: hidden;">
                      <li><a href="http://www.amishacres.com/groups/groups.php">Group Overview</a></li>
                      <li><a href="http://www.amishacres.com/groups/tour_operators.php">Professional Tour Operators</a></li>
                      <li><a href="http://www.amishacres.com/groups/corporate_events.php">Corporate Events</a></li>
                      <li><a href="http://www.amishacres.com/groups/school_groups.php">School Groups</a></li>
                      <li><a href="http://www.amishacres.com/groups/corporate_company_picnics.php">Corporate and <span class="green">Company</span> Picnics</a></li>
                      <li><a href="http://www.amishacres.com/groups/weddings_and_receptions.php">Weddings and Receptions</a></li>
                      <li><a href="http://www.amishacres.com/groups/christmas_parties.php">Christmas Parties</a></li>
                      <li><a href="http://www.amishacres.com/groups/testimonials.php">Testimonials</a></li>
                    </ul>
                  </li>
                  <li><a href="http://www.amishacres.com/kids/kids.php">Kids</a>
                    <ul style="z-index: 3000; display: none; visibility: hidden;">
                      <li><a href="http://www.amishacres.com/kids/kids.php">What Kids Like</a> </li>
                      <li><a href="http://www.amishacres.com/groups/school_groups.php">School Trips</a></li>
                      <li><a href="http://www.amishacres.com/musical_theatre/summer_acting_camps.php">Summer Acting Camps</a></li>
                      <li><a href="http://www.amishacres.com/musical_theatre/theatre_for_young_audiences.php">Theatre for Young Audiences</a></li>
                    </ul>
                  </li>
                  <li><a href="http://www.amishacres.com/shopping.php">Shop</a>
                    <ul style="z-index: 3000; display: none; visibility: hidden;">
                      <li><a href="http://www.amishacres.com/shopping/shopping.php">Greeting Barn</a></li>
                      <li><a href="http://www.amishacres.com/shopping/shopping.php">W.H. Best Meat &amp; Cheese Shop</a></li>
                      <li><a href="http://www.amishacres.com/shopping/shopping.php">Log Cabin Soda Shop &amp; Fudgery</a></li>
                      <li><a href="http://www.amishacres.com/shopping/shopping.php">Bakery</a></li>
                      <li><a href="http://www.amishacresgeneralstore.com/">Shop Online</a></li>
                      <li><a href="http://www.amishacresgeneralstore.com/gift-certificates/">Gift Certificates</a></li>
                      <li><a href="http://www.amishacresgeneralstore.com/gift-baskets/">Gift Baskets</a></li>
                      <li><a href="http://www.amishacresgeneralstore.com/olde-christmas/">Holiday Gifts</a></li>
                    </ul>
                  </li>

                  <li><a href="http://www.amishacres.com/special_events.php">Events</a>
                    <ul style="z-index: 3000; display: none; visibility: hidden;">
                      <li><a href="http://www.amishacres.com/special_events.php">Upcoming  Events</a></li>
                      <li><a href="http://www.amishacres.com/packages/04.4_girlfriends_spring_getaway_2016.php"> Girl Friends Spring Getaway</a></li>
                      <li><a href="http://www.amishacres.com/special_events/spring_farming_days.php">Spring Farming Days</a></li>
                      <li><a href="http://www.amishacres.com/special_events/quilt_giveaway_2015.php">2015 Quilt Giveaway</a></li>
                      <li><a href="http://www.amishacres.com/musical_theatre/summer_acting_camps.php">Young Actors Studio</a></li>
                      <li><a href="http://www.amishacres.com/arts_crafts_festival/arts_crafts_festival_2016.php">Arts &amp; Crafts Festival</a></li>
                      <li><a href="http://www.amishacres.com/packages/04.4_girlfriends_fall_getaway_2016.php">Girl Friends Fall Getaway</a></li>
                      <li><a href="http://www.amishacres.com/special_events/fall_harvest_days_2016.php">Fall Harvest Days</a></li>
                      <li><a href="http://www.amishacres.com/special_events/breakfast_with_santa.php">Breakfast with Santa</a></li>
                      <li><a href="http://www.amishacres.com/packages/03.5_new_years_package.php">New Year's Eve</a></li>

                    </ul>
                  </li>
                  <li><a href="http://www.amishacres.com/wedding_reception/weddings_and_receptions.php">Weddings</a>
                    <ul style="z-index: 3000; display: none; visibility: hidden;">
                      <li><a href="http://www.amishacres.com/wedding_reception/weddings_and_receptions.php">Weddings</a></li>
                      <li><a href="http://www.amishacres.com/wedding_reception/wedding_reception.php">Receptions</a></li>
                      <li><a href="http://www.amishacres.com/wedding_reception/wedding_reception.php">Rehearsal Dinners</a></li>
                      <li><a href="http://www.amishacres.com/wedding_reception/wedding_ceremonies.php">Ceremonies</a></li>
                      <li><a href="http://www.amishacres.com/wedding_reception/hotel_accommodations.php">Bridal Suite</a></li>
                    </ul>
                  </li>
                  <li><a href="http://www.amishacres.com/calendar.php">Calendar</a></li>
                  <li><a href="http://www.amishacres.com/contact_us.php">Contact</a></li>
                </ul>

              </div>

            </div>



            <div style="z-index: 930;" id="content">
              <div style="z-index: 920;" class="wrapper">
                <!--tix content-->
             
<asp:ContentPlaceHolder id="MasterContent" runat="server"></asp:ContentPlaceHolder>

              </div>
            </div>
            <div style="z-index: 780;" id="footer">
              <div style="z-index: 770;" class="wrapper">


                <div style="z-index: 760;" class="footerbox">
                  <a href="http://www.amishacres.com/"><img src="/clients/AmishAcres/Images/logo-tall_80.png" style="float:left; margin-left:115px"></a>

                  <a href="http://maps.google.com/maps?q=1600+W+Market+St,+Nappanee,+IN&amp;hl=en&amp;ll=41.446394,-86.017048&amp;spn=0.008316,0.01929&amp;sll=41.444431,-86.022799&amp;sspn=0.008316,0.01929&amp;vpsrc=0&amp;hnear=1600+W+Market+St,+Nappanee,+Indiana+46550&amp;t=m&amp;z=16"
                    target="_blank"><img src="/clients/AmishAcres/Images/map_73.png" style="float:right; margin-right:140px"> </a>

                  <center>

                    <a href="http://www.facebook.com/amishacres"><img src="/clients/AmishAcres/Images/facebook.jpg" alt="" height="31" width="29"></a>

                    <a href="http://www.instagram.com/amishacres"><img src="/clients/AmishAcres/Images/instagram.jpg" alt="" height="31" width="29"></a>
                    <a href="http://www.pinterest.com/amishacres"> <img src="/clients/AmishAcres/Images/pinterest.jpg" alt="" height="31" width="29"></a>
                    <a href="http://www.twitter.com/amishacres"><img src="/clients/AmishAcres/Images/twitter.jpg" alt="" height="31" width="29"></a>
                    <a href="http://www.youtube.com/amishacresfarm"> <img src="/clients/AmishAcres/Images/youtube.jpg" alt="" height="31" width="29"></a>
                    <a href="http://wwwamishacrescom.blogspot.com/"> <img src="/clients/AmishAcres/Images/blogger.jpg" alt="" height="31" width="29"></a>

                    <a href="http://visitor.r20.constantcontact.com/d.jsp?llr=ozkalsjab&amp;p=oi&amp;m=1109790829358&amp;sit=wfno5a8gb&amp;f=cfb8571f-def2-4f16-984c-4cd37eb48181"><img src="/clients/AmishAcres/Images/email_sign_up_button.png" alt="" height="31" width="92"></a><br><br>
                    <p style="font-size:30px">Nappanee, Indiana<br><span style=" font-size:16px"><em>The Only Amish Farm Listed in the National Register of Historic Places</em></span></p><br>
                    <p style="font-size:15px">Amish Acres Historic Farm &amp; Heritage Resort &#149; 1600 West Market Street &#149; US 6 &#149; Nappanee, IN 46550 <br>© 2016 Amish Acres, LLC. All Rights Reserved.</p>
                  </center>










<script src="https://code.jquery.com/jquery-3.1.0.min.js">
</script>


<script>
  $(document).ready(function() {
    $("#MasterContent_TixInnerContent_pnlButton").removeAttr("style");
    $("#MasterContent_TixInnerContent_ButtonPanel").removeAttr("style");
    /* remove extra button defaults
    				$("#MasterContent_TixInnerContent_ctl00_gvSchedule_btnBuyTix_0").removeAttr("style");
    				$("#MasterContent_TixInnerContent_btnBackToShopping").removeAttr("style");
    				$("#MasterContent_TixInnerContent_btnCancelOrder").removeAttr("style");
    				$("#MasterContent_TixInnerContent_btnCheckout").removeAttr("style");
    				$("#MasterContent_TixInnerContent_BackToShoppingButton").removeAttr("style");
    				$("#MasterContent_TixInnerContent_LoginButton").removeAttr("style");
    				$("#MasterContent_TixInnerContent_BackToShoppingButton").removeAttr("style");
    				$("#MasterContent_TixInnerContent_CancelOrderButton").removeAttr("style");
    				$("#MasterContent_TixInnerContent_CompleteButton").removeAttr("style");
    				$("#MasterContent_TixInnerContent_BackToShoppingBtn").removeAttr("style");*/


  });
</script>

		</div>
		</form>
	</body>

	</html>