@charset "utf-8";
/* CSS Document */

/* HTML
========================================================*/

body { background-color:#3f70a8; background-image:url(/clients/CrystalCoastMusicFest/Images/body_bg2.png); background-repeat:repeat-x; text-align:center; font-family:"Trebuchet MS"; }

img, a img { border:0; }

h1, h2, h3, h4 { font-weight:normal; }

h1 { font-size:22px; line-height:22px; color:#87212C; font-family:"Trebuchet MS"; }
h2 { font-size:18px; line-height:18px; color:#87212C; font-family:"Trebuchet MS";}
h3 { font-size:16px; line-height:16px; color:#3366A3;font-family:"Trebuchet MS" }
h4 { font-size:12px; line-height:16px; color:#11147F; font-family:"Trebuchet MS"; }
h5 { font-size:16px; line-height:50px; color:#ffffff; font-family:"trebuchet MS"; font-weight:bold;}

a, a:visited { color:#ffffff; text-decoration:none;   }
a:hover { color:#ffffff; text-decoration:underline;   }

ul { margin:0; border:0; padding:10px 0 10px 20px; list-style-type:disc; }
ul li { margin:0; border:0; padding:0 10px; }

p, ul, ol {
font-family:"Trebuchet MS";
	margin-top: 0;
	line-height: 170%;
	text-align:left;
	text color:#051527;
}  

.tb {font-family:"Trebuchet MS"; margin-top: 0; line-height:120%; text-align:left; text-color:#051527;}





img.floatLeft { 
    float: left; 
	padding: 10px 30px 10px 30px;
    margin: 4px; 
}
img.floatRight { 
    float: right;
	 padding: 10px 30px 10px 30px;
    margin: 4px; 
}



/* MAJOR PARTS
========================================================*/

#wrapper { position:relative; margin:0 auto;  background:#fff; width:988px; wid\th:980px; }

/*
#wrapper { position:relative; margin:0 auto; background:url(images/wrapper.jpg); width:1080px;  }
*/

.break { clear:both; float:none; font-size:0; line-height:0; }

.across { width:100%; }


.mainpage {margin: auto; width: 1011px;}


.container {width:1000px;}


/* HEADER
========================================================*/
.header {background-image:url(images/banner.jpg);

    height: 250px;
    width: 1379px;
}

#hdr1 { position:relative; width:980px; height:250px; clear:both; float:none; background:url(images/homepageBanner1.jpg) no-repeat; }


	ul#navTop { float:right; padding:5px 5px 0 0; list-style-type:none; width:600px; height:30px; }
	ul#navTop li { padding:0; float:right;  }
	ul#navTop li a:link, ul#navTop li a:visited { font:12px/12px Georgia; color:#fff; text-decoration:none; font-weight:bold; display:block; padding: 0}
	ul#navTop li a:hover { color:#4c3422; text-decoration:none; }



/* MAIN NAVIGATION
========================================================*/

#navMain { background:url(images/nav/nav_bg.jpg); clear:both; float:none; background-repeat:repeat-x; width:980px; height:31px; }




/* HOMEPAGE
========================================================*/
#homepage { position:relative; width:980px; height:368px; text-align:left; }
#featuredEvents { position:absolute; top:0px; left:45px; z-index:500; font:12px/16px Georgia; 
	background-image:url(images/scroll_bg_blue.png);  height:368px;
	
	
}
#featuredEvents h1, #featuredEvents h3 { color:#000; }
#featuredEvents a:link, #featuredEvents a:visited { color:#000; }

/*calendar
+++++++++++++++++++++++++++++++++++++++=*/
#calendarpage {position:relative; width:980px; height:700px; align:center; background-color:#D7EDF2;}

/* FOOTER
=================================================*/
/*#ftr { padding:20px 0;   color:#fff; font:11px/18px Verdana; align:center; height:100; heig\ht:60px; margin:25px 0 0 0; font color:#FFFFFF;}*/

	/*.navFtr { margin:0 auto; width:600px; clear:both; float:none; align:center;}

		ul.navFtr { list-style-type:none; padding:0; }
		ul.navFtr li { float:left; margin:0; border:0; padding:0 10px; border-right:1px solid #000000; display:block;  align:center;}
		ul.navFtr li.noborder { border:0; }
		ul.navFtr li a:link, ul.navFtr li a:visited { text-decoration:none; color:#000000; }
		ul.navFtr li a:hover { color:#fff; text-decoration:none;   }

	#ftr a, #ftr a:visited { color:##58616A; text-decoration:none; }
	#ftr a:hover { color:#fff; text-decoration:underline; }

	
	#ftr-info { padding:10px 0; }
	
	
	#above_footer
	{background-color:#D7EDF2; color:#000000; font:12px Verdana; text-align:center;}

*/


#ftr { background-color:#131313; font:11px/18px Verdana; align:center; height:125px; heig\ht:125px; }

	.navFtr { margin:0 auto; width:600px; clear:both; float:none; align:center;}

		ul.navFtr { list-style-type:none; padding:0; }
		ul.navFtr li { float:left; margin:0; border:0; padding:0 10px; border-right:1px solid #000000; display:block;  align:center;}
		ul.navFtr li.noborder { border:0; }
		ul.navFtr li a:link, ul.navFtr li a:visited { text-decoration:none; color:#000000; }
		ul.navFtr li a:hover { color:#fff; text-decoration:none;   }

	#ftr a, #ftr a:visited { color:#8AA9D8; text-decoration:none; }
	#ftr a:hover { color:#fff; text-decoration:underline; }

	
	#ftr-info { padding:10px 0; }
	
	
	#above_footer
	{background-color:#D7EDF2; color:#000000; font:12px Verdana; text-align:center;}




/* CONTENT
========================================================*/
.torso { width:980px; margin:0 auto; text-align:left; overflow:auto; background-color:#fffff;}


.content3 { width:980px; background-color:#ffffff; }
.content3[class] { background-color:#ffffff; }

.content { width:980px; background-color:#FFFFFF;}
.content[class] { background-color:#ffffff; }

.content2 {width:980px; border-bottom:1px solid #87212c;}

.left { margin:20px 40px 0 5px; padding:5px; color:#fff; float:right; display:inline; width:200px; wid\th:190px; }
	.left h3 { padding:5px 15px; text-transform:uppercase; color:#87212C; }
	.left ul { padding:0 0 10px 0; list-style-type:none; width:190px; }
	.left ul li { padding:0; }
	.left ul li a:link, .left ul li a:visited { font:13px/16px Georgia; color:#11147F; text-decoration:none; display:block; padding:3px 25px; }
	.left ul li a:hover { background:#fff; color:#93543f; text-decoration:none; }
	.left h2 { padding:5px 5px 5px 5px; text-transform:uppercase; color:#87212C;
}  
	
.center { padding:30px 0 0 50px; font:13px/22px Georgia; color:#000; display:inline; width:800px; wid\th:800px; }
.center2 { padding:30px; font:13px/22px Georgia; color:#000; display:inline; width:850px; wid\th:850px; }

.center2 { padding:20px; font:13px/22px Georgia; color:#000; float:left; display:inline; width:850px; wid\th:850px; }


.center3 { padding:30px 30px 30px 30px; font:13px/22px Georgia; color:#000; overflow:hidden; width:920px; wid\th:920px;  }

.right { padding:30px; color:#999; float:left; display:inline; width:280px; wid\th:220px; }

	.right ul { padding:0; list-style-type:none; }
	.right ul li { padding:0; font:13px/20px Georgia; }
	.right ul li a:link, .right ul li a:visited { text-decoration:none; display:block; padding:3px 0; }
	.right ul li a:hover { text-decoration:underline; }

	.right h3 { padding:10px 0; color:#369; }
	.right p { font:13px/22px Georgia; color:#000; }

.full { padding:30px; font:13px/20px Georgia; color:#000; float:left; display:inline; width:760px; wid\th:700px; }

.topped { margin:160px 0 0 0; }


table
{
width:90%;

}


.highlightBox { margin:0; padding:20px; border-top:4px solid #93543f; font:11px/14px Arial; color:#999; text-align:center; background:#eee;  }

.floater3 { float:left; width:210px; }
.floater2 { float:left; width:320px; }

img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }


/* COLORS
=======================================================*/
.brown { color:#93543f; }
.blue { color:#369; }
