BODY {
	MARGIN: 0px
}
.nobottommargin {
	MARGIN-BOTTOM: 0px
}
BODY.season {
	FONT: 11px Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; COLOR: #000000; BACKGROUND-COLOR: #ffffff; TEXT-DECORATION: none
}
TD {
	FONT: 12px Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-DECORATION: none
}
UNKNOWN {
	WIDTH: 730px; HEIGHT: 70px
}
A.whitebold {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.whitebold:hover {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.homepagelnk {
	FONT: bold 12px Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-DECORATION: underline
}
A.homepagelnk:hover {
	FONT: bold 12px Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; COLOR: #740e20; TEXT-DECORATION: underline
}
A.homepagered {
	FONT: bold 12px Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; COLOR: #740e20; TEXT-DECORATION: underline
}
A.homepagered:hover {
	FONT: bold 12px Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-DECORATION: underline
}
A.homepagesm {
	FONT: bold 11px Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; COLOR: #ffffff; TEXT-DECORATION: none
}
A.homepagesm:hover {
	FONT: bold 11px Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; COLOR: #999999; TEXT-DECORATION: none
}
A {
	FONT-WEIGHT: bold; TEXT-TRANSFORM: none; COLOR: #740e20; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-VARIANT: normal; TEXT-DECORATION: underline
}
A:hover {
	FONT-WEIGHT: bold; TEXT-TRANSFORM: none; COLOR: #000000; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-VARIANT: normal; TEXT-DECORATION: underline
}
.menuhd {
	FONT: bold 13px Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-DECORATION: none
}
A.smlink {
	FONT: bold 10px Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; COLOR: #740e20; TEXT-DECORATION: underline
}
A.smlink:hover {
	FONT: bold 10px Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-DECORATION: underline
}
.menuhdlnk {
	FONT: bold 13px Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; COLOR: #cccccc; TEXT-DECORATION: none
}
A.menuhdlnk:hover {
	FONT: bold 13px Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; COLOR: #ffffff; TEXT-DECORATION: none
}
.menusubhd {
	PADDING-BOTTOM: 6px; FONT: bold 11px Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; COLOR: #999999; BORDER-BOTTOM: #000000 1px solid; TEXT-DECORATION: none
}
.menusubhd A {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.menulnk {
	FONT: bold 13px Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; COLOR: #ffffff; TEXT-DECORATION: none
}
A.menulnk:hover {
	FONT: bold 13px Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; COLOR: #cccccc; TEXT-DECORATION: none
}
A.menulnk2 {
	FONT: bold 12px Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-DECORATION: none
}
A.menulnk2:hover {
	FONT: bold 12px Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; COLOR: #ffffff; TEXT-DECORATION: none
}
A.menulnk3 {
	FONT: bold 13px Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; COLOR: #bae1fe; TEXT-DECORATION: none
}
A.menulnk3:hover {
	FONT: bold 13px Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-DECORATION: none
}
H1 A {
	TEXT-DECORATION: none
}
H1 {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #740e20; LINE-HEIGHT: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-VARIANT: normal; TEXT-DECORATION: none
}
.h1shows {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 22px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #740e20; LINE-HEIGHT: normal; PADDING-TOP: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-VARIANT: normal; TEXT-DECORATION: none
}
.redtexth1 {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #740e20; LINE-HEIGHT: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-VARIANT: normal; TEXT-DECORATION: none
}
H2 {
	FONT: bold 14px Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-DECORATION: none
}
.brntxt {
	FONT-WEIGHT: bold; COLOR: #bf9c6e; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.orngtxt {
	FONT-WEIGHT: bold; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.yellowtxt {
	FONT-WEIGHT: bold; COLOR: #e3c042; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.bcopy {
	FONT-SIZE: 12px; TEXT-TRANSFORM: none; COLOR: #000000; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-VARIANT: normal; TEXT-DECORATION: none
}
.subheadline2 {
	FONT: bold 12px Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-DECORATION: none
}
TD.home {
	MARGIN: 0px; BACKGROUND-COLOR: #1c94c6
}
TD.opera1 {
	MARGIN: 0px; BACKGROUND-COLOR: #1c94c6
}
TD.opera2 {
	MARGIN: 0px; BACKGROUND-COLOR: #1c94c6
}
TD.opera3 {
	MARGIN: 0px; BACKGROUND-COLOR: #1c94c6
}
TD.footer {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #1c94c6; TEXT-DECORATION: none
}
.footerlnk {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.footerlnk:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.grntxt {
	FONT-WEIGHT: bold; COLOR: #686d0f; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.prpltxt {
	FONT-WEIGHT: bold; COLOR: #5a4c84; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.redtext {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #740e20; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.whitetext {
	FONT: bold 11px Arial, Helvetica, sans-serif; COLOR: #ffffff
}
.smalltext {
	FONT-SIZE: 10px; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-VARIANT: normal
}
A.blk2 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.blk2:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #006595; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.caption {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.bluetext {
	FONT-WEIGHT: bold; COLOR: #166ea6; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-VARIANT: normal
}
A.menuhd:hover {
	FONT: bold 13px Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; COLOR: #ffffff; TEXT-DECORATION: none
}
A.newlink {
	FONT: bold 13px Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; COLOR: #ffcc33; TEXT-DECORATION: none
}
.newlink:hover {
	FONT: bold 13px Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; COLOR: #ffffff; TEXT-DECORATION: none
}
.highnotesbody {
	FONT: 12px Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-DECORATION: none
}
.highnotesbody2 {
	FONT: 11px Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-DECORATION: none
}
.hnoteslnk {
	FONT: bold 12px Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; COLOR: #990033; TEXT-DECORATION: none
}
A.hnoteslnk:hover {
	FONT: bold 12px Arial, Helvetica, sans-serif; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-DECORATION: none
}
.tableborder {
	BORDER-RIGHT: #000000 thin solid; BORDER-TOP: #000000 thin solid; BORDER-LEFT: #000000 thin solid; BORDER-BOTTOM: #000000 thin solid
}
.biglnk {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #a68462; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.biglnk:hover {
	FONT-SIZE: 18px; COLOR: #000000
}
.insights {
	BORDER-BOTTOM-STYLE: double
}
H3 {
	MARGIN-TOP: 15px; FONT-SIZE: 14px; MARGIN-BOTTOM: 0px; COLOR: #740e20
}
.bioTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 16px
}
