<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" style="" class="" lang="en">


<head>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
<head runat="server">
<asp:ContentPlaceHolder id="MasterHead" runat="server"></asp:ContentPlaceHolder>
<meta property="og:title" content="title" />
<meta property="og:description" content="description" />
<meta property="og:image" content="http://tix.com/images/TixLogo128x128.gif"/>
<meta property="og:image:secure_url" content="https://tix.com/images/TixLogo128x128.gif" />
<meta property="og:image:type" content="image/jpeg" />
</head>
<body>
<form id="form1" runat="server">
<div>
<script src="https://www.tix.com/clients/tix/js/jquery-1.6.4.min.js" type="text/javascript"></script>
	 <style>
		 div,span {
			 font-size: inherit;
		 }
	 </style>
<script src="https://www.tix.com/clients/tix/js/jquery-1.6.4.min.js" type="text/javascript"></script>
<script src="https://www.tix.com/javascript/Tooltip.js"></script>

<style>
    #arrow {
        z-index: 999998;
        display: none;
        background-color: Transparent;
        pointer-events: none;
    }

    #tooltipBox {
        z-index: 999999;
        display: none;
        position: absolute;
    background-color: #fff !important;
        border: 1px solid rgba(120, 120, 120, 0.8);
        border-radius: 3px;
        margin: 10px 8px;
        padding: 5px;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
        pointer-events: none;
    }

    #EventTooltip {
        background-color: #fff;
    }

    #EventTooltip table, #EventTooltip tr, #EventTooltip td {
        border: 0;
    }

    .tooltip-text {
        width: 400px;
        padding: 10px;
        font-size: 0.85em;
    }
</style>

<div id="tooltipBox">
    <div id="EventTooltip"><img src="https://www.tix.com/images/loading.gif" /></div>
</div>    
<div id="arrow"><img src="https://www.tix.com/images/ArrowLeftDown.png" name="arrowimg" /></div>
<link rel="alternate" href="http://www.dreaminnsantacruz.com/m/santa-cruz-hotel-deals">
		<!-- ADD NOFOLLOW ON DEV LINKS -->
		<link rel="shortcut icon" href="http://www.dreaminnsantacruz.com/favicon.ico" type="image/x-icon">
		<link rel="icon" href="http://www.dreaminnsantacruz.com/favicon.ico" type="image/x-icon">
		<!-- DEFAULT STYLESHEETS | BOOTSTRAP - UI - FONTAWESOME - FANCYBOX -->
		<link rel="stylesheet" media="screen" type="text/css" href="/clients/dreaminnsc/images/global.css">
		<!-- UNIQUE CLIENT SITE STYLESHEET -->
		<link rel="stylesheet" media="screen" type="text/css" href="/clients/dreaminnsc/images/style.css">
		<!-- DEFAULT JAVASCRIPT VARIABLES-->
		<script src="/clients/dreaminnsc/images/jquery.js"></script>
		<script>
	    var site_url = 'http://www.dreaminnsantacruz.com/';
	    var is_live = '1';
	    var IS_LIVE = '1';
	    var list_id = '13f8911249';
	    var latitude = '36.961576';
	    var longitude = ' -122.025163';

	    url_protocol = 'http';

		if(location.protocol=='https:')
		{
			url_protocol = 'https';
		}
		var CLIENT_FOLDER = 'dream-inn/';
		if (document.domain.indexOf('tambourine') > 0 || document.domain.indexOf('symphony.dev') > 0)
		{
			var SITE_ROOT = url_protocol+'://'+document.domain+'/'+CLIENT_FOLDER;
			var ROOT_PATH = '/'+CLIENT_FOLDER;
			var SITE_FILES = SITE_ROOT+'/assets/';
			var FRONTEND_ROOT = url_protocol + '://' + document.domain + '/frontend/';
		}
		else
		{
			var SITE_ROOT = url_protocol+'://'+document.domain+'/';
			var ROOT_PATH = '/';
		    var SITE_FILES = SITE_ROOT+'/assets/';
			var FRONTEND_ROOT = url_protocol + '://www.symphonyhotelmarketing.com/frontend/';
		}
	</script>
		<!-- ADD SCRIPT OF SPECIFIC PAGE | CMS PAGE JS -->
		<!-- ADD ANALYTICS CODE IF SITE IS LIVE -->

		<!-- POPUP SCRIPT -->
		<style type="text/css">
			.fancybox-margin {
				margin-right: 17px;
			}
		</style>
</head>

<body id="accomodations" class="santa-cruz-hotel-deals ">
	<div id="start-content" itemscope="" itemtype="http://schema.org/LocalBusiness">
		<header id="header">
			<div class="header-top">
				<div class="container">
					<a href="tel:8312004466" class="phone">831.200.4466</a>
					<a href="http://www.dreaminnsantacruz.com/" class="logo">Dream Inn </a>
					<div class="reserve-holder">
					
					</div>

				</div>
			</div>
			<div class="header-bottom">
				<div class="container-fluid">
					<nav id="primary-nav">
						<ul>
							<li class="primary-nav-1"><a href="http://www.dreaminnsantacruz.com/rooms-suites" class=" ">View Rooms</a>
							</li>
							<li class="primary-nav-2"><a href="http://www.dreaminnsantacruz.com/photo-gallery" class=" ">View Gallery</a>
							</li>
							<li class="primary-nav-3"><a href="http://www.dreaminnsantacruz.com/santa-cruz-hotel-deals" class=" active">Get Deals</a>
							</li>
							<li class="primary-nav-4"><a href="http://www.dreaminnsantacruz.com/santa-cruz-restaurants" class=" ">Drink + Dine</a>
								<ul class="submenu">
									<li class="primary-nav-sub-1"><a href="http://www.dreaminnsantacruz.com/santa-cruz-restaurants" class=" ">Overview</a></li>
									<li class="primary-nav-sub-2"><a href="http://www.dreaminnsantacruz.com/santa-cruz-restaurants/aquarius" class=" ">Aquarius</a></li>
									<li class="primary-nav-sub-3"><a href="http://www.dreaminnsantacruz.com/santa-cruz-restaurants/jack-oneill-lounge" class=" ">Jack O'Neill Lounge</a></li>
									<li class="primary-nav-sub-4"><a href="http://www.dreaminnsantacruz.com/santa-cruz-restaurants/in-room-dining" class=" ">In-Room Dining </a></li>
								</ul>
							</li>
							<li class="primary-nav-5"><a href="http://www.dreaminnsantacruz.com/meetings-events" class=" ">Plan an Event</a>
								<ul class="submenu" style="display: none;">
									<li class="primary-nav-sub-1"><a href="http://www.dreaminnsantacruz.com/meetings-events" class=" ">Overview</a></li>
									<li class="primary-nav-sub-2"><a href="http://www.dreaminnsantacruz.com/meetings-events/event-spaces" class=" ">Event Spaces</a></li>
									<li class="primary-nav-sub-3"><a href="http://www.dreaminnsantacruz.com/meetings-events/request-for-proposal" class=" ">Request for Proposal</a></li>
								</ul>
							</li>
							<li class="primary-nav-6"><a href="http://www.dreaminnsantacruz.com/santa-cruz" class=" ">Explore Santa Cruz</a>
								<ul class="submenu">
									<li class="primary-nav-sub-1"><a href="http://www.dreaminnsantacruz.com/santa-cruz" class=" ">Overview</a></li>
									<li class="primary-nav-sub-2"><a href="http://www.dreaminnsantacruz.com/santa-cruz/whats-nearby" class=" ">What's Nearby</a></li>
									<li class="primary-nav-sub-3"><a href="http://www.dreaminnsantacruz.com/santa-cruz/cowell-beach" class=" ">Cowell Beach</a></li>
									<li class="primary-nav-sub-4"><a href="http://www.dreaminnsantacruz.com/santa-cruz/event-calendar" class=" ">Local Event Calendar</a></li>
									<li class="primary-nav-sub-5"><a href="http://www.dreaminnsantacruz.com/santa-cruz/map" class=" ">Map</a></li>
								</ul>
							</li>
							<li class="primary-nav-7"><a href="http://www.dreaminnsantacruz.com/santa-cruz-hotel" class=" ">Beachfront Hotel</a>
								<ul class="submenu" style="display: none;">
									<li class="primary-nav-sub-1"><a href="http://www.dreaminnsantacruz.com/santa-cruz-hotel" class=" ">Overview</a></li>
									<li class="primary-nav-sub-2"><a href="http://www.dreaminnsantacruz.com/santa-cruz-hotel/top-reasons-to-stay" class=" ">Top Reasons To Stay</a></li>
								</ul>
							</li>
						</ul>
					</nav>
					<div class="tablet-primary">
						<div class="navigation overlay">
							<div class="close-menu" style="">
								<!--?xml version="1.0" encoding="iso-8859-1"?-->
								<!-- Generator: Adobe Illustrator 15.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
								<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="45.078px"
												height="45.078px" viewBox="0 0 45.078 45.078" style="enable-background:new 0 0 45.078 45.078;" xml:space="preserve">
									<g id="Close">
										<polygon points="45.078,4.95 40.129,0 22.54,17.589 4.95,0 0,4.95 17.59,22.539 0,40.129 4.95,45.078 22.539,27.488 40.129,45.078 
		45.078,40.128 27.489,22.539 	"></polygon>
									</g>
									<g id="Layer_1">
									</g>
								</svg>
							</div>
							<div class="inner">
								<ul style="max-height: 884.4px;">
									<li class="primary-nav-1"><a href="http://www.dreaminnsantacruz.com/rooms-suites" target="" class=" ">Rooms &amp; Suites</a>
									</li>
									<li class="primary-nav-2"><a href="http://www.dreaminnsantacruz.com/photo-gallery" target="" class=" ">View Our Gallery</a>
									</li>
									<li class="primary-nav-3"><a href="http://www.dreaminnsantacruz.com/santa-cruz-hotel-deals" target="" class=" active">Get Deals</a>
									</li>
									<li class="primary-nav-4"><a href="http://www.dreaminnsantacruz.com/santa-cruz-restaurants" target="" class=" ">Drink &amp; Dine</a>
										<div class="sub-sub-menu">
											<ul class="submenu">
												<li class="primary-nav-sub-1"><a href="http://www.dreaminnsantacruz.com/santa-cruz-restaurants" target="" class=" ">Overview</a></li>
												<li class="primary-nav-sub-2"><a href="http://www.dreaminnsantacruz.com/santa-cruz-restaurants/aquarius" target="" class=" ">Aquarius</a></li>
												<li class="primary-nav-sub-3"><a href="http://www.dreaminnsantacruz.com/santa-cruz-restaurants/jack-oneill-lounge" target="" class=" ">Jack O'Neill Lounge</a></li>
												<li class="primary-nav-sub-4"><a href="http://www.dreaminnsantacruz.com/santa-cruz-restaurants/in-room-dining" target="" class=" ">In-Room Dining </a></li>
											</ul>
										</div>
									</li>
									<li class="primary-nav-5"><a href="http://www.dreaminnsantacruz.com/meetings-events" target="" class=" ">Plan an Event</a>
										<div class="sub-sub-menu">
											<ul class="submenu">
												<li class="primary-nav-sub-1"><a href="http://www.dreaminnsantacruz.com/meetings-events" target="" class=" ">Overview</a></li>
												<li class="primary-nav-sub-2"><a href="http://www.dreaminnsantacruz.com/meetings-events/event-spaces" target="" class=" ">Event Spaces</a></li>
												<li class="primary-nav-sub-3"><a href="http://www.dreaminnsantacruz.com/meetings-events/request-for-proposal" target="" class=" ">Request for Proposal</a></li>
											</ul>
										</div>
									</li>
									<li class="primary-nav-6"><a href="http://www.dreaminnsantacruz.com/santa-cruz" target="" class=" ">Explore Santa Cruz</a>
										<div class="sub-sub-menu">
											<ul class="submenu">
												<li class="primary-nav-sub-1"><a href="http://www.dreaminnsantacruz.com/santa-cruz" target="" class=" ">Overview</a></li>
												<li class="primary-nav-sub-2"><a href="http://www.dreaminnsantacruz.com/santa-cruz/whats-nearby" target="" class=" ">What's Nearby</a></li>
												<li class="primary-nav-sub-3"><a href="http://www.dreaminnsantacruz.com/santa-cruz/cowell-beach" target="" class=" ">Cowell Beach</a></li>
												<li class="primary-nav-sub-4"><a href="http://www.dreaminnsantacruz.com/santa-cruz/event-calendar" target="" class=" ">Local Event Calendar</a></li>
											</ul>
										</div>
									</li>
									<li class="primary-nav-7"><a href="http://www.dreaminnsantacruz.com/santa-cruz-hotel" target="" class=" ">About Our Hotel</a>
										<div class="sub-sub-menu">
											<ul class="submenu">
												<li class="primary-nav-sub-1"><a href="http://www.dreaminnsantacruz.com/santa-cruz-hotel" target="" class=" ">Overview</a></li>
												<li class="primary-nav-sub-2"><a href="http://www.dreaminnsantacruz.com/santa-cruz-hotel/top-reasons-to-stay" target="" class=" ">Top Reasons To Stay</a></li>
											</ul>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="menu-holder">
						<div class="menu-trigger">
							<span></span>
							<span></span>
							<span></span>
							<span></span>
						</div>
						<span class="menu-text">Menu</span>
					</div>
				</div>
			</div>
		</header>
		<div id="content">
			<div class="content">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
			<br><br><br><br><br><br><br><br><br><br>
				<asp:ContentPlaceHolder id="MasterContent" runat="server"></asp:ContentPlaceHolder>


						</div>
					</div>
					</div>
		</div>
		<footer id="footer">
			<div class="top-footer">
				<div class="container">
					<!-- .social-media -->
					<ul class="social-media list-inline">
						<li><a href="https://www.instagram.com/santacruz_dreaminn/" target="_blank" class="instagram">Instagram</a></li>
						<li><a href="https://twitter.com/DreamInnHotel" target="_blank" class="twitter">Twitter</a></li>
						<li><a href="https://www.facebook.com/DreamInn/" target="_blank" class="facebook">Facebook</a></li>
						<li><a href="https://plus.google.com/114134600718740782818" target="_blank" class="google">G+</a></li>
					</ul>
					<div class="email-footer">
				
					</div>
					<nav id="secondary-nav">
						<ul>
							<li class="secondary-nav-1"><a href="http://www.dreaminnsantacruz.com/santa-cruz/getting-here" class=" ">Getting Here</a>
							</li>
							<li class="secondary-nav-2"><a href="http://www.dreaminnsantacruz.com/contact-us" class=" ">Contact Us</a>
							</li>
							<li class="secondary-nav-3"><a href="http://www.dreaminnsantacruz.com/blog" class=" ">View Our Blog</a>
							</li>
						</ul>
					</nav>
					<div class="woodside">
						<a href="http://www.woodsidehotels.com/" target="_blank">
							<img src="/clients/dreaminnsc/images/woodside-logo.png" alt="Woodside Hotels" class="woodside">
						</a>
						<ul class="properties">
							<li><a href="http://stanfordparkhotel.com/" target="_blank">Stanford Park Hotel</a></li>
							<li><a href="http://lafayetteparkhotel.com/" target="_blank">Lafayette Park Hotel &amp; Spa</a></li>
							<li><a href="http://bodegabaylodge.com/" target="_blank">Bodega Bay Lodge</a></li>
							<li class="no-border"><a href="http://www.dreaminnsantacruz.com/" target="_blank">Dream Inn</a></li>
							<li><a href="http://napavalleylodge.com/" target="_blank">Napa Valley Lodge</a></li>
							<li><a href="http://hoteldrisco.com/" target="_blank">Hotel Drisco</a></li>
							<li><a href="http://www.bernarduslodge.com/" target="_blank">Bernardus Lodge &amp; Spa</a></li>
							<li><a href="http://montereyplazahotel.com/" target="_blank">Monterey Plaza Hotel &amp; Spa</a></li>
						</ul>
					</div>
					<div itemscope="" itemtype="http://schema.org/Hotel" class="address-phone">
						<div itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress" class="address">
							<span itemprop="streetAddress">175 W Cliff Dr</span>
							<span itemprop="addressLocality">Santa Cruz</span>,
							<span itemprop="addressRegion">CA</span>
							<span itemprop="postalCode"> 95060</span>
						</div>&nbsp;&nbsp;|&nbsp;&nbsp;Phone: <span itemprop="telephone">831.200.4466</span>
					</div>
				</div>
			</div>
			<div class="white-background">
				<p class="copyright">Dream Inn &#169; 2016 All Rights Reserved.</p>
				<nav id="third-nav">
					<ul>
						<li class="third-nav-1"><a href="http://www.dreaminnsantacruz.com/careers" class=" ">Careers</a></li>
						<li class="third-nav-2"><a href="http://www.dreaminnsantacruz.com/press" class=" ">Press</a></li>
						<li class="third-nav-3"><a href="http://www.dreaminnsantacruz.com/accessibility" class=" ">Accessibility</a></li>
						<li class="third-nav-4"><a href="http://www.dreaminnsantacruz.com/privacy-policy" class=" ">Privacy</a></li>
						<li class="third-nav-5"><a href="http://www.dreaminnsantacruz.com/best-rate-guarantee" class=" ">Best Rate Guarantee</a></li>
						<li class="third-nav-6"><a href="http://www.dreaminnsantacruz.com/sitemap" class=" ">Sitemap</a></li>
					</ul>
				</nav> <a href="http://www.tambourine.com/services/" target="_blank" class="tambourine">Digital Marketing by Tambourine</a>
			</div>
		</footer>
	</div>
	<!-- CLOSE START CONTENT -->
	<!-- Global jQuery libraries -->

	<!-- SPECIFIC CLIENT JQUERY SCRIPTS -->

	<!-- CUSTOM SCRIPTS TO ALL PAGES | NORMALLY USED FOR PIXEL TRACKING AND OTHER THIRD PARTY SCRIPTS -->

<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>


		<script>
			$(document).ready(function() {
				$("#MasterContent_TixInnerContent_pnlButton").removeAttr("style");
				$("#MasterContent_TixInnerContent_ButtonPanel").removeAttr("style");
/* remove extra button defaults
				$("#MasterContent_TixInnerContent_ctl00_gvSchedule_btnBuyTix_0").removeAttr("style");
				$("#MasterContent_TixInnerContent_btnBackToShopping").removeAttr("style");
				$("#MasterContent_TixInnerContent_btnCancelOrder").removeAttr("style");
				$("#MasterContent_TixInnerContent_btnCheckout").removeAttr("style");
				$("#MasterContent_TixInnerContent_BackToShoppingButton").removeAttr("style");
				$("#MasterContent_TixInnerContent_LoginButton").removeAttr("style");
				$("#MasterContent_TixInnerContent_BackToShoppingButton").removeAttr("style");
				$("#MasterContent_TixInnerContent_CancelOrderButton").removeAttr("style");
				$("#MasterContent_TixInnerContent_CompleteButton").removeAttr("style");
				$("#MasterContent_TixInnerContent_BackToShoppingBtn").removeAttr("style");*/
				
				
			});
		</script>

		</div>
		</form>
	</body>

	</html>