BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 0.8em; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: auto; COLOR: #000000; PADDING-TOP: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #abc6eb
}
H1 {
	FONT-WEIGHT: bold; FONT-SIZE: 1.2em; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: transparent; FONT-VARIANT: normal
}
P {
	FONT-SIZE: x-small; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.smalltext {
	FONT-WEIGHT: normal; FONT-SIZE: 0.8em; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-VARIANT: normal
}
.smalltext A:link {
	FONT-WEIGHT: normal; COLOR: #9b009b; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-VARIANT: normal; TEXT-DECORATION: underline
}
.smalltext A:visited {
	FONT-WEIGHT: normal; COLOR: #ac009b; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-VARIANT: normal; TEXT-DECORATION: underline
}
.noline A:link {
	TEXT-DECORATION: none
}
.noline A:visited {
	TEXT-DECORATION: none
}
.largetext {
	FONT-WEIGHT: normal; FONT-SIZE: 1.2em; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-VARIANT: normal
}
.largetext A:link {
	FONT-WEIGHT: normal; FONT-SIZE: 1.2em; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-VARIANT: normal
}
.largetext A:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 1.2em; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-VARIANT: normal
}
.errortext {
	FONT-WEIGHT: bold; FONT-SIZE: 0.9em; COLOR: red; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.grid {
	BORDER-RIGHT: #efb240 0.05em solid; BORDER-TOP: #efb240 0.05em solid; BORDER-LEFT: #efb240 0.05em solid; BORDER-BOTTOM: #efb240 0.05em solid
}
.white {
	BACKGROUND-COLOR: #ffffff
}
.black {
	BACKGROUND-COLOR: black
}
.bg_dark {
	BORDER-RIGHT: #ffffff 1px; BORDER-TOP: #ffffff 1px; BORDER-LEFT: #ffffff 1px; COLOR: #b979ff; BORDER-BOTTOM: #ffffff 1px
}
.bg_medium {
	BACKGROUND-COLOR: #e0d5ff
}
.bg_light {
	BACKGROUND-COLOR: #cccccc
}
.alt_bg_dark {
	BACKGROUND-COLOR: #211e22
}
.alt_bg_medium {
	BACKGROUND-COLOR: #c595ff
}
.alt_bg_light {
	COLOR: #e8e0f3; BACKGROUND-COLOR: #8780b3
}
.copyright {
	FONT-SIZE: 0.8em; TEXT-ALIGN: center
}
A:link {
	COLOR: #7300bf
}
A:visited {
	COLOR: #0000ae
}
A:hover {
	COLOR: #ff6633
}
A:active {
	COLOR: #ff6633
}
A.nav:link {
	FONT-WEIGHT: bold; FONT-SIZE: 140%; COLOR: #e3d9ff; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.nav:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 140%; COLOR: #e3d9ff; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.nav:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 140%; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.nav:active {
	FONT-WEIGHT: bold; FONT-SIZE: 140%; COLOR: #ffffcc; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.subnav:link {
	FONT-WEIGHT: normal; FONT-SIZE: 90%; COLOR: #cf9bff; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.subnav:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 90%; COLOR: #cf9bff; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.subnav:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 90%; COLOR: #ffccff; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.subnav:active {
	FONT-WEIGHT: normal; FONT-SIZE: 90%; COLOR: #ffccff; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.subnavactive:link {
	COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.subnavactive:visited {
	COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.subnavactive:hover {
	COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.subnavactive:active {
	COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.headercell {
	BACKGROUND-POSITION: left bottom; BACKGROUND-IMAGE: url(../../images2/bgheader2.jpg); BACKGROUND-REPEAT: repeat-x
}
.NavCell {
	BACKGROUND-COLOR: #9900cc
}
.NavCellActive {
	BACKGROUND-COLOR: #b15bff
}
.NavCellOpen {
	BACKGROUND-COLOR: #b15bff
}
.NavCellSub {
	BACKGROUND-COLOR: #5f007d
}
.NavCellSubActive {
	BACKGROUND-COLOR: #b15bff
}
DIV#index {
	FONT-SIZE: 11px; Z-INDEX: 2; COLOR: #6644ff; FONT-FAMILY: Verdana, 'Times New Roman', Times, serif; POSITION: relative; TEXT-ALIGN: center
}
DIV#index TABLE {
	MARGIN-LEFT: auto; MARGIN-RIGHT: auto; TEXT-ALIGN: center
}
DIV#index TD.thumbcell {
	BORDER-RIGHT: #6666ff 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #6666ff 1px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; VERTICAL-ALIGN: top; BORDER-LEFT: #6666ff 1px solid; WIDTH: 90px; PADDING-TOP: 10px; BORDER-BOTTOM: #6666ff 1px solid; TEXT-ALIGN: left
}
DIV#index TD.OScell {
	BORDER-RIGHT: #6666ff 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #6666ff 1px solid; PADDING-LEFT: 10px; FONT-SIZE: 13px; PADDING-BOTTOM: 10px; VERTICAL-ALIGN: top; BORDER-LEFT: #6666ff 1px solid; PADDING-TOP: 10px; BORDER-BOTTOM: #6666ff 1px solid; TEXT-ALIGN: left
}
DIV#index TD.thumbcell IMG {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
DIV#index DIV.pages {
	FONT-SIZE: 0.8em; FONT-FAMILY: tahoma, arial, helvetica, sans-serif; TEXT-ALIGN: right
}
