A:link {
	FONT: 600 11px/11px verdana, arial, sans-serif; COLOR: #000066; TEXT-DECORATION: none
}
A:visited {
	FONT: 600 11px/11px verdana, arial, sans-serif; COLOR: #000066; TEXT-DECORATION: none
}
A:active {
	FONT: 600 11px/11px verdana, arial, sans-serif; COLOR: #000066; TEXT-DECORATION: none
}
A:hover {
	FONT: 600 11px/11px verdana, arial, sans-serif; COLOR: #ff0000; TEXT-DECORATION: none
}
.header {
	FONT: bold 14px verdana, arial, sans-serif; COLOR: #000000
}
.text {
	FONT: 10px verdana, arial, sans-serif; COLOR: #000000
}
.textb {
	FONT: bold 10px verdana, arial, sans-serif; COLOR: #000000
}
.redsm {
	FONT: 9px verdana, arial, sans-serif; COLOR: #ff0000
}
.redlg {
	FONT: 12px verdana, arial, sans-serif; COLOR: #ff0000
}
.bluesm {
	FONT: 9px verdana, arial, sans-serif; COLOR: #0099cc
}
.bluebg {
	FONT: 12px verdana, arial, sans-serif; COLOR: #0099cc
}
.wht {
	FONT: 10px verdana, arial, sans-serif; COLOR: #ffffff; LETTER-SPACING: 3px
}
.whtreg {
	FONT: 10px verdana, arial, sans-serif; COLOR: #ffffff
}
.design {
	FONT: 9px verdana, arial, sans-serif; COLOR: #eeeeee
}
.design:hover {
	FONT: 9px verdana, arial, sans-serif; COLOR: #eeeeee
}
