
   /* small-screen adjustments */

   .mobileonly { display: inline; }
   body { background-image: none; }
   #container { background-image: none; width: 550px; }
   #hd, #sponsorship { width: auto; height: auto; margin: 0px 0px 25px 25px; float: none; }
   #hd #corner { display: none; }
   #hd #banner { float: none; width: 500px; height: 86px; margin-top: 25px; }
   #hdcc { float: none; margin: 0px; width: auto; padding: 0px; }
   #content > .divided { margin: 0px 25px; }
   #sponsorship img { width: 500px; height: 62px; }
   #sponsorship.placement2 { display: none; }
   #menuContainer { display: none; }
   #content { width: auto; float: none; margin: 0px; }
   #primary, #secondary { float: none; width: auto; margin: 25px; }
   .summary { display: none; }
   #footer { margin: 25px; }
   #footerlogos { max-width: 100%; height: auto; }
   .thumb25, .thumb50 { width: auto; height: auto; }

   /* type */

   body, #content, #primary, table, td { font-size: 16px; line-height: 22px; }
   big { font-size: 18px; line-height: 22px; }
   small, #footer, b.category, .detail { font-size: 14px; line-height: 20px; }
   h2 { font-size: 24px; line-height: 28px; }
   h5 { font-size: 16px; line-height: 20px; }
   #secondary h5 { padding: 5px 5px 3px 5px; }
   .btn, a.btn { font-size: 13px; padding: 1px 4px; }
   input, select, textarea { font-size: 18px; }
   #startshow, #endshow { width: 120px; }
   #searchbtn { padding: 5px 10px; font-size: 18px; }

   /* toolbar */

   #toolbar { display: block; margin: 0px 0px 25px 25px; width: 500px; background-color: #457782; text-align: left; overflow: hidden; }
   #toolbar form { display: inline; }
   #toolbar select
   {
      background-color: #457782; color: #FFFFFF; width: 120px; padding: 3px; font-size: 18px;
      border: 0; border-radius: 0; -webkit-border: none;
   }
   #terms, #toolbar .terms { border: none; border-bottom: 1px solid #FFFFFF; width: 80px; font-size: 18px; color: #FFFFFF; background-color: transparent; -webkit-appearance: none; }
   #magnifier { background: transparent; -webkit-appearance: none; position: relative; top: 3px; left: 3px; }
