
.MainHeader  { font-family: Trebuchet MS; font-size: 24pt; color: #000080; vertical-align: 
               middle; text-align: center; text-indent: 0; line-height: 150%; 
               word-spacing: 0; margin: 0; font-weight:bold; }
               
body { 
	font: 10pt Trebuchet MS;
	text-align: left;
	color: #000000;
	font-weight: normal;
	text-decoration: none;
}

a:visited.yellowlinks { 
	font: 10pt Trebuchet MS;
	text-align: right;
	color: #FFFFCC;
	font-weight: normal;
	text-decoration: none;
}

a:link.yellowlinks { 
	font: 10pt Trebuchet MS;
	text-align: right;
	color: #FFFFCC;
	font-weight: normal;
	text-decoration: none;
}

a:hover.yellowlinks	{
	font: 10pt Trebuchet MS;
	text-align: right;
	color: #FFFFCC;
	font-weight: bold;
	text-decoration: underline;
} 

a.redlinks:visited {
	font: 10pt Trebuchet MS; 
	color: #990000;
	text-align: right;
	font-weight: normal;
	text-decoration: none;
}

a.redlinks:link {
	font: 10pt Trebuchet MS; 
	color: #990000;
	text-align: right;
	font-weight: normal;
	text-decoration: none;
}

a.redlinks:hover      {
	font: 10pt Trebuchet MS; 
	color: #990000;
	text-align: right;
	font-weight: bold;
	text-decoration: underline;
} 

.sidebarlink {
	padding: 1pt 5pt 1pt 0;
	margin: 0;
	text-align: right;
	border-top: 1px solid #FFFFCC;             
}


.headlines {
	font: 18pt Trebuchet MS;
	color: #FFFFFF;
	text-align: center;
	font-weight: bold;
	line-height: 24pt;
}

.headers {
	font: 14pt Trebuchet MS;
	color: #000000;
	text-align: left;
	font-weight: bold;
	line-height: 14pt;
}

.bodytext {
	font: 10pt Trebuchet MS;
	color: #000000;
	text-align: left;
	font-weight: normal;
	line-height: 12pt;
}

.bodytextcenter {
	font: 10pt Trebuchet MS;
	color: #000000;
	text-align: center;
	font-weight: normal;
	line-height: 12pt;
}

.bodytextsmall {
	font: 8pt Trebuchet MS;
	color: #000000;
	text-align: left;
	font-weight: normal;
	line-height: 10pt;
}

.bodytextsmallcenter {
	font: 8pt Trebuchet MS;
	color: #000000;
	text-align: center;
	font-weight: normal;
	line-height: 10pt;
}



.yellowlinks2	{
    padding: 10pt 5pt 10pt 0;
	margin: 0;
	text-align: right;
	border-top: 1px solid #FFFFCC;         
	font: 12pt Trebuchet MS;
	text-align: center;
	vertical-align: middle;
	color: #FFFFCC;
	font-weight: bold;
	text-decoration: none;
}