body {
margin: 0px;
background-color:#000000;
padding: 0px;



}
legend
{color:#ffffff;}


.background
{
	position: relative;
	background-image: url(/clients/ArtisanSchoolofDance/Images/bg.png);
	margin-top: 0px;
	width: 1199px;
	height: 100%;
	margin-left: 15%

	
	
	}
.header

{
	position: relative;
	background-image: url(/clients/ArtisanSchoolofDance/Images/header_bg.png);
	margin-top: 0px;
	width: 1199px;
	height: 169px;
	

	
	
	}
	

.navmenu
{

position: relative;



}

.content
{ 
width: 1199px;

height:100%;
}

.content_text
{ 
width: 600px;
margin-left: 50%;
padding: 10px;
margin-top: 10px;
background-color: #ffffff;}
.footer_top_bg
{width: 100%; height: 361px; background-image: url(/clients/ArtisanSchoolofDance/Images/footer_top_bg.png)}
.footer_top
{
font-size: 12pt;
position: relative;
width: 967px;

text-align: center;
margin-left: 20%;
}
.footer_bottom_bg
{width:1199px; height: 192px;  background-image: url(/clients/ArtisanSchoolofDance/Images/footer_bg.png); position: fixed;  
bottom: 0px;}

