@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 200;
  src: local('Dosis ExtraLight'), local('Dosis-ExtraLight'), url(https://fonts.gstatic.com/s/dosis/v4/VK-RlLrn4NFhRGqPkj6IwPesZW2xOQ-xsNqO47m55DA.woff2) format('woff2'), url(https://fonts.gstatic.com/s/dosis/v4/W6aLiTthA4f3EVhqR-mpuPesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 300;
  src: local('Dosis Light'), local('Dosis-Light'), url(https://fonts.gstatic.com/s/dosis/v4/SHQzTQBI7152hSrIuGUiVPesZW2xOQ-xsNqO47m55DA.woff2) format('woff2'), url(https://fonts.gstatic.com/s/dosis/v4/-agn7DEysY24H6o49RsJa_esZW2xOQ-xsNqO47m55DA.woff) format('woff');
}
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 400;
  src: local('Dosis Regular'), local('Dosis-Regular'), url(https://fonts.gstatic.com/s/dosis/v4/2G6sVpO-7ZhC0_ceUPvsmQ.woff2) format('woff2'), url(https://fonts.gstatic.com/s/dosis/v4/tYjwoPxcNbCapURVAi2M5g.woff) format('woff');
}
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 700;
  src: local('Dosis Bold'), local('Dosis-Bold'), url(https://fonts.gstatic.com/s/dosis/v4/fP7ud4UTUWGxo-nV1joC1fesZW2xOQ-xsNqO47m55DA.woff2) format('woff2'), url(https://fonts.gstatic.com/s/dosis/v4/SD_sh9aV9vitKsBsjDXok_esZW2xOQ-xsNqO47m55DA.woff) format('woff');
}
