.sf_extra2 { background-image: url(/clients/BayStreetPlayers/Images/bg_xmxk.jpg);
 }
.sfgb_title-bar { color:#000000; }
.sfgb_paginator { color:#000000; }
a.sfgb_paginator { color:#000000; }
a.sfgb_paginator:hover { color:#000000; }
a.sfgb_paginator:visited { color:#000000; }
.sfgb_message-title { color:#none; }
.sfgb_message-text { color:#000000; }
.sfgb_message-form-panel-body { color:#000000; }
.sfgb_message-form-panel-body { background-color:#F5F5F5; }
.sfgb_message-form-panel-error { color:#D00000; }
.sfgb_submit-button { color:#000000; }
.sf_pagetitle {  background-image: none; }
body { background-color:#7E7E7E; }
.sf_main_header { color:#EEDEBE; }
.sf_sub_header { color:#None; }
.sf_pagetitle { color:#FFFAEF; }
.sf_footer { color:#2D2D2D; }
.sf_main { background-color:#None; }
.sf_region3 { background-color:#None; }
.sf_navigation { background-color:#None; }
.sf_navigation ul li { background-color:#None; }
.sf_navigation ul li a { color:#2D2D2D; }
.sf_navigation ul li a { background-color:#None; }
.sf_navigation ul li a:visited { color:#2D2D2D; }
.sf_navigation ul li a:hover { color:#2D2D2D; }
.sf_navigation ul li a:hover { background-color:#None; }
.sf_navigation ul li.active-nav a { color:#None; }
.sf_navigation ul li.active-nav a { background-color:#None; }
a { color:#A63D08; }
a:link { color:#A63D08; }
a:visited { color:#A63D08; }
a:hover { color:#A63D08; }
body#page_ae4abbac-ebb0-4e22-837b-506385d37097 div#content1 { width:95.06%; }
body#page_eb4960ef-e363-4d30-9303-851b7ae29316 .sf_extra2 { background-image: url(/clients/BayStreetPlayers/Images/bg_crpe.jpg);
 }
body#page_eb4960ef-e363-4d30-9303-851b7ae29316 div#content1 { width:95.06%; }
body#page_155d07d8-68f8-4c68-9197-621e09fcb190 .sf_extra2 { background-image: url(/clients/BayStreetPlayers/Images/bg_k34l.jpg);
 }
body#page_862d2ffd-a4c9-435a-82a1-2502917ca63e .sf_extra2 { background-image: url(/clients/BayStreetPlayers/Images/bg_45rl.jpg);
 }
body#page_0f49327b-444b-46e6-af74-eb15e8e916d8 .sf_extra2 { background-image: url(/clients/BayStreetPlayers/Images/bg_htt4.jpg);
 }
body#page_049b7de8-b24f-4097-9559-21da8f054170 .sf_extra2 { background-image: url(/clients/BayStreetPlayers/Images/bg_mfk5.jpg);
 }
body#page_d332daeb-6922-46fd-a799-6ee714680ac1 .sf_extra2 { background-image: url(/clients/BayStreetPlayers/Images/bg_vxpf.jpg);
 }
body#page_65141ab9-cb26-446f-94cc-b9d825ab17f3 .sf_extra2 { background-image: url(/clients/BayStreetPlayers/Images/bg_dhov.jpg);
 }
body#page_155d07d8-68f8-4c68-9197-621e09fcb190 div#content1 { width:95.06%; }
body#page_c473ef2e-e25a-4ea4-837f-f443a5e63662 div# { width:100%; }
body#page_c473ef2e-e25a-4ea4-837f-f443a5e63662 div#content1 { width:95.06%; }
body#page_c473ef2e-e25a-4ea4-837f-f443a5e63662 .sf_extra2 { background-image: url(/clients/BayStreetPlayers/Images/bg_em8t.jpg);
 }
body#page_b26805fb-186f-4874-a624-936988341ade .sf_extra2 { background-image: url(/clients/BayStreetPlayers/Images/bg_q9td.jpg);
 }
body#page_9235ad65-08bb-4cf0-bc36-71354b05d6f7 .sf_extra2 { background-image: url(/clients/BayStreetPlayers/Images/bg_08lh.jpg);
 }
body#page_9235ad65-08bb-4cf0-bc36-71354b05d6f7 div#content1 { width:94.94%; }
body#page_0e3ad308-3de8-435b-a8d7-0c2c52441dd5 div#content1 { width:95.06%; }
body#page_e9a27842-0e3b-4896-b0c3-79f30badf43a div#content1 { width:95.06%; }
body#page_e9a27842-0e3b-4896-b0c3-79f30badf43a .sf_extra2 { background-image: url(/clients/BayStreetPlayers/Images/bg_5zbr.jpg);
 }
body#page_5df30132-9c2c-4b95-8ed6-143b34a358d3 div#content1 { width:95.06%; }
body#page_66db478b-11a7-4465-997c-80b6df04566a div#content1 { width:95.06%; }
body#page_c44308e0-6226-44ce-be3c-9c78c33cccf2 div#content1 { width:95.06%; }
body#page_5df30132-9c2c-4b95-8ed6-143b34a358d3 .sf_extra2 { background-image: url(/clients/BayStreetPlayers/Images/bg_byq2.jpg);
 }
body#page_d0fe69cf-657c-433b-b158-142be3c0822d div#content1 { width:95.06%; }
body#page_d0fe69cf-657c-433b-b158-142be3c0822d .sf_extra2 { background-image: url(/clients/BayStreetPlayers/Images/bg_lzmt.jpg);
 }
body#page_66db478b-11a7-4465-997c-80b6df04566a .sf_extra2 { background-image: url(/clients/BayStreetPlayers/Images/bg_7s9h.jpg);
 }
body#page_0e3ad308-3de8-435b-a8d7-0c2c52441dd5 div# { width:100%; }
body#page_e1a1af6f-948e-4240-8847-d2b6073e6c5d div#content1 { width:95.06%; }
body#page_e1a1af6f-948e-4240-8847-d2b6073e6c5d .sf_extra2 { background-image: url(/clients/BayStreetPlayers/Images/bg_zehe.jpg);
 }
body#page_ae4abbac-ebb0-4e22-837b-506385d37097 .sf_extra2 { background-image: url(/clients/BayStreetPlayers/Images/bg_zwqq.jpg);
 }
body#page_c44308e0-6226-44ce-be3c-9c78c33cccf2 .sf_extra2 { background-image: url(/clients/BayStreetPlayers/Images/bg_ad9n.jpg);
 }
body#page_4cb503d3-8add-4eab-8210-f9887a00ff24 .sf_extra2 { background-image: url(/clients/BayStreetPlayers/Images/bg_wkdn.jpg);
 }
body#page_4cb503d3-8add-4eab-8210-f9887a00ff24 div#content1 { width:95.06%; }
body#page_6d047346-ad7b-42c5-a92d-27aa4422ae5f .sf_extra2 { background-image: url(/clients/BayStreetPlayers/Images/bg_cxgc.jpg);
 }
body#page_51f517c2-4b5e-4667-a1f4-f4410ec86ce0 div#content1 { width:95.06%; }
body#page_51f517c2-4b5e-4667-a1f4-f4410ec86ce0 .sf_extra2 { background-image: url(/clients/BayStreetPlayers/Images/bg_1zyg.jpg);
 }
body#page_862d2ffd-a4c9-435a-82a1-2502917ca63e div#content1 { width:95.06%; }
body#page_3990d298-e45b-4e54-a795-88145707cb7d .sf_extra2 { background-image: url(/clients/BayStreetPlayers/Images/bg_dnwt.jpg);
 }
body#page_a35b6d68-ee3f-423f-97b5-6b197bbd120e div#content1 { width:95.06%; }
body#page_a35b6d68-ee3f-423f-97b5-6b197bbd120e .sf_extra2 { background-image: url(/clients/BayStreetPlayers/Images/bg_y3ad.jpg);
 }
body#page_2eb5ae9e-dc56-4bfc-86eb-3248476c259f div#content1 { width:95.06%; }
body#page_2eb5ae9e-dc56-4bfc-86eb-3248476c259f .sf_extra2 { background-image: url(/clients/BayStreetPlayers/Images/bg_y3ad.jpg);
 }
body#page_c4b8e848-e03d-47c4-b534-44de6a063695 div#content1 { width:95.06%; }
body#page_c4b8e848-e03d-47c4-b534-44de6a063695 .sf_extra2 { background-image: url(/clients/BayStreetPlayers/Images/bg_y3ad.jpg);
 }
body#page_a642035e-950a-4485-ba6b-61b764329ed6 div#content1 { width:95.06%; }
body#page_a642035e-950a-4485-ba6b-61b764329ed6 .sf_extra2 { background-image: url(/clients/BayStreetPlayers/Images/bg_y3ad.jpg);
 }
body#page_22aa1897-5a16-4621-9a77-84ba44ac2990 div#content1 { width:95.06%; }
body#page_22aa1897-5a16-4621-9a77-84ba44ac2990 .sf_extra2 { background-image: url(/clients/BayStreetPlayers/Images/bg_y3ad.jpg);
 }
body#page_d39db14e-efe5-42ae-9841-d958a42efd83 .sf_extra2 { background-image: url(/clients/BayStreetPlayers/Images/bg_mfk5.jpg);
 }
body#page_c219aba4-8dd7-4076-ae15-bb10897b7653 div#content1 { width:95.06%; }
body#page_c219aba4-8dd7-4076-ae15-bb10897b7653 .sf_extra2 { background-image: url(/clients/BayStreetPlayers/Images/bg_zehe.jpg);
 }
