#nav, #nav ul{ 
	margin: 0 0 0 30px; 
	padding: 0; 
	list-style-type: none; 
	list-style-image: none; 
	list-style-position: outside; 
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	position: relative;
	float: none;
	z-index: 6000;
}
#nav li { 
	position: relative; 
	float: left; 
	line-height: 29px;
	font-weight: bold;
}
#nav li:hover { 
	cursor: pointer;
}
#nav li a { 
	text-align: left;  
	display: block; 
	color: #000000; 
	text-decoration: none;
	padding: 0 20px;
	margin: 0;
}
#nav li:hover a { 
	color: #BFBFBF;
	padding: 0 25px;
	margin: 0;
}
#nav li ul { 
	position: absolute;
	left: -999em;
	width: 200px;
	height: auto;
	font-family: Arial, Helvetica, sans-serif;
	color: #00539b;
	border-left: 10px solid #ffffff;
	border-right: 10px solid #ffffff;
	border-bottom: 10px solid #ffffff;
	margin: 0 0 0 5px;
	font-size: 11px;
	background: #ffec01;
}
#nav li ul li { 
	display: block;
	padding: 5px 0px;
	font-weight: normal;
	margin: 0;
	line-height: 15px;
	background: none;
	width: 200px;
	height: auto;
}
#nav li ul li:hover { 
	color: #000000;
	margin: 0;
	background: #ffffff;
	padding: 5px 0;
	width: 200px;
}
#nav li ul ul { 
	left: -999em; 
	padding: 0;
	margin: 0;
}
#nav li:hover li a {
	color: #000000;
	padding: 0 10px 0 20px;
	display: block;
	width: 170px;
	text-decoration: none;
	height: auto;
}
#nav li ul li:hover a { 
	color: #000000;
	width: 170px;
	padding: 0 10px 0 20px;	
	height: auto;
}
#nav li ul li:hover li a, #nav li ul li ul li:hover li a, #nav li ul li ul li ul li:hover li a, #nav li ul li ul li ul li ul li:hover li a {
	color: #000000;
	padding: 0 10px;
	display: block;
}
#nav li ul ul li:hover a, #nav li ul ul ul li:hover a, #nav li ul ul ul ul li:hover a, #nav li ul ul ul ul ul li:hover a { 
	color: #000000;
}

#nav li:hover ul ul, #nav li:hover ul ul ul, #nav li.sfhover ul ul, #nav li.sfhover ul ul ul { 
	left: -999em; 
}

#nav li:hover ul, #nav li li:hover ul, #nav li li li:hover ul, #nav li.sfhover ul, #nav li li.sfhover ul, #nav li li li.sfhover ul {
	left: auto; 
}

#nav li li.sfhover ul, #nav li li:hover ul { 
	margin-left: 200px;
	margin-top: -29px; 
	border-top: 10px solid #ffffff;
	background: #ffec01 none;
}

#nav li li.sfhover ul a, #nav li li:hover ul a {
	color: #000000;
}

#nav li li.sfhover ul a:hover, #nav li li:hover ul a:hover {
	color: #000000;
}

