/* CSS Document */

/***************************** STRUCTURE & STYLES ************************/
body {
	background: #323232 url(/clients/AggieTheta/Images/bg.gif) top center repeat;
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
}
a, a:link, a:visited, a:active {
	text-decoration: underline;
	color: #666666;
	outline: none;
}
a img {
	border: none 
}
a:hover, a:focus {
	text-decoration: none;
}
#container {
	width: 950px;
	margin-left:auto;
	margin-right: auto;
	padding: 0 25px;
	background: url(/clients/AggieTheta/Images/shadow.png) top center repeat-y;
}

/************************ ACCESSIBILITY STYLES ************************/
.accessibility  {
	left:-999em;
	position:absolute;
	top:-999em;
}

/******************************************** HEADER ********************************************/
/*#header {
	width: 950px;
	height: 208px;
	background: url(/clients/AggieTheta/Images/header_bg.jpg) top left no-repeat;
	float: left;
}
#logo {
	height: 100px;
	width: 335px;
	margin: 79px 0 0 217px;
	background: url(/clients/AggieTheta/Images/logo.jpg) top left no-repeat;
}*/
#header {
	width: 950px;
	height: 180px;
	background: url(/clients/AggieTheta/Images/header_bg.jpg) bottom left no-repeat;
	float: left;
}
#logo {
	height: 100px;
	width: 335px;
	margin: 51px 0 0 217px;
	background: url(/clients/AggieTheta/Images/logo.jpg) top left no-repeat;
}
#logo h1 {
	height: 100px;
	width: 335px;
	padding: 0;
	margin: 0;
	cursor: pointer;
}
#logo h1 a {
	display: block;
	width: 335px;
	height: 100px;
}
#logo span {
	display:none;
}

/*************** Menus are styled in hmenu.css ***************/
#navigation {
	width: 950px;
	height: 29px;
}

/************************ Feature ************************/
/* /clients/AggieTheta/Images uploaded inside of Copywrite CMS Image Manager */
#feature {
	width: 904px;
	height: 342px;
	padding: 0 23px 15px 23px;
	background: url(/clients/AggieTheta/Images/feature_bg.jpg) top left no-repeat;
}
#faith, #hope, #love {
	width: 274px;
	height: 322px;
	overflow: hidden;
	padding: 10px;
	background-color: #ffffff;
	float: left;
}
#faith, #hope {
	margin-right: 10px;
}
#faithImg, #hopeImg, #loveImg {
	height:322px;
	left:0px;
	position:relative;
	top:0px;
	width:274px;
	z-index:100;
}
.FeatTitle {
	height:73px;
	width:247px;
	left:27px;
	position:relative;
	top:-74px;
	
	z-index:200;
}
#artFeature {
	width: 904px;
	height: 220px;
	padding: 0 23px 15px 23px;
	background: url(/clients/AggieTheta/Images/artFeature_bg.jpg) top left no-repeat;
}
#artImg {
	width: 884px;
	height: 200px;
	overflow: hidden;
	padding: 10px;
	background-color: #ffffff;
	float: left;
}

/******************************************* CONTENT **********************************************/
#content {
	width: 904px;
	background: #ffffff;
	margin: 0 10px;
	float: left;
	padding: 9px 13px 15px 13px;
}

/************************ Home Page ************************/
#frontCont {
	width: 904px;
	float: left;
	background: url(/clients/AggieTheta/Images/frontCont_bg.gif) top left repeat-y;
}
/************** Column Content **************/
#contCol {
	width: 260px;
	float: left;
	padding: 17px;
}
#events {
	width: 260px;
	float: left;
}
h2.eventsHead {
	width: 260px;
	height: 25px;
	margin: 0 0 15px 0;
	padding: 0;
	background: url(/clients/AggieTheta/Images/eventsHead_bg.gif) top left no-repeat;
}
h2.eventsHead span {
	display: none;
}

/******* MiniCal Styles *******/
#minical {
	width: 260px;
	float: left;
	background-color: #ffffff;
	margin-bottom: 9px;
	display: block;
}
#calTop {
	width: 260px;
	float: left;
	background: url(/clients/AggieTheta/Images/calTop_bg.gif) top left no-repeat;
}
#calBot {
	width: 237px;
	float: left;
	background: url(/clients/AggieTheta/Images/calBot_bg.gif) bottom left no-repeat;
	min-height: 222px;
	padding: 0 0 5px 11px;
	overflow: hidden;
}
.mc_table {
	line-height: normal;
	width: 238px;
}
.mc_header {
	color: #ffffff;
	height: 28px;
	padding: 0;
	font-size: 14px;
	vertical-align: top;
	text-align: center;
	text-transform: uppercase;
}
.mc_header strong {
	font-weight: normal;
}
.mc_dayname {
	color: #000000;
	font-weight: bold;
	padding: 7px 0 12px 0;
	font-size: 13px;
}
.mc_regularday {
	height: 17px;
	width: 23px;
	padding: 7px 5px 7px 5px;
	text-align: center;
	vertical-align: middle;
	color: #000000;
	font-size: 12px;
	font-weight: bold;
	border-right: 1px solid #ffee1f;
}
.mc_currentday {
	height: 17px;
	width: 23px;
	padding: 7px 5px 7px 5px;
	text-align: center;
	vertical-align: middle;
	color: #000000;
	background-color: #ffee1f;
	font-size: 12px;
	font-weight: bold;
	border-right: 1px solid #ffee1f;
}
.mc_otherdays_end, .mc_otherdays_start {
	height: 17px;
	width: 23px;
	padding: 7px 5px 7px 5px;
	text-align: center;
	vertical-align: middle;
	color: #ffffff;
	font-size: 12px;
	font-weight: bold;
	border-right: 1px solid #ffee1f;
}
#minical a, #minical a:visited, #minical a:active {
	color: #A6A6A6;
	text-decoration: underline;
}
#minical a:hover, #minical a:focus {
	color: #A6A6A6;
	text-decoration: none;
}
/******* End MiniCal *******/

#eventDesc {
	float: left;
	display: block;
	width: 260px;
}
ul.up_events {
	list-style: none;
	margin: 0;
	padding: 0;
}
ul.up_events li {
	margin: 0;
	padding: 6px 0;
}
ul.up_events a, ul.up_events a:visited, ul.up_events a:active {
	color: #000000;
	text-decoration: none;
	font-weight: bold;
}
ul.up_events a:hover, ul.up_events a:focus {
	color: #ffffff;
	text-decoration: none;
}
span.up_events_date {
	font-weight: bold;
}
span.up_events_desc {

}
a.callink, a.callink:visited, a.callink:active {
	color: #ffffff;
	text-decoration: none;
	font-size: 11px;
}
a.callink:hover, a.callink:focus {
	color: #000000;
	text-decoration: none;
}
/************** End Column **************/

/************** Main Content **************/
#contMain {
	width: 590px;
	float: right;
}

#contWelcome {
	width:575px;
	float: right;
	font-size: 13px;
}
h2.welHead {
	margin: 0 0 12px 0;
	padding: 0;
	font-size: 28px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
h2.welHead span {

}
.frontDesc {
	line-height: 1.4;
}
.frontDesc p {
	margin: 0 0 12px 0;
	padding: 0;
}
#news {
	width:555px;
	float: right;
	padding: 8px 10px;
	background-color: #cccccc;
	margin-top: 8px;
}
#newsborder {
	width: 541px;
	border: 1px solid #000000;
	padding: 12px 0 12px 12px;
	float: left;
}
h2.newsHead {
	width: 529px;
	height: 15px;
	margin: 0 0 20px 0;
	padding: 0;
	background: url(/clients/AggieTheta/Images/newsHead_bg.gif) top left no-repeat;
}
h2.newsHead span {
	display: none;
}
ul.latestnews {
	list-style: none;
	margin: 0;
	padding: 0;
}
ul.latestnews li {
	width: 160px;
	float: left;
	margin: 0;
	padding: 0 20px 0 0;
}
ul.latestnews li a {
	display: block;
	float: right;
	padding-top: 10px;
}
#quote {
	width: 590px;
	float: right;
	margin-top: 20px;
}
#quoteTop {
	width: 590px;
	float: left;
	background: url(/clients/AggieTheta/Images/quoteTop_bg.gif) top left no-repeat;	
}
#quoteBot {
	width: 560px;
	float: left;
	background: url(/clients/AggieTheta/Images/quoteBot_bg.gif) bottom right no-repeat;	
	padding: 12px 5px 12px 25px;
}
.quoteDesc {
	font-size: 19px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	letter-spacing: 1px;
}
.quoteDesc p {
	margin: 0;
	padding: 0;
}


/************** End Main **************/


/************************ Articles ************************/
#artCont {
	width: 904px;
	float: left;
}
h1.artTitle {
	color: #000000;
	margin: 0 0 7px 0;
	padding: 0 0 0 18px;
	font-size: 28px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	display: block;
}
.artDesc {
	line-height: 1.4;
	padding: 17px 17px 10px 17px;
	border: 1px solid #000000;
	min-height: 275px;
}
.artDesc p {
	padding: 0;
	margin: 0 0 20px 0;
}
.artDesc ul {
	margin-bottom: 20px;
}
.artDesc h3 {
	border-bottom: 1px dotted #000000;
	margin: 8px 0;
	padding: 0;
	font-size: 14px;
}
#breadcrumbs {
	width: 904px;
	float: right;
	text-align: right;
	font-size: 10px;
	margin-top: 7px;
	color: #A6A6A6;
	text-transform: lowercase;
}
#breadcrumbs a, #breadcrumbs a:link, #breadcrumbs a:visited, #breadcrumbs a:active {
	text-decoration: none;
	color: #A6A6A6;
}
#breadcrumbs a:hover, #breadcrumbs a:focus {
	text-decoration: none;
	color: #000000;
}
/************** Summary Pages **************/
blockquote.summaryPageTitle {
	font-weight: bold;
	margin: 0 0 2px;
	padding: 0;
	font-size: 14px;
}
blockquote.summaryPageDescription {
	margin: 0 0 20px;
	padding: 0;
}
/************** End Summary Pages **************/

.galleryWrap {
	height: 700px;
	width: 870px;
	margin: 15px auto;
}


/************************ FOOTER ************************/

.clear {
	clear: both;
}

#footer {
	width: 910px;
	padding: 12px 20px 0 20px;
	font-size: 11px;
	color: #000000;
	text-align: center;
}
#footer a, #footer a:link, #footer a:visited, #footer a:active {
	text-decoration: none;
	font-weight: bold;
	color: #000000;
}
#footer a:hover, #footer a:focus {
	text-decoration: underline;
}
#bottom {
	width: 1000px;
	height: 36px;
	margin-left:auto;
	margin-right: auto;
	background: url(/clients/AggieTheta/Images/bottom.png) top center no-repeat;
}


/****************************** Portfolio Gallery ******************************/

#thumbs { 
	width: 864px; 
	padding: 0; 
	text-align:center; 
	margin: 0 auto;
	list-style: none;
	display: block;
}
#thumbs li { 
	width: 228px; 
	height: 200px; 
	float: left; 
	margin: 10px 30px 20px 30px; 
	text-align: center; 
	line-height: normal; 
	font-weight: bold; 
	font-size: 12px; 
}
.fpThumb { 
	width: 210px; 
	height: 150px; 
	margin: 0 0 5px 0; 
	padding: 10px 10px 14px 8px; 
	display: block; 
	overflow: hidden;
	background: url(/clients/AggieTheta/Images/stack.gif) top left no-repeat;
}
.fpThumb a { 
	width: 200px; 
	height: 140px;  
	display: block;
	padding: 5px;
}
.fpThumb a span { 
	width: 200px; 
	height: 140px; 
	display: block; 
	overflow: hidden;
}
.fpThumb a:hover { 
	background: #FFEC01; 
}
.fpThumb img { 
	border: none; 
	display: block; 
	width: 200px; 
	height: auto; 
}




#pLink {
	text-align: center;
	height: 29px;
	line-height: 29px;
	font-size: 11px;
}
#pLink a, #pLink a:visited, #pLink a:active {
	height: 29px;
	background: url(/clients/AggieTheta/Images/thumbs.gif) left center no-repeat;
	padding-left: 35px;
	display: inline-block;
	text-decoration: none;
}
#pLink a:hover, #pLink a:focus {
	text-decoration: underline;
}