/*
generate css selectors to apply on content types links
(we're using that to render reference fields)

IMPORTANT:
replace *spaces* in content type id with *underscores*
*/
a.ATBooleanCriterion {
    background: transparent url("http://www.adlerplanetarium.org/document_icon.gif") 0 1px no-repeat;
    padding: 2px 0px 2px 18px;
}
a.ATCurrentAuthorCriterion {
    background: transparent url("http://www.adlerplanetarium.org/document_icon.gif") 0 1px no-repeat;
    padding: 2px 0px 2px 18px;
}
a.ATDateCriteria {
    background: transparent url("http://www.adlerplanetarium.org/document_icon.gif") 0 1px no-repeat;
    padding: 2px 0px 2px 18px;
}
a.ATDateRangeCriterion {
    background: transparent url("http://www.adlerplanetarium.org/document_icon.gif") 0 1px no-repeat;
    padding: 2px 0px 2px 18px;
}
a.ATListCriterion {
    background: transparent url("http://www.adlerplanetarium.org/document_icon.gif") 0 1px no-repeat;
    padding: 2px 0px 2px 18px;
}
a.ATPathCriterion {
    background: transparent url("http://www.adlerplanetarium.org/document_icon.gif") 0 1px no-repeat;
    padding: 2px 0px 2px 18px;
}
a.ATRelativePathCriterion {
    background: transparent url("http://www.adlerplanetarium.org/document_icon.gif") 0 1px no-repeat;
    padding: 2px 0px 2px 18px;
}
a.ATPortalTypeCriterion {
    background: transparent url("http://www.adlerplanetarium.org/document_icon.gif") 0 1px no-repeat;
    padding: 2px 0px 2px 18px;
}
a.ATReferenceCriterion {
    background: transparent url("http://www.adlerplanetarium.org/document_icon.gif") 0 1px no-repeat;
    padding: 2px 0px 2px 18px;
}
a.ATSelectionCriterion {
    background: transparent url("http://www.adlerplanetarium.org/document_icon.gif") 0 1px no-repeat;
    padding: 2px 0px 2px 18px;
}
a.ATSimpleIntCriterion {
    background: transparent url("http://www.adlerplanetarium.org/document_icon.gif") 0 1px no-repeat;
    padding: 2px 0px 2px 18px;
}
a.ATSimpleStringCriterion {
    background: transparent url("http://www.adlerplanetarium.org/document_icon.gif") 0 1px no-repeat;
    padding: 2px 0px 2px 18px;
}
a.ATSortCriterion {
    background: transparent url("http://www.adlerplanetarium.org/document_icon.gif") 0 1px no-repeat;
    padding: 2px 0px 2px 18px;
}
a.Discussion_Item {
    background: transparent url("http://www.adlerplanetarium.org/discussionitem_icon.gif") 0 1px no-repeat;
    padding: 2px 0px 2px 18px;
}
a.Document {
    background: transparent url("http://www.adlerplanetarium.org/document_icon.gif") 0 1px no-repeat;
    padding: 2px 0px 2px 18px;
}
a.Event {
    background: transparent url("http://www.adlerplanetarium.org/event_icon.gif") 0 1px no-repeat;
    padding: 2px 0px 2px 18px;
}
a.Favorite {
    background: transparent url("http://www.adlerplanetarium.org/favorite_icon.gif") 0 1px no-repeat;
    padding: 2px 0px 2px 18px;
}
a.File {
    background: transparent url("http://www.adlerplanetarium.org/file_icon.gif") 0 1px no-repeat;
    padding: 2px 0px 2px 18px;
}
a.Folder {
    background: transparent url("http://www.adlerplanetarium.org/folder_icon.gif") 0 1px no-repeat;
    padding: 2px 0px 2px 18px;
}
a.Image {
    background: transparent url("http://www.adlerplanetarium.org/image_icon.gif") 0 1px no-repeat;
    padding: 2px 0px 2px 18px;
}
a.Large_Plone_Folder {
    background: transparent url("http://www.adlerplanetarium.org/folder_icon.gif") 0 1px no-repeat;
    padding: 2px 0px 2px 18px;
}
a.Link {
    background: transparent url("http://www.adlerplanetarium.org/link_icon.gif") 0 1px no-repeat;
    padding: 2px 0px 2px 18px;
}
a.News_Item {
    background: transparent url("http://www.adlerplanetarium.org/newsitem_icon.gif") 0 1px no-repeat;
    padding: 2px 0px 2px 18px;
}
a.Plone_Site {
    background: transparent url("http://www.adlerplanetarium.org/site_icon.gif") 0 1px no-repeat;
    padding: 2px 0px 2px 18px;
}
a.TempFolder {
    background: transparent url("http://www.adlerplanetarium.org/folder_icon.gif") 0 1px no-repeat;
    padding: 2px 0px 2px 18px;
}
a.Topic {
    background: transparent url("http://www.adlerplanetarium.org/topic_icon.gif") 0 1px no-repeat;
    padding: 2px 0px 2px 18px;
}
a.ChangeSet {
    background: transparent url("http://www.adlerplanetarium.org/changeset.png") 0 1px no-repeat;
    padding: 2px 0px 2px 18px;
}
a.FileAttachment {
    background: transparent url("http://www.adlerplanetarium.org/file_icon.gif") 0 1px no-repeat;
    padding: 2px 0px 2px 18px;
}
a.ImageAttachment {
    background: transparent url("http://www.adlerplanetarium.org/image_icon.gif") 0 1px no-repeat;
    padding: 2px 0px 2px 18px;
}
a.RichDocument {
    background: transparent url("http://www.adlerplanetarium.org/richdocument_icon.gif") 0 1px no-repeat;
    padding: 2px 0px 2px 18px;
}
a.ContentCacheRule {
    background: transparent url("http://www.adlerplanetarium.org/document_icon.gif") 0 1px no-repeat;
    padding: 2px 0px 2px 18px;
}
a.BaseCacheRule {
    background: transparent url("http://www.adlerplanetarium.org/document_icon.gif") 0 1px no-repeat;
    padding: 2px 0px 2px 18px;
}
a.RuleFolder {
    background: transparent url("http://www.adlerplanetarium.org/folder_icon.gif") 0 1px no-repeat;
    padding: 2px 0px 2px 18px;
}
a.HeaderSetFolder {
    background: transparent url("http://www.adlerplanetarium.org/folder_icon.gif") 0 1px no-repeat;
    padding: 2px 0px 2px 18px;
}
a.PolicyHTTPCacheManagerCacheRule {
    background: transparent url("http://www.adlerplanetarium.org/document_icon.gif") 0 1px no-repeat;
    padding: 2px 0px 2px 18px;
}
a.CacheTool {
    background: transparent url("http://www.adlerplanetarium.org/cachesetup_tool_icon.gif") 0 1px no-repeat;
    padding: 2px 0px 2px 18px;
}
a.CachePolicy {
    background: transparent url("http://www.adlerplanetarium.org/cachesetup_tool_icon.gif") 0 1px no-repeat;
    padding: 2px 0px 2px 18px;
}
a.TemplateCacheRule {
    background: transparent url("http://www.adlerplanetarium.org/document_icon.gif") 0 1px no-repeat;
    padding: 2px 0px 2px 18px;
}
a.HeaderSet {
    background: transparent url("http://www.adlerplanetarium.org/document_icon.gif") 0 1px no-repeat;
    padding: 2px 0px 2px 18px;
}
a.Adlerpolicypage {
    background: transparent url("http://www.adlerplanetarium.org/document_icon.gif") 0 1px no-repeat;
    padding: 2px 0px 2px 18px;
}
a.Adlerspecialschedule {
    background: transparent url("http://www.adlerplanetarium.org/document_icon.gif") 0 1px no-repeat;
    padding: 2px 0px 2px 18px;
}
a.specialschedule {
    background: transparent url("http://www.adlerplanetarium.org/document_icon.gif") 0 1px no-repeat;
    padding: 2px 0px 2px 18px;
}
a.showschedule {
    background: transparent url("http://www.adlerplanetarium.org/document_icon.gif") 0 1px no-repeat;
    padding: 2px 0px 2px 18px;
}
a.Adlershowschedule {
    background: transparent url("http://www.adlerplanetarium.org/document_icon.gif") 0 1px no-repeat;
    padding: 2px 0px 2px 18px;
}
a.AdlerFeature {
    background: transparent url("http://www.adlerplanetarium.org/document_icon.gif") 0 1px no-repeat;
    padding: 2px 0px 2px 18px;
}
a.Adlersubsection {
    background: transparent url("http://www.adlerplanetarium.org/folder_icon.gif") 0 1px no-repeat;
    padding: 2px 0px 2px 18px;
}
a.Adlertopic {
    background: transparent url("http://www.adlerplanetarium.org/document_icon.gif") 0 1px no-repeat;
    padding: 2px 0px 2px 18px;
}
a.Adlerpage {
    background: transparent url("http://www.adlerplanetarium.org/document_icon.gif") 0 1px no-repeat;
    padding: 2px 0px 2px 18px;
}
a.Adlersection {
    background: transparent url("http://www.adlerplanetarium.org/folder_icon.gif") 0 1px no-repeat;
    padding: 2px 0px 2px 18px;
}
a.Sectionalhomepage {
    background: transparent url("http://www.adlerplanetarium.org/folder_icon.gif") 0 1px no-repeat;
    padding: 2px 0px 2px 18px;
}
a.AliasVocabulary {
    background: transparent url("http://www.adlerplanetarium.org/document_icon.gif") 0 1px no-repeat;
    padding: 2px 0px 2px 18px;
}
a.SimpleVocabulary {
    background: transparent url("http://www.adlerplanetarium.org/folder_icon.gif") 0 1px no-repeat;
    padding: 2px 0px 2px 18px;
}
a.SimpleVocabularyTerm {
    background: transparent url("http://www.adlerplanetarium.org/document_icon.gif") 0 1px no-repeat;
    padding: 2px 0px 2px 18px;
}
a.SortedSimpleVocabulary {
    background: transparent url("http://www.adlerplanetarium.org/folder_icon.gif") 0 1px no-repeat;
    padding: 2px 0px 2px 18px;
}
a.TreeVocabulary {
    background: transparent url("http://www.adlerplanetarium.org/folder_icon.gif") 0 1px no-repeat;
    padding: 2px 0px 2px 18px;
}
a.TreeVocabularyTerm {
    background: transparent url("http://www.adlerplanetarium.org/folder_icon.gif") 0 1px no-repeat;
    padding: 2px 0px 2px 18px;
}
a.VdexFileVocabulary {
    background: transparent url("http://www.adlerplanetarium.org/document_icon.gif") 0 1px no-repeat;
    padding: 2px 0px 2px 18px;
}
a.VocabularyLibrary {
    background: transparent url("http://www.adlerplanetarium.org/folder_icon.gif") 0 1px no-repeat;
    padding: 2px 0px 2px 18px;
}
a.FeedFeederItem {
    background: transparent url("http://www.adlerplanetarium.org/folder_icon.gif") 0 1px no-repeat;
    padding: 2px 0px 2px 18px;
}
a.FeedfeederFolder {
    background: transparent url("http://www.adlerplanetarium.org/folder_icon.gif") 0 1px no-repeat;
    padding: 2px 0px 2px 18px;
}
