
/* - sections.css - */
@media screen {
/*  (do not remove this :) */
/*  (not this either :) */


/***** FRONT PAGE SECTION STYLE ****/


.section-front-page #visual-portal-wrapper {

}


.section-front-page #portal-header {

        background-image:url(http://www.adlerplanetarium.org/hometopimage.jpg);
        background-position:bottom right;
        background-repeat:no-repeat;
        height:176px;
        width:733px;
        position:relative;
        padding-top:3px;
}

#adlerhours {
	display: none;
}

.section-front-page #adlerhours {
	color: #ffffff;
	font-size: 10px;
	padding-left: 22px;
	margin-top: 46px;
	display: block !important;
}

#adlerhours a:link { 
	color: #ffffff !important;
	text-decoration: none !important;
}

#adlerhours a:hover { 
	text-decoration: underline;
}

#adlerhours a:visited {
	color: #ffffff !important;
	text-decoration: none !important;
}

.section-front-page #portal-breadcrumbs {
  
/*       display: none;  */
}

a.add-new{
	z-index: 1 !important;
	display: block !important;
}

#smallButtons {
        left:290px !important;
/*	top:40px !important; */
}

#pauseplay {
	left: 80px !important;
}

.section-front-page #footer-img {
	display: none;
}

.homepage-content-wrapper {

	margin-top: 10px;
	width: 700px;
	height: 175px;
	margin-bottom: 10px;
}


.homepage-left {

        height: 175px;
        width: 700px;
        float:left;
        background-color: transparent;
}

.ffloat { float:right; }

.fppt, .fpptb, .fpptr, .fpptd { 
	/*box-sizing: content-box !important; */
	padding: 0 !important; margin: 0 !important; 
	vertical-align: top !important;
	border-width: 0 !important;
}

.fpdlshift { position:relative; left: -2px; }

table.hpcal_item { 
	padding: 0 !important; 
	margin: 0 !important; 
	border: 0 !important; 
	width: 175px;
}

.section-front-page .homepage-left .portlet {
	width: 175px !important;
	border: none;
}



td.hpcaltitle {
	width: 82%;
}

td.hpcaldate { 
	text-align: right !important; 
	horizontal-align: right !important;
	font-size: 8px;
}

.hpcaldate span {
	position:relative;
	top: 1px;
}

.section-front-page .portlet-static-plan-a-visit-for .portletHeader {
	background-color: #003366;
	color: #ffffff;
	padding-left: 10px;
	font-weight: bold;
	border: none !important;
}

.section-front-page .portlet-static-plan-a-visit-for internal-link{
	text-decoration: none !important;
}

.section-front-page .portlet-static-plan-a-visit-for p {
	margin-top: 5px !important;
	font-size: 10px !important;
	line-height: 10px !important;
	font-weight: bold;
}

.section-front-page .portlet-static-plan-a-visit-for p a{
	text-decoration: none !important;
}

.section-front-page .portlet-static-stay-connected .portletHeader {
	margin-top: 15px;
	background-color: transparent !important;
	font-weight: bold !important;
	border: none !important;
	padding-left: 0px !important;
}

.section-front-page .portlet-static-stay-connected .internal-link {
	text-decoration: none !important;
}
.section-front-page .portlet-static-stay-connected a:link {
	font-size: 10px !important;
	font-weight: bold !important;
	color: #006666 !important;
	text-decoration: none !important;
}

.section-front-page .portlet-static-stay-connected a:hover {
	text-decoration: none !important;
}

.section-front-page .portlet-static-stay-connected a:active {  
        text-decoration: none !important;        
}

.section-front-page .portlet-static-stay-connected a:visited {
	text-decoration: none !important;
}

.section-front-page div.homepage-left .Calendar {
	/* float: right !important; */
	position: relative;
	top: -187px;
	right: -222px;
	/* float: left !important;
	border: 1px solid #000000;*/
	height: 175px;
}

.section-front-page div.homepage-left .Calendar .portletHeader{
	background-color: #003366;
        color: #ffffff !important;
        padding-left: 10px; 
        font-weight: bold;
        border: none !important;     
}

.section-front-page div.homepage-left .portletCollection .portletHeader a:visited{
	color: #ffffff !important;
}        
.section-front-page .Calendar dd, .section-front-page .AdlerFeed dd{        
        margin-top: 5px !important;
        font-size: 10px !important;
        line-height: 10px !important;
        font-weight: bold;
}

.section-front-page div.homepage-left .Calendar .portletFooter{        
	background-color: transparent !important;
	border: none !important;
}

.section-front-page div.homepage-left .AdlerFeed .portletHeader{
	background-color: #ff9900;
	border: none !important;
	color: #ffffff;
        padding-left: 10px;
        font-weight: bold;
	/* width: 75% !important; */

}

.fpptdi .portletHeader{ width: 30%; border-left: 1px #000000 !important; } 


.section-front-page div.homepage-left .AdlerFeed {
	width: 300px !important;
	position: relative;
	top: -579px;
	right: -400px;
	margin-left: 15px !important;
}

.section-front-page .collection-intro-thumb {
	height: 100px !important;
	width: 100px !important;
	position: relative;
	top: -20px !important;
	/*right: -200px;*/
}

.static-intro-thumb {
        height: 100px !important;
        width: 100px !important;
        position: relative;
        top: -103px !important;    
        right: -200px;
}

.static-intro-thumb-two {
        height: 100px !important; 
        width: 100px !important;
        position: relative;
        top: -95px !important;
        right: -200px;
}


.section-front-page div.portlet-static-join-us-in-exploring-space {
	width: 300px !important;
        position: relative;
        top: -575px;
        right: -400px;
        margin-left: 15px !important;   

}

.section-front-page .portlet-static-join-us-in-exploring-space h2{
	width: 75% !important;
	padding-left: 10px !important;
	margin-top: 0px !important;
}

.section-front-page .portlet-static-join-us-in-exploring-space p{
	margin-top: 5px !important;
        font-size: 10px !important;
        line-height: 10px !important;
        font-weight: bold;
	width: 68%;
}

.section-front-page .portlet-static-join-us-in-exploring-space a{
        font-size: 10px !important;
        line-height: 10px !important;
}

.section-front-page .portlet-static-get-involved-frontpage {
        width: 300px !important;  
        position: relative;
        top: -670px;
        right: -400px;
        margin-left: 15px !important;
	margin-bottom: 0 !important; 
}     

.section-front-page .portlet-static-get-involved-frontpage h2{
        width: 75% !important;
        padding-left: 10px !important;
}


.section-front-page .portlet-static-get-involved-frontpage p{
        margin-top: 5px !important;
        font-size: 10px !important;
        line-height: 10px !important;
        font-weight: bold;
        width: 66%;
	margin-bottom: 0 !important;
}
 
.section-front-page .portlet-static-get-involved-frontpage a{
        font-size: 10px !important;
        line-height: 10px !important;
}

.homepage-right {

        height: 150px;
        width: 275px;
        float:left;
	position: relative;
	top: -207px;
        background-color: #ff1010;
}


/***** SECTIONAL HOMEPAGES STYLE ******/

#intro-folderlisting {

	width: 75%;
	background-color: transparent;
}


#intro-folderlisting dl dt span.summary a{

	text-decoration: none !important;
	color: #ffffff;
}


.mainwrapper {
 	width: 574px;
}


.shcontents {
 	width: 400px;
	background-color: transparent;
	margin: 10px 0;
	float: left;
}


table.invisible td {
	padding: 5px;
	text-align: left;
	vertical-align: middle;
}

dl.captioned {
	padding-right: 0 !important;
}

dl.image-right {
	width: 200px;
}

dd.image-caption {
	font-size: 9px;
	font-weight: bold;
	padding: 5px 5px 10px 5px;
}


.tintroheading {
	padding: 0 0 0 5px;
        color: #ffffff;
        line-height: 20px;
        font-weight: bold;
	background-color: #003366;
	font-size: 100% !important;
        font-family: Helvetica, Arial, sans-serif !important;

}


.subheading {
	font-size: 12px;
	font-weight: bold;
	padding: 0 0 0 5px;
}

dt.shintroheading {
	padding: 0 0 0 5px;
	color: #ffffff;
	line-height: 20px;
	font-weight: bold;
}



dt.shintroheading0 {
        background-color: #003366;
}

dt.bluetext0 {
	color: #003366 !important;

}

dt.shintroheading1 {
	background-color: #003a74;
}

.tintroheading1 {   
        padding: 0 0 0 5px;       
        color: #ffffff;
        line-height: 20px;
        font-weight: bold;
        background-color: #003a74;
	font-size: 100% !important;
        font-family: Helvetica, Arial, sans-serif !important;

}


dt.shintroheading2 {
        background-color: #014181;
}

.tintroheading2 {   
        padding: 0 0 0 5px;       
        color: #ffffff;
        line-height: 20px;
        font-weight: bold;
        background-color: #014181;
	font-size: 100% !important;
        font-family: Helvetica, Arial, sans-serif !important;

}


.shintroheading3 {
	background-color: #01488e;

}

.tintroheading3 {   
        padding: 0 0 0 5px;       
        color: #ffffff;
        line-height: 20px;
        font-weight: bold;
        background-color: #01488e;
	font-size: 100% !important;
        font-family: Helvetica, Arial, sans-serif !important;

}


.shintroheading4 {
	background-color: #014e9c;
	
}

.tintroheading4 {   
        padding: 0 0 0 5px;       
        color: #ffffff;
        line-height: 20px;
        font-weight: bold;
        background-color: #014e9c;
	font-size: 100% !important;
        font-family: Helvetica, Arial, sans-serif !important;

}


.shintroheading5 {
        background-color: #0155a9;
        
}

.tintroheading5 {   
        padding: 0 0 0 5px;       
        color: #ffffff;
        line-height: 20px;
        font-weight: bold;
        background-color: #0155a9;
	font-size: 100% !important;
        font-family: Helvetica, Arial, sans-serif !important;

}


.shintroheading6 {
        background-color: #025cb6;
        
}

.tintroheading6 {   
        padding: 0 0 0 5px;       
        color: #ffffff;
        line-height: 20px;
        font-weight: bold;
        background-color: #025cb6;
	font-size: 100% !important;
        font-family: Helvetica, Arial, sans-serif !important;

}


.shintroheading7 {
        background-color: #0263c3;
        
}

.tintroheading7 {   
        padding: 0 0 0 5px;       
        color: #ffffff;
        line-height: 20px;
        font-weight: bold;
        background-color: #0263c3;
	font-size: 100% !important;
        font-family: Helvetica, Arial, sans-serif !important;

}


.shintroheading8 {
        background-color: #0269d0;
        
}

.tintroheading8 {   
        padding: 0 0 0 5px;       
        color: #ffffff;
        line-height: 20px;
        font-weight: bold;
        background-color: #0269d0;
	font-size: 100% !important;
        font-family: Helvetica, Arial, sans-serif !important;

}


.shintroheading9 {
        background-color: #0171c2;
        
}

.tintroheading9 {   
        padding: 0 0 0 5px;       
        color: #ffffff;
        line-height: 20px;
        font-weight: bold;
        background-color: #0171c2;
	font-size: 100% !important;
        font-family: Helvetica, Arial, sans-serif !important;

}


.shcontent-txt {

	width: 300px;
	float: left;
	background-color: transparent;
	margin: 5px 0 0 0;
}


.shcontent-txt a:link {
	 color:#006666 !important;
	text-decoration: none !important;
}

.shcontent-txt a:hover {
	color: #009999 !important;
	text-decoration: none !important;
}

.shcontent-txt a:active {
        text-decoration: none !important;
}


.shcontent-txt a:visited {
        text-decoration: none !important;
}

.shcontent-txt-topic {

        width: 400px;
    /***    float: left;
     **/   background-color: transparent;
        margin: 5px 0 0 0;
}



.shcontent-img {

	width: 40px;
	float: left;
	background-color: transparent;
	margin: 5px 0 0 0;
}

.shcontent-empty {
	width: 40px;
	float: left;
	background-color: transparent;
	margin: 5px 0 0 0;

}

.section-intro p {
	width: 45%;
}

.intro-teaser {

	font-weight: normal !important;
	padding: 5px 20px 0 5px;
	line-height: 14px !important;

}

.topic-intro {

	padding-right: 0 !important;
}

.intro-thumb {

	position: relative;
	top: -20px;
	right: 13px;
	height: 100px;
	width: 100px;
}

.adlertopicpar {
	
}

.adlertopicimg {
	padding-top: 10px;
	float:right; 
	margin: 0 0 0 5px;
	width: 190px;
/*	clear:both; */
}

.imgcaption {

	font-size: 8px;
/*	white-space: nowrap;
*/
}

.learn-link-Adlerpage, .learn-link-Adlersection, .learn-link-Adlersubsection {
      padding-left: 5px;
}

.learn-link-Adlerpage a:link, .learn-link-Adlersection a:link, .learn-link-Adlersubsection a:link { color:#006666 !important; }
.learn-link-Adlerpage a:hover, .learn-link-Adlersection a:hover, .learn-link-Adlersubsection a:hover { color:#009999 !important; }
.learn-link-Adlerpage a:active, .learn-link-Adlersection a:active, .learn-link-Adlersubsection a:active { color:#000000 !important; }
.learn-link-Adlerpage a:visited, .learn-link-Adlersection a:visited, .learn-link-Adlersubsection a:visited { text-decoration: none !important; }

.learn-link-Adlerpage {

	padding-top: 5px;
	/*padding-bottom: 5px; */
}

.learn-link-Adlertopic {
	display: none;
}


div.ArchetypesField-ImageField#archetypes-fieldname-leadImage label.formQuestion {
	display:none;
}


div.ArchetypesField-ImageField#archetypes-fieldname-LeadImage {
	display:none;
}

div.ArchetypesField-StringField#archetypes-fieldname-introTxt label.formQuestion{
	display: none;
}

div.field a{
	display:none;
}

span.discreet{
	display: none;
}


.section-intro {
	height: 200px;
	color: #ffffff !important;
	padding: 10px 0 0 10px;
	/* width: 100%; */
}

.section-intro h1{

	color: #ffffff !important;
	padding: 10px 0 0 0 !important;
}


.page-intro {
	height: 200px;
	color: #000000 !important;
	padding: 10px 0 0 10px;

}

.page-intro h1 {
	color: #000000 !important;
}

#archetypes-fieldname-leadImage {

	width: 40%;
	float: left;
}

#archetypes-fieldname-introTxt {
	
	width: 40%;
	float: left;
}

#content dl {

	clear: both;

}

#archetypes-fieldname-leadImage img{

}


.eventDetails .vertical th {

	background-color: #006699 !important;
	color: #ffffff !important;
	font-weight: bold;
	padding: 5px !important;
	border-color: #ffffff;

}


.section-experience .ArchetypesField-LinesField {

	font-weight:normal !important;
	padding-left:5px !important;
}

/*  */


}

