*
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-TOP: 0px
}
BODY
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    BACKGROUND: #a9bac3;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    FONT: 0.7em/1.5em Verdana, Arial, Helvetica, sans-serif;
    COLOR: #666666;
    PADDING-TOP: 0px;
    TEXT-ALIGN: center
}
A
{
    COLOR: #4284b0;
    TEXT-DECORATION: none
}
A:hover
{
    COLOR: #9ec068
}
H1
{
    FONT: bold 1em 'Trebuchet MS', Arial, Sans-serif;
    COLOR: #333
}
H2
{
    FONT: bold 1em 'Trebuchet MS', Arial, Sans-serif;
    COLOR: #333
}
H3
{
    FONT: bold 1em 'Trebuchet MS', Arial, Sans-serif;
    COLOR: #333
}
H1
{
    FONT-SIZE: 1.5em;
    COLOR: #6297bc
}
H2
{
    FONT-SIZE: 1.4em;
    TEXT-TRANSFORM: uppercase
}
H3
{
    FONT-SIZE: 1.3em
}
H4
{
    FONT-SIZE: 2.5em
}
P
{
    MARGIN: 10px 15px
}
H1
{
    MARGIN: 10px 15px
}
H2
{
    MARGIN: 10px 15px
}
H3
{
    MARGIN: 10px 15px
}
UL
{
    PADDING-RIGHT: 15px;
    PADDING-LEFT: 15px;
    PADDING-BOTTOM: 0px;
    MARGIN: 10px 30px;
    COLOR: #4284b0;
    PADDING-TOP: 0px
}
OL
{
    PADDING-RIGHT: 15px;
    PADDING-LEFT: 15px;
    PADDING-BOTTOM: 0px;
    MARGIN: 10px 30px;
    COLOR: #4284b0;
    PADDING-TOP: 0px
}
UL SPAN
{
    COLOR: #666666
}
OL SPAN
{
    COLOR: #666666
}
IMG.no-border
{
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    BORDER-LEFT: medium none;
    BORDER-BOTTOM: medium none
}
IMG.float-right
{
    MARGIN: 5px 0px 5px 15px
}
IMG.float-left
{
    MARGIN: 5px 15px 5px 0px
}
A IMG
{
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    BORDER-LEFT: medium none;
    BORDER-BOTTOM: medium none
}
A:hover IMG
{
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    BORDER-LEFT: medium none;
    BORDER-BOTTOM: medium none
}
CODE
{
    BORDER-RIGHT: #f2f2f2 1px solid;
    PADDING-RIGHT: 10px;
    BORDER-TOP: #f2f2f2 1px solid;
    DISPLAY: block;
    PADDING-LEFT: 10px;
    BACKGROUND: #fafafa;
    PADDING-BOTTOM: 10px;
    MARGIN: 5px 0px;
    FONT: 500 1em/1.5em 'Lucida Console', 'courier new', monospace;
    OVERFLOW: auto;
    BORDER-LEFT: #4284b0 4px solid;
    PADDING-TOP: 10px;
    BORDER-BOTTOM: #f2f2f2 1px solid;
    TEXT-ALIGN: left
}
ACRONYM
{
    CURSOR: help;
    BORDER-BOTTOM: #777 1px solid
}
BLOCKQUOTE
{
    BORDER-RIGHT: #f2f2f2 1px solid;
    PADDING-RIGHT: 0px;
    BORDER-TOP: #f2f2f2 1px solid;
    PADDING-LEFT: 20px;
    BACKGROUND: #fafafa;
    PADDING-BOTTOM: 0px;
    MARGIN: 15px;
    FONT: bold 1.2em/1.5em Georgia, 'Bookman Old Style', Serif;
    BORDER-LEFT: #4284b0 4px solid;
    COLOR: #4284b0;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: #f2f2f2 1px solid
}
#main P IMG
{
    PADDING-RIGHT: 7px;
    PADDING-LEFT: 7px;
    PADDING-BOTTOM: 3px;
    PADDING-TOP: 3px
}
FORM
{
    BORDER-RIGHT: #f2f2f2 1px solid;
    PADDING-RIGHT: 0px;
    BORDER-TOP: #f2f2f2 1px solid;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 10px;
    BORDER-LEFT: #f2f2f2 1px solid;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: #f2f2f2 1px solid;
    BACKGROUND-COLOR: #fafafa
}
LABEL
{
    DISPLAY: block;
    FONT-WEIGHT: bold;
    MARGIN: 5px 0px
}
INPUT
{
    BORDER-RIGHT: #eee 1px solid;
    PADDING-RIGHT: 2px;
    BORDER-TOP: #eee 1px solid;
    PADDING-LEFT: 2px;
    PADDING-BOTTOM: 2px;
    FONT: 1em Verdana, sans-serif;
    BORDER-LEFT: #eee 1px solid;
    COLOR: #000000;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: #eee 1px solid
}
TEXTAREA
{
    BORDER-RIGHT: #eee 1px solid;
    PADDING-RIGHT: 2px;
    BORDER-TOP: #eee 1px solid;
    DISPLAY: block;
    PADDING-LEFT: 2px;
    PADDING-BOTTOM: 2px;
    FONT: 1em Verdana, sans-serif;
    BORDER-LEFT: #eee 1px solid;
    WIDTH: 300px;
    COLOR: #000000;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: #eee 1px solid;
    HEIGHT: 100px
}
SELECT
{
    BORDER-RIGHT: #eee 1px solid;
    PADDING-RIGHT: 2px;
    BORDER-TOP: #eee 1px solid;
    PADDING-LEFT: 2px;
    PADDING-BOTTOM: 2px;
    FONT: 1em Verdana, sans-serif;
    BORDER-LEFT: #eee 1px solid;
    COLOR: #000000;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: #eee 1px solid
}
INPUT.button
{
    BORDER-RIGHT: #ccc 1px solid;
    PADDING-RIGHT: 3px;
    BORDER-TOP: #ccc 1px solid;
    PADDING-LEFT: 3px;
    BACKGROUND: #fff;
    PADDING-BOTTOM: 2px;
    MARGIN: 0px;
    FONT: bold 1em Arial, Sans-serif;
    BORDER-LEFT: #ccc 1px solid;
    COLOR: #4284b0;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: #ccc 1px solid
}
FORM.searchform
{
    BORDER-RIGHT: medium none;
    PADDING-RIGHT: 0px;
    BORDER-TOP: medium none;
    MARGIN-TOP: 20px;
    PADDING-LEFT: 0px;
    BACKGROUND: none transparent scroll repeat 0% 0%;
    PADDING-BOTTOM: 0px;
    BORDER-LEFT: medium none;
    MARGIN-RIGHT: 25px;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: medium none
}
FORM.searchform INPUT.textbox
{
    BORDER-RIGHT: #9ec630 1px solid;
    BORDER-TOP: #9ec630 1px solid;
    BACKGROUND: #fff;
    MARGIN: 0px;
    VERTICAL-ALIGN: top;
    BORDER-LEFT: #9ec630 1px solid;
    WIDTH: 120px;
    COLOR: #333;
    BORDER-BOTTOM: #9ec630 1px solid;
    HEIGHT: 14px
}
FORM.searchform INPUT.button
{
    BORDER-RIGHT: #f2f2f2 1px solid;
    PADDING-RIGHT: 3px;
    BORDER-TOP: #f2f2f2 1px solid;
    PADDING-LEFT: 3px;
    BACKGROUND: #fafafa;
    PADDING-BOTTOM: 2px;
    MARGIN: 0px;
    FONT: bold 12px Arial, Sans-serif;
    VERTICAL-ALIGN: top;
    BORDER-LEFT: #f2f2f2 1px solid;
    WIDTH: 60px;
    COLOR: #777;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: #f2f2f2 1px solid
}
#wrap
{
    BACKGROUND: #fff;
    MARGIN: 0px auto;
    WIDTH: 820px;
    HEIGHT: 100%;
    TEXT-ALIGN: left
}
#content-wrap
{
    CLEAR: both;
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    BACKGROUND: #fff;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-TOP: 0px
}
#header
{
    BACKGROUND: #6297bc;
    POSITION: relative;
    HEIGHT: 130px
}
#header H1#logo
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    LEFT: 5px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    FONT: bolder 4.1em 'Trebuchet MS', Arial, Sans-serif;
    TEXT-TRANSFORM: lowercase;
    PADDING-TOP: 0px;
    LETTER-SPACING: -2px;
    POSITION: absolute;
    TOP: 0px
}
#header H2#slogan
{
    LEFT: 95px;
    FONT: bold 11px Tahoma, 'trebuchet MS', Sans-serif;
    TEXT-TRANSFORM: none;
    COLOR: #666666;
    TEXT-INDENT: 0px;
    POSITION: absolute;
    TOP: 37px
}
#header FORM.searchform
{
    RIGHT: 3px;
    POSITION: absolute;
    TOP: 3px
}
#main
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    FLOAT: left;
    PADDING-BOTTOM: 0px;
    MARGIN-LEFT: 15px;
    WIDTH: 100%;
    PADDING-TOP: 0px
}
.post-footer
{
    BORDER-RIGHT: #f2f2f2 1px solid;
    PADDING-RIGHT: 5px;
    BORDER-TOP: #f2f2f2 1px solid;
    PADDING-LEFT: 5px;
    FONT-SIZE: 95%;
    PADDING-BOTTOM: 5px;
    MARGIN: 20px 15px 0px;
    BORDER-LEFT: #f2f2f2 1px solid;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: #f2f2f2 1px solid;
    BACKGROUND-COLOR: #fafafa
}
.post-footer .date
{
    PADDING-LEFT: 20px;
    BACKGROUND: url(clock.gif) no-repeat left center;
    MARGIN: 0px 10px 0px 5px
}
.post-footer .comments
{
    PADDING-LEFT: 20px;
    BACKGROUND: url(comment.gif) no-repeat left center;
    MARGIN: 0px 10px 0px 5px
}
.post-footer .readmore
{
    PADDING-LEFT: 20px;
    BACKGROUND: url(page.gif) no-repeat left center;
    MARGIN: 0px 10px 0px 5px
}
#sidebar
{
    PADDING-RIGHT: 0px;
    DISPLAY: inline;
    PADDING-LEFT: 0px;
    FLOAT: left;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    WIDTH: 23%;
    PADDING-TOP: 0px
}
#sidebar UL.sidemenu
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 10px 0px 10px 15px;
    PADDING-TOP: 0px;
    LIST-STYLE-TYPE: none
}
#sidebar UL.sidemenu LI
{
    BORDER-RIGHT: #f2f2f2 1px solid;
    BORDER-TOP: #f2f2f2 1px solid;
    MARGIN-BOTTOM: 1px;
    BORDER-LEFT: #f2f2f2 1px solid;
    BORDER-BOTTOM: #f2f2f2 1px solid
}
#sidebar UL.sidemenu A
{
    PADDING-RIGHT: 5px;
    DISPLAY: block;
    PADDING-LEFT: 10px;
    FONT-WEIGHT: bold;
    BACKGROUND: #f2f2f2;
    PADDING-BOTTOM: 2px;
    BORDER-LEFT: #ccc 4px solid;
    COLOR: #333;
    PADDING-TOP: 2px;
    TEXT-DECORATION: none
}
* HTML BODY #sidebar UL.sidemenu A
{
    HEIGHT: 18px
}
#sidebar UL.sidemenu A:hover
{
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 10px;
    BACKGROUND: #f2f2f2;
    PADDING-BOTTOM: 2px;
    BORDER-LEFT: #9ec630 4px solid;
    COLOR: #339900;
    PADDING-TOP: 2px
}
#rightbar
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    FLOAT: right;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    WIDTH: 22%;
    PADDING-TOP: 0px
}
#footer
{
    CLEAR: both;
    PADDING-RIGHT: 0px;
    BORDER-TOP: #568eb6 5px solid;
    PADDING-LEFT: 0px;
    FONT-SIZE: 95%;
    BACKGROUND: #a9bac3;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    COLOR: #fff;
    PADDING-TOP: 0px;
    HEIGHT: 50px
}
#footer A
{
    FONT-WEIGHT: bold;
    COLOR: #fff;
    TEXT-DECORATION: none
}
#footer .footer-left
{
    FLOAT: left;
    WIDTH: 65%;
    BACKGROUND-COLOR: #a9bac3
}
#footer .footer-right
{
    FLOAT: right;
    WIDTH: 30%
}
#header UL
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    Z-INDEX: 999999;
    RIGHT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    FONT: bold 10px Arial, 'Trebuchet MS', Tahoma, verdana,  sans-serif;
    BOTTOM: 0px;
    PADDING-TOP: 0px;
    LIST-STYLE-TYPE: none;
    POSITION: absolute
}
#header LI
{
    PADDING-RIGHT: 0px;
    DISPLAY: inline;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-TOP: 0px
}
#header A
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 4px;
    BACKGROUND: url(/clients/amishacres/images/tableft.gif) no-repeat left top;
    FLOAT: left;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-TOP: 0px;
    TEXT-DECORATION: none
}
#header A SPAN
{
    PADDING-RIGHT: 15px;
    DISPLAY: block;
    PADDING-LEFT: 8px;
    BACKGROUND: url(/clients/amishacres/images/tab_right.gif) no-repeat right top;
    FLOAT: left;
    PADDING-BOTTOM: 3px;
    COLOR: #fff;
    PADDING-TOP: 6px;
    TEXT-ALIGN: center
}
#header A SPAN.singleline
{
    PADDING-RIGHT: 15px;
    DISPLAY: block;
    PADDING-LEFT: 8px;
    BACKGROUND: url(/clients/amishacres/images/tab_right.gif) no-repeat right top;
    FLOAT: left;
    PADDING-BOTTOM: 9px;
    COLOR: #fff;
    PADDING-TOP: 12px;
    TEXT-ALIGN: center
}
#header A SPAN
{
    FLOAT: none
}
#header A:hover SPAN
{
    COLOR: #fff
}
#header A:hover
{
    BACKGROUND-POSITION: 0% -42px
}
#header A:hover SPAN
{
    BACKGROUND-POSITION: 100% -42px
}
#header #current A
{
    BACKGROUND-POSITION: 0% -42px;
    COLOR: #fff
}
#header #current A SPAN
{
    BACKGROUND-POSITION: 100% -42px;
    COLOR: #fff
}
.float-left
{
    FLOAT: left
}
.float-right
{
    FLOAT: right
}
.align-left
{
    TEXT-ALIGN: left
}
.align-right
{
    TEXT-ALIGN: right
}
.clear
{
    CLEAR: both
}
.green
{
    COLOR: #9ec630
}
.gray
{
    COLOR: #bfbfbf
}
.small
{
    FONT-SIZE: 9px
}
.blue
{
    COLOR: #6297bc
}
.white
{
    COLOR: #ededde
}
.red
{
    COLOR: #990000
}
#sidebar UL.quilt
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 10px 0px 10px 12px;
    PADDING-TOP: 0px;
    LIST-STYLE-TYPE: none
}
#sidebar UL.quilt LI
{
    MARGIN-BOTTOM: 1px
}
#header DIV.dircal
{
    BORDER-RIGHT: medium none;
    PADDING-RIGHT: 0px;
    BORDER-TOP: medium none;
    PADDING-LEFT: 0px;
    RIGHT: 10px;
    BACKGROUND: none transparent scroll repeat 0% 0%;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    BORDER-LEFT: medium none;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: medium none;
    POSITION: absolute;
    TOP: 40px
}
#header DIV.dircal A
{
    BACKGROUND: none transparent scroll repeat 0% 0%;
    COLOR: #ffffff;
    TEXT-DECORATION: none
}
#header DIV.dircal A:hover
{
    BACKGROUND: none transparent scroll repeat 0% 0%;
    COLOR: #ffffff;
    TEXT-DECORATION: underline
}
#header DIV.dircal P
{
    DISPLAY: block;
    FLOAT: left;
    FONT: bold 10px Arial, 'Trebuchet MS', Tahoma, verdana,  sans-serif
}
DIV.news
{
    BORDER-RIGHT: #dcdcdc 1px solid;
    PADDING-RIGHT: 0px;
    BORDER-TOP: #dcdcdc 1px solid;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 10px;
    BORDER-LEFT: #dcdcdc 1px solid;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: #dcdcdc 1px solid;
    BACKGROUND-COLOR: #ebebeb
}
#header DIV.ticker
{
    BORDER-RIGHT: #f2f2f2 1px solid;
    BORDER-TOP: #f2f2f2 1px solid;
    RIGHT: 250px;
    BACKGROUND: #a9bac3;
    OVERFLOW: hidden;
    BORDER-LEFT: #f2f2f2 1px solid;
    WIDTH: 250px;
    BORDER-BOTTOM: #f2f2f2 1px solid;
    POSITION: absolute;
    TOP: 4px
}
#header DIV.ticker A
{
    BACKGROUND: none transparent scroll repeat 0% 0%;
    TEXT-DECORATION: none
}
#header DIV.ticker A:hover
{
    BACKGROUND: none transparent scroll repeat 0% 0%;
    TEXT-DECORATION: underline
}
DIV.whitenews
{
    BORDER-RIGHT: #dcdcdc 1px solid;
    PADDING-RIGHT: 0px;
    BORDER-TOP: #dcdcdc 1px solid;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 10px;
    BORDER-LEFT: #dcdcdc 1px solid;
    WIDTH: 400px;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: #dcdcdc 1px solid;
    BACKGROUND-COLOR: #ffffff
}
