/* client branding colors only */
body {
	background-color:#6c85c0;
	font-size:10px;
	color:#000;
}
body, input, textarea, select {
	font-family:Verdana, Arial, Helvetica, sans-serif;
}
#mosSiteContainer {background-color:#fff;}
/* header/footer area */
#mosSiteHeader .rowOne, #mosSiteHeader .rowOne a, #mosSiteFooter .rowOne, #mosSiteFooter a {color:#000;}

/* navigation colors */
/* navigation role over color */
#navigation, #navigation li ul, #navigation li ul li, #mosSiteFooter .footertop, .socialNetworkingTools .dottedLine {
	background-color:#6c85c0;
} 
/* navigation Top level links */
#navigation li {
	background-color:#1f3467;
}
#navigation li a, #navigation li .navNoLink {color:#fff;}
/* navigation sublevel links */
#navigation li a:hover, #navigation li:hover .navNoLink, #navigation li.sfhover .navNoLink, #navigation li ul li a {color:#000; background-color:#6c85c0;}
#navigation ul li ul {border-bottom:1px solid #fff;}


/*########## module one color/font styles ##########*/
.moduleOne .titleColor {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-transform:uppercase;
}
/* color one */
.moduleOneColorOne .contentbgColor, .moduleOneColorOne .contentbgColor a, .moduleOneColorOne .contentbgColor h4 a:hover, .moduleOneColorOne .contentbgColor h2 a:hover, .miscColorOne a {color:#000;}
.moduleOneColorOne .contentbgColor .colorLink a, .moduleOneColorOne .contentbgColor a:hover, .moduleOneColorOne .contentbgColor h4 a, .moduleOneColorOne .contentbgColor h2 a, .miscColorOne a:hover, .articleContent a {color:#1f3467;}
.moduleOneColorOne .headerBG {
	background-color:#6c85c0;
}
.moduleOneColorOne .titleColor {color:#fff;}
.moduleOneColorOne img, .articleContainer .articleContent img {border-color:#000;}
/* color two */
.moduleOneColorTwo .contentbgColor, .moduleOneColorTwo .contentbgColor a, .moduleOneColorTwo .contentbgColor h4 a:hover {color:#000;}
.moduleOneColorTwo .contentbgColor .colorLink a, .moduleOneColorTwo .contentbgColor a:hover, .moduleOneColorTwo .contentbgColor h4 a, .miscColorTwo {
	color:#1f3467;
}
.moduleOneColorTwo .headerBG {
	background-color:#1f3467;
}
.moduleOneColorTwo .titleColor {color:#fff;}
.moduleOneColorTwo img {border-color:#000;}


/*########## module two color/font styles ##########*/
.moduleTwo .titleColor, .relatedStoryLinks h4, .articleContainer .articleTitlePageHeader, .articleContainer .imageCaption {
	font-family:Verdana, Arial, Helvetica, sans-serif;
}
.moduleTwo .titleColor, .relatedStoryLinks h4, .articleContainer .imageCaption {font-style:italic;}
/* color one */
.moduleTwoColorOne .contentbgColor {
	background-color:#1f3467;
}
.moduleTwoColorOne .contentbgColor, .moduleTwoColorOne .contentbgColor a {color:#fff;}
.moduleTwoColorOne .contentbgColor .colorLink a, .moduleTwoColorOne .contentbgColor a:hover {color:#000;}
.moduleTwoColorOne .borderColor {border-color:#000;}
.moduleTwoColorOne .titleColor {color:#000;}
.moduleTwoColorOne img {border-color:#fff;}
/* color two */
.moduleTwoColorTwo .contentbgColor {
	background-color:#6c85c0;
}
.moduleTwoColorTwo .contentbgColor, .moduleTwoColorTwo .contentbgColor a {color:#000;}
.moduleTwoColorTwo .contentbgColor .colorLink a, .moduleTwoColorTwo .contentbgColor a:hover {color:#1f3467;}

.moduleTwoColorTwo .titleColor {color:#000;}

.moduleTwoColorTwo .calendarTableContainer table tr, .moduleTwoColorTwo .calendarTableContainer table td a, .moduleTwoColorTwo .calendarTableContainer table td a:hover {background:#1f3467; color:#fff;}
.moduleTwoColorTwo .calendarTableContainer table td.on, .moduleTwoColorTwo .calendarTableContainer table td.on a {background:#fff; color:#6c85c0;}













/*#######################################################################################################
do not edit the style below, these are needed to maintain the structure of the color branded modules.
editing these styles can effect layout and will directly effect multiple modules.
#######################################################################################################*/

/*########## module one non-editing styles ##########*/
.moduleOne {margin-bottom:12px;}
.moduleOne .containerPadding {padding:0px 0px 8px 8px;}
.moduleOne .containerPadding .storySeparator.headerBG, .moduleOne .containerPadding .headerBG {height:3px; overflow:hidden; margin:8px 0px; background-image:url(/clients/capecodlife/images/mos-alt-week-level1/framework/double-dots-bg.gif); background-repeat:no-repeat; background-position:top left; clear:both;}
.moduleOne .containerPadding .storySeparatorLast  {height:0px; overflow:hidden; margin:8px 0px; background-image:none; clear:both;}
.moduleOne .headerBG {background-image:url(/clients/capecodlife/images/mos-alt-week-level1/framework/module-bgs.gif);background-repeat:no-repeat; background-position:bottom left;}
.moduleOne .titleColor {
	font-weight:bold;
	font-size:1.0em;
	padding:3px 6px 18px 6px;
	background:url(/clients/capecodlife/images/module-one-h-bg.gif) no-repeat top right;
}
.moduleOne .story, .moduleOne .story h4 {
	font-size:1.0em;
}

/* color specific */
.moduleOneColorOne .contentbgColor .colorLink a, .moduleOneColorOne .contentbgColor a:hover, .moduleOneColorOne .contentbgColor h4 a, .moduleOneColorOne .contentbgColor h2 a, .moduleOneColorTwo .contentbgColor .colorLink a, .moduleOneColorTwo .contentbgColor a:hover, .moduleOneColorTwo .contentbgColor h4 a {text-decoration:underline;}



/*########## module two non-editing styles ##########*/
.moduleTwo {margin-bottom:12px;}

.moduleTwo .titleColor {font-weight:bold; font-size:1.2em; padding:3px 6px;}



.moduleTwo .contentbgColor a, .moduleTwoColorOne .contentbgColor .colorLink a:hover {text-decoration:none;}
.moduleTwo li, .moduleTwo ol {list-style-position:inside; padding-top:2px; line-height:1.1em;}
/* color specific */
.moduleTwoColorOne .contentbgColor .colorLink a, .moduleTwoColorOne .contentbgColor a:hover, .moduleTwoColorTwo .contentbgColor .colorLink a, .moduleTwoColorTwo .contentbgColor a:hover {text-decoration:underline;}

/******Calendar Styles*******/
#calendarContainer .leftside .calendarTableContainer .calborder .ps2
	{
		background-color:#6C85C0;
		font-size:12px;
		padding:2px;
	}













/*########## DO NOT EDIT THIS SECTION - This is needed for the structural images which cannot be in a global style sheet due to the possibility of image color changes. DO NOT EDIT STYLE BELOW! ############*/
#navigation .footer {background:url(/clients/capecodlife/images/double-dots-bg.gif) no-repeat;}
#navigation ul li {background-image:url(/clients/capecodlife/images/nav-li-bg.gif);}
#navigation ul li a, #navigation ul li .navNoLink {background-image:url(/clients/capecodlife/images/nav-li-bg.gif);}
#navigation ul li ul {background-image:url(/clients/capecodlife/images/subnav-bg.gif);}
#mosSiteFooter .footertop {background-image:url(/clients/capecodlife/images/double-dots-bg.gif);}
.socialNetworkingTools .dottedLine {background-image:url(/clients/capecodlife/images/double-dots-bg.gif);}