/* browser reset controls */
/******************************************************/
html, body, div, span, applet, object, iframe, p, blockquote, pre, a, abbr, acronym, address, big, cite, del, dfn, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead {margin:0px; padding:0px; border:0px; outline:0px; font-weight:inherit; font-style:inherit; font-size:100%; font-family:inherit;}
table, caption, tbody, tfoot, thead, tr, th, td {outline:0px; font-weight:inherit; font-style:inherit; font-size:9pt; font-family:inherit;}
body {line-height:1.2;}
/* ol, ul {list-style: none;} */
/* remember to define focus styles! */
:focus {outline:0;}
caption {text-align: left; font-weight: normal;}
blockquote:before, blockquote:after, q:before, q:after {content: "";}
blockquote, q {quotes: "" "";}
/*mos reformatted styles */
h1, h2, h3, h4, h5, h6, strong {margin:0px; padding:0px; border:0px; outline:0px; font-size:9pt; font-family:inherit; font-weight:bold;}
em {margin:0px; padding:0px; border:0px; outline:0px; font-size:9pt; font-family:inherit; font-style:italic;}
code {margin:0px; padding:0px; border:0px; outline:0px; font-size:9pt; font-family:"Courier New", Courier, monospace;}
blockquote {padding:0px 15px;}
/******************************************************/
/* end browser reset controls */