body {
background: url('/clients/AcadianaSymphony/Images/SiteBG-Symphony.png') repeat-y top center;
}



::selection {
		color: white;
        background: rgba(153, 0, 0, 1.0); /* Safari */
}
::-moz-selection {
		color: white;
        background: rgba(153, 0, 0, 1.0); /* Firefox */
}

.required {
    background: none repeat scroll 0 0 #fff;
}

#header-wrap {
background: url('/clients/AcadianaSymphony/Images/Background-Symphony.png') no-repeat top center;
}

#primary-nav .nav-symphony a { 
color: white;
text-decoration: none;
background-position: 0 -58px; 
}

.subnav > div > ul > li > ul {
	border-color: #B70000;
}

.nav-events {
    background: url("/clients/AcadianaSymphony/Images/Events-Tabs.png") no-repeat 0 0;
}

#subnav-wrap {
    background: url("/clients/AcadianaSymphony/Images/Background-Symphony-subnav.png") top center no-repeat;
}