BODY {
	FONT-SIZE: 12px; MARGIN: 0px; COLOR: #383838; FONT-FAMILY: Tahoma, Arial, Helvetica; BACKGROUND-COLOR: #1c0c00
}
H1 {
	FONT-WEIGHT: normal; FONT-SIZE: 20px; COLOR: #005699; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
H2 {
	FONT-WEIGHT: normal; FONT-SIZE: 17px; COLOR: #0070c8; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
H3 {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #f58f00; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
H4 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
H5 {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #f58f00; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
H6 {
	MARGIN-TOP: 0px; FONT-WEIGHT: bold; FONT-SIZE: 12px; MARGIN-BOTTOM: 0px; COLOR: #0e57b6; LINE-HEIGHT: 100%; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
HR {
	COLOR: #ceddf0; HEIGHT: 1px
}
A {
	COLOR: #e6590f; TEXT-DECORATION: underline
}
A:hover {
	COLOR: #0f57b7; TEXT-DECORATION: none
}
.mast {
	BACKGROUND-IMAGE: url(mast.jpg); WIDTH: 922px; HEIGHT: 116px
}
.mainNav {
	FONT-WEIGHT: bold; BACKGROUND-IMAGE: url(mainNav.gif); WIDTH: 922px; COLOR: #ffffff; LINE-HEIGHT: 31px; HEIGHT: 31px
}
.mainNav A {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.mainNav A:hover {
	COLOR: #e3efff; TEXT-DECORATION: none
}
.mainNavItem {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px
}
.leftCol {
	BACKGROUND-IMAGE: url(leftBG.gif); WIDTH: 20%; BACKGROUND-REPEAT: repeat-y; BACKGROUND-COLOR: #ffffff
}
.centerCol {
	PADDING-RIGHT: 29px; PADDING-LEFT: 29px; WIDTH: 60%; PADDING-TOP: 15px; BACKGROUND-COLOR: #ffffff
}
.rightCol {
	BACKGROUND-IMAGE: url(rightBG.gif); BACKGROUND-REPEAT: repeat-y; BACKGROUND-COLOR: #ffffff
}
.footerLogos {
	BACKGROUND-IMAGE: url(footerLogos.jpg); WIDTH: 922px; HEIGHT: 191px
}
.footer {
	FONT-SIZE: 10px; BACKGROUND-IMAGE: url(footer.gif); WIDTH: 922px; COLOR: #ececec; HEIGHT: 117px
}
.navTop {
	BACKGROUND-IMAGE: url(navTop.gif); WIDTH: 176px
}
.navItems {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; TEXT-TRANSFORM: capitalize; COLOR: #ffffff; LINE-HEIGHT: 28px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.navItems A {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.navItem {
	PADDING-LEFT: 12px; MARGIN-BOTTOM: 1px; BORDER-LEFT: #474545 1px solid; WIDTH: 162px; HEIGHT: 28px; BACKGROUND-COLOR: #ffa62b
}
.navItem:hover {
	PADDING-LEFT: 12px; MARGIN-BOTTOM: 1px; BORDER-LEFT: #474545 1px solid; WIDTH: 162px; HEIGHT: 28px; BACKGROUND-COLOR: #e6590f
}
.navSubItem {
	PADDING-LEFT: 20px; MARGIN-BOTTOM: 1px; BORDER-LEFT: #474545 1px solid; WIDTH: 154px; HEIGHT: 28px; BACKGROUND-COLOR: #ffc472
}
.navSubItem:hover {
	PADDING-LEFT: 20px; MARGIN-BOTTOM: 1px; BORDER-LEFT: #474545 1px solid; WIDTH: 154px; HEIGHT: 28px; BACKGROUND-COLOR: #e6590f
}
.navBottom {
	BACKGROUND-IMAGE: url(navBottom.gif); WIDTH: 176px; HEIGHT: 7px
}
.sideTitleRight {
	PADDING-LEFT: 12px; FONT-WEIGHT: bold; FONT-SIZE: 9px; BACKGROUND-IMAGE: url(sideTitleRight.gif); TEXT-TRANSFORM: uppercase; WIDTH: 165px; COLOR: #ffffff; LINE-HEIGHT: 20px; HEIGHT: 20px
}
.sideTitleLeft {
	PADDING-LEFT: 12px; FONT-WEIGHT: bold; FONT-SIZE: 9px; BACKGROUND-IMAGE: url(sideTitleLeft.gif); TEXT-TRANSFORM: uppercase; BORDER-LEFT: #474545 1px solid; WIDTH: 162px; COLOR: #ffffff; LINE-HEIGHT: 20px; HEIGHT: 20px
}
.sideReview {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 11px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.rightAds {
	PADDING-LEFT: 11px; MARGIN-BOTTOM: 7px
}
.calOutline {
	BORDER-RIGHT: #cbd3da 1px solid; BORDER-TOP: #cbd3da 1px solid; FONT-SIZE: 9px; BORDER-LEFT: #cbd3da 1px solid; WIDTH: 139px; BORDER-BOTTOM: #cbd3da 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
.calHeader {
	FONT-WEIGHT: bold; TEXT-TRANSFORM: uppercase; COLOR: #e68d0f; LINE-HEIGHT: 16px; BORDER-BOTTOM: #cbd3da 1px solid; HEIGHT: 16px; TEXT-ALIGN: center
}
.calTextOff {
	COLOR: #cbd3da
}
.calTextOn {
	COLOR: #7e8389; TEXT-DECORATION: none
}
.calTextOn A {
	COLOR: #7e8389; TEXT-DECORATION: none
}
.calTextHighlight {
	COLOR: #e99c2f; TEXT-DECORATION: none
}
.calTextHighlight A {
	COLOR: #e99c2f; TEXT-DECORATION: none
}
TABLE.calendarTable {
	BACKGROUND: #ffffff; WIDTH: 139px
}
TABLE.calendarTable TR TD {
	BORDER-RIGHT: #e5e9ec 1px solid; BORDER-TOP: #e5e9ec 0px solid; FONT-SIZE: 9px; BORDER-LEFT: #e5e9ec 1px solid; BORDER-BOTTOM: #e5e9ec 0px solid; FONT-FAMILY: Arial, Helvetica, sans-serif
}
TABLE.calendarTable TR.header TD {
	BORDER-RIGHT: #000 0px solid; BORDER-TOP: #000 0px solid; FONT-WEIGHT: bold; TEXT-TRANSFORM: uppercase; BORDER-LEFT: #000 0px solid; COLOR: #e68d0f; LINE-HEIGHT: 16px; BORDER-BOTTOM: #cbd3da 1px solid; HEIGHT: 16px; TEXT-ALIGN: center
}
TABLE.calendarTable TR.header TD A {
	TEXT-DECORATION: none
}
TABLE.calendarTable TR.weekdays TD {
	FONT-WEIGHT: bold; WIDTH: 19px; HEIGHT: 18px
}
TABLE.calendarTable TR TD#dateEvents {
	BORDER-TOP: #cbd3da 1px solid
}
TD.pastevent {
	COLOR: #999999
}
SPAN.indexEventDate {
	PADDING-LEFT: 20px; FONT-WEIGHT: bold; COLOR: #e6590f
}
