BODY {
	FONT-SIZE: 11px; BACKGROUND-IMAGE: url(bg.jpg); MARGIN: 0px; COLOR: #333333; FONT-FAMILY: trebuchet MS, verdana, helvetica, arial
}
.admbg {
	BACKGROUND-IMAGE: url(bg.jpg); MARGIN: 20px
}
.admcontentbg {
	BACKGROUND: #ffffff
}
.contentbg {
	BACKGROUND: #ffffff
}
.content {
	FONT-SIZE: 11px; COLOR: #000000; LINE-HEIGHT: 16px; FONT-FAMILY: trebuchet MS, verdana, helvetica, arial
}
TD {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: trebuchet MS, verdana, helvetica, arial
}
.vertline {
	BACKGROUND: #999999
}
.frame1 {
	BACKGROUND: #e6edf6
}
.frame2 {
	BACKGROUND: #d6d6d6
}
.frame3 {
	BACKGROUND: #c6c6c6
}
.frame4 {
	BACKGROUND: #b6b6b6
}
.frame5 {
	BACKGROUND: #a6a6a6
}
.photobg {
	BACKGROUND: #dedede
}
INPUT {
	FONT-SIZE: 10px; FONT-FAMILY: verdana, arial, helvetica
}
TEXTAREA {
	FONT-SIZE: 10px; FONT-FAMILY: verdana, arial, helvetica
}
SELECT {
	FONT-SIZE: 10px; FONT-FAMILY: verdana, arial, helvetica
}
.submitbutton {
	BORDER-RIGHT: #ffffff 1px outset; PADDING-RIGHT: 3px; BORDER-TOP: #ffffff 1px outset; PADDING-LEFT: 3px; FONT-WEIGHT: bold; BACKGROUND: url(buttonbg.gif) repeat-x left top; PADDING-BOTTOM: 2px; BORDER-LEFT: #ffffff 1px outset; CURSOR: pointer; COLOR: #3b3839; PADDING-TOP: 2px; BORDER-BOTTOM: #ffffff 1px outset
}
.submitbutton:hover {
	BORDER-RIGHT: #ffffff 1px outset; PADDING-RIGHT: 3px; BORDER-TOP: #ffffff 1px outset; PADDING-LEFT: 3px; FONT-WEIGHT: bold; BACKGROUND: url(buttonbg.gif) repeat-x left top; PADDING-BOTTOM: 2px; BORDER-LEFT: #ffffff 1px outset; CURSOR: pointer; COLOR: #ffffff; PADDING-TOP: 2px; BORDER-BOTTOM: #ffffff 1px outset
}
.deletebutton {
	BORDER-RIGHT: #ffffff 1px outset; PADDING-RIGHT: 3px; BORDER-TOP: #ffffff 1px outset; PADDING-LEFT: 3px; FONT-WEIGHT: bold; BACKGROUND: url(buttonbg.gif) repeat-x left top; PADDING-BOTTOM: 2px; BORDER-LEFT: #ffffff 1px outset; CURSOR: pointer; COLOR: #990000; PADDING-TOP: 2px; BORDER-BOTTOM: #ffffff 1px outset
}
A {
	COLOR: #996633; TEXT-DECORATION: underline
}
A:visited {
	COLOR: #996633; TEXT-DECORATION: underline
}
A:hover {
	COLOR: #3b3839; TEXT-DECORATION: none
}
A.content {
	COLOR: #996633; TEXT-DECORATION: underline
}
A.content:visited {
	COLOR: #996633; TEXT-DECORATION: underline
}
A.content:hover {
	COLOR: #3b3839; TEXT-DECORATION: none
}
H1 {
	DISPLAY: inline; FONT-SIZE: 15px; COLOR: #0b4da2; LINE-HEIGHT: 120%; FONT-FAMILY: trebuchet MS, verdana, helvetica, arial
}
H2 {
	DISPLAY: inline; FONT-SIZE: 14px; COLOR: #999999; LINE-HEIGHT: 120%; FONT-FAMILY: trebuchet MS, verdana, helvetica, arial
}
H3 {
	/*DISPLAY: inline;*/ FONT-SIZE: 13px; COLOR: #0b4da2; LINE-HEIGHT: 120%; FONT-FAMILY: trebuchet MS, verdana, helvetica, arial
}
H4 {
	DISPLAY: inline; FONT-SIZE: 12px; COLOR: #663300; LINE-HEIGHT: 120%; FONT-FAMILY: trebuchet MS, verdana, helvetica, arial
}
A.h1 {
	DISPLAY: inline; FONT-SIZE: 15px; COLOR: #0b4da2; FONT-FAMILY: trebuchet MS, verdana, helvetica, arial
}
A.h2 {
	DISPLAY: inline; FONT-SIZE: 14px; COLOR: #999999; FONT-FAMILY: trebuchet MS, verdana, helvetica, arial
}
A.h3 {
	DISPLAY: inline; FONT-SIZE: 13px; COLOR: #0b4da2; FONT-FAMILY: trebuchet MS, verdana, helvetica, arial
}
A.h4 {
	DISPLAY: inline; FONT-SIZE: 12px; COLOR: #663300; FONT-FAMILY: trebuchet MS, verdana, helvetica, arial
}
UL {
	DISPLAY: block; LIST-STYLE-POSITION: outside
}
UL.inline {
	DISPLAY: inline; LIST-STYLE-POSITION: outside
}
.directions {
	FONT-SIZE: 10px; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: trebuchet MS, verdana, helvetica, arial
}
.footer {
	FONT-SIZE: 10px; COLOR: #3b3839; FONT-STYLE: normal; FONT-FAMILY: trebuchet MS, verdana, helvetica, arial
}
A.footer {
	FONT-SIZE: 10px; COLOR: #3b3839; FONT-STYLE: normal; FONT-FAMILY: trebuchet MS, verdana, helvetica, arial
}
A.footer:visited {
	FONT-SIZE: 10px; COLOR: #3b3839; FONT-STYLE: normal; FONT-FAMILY: trebuchet MS, verdana, helvetica, arial
}
A.footer:hover {
	FONT-SIZE: 10px; COLOR: #996633; FONT-STYLE: normal; FONT-FAMILY: trebuchet MS, verdana, helvetica, arial
}
.small {
	FONT-SIZE: 10px; COLOR: #666666; FONT-STYLE: normal; FONT-FAMILY: trebuchet MS, verdana, helvetica, arial
}
.help {
	FONT-SIZE: 10px; COLOR: #cc0000; FONT-STYLE: normal; FONT-FAMILY: trebuchet MS, verdana, helvetica, arial
}
.caption {
	FONT-SIZE: 11px; COLOR: #0b4da2; FONT-STYLE: normal; FONT-FAMILY: trebuchet MS, verdana, helvetica, arial
}
.navspacing {
	LINE-HEIGHT: 180%
}
.nav {
	FONT-SIZE: 12px; COLOR: #996633; FONT-FAMILY: trebuchet MS, verdana, helvetica, arial; TEXT-DECORATION: none
}
A.nav {
	FONT-SIZE: 12px; COLOR: #996633; FONT-FAMILY: trebuchet MS, verdana, helvetica, arial; TEXT-DECORATION: underline
}
A.nav:hover {
	FONT-SIZE: 12px; COLOR: #3b3839; FONT-FAMILY: trebuchet MS, verdana, helvetica, arial; TEXT-DECORATION: none
}
A.navon {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #3b3839; FONT-FAMILY: trebuchet MS, verdana, helvetica, arial; TEXT-DECORATION: none
}
A.navon:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #3b3839; FONT-FAMILY: trebuchet MS, verdana, helvetica, arial; TEXT-DECORATION: underline
}
.subnav {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #996633; TEXT-DECORATION: none
}
A.subnav {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #996633; TEXT-DECORATION: none
}
A.subnav:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #3b3839; TEXT-DECORATION: underline
}
A.subnavon {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #3b3839; TEXT-DECORATION: none
}
A.subnavon:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #3b3839; TEXT-DECORATION: underline
}
.title {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #0b4da2; FONT-FAMILY: trebuchet MS, verdana, helvetica, arial
}
.subtitle {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #999999; FONT-FAMILY: trebuchet MS, verdana, helvetica, arial
}
.bold {
	FONT-WEIGHT: bold
}
H5 {
	DISPLAY: inline; FONT-SIZE: 12px; COLOR: #990000; LINE-HEIGHT: 120%; FONT-FAMILY: trebuchet MS, verdana, helvetica, arial
}
.admstroke {
	BACKGROUND-COLOR: #666666
}
.admtablehead {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; BACKGROUND-COLOR: #6699cc
}
A.admtablehead:link {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; BACKGROUND-COLOR: #6699cc
}
A.admtablehead:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; BACKGROUND-COLOR: #6699cc
}
A.admtablehead:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; BACKGROUND-COLOR: #6699cc
}
.admtablehead2 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; BACKGROUND-COLOR: #5588bb
}
A.admtablehead2:link {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; BACKGROUND-COLOR: #5588bb
}
A.admtablehead2:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; BACKGROUND-COLOR: #5588bb
}
A.admtablehead2:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; BACKGROUND-COLOR: #5588bb
}
.adm {
	BACKGROUND-COLOR: #f6edda
}
.admtop {
	BACKGROUND-COLOR: #ffffff
}
.admnav {
	BACKGROUND-COLOR: #ffffff
}
.adm2 {
	BACKGROUND-COLOR: #ffffff
}
.admdelete {
	BACKGROUND-COLOR: #cecece
}
.buttons {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BACKGROUND: #ccc; FLOAT: left; MARGIN: 1px; BORDER-LEFT: #ccc 1px solid; BORDER-BOTTOM: #ccc 1px solid
}
.raise {
	BORDER-RIGHT: buttonshadow 1px solid; BORDER-TOP: buttonhighlight 1px solid; BACKGROUND: #ccc; FLOAT: left; MARGIN: 1px; BORDER-LEFT: buttonhighlight 1px solid; BORDER-BOTTOM: buttonshadow 1px solid
}
.press {
	BORDER-RIGHT: buttonhighlight 1px solid; BORDER-TOP: buttonshadow 1px solid; BACKGROUND: #ccc; FLOAT: left; MARGIN: 1px; BORDER-LEFT: buttonshadow 1px solid; BORDER-BOTTOM: buttonhighlight 1px solid
}
#toolbar {
	BORDER-RIGHT: buttonshadow 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: buttonhighlight 1px solid; PADDING-LEFT: 0px; BACKGROUND: #ccc; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: buttonhighlight 1px solid; WIDTH: 78px; PADDING-TOP: 0px; BORDER-BOTTOM: buttonshadow 1px solid; HEIGHT: 20px; TEXT-ALIGN: left
}
