body 
{
	background-color: #FFFFFF;
	color: #000000;
	font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
	font-size: 12px;
	line-height: 15px; 
	text-decoration: none; 
}

	

a, a:link, a:visited, a:hover
{
	color: #0000FF;
	text-decoration: underline; 
}


#pageContainer {
	width:760px;
/*	margin-top:20px; */
	margin-left: auto;
	margin-right: auto;
	float: left;
}

#contentContainer {
	float: left;
	width: 590px;
}

#headerLeft 
{
	margin-top: 15px;
    height: 65px;
	width: 292px;
	float: left;
}

#headerRight 
{
	height: 80px;
	width: 468px;
	float: left;
}

#footerTop
{
	font-size: 11px; 
	border-bottom: dotted;
	border-color: #999999;
	padding-top: 20px;
	padding-bottom: 10px;
	width: 420px;
	float: left;
}

#footerBottom
{
	padding-top: 10px;	
	width: 420px;
	float: left;
	margin-bottom: 30px;
}

#contentLeft
{
	width: 150px;
	float: left;
}


#contentCenter
{
	width: 420px;
	float: right;
}

#contentRight
{
	width: 150px;
	float: right;
}


#dottedHeadlineWide
{
	margin-bottom: 10px;
	width: 420px;
	float: left;
	border-bottom: dotted;
	border-color: #FFCC33;
}

#dottedHeadlineWide2
{
	margin-bottom: 10px;
	width: 420px;
	float: left;
	border-bottom: dotted;
	border-color: #FFCC33;
}

#ContentWide
{
	margin-bottom: 10px;
	width: 420px;
	float: left;
}

#commentsHeadline
{
	margin-top: 10px;
	margin-bottom: 10px;
	width: 420px;
	float: left;
	border-bottom: solid;
	border-bottom-width: 1px;
	border-color: #000000;
}

#announcementHeadline
{
	margin-top: 10px;
	margin-bottom: 10px;
	width: 150px;
	float: left;
	border-bottom: dotted;
	border-color: #FFCC33;
}	

#announcementLinks
{
	width: 150px;
	float: left;
}



#spotImage
{
	width: 210px;
	float: left;
	margin-bottom: 15px;
}

#spotText
{
	width: 210px;
	float: left;
	margin-bottom: 15px;	
}

#featureImage
{
	padding-bottom: 12px;
	width: 85px;
	float: left;
	
}

#featureText
{
	width: 110px;
	padding-bottom: 12px;
	padding-left: 2px;
	float: left;
}




/***************************Left Navigation *******************/

#leftNav
{
	background-color: #FE9900;
}

#leftNav a, #LeftNav a:link  { 
	color: #000000; 
	font-size: 11px;
	font-weight: bold;
	text-decoration: none; 
}

#leftNav a:hover { 
	color: #FFFFFF; 
	text-decoration: none;
}

#leftNav a:selected {
  color: #FFFFFF;
  text-decoration: none;
}


#leftNav1
{
	background-color: #FE9900;
	padding-left: 15px;	

	padding-bottom: 5px;
}  

#leftNav2
{
	background-color: #FFCC33;
	padding-left: 15px;		
	line-height: 25px;
}  

#leftNav3
{
	background-color: #FFCC33;
	padding-left: 15px;		
	line-height: 25px;	
	border-top: dotted;
	border-color: white;
}  

#leftBottom
{
	padding-left: 15px;		
	line-height: 25px;	
}


#rightSearch
{
	padding-top: 5px;
	padding-bottom: 5px;	
	background-color: #FFCC33;
	padding-left: 5px;		
	border-top: dotted;
	border-color: white;
}  


/***************************Text Sizes/Colors *******************/

.headlineRed  {
	color: #CC3300;
	font-size: 12px;
	font-weight: bold;
}

.headlineBlack  {
	color: #000000;
	font-size: 14px;
	font-weight: bold;
}

.subheadBlack 
{
	color: #000000;
	font-size: 11px;
	font-weight: bold;
}	


.titleOrange {
	color: #FF6600;
	font-size: 14px;
	font-weight: bold;
}

a.titleOrange { color: #FF6600; text-decoration: none; }
a.titleOrange:link { color: #FF6600; text-decoration: none; }
a.titleOrange:visited { color: #FF6600; text-decoration: none; }
a.titleOrange:hover { color: #FF6600; text-decoration: underline; }

.copySpot 
{
	color: #000000;
	font-size: 11px;
}

p.copySpot 
{
	margin-top: 4px;
	margin-bottom: 0px;
}

.copyBlack {
	color: #000000;
	font-size: 11px;
}

a.copyBlack { color: #000000; text-decoration: none; }
a.copyBlack:link { color: #000000; text-decoration: nonee; }
a.copyBlack:visited { color: #000000; text-decoration: none; }
a.copyBlack:hover { color: #000000; text-decoration: underline; }

.copyBlue {
	color: #0000FF;
	font-size: 11px;
}

.copyGrey {
	color: #999999;
	font-size: 11px;
}

a.copyGrey { color: #999999; text-decoration: none; }
a.copyGrey:link { color: #999999; text-decoration: none; }
a.copyGrey:visited { color: #999999; text-decoration: none; }
a.copyGrey:hover { color: #000000; text-decoration: underline; }

.copyRed {
	color: #FF3300;
	font-size: 11px;
	line-height: 12px;
}

a.copyRed { color: #FF3300; text-decoration: none; }
a.copyRed:link { color: #FF3300; text-decoration: none; }
a.copyRed:visited { color: #FF3300; text-decoration: none; }
a.copyRed:hover { color: #FF3300; text-decoration: underline; }

#boxTicket 
{
	width: 200px;
	float: left;
	background-color: #FFFFCD;
	padding-top: 5px;
	padding-left: 5px;
	padding-bottom: 5px;
	border: solid;
	border-width: 1px;
	border-color: black;
}

#boxVenue 
{
	width: 200px;
	float: right;
	background-color: #FFFFCD;
	padding-top: 5px;	
	padding-left: 5px;
	padding-bottom: 5px;	
	border: solid;
	border-width: 1px;
	border-color: black;
}

#boxOrgAddress
{
	padding-top: 20px;
	width: 200px;
	float: left;
}

#boxOrgContact
{
	padding-top: 20px;	
	width: 200px;
	float: right;
}


/* calendar controls */


#rightCalendar
{
	padding-top: 5px;
	padding-left: 5px;
	background-color: #fe9900;
	padding-bottom: 5px;

}

.calendarControl
{
	padding-top: 5px;
	padding-left: 5px;
	background-color: #fe9900;
	width: 150px; 
}

   
.calBody 
{ 
	FONT-SIZE: 11px; 
	margin-top: -1px;
}

.fastsearchkeywordBox
{ 
	FONT-SIZE: 11px; 
	width: 70%;
}

.searchkeywordBox
{ 
	FONT-SIZE: 11px; 
	width: 70%;
}

.fastsearchDropDown
{ 
	FONT-SIZE: 11px; 
	width: 80%;
}

.searchDropDown
{ 
	FONT-SIZE: 11px; 
	width: 300px;
}

.navSelected
{
	color: #FFFFFF; 
	font-size: 11px;
	font-weight: bold;
	text-decoration: none; 
}	

/*****************TABLES**********************/
#eventSearch {
	width: 400px;
}

#eventSearch td {
	padding: 5px 5px 8px 5px;
}

#eventSearch select {
	width: 188px;
}

#eventSearch span.dates select {
	width: 60px;
}

.td-right 
{
	text-align: left;
	padding: 5px 5px 8px 5px;
	vertical-align: top;
}

.td-left {
	text-align: left;
	padding: 5px 5px 8px 5px;
}	

.dgTablesCal {
	width: 420px;
	color: Black;
	font-size: 11px;
	margin: 0 0 0 0;
	border: 0;
}

.dgTablesCal td
{
	padding: 10px 5px;
	text-align: left;
	border-bottom: 1px dashed #666666; 	
}

.dgTablesCal th 
{
	color: Gray;
	padding: 10px 5px;
	text-align: left;
	border-bottom: 1px dashed #666666; 
}
