A {
	COLOR: #c30
}
A:active {
	COLOR: #c30
}
BODY {
	FONT-FAMILY: verdana, sans-serif
}
DIV {
	FONT-FAMILY: verdana, sans-serif
}
LI {
	FONT-FAMILY: verdana, sans-serif
}
P {
	FONT-FAMILY: verdana, sans-serif
}
TD {
	FONT-FAMILY: verdana, sans-serif
}
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 14px; PADDING-TOP: 0px; FONT-FAMILY: verdana, sans-serif; BACKGROUND-COLOR: #fff
}
H1 {
	BORDER-RIGHT: #fff 0px solid; PADDING-RIGHT: 0px; BORDER-TOP: #fff 0px solid; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 18px; PADDING-BOTTOM: 5px; MARGIN: 0px; BORDER-LEFT: #fff 0px solid; COLOR: #c30; LINE-HEIGHT: 18px; PADDING-TOP: 5px; BORDER-BOTTOM: #fff 0px solid; FONT-FAMILY: verdana, sans-serif
}
H2 {
	FONT-SIZE: 16px; FONT-FAMILY: verdana, sans-serif
}
H3 {
	FONT-SIZE: 18px; FONT-FAMILY: verdana, sans-serif
}
H4 {
	FONT-SIZE: 12px; FONT-FAMILY: verdana, sans-serif
}
H5 {
	FONT-SIZE: 11px; FONT-FAMILY: verdana, sans-serif
}
H6 {
	FONT-SIZE: 10px; FONT-FAMILY: verdana, sans-serif
}
IMG {
	DISPLAY: block
}
.ahem {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #c30
}
.bgGreen {
	BACKGROUND-COLOR: #996
}
.bgRed {
	BACKGROUND-COLOR: #c30
}
.bgPurple {
	BACKGROUND-COLOR: #336
}
#copyright {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: white; FONT-FAMILY: verdana, sans-serif; BACKGROUND-COLOR: #996; TEXT-ALIGN: center
}
#copyright A {
	COLOR: white
}
#contentCell {
	FONT-SIZE: 11px; COLOR: #666
}
#contentCell P {
	FONT-SIZE: 11px; COLOR: #666
}
#contentCell A {
	FONT-SIZE: 11px
}
#contentCell {
	PADDING-RIGHT: 0px; PADDING-LEFT: 27px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#homecol1 P {
	PADDING-RIGHT: 10px; PADDING-LEFT: 2px; PADDING-BOTTOM: 0px; COLOR: #666; PADDING-TOP: 0px
}
#homecol1 DIV {
	PADDING-RIGHT: 10px; PADDING-LEFT: 2px; PADDING-BOTTOM: 0px; COLOR: #666; PADDING-TOP: 0px
}
#homecol1 H1 {
	BORDER-RIGHT: #f30 0px solid; PADDING-RIGHT: 0px; BORDER-TOP: #f30 0px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 5px; MARGIN: 30px 0px 0px; BORDER-LEFT: #f30 0px solid; COLOR: #666; PADDING-TOP: 0px; BORDER-BOTTOM: #f30 2px solid
}
#homecol1 H2 {
	PADDING-RIGHT: 10px; PADDING-LEFT: 2px; FONT-SIZE: 14px; PADDING-BOTTOM: 0px; COLOR: #36c; PADDING-TOP: 0px
}
#homecol1 H3 {
	PADDING-RIGHT: 10px; PADDING-LEFT: 2px; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; COLOR: #333; PADDING-TOP: 0px
}
#homecol2 {
	COLOR: #36c
}
#homecol2 H1 {
	BORDER-RIGHT: #996 0px solid; PADDING-RIGHT: 0px; BORDER-TOP: #996 0px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 5px; MARGIN: 10px 0px 0px; BORDER-LEFT: #996 0px solid; COLOR: #666; PADDING-TOP: 0px; BORDER-BOTTOM: #996 1px solid
}
#homecol2 H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#homecol2 P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#homecol2 H2 {
	FONT-SIZE: 14px; FONT-FAMILY: verdana, sans-serif
}
.nav {
	COLOR: #ccc
}
.nav A {
	FONT-WEIGHT: bold; FONT-SIZE: 9.9px; COLOR: #333; FONT-FAMILY: verdana, sans-serif; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.nav A:hover {
	TEXT-DECORATION: underline
}
.nav A:active {
	COLOR: #c30
}
.navCountry {
	FONT-SIZE: 10px; COLOR: white; FONT-FAMILY: verdana, sans-serif; BACKGROUND-COLOR: #336
}
#navCountryTitle {
	FONT-SIZE: 10px; COLOR: white; FONT-FAMILY: verdana, sans-serif; BACKGROUND-COLOR: #336
}
.navcountryon {
	BACKGROUND-COLOR: #c30
}
.navcountryoff {
	BACKGROUND-COLOR: #963
}
.navcountryon {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: white; FONT-FAMILY: verdana, sans-serif; TEXT-ALIGN: center
}
.navCountryoff {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: white; FONT-FAMILY: verdana, sans-serif; TEXT-ALIGN: center
}
.navcountryon A {
	COLOR: white; TEXT-DECORATION: none
}
.navcountryoff A {
	COLOR: white; TEXT-DECORATION: none
}
.navcountryon A:hover {
	TEXT-DECORATION: underline
}
.navcountryoff A:hover {
	TEXT-DECORATION: underline
}
.navCountryoff A:active {
	COLOR: #c30
}
#navCountryTitle {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#profiles {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FLOAT: right; PADDING-BOTTOM: 10px; WIDTH: 200px; PADDING-TOP: 10px
}
#sloganBottom {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: white; BACKGROUND-COLOR: #336
}
#banner {
	BORDER-RIGHT: #fff 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #fff 1px solid; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 16px; PADDING-BOTTOM: 0px; BORDER-LEFT: #fff 1px solid; COLOR: #333; PADDING-TOP: 0px
}
#banner-commentspop {
	BORDER-RIGHT: #fff 1px solid; PADDING-RIGHT: 15px; BORDER-TOP: #fff 1px solid; PADDING-LEFT: 15px; FONT-WEIGHT: bold; FONT-SIZE: 18px; PADDING-BOTTOM: 5px; BORDER-LEFT: #fff 1px solid; COLOR: #fff; PADDING-TOP: 5px; BACKGROUND-COLOR: #003366
}
.blog {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; BACKGROUND-COLOR: #fff
}
.blogbody {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #666; LINE-HEIGHT: 16px; BACKGROUND-COLOR: #fff
}
.blogbody IMG {
	DISPLAY: inline
}
.calendar {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: normal; FONT-SIZE: 10px; PADDING-BOTTOM: 2px; COLOR: #333; LINE-HEIGHT: 14px; PADDING-TOP: 2px; TEXT-ALIGN: center
}
.calendarhead {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 2px; COLOR: #333; LINE-HEIGHT: 14px; PADDING-TOP: 2px
}
.comments-body {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; PADDING-BOTTOM: 10px; COLOR: #666; LINE-HEIGHT: 14px; PADDING-TOP: 10px; BORDER-BOTTOM: #999 1px dotted; BACKGROUND-COLOR: #fff
}
.comments-head {
	MARGIN-TOP: 20px; FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #666; BORDER-BOTTOM: #999 1px solid; BACKGROUND-COLOR: #fff
}
.comments-post {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #666; FONT-FAMILY: verdana, arial, sans-serif; BACKGROUND-COLOR: #fff
}
#content {
	
}
#container {
	BORDER-RIGHT: #fff 1px solid; BORDER-TOP: #fff 1px solid; BORDER-LEFT: #fff 1px solid; BORDER-BOTTOM: #fff 1px solid; BACKGROUND-COLOR: #fff
}
.date {
	BORDER-RIGHT: #36c 0px dotted; BORDER-TOP: #36c 0px dotted; FONT-WEIGHT: bold; FONT-SIZE: 11px; MARGIN-BOTTOM: 10px; BORDER-LEFT: #36c 0px dotted; COLOR: #36c; BORDER-BOTTOM: #36c 1px dotted
}
.description {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; TEXT-TRANSFORM: none; COLOR: #fff; BACKGROUND-COLOR: #003366
}
#links {
	BORDER-RIGHT: #fff 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #fff 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 10px 20px; BORDER-LEFT: #fff 1px solid; LINE-HEIGHT: 10pt; PADDING-TOP: 0px; BORDER-BOTTOM: #fff 1px solid; BACKGROUND-COLOR: #eee
}
#menu {
	MARGIN-BOTTOM: 15px; BACKGROUND-COLOR: #fff; TEXT-ALIGN: center
}
.posted {
	FONT-SIZE: 11px; MARGIN-BOTTOM: 25px; COLOR: #000000
}
.powered {
	BORDER-RIGHT: #999 1px dotted; PADDING-RIGHT: 2px; BORDER-TOP: #999 1px dotted; PADDING-LEFT: 2px; FONT-SIZE: 9px; PADDING-BOTTOM: 2px; MARGIN: 10px 5px 5px; BORDER-LEFT: #999 1px dotted; COLOR: #666; LINE-HEIGHT: 14px; PADDING-TOP: 2px; BORDER-BOTTOM: #999 1px dotted; LETTER-SPACING: 0.2em; BACKGROUND-COLOR: #fff; TEXT-ALIGN: center
}
.side {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: normal; FONT-SIZE: 11px; PADDING-BOTTOM: 2px; COLOR: #333; LINE-HEIGHT: 14px; PADDING-TOP: 2px
}
.side UL LI {
	PADDING-BOTTOM: 5px
}
.sidetitle {
	BORDER-RIGHT: #36c 0px dotted; PADDING-RIGHT: 2px; BORDER-TOP: #36c 0px dotted; MARGIN-TOP: 10px; PADDING-LEFT: 2px; FONT-WEIGHT: normal; FONT-SIZE: 11px; PADDING-BOTTOM: 2px; BORDER-LEFT: #36c 0px dotted; COLOR: #36c; LINE-HEIGHT: 14px; PADDING-TOP: 2px; BORDER-BOTTOM: #36c 1px dotted; LETTER-SPACING: 0.1em; TEXT-ALIGN: center
}
.syndicate {
	PADDING-RIGHT: 2px; MARGIN-TOP: 10px; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 9px; PADDING-BOTTOM: 2px; LINE-HEIGHT: 14px; PADDING-TOP: 2px; BACKGROUND-COLOR: #ccc; TEXT-ALIGN: center
}
.title {
	FONT-SIZE: 11px; TEXT-TRANSFORM: uppercase; COLOR: #000000
}
.trackback-url {
	BORDER-RIGHT: #999 1px dotted; PADDING-RIGHT: 5px; BORDER-TOP: #999 1px dotted; PADDING-LEFT: 5px; FONT-WEIGHT: normal; FONT-SIZE: 11px; PADDING-BOTTOM: 5px; BORDER-LEFT: #999 1px dotted; COLOR: #666; LINE-HEIGHT: 14px; PADDING-TOP: 5px; BORDER-BOTTOM: #999 1px dotted; BACKGROUND-COLOR: #fff
}
.trackback-body {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; PADDING-BOTTOM: 10px; COLOR: #666; LINE-HEIGHT: 14px; PADDING-TOP: 10px; BORDER-BOTTOM: #999 1px dotted; BACKGROUND-COLOR: #fff
}
.trackback-post {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #666; FONT-FAMILY: verdana, arial, sans-serif; BACKGROUND-COLOR: #fff
}
