P {
	MARGIN-TOP: 0px
}
H2 {
	PADDING-RIGHT: 0px; MARGIN-TOP: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 1.5em; MARGIN-BOTTOM: 5px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
BODY {
	FONT-SIZE: 0.8em; FONT-FAMILY: sans-serif; BACKGROUND-COLOR: #ffffff
}
ACRONYM {
	BORDER-BOTTOM: #000 1px dotted
}
abbr {
	BORDER-BOTTOM: #000 1px dotted
}
#dcwi {
	BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: right; VERTICAL-ALIGN: bottom; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; POSITION: relative; BORDER-BOTTOM-STYLE: none
}
#noborder TABLE {
	BORDER-RIGHT: transparent 0px; BORDER-TOP: transparent 0px; BORDER-LEFT: transparent 0px; BORDER-BOTTOM: transparent 0px
}
#noborder TD {
	BORDER-RIGHT: transparent 0px; BORDER-TOP: transparent 0px; BORDER-LEFT: transparent 0px; BORDER-BOTTOM: transparent 0px
}
#side-nav-label {
	DISPLAY: none
}
#side-nav {
	DISPLAY: none
}
#nav-panel {
	DISPLAY: none
}
#side-left {
	DISPLAY: none; Z-INDEX: 2; LEFT: 12px; WIDTH: 11em; POSITION: absolute; TOP: 4em
}
#side-right {
	RIGHT: 8px; WIDTH: 125px; POSITION: absolute; TOP: 85px
}
#content {
	BORDER-RIGHT: #aaa 1px solid; PADDING-RIGHT: 15px; BORDER-TOP: #aaa 1px solid; PADDING-LEFT: 15px; PADDING-BOTTOM: 15px; BORDER-LEFT: #aaa 1px solid; PADDING-TOP: 15px; BORDER-BOTTOM: #aaa 1px solid
}
UNKNOWN {
	TOP: 0px
}
#link-internal {
	
}
#middle-one {
	
}
#middle-two {
	
}
#middle-three {
	
}
#middle-two {
	PADDING-LEFT: 2px; MARGIN-LEFT: 1px
}
#middle-three {
	PADDING-LEFT: 2px; MARGIN-LEFT: 1px
}
#middle-three {
	MARGIN-RIGHT: 135px
}
#footer {
	FONT-SIZE: xx-small; MARGIN: 0.5em; TEXT-ALIGN: left
}
#footer IMG {
	DISPLAY: none; FLOAT: left; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
#header {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 2px; BORDER-TOP: 0px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; MARGIN: 7px 2px 0px; BORDER-LEFT: 0px; WIDTH: 99%; PADDING-TOP: 2px; BORDER-BOTTOM: 0px; HEIGHT: 60px; BACKGROUND-COLOR: #336699
}
#member-header {
	DISPLAY: none
}
#search {
	DISPLAY: inline; FONT-SIZE: 0.8em! important; FLOAT: right; TEXT-ALIGN: right; min-width: 20em
}
#search-label {
	DISPLAY: none
}
.accent {
	COLOR: #003366
}
.highlights {
	FONT-SIZE: 1.5em; COLOR: #669933; FONT-FAMILY: Georgia, "Times New Roman", Times, serif
}
.photo {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; MARGIN-BOTTOM: 5px; BORDER-LEFT: #000000 1px solid; MARGIN-RIGHT: 5px; BORDER-BOTTOM: #000000 1px solid
}
