div#globalNav .s4-tn
{
	xborder-left: 2px white solid;
	xborder-right: 2px white solid;	
	background-image:url('/_layouts/BCCS/WCM/images/GlobalNavBkg.png');
	background-repeat:repeat-x;
	background-color:#369;
	background-position:center;	
}
.s4-tn UL.root > li.static > .menu-item
{
	/* Hide root site link */
	display:none;
}
.s4-tn li.static > .menu-item
{
	color:white;
	font-weight:bold;
	text-align:center;
	overflow:visible;
	white-space:normal;
	border-width:0px;
	border-top-width:0px;
	border-bottom-width:0px;
	padding-top:7px;
	padding-bottom:7px;
	background-image: url("/_layouts/BCCS/WCM/images/menusep.gif");
	background-attachment:scroll;
	background-repeat:no-repeat;
	background-position: left top;
}
.s4-tn li.static > .selected, 
	.s4-tn li.static > a:hover, 
	.s4-tn li.static > a:focus, 
	.s4-tn li.static > a:active
{
	background-image:url('/_layouts/BCCS/WCM/images/GlobalNavBkg.png');
	background-repeat:repeat-x;
	background-color:#ffcc66;
	background-position:center;	
	color:black;
	text-decoration:none;
}
.menu-horizontal .menu-item-text
{
	white-space:normal;
	font-size:13px;
}
.s4-tn li.static > .menu-item .menu-item-text
{
}
.menu-horizontal a.dynamic-children span.additional-background
{
	background-image:none;
	padding-left:2px;
	padding-right:2px;
}

/* ===================================================================================
   Local navigation
   =================================================================================== */

.s4-ql UL.root
{
	border-bottom: 3px #369 solid !important;
}
.s4-ql UL.root > LI > .menu-item
{
	border-bottom: 3px #369 solid !important;
	text-transform:uppercase;
	font-weight:bold;
	color:#369;
}
.s4-ql ul.root ul > li > a
{
	color:#369;
	font-weight:bold;
}
.s4-ql ul.root ul > li > a:hover
{
	color:#369;	
}
.s4-ql A.selected
{
	background-color:#ffcc66;
}