<%
'CHANGELOG
'LSP 01/16/15 - initial development

%>
<meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
<head runat="server">
<asp:ContentPlaceHolder id="MasterHead" runat="server"></asp:ContentPlaceHolder>
</head>
<BODY leftmargin=0 rightmargin=0 topmargin=0 marginheight=0 marginwidth=0 >
<form id="form1" runat="server">
<div>
<link rel="stylesheet" type="text/css" href="/clients/DominicanHighSchool/Images/style.css">
<div class="wrapper">
	<div class="header">
	

	<div class="navmenu">
	<img src="/clients/DominicanHighSchool/Images/nav.png" border="0" usemap="#nav">
	
<map name="nav">
  <area shape="rect" coords="348,99,438,114" href="http://www.dominicanhighschool.com/about-dhs/"  alt="" title="">
  <area shape="rect" coords="462,99,541,113" href="http://www.dominicanhighschool.com/admissions/"  alt="" title="">
  <area shape="rect" coords="558,96,657,119" href="http://www.dominicanhighschool.com/academics/"  alt="" title="">
  <area shape="rect" coords="665,94,749,119" href="http://www.dominicanhighschool.com/athletics/"  alt="" title="">
  <area shape="rect" coords="757,89,863,120" href="http://www.dominicanhighschool.com/student-life/"  alt="" title="">
  <area shape="rect" coords="878,99,1006,116" href="http://www.dominicanhighschool.com/current-families/parent-involvement/"  alt="" title="">
  <area shape="rect" coords="1019,94,1156,114" href="http://www.dominicanhighschool.com/alumni-friends/"  alt="" title="">
  <area shape="rect" coords="759,7,807,30" href="http://www.dominicanhighschool.com/"  alt="" title="">
  <area shape="rect" coords="814,13,878,26" href="http://www.dominicanhighschool.com/calendar"  alt="" title="">
  <area shape="rect" coords="890,11,990,26" href="http://www.dominicanhighschool.com/category/news/"  alt="" title="">
  <area shape="rect" coords="994,9,1059,30" href="http://www.dominicanhighschool.com/photos"  alt="" title="">
  <area shape="rect" coords="1064,12,1160,31" href="http://www.dominicanhighschool.com/donate/"  alt="" title="">
</map>
	
<map name="nav">
   <area shape="rect" coords="350,74,555,108" href="http://www.phlvisitorcenter.com/museums-attractions"  alt="" title="">
  <area shape="rect" coords="580,78,713,101" href="http://www.phlvisitorcenter.com/tours-events"  alt="" title="">
  <area shape="rect" coords="734,79,817,100" href="http://www.phlvisitorcenter.com/must-see"  alt="" title="">
  <area shape="rect" coords="835,77,965,107" href="http://www.phlvisitorcenter.com/national-park"  alt="" title="">
  <area shape="rect" coords="459,11,644,29" href="https://maps.google.com/maps?q=1+N+Independence+Mall+W,+Philadelphia,+Pennsylvania+19106&hl=en&client=safari&oe=UTF-8&fb=1&gl=us"  alt="" title="">
</map>
	</div>
	</div>
	<div class="content">
	<asp:ContentPlaceHolder id="MasterContent" runat="server"></asp:ContentPlaceHolder>
	
	</div>


			<div class="footer_bottom_bg">
<div class="footer_bottom">
<img src="/clients/DominicanHighSchool/Images/footer.png"USEMAP="#FooterBottom" Border="0">
<!-- Beginning of Client Side Image Map -->


<map name="FooterBottom">
  <area shape="rect" coords="309,116,400,132" href="http://www.dominicanhighschool.com/about-dhs/"  alt="" title="">
  <area shape="rect" coords="310,140,400,160" href="http://www.dominicanhighschool.com/admissions/"  alt="" title="">
  <area shape="rect" coords="311,164,395,185" href="http://www.dominicanhighschool.com/academics/"  alt="" title="">
  <area shape="rect" coords="311,187,393,206" href="http://www.dominicanhighschool.com/athletics/"  alt="" title="">
  <area shape="rect" coords="311,208,402,232" href="http://www.dominicanhighschool.com/student-life/"  alt="" title="">
  <area shape="rect" coords="312,235,428,252" href="http://www.dominicanhighschool.com/current-families/parent-involvement/"  alt="" title="">
  <area shape="rect" coords="303,255,440,274" href="http://www.dominicanhighschool.com/alumni-friends/"  alt="" title="">
  <area shape="rect" coords="869,36,1014,57" href="http://www.dominicanhighschool.com/privacy-statement/"  alt="" title="">
  <area shape="rect" coords="886,59,1002,77" href="http://www.sinsinawa.org/"  alt="" title="">
  <area shape="rect" coords="883,84,1058,98" href="http://www.archmil.org/"  alt="" title="">
  <area shape="rect" coords="882,101,953,130" href="http://www.dominicanhighschool.com/about-dhs/contact-dhs/"  alt="" title="">
</map>
</div>
</div>
</form>
</body>
</html>