@charset "utf-8";
/* CSS Document */

body {
	background-color: #282828;
	margin-top: 0px;
	margin-bottom: 0px;
	background-repeat: repeat-x;
	background-position: top;
	background-image: url(/clients/DomaTheatre/Images/bg-body.jpg);
}

#MainWrapper {
	width:1100px;
	margin:auto;
	background-image: url(/clients/DomaTheatre/Images/bg-mainwrapper.jpg);
	background-repeat: no-repeat;
	background-position: center top;
}

#wrapper {
	width:800px;
	margin: auto;
	padding: 0px;
	background-image: url(/clients/DomaTheatre/Images/bg-ContentWrapper.gif);
	background-repeat: repeat-y;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
	height: auto;
}

#header {
	background-color: #000000;
	width: 800px;
	height: 322px;
	background-image: url(/clients/DomaTheatre/Images/header.jpg);
	background-repeat: no-repeat;
	
}

#topnav {
	width:800px;
	height:86px;
	background-color: #9C0001;
	background-image: url(/clients/DomaTheatre/Images/bg-topnav.jpg);
	background-repeat: repeat-x;

}

hr {
	color: #fff;
	background-color: #fff;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: dotted;
	border-left-style: none;
	border-top-color: #999999;
	border-right-color: #999999;
	border-bottom-color: #999999;
	border-left-color: #999999;
}


#nav {
	height: 86px;
	background-image: url(/clients/DomaTheatre/Images/btn-topnav.jpg);
	padding: 0px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}

#nav span {
     display: none;
}

#nav li {
	list-style-type: none;
	float: left;
}

#nav a {
	height: 86px;
	display: block;
}

#list1 {
	width: 115px;
	
}
#list2 {
	width: 114px;
}
#list3 {
	width: 114px;
}
#list4 {
	width: 114px;
}
#list5 {
	width: 114px;
}
#list6 {
	width: 114px;
}
#list7 {
	width: 115px;
}



#list1 a:hover {
	background-image: url(/clients/DomaTheatre/Images/btn-topnav.jpg);
	background-repeat: no-repeat;
	background-position: 0px -86px;
	
}

#list2 a:hover {
	background-image: url(/clients/DomaTheatre/Images/btn-topnav.jpg);
	background-repeat: no-repeat;
	background-position: -114px -86px;
}

#list3 a:hover {
	background-image: url(/clients/DomaTheatre/Images/btn-topnav.jpg);
	background-repeat: no-repeat;
	background-position: -228px -86px;
}

#list4 a:hover {
	background-image: url(/clients/DomaTheatre/Images/btn-topnav.jpg);
	background-repeat: no-repeat;
	background-position: -342px -86px;
}

#list5 a:hover {
	background-image: url(/clients/DomaTheatre/Images/btn-topnav.jpg);
	background-repeat: no-repeat;
	background-position: -456px -86px;
}

#list6 a:hover {
	background-image: url(/clients/DomaTheatre/Images/btn-topnav.jpg);
	background-repeat: no-repeat;
	background-position: -570px -86px;
}

#list7 a:hover {
	background-image: url(/clients/DomaTheatre/Images/btn-topnav.jpg);
	background-repeat: no-repeat;
	background-position: -684px -86px;
}






/*----------------------------------Content----------------------------------*/
#ContentWrapper {
	width:800px;
	margin: 0px;
	padding: 0px;
	background-image: url(/clients/DomaTheatre/Images/bg-ContentWrapper.gif);
	background-repeat: repeat-y;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
	height: auto;
}

#ContentMain {
	width: 570px;
	padding: 0px;
	float: left;
}

#ContentMain .top {
	padding:0px;
	margin:0px;
	height: auto;

}


#ContentMain .top .navsub{
	margin: 0px;
	padding: 0px;
	width: 100%;
}
#ContentMain .top .navsub ul{
	height: 45px;
	background-color: #d2d2d2;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
#ContentMain .top .navsub ul li{
	display: inline;
	font-family: Arial, Helvetica, sans-serif;


}
#ContentMain .top .navsub ul li a{
	float: left;
	color: #000000;
	text-decoration: none;
	padding-top: 0px;
	padding-right: 5px;
	padding-bottom: 0px;
	padding-left: 13px;
	line-height: 45px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	margin-left: 0px;
	transition-duration:1s;
	-webkit-transition-duration:1s;
	-moz-transition-duration:1s;
}
	
#ContentMain .top .navsub ul li a:visited{

}
#ContentMain .top .navsub ul li a:hover{
	text-decoration: none;
	color: #000000;
	background-color:#ecebeb;
	transition-duration:1s;
	-webkit-transition-duration:1s;
	-moz-transition-duration:1s;
}
#ContentMain .top .navsub ul .selected{
	float: left;
	color: #000000;
	background-color:#ecebeb;
	text-decoration: none;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	line-height: 45px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	margin-left: 0px;
	background-image: url(/clients/DomaTheatre/Images/bg-arrow-selected.png);
	background-repeat: no-repeat;
	background-position: center top;
}



-------------

#ContentMain .top .navsub2{
	margin: 0px;
	padding: 0px;
	width: 100%;
}
#ContentMain .top .navsub2 ul{
	height: 67px;
	background-color: #A30001;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	background-image: url(/clients/DomaTheatre/Images/bg-shows-nav.jpg);
	background-repeat: repeat-x;
}
#ContentMain .top .navsub2 ul li{
	display: inline;
	font-family: Arial, Helvetica, sans-serif;


}
#ContentMain .top .navsub2 ul li a{
	float: left;
	color: #FFFFFF;
	text-decoration: none;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 13px;
	line-height: 67px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	margin-left: 0px;
	transition-duration:1s;
	-webkit-transition-duration:1s;
	-moz-transition-duration:1s;
}
	
#ContentMain .top .navsub2 ul li a:visited{

}
#ContentMain .top .navsub2 ul li a:hover{
	text-decoration: none;
	color: #FFFFFF;
	background-color:#ecebeb;
	transition-duration:1s;
	-webkit-transition-duration:1s;
	-moz-transition-duration:1s;
	background-image: url(/clients/DomaTheatre/Images/bg-shows-nav-over.jpg);
	background-repeat: repeat-x;
}
#ContentMain .top .navsub2 ul .selected{
	float: left;
	color: #FFFFFF;
	background-color:#000000;
	text-decoration: none;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	line-height: 45px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	margin-left: 0px;
	background-image: url(/clients/DomaTheatre/Images/bg-arrow-selected.png);
	background-repeat: no-repeat;
	background-position: center top;
}















#ContentMain .info{
	color: #FFFFFF;
	font-size: 0.9em;
	font-family: Arial, Helvetica, sans-serif;
	padding-top: 10px;
	padding-right: 13px;
	padding-bottom: 13px;
	padding-left: 13px;
}

#ContentMain .info .about{
	margin-bottom: 30px;

}
#ContentMain .info .about img {
	float: left;
	margin-right: 10px;
}



#ContentMain .info a:link{
	color: #999900;

}
#ContentMain .info a:visited{
	color: #999900;

}
#ContentMain .info a:hover{
	color: #999900;
	text-decoration:none;

}
#ContentMain .info a:active{
	color: #999900;

}


#ContentMain .info h1 {
	font-size: 1.6em;
	display: block;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #d2d2d2;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 6px;
	padding-left: 0px;
	margin-top: 12px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
	font-weight: normal;
	color: #d2d2d2;
}

#ContentMain .info h2 {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 1.4em;

}

#ContentMain .info .cast{
	display:block;
	margin-bottom:30px;
	clear: left;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
	height: auto;
	width: auto;
	min-height:150px;
	-min-height:150px;
	
}
#ContentMain .info .cast p {
	padding-left: 120px;
}

#ContentMain .info .cast img{
	display:block;
	float: left;
	margin-right: 10px;
	border: 1px solid #666666;
	height: 150px;
	width: 105px;
}

#ContentMain .frametop {
	width: 260px;
	margin-right:12px;
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	float: left;
	height: 515px;
}
#ContentMain .frametop a:link{
	text-decoration: underline;
	color:#999900;
	font-style: italic;
}
#ContentMain .frametop a:visited{
	text-decoration: underline;
	color: #999900;
	}

#ContentMain .frametop a:hover{
	text-decoration: none;
	}

#ContentMain .frametop a:active{
	text-decoration: underline;
	
}





#ContentMain .frame {
	width: 260px;
	margin-right:12px;
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 15px;
	margin-left: 0px;
	float: left;
	height: 400px;
}


#ContentMain .frame img {
	box-shadow: 3px 7px 15px #000;
	-moz-box-shadow: 3px 7px 15px #000;
	-webkit-box-shadow: 3px 7px 15px #000;
	margin-top: 10px;
}
#ContentMain .frame .title{
	display: block;
	font-size:1.4em;
	text-transform: uppercase;
	margin-top:12px;
}
#ContentMain .frame .title2{
	display: block;
	font-size:1.1em;
}

#ContentMain .frame a:link{
	text-decoration: underline;
	color:#999900;
	font-style: italic;
}
#ContentMain .frame a:visited{
	text-decoration: underline;
	color: #999900;
	}

#ContentMain .frame a:hover{
	text-decoration: none;
	}

#ContentMain .frame a:active{
	text-decoration: underline;
	
}

a.passionlink {
	width: 254px;
	height: 383px;
	display: block;
	background-image: url(/clients/DomaTheatre/Images/graphic-index-passion.jpg);
	background-repeat: no-repeat;
	background-position: right top;
	box-shadow: 3px 7px 15px #000;;
	-moz-box-shadow: 3px 7px 15px #000;
	-webkit-box-shadow: 3px 7px 15px #000;
	margin-top:10px;


	}

a.passionlink span {
        display: none; 
}

a.passionlink:hover {
	background-image: url(/clients/DomaTheatre/Images/graphic-index-passion.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}


a.jacqueslink {
	width: 254px;
	height: 383px;
	display: block;
	background-image: url(/clients/DomaTheatre/Images/graphic-index-jacques.jpg);
	background-repeat: no-repeat;
	background-position: right top;
	box-shadow: 3px 7px 15px #000;;
	-moz-box-shadow: 3px 7px 15px #000;
	-webkit-box-shadow: 3px 7px 15px #000;
	margin-top:10px;
}

a.jacqueslink span {
        display: none; 
}

a.jacqueslink:hover {
	background-image: url(/clients/DomaTheatre/Images/graphic-index-jacques.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}




a.playgroundlink {
	width: 254px;
	height: 383px;
	display: block;
	background-image: url(/clients/DomaTheatre/Images/graphic-index-the-playground.jpg);
	background-repeat: no-repeat;
	background-position: right top;
	box-shadow: 3px 7px 15px #000;;
	-moz-box-shadow: 3px 7px 15px #000;
	-webkit-box-shadow: 3px 7px 15px #000;
	margin-top:10px;
}

a.playgroundlink span {
        display: none; 
}

a.playgroundlink:hover {
	background-image: url(/clients/DomaTheatre/Images/graphic-index-the-playground.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}




a.tiktikboomlink {
	width: 254px;
	height: 383px;
	display: block;
	background-image: url(/clients/DomaTheatre/Images/graphic-index-tick-tick-boom.jpg);
	background-repeat: no-repeat;
	background-position: right top;
	box-shadow: 3px 7px 15px #000;;
	-moz-box-shadow: 3px 7px 15px #000;
	-webkit-box-shadow: 3px 7px 15px #000;
	margin-top:10px;
}

a.tiktikboomlink span {
        display: none; 
}

a.tiktikboomlink:hover {
	background-image: url(/clients/DomaTheatre/Images/graphic-index-tick-tick-boom.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}





a.nightmarelink {
	width: 254px;
	height: 383px;
	display: block;
	background-image: url(/clients/DomaTheatre/Images/graphic-index-nightmare.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	box-shadow: 3px 7px 15px #000;;
	-moz-box-shadow: 3px 7px 15px #000;
	-webkit-box-shadow: 3px 7px 15px #000;
	margin-top:10px;


	}

a.nightmarelink span {
        display: none; 
}

a.nightmarelink:hover {
	background-image: url(/clients/DomaTheatre/Images/graphic-index-nightmare.jpg);
	background-repeat: no-repeat;
	background-position: right top;
}




a.vroomlink {
	width: 254px;
	height: 383px;
	display: block;
	background-image: url(/clients/DomaTheatre/Images/graphic-index-vroom.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	box-shadow: 3px 7px 15px #000;;
	-moz-box-shadow: 3px 7px 15px #000;
	-webkit-box-shadow: 3px 7px 15px #000;
	margin-top:10px;


	}

a.vroomlink span {
        display: none; 
}

a.vroomlink:hover {
	background-image: url(/clients/DomaTheatre/Images/graphic-index-vroom.jpg);
	background-repeat: no-repeat;
	background-position: right top;
}



a.cabaretlink {
	width: 249px;
	height: 375px;
	display: block;
	background-image: url(/clients/DomaTheatre/Images/graphic-index-frame-links.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	box-shadow: 3px 7px 15px #000;;
	-moz-box-shadow: 3px 7px 15px #000;
	-webkit-box-shadow: 3px 7px 15px #000;
	margin-top:10px;


	}

a.cabaretlink span {
        display: none; 
}

a.cabaretlink:hover {
	background-image: url(/clients/DomaTheatre/Images/graphic-index-frame-links.jpg);
	background-repeat: no-repeat;
	background-position: left bottom;
}

a.pippinlink {
	width: 249px;
	height: 375px;
	display: block;
	background-image: url(/clients/DomaTheatre/Images/graphic-index-frame-links.jpg);
	background-repeat: no-repeat;
	background-position: right top;
	box-shadow: 3px 7px 15px #000;;
	-moz-box-shadow: 3px 7px 15px #000;
	-webkit-box-shadow: 3px 7px 15px #000;
	margin-top:10px;

	}

a.pippinlink span {
        display: none; 
}

a.pippinlink:hover {
	background-image: url(/clients/DomaTheatre/Images/graphic-index-frame-links.jpg);
	background-repeat: no-repeat;
	background-position: right bottom;
}


a.donatelink {
	width: 162px;
	height: 83px;
	display: block;
	background-image: url(/clients/DomaTheatre/Images/btn-donate.png);
	background-repeat: no-repeat;
	background-position: center top;
	padding-bottom: 0px;
	padding-left: 0px;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}

a.donatelink span {
        display: none; 
}

a.donatelink:hover {
	background-image: url(/clients/DomaTheatre/Images/btn-donate.png);
	background-repeat: no-repeat;
	background-position: center bottom;
}

.shows {
	width:100%;
	height: 83px;

}
.showscategory {
	width: 165px;
	float: left;
	margin-right: 15px;
	margin-top: 18px;
	height: 200px;
}
.showscategory img {
	height: 165px;
	width: 165px;
	margin-bottom: 8px;
}

.showscategory a:link{
	text-decoration: none;
	font-size: 18px;
	font-weight: normal;
}
.showscategory a:visited{
	text-decoration: none;
}
.showscategory a:hover{
	text-decoration: underline;
}
.showscategory a:active{
	text-decoration: none;
}


a.showscabaret {
	width: 159px;
	height: 83px;
	display: block;
	background-image: url(/clients/DomaTheatre/Images/btn-shows-link.png);
	background-repeat: no-repeat;
	background-position: left top;
	float:left;
	margin-left:10px;
}

a.showscabaret span {
        display: none; 
}

a.showscabaret:hover {
	background-image: url(/clients/DomaTheatre/Images/btn-shows-link.png);
	background-repeat: no-repeat;
	background-position: left bottom;
}
a.showspippin {
	width: 159px;
	height: 83px;
	display: block;
	background-image: url(/clients/DomaTheatre/Images/btn-shows-link.png);
	background-repeat: no-repeat;
	background-position: right top;
	float:left;
	margin-left:10px;
}
.showspippinover {
	width: 159px;
	height: 83px;
	display: block;
	background-image: url(/clients/DomaTheatre/Images/btn-shows-pippin-over.png);
	background-repeat: no-repeat;
	float:left;
	margin-left:10px;
}
.showscabaretover {
	width: 159px;
	height: 83px;
	display: block;
	background-image: url(/clients/DomaTheatre/Images/btn-shows-cabaret-over.png);
	background-repeat: no-repeat;
	float:left;
	margin-left:10px;
}

a.showspippin span {
        display: none; 
}

a.showspippin:hover {
	background-image: url(/clients/DomaTheatre/Images/btn-shows-link.png);
	background-repeat: no-repeat;
	background-position: right bottom;
}




.press {
	float: left;
	width: 217px;
	margin-right: 32px;
	height: 175px;
	margin-top: 15px;
}
.press img {
	width:215px;
	height:67px;
	border:1px #333333 solid;
}

.press a:link {

}
.shadow {
	box-shadow: 3px 7px 15px #000;
	-moz-box-shadow: 3px 7px 15px #000;
	-webkit-box-shadow: 3px 7px 15px #000;
}

.gallerythumb {
	width:175px;
	height:175px;

}

/*----------------------------------Right Column--------------------------------*/

#RightCol {
	width:230px;
	margin-left:570px;
	height: auto;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;


}

#RightCol .info{
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}

#RightCol h1 {

}

#RightCol h2 {

}



#RightCol .newsletter {
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
	width:210px;
	height:110px;
	text-align: center;
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.1em;
	padding-top: 15px;
	border-radius: 7px;
	background-image: url(/clients/DomaTheatre/Images/bg-newsletter.png);
	background-repeat: no-repeat;

}

#RightCol .newsletter form{
	width: 190px;
	text-align: center;
}

#RightCol .newsletter .field{
	height: 25px;
	width: 170px;
	background-image: url(/clients/DomaTheatre/Images/bg-newsletter-form.jpg);
	background-repeat: repeat-x;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	padding: 3px;
	margin: 7px;

}

#RightCol .calendar {
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
	;
	width:210px;
	height:89px;
	background-repeat: no-repeat;
	text-align: center;
	padding-top: 5px;
	font-size: 12px;
}
#RightCol .info .calendar strong {
	font-size: 22px;
	color: #BF1E2E;
}


#RightCol .varietyshow {
	margin-top: 20px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
	width:194px;
	height:165px;
	background-color:#282828;
	background-repeat: no-repeat;

}


#RightCol .facebook {
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
	width:194px;
	background-color: #FFFFFF;
}

#RightCol .featuredevent {
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
	width:194px;
	height:60px;
	background-color:#E90000;
	background-repeat: repeat-x;
	color: #FFFFFF;
	text-align: center;
	font-size: 22px;
	font-family: "Century Gothic", Arial;
	padding-top: 0px;
	background-image: url(/clients/DomaTheatre/Images/bg-featuredevent.jpg);
	text-transform: lowercase;
}

#RightCol .featuredevent a:link{
	color: #FFFFFF;
	text-transform: uppercase;
	font-size: 21px;
	font-weight: bold;
	text-decoration: none;
	font-style: normal;
	display: block;
}
#RightCol .featuredevent a:visited{
	color: #FFFFFF;
	text-transform: uppercase;
	font-size: 21px;
	font-weight: bold;
	text-decoration: none;
	font-style: normal;
	display: block;
}
#RightCol .featuredevent a:hover{
	color: #000000;
	text-transform: uppercase;
	font-size: 21px;
	font-weight: bold;
	text-decoration: none;
	font-style: normal;
	display: block;
}
#RightCol .featuredevent a:active{
	color: #FFFFFF;
	text-transform: uppercase;
	font-size: 21px;
	font-weight: bold;
	text-decoration: none;
	font-style: normal;
	display: block;
}




.divider {

}


/*----------------------------------footer----------------------------------*/

#footer {
	width:800px;
	height:106px;
	background-image: url(/clients/DomaTheatre/Images/bg-footer.jpg);
	background-repeat: repeat-x;
	clear: both;

}
#footer a:link{
	color: #FFFFFF;
	text-decoration: none;
}
#footer a:visited{
	color: #FFFFFF;
	text-decoration: none;
}
#footer a:hover{
	color: #FFFFFF;
	text-decoration: underline;
}
#footer a:active{
	color: #FFFFFF;
	text-decoration: none;
}


#footer .left {
	float:left;
	padding-top: 15px;
	padding-left: 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	color: #FFFFFF;
}

#footer .left a:link{
	color: #FFFFFF;
	text-decoration: none;
}
#footer .left a:visited{
	color: #FFFFFF;
	text-decoration: none;
}
#footer .left a:hover{
	color: #FFFFFF;
	text-decoration: underline;
}
#footer .left a:active{
	color: #FFFFFF;
	text-decoration: none;
}

#footer .right {
	float:right;
	padding-top: 15px;
	padding-right: 15px;

}

#footer .goliath {
	width:800px;
	line-height: 30px;
	margin-top: auto;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	background-color: #282828;
	clear: both;
	text-align: center;
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;

}
