body {margin:0; padding:0; background:url(/clients/culturehouse/images/top2.jpg) repeat-x top left #6F7658;}
div {
	padding-top: 5pt;
}
div, img {
	border:0;
	border-collapse:collapse;
}
div, form, p, ul, li, h1, h2, h3, dl, dt, dd { margin:0; padding:0;}
div, p, a, h1, h2, {
	color:#000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 21px;
	text-align: left;
}

a, .hed_top a:hover, .box ul li a:hover,.ban a:hover {text-decoration: underline;}
a:hover, .hed_top a, .menu ul li a, .menu ul li a:hover, .box ul li a,.ban a {text-decoration: none;}

.left {
	float:left;
	width: 190px;
}
.right { float:right;}
.clear {clear: both;}

.hed {width:100%;} 
.top {width:100%;} 
.cont {width:100%;} 
.foot {width:100%;}
.hed, .cont1, .foot1 .menu {
	width:780px;
}

.glob {background:url(/clients/culturehouse/images/hed.gif) repeat-x 0 139px;}

.hed {background:url(/clients/culturehouse/images/top.jpg) no-repeat top left;}
.hed_top {padding:37px 0px 35px 38px;}
.hed_top p {color:#719022; border-bottom:1px solid #084903;padding:0px 0px 7px 0px;margin-left:152px;}

.menu {height:57px;}
.menu ul {list-style:none;margin:0px 0px 0px 11px;}
.menu ul li { float:left; vertical-align:top;padding:0px 0px 0px 0px;margin:0px 0px 0px 0px;}
.menu ul li a { display:block; font-weight:bold; font-size:12px; color:#333333;height:30px;padding:20px 0px 0px 0px; text-align:center;}
.menu ul li a:hover {color:#FFFFFF;background:url(/clients/culturehouse/images/n4.gif);}

	.menu ul li.nn1 a {background:url(/clients/culturehouse/images/nn1.gif);width:64px;}
	.menu ul li.nn1 a:hover {background:url(/clients/culturehouse/images/nn1n.gif);}

	.menu ul li.nn2 a {background:url(/clients/culturehouse/images/nn2.gif);width:70px;}
	.menu ul li.nn2 a:hover {background:url(/clients/culturehouse/images/nn2n.gif);}

	.menu ul li.nn3 a {background:url(/clients/culturehouse/images/nn3.gif);width:62px;}
	.menu ul li.nn3 a:hover {background:url(/clients/culturehouse/images/nn3n.gif);}

	.menu ul li.nn4 a {background:url(/clients/culturehouse/images/nn4.gif);width:78px;}
	.menu ul li.nn4 a:hover {background:url(/clients/culturehouse/images/nn4n.gif);}

	.menu ul li.nn5 a {background:url(/clients/culturehouse/images/nn5.gif);width:77px;}
	.menu ul li.nn5 a:hover {background:url(/clients/culturehouse/images/nn5n.gif);}

	.menu ul li.nn6 a {background:url(/clients/culturehouse/images/nn6.gif);width:86px;}
	.menu ul li.nn6 a:hover {background:url(/clients/culturehouse/images/nn6n.gif);}

	.menu ul li.nn7 a {background:url(/clients/culturehouse/images/nn7.gif);width:69px;}
	.menu ul li.nn7 a:hover {background:url(/clients/culturehouse/images/nn7n.gif);}

	.menu ul li.nn8 a {background:url(/clients/culturehouse/images/nn8.gif);width:90px;}
	.menu ul li.nn8 a:hover {background:url(/clients/culturehouse/images/nn8n.gif);}

	.menu ul li.nn9 a {background:url(/clients/culturehouse/images/nn9.gif);width:85px;}
	.menu ul li.nn9 a:hover {background:url(/clients/culturehouse/images/nn9n.gif);}

.cont { background-color:#FFFFFF;padding:4px 0px 10px 6px;}

.cont a { color:#0099CC;}


.cont h1, .center h2 {
	display:block;
	font-size:12px;
	color:#333333;
	padding:3px 0px 9px 0px;
	border-bottom:2px solid #CCCCCC;
}

.cont .box {
	width:180px;
	border:1px solid #DEDFD4;
}

.box ul {width:158px;margin:3px 0px 0px 7px;}
.box ul li { list-style:none; border-bottom:1px solid #E5E5E5;padding:5px 0px 3px 0px;}
.box ul li.bd { border:none;}
.box ul li a {font:12px Tahoma, Arial, Geneva, sans-serif;color:#333333; border-left:2px solid #FF6633;padding:0px 0px 0px 12px;margin:0px 0px 0px 9px;}

.center {
	width:350px;
	border-left:1px solid #C8CAC2;
	border-right:1px solid #C8CAC2;
	margin:0px 0px 0px 7px;
}
.center h1 { border: none;}
.center img.m {margin:0px 0px 10px 0px;}
div.p {padding:0px 10px 10px 17px;}
.center div h2 { border-color:#8BC200;margin:10px 0px 8px 0px;}
.center p.bord { clear:both; border-top:1px dashed #999999;margin:7px 0px 0px 0px;padding:5px 0px 0px 0px;}

.center2 {width:525px; border-right: none;}

.m1 {margin:10px 0px 0px 0px;}
.m1 a {margin:14px 0px 0px 0px; display:block;}
.m1 span a { display:block;margin:0px 0px 6px 0px;}

div.hr {border-bottom:1px solid #C8CAC3;}

.rh {
	width:225px;
}
.rh div.p {padding:0px 0px 0px 17px;}
.rh h1 {
	border-color:#FFF;
	margin:10px 0px 8px 0px;
}
.rh dt { color:#FF6633; font-weight:bold;margin:7px 0px 0px 0px;}
.rh dd { border-bottom:1px dashed #999999;padding:5px 0px 10px 0px;}
.rh dd.bn { border:none;}
.rh img {margin:0px 0px 0px 6px;}

.box1 {
	width:230px;
	padding:0px 16px 0px 0px;
	border-right:1px solid #C8CAC2;
}
.box1 span { display:block;margin:13px 0px 18px 0px;}
.box1 span a { display:block;margin:0px 0px 6px 0px;}

.box3 {padding:3px 0px 0px 25px;width:825px;}
.box3 h1 {
	border-bottom: none;
	color: #69AB00;
	text-align: left;
}
.box3 a { color:#69AB00;}


.box2 {
	width:231px;
	padding:0px 0px 0px 18px;
}
.box2 p {margin:10px 0px 20px 0px;}


.ban { width:187px;border:1px solid #339900;padding:0px 0px 13px 0px;margin:0px 0px 6px 6px;}
.ban h3 { display:block; font-size:21px; color:#FFFFFF; background:#339900;padding:11px 0px 7px 11px;margin:0px 0px 11px 0px;}
.ban a { display:block; color:#666666;background:url(/clients/culturehouse/images/w4.gif) no-repeat left;padding:0px 0px 0px 22px;margin:0px 0px 0px 15px; font-size:11px; font-weight:bold;}

.foot {background:url(/clients/culturehouse/images/f.gif) repeat-x top;}
.foot1 {padding:17px 0px 20px 29px; color:#494E37;}
.foot1 span {padding:0px 29px 0px 0px;}
.foot1 p {
	margin:4px 0px 0px 0px;
	color:#B5BB9F;
}
.foot1 a, .foot1 span, .hed_top a { font-weight:bold; color:#FFFFFF; line-height:14px;}
<img src="link1.gif" height="45" width="193" border="0">
#formc #panel1 table tr .ee112 p {
	text-align: center;
}
