/* Body Text */

.geobase-accordion div.content div.accordion {
max-height: none !important;
}

body {font-family: "Arial, Helvetica Neue", Helvetica, sans-serif;}
@media (min-width:600px) {#landing-container {margin-top:20px;}}


/*Header*/
.logo-wrapper a.logo img {max-height:120px;}
.navbar .navbar-inner, .navbar .branding {background:#fff; background-image:none;}
@media (min-width:980px) {
header .branding.row-fluid {height:150px;}
header#header .navbar-inner .logo-wrapper {position:absolute; top:10px; left:-20px}
#eyebrow-list li span {padding-right:5px;}
}

/*Main Naviagation*/
@media (min-width:980px) {
header.navbar nav.nav-container {border:none;}
header.navbar #menu-parent-row nav.nav-container .nav-wrapper .nav > li div.menu-item-wrapper > a {text-transform:uppercase; color:#fff; font-family: 'Roboto', sans-serif; font-weight:normal; font-size:110%;}
}

/*topics Naviagation*/
@media (min-width:980px) {
#third-level-menu-list-large  {font-size:80%; }
#third-level-menu-list-large .menu-item-wrapper  a {padding: 4px 4px 6px; color:#000; text-shadow:none; font-family: 'Roboto', sans-serif;}
#third-level-menu-list-large .menu-item-wrapper #menu_1827 {font-weight: bold; cursor: default;}
.navbar .nav > li.dropdown:hover > div.menu-item-wrapper > a:hover {text-shadow:none;}
.navbar .nav > li.dropdown:hover > div.menu-item-wrapper > a {border-top:none;border-radius:0 0 0 0;text-decoration:none;text-shadow:none;}
#menu_1827 a {font-weight: bold; cursor: default;}
}}

/*Module Styles*/
a {color:#bb141b;}
.module {margin-bottom:30px; border-bottom:none;}
.module h2 {font-family: 'Roboto', sans-serif; padding:3px; text-transform: uppercase; font-weight:bold; margin-bottom:15px; font-size:140%;color:#000; border-bottom:1px solid #ccc;}
.module h2 .btn {background:transparent; border:none; box-shadow:none; padding:0px; margin-right:4px; color:#666; font-weight:normal;}
.module h3 a {font-family: Helvetica, sans-serif; font-size:120%; line-height:100%; font-weight:normal; color:#bb141b;}
.module .article-content {font-size:110%; line-height:90%; color:#666;}
.read_more {display:none;}
#cde h2 {display:none;}
#cde .module {margin-bottom:30px;}
#featured-links .article-item {padding-bottom:15px;}
.article-list.grid .articles, .gallery-list.grid .articles {background:#fff;}
.module .summary {display:table;}
.most-viewed.module li a {font-family: 'Monda', sans-serif; font-size:120%; line-height:100%; font-weight:normal; color:#bb141b;}
.most-viewed ol li {border:none;}
iframe.rad_iframe {min-height: 300px;}

.social-media.module {margin-top:10px;}

.social-media.module .content .btn {margin-right:15px;}

/*Home Page Top Story*/
#home-topstory h2 {display:none;}
#home-topstory .article-item .article-link-bottom {display:none;}
#home-topstory  .article-content {font-size:115%; text-align:center;}
#home-topstory  .summary {display:block;}
#home-topstory h3 a {font-family: 'Monda', sans-serif; font-size:150%; line-height:100%; font-weight:normal;}
#home-topstory .data-picture-block {width:92%; margin:0px auto;}
.carousel-default .content .scrollable .items div.slide div.slide-item div.slide-article-text h4 a {font-family: 'Monda', sans-serif; font-size:130%; line-height:130%; font-weight:normal; color:#bb141b;}


.monthly-view.full_view div.content div#calendar_4.monthly-calendar div.monthly_calendar_wrapper div.eventsContainer div.dayevents div.accordion {overflow: auto;height: 100%;max-height: none;}
.monthly-calendar .accordion {height: 250px; overflow: scroll;}

/*Article Customizations*/
.article.page-content {font-family: 'Georgia', Arial,Helvetica,sans-serif; font-size:115%; line-height:160%;}
.article.page-content li {font-family: 'Georgia', Arial,Helvetica,sans-serif; font-size:100%; line-height:160%;}
#article-container .article h1.article-title {font-family:Trebuchet MS,Arial; font-size:200%; margin-top:50px; font-weight:normal}
#article-container .article .by-line {font-family:'Georgia',Trebuchet MS,Arial; color:#BF1623; font-size:95%; text-transform:none; font-weight:normal!important; letter-spacing:0px;}
#article-container .article #article-image {float:none; margin-bottom:20px;}
#article-container .page-content p a {color:#cf2a24;}
#article-container .article h3.deck {font-size:130%; font-family: Trebuchet MS,Arial,Helvetica,sans-serif; font-weight:normal;}
#article-container .article .photo-credit {color: #666; font-size: 10px; line-height: 1.3em; font-family: Arial, Helvetica, sans-serif; font-weight: normal; text-transform:uppercase;}
#article-container .article .photo-description {font-size: 12px; font-weight: normal; color: #333333; line-height: normal; margin-top: 5px; margin-bottom: 0pt; font-style: italic; font-family: 'Georgia', Arial,Helvetica,sans-serif;}

#navigation-layer .nav a {font-family:'Benton Sans RE',arial,sans-serif;font-weight:bold; }
header.navbar #menu-parent-row nav.nav-container .nav-wrapper .nav > li div.menu-item-wrapper > a.on {background-color:#000!important; background-image:none;}

#fbcomments, .fb_iframe_widget, .fb_iframe_widget[style], .fb_iframe_widget iframe[style], .fb_iframe_widget span[style], #fbcomments iframe[style]  {
width: 100% !important;
}


/*Calendar List*/
ul.calendar-events-list li h4 a {font-family: 'Monda', sans-serif; font-size:110%; line-height:110%;color:#bb141b; font-weight:normal;}
ul.calendar-events-list li {color:#666;}

/* Calendar */
#page_htmlid_12164 h1.page-title {font-size:18px;}
.calendar-results .event-listing h2 a {color: black !important;}

/*Article Archive - Remove Issue Column*/
.article-archive .media .issue {display:none;}

/*Current Issue Module*/
.current-issue-archive {background:#efefef; padding:3px; width:80%; margin-top:20px;text-align:center; font-weight:bold; border-radius:4px;}
.current-issue-archive a {color:#bb141b;}
.current-issue-links a {font-family: 'Monda', sans-serif; font-weight:normal; color:#bb141b; font-size:12px;}
.current-issue-links h3 a {font-family: 'Monda', sans-serif; font-weight:normal; color:#bb141b; font-size:12px;}
.current-issue h4 a{font-size:16px; margin: 10%;}
.current-issue .current-issue-links .content{border: none;}
.current-issue table td {padding:5px 10px;; text-align:center;border:solid 1px #CCC;}
.current-issue h4 {font-size: 16px;}
.current-issue .content {max-width:400px; border: 1px solid #ccc; padding: 5px; border-radius:5px;}
.current-issue .subscribe-links  {margin-top:20px; clear: both;}
.current-issue .subscribe-links .btn {background:#bb141b;margin-right:8px; margin-bottom:5px; border:1px solid #ccc;}
.current-issue .subscribe-links .btn a {color:#fff;}
/*.current-issue #module_htmlid_777 {width:45%}*/


@media (min-width:700px) {
.current-issue-image { padding:10px;}
.current-issue-links {width:55%; float:right;}
}
@media (max-width:699px) {
.current-issue-image {width:130px; border:1px solid #ccc; border-radius:3px; padding:10px;}

}

/* Issue Page */
#issue-container .issue-cover {padding-bottom:20px;}

/*Newsletter Sign Up*/
.newsletter-signup .content {border:1px solid #ccc; padding:10px; border-radius:4px;}
.newsletter-signup #sign_up_email_address_label {font-size:16px; font-weight:bold;}

p.photo-credit {
	padding-bottom:10px;
}

.links_notitle h3 {
	display:none;
}


.noborder .article-item{
	border: none !important;
}

.photoFader-gallery img {
	padding-bottom:10px;
	margin-top:-10px !important;
	
}

.subscribe-fc .content p {
	border: #e5e5e5 solid 1px;
	padding:5px 10px;text-decoration:none;color:inherit;font-weight:bold;display:block;background:#fff;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;
	background-color:#fff;
}

.subscribe-fc .content a {
	color: #000;
	font-size:105%;
	font-weight:bold
}

.subscribe-fc .content a:hover{color:#545454;text-decoration:none;}

.hiddeninfo.module h3
{
	display:none;
}

.hiddeninfo.module ul {
	display:none;
	}

/*Content List Archive*/
.archive  .articles {
	padding-top:50px !important;
}

/* Text Overlay Splash*/
.sg-splash-bottom-menu {
    position:relative;
    overflow:hidden;
    width:100%;
}
.sg-splash-bottom-menu .pagination ul {
    display:block;
    margin-left: -25px;
}
.sg-splash-bottom-menu .imageContainerSpace {
    position:relative;
    padding:0px;
    margin:0px;
}
.sg-splash-bottom-menu .imageContainer {
    position:relative;
}
.sg-splash-bottom-menu .imageContainer .galleryImage {
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:auto;
}
.sg-splash-bottom-menu .imageContainer a img {
    width:100%;
    height:auto;
}
.sg-splash-bottom-menu .galleryMenuSpace {
    position:absolute;
    background-color:#FFF;
    padding:5px 5px 0 48%;
    margin:0px;
    min-height:0px !important;
    bottom:0px;
    left:0px;
    right:0px;
    width: 100px !important;
}
.sg-splash-bottom-menu .galleryMenu {
    text-align:center;
    height:auto;
    width:auto;
}
.sg-splash-bottom-menu .galleryMenuSpace .galleryMenuNavigation, .sg-splash-bottom-menu .galleryMenu .galleryMenuItem {
    cursor:pointer;
    float:left;
    display:block;
    margin-left:5px;
    margin-bottom:5px;
}
.sg-splash-bottom-menu.sg-option-controls.sg-option-descriptions.sg-option-menu .controls {
    bottom: 0;
    right: 0;
    width: 100%;
}
.sg-splash-bottom-menu.sg-option-menu.sg-option-controls .controls i.icon-chevron-left {
    background-image: url('/images/splash/previous-off.png');
    background-position: top;
    height: 34px;
}
.sg-splash-bottom-menu.sg-option-menu.sg-option-controls .controls i.icon-chevron-left:hover {
    background-image: url('/images/splash/previous-on.png');
    background-position: top;
    height: 34px;
}
.sg-splash-bottom-menu.sg-option-menu.sg-option-controls .controls i.icon-chevron-right {
    background-image: url('/images/splash/next-off.png');
    background-position: top;
    height: 34px;
}
.sg-splash-bottom-menu.sg-option-menu.sg-option-controls .controls i.icon-chevron-right:hover {
    background-image: url('/images/splash/next-on.png');
    background-position: top;
    height: 34px;
}
.sg-splash-bottom-menu.sg-option-menu.sg-option-controls .controls button.next {
    position:absolute;
    right:0;
    background-image: none;
    background-color: transparent;
    height: 34px;
    }
.sg-splash-bottom-menu.sg-option-menu.sg-option-controls .controls button.previous {
    background-image: none;
    background-color: transparent;
    height: 34px; 
}
.sg-splash-bottom-menu.sg-option-menu.sg-option-controls .controls.btn-group {
    width: 100%;
}
.sg-splash-bottom-menu.sg-option-menu.sg-option-controls .controls .btn {
    box-shadow: none;
}
.sg-splash-bottom-menu.sg-option-controls.sg-option-captions,
.sg-splash-bottom-menu.sg-option-controls.sg-option-photocredits,
.sg-splash-bottom-menu.sg-option-controls.sg-option-descriptions {
    padding-bottom: 75px;
}
.sg-splash-bottom-menu .playpause {
    display: none;
}
.sg-splash-bottom-menu .galleryMenuSpace .galleryMenuNavigation .galleryMenuItemInner, .sg-splash-bottom-menu .galleryMenu .galleryMenuItem .galleryMenuItemInner {
    font-size: 1px;
    line-height:2px;
    height:10px;
    width:10px;
    padding:0;
    text-align:center;
    display:block;
    color:#666;
    background-color:#666;
    border-radius: 10px;
    border:none;
}
.sg-splash-bottom-menu .galleryMenuSpace .galleryMenuNavigation .galleryMenuItemInner:hover, .sg-splash-bottom-menu .galleryMenu .galleryMenuItem .galleryMenuItemInner:hover {
    background-color:#000;
    text-decoration:none;
    color:#000!important;
}
.sg-splash-bottom-menu .galleryMenuSpace .galleryMenuNavigation.selected .galleryMenuItemInner, .sg-splash-bottom-menu .galleryMenuSpace .galleryMenuNavigation.selected .galleryMenuItemInner:hover, .sg-splash-bottom-menu .galleryMenu .galleryMenuItem.selected .galleryMenuItemInner, .sg-splash-bottom-menu .galleryMenu .galleryMenuItem.selected .galleryMenuItemInner:hover {
    background-color: #CCC;
    color:#000!important;
    border-radius: 20px;
}
.sg-splash-bottom-menu .contentContainerSpace {
    min-height:0 !important;
    margin-top:-74px;
}
.sg-splash-bottom-menu .contentContainerSpace .contentContainer {
    position:absolute;
    background-color: rgba(0,0,0,0.7);
    right:0px;
    padding-bottom:4px;
    padding-top: 10px;
    min-height:0px !important;
    width:100%;
    overflow:hidden;
}
.sg-splash-bottom-menu .contentContainerSpace .contentContainer .caption, .sg-splash-bottom-menu .contentContainerSpace .contentContainer .description {
    padding-left: 10px;
}
.sg-splash-bottom-menu .contentContainerSpace .contentContainer a {
    color:#FFF;
}
.sg-splash-bottom-menu .contentContainerSpace .contentContainer .galleryContent {
    position:absolute;
    color:#EAEAEA;
}
.sg-splash-bottom-menu .contentContainerSpace .contentContainer .galleryContent .caption {
    font-size:22px;
    margin-bottom:.25em;
    line-height:1em;
}
.sg-splash-bottom-menu .contentContainerSpace .contentContainer .galleryContent .photo-credit {
    margin-bottom:.25em;
    text-align:left;
    font-weight:bold;
}
   
.sg-splash-bottom-menu.sg-option-menu.sg-option-controls .controls button:last-child {
    margin-right:0;
}
@media (max-width: 319px) {
    .sg-splash-bottom-menu.sg-option-menu.sg-option-controls .galleryMenuSpace {
        padding-right:5px;
        padding-bottom:5px;
    }
}
@media (max-width: 979px) {
    .sg-splash-bottom-menu .contentContainerSpace .contentContainer {
        position:absolute;
        background-color: #000;
        right:0px;
        padding-bottom: 10px;
        min-height:0px !important;
        width:100%;
        overflow:hidden;
    }
    .sg-splash-bottom-menu, .sg-splash-bottom-menu.sg-option-menu, .sg-splash-bottom-menu.sg-option-menu.sg-option-controls {
        padding-bottom:60px;
    }
    .sg-splash-bottom-menu .galleryMenuSpace .galleryMenuNavigation .galleryMenuItemInner,
    .sg-splash-bottom-menu .galleryMenu .galleryMenuItem .galleryMenuItemInner,
    .sg-splash-bottom-menu.sg-option-menu .galleryMenuSpace .galleryMenuNavigation
    .galleryMenuItemInner, .sg-splash-bottom-menu.sg-option-menu .galleryMenu .galleryMenuItem .galleryMenuItemInner,
    .sg-splash-bottom-menu.sg-option-menu.sg-option-controls .galleryMenuSpace .galleryMenuNavigation .galleryMenuItemInner,
    .sg-splash-bottom-menu.sg-option-menu.sg-option-controls .galleryMenu .galleryMenuItem .galleryMenuItemInner {
        line-height:2px;
        height:10px;
        width:10px;
    }
    .sg-splash-bottom-menu .contentContainerSpace {
        min-height:0 !important;
        margin-top:-15px;
    }
}

/* Slideshow Byline fix*/
.article-list.mini-fader .photoFader-contentcontainer {padding-bottom:10px;}

/*Promo Link Highlights*/
.module .content .articles .link_advertisement.highlightyellow {
	background-color:#dbe06b;
}

.module .content .articles .link_advertisement.highlightgrey {
	background-color:#d6d3d6;
}

.poll .option {

    white-space: normal;
}

.social-media.module .content {
width: 100%;
padding-left: 10px;
margin: 0;
}


.spaces .content p {
	border: #e5e5e5 solid 1px;
	padding:5px 10px;text-decoration:none;color:inherit;font-weight:bold;display:block;background:#fff;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;
	background-color:#fff;
	margin-bottom:2px;
}

.spaces .content a {
	color: #000;
	font-size:105%;
	font-weight:bold
}

.spaces .content a:hover{color:#545454;text-decoration:none;}

.gallery-slideshow .slideshow-slide .slideshow-slide-metadata .slideshow-slide-description {
     display: block !important;
}