html{
	min-width:1003px; background:url(/clients/ChicagoRiotSoccer/Images/background_silver.gif); 
}
.mainimage { background:url(/clients/ChicagoRiotSoccer/Images/shadow_bkgd.gif); width:560px; padding-left:5px; }
body {
	margin:0;
	color:#444343;
	font:12px/14px Arial,Verdana,Tahoma, sans-serif;
	min-width:1003px;
	background:url(/clients/ChicagoRiotSoccer/Images/background.png) repeat-x top center;
}

a{
	color:#c11f2f;
	text-decoration:none;
}
a:hover {text-decoration:underline;}
#wrapper{
	width:100%;
	background:url(/clients/ChicagoRiotSoccer/Images/bg-wrap.gif) repeat-x;
}
.w1{
	width:1003px;
	background:url(/clients/ChicagoRiotSoccer/Images/skyline.png) 5px 1px no-repeat;
	margin:0 auto;
}
#header{
	height:1%;
	padding-bottom:31px;
}
#header:after{
	display:block;
	clear:both;
	content:"";
}
.header-nav{
	height:1%;
	overflow:hidden;
}
.header-nav .hold{
	float:right;
}
.header-nav .l{
	background:url(/clients/ChicagoRiotSoccer/Images/bg-header-nav-l.png) no-repeat;
	float:left;
	height:54px;
	width:34px;
}
.header-nav .r{
	background:url(/clients/ChicagoRiotSoccer/Images/bg-header-nav-r.png) no-repeat;
	float:left;
	height:54px;
	width:29px;
}
.header-nav .c{
	float:left;
	height:54px;
	float:left;
	background:url(/clients/ChicagoRiotSoccer/Images/bg-header-nav.png) repeat-x;
}
.header-nav ul{
	margin:0 -18px 0 19px;
	list-style:none;
	float:left;
	position:relative;
	padding:0;
}
.header-nav ul li{
	float:left;
	padding-right:27px;
}
.header-nav img{
	display:block;
}
.header-box{
	height:1%;
	position:relative;
	margin-bottom:12px;
}
.header-box:after{
	display:block;
	clear:both;
	content:"";
}
.logo{
	position:absolute;
	left:5px;
	top:-18px;
}
.logo a{
	display:block;
	overflow:hidden;
	text-indent:-9999px;
	background:url(/clients/ChicagoRiotSoccer/Images/logo.png) no-repeat;
	width:169px;
	height:167px;
	cursor:pointer;
}
.header-box .top-nav{
	float:right;
	padding:8px 9px 0 0;
}
.header-box img{
	display:block;
}
.header-box .soc-nav{
	margin:0;
	padding:4px 11px 0 0;
	list-style:none;
	float:left;
}
.header-box .soc-nav li{
	float:left;
	padding-right:5px;
}
.header-box .nav{
	float:left;
}
.header-box .nav .l{
	float:left;
	background:url(/clients/ChicagoRiotSoccer/Images/bg-top-nav-l.png) no-repeat;
	width:4px;
	height:30px;
}
.header-box .nav .r{
	float:left;
	background:url(/clients/ChicagoRiotSoccer/Images/bg-top-nav-r.png) no-repeat;
	width:5px;
	height:30px;
}
.header-box .nav .c{
	float:left;
	background:url(/clients/ChicagoRiotSoccer/Images/bg-top-nav.png) repeat-x;
	padding:6px 3px 8px 6px;
}
.header-box .nav ul{
	margin:0;
	padding:0;
	list-style:none;
	font-weight:bold;
	float:left;
	overflow:hidden;
	line-height:18px;
	position:relative;
}
.header-box .nav li{
	color:#dfdfdf;
	float:left;
	background:url(/clients/ChicagoRiotSoccer/Images/devider.gif) no-repeat 0 5px;
	padding:0 8px 0 9px;
	margin:0 1px 0 -1px;
}
.header-box .nav li a { color:#dfdfdf; }
.header-box .nav li.active a,
.header-box .nav li a:hover{
	text-decoration:underline;
	color:#fff;
}
.main-nav{
	height:1%;
}
.main-nav:after{
	display:block;
	clear:both;
	content:"";
}
.main-nav .holder{
	float:right;
	width:829px;
	position:relative;
	z-index:2;
}
.main-nav .t{
	width:829px;
	height:8px;
	background:url(/clients/ChicagoRiotSoccer/Images/bg-main-nav-t.png) no-repeat;
	font-size:0;
	line-height:0;
}
.main-nav .b{
	width:829px;
	height:8px;
	background:url(/clients/ChicagoRiotSoccer/Images/bg-main-nav-b.png) no-repeat;
	font-size:0;
	line-height:0;
}
.main-nav .c{
	width:829px;
	background:url(/clients/ChicagoRiotSoccer/Images/bg-main-nav.png) repeat-y;
}
.main-nav .c:after{
	display:block;
	clear:both;
	content:"";
}
.main-nav .frame{
	float:left;
	height:1%;
	position:relative;
	margin:-4px 0 0;
	padding-left:4px;
}
.nav-hold{
	width:813px;
	background:url(/clients/ChicagoRiotSoccer/Images/bg-nav.png) no-repeat;
	padding:4px;
}
#nav{
	width:813px;
	height:36px;
	font-weight:bold;
	margin:0;
	padding:0;
	list-style:none;
}
#nav li{
	float:left;
	background:url(/clients/ChicagoRiotSoccer/Images/devider2.gif) no-repeat;
	position:relative;
}
#nav li.first-child{
	background:none;
}
#nav li a{
	display:block;
	padding:10px 0 12px;
	color:#FFF;
	text-decoration:none;
	text-align:center;
}
#nav li.active a,
#nav li a:hover{
	color:#fff;
	background:url(/clients/ChicagoRiotSoccer/Images/bg-nav-hover.gif) repeat-x;
}
#nav li.hover a,
#nav li:hover a{
	color:#fff;
	background:url(/clients/ChicagoRiotSoccer/Images/bg-nav-hover.gif) repeat-x;
}
#nav li.hover .drop,
#nav li:hover .drop{
	left:0px;
}
#nav li .drop{
	position:absolute;
	top:36px;
	left:-9999px;
}
#nav li .drop .c{
	background:#8b8b8b;
	width:169px;
	overflow:hidden;
}
#nav li .drop .b{
	background:url(/clients/ChicagoRiotSoccer/Images/bg-drop-b.png) no-repeat;
	width:177px;
	height:5px;
}
#nav li ul{
	margin:0 0 -1px;
	padding:0;
	list-style:none;
	height:auto;
	width:169px;
	overflow:hidden;
	font-weight:normal;
}
#nav li ul li{
	width:100%;
	background:none;
	border-bottom:1px solid #000;
	position:static;
}
#nav li ul li a{
	background:none !important;
	color:#fff;
	padding:6px 7px 9px 14px;
	text-align:left;
	position:relative;
}
#nav li ul li a:hover{
	background:#333 !important;
}
.main-nav .info-box{
	width:813px;
	background:#000 url(/clients/ChicagoRiotSoccer/Images/bg-info.gif) repeat-x;
	color:#fff;
	margin:-4px 4px 0;
	padding:10px 0 12px 0px;
	text-align:center;
}
.main-nav .info-box p{
	margin:0;
}
#main{
	height:1%;
	overflow:hidden;
	margin:-16px 0 30px;
}
#main .t{
	background:url(/clients/ChicagoRiotSoccer/Images/bg-main-t.png) no-repeat;
	width:1003px;
	height:9px;
	font-size:0;
	line-height:0;
}
#main .b{
	background:url(/clients/ChicagoRiotSoccer/Images/bg-main-b.png) no-repeat;
	width:1003px;
	height:9px;
	font-size:0;
	line-height:0;
}
#main .c{
	background:url(/clients/ChicagoRiotSoccer/Images/bg-main.png) repeat-y;
	width:988px;
	padding:0 8px 15px 7px;
	overflow:hidden;
}
#content{
	width:800px;
	float:left;
	padding:8px 8px 10px 10px;
	margin-bottom:-5px;
}
.gallery-box{
	background:url(/clients/ChicagoRiotSoccer/Images/bg-gallery-holder.gif) no-repeat;
	width:555px;
	height:299px;
	padding:5px;
	margin-bottom:11px;
}
.gallery-box img{
	display:block;
}
.gallery-holder{
	width:555px;
	height:299px;
	position:relative;
	z-index:1;
}
.btn-left{
	position:absolute;
	left:6px;
	top:117px;
	z-index:3;
}
.btn-right{
	position:absolute;
	right:7px;
	top:117px;
	z-index:3;
}
.btn-left a,
.btn-right a{
	display:block;
	overflow:hidden;
	text-indent:-9999px;
	height:38px;
	width:38px;
	cursor:pointer;
}
.btn-left a{
	background:url(/clients/ChicagoRiotSoccer/Images/btn-left.png) no-repeat;
}
.btn-left a:hover{
	background:url(/clients/ChicagoRiotSoccer/Images/btn-left-hover.png) no-repeat;
}
.btn-right a{
	background:url(/clients/ChicagoRiotSoccer/Images/btn-right.png) no-repeat;
}
.btn-right a:hover{
	background:url(/clients/ChicagoRiotSoccer/Images/btn-right-hover.png) no-repeat;
}
.gallery{
	margin:0;
	padding:0;
	width:555px;
	height:299px;
	list-style:none;
	background: #000;
	position:relative;
}
.gallery li{
	width:555px;
	height:299px;
	position:absolute;
	top: 0;
	left: 0;
	z-index: 1;
}
.gallery li.active {
	z-index: 2;
}
.gallery .box{
	left:0;
	bottom:0;
	position:absolute;
}
.gallery .box .hold{
	background:url(/clients/ChicagoRiotSoccer/Images/bg-gallery-text.png);
	border-top:1px solid #615a57;
	padding:16px 21px 0 20px;
	width:514px;
	overflow:hidden;
}
.gallery .box .text-box{
	float:left;
	width:405px;
	color:#fff;
	line-height:18px;
	padding-bottom:22px;
	word-spacing:1px;
	letter-spacing:1px;
}
.gallery .box .text-box p{
	margin:0;
}
.btn-click{
	float:right;
	text-indent:-9999px;
	background:url(/clients/ChicagoRiotSoccer/Images/btn-click.png) no-repeat;
	width:82px;
	height:28px;
	margin-top:7px;
	outline:none;
}
.post-boxes{
	width:570px;
	overflow:hidden;
	margin:0 -5px 30px 0;
}
.post-boxes .box{
	float:left;
	width:269px;
	padding:0 13px 0 3px;
}
.post-boxes img{
	display:block;
}
.post-boxes .img-hold{
	background:url(/clients/ChicagoRiotSoccer/Images/bg-img-hold.gif) no-repeat;
	padding:5px;
	width:259px;
}
.post-boxes .img2-hold{
	background:url(/clients/ChicagoRiotSoccer/Images/bg-img2-hold.gif) no-repeat;
	padding:5px;
	width:257px;
}
.post-boxes .data-box{
	height:1%;
	overflow:hidden;
	padding:14px 0 0 15px;
}
.post-boxes p,
.post-list p{
	margin:0 0 14px;
}
.post-boxes .more,
.post-list .more{
	text-decoration:underline;
}
.post-boxes .more:hover,
.post-list .more:hover{
	text-decoration:none;
}
.post-list{
	margin:0;
	padding:0 7px 0 8px;
	list-style:none;
	height:1%;
	overflow:hidden;
}
.post-list li{
	border-top:2px solid #bcb8b5;
	height:1%;
	overflow:hidden;
	padding:16px 0 20px;
}
.post-list img{
	display:block;
}
.post-list .img-hold{
	float:left;
	border:1px solid #bcb8b5;
	padding:1px;
	margin:0 19px 0 0;
}
.post-list .data-box{
	float:left;
	width:360px;
}
.post-list .marked{
	font-size:9px;
	color:#b9b8b8;
	display:block;
	margin-bottom:-3px;
}
.post-list .heading{
	display:block;
	margin-bottom:-1px;
	color:#d4372f;
	font-size:18px;
	line-height:22px;
}
.post-list .heading a{
	color:#d4372f;
}
.post-list .date{
	display:block;
	margin-bottom:10px;
	color:#a1a1a1;
	font-size:10px;
}
#sidebar{
	width:238px;
	float:right;
}
.column1{
	float:left;
	width:237px;
}
.column1 img{
	display:block;
}
.column1 .box{
	height:1%;
	overflow:hidden;
	margin-bottom:12px;
}
.column1 .calendar-holder{
	width:216px;
	margin-left:11px;
}
.column1 .video-holder{
	width:217px;
	padding:1px 0 0 10px;
}
#sidebar .heading{
	display:block;
	overflow:hidden;
	text-indent:-9999px;
	height:38px;
	width:237px;
	margin-bottom:12px;
}
.news-list{
	margin:0 0 -10px;
	padding:1px 13px 0;
	list-style:none;
	font-size:11px;
	color:#b3b3b3;
	line-height:20px;
}
.news-list li{
	background:url(/clients/ChicagoRiotSoccer/Images/devider3.gif) no-repeat 0 100%;
	height:1%;
	vertical-align:top;
	margin-bottom:10px;
	padding-bottom:13px;
}
.news-list li .date{
	display:block;
	margin-bottom:6px;
	line-height:14px;
}
.news-list li .title{
	display:block;
	color:#000;
	margin-bottom:3px;
	line-height:14px;
}
.news-list li .title a{
	color:#FFF;
}
.news-list li p{
	margin:0;
}
.heading-calendar{
	background:url(/clients/ChicagoRiotSoccer/Images/bg-heading-calendar.gif) no-repeat;
}
.heading-facebook{
	background:url(/clients/ChicagoRiotSoccer/Images/bg-heading-facebook.gif) no-repeat;
}
.heading-news{
	background:url(/clients/ChicagoRiotSoccer/Images/bg-heading-news.gif) no-repeat;
}
.heading-video{
	background:url(/clients/ChicagoRiotSoccer/Images/bg-heading-video.gif) no-repeat;
}
.column2 .heading{
	display:block;
	overflow:hidden;
	text-indent:-9999px;
	height:35px;
	width:167px;
	margin-bottom:13px;
}
.column2{
	float:left;
	width:167px;
}
.column2 img{
	display:block;
}
.column2 .box{
	height:1%;
	overflow:hidden;
	color:#fff;
}
.heading-newsletter{
	background:url(/clients/ChicagoRiotSoccer/Images/bg-heading-newsletter.gif) no-repeat;
	height:37px !important;
}
.heading-poll{
	background:url(/clients/ChicagoRiotSoccer/Images/bg-heading-poll.gif) no-repeat;
}
.heading-sponsor{
	background:url(/clients/ChicagoRiotSoccer/Images/bg-heading-sponsor.gif) no-repeat;
}
.heading-photo{
	background:url(/clients/ChicagoRiotSoccer/Images/bg-heading-photo.gif) no-repeat;
}
span.info-text{
	display:block;
	padding:0 13px;
}
span.indent{
	padding:0 6px 0 11px;
}
.mail-form{
	width:151px;
	overflow:hidden;
	padding:13px 0 25px 9px;
}
.mail-form span{
	display:block;
	overflow:hidden;
	width:141px;
	padding:7px 5px 0;
	background:url(/clients/ChicagoRiotSoccer/Images/bg-text.gif) no-repeat;
	height:23px;
}
.mail-form .text{
	float:left;
	width:141px;
	padding:0;
	margin:0;
	border:none;
	background:none;
}
.mail-form div{
	width:100%;
	overflow:hidden;
	padding-top:10px;
}
.btn-sign-up,
.btn-submit{
	float:right;
}
.btn-submit{
	margin-top:8px;
}
.place-form{
	width:141px;
	overflow:hidden;
	padding:12px 0 6px 14px;
}
.place-form div{
	width:100%;
	overflow:hidden;
	padding-bottom:10px;
}
.place-form .radio{
	float:left;
	width:16px;
	height:15px;
	margin: 0 3px 0 0;
	padding:0;
}
.column2 .banner-nav{
	margin:0;
	padding:21px 0 17px 11px;
	list-style:none;
}
.column2 .banner-nav li{
	height:1%;
	vertical-align:top;
	padding-bottom:17px;
}
.photo-list{
	margin:-2px 0 0;
	padding:0;
	list-style:none;
	width:164px;
	overflow:hidden;
}
.photo-list li{
	float:left;
	padding:0 4px 10px 10px;
}
.photo-list li a{
	display:block;
	background-color:#fff;
	padding:3px;
}
.photo-list img{
	border:1px solid #bbd6f3;
}

.staff { padding-top:15px; }
.stafflist { padding:15px 0; }
.stafflist img { float:left; border:3px solid #e6e6e6; padding:2px; margin:0 10px 10px 0; }
ul.stafflist { margin:0; padding:0; }
ul.stafflist li { list-style:none; border-bottom:1px dashed #CCC; padding-top:15px; }

.page { padding:5px 15px; }
.sponsorgroup { border-bottom:1px dashed #d7d7d7; padding:10px 0px; }
.sponsorlogo { background:url(/clients/ChicagoRiotSoccer/Images/bkgd_logo.gif) no-repeat; width:100px; height:100px; float:left; padding:4px; }
.sponsordescrip { float:left; width:400px; padding-left:15px; }
.sponsordescrip a { cursor:pointer;}
.sponsorgroup h2 { border:none; font-size:14px; margin:5px 0 5px 0; padding:0; color:#c11f2f; }
a.profile { color:#C11F2F; float:right; font-size:12px; font-weight:normal; }

table.players { background:#CCC; }
table.players thead { background:#bf1e2e; color:#FFF; font-weight:bold; }
.center { text-align:center }
table.players tr.odd td { background:#f7f7f7; }
table.players tr.even td { background:#FFF; }
table.players tr.over td { background:#ececec; }