
/*nowonstage*/
#wrapper
{
	width: 100%;
}
#main
{
	width:95%;
	margin-left: auto;
	margin-right: auto;
		text-align: center;
}
#main h1
{
	font-size: 2em;
	text-align: center;
}

img#msimg
{
	width:80%;
	margin-right: auto;
	margin-left: auto;
		text-align: center;

}
#msimg
{
	width:100%;
	margin-left: auto;
	margin-right: auto;
}

#main p
{
	font-size: 1.2em;
	padding:0;
	margin:1%;

}
#main h2
{
	font-size: 2em;
}
#main h3
{
	font-size: 1.5em;
}
#note
{
	font-size: .90em;
	text-align: center;
	margin:1%;
}
/*Mainstage*/

#ms h1
{
	text-align: center;
	font-size:2em;
}
#ms
{
	width:100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
#ms img
{
	width:90%;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 5%;
	box-shadow: 0px 3px 3px black;
	-moz-box-shadow: 0px 3px 3px black;
	-webkit-box-shadow: 0px 3px 3px black;
}
#msleft, #msright, #mscenter
{
	text-align: center;
	padding-bottom: 5%;
}
#showtxt p
{
	width:80%;
	margin-left:auto;
	margin-right: auto;
}
#showtxt img
{
	width:50%;
}
#showimg img
{
	width: 80%;
	box-shadow: 0px 3px 3px black;
	-moz-box-shadow: 0px 3px 3px black;
	-webkit-box-shadow: 0px 3px 3px black;
}
