.navcontainer {
	PADDING-LEFT: 15px; FONT-WEIGHT: bolder; FONT-SIZE: 13px; FILTER: Chroma(Color=000000); WIDTH: 785px; COLOR: #000000; PADDING-TOP: 10px; FONT-FAMILY: "N Helvetica Narrow", "Arial Narrow"; LETTER-SPACING: 0.04em; BACKGROUND-COLOR: #ef0089
}
.current {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #ffffff; FONT-FAMILY: "N Helvetica Narrow", "Arial Narrow"
}
.navcontainer A {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #000000; FONT-FAMILY: "N Helvetica Narrow", "Arial Narrow"; TEXT-DECORATION: none
}
.navcontainer A:link {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #000000; FONT-FAMILY: "N Helvetica Narrow", "Arial Narrow"; TEXT-DECORATION: none
}
.navcontainer A:active {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #dfdfdf; FONT-FAMILY: "N Helvetica Narrow", "Arial Narrow"; TEXT-DECORATION: none
}
.navcontainer UL {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #ffcc33; FONT-FAMILY: "N Helvetica Narrow", "Arial Narrow"; TEXT-DECORATION: none
}
.navcontainer A:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #cccccc; FONT-FAMILY: "N Helvetica Narrow", "Arial Narrow"; TEXT-DECORATION: none
}
