BODY {
	BACKGROUND-COLOR: #cccccc
}
A:link {
	COLOR: #333333; TEXT-DECORATION: none
}
A:visited {
	TEXT-DECORATION: none
}
A:hover {
	FONT-FAMILY: Arial, Helvetica, sans-serif, "Helvetica Neue"; TEXT-DECORATION: none
}
A:active {
	COLOR: #00ff00; TEXT-DECORATION: none
}
.footer {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000000; PADDING-TOP: 8px; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 15px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
