.inline-block {
	MARGIN-TOP: 2em; DISPLAY: inline; MARGIN-BOTTOM: -2em; VERTICAL-ALIGN: baseline; POSITION: relative; TOP: -2em
}
.vertical-align-middle-middlebox {
	DISPLAY: block; POSITION: absolute; TOP: 50%; HEIGHT: auto
}
.vertical-align-middle-innerbox {
	DISPLAY: block; POSITION: relative; TOP: -50%
}
LI.full-width {
	WIDTH: auto
}
LI DIV DIV.inline-block A IMG {
	TEXT-INDENT: 0px
}
IMG {
	-MS-INTERPOLATION-MODE: bicubic
}
