.Header {
	PADDING-BOTTOM: 0px; MARGIN: 0px; FONT: 24px/32px 'Futura-Medium', 'Futura', 'Trebuchet MS', sans-serif; TEXT-TRANSFORM: uppercase; COLOR: #ffffff; TEXT-INDENT: 0px; PADDING-TOP: 0px; LETTER-SPACING: 0px; TEXT-ALIGN: left; TEXT-DECORATION: none; opacity: 1.00
}
.Normal_External_640_156 {
	POSITION: relative
}
.Normal_External_640_239 {
	POSITION: relative
}
.paragraph_style {
	PADDING-BOTTOM: 0px; MARGIN: 0px; FONT: 24px/37px 'Papyrus', 'Futura-Medium', 'Futura', 'Trebuchet MS', sans-serif; TEXT-TRANSFORM: uppercase; COLOR: #ffffff; TEXT-INDENT: 0px; PADDING-TOP: 0px; LETTER-SPACING: 0px; TEXT-ALIGN: center; TEXT-DECORATION: none; opacity: 1.00
}
.style_SkipStroke {
	BACKGROUND: none transparent scroll repeat 0% 0%; opacity: 1.00
}
.style_SkipStroke_1 {
	BACKGROUND: none transparent scroll repeat 0% 0%; opacity: 1.00
}
.style_SkipStroke_2 {
	BACKGROUND: none transparent scroll repeat 0% 0%; opacity: 1.00
}
.Normal {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
.paragraph_style_1 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; FONT: 16px/21px 'Futura-Medium', 'Futura', 'Trebuchet MS', sans-serif; TEXT-TRANSFORM: uppercase; COLOR: #bfbfbf; TEXT-INDENT: 0px; PADDING-TOP: 0px; LETTER-SPACING: 0px; TEXT-ALIGN: center; TEXT-DECORATION: none; opacity: 1.00
}
.Title {
	PADDING-BOTTOM: 0px; MARGIN: 0px; FONT: 16px/21px 'Futura-Medium', 'Futura', 'Trebuchet MS', sans-serif; TEXT-TRANSFORM: uppercase; COLOR: #bfbfbf; TEXT-INDENT: 0px; PADDING-TOP: 0px; LETTER-SPACING: 0px; TEXT-ALIGN: left; TEXT-DECORATION: none; opacity: 1.00
}
.graphic_generic_header_textbox_style_default_SkipStroke {
	BACKGROUND: none transparent scroll repeat 0% 0%; opacity: 1.00
}
.graphic_generic_title_textbox_style_default_SkipStroke {
	BACKGROUND: none transparent scroll repeat 0% 0%; opacity: 1.00
}
.graphic_image_style_default_SkipStroke {
	BACKGROUND: none transparent scroll repeat 0% 0%; opacity: 1.00
}
#widget0 A:visited {
	COLOR: #666669; TEXT-DECORATION: none
}
.bumper {
	FONT-SIZE: 1px; LINE-HEIGHT: 1px
}
#widget0 A:hover {
	COLOR: #ac1221; TEXT-DECORATION: none
}
.spacer {
	FONT-SIZE: 1px; LINE-HEIGHT: 1px
}
.tinyText {
	FONT-SIZE: 1px; LINE-HEIGHT: 1px
}
#widget0 A {
	COLOR: #bfbfbf; TEXT-DECORATION: none
}
BODY {
	-webkit-text-size-adjust: none
}
DIV {
	OVERFLOW: visible
}
IMG {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.InlineBlock {
	DISPLAY: inline
}
.InlineBlock {
	DISPLAY: inline-block
}
.inline-block {
	DISPLAY: inline-block; MARGIN-BOTTOM: 0.3em; VERTICAL-ALIGN: baseline
}
.vertical-align-middle-middlebox {
	
}
.vertical-align-middle-innerbox {
	VERTICAL-ALIGN: middle
}
DIV.paragraph {
	POSITION: relative
}
LI.full-width {
	
}
