H1
{
    FONT: bold 12pt Arial
}
H2
{
    FONT: 12pt Arial
}
H3
{
    FONT: bold 14pt Arial
}
H4
{
    FONT: 9pt Arial
}
H5
{
    FONT: 10pt Arial Narrow
}
H6
{
    FONT: 9pt Arial Narrow
}
BODY
{
    FONT-FAMILY: Arial;
    FONT-SIZE: 10pt
}
TABLE
{
    FONT-FAMILY: Arial;
    FONT-SIZE: 10pt
}
TD
{
    FONT-FAMILY: Arial;
    FONT-SIZE: 10pt
}
TH
{
    FONT-FAMILY: Arial;
    FONT-SIZE: 10pt
}
BODY
{
    scrollbar-face-color: #95AAE0;
    scrollbar-shadow-color: #5568A3;
    scrollbar-highlight-color: #DFEFFF;
    scrollbar-3dlight-color: #5568A3;
    scrollbar-darkshadow-color: #FFEFFF;
    scrollbar-track-color: #5568A3;
    scrollbar-arrow-color: #5568A3
}
