/*
To get started customizing with CSS, we recommend you 
go to http://headwaythemes.com/documentation/customizing-your-headway-site/custom-css/ 
to get started.

When writing the selectors for the elements, put body.custom at the
beginning.

For an example on how to change the background with custom CSS
we can use the following code.

body.custom {
	background: red;
}
*/

/******************** */
/** Header and nav    */
/******************** */
body.custom #header {
  background:;
  background-image: url('/clients/BARS-SF/Images/headerbackground.png');
}

body.custom #navigation {
  /* background-image: url('/clients/BARS-SF/Images/nav_background.png'); */
  background-color: #e8a11b;
}

body.custom #left_header {
  position:relative;
  clear:left;
  width: 173px;
  height: 17px;
  padding: 8px 0 0 22px;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Lucida, Arial, Helvetica, sans-serif;
  font-size:11px;
  text-align: left;
}

body.custom #right_header {
  position:relative;
  float:right;
  width: 695px;
  height: 100px;
  padding: 0 10px 0 0;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Lucida, Arial, Helvetica, sans-serif;
  font-size:24px;
  text-align: right;
}

body.custom .header-link-image-inside {
  padding: 8px 0 0 22px;
}

body.custom #social_icons {
  padding: 8px 0 0 0;
  width: 695px;
  height: 42px;
}

body.custom #social_icons a{
  text-decoration: none;
}

/** dotted border on navigation elements */
body.custom ul.navigation li {
  border-right-style: dotted;
  border-right-color: #fff;
  border-right-width: 2px;
}

/******************** */
/** buy page content */
/******************** */
body.custom #leaf-115 {
  width: 900px;
  margin: 0;
  padding: 0;
}

/******************** */
/** promo page content */
/******************** */
body.custom #leaf-52 {
  width: 900px;
  margin: 0;
  padding: 0;
}

/******************** */
/** home page image rotator */
/******************** */
body.custom #leaf-22{
  width: 900px;
}

/******************** */
/* these are the image rotators on the content pages, can't force to full width in editor */
/******************** */
body.custom #leaf-36, body.custom #leaf-54, body.custom #leaf-57, body.custom #leaf-60, body.custom #leaf-63, body.custom #leaf-66, body.custom #leaf-69, body.custom #leaf-72, body.custom #leaf-75, body.custom #leaf-78, body.custom #leaf-81, body.custom #leaf-84, body.custom #leaf-88, body.custom #leaf-95, body.custom #leaf-103, body.custom #leaf-106, body.custom #leaf-109, body.custom #leaf-112 {
  width: 900px;
}

body.custom .rotator {
  margin: 0;
  padding: 0;
}

body.custom div.rotator-images img {
  border: none;
}


body.custom div.leaf-content div.rotator-images {
  top: 0px;
  width: 900px;
  height: 240px;
}


/******************** */
/* Main content area  */
/******************** */
body.custom #container {
  background-image: url('/clients/BARS-SF/Images/bottombodyorange.png');
  background-position: bottom left;
  background-repeat: no-repeat;
  margin: 0 0 0 0;
}

/******************** */
/* Post formatting    */
/******************** */
body.custom .wp-caption {
  margin: 0 7px 0 0;
  padding: 0;
  background: transparent;
  border: none;
}

body.custom .more-link {
  margin: 10px 0 0 0;
}

/******************** */
/* Footer             */
/******************** */
body.custom .footer-bar {
  color: #fff;
  background-color: #0079c1;
}

body.custom div#footer a {
  padding: 5px 5px 5px 5px;
}

body.custom #footer {
  background-image: url('/clients/BARS-SF/Images/bottomsubnav.png');
  background-position: bottom left;
  background-repeat: no-repeat;
  margin: 0 0 0 0;
  padding: 0 0 14px 0;
}

/******************** */
/* Home page headline */
/******************** */
body.custom .home_headline div.leaf-top {
  color: #f04923;
  font-size: 32px;
  border: none;
}

/******************** */
/* Blog post formatting */
/******************** */
body.custom h2.entry-title {
  font-size: 13px;
  font-weight: bold;
  color: #0079c1;
  line-height: 13px;
}

body.custom .entry-content {
  line-height: 15px;
  color: #000000;
  font-size: 12px;
}

body.custom .entry-content p {
  margin: 0;
}

body.custom .post {
  background-image: url('/clients/BARS-SF/Images/sidebarbrown1px.png');
  background-repeat: repeat;
  padding: 10px 10px 10px 10px;
  margin: 0 0 10px 0;
}

/* hide date on concerts page */
body.pageid-5 div.entry-meta {
  display: none;
}

/* remove no comments area */
body.custom .nocomments {
  display: none;
}

/******************** */
/** page customization*/
/******************** */
body.custom .page-title {
  display: none;
}

/******************** */
/** sponsors area     */
/******************** */
body.custom .widget_sponsor_bar {
  margin: 0;
}

body.custom #leaf-37, body.custom .widget_sponsor_bar div {
  text-align: center;
}

body.custom #leaf-37 a, body.custom .widget_sponsor_bar div a {
  padding: 0 4px 0 4px;
}

/******************** */
/* generic css classes*/
/******************** */
body.custom .bold {
  font-weight: bold;
}

body.custom .italic {
  font-style: italic;
}

body.custom .upper {
  text-transform: uppercase;
}

body.custom .bars_red {
  color: #f04923;
}

body.custom .bars_blue {
  color: #0079c1;
}

body.custom .bars_gold {
  color: #fff200;
}

body.custom .clear {
  clear: both;
}

body.custom .left {
  float:left;
}

/******************** */
/* widget sidebar     */
/******************** */
body.custom .sidebar {
  margin: 0;
  padding: 0;
}

body.custom .widget_sponsor_us, body.custom .widget_buy_tickets {
  margin:0;
  padding: 0;
  width: 300px;
  height: 72px;
  min-height: 72px;
}

body.custom .widget_mail_list {
  margin:0;
  padding: 0;
  width: 300px;
  height: 90px;
  min-height: 95px;
}

body.custom #reserve {
  background-color: #fb2e11;
}

body.custom #support {
  background-color: #f2a300;
}

body.custom #mail-list {
  background-color: #5bc5dd;
  height: 85px;
}

/** .sidebar is the sidebar widgets */
body.custom .sidebar-box {
  padding: 5px;
  height: 62px;
}

/** .sidebar is the sidebar widgets */
body.custom .sidebar-text {
  padding: 0 0 0 5px;
  width: 223px;
  font-size: 12px;
  line-height: 13px;
  color: #ffffff;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Lucida, Arial, Helvetica, sans-serif;
}

/** .sidebar is the sidebar widgets */
body.custom .sidebar-text img {
  padding: 0 0 5px 0;
}

/** .sidebar is the sidebar widgets */
body.custom .sidebar-text a {
  color: #fff200;
  text-decoration: none;
}

/******************** */
/* nav drop-down menu */
/******************** */
/** background color of drop down menu */
body.custom ul.navigation li ul {
  background-color: #0079c1;
  color: #000000;
  border: none;
}

/** no border on drop down menu */
body.custom ul.navigation li ul li {
  border: none;
}