* {	margin:0; padding:0;  }
body, #EditorDiv { margin:0; }
a { color:#000;	text-decoration:none; }
h3 {   }
p {  padding-bottom:10px; }
ol, ul { padding-left:20px; }

#Main { margin:0 auto; width:960px; }
	#Header {  }
		#Header .void-header {  }
			#Header h1 a { display:block; height:40px; /*text-indent:-9999px;*/ width:250px;}
			#Header h2{	 }
				#Header h2 a {  }
			#Header #StockImage { }
			#Header .extra { position:absolute; right:10px; top:30px; width:300px; }
			#Header .extra .text-block-component { padding:0;}
			#PrimaryNavigation { position:relative;width:auto; }
				#PrimaryNavigation ul {	list-style:none; padding:0; }
				#PrimaryNavigation ul li { border-right:1px solid #000; display:block; height:25px; float:left; margin:0;padding:0; position:relative; width:auto; }
				#PrimaryNavigation ul li span { /*display:block; margin:5px 12px;*/ }
				#PrimaryNavigation .end { border:none; }
				#PrimaryNavigation ul li ul {display:none;position:absolute; top:25px; left:0; width:auto;}
				#PrimaryNavigation ul li:hover, #PrimaryNavigation ul li.active { }
				#PrimaryNavigation ul li:hover ul { display:block;}
				#PrimaryNavigation ul li ul li { border:none; border-top:1px solid #000; display:block; height:auto; width:100%;}
				#PrimaryNavigation ul li:hover a, #PrimaryNavigation ul li.active a { }
				#PrimaryNavigation ul li li { }
				#PrimaryNavigation a { }
	#Body {	clear:both; }
		#Content-Left { float:left; width:30%; margin-right:4%;}
		#Content-Text { float:left; width:66%; }
		#Content-Right { float:left; margin-left:4%; width:30%; }
	#Footer { clear:both; padding-bottom:28px; }
		#Footer .void { padding:0 35px 20px;	}
		#Footer a {  }
		#Footer .extra {  }
 
		#Footer .copyright-notice {  }
		
.catchall {	clear:both; }		
.component { padding:10px 0; }
.text-block-component {}
.module { }
	.module-row .module { float:left;}
	.module-row .of-one, .module-row .fourth.of-four { margin:0; width: 100%; }
	.module-row .of-two, .module-row .fourth.of-five, .module-row .fifth.of-five { width: 49%; margin-right:1%; }
	.module-row .of-three, .module-row .of-four, .module-row .of-five, .module-row .of-six, .module-row .of-seven, .module-row .of-eight, .module-row .of-nine { width: 32%; margin-right:2%; }
	.module-row .third, .module-row .sixth, .module-row .nineth { margin-right:0; }
	.module-row .fourth, .module-row .seventh { clear:left; }
.module-row { clear:both; overflow:hidden; width:auto; }
	.module-row .first.of-one,.module-row .second.of-two,.module-row .third.of-three,.module-row .fourth.of-four,.module-row .fifth.of-five,.module-row .sixth.of-six,.module-row .seventh.of-seven,.module-row .eighth.of-eight,.module-row .nineth.of-nine { margin:0; }

.sub-nav-module ul ul { display:none; }
.sub-nav-module ul li.active ul { display:block; }

.blog-content .pagination { clear:both; overflow:hidden; }
.blog-content .pagination .newer-posts { float:left; }
.blog-content .pagination .older-posts { float:right; }

#ModuleFactory { padding:0; }
#ModalBox { background-color:#fff; margin-top:10%;position:fixed; top:0; width:50%; z-index:1000; }
#ModalOverlay { background-color:#000; position:fixed; top:0; z-index:999; }