#Body
{
	background-image: url(/clients/CabrilloPlayhouse/Images/sub_background.gif);
	background-color: #ccc1aa;
	color: #30261c;
	line-height: 1.5;
}

#Content
{
	background-image: none;
}

#Content-Text .module-row .module
{
	background-color: transparent;
	color: #30261C;

}

#Content-Text .content
{
	padding: 12px;
}

#Content-Text .text-block-component h2
{
	margin: -12px 0 .8em -2.5em;
	padding-left: 2.5em;
}

#Content-Text .component h3,
#Content-Text .module-row > h3
{
	height: auto;
}

#Content-Text .module-row .module.of-three
{
	width: 32%;
	margin: 0.5%;
}

#Breadcrumbs
{
	display: none;
}

.sub .content
{
	font-size: 120%;
}

#Content-Text > .component
{
	padding-top: 0;
}
