a {
	font-size: 12px;
	
	font-weight: bold;
}

form {
	background-color: #9966CC;
}

.title {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	line-height: 20px;
 background-color: #99CC00; color: #003333;}

.subtitle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 30px;
 color: #003300;}

.header {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 20px;
	background-color: #669900;
 color: #FFFF33;
}

.nav {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	background-color: #CCFF99;
}

.navLink {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	background-color: #DEDECA;
}

.sidebar {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 14px;
	padding: 3px;
	background-color: #FFFFCC;
 color: #003333;
}

.sidebarHeader {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 18px;
	color: #003300;
	background-color: #FFFF66;
}

.sidebarFooter {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	background-color: #FFFF99;
 font-style: italic;
}

.footer {
  font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	line-height: 22px;
	color: #333333;
	background-color: #CCFF99;
}

.legal {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #333333;
}

.box1 {
	border-width: thin;
	border-color: #99FF99 #003300 #003300 #99FF99;
 border-style: double;
 }

.promo {
	font-family: "Times New Roman", Times, serif;
	color: #000033;
}

.titlebar {
	font-family: "Times New Roman", Times, serif;
	font-size: 9px;
	color: #FFFFFF;
	background-color: #336699;
}

.dingbat {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #FFFFFF;
 color: #660000; font-weight: bolder; font-size: medium;
 }

input.big {
	width: 100px;
}

input.small {
	width: 50px;
}

.bodyText
{
	color: #000;
	font-family: Verdana, Arial, Helvetica;
	font-size: 11px;
	line-height: 16px;
	word-spacing: 1px;
	letter-spacing: 1px;
	font-weight: normal;
}

.bodyTextWhite
{
	color: #FFF;
	font-family: Verdana, Arial, Helvetica;
	font-size: 11px;
	line-height: 16px;
	word-spacing: 1px;
	letter-spacing: 1px;
	font-weight: normal;
}

.bodyTextBold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 16px;
	font-weight: bold;
	color: #000000;
	letter-spacing: 1px;
	word-spacing: 1pt;
}

.bodyTextWhiteBold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 16px;
	font-weight: bold;
	color: #FFF;
	letter-spacing: 1px;
	word-spacing: 1pt;
}

.bodyTextSmall
{
	color: #000;
	font-family: Verdana, Arial, Helvetica;
	font-size: 11px;
	line-height: 13px;
	word-spacing: 1px;
	letter-spacing: 1px;
	font-weight: normal;
}

.bodyTextSmallWhite
{
	color: #FFF;
	font-family: Verdana, Arial, Helvetica;
	font-size: 9px;
	line-height: 12px;
	word-spacing: 1px;
	letter-spacing: 1px;
	font-weight: normal;
}

.bodyTextLarge
{
	color: #000;
	font-family: Verdana, Arial, Helvetica;
	font-size: 14px;
	line-height: 20px;
	word-spacing: 1px;
	letter-spacing: 1px;
	font-weight: normal;
}

.bodyTextLargeWhite
{
	color: #FFF;
	font-family: Verdana, Arial, Helvetica;
	font-size: 14px;
	line-height: 20px;
	word-spacing: 1px;
	letter-spacing: 1px;
	font-weight: normal;
}

.bodyTextLargeBold
{
	color: #000;
	font-family: Verdana, Arial, Helvetica;
	font-size: 14px;
	line-height: 20px;
	font-weight: bold;
	word-spacing: 1px;
	letter-spacing: 1px;
}

.bodyTextLargeWhiteBold
{
	color: #FFF;
	font-family: Verdana, Arial, Helvetica;
	font-size: 14px;
	line-height: 20px;
	font-weight: bold;
	word-spacing: 1px;
	letter-spacing: 1px;
}

a.bodyTextLink
{
	text-decoration: none;
	color: #000;
	font-weight: bold;
	word-spacing: 1px;
	letter-spacing: 1px;
}

a.bodyTextLink:hover
{
	text-decoration: underline;
	color: #FFFFFF;
	font-weight: bold;
	word-spacing: 1px;
	letter-spacing: 1px;
}

a.bodyTextSmallLink
{
	font-size: 9px;
	text-decoration: none;
	color: #000;
	font-weight: bold;
	word-spacing: 1px;
	letter-spacing: 1px;
}

a.bodyTextSmallLink:hover
{
	font-size: 9px;
	text-decoration: underline;
	color: #FFFFFF;
	font-weight: bold;
	word-spacing: 1px;
	letter-spacing: 1px;
}

a.bodyTextLinkWhite
{
	text-decoration: none;
	color: #FFF;
	font-weight: bold;
	word-spacing: 1px;
	letter-spacing: 1px;
}

.footerText
{
	color: #666666;
	font-family: Verdana, Arial, Helvetica;
	font-size: 10px;
	line-height: 10px;
	word-spacing: 0px;
	letter-spacing: 0px;
	text-indent: 0px;
	text-align: center;
	text-decoration: none;
	font-weight: normal;
}

a.footerText
{
	color: #666666;
	font-family: Verdana, Arial, Helvetica;
	font-size: 10px;
	line-height: 10px;
	word-spacing: 0px;
	letter-spacing: 0px;
	text-indent: 0px;
	text-align: right;
	text-decoration: none;
	font-weight: normal;
}

a.footerText:hover
{
	color: #999999;
	font-family: Verdana, Arial, Helvetica;
	font-size: 10px;
	line-height: 10px;
	word-spacing: 0px;
	letter-spacing: 0px;
	text-indent: 0px;
	text-align: right;
	text-decoration: underline;
	font-weight: normal;
}

.copyrightText
{
	color: #666666;
	font-family: Verdana, Arial, Helvetica;
	font-size: 9px;
	line-height: 12px;
	word-spacing: 0px;
	letter-spacing: 0px;
	text-indent: 0px;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	font-weight: normal;
}

.calendarNormal 
{ 
	font-family: Verdana; 
	font-size: 8pt; 
	color: #000000; 
	height: 20; 
	padding-left: 5pt; 
}

.calendarToday 
{ 
	font-family: Verdana; 
	font-size: 8pt; 
	color: #FFFFFF; 
	background-color: #CACACA; 
	height: 20; 
	padding-left: 5pt; 
}

.calendarSelected
{ 
	font-family: Verdana; 
	font-size: 8pt; 
	color: #FFFFFF; 
	background-color: #C00000; 
	height: 20; 
	padding-left: 5pt; 
}

.calendarEvent 
{ 
	font-family: Verdana; 
	font-size: 8pt; 
	color: #000000; 
	background-color: #C6D1DC; 
	height: 20; 
	padding-left: 5pt; 
}

.eventListing 
{
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #663399;
}
body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 24px;
}

.bodyTextItalic {
	color: #000;
	font-family: Verdana, Arial, Helvetica;
	font-size: 11px;
	line-height: 16px;
	word-spacing: 1px;
	letter-spacing: 1px;
	font-weight: normal;
	font-style: italic;
}

table {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	letter-spacing: 1px;
	word-spacing: 1px;
	color: #000000;
	line-height: 18px;
}
