/**
 * @file
 * @project 713
 * @package sftheme
 * @site app1
 */
 
.sf_extra2 {
	background-image: url(/clients/CharlestonPirateTour/Images/713_border_1.jpg);
	background-repeat: no-repeat;	
}

.sf_extra4 {	
	background-image: url(/clients/CharlestonPirateTour/Images/713_headerbottom_1.jpg);
	background-repeat: no-repeat;
}

.sf_navigation ul {
	background-image: url(/clients/CharlestonPirateTour/Images/713_menutop_1.jpg);
	background-position: top;
	background-repeat: no-repeat;
}

.sf_navigation ul li.sf_last_nav_item {	
	background-image: url(/clients/CharlestonPirateTour/Images/713_menubottom_1.jpg);
	background-position: bottom;
	background-repeat: no-repeat;
}

.sf_navigation ul li a {
	background-image: url(/clients/CharlestonPirateTour/Images/713_arrow_1.gif);
	background-repeat: no-repeat;
	background-position: 0 3px;
	.background-position: 0 6px;
}

.sf_navigation ul li a:hover{
	color: #95c159;
}

.sf_footer {	
	color: #95c159;
}


a:link {
	color: #f8931e;
}

a:visited {
	color: #f8931e;
}

a:hover {
	color: #ffffff;
}


/**
 * ------------------------------------------------------------------
 * @section Data Central Colors
 * ------------------------------------------------------------------
 */
.Data_Central_color7 {
	background-color:#111111;
	color:#ffffff;
}
.Data_Central_color1 {
	background-color:#222222;
	color:#ffffff;
}
.Data_Central_color2 {
	background-color:#333333;
	color:#ffffff;
}
.Data_Central_color3 {
	background-color:#404040;
	color:#BBBBBB;
}
.Data_Central_color3 a,
.Data_Central_color3 a:visited {
	color:#BBBBBB;
}
.Data_Central_color6 {
	background-color:#666666;
	color:#000000;
}
.Data_Central_color4 {
	background-color:#cccccc;
	color:#000000;
}
.Data_Central_color4 a,
.Data_Central_color4 a:visited {
	color:#000000;
}
.Data_Central_color5 {
	border-color:#bbbbbb;
}