.red {
	COLOR: #990000
}
.bold {
	FONT-WEIGHT: bold
}
.italic {
	FONT-STYLE: italic
}
.indent {
	MARGIN-LEFT: 40px
}
TABLE.tablesimple {
	BORDER-TOP-WIDTH: 0px! important; BORDER-LEFT-WIDTH: 0px! important; BORDER-BOTTOM-WIDTH: 0px! important; MARGIN: 0px; BORDER-COLLAPSE: collapse! important; BACKGROUND-COLOR: transparent! important; BORDER-RIGHT-WIDTH: 0px! important; border-spacing: 0
}
TABLE.tablecolor {
	BORDER-TOP-WIDTH: 0px! important; BORDER-LEFT-WIDTH: 0px! important; BORDER-BOTTOM-WIDTH: 0px! important; MARGIN: 0px; BORDER-COLLAPSE: collapse! important; BACKGROUND-COLOR: transparent! important; BORDER-RIGHT-WIDTH: 0px! important; border-spacing: 0
}
TABLE.tablesimple TH {
	PADDING-RIGHT: 0.3em! important; PADDING-LEFT: 0.3em! important; PADDING-BOTTOM: 0px! important; MARGIN: 0px; PADDING-TOP: 0px! important; TEXT-ALIGN: left! important; border-spacing: 0
}
TABLE.tablesimple TD {
	PADDING-RIGHT: 0.3em! important; PADDING-LEFT: 0.3em! important; PADDING-BOTTOM: 0px! important; MARGIN: 0px; PADDING-TOP: 0px! important; TEXT-ALIGN: left! important; border-spacing: 0
}
TABLE.tablecolor TH {
	PADDING-RIGHT: 0.3em! important; PADDING-LEFT: 0.3em! important; PADDING-BOTTOM: 0px! important; MARGIN: 0px; PADDING-TOP: 0px! important; TEXT-ALIGN: left! important; border-spacing: 0
}
TABLE.tablecolor TD {
	PADDING-RIGHT: 0.3em! important; PADDING-LEFT: 0.3em! important; PADDING-BOTTOM: 0px! important; MARGIN: 0px; PADDING-TOP: 0px! important; TEXT-ALIGN: left! important; border-spacing: 0
}
TABLE.tablesimple TH {
	BORDER-RIGHT: silver 1px solid; BORDER-TOP: silver 1px solid; BORDER-LEFT: silver 1px solid; BORDER-BOTTOM: silver 1px solid; BACKGROUND-COLOR: transparent! important
}
TABLE.tablesimple TD {
	BORDER-RIGHT: silver 1px solid; BORDER-TOP: silver 1px solid; BORDER-LEFT: silver 1px solid; BORDER-BOTTOM: silver 1px solid; BACKGROUND-COLOR: transparent! important
}
TABLE.tablecolor TH {
	BORDER-RIGHT: #d0d2b6 1px solid; BORDER-TOP: #d0d2b6 1px solid; BORDER-LEFT: #d0d2b6 1px solid; BORDER-BOTTOM: #d0d2b6 1px solid
}
TABLE.tablecolor TD {
	BORDER-RIGHT: #d0d2b6 1px solid; BORDER-TOP: #d0d2b6 1px solid; BORDER-LEFT: #d0d2b6 1px solid; BORDER-BOTTOM: #d0d2b6 1px solid
}
TABLE.tablecolor TH {
	BACKGROUND-COLOR: #e4e3ca
}
TR.tablerowcolored {
	BACKGROUND-COLOR: #e4e3ca
}
.imageborder {
	BORDER-RIGHT: #d0d2b6 5px solid; BORDER-TOP: #d0d2b6 5px solid; FLOAT: left; MARGIN: 5px 8px 8px 0px; BORDER-LEFT: #d0d2b6 5px solid; BORDER-BOTTOM: #d0d2b6 5px solid
}
