BODY {
	BACKGROUND: #74b2ff; MARGIN: 0px
}
BODY {
	FONT-FAMILY: Arial, Helvetica, sans-serif
}
P {
	FONT-FAMILY: Arial, Helvetica, sans-serif
}
TD {
	FONT-FAMILY: Arial, Helvetica, sans-serif
}
TH {
	FONT-FAMILY: Arial, Helvetica, sans-serif
}
LI {
	FONT-FAMILY: Arial, Helvetica, sans-serif
}
UL {
	FONT-FAMILY: Arial, Helvetica, sans-serif
}
OL {
	FONT-FAMILY: Arial, Helvetica, sans-serif
}
H1 {
	FONT-FAMILY: Arial, Helvetica, sans-serif
}
H2 {
	FONT-FAMILY: Arial, Helvetica, sans-serif
}
H3 {
	FONT-FAMILY: Arial, Helvetica, sans-serif
}
H4 {
	FONT-FAMILY: Arial, Helvetica, sans-serif
}
H5 {
	FONT-FAMILY: Arial, Helvetica, sans-serif
}
H6 {
	FONT-FAMILY: Arial, Helvetica, sans-serif
}
H1 {
	MARGIN-TOP: 0.25em; FONT-SIZE: 1.35em
}
H2 {
	MARGIN-TOP: 0.25em; FONT-SIZE: 1.25em
}
H3 {
	MARGIN-TOP: 0.25em; FONT-SIZE: 1.15em
}
TABLE#header {
	BACKGROUND: #fff; BORDER-BOTTOM: #666 1px solid
}
TABLE#header TD {
	BORDER-RIGHT: #666 1px solid; VERTICAL-ALIGN: middle; TEXT-ALIGN: left
}
TD#joinus {
	BORDER-TOP: #666 1px solid
}
TD#bookus {
	BORDER-TOP: #666 1px solid
}
TD#contactus {
	BORDER-TOP: #666 1px solid
}
TD#headspacer {
	BORDER-TOP: #666 1px solid
}
TABLE#header TD A {
	PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 6px; FONT-WEIGHT: normal; FONT-SIZE: 0.75em; PADDING-BOTTOM: 5px; MARGIN: 0px; COLOR: #000; PADDING-TOP: 5px; TEXT-DECORATION: none
}
TABLE#header TD A:hover {
	TEXT-DECORATION: underline
}
TD#joinus A {
	BACKGROUND-COLOR: #fc0
}
TD#bookus A {
	BACKGROUND-COLOR: #f60
}
TD#contactus A {
	BACKGROUND-COLOR: #99f
}
TABLE#body {
	BACKGROUND: #fff
}
TD#mainnav A {
	PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 6px; FONT-SIZE: 0.75em; PADDING-BOTTOM: 5px; MARGIN: 0px; VERTICAL-ALIGN: top; COLOR: #666; PADDING-TOP: 5px; BORDER-BOTTOM: #ccc 1px solid; TEXT-DECORATION: none
}
TD#mainnav A:hover {
	COLOR: #fff; BACKGROUND-COLOR: #666
}
TD#mainnav UL {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; BORDER-RIGHT-WIDTH: 0px
}
TD#mainnav UL LI UL {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; BORDER-RIGHT-WIDTH: 0px
}
TD#mainnav LI UL LI {
	PADDING-LEFT: 15px
}
TD#content {
	PADDING-RIGHT: 5px; MARGIN-TOP: 0px; PADDING-LEFT: 15px; PADDING-TOP: 0px
}
TD#content P {
	MARGIN-TOP: 0.85em; FONT-SIZE: 0.85em; MARGIN-BOTTOM: 1em; LINE-HEIGHT: 1.2
}
TD#content IMG {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
#pq {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 225px; PADDING-TOP: 0px
}
#pq IMG {
	BORDER-TOP-WIDTH: 0px; DISPLAY: block; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; MARGIN-LEFT: auto; MARGIN-RIGHT: auto; BORDER-RIGHT-WIDTH: 0px
}
#pq P {
	PADDING-RIGHT: 7px; MARGIN-TOP: 0.85em; PADDING-LEFT: 7px; FONT-SIZE: 0.8em; MARGIN-BOTTOM: 0em; PADDING-BOTTOM: 0px; LINE-HEIGHT: 1.2; PADDING-TOP: 0px
}
.quote {
	COLOR: #cc0000; TEXT-ALIGN: left
}
.quoteauthor {
	COLOR: #000099; MARGIN-RIGHT: 1em; TEXT-ALIGN: right
}
.photocaption {
	FONT-WEIGHT: bold; COLOR: #000066; TEXT-ALIGN: left
}
.emergency {
	BORDER-RIGHT: #000 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #000 1px solid; PADDING-LEFT: 5px; FONT-SIZE: 1.5em; PADDING-BOTTOM: 5px; MARGIN: 10px; BORDER-LEFT: #000 1px solid; COLOR: #ff0000; PADDING-TOP: 5px; BORDER-BOTTOM: #000 1px solid; FONT-STYLE: oblique
}
