/************************************************
Dropdown Menu
************************************************/

/***HTML Drop Down Menu****/
div#dropdownmegamenu
{
	height: 64px;
	width: 680px;
	margin: 0 auto;
	padding-left: 262px;
	position: relative;

}

#dropdownmegamenu ul { /* remove bullets and list indents */
	list-style-type: none;
	margin: 0;
	padding: 0;
	float:left;
	position: relative;
	z-index:20;
}

ul.megamenu_column
{
	width: 100%;
	padding:0 !important;
	background:url(/clients/CBCPlanetarium/Images/megamenu_strip.png) 0px 0px repeat-y;
	line-height: 15px !important;
}

.megamenuitem7 ul.megamenu_column{background:url(/clients/CBCPlanetarium/Images/megamenu7_strip.png) 0px 0px repeat-y;}

#dropdownmegamenu ul.megamenu_column a
{
	color:#3e5575;
	text-decoration: none;
	line-height: 13px !important;
	font-size: 11px;
	display: inline-block;
	margin: 5px 0 4px 0;
	letter-spacing: 1px;
	font-family: tahoma, geneva, sans-serif;
}

#dropdownmegamenu ul.megamenu_column li.megamenu_level1
{
	display: inline-block;
	zoom: 1;
	*display: inline;
	width: 211px;
	vertical-align: top;
	margin: 0px 4px 0 14px;
	padding: 5px 0 0 0;
	background: url(/clients/CBCPlanetarium/Images/megamenu_header.gif) 0 0 no-repeat;
	line-height: 14px !important;
}

#dropdownmegamenu .megamenuitem7 ul.megamenu_column li.megamenu_level1
{
	display: block;
	width: auto;
	vertical-align: middle;
	margin: 0px 4px 0 14px;
	padding: 0px 0 5px 0px;
	*padding: 0 0 3px 0;
	background: url(/clients/CBCPlanetarium/Images/bullet7.gif) 10px 7px no-repeat;
	line-height: 11px !important;
}

#dropdownmegamenu .megamenuitem7 ul.megamenu_column li.megamenu_level1 ul{display: none;}

#dropdownmegamenu .megamenuitem7 ul.megamenu_column li.megamenu_level1:hover{background: url(/clients/CBCPlanetarium/Images/megamenu7_over_bottom.gif) 0px bottom no-repeat;}

#dropdownmegamenu ul a.megamenu_level1
{
	font-size: 12px !important;
	line-height: 15px !important;
	color:#ffffff;
	font-weight: bold;
	letter-spacing: 0px;
	margin: 0px 0 2px 0;
	padding: 0 0 5px 12px;
	width: 199px;
	background: #273c5a url(/clients/CBCPlanetarium/Images/megamenu_header_bottom.gif) 0 bottom no-repeat;
}

#dropdownmegamenu .megamenuitem7 a.megamenu_level1
{
	font-size: 11px;
	line-height: 11px !important;
	color:#1b73ac;
	font-weight: normal;
	letter-spacing: 1px;
	margin: 0px 0 0px 0;
	padding: 5px 0 1px 21px;
	width: 190px;
	background: transparent none;
}

#dropdownmegamenu .megamenuitem7 li:hover a.megamenu_level1
{
	background:#368cb8 url(/clients/CBCPlanetarium/Images/megamenu7_over_top.gif) 0 0 no-repeat;
	color:#ffffff;
	text-decoration: none;
}

#dropdownmegamenu ul a:hover
{
	text-decoration: underline;
}

#dropdownmegamenu ul.megamenu_level1
{
	float: none;
	margin-bottom: 5px;
	padding-bottom: 15px;
}

#dropdownmegamenu ul.megamenu_column li.megamenu_level2
{
	padding-left: 22px;
	background: url(/clients/CBCPlanetarium/Images/bullet.gif) 11px 9px no-repeat;
}

#dropdownmegamenu .megamenuitem7 ul.megamenu_column li.megamenu_level2{background: url(/clients/CBCPlanetarium/Images/bullet7.gif) 11px 9px no-repeat;}

#dropdownmegamenu .megamenu_container
{
	position: absolute;
	padding: 0px 0px 16px 0; 
	display: none;
	margin-top: -6px;
	right: 3px;
	width: 939px;
	background: url(/clients/CBCPlanetarium/Images/megamenu_bottom.png) 0 bottom no-repeat;
}

#dropdownmegamenu .megamenuitem7 .megamenu_container
{
	background: url(/clients/CBCPlanetarium/Images/megamenu7_bottom.png) 0 bottom no-repeat;
	width: 241px;
	margin-top: -5px;
	padding: 0px 0px 17px 0; 
	right: 6px;
}

#dropdownmegamenu .inner_container{background:url(/clients/CBCPlanetarium/Images/megamenu_top.png) 0px 0px no-repeat;float: left; width: 100%;padding-top: 16px;}

#dropdownmegamenu .megamenuitem7 .inner_container{background:url(/clients/CBCPlanetarium/Images/megamenu7_top.png) 0px 0px no-repeat;}

#dropdownmegamenu .widthcontainer1col{}
.megamenuitem7 .widthcontainer1col{}

#dropdownmegamenu .widthcontainer2col{}
.megamenuitem6 .widthcontainer2col, .megamenuitem7 .widthcontainer2col{}

#dropdownmegamenu .widthcontainer3col{}

.megamenuitem5 .widthcontainer3col, .megamenuitem6 .widthcontainer3col, .megamenuitem7 .widthcontainer3col{}

#dropdownmegamenu .widthcontainer4col{}

.megamenuitem3 .widthcontainer4col, .megamenuitem4 .widthcontainer4col, .megamenuitem5 .widthcontainer4col, .megamenuitem6 .widthcontainer4col, .megamenuitem7 .widthcontainer4col{}

/*Determine hide/show behavior of sub-menus*/

div#dropdownmegamenu ul li:hover .megamenu_container{display: block;}

#dropdownmegamenu ul li{float:left;}
#dropdownmegamenu ul li li {float: none;}


/* Root Item images */

a.dropdownrootitem1,
a.dropdownrootitem2,
a.dropdownrootitem3,
a.dropdownrootitem4,
a.dropdownrootitem5,
a.dropdownrootitem6,
a.dropdownrootitem7
{
	display:block;
	padding: 64px 0 0 0;
	overflow: hidden;
	height: 0px;
}

a:hover.dropdownrootitem1,
a:hover.dropdownrootitem2,
a:hover.dropdownrootitem3,
a:hover.dropdownrootitem4,
a:hover.dropdownrootitem5,
a:hover.dropdownrootitem6,
a:hover.dropdownrootitem7
{margin: 0;}

a.dropdownrootitem1
{
	display: none
}

a.dropdownrootitem2
{
	background:url(/clients/CBCPlanetarium/Images/2.png) 0 0 no-repeat;
	width:146px;
}

a.dropdownrootitem3
{
	background:url(/clients/CBCPlanetarium/Images/3.png) 0 0px no-repeat;
	width:103px;
}

a.dropdownrootitem4
{
	background:url(/clients/CBCPlanetarium/Images/4.png) 0 0 no-repeat;
	width:114px;
}

a.dropdownrootitem5
{
	background:url(/clients/CBCPlanetarium/Images/5.png) 0 0 no-repeat;
	width:102px;
}

a.dropdownrootitem6
{
	background:url(/clients/CBCPlanetarium/Images/6.png) 0 0 no-repeat;
	width:96px;
}

a.dropdownrootitem7
{
	background:url(/clients/CBCPlanetarium/Images/7.png) 0 0 no-repeat;
	width:119px;
}

a:hover.dropdownrootitem1, li:hover a.dropdownrootitem1,
a:hover.dropdownrootitem2, li:hover a.dropdownrootitem2,
a:hover.dropdownrootitem3, li:hover a.dropdownrootitem3,
a:hover.dropdownrootitem4, li:hover a.dropdownrootitem4,
a:hover.dropdownrootitem5, li:hover a.dropdownrootitem5,
a:hover.dropdownrootitem6, li:hover a.dropdownrootitem6,
a:hover.dropdownrootitem7, li:hover a.dropdownrootitem7,
#dropdownmegamenu a.active,
#dropdownmegamenu li.megamenu_over>a:first-child
{background-position: 0 -64px !important;}

