<!DOCTYPE html>
<html lang="en">

<head runat="server">

<meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
<meta charset="utf-8">

<asp:ContentPlaceHolder id="MasterHead" runat="server"></asp:ContentPlaceHolder>

<meta property="og:title" content="title" />
<meta property="og:description" content="description" />
<meta property="og:image" content="https://tix.com/images/TixLogo128x128.gif"/>
<meta property="og:image:secure_url" content="https://tix.com/images/TixLogo128x128.gif" />
<meta property="og:image:type" content="image/jpeg" />

<style>

html, body { margin: 0px; padding: 0px; }
h1, h2, h3, h4, h5, h6, p, blockquote, address, big, cite, code, em, font, img, small, strike, sub, sup, li, ol, ul, fieldset, form, label, legend, button, table, caption, tr, th, td { margin: 0px; padding: 0px; border: 0px none; font-weight: normal; font-style: normal; font-size: 100%; line-height: 1; font-family: inherit; text-align: left; }
ol, ul { list-style: outside none none; }
blockquote::before, blockquote::after { content: ""; }
a { outline: medium none; }
input[type="search"], input[type="text"], input[type="email"], input[type="url"], input[type="button"], input[type="tel"], input[type="submit"], textarea { -moz-appearance: none; }
body { margin: 0px; padding: 0px; border: medium none; background: rgb(241, 241, 241) none repeat scroll 0% 0%; color: rgb(68, 68, 68); font-family: "Roboto",sans-serif; font-size: 18px; }
body a { color: rgb(19, 196, 165); text-decoration: none; }
body a:hover { color: rgb(19, 196, 165); text-decoration: none; }
* { box-sizing: border-box; }
img { max-width: 100%; height: auto; }
.hidden { display: none; }
.clear { clear: both; }
.fleft { float: left; }
.fright { float: right; }
body a { transition: all 0.1s ease-in-out 0s; }
.blog-title a, .post-title a, .post-overlay, .post-likes, .post-meta a, .pagination, .main-menu a, .main-menu > .has-children > a::after, .main-menu > .page_item_has_children > a::after, .searchbutton, .search-toggle, .comment-form input[type="text"], .comment-form input[type="email"], .comment-form textarea, .form-submit #submit, .widget_search .searchsubmit, .widget_search .s, .format-gallery .flex-direction-nav a, .nav-toggle .bar, .dribbble-shot, .flickr_badge_image a, .post-content input[type="submit"], .post-content input[type="reset"], .post-content input[type="button"] { transition: all 0.2s ease-in-out 0s; }
.tothetop, .header, .portfolio-item a .portfolio-header-container, .featured-media a img { transition: all 0.3s ease-in-out 0s; }
.section { position: relative; padding: 80px 0px; }
.no-padding { padding: 0px; }
.small-padding { padding: 40px 0px; }
.medium-padding { padding: 60px 0px; }
.section-inner { max-width: 90%; width: 1400px; margin: 0px auto; }
.bg-dark { background-color: rgb(29, 29, 29); }
.bg-graphite { background-color: rgb(38, 38, 38); }
.bg-image { background-size: cover; background-position: center center; background-repeat: no-repeat; }
.cover { position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px; }
.row .one-third { width: 30%; margin-left: 5%; float: left; }
.row .one-fourth:first-child, .row .one-third:first-child, .row .one-half:first-child, .row .two-thirds:first-child { margin-left: 0px; }
.header { padding: 110px 0px; }
.header .cover { background: rgba(29, 29, 29, 0.25) none repeat scroll 0% 0%; }
.header-inner { position: relative; }
.search-toggle { display: block; width: 68px; height: 68px; background: transparent url('spyglass-w.png') no-repeat scroll center center / 24px auto; opacity: 0.5; }
.header-search-block { position: absolute; z-index: 10000; top: 0px; right: 0px; bottom: 0px; left: 0px; }
.header-search-block .s { background: transparent none repeat scroll 0% 0%; border: medium none; margin: -30px 0px 0px; width: 90%; position: absolute; top: 50%; right: 5%; left: 5%; font-family: "Roboto",sans-serif; font-size: 2.5em; font-weight: 300; color: rgb(255, 255, 255); }
.header-search-block .s:focus { outline: medium none; }
.header-search-block .searchsubmit { display: none; }
.main-menu { font-family: "Roboto Slab",sans-serif; font-size: 0.9em; text-align: center; }
.main-menu li { position: relative; }
.main-menu > li { float: left; }
.main-menu > li::before { content: "/"; display: block; position: absolute; right: 0px; top: 50%; margin-top: -9px; margin-right: -3px; font-size: 16px; color: rgb(68, 68, 68); font-weight: 300; z-index: 1000; }
.main-menu > li:last-child::before { content: none; }
.main-menu > li > a { display: block; padding: 27px; font-size: 0.85em; color: rgb(153, 153, 153); text-transform: uppercase; letter-spacing: 1px; font-weight: 700; }
.main-menu > li:first-child > a { margin-left: 0px; }
.main-menu > .has-children > a::after, .main-menu > .page_item_has_children > a::after { content: ""; display: block; border-width: 5px; border-style: solid; border-color: rgb(153, 153, 153) transparent transparent; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; position: absolute; z-index: 1001; right: 29px; top: 50%; margin-top: -2px; }
.main-menu li:hover > a { cursor: pointer; color: rgb(255, 255, 255); }
.main-menu > .has-children:hover > a::after, .main-menu > .page_item_has_children:hover > a::after { border-top-color: rgb(255, 255, 255); }
.main-menu > li > ul::before { content: ""; display: block; position: absolute; z-index: 1000; top: 0px; left: 50%; margin-left: -10px; border-width: 10px; border-style: solid; border-color: transparent transparent rgb(45, 45, 45); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; }
.main-menu ul > .has-children::after, .main-menu ul > .page_item_has_children::after { content: ""; display: block; border-width: 6px; border-style: solid; border-color: transparent transparent transparent rgba(255, 255, 255, 0.4); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; position: absolute; z-index: 1001; right: 10px; top: 50%; margin-top: -5px; }
.main-menu ul > .has-children:hover::after, .main-menu ul > .page_item_has_children:hover::after { border-left-color: rgb(255, 255, 255); }
.hentry, .post { width: 100%; position: relative; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border-radius: 3px; box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1); overflow: hidden; }
.post .sticky-post::after { content: ""; display: block; border-width: 13px; border-style: solid; border-color: transparent rgb(43, 53, 66); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; position: absolute; right: 0px; margin-top: -13px; top: 38px; }
.featured-media a, .featured-media img, .featured-media iframe { display: block; }
.featured-media a { overflow: hidden; }
.featured-media a img { margin: 0px auto; }
.featured-media a:hover img { transform: scale(1.1); opacity: 0.8; }
.post-header { position: relative; padding: 8% 10%; border-bottom: 1px solid rgb(238, 238, 238); }
.post-header .post-title { font-family: "Roboto Slab",sans-serif; font-size: 1.25em; line-height: 120%; font-weight: 700; color: rgb(43, 53, 66); }
.post .post-header::before, .page .post-header::before { content: ""; display: block; border-width: 12px; border-style: solid; border-color: rgb(238, 238, 238) transparent transparent; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; position: absolute; z-index: 10; bottom: 0px; left: 10%; margin-bottom: -24px; }
.post .post-header::after, .page .post-header::after { content: ""; display: block; border-width: 11px; border-style: solid; border-color: rgb(255, 255, 255) transparent transparent; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; position: absolute; z-index: 11; bottom: 0px; left: 10%; margin-left: 1px; margin-bottom: -21px; }
.posts .format-video .post-header::before, .posts .format-video .post-header::after, .posts .format-image .post-header::before, .posts .format-image .post-header::after { content: none; }
.post-quote cite::before { content: "— "; }
.format-chat .post-content p:nth-child(2n+1) { background: rgb(245, 245, 245) none repeat scroll 0% 0%; }
body.single .content { width: 67.5%; }
body.single .content.full-width { width: 100%; }
.single { border-radius: 6px; }
.single .post-title { font-size: 2.25em; }
.single .post-content { padding: 10%; }
.single .post-meta-container::after { content: ""; display: block; background: rgb(63, 72, 84) none repeat scroll 0% 0%; position: absolute; z-index: 1; top: 0px; right: 0px; bottom: 0px; left: 60%; }
.post-author::before, .post-author::after { content: ""; display: block; position: absolute; left: 30px; }
.post-author::before { z-index: 100; top: 0px; width: 40px; height: 70px; background: rgb(19, 196, 165) url('author-w.png') no-repeat scroll center 29px / 22px auto; }
.post-author::after { top: 50px; border-width: 20px; border-style: solid; border-color: transparent rgb(19, 196, 165); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; }
.post-content > :first-child { margin-top: 0px; }
.post-content :last-child { margin-bottom: 0px; }
.post-content blockquote::before, .post-content blockquote::after { content: ""; display: block; width: 128px; height: 3px; background: rgb(238, 238, 238) none repeat scroll 0% 0%; margin: 40px auto; }
.post-content cite::before { content: "— "; }
.post-content table tbody > tr:nth-child(2n+1) > td { background: rgb(249, 249, 249) none repeat scroll 0% 0%; }
.comment-inner::after { content: ""; display: block; border-width: 12px; border-style: solid; border-color: transparent rgb(238, 238, 238) transparent transparent; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; position: absolute; top: 28px; left: 0px; margin-left: -24px; }
.comment.bypostauthor::after { content: ""; display: block; width: 32px; height: 32px; background: rgb(19, 196, 165) url('author-w.png') no-repeat scroll center 8px / 14px auto; border-radius: 999px; position: absolute; top: 0px; left: 0px; margin-top: -8px; margin-left: -8px; }
.pingbacklist .pingback:nth-child(2n) { background-color: rgb(238, 238, 238); }
.authors-row::before { content: ""; display: block; width: 1px; position: absolute; top: 0px; bottom: 0px; left: 50%; background: rgb(238, 238, 238) none repeat scroll 0% 0%; }
.single-attachment .post-author::before { background-image: url('image-w.png'); background-position: center 32px; }
.widget-title { font-family: "Roboto Slab",sans-serif; font-size: 0.9em; font-weight: 700; text-transform: uppercase; margin-bottom: 20px; }
.widget-content ul li::before { content: "»"; position: absolute; left: 0px; top: 0px; color: rgb(19, 196, 165); font-size: 18px; }
.dribbble-shot:nth-child(2n) { margin-right: 0px; }
.flickr_badge_image:nth-child(2), .flickr_badge_image:nth-child(6), .flickr_badge_image:nth-child(10), .flickr_badge_image:nth-child(14) { margin-left: 0px; }
.footer .widget { margin-top: 40px; border-top: 4px solid rgb(51, 51, 51); padding-top: 40px; }
.footer .widget:first-child { margin: 0px; border: medium none; padding: 0px; }
.footer .widget-title { color: rgb(255, 255, 255); letter-spacing: 1px; font-size: 0.79em; }
.footer .widget-content { color: rgb(118, 118, 118); font-size: 0.95em; }
.credits p { font-family: "Roboto Slab",sans-serif; color: rgb(118, 118, 118); font-size: 0.8rem; text-transform: uppercase; font-weight: 700; letter-spacing: 1px; }
.credits a { color: rgb(204, 204, 204); }
.credits a:hover { color: rgb(204, 204, 204); text-decoration: underline; }
@media not all, (min-resolution: 192dpi) {
	.search-toggle { background-image: url('spyglass-w_001.png'); }
	.comment.bypostauthor::after { background-image: url('author-w_001.png'); }
	.single-attachment .post-author::before { background-image: url('image-w_001.png'); }
	.searchform .searchsubmit { background-image: url('spyglass-g.png'); }
	.searchform .searchsubmit:hover { background-image: url('spyglass-c.png'); }
}
</style>

</head>

<BODY leftmargin=0 rightmargin=0 topmargin=0 marginheight=0 marginwidth=0 >
	<form id="form1" runat="server">
		<div>

<asp:ContentPlaceHolder id="MasterContent" runat="server"></asp:ContentPlaceHolder>
		
		</div>
	</form>
</BODY>
</html>
