@charset "utf-8";
.romanzaHighlight {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #CE0000;
	letter-spacing: 1.5px;
}
.romanza-main-text {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #71090B;
	letter-spacing: 1.5px;
}
.romanzaHighlightMaroon {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #640000;
	letter-spacing: 1.5px;
}
.romanzaHighlightGreen {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 22px;
	font-weight: bold;
	color: #CF6;
	letter-spacing: 1.5px;
}
.romanzaCelticTitle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #090;
	letter-spacing: 1.5px;
}
