body { background: #000000; }

.txt { font-family: Verdana, arial, sans-serif; font-size: 14; font-weight: 400; color: #000000; text-align: justify; }
.txtl { font-family: Verdana, arial, sans-serif; font-size: 14; font-weight: 400; color: #000000; text-align: left; }
.txtm { font-family: Verdana, arial, sans-serif; font-size: 12; font-weight: 400; color: #000000; text-align: justify; }
.txtsm { font-family: Verdana, Helvitica, sans-serif; font-size: 10; font-weight: 400; color: #000000; text-align: justify; }
div.news { font-family: Verdana, Helvitica, sans-serif; font-size: 10; font-weight: 400; color: #000000; text-align: justify; margin-right: 5px; border-right: 3px solid #B88A3F; padding: 10px;}
.txtsmc { font-family: Verdana, Helvitica, sans-serif; font-size: 10; font-weight: 400; color: #000000; text-align: center; }
.footer { font-family: Verdana, Helvitica, sans-serif; font-size: 10; font-weight: 200; color: silver; text-align: right; margin: 0px 15px 0px 0px;}
.txtbg { font-family: Verdana, arial, sans-serif; font-size: 14; font-weight: bold; color: #000000; text-align: justify; }
div.hd1 { font-family: 'century gothic', arial, sans-serif; font-size: 24; color: #000000; text-align: left; }
div.hd2 { font-family: arial, sans-serif; font-size: 16; font-weight: bold; color: #000000; text-align: left; }
div.hd3 { font-family: arial, sans-serif; font-size: 14; font-weight: bold; color: #000000; text-align: left; }
div.bold { font-family: arial, sans-serif; font-size: 16; font-weight: bold; color: red; text-align: left; }

hr.news { width: 200px; height: 2px; background-color: #B88A3F; text-align: center;}

img { border: 0px; }
a { cursor:pointer; }
a:link {color: black; text-decoration: none; }
a:visited { color: black; text-decoration: none; }
a:hover { color: black; text-decoration: underline; }
a:active { color: black; text-decoration: underline; }

#pix { width: 900px; height: 186px; margin-left: 0px; border-top: 3px solid #B88A3F; margin-top: 0px; padding: 0; display: block; clear: both; }

#topbar { width: 900px; height: 24px; margin-left: 0px; line-height: 24px; border-top: 3px solid #B88A3F; border-bottom: 3px solid #B88A3F; background-color: #000000; text-transform: uppercase; font-family: Arial; padding: 0; }
#topbar ul { margin: 0; padding: 0; list-style-type: none; text-align: left; }
#topbar ul li { display: inline; }
#topbar ul li a { text-decoration: none; padding: 5px 8px 5px 9px; font-size: 11px; font-weight: bold; letter-spacing: .2px; color: #fff; }
#topbar ul li a:hover { color: #B88A3F; }
#topbar img { float: left; width: 23px; margin: 7px 10px 0 25px; padding: 0; }

#content { width: 820px; margin-left: 15px; text-align: justify; size: 10px; font-family: arial, sans-serif; font-size: 10; padding-left: 0em; padding-right: 0em;}

#bottombar { width: 900px; height: 24px; margin-left: 0px; line-height: 24px; text-align: right; border-top: 3px solid #B88A3F; border-bottom: 3px solid #B88A3F; background-color: #000000;text-transform: uppercase; font-weight: bold; clear: both;}
#bottombar ul { list-style-type: none; margin: 0 7px 0 0; }
#bottombar ul li { display: inline; }
#bottombar ul li a { text-decoration: none; padding: 5px 8px 5px 0px; color: #fff; font-size: 11px; }
#bottombar ul li a:hover {	color: #B88A3F; }
#bottombar img {	margin: 0px 0px 0px 0px; padding: 0; }

#footer { width: 800px; height: 15px; margin-left: 0px; clear: both; background-color: #ffffff; text-align: center; font-size: 10px; padding: 10px 50px 0 50px; }
#footer a { color: #000000; text-decoration: none; background-color: #fff; }
#footer a:hover { color: #B88A3F; text-decoration: underline; }