#header-bar {background: url(/clients/DevonTheater/Images/header-bar.png) 0 0 repeat-x;}
#header-bar-bottom {background: url(/clients/DevonTheater/Images/header-bar-bottom.png) 0 0 repeat-x;}
img#logo {background: url(/clients/DevonTheater/Images/logo.png) 0 0 no-repeat;}
#showcase-top {background: url(/clients/DevonTheater/Images/showcase-tl.png) 0 0 no-repeat;}
#showcase-top2 {background: url(/clients/DevonTheater/Images/showcase-tr.png) 100% 0 no-repeat;}
#showcase-top3 {background: url(/clients/DevonTheater/Images/showcase-tm.png) 0 0 repeat-x;}
#showcase-main {background: url(/clients/DevonTheater/Images/showcase-middle.png) 0 0;}
#showcase-main2 {background: url(/clients/DevonTheater/Images/showcase-l.png) 0 0 repeat-y;}
#showcase-main3 {background: url(/clients/DevonTheater/Images/showcase-r.png) 100% 0 repeat-y;}
#showcase-bottom {background: url(/clients/DevonTheater/Images/showcase-bl.png) 0 0 no-repeat;}
#showcase-bottom2 {background: url(/clients/DevonTheater/Images/showcase-br.png) 100% 0 no-repeat;}
#showcase-bottom3 {background: url(/clients/DevonTheater/Images/showcase-bm.png) 0 0 repeat-x;}
#main-top {background: url(/clients/DevonTheater/Images/main-tl.png) 0 0 no-repeat;}
#main-top2 {background: url(/clients/DevonTheater/Images/main-tr.png) 100% 0 no-repeat;}
#main-top3 {background: url(/clients/DevonTheater/Images/main-tm.png) 0 0 repeat-x;}
#main {background: url(/clients/DevonTheater/Images/main-m.png) 0 0;}
#main2 {background: url(/clients/DevonTheater/Images/main-l.png) 0 0 repeat-y;}
#main3 {background: url(/clients/DevonTheater/Images/main-r.png) 100% 0 repeat-y;}
#main-bottom {background: url(/clients/DevonTheater/Images/main-bl.png) 0 0 no-repeat;}
#main-bottom2 {background: url(/clients/DevonTheater/Images/main-br.png) 100% 0 no-repeat;}
#main-bottom3 {background: url(/clients/DevonTheater/Images/main-bm.png) 0 0 repeat-x;}
#bottom-shadow {background: url(/clients/DevonTheater/Images/bottom-shadow.png) 50% 0 no-repeat;}
img#rocket {background: url(/clients/DevonTheater/Images/rocket.png) 0 0 no-repeat;}
span.pathway img {background: url(/clients/DevonTheater/Images/path-div.png) 0 50% no-repeat;}
a.large .button {background: url(/clients/DevonTheater/Images/font-lg.png) 0 0 no-repeat;}
a.small .button {background: url(/clients/DevonTheater/Images/font-sm.png) 0 0 no-repeat;}
.rok-content-rotator .arrow {background: url(/clients/DevonTheater/Images/rotator-active.png) 0 0 no-repeat;}