/* style4 */

body {color: #999;background: #240008;}
a {color: #fff;}
a:hover {color: #ED0202;}
.contentheading, .componentheading {color: #fff;}
h1 {color: #ECC96C;}
h2 {color: #fff;}
h4 {color: #ED0202;}
span.small, td.createdate, td.modifydate {color: #666;}
#body-bg {background: #160005 url(/clients/DevonTheater/Images/bg.jpg) 50% 0 no-repeat;}
#bg-panel2 {background: url(/clients/DevonTheater/Images/bg2.png) 0 100% repeat-x;}
#top-bar {background: url(/clients/DevonTheater/Images/top-bar.png) 0 0 repeat-x;}
#banner-top {background: #160005; border-bottom: 1px solid #46291E;}
#topmenu-mod {color: #ccc;}
#banner-mod {color: #ccc;}
#date-block {color: #fff;}
.date1 {border-right: 1px dotted #BFBCC2;}
.date2 {color: #ddd;}
.date3 {color: #ddd;}
#showcasemodules, .rotator-module {color: #fff;}
#showcasemodules a, .rotator-module a {color: #ECC96C;}
#main-bar {background: #1B0006 url(/clients/DevonTheater/Images/col-bgtop.png) 0 0 repeat-x;border: 1px solid #46291E;}
#searchmod {background: url(/clients/DevonTheater/Images/search-bg.png) 0 0 no-repeat;}
.inner {background: #1B0006 url(/clients/DevonTheater/Images/col-bgtop.png) 0 0 repeat-x;border-top: 1px solid #46291E;border-left: 1px solid #46291E;border-right: 1px solid #46291E;}
.col-bottom {background: url(/clients/DevonTheater/Images/col-bl.png) 0 0 repeat-x;}
.col-bottom2 {background: url(/clients/DevonTheater/Images/col-br.png) 100% 0 no-repeat;}
.col-bottom3 {background: url(/clients/DevonTheater/Images/col-bm.png) 0 0 repeat-x;}
#bottom-menu {background: url(/clients/DevonTheater/Images/bottom-menu.png) 50% 0 repeat-x;}
#footer {background: #240008 url(/clients/DevonTheater/Images/bottom-bg.png) 50% 0 repeat-x;}
#copyright {color: #A11B20;}

.module h3, .moduletable h3, .submenu-block h3 {color: #fff;}
.module h3 span, .moduletable h3 span, .submenu-block h3 span {color: #ECC96C;}
#newsflash .moduletable {color: #fff;}
#bottom .module h3, #bottom .module h3 span {color: #ECC96C;}
#banner-right .moduletable h3 span, #banner-left .moduletable h3 span {color: #fff;}

#horiz-menu li {color: #fff;}
#horiz-menu a, #horiz-menu .separator {color: #fff;}
#horiz-menu li a, #horiz-menu li .separator {color: #bbb;}
#horiz-menu li.active a, #horiz-menu li.active .separator {color: #fff;border-bottom: 1px solid #fff;}
#horiz-menu li a:hover, #horiz-menu li .separator:hover {color: #fff;}
#horiz-menu.splitmenu li a:hover, #horiz-menu.splitmenu li .separator:hover {border-bottom: 1px solid #fff;}
.menutop .animated-bg {border-bottom:1px solid #FFFFFF;}
.menutop .submenu-animation-left {background: url(/clients/DevonTheater/Images/sub-hover-l.png) 0 0 no-repeat;} 
.menutop .submenu-animation-right {background: url(/clients/DevonTheater/Images/sub-hover-r.png) 100% 0 no-repeat;}
#horiz-menu ul ul li a, #horiz-menu ul li.active.parent ul a, #horiz-menu ul ul li .separator, #horiz-menu ul li.active.parent ul .separator {color: #bbb;}
#horiz-menu li.sfHover li a, #horiz-menu li:hover li a, #horiz-menu ul li.active ul li.active li a, #horiz-menu ul li.active.parent ul li a, #horiz-menu li.sfHover li .separator, #horiz-menu li:hover li .separator, #horiz-menu ul li.active.parent ul li .separator, #horiz-menu ul li.active.parent ul li .seperator {color: #fff;}
#horiz-menu ul ul {background: #1B0006 url(/clients/DevonTheater/Images/col-bgtop.png) 0 0 repeat-x;border: 1px solid #46291E;}
#horiz-menu ul ul li a.daddy, #horiz-menu ul ul li a.daddy:hover, #horiz-menu ul li.active.parent ul li a.daddy, #horiz-menu ul ul li .separator.daddy, #horiz-menu ul ul li .separator.daddy:hover, #horiz-menu ul li.active.parent ul li .separator.daddy {background: url(/clients/DevonTheater/Images/submenu-arrow.png) 95% 60% no-repeat;}

#topmenu-mod #mainlevel-top li {border-right: 1px dotted #fff;}
#topmenu-mod #mainlevel-top a, #banner-mod #mainlevel-top a#active_menu.mainlevel {color: #fff;}
#topmenu-mod .banner-small {color: #fff;}
#bottom-menu #mainlevel-bottom a {color: #A11B20;}
#bottom-menu #mainlevel-bottom a:hover, #bottom-menu #mainlevel-bottom a#active_menu.mainlevel {color: #fff;border-bottom: 1px solid #fff;}

a.mainlevel {color: #ccc;background: url(/clients/DevonTheater/Images/submenu-arrow.png) 0 8px no-repeat;}
a.sublevel {color: #ccc;}
a.mainlevel:hover, a.sublevel:hover {color: #ED0202;}
ul.menu li {border-bottom: 1px dotted #666;}
ul.menu li.active.parent ul {background: url(/clients/DevonTheater/Images/submenu-bgbottom.png) 0 100% repeat-x;}
ul.menu li.active.parent {background: url(/clients/DevonTheater/Images/submenu-bgtop.png) 0 0 repeat-x;}
ul.menu li span {background: url(/clients/DevonTheater/Images/submenu-arrow.png) 95% 50% no-repeat;}
ul.menu li.active.parent span {background: url(/clients/DevonTheater/Images/submenu-parent-arrow2.png) 95% 50% no-repeat;}
ul.menu li.active.parent a, ul.menu li.active.parent .separator {color: #ED0202;}
ul.menu li.active.parent a:hover, ul.menu li.active.parent .separator:hover {color: #fff;}
ul.menu a, ul.menu .separator {color: #ccc;}
ul.menu a:hover, ul.menu .separator:hover {color: #fff;}
ul.menu li.active a, ul.menu li.active li.active a, a#active_menu.mainlevel, a#active_menu.sublevel, a.mainlevel:hover, a.sublevel:hover, ul.menu li.active .separator, ul.menu li.active li.active .separator {color: #ED0202;}
ul.menu li.active.parent ul li.active.parent a.daddy, ul.menu li.active.parent ul li.active.parent .separator.daddy {color: #D4C0E9;}
ul.menu div.split-arrow-open {background: url(/clients/DevonTheater/Images/submenu-parent-arrow2.png) 65% 50% no-repeat;}
ul.menu div.split-arrow-close {background: url(/clients/DevonTheater/Images/submenu-parent-arrow.png) 65% 50% no-repeat;}
#main-body ul.menu a:hover, #main-body ul.menu .separator:hover {color: #333;}

a.readon {background: url(/clients/DevonTheater/Images/submenu-arrow.png) 0 5px no-repeat;}
a.readon2 {background: url(/clients/DevonTheater/Images/readon.png) 0 0 no-repeat;color: #ccc;}
a.readon2:hover {color: #fff;}
.pathway-block.top span.pathway {color: #fff;}
.pathway-block.top span.pathway a {color: #999;}
span.pathway {color: #A11B20;}
.fontbutton-text {color: #ccc;}
fieldset {border-bottom: 1px solid #ddd;}
.tool-tip {background: #f6f6f6;border: 1px solid #e6e6e6;}

.module input.button, .moduletable input.button {background: url(/clients/DevonTheater/Images/readon.png) 0 0 no-repeat;color: #ccc;}
.module input.button:hover, .module input.button:hover {color: #fff;}
#sl_vert .button {background: url(/clients/DevonTheater/Images/readon.png) 0 0 no-repeat;color: #ccc;}
#sl_vert .button:hover {color: #fff;}
#sl_vert #sl_username, #sl_vert #sl_pass {background: url(/clients/DevonTheater/Images/input-bg.png) 0 0 no-repeat;}
input#mod_login_username.inputbox, input#mod_login_password.inputbox, input#modlgn_username.inputbox, input#modlgn_passwd.inputbox {background: url(/clients/DevonTheater/Images/input-bg.png) 0 0 no-repeat;}

#rokslide-toolbar {color: #ECC96C;background: url(/clients/DevonTheater/Images/tabber-div.png) 0 100% repeat-x;}
#rokslide-toolbar li.current, #rokslide-toolbar li:hover {color: #fff;border-bottom: 1px solid #fff;}
.rotator-module .rok-content-rotator h2 a {color: #ccc;}
.rotator-module .rok-content-rotator h2 a.active {color: #fff;}
.rotator-module .rok-content-rotator h2 a:hover, .rotator-module .rok-content-rotator h2 a:hover.active {color: #fff;}
#newsflash .flashing{color: #fff;}
#newsflash .controls img{background-image: url(/clients/DevonTheater/Images/news-scroller-controls.png);}

blockquote, pre {background: #140004;border: 1px solid #3A0709;}
span.number {color: #fff;}
span.inset-right, span.inset-left {color: #fff;}
span.dropcap {color: #fff;}
span.important-title {color: #fff;}
.important {border: 1px solid #fff;}
span.important-title, span.important-title-blue, span.important-title-red, span.important-title-green, span.important-title-purple, span.important-title-orange, span.important-title-brown, span.important-title-grey {background: #1B0006;}
ul.bullet-1 li {background: url(../images/typo/bullet-1a.png) 0 5px no-repeat;}
ul.bullet-2 li {background: url(../images/typo/bullet-2a.png) 0 5px no-repeat;}
ul.bullet-3 li {background: url(../images/typo/bullet-3a.png) 0 5px no-repeat;}
ul.bullet-4 li {background: url(../images/typo/bullet-4a.png) 0 5px no-repeat;}
ul.bullet-5 li {background: url(../images/typo/bullet-5a.png) 0 5px no-repeat;}
img.demo, img#variation_preview {border: 4px solid #420A0C;}