.home,
.sub
{
	background-image: url(/clients/cabrilloplayhouse/images/background.jpg);
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 10px;
	padding-bottom: 2em;
}

.component
{
	padding: 0;
}

.flip-book-module {
	height:300px;
}
.home a img,
.sub a img,
.mceContentBody a img
{
	border: none;
}

#Main
{
	width: auto;
	background: transparent url(/clients/cabrilloplayhouse/images/upper_background.gif) repeat-x left 133px;
	padding-top: 133px;
}

#Main .void-main
{
	width: 775px;
	padding: 147px 17px 75px 16px;
	margin: 0 auto;
	background: transparent url(/clients/cabrilloplayhouse/images/outline.png) repeat-y left top;
	position: relative;
}

#Header
{
	position: absolute;
	top: -122px;
	left: 0;
	right: 0;
	background: transparent url(/clients/cabrilloplayhouse/images/header.jpg) no-repeat left top;
	height: auto;
	padding: 40px 17px 0 16px;
}

#Header h1
{
	width: 267px;
	height: 67px;
	margin: 0 auto 18px auto;
}

#Header h1 a
{
	background: transparent url(/clients/cabrilloplayhouse/images/logo.png) no-repeat center center;
	width: 267px;
	height: 67px;
}

#Header h1 a span
{
	display: none;
}

#Header h2
{
	display: none;
}

#PrimaryNavigation
{
	height: 33px;
	position: absolute;
	top: 122px;
	left: 16px;
	right: 17px;
	background: #9c8d7c url(/clients/cabrilloplayhouse/images/nav.gif) no-repeat left center;
	text-align: center;
}

#PrimaryNavigation .void-primarynav
{
	height: 30px;

}

#PrimaryNavigation ul li
{
	display: inline;
	float: none;
	position: relative;
	font-size: 130%;
	font-weight: bold;
	text-transform: uppercase;
	border: none;
	height: 30px;
	font-family: "Palatino Linotype", Palatino, "Book Antiqua", serif;
	letter-spacing: .1em;
	color: #231f20;
}

#PrimaryNavigation ul li a
{
	display: inline-block;
	padding: .6em 1em;
}

#PrimaryNavigation ul.primarynav > li.active > a
{
	color: white;
}

#PrimaryNavigation ul li a:hover
{
	color: #eaeaea;
}

#PrimaryNavigation ul li ul
{
	top: 11px;
	padding-top: 1em;
	right: 0;
}

#PrimaryNavigation ul li ul li
{
	font-size: 70%;
	
	border-bottom: 1px solid #958b83;
	border-width: 0 0 1px 0;
	background-color: #f3efe4;
	text-transform: none;
	background: #f5f1e6 url(/clients/cabrilloplayhouse/images/dropdown_left.gif) repeat-y left center;
	display: block;
	opacity: 0.9;
}

#PrimaryNavigation ul li ul li a
{
	background: transparent url(/clients/cabrilloplayhouse/images/dropdown_right.gif) repeat-y right center;
	display: block;
	padding: 3px 1em;
}

#PrimaryNavigation ul li ul li:first-child
{
	background-image: url(/clients/cabrilloplayhouse/images/dropdown_first_left.gif);
}

#PrimaryNavigation ul li ul li:first-child a
{
	background-image: url(/clients/cabrilloplayhouse/images/dropdown_first_right.gif);
}

#PrimaryNavigation ul li ul li.end
{
	border-bottom: none;
	background-image: url(/clients/cabrilloplayhouse/images/dropdown_last_left.gif);
}

#PrimaryNavigation ul li ul li.end a
{
	background-image: url(/clients/cabrilloplayhouse/images/dropdown_last_right.gif);
}

#StockImage
{
	width: 282px;
	padding: 40px 16px 0 445px;
	height: 207px;
	background: #3c2d23 url(/clients/cabrilloplayhouse/images/default_stock_home.jpg) no-repeat left bottom;
	color: #ee7f51;
	font-family: "Palatino Linotype", Palatino, "Book Antiqua", serif;
	text-transform: lowercase;
	font-variant: small-caps;
	font-size: 120%;
	font-weight: bold;
	line-height: 1.2;
}

#StockImage p
{
	padding-bottom: 0;
	margin: .6em 0;
}

#StockImage h3
{
	font-variant: normal;
	text-transform: uppercase;
	font-size: 140%;
	letter-spacing: .1em;
}

#Body
{
	margin-top: 2px;
	background: #71665b url(/clients/cabrilloplayhouse/images/body_background.gif) repeat-y center top;
}

#Content
{
	background: transparent url(/clients/cabrilloplayhouse/images/body_bottom_background.gif) no-repeat center bottom;
	width: 650px;
}

#Content-Left, #Content-Right
{
	display: none;
}

#Content-Text
{
	width: 650px;
	float: none;
}

#Content-Text .module-row
{
	overflow: hidden;
}

#Content-Text .module-row .module
{
	margin: 0;
}

#ModuleRow1 .module	 
{ 
	background-color:#756453; 
	color: #ece0c5; 
}

#Content-Text .module-row .module.of-two
{
	width: 371px;
}

#Content-Text .module-row .module.of-two .void div h3,
#Content-Text .module-row .module.of-two .void div h4,
#Content-Text .module-row .module.of-two .void div p
{
	margin-left: 1em;
}

#Content-Text .module-row .module.of-two .void div img
{
	margin-left: 0;
	margin-bottom: .5em;
}

#Content-Text .module-row .module.first.of-two
{
	border-right: 1px solid #d2c5af;
}

#Content-Text .module-row .module.second.of-two
{
	float: right;
}

#Content-Text .module .void > h3,
#Content-Text .module-row > h3
{
	padding-left: 1em;
}

#Content-Text > .component
{
	padding: 1em 3em;

}

#Content-Text > .component h3
{
	background: transparent url(/clients/cabrilloplayhouse/images/fading_line.gif) no-repeat left bottom;
	margin: 0 0 1em -2.5em;
	padding-left: 2.5em;
}

#Content-Text h2,
#Content-Text h3,
#Content-Text h4
{
	font-family: "Palatino Linotype", Palatino, "Book Antiqua", serif;
	letter-spacing: .1em;
	
	text-transform: uppercase;
	
}


#Content-Text .component h3,
#Content-Text .module-row > h3
{
	font-size: 120%;
	color: #30261c;
	line-height: 40px;

}

#Content-Text h2
{
	font-size: 140%;
	color: #30261c;
	line-height: 40px;
	padding-left: 1em;
	background: transparent url(/clients/cabrilloplayhouse/images/module_title_left.jpg) repeat-y left center;
	margin-bottom: .8em;
}

#Content-Text h4
{
	font-size: 110%;
}
	

#Content-Text .module.first .void > h3,
#Content-Text .module-row > h3
{
	background: transparent url(/clients/cabrilloplayhouse/images/module_title_left.jpg) no-repeat left center;
}

#Content-Text .module.second.of-two .void > h3
{
	background: transparent url(/clients/cabrilloplayhouse/images/module_title_right.jpg) no-repeat left center;
}

#Footer
{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 75px;
	background: transparent url(/clients/cabrilloplayhouse/images/footer.jpg) no-repeat center bottom;
	padding-bottom: 0;
	text-align: center;
}

#Footer .void
{
	padding: 0 48px 0 16px;
}

#Footer p
{
	padding: 0;
}