/* This unique combination of stylistic elements (images, colors, sizes, type and placement) is copyright 2006 Gregory Robleto and the Delaware Shakespeare Festival and may not be reproduced. */ 



/* ----- MAIN CONTENT ------------------ */

#maincontent p a:link, #maincontent p a:visited {
	text-decoration: none;
	} 

#maincontent p a:hover {
	text-decoration: underline;
	} 

#maincontent .roundedtop {
	background: #fff url(/PrivateLabel/DelShakes/images/roundedcontent-top.gif) top left no-repeat;
	display:block;
	width: 489px;
	height: 17px;
	margin-bottom: 0px;
}
#maincontent .roundedcontent {
	background: #fff url(/PrivateLabel/DelShakes/images/roundedcontent-back.gif) top left repeat-y;
	margin-top: -7px;
	margin-bottom: -14px;
	padding-left: 25px;
	padding-right:40px;
	width: 429px;
	}
#maincontent .roundedbottom {
	background: #fff url(/PrivateLabel/DelShakes/images/roundedcontent-bottom.gif) top left no-repeat;
	display:block;
	width: 489px;
	margin-top: 0px;
	height: 16px;
}

.tocthumb {
	margin-right: 10px;
	}	
	
/*** Home Page del.icio.us ***/
.leftHome {
	margin-left: 0px;
	padding-left: 0px;
	padding-right: 5px;
	float:left;
	border-right: solid 1px #efefef;
	width: 30%;

}
.centerHome {
	margin-left: 0px;
	padding-left: 15px;
	padding-right: 15px;
	float:right;
	width: 60%;
	

}
.centerHome h4.pitch {
	width: 100%;
	font-size:95%;
	padding: 8px 3px 8px 3px;
	margin-bottom: 0px;
	line-height:150%;
}
#delicious-posts-delshakes, 
#delshakes-posts-delshakes {
	margin-left: 0px;
	padding-left: 0px;
}
#delicious-posts-delshakes ul, 
#delshakes-posts-delshakes ul  {
	margin: 0px;
	padding: 3px 0px;
}
#delicious-posts-delshakes ul li,
#delshakes-posts-delshakes ul li {
	list-style-type: none;
	margin-left: 0px;
	padding: 3px 17px 3px 17px;
	color:#999;
}
#delicious-posts-delshakes ul li a,
#delshakes-posts-delshakes ul li a {
	font-size: 100%;
}
/***  Main Content Typography	***/	
	
h2	{
	font-weight: normal;
	font-size: 170%;
	margin: 10px 0 15px 0;
	color: #3D6CA0;
	letter-spacing: 1px;
	font-family: Georgia, "New Century Schoolbook", "Bitstream Vera Serif", Utopia, "Times New Roman", times, serif;
	background: transparent url(/PrivateLabel/DelShakes/images/titleicon2.gif) top left no-repeat;
	padding: 0 0 0 40px;
	text-transform:uppercase;
	}

h3 {
	font-weight: normal;
	padding-top: 15px;
	margin-bottom: 8px;
	border: 0;
	line-height: 130%;
	letter-spacing: 1px;
	font-style: italic;
	font-size:150%;
	font-family: Georgia, "New Century Schoolbook", "Bitstream Vera Serif", Utopia, "Times New Roman", times, serif;
	}

h2.follow	{
	margin-top: 5px;
	}

	
h4 {
	padding-bottom: 1px;
	padding-top: 5px;
	margin-bottom: 5px;
	border: 0;
	border-bottom: 1px dashed #dcdcdc;
	line-height: 140%;
	letter-spacing: 1px;
	font-family: Georgia, "New Century Schoolbook", "Bitstream Vera Serif", Utopia, "Times New Roman", times, serif;
	font-weight: normal;
	font-size: 120%
	}
	
h4.pitch {
	display: block;
	border-top: dashed 1px #999;
	border-bottom: dashed 1px #999;
	padding: 10px;
	font-family: Georgia, "New Century Schoolbook", "Bitstream Vera Serif", Utopia, "Times New Roman", times, serif;
	font-style: normal;
	line-height: 110%;
	letter-spacing: 1px;
	text-align: center;
	font-size:110%;
	margin-bottom: 15px;
}
table#shoptable {
	border:0;
	text-align: center;
	}
table#shoptable td {
	text-align: center;
	font-size:70%;
	padding:25px;
}
table#shoptable td img {
	height:110px;
}

table#madlibstable td {
	padding:4px;
	}
	
table#madlibstable label {
	float:right;
	}
	
	
/* ------------------ TABLES & FORMS ------------------ */

/***   Table Styles 	***/

.tableFormHeader   { 
	font-weight: bold; 
	color: #666; 
	border-bottom: solid 1px #999; 
	}
.tableBreakRow   { 
	font-size: 87%; 
	background-color: #f9f9f9; 
	border: dashed 1px #ccc; 
	}
.tableColumns {
	border-bottom: #b1b1b1 1px solid; 
	font-weight: bold;
	color:#555;
	}

.tableEmptyRow  { 
	border: solid 1px #bbb 
	}

.tableFilledRow   { 
	background-color: #CCCCB7; 
	border: solid 1px #bbb; 
	}


.tableSubmitRow   { 
	background-color: #ccc; 
	border: solid 1px #bbb; 
	}
	
.calendar {
	font-size:85%;
}
.calendar caption {
	border-bottom: #b1b1b1 1px solid; 
	font-weight: bold;
	color:#555;
	text-align:left;

}
.calendar th {
	background-color: #ccc; 
	border: solid 1px #bbb; 
	}
.calendar td {
	border: solid 1px #ddd;
	}