BODY
{
    MARGIN: 0px;
    BACKGROUND-COLOR: #fff;
    TEXT-ALIGN: center
}
#wrapper
{
    WIDTH: 100%;
    BACKGROUND-COLOR: #fff
}
#wrappertop
{
    DISPLAY: none
}
#wrapperbottom
{
    DISPLAY: none
}
#header
{
    BACKGROUND: none transparent scroll repeat 0% 0%;
    WIDTH: 100%
}
#pagebody
{
    BACKGROUND: none transparent scroll repeat 0% 0%;
    WIDTH: 100%
}
#mainbody
{
    BACKGROUND: none transparent scroll repeat 0% 0%;
    WIDTH: 100%
}
#maincontent
{
    BACKGROUND: none transparent scroll repeat 0% 0%;
    WIDTH: 100%
}
#globalnav
{
    DISPLAY: none
}
.tabs
{
    DISPLAY: none
}
#footer
{
    DISPLAY: none
}
.rightbox
{
    DISPLAY: none
}
H1#logo
{
    DISPLAY: block;
    BACKGROUND: none transparent scroll repeat 0% 0%;
    WIDTH: 100%
}
#default H1#logo
{
    DISPLAY: block;
    BACKGROUND: none transparent scroll repeat 0% 0%;
    WIDTH: 100%
}
