img{ border:0;}

.inner{ width:960px; margin:0 auto;}

.top{ height:70px;}

.top ul{display:block !important; list-style:none; position:absolute; margin:0; z-index:15; width:960px;}

.top ul li{ float:left; font-size:11px; }

.login {padding-top:26px;}

.login a:link, .login a:visited{ color:#FFF; text-decoration:none; text-transform:uppercase; padding-right:15px;}

.login a:hover{ color:#FFF; text-decoration:underline;}

.top_twitter{ padding-left:205px; padding-top:26px;}

.top_twitter a:link, .top_twitter a:visited{color:#FFF; text-decoration:none; padding-right:15px;}
.top_twitter a img{ border:none; padding-right:5px;}

.top_twitter a:hover{ color:#FFF; text-decoration:underline; background:none;}

.nav_pad{ padding-left:230px;}

.search_box{padding-top:20px; float:right !important;}

.search{display:block !important; padding-top:26px;}

.search span{ float:left;}

.icon_search{ padding:3px 5px 0px 0px;}

.btn_search{ background:url(../images/btn_search.jpg) left top repeat-x; color:#FFF; outline:none; border:none; height:27px; width:63px; text-align:center;}

.inputbox{ color:#000; outline:none; border:none;  width:142px; =height:27px }



select{ text-transform:none; width:142px }



/* added by sonam */

.searchinputbox{  /*background:url(../images/search_bg.jpg) left top no-repeat;*/ color:#000; outline:none; border:none; height:26px;=height:19px; /*padding:0 3px;*/ .padding-top:5px; margin:0; .margin-top:-1px; margin-right:-2px;}



.middle{ width:960px;}

.mid_shadow{ background:url(../images/mid_shadow.png) center bottom no-repeat; padding-bottom:26px; margin-top:-108px; float:left;}

.slideing_content{ width:784px; height:311px; padding:20px 20px 0 10px;}

.big_pic{ width:300px; position:relative;}

.btn_slide{ width:29px; padding-right:10px;}

.sliding_box{ width:443px; padding:0px 20px 0 20px; color:#afafaf; font-size:12px;}

.sliding_box h1{ color:#fff; font-size:28px;}

.sliding_box h3{ color:#c4c4c4; margin:0 !important; padding:10px 0 0 0 !important; font-size:14px; font-family:Georgia, "Times New Roman", Times, serif; font-weight:normal; font-style:italic;}

.sliding_box p{ padding:5px 0 0 0; line-height:18px;}

.sliding_box p a{ color:#ffcc00; font-size:12px; text-decoration:none;}

.sliding_box p a:hover{ color:#ffcc00; font-size:12px; text-decoration:underline;}

.btn_get{ width:130px;}

.price{ padding-top:35px; line-height:28px;}

.blue{ color:#70f3ff;}

.back a{ background:url(../images/btn_back.png) left top no-repeat; padding-left:35px; line-height:29px; font-weight:bold; text-decoration:none; color:#FC0; display:block;}

.back a:hover{text-decoration:underline; color:#FC0;}

.next a{ background:url(../images/btn_next.png) right top no-repeat; padding-right:35px; line-height:29px; font-weight:bold; text-decoration:none; color:#FC0; display:block;}

.next a:hover{text-decoration:underline; color:#FC0;}

.drop{ padding-top:18px;}

.drop select{ width:150px;}

.pic_title{ position:absolute; z-index:5; /*right:0;*/ color:#000; font-style:italic; background:url(../images/pic_title.gif) left top repeat-x; padding:0 10px; line-height:25px;}

.star{ padding:8px 3px 0 3px;}

.star1{ padding:5px 3px 0 3px;}



.col-3{ padding-top:40px; color:#c4c4c4;}

.box1{ width:250px; padding-right:20px;/*addedd softweb(ishit)*/}

.box2{ width:160px; padding-left:35px; /*addedd softweb(ishit)*/}

.box3{ width:130px;}

.box4{ width:365px; /*width:160px; padding-left:35px;*/ /*addedd softweb(ishit)*/}

.box5{ width:270px; padding-left:35px; /*addedd softweb(ishit)*/}

.box6{ width:320px;}

.box7{ width:350px;}

.box8{ width:290px;}

.boxReview{ width:269px;}

.left{ float:left;}

.right{ float:right;}

.col-3 h4{ color:#6ff3ff; margin:0 !important; padding:0 !important; font-size:11px; text-transform:uppercase; }

.col-3 h5{ color:#6ff3ff; margin:0 !important; padding:10px 0 0 0 !important; font-size:12px; text-transform:uppercase; }

.col-3 h3{ color:#fff; margin:0 !important; padding:0 !important; font-size:18px; font-family:Georgia, "Times New Roman", Times, serif; font-weight:normal;}

.col-3 p{ color:#c4c4c4; margin:0 !important; padding:10px 0 0 0 !important; font-size:12px; text-align:left;}

.col-3 p a{ color:#ffcc00 !important; margin:0 !important; padding:0; font-size:12px; text-decoration:none;}

.col-3 p a:hover{text-decoration:underline;}



.pic_box{ list-style:none; margin:0 !important; padding:0 !important; }

.pic_box li{ display:inline; font-size:2px; margin:0 !important; padding:0 15px 0 0 !important; float:left;}



.listing{ list-style:none; margin:0 !important; padding:8px 0 0 0 !important; }

.listing li{ display:block; list-style:none; list-style-position:outside; margin:0 !important; padding:0 !important;}

.listing li a{ color:#c4c4c4; font-weight:normal; background:url(../images/arrow_yellow.gif) left 5px no-repeat; line-height:22px; padding:0 15px 0 15px !important; text-decoration:none; float:none; text-transform:none; font-size:12px;}





/*added ishit(softweb)*/

/*

#header .nav ul .listing{ list-style:none; margin:0 !important; padding:8px 0 0 0 !important; }

#header .nav ul .listing li{ display:block; list-style:none; list-style-position:outside; margin:0 !important; padding:0 !important;}

#header .nav ul .listing li a{ color:#c4c4c4; font-weight:normal; background:url(../images/arrow_yellow.gif) left 5px no-repeat; line-height:22px; padding:0 15px 0 15px !important; text-decoration:none; float:none; text-transform:none; font-size:12px;}



*/



.fan{ padding-top:12px; float:left; width:130px; color:#fff}
.fan a{ padding-top:12px; float:left; width:130px; color:#fff; text-decoration:none}
.fan a:hover{ padding-top:12px; float:left; width:130px; color:#fff; text-decoration:none}
.fan img{ float:left; padding-right:5px;}



.mail{display:block; padding:10px 0; float:left; width:250px;}

.mail form{display:block; margin:0 !important; padding:0 !important;}

.mail span{ float:left;}

.btn_search1{ background:#3c3a3c; color:#FFF; outline:none; border:none; height:27px; width:83px; text-align:center;}

.inputbox1{ /*background:url(../images/mail_input.gif) left top no-repeat; */color:#000; outline:none; border:none; height:26px;=height:19px; width:142px; padding:0 3px; .padding-top:5px; margin:0; .margin-top:-1px;}



.datebox{ width:318px; height:50px; margin-bottom:15px;}

.dateboxin{ width:318px; position:absolute; margin-left:-18px;}

.date_back{float:left; padding-top:8px; width:18px; }

.date{ width:269px; float:left;}

.date_title{ font-family:Georgia, "Times New Roman", Times, serif; font-size:22px; color:#FFF;}



.pad20{ padding:0 10px 0 10px; width:240px;}

.bot_border{ border-bottom:1px solid #333; padding:0 10px 10px 0;}

.text{font-size:11px !important;}

.view{ background:url(../images/arrow_white.gif) left center no-repeat; padding-left:15px !important;} /* change Rohan... for view buzz---- 06/07/2010 -->*/

.tab_content{ background:url(../images/shadow.png) center top no-repeat; padding-top:20px;}



.list {width:100%; float:left; margin-bottom:10px;}

.list-black {width:100%; float:left; margin-bottom:10px; background-color:#000; padding-top:10px;}

.list-black strong{ float:left; lmargin:0; position:relative; text-align:center;}

.list strong{ float:left; lmargin:0; position:relative; text-align:center;}

.list div{ display:block; overflow:hidden; padding:3px 0 5px 10px; text-decoration:none; color:#afafaf; font-size:12px;}

.text2 em{ color:#70f3ff; font-style:italic; text-decoration:none; font-family:Georgia, "Times New Roman", Times, serif; font-size:11px; font-weight:normal;}

.text2 em:hover{ text-decoration:underline;}



.pad30{ padding:0 10px 0 10px; width:290px;}



.tab{ float:left; padding-top:20px;}

.tab ul{ list-style:none; margin:0 !important; padding:0 !important; }

.tab ul li{margin:0 1px 0 0 !important; padding:0 0px 0 6px !important; list-style:none; float:left; background:url(../images/tab_left.png) left top no-repeat;}

.tab ul li a{margin:0 !important; padding:0 16px 0 10px !important; float:left; background:url(../images/tab_right.png) right top no-repeat; line-height:28px; color:#FFF; text-decoration:none; }

.tab ul li:hover{background:url(../images/tab_left_h.png) left top no-repeat;}

.tab ul li a:hover{background:url(../images/tab_right_h.png) right top no-repeat; color:#000; text-decoration:none; }

.tab ul li.active{background:url(../images/tab_left_h.png) left top no-repeat;}

.tab ul li.active a{background:url(../images/tab_right_h.png) right top no-repeat; color:#000; text-decoration:none; }



.shadow{ background:url(../images/footer_bg.png) center bottom no-repeat; padding-bottom:40px; float:left;}



/*innerpage*/

.innerpage{background:#94151a url(../images/inner_red.png) left top repeat-x; padding-top:100px; padding-bottom:50px; color:#c4c4c4;}



.innerpage_trans{background:url(../images/inner_red_trans.png) left top repeat-x; padding-top:100px; padding-bottom:50px; color:#c4c4c4;}



.col_r{ width:283px;}

.col_l{ width:640px;}

.newregistrationcol_l{ width:863px; border:1px solid #dbdbdb; text-align:left; margin-left:51px;}

.newLogincol_l{ width:554px; border:1px solid #dbdbdb; text-align:left; margin-left:203px;}



.newEditaccountcol_l{ width:671px; border:1px solid #dbdbdb; text-align:left; margin-left:200px;}

.newEditForms{ width:624px; border:1px solid #dbdbdb; text-align:left; margin-left:200px;}

.newEditFormssmall{ width:560px; border:1px solid #dbdbdb; text-align:left; margin-left:200px;}



.newVenuecol_l{ width:751px; border:1px solid #dbdbdb; text-align:left;}

.newNightlifecol_l{ width:692px; border:1px solid #dbdbdb; text-align:left;}

.newShowcol_l{ width:740px; border:1px solid #dbdbdb; text-align:left;}

.innerpage h1{ color:#fff; font-size:40px;}

.innerpage_trans h1{ color:#fff; font-size:40px;}



/*added softweb(ishit) for menu*/

#menuDiv h1{ color:#fff; font-size:18px;text-transform:none;font-family:Georgia, "Times New Roman", Times, serif;}

#menuDiv .text1{ padding-top:10px; font-size:15px; line-height:20px; padding-right:30px;}

/**/





.text1{ padding-top:10px; font-size:16px; line-height:20px; padding-right:30px;}

.box{ width:140px; font-size:11px; padding:15px 10px 15px 0px;}

.box span{ text-align:center; display:block; height:50px;}

.box strong{ color:#FFF; text-transform:uppercase; display:block; padding:12px 0px 10px 0;}

.log_account{ padding:7px 0 0 10px;}

.log_account a{ color:#ffcc00; font-size:14px; font-weight:bold; text-decoration:none;}

.log_account a:hover{ text-decoration:underline;}

.innerpage h4{ color:#fff; margin:0 !important; padding:15px 0 0 0 !important; font-size:11px; text-transform:uppercase; }

.innerpage_trans h4{ color:#fff; margin:0 !important; padding:20px 0 0 0 !important; font-size:11px; text-transform:uppercase; }





.box-theater{ width:300px; font-size:11px; padding:30px 10px 15px 0px;}

.box-theater span{ width:200px; font-size:11px; padding:30px 10px 15px 0px; color:#ffcc00; font-weight:bold;}

.upcoming-heading{font-family:Georgia, "Times New Roman", Times, serif; font-size:18px; font-weight:bold; color:#fff; padding-top:20px;}



.yello-head{ font-size:11px;  color:#ffcc00; font-weight:bold;}

.yello-find{background:url(../images/find-show.png) no-repeat left top; width:636px; height:111px; padding:15px; color:#000;}





/*added on 10-04-10*/



.in-box{ float:left; margin-right:14px; background:url(../images/white-repeat.gif) repeat-x left top;/* height:26px;*/ padding:4px 4px 4px 0; *padding:2px 2px 0 5px; margin-bottom:10px; border:1px solid #C88A0B; width:165px }

.in-box-select{  *border:0px; border:0 none; width:175px;}

.in-box-select:focus {outline: 0 none;}

.in-box-select2{*border:0px; border: none; width:180px;}

.in-box-select2:focus {outline: 0 none;}

.big-search-box{ float:left; width:515px; height:38px; line-height:38px; background:url(../images/search-yellow.gif) no-repeat; padding:6px 0px 3px 45px; *padding:5px 0px 3px 45px;}

.big-input{border:none; /*height:25px; line-height:25px; */height:18px; line-height:15px;width:480px; *border:0px; font-size:16px; color:#7F7F7F; vertical-align:middle}

.big-input:focus {outline: 0 none;}



.theater{padding-left:20px; }

.text-find{padding-top:10px; color:#fff; font-weight:bold; font-size:12px;}

.text-find span{ color:#ffcc00; font-weight:bold; font-size:14px; text-decoration:none;}

.text-find a{ color:#ffcc00; font-weight:bold; font-size:14px; text-decoration:none;}

.text-find a:hover{ color:#ffcc00; font-weight:bold; font-size:14px; text-decoration:underline;}



.more-opetion{font-family:arial; font-size:12px; color:#ffcc44; text-decoration:none;}

.more-opetion a{font-family:arial; font-size:12px; color:#ffcc44; text-decoration:none;}

.more-opetion a:hover{font-family:arial; font-size:12px; color:#ffcc44; text-decoration:underline;}



.bluetheater-bg{background:url(../images/blue-bg.png) no-repeat left top; width:636px; height:190px; padding:15px; color:#000;}

.keyword{font-family:arial; font-size:12px; color:#fff; padding-bottom:10px; font-weight:bold;}

.big-search-box-blue{ float:left; width:515px; height:36px; background:url(../images/big-search-blue.gif) no-repeat; padding:0px 0px 0px 45px; }

.search-keyword{font-family:Georgia, "Times New Roman", Times, serif; font-size:18px; color:#fff; padding-bottom:10px; padding-top:25px; *padding-top:12px; } 

.enter-zip{ float:left; margin-right:1px; background:url(../images/enter-zip-bg.gif) no-repeat; height:36px; width:147px; padding-top:4px; padding-right:4px;}

.blue-input{border:none; /*height:30px;*/ width:135px; padding:5px; font-size:16px; color:#7F7F7F}

.blue-input-address{border:none; /*height:30px; */width:206px; padding:5px; font-size:15px; color:#7F7F7F;font-style:italic;}

.blue-input-city{border:none; /*height:30px; */width:100px; padding:5px; font-size:15px; color:#7F7F7F;font-style:italic;}



.or-text{font-family:arial; font-size:12px; color:#fff; padding:15px 0 15px 0; float:left; font-weight:bold;}

.address-in{ float:left;  background:url(../images/address-bg.gif) no-repeat; height:36px; width:225px; padding:4px;}

.city-in{ float:left;  background:url(../images/address-bg.gif) no-repeat; height:36px; width:125px;padding-top:4px; padding-right:4px; }

/* ~~~~~ Show And Tickets Pages Css Start ~~~~~ */



.BreadCrumbs{ padding:20px 0 0 20px;}

.bannerhldr_inner { margin:0px auto 3px auto; width:100%; color:#ffffff; font-weight:bold; display: inline;}

.bannerhldr_inner a { color:#ffcc01; text-decoration:none;}

.bannerhldr_inner a:hover { color:#ffcc01; text-decoration: underline;}

.breadcrumb_arrow { font:normal 14px "Agency FB"; background:url(../images/arrow_white_bd.gif) no-repeat center 8px; color:#3c3c3c; padding:0px 2px; }



.SearchTeacket{ width:100%; height:47px; line-height:47px; margin-top:15px;}

.SearchTeacketLeft{background:url(../images/SearchTeacketLeft.jpg) no-repeat top left;}

.SearchTeacketRight{background:url(../images/SearchTeacketRight.jpg) no-repeat top right;}

.SearchTeacketRight ul{padding:0px; margin:0px;}

.SearchTeacketRight li{ list-style:none; float:left; line-height:47px; height:47px; padding:0 15px 0 0;}

.SearchTeacketRight li a{ color:#5e463a; text-decoration:none; font-size:14px; font-weight:bold;}

.SearchTeacketRight li a:hover{ color:#5e463a; text-decoration:none;}

.QuickFind{ background:url(../images/search-input-bg.jpg) no-repeat top left; height:47px; width:238px; margin-left:15px;}

.QuickFindInput{ margin:13px 0 0 31px; width:180px; display:inline;}

.QuickFind input{border:none; background:none; padding:2px; font-weight:bold; width:180px;}

.QuickFind input:focus {outline: 0 none;}
.quickfind-class { margin-bottom:17px; =margin-bottom:0px;}
.BtnOnStageNow{ padding:10px 0;}

.ContentAreaForShowsaTicket{ width:100%; color:#ffffff; margin-top:15px;}

.ContentAreaForShowsaTicketLeft{ width:269px; float:left; }

.ContentAreaForShowsaTicketRight{ width:673px; float:left;}



.ContentAreaForms{ width:626px; float:left;}

.ContentAreaFormssmall{ width:562px; float:left;}



.ContentAreaFornewregisterTicketRight{ width:100%; float:left;}

.YouHaveSelected{ line-height:25px; min-height:123px !important; font-size:12px; padding-left:13px;}

.YouHaveSelected b{ color:#ffcb00; font-style:italic; font-weight:normal;}

.YouHaveSelected span{ color:#6ff3ff; text-transform:uppercase; font-weight:bold; font-size:12px;}

.NarrowResults{ background:url(../images/shadow.png) no-repeat top center; padding:26px 0 26px 13px; }

.NarrowResults h1{color:#6ff3ff; text-transform:uppercase; font-weight:bold; font-size:12px;}

.NarrowResults span{ font-family:"Times New Roman", Times, serif; font-size:17px; color:#FFF; font-weight:bold; padding-top:20px; display:block;}

.PickDate{background:url(../images/pick_date.jpg) no-repeat 70px 5px;}

.NarrowResults ul{ padding:15px 0 0 0; margin:0px;}

.NarrowResults li{ list-style:none; font-size:12px; line-height:20px; font-weight:bold;}

.NarrowResults li a{text-decoration:none; color:#FFF;}

.NarrowResults li a:hover{text-decoration:none; color:#FFF;}



.ByGenre{ background:url(../images/shadow.png) no-repeat top center; padding:26px 0 26px 13px; }

.ByGenre span{ font-family:"Times New Roman", Times, serif; font-size:17px; color:#FFF; font-weight:bold; display:block;}

.ByGenre b{ color:#b0b0b0; font-style:italic; font-weight:normal;}

.ByGenre ul{ padding:15px 0 0 0; margin:0px;}

.ByGenre li{ list-style:none; font-size:12px; line-height:20px; font-weight:bold;}

.ByGenre li a{text-decoration:none; color:#FFF;}

.ByGenre li a:hover{text-decoration:none; color:#FFF;}



.ByNeightborhood{ background:url(../images/shadow.png) no-repeat top center; padding:26px 0 26px 13px; }

.ByNeightborhood span{ font-family:"Times New Roman", Times, serif; font-size:17px; color:#FFF; font-weight:bold; display:block;}

.ByNeightborhood b{ color:#b0b0b0; font-style:italic; font-weight:normal;}

.ByNeightborhood ul{ padding:15px 0 0 0; margin:0px;}

.ByNeightborhood li{ list-style:none; font-size:12px; line-height:20px; font-weight:bold;}

.ByNeightborhood li a{text-decoration:none; color:#FFF;}

.ByNeightborhood li a:hover{text-decoration:none; color:#FFF;}



.ByShows{ background:url(../images/shadow.png) no-repeat top center; padding:26px 0 26px 13px; }

.ByShows span{ font-family:"Times New Roman", Times, serif; font-size:17px; color:#FFF; font-weight:bold; display:block;}

.ByShows b{ color:#b0b0b0; font-style:italic; font-weight:normal;}

.ByShows ul{ padding:15px 0 0 0; margin:0px;}

.ByShows li{ list-style:none; font-size:12px; line-height:20px; font-weight:bold;}

.ByShows li a{text-decoration:none; color:#FFF;}

.ByShows li a:hover{text-decoration:none; color:#FFF;}



.ByFavorites{ background:url(../images/shadow.png) no-repeat top center; padding:26px 0 26px 13px; }

.ByFavorites span{ font-family:"Times New Roman", Times, serif; font-size:17px; color:#FFF; font-weight:bold; display:block;}

.ByFavorites b{ color:#b0b0b0; font-style:italic; font-weight:normal;}

.ByFavorites ul{ padding:15px 0 0 0; margin:0px;}

.ByFavorites li{ list-style:none; font-size:12px; line-height:20px; font-weight:bold;}

.ByFavorites li a{text-decoration:none; color:#FFF;}

.ByFavorites li a:hover{text-decoration:none; color:#FFF;}



.PagesNumberOrder{ width:100%;}

/*changed for cp-51 ishit:20100630*/
/*.PagesNumber{  width:300px; margin:4px 0 0 17px;}*/
.PagesNumber{  width:300px; margin:4px 0 0 11px;}

.PagesNumber a{ text-align:center; color:#aeaeae; text-decoration:none;}

.PagesNumber a:hover{ text-align:center; text-decoration:none; color:##ffcc00;}

.PagesNumber a.Active{text-align:center; color:#ffffff; text-decoration:none; font-size:16px; font-weight: bold;}

.Order{ float:right; width:25%; padding:0px; margin:8px;}

.Orderselect input { border:#5c5e5d solid 1px; width:122px; height:22px; line-height:22px;}

.OrderLabel{ padding:0px; margin:0px; float:left; width:49px; line-height:22px; height:22px;}

.Orderselect{ width:119px; float:left;}

.ShowsTicketsListing{ width:100%; margin-left:10px;}

.ShowsTicketsListing ul{ padding:15px 0 0 10px; margin-left:0px;}

.ShowsTicketsListing li{ float:left; border:#767676 solid 1px; width:208px; height:342px; list-style:none; margin:5px; *margin-top:-5px; background:#FFF;}

.ShowsTicketsListingImages{ /*width:208px; height:173px;*/}

.ShowsTicketsListingText{ color:#000; font-size:12px; padding:10px;}

.ShowsTicketsListingText h1{ font-size:16px; color:#000; font-weight:bold;}

.ShowsTicketsListingText span{font-size:13px; color:#000; font-style:italic;}

.ShowsTicketsListingText p{ font-size:12px; line-height:16px;}

.ShowsTicketsListingText b{ font-size:12px; color:#000; font-weight: bold;}

.theatreListingText{ color:#000; font-size:12px; padding:10px;}

.theatreListingText h1{font-size:15px; color:#000; font-weight:normal; font-weight:bold}

.theatreListingText span{font-size:14px; color:#000; font-style:italic;}

.theatreListingText p{ font-size:12px; line-height:16px;}

.theatreListingText b{font-size:12px; color:#000; font-weight: bold;}

.PagingNetion{ width:650px; margin:10px 0 0 15px;}

.PagingNetionPrevious{ width:10%; float:left; text-align:left; background:url(../images/arrow_previous.gif) no-repeat left 3px; padding-left:10px; font-weight:bold;}

.PagingNetionPrevious a{color:#ffffff; text-decoration:none;}

.PagingNetionPrevious a:hover{color:#ffffff; text-decoration: underline;}



.PageNumber{width:76%; float:left; text-align:center; font-weight:bold;}

.PageNumber a{text-align:center; color:#aeaeae; text-decoration:none;}

.PageNumber a:hover{text-align:center; text-decoration:none; color:##ffcc00;}

.PageNumber a.Active{text-align:center; color:#ffffff; text-decoration:none; font-size:16px; font-weight: bold;}

.PagingNetionNext{width:10%; float:right; text-align:right; background:url(../images/aroow_next.gif) no-repeat right 4px; padding-right:10px; font-weight:bold; color:#ffcc00;}

.PagingNetionNext a{color:#ffcc00; text-decoration:none;}

.PagingNetionNext a:hover{color:#ffcc00; text-decoration: underline;}

/* ~~~~~ Show And Tickets Pages Css End ~~~~~ */



/*Show Detail page*/

.col_inn_r{ width:275px; margin-top:16px}

.col_inn_l{ width:648px;}

.padding95{/* padding-top:95px;*/padding-top:131px;}

.breadcum{color:#fff; font-size:12px; font-weight:bold; width:863px; /*margin-left:196px;*/ margin-bottom:17px}

.breadcum a{ color:#ffcc00; font-size:12px; text-decoration:none; /*background:url(../images/arrow_white.gif) right no-repeat;*/ /*padding-right:15px;*/ margin-right:10px;}

.breadcum a:hover{ color:#ffcc00; font-size:12px; text-decoration:underline;}

.print a{color:#fff; font-size:11px; font-weight:bold; text-decoration:none; background:url(../images/icon_print.png) right no-repeat; padding-right:20px;}

.big_pic_inn{ width:648px; position:relative; margin-top:10px;}

.red_text{ color:#ca181e; padding-left:4px; text-decoration: none;}
.black_text{ color:#000; padding-left:4px;}
.showtitle{ color:#fff; font-size:50px !important; font-family:Georgia, "Times New Roman", Times, serif; padding-bottom:10px;}



.social{ padding-bottom:7px; font-size:11px; float:right; text-align:right; font-weight:bold; width:140px; color:#FFF;}

.social img{ float:right; padding-left:10px;}

.inner_content{ padding:20px 0px 0px 40px; color:#afafaf;}

.inner_content_theatre{ padding:7px 0px 0px 40px; color:#afafaf;}



.address{ width:478px; font-size:14px; line-height:20px; font-family:Georgia, "Times New Roman", Times, serif;}

.yellow_title{ color:#ffcc00;}
.yellow_title a{ color:#ffcc00;}
.font16{ font-size:14px; line-height:20px; font-weight:bold;}

.btn_buy{ width:220px;}

.price_box{ padding-top:8px;}

.shedow_box{ background:url(../images/mid_inner_shadow.png) left top no-repeat; margin-top:25px; padding-top:15px;}

.headline{ font-size:18px; font-family:Georgia, "Times New Roman", Times, serif; color:#FFF; font-weight:normal;}

.theatre_faq{font-size:24px; font-family:Georgia, "Times New Roman", Times, serif; color:#FFF; font-weight:normal;}

.datebox1{ position:relative; padding-top:20px; width:564px;}

.date1{ padding:0 18px;}

.date_back1{ position:absolute; left:0; top:35px;}

.date_back2{ position:absolute; right:0; top:35px;}

.review{ padding-top:20px; font-size:25px; color:#70f3ff; font-family:Georgia, "Times New Roman", Times, serif;}

.sign{ font-size:11px; font-weight:bold; color:#FFF;}

.sign em{ font-size:14px; font-weight:normal; font-family:Georgia, "Times New Roman", Times, serif;}

.paddingtop10{ padding-top:10px;}

.paddingtop20{ padding-top:20px;}

.pic_border{ border:1px solid #868686;}

.video_caption{color:#ffcc00; font-weight:bold; padding:2px 0 0 6px; }

.video_box{ padding:10px 15px 0 0;}

.photo_box{ padding:10px 5px 0 0;}

.info_text{ font-size:14px; color:#afafaf; font-weight:bold; padding-top:20px;}

.blue_text{ font-size:12px; color:#70f3ff;}



.right_shadow{ background:url(../images/right_shadow.png) left top no-repeat; padding-top:50px; width:275px;}

.right_listing{ list-style:none; margin:0 !important; padding:0 !important; }

.right_listing li{ display:block; list-style:none; list-style-position:outside; margin:0 !important; padding:2px 0 !important; background:url(../images/arrow_yellow.gif) left 7px no-repeat;}



.right_listing li a{ color:#fff; display:block; font-size:12px; font-weight:bold;  line-height:16px; padding:0 15px 0 15px !important; text-decoration:none;cursor:pointer;}

.right_listing li a:hover{ text-decoration:underline;}

.right_listing li a em{ color:#afafaf; font-weight:normal; font-size:12px; font-family:Georgia, "Times New Roman", Times, serif;}



/*addedd by softweb tarun*/

.left_pad table tr{ display:block; list-style:none; list-style-position:outside; margin:0 !important; padding:2px 0 !important; background:url(../images/arrow_yellow.gif) left 7px no-repeat;}



.left_pad table tr td a{ color:#fff; display:block; font-size:12px; font-weight:bold;  line-height:16px; padding:0 15px 0 15px !important; text-decoration:none;cursor:pointer;}

.left_pad  table tr td a:hover{ text-decoration:underline;}

.left_pad table tr td a em{ color:#afafaf; font-weight:normal; font-size:12px; font-family:Georgia, "Times New Roman", Times, serif;}


/*addedd by softweb tarun*/

/*addedd by softweb tarun*/
a.sublevel{ display:block; list-style:none; list-style-position:outside; margin:0 !important; padding:2px 0 !important; background:url(../images/arrow_yellow.gif) left 7px no-repeat; font-weight:normal;font-size:9px;}

a#active_menu{color:#FFCC00;}

/*addedd by softweb tarun*/


.left_pad{ padding-left:8px;}

.select{ width:190px; height:22px; font-size:12px; font-weight:bold; color:#3f3f3f;}

.advertisement{ background:url(../images/bullet.png) right 5px no-repeat; color:#c3c3c3; font-size:11px; text-transform:uppercase; display:inline; padding-right:12px;}

.map{ font-size:11px; font-weight:bold; padding-top:3px; float:right; color:#FFF;}
.map a{ font-size:11px; font-weight:bold; color:#FFF;}
/* ~~~~~ Show Detail Pages Css End ~~~~~ */





/* ~~~~~ Theatre Search Pages Css start ~~~~~ */ 

.TheatreSearch{ width:100%; height:47px; line-height:47px; margin-top:15px;}

.TheatreSearchLeft{background:url(../images/TheatreSearchLeft.jpg) no-repeat top left;}

.TheatreSearchRight{background:url(../images/TheatreSearchRight.jpg) no-repeat top right;}

.TheatreSearchRight ul{padding:0px; margin:0px;}

.TheatreSearchRight li{ list-style:none; float:left; line-height:47px; height:47px; padding:0 11px 0 0;}

.TheatreSearchRight div.selectbox-wrapper ul li{ list-style:none; float:left; line-height:20px; height:20px; }

.TheatreSearchRight li a{ color:#5e463a; text-decoration:none; font-size:14px; font-weight:bold;}

.TheatreSearchRight li a:hover{ color:#5e463a; text-decoration:none;}



.TheatreSearch{ background:url(../images/TheatreSearchBackground.jpg) no-repeat top left; height:28px; line-height:28px; *height:38px; *line-height:38px;  width:179px; margin:10px 0 0 10px; *margin:9px 0 0 10px;  }

.TheatreSearchInput{ margin:13px 0 0 31px; *margin:2px 0 0 0; width:180px; display:inline;  }

/*changed css for cp-43 [ishit:20100630]*/
.TheatreSearch input{border:none; background:none; /*padding:6px 0 0 28px;*/  margin-top:0px; *margin-top:-20px; font-weight:bold; /*width:165px;*/ width:150px; height:18px; line-height:18px; *line-height:10px; display:inline; margin-left:25px; =margin-left:15px;=width:150px; padding-top:6px}

.TheatreSearch input:focus {outline: 0 none;}

.TheatreSearchZip{ height:47px; line-height:47px; font-family:Georgia, "Times New Roman", Times, serif; font-size:16px; color:#FFF; font-weight:bold; float:left}

.TheatreSearchZipBackground{ background:url(../images/TheatreSearchZipBackground.jpg) no-repeat top center; height:28px; line-height:28px; width:57px; float:left; margin-top:9px; margin-left:5px; }

.TheatreSearchZipBackground input { background:none; border:none; height:28px; line-height:28px; width:54px; margin:0 0 0 1px; =margin:0 0 0 -4px;}

.TheatreSearchZipBackground input:focus {outline: 0 none;}

.TheatreSearchZipor{ float:left; line-height:47px; height:47px; color:#FFF; font-family:Georgia, "Times New Roman", Times, serif; padding:0 10px; font-size:16px; font-weight:bold;}



.TheatreSearchAddress{color:#FFF; font-family:Georgia, "Times New Roman", Times, serif; font-size:16px; font-weight:bold; float:left}

.TheatreSearchAddressInput{ float:left; margin-top:9px; margin-left:10px; *margin-left:5px; width:223px; }

.TheatreSearchAddressInput input {background:#FFF; border:#448a92 solid 1px; height:28px; line-height:28px;width:223px;   } 

.TheatreSearchAddressInput input:focus {outline: 0 none;}

.TheatreSearchAddressselect{ float:left; width:167px; *height:38px; margin-top:9px; margin-left:10px; background:url(../images/TheatreSearchselect.jpg) no-repeat left top; height:28px;}

.TheatreSearchAddressselect input{ /*=margin-top:-30px*/  }

.TheatreSearchselect{width:165px; background:none; margin-top:5px; border:none; =margin-top:0px;}

.TheatreSearchAddressselectArrow{ position:relative; z-index:10; right:8px; top:12px; float:left;}



.TheatreSearchselect:focus {outline: 0 none;}

.TheatreSearchSearchBtn{ margin:9px 0 0 10px; float:left}



.NeighborSearchselect{width:165px; background:none; margin-top:5px; border:none;}

.NeighborSearchselect:focus {outline: 0 none;}



.genreprimary_id{width:165px; background:none; margin-top:5px; border:none;}

.genreprimary_id:focus {outline: 0 none;}



.DateSearchselect{width:165px; background:none; margin-top:5px; border:none;}

.DateSearchselect:focus{outline: 0 none;}



.selectbox1{ width:165px; text-indent:10px; height:15px; border:1px solid #448A92; background:#FFFFFF none repeat scroll 0 0; padding:5px 0px 5px 0px; =padding-left:5px;}
/* =padding-left:5px ADD Tarun Varma(Softweb) dropdown adjust in IE versions*/

.dateselectbox1{ width:150px; text-indent:10px; height:17px; border:1px solid #fff; background:#FFFFFF none repeat scroll 0 0;}

.genreselectbox1{ width:150px; text-indent:10px; height:17px; border:1px solid #fff; background:#FFFFFF none repeat scroll 0 0;}

.neighborselectbox1{ width:150px; text-indent:10px; height:17px; border:1px solid #fff; background:#FFFFFF none repeat scroll 0 0;}





/* ~~~~~ Theatre Search Pages Css end ~~~~~ */ 

.TheatreSearchRight .liclass{

margin-left:5px; 

height:25px;

line-height:20px;

}

.TheatreSearchRight .liclass selected{

margin-left:5px; 

height:25px;

line-height:20px;

}

.theatretitle{

 color:#fff;

 font-size:38px !important; 

 font-family:Georgia, "Times New Roman", Times, serif;

 padding-bottom:10px;

}

.faq-question{

font-size:17px;

margin-left:10px;

margin-top:10px;

margin-bottom:10px;

font-weight:bold;



}

.faq-answer{

font-size:14px;

margin-left:20px;

margin-top:5px;

margin-bottom:5px;

width:501px;

}

.theatre-email{

font-size:16px;

color:#FFFFFF;

}

.theatre-email a{

font-size:16px;

color:#FFFFFF;

text-decoration:none;

}

.theatre-email a:hover{

font-size:16px;

color:#FFFFFF;

text-decoration:underline;

}



.resturants-heading{

font-size:15px;

color:#FFFFFF;

}

.no-resturants{

color:#FFFFFF;

font-size:12px;

}

.now-playing{

font-size:15px;

color:#FFFFFF;

margin-left:15px;

}

.theatre-address{

color:#FFFFFF;

font-size:14px;

margin-top:20px;

margin-left:7px;
font-family:Georgia, "Times New Roman", Times, serif;

}

.theatre-detail-link{

padding-top:20px;

color:#fff;

}

.theatre-detail-link a{

padding:10px;

color:#fff;

font-size:14px;

text-decoration:none

}

.theatre-detail-link a:hover{

padding:10px;

color:#fff;

font-size:14px;

text-decoration:underline;



}



.twitter{

font-size:15px;

color:#FFFFFF;

margin-left:15px;

font-weight:bold;

}

.twitter a{

color:#FFFFFF;

text-decoration:none;

font-size:11px;

font-weight:500;	

margin-left:15px;



}

.twitter a:hover{

color:#FFFFFF;

text-decoration:underline;

font-size:11px;

font-weight:500;	

margin-left:15px;



}

.twitter-class{

color:#FFFFFF;

margin-left:5px;

width:274px;

}
.twitter-class a{

color:#AFAFAF;


}

.twitterfeeditem{

margin:5px;

}





/* ~~~~~ Registration Pages Css end ~~~~~ */ 

/*.RegistrationBox{ width:636px; background:url(../images/registration-box-img.jpg) no-repeat top left; height:482px;}*/

.RegistrationBox{ width:636px; background:url(../images/registration-box-img.jpg) no-repeat top left; height:482px;}

.RegistrationBoxTop{ line-height:45px; height:45px; padding:0 0 0 15px; font-size:12px; font-weight:bold; color:#FFF;}

.RegistrationBoxTop span{ color:#94151a; font-size:14px; font-weight:bold;}

.RegistrationBoxMiddle{ padding:28px 0 0 0;}

.RegistrationBoxMiddle ul{ padding:28px 0 0 23px; margin:0px;}

.RegistrationBoxMiddle li{ list-style:none; color:#FFF; font-weight:bold; text-transform:uppercase;}

.RegistrationBoxMiddle li label{ width:174px; height:36px; line-height:36px; display:block; padding:0 10px 0 0; *padding:0 0px 0 0; float:left; text-align:right; font-size:12px;}

.RegistrationBoxMiddle li label span{color:#94151a; font-size:14px; font-weight:bold;}

.RegistrationInputBig{ background:url(../images/registration-input-img.jpg) no-repeat top left; height:36px; line-height:36px; padding:0 5px; width:332px; border:0px; font-size:15px;}

.registration-num-img{ width:113px; height:57px; float:left; padding:0 0 0 0; *padding:0 0 0 15px;}

.RegistrationInputSml{ background:url(../images/registration-input-img-sml.jpg) no-repeat top left; height:36px; line-height:36px; padding:0 5px; width:203px; border:0px; font-size:15px; margin:10px 0 0 17px;  *margin:10px 0 0 17px;}



/*added for stylish select dropdown softweb(ishit)*/

div.selectbox-wrapper{background:#FF000;}



div.selectbox-wrapper ul{ background:#FF000; }



/*div.selectbox-wrapper ul li{ padding:10px 0px 0px 0px; line-height:10px; height:20px; width:100%; text-indent:10px }*/


div.selectbox-wrapper ul li{ padding:5px 0px 5px 10px;  /*line-height:10px; height:auto;*/  width:100%; /*text-indent:10px*/ min-height:20px }


div.selectbox-wrapper ul li.current{ background: #B63D3D; color:#FFFFFF ; font-weight:bold; min-height:20px;/*line-height:10px; height:auto;*/ /*text-indent:10px*/ vertical-align:middle }


div.selectbox-wrapper ul li.selected{ font-weight:bold;  }

/**/



/* ~~~~~ Registration New Pages Css end ~~~~~ */ 



.RegistrationBoxBig{ width:100%;}

.RegistrationBoxBigTop{ background: url(../images/registration-box-top.gif) no-repeat top left; height:53px; padding:13px 0 0 15px; font-size:25px; font-weight:bold; color:#FFF;}

.RegistrationBoxBigTop span{ color:#94151a; font-size:14px; font-weight:bold;}

.RegistrationBoxBigMiddle{ background:#5eb2b8 url(../images/registration-box-middle.gif) repeat-x bottom left; border-left:#5fc5ce solid 2px; border-right:#5fc5ce solid 2px; min-height:200px !important; padding:0 15px;}

.RegistrationBoxBigMiddle ul{ padding:28px 0 0 23px; margin:0px;}

.RegistrationBoxBigMiddle li{ list-style:none; color:#FFF; font-weight:bold; text-transform:uppercase; padding:5px 0; display:table;=display:table}

.RegistrationBoxBigMiddle li label{ width:174px; height:36px; line-height:36px; display:block; padding:0 10px 0 0; *padding:0 10px 0 0; float:left; text-align:right; font-size:12px;}

.RegistrationBoxBigMiddle li label span{color:#94151a; font-size:14px; font-weight:bold;}

.RegistrationBoxBigBottom{ background:#dbdbdb; height:20px;}





.newRegistrationBoxBig{ width:863px; border:1px solid #DBDBDB; margin-left:51px;}

.newRegistrationBoxBigTop{ background: #dbdbdb; padding:13px 0 0 25px; font-size:25px; font-weight:bold; color:#000;}

.newRegistrationBoxBigTop span{ color:#94151a; font-size:14px; font-weight:bold;}

.newRegistrationBoxBigMiddle{ background:#dbdbdb;  min-height:666px; padding:0 15px 0 21px;}

.newRegistrationBoxBigMiddle ul{ padding:28px 0 0 23px; margin:0px;}

.newRegistrationBoxBigMiddle li{ list-style:none; color:#000; font-weight:bold; text-transform:uppercase; padding:3px 0; display:table;=display:table}

.newRegistrationBoxBigMiddle li label{ width:147px; height:29px; /*line-height:27px; */display:block; padding:0 10px 0 0; *padding:0 10px 0 0; float:left; text-align:right; font-size:12px;}

.newRegistrationBoxBigMiddle li label span{color:#94151a; font-size:14px; font-weight:bold;}

.newRegistrationBoxBigBottom{ background:#dbdbdb; height:20px;}

.newRegisterheading{ background-color:#9B181C; color:#FFFFFF; padding-left:14px; padding-top:12px;padding-bottom:13px;font-size:12px; font-weight:bold; text-transform:uppercase;}

.newEditFormsframe{ width:560px; border:1px solid #dbdbdb; text-align:left; margin-left:158px;}

.newheadingframe{ background-color:#9B181C; color:#FFFFFF; padding-left:14px; padding-top:12px;padding-bottom:13px;font-size:12px; font-weight:bold; text-transform:uppercase;}

.ContentAreaFormsframe{ width:562px; float:left; margin-left:158px}

.newframeInputBig{height:18px; line-height:20px; width:200px; border:0px; font-size:15px;padding:3px; color:#000; background:#fff}

.newframeBoxBigTop{ background: #dbdbdb; padding:13px 0 0 25px; font-size:25px; font-weight:bold; color:#000;}

.newframeBoxBigTop span{ color:#94151a; font-size:14px; font-weight:bold;}

.newframeBoxBigMiddle{ background:#dbdbdb;  min-height:203px !important; padding:0 15px;}

.newframeBoxBigMiddle ul{ padding:28px 0 0 23px; margin:0px;}

.newframeBoxBigMiddle li{ list-style:none; color:#000; font-weight:bold; text-transform:uppercase; padding:2px 0; display:table;=display:table; width:350px}

.newframeBoxBigMiddle li label{ width:110px; height:29px; /*line-height:25px;*/ display:block; padding:0 10px 0 0;=padding:0 0px 0 0; float:left; text-align:right; font-size:12px;}

.newframeBoxBigMiddle li label span{color:#94151a; font-size:14px; font-weight:bold; }



.newLoginBoxBig{ width:554px; border:1px solid #DBDBDB; margin-left:203px;}

.newLoginBoxBigTop{ background: #dbdbdb; padding:13px 0 0 25px; font-size:25px; font-weight:bold; color:#000;}

.newLoginBoxBigTop span{ color:#94151a; font-size:14px; font-weight:bold;}

.newLoginBoxBigMiddle{ background:#dbdbdb;  min-height:203px !important; padding:0 15px;}

.newLoginBoxBigMiddle ul{ padding:28px 0 0 23px; margin:0px;}

.newLoginBoxBigMiddle li{ list-style:none; color:#000; font-weight:bold; text-transform:uppercase; padding:2px 0; display:table;=display:table; width:350px}

.newLoginBoxBigMiddle li label{ width:110px; height:29px; /*line-height:25px;*/ display:block; padding:0 10px 0 0;=padding:0 0px 0 0; float:left; text-align:right; font-size:12px;}

.newLoginBoxBigMiddle li label span{color:#94151a; font-size:14px; font-weight:bold;}

.newLoginBoxBigBottom{ background:#dbdbdb; height:20px;}

.newLoginheading{ background-color:#9B181C; color:#FFFFFF; padding-left:25px; padding-top:12px;padding-bottom:13px;font-size:12px; font-weight:bold; text-transform:uppercase;}

.newLoginInputBig{ height:18px; line-height:20px; width:200px; border:0px; font-size:14px;padding:3px; color:#000; background:#fff}



.newLoginBoxBigMiddlesmall{ background:#dbdbdb;  min-height:203px !important; padding:0 15px 0 55px;}





.newRegistrationInputBig{ height:18px; line-height:20px; width:210px; border:0px; font-size:14px;padding:3px; color:#000; background:#fff}

.newcaptchaInputBig{height:27px; line-height:20px; width:200px; border:0px; font-size:15px;/*padding:5px; */color:#000; background:#fff;margin-left:2px}

.newregisterright{float:right; text-align:left; width:400px}

.newregisterright ul{padding:28px 0 0 23px; margin:0px;}

.newregisterright li{list-style:none; color:#000; padding:5px 0; display:table;=display:table; font-weight:500; text-transform:none}

.newregisterright li label{ width:131px; height:36px; line-height:36px; display:block; padding:0 10px 0 0; *padding:0 10px 0 0; float:left; text-align:left; font-size:12px; }

.newregisterright li span{color:#000; font-size:12px; font-weight:bold; margin-left:5px;}

.newregisterrightheading{ text-transform:uppercase; padding-left:20px; font-weight:bold; margin-bottom:10px; color:#000000}



.newregisterrightbtm{color:#000; font-size:12px; font-weight:bold; }

.newregisterrightbtm li label{color:#000; font-size:12px; font-weight:bold; }

/* For register edit */

.newRegistrationBoxBigedit{ width:863px; border:1px solid #DBDBDB; margin-left:51px;}

.newRegistrationBoxBigTopedit{ background: #dbdbdb; padding:13px 0 0 25px; font-size:25px; font-weight:bold; color:#000;}

.newRegistrationBoxBigTopedit span{ color:#94151a; font-size:14px; font-weight:bold;}

.newRegistrationBoxBigMiddleedit{ background:#dbdbdb;  min-height:670px !important; padding:0 15px;}

.newRegistrationBoxBigMiddleedit ul{ padding:28px 0 0 23px; margin:0px;}

.newRegistrationBoxBigMiddleedit li{ list-style:none; color:#000; font-weight:bold; text-transform:uppercase; padding:3px 0; display:table;=display:table}

.newRegistrationBoxBigMiddleedit li label{ width:123px; height:29px; line-height:25px; display:block; padding:0 10px 0 0; *padding:0 10px 0 0; float:left; text-align:left; font-size:12px;}

.newRegistrationBoxBigMiddleedit li label span{color:#94151a; font-size:14px; font-weight:bold;}

.newRegistrationBoxBigBottomedit{ background:#dbdbdb; height:20px;}

.newRegisterheadingedit{ background-color:#9B181C; color:#FFFFFF; padding-left:25px; padding-top:12px;padding-bottom:13px;font-size:12px; font-weight:bold; text-transform:uppercase;}

.newRegistrationInputBigedit{ height:18px; line-height:20px; width:200px; border:0px; font-size:15px;padding:3px; color:#000; background:#fff}

.newcaptchaInputBigedit{height:20px; line-height:20px; width:200px; border:0px; font-size:15px;padding:5px; color:#000; background:#fff;margin-left:28px}

.newregisterrightedit{float:right; text-align:left; width:400px}

.newregisterrightedit ul{padding:28px 0 0 23px; margin:0px;}

.newregisterrightedit li{list-style:none; color:#000; padding:5px 0; display:table;=display:table; font-weight:500; text-transform:none}

.newregisterrightedit li label{ width:131px; height:36px; line-height:36px; display:block; padding:0 10px 0 0; *padding:0 10px 0 0; float:left; text-align:left; font-size:12px; }

.newregisterrightedit li span{color:#000; font-size:12px; font-weight:bold; margin-left:5px;}

.newregisterrightheadingedit{ text-transform:uppercase; padding-left:20px; font-weight:bold; margin-bottom:10px}











.yellobox{ width:100%;}

.yelloboxtop{ background: url(../images/yello-box-top.png) no-repeat top left; height:62px; padding:15px 0 0 30px; font-weight:bold; color:#FFFFFF; font-size:30px}

.yelloboxtop span{ color:#94151a; font-size:14px; font-weight:bold;}

.yelloboxmiddle{ background:url(../images/yello-box-middle.png) repeat-x bottom left; border-left:#ffb43d solid 2px; border-right:#ffb43d solid 2px; min-height:650px !important;}

.yelloboxmiddle2{ background:url(../images/yello-box-middle-repet.png) repeat top left;}

.yelloboxbottm{ background:url(../images/yello-box-bottom.png) no-repeat top left; height:24px;}

.yelloboxmiddle ul{padding:10px 0 0 23px; margin:0px;}

.yelloboxmiddle li{ list-style:none; color:#FFF; font-weight:bold; text-transform:uppercase; padding:5px 0;display:table;}

.yelloboxmiddle li label{width:174px; height:36px; line-height:36px; display:block; padding:0 10px 0 0; *padding:0 10px 0 0; float:left; text-align:right; font-size:12px;}

.yelloboxmiddle li label span{color:#94151a; font-size:14px; font-weight:bold;}



.RegistrationInputBig{ background:url(../images/registration-input-img.png) no-repeat top left; height:36px; line-height:36px; padding:0 5px; width:332px; border:0px; font-size:15px;}

.req-class{ color:#FFFFFF; text-align:center; margin-bottom:10px; margin-right:167px}

.RegistrationInputBig{ background:url(../images/registration-input-img.png) no-repeat top left; height:36px; line-height:36px; padding:0 5px; width:332px; border:0px; font-size:15px;}

.registrationtextarea{ background:url(../images/registration-textarea-img.png) no-repeat top left; height:100px; width:342px; border:none;}



/**

 * @section Showlist Table

 *

 */

table.showtable

{/* margin: 1em 1px; */width: 99%; font-size: 1em; border-collapse: collapse; border: 1px solid #E5E5E5; }



table.showtable th

{ background-color: #B5B5B5; color: #000; font-weight: bold; padding: 4px 4px 4px 9px; text-align: left; border-bottom: 1px solid #e5e5e5; border-right: 1px solid #E5E5E5;  }



table.showtable th img

{ margin: 0 0 5px 5px; vertical-align: middle; border: none; }



table.showtable td

{ padding: 0.4em; border-bottom: 1px solid #e5e5e5; border-right: 1px solid #E5E5E5; vertical-align: top;color:#FFFFFF; padding-left:12px; font-weight:bold }



table.showtable tr.sectiontableentry2 td

{ background: #F4F4F4; }





/**

 * @section nightlifelist Table

 *

 */

table.nightlifetable

{ /*margin: 1em 1px; */width:694px; font-size: 1em; border-collapse: collapse; border: 1px solid #E5E5E5; }



table.nightlifetable th

{ background-color: #B5B5B5; color: #000; font-weight: bold; padding: 4px 4px 4px 9px; text-align: left; border-bottom: 1px solid #e5e5e5; border-right: 1px solid #E5E5E5; color:#000000  }



table.nightlifetable th img

{ margin: 0 0 5px 5px; vertical-align: middle; border: none;color:#000000   }



table.nightlifetable td

{ padding: 4px 4px 4px 8px; border-bottom: 1px solid #e5e5e5; border-right: 1px solid #E5E5E5; vertical-align: top;color:#FFFFFF;color:#000000; font-weight:bold  }



table.nightlifetable tr.sectiontableentry2 td

{ background: #F4F4F4; }

/**

 * @section industrylist Table

 *

 */
 .industryheading{ background-color:#9B181C; color:#FFFFFF; padding-left:14px; padding-top:12px;padding-bottom:13px;font-size:12px; font-weight:bold; text-transform:uppercase; margin-left:199px;}


table.industrytable

{ /*margin: 1em 1px; */ font-size: 1em; border-collapse: collapse; border: 1px solid #E5E5E5; /*margin-left:199px;*/ }



table.industrytable th

{ background-color: #B5B5B5; color: #000; font-weight: bold; padding: 2px 2px 2px 5px; text-align: left; border-bottom: 1px solid #e5e5e5; border-right: 1px solid #E5E5E5; color:#000000  }



table.industrytable th img

{ margin: 0 0 5px 5px; vertical-align: middle; border: none;color:#000000   }



table.industrytable td

{ padding: 2px 2px 2px 6px;vertical-align: top;  border-bottom: 1px solid #e5e5e5; border-right: 1px solid #E5E5E5;color:#000000; font-size:12px;}



table.industrytable tr.sectiontableentry2 td

{ background: #F4F4F4; }



/* ~~~~~ LoginBox ~~~~~ */

.LoginBox{ background:#dbdbdb; width:235px; font-family:Arial, Helvetica, sans-serif; }

.LoginBoxTitle{ margin:1px; background:#9b181c;}

.LoginBoxTitle h1{ color:#FFF; font-size:11px; font-weight:bold; text-transform:uppercase; padding:0 0 0 10px; margin:0px; line-height:37px; height:37px; float:left;}

.LoginBoxTitle span{ float:right; line-height:37px; height:37px; padding-right:10px; color:#FF0; font-size:12px;}

.LoginBoxTitle span a{color:#FF0; font-size:12px; text-decoration:none;}

.LoginBoxForm{ padding:20px; *padding-top:0px;}

.LoginBoxForm ul{ padding:0px; margin:0px;}

.LoginBoxForm li{ list-style:none; color:#333333; font-size:12px; font-weight:bold; padding-top:10px;}

.LoginBoxForm li input{ border:none; background:#FFF; width:174px; height:17px; line-height:17px; padding:5px; color:#000;}

.LoginBoxForm li label{ margin-bottom:2px; display:block;}

.LoginBoxForm li span{ background:url(../images/arrow_grey.png) no-repeat left 6px; padding-left:15px; display:block; width:20%; float:right; color:#b0171c;}

.LoginBoxForm li a{ color:#333333; text-decoration:none;}

.LoginBoxForm li a:hover{ color:#333333; text-decoration: underline;}

.txt-area{ height:70px; width:204px; border:1px solid #fff; color:#000; }

/* ~~~~~ LoginBox ~~~~~ */



/* navigation css added by ishit(softweb)*/

div#menuDiv div.one{

	position:absolute;z-index:99;width:1000px;

}



div#menuDiv div.innerpage{

	height:248px;padding-top:55px;

}



#header ul{ display: block; list-style:none }


#header ul.menu-nav{  width: 253px;  margin-left:-67px } /*added ishit 20110715*/

#header ul.menu{  width: 253px;  margin-left:-67px } /*added ishit 20110715*/


/*div.navDiv{

position:absolute;margin-top:52px;width:1000px;margin-left:-40px;

}





div.navDiv div.one{

	position:absolute;z-index:99;width:1000px;

}



div.navDiv div.innerpage{

	height:248px;padding-top:55px;

}



#header ul{ display: block; list-style:none }*/



/* navigation css added by ishit(softweb)*/



.row0{ background-color:#DBDBDB; color:#000000;}

.row1{background-color:#CDCDCD; color:#000000;}

.donate-content{ color:#FFFFFF}

.donate-content a{ color:#C2171F; text-decoration:none; font-weight:bold}

.date-class{ font-weight:100; margin-left:13px; color:#AFAFAF; font-family:Georgia,"Times New Roman",Times,serif;}
.direction{ color:#000000; text-decoration:none; font-weight:bold}
.direction a:hover{ color:#000000; text-decoration:underline;font-weight:bold}
.theatre-title { color:#000; font-family:Georgia,"Times New Roman",Times,serif; font-weight:bold;font-size:13px }



/* ~~~~~ Register for your account New Pages Css Start ~~~~~ */
.register_your_account{background:url(../images/middle_shedow.png) no-repeat bottom center; padding-bottom:50px;}
.register_your_account h1{font-family:Georgia, "Times New Roman", Times, serif; font-size:40px; font-weight:normal; padding-bottom:10px;}
.register_your_account 
.register_your_account p{font-size:15px; color:#c4c4c4; line-height:20px;}
#register_your_account_form{ padding:40px 0 0 0 ; width:641px; margin:0 auto;}
#register_your_account_form h2{font-family:Georgia, "Times New Roman", Times, serif; font-size:24px; font-weight:normal; color:#71f3ff; padding:10px 0 10px 0; *padding:10px 0 10px 0; margin-top:100px}


#register_your_account_form .form_label_1{float:left; width:290px; margin-right:10px; padding-bottom:20px;}
#register_your_account_form .form_label_1 label{ width:100%; font-size:14px; font-weight:bold; color:#FFF; padding-bottom:5px; display:block; text-transform:uppercase;}
#register_your_account_form .form_label_1 label span{color:#66d8e2;}
#register_your_account_form .form_label_1 input{ width:98%; background:url(../images/input_bg_img.png) repeat-x top left; border:#585a59 solid 1px; height:29px; line-height:29px; padding:0 2px;}
#register_your_account_form .form_label_1 select{ width:190px; /*height:31px; line-height:31px;*/ padding:6px; *padding:12px;}
#register_your_account_form .form_label_2{ width:610px;  padding-bottom:20px;}
#register_your_account_form .form_label_2 label{ width:100%; font-size:14px; font-weight:bold; color:#FFF; padding-bottom:5px; display:block; text-transform:uppercase;}
#register_your_account_form .form_label_2 label span{color:#66d8e2;}
#register_your_account_form .form_label_2 input{ width:584px; background:url(../images/input_bg_img.png) repeat-x top left; border:#585a59 solid 1px; height:29px; line-height:29px; padding:0 2px;}

#register_your_account_form  ul{padding:0px; margin:0px;}
#register_your_account_form  li{float:left; list-style:none; width:23%;}
#register_your_account_form  p{float:left;  line-height:13px; height:4px; width:18px; =width:2px; *line-height:18px; *padding:2px 10px 2px 0;}
#register_your_account_form .join_one_mailing{ width:100%; padding:5px 0;}
#register_your_account_form .join_one_mailing p{float:left; width:2%;}
#register_your_account_form .join_one_mailing span{float:left; padding:1px 0 0 0; *padding:9px 0 0 0; line-height:27px; display:block; width:94%;=width:93%; font-size:14px;}

/* Donation */

.donation_form{background:url(../images/middle_shedow.png) no-repeat bottom center; padding-bottom:20px;}
.donation_form h1{font-family:Georgia, "Times New Roman", Times, serif; font-size:40px; font-weight:normal; padding-bottom:10px;}
.donation_form p{font-size:15px; color:#c4c4c4; line-height:20px;}
#donation_form{ padding:40px 0 0 0 ; width:600px; margin:0 auto;}
#donation_form h2{font-family:Georgia, "Times New Roman", Times, serif; font-size:24px; font-weight:normal; color:#71f3ff; padding:10px 0 10px 0; *padding:10px 0 10px 0; margin-top:100px}

#donation_form .form_label_1{float:left; width:290px; margin-right:10px; padding-bottom:20px;}
#donation_form .form_label_1 label{ width:100%; font-size:14px; font-weight:bold; color:#FFF; padding-bottom:5px; display:block; text-transform:uppercase;}
#donation_form .form_label_1 label span{color:#66d8e2;}
#donation_form .form_label_1 input{ width:98%; background:url(../images/input_bg_img.png) repeat-x top left; border:#585a59 solid 1px; height:29px; line-height:29px; padding:0 2px;}
#donation_form .form_label_1 select{ width:190px; /*height:31px; line-height:31px;*/ padding:6px; *padding:20px;}
#donation_form .form_label_2{ width:610px;  padding-bottom:20px;}
#donation_form .form_label_2 label{ width:100%; font-size:14px; font-weight:bold; color:#FFF; padding-bottom:5px; display:block; text-transform:uppercase;}
#register_your_account_form .form_label_2 label span{color:#66d8e2;}
#register_your_account_form .form_label_2 input{ width:584px; background:url(../images/input_bg_img.png) repeat-x top left; border:#585a59 solid 1px; height:29px; line-height:29px; padding:0 2px;}
#donation_form  ul{padding:0px; margin:0px;}
#donation_form  li{float:left; list-style:none; width:23%;}
#donation_form  p{float:left;  line-height:13px; height:4px; width:10px; =width:2px; *line-height:18px; *padding:2px 10px 2px 0;}
#donation_form .join_one_mailing{ width:100%; padding:5px 0;}
#donation_form .join_one_mailing p{float:left; width:2%;}
#donation_form .join_one_mailing span{float:left; padding:1px 0 0 0; *padding:9px 0 0 0; line-height:27px; display:block; width:94%;=width:93%; font-size:14px;}
.donation-txtarea{ height:70px; width:289px; border:1px solid #fff; color:#000; }


.facebook_connect{ padding:20px 0;}
.cord_number{ width:100%; padding:20px 0;}
.cord_number p{ font-size:14px; padding:0 0 10px 0;}
.cord_img{padding:0 10px 0 0; float:left;}
.cord_input{ float:left; width:auto;}
.refresh_captcha{color:#ffcb01; font-size:14px; padding:10px 0 0 0 !important; }
.refresh_captcha a{color:#ffcb01; font-size:14px; text-decoration:none;}
.refresh_captcha a:hover{color:#ffcb01; font-size:14px; text-decoration:underline;}

.equity{list-style:none; color:#000; font-weight:bold; text-transform:uppercase; padding:2px 0; display:table;=display:table; width:350px}
.equity label{width:110px; height:29px; /*line-height:25px;*/ display:none; padding:0 10px 0 0;=padding:0 0px 0 0;  text-align:right; font-size:12px;}
.social-links{ color:#FFFFFF;}
.social-links a{color:#FFFFFF; text-decoration:none}
.social-links a:hover{color:#FFFFFF;text-decoration:none}
.rss-feed{ color:#FFCC00; font-size:14px; text-decoration:none}
.rss-feed ul{ color:#FFCC00; font-size:14px; text-decoration:none; margin:10px; font-weight:bold}
.rss-feed ul li{ color:#FFCC00; font-size:14px; text-decoration:none; margin:10px}
.rss-feed ul li a{ color:#FFCC00;font-size:14px; text-decoration:none}
.news-feeds{ color:#FFFFFF}
.news-feeds a{ color:#FFFFFF}
.news-title{color:#fff}
.news-title a{color:#fff}
.news-feed-title{color:#FFCC00; margin-top:10px}
.news-feed-title a{color:#FFCC00}
.feed_description{ margin:10px}

/* my_account_box Box CSS Start */
.clear{ clear:both;}
.my_account_box{ width:235px; background:#dbdbdb;}
.my_account_box_title{ margin:1px; height:37px; line-height:37px; background:#9d181b; color:#FFF; font-size:12px; font-family:Arial, Helvetica, sans-serif;}
.my_account_box_title_left{ float:left; width:inherit; padding-left:10px; text-transform:uppercase; font-weight:bold;}
.my_account_box_title_right{ float:right; width:inherit; padding-right:10px; color:#afafaf;}
.my_account_box_title_right a{ color:#ffcd00; text-decoration:none;}
.my_account_box_title_right a:hover{ color:#ffcd00; text-decoration: underline;}
.my_account_dis{ padding:10px;}
.my_account_dis_pic{ width:66px; height:66px; padding:0 10px 10px 10px; float:left;}
.my_account_dis_title{ width:125px; float:left;}
.my_account_dis_title h1{ font-family:Arial, Helvetica, sans-serif; font-size:14px; margin:0px; padding:0px; line-height:25px; height:25px;}
.my_account_dis_title span{ font-family:Georgia, "Times New Roman", Times, serif; font-size:12px; font-style:italic; margin:0px; padding:0px;}
.my_account_dis_title p{ padding:0px; margin:0px; color:#787c7d; font-size:12px; font-weight:bold; font-family:Arial, Helvetica, sans-serif; background:url(../images/arrow_grey_2.png) no-repeat left 8px; padding-left:10px; line-height:20px;}
.my_account_dis_title p a{ color:#b0171a; text-decoration:none;}
.my_account_dis_title p a:hover{ color:#b0171a; text-decoration:none;}
.my_account_white_box{ background:#FFF; padding:10px 10px 0 10px;}
.my_account_white_box h1{ font-family:Arial, Helvetica, sans-serif; font-size:12px; text-transform:uppercase; padding:0px 0px 5px 0; margin:0px;}
.my_account_white_box ul{ padding:0px; margin:0px;}
.my_account_white_box li{ list-style:none; float:left; border-right:#dbdbdb solid 1px; padding:0 14px;}
.my_account_white_box li.last{ border-right:none 0px;}
.my_account_white_box li img{ padding:5px 0;}
.my_account_white_box li p{ padding:0px 0 5px 0; margin:0px; text-align:center; color:#b0171a;}
/* my_account_box Box CSS End */

/* Our Community Box CSS Start */
.our_community_box{ background: #FFF; border:#dbdbdb solid 10px; width:195px; padding:10px; font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:bold;}
.our_community_box p{ padding:0 0 10px 0 ; margin:0px;}
.our_community_title{ width:100%; }
.our_community_title img{ width:36px; height:37px; float:left; padding:0 10px 0 0;}
.our_community_title span{ font-family:Georgia, "Times New Roman", Times, serif; font-size:12px; font-weight:normal; color:#343434; }
.our_community_title p{ color:#b0171a; padding:0px; margin:0px;}
.our_community_dis{ color:#b0171c; font-size:12px; font-weight:bold; line-height:20px;}
.our_community_dis h1{ font-size:12px; color:#333333; font-weight:bold; padding:10px 0 5px 0; margin:0px;}
.our_community_dis span{ font-family:Georgia, "Times New Roman", Times, serif; font-style:italic; color:#3f3f3f; font-weight:normal;}
.feed-description div{ background-color:#FFFFFF; width:270px; padding-left:6px; padding-right:6px; margin-top:8px }
.feedin-description div{ background-color:#FFFFFF; width:380px; padding-left:6px; padding-right:6px; margin-top:8px }
/* Our Community Box CSS End */
