#twoColContainer
{
    MARGIN-TOP: 10px;
    WIDTH: 740px
}
#ComingEvent
{
    WIDTH: 380px;
    HEIGHT: 100%
}
#About
{
    PADDING-LEFT: 10px;
    FLOAT: right;
    WIDTH: 340px;
    HEIGHT: 100%;
    voice-family: inherit
}
