@charset "utf-8";
/* CSS Document */
body {
	background-color: #ececec; /* gray color overrides the light tan from before */

}


/* About Alz, About the site, Security policy, etc links */
#footerLastLinks {
	clear:both;
	/*width: 721px; */
	width: 930px;
	margin:0;
	padding:0;
	background-color:#FFFFFF;
	border-top: 1px #999999 solid;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 15px;
	padding: 15px;
	min-height:120px;
	text-align:left;
}
#footerLastLinks p{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	padding-left: 4px;
	padding-right: 25px;
	text-align: left;
}

#footerLastLinks a{
	font-size: 11px;
	text-decoration: none;
	color:#00539b;
	padding-right: 4px;
	padding-left: 4px;
}
#footerLastLinks a:hover{
	text-decoration: underline;
}
/* alz.org logo area */
.btmLogos{
	margin:0;
	padding:0;
		/* width: 751px; */
	width: 960px; /* kt */
	padding-top: 5px;
	padding-bottom: 10px;
	background-color: #ececec;
	background-image:url(/clients/ALZ/Images/footer_bg_purple_grad_repeat.gif);
	background-repeat:repeat-x;
	color:#333333;
	margin-bottom: 10px;
	min-height: 90px;
}

.btmLogos p {
	margin-top: 9px;
	margin-right: 25px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 17px;
	text-align:left;

}

/* purple bar dividing enews signup with rest of footer */
#footer_bg_bar {
	clear:both;
	background-image: url(/clients/ALZ/Images/footer_purple_bar.jpg);
	background-repeat:repeat-x;
	width:auto;
	height:33px;
	z-index: 200;
}
/* everything under enews signup */
#allbottomArea {
	height:100%;
	/* width: 751px; */
	width: 1057px; /* kt */
}
/* under the footer...just to have purple area below everything else */
.onlyPurple {
	background-color:#57297f;  /* purple all the way across */
	padding-bottom: 40px;
	position:absolute;
	z-index: 200;
	left: 0px;
	width: 100%;
}
.bbb {
	margin:0;
	padding:0;
	float:right;
	width: 120px;
	margin-top: 20px;
	margin-right: 15px;
}

#enewsSignup {
	background-color:#FFFFFF;
		/* width: 751px; */
	width: 957px; /* kt */
	text-align:left;
	background-image:url(/clients/ALZ/Images/footer_enews_bg.jpg);
	background-repeat:repeat-x;
	padding-top: 15px;
	padding-bottom: 12px;
}
#enewsSignup p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 18px;
}

#enewsSignup h2 {
   font-family: Arial, Helvetica, sans-serif;
	color: #333333;
	font-size: 13px;
	line-height: 22px;
	margin: 8px 0px 0px 0px;
}

.enewsColA {
	height:270px;
	background-color:#FFFFFF;
	width: 310px;
	position: relative;
	float: left;
}
.enewsColB {
	height:270px;
	background-color:#FFFFFF;
	width: 441px;
	position: relative;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 18px;
}
#enewsSignup .enewsColB h2 {
	color: #65378e;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 18px;
	line-height: 26px;
	margin-top: 0px;
}

#petition {
	background-color:#FFFFFF;
		/* width: 751px; */
	width: 957px; /* kt */
	text-align:left;
	background-image:url(/clients/ALZ/Images/petition_bg_wide.gif);
	background-repeat: no-repeat;
	background-position: right ;
	padding-top: 0px;
	margin-bottom : -50px;
	height:313px;

}

#petition p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 18px;
}

#petition h2 {
   font-family: Arial, Helvetica, sans-serif;
	color: #333333;
	font-size: 13px;
	line-height: 22px;
	margin: 8px 0px 0px 0px;
}

.petitionColA {
	height:270px;
	/* 	width: 360px; */
	width: 380px;
	position: relative;
	float: left;
}
.petitionColB {
	height:270px;
	width: 480px;
	position: relative;
	float:left;
}



a.formLink {
	font-size: 13px;
	color: #00539b;
	text-decoration: none;
}
a:hover.formLink {
	text-decoration: underline;
}
/* container under enews box with 3 columns of links + logos, etc. */
#footerContainer {
		/* width: 751px; */
	width: 960px; /* kt */
	margin-top: -5px;
	background-color: #ffffff !important;
	text-align: left;
	padding-top: 20px;
	background-image:url(/clients/ALZ/Images/footer_bg_gray_repeat.jpg);
	background-repeat:repeat-x;
	height:290px;

}
#footerContainer.version2{
	height: 340px;
	padding-top: 30px;
	margin-top : 10px;
}
#footerContainer a{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	color:#00539b;
}
#footerContainer p{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
}

#footerContainer h2 {
   font-family: Arial, Helvetica, sans-serif;
	color: #333333;
	font-size: 13px;
	line-height: 22px;
	margin: 8px 0px 0px 0px;
	font-size: 16px;
	font-weight: bold;
}
#footerContainer.version2 h2{
	font-weight: bold!important;
}
#footerContainer h2.row2{
	margin-top: 40px;
}
.colA{
   position: relative;
   float: left;
   left: 30px;
      /* width: 255px; KT
   width: 350px; */
   width: 330px;
}

.colA h2, .colB h2, .colC h2 { font-weight: bold; }
/* helpline phone number box */
#helpLine {
	margin-top: 25px;
	background-image:url(/clients/ALZ/Images/footer_bg_helpline.gif);
	background-repeat: no-repeat;
	height: 70px;
}
#footerContainer .colC #helpLine .helpNumber,
#footerContainer .colA #helpLine .helpNumber {
	margin:0;
	/*padding: 20px 5px 11px 5px;*/
}


#helpLine.noBgImg{
	width: 201px; height: 92px;
	margin-top: 0px;
	background-image: none;
	border: 1px solid #cccccc;
}
#helpLine.noBgImg p.helpNumber{
	background-image: none;
	background-color: #f0f0f0;
	border: 3px solid #ffffff;
	height: 55px;
	text-align: center;
	background-image: url('/care/images/footer-background-purple.jpg');
	background-position: left top;
}
#helpLine a{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 20px;
	text-decoration: none;
	color:#00539b;
}
#helpLine a:hover{
	text-decoration: underline;
}

#footerContainer.version2 .colC #helpLine .helpNumber ,
#footerContainer.version2 .colA #helpLine .helpNumber {
	margin:0;
	padding: 10px 5px 21px 5px;
	font-weight: bold;
	font-size: 14px;
}
#footerContainer.version2 .colA #helpLine .helpNumber a,
#footerContainer.version2 .colC #helpLine .helpNumber a{
	color: #652d8a;
}
.colB{
   font-family:Verdana, Arial, Helvetica, sans-serif;
   position: relative;
   float: left;
   left: 15px;
      /* width: 235px; KT */
   width: 330px;
   padding-right: 15px;
}

ul.footerLinks {
	margin-top: 3px;
	 list-style: url(/clients/ALZ/Images/blue_bullet.gif);
    color: #424242;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 13px;
    line-height: 19px;
    margin-bottom: 0;
    margin-left: 2px;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 16px;
}
ul.footerLinks li {
	margin-bottom:3px;
}
ul.footerLinks li a{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 22px;
	color:#00539b;
	text-decoration: none;
}
ul.footerLinks li a:hover{
	text-decoration:underline;
}

.colB p.footerForm{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 15px;
	margin-top:0px;
	margin-bottom: 5px;
}
.colB a{
	text-decoration: none;
}
.colB a:hover{
	text-decoration: underline;
}
.colB p.brainText {
	margin-top: 5px;
	margin-bottom: 5px;
}
.colC{
	font-family:Verdana, Arial, Helvetica, sans-serif;
   position: relative;
   float: left;
   left: 15px;
   /* width: 210px; KT */
   width: 250px;
}
p.footerHelpLine{
	display: block;
	font-size: 12px!important;
	font-weight: bold;
	padding:10px 10px 0px 10px;
	width: 185px; height: 96px;
	border: 1px solid #57297f;
	margin-top: 2px;
	text-align: center;
}
p.footerHelpLine a{
	text-decoration: underline;
}
p.footerHelpLine a:hover{
	text-decoration: none;
}

.colA a.footerBorder{
	border: 1px solid #cccccc;
	display:block;
	width: 203px;
	height: 92px;
}
.colA a.footerBorder img{
	border: 3px solid #fff;
}

.colB div.footerBorder.bgGrade,
.colC div.footerBorder.bgGrade,
.colA div.footerBorder.bgGrade{
	border: 1px solid #cccccc;
	display:block;
	width: 203px;
	height: 92px;
	background: url('/care/images/footer-background-purple.jpg') left top no-repeat ;
}

.colB div.footerBorder.bgGrade a,
.colC div.footerBorder.bgGrade a,
.colA div.footerBorder.bgGrade a{
	border: 3px solid #fff;
	display:block;
	width: 197px;
	height: 86px;
}
.colB div.footerBorder.bgGrade a img,
.colC div.footerBorder.bgGrade a img,
.colA div.footerBorder.bgGrade a img{
	margin-left: 14px;
	margin-top: 25px;
}


/* YEAR END GIVING 12172012*/
#yearEndGiving{
	background-color:#FFFFFF;
	width: 751px;
	text-align:left;
	background-image:url(/clients/ALZ/Images/footer_enews_bg.jpg);
	background-repeat:repeat-x;
	padding-top: 20px;
	height: 240px;
	/*padding-bottom: 12px;*/
	width: 960px;
	border: 1px solid #CCCCCC;

}

#yearEndGiving h3{
	color: #65378e;
	font-size: 21px;
	font-weight: bold;
	margin: 0px;
}

#yearEndGiving .right,
#yearEndGiving .left{
	float: left;
	margin-left: 20px;
	margin-left: 35px;
}
#yearEndGiving .left{
	width: 365px;
	width: 545px;
}
#yearEndGiving .right{
	width: 308px;
	height: 186px;
	background-image: url(/clients/ALZ/Images/yearendgiving-couple.jpg);
	background-postion: 0px 0px;
	background-repeat: no-repeat;

}
#yearEndGiving #subcontent2{
	position:absolute;
	visibility: hidden;
	border:0px;
	background-color: transparent;
	background-image: url(/clients/ALZ/Images/yearendgiving-rollover-bg.png);
	background-position: 0px 0px;
	background-repeat: repeat;
	width: 300px;
	height: 37px;
	padding: 4px;
	margin-left: -1px;
	margin-top: 184px;
	font-size: 12px;
	color: #fff;
	line-height: 16px;
}
#yearEndGiving #subcontent2 a{
	color: #fff;
	text-decoration: underline;
}
#yearEndGiving #subcontent2 a:hover{
	text-decoration: none;
}
#yearEndGiving a.donationLink{
	color: #363636;
	font-weight: bold;
	font-size: 14px;
	text-decoration: none;
	font-weight: bold;
}
#yearEndGiving a:hover.donationLink{
	text-decoration: underline;
}


.fancybox-iframe{


}


/* WENDI - THE LONGEST DAY FOOTER 960px wide */

#longestDayWide{
	border-top: 0px solid #ffffff;
	background: url(/images_custom/footer/footer_TLD_2013_960x325.jpg) top left no-repeat;
	height: 325px;
	text-align: left;
	width: 960px;
	margin-bottom:-20px;
}

#longestDayWide a img#bttnLongestDay{
	/*margin-top: 0px;
	margin-left: 552px;*/
}

#longestDayActivitiesWide {
	/*margin-top:100px;
	margin-left:100px;*/
	}

#longestDayWide  p{
	margin-left: 70px;
}

#longestDayWide  p a{
	color: #00539B;
	text-decoration: underline;
}
#longestDayWide  p a:hover{
	text-decoration: none;
}

div.footerClear{
	height: 1px;
	clear:both;
}
#longestDayWide div.clear{
	clear: both;
}

.bttnLongestDayWideImg{
	float: right;
	margin-top: 20px;
	margin-right: 20px;
}
.bttnLongestDayWideActText{
	float: right;
	margin-top: 220px;
	margin-right: 60px;
}

/* THE LONGEST DAY FOOTER 960px - END */





/* BEGIN ** I HAVE ALZHEIMER'S CHANGES FOR 02/20/2014 */

#iHaveAlz{
	width: 960px;
	border-top: 8px solid #65378e;
	height: 325px;
	background: url('/clients/ALZ/Images/footer-bg-ihavealz.jpg') bottom right no-repeat #ECECEC;
	text-align: left;
	height: 317px;

}
#iHaveAlz .left{
	margin-left: 26px;
	margin-top: 34px;
	width: 570px;
}
#iHaveAlz .left h3{
	font-size: 24px;
	line-height: 26px;
	margin-bottom: 20px;
}
#iHaveAlz .left p{
	font-size: 14px;
	line-height: 20px;
	margin-top: 0px;
}
/* END ** I HAVE ALZHEIMER'S CHANGES FOR 02/20/2014 */


/* BEGIN ** THE LONGEST DAY CHANGES FOR 03/28/2014 */

#tld{
	background: url('/clients/ALZ/Images/footer-bg-tld-long.jpg') bottom center no-repeat #65378e;
	text-align: left;
	height: 330px;
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	margin-top: -2px;
	border-top: 4px solid #fff;
}
#tld .left #bttn{

	margin-top: 268px
}
#tld .left a{
	margin-left: 137px;
}
/* END ** THE LONGEST DAY CHANGES FOR 03/28/2014 */


/* BEGIN ** THE LONGEST DAY CHANGES FOR 03/28/2014 */

#abam{
	background: url('/clients/ALZ/Images/abam_tld_footer_2014_960.jpg') bottom right no-repeat #ECECEC;
	text-align: left;
	height: 400px;
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	margin-top: -2px;
	border-top: 4px solid #fff;
}
#abam .left #bttn{

	margin-top: 210px
}
#abam .left a{
	margin-left: 670px;
}

#abam .bottomABAM{

}
#abam .bottomABAM a{
	margin-left: 670px;
}
#abam .bottomABAM #bttn2{
	margin-top: 76px;
}
/* END ** ABAM FOR 06/06/2014 */
























