
/*Credits: Dynamic Drive CSS Library */
/*URL: http://www.dynamicdrive.com/style/ */

.suckerdiv ul{
	margin: 17px 0px 0px 5px;
	padding: 0;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 22px;
	font-weight:bold;
	list-style: none;
	width: 210px; /* Width of Menu Items */

}
ul#suckertree1 {
	margin-top: 10px;
}

.suckerdiv ul li{
	position: relative;
}
	
/*Sub level menu items */
.suckerdiv ul li ul{
	margin: 0;
	/*margin-left: 18px; */
	position: absolute;
	list-style-type: none;
	width: 184px; /*sub menu width*/
	top: 0;
	visibility: hidden;
}

/* Sub level menu links style */
.suckerdiv ul li a{
	display: block;
	overflow: auto; /*force hasLayout in IE7 */
	text-decoration: none;
	padding: 6px 0px 6px 35px;
	width: 100%;
	color: #000000;
	
	text-decoration: none;
}

.suckerdiv ul li a.lastRow{
		border-bottom: 1px #ececec solid;
}

.suckerdiv ul li a:hover{
	color: #ffffff;
	background-position: 5px 11px;
	background-color: #007fb2;
}
.suckerdiv ul li a.leftnavActive{
	color: #ffffff;
	background-color: #007fb2;
}
/* .suckerdiv ul li a.leftnavActiveLastRow{
	color: #ffffff;
	background-position: 5px 11px;
	border-bottom: 1px #bec4c5 solid;
} */
/*.suckerdiv .subfolderstyle{
	background: url(../images/arrow.jpg) no-repeat center left;
}*/
/* Holly Hack for IE \*/
* html .suckerdiv ul li { float: left; height: 1%; }
* html .suckerdiv ul li a { height: 1%; }
/* End */


