@charset "utf-8";
/* CSS Document */

html{
	background-color: #ececec;
}
body{
	background-image:url(/clients/ALZ/Images/bg_page_repeat.jpg);
	background-repeat:repeat-x;
	font-family:Arial, Helvetica, sans-serif;
}
img {
	border: 0;
}
h2 {
	margin-top: 0px; /* top aligns with left nav title */
	margin-bottom: 0px;
	padding-bottom: 5px;
	color: #010101;
	font-family:Arial, Helvetica, sans-serif;
}
h3 {
	/*color: #000000; */
	color: #65378e;
	font-family:Arial, Helvetica, sans-serif;
	margin-bottom: 3px;
}
h4 {
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
}

p.blueTextNormal { /* example: Learn More title text */
	color: #00539b;
}

#mainContentArea p.blogCalloutText{
	margin: 13px;
	color: #313030;
	font-weight: normal;
	font-size: 13px;
	line-height: 18px;
	font-weight: normal;
}
#mainContentArea p.blogBoxHeadline {
	margin: 0px 0px 10px 10px;
	display:block;
	text-align:center;
	color: #353535;
	font-size: 14px;
	line-height: 18px;
	font-weight: bold;
}
/* ex used on Dementia & Driving page */
#mainContent #mainContentArea p.videoTitle {
	padding: 10px; 
	color: #ffffff;
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 15px; 
	line-height: 17px;
}

#mainContentArea a {	
	color: #00539b;
	text-decoration: none;
}
#mainContentArea a:hover {
	text-decoration: underline;
}


#mainContentArea h2{
	padding-bottom: 5px;
	font-size: 24px;
	line-height: 26px;
	color:#353535;
}
#mainContentArea h3{
	font-size: 16px;
	line-height: 20px;
	margin-bottom: 3px;
}
#mainContentArea h4{
	font-size: 14px;
	line-height: 18px;
}
#mainContentArea p{
	font-size: 14px;
	line-height: 18px;
	color: #292929;
	font-family:Arial, Helvetica, sans-serif;
}


.backToTop {
	text-align: right;
	margin-right: 10px;
}
.backToTop a{
	text-decoration: none;
}
.backToTop a:hover{
	text-decoration: underline;
}

/* Intro on interior pages. Right now, only style is bold, may change later */
.introTextFirstLine {
	font-weight: bold;
	color: #353535;
}


/* BEGIN Care Center top NAV */
#careNav {
	margin: 0px;
	padding:0;
	clear: both;
	width: 961px;
	height: 43px; 
	background-image:url(/clients/ALZ/Images/nav_purple_repeat.jpg); 
	background-repeat:repeat-x;
}

/* END Care Center top NAV */


/* BEGIN left 'extra' links below navigation */
a.OtherLinks {
	color:#424242;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 26px;
	text-decoration: none;
}

a.OtherLinks:hover {
	text-decoration: underline;
}
/* END left 'extra' links below navigation */


/* mainContent includes the left navigation + body content */
#mainContent{
	margin: 0;
	padding:0;
	clear: both;
	width: 960px; 
	background-color: #ffffff; 
	border: 2px #e1e1e1 solid;
	border-top: 3px #e1e1e1 solid;
}
/* END mainContent */



/* BEGIN left navigation styles */

.leftNavBlip { /* this is for blue small rectangle to the left of the top left nav */
	margin: 0;
	padding: 0;
	width: 8px;
	height: 47px;
	float: left;
	margin-left: -8px;
	background-image:url(/clients/ALZ/Images/leftnav_top_blip.jpg);
	background-repeat:no-repeat;
	clear:both;
}
.leftNav {
	margin:0;
	padding:0;
	text-align: left;
	width: 257px;
	border-right: 1px #ececec solid;
	border-bottom: 3px #ececec solid;
	float: left;
	background-image:url(/clients/ALZ/Images/leftnav_bg_top.jpg);
	background-repeat:no-repeat;
}
.leftNav p {
	margin: 0px 5px 5px 15px;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 31px;
	margin-left: 40px;
	
}
.leftnavDivider {
	border-bottom: 1px #e1e1e1 solid;
	width: 245px;
	margin: 0;
	padding:0;
	height:1px;
	line-height:0;
}
p.leftNavTitle {
	margin: 15px;
	margin-bottom: 0px;
	padding:0;
	color: #656565;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 20px;
	line-height: 26px;
}
a.leftNavLink {	
	color: #000000;
	text-decoration: none;
	font-size: 14px;
	line-height: 31px;
}
a.leftNavLink:hover {
	text-decoration:underline;
}
/* END left navigation */

/* Find your Chapter Box under Left nav */
#findChapter {
	text-align:left;
	margin: 0;
	margin-top:0px;
	margin-left: 4px;
	padding:0;
	width: 257px;
	height: 115px;
	background-image:url(/clients/ALZ/Images/bg_find_chapter.jpg);
	background-repeat:no-repeat;
}
#findChapter p.findChapterTitle {
	margin: 0;
	padding: 10px 10px 0px 7px;
	text-align:left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 26px;
	color: #282828;
	font-weight: bold;
}
#findChapter p{
	margin: 0px 15px 5px 7px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: #282828;
}

/* Enews Signup under Left nav */
#enewsSignupLeftNav {
	text-align:left;
	margin: 0;
	margin-left: 4px;
	padding:0;
	width: 257px;
	height: 125px;
	/*background-image:url(/clients/ALZ/Images/bg_find_chapter.jpg);
	background-repeat:no-repeat; */
}
#enewsSignupLeftNav p.enewsSignupTitle {
	margin: 0;
	padding: 5px 10px 0px 7px;
	text-align:left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 26px;
	color: #282828;
	font-weight: bold;
}
#enewsSignupLeftNav p{
	margin: 0px 15px 5px 7px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: #282828;
}
input.inputFields {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 14px;
	color: #000000;
	margin-top: 5px;
}


/* top collapsing dropdown menu styles */
/*	.toggleItem {
		padding:4px 0;
		margin:5px 0;
		}

	.toggleItem ul.bodyContent {
		margin-left:125px;
		}
		
	.toggleItem p.bodyContent {
		margin-left:125px;
		}
		

	.toggleItem h3.leftAlignToggle {
				color: #b02329;
		margin:15px 0px 0px 12px; 
		display:block;
		
		} 8?
/*#topNavDaily, #topNavBehavior, #topNavSupport, #topNavSafety, #topNavCareOptions, #topNavFinancial {
	background-image: url(/clients/ALZ/Images/bg_topnav.jpg);
	background-repeat:repeat-x;
	width:940px; 
	padding: 10px 5px 0px 10px; 
	float: left; 
	min-height: 170px;
	text-align: left;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 13px; 
	color: #545454; 
	font-weight: bold;
	height: 100%;
} */
	
.topNavCol0 {
	text-align: left;
	width: 180px;
/*	float: left; 
/*	border-right: 1px #666 solid; */
	font-family:Arial, Helvetica, sans-serif;
	font-size: 13px; 
	color: #545454; 
	font-weight: bold;
	height: 100%;
}	
.topNavCol1 {
	text-align: left;
	width: 240px;
	float: left; 
	font-family:Arial, Helvetica, sans-serif;
	font-size: 13px; 
	color: #545454; 
	font-weight: bold;
	height: 100%;
}
.topNavCol2 {
	text-align: left;
	width: 240px;
	float: left;
/*	border-right: 1px #666 solid; */
	margin-left: 15px;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 13px; 
	color: #545454; 
	font-weight: bold;
	height: 100%;
}
.topNavCol3 {
	text-align: left;
	width: 240px;
	float: left;
	margin-left: 15px;
	font-family:Arial, Helvetica, sans-serif; 
	font-size: 13px; 
	color: #545454; 
	font-weight: bold;
	height: 100%;
}



#topNavDaily ul li, #topNavBehavior ul li, #topNavSupport ul li, #topNavSafety ul li, #topNavCareOptions ul li, #topNavFinancial ul li {
	list-style: none;
	text-align:left;
}
#topNavDaily ul li a, #topNavBehavior ul li a, #topNavSupport ul li a, #topNavSafety ul li a, #topNavCareOptions ul li a, #topNavFinancial ul li a {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 16px;
	text-decoration: none;
	color: #007fb2;
	font-weight: normal;
	text-decoration: none;
}

#topNavDaily ul li a:hover, #topNavBehavior ul li a:hover, #topNavSupport ul li a:hover, #topNavSafety ul li a:hover, #topNavCareOptions ul li a:hover, #topNavFinancial ul li a:hover {
	text-decoration: underline;
}



ul li .topNavCol1 a, .topNavCol2 a, .topNavCol3 a, .topNavCol1 a:visited, .topNavCol2 a:visited, .topNavCol3 a:visited {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 20px;
	text-decoration: none;
	color: #007fb2;
	font-weight: normal;
}
.topNavCol0 a:hover, .topNavCol1 a:hover, .topNavCol2 a:hover, .topNavCol3 a:hover {
	text-decoration: underline;
	font-weight: normal;
}


/* END top collapsing dropdown menu styles */
/* NEW NAV WAY 5/9/12 */
#topNavDaily, #topNavBehavior, #topNavSupport, #topNavSafety, #topNavCareOptions, #topNavFinancial {
	background-image: url(/clients/ALZ/Images/bg_topnav.jpg);
	background-repeat:repeat-x;
	width:940px; 
	margin:0;
	/*padding: 15px 5px 0px 10px; */
	margin-top: 4px;
	padding-top: 12px; /* kt added 5/30/12 for IE compat mode */
	
/* margin-left: 50px; /*
	text-align: left;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 15px; 
	color: #545454; 
	font-weight: bold;
	min-height: 200px;
}


.topNavCol0 {
	text-align: left;
	width: 180px;
/*	float: left; 
/*	border-right: 1px #666 solid; */
	font-family:Arial, Helvetica, sans-serif;
	font-size: 16px; 
	color: #545454; 
	font-weight: bold;
	height: 100%;
	background-color:#ffffff;
}	
.topNavCol1 {
	text-align: left;
	width: 240px;
	float: left; 
	font-family:Arial, Helvetica, sans-serif;
	font-size: 13px; 
	color: #545454; 
	font-weight: bold;
	height: 100%;
}
.topNavCol2 {
	text-align: left;
	width: 240px;
	float: left;
/*	border-right: 1px #666 solid; */
	margin-left: 15px;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 13px; 
	color: #545454; 
	font-weight: bold;
	height: 100%;
}
.topNavCol3 {
	text-align: left;
	width: 240px;
	float: left;
	margin-left: 15px;
	font-family:Arial, Helvetica, sans-serif; 
	font-size: 13px; 
	color: #545454; 
	font-weight: bold;
	height: 100%;
}



#topNavDaily ul li, #topNavBehavior ul li, #topNavSupport ul li, #topNavSafety ul li, #topNavCareOptions ul li, #topNavFinancial ul li {
	list-style: none;
}
#topNavDaily ul li a, #topNavBehavior ul li a, #topNavSupport ul li a, #topNavSafety ul li a, #topNavCareOptions ul li a, #topNavFinancial ul li a {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 16px;
	text-decoration: none;
	color: #007fb2;
	font-weight: normal;
	text-decoration: none;
}

#topNavDaily ul li a:hover, #topNavBehavior ul li a:hover, #topNavSupport ul li a:hover, #topNavSafety ul li a:hover, #topNavCareOptions ul li a:hover, #topNavFinancial ul li a:hover {
	text-decoration: underline;
}



ul li .topNavCol1 a, .topNavCol2 a, .topNavCol3 a, .topNavCol1 a:visited, .topNavCol2 a:visited, .topNavCol3 a:visited {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 20px;
	text-decoration: none;
	color: #007fb2;
	font-weight: normal;
}
.topNavCol0 a:hover, .topNavCol1 a:hover, .topNavCol2 a:hover, .topNavCol3 a:hover {
	text-decoration: underline;
	font-weight: normal;
}
hr.topNavDividerHorizLineThick { /* goes under the title of the subsections of topNav */
	padding:0;
	margin: 4px 0px 4px 0px;
	height: 2px;
	border:none;
	background-color: #0072a0;
	line-height:0;
	width: 170px;
	text-align:left;
}
hr.topNavDividerHorizLine {
	padding:0;
	margin: 4px 0px 4px 0px;
	height: 1px;
	border:none;
	background-color: #cfd7db;
	line-height:0;
	font-size:0;
	width: 170px;
	text-align:left;
}

/* END top collapsing dropdown menu styles */

#mainContentArea {
	width: 640px;
	float: left;
	margin:0;
	padding:0;
	text-align:left;
	background-color: #ffffff;
	padding: 15px;
	padding-left: 35px;
	border-left: 2px #e1e1e1 solid;
}

/* BEGIN breadcrumb and text sizer styles */

#breadcrumbArea {
	margin: 0;
	padding:0;
	clear: both;
	width: 100%;
	height:30px; 
	color: #00539b;
	font-family:Verdana, Geneva, sans-serif;
	font-size: 11px;
	background-color: #cdccd4;
	border-top: 2px #979797 solid;
	border-bottom: 1px #979797 solid;
	
}
#breadcrumb {
	width:750px;
	float: left;
	text-align:left;
}
#breadcrumb p{
	margin: 0px 5px 0px 5px;
	padding: 8px;
}
a.breadcrumb {
	color: #00539b;
	font-family:Verdana, Geneva, sans-serif;
	font-size: 11px;
	text-decoration: none;
}
a:hover.breadcrumb {
	text-decoration: underline;
}
/* last breadcrumb item is not a link and will simply be black */
.breadcrumbCurrent {
	color: #000000;
	font-family:Verdana, Geneva, sans-serif;
	font-size: 11px;
}
/* TEXT SIZER */

.textSizer {
	margin:0;
	padding: 8px;
	width:75px;
	float:left;
	vertical-align:bottom;
}
.textSizer p{
	margin: 0px 10px 0px 0px;
	padding:0;
	color: #00539b;
	font-family:Verdana, Geneva, sans-serif;
	font-size: 11px;
}
#smallText {
	padding:0;
	margin: 6px 2px 0px 0px;
	width: 21px;
	height: 17px;
	font-size: 12px;
	color: #ffffff;
	background-color: #5f89b1;
	float: left;
}
#mediumText {
		padding:0;
	margin: 6px 2px 0px 2px;
	width: 21px;
	height: 17px;
	font-size: 12px;
	color: #ffffff;
	background-color: #3b72a8;
	float: left;
}
#largeText {
		padding:0;
	margin: 6px 2px 0px 2px;
	width: 21px;
	height: 17px;
	font-size: 12px;
	color: #ffffff;
	background-color: #095da5;
	float: left;
}
#smallText a, #smallText a:visited, #mediumText a, #mediumText a:visited, #largeText a, #largeText a:visited {
	color: #ffffff;
}
/* END breadcrumb and text sizer styles */

/* Share tools top */
#shareToolsTop {
	/* margin: 10px 15px 10px 0px;
	padding: 1px;
	width: 260px;
	height: 36px;
	background-image:url(/clients/ALZ/Images/bg_share_top.jpg);
	background-repeat:no-repeat; */
	margin: 10px 15px 10px 0px;
	padding: 0;
	font-size: 14px;
}
#shareToolsTop p {
	margin: 8px 15px 5px 15px;
	color: #000;
	font-weight: normal;
	font-family:Verdana, Geneva, sans-serif;
	font-size: 12px;
}

a.shareTextLinks{
	font-size: 13px;
	color: #1763a4;
	text-decoration:none;
	margin-left: 10px;
	margin-right: 10px;
}
a:hover.shareTextLinks{
	font-size: 13px;
	text-decoration:underline;
}
/* end Share tools top */

/* Share tools bottom of page */
#shareToolsBottom {
	margin: 10px 15px 10px 0px;
	padding: 0;
	font-size: 14px;
}
#shareToolsBottom p {
	margin: 8px 15px 5px 15px;
	color: #000;
	font-weight: normal;
	font-family:Verdana, Geneva, sans-serif;
	font-size: 12px;
}
hr.grayShareLineBottom {
	margin: 5px 0px 5px 0px;
	font-size:0;
	line-height:0;
	background-color: #dbdbdb;
	border: none;
	width:622px;
	height: 1px;
}
/* ShareTextLinks are for top Share tool boxes */
hr.grayShareLineTop {
	margin: 5px 0px 5px 0px;
	font-size:0;
	line-height:0;
	background-color: #dbdbdb;
	border: none;
	width:635px;
	height: 1px;
}

/* ShareTextLinks are for bottom Share tool boxes */
hr.grayShareLine {
	font-size:0;
	line-height:0;
	margin-bottom: 8px;
	margin-top: 8px;
	background-color: #dbdbdb;
	border: none;
	width:617px;
	height: 1px;
}
/* end Share tools bottom */



ul.bodyContent { 
	list-style: url(/clients/ALZ/Images/arrow_blue.jpg); 
}
ul.bodyContent li{
	margin-bottom:0;
	font-family:Verdana, Geneva, sans-serif;
	color: #424242;
}

ul.bodyContent li.jumpLinks a {
	color: #00539b;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 18px;
	text-decoration:none;
	
}	
ul.bodyContent li.jumpLinks a:hover {
	text-decoration:underline;
}


ul.blackList { 
	list-style: url(/clients/ALZ/Images/arrow_black.gif); 
}
ul.blackList li{
	font-family:Arial, Helvetica, sans-serif;
}
ol.blackList li{
	font-family:Arial, Helvetica, sans-serif;
}
ul.blackListHome { 
	list-style: url(/clients/ALZ/Images/arrow_black.gif); 
}

ul.blackListHome li{
	font-family:Arial, Helvetica, sans-serif;
}

ul.checkList {
	list-style: url(/clients/ALZ/Images/icon_checkmark.gif); 
}
ul.checkList li{
	font-family:Arial, Helvetica, sans-serif;
	/*font-size: 16px;
	line-height: 22px;*/
}
ul.checkboxList { 
	list-style: url(/clients/ALZ/Images/icon_checkbox.gif); 
	color: #424242;
}
ul.checkboxList li{
	font-family:Arial, Helvetica, sans-serif;
}
.TopPhoto {
	float:right;
	position:relative;
	width: 270px;
	margin-top: 17px;
}
.leftOfTopPhoto {
	width: 340px; 
	float: left;
	position:relative;
}
.leftOfTopPhoto p{
	margin-top: 15px;
	font-size: 14px;
	line-height: 18px;
}
.bodySectionDividerLine {
		margin: 0;
		padding:0;
/*	border-bottom: 1px #007fb2 solid; */
		border-bottom: 1px #65378e solid;
		margin-right: 5px;
		width: auto;
}
.blueGradientCalloutBox {
	margin: 5px 0px 15px 15px;
	padding:0;
	float: right;
	width: 240px;
	height: auto; 
	background-image:url(/clients/ALZ/Images/bg_blue_callout_repeat.jpg);
	background-repeat: repeat-y;
}
/* this style is red text to indicate we still need something done with it (link or doc or whatever) Will be used until Launch */
.stillNeed {
	font-weight: bold;
	color: #F00;
}

.leftNav a{
	color: #424242;
	text-decoration: none;
}
#topResourcesTitleBox{ /* gray box above the Top Resources box that holds only the title and has gray background */
	margin:0;
	background-color: #65378e;
	padding:0;
	width:140px;
}
#topResourcesTitleBox p{
	margin: 0;
	padding:0;
	font-family:Arial, Helvetica, sans-serif;
	padding-top: 1px;
	padding-left: 15px;
	color: #ffffff;
	font-weight: bold;
	font-size: 15px;
	line-height: 21px;
}

#topResourcesBox {
	margin: 0px 0px 15px 0px;
	padding:0;
	width: 620px;
	text-align: left;
	border: 1px #65378e solid;
	min-height:170px;
	font-size: 14px;
	line-height: 18px;
	color: #494949;
}

ul.topResourcesList { 
	list-style: url(/clients/ALZ/Images/arrow_black.gif); 
	margin-left: 5px;
	margin-top: 15px;
}


.bulletBold {	
	font-weight: bold;
	color: #353535;
}
.learnMoreTitle {

	color: #353535;
	/*color: #65378e;*/
	text-transform:uppercase;
	font-weight: bold;
	font-size: 13px;
	line-height: 18px;
	margin: 0;
}

a.learnMoreLinks { /* example: icon next to gray text */
	color: #424242;
	text-decoration: none;
	padding-top: 10px;
}

a.learnMoreLinks:hover {
	color: #424242;
	text-decoration: underline;
}

hr.blueLine { /* example: divider line */
	margin: 12px 0px 12px 5px; 
	color: #0984b5;
	height: 2px;
	border: none;
}
.longCalloutBox {
	margin: 20px 0px 15px 0px;
	padding:0;
	width: 624px;
	background: #ffffff url('/clients/ALZ/Images/bg_callout_purple.png') 0 0 repeat-x; 
	border:1px solid #8858b3;
}
#mainContentArea p.longCalloutBoxTitle {
	margin: 6px 10px 10px 12px;
	color: #65378e;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 26px;
	font-weight: bold;
}
a.longBoxLink {
	color: #007fb2;
	text-decoration:none;
}
a:hover.longBoxLink{
	text-decoration:underline;
}
.longCalloutBoxCol1 {
	width: 300px; 
	float:left;
}
.longCalloutBoxCol2 {
	width: 300px; 
	float:left;
}
.helpCalloutBox {
	margin: 20px 0px 20px 0px;
	padding:0;
	width: 620px;
	background: #ffffff url('/clients/ALZ/Images/bg_callout_gray.png') 0 0 repeat-x; 
	border:1px solid #65378e;
}
.helpBoxTitle { /* example: Help Available callout box - 18px size*/
	margin: 6px 10px 10px 12px;
	color: #292929;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 26px;
	font-weight: bold;
}

.helpCalloutBox ul { 
	list-style: url(/clients/ALZ/Images/arrow_blue.gif);
	font-family: Arial, Helvetica, sans-serif;
	color: #292929;
} 
.gray14 { /* example: Help Available callout box - content text - 14px size */
	margin: 12px;
	color: #424242;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 18px;
}
#mainContentArea a.blueBoldLink {
	color: #00539b;
	font-weight: bold;
	text-decoration: none;
}
#mainContentArea a:hover.blueBoldLink {
	text-decoration: underline;
}
.smallGraphicCallout {
	margin: 20px 0px 15px 15px;
	padding:8px;
	float: right;
	width: 225px;
	background-color: #ffffff;
	border: 1px #007fb2 solid;
	float: right;
}
.purple14 { /* example: callout box - content text - 14px size */
	margin-bottom: 0;
	color: #65378e;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 18px;
}


#mainContent #mainContentArea .blueGradientCalloutBox ul {
	margin-top:0px 15px 0px 15px;
}
#mainContent #mainContentArea .blueGradientCalloutBox ul li {
	color: #313030;
	font-family:Arial, Helvetica, sans-serif;;
	font-size: 14px;
	line-height: 18px;
}
#mainContent #mainContentArea .blueGradientCalloutBox ol {
	margin:0px 15px 0px 15px;
}
#mainContentArea .blueGradientCalloutBox ol li {
	color: #313030;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 18px;
}
#mainContent #mainContentArea .purpleGradientCalloutBox ol, #mainContent #mainContentArea .purpleGradientCalloutBox ul {
	margin:0px 15px 10px 15px;
}
#mainContent #mainContentArea .purpleGradientCalloutBox ol li, #mainContent #mainContentArea .purpleGradientCalloutBox ul li {
	color: #313030;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 18px;
	margin: 5px; 
	font-weight:500;
}

#blogCalloutBox {
	margin: 5px 0px 15px 15px;
	padding:0;
	float: right;
	width: 240px;
	height: auto; 
	background-image:url(/clients/ALZ/Images/bg_callout_green.png);
	background-repeat: repeat-x;
	border: 1px solid #7ac143;
	border-radius: 5px;	
}

#blogCalloutBox H1 {
	margin-top: 15px;
	font-face:Verdana, Arial, Helvetica, sans serif;
	/*color:#458910;*/
	color: #292929;
	font-size:18px;
	text-align:center;
	font-weight:none;
}

#blogCalloutBox img {
	border: 1px solid #c1c1c1;
	text-align:center;
}
#blogCalloutBox span {
	display:block;
	text-align:center;
}

#blogCalloutBox .blogCalloutText {
	margin: 15px;
	color:#292929;
	font-size:12px;
}

/* Caregiver Stress Check Callout */
#stressCheckCalloutBox {
	margin: 20px 5px 15px 15px;
	padding:0;
	float: right;
	width: 240px;
	height: auto; 
	background: #ffffff url(/clients/ALZ/Images/bg_callout_purple.png) 0 0;
	background-repeat: repeat-x;	
	border: 1px solid #8858b3;
	border-radius: 5px;

}

#stressCheckCalloutBox img {
	border: 1px solid #c1c1c1;
	text-align:center;
}
#stressCheckCalloutBox span {
	display:block;
	text-align:center;
}

#stressCheckCalloutBox H1 {
	margin-top: 15px;
	font-face:Verdana, Arial, Helvetica, sans serif;
	color:#353535;
	font-size:18px;
	text-align:center;
	font-weight:none;
}

#stressCheckCalloutBox .stressCheckCalloutText {
	margin: 15px;
	color:#292929;
	font-size:12px;
}

#stressCheckCalloutBox a {	
	color: #ffffff;
	text-decoration: underline;
}
#stressCheckCalloutBox a:hover {
	color: #CCC;
	text-decoration: underline;
}

/*PRINT HIDE*/

.printReveal{
	display: none;
	visibility: hidden;	
}




ul.bodyContent li.jumpLinks a{
	font-size: 14px;
	line-height: 18px;
}
ul.bodyContent li.jumpLinks{
	margin-bottom: 0px;	
}
ul.blackList li{
	margin-bottom:15px;
	font-size: 14px;
	line-height: 18px;
}
ol.blackList li{
	margin-bottom:15px;
	font-size: 14px;
	line-height: 18px;
}
ul.checkList li{
	font-size: 14px;
	line-height: 18px;
}
ul.checkboxList li{
	font-size: 14px;
	line-height: 18px;
}
.helpCalloutBox ul { 
	font-size: 13px;
	line-height: 18px; 
} 
.backToTop a{
	font-size: 12px;
}
/* TEXT SIZER */

#smallText a{
	color: #ffffff;
	text-decoration:underline;
}
#smallText a:hover{
	text-decoration:none;
}
#mediumText a{
	text-decoration:none;
}
#largeText a{
	text-decoration:none;
}
/**/
#mainContentArea #shareToolsTop p{
	font-size: 14px;
	line-height: 18px;
}

#mainContentArea p.whiteOnPurpleTableTitle {
	margin: 4px 4px 4px 15px;
	color: #ffffff;	
	font-size: 14px;
	line-height: 18px;
	font-weight: bold;
}

#mainContentArea .blueGradientCalloutBox p {
	margin: 20px;
	color: #313030;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 18px;
}

#mainContentArea .blueBoxHeadline {
	color: #00539b;
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	font-weight: bold;
}
img.learnMoreArrowMargin {
	margin-left: 20px;
}
learnMoreArrowNoMargin {
	margin-left: 0px;
}
img.learnMoreBulletMargin {
	margin-left: 8px;
	margin-right: 8px;
}
learnMoreBulletNoMargin {
	margin-left: 0px;
	margin-right: 8px;
}
img.topResourcesCover {
	width:123px;
	height:139px;
	margin: 15px 35px 35px 15px; 
	float:left;
	border:1px solid #ccc;
}

/*for page caregiver stress burnout page alzheimers-dementia-caregiver-stress-burnout.asp */
.headline {
	color:#292929;
	font-weight:bold;
}
.caregiverStressExample {
	color:#65378e;
}

/*end caregiver stress burnout page  */

/* new boxes style */
.purpleGradientCalloutBox {
	float:right;
	width:240px;
	margin: 15px 5px 15px 15px;
	background: #ffffff url('/clients/ALZ/Images/bg_callout_purple.png') 0 0 repeat-x; 
	border:1px solid #8858b3; 
	border-radius: 5px;
}


.purpleGradientCalloutBox H1 {
	color:#00539b; 
	font-size:17px; 
	line-height:22px; 
	margin:5px 10px 0 10px;
}

.purpleGradientCalloutBox P {
	margin: 10px; 
	font-family:Arial, Helvetica, sans-serif; 
	font-weight:500;
}
#stressCheckCalloutBox a.stressCheck {
	color:#00539B; 
	text-decoration:underline;
}
#stressCheckCalloutBox a:hover.stressCheck {
	text-decoration:none;
}

/**/
ul.blackListHome.homeMove{
	margin: 0px!important;
	padding: 0px!important;
	padding-left: 30px!important;
	margin-top:8px!important; 
	float: left;
}
img.imgCalloutsHome{
	margin-left: 9px!important;
	margin-right: 0px!important;	
	float: left;
}
/* enews signup box - incontent callout */
div #enews_small_body_callout {
    background-color: #F1F4F8;
    border: 1px solid #007fb2;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
    width: 450px;
		text-align:left;
}
div #enews_small_body_callout_headline {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 6px;
	color: #292929;
}
div #enews_small_body_callout_content {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 6px;
	text-align:left;
}

/* for mobile detection link */
#pMobileLink a {font-family: Verdana, sans-serif; font-size: 13px; color: #286BA9; text-decoration: underline; font-weight : bold;}
