* {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H1 {
	FONT-SIZE: 1em; COLOR: #ccc; FONT-FAMILY: "Myriad Pro", Helvetica
}
H2 {
	FONT-SIZE: 1em; COLOR: #ccc; FONT-FAMILY: "Myriad Pro", Helvetica
}
H3 {
	FONT-SIZE: 1em; COLOR: #ccc; FONT-FAMILY: "Myriad Pro", Helvetica
}
H4 {
	FONT-SIZE: 1em; COLOR: #ccc; FONT-FAMILY: "Myriad Pro", Helvetica
}
H5 {
	FONT-SIZE: 1em; COLOR: #ccc; FONT-FAMILY: "Myriad Pro", Helvetica
}
H6 {
	FONT-SIZE: 1em; COLOR: #ccc; FONT-FAMILY: "Myriad Pro", Helvetica
}
HR {
	DISPLAY: none
}
BODY {
	BACKGROUND: url(city.jpg) #000 no-repeat 0px 0px;TEXT-ALIGN: left
}
P {
	FONT-SIZE: 0.8em; COLOR: #ccc; LINE-HEIGHT: 1.2em; FONT-FAMILY: "Myriad Pro", Helvetica
}
#content-container {
	DISPLAY: block; WIDTH: 820px; POSITION: relative; TEXT-ALIGN: left
}
#header {
	DISPLAY: block; HEIGHT: 200px
}
#city-windows {
	BACKGROUND: url(../images/city_windows.gif) no-repeat 0px 0px; WIDTH: 198px; POSITION: absolute; HEIGHT: 166px
}
#header H1 {
	DISPLAY: block; LEFT: 210px; WIDTH: 117px; TEXT-INDENT: -4000px; POSITION: absolute; TOP: 80px; HEIGHT: 30px
}
#main {
	DISPLAY: block; POSITION: relative
}
#column-left {
	FLOAT: left; MARGIN: 3px 0px 0px 3px; WIDTH: 174px; FONT-FAMILY: "Myriad Pro", Helvetica; POSITION: relative; TEXT-ALIGN: right
}
#column-left UL {
	LIST-STYLE-TYPE: none
}
#nav-tickets {
	DISPLAY: block; MARGIN-BOTTOM: 15px; COLOR: #808080
}
#nav-tickets H2 {
	RIGHT: -37px; BACKGROUND: url(buy_tickets.gif) no-repeat; MARGIN-BOTTOM: 0px; TEXT-INDENT: -4000px; POSITION: relative; TEXT-ALIGN: left
}
#nav-tickets A {
	COLOR: #808080; TEXT-DECORATION: none
}
#nav-tickets A:visited {
	COLOR: #808080; TEXT-DECORATION: none
}
#nav-tickets A:hover {
	COLOR: #c13030
}
#nav-tickets UL {
	FONT-SIZE: 0.78em; TEXT-TRANSFORM: uppercase; LINE-HEIGHT: 1.1em
}
#nav-news {
	DISPLAY: block; MARGIN-BOTTOM: 40px; COLOR: #808080
}
#nav-news A {
	COLOR: #808080; TEXT-DECORATION: none
}
#nav-news A:visited {
	COLOR: #808080; TEXT-DECORATION: none
}
#nav-news A:hover {
	COLOR: #c13030
}
A#news-title {
	DISPLAY: block; RIGHT: -37px; BACKGROUND: url(news.gif) no-repeat; POSITION: relative; HEIGHT: 18px; TEXT-ALIGN: left
}
A#news-title:hover {
	BACKGROUND-POSITION: 0px -18px
}
#nav-news H2 {
	MARGIN-BOTTOM: 3px; TEXT-INDENT: -4000px; POSITION: relative; TEXT-ALIGN: left
}
#nav-news UL {
	FONT-SIZE: 0.7em; LINE-HEIGHT: 1.2em
}
#nav-sponsors {
	DISPLAY: block; FONT-WEIGHT: normal; FONT-SIZE: 0.8em; TEXT-TRANSFORM: uppercase; COLOR: #fff; TEXT-ALIGN: center
}
#nav-sponsors H2 {
	RIGHT: -37px; TEXT-INDENT: -4000px; POSITION: relative; HEIGHT: 22px; TEXT-ALIGN: left
}
#nav-sponsors H3 {
	RIGHT: -37px; TEXT-INDENT: -4000px; POSITION: relative; HEIGHT: 22px; TEXT-ALIGN: left
}
#title {
	BACKGROUND: url(sponsors.gif) no-repeat; MARGIN-BOTTOM: 10px
}
#mondo {
	BACKGROUND: url(logo_cafe.gif) no-repeat 0px 8px; LEFT: 50px; HEIGHT: 30px! important
}
#parish {
	BACKGROUND: url(logo_parish.gif) no-repeat; LEFT: 10px; HEIGHT: 30px! important
}
#rosemont {
	RIGHT: -33px! important; BACKGROUND: url(logo_rosemont.gif) no-repeat; HEIGHT: 30px! important
}
#column-right {
	DISPLAY: block; FLOAT: right; WIDTH: 233px; POSITION: relative; TOP: -108px; TEXT-ALIGN: center
}
#column-right divider {
	BACKGROUND: url(shows_divider.gif) no-repeat 0px 0px
}
#nav-show {
	DISPLAY: block; WIDTH: 233px; POSITION: relative; HEIGHT: 141px
}
#show-txt {
	DISPLAY: none
}
#body {
	PADDING-RIGHT: 20px; DISPLAY: block; PADDING-LEFT: 35px; MIN-HEIGHT: 400px; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 340px; PADDING-TOP: 0px; POSITION: relative; HEIGHT: auto! important
}
#body SPAN {
	FONT-WEIGHT: bold
}
#urban-shadows {
	DISPLAY: block; RIGHT: -246px; BACKGROUND: url(../images/urban_shadows_series.gif) no-repeat; FLOAT: right; WIDTH: 262px; TEXT-INDENT: -4000px; POSITION: absolute; TOP: -165px; HEIGHT: 56px
}
IMG#body-img {
	MARGIN: 8px 0px
}
#footer {
	CLEAR: left; DISPLAY: block; FONT-SIZE: 0.67em; WIDTH: 100%; COLOR: #808080; FONT-FAMILY: "Myriad Pro", Helvetica; POSITION: relative; HEIGHT: 70px
}
.pages#footer {
	TOP: 150px
}
#footer A {
	COLOR: #808080; TEXT-DECORATION: none
}
#footer A:visited {
	COLOR: #808080; TEXT-DECORATION: none
}
#footer A:hover {
	COLOR: #c13030; TEXT-DECORATION: none
}
#copyright {
	LEFT: 15px; BOTTOM: 0px; POSITION: absolute; TEXT-ALIGN: center
}
#contact-info {
	RIGHT: 0px; FLOAT: right; WIDTH: 233px; BOTTOM: 0px; POSITION: absolute; TEXT-ALIGN: center
}
#contact-info SPAN {
	COLOR: #c13030
}
#show {
	DISPLAY: block; POSITION: relative; HEIGHT: 80px
}
.smaller#show {
	HEIGHT: 31px
}
.show-title {
	MARGIN-BOTTOM: 8px
}
#play-col-1 IMG {
	MARGIN: 0px 0px 10px
}
#play-synopsis {
	DISPLAY: block; WIDTH: 95%; POSITION: relative
}
#play-cast {
	CLEAR: left; DISPLAY: block; WIDTH: 95%; POSITION: relative
}
#divider {
	BACKGROUND: url(title_underline.gif) no-repeat -15px 0px; MARGIN: 5px 0px 2px; TEXT-INDENT: -4000px; LINE-HEIGHT: 0; HEIGHT: 1px
}
#play-col-1 {
	DISPLAY: block; FLOAT: left; MARGIN: 0px 10px 0px 0px; WIDTH: 81px; TEXT-ALIGN: right
}
#play-col-2 {
	DISPLAY: block; FLOAT: left; PADDING-BOTTOM: 10px; WIDTH: 230px
}
#play-col-2 SPAN {
	FONT-WEIGHT: normal; COLOR: #c13030
}
#play-col-1 H3 {
	FONT-SIZE: 0.75em
}
#play-col-2 H3 {
	FONT-SIZE: 0.75em
}
#news-page-title {
	DISPLAY: block; BACKGROUND: url(news_page_title.gif) no-repeat; TEXT-INDENT: -4000px
}
#title-underline {
	MARGIN-TOP: 15px; BACKGROUND: url(title_underline.gif) no-repeat; MARGIN-BOTTOM: -5px
}
.news#body P {
	FONT-SIZE: 0.8em; TEXT-TRANSFORM: uppercase; LINE-HEIGHT: 1.8em
}
.news#body A {
	COLOR: #ccc; TEXT-DECORATION: none
}
.news#body A:visited {
	COLOR: #ccc; TEXT-DECORATION: none
}
.news#body A:hover {
	COLOR: #c13030
}
#news-items H3 {
	FONT-SIZE: 0.8em; LINE-HEIGHT: 1.2em; FONT-FAMILY: "Myriad Pro", Helvetica
}
#news-items H3 {
	CLEAR: left; DISPLAY: block; FLOAT: left; WIDTH: 65px
}
#news-items P {
	FLOAT: left; MARGIN-BOTTOM: 10px; WIDTH: 200px; LINE-HEIGHT: 1.2em! important
}
