/**
 * @project 631
 * @package sftheme
 * @site app1
 */
a:link {color:#9319cf;}
a:visited {color:#a677bf;}
a:hover {color:#ce2fff;}
.sf_main_header {color:#9319CF;}

/** 
 * ------------------------------------------------------------------
 * @section DBNow
 * ------------------------------------------------------------------
 */

.Data_Central_color7 {
	background-color:#7F0BBF;
	color:#fff;
}

.Data_Central_color1 {
	background-color:#9319cf;
	color:#fff;
}

.Data_Central_color2 {
	background-color:#CFCFCF;
}

.Data_Central_color3 {
	background-color:#DFDFDF;
}

.Data_Central_color6 {
	background-color:#EFEFEF;
}

.Data_Central_color4 {
	background-color:#ffffff;
}

.Data_Central_color5 {
	border-color:#fff;
}