BODY {
	FONT-SIZE: 13px; FONT-FAMILY: Verdana
}
#nav A {
	FONT-SIZE: 11px; COLOR: #000000; TEXT-DECORATION: none; style: bold
}
#nav A:link {
	FONT-SIZE: 11px; COLOR: #000000; TEXT-DECORATION: none; style: bold
}
#nav A:visited {
	COLOR: #5b0e53; style: bold
}
#nav A:hover {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; BACKGROUND: #000000; CURSOR: pointer; COLOR: #ffffff; TEXT-DECORATION: none; style: bold
}
#nav A:active {
	COLOR: #ffffff; style: bold
}
#bottom A {
	FONT-SIZE: 10px; TEXT-DECORATION: none; style: bold
}
#bottom A:link {
	COLOR: #eb2e72; style: bold
}
#bottom A:visited {
	COLOR: #eb2e72; style: bold
}
#bottom A:hover {
	BACKGROUND: #9a6995; CURSOR: pointer; COLOR: #ffffff; TEXT-DECORATION: none; style: bold
}
#bottom A:active {
	COLOR: #ffffff; style: bold
}
#home A:link {
	COLOR: #999999; TEXT-DECORATION: none
}
A:link {
	COLOR: #ff3366; TEXT-DECORATION: underline
}
A:visited {
	COLOR: #8d5788; TEXT-DECORATION: underline
}
A:hover {
	COLOR: #c757ba; TEXT-DECORATION: underline
}
TD {
	FONT-SIZE: 13px; FONT-FAMILY: Verdana; align: top
}
.tbusa {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 10px; BACKGROUND: #b0f5f1; FONT-FAMILY: Verdana; align: top
}
.tbus {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 10px; BACKGROUND: #d3b3cb; FONT-FAMILY: Verdana; align: top
}
