<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<asp:ContentPlaceHolder id="MasterHead" runat="server"></asp:ContentPlaceHolder>
</head>
<BODY >
<form id="form1" runat="server">
<div>

<link rel="StyleSheet" href="/clients/castrolraceway/images/style.css" type="text/css">
<table align="center" bgcolor="#999999" border="0" cellpadding="0" cellspacing="0" width="97%">
<tbody><tr><td bgcolor="#999999" valign="bottom" width="55%" height="0">
<center><a href="http://www.castrolraceway.com/index.php"><img src="/clients/castrolraceway/images/logo.jpg" align="center" border="0"></a>
</center></td>
</tr></tbody></table>

<table align="center" bgcolor="#363636" border="0" cellpadding="0" cellspacing="0" width="97%">
<tbody><tr><td colspan="4" bgcolor="#000000"><img src="/clients/castrolraceway/images/pixel.gif" border="0" width="1" height="1" hspace="0"></td>
</tr><tr bgcolor="#C2C2BE" valign="middle">
<td width="15%" nowrap="nowrap"><font size="2"><b>
&nbsp;&nbsp;<b><a href="http://www.castrolraceway.com/modules.php?name=Your_Account">Login/Register</a></b></b></font><b><b></b>
</b></td>
<td align="center" width="71%" height="10"><font size="2">
</font>
</td>
<td align="right" width="15%"><font size="2"><b>
<script type="text/javascript">

<!--   // Array ofmonth Names
var monthNames = new Array( "January","February","March","April","May","June","July","August","September","October","November","December");
var now = new Date();
thisYear = now.getYear();
if(thisYear < 1900) {thisYear += 1900}; // corrections if Y2K display problem
document.write(now.getDate() + ". " + monthNames[now.getMonth()] + " " + thisYear);
// -->

</script></b></font></td>
<td>&nbsp;</td>
</tr>
<tr>
<td colspan="4" bgcolor="#000000"><img src="/clients/castrolraceway/images/pixel.gif" alt="" border="0" width="1" height="1" hspace="0"></td>
</tr>
</tbody></table><br>
<!-- END TITLE -->
<table align="center" border="0" cellpadding="0" cellspacing="0" width="99%"><tbody><tr valign="top">
<td><img src="/clients/castrolraceway/images/pixel.gif" alt="" border="0" width="5" height="3"></td></tr></tbody></table>
<table align="center" border="0" cellpadding="0" cellspacing="0" width="99%"><tbody><tr valign="top">
<td><img src="/clients/castrolraceway/images/pixel.gif" alt="" border="0" width="10" height="1"></td>
<td><img src="/clients/castrolraceway/images/pixel.gif" alt="" border="0" width="15" height="1"></td><td width="100%">
<table bgcolor="#006600" border="0" cellpadding="0" cellspacing="1" width="100%"><tbody><tr><td>
<table bgcolor="#C2C2BE" border="0" cellpadding="8" cellspacing="1" width="100%"><tbody><tr><td>

<div align="left">
  <p>
  
<asp:ContentPlaceHolder id="MasterContent" runat="server"></asp:ContentPlaceHolder>
</p>

<br>
For all inquiries, please e-mail us at <a href="mailto:info@castrolraceway.com"><em><strong>info@castrolraceway.com</strong></em></a>
<p align="center"><br>
  </p>
</div>
</td></tr></tbody></table></td></tr></tbody></table>
<br></td><td><img src="/clients/castrolraceway/images/pixel.gif" alt="" border="0" width="15" height="1"></td><td valign="top" width="155">

</td><td><img src="/clients/castrolraceway/images/pixel.gif" alt="" width="10" height="1">
</td></tr></tbody></table>
<table align="center" border="0" cellpadding="0" cellspacing="0" width="99%"><tbody><tr valign="top">
<td height="17">&nbsp;</td>
</tr></tbody></table>
<br><table align="center" bgcolor="#efefef" border="0" cellpadding="0" cellspacing="0" width="97%"><tbody><tr valign="top">
</tr><tr align="center">
<td colspan="3" width="100%">
<span class="footmsg">
***<p>Copyright <a href="http://www.castrolraceway.com//">www.CastrolRaceway.com</a>
2009 All the comments are property of Castrol Raceway.All images,
logos, and content are &#169; copyright by Castrolraceway.com. All Rights
Reserved</p>***<br>
</span></td>
</tr>
</tbody></table>

</div>
</form>
</body>
</html>
