/*----------------------------------
		    Theme638
----------------------------------*/

body {
	background-image: url(/clients/3PeaceStudios/Images/body-tile_6.jpg);
	background-color: #543C86;
}

.sf_outer_wrapper {
	background-image: url(/clients/3PeaceStudios/Images/bkg-gradient_6.jpg);
}

.sf_extra10 {
	background-image:url(/clients/3PeaceStudios/Images/hdr-curve_6.png);
}

.sf_navigation ul li a {	
	background-image:url(/clients/3PeaceStudios/Images/navbkg_6.gif);
	background-repeat: no-repeat;
	background-position: bottom;
	color: #ffffff;
}

.sf_navigation ul li a:visited {	
	color: #ffffff;
}

.sf_navigation ul li a:hover{
	background-image:url(/clients/3PeaceStudios/Images/navbkg-ovr_6.gif);
	background-repeat: no-repeat;
	background-position: bottom;
	color: #ffffff;
}

.sf_pagetitle {	
	background-image:url(/clients/3PeaceStudios/Images/pagetitle_6.png);
}

.sf_footer {	
	background-image: url(/clients/3PeaceStudios/Images/footer-bkg_6.jpg);
	background-repeat: no-repeat;	
	color: #ffffff;	
}

a:link {
	color: #ffffff;
}

a:visited {
	color: #ffffff;	
}

a:hover {
	color: #ffffff;
	text-decoration: none;	
}

#bannerLink a, #bannerLink a:visited, #bannerLink a:hover{
	color: #ffffff;
}

/** 
 * ------------------------------------------------------------------
 * @section DBNow
 * ------------------------------------------------------------------
 */

.Data_Central_color7 {
	background-color:#1d094a;
	color:#fff;
}

.Data_Central_color1 {
	background-color:#250d5a;
	color:#fff;
}

.Data_Central_color2 {
	background-color:#2e1369;
}

.Data_Central_color3 {
	background-color:#381a7a;
}

.Data_Central_color6 {
	background-color:#43218d;
}

.Data_Central_color4 {
	background-color:#4f2ba0;
}

.Data_Central_color5 {
	border-color:#4f2ba0;
}