BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #fff; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.NormalText {
	FONT-SIZE: 11px; COLOR: #000; LINE-HEIGHT: 19px; FONT-FAMILY: Verdana, "Times New Roman"
}
BODY {
	FONT-SIZE: 11px; COLOR: #000; LINE-HEIGHT: 19px; FONT-FAMILY: Verdana, "Times New Roman"
}
TD {
	FONT-SIZE: 11px; COLOR: #000; LINE-HEIGHT: 19px; FONT-FAMILY: Verdana, "Times New Roman"
}
.Header {
	FONT-SIZE: 50px; COLOR: #c00; LINE-HEIGHT: normal
}
.Subheader {
	FONT-SIZE: 18px; LINE-HEIGHT: normal
}
.RedText {
	COLOR: #f00
}
.YellowText {
	COLOR: #fc3
}
.WhiteText {
	COLOR: #fff
}
A:link {
	COLOR: #c00; TEXT-DECORATION: underline
}
A:visited {
	COLOR: #c00; TEXT-DECORATION: underline
}
A:active {
	COLOR: #c00; TEXT-DECORATION: underline
}
A:hover {
	COLOR: #000; TEXT-DECORATION: none
}
.menutext A:link {
	COLOR: #fff; TEXT-DECORATION: none
}
.menutext A:visited {
	COLOR: #fff; TEXT-DECORATION: none
}
.menutext A:active {
	COLOR: #fff; TEXT-DECORATION: none
}
.menutext A:hover {
	COLOR: #ff2828; TEXT-DECORATION: none
}
 .menutext {
	COLOR: #fff
}
 .Subject {
	FONT-SIZE: 32px; COLOR: #ff0; LINE-HEIGHT: normal; FONT-FAMILY: "Times New Roman"
}
 .footer {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #fff; LINE-HEIGHT: normal; TEXT-DECORATION: none
}
 .bullet {
	LIST-STYLE-IMAGE: url(images/bullet.jpg)
}
TABLE.maincontent {
	BORDER-RIGHT: #fff 25px solid; BORDER-TOP: #fff 60px solid; BORDER-LEFT: #fff 25px solid; BORDER-BOTTOM: #fff 60px solid
}
