/* Top menu
----------------*/
#mainnav{
	background:#D52127;
	font-size:10px;
	display:block; height:36px;
}
ul#topnav {
	margin:0;
	padding:0;
	height: 36px;
	 padding-left:20px;
}

/* Root menu*/
ul#topnav li{
  color:#fff; font:12px Arial, Helvetica, sans-serif;
  list-style-type:none;  margin:0;  padding:0;
  height: 36px;
  
  float:left; display:inline; position:relative;
  padding:0 7px 0 0;
  margin:0 0 0 2px;  
}


ul#topnav li a {
	color:#fff;
	font-size:12px;
    text-transform:uppercase;
	text-align:center;
	width:95px;
	height: 36px;
	line-height: 36px;
	text-decoration: none;


   display:block;
   text-decoration:none; 
   padding:0 0 0 7px;
   width:88px; text-align:center;	
}
ul#topnav li a:hover,
ul#topnav li:hover a,
ul#topnav li.active a{
	color: #E1E0E0;  
    /*background-color: #9B181C; border-top-left-radius: 10px; border-top-right-radius: 10px; */
	font-weight:bold;
    background:url(custom/images/menu_over.png) no-repeat;	
}
ul#topnav li.last a{ border:0;}

ul#topnav li:hover,
ul#topnav li.active {
	background:url(custom/images/menu_over-r.png) no-repeat right top;
}

ul#topnav li a.m1{ width:50px;}
ul#topnav li a.m2{ width:90px;}
ul#topnav li a.m3{ width:90px;}
ul#topnav li a.m4{ width:85px;}
ul#topnav li a.m5{ width:90px;}
ul#topnav li a.m6{ width:75px;}
ul#topnav li a.m7{width:80px;}
ul#topnav li a.m8{ width:55px;}
ul#topnav li a.m9{ width:60px;}
ul#topnav li a.m10{ width:90px;}


/* topnav menu */
ul#topnav a:hover {  visibility:visible; } /* for IE6 */
ul#topnav li:hover { position:relative;  z-index:200;} /* for IE7 */

ul#topnav ul,
ul#topnav :hover ul ul,
ul#topnav :hover ul :hover ul ul,
ul#topnav :hover ul :hover ul :hover ul ul,
ul#topnav :hover ul :hover ul :hover ul :hover ul ul {
    position:absolute; left:0; top:36px;
    display:none; float:left;
    padding:0; margin:0;
}

/* set up the first drop down sub level */
ul#topnav :hover ul { display:block;}
ul#topnav li.last ul{ left:-34px !important;}

ul#topnav ul {
	padding-bottom: 12px;
	background:url(custom/images/menu_drop_bot.png) no-repeat left bottom;
}
ul#topnav ul li {
	float:none; display:block;
	
	border-left:1px solid #121010; border-right:1px solid #121010; border-bottom:1px solid #D52127;
	height:auto;
	display:block; 
	line-height:normal;
	padding:0; margin:0; float:none;
}

ul#topnav ul li a {
  text-transform:none;
  border:0; width:auto; min-width:110px; text-align:left;
  font-size:11px; display:block;
  height: 24px !important;
  line-height: 24px;
  color:#3E3D3E !important;
  white-space:nowrap; font-weight:normal;
  padding:0px 13px; border:0;
  background-color: #F3F2F1 !important;
  border-radius: 0px !important;
  text-transform: uppercase;
  text-wrap:normal;
}
ul#topnav ul li a:hover{ background:#D52127 !important; color:#fff !important}


#mainnav li:hover li,
#mainnav li:hover li a{ background:#F3F2F1 !important;}


/* Left Nav Menu
----------------------*/
#menu>ul {border-top:1px solid #000000;}
#menu ul, #menu ul li { list-style: none; margin: 0; padding: 0; }
#menu ul li ul li {}
#menu ul li ul ul{}

#menu li li a {
    color: #3E3D3E;
    display: block;
	font:12px Arial, Helvetica, sans-serif;
	padding:7px 20px;
	border-bottom:1px solid #000000;
	text-decoration: none;
}
#menu li li a:hover{
	background:#3E3D3E; color:#fff;
	text-decoration:none;
}
#menu li li a.ln:hover{}

#menu li li li a{ padding-left:35px; }
#menu li li li a:hover{}

#menu li li li li a{ padding-left:50px; }


#menu a.ln_default{background:#3E3D3E; color:#fff;}
#menu a.ln2_default{ text-decoration:underline;}
#menu a.ln3_default{ text-decoration:underline;}

