TABLE {
	FONT-WEIGHT: normal; FONT-FAMILY: Verdana,sans-serif
}
BODY {
	FONT-WEIGHT: normal; FONT-FAMILY: Verdana,sans-serif
}
.bgPromo {
	BORDER-RIGHT: #000e81 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #000e81 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 3px; BORDER-LEFT: #000e81 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: #000e81 1px solid; BACKGROUND-COLOR: #eff6ff
}
.bordersolidstyle1 {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #000000 1px solid; PADDING-LEFT: 5px; BACKGROUND: #ffffff; PADDING-BOTTOM: 2px; MARGIN: 2px; BORDER-LEFT: #000000 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #000000 1px solid; TEXT-ALIGN: left
}
.bordersolidstyle2 {
	BORDER-RIGHT: #a0a0a0 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #a0a0a0 1px solid; PADDING-LEFT: 5px; BACKGROUND: #eaeaea; PADDING-BOTTOM: 2px; MARGIN: 2px; BORDER-LEFT: #a0a0a0 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #a0a0a0 1px solid; TEXT-ALIGN: left
}
.bordersolidstyle3 {
	BORDER-RIGHT: #eab721 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #eab721 1px solid; PADDING-LEFT: 5px; BACKGROUND: #fff2cc; PADDING-BOTTOM: 2px; MARGIN: 2px; BORDER-LEFT: #eab721 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #eab721 1px solid; TEXT-ALIGN: left
}
.bordersolidstyle4 {
	BORDER-RIGHT: #2a75e7 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #2a75e7 1px solid; PADDING-LEFT: 5px; BACKGROUND: #c4e4ff; PADDING-BOTTOM: 2px; MARGIN: 2px; BORDER-LEFT: #2a75e7 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #2a75e7 1px solid; TEXT-ALIGN: left
}
.bordersolidstyle5 {
	BORDER-RIGHT: #c30207 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #c30207 1px solid; PADDING-LEFT: 5px; BACKGROUND: #ffe1e2; PADDING-BOTTOM: 2px; MARGIN: 2px; BORDER-LEFT: #c30207 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #c30207 1px solid; TEXT-ALIGN: left
}
.borderdashedstyle1 {
	BORDER-RIGHT: #666666 1px dashed; PADDING-RIGHT: 5px; BORDER-TOP: #666666 1px dashed; PADDING-LEFT: 5px; BACKGROUND: #ffffff; PADDING-BOTTOM: 2px; MARGIN: 3px; BORDER-LEFT: #666666 1px dashed; PADDING-TOP: 2px; BORDER-BOTTOM: #666666 1px dashed; TEXT-ALIGN: left
}
.borderdashedstyle2 {
	BORDER-RIGHT: #c30207 1px dashed; PADDING-RIGHT: 5px; BORDER-TOP: #c30207 1px dashed; PADDING-LEFT: 5px; BACKGROUND: #ffe1e2; PADDING-BOTTOM: 2px; MARGIN: 3px; BORDER-LEFT: #c30207 1px dashed; PADDING-TOP: 2px; BORDER-BOTTOM: #c30207 1px dashed; TEXT-ALIGN: left
}
.borderdashedstyle3 {
	BORDER-RIGHT: #2a75e7 1px dashed; PADDING-RIGHT: 5px; BORDER-TOP: #2a75e7 1px dashed; PADDING-LEFT: 5px; BACKGROUND: #c4e4ff; PADDING-BOTTOM: 2px; MARGIN: 3px; BORDER-LEFT: #2a75e7 1px dashed; PADDING-TOP: 2px; BORDER-BOTTOM: #2a75e7 1px dashed; TEXT-ALIGN: left
}
.borderdashedstyle4 {
	BORDER-RIGHT: #77e104 1px dashed; PADDING-RIGHT: 5px; BORDER-TOP: #77e104 1px dashed; PADDING-LEFT: 5px; BACKGROUND: #f4ffe8; PADDING-BOTTOM: 2px; MARGIN: 3px; BORDER-LEFT: #77e104 1px dashed; PADDING-TOP: 2px; BORDER-BOTTOM: #77e104 1px dashed; TEXT-ALIGN: left
}
.bordergraystyle1 {
	BORDER-RIGHT: #666666 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #666666 5px solid; PADDING-LEFT: 5px; BACKGROUND: #f3f3f3; PADDING-BOTTOM: 2px; MARGIN: 3px; BORDER-LEFT: #666666 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #666666 5px solid; TEXT-ALIGN: left
}
.bordergraystyle2 {
	BORDER-RIGHT: #666666 5px solid; PADDING-RIGHT: 5px; BORDER-TOP: #666666 1px solid; PADDING-LEFT: 5px; BACKGROUND: #f3f3f3; PADDING-BOTTOM: 2px; MARGIN: 3px; BORDER-LEFT: #666666 5px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #666666 1px solid; TEXT-ALIGN: left
}
.bordergraystyle3 {
	BORDER-RIGHT: #666666 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #666666 1px solid; PADDING-LEFT: 5px; BACKGROUND: #ffffff; PADDING-BOTTOM: 2px; MARGIN: 3px; BORDER-LEFT: #666666 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #666666 5px solid; TEXT-ALIGN: left
}
.bordergraystyle4 {
	BORDER-RIGHT: #666666 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #666666 5px solid; PADDING-LEFT: 5px; BACKGROUND: #ffffff; PADDING-BOTTOM: 2px; MARGIN: 3px; BORDER-LEFT: #666666 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #666666 1px solid; TEXT-ALIGN: left
}
.bordernotestyle1 {
	BORDER-RIGHT: #ff0000 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #ff0000 1px solid; PADDING-LEFT: 5px; BACKGROUND: #ffffff; PADDING-BOTTOM: 2px; MARGIN: 3px; BORDER-LEFT: #ff0000 7px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #ff0000 1px solid; TEXT-ALIGN: left
}
.bordernotestyle2 {
	BORDER-RIGHT: #ff0000 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #ff0000 5px solid; PADDING-LEFT: 5px; BACKGROUND: #ffffff; PADDING-BOTTOM: 2px; MARGIN: 3px; BORDER-LEFT: #ff0000 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #ff0000 1px solid; TEXT-ALIGN: left
}
.borderstyledotted1 {
	BORDER-RIGHT: #666666 2px dotted; PADDING-RIGHT: 5px; BORDER-TOP: #666666 2px dotted; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; MARGIN: 3px; BORDER-LEFT: #666666 2px dotted; PADDING-TOP: 2px; BORDER-BOTTOM: #666666 2px dotted; BACKGROUND-COLOR: #eaeaea; TEXT-ALIGN: left
}
.borderstyledotted2 {
	BORDER-RIGHT: #1dcd00 2px dotted; PADDING-RIGHT: 5px; BORDER-TOP: #1dcd00 2px dotted; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; MARGIN: 3px; BORDER-LEFT: #1dcd00 2px dotted; PADDING-TOP: 2px; BORDER-BOTTOM: #1dcd00 2px dotted; BACKGROUND-COLOR: #f0ffdf; TEXT-ALIGN: left
}
.borderstyledotted3 {
	BORDER-RIGHT: #008aff 2px dotted; PADDING-RIGHT: 5px; BORDER-TOP: #008aff 2px dotted; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; MARGIN: 3px; BORDER-LEFT: #008aff 2px dotted; PADDING-TOP: 2px; BORDER-BOTTOM: #008aff 2px dotted; BACKGROUND-COLOR: #dff7ff; TEXT-ALIGN: left
}
.borderstyledotted4 {
	BORDER-RIGHT: #df0000 2px dotted; PADDING-RIGHT: 5px; BORDER-TOP: #df0000 2px dotted; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; MARGIN: 3px; BORDER-LEFT: #df0000 2px dotted; PADDING-TOP: 2px; BORDER-BOTTOM: #df0000 2px dotted; BACKGROUND-COLOR: #ffefef; TEXT-ALIGN: left
}
.borderstyledbl1 {
	BORDER-RIGHT: #3867ee 4px double; PADDING-RIGHT: 5px; BORDER-TOP: #3867ee 4px double; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; MARGIN: 3px; BORDER-LEFT: #3867ee 4px double; PADDING-TOP: 2px; BORDER-BOTTOM: #3867ee 4px double; BACKGROUND-COLOR: #eaf3ff; TEXT-ALIGN: left
}
.borderstyledbl2 {
	BORDER-RIGHT: #6dd200 4px double; PADDING-RIGHT: 5px; BORDER-TOP: #6dd200 4px double; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; MARGIN: 3px; BORDER-LEFT: #6dd200 4px double; PADDING-TOP: 2px; BORDER-BOTTOM: #6dd200 4px double; BACKGROUND-COLOR: #eeffea; TEXT-ALIGN: left
}
.borderstyledbl3 {
	BORDER-RIGHT: #df0000 4px double; PADDING-RIGHT: 5px; BORDER-TOP: #df0000 4px double; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; MARGIN: 3px; BORDER-LEFT: #df0000 4px double; PADDING-TOP: 2px; BORDER-BOTTOM: #df0000 4px double; BACKGROUND-COLOR: #fff2f2; TEXT-ALIGN: left
}
.borderstyledbl4 {
	BORDER-RIGHT: #000000 4px double; PADDING-RIGHT: 5px; BORDER-TOP: #000000 4px double; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; MARGIN: 3px; BORDER-LEFT: #000000 4px double; PADDING-TOP: 2px; BORDER-BOTTOM: #000000 4px double; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left
}
A.hostlink:active {
	FONT-WEIGHT: bold; FONT-SIZE: 9px; COLOR: #000000; TEXT-DECORATION: underline
}
A.hostlink:link {
	FONT-WEIGHT: bold; FONT-SIZE: 9px; COLOR: #000000; TEXT-DECORATION: none
}
A.hostlink:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 9px; COLOR: #000000; TEXT-DECORATION: none
}
A.hostlink:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 9px; COLOR: #000000; TEXT-DECORATION: underline
}
.bgpowered {
	FONT-SIZE: 9px; BACKGROUND-IMAGE: url(images/bgpowered.jpg); COLOR: #000000
}
.bgpowered2 {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #000000 1px solid; PADDING-LEFT: 2px; FONT-WEIGHT: bold; BACKGROUND-IMAGE: url(images/bgpowered2.gif); BORDER-LEFT: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid
}
.marginpw {
	PADDING-BOTTOM: 2px; PADDING-TOP: 3px
}
.marginpw2 {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px
}
