html {
	margin: 0px;
	padding: 0px;
	background: black url(../images/starfield-v2.jpg) left top repeat;
	color: white;
	font: normal 16px/22px 'Playfair Display',serif;
}
body {
	margin: 0px;
	padding: 0px;
	background: url(../images/bg.gif) left top repeat-y;
}
h1 {
	font: normal 30px/32px Georgia,serif;
	margin: 0;
	padding: 0;
}
h2 {
	font: normal 18px/21px 'Playfair Display',serif;
	margin: 0;
	padding: 0 0 20px 0;
}
p {
	margin: 0;
	padding: 14px 0 0 0;
}
a:link, a:active, a:visited {
	color: #ff9900
}
a:hover {
	text-decoration: none;
}
.header {
	position: relative;
	height: 183px;
	padding-left: 261px;
	background: url(../images/starfield_bg.jpg) left top repeat-x;
}
.logo {
	position: absolute;
	top: 0;
	left: 0;
}
.columns {
	padding-top: 30px;
	zoom: 1;
	width: 975px;
	background: black url(../images/bg.gif) left top repeat-y;
	position: relative;
	padding-bottom: 75px;
}
.columns:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.col1 {
	color: black;
	float: left;
	width: 195px;
	margin: 0 -228px 0 33px;
}
.col1 a:link, .col1 a:active, .col1 a:visited {
	color: black;
	text-decoration: none;
}
.col1 a:hover {
	text-decoration: underline;
}
.col2 {
	float: left;
	width: 680px;
	margin: 0 -855px 0 295px;
}
.event {
	position: relative;
	font: normal 12px/13px 'Playfair Display',serif;
}
.event.separator {
	border-top: 1px solid #8d8d8d;
	padding-top: 6px;
	margin-top: 6px;
}
img.special-event {
	position: absolute;
	top: 4px;
	left: -14px;
}
.event.separator img.special-event {
	top: 10px
}
.event-date {
	font: normal 14px/17px 'Playfair Display',serif;
}
p.not-included {
	position: relative;
	font: normal 11px/13px 'Playfair Display',serif;
	margin: 14px 0;
	padding: 0;
}
p.not-included img.special-event {
	top: 2px
}
.dijitContentPane {
	overflow: visible;
}
div.footer {
	border-top: #ff9900 solid 1px;
	position: absolute;
	padding-right: 75px;
	padding-bottom: 10px;
	font-size: 80%;
	bottom: 0px;
	left: 295px;
}
