*.primary {background-color: rgb(233, 237, 255)}
*.secondary {background-color: rgb(171, 178, 255)}
*.tertiary {background-color: rgb(171, 178, 255)}
*.background {background-color: rgb(237, 237, 255)}
h1#website-title {font-family: georgia, "times new roman", serif; font-size: 48px; font-weight: bold; color: rgb(0, 0, 0); font-style: italic; text-decoration: none}
h2#website-slogan {font-family: helvetica, arial, sans-serif; font-size: 17px; font-weight: bold; color: rgb(255, 255, 255); font-style: italic; text-decoration: none}
*#content {font-family: georgia, "times new roman", serif; font-size: 12px; font-weight: normal; color: rgb(0, 0, 0); font-style: normal; text-decoration: none}
*#content a:link {font-family: georgia, "times new roman", serif; font-size: 18px; font-weight: bold; color: rgb(90, 80, 255); font-style: normal; text-decoration: underline}
*#content a:active {font-family: georgia, "times new roman", serif; font-size: 18px; font-weight: bold; color: rgb(90, 80, 255); font-style: normal; text-decoration: underline}
*#content a:visited {font-family: georgia, "times new roman", serif; font-size: 18px; font-weight: bold; color: rgb(90, 80, 255); font-style: normal; text-decoration: underline}
*#content a:hover {font-family: georgia, "times new roman", serif; font-size: 18px; font-weight: normal; color: rgb(51, 102, 204); font-style: normal; text-decoration: underline}
*#navcontainer div a h3 {font-family: verdana, arial, sans-serif; font-size: 12px; font-weight: bold; color: rgb(0, 0, 0); font-style: normal; text-decoration: none}
*#navcontainer div a:hover h3 {font-weight: bold; color: rgb(255, 255, 255); font-style: normal; text-decoration: none}
*#navcontainer div a:hover {font-weight: bold; color: rgb(255, 255, 255); font-style: normal; text-decoration: none}
*.accent {background: transparent url(/clients/AtlantaDanceTheatre/Images/ADT-A.jpg) no-repeat top left}
