/* CSS Document */

body{
	background-color:#CCC;
	font-family:Arial, Helvetica, sans-serif;
	background-image:url(/clients/CultureHouse/Images/culture-house-edge.png);
	background-repeat:repeat-y;
	background-position:center;
	margin: 0;
}
a{
	text-decoration:none;
	padding: 0px;
	margin: 0px;
	outline:none;
}

#container{
	background-color:#000;
	height:1000px;
	width:950px;
	margin: 0 auto;
	color:#FFF;
	border:#000 1px ridge;
}
#header{
	background-image:url(/clients/CultureHouse/Images/culture-house-header.png);
	height:107px;
	width:950px;
}
#header a{
	display:block;
	height:107px;
	width:300px;
	text-indent:-99999px;
	outline:none;
}
#header h1{
	padding:0px;
	margin:0px;
}
#leftNav{
	background-color:#06307D;
	height:529px;
	width:150px;
	float:left;	
}
#leftNav a{
	color:#FFF;	
}
#ticketButton{
	font-size:9px;
	margin-top:-10px;
	margin-left:3px;
	width:150px;
}
#callUs{
	float:right;
	font-size:9px;
	width: 53px;
	text-align:left;
}
ul.nav{
	list-style-image:url(/clients/CultureHouse/Images/acting-dance-arrow.png);
	font-size:12px;
	padding-left:20px;
	margin-left:0px;
	line-height:17px;
}
#headNav{
	float:right;
	width:798px;
	height:20px;
	padding-left:2px;
	background-color:#fff;
}
#headNav a{
	color:#FFF;	
}
#headNav ul{
	padding:0px;
	margin:0px;
	list-style-type:none;
}
#headNav li{
	display:inline;
	background-color:#06307D;
	padding-right:19px;
	padding-left:19px;
	margin:0px 0px 0px 1px;
	font-size:12px;
	line-height:22px;
}
#content{
	background-color:#fff;
	float:right;
	height:509px;
	width:800px;
	color:#006;
	text-align:justify;
}
#contentTopper{
	margin:5px;
	height:125px;
	width:790px;
	font-size:12px;	
}
#groupsTopper{
	margin:5px;
	height:50px;
	width:770px;
	font-size:12px;	
	padding:10px;
}
#lecture{
	height:345px;
	width:600px;
	padding:10px;
	float:left;
	font-size:13px;
	overflow:auto;
	border-right-width: thin;
	border-right-style: solid;
	border-right-color: #000;
}
#lectureTab{
	height:370px;
	width:148px;
	padding:10px;
	float:right;
	text-align:left;
	font-size:10px;
}
#testimony{
	margin: 5px;
	height:340px;
	overflow:auto;
	float:left;	
	width:750px;
	font-size:13px;
	padding:15px;	
}
#star{
	height:490px;
	width:600px;
	border-right-width: thin;
	border-right-style: solid;
	border-right-color: #000;
	margin:10px;
	float:left;
	color:#006;
	overflow:auto;
	padding:5px;
	font-size:12px;
}
#starTab{
	height:490px;
	width:148px;
	margin:10px;
	float:right;
	font-size:10px;
}
#productionNav{
	width:600px;
	height:20px;
	background-color:#fff;
	padding-left:5px;
}
#productionNav a{
	color:#006;	
}
#productionNav ul{
	padding:0px;
	margin:0px;
	list-style-type:none;
}
#productionNav li{
	display:inline;
	padding-right:11px;
	padding-left:11px;
	margin:0px 0px 0px 1px;
	font-size:12px;
	line-height:22px;
	border:outset #06307D
}
#schoolPics{
	width:500px;
	height:235px;
	margin-right:5px;
	position:relative;
}
#schoolPics img {
    position:absolute;
    top:0;
    left:0;
    z-index:8;
    opacity:0.0;
}
#schoolPics img.active {
    z-index:10;
    opacity:1.0;
}
#schoolPics- img.last-active {
    z-index:9;
}
.textColumnOne{
	margin: 5px;
	height:475px;
	overflow:auto;
	float:left;	
	width:750px;
	font-size:13px;
	padding:15px;
}
.textColumnOne a{
	color:#006;
	text-decoration:underline;	
}
.textColumnTwo{
	margin: 0px 0px 5px 5px;
	height:350px;
	overflow:auto;
	float:left;	
	width:372px;
	padding:10px;
	font-size:12px;
}
.tickets{
	overflow:auto;
	height:350px;
	padding:15px;
}

.textColumnThree{
	margin: 0px 0px 5px 5px;
	height:385px;
	
	float:left;	
	width:230px;
	font-size:12px;
	padding:15px;
}
.category{
	margin: 0px 0px 5px 5px;
	padding:3px;
	height:365px;
	overflow:auto;
	float:left;	
	width:190px;
	color:#FFF;
	background-color:#06307D;	
}
.category {
	color:#FFF;
}
.category a{
	color:#FFF;	
}
.subCat{
	margin: 0px 0px 5px 5px;
	padding:3px;
	height:365px;
	overflow:auto;
	float:left;	
	width:190px;	
}
.description{
	margin: 0px 0px 5px 5px;
	padding:3px;
	height:365px;
	overflow:auto;
	float:left;	
	width:382px;
	font-size:12px;
}
#centerText{
	margin:100px;
	text-align:center;
	background-image:url(/clients/CultureHouse/Images/culture-house-logo-shadow.png);
	background-repeat:no-repeat;
	background-position:center;
	padding:20px;	
}
#centerText a {
	color:#006;
	text-decoration:underline;
}
.spryDescription{
	margin: 0px 0px 5px 5px;
	padding:3px;
	height:365px;
	overflow:auto;
	float:left;	
	width:582px;
	font-size:12px;
	outline:none;
}
#Accordion1 a{
	color:#006;
}
.highlight{
	display:block;
	background-color:#06F;
}

#map{
	margin:25px;
	float:right;
}
#maptext{
	margin:25px;
	font-size:14px;
}
#text{
	padding:5px;		
}
#textBigLeft{
	padding:5px;
	height:509px;
	width:500px;
	font-size:12px;
	float:left;
}
#menuRight{
	padding:10px;
	height:509px;
	width:270px;
	float:right;
	font-size:12px;
	font-style:italic;
	background-color:#06307D;
	color:#FFF;
}
#menuRight img{
	margin:10px 10px 0 0;	
}
#groupstext{
	padding:15px;
	font-size:11px;
	height:475px;
	overflow:auto;
}
#groupstext img{
	float:left;
	margin:5px;	
}
#siteMap{
	background-color:#06307D;
	height:370px;
	width:950px;
	float:left;
	color:#FFF;
}
#siteMap a{
	color:#FFF;	
}
.siteMapCol{
	text-align:left;
	float:left;
	width:100px;
	margin-left:17px;
	margin-right:17px;
	padding-top:5px;
	margin-top:-10px;	
}
ul.siteMap{
	font-size:8px;
	text-decoration:none;
	list-style-type:none;
	padding:5px;
	line-height:12px;
}
ul.siteMapSub{
	font-size:8px;
	text-decoration:none;
	list-style-type:none;
	line-height:12px;
	padding-left:10px;
}
li.heading{
	font-weight:bolder;
	font-size:10px;
	background-color:#06F;
	margin-top:5px;
	margin-bottom:5px;
}
#photoPane{
	float:left;
	width:570px;
	height:350px;
	margin:10px;
	margin-right:5px;
	position:relative;
}
#photoPane img {
    position:absolute;
    top:0;
    left:0;
    z-index:8;
    opacity:0.0;
}
#photoPane img.active {
    z-index:10;
    opacity:1.0;
}
#photoPane- img.last-active {
    z-index:9;
}
#bottomButtons{
	float:left;
	width:570px;
	height:125px;
	margin:0px 10px 10px 10px;
}
#bottomButtons img{
	padding:2px;
}
#rightButtons{
	float:right;
	width:190px;
	height:485px;
	margin:5px 15px 10px 0px;
}
#rightButtons img{
	padding-bottom:2px;	
}
#copyright{
	text-align:center;
	width:635px;
	margin: 0 auto;
	height:70px;
	clear:both;
}
.clear{
	clear:both;	
}
h2{
	font-size:28px;	
}
h3{
	font-size:16px;	
}
h4{
	font-size:14px;	
}
h5{
	font-size:10px;	
}
h6{
	font-size:10px;	
}
div .red{
	background-color:#600;
	display:block;
}
div .green{
	background-color:#063;
	display:block;
}
div .blue{
	background-color:#006;	
	display:block;
}
