/*******************************************
 Theme: Arcadia - Derived From: Mentor
 *******************************************/
 body {min-height:100%;_height:100%;}
 #hd{min-height:235px;_height:236px;}
 #bd{min-height:485px;_height:485px}
 #ft{min-height:200px;_height:200px;}
 #doc{width:870px;margin:0 auto}
 #hd{position:relative;}
 #hContent{position:relative;z-index:2;width:435px;margin:80px 0 110px 55px}
 #hMisc{position:absolute;right:0;bottom:0;width:870px;height:379px;}
 #hMisc * {display:none !important}
 #wrapper{clear:both;position:relative;z-index:2;width:770px;margin:-40px 0 0 55px;padding-bottom:40px;overflow:hidden;}
 #bd{float:left;width:540px;}
 #pageName{width:540px;margin-bottom:15px}
 #navigation{float:right;width:199px;margin-top:50px}
 ul#mainNav li{padding-top:14px}
 ul#mainNav li a{zoom:1;display:block;position:relative;top:-8px;padding:0 4px 6px 9px}
 #fWrapper{padding:55px 20px;zoom:1;}
 #fBadges{clear:both;width:725px;margin-left:60px;}
 #fContent{float:right;width:365px;margin-right:50px;display:inline;}
 #fMisc{float:left;width:325px;margin-left:60px;display:inline;}
 ul#mainNav li.active{background-color:transparent;}
 #body .sub_static #mainNav .subNav a {padding-left:30px;}
 #body .sub_dynamic #mainNav .subNav a {position:static;}
 #body .sub_dynamic #mainNav .subNav {margin:10px 0 10px;}
 #body .sub_dynamic #mainNav .active .subNav {margin-top:0px;}
 #body a.toggle {left:4px !important;top:5px !important;*top:9px !important;}
 /* repositioning text in the list items for room for the arrows 
  * making the top list items bold for static display */
 #body ul#mainNav li a {padding:0 4px 6px 20px;}
 #body .sub_dynamic #mainNav .subNav li {padding:0;}
 #body .sub_dynamic #mainNav .subNav li a {padding:4px 0 4px 20px;}
 
 
 /******************************************
 Theme: Arcadia - Derived From: Mentor
 *******************************************/
 
 
 
 
 		#body  {
 			font-size: 12px;
 			font-family: Georgia, sans-serif;
 		}
 
 
 
 		#body h1 {
 			font-size: 40px;
 		}
 
 
 		#body h2 {
 			font-size: 20px;
 		}
 
 
 		#body h3 {
 			font-size: 14px;
 			font-weight: bold;
 			font-family: "Trebuchet MS";			
 		}
 
 
 		#body h4 {
 			font-weight: bold;
 			margin-bottom: 5px;
 		}
 
 
 		#ft {
 			font-size: 12px;
 			font-family: Helvetica;
 		}
 
 		#fContent {
 
 		}
 
 
 		#fMisc {
 
 		}
 
 
 
 		ul#mainNav li a:link,
 		ul#mainNav li a:visited {
 			font-size: 13px;
 			font-family: "Trebuchet MS", sans-serif;
 		}
 /*
 		ul#mainNav li.active a:link,
 		ul#mainNav li.active a:visited,
 */		
 		ul#mainNav li a:hover,
 		ul#mainNav li a:active,
 		ul#mainNav li a:focus {
 
 		}
 
 
 		body,
 		#ft {
 			background-position: 50% 0;
 			background-repeat: repeat-y;
 		}
 
 		#doc {
 			background-repeat: repeat-y;
 		}
 		
 		#hMisc {
 			background-repeat:no-repeat;
 			background-position: 0 100%;
 		}
 
 		#navigation {
 
 		}
 
 		ul#mainNav li.active {
 			background-repeat:no-repeat;
 			background-position: 0 0;			
         }
 
 		ul#mainNav li.active a:link,
 		ul#mainNav li.active a:visited {
 			background-repeat: no-repeat;
 			background-position: 0 100%;
         }
 
 		ul#mainNav li.active a:link,
 		ul#mainNav li.active a:visited,
 		ul#mainNav li a:hover,
 		ul#mainNav li a:active,
 		ul#mainNav li a:focus {
 
         }
 
 		#fWrapper {
 			background-repeat: no-repeat;
 		}
 
 
 
 		#zB	#mapZone {
 			border-width: 1px;
 			border-style: solid;
 			_border-width: 0;
 		}
 
 		#zB #mapContainer {
 			_border-width: 1px;
 			_border-style: solid;
 		}
 
 
 		#zWrap ul.module_bd_container .module {
 			padding-left: 32px;
 			padding-top: 5px;
 			background-repeat: no-repeat;			
 		}
 
         #zWrap ul.module_bd_container .title {
 			text-transform: uppercase;
 			font-style: normal;
 			font-family: "Trebuchet MS";
 			font-size: 12px;
 		}
 
 
 			#zWrap ul.module_bd_container .beforenafter {
 				padding-left: 0;
 				padding-top: 0;
 			}
 
 
 		/* 
 		 * direction and color of the arrow (assuming arrow sprite)
 		 */
 		
 		#body .toggle img {
 			background-position: -264px 0; 
 		}
 	
 		/* 
 		 * direction and color of the arrow for the "active" item
 		 */
 		
 		#body .active .toggle img {
 			background-position: -216px 0; 
 		}
  
 		/* 
 		 * links for BOTH static and dynamic sub menus 
 		 * use this rule to group declarations common to the two different types of menus (static/dynamic)
 		 */
 		
 		#body #mainNav .subNav a {
 			font-size: 13px; 
 			font-family: "Trebuchet MS"; 
 			font-weight: normal; 
 		}
 
 		/* 
 		 * links for static sub menus
 		 */
 		
 		#body .sub_static #mainNav .subNav a {
 			font-size: 12px; 
 		}
 	
 		/* 
 		 * :hover and selected (active) links for static menus
 		 * they are both styled the same
 		 */
 		 
 		/* 
 		 * :hover and selected (active) links for fly-out menus
 		 * they are both styled the same 
 		 */
 		
 		#body .sub_dynamic #mainNav .subNav a:hover,
 		#body .sub_dynamic #mainNav .active-sub a {
 			font-size: 13px; 
 			font-family: "Trebuchet MS"; 
 			font-weight: normal; 
 		}
 	
 		/* 
 		 * sub menus (fly-out) 
 		 */
 		 
 		#body .sub_dynamic #mainNav .subNav {
 			border-style: solid; 
 			border-width: 1px; 
 		}
 
 		#body .sub_static #mainNav a {
 			font-weight: bold;
 		}
 
 
 
 /***************************************************
 Theme: Arcadia - Derived From: Mentor
 Layout: Layout 1 - Derived from: Layout 1 with Title
 ***************************************************/
 .lo_layout1 #pageName {display:none}
 
 
 /***************************************************
 Theme: Arcadia - Derived From: Mentor
 Layout: Layout 1 - Derived from: Layout 1 with Title
 ***************************************************/
 .lo_layout1 #zA {
 		font-size: 18px;
 
 		font-family: "Trebuchet MS";
 
 		font-weight: normal;
 
 	}
 .lo_layout1 #zA h3 {
 		font-size: 17px;
 
 		font-style: italic;
 
 		font-family: Georgia;
 
 		
 
 	}
 .lo_layout1 #zWrap ul.module_bd_container .title {
 		font-size: 15px;
 
 	}
 
 
 /**************************************************************
 Theme: Arcadia - Derived From: Mentor
 Layout: Layout 1 (A) with Title - Derived from: Layout 1 with Title
 **************************************************************/
 .lo_layout1 #zA, .lo_layout1wt #zA {width:100%;margin-bottom:30px;}
 .lo_layout1 #zB, .lo_layout1wt #zB {float:left;width:48%;}
 .lo_layout1 #zC, .lo_layout1wt #zC {float:right;width:48%;}
 .lo_layout1 #zB	#mapZone, .lo_layout1wt #zB	#mapZone {width:210px;height:235px;}
 .lo_layout1 #zB	#drivingDirectionsLnk, .lo_layout1wt #zB	#drivingDirectionsLnk {top:240px;}
 .lo_layout1 #zC form#contactForm, .lo_layout1wt #zC form#contactForm {width:80%;}
 
 
 /**************************************************************
 Theme: Arcadia - Derived From: Mentor
 Layout: Layout 1 with Title - Derived from: Layout 1 with Title
 **************************************************************/
 .lo_layout1 #zA, .lo_layout1wt #zA {
        		font-size: 15px;
 
        	}
 .lo_layout1 #zA h3, .lo_layout1wt #zA h3 {
        		font-size: 20px;
 
        	}
 .lo_layout1 #zA .module_bd_container, .lo_layout1wt #zA .module_bd_container {
 			font-size: 12px;
 
 		}
 .lo_layout1 #zA ul.module_bd_container h3, .lo_layout1wt #zA ul.module_bd_container h3 {
 
 			font-size: 14px;
 
 			font-weight: bold;
 
 		}
 
 
 /**************************************************************
 Theme: Arcadia - Derived From: Mentor
 Layout: Layout 2 (V) with Title - Derived from: Layout 2 with Title
 **************************************************************/
 .lo_layout2wt #zA {float:left;width:48%;margin-bottom:30px;}
 .lo_layout2wt #zB {float:right;width:48%;margin-bottom:30px;}
 .lo_layout2wt #zC {clear:both;width:100%;}
 .lo_layout2wt #zB	#mapZone {width:240px;height:235px;}
 .lo_layout2wt #zB	#drivingDirectionsLnk {top:240px;}
 .lo_layout2wt #zC form#contactForm {width:80%;max-width:300px;margin-left:20px;}
 
 
 /**************************************************************
 Theme: Arcadia - Derived From: Mentor
 Layout: Layout 2 with Title - Derived from: Layout 2 with Title
 **************************************************************/
 
 
 /**************************************************************
 Theme: Arcadia - Derived From: Mentor
 Layout: Layout 3 (D) with Title - Derived from: Layout 3 with Title
 **************************************************************/
 .lo_layout3wt #zA {float:left;width:58%;margin-bottom:30px;}
 .lo_layout3wt #zB {clear:left;float:left;width:58%;}
 .lo_layout3wt #zC {width:38%;}
 .lo_layout3wt #zC {margin-left:auto;}
 .lo_layout3wt #zC,x:-moz-any-link {margin-left:4%;}
 .lo_layout3wt #zC,x:-moz-any-link,x:default {margin-left:auto;}
 .lo_layout3wt #zB	#mapZone {width:260px;height:270px;}
 .lo_layout3wt #zB	#drivingDirectionsLnk {top:275px;}
 .lo_layout3wt #zC form#contactForm {width:80%;max-width:300px;}
 
 
 /**************************************************************
 Theme: Arcadia - Derived From: Mentor
 Layout: Layout 3 with Title - Derived from: Layout 3 with Title
 **************************************************************/
 
 
 /**************************************************************
 Theme: Arcadia - Derived From: Mentor
 Layout: Layout 4 (J) with Title - Derived from: Layout 4 with Title
 **************************************************************/
 .lo_layout4wt #zA {width:48%;float:left;}
 .lo_layout4wt #zB {float:right;width:48%;margin-bottom:30px;}
 .lo_layout4wt #zC {clear:right;float:right;width:48%;}
 .lo_layout4wt #zB	#mapZone {width:240px;height:270px;}
 .lo_layout4wt #zB	#drivingDirectionsLnk {top:275px;}
 .lo_layout4wt #zC form#contactForm {width:80%;max-width:300px;}
 
 
 /**************************************************************
 Theme: Arcadia - Derived From: Mentor
 Layout: Layout 4 with Title - Derived from: Layout 4 with Title
 **************************************************************/
 
 #body  {
 	color: #503633;
 }
 
 #hd {
 	color: #87a912;
 }
 
 #body h2 {
 	color: #435211;
 }
 
 #body h3 {
 	color: #ff5f19;
 }
 
 #ft {
 	color: #435211;
 }
 
 #body a:link,
 #body a:visited {
 	color: #2d796d;
 }
 
 #body a:hover,
 #body a:focus,
 #body a:active {
 	text-decoration: none;
 }
 
 #body h1 a:link,
 #body h1 a:visited {
 	color: #87a912;
 	text-decoration: none;
 }
 
 #ft a:link,
 #ft a:visited {
 	color: #e34000;
 	text-decoration: none;
 }
 
 #ft a:hover,
 #ft a:focus,
 #ft a:active {
 	text-decoration: underline;
 }
 
 ul#mainNav li a:link,
 ul#mainNav li a:visited {
 	color: #87a912;
 }
 ul#mainNav li a:hover,
 ul#mainNav li a:active,
 ul#mainNav li a:focus {
 	color: #ff5f19;
 }
 
 html {
 	background-color: #f1f1f1;
 }
 			
 body,
 #ft {
 	background-image: url(http://l.yimg.com/lm/themes/yhoo/ga/arcadia/flora/palette1/4.0.2/en-us/images/body.jpg);
 	background-color: #f1f1f1;
 }
 
 #doc {
 	background-image: url(http://l.yimg.com/lm/themes/yhoo/ga/arcadia/flora/palette1/4.0.2/en-us/images/doc.jpg);
 }
 		
 #hd {
 	background-color: #F1F1F1;
 }
 
 #hMisc {
 	background-image: url(http://l.yimg.com/lm/themes/yhoo/ga/arcadia/flora/palette1/4.0.2/en-us/images/hmisc.jpg);
 }
 
 ul#mainNav li.active {
 	background-image: url(http://l.yimg.com/lm/themes/yhoo/ga/arcadia/flora/palette1/4.0.2/en-us/images/nav_li.jpg);
 }
 
 ul#mainNav li.active a:link,
 ul#mainNav li.active a:visited {
 	background-image: url(http://l.yimg.com/lm/themes/yhoo/ga/arcadia/flora/palette1/4.0.2/en-us/images/nav_a.jpg);
 	background-color: #f6fbe5;
 }
 
 #fWrapper {
 	background-image: url(http://l.yimg.com/lm/themes/yhoo/ga/arcadia/flora/palette1/4.0.2/en-us/images/ft.jpg);
 }
 
 #zB	#mapZone {
 	border-color: #ff5f19;
 }
 
 #zB #mapContainer {
 	_border-color: #ff5f19;
 }
 
 #zWrap ul.module_bd_container .module {
 	background-image: url(http://l.yimg.com/lm/themes/yhoo/ga/arcadia/flora/palette1/4.0.2/en-us/images/title.jpg);
 }
 
 #zWrap ul.module_bd_container .title {
 	color: #3f8144;
 }
 
 #zWrap ul.module_bd_container .beforenafter {
 	background-image: none;
 	background-color: transparent;
 }
 
 #body #mainNav .subNav a {
 	background-color: #F6FBE5; 
 	color: #87A912; 
 }
 
 #body .sub_static #mainNav .subNav a {
 	background-image: none; 
 	background-color: transparent; 
 }
 	
 #body .sub_static #mainNav .subNav a:hover,
 #body .sub_static #mainNav .active-sub a {
 	color: #FF5F19; 
 }
 
 #body .sub_dynamic #mainNav .subNav a:hover,
 #body .sub_dynamic #mainNav .active-sub a {
 	background-color: #ECF9C0 !important; 
 	color: #FF5F19; 
 }
 	
 #body .sub_dynamic #mainNav .subNav {
 	border-color: #BED29C; 
 }
 
 #body .sub_dynamic #mainNav .subNav li a {
 	background-image: none;
 }
 						
 .lo_layout1 #zA ul.module_bd_container h3, .lo_layout1wt #zA ul.module_bd_container h3 {
 	color: #515655;
 }
