.w100 {
  width: 100%;
  float: left; }

.w50 {
  width: 50%;
  float: left; }

.w33 {
  width: 33%;
  float: left; }

.w25 {
  width: 25%;
  float: left; }

.w15 {
  width: 15%;
  float: left; }

.portlet-placeholder {
  border: 1px dotted black; }

.row {
  position: relative; }

.block-content {
  position: relative;
  padding: 15px; }

.block-content img.pull-left,
.block-content img.pull-right {
  margin: 0 10px; }

.title-edit {
  display: none;
  position: absolute; }

.text-edit {
  display: none;
  position: absolute; }

.ao-img-w1000, .ao-img-w500, .ao-img-w250, .ao-img-w150 {
  width: 100%; }

.ao-iw100, .ao-iw50, .ao-iw25, .ao-iw15 {
  position: relative; }

@media (min-width: 768px) {
  .ao-allow-edit-position-size {
    display: block; }

  .w100 .ao-iw100 {
    width: 100%; }
    .w100 .ao-iw100 .ao-img-w1000 {
      display: block; }
    .w100 .ao-iw100 .ao-img-w500 {
      display: none; }
    .w100 .ao-iw100 .ao-img-w250 {
      display: none; }
    .w100 .ao-iw100 .ao-img-w150 {
      display: none; }
  .w100 .ao-iw50 {
    width: 50%; }
    .w100 .ao-iw50 .ao-img-w1000 {
      display: none; }
    .w100 .ao-iw50 .ao-img-w500 {
      display: block; }
    .w100 .ao-iw50 .ao-img-w250 {
      display: none; }
    .w100 .ao-iw50 .ao-img-w150 {
      display: none; }
  .w100 .ao-iw35 {
    width: 35%; }
    .w100 .ao-iw35 .ao-img-w1000 {
      display: none; }
    .w100 .ao-iw35 .ao-img-w500 {
      display: block; }
    .w100 .ao-iw35 .ao-img-w250 {
      display: none; }
    .w100 .ao-iw35 .ao-img-w150 {
      display: none; }
  .w100 .ao-iw25 {
    width: 25%; }
    .w100 .ao-iw25 .ao-img-w1000 {
      display: none; }
    .w100 .ao-iw25 .ao-img-w500 {
      display: none; }
    .w100 .ao-iw25 .ao-img-w250 {
      display: block; }
    .w100 .ao-iw25 .ao-img-w150 {
      display: none; }
  .w100 .ao-iw15 {
    width: 15%; }
    .w100 .ao-iw15 .ao-img-w1000 {
      display: none; }
    .w100 .ao-iw15 .ao-img-w500 {
      display: none; }
    .w100 .ao-iw15 .ao-img-w250 {
      display: none; }
    .w100 .ao-iw15 .ao-img-w150 {
      display: block; }

  .w50 .ao-iw100 {
    width: 100%; }
    .w50 .ao-iw100 .ao-img-w1000 {
      display: none; }
    .w50 .ao-iw100 .ao-img-w500 {
      display: block; }
    .w50 .ao-iw100 .ao-img-w250 {
      display: none; }
    .w50 .ao-iw100 .ao-img-w150 {
      display: none; }
  .w50 .ao-iw50 {
    width: 50%; }
    .w50 .ao-iw50 .ao-img-w1000 {
      display: none; }
    .w50 .ao-iw50 .ao-img-w500 {
      display: block; }
    .w50 .ao-iw50 .ao-img-w250 {
      display: none; }
    .w50 .ao-iw50 .ao-img-w150 {
      display: none; }
  .w50 .ao-iw35 {
    width: 35%; }
    .w50 .ao-iw35 .ao-img-w1000 {
      display: none; }
    .w50 .ao-iw35 .ao-img-w500 {
      display: block; }
    .w50 .ao-iw35 .ao-img-w250 {
      display: none; }
    .w50 .ao-iw35 .ao-img-w150 {
      display: none; }
  .w50 .ao-iw25 {
    width: 25%; }
    .w50 .ao-iw25 .ao-img-w1000 {
      display: none; }
    .w50 .ao-iw25 .ao-img-w500 {
      display: none; }
    .w50 .ao-iw25 .ao-img-w250 {
      display: none; }
    .w50 .ao-iw25 .ao-img-w150 {
      display: block; }
  .w50 .ao-iw15 {
    width: 25%; }
    .w50 .ao-iw15 .ao-img-w1000 {
      display: none; }
    .w50 .ao-iw15 .ao-img-w500 {
      display: none; }
    .w50 .ao-iw15 .ao-img-w250 {
      display: none; }
    .w50 .ao-iw15 .ao-img-w150 {
      display: block; }

  .w33 .ao-iw100 {
    width: 100%; }
    .w33 .ao-iw100 .ao-img-w1000 {
      display: none; }
    .w33 .ao-iw100 .ao-img-w500 {
      display: none; }
    .w33 .ao-iw100 .ao-img-w250 {
      display: block; }
    .w33 .ao-iw100 .ao-img-w150 {
      display: none; }
  .w33 .ao-iw50 {
    width: 50%; }
    .w33 .ao-iw50 .ao-img-w1000 {
      display: none; }
    .w33 .ao-iw50 .ao-img-w500 {
      display: none; }
    .w33 .ao-iw50 .ao-img-w250 {
      display: none; }
    .w33 .ao-iw50 .ao-img-w150 {
      display: block; }
  .w33 .ao-iw35 {
    width: 50%; }
    .w33 .ao-iw35 .ao-img-w1000 {
      display: none; }
    .w33 .ao-iw35 .ao-img-w500 {
      display: none; }
    .w33 .ao-iw35 .ao-img-w250 {
      display: none; }
    .w33 .ao-iw35 .ao-img-w150 {
      display: block; }
  .w33 .ao-iw25 {
    width: 50%; }
    .w33 .ao-iw25 .ao-img-w1000 {
      display: none; }
    .w33 .ao-iw25 .ao-img-w500 {
      display: none; }
    .w33 .ao-iw25 .ao-img-w250 {
      display: none; }
    .w33 .ao-iw25 .ao-img-w150 {
      display: block; }
  .w33 .ao-iw15 {
    width: 50%; }
    .w33 .ao-iw15 .ao-img-w1000 {
      display: none; }
    .w33 .ao-iw15 .ao-img-w500 {
      display: none; }
    .w33 .ao-iw15 .ao-img-w250 {
      display: none; }
    .w33 .ao-iw15 .ao-img-w150 {
      display: block; }

  .w25 .ao-iw100 {
    width: 100%; }
    .w25 .ao-iw100 .ao-img-w1000 {
      display: none; }
    .w25 .ao-iw100 .ao-img-w500 {
      display: none; }
    .w25 .ao-iw100 .ao-img-w250 {
      display: block; }
    .w25 .ao-iw100 .ao-img-w150 {
      display: none; }
  .w25 .ao-iw50 {
    width: 100%; }
    .w25 .ao-iw50 .ao-img-w1000 {
      display: none; }
    .w25 .ao-iw50 .ao-img-w500 {
      display: none; }
    .w25 .ao-iw50 .ao-img-w250 {
      display: none; }
    .w25 .ao-iw50 .ao-img-w150 {
      display: block; }
  .w25 .ao-iw35 {
    width: 100%; }
    .w25 .ao-iw35 .ao-img-w1000 {
      display: none; }
    .w25 .ao-iw35 .ao-img-w500 {
      display: none; }
    .w25 .ao-iw35 .ao-img-w250 {
      display: none; }
    .w25 .ao-iw35 .ao-img-w150 {
      display: block; }
  .w25 .ao-iw25 {
    width: 100%; }
    .w25 .ao-iw25 .ao-img-w1000 {
      display: none; }
    .w25 .ao-iw25 .ao-img-w500 {
      display: none; }
    .w25 .ao-iw25 .ao-img-w250 {
      display: none; }
    .w25 .ao-iw25 .ao-img-w150 {
      display: block; }
  .w25 .ao-iw15 {
    width: 100%; }
    .w25 .ao-iw15 .ao-img-w1000 {
      display: none; }
    .w25 .ao-iw15 .ao-img-w500 {
      display: none; }
    .w25 .ao-iw15 .ao-img-w250 {
      display: none; }
    .w25 .ao-iw15 .ao-img-w150 {
      display: block; } }
@media (max-width: 767px) {
  .ao-allow-edit-position-size {
    display: none; }

  .w100 .ao-iw100 {
    width: 100%; }
    .w100 .ao-iw100 .ao-img-w1000 {
      display: block; }
    .w100 .ao-iw100 .ao-img-w500 {
      display: none; }
    .w100 .ao-iw100 .ao-img-w250 {
      display: none; }
    .w100 .ao-iw100 .ao-img-w150 {
      display: none; }
  .w100 .ao-iw50 {
    width: 50%; }
    .w100 .ao-iw50 .ao-img-w1000 {
      display: none; }
    .w100 .ao-iw50 .ao-img-w500 {
      display: block; }
    .w100 .ao-iw50 .ao-img-w250 {
      display: none; }
    .w100 .ao-iw50 .ao-img-w150 {
      display: none; }
  .w100 .ao-iw35 {
    width: 50%; }
    .w100 .ao-iw35 .ao-img-w1000 {
      display: none; }
    .w100 .ao-iw35 .ao-img-w500 {
      display: block; }
    .w100 .ao-iw35 .ao-img-w250 {
      display: none; }
    .w100 .ao-iw35 .ao-img-w150 {
      display: none; }
  .w100 .ao-iw25 {
    width: 25%; }
    .w100 .ao-iw25 .ao-img-w1000 {
      display: none; }
    .w100 .ao-iw25 .ao-img-w500 {
      display: none; }
    .w100 .ao-iw25 .ao-img-w250 {
      display: none; }
    .w100 .ao-iw25 .ao-img-w150 {
      display: block; }
  .w100 .ao-iw15 {
    width: 15%; }
    .w100 .ao-iw15 .ao-img-w1000 {
      display: none; }
    .w100 .ao-iw15 .ao-img-w500 {
      display: none; }
    .w100 .ao-iw15 .ao-img-w250 {
      display: none; }
    .w100 .ao-iw15 .ao-img-w150 {
      display: block; }

  .w50 .ao-iw100 {
    width: 100%; }
    .w50 .ao-iw100 .ao-img-w1000 {
      display: none; }
    .w50 .ao-iw100 .ao-img-w500 {
      display: block; }
    .w50 .ao-iw100 .ao-img-w250 {
      display: none; }
    .w50 .ao-iw100 .ao-img-w150 {
      display: none; }
  .w50 .ao-iw50 {
    width: 50%; }
    .w50 .ao-iw50 .ao-img-w1000 {
      display: none; }
    .w50 .ao-iw50 .ao-img-w500 {
      display: none; }
    .w50 .ao-iw50 .ao-img-w250 {
      display: block; }
    .w50 .ao-iw50 .ao-img-w150 {
      display: none; }
  .w50 .ao-iw35 {
    width: 50%; }
    .w50 .ao-iw35 .ao-img-w1000 {
      display: none; }
    .w50 .ao-iw35 .ao-img-w500 {
      display: none; }
    .w50 .ao-iw35 .ao-img-w250 {
      display: block; }
    .w50 .ao-iw35 .ao-img-w150 {
      display: none; }
  .w50 .ao-iw25 {
    width: 50%; }
    .w50 .ao-iw25 .ao-img-w1000 {
      display: none; }
    .w50 .ao-iw25 .ao-img-w500 {
      display: none; }
    .w50 .ao-iw25 .ao-img-w250 {
      display: none; }
    .w50 .ao-iw25 .ao-img-w150 {
      display: block; }
  .w50 .ao-iw15 {
    width: 50%; }
    .w50 .ao-iw15 .ao-img-w1000 {
      display: none; }
    .w50 .ao-iw15 .ao-img-w500 {
      display: none; }
    .w50 .ao-iw15 .ao-img-w250 {
      display: none; }
    .w50 .ao-iw15 .ao-img-w150 {
      display: block; }

  .w33 .ao-iw100 {
    width: 100%; }
    .w33 .ao-iw100 .ao-img-w1000 {
      display: none; }
    .w33 .ao-iw100 .ao-img-w500 {
      display: none; }
    .w33 .ao-iw100 .ao-img-w250 {
      display: block; }
    .w33 .ao-iw100 .ao-img-w150 {
      display: none; }
  .w33 .ao-iw50 {
    width: 100%; }
    .w33 .ao-iw50 .ao-img-w1000 {
      display: none; }
    .w33 .ao-iw50 .ao-img-w500 {
      display: none; }
    .w33 .ao-iw50 .ao-img-w250 {
      display: block; }
    .w33 .ao-iw50 .ao-img-w150 {
      display: none; }
  .w33 .ao-iw35 {
    width: 100%; }
    .w33 .ao-iw35 .ao-img-w1000 {
      display: none; }
    .w33 .ao-iw35 .ao-img-w500 {
      display: none; }
    .w33 .ao-iw35 .ao-img-w250 {
      display: block; }
    .w33 .ao-iw35 .ao-img-w150 {
      display: none; }
  .w33 .ao-iw25 {
    width: 100%; }
    .w33 .ao-iw25 .ao-img-w1000 {
      display: none; }
    .w33 .ao-iw25 .ao-img-w500 {
      display: none; }
    .w33 .ao-iw25 .ao-img-w250 {
      display: block; }
    .w33 .ao-iw25 .ao-img-w150 {
      display: none; }
  .w33 .ao-iw15 {
    width: 100%; }
    .w33 .ao-iw15 .ao-img-w1000 {
      display: none; }
    .w33 .ao-iw15 .ao-img-w500 {
      display: none; }
    .w33 .ao-iw15 .ao-img-w250 {
      display: block; }
    .w33 .ao-iw15 .ao-img-w150 {
      display: none; }

  .w25 .ao-iw100 {
    width: 100%; }
    .w25 .ao-iw100 .ao-img-w1000 {
      display: none; }
    .w25 .ao-iw100 .ao-img-w500 {
      display: none; }
    .w25 .ao-iw100 .ao-img-w250 {
      display: block; }
    .w25 .ao-iw100 .ao-img-w150 {
      display: none; }
  .w25 .ao-iw50 {
    width: 100%; }
    .w25 .ao-iw50 .ao-img-w1000 {
      display: none; }
    .w25 .ao-iw50 .ao-img-w500 {
      display: none; }
    .w25 .ao-iw50 .ao-img-w250 {
      display: none; }
    .w25 .ao-iw50 .ao-img-w150 {
      display: block; }
  .w25 .ao-iw35 {
    width: 100%; }
    .w25 .ao-iw35 .ao-img-w1000 {
      display: none; }
    .w25 .ao-iw35 .ao-img-w500 {
      display: none; }
    .w25 .ao-iw35 .ao-img-w250 {
      display: none; }
    .w25 .ao-iw35 .ao-img-w150 {
      display: block; }
  .w25 .ao-iw25 {
    width: 100%; }
    .w25 .ao-iw25 .ao-img-w1000 {
      display: none; }
    .w25 .ao-iw25 .ao-img-w500 {
      display: none; }
    .w25 .ao-iw25 .ao-img-w250 {
      display: none; }
    .w25 .ao-iw25 .ao-img-w150 {
      display: block; }
  .w25 .ao-iw15 {
    width: 100%; }
    .w25 .ao-iw15 .ao-img-w1000 {
      display: none; }
    .w25 .ao-iw15 .ao-img-w500 {
      display: none; }
    .w25 .ao-iw15 .ao-img-w250 {
      display: none; }
    .w25 .ao-iw15 .ao-img-w150 {
      display: block; } }
@media (max-width: 480px) {
  .ao-allow-edit-position-size {
    display: none; }

  .w100 {
    width: 100%; }
    .w100 .ao-iw100 {
      width: 100%; }
      .w100 .ao-iw100 .ao-img-w1000 {
        display: none; }
      .w100 .ao-iw100 .ao-img-w500 {
        display: block; }
      .w100 .ao-iw100 .ao-img-w250 {
        display: none; }
      .w100 .ao-iw100 .ao-img-w150 {
        display: none; }
    .w100 .ao-iw50 {
      width: 100%; }
      .w100 .ao-iw50 .ao-img-w1000 {
        display: none; }
      .w100 .ao-iw50 .ao-img-w500 {
        display: block; }
      .w100 .ao-iw50 .ao-img-w250 {
        display: none; }
      .w100 .ao-iw50 .ao-img-w150 {
        display: none; }
    .w100 .ao-iw35 {
      width: 100%; }
      .w100 .ao-iw35 .ao-img-w1000 {
        display: none; }
      .w100 .ao-iw35 .ao-img-w500 {
        display: block; }
      .w100 .ao-iw35 .ao-img-w250 {
        display: none; }
      .w100 .ao-iw35 .ao-img-w150 {
        display: none; }
    .w100 .ao-iw25 {
      width: 100%; }
      .w100 .ao-iw25 .ao-img-w1000 {
        display: none; }
      .w100 .ao-iw25 .ao-img-w500 {
        display: block; }
      .w100 .ao-iw25 .ao-img-w250 {
        display: none; }
      .w100 .ao-iw25 .ao-img-w150 {
        display: none; }
    .w100 .ao-iw15 {
      width: 100%; }
      .w100 .ao-iw15 .ao-img-w1000 {
        display: none; }
      .w100 .ao-iw15 .ao-img-w500 {
        display: block; }
      .w100 .ao-iw15 .ao-img-w250 {
        display: none; }
      .w100 .ao-iw15 .ao-img-w150 {
        display: none; }

  .w50 {
    width: 100%; }
    .w50 .ao-iw100 {
      width: 100%; }
      .w50 .ao-iw100 .ao-img-w1000 {
        display: none; }
      .w50 .ao-iw100 .ao-img-w500 {
        display: none; }
      .w50 .ao-iw100 .ao-img-w250 {
        display: block; }
      .w50 .ao-iw100 .ao-img-w150 {
        display: none; }
    .w50 .ao-iw50 {
      width: 100%; }
      .w50 .ao-iw50 .ao-img-w1000 {
        display: none; }
      .w50 .ao-iw50 .ao-img-w500 {
        display: none; }
      .w50 .ao-iw50 .ao-img-w250 {
        display: block; }
      .w50 .ao-iw50 .ao-img-w150 {
        display: none; }
    .w50 .ao-iw35 {
      width: 100%; }
      .w50 .ao-iw35 .ao-img-w1000 {
        display: none; }
      .w50 .ao-iw35 .ao-img-w500 {
        display: none; }
      .w50 .ao-iw35 .ao-img-w250 {
        display: block; }
      .w50 .ao-iw35 .ao-img-w150 {
        display: none; }
    .w50 .ao-iw25 {
      width: 100%; }
      .w50 .ao-iw25 .ao-img-w1000 {
        display: none; }
      .w50 .ao-iw25 .ao-img-w500 {
        display: none; }
      .w50 .ao-iw25 .ao-img-w250 {
        display: block; }
      .w50 .ao-iw25 .ao-img-w150 {
        display: none; }
    .w50 .ao-iw15 {
      width: 100%; }
      .w50 .ao-iw15 .ao-img-w1000 {
        display: none; }
      .w50 .ao-iw15 .ao-img-w500 {
        display: none; }
      .w50 .ao-iw15 .ao-img-w250 {
        display: block; }
      .w50 .ao-iw15 .ao-img-w150 {
        display: none; }

  .w33 {
    width: 100%; }
    .w33 .ao-iw100 {
      width: 100%; }
      .w33 .ao-iw100 .ao-img-w1000 {
        display: none; }
      .w33 .ao-iw100 .ao-img-w500 {
        display: none; }
      .w33 .ao-iw100 .ao-img-w250 {
        display: block; }
      .w33 .ao-iw100 .ao-img-w150 {
        display: none; }
    .w33 .ao-iw50 {
      width: 100%; }
      .w33 .ao-iw50 .ao-img-w1000 {
        display: none; }
      .w33 .ao-iw50 .ao-img-w500 {
        display: none; }
      .w33 .ao-iw50 .ao-img-w250 {
        display: block; }
      .w33 .ao-iw50 .ao-img-w150 {
        display: none; }
    .w33 .ao-iw35 {
      width: 100%; }
      .w33 .ao-iw35 .ao-img-w1000 {
        display: none; }
      .w33 .ao-iw35 .ao-img-w500 {
        display: none; }
      .w33 .ao-iw35 .ao-img-w250 {
        display: block; }
      .w33 .ao-iw35 .ao-img-w150 {
        display: none; }
    .w33 .ao-iw25 {
      width: 100%; }
      .w33 .ao-iw25 .ao-img-w1000 {
        display: none; }
      .w33 .ao-iw25 .ao-img-w500 {
        display: none; }
      .w33 .ao-iw25 .ao-img-w250 {
        display: block; }
      .w33 .ao-iw25 .ao-img-w150 {
        display: none; }
    .w33 .ao-iw15 {
      width: 100%; }
      .w33 .ao-iw15 .ao-img-w1000 {
        display: none; }
      .w33 .ao-iw15 .ao-img-w500 {
        display: none; }
      .w33 .ao-iw15 .ao-img-w250 {
        display: block; }
      .w33 .ao-iw15 .ao-img-w150 {
        display: none; }

  .w25 {
    width: 100%; }
    .w25 .ao-iw100 {
      width: 100%; }
      .w25 .ao-iw100 .ao-img-w1000 {
        display: none; }
      .w25 .ao-iw100 .ao-img-w500 {
        display: none; }
      .w25 .ao-iw100 .ao-img-w250 {
        display: block; }
      .w25 .ao-iw100 .ao-img-w150 {
        display: none; }
    .w25 .ao-iw50 {
      width: 100%; }
      .w25 .ao-iw50 .ao-img-w1000 {
        display: none; }
      .w25 .ao-iw50 .ao-img-w500 {
        display: none; }
      .w25 .ao-iw50 .ao-img-w250 {
        display: block; }
      .w25 .ao-iw50 .ao-img-w150 {
        display: none; }
    .w25 .ao-iw35 {
      width: 100%; }
      .w25 .ao-iw35 .ao-img-w1000 {
        display: none; }
      .w25 .ao-iw35 .ao-img-w500 {
        display: none; }
      .w25 .ao-iw35 .ao-img-w250 {
        display: block; }
      .w25 .ao-iw35 .ao-img-w150 {
        display: none; }
    .w25 .ao-iw25 {
      width: 100%; }
      .w25 .ao-iw25 .ao-img-w1000 {
        display: none; }
      .w25 .ao-iw25 .ao-img-w500 {
        display: none; }
      .w25 .ao-iw25 .ao-img-w250 {
        display: block; }
      .w25 .ao-iw25 .ao-img-w150 {
        display: none; }
    .w25 .ao-iw15 {
      width: 100%; }
      .w25 .ao-iw15 .ao-img-w1000 {
        display: none; }
      .w25 .ao-iw15 .ao-img-w500 {
        display: none; }
      .w25 .ao-iw15 .ao-img-w250 {
        display: block; }
      .w25 .ao-iw15 .ao-img-w150 {
        display: none; } }
