#arrow { 
    z-index: 999999; 
    display: none;
    background-color: Transparent;
}

#tooltipBox { 
    z-index: 999998; 
    display: none; 
    position: absolute;
    background-color: Transparent;
}

#EventTooltip { 
    background-color: #FFFFFF;
}

#BubbleTL{
background-image: url('/images/BubbleTL.png');
background-color: transparent;
}

#BubbleTR{
background-image:url('/images/BubbleTR.png');
background-color: Transparent;
}

#BubbleBL{
background-image:url('/images/BubbleBL.png');
background-color: Transparent;
}

#BubbleBR{
background-image:url('/images/BubbleBR.png');
background-color: Transparent;
}

#BubbleTop{
background-image:url('/images/BubbleTop.png');
background-repeat: repeat-x;
background-color: Transparent;
}

#BubbleBottom{
background-image:url('/images/BubbleBottom.png');
background-repeat: repeat-x;
background-color: Transparent;
}

#BubbleLeft{
background-image:url('/images/BubbleLeft.png');
background-repeat: repeat-y;
background-color: Transparent;
}

#BubbleRight{
background-image:url('/images/BubbleRight.png');
background-repeat: repeat-y;
background-color: Transparent;
}