a:link {
	font-family: Arial, Helvetica, sans-serif;
	color:#F65910;
	text-decoration: none;
	font-weight: normal;
	font-size: 12px;
}
a:visited {
	font-family: Arial, Helvetica, sans-serif;
	color:#F65910;
	text-decoration: none;
}
a:hover {
	color: #D9A51A;
	text-decoration: none;
}
a:active {
	font-family: Arial, Helvetica, sans-serif;
	color: #D9A51A;
}
a.nav:link {
	font-family: Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	text-decoration: none;
	font-weight: normal;
	font-size: 12px;
}
a.nav:visited {
	font-family: Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	text-decoration: none;
}
a.nav:hover {
	color: #E6EBAA;
	text-decoration: none;
}
a.nav:active {
	font-family: Arial, Helvetica, sans-serif;
	color: #E6EBAA;
}