

/*********************************************************
**********************************************************

	Folder:	Theme330
	Name:	Generic 3
	Cat:	Generic

**********************************************************
*********************************************************/



/*------------------------------------
	GENERAL
------------------------------------*/

body {	
	color:#000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
h1,h2,h3,h4,h5,h6 {
	margin: 0;
	padding: 0;
}
.sf_outer_wrapper{
	width:727px;
	margin: auto;	
	
}
.sf_wrapper{
	width:727px;		
}

a:link {
	color:#000;
}

a:visited {
	color:#000;
}

a:hover {
	color:#000;
}

.sf_extra1{
    width: 727px;
    height: 18px !important; height: 18px;
    min-height: 18px;

}





/*------------------------------------
	HEADER
------------------------------------*/
.sf_header_wrapper{
	width:727px;
	height: 103px;
	margin: 0 0 0 22px;
	background-image: url(/clients/allamericanmelodrama/images/main_image.jpg);
	background-repeat: no-repeat;
}

.sf_main_header p, .sf_sub_header p { margin: 0; padding: 0; }

.sf_main_header{
	padding: 40px 40px 0px 400px;
	text-align: center;
	font-weight:bold;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
    height: 30px;
    overflow: hidden;
}	

.sf_sub_header{
	padding: 0 40px 0 400px;
	text-align: center;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size: 10px;
    height: 25px;
    overflow: hidden;
}



/*------------------------------------
	NAVIGATION
------------------------------------*/
.sf_navigation{
	margin: 3px auto 0 auto;
	width:683px;
	clear: both;
	height: auto !important;
}
.sf_navigation ul{
	margin: 0;
	list-style-type: none;
	padding: 3px 0px 0px 25px;
	height: auto !important; height: 16px;
	clear: both;
}
.sf_navigation ul:after{
	content: ".";
	display: block;
	visibility: hidden;
	height: 0;
	font-size: 1px;
	clear: both;
}

.sf_navigation ul {
	display: inline-block;
}

.sf_navigation ul li{
	float: left;
	white-space:nowrap;
	height: 19px;
    width: auto !important; width: 5px; /*for IE*/
}
.sf_navigation ul li a{
	padding: 0px 12px 0px 12px;
	text-decoration: none;
	display: block;
	font-size:10px;
	font-weight: bold;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	height: 15px;
	color: #fff;
	float: left;
	
}

.sf_navigation_top{
display:none;
}

.sf_extra5 {
	clear: both;
	width: 727px;
	height: 3px;
	margin: 0 auto;
}


/*------------------------------------
	CONTENT
------------------------------------*/

.sf_extra8{
	width: 727px;
	height: 27px !important;
}

.sf_pagetitle{
	width: 683px;
	font-size: 15px;
	font-weight: bold;
	padding: 15px 0px 5px 25px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}

.sf_content{
	width:696px;
	margin: 0 auto;
	padding-left: 5px;
	padding-bottom: 10px;
}

.sf_content:after{
	content: ".";
	display: block;
	visibility: hidden;
	height: 0;
	font-size: 1px;
	clear: both;
}

/*------------------------------------
	FOOTER
------------------------------------*/
.sf_footer{
	width: 683px;
	font-family:Geneva, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color:#666;
	text-align:center;	
	margin: 0 auto;
	clear: both;
}
.sf_footer div{
	
}


/*------------------------------------
	BANNER
------------------------------------*/
.sf_banner{
	margin-bottom: 35px;
	padding-top: 80px;
	text-align: center;
	font-size: 10px;
}
.sf_banner div#bannerLink{
	padding-top: 10px;
}
