<!DOCTYPE html>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<head runat="server">
<asp:ContentPlaceHolder id="MasterHead" runat="server"></asp:ContentPlaceHolder>
</head>
<BODY leftmargin=0 rightmargin=0 topmargin=0 marginheight=0 marginwidth=0 >
<form id="form1" runat="server">
<div>
	
	<link rel="shortcut icon" href="http://barakballet.org/wp-content/themes/epicsupreme/_/img/favicon.ico">
	<link rel="apple-touch-icon" href="http://barakballet.org/wp-content/themes/epicsupreme/_/img/apple-touch-icon.png">
	<link rel="stylesheet" href="/clients/BarakBallet/Images/screen.css">
	<div class="fit-vids-style">­<style>               .fluid-width-video-wrapper {                 width: 100%;                              position: relative;                       padding: 0;                            }                                                                                   .fluid-width-video-wrapper iframe,        .fluid-width-video-wrapper object,        .fluid-width-video-wrapper embed {           position: absolute;                       top: 0;                                   left: 0;                                  width: 100%;                              height: 100%;                          }                                       </style></div><script src="/clients/BarakBallet/Images/modernizr-1.js"></script>
	<link rel="pingback" href="http://barakballet.org/xmlrpc.php">
		<link rel="alternate" type="application/rss+xml" title="The Barak Ballet » Feed" href="http://barakballet.org/feed/">
<link rel="alternate" type="application/rss+xml" title="The Barak Ballet » Comments Feed" href="http://barakballet.org/comments/feed/">
<script type="text/javascript" src="/clients/BarakBallet/Images/comment-reply.js"></script>
<script type="text/javascript" src="/clients/BarakBallet/Images/jquery-latest.js"></script>
<script type="text/javascript" src="/clients/BarakBallet/Images/jquery.js"></script>
<script type="text/javascript" src="/clients/BarakBallet/Images/jquery_002.js"></script>
<link rel="prev" title="Home" href="http://barakballet.org/">
<link rel="next" title="About Us" href="http://barakballet.org/about-us/">
<link rel="canonical" href="http://barakballet.org/events/">

<!-- Typekit JS code -->
<script type="text/javascript" src="/clients/BarakBallet/Images/wzj4llh.js"></script>
<style type="text/css">.tk-freight-sans-pro{font-family:"freight-sans-pro",sans-serif;}</style><link href="/clients/BarakBallet/Images/d.css" rel="stylesheet"><script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<!-- Typekit JS code end -->
	
</head>

<body>
	
	
		<header id="header" class="group">
			<div class="header-container">
				<h1 class="logo">
					<a href="http://barakballet.org/">
						<img src="/clients/BarakBallet/Images/barak-ballet.png" alt="logo">
						<span>The Barak Ballet</span>
					</a>
				</h1>
				
				<nav id="nav">
					<div class="menu-main-container"><ul id="menu-main" class="menu"><li id="menu-item-15" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15"><a href="http://barakballet.org/">Home</a></li>
<li id="menu-item-14" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-5 current_page_item menu-item-14"><a href="http://barakballet.org/events/">Events</a></li>
<li id="menu-item-13" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-13"><a href="http://barakballet.org/about-us/">About Us</a></li>
<li id="menu-item-12" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12"><a href="http://barakballet.org/get-involved/">Donate</a></li>
<li id="menu-item-16" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-16"><a href="mailto:info@barakballet.org">Contact</a></li>
</ul></div>				</nav>
			</div>
			
		</header>

		

			
	
	
	<div class="background-image" style="background-image: url(&quot;/clients/BarakBallet/Images/DANCE-233-copy.jpg&quot;); width: 1663px; height: 930px;"></div>


<article class="main-event">
<div class="main-content">
<div class="content">
<asp:ContentPlaceHolder id="MasterContent" runat="server"></asp:ContentPlaceHolder>
</div>
<!--TIX DATA START-->
</div>




</article>





<article class="events">
	
	<h3>Past Events</h3>

	<ul class="group">
				
			  
		<li>
			
			<a href="http://barakballet.org/event/barak-ballet-appears-at-gala-de-danza-in-cabo-san-lucas-june-30th/">
				<span class="title-container"><span class="title">The Barak Ballet appears at Gala de Danza in Cabo San Lucas, June 30th</span></span>
				<img src="/clients/BarakBallet/Images/Gala-de-Danza-235x300.jpg" alt="ChristinaL_Poster">
				</a>
			
		</li>
	
		
				
			  
		<li>
			
			<a href="http://barakballet.org/event/rehearsal-event-june-23rd/">
				<span class="title-container"><span class="title">Rehearsal Event – June 23rd</span></span>
				<img src="/clients/BarakBallet/Images/MGB0056-300x198.jpg" alt="MGB0056">
				</a>
			
		</li>
	
		
				
			  
		<li>
			
			<a href="http://barakballet.org/event/la-follia/">
				<span class="title-container"><span class="title">The Barak Ballet Pre-Launch Performance, March 31st, 2013 at the Ann and Jerry Moss Theater</span></span>
				<img src="/clients/BarakBallet/Images/La-Follia1-copy-300x248.jpg" alt="La Follia1 copy">
				</a>
			
		</li>
	
		
				
			  
		<li>
			
			<a href="http://barakballet.org/event/pre-launch-performance-reception/">
				<span class="title-container"><span class="title">Pre-Launch Performance Reception, March 31st, 2013 at the Ann and Jerry Moss Theater</span></span>
				<img src="/clients/BarakBallet/Images/97-copy-300x200.jpg" alt="-97 copy">
				</a>
			
		</li>
	
		
			 
		
	</ul>


</article>


</div>
</form>
</body>
</html>
