/* ---------------------------------------- */
/*	GENERAL COLOR
/* ---------------------------------------- */   

::-moz-selection { background: #00abcc; }
.::selection { background: #00abcc;}

a:hover, a > *:hover,.button.no-bg:hover, #main-nav a:hover, #main-nav .hover > a, #main-nav .current > a, .acc-trigger a:hover, .acc-trigger.active a, .acc-trigger.active a:hover,
.tabs-nav li a:hover, .tabs-nav li.active a, .ss-slider .slide-button:hover, .ss-slider .slide-button.active, .ss-slider .slide-button.active h5, .ss-slider .slide-content a,
a:hover > .post-format, .projects-carousel a:hover .title, #portfolio-items article:hover .title, .pagination a:hover, .comment .author a:hover, .single-project .page-header a:hover,
.categories a:hover, .tweet_list li a, #footer a:hover,	#footer-bottom a:hover, .entry-meta a:hover,.wsc_posts_common .wsc_title a:hover, .wsc_posts_feed .wsc_pi_feed_title a:hover, .wsc_posts_common .wsc_tags_cloug .wsc_tag:hover, .wsc_tags_cloud li a:hover, .wsc_archive_cloud li a:hover,
 #footer .dnnForm.FeedbackForm ul a.dnnPrimaryAction:hover { color: #00abcc;}

a.button, input[type="submit"], button, .not-ie #main-nav .current:after, .ss-slider .active-slide-bar, .not-ie .projects-carousel a:hover:after, #portfolio-items article:hover:after,
#main-nav ul ul a:hover, #main-nav ul ul .hover > a, #main-nav ul ul .current > a, #main-nav ul ul .current > a:hover, .not-ie .team-member:hover:after, #portfolio-items-filter a 
{background: #00abcc;}

.button:hover .arrow, .jcarousel-next:hover, .jcarousel-next:focus, .jcarousel-next:active, .jcarousel-prev:hover, .jcarousel-prev:focus, .jcarousel-prev:active,
a:hover > .post-format, .ss-slider .pagination-container a:hover, .ss-slider.hide-content:hover .pagination-container a:hover,
.ss-slider .pagination-container a:hover, .ss-slider.hide-content:hover .pagination-container a:hover,.ss-slider .pagination-container a,
#back-to-top:hover, #back-to-top.hover, .touch-device #back-to-top:active
{ background-color: #00abcc; }

#main-nav a:hover, #main-nav .hover > a, #main-nav .current > a, .tabs-nav li.active a, .ss-slider .slide-button.active 
{border-top-color: #00abcc;	}

#main-nav a:hover, #main-nav .hover > a, #main-nav .current > a, .projects-carousel a:hover, #portfolio-items article:hover, .team-member:hover,
#main-nav > ul > .current:last-child a {border-bottom-color: #00abcc;}

.FeedbackForm .Feedback_CommandButtons a,
.dnnForm.FeedbackForm ul a.dnnPrimaryAction
{
    background: #00abcc;
    filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#00abcc', endColorstr='#00abcc',GradientType=0 ); 
}


		
		
