<!DOCTYPE html>
<head runat="server">
<asp:ContentPlaceHolder id="MasterHead" runat="server"></asp:ContentPlaceHolder>
</head>
<BODY leftmargin=0 rightmargin=0 topmargin=0 marginheight=0 marginwidth=0 >
<form id="form1" runat="server">
<div>
<link rel="profile" href="http://gmpg.org/xfn/11">
<link rel="stylesheet" type="text/css" media="all" href="/clients/ARSingers/Images/style.css">
<link rel="pingback" href="http://www.arsingers.org/xmlrpc.php">
<link rel="alternate" type="application/rss+xml" title="Arizona Repertory Singers » Feed" href="http://www.arsingers.org/feed/">
<link rel="alternate" type="application/rss+xml" title="Arizona Repertory Singers » Comments Feed" href="http://www.arsingers.org/comments/feed/">
<link rel="alternate" type="application/rss+xml" title="Arizona Repertory Singers » Upcoming Concerts Comments Feed" href="http://www.arsingers.org/upcoming-concerts/feed/">
<link rel="stylesheet" id="NextGEN-css" href="/clients/ARSingers/Images/nggallery.css" type="text/css" media="screen">
<link rel="stylesheet" id="shutter-css" href="/clients/ARSingers/Images/shutter-reloaded.css" type="text/css" media="screen">
<script type="text/javascript" src="/clients/ARSingers/Images/comment-reply.js"></script>
<script type="text/javascript">
/* <![CDATA[ */
var shutterSettings = {"msgLoading":"L O A D I N G","msgClose":"Click to Close","imageCount":"1"};
/* ]]> */
</script>
<script type="text/javascript" src="/clients/ARSingers/Images/shutter-reloaded.js"></script>
<script type="text/javascript" src="/clients/ARSingers/Images/jquery_002.js"></script>
<script type="text/javascript" src="/clients/ARSingers/Images/jquery.js"></script>
<script type="text/javascript" src="/clients/ARSingers/Images/ngg.js"></script>
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://www.arsingers.org/xmlrpc.php?rsd">
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://www.arsingers.org/wp-includes/wlwmanifest.xml"> 
<link rel="prev" title="Board of Directors" href="http://www.arsingers.org/about-ars/board-of-directors/">
<link rel="next" title="Gallery" href="http://www.arsingers.org/gallery/">
<meta name="generator" content="WordPress 3.4.1">
<link rel="canonical" href="http://www.arsingers.org/upcoming-concerts/">
<!-- <meta name="NextGEN" version="1.9.10" /> -->
<style type="text/css" id="custom-background-css">
body.custom-background { background-color: #000000; background-image: url('/clients/ARSingers/Images/Background1.png'); background-repeat: repeat-x; background-position: top left; background-attachment: fixed; }
</style>
<script src="/clients/ARSingers/Images/yui-min.js" type="text/javascript"></script><script async="" src="/clients/ARSingers/Images/combo" id="yui_3_5_1_1_1364311563957_2" charset="utf-8"></script><script src="/clients/ARSingers/Images/player-noyui-min.js" type="text/javascript"></script><script async="" src="/clients/ARSingers/Images/ywa.js" id="yui_3_5_1_2_1364311563957_2" charset="utf-8"></script><link href="/clients/ARSingers/Images/combo.css" id="yui_3_5_1_3_1364311563957_2" rel="stylesheet" charset="utf-8"><script async="" src="/clients/ARSingers/Images/combo_003" id="yui_3_5_1_3_1364311563957_3" charset="utf-8"></script><script async="" src="/clients/ARSingers/Images/combo_004" id="yui_3_5_1_3_1364311563957_4" charset="utf-8"></script><script async="" src="/clients/ARSingers/Images/combo_002" id="yui_3_5_1_3_1364311563957_5" charset="utf-8"></script><script src="/clients/ARSingers/Images/fpc.js" type="text/javascript" defer="defer"></script></head>

<body class="page page-id-300 page-template-default custom-background yahoo-analyze-include">
<div id="wrapper" class="hfeed">
	<div id="header">
		<div id="masthead">
			<div id="branding" role="banner">
								<div id="site-title">
					<span>
						<a href="http://www.arsingers.org/" title="Arizona Repertory Singers" rel="home">Arizona Repertory Singers, since 1984</a>
					</span>
				</div>
				<div id="site-description">Dr. Jeffry A. Jahn, Music Director</div>

										<img src="/clients/ARSingers/Images/ARS_WebHeader.jpg" alt="" height="198" width="940">
								</div><!-- #branding -->

			<div id="access" role="navigation">
			  				<div class="skip-link screen-reader-text"><a href="#content" title="Skip to content">Skip to content</a></div>
								<div class="menu-header"><ul id="menu-main-menu" class="menu"><li id="menu-item-129" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-129"><a href="http://arsingers.org/">Home</a></li>
<li id="menu-item-124" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-124"><a href="http://www.arsingers.org/about-ars/">About</a>
<ul class="sub-menu">
	<li id="menu-item-154" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-154"><a href="http://www.arsingers.org/about-ars/board-of-directors/">Board of Directors</a></li>
	<li id="menu-item-128" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-128"><a href="http://www.arsingers.org/about-ars/audience-feedback/">Audience Feedback</a></li>
</ul>
</li>
<li id="menu-item-304" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-300 current_page_item menu-item-304"><a href="http://www.arsingers.org/upcoming-concerts/">Concerts</a>
<ul class="sub-menu">
	<li id="menu-item-138" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-138"><a href="http://www.arsingers.org/category/past-concerts/">Past Concerts</a></li>
	<li id="menu-item-216" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-216"><a href="http://www.arsingers.org/category/conductors-corner/">Conductor’s Corner</a></li>
</ul>
</li>
<li id="menu-item-122" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-122"><a href="http://www.arsingers.org/cds/">CDs</a></li>
<li id="menu-item-121" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-121"><a href="http://www.arsingers.org/multimedia/">Multimedia</a>
<ul class="sub-menu">
	<li id="menu-item-336" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-336"><a href="http://www.arsingers.org/gallery/">Gallery</a></li>
</ul>
</li>
<li id="menu-item-127" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-127"><a href="http://www.arsingers.org/singers/">Singers</a></li>
<li id="menu-item-123" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-123"><a href="http://www.arsingers.org/support-ars/">Support ARS</a></li>
<li id="menu-item-376" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-376"><a href="http://www.arsingers.org/sponsors/">Sponsors</a></li>
</ul></div>			</div><!-- #access -->
		</div><!-- #masthead -->
	</div><!-- #header -->

	<div id="main">
<asp:ContentPlaceHolder id="MasterContent" runat="server"></asp:ContentPlaceHolder>


	
	</div><!-- #main -->

	<div id="footer" role="contentinfo">
		<div id="colophon">



			<div id="site-info">
				<a href="http://www.arsingers.org/" title="Arizona Repertory Singers" rel="home">
					Arizona Repertory Singers				</a>
			</div><!-- #site-info -->

			<div id="site-generator">
								<a href="http://wordpress.org/" title="Semantic Personal Publishing Platform" rel="generator">Proudly powered by WordPress.</a>
			</div><!-- #site-generator -->

		</div><!-- #colophon -->
	</div><!-- #footer -->

</div><!-- #wrapper -->

</div>
</form>
</body>
</html>
