body {
    background: url('/clients/call2adventure/assets/images/bg.jpg') #000000 fixed;
    background-size: cover;
    color: #fff;
    margin: 0;
    font-family: 'Open Sans', sans-serif;;
}

.header {
    color:#000;
    font-family: 'Open Sans', sans-serif;;
    
}
.header h1 {
    font-size: 96px;
    font-weight: 700;
}
.header p {
    font-size: 2em;
}

.content {
    background: url('/clients/call2adventure/assets/images/content-bg.png');
    color:#fff;
    padding: 15px;
}