<STYLE TYPE="text/css">
<!--

.dummy {
	color: #FFFFFF;
	font-size: 10px;
	font-weight: bold;
	font-family: Verdana;
	text-decoration: none;
}

.dummy A:link { color: #FFFFFF; text-decoration: underline;}
.dummy A:visited { color: #FFFFFF; text-decoration: underline;}
.dummy A:active { color: #FFFFFF; text-decoration: underline;}
.dummy A:hover { color: #FFFFFF; text-decoration: underline;}


td  { font-family: verdana,arial,sans-serif; font-size: 12px; }


/* Link Color */
a:link	{ color: #0066CC; text-decoration: none;}

/* Visited Link Color */
a:visited	{ color: #0066CC; text-decoration: none;}

/* Hover Link Color, IE only */
a:hover	{ color: #CCCCCC; text-decoration: none;}


// end hide -->
</STYLE>
