#page
{
	/* recommended styles */
	margin: auto; /* marker :m1: delete this to make layout left aligned */

	/* add custom styles here */
	width: 800px; /* marker :m3:  */
}

/*
 * Header style Definitions
 */
#header
{
	width: 760px;
	height: 85px;
	padding: 10px 10px 0 30px;
	background: url(../cmsimages/background_header.gif) top center repeat-y #231f20;
}
#header.sub
{
	background: url(../cmsimages/background_headersub.gif) top center repeat-y #231f20;
}
#headerbody
{
	/* recommended styles */

	/* add custom styles here */
	width: 280px;
	float: left;
}
#headernav
{
	/* recommended styles */
	width: 460px;
	float: right;
	
	/* add custom styles here */
	padding: 30px 10px 0 0;
}

/*
 * Body style Definitions
 */
#body
{
	/* recommended styles */
	clear: both;

	/* add custom styles here */
	padding: 20px 0 0 0;
}

#flashcontainer
{
	border: 1px solid #231f20;
	padding: 0;
	background: #000000;
	clear: both;
	height: 322px;
}
#wrapper
{
	border: 1px solid #231f20;
	padding: 5px;
	background: #000000;
    background: url(../cmsimages/background_subwrapper.gif) top center no-repeat #000000;
}
#altcontainer
{
	/* recommended styles */
	float: left; 
	width: 243px; 
	padding: 25px 30px 0 30px;
}
#container
{
	float: right;
	width: 485px;
}



#bottomwrapper
{
	background: url(../cmsimages/background_bottomwrapper.gif) top center no-repeat;
	padding: 20px 0;

}
#photos
{
	float: left;
	width: 180px;
	padding-left: 60px;
}
#secondarycontent
{
	float: left;
	width: 400px;
}
#secondarycontentwide
{
	float: left;
	width: 515px;
}
#secondarycontentwidest{width:695px;
margin-left:70px;
height:100%
position:absolute;}

#secondarycontentwidest table{border:none;}
#secondarycontentwidest table td{border:none;padding:2px 0px;}


#sidecontent
{
	float: right;
	width: 175px;
}

/*
 * Footer style Definitions
 */
#footer
{
	color: #717171;
	font-size: 90%;	

}

.footerhome
 {
	padding: 0 0 250px 0;
	background: url(../cmsimages/footer_logos.gif) bottom center no-repeat;
 }
 .footersub
 {
	padding: 10px;
	background: #000000;
	border: 1px solid #231f20;	

 }