@charset "UTF-8";
/* CSS Document */

html body {
	background-color: #fff;
}
	body 
#outerWrap {
	background:url(../webpage_Files/body_bg.jpg) #fff repeat-x;
}


body a,
body #footer #bottom_utilities li a,
body #footer #bottom_utilities li{
	color: #333;
}
	
	#outerWrap 
#header{
	background:url(header_bg.jpg) no-repeat;
	height: 115px;
}

	#outerWrap
#content{
	background: none;
}

	#outerWrap
#main_nav .main_nav_divider{
	background: none;
}
	
	#outerWrap 
h1 {
	color: #666;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 24px;
}

	#outerWrap 
h2 {
	position: relative;
}

	#outerWrap 
h3.collegeName {
	position: absolute;
	top: 15px;
	right: 0px;

}
	#outerWrap 
h4 {
color:#333;
font-size: 16px;
}

#outerWrap
#breadcrumb {
	text-transform: uppercase;
}

	#outerWrap
#breadcrumb span {
color: #42345f;
font-weight:normal;
}

ul li {
	list-style-image: url(bullet.png);
}

	#outerWrap
#mast .caption, #outerWrap .image .caption, #outerWrap .galleryItem .caption {
background-color:#333;
}

/*********************  main nav ******************/

	/* set main nav link color */
	#outerWrap
#main_nav ul li a {
	color: #42345f;
}

	/* set main nav link color on hover and remove arrow*/
	#outerWrap
#main_nav li:hover a, #main_nav li.sfHover a {
background:none;
color:#2b1e44;
}

	/* set background color for dropdown menu and remove border */
	#outerWrap
#main_nav ul li ul {
	border:none;
	background-color: #cdc4ce;
	-moz-opacity:.90; 
	filter:alpha(opacity=90); 
	opacity:.90;
	}
		
	/* remove border from dropdown links */
	#outerWrap	
#main_nav ul ul li a{
	border-bottom:none;
	}
	
	/* set hover bg color and remove little arrow on hover */
	#outerWrap
#main_nav .active li a:hover, #outerWrap #main_nav li:hover li a:hover, #outerWrap #main_nav li.sfHover li a:hover{
	background-color: #ada5b4;	
	background-image: none;
}
	/* get rid of little arrow next to dropdown links */
	#outerWrap
#main_nav ul ul li {
background:none;
}
	

/*** utilities ***/

BODY
#utility_panels {
	background-color: #B9B9B8;
	border-bottom: none;
}

	#outerWrap
#utilities {
	background-image:url(light_utl_bg.png);
	}

	#outerWrap
#utilities #utl_home a{
	background:none;
	padding-left: 24px;
	padding-right: 10px;
	}
		#outerWrap #utilities li#utl_home a:hover {
		background-position: -155px -29px;
		color:#42345f;
		}
		
		#outerWrap #utilities li#utl_home.active a {
		background-position: -155px -59px;
		color:#42345f;
		}

	#outerWrap 
#utilities #utl_maps a, 
	#outerWrap 
#utilities #noscript #utl_maps a:hover {
	background:none;
	width: 35px;
	padding-left: 20px;
	}

		#outerWrap #utilities li#utl_maps a:hover {
		background-position: 0px -29px;
		color:#42345f;

		}
		
		#outerWrap #utilities li#utl_maps.active a {
		background-position: 0px -59px;
		}

	#outerWrap 
#utilities #utl_ask a, 
	#outerWrap 
#utilities #noscript #utl_ask a:hover{
	background:none;
	width: 76px;
	padding-left: 23px;
	}
	
		#outerWrap #utilities li#utl_ask a:hover {
		background-position: -55px -29px;
		color:#42345f;
		}
		
		#outerWrap #utilities li#utl_ask.active a {
		background-position: -55px -59px;
		}


	#outerWrap 
#utilities #utl_dir a, 
	#outerWrap 
#utilities #noscript #utl_dir a:hover{
	background:none;
	width: 93px;
	padding-left: 26px;
	}
		#outerWrap #utilities li#utl_dir a:hover {
		background-position: -155px -29px;
		color:#42345f;
		}
		
		#outerWrap #utilities li#utl_dir.active a {
		background-position: -155px -59px;
		color:#42345f;
		}

	#outerWrap 
#utilities #utl_flashline a, 
	#outerWrap 
#utilities #noscript #utl_flashline a:hover{
	background:none;
	background-position: -273px 1px;
	width: 79px;
	padding-left: 20px;
	}
		#outerWrap #utilities li#utl_flashline a:hover {
		background-position: -155px -29px;
		color:#42345f;
		}
		
		#outerWrap #utilities li#utl_flashline.active a {
		background-position: -155px -59px;
		color:#42345f;
		}
	
#outerWrap
#utilities #utl_give {
	background:url(give.png) no-repeat;
	}
		#outerWrap #utilities li#utl_give a:hover {
		background:url(give-roll.png) no-repeat;
		}
		
		#outerWrap #utilities li#utl_give.active a {
		background:url(give-roll.png) no-repeat;
		}
	
	#outerWrap 
#utilities a:hover,
 	body 
#utilities li.active a, 
	body 
#utility_panels a, 
	#outerWrap 
.AZindex a:hover {
	color: #938299;
}

	#outerWrap 
.AZindex a {
	color: #42345f;
}
	


/************ Main Content **************/
	#outerWrap 
#mainContent {
background-color: transparent;
height:auto !important;
z-index: 1;
margin-bottom: 0px;
padding-bottom: 0px;

}

	

	#outerWrap
#left_rc {
	background: none;
	position: static;
	padding-bottom: 90px;
}


/*** news & quicklinks ***/
#outerWrap 
.quicklinks {
	margin-top: 4px;
	margin-left: -5px;
}


	#outerWrap 
.RSS ul li {
	list-style: none;
	margin: 0px;
	padding: 0px;
	font-size: 11px;
	padding: 0px 5px 5px 16px;
}

	#outerWrap 
.RSS ul li br {
	display: none;
}
	

	#outerWrap 
.RSS ul {
	margin: 0px;
	padding: 0px;
	color: #666;
	margin-top: 9px;
	margin-bottom: 14px;
}

	#outerWrap .level2
.RSS ul {
	margin: 0px;
	padding: 10px;
	background-color: #eee;
}

	#outerWrap 
.quicklinks li a,
	#outerWrap 
.RSS li a{
background: url(bullet.png) no-repeat 6px 8px;
color:#333;
display:block;
font-size:12px;
font-weight:bold;
text-decoration:none;
}

#outerWrap 
.RSS li a{ 
	background-position: 0px 3px;
	padding-left: 12px;
	margin-left: -12px;
}
#outerWrap 
.quicklinks li a {
	padding:5px;
	padding-left: 19px;
	border: solid #fff 1px;
}

#outerWrap 
.quicklinks li a:hover,
#outerWrap 
.RSS li a:hover {
	background-color: #F4F4F4;
}

#outerWrap 
.quicklinks li a:hover {
	margin: 0px;
}

/***************************** Element Fixes **********************/
#outerWrap
.actionItem_links {
background:#eee repeat-x scroll 0 0;
border:1px solid #E1E1E1;
padding:0 10px 15px;
}

#outerWrap
.actionItem_links:hover {
background: #E4E0DD;
} 
#outerWrap
.actionItem_links h4 a {
background:url(bullet.png) no-repeat scroll right center;
font-family: Arial, Helvetica, sans-serif;
text-transform: uppercase;
color:#333333;
display:block;
padding-right:15px;
text-decoration:none;
}

#outerWrap
.actionItem_links ul li
{
	background: url(bullet.png) no-repeat 8px 4px;
}

/******* Profiles **********/

#profileDetail {
	position: relative;
}

#outerWrap
#profileDetail .title {
color:#999999;
font-size:14px;
position:absolute;
left:0px;
}

#outerWrap
.profileListing .profileEntry .name a {
color:#333;
}

#outerWrap
.profileListing .profileEntry .name a:hover {
color:#666;
}

#outerWrap
.twoCol .profileEntry {
	padding: 10px;
	width: 310px;
	margin-right: 10px;
}


#outerWrap
.twoCol .profileEntry:hover {
	background-color: #eee;
}


#outerWrap
.profileListing h5 {
	margin-bottom: 12px;
}