body {
 
; 
font-family: 'Open Sans';
   font-size: 11px;
  color: #444444;   
    
}

#bg-effect {
  
}

a {}

a:hover {}

h1 {
  font-size: 48px;
  color: #444444;
  font-family: 'Open Sans';
}

h2 {
  font-size: 36px;
  color: #BBBBBB;
  font-family: 'Open Sans';
}

h3.excerpt_title,
h3.excerpt_title a,
h3 {
  font-size: 24px;
  color: #444444;
  font-family: 'Open Sans';
}

h4 {
  font-size: 16px;
  color: #BBBBBB;
  font-family: Open Sans;
}

h5 {
  font-size: 14px;
  color: #444444;
  font-family: 'Open Sans';
}

h6 {
  font-size: 12px;
  color: #444444;
  font-family: 'Open Sans';
}

article p,p {
  font-size: 11px;
  color: #444444;
  font-family: 'Open Sans';
}

.contactarea #searchform input[type='text'] {

}
h3.title{ 
background:  url('/clients/chicagosailingwaukegan/Images/bg17.png');
}
h3.title span {
    
color: #FFFFFF;
 font-family: 'Open Sans'; 
     font-size: 24px;
  font-weight:200;
}

.dark .vibeposts li article:hover,
.dark .vibeposts .post_thumb:hover{
  
}

.menu-item a{
font-family: 'Oxygen'; 
    font-weight:200;
}
.breadcrumbs a,
.breadcrumbs{
font-family: 'Open Sans'; 
    font-weight:200;
}
/*=== HEADER ===*/

nav {
  
  
  font-family: 'Oxygen'; 
}

nav li.menu-item a {
 
 
  }
nav li.menu-item a:hover,
nav li.active a {


}
nav ul.mega-drop li.menu-item-depth-2 a,
nav ul.mega-drop,h3.elegant span.line,
.plain .accordion-toggle.collapsed i,
.plain .accordion-toggle i,
.carousel-control{

}
nav ul.mega-drop li.menu-item-depth-2:hover > ul.mega-sub.menu-depth-3,
nav ul.mega-drop li.menu-item-depth-2 a:hover,
nav ul.mega-sub a:hover {

}
nav ul.mega-drop li a {

   
}

ul.mega-sub li:hover,
ul.mega-sub li:hover a,
ul.mega-sub.menu-depth-3 li,
ul.mega-sub.menu-depth-3 li a{

}

ul.mega-sub.menu-depth-3 li a{
    
}


/*=== SLIDER === */
.flex-active-slide .stepcarousel_step,
section.main-section {

 
  
}

.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:hover,
.breadcrumbs{

}
/*=== TAGLINE ====*/

.tagline{
      
      
  
}


.wp-caption,
p.wp-caption-text{

}
.tagline h3 {

  
}
.tagline img {

  
}

.widget .menu,
.widget .menu li{
 
 
}

.widget .menu li:hover{

}
/*=== Vibe Editor Items ===*/


article:hover {


}
.vibeposts article:hover:after,
article:hover:after {

}

#wp-calendar thead,
#wp-calendar,table,
.carousel_thumbnails h4.item_title,
.filterable_thumbnails h4.item_title{

}
.categories a ,
.carousel_thumbnails h4.item_title small,
.filterable_thumbnails h4.item_title small {

}

.carousel_excerpt article:hover,
.filterable_excerpt article:hover {

}

.vibe_filterable li {

  
}
.vibe_filterable li.active {

  
}
.vibe_filterable li.active a {

}


.vibe_carousel .flex-direction-nav .flex-prev:hover,
.vibe_carousel .flex-direction-nav .flex-next:hover{

}
.vibe_carousel .flex-direction-nav .flex-prev:hover{background-position:0 -17px;}
/*------------------------------------------------*/
/*---------------------[CONTENT AREA]-------------*/
/*------------------------------------------------*/
h3.elegant,
.contentarea,
.contentarea .homecontent ,
.carousel_images_only img{

}

/*==== TESTIMONIALS ==== */
.testimonial_item p {
  
}

/* ===== Buttons ==== */
.button {
 
 
 
     }
a#top_arrow:hover {


}
/*==== Hover Effects ====*/
.archive_carousel .flex-control-paging li a:hover, .vibe_carousel .flex-control-paging li a:hover, .widget_carousel .flex-control-nav li a:hover,
.archive_carousel .flex-control-paging li a.flex-active, .vibe_carousel .flex-control-paging li a.flex-active, .widget_carousel .flex-control-nav li a.flex-active,.flex-direction-nav li,
.hover_left_in span,
.hover_top_in span,
.hover_fade_in span {
  
}

.homeslider .flex-direction-nav .flex-next {
 
}

.homeslider .flex-direction-nav .flex-prev {
 
}

.content article {

}

.content article:hover {

}

.widget .menu li.current_page_item, .widget .menu li.current_page_item,
footer .widget .menu li.current_page_item,footer .widget .menu li.current_page_item, .content .no_comments,
.content .no_comments {

      
      
}
.widget .menu li.current_page_item a, .widget .menu li.current_page_item:hover a,
.no_comments span {

}
.content .date,
.content .category {

}

.style2 .date,
.style2 .category {

}
.filterable_images .filteritem:hover::after, .filterable_thumbnails .filteritem:hover::after,
.carousel_images .carouselitem:hover::after, .carousel_thumbnails .carouselitem:hover::after, .portfolioitem:hover::after, .projectitem:hover::after, article:hover::after{


}
/*==== Base Style 2 ====*/

.filterable_images .filteritem:hover, .filterable_thumbnails .filteritem:hover,
.carousel_images .carouselitem:hover, .carousel_thumbnails .carouselitem:hover, .article:hover,
.tabs .nav-tabs li.active,
.style2 .thumb img:hover,
.style2 .post_thumbslider:hover {

}
.homeslider .flex-control-paging li a.flex-active, .homeslider .flex-control-paging li a:hover, .sampleslider .flex-control-paging li a.flex-active, .sampleslider .flex-control-paging li a:hover, .sampleslider2 .flex-control-paging li a:hover,
.style2 .no_comments {



  }
/*===Pagination===*/
.pagination .inactive,
.pagination .prev,
.pagination .next {

  
}

.pagination .current {

  
      
  
      
  
}
.pagination a.current:hover {

}
/*== Bread Crumbs ==*/
.breadcrumbs {

  
 
 
}
.breadcrumbs a {

  
}

h3.comments-title,.commentlist {

}

.vcard {

}

.comment-meta {

}


.reply {
 
 
} 
.comment-reply-link {
  
}

h3.comments-title  a.rss:hover{


	}

.sidebar [class*='span'] {

}

.sidebar.right-border [class*='span'] {

}

.more_posts a:hover img {

}

/*------------------------------------------------*/
/*---------------------[Custom Widgets]-------------------*/
/*------------------------------------------------*/
.quick-flickr-item img{
	
}
footer#main_footer .widget .quick-flickr-item img{

}


.quick-flickr-item img:hover{

}

footer#main_footer .twitter_item p{

}
footer#main_footer .twitter_item p:after{

}

/*------------------------------------------------*/
/*---------------------[PRICING]-------------------*/
/*------------------------------------------------*/

.pricing {

  
}
.pricing h5 {

  
}
.pricing span {

  color: ;
}

/*------------------------------------------------*/
/*---------------------[FOOTER]-------------------*/
/*------------------------------------------------*/
footer .row {

 
  /* url('/clients/chicagosailingwaukegan/Images/bg4.png');*/

}

.dark .vibeposts li article,
.dark .vibeposts .post_thumb,
footer .footer_top,
#calendar_wrap  {

  
}
footer,footer a,
footer,footer p,footer .widget a {

  
}

#wp-calendar caption,
footer .widget h2 {
 
}
footer .footer_bottom {


}

.footer_bottom .copyright {

  
}
ul.footer_menu a ,
.footer_bottom .copyright a {

 
}


/* === Timer Countdown === */
.countdown_section {

 
      
 
      
 
}
.countdown_amount {

  
}
.topnav a,
a.show_nav {

  

  
      
  }
a.vaccordionExpanded,
.topnav a:hover,
a.show_nav:hover {

  
      
  
      
  
}
a.show_nav i {
  float: right;
}

.dark .accordion-toggle i
.plain .accordion-toggle i {
    
    }
    
.dark .accordion-toggle.collapsed i,
.plain .accordion-toggle.collapsed i{
    
}


footer{
 
}

#nav_container{
 
}

nav ul.mega-drop li.menu-item-depth-1 a {
 display:none;
}

footer#main_footer .testimonial_item p{
 
     
}
footer#main_footer .testimonial_item p:after{

    
}
footer#main_footer .testimonial_item .author h5{
 
}

footer .widget .menu{
   
   
     
}

footer .widget .menu li{
    
      
}
footer .widget .menu li:last-child {
 
}
footer .widget .menu li:hover{
    
}

nav ul.mega-drop li.menu-item-depth-2 a {
display:block;
}

.sti-menu li h2.sti-item {
  color: #BBBBBB !important;
  font-family: 'Open Sans' !important;
}
.sti-menu li h3.sti-item {
  color: #444444 !important;
  font-family: 'Open Sans' !important;
}
.sti-menu li{

color: #444444;
}
#wp-calendar td#today,
.sti-menu li:hover{



}
.sti-menu li:hover i.sti-icon,
.sti-menu li:hover h2.sti-item,
.sti-menu li:hover h3.sti-item {
   
}

#calendar_wrap{


    
}

#wp-calendar th,th,
#wp-calendar td{
  
 
 
}



.flex-control-thumbs li{
max-width: 120px !important; }
.thumbnail-vibecom-slider,.thumbnail-simple-slider {
margin-bottom: 60px;
}

