.gce-page-list .gce-list .gce-list-title {
font-weight: normal;
}
.gce-list-title	{
  font-size: 18px;
  color:#015a9c;
  font-family: Open Sans;
  font-weight: 200;
  margin-bottom:10px;
}
.gce-page-list .gce-list p{ 

margin:0 0 0 5px;

}
.gce-page-list li {
margin-bottom:20px;
}
.content .span8 .v_first .gce-list p {
padding-left:15px;
}

.content .span8 .v_first .gce-list .gce-list-event {
padding-left:15px;
font-size:14px;
line-height:24px;
}