/*===== Responsive Fixes =====*/
@media (min-width: 767px) and (max-width: 979px) {
  footer .widget {
    padding: 0px 5px 0;
    width: 160px;
  }
  .contactarea {
    margin-top: 40px;
  }
  .big {
    padding: 12px 16px;
  }
  .more_posts li img {
    display: none;
  }
  
  #commentform p.form-submit{margin-left:124px;}
  
  nav li.menu-item a {
  font-size: 12px;
  }
  nav ul.mega-drop li ul.mega-sub li a {
  width: 120px;
  }
  nav ul.mega-drop li ul.mega-sub{
  	width: 150px;
  }
   .threecolumns {
    width: 480px;
   }
   .twocolumns {
    width: 320px;
   }
   .onecolumns{
    width:160px;
   }
   
   .container{
       paddin-left:20px;
   }
}
@media (max-width: 767px) {
  .fix_margin {
    margin-left: 0!important;
  }
  
  .depth-2 {
  margin-left: 0px;
}
.depth-3 {
  margin-left: 0px;
}

  .servicesitem {
    margin-right: 20px;
  }
  .sidebar [class*="span"] {
  padding: 0px !important;
  border: none !important;
  }
  
  .sidebar h4 {
  margin-left: 0px;
  margin-right: 20px;
  }
  #bg-effect {
    margin-left: -20px;
    padding-left: 20px;
    margin-right: -20px;
    padding-right: 20px;
  }
  .flex-control-paging li a {
    width: 10px !important;
  }
  #services_icon1,
  #services_icon2,
  #services_icon3,
  #services_icon4 {
    display: block;
    margin-left: 47%;
  }
  footer .widget {
    padding: 0px 20px 0;
    width: 280px;
  }
  ul.footer_menu {
    float: left;
    padding-bottom: 20px;
  }
  .projectsarea {
    margin-left: 0;
  }
  .postsarea,
  .clientele {
    margin: 20px 0;
  }
  .portfolioarea .title,
  .projectsarea .title,
  .postsarea .title,
  .clientele .title {
    margin-left: 0;
    margin-right: 0px;
  }
  .testimonials .author {
    margin-left: 10px;
  }
  nav {
    display: none;
  }
  .topnav {
    display: block;
  }
  .logoarea {
    margin-bottom: 20px;
  }
  .contactarea {
    display: none;
  }
  #commentform p.form-submit{
      margin-left:0px;
  }
  .vibe_carousel.carousel_testimonial .flex-control-nav{right:10px;}
  .custom_post_carousel{
      margin-right:20px;
  }
  
  .v_first .custom_post_carousel{margin-right:0;}
}



@media (max-width: 979px) and (min-width: 768px){
    footer .three-columns .widget {
                    padding: 0px 14px 0;
                    width: 200px;
            }
    footer .two-columns .widget {
                    padding: 0px 14px 0;
                    width: 322px;
            }    
            
            .depth-2 {
  margin-left: 20px;
}
.depth-3 {
  margin-left: 20px;
}
}

@media (max-width: 768px){
    footer .widget {
                    padding: 0px 14px 0;
                    width: 90%;
            }
            #nav_container{background:transparent !important;}
            .flex-control-nav.flex-control-thumbs{display:none;}
            .flex-caption{display:none;}
.tagline .button.right{
display:none;
}
}

@media (max-width: 640px){
    .one_half,.one_third,.one_fourth,.two_third,.three_fourth{
    	width: 95%;
		
    }
	header			{ height:auto; }
	a#top_arrow		{ display:none; } 
	.vibecom-slider			{ display:none; } /*Main Slider*/
	.custom_post_carousel .flexslider 	{ width:95%; } /*Blog Post Slider*/
	.content .v_first .vibe_carousel	{ padding:0; } /*Blog Post Slider*/
	.span9 .flexslider 	{ width:100%; } /*Blog Post Slider*/
	.weathWidg			{ display:none; } /*Weather Widget*/
	
	.span8 	{ width:100%; } /**/
}
