body{
	margin:0;
	font:12px/18px Arial, Helvetica, sans-serif;
	color:#3d3d3d;
	background:#3c3c3c;
}
span.top-line{
	font-size:0;
	line-height:0;
	height:8px;
	float:left;
	width:100%;
	background:#00626d;
}
ul{
	margin:0;
	padding:0;
	list-style:none;
}
h1, h2, h3, h4, h5{
	margin:0;
	padding:0;
}
#main{
	margin:0 auto;
	width:1006px;
}
#header{
	margin:6px 0 0;
	float:left;
	width:1006px;
	background:url(/clients/DanceFactoryMN/Images/pink-header-bg.gif) no-repeat 0 100%;
	height:112px;
}
.header-inner-3{
	background:url(/clients/DanceFactoryMN/Images/green-header-bg.gif) no-repeat 0 100% !important;
}
.inner-3-sub .header-inner-3{
	background:url(/clients/DanceFactoryMN/Images/green-header-sub-bg.gif) no-repeat 0 100% !important;
}
#header ul{
	float:left;
	width:797px;
	padding:0 0 0 209px;
}
#header ul li{
	overflow:hidden;
	display:inline;
	float:left;
}
#header ul li a{
	text-indent:-3000px;
	height:45px;
	float:left;
	font-size:0;
	line-height:0;
	background-position:0 0;
	background-repeat:no-repeat;
}
#header ul li.about a {
	background:url(/clients/DanceFactoryMN/Images/a-about-us.gif);
	width:90px;
}
#header ul li.classes a {
	background:url(/clients/DanceFactoryMN/Images/a-classes-registration.gif);
	width:157px;
}
#header ul li.parties a {
	background:url(/clients/DanceFactoryMN/Images/a-parties.gif);
	width:78px;
}
#header ul li.what a {
	background:url(/clients/DanceFactoryMN/Images/a-whats-new.gif);
	width:99px;
}
#header ul li.competition a {
	background:url(/clients/DanceFactoryMN/Images/a-competition.gif);
	width:103px;
}
#header ul li.contact {
	width:100px; /* this deals with an IE7 issue */
}
#header ul li.contact a {
	background:url(/clients/DanceFactoryMN/Images/a-contact-us.gif);
	width:100px;
}
#header ul li.current a {
	background:url(/clients/DanceFactoryMN/Images/a-current-students.gif);
	width:129px;
}
#header ul li a:hover{background-position:0 -45px;}
#header ul li.active a{background-position:0 -90px;}
#header ul li.active a:hover{background-position:0 -135px;}
/*-- content-bg --*/
.content-bg{
	float:left;
	width:1006px;
	background:url(/clients/DanceFactoryMN/Images/content-bg.gif) repeat-y;
}
/*-- content --*/
.content{
	position:relative;
	float:left;
	width:1006px;
	z-index:2;
}
/*-- left-column --*/
.left-column{
	position:relative;
	background:url(/clients/DanceFactoryMN/Images/left-column-head-bg.gif) no-repeat;
	float:left;
	width:280px;
	padding:179px 0 0;
}
h2.logo{
	position:absolute;
	display:inline;
	text-indent:-3000px;
	overflow:hidden;
	float:left;
	top:-117px;
	left:-9px;
}
h2.logo a{
	cursor:pointer;
	background:url(/clients/DanceFactoryMN/Images/logo.png) no-repeat;
	width:222px;
	height:229px;
	display:block;
}
h2.preschool-logo{
	position:absolute;
	display:inline;
	text-indent:-3000px;
	overflow:hidden;
	float:left;
	top:100px;
	left:88px;
}
h2.preschool-logo a{
	cursor:pointer;
	background:url(/clients/DanceFactoryMN/Images/pre-school-for-the-arts.png) no-repeat;
	width:181px;
	height:75px;
	display:block;
}

span.none-float{
	display:block;
	line-height:0;
	font-size:0;
}
.left-container{
	margin:0 0 0 13px;
	display:inline;
	width:267px;
	float:left;
	clear:both;
	padding:0 0 18px;
}
.left-container h2{
	text-indent:-3000px;
	overflow:hidden;
	float:left;
	width:267px;
	height:41px;
	background-repeat:no-repeat;
	font-size:0;
	line-height:0;
}
.left-container h2 span{
	width:226px;
	height:12px;
	float:left;
	display:inline;
	margin:12px 0 0 27px;
}
/*orange*/
.left-container h2.orange{ background:url(/clients/DanceFactoryMN/Images/left-container-orange-head.gif);}
.left-container h2.orange span.whats-new{background:url(/clients/DanceFactoryMN/Images/h2-whats-new-or.gif) no-repeat;}
.left-container h2.orange span.testimonials{background:url(/clients/DanceFactoryMN/Images/h2-testimonials-or.gif) no-repeat;}
.left-container h2.orange span.contact-us{ background:url(/clients/DanceFactoryMN/Images/h2-contact-us-or.gif) no-repeat;}
/*pink*/
.left-container h2.pink{ background:url(/clients/DanceFactoryMN/Images/left-container-pink-head.gif) no-repeat;}
.left-container h2.pink span.classes{ background:url(/clients/DanceFactoryMN/Images/h2-classes-registration-p.gif) no-repeat;}
.left-container h2.pink span.testimonials{ background:url(/clients/DanceFactoryMN/Images/h2-testimonials-p.gif) no-repeat;}
.left-container h2.pink span.about{ background:url(/clients/DanceFactoryMN/Images/h2-about-p.gif) no-repeat;}
.left-container h2.pink span.parties{ background:url(/clients/DanceFactoryMN/Images/h2-parties-p.gif) no-repeat;}
.left-container h2.pink span.what{ background:url(/clients/DanceFactoryMN/Images/h2-what-p.gif) no-repeat;}
.left-container h2.pink span.competition{ background:url(/clients/DanceFactoryMN/Images/h2-competition-p.gif) no-repeat;}
.left-container h2.pink span.contact{ background:url(/clients/DanceFactoryMN/Images/h2-contact-p.gif) no-repeat;}
/*green*/
.left-container h2.green { background:url(/clients/DanceFactoryMN/Images/left-container-green-head.gif);}
.left-container h2.green span.current{ background:url(/clients/DanceFactoryMN/Images/h2-current-students.gif) no-repeat;}
.left-container .text{
	background:#fff url(/clients/DanceFactoryMN/Images/left-container-foot.gif) no-repeat 0 100%;
	margin:0 0 0 15px;
	display:inline;
	float:left;
	width:218px;
	padding:8px 0 4px 20px;
}
/*-- left-navigation --*/
ul.left-navigation{
	float:left;
	padding:0 0 12px; 
	width:218px;
}
ul.left-navigation li a{
	font-size:12px;
	line-height:23px;
	color:#3d3d3d;
	text-decoration:none;
}
ul.left-navigation li a.active,
ul.left-navigation li a:hover{color:#e48d8b;}
.inner-3 ul.left-navigation li a.active,
.inner-3 ul.left-navigation li a:hover, .inner-3-sub ul.left-navigation li a.active,
.inner-3-sub ul.left-navigation li a:hover{color:#00626d;}
ul.left-navigation li{
	width:193px;
	float:left;
	padding:0 14px 0 0;
}
ul.left-navigation li.two-level{background:url(/clients/DanceFactoryMN/Images/gray-arrow.gif) no-repeat 100% 7px;}
ul.left-navigation li.active-li{background:url(/clients/DanceFactoryMN/Images/pink-arrow.gif) no-repeat 100% 7px;}
.inner-3 ul.left-navigation li.active-li, .inner-3-sub ul.left-navigation li.active-li{background:url(/clients/DanceFactoryMN/Images/green-arrow.gif) no-repeat 100% 7px;}
ul.left-navigation ul{
	float:left;
	width:193px;
	padding:0 0 0 11px;
}
ul.left-navigation ul li{width:182px;}
ul.left-navigation ul li a{
	color:#3d3d3d;
	font-size:11px;
	line-height:18px;
}
ul.left-navigation ul li a:hover,
ul.left-navigation ul li a.active{font-weight:bold;}
.left-container .text h3{
	font-weight:bold;
	font-size:12px;
	line-height:16px;
}
.left-container .text h3 span.date{
	padding:0 11px 0 0;
	font-weight:normal;
	color:#e76f00;
}
.left-container p{
	margin:0;
	padding:0 25px 10px 0;
	font-size:11px;
	line-height:14px;
}
.left-container em{
	padding:6px 0 0;
	display:block;
}
.left-container p.address{
	padding-top:3px;
	padding-bottom:13px;
}
.left-container p.address span{display:block;}
.left-container p.address span.phone{ padding:0 0 6px;}
.left-container a.more{
	display:inline;
	text-indent:-3000px;
	overflow:hidden;
	background-repeat:no-repeat;
	background-position:0 0;
	width:25px;
	height:25px;
	float:right;
	margin:-25px 3px 0 0;
}
.left-container a.orange-btn{ background:url(/clients/DanceFactoryMN/Images/more-btn-or.gif);}
.left-container a.pink-btn { background:url(/clients/DanceFactoryMN/Images/more-btn-pink.gif);}
.left-container a.more:hover{ background-position:0 -25px;}
/*-- right-column --*/
.right-column{
	background:url(/clients/DanceFactoryMN/Images/right-column-head-bg.gif) no-repeat;
	float:left;
	width:681px;
	padding:0 25px 50px 9px;
}
.inner-3 .right-column{
	float:left;
	background:url(/clients/DanceFactoryMN/Images/right-column-head-bg.jpg) no-repeat;
	padding-bottom:0;
}
.right-column h1{
	float:left;
	display:inline;
	margin:11px 0 0 5px;
	overflow:hidden;
	text-indent:-3000px;
	background:url(/clients/DanceFactoryMN/Images/h1-head-bg.png) no-repeat;
	width:663px;
	height:92px;
}
.bg-container{
	width:681px;
	float:left;
	background:url(/clients/DanceFactoryMN/Images/light-rays.gif) no-repeat 50% 85%;
}
.right-column h1 span{
	float:left;
	display:inline;
	width:576px;
	height:34px;
	margin:32px 0 0 52px;
}
.right-column h1 span.adult-programs{
	background:url(/clients/DanceFactoryMN/Images/h1-adult-programs.gif) no-repeat;
}
.right-column h1 span.pre-competitive-programs{
	background:url(/clients/DanceFactoryMN/Images/h1-precompetitive-programs.gif) no-repeat;
}
.right-column h1 span.competitive-programs{
	background:url(/clients/DanceFactoryMN/Images/h1-competitive-programs.gif) no-repeat;
}
.right-column h1 span.classes{
	background:url(/clients/DanceFactoryMN/Images/classes-registration.gif) no-repeat;
}
.right-column h1 span.music-together{
	background:url(/clients/DanceFactoryMN/Images/h1-music-together-classes.gif) no-repeat;
}
.right-column h1 span.summer-camps{
	background:url(/clients/DanceFactoryMN/Images/h1-summer-camps.gif) no-repeat;
}
.right-column h1 span.registration{
	background:url(/clients/DanceFactoryMN/Images/h1-registration.gif) no-repeat;
}
.right-column h1 span.the-dance-factory{
	margin:23px 0 0 80px;
	width:533px;
	height:44px;
	background:url(/clients/DanceFactoryMN/Images/h1-the-dance.gif) no-repeat;
}
.right-column h1 span.recreational-programs{
	background:url(/clients/DanceFactoryMN/Images/h1-recreational-prog.gif) no-repeat;
	width:562px;
	height:26px;
	margin:36px 0 0 62px;
}
.right-column h1 span.current-students {
	background:url(/clients/DanceFactoryMN/Images/h1-current-students.gif) no-repeat;
	width:500px;
	height:29px;
	margin:34px 0 0 85px;
}
.img-border {
	display:inline;
	float:left;
	padding:1px 0 7px 2px;
	margin:8px 62px 0 69px;
	background:url(/clients/DanceFactoryMN/Images/image-border.png) no-repeat;
	width:548px;
}
.img-border img {
	float:left;
	margin:0;
}
.right-column .copy-box {
	clear:left;
	margin:0;
	padding:13px 45px 0 48px;
}
.right-column .copy-box p {
	margin-top:10px;
}
.right-column p {
	margin:0;
}
.home .right-column p {
	width:545px;
	margin-left:24px;
}
.right-column.class-index p {
	float:left;
	padding:0 70px 0 80px;
	padding-top:23px;
	padding-bottom:7px;
	width:526px;
}
.right-column.class-detail p {
	line-height:14px;
	padding:0 70px 0 80px;
	width:526px;
}
.right-column h3.long-head{
	width:638px;
	margin:7px 0 0 43px;
}
.right-column h4{
  clear:both;
  font-size:15px;
  font-weight:bold;
  padding-top:18px;
  width:526px;
  padding-left:80px;
}  
.right-column .copy-box h4 {
	padding-left: 0
}
.right-column p.bold-green {
	display:block;
	color:#00626d;
	font-weight:bold;
	font-size:11px;
	line-height:14px;
	padding-top:6px;
	padding-bottom:3px;
}

table.time {
	margin:15px 0 0 80px;
	width:526px;
	float:left;
	border-collapse:collapse;
	display:block;
}
table.time thead tr {
	background:url(/clients/DanceFactoryMN/Images/time-table-head-line.gif) repeat-x 0 90%;
	line-height:22px;
	text-indent:-3000px;
}
table.time thead tr h4{background:url(/clients/DanceFactoryMN/Images/h4-class-day-time.gif) no-repeat; padding-top:0;}
table.time thead tr span{display:block;}
table.time thead tr span.teacher-bg{background:url(/clients/DanceFactoryMN/Images/span-teacher.gif) no-repeat;}
table.time thead tr span.status-bg{background:url(/clients/DanceFactoryMN/Images/span-status.gif) no-repeat;}
table.time td{text-align:left;}
table.time td.day-time{ width:339px;}
table.time td.teacher{width:150px;}
table.time td.status{
	width:37px;
	text-align:center;
}

table.time td span.full{
	font-weight:bold;
	color:#ca1b18;
}
table.time tbody td {
	border-bottom:1px solid #b7d3d6;
}
.right-column p.quote{
	float:left;
	width:480px;
	margin-top:20px;
	font-size:11px;
	line-height:14px;
	padding:0 0 0 64px;
	background:url(/clients/DanceFactoryMN/Images/left-quotation-marks.gif) no-repeat 25px 1px;
}
.right-column.class-detail p.quote{
	width:361px;
	margin-top:31px;
	font-size:11px;
	line-height:14px;
	padding:0 0 10px 115px;
	background:url(/clients/DanceFactoryMN/Images/left-quotation-marks.gif) no-repeat 81px 1px;
}
.right-column.class-detail h4.text {
	padding:15px 0 15px 80px;
	height:1em;
	text-indent:0;
	overflow:visible;
	line-height:1.5em;
	font-size:15px; /* 14p  */
}
.right-column h2 {
	margin-top:15px;
	font-size:20px;
	line-height:24px;
}
p.quote p {
	display:inline;
	padding:0;
	margin:0;
	width:365px;
}
span.r-quotation-mark{
	width:444px;
	float:left;
	background:url(/clients/DanceFactoryMN/Images/right-quotation-marks.gif) no-repeat 100% 2px;
	padding:0 36px 7px 0;
}
.right-column.class-detail span.r-quotation-mark{
	width:324px;
	float:left;
	background:url(/clients/DanceFactoryMN/Images/right-quotation-marks.gif) no-repeat 100% 2px;
	padding:0 36px 7px 0;
}
em.quote-author{
	line-height:14px;
	width:300px;
	float:left;
}
.box{
	float:left;
	width:276px;
	padding:0 0 3px 0;
}
.left-box{
	display:inline;
	margin:0 0 0 74px;
}

.right-column h3.recreational-programs{background:url(/clients/DanceFactoryMN/Images/h3-recreational-prog.gif) no-repeat;}
.right-column h3.adult-programs{ background:url(/clients/DanceFactoryMN/Images/h3-adult-programs.gif) no-repeat;}
.right-column h3.pre-competitive{ background:url(/clients/DanceFactoryMN/Images/h3-pre-competitive-programs.gif) no-repeat;}
.right-column h3.competitive{ background:url(/clients/DanceFactoryMN/Images/h3-competitive-programs.gif) no-repeat;}
.right-column h3.pre-school{ background:url(/clients/DanceFactoryMN/Images/h3-pre-school-cr-mov.gif) no-repeat;}

.right-column h3.text {
/*	float:left;
	height:1em;
	text-indent:0;
	overflow:visible;
	display:inline;
	line-height:1.5em;
	font-size:16px;*/


display:block;
float:none;
font-size:16px;
height:1em;
line-height:1.5em;
overflow:visible;
text-indent:0pt;
padding-top:15px;

}
.box ul{
	float:left;
	position:relative;
	margin:-9px 0 0;
	padding:0 0 11px 36px;
}
.box ul li{
	line-height:18px;
}
.box ul li span{color:#3d3d3d;}
.box ul li a{
	text-decoration:none;
	color:#e76f00;
}
.box ul li a:hover{ text-decoration:underline;}
/*-- classes-note --*/
.classes-note{
	position:relative;
	float:left;
	display:inline;
	width:277px;
	height:255px;
	background:url(/clients/DanceFactoryMN/Images/paper-bg.gif) no-repeat;
	margin:6px 0 0 22px;
	overflow:hidden;
}
.inner-3 h3{
	height:17px;
}
.classes-note h3{
	width:250px;
	margin:51px 0 10px 16px;
	background:url(/clients/DanceFactoryMN/Images/h3-classes-notes.gif) no-repeat;
}
.classes-note p {
	padding:0 21px 0 17px;
}
.classes-note ul{
	float:left;
	width:250px;
	padding:12px 0 0 16px;
}
.classes-note ul li{
	padding:5px 0 0;
	line-height:17px;
	font-weight:bold;
	color:#3d3d3d;
}
.classes-note ul li .date{
	color:#e76f00;
}
.photos{
	float:left;
	background:url(/clients/DanceFactoryMN/Images/photos-bg.jpg) no-repeat;
	width:131px;
	height:272px;
	display:inline;
	margin:4px 0 0 -29px;
}
.recital-info{
	margin:6px 0 0;
	float:left;
	width:266px;
	height:270px;
	background:url(/clients/DanceFactoryMN/Images/pink-paper-bg.jpg) no-repeat;
}
.recital-info h3{
	margin:39px 0 10px 17px;
	width:200px;
	background:url(/clients/DanceFactoryMN/Images/h3-recital-info.gif) no-repeat;}
.recital-info p{
	line-height:15px;
	font-weight:bold;
	color:#3d3d3d;
	padding:12px 40px 16px 16px;
	margin:0;
}
.gallery{
	position:relative;
	display:inline;
	margin:0 0 -42px 27px;
	background:url(/clients/DanceFactoryMN/Images/gallery.jpg) no-repeat;
	width:411px;
	height:265px;
	float:left;
}
.gallery a{
	margin:150px 0 0;
	width:140px;
	height:60px;
	float:right;
	display:block;
	overflow:hidden;
	text-indent:-3000px;
}
.gallery-photos {
	padding:20px 10px 20px 33px;
	background:none;
}
.right-column .copy-box .gallery-photos p {
	margin-top:0px;
	margin-bottom:15px;
	line-height:1.2em;
	padding-left:6px;
	margin-right:-6px;
}
.calendar{
	display:inline;
	margin:-15px 0 0 36px;
	background:url(/clients/DanceFactoryMN/Images/blue-paper-bg.jpg) no-repeat;
	width:207px;
	height:224px;
	float:left;
}
.calendar h3{
	margin:34px 0 10px 15px;
	background:url(/clients/DanceFactoryMN/Images/h3-calendar.gif) no-repeat;
	width:185px;
}
.calendar p{
	line-height:15px;
	color:#3d3d3d;
	font-weight:bold;
	padding:12px 8px 3px 16px;
	margin:0;
}
a.more-info{
	float:right;
	width:84px;
	height:25px;
	text-indent:-3000px;
	overflow:hidden;
	line-height:0;
	font-size:0;
	display:inline;
	background-repeat:no-repeat;
	background-position:0 0;
}
a.green{
	margin:10px 60px 0 0;
	background:url(/clients/DanceFactoryMN/Images/a-more-info-green.gif);}
a.pink-btn{
	margin:32px 0 0 50px;
	float:left;
	width:74px;
	background:url(/clients/DanceFactoryMN/Images/register-btn.gif);
}
a.yelow-btn{
	margin:0 18px 0 0;
	background:url(/clients/DanceFactoryMN/Images/more-btn-yel.gif);
}
a.pink-btn-info{
	margin:0 29px 0 0;
	background:url(/clients/DanceFactoryMN/Images/more-inf-btn-pink.gif);
}
a.green-btn-info{
	margin:30px 12px 0 0;
	background:url(/clients/DanceFactoryMN/Images/more-btn-gr.gif);
}
a.more-info:hover{background-position:0 -25px;}
/*-- link-container --*/

/* modified and then reverted
.link-container{
	position:relative;
	width:216px;
	height:163px;
	left:270px;
	top:0;
}
*/
/* original link-container settings */
.link-container{
	position:absolute;
	width:216px;
	height:163px;
	bottom:-118px;
	right:231px;
	z-index:3;
}


* html .link-container{ bottom:-119px;}

.link-container a{
	text-indent:-3000px;
	overflow:hidden;
	float:right;
	font-size:0;
	line-height:0;
}
.link-container a.right{
	width:142px;
	height:163px;
}
.link-container a.left{
	margin:20px 0 0;
	width:74px;
	height:78px;
}
.link-container a.sign-up{background:url(/clients/DanceFactoryMN/Images/sign-up-now.gif) no-repeat;}
.link-container a.register-now{ background:url(/clients/DanceFactoryMN/Images/register-now-or.gif) no-repeat;}
.link-container a.left{background:url(/clients/DanceFactoryMN/Images/dancing-is-fun.gif) no-repeat;}
.link-container a.dancing{ background:url(/clients/DanceFactoryMN/Images/dancing-is-fun-or.gif) no-repeat;}
.link-container a.star{background:url(/clients/DanceFactoryMN/Images/star.gif) no-repeat;}
.link-container a.i-love-df{ background:url(/clients/DanceFactoryMN/Images/i-love-df.gif) no-repeat;}
.link-container a.star-sub{background:url(/clients/DanceFactoryMN/Images/star-sub.gif) no-repeat;}
.link-container a.i-love-df-sub{ background:url(/clients/DanceFactoryMN/Images/i-love-df-sub.gif) no-repeat;}

/*-- footer --*/
.footer{
	position:relative;
	height:357px;
	float:left;
	background:url(/clients/DanceFactoryMN/Images/footer-bg.gif) no-repeat;
	width:1006px;
	margin:-238px 0 0; /*  modified setting: -356px 0 0  */
	z-index:1;
}
.inner-3 .footer{
	background:url(/clients/DanceFactoryMN/Images/footer-bg-inner-3.jpg) no-repeat;}
.rays{
	display:inline;
	margin:0 44px 0 0;
	background:url(/clients/DanceFactoryMN/Images/bottom-light-rays.gif) no-repeat;
	float:right;
	width:295px;
	height:284px;
}
.footer ul{
	padding:246px 0 0 15px;
	width:530px;
	float:left;
}
.footer ul li{
	color:#878787;
	font-size:11px;
	margin:0 4px 0 0;
	padding:0 5px 0 0;
	background:url(/clients/DanceFactoryMN/Images/link-seporator.gif) no-repeat 100% 50%;
	float:left;
	display:inline;
}
.footer ul li a{
	color:#878787;
	text-decoration:none;
}
.footer ul li a:hover{ text-decoration:underline;}
.footer ul li.non-seporator{ background:none;}
hr {
	clear:both;
	border-left:medium none;
	border-right:medium none;
	border-top:medium none;
	height:1px;
	padding-top:20px;

}
/*label {
	float:left;
	padding-right:5px;
	text-align:right;
	width:70px;
}*/
#contactform, #contactform div {
	width:400px;
}
#contactform p {
	/*padding-top:10px;*/
	clear:both;
}
form, label, form p, span, .error, textarea {
	font-family:Arial, Helvetica, sans-serif;
}
input.text, textarea, select {
	width:220px;
}
input.checkbox {
	margin:0 8px 0 0;
	float:left;
	}
textarea {
	height:130px;
	font-size:12px;
	}
input.medium {
	width:110px;
}
input.narrow {
	width:30px;
}
form .required, .error {
}
p.errors, div.errors {
	color:#ca1b18;
	padding-bottom:5px;
}
#right-column-content form p {
	width:400px;
	clear: both;
	padding-top:10px;
}
#right-column-content form ul {
	padding-top:15px;
	float:left;
	width:400px;
}
form p label {
	float:left;
	text-align:right;
	padding-right:5px;
}
form p label.left {
	text-align:left;
}
form p label.narrow {
	width:70px;
}
form p input.text, form p textarea, form p select {
	/*float:right;*/
}
.wide, input.text.wide {
	clear:both;
	float:left;
	width:296px;
	margin-bottom:10px;
}
#cfState {
	width:20px;
	margin-right:300px;
}
#cfDoctor {
	margin-bottom:9px;
}
#cfsubject {
	height:1.35em;
	overflow:hidden;
}
.submit {
	margin-top:10px;
}


