.xoopscode {
	BORDER-RIGHT: 1px dashed; PADDING-RIGHT: 5px; BORDER-TOP: 1px dashed; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; BORDER-LEFT: 1px dashed; PADDING-TOP: 0px; BORDER-BOTTOM: 1px dashed
}
.xoopsquote {
	BORDER-RIGHT: 1px dashed; PADDING-RIGHT: 5px; BORDER-TOP: 1px dashed; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; BORDER-LEFT: 1px dashed; PADDING-TOP: 0px; BORDER-BOTTOM: 1px dashed
}
BODY {
	DIRECTION: ltr; unicode-bidi: embed
}
