
<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
<head runat="server">
<asp:ContentPlaceHolder id="MasterHead" runat="server"></asp:ContentPlaceHolder>
<meta property="og:title" content="title" />
<meta property="og:description" content="description" />
<meta property="og:image" content="http://tix.com/images/TixLogo128x128.gif"/>
<meta property="og:image:secure_url" content="https://tix.com/images/TixLogo128x128.gif" />
<meta property="og:image:type" content="image/jpeg" />
</head>
<body>
<form id="form1" runat="server">
<div>

<head>




		<!-- bootstrap-->
	<link rel="stylesheet" href="/clients/chaffeytheatrecompany/assets/css/bootstrap.min.css">
		<link rel="stylesheet" href="/clients/chaffeytheatrecompany/assets/css/bootstrap-theme.min.css">
	<!--font awesome-->
	<link rel="stylesheet" href="/clients/chaffeytheatrecompany/assets/css/font-awesome.css">
		<link rel="stylesheet" href="/clients/chaffeytheatrecompany/assets/css/font-awesome.min.css">

	<!--custom css-->
	<link rel="stylesheet" href="/clients/chaffeytheatrecompany/assets/style.css">
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700|Open+Sans:400,600,700" rel="stylesheet">
</head>

<body>
<header class="hero">
<div class="container">
	<div class="row">
		<div class=" col-md-6">
			<img height="246" src="/clients/chaffeytheatrecompany/assets/images/20th.png" border="0" />
		</div>
		<div class="col-md-6 hidden-xs hidden-sm">
		<div class="masthead"><br><br>
			<img src="/clients/chaffeytheatrecompany/assets/images/logo.png" width="375">
			<p>"Enriching the lives of theater-goers<br> and theater-doers of all ages, by pausing life through<br> the magic of live theater."</p>
		<hr>
		<p>for more information call<br>
(909)988-5560 ext 2247</p>
<hr>
<div class="social">
	<ul>
		<li><a href="https://www.facebook.com/Chaffey-High-School-Theatre-Co-132234036932/"><i class="fa fa-facebook fa-2x"></i></a></li>
		<li><a href="http://www.twitter.com/"><i class="fa fa-tumblr  fa-2x"></i></a></li>
		<li><a href="http://www.instagram.com/"><i class="fa fa-instagram fa-2x"></i></a></li>
		<li><a href="http://www.youtube.com/"><i class="fa fa-youtube-square fa-2x"></i></a></li>
	</ul>
</div>
		</div>
		</div>
	</div>
		<div class="row">
		<div class=" col-md-8">
		
			<div class="navbar navbar-custom">
				
				<nav class="navbar navbar-custom" role="navigation">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
							<span class="sr-only">Toggle navigation</span>
					<i class="fa fa-bars fa-2x"></i>
						</button>
						
					</div>
				
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse navbar-ex1-collapse">
						<ul class="nav navbar-nav">
					<li class="active">
						<a href="http://www.chaffeytheatrecompany.com/">Home</a>
					</li>
					<li>
						<a href="http://www.chaffeytheatrecompany.com/about">About </a>
					</li>
								<li>
						<a href="http://www.chaffeytheatrecompany.com/gallery">Gallery</a>
					</li>
								<li>
						<a href="http://www.chaffeytheatrecompany.com/contact">Contact</a>
					</li>
								<li>
						<a href="http://www.chaffeytheatrecompany.com/chs-thespians">CHS Thespians </a>
					</li>
				</ul>
					
		
					</div><!-- /.navbar-collapse -->
				</nav>
				
	
			</div>
			
		</div>
			<div class=" col-md-4">
		

		</div>
	</div>
</div>
</header>
<section>
	
	<div class="container">
		
		<div class="row">
			
			<div class="content col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<asp:ContentPlaceHolder id="MasterContent" runat="server"></asp:ContentPlaceHolder>

			</div>
			
		</div>
		
	</div>
	
</section>
<footer class="footer">
		<div class="container">
		
		<div class="row">
			
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
				<ul >
					<li>
						<a href="http://www.chaffeytheatrecompany.com/">Home</a>
					</li>
					<li>
						<a href="http://www.chaffeytheatrecompany.com/about">About </a>
					</li>
								<li>
						<a href="http://www.chaffeytheatrecompany.com/gallery">Gallery</a>
					</li>
								<li>
						<a href="http://www.chaffeytheatrecompany.com/contact">Contact</a>
					</li>
								<li>
						<a href="http://www.chaffeytheatrecompany.com/chs-thespians">CHS Thespians </a>
					</li>
				</ul>
				<p>Copyright &#169; All Rights Reserved chaffeytheatrecompany.com</p>
			</div>
			
		</div>
		
	</div>
</footer>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="/clients/chaffeytheatrecompany/assets/js/bootstrap.min.js"></script>
</div>
</form>
</body>
</html>
