.widget--event-listing-filter > h3
{
    text-transform: uppercase;
    font-size: 2.2rem;
    margin-bottom:.5em;
}
.widget--event-listing-filter .clear-form 
{
    display:block;
    margin-left:1em;
}

.event-calendar-search-adv input[type="text"] 
{
    width:80%;
}