.most-recent 
{
    background-color:white;
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
}

.most-recent .title 
{
    color:#6d6d6d;
    text-transform:uppercase;
    font-weight:bold;
    font-size:1em;
    letter-spacing:0.05em;
}

.most-recent .summary
{
    color:#6d6d6d;
    font-size:1em;
    letter-spacing:0.05em;
}

.most-recent .blogLanding 
{
    background: url(/_static/img/learn_more_arrow_black.png) left top no-repeat;
	border: 0;
	display: inline-block;
	height: 22px;
	line-height: 1 !important;
	padding: 4px 0 0 27px;
	text-decoration: none;
}


