/* **********
*
*
*     Interior-specific styles - 0-519px Resolution
*
*
********** */

/* ********** header ********** */

#headerImage {
	position: relative;
}
#headerCopy {
	left: 0;
	position: absolute;
	top: 30%;
	z-index: 1;
}
#headerSmall #headerCopy {
	bottom: 0;
	top: auto;
}
#headerCopy .container {
	background: url(/clients/Atlanta/Images/header_copy_background.png) repeat;
	display: inline-block;
	padding: 10px;
}

#headerMedium #headerCopy {
	color: #fff;
}
#headerCopy p {
	display: none;
}
#headerImage img {
	width: 100%;
	position: relative;
	z-index: 0;
}
#headerRedBox {
	display: none;
}
#headerMedium .secondarySlider {
	display: none;
}

/* ********** secondaryTiles ********** */

.intro {
	font-size: 1.4rem;
}
.intro p {
	line-height: 1.5;
}
.redBar {
	color: #fff;
	background: #dd1c23;
	padding: 5px;
}
.listingDetails .memberMemberDetails {
    padding-top: 5px;
}
.formSpacing td {
    padding-bottom: 5px;
}
.videoWrapper {
	height: 0;
	padding: 25px 0 57.25% 0;
	position: relative;
	z-index: 0;
}
.videoWrapper iframe {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
.featured {
	overflow: hidden;
	position: relative;
}
.featured img {
	left: 0;
	position: absolute;
	top: 0;
	z-index: 0;
	width: 50%;
}
.featured .secondaryTileCopy {
	background: #fff;
	float: right;
	position: relative;
	width: 60%;
	z-index: 1;
}
.featured .secondaryTileCopy .learnMore {
	margin: 0;
}

.collectionContent {
    display:block;
}

.featuredArrow {
	background: url(../img/featured_arrow.png);
	height: 30px;
	left: -15px;
	position: absolute;
	top: 15px;
	width: 15px;
}
.memberPager {
	font-weight: bold;
	font-size: 1.6rem;
	letter-spacing: 1px;
	margin: 0 0 11px 0;
	text-transform: uppercase;
}
.secondaryTile.redBorder {
	border-top: 7px solid #dd1e25; 
	border-bottom: 4px solid #dd1e25;
}
.listingImage {
	display: none;
}
.listingDetails ul {
	margin-bottom: 11px;
}
.blog .subtitle {
	text-transform: uppercase;
}
.blog .subtitle span {
	font-weight: bold;
}
.listingPrice {
	color: #00a222;
	display: block;
	font-weight: bold;
	margin: 0 0 11px 0;
	text-transform: uppercase;
}
.listingDetails address {
	margin: 0 0 11px 0;
}
/*.secondaryTile.listing .learnMore {
	margin: 0 0 10px 10px;
}*/
.pageSubNav {
	background: #6d6d6d;
	border: 0;
	color: #fff;
	padding: 0 0 7px 0;
	text-transform: uppercase;
}
.pageSubNav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.pageSubNav a {
	color: #fff;
	display: block;
	padding: 3px 10px;
	text-decoration: none;
}
.pageSubNav a:hover {
	background: #505050;
}
.pageSubNav .menu-children {
    font-size: .85em;
    margin-left: 10px;
}

#header .pageSubNav {
    height: 72px;
    opacity: .95;
}

#header .pageSubNav .selected {
	background: #505050;
}

#header .pageSubNav li {
    display:inline-block;
    min-width: 100px;
	margin: 0 5px 0 5px;
}

#header .pageSubNav a {
    text-align: center;
    padding: 0 10px;
}

.featuredListing {
	display: none;
}
.neighborhoodArea {
	background: #fff;
	border: 1px solid #C4C4C4;
	border-bottom: 4px solid #C4C4C4;
	overflow: visible;
	position: relative;
	height: 537px;
}
.neighborhoodAreaContent {
	padding: 10px;
}

.mapLink {
    background-image: url(/uploadedImages/Content/mapviewactive.png);
    background-repeat: no-repeat;
    width: 100%;
}

.mapLink p {
    padding-left: 20px;
    padding-top: 3px;
    cursor:pointer;
    width: 100px;
}

.unit #direction.secondaryTile:last-child {
	margin-bottom: 8px;
}

/* ********** Map View *********** */
#map-canvas {
    margin: 0 25px;
    height: 500px;
}


.MemberDistance {
    margin-top: 10px;
}

.MemberDistance a {
    text-decoration: none;
    color: #909091;
}

.distance-diff {
    margin-top: 3px;
    color: #6d6d6d;
    font-weight: 600;
}

/* **********
*
*
*     Interior-specific styles - 520px+ Resolution
*
*
********** */

@media screen and (min-width: 520px) {
/* ********** header ********** */

#headerCopy {
	top: 50%;
}

/* ********** secondaryTiles ********** */

.large, .large .secondaryTile {
	height: 710px;
}
.medium, .medium .secondaryTile {
	height: 350px;
}
.small, .small .secondaryTile {
	height: 172px;
}
.xlarge, .xlarge .secondaryTile {
	height: 493px;
}
    .two .xlarge .secondaryTile,
    .two .xlarge {
        height:auto;
    }
.unitTwoAds, .unitTwoAds .secondaryTile {
	height: 518px;
}
.redBar {
	padding: 10px;
}
.featured img {
	width: 60%;
}
.featured .secondaryTileCopy {
	width: 60%;
}
.secondaryTile.redBorder {
	border: 1px solid #dd1e25;
	border-top: 7px solid #dd1e25; 
	border-bottom: 4px solid #dd1e25;
}
.listingImage {
	display: block;
	float: left;
}
.listingImage {
	width: 20%;
}
.listingImage img {
	box-shadow: 0 0 5px #666;
	padding: 3px;
	max-width: 106px;
}
.listingDetails {
	float: right;
	width: 78%;
}
.listingDetails ul {
	-webkit-column-count: 2;
    -webkit-column-gap: 20px;
	-moz-column-count: 2;
    -moz-column-gap: 20px;
	column-count: 2;
    column-gap: 20px;
	list-style: none;
	margin: 0;
}
.member-links ul {
	list-style: none;
	margin: 0;
}
.listing li {
	padding: 0 0 11px 0;
}
.listing ul span {
	font-weight: bold;
	text-transform: uppercase;
}
.listing p {
	line-height: 1.5;
}
.relatedArticle p {
	line-height: 1.5;
}
.relatedArticle img {
	box-shadow: 0 0 5px #666;
	padding: 3px;
	max-width: 279px;
	width: 100%;
}
.member-sidebar {
	font-size: 1.4rem;
	font-weight: bold;
	line-height: 2;
}
/*.secondaryTile.listing .learnMore {
	position: absolute;
	top: 10px;
	right: 10px;
}*/



}

/* **********
*
*
*     Interior-specific styles - 740px+ Resolution
*
*
********** */

@media screen and (min-width: 740px) {
/* ********** header ********** */

#headerCopy p {
	color: #323232;
	display: block;
	font-size: 1.6rem;
	font-weight: bold;
	letter-spacing: 1px;
	max-width: 400px;
}
#headerMedium .secondarySlider {
	margin-top: 300px;
}
#headerMedium .secondarySlider .slide {
	border: 1px solid #c4c4c4;
}
#headerMedium #headerCopy p {
	color: #fff;
}
#headerRedBox {
	display: block;
}
#headerMedium .secondarySlider {
	display: block;
}
#headerMedium .secondarySlider img {
	float: left;
	width: 35%;
}
#headerMedium .secondarySlider .secondarySliderCopy {
	float: left;
	padding: 10px;
	width: 65%;
}

/* ********** secondaryTiles ********** */

.ten .listingImage {
	width: 17%;
}
.ten .listingDetails {
	width: 83%;
}
.featured img {
	width: 40%;
}
.featured .secondaryTileCopy {
	width: 60%;
}
.secondaryTile.redBorder {
	position: relative;
}
.featuredListing {
	background: #dd1e25;
	color: #fff;
	display: inline-block;
	font-size: 1.6rem;
	font-weight: bold;
	padding: 5px 20px 10px 20px;
	position: absolute;
	right: 10px;
	text-transform: uppercase;
	top: 0;
}
.listing.redBorder .secondaryTileCopy h2 {
	width: 60%;
}
.member-description {
	line-height: 1.5;
	padding: 0 20px 0 0;
}
.eventDescription {
	line-height: 1.5;
}
.eventBottomLinks a {
	margin: 0 0 3px 0;
}
/*.secondaryTile.listing .learnMore {
	position: absolute;
	top: 20px;
	right: 20px;
}*/

/* ******* Mapping ******* */

#map-canvas {
    margin: 0;
}

}

@media screen and (min-width: 960px) {
/* ********** header ********** */

#headerCopy {
	left: 50%;
	margin-left: -480px;
	position: absolute;
	top: 130px;
	width: 960px;
}
#headerCopy .container {
	padding: 10px 20px;
	width: auto;
}
#headerSmall #headerCopy {
	bottom: auto;
	top: 120px;
}

body.wireframe--landing-3col #headerCopy .container
{
    background:none;
    margin-left:14em;
}
body.wireframe--landing-3col #headerCopy .container h1
{
    color: #fff;
    text-shadow: 2px 2px 5px #000;
}
body.wireframe--landing-3col #headerCopy .container p {
    color: #fff;
    text-shadow: 1px 1px 3px #000;
    margin: 1em 0 0 4em;
}


/* ********** header image ********** */
/* Image height default*/
#headerImage {
    height:346px;
}
    #headerImage .image-wrap
    {
        width:100%;
        overflow:hidden;
    }
        #headerImage .image-wrap img {
            left: 50%;
            margin-left: -960px;
	        width: auto;
            height:346px;
        }
/* image height template defaults */
body.wireframe--landing #headerImage,
body.wireframe--landing #headerImage .image-wrap img {
    height:460px;
}
/* image height overrides */
body.header-image-height-346px #headerImage,
body.header-image-height-346px #headerImage .image-wrap img {
    height:346px;
}
body.header-image-height-460px #headerImage,
body.header-image-height-460px #headerImage .image-wrap img {
    height:460px;
}
body.header-image-height-650px #headerImage,
body.header-image-height-650px #headerImage .image-wrap img {
    height:650px;
}
body.header-image-height-778px #headerImage,
body.header-image-height-778px #headerImage .image-wrap img {
    height:778px;
}

/* ********** secondaryTiles ********** */

.featured .secondaryTileCopy {
	line-height: 1.5;
	height: 172px;
}
.featured img {
	width: 30%;
}
.featured .secondaryTileCopy {
	width: 75%;
}
.neighborhoodAreaContent {
	padding: 10px 0 7px 490px;
}

}

/* **********
*
*
*     Interior-specific styles - <= 1440px Resolution
*
*
********** */

@media screen and (min-width: 1920px) {
    /* ********** header ********** */
    #headerImage
    {
        height:auto !important;
    }
    #headerImage .image-wrap img {
	    position:relative;
        left:auto;
        margin-left:0;
        width: 100%;
        height:auto !important;
    }
}