/* **********
*  Widgets.css
*
*  This stylesheet is responsible for defining the generic styles
*  associated with widgets.
*
********** */

.widget {
	width: 100%;
	line-height:1.25;
}
	.widget .content
	{
		position: relative;
	}

	.widget .content section
	{
	}

        .widget .content section.secondaryTile.dark
        {
            color:#fff;
            background-color:#303030;
        }

		.widget .content section .secondaryTileCopy
		{
			padding: 10px;
		}

		.widget .content section.widget--content-view > img
		{
			display:none;
		}

		.widget .content section.title-white-text-on-red > h2,
        .widget .content section.featured-content > h2
		{
			color: #fff;
			background: #dd1c23;
			padding: 2%;
		}
        .widget .content section.widget--content-view.featured-post
		{
			height:172px;
		}
.widget--adtech {
	text-align: center;
}
@media screen and (max-width:960px)
{
    .widget .video-container
    {
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 30px;
        height: 0;
        overflow: hidden;
    }

        .widget .video-container iframe,
        .widget .video-container object,
        .widget .video-container embed
        {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
}


@media screen and (min-width: 520px)
{
	.widget .content section.widget--content-view > img
	{
		display: block;
		width: 100%;
	}

	.widget .content section.headerimage > h2,
	.widget .content section.title-with-image > h2
	{
		background: #fff;
		left: 0;
		margin: 0 0 11px 0;
		padding: 2% 5%;
		position: absolute;
		top: 10px;
		width: 60%;
		z-index: 1;
	}

	.widget .content section.title-white-text-on-red > h2,
    .widget .content section.featured-content > h2
	{
		padding:3%;
        font-size:1.8rem;
	}

    .widget .content section.widget--content-view.featured-post > h2
	{
		width:70%;
        font-size:1.8rem;
		padding-top: 4%;
        padding-left: 2%;
        float:right;
	}

    .widget .content section.widget--content-view.featured-post > img
	{
        display:inline-block;
		width:30%;
        height:100%;
        float:left;
	}

    .widget .content section.widget--content-view.featured-post > .secondaryTileCopy
    {
        margin:0px;
        float:right;
        width:70%;
		padding: 0 20px 0 2%;
    }

    .unit.four .unit .widget .content section.widget--content-view.featured-post > img
    {
        width:44%;
    }

    .unit.four .unit .widget .content section.widget--content-view.featured-post > h2,
    .unit.four .unit .widget .content section.widget--content-view.featured-post > .secondaryTileCopy
    {
        width:56%;
    }
}

@media screen and (min-width: 740px)
{
}

@media screen and (min-width: 960px)
{
	.widget .content section .secondaryTileCopy {
		padding: 20px;
		line-height: 1.5;
	}
	.widget .content section.small .secondaryTileCopy {
		padding: 0 20px;
	}
    .two .widget .content section > h2 {
        font-size:1.5rem;
        padding:10px 10px 7px;
    }
	.two .widget .content section .secondaryTileCopy {
		padding: 10px;
	}
}

@media screen and (min-width: 1440px)
{
}