body {
background-color: #ffffff;
background-image: url(/clients/dineoutdayton/images/paper-back.jpg);
background-position: top left;
background-repeat: repeat;
font-family: "PT Sans", Arial, sans-serif;
font-size: 16px;
line-height: 20px;
color: #474747;
font-weight: normal;
font-style: normal;
text-decoration: none;
}

#logo-container {
margin-top: 20px;
margin-bottom: 20px;
}

h1, h1 a, h1 a:hover, h1 a:visited {
font-family: "PT Sans Narrow", Arial, sans-serif;
font-size: 36px;
line-height: 42px;
color: #104972;
font-weight: normal;
font-style: normal;
text-decoration: none;
}

h2, h2 a, h2 a:hover, h2 a:visited {
font-family: "PT Sans Narrow", Arial, sans-serif;
font-size: 30px;
line-height: 36px;
color: #104972;
font-weight: normal;
font-style: normal;
text-decoration: none;
}

h3, h3 a, h3 a:hover, h3 a:visited {
font-family: "PT Sans", Arial, sans-serif;
font-size: 24px;
line-height: 30px;
color: #104972;
font-weight: normal;
font-style: normal;
text-decoration: none;
}

h4, h4 a, h4 a:hover, h4 a:visited {
font-family: "PT Sans Narrow", Arial, sans-serif;
font-size: 18px;
line-height: 24px;
color: #104972;
font-weight: normal;
font-style: normal;
text-decoration: none;
}

h5, h5 a, h5 a:hover, h5 a:visited {
font-family: "PT Sans Narrow", Arial, sans-serif;
font-size: 14px;
line-height: 18px;
color: #104972;
font-weight: normal;
font-style: normal;
text-decoration: none;
}

h6, h6 a, h6 a:hover, h6 a:visited {
font-family: "BitterBold", Arial, sans-serif;
font-size: 12px;
line-height: 15px;
color: #104972;
font-weight: normal;
font-style: normal;
text-decoration: none;
}

blockquote {
font-family: "PT Serif", Arial, sans-serif;
font-size: 20px;
line-height: 26px;
color: #000000;
font-weight: normal;
font-style: italic;
text-decoration: none;
}

a {
color: #6e6e6e;
font-weight: bold;
font-style: normal;
text-decoration: none;
}

a:hover {
color: #4162d1;
font-weight: bold;
font-style: normal;
text-decoration: none;
}

h1.multi-post-title, h1.multi-post-title a, h1.multi-post-title a:hover, h1.multi-post-title a:visited {
padding-left: 0px;
background-position: top left;
background-repeat: repeat;
font-family: "Lucida Sans Unicode","Lucida Grande",Garuda,sans-serif;
font-size: 36px;
line-height: 42px;
color: #A20035;
font-weight: normal;
font-style: normal;
text-decoration: none;
}

.multi-post-title {
border-width: 0px;
border-style: none;
}

div.post-inner, .post-inner-single {
padding-top: 0px;
padding-bottom: 0px;
background-position: top left;
background-repeat: repeat;
border-width: 0 0 1px 0px;
border-style: dotted;
}

.post-inner, .post-inner-single {
border-color: #d3d3d3;
}

.post-header {
padding-left: 0px;
background-position: top left;
background-repeat: repeat;
border-width: 0px;
border-style: none;
}

div.post-meta {
background-position: top left;
background-repeat: repeat;
}

.post-meta {
border-width: 0px;
border-style: none;
padding-top: 0px;
padding-bottom: 0px;
}

h2.post-header, h2.post-header a, h2.post-header a:hover, h2.post-header a:visited {
font-family: "BitterBold", Arial, sans-serif;
font-size: 30px;
line-height: 36px;
color: #104972;
font-weight: normal;
font-style: normal;
text-decoration: none;
}

div.post-meta, div.post-meta a {
font-family: "Marvel", Arial, sans-serif;
font-size: 12px;
line-height: 16px;
color: #104972;
font-weight: normal;
font-style: normal;
text-decoration: none;
}

div.post-taxonomy span {
font-family: Tahoma,Geneva,Kalimati,sans-serif;
font-size: 12px;
line-height: 15px;
color: #000000;
font-weight: normal;
font-style: normal;
text-decoration: none;
}

div.post-taxonomy a {
font-family: Tahoma,Geneva,Kalimati,sans-serif;
font-size: 12px;
line-height: 15px;
color: #000000;
font-weight: normal;
font-style: normal;
text-decoration: none;
}

a.readmorecontent {
font-family: "Marvel", Arial, sans-serif;
font-size: 14px;
line-height: 18px;
color: #104972;
font-weight: normal;
font-style: normal;
text-decoration: overline;
}

h3#comments_title, h3#comments_title a, h3#comments_title a:hover, h3#comments_title a:visited {
font-family: "Yanone Kaffeesatz", Arial, sans-serif;
font-size: 20px;
line-height: 25px;
color: #484848;
font-weight: normal;
font-style: normal;
text-decoration: none;
}

cite.comment_author {
font-family: "Trebuchet MS",Helvetica,Jamrul,sans-serif;
font-size: 14px;
line-height: 18px;
color: #484848;
font-weight: normal;
font-style: normal;
text-decoration: none;
}

div.comment_time {
font-family: "Trebuchet MS",Helvetica,Jamrul,sans-serif;
font-size: 12px;
line-height: 15px;
color: #484848;
font-weight: normal;
font-style: normal;
text-decoration: none;
}

div.comment_text {
font-family: Tahoma,Geneva,Kalimati,sans-serif;
font-size: 12px;
line-height: 15px;
color: #666666;
font-weight: normal;
font-style: normal;
text-decoration: none;
}

a.comment-reply-link, a.cancel-comment-reply-link {
font-family: Tahoma,Geneva,Kalimati,sans-serif;
font-size: 12px;
line-height: 15px;
color: #484848;
font-weight: normal;
font-style: normal;
text-decoration: none;
}

h3.respond, h3.respond a, h3.respond a:hover, h3.respond a:visited {
font-family: "Yanone Kaffeesatz", Arial, sans-serif;
font-size: 20px;
line-height: 25px;
color: #484848;
font-weight: normal;
font-style: normal;
text-decoration: none;
}

form#commentform label {
font-family: Tahoma,Geneva,Kalimati,sans-serif;
font-size: 12px;
line-height: 15px;
color: #000000;
font-weight: normal;
font-style: normal;
text-decoration: none;
}

div.breadcrumbs-plus p span, div.breadcrumbs-plus p, div.breadcrumbs-plus p a {
font-family: Tahoma,Geneva,Kalimati,sans-serif;
font-size: 12px;
line-height: 15px;
color: #404ddb;
font-weight: normal;
font-style: normal;
text-decoration: none;
}

div.breadcrumbs-plus p span.breadcrumbs-title {
color: #000000;
font-weight: normal;
font-style: normal;
text-decoration: none;
}

div.breadcrumbs-plus p strong {
color: #000000;
font-weight: normal;
font-style: normal;
text-decoration: none;
}

.wp-pagenavi a, .wp-pagenavi span {
font-family: Tahoma,Geneva,Kalimati,sans-serif;
font-size: 12px;
line-height: 15px;
color: #000000;
font-weight: normal;
font-style: normal;
text-decoration: none;
}

.wp-pagenavi span.current {
color: #000000;
font-weight: normal;
font-style: normal;
text-decoration: none;
}

.wfm-mega-menu {
margin-top: 10px;
margin-bottom: 0px;
}

.wfm-mega-menu ul li:hover, .wfm-mega-menu ul li .sub-container {
background-color: #aacae0;
}

.wfm-mega-menu ul li .sub li.mega-hdr a.mega-hdr-a {
background-color: #7196b0;
font-family: Georgia,"Nimbus Roman No9 L",serif;
font-size: 12px;
line-height: 15px;
color: #000000;
font-weight: normal;
font-style: normal;
text-decoration: none;
}

.wfm-mega-menu ul li .sub-container.non-mega li a:hover, .wfm-mega-menu ul li .sub ul.sub-menu li a:hover {
background-color: #d1e0eb;
}

.wfm-mega-menu ul.menu li a {
font-family: Verdana,Geneva,Kalimati,sans-serif;
font-size: 14px;
line-height: 15px;
color: #ffffff;
font-weight: normal;
font-style: normal;
text-decoration: none;
}

.wfm-mega-menu ul li.current-menu-ancestor a, .wfm-mega-menu ul li.current-menu-item a {
color: #a5c7d9;
font-weight: normal;
font-style: normal;
text-decoration: none;
}

.wfm-mega-menu ul.menu li:hover a {
color: #000000;
font-weight: normal;
font-style: normal;
text-decoration: none;
}

.wfm-mega-menu ul li .sub li.mega-hdr a.mega-hdr-a:hover {
color: #000000;
font-weight: normal;
font-style: normal;
text-decoration: none;
}

.wfm-mega-menu ul li .sub ul.sub-menu li a {
font-family: Tahoma,Geneva,Kalimati,sans-serif;
font-size: 12px;
line-height: 15px;
color: #000000;
font-weight: normal;
font-style: normal;
text-decoration: none;
}

.wfm-mega-menu ul li .sub ul.sub-menu li a:hover {
color: #000000;
font-weight: normal;
font-style: normal;
text-decoration: none;
}

.wfm-mega-menu ul li .sub-container.non-mega li a {
font-family: Tahoma,Geneva,Kalimati,sans-serif;
font-size: 12px;
line-height: 15px;
color: #000000;
font-weight: normal;
font-style: normal;
text-decoration: none;
}

.wfm-mega-menu ul li .sub-container.non-mega li a:hover {
color: #000000;
font-weight: normal;
font-style: normal;
text-decoration: none;
}

.ddsmoothmenuh {
margin-top: 0px;
margin-bottom: 20px;
}

.ddsmoothmenuh ul li ul {
width: 200px;
}

.ddsmoothmenuh ul li a {
background-color: #green;
}

.ddsmoothmenuh ul li:hover,.ddsmoothmenuh ul li a.selected,.ddsmoothmenuh ul li a:hover,.ddsmoothmenuh ul li ul.sub-menu li, .ddsmoothmenuh ul li ul.sub-menu li a {
background-color: #183264;
}

.ddsmoothmenuh ul li ul li:hover, .ddsmoothmenuh ul li ul li a:hover {
background-color: #a20035;
}

.ddsmoothmenuh ul li a:link,.ddsmoothmenuh ul li a:visited {
font-family: "PT Sans Narrow", Arial, sans-serif;
font-size: 18px;
line-height: 24px;
color: #ffffff;
font-weight: normal;
font-style: normal;
text-decoration: none;
}

.ddsmoothmenuh ul li a:hover {
color: #ffffff;
font-weight: normal;
font-style: normal;
text-decoration: none;
}

.ddsmoothmenuh ul li  ul li a:link,.ddsmoothmenuh ul li  ul li a:visited {
font-family: "PT Sans Narrow", Arial, sans-serif;
font-size: 16px;
line-height: 20px;
color: #ffffff;
font-weight: normal;
font-style: normal;
text-decoration: none;
}

.ddsmoothmenuh ul li  ul li a:hover {
color: #ffffff;
font-weight: normal;
font-style: normal;
text-decoration: none;
}

div.horizontal-menu {
margin-top: 0px;
margin-bottom: 0px;
}

div.horizontal-menu ul li {
border-color: #6e6e6e;
}

div.horizontal-menu ul li, div.horizontal-menu ul li a:link,div.horizontal-menu ul li a:visited {
font-family: Tahoma,Geneva,Kalimati,sans-serif;
font-size: 12px;
line-height: 12px;
color: #6e6e6e;
font-weight: normal;
font-style: normal;
text-decoration: none;
}

div.horizontal-menu ul li a:hover {
color: #6e6e6e;
font-weight: normal;
font-style: normal;
text-decoration: none;
}

.wfm-vertical-mega-menu {
margin-top: 0px;
margin-bottom: 0px;
}

.wfm-vertical-mega-menu ul li .sub li.mega-hdr a.mega-hdr-a {
font-family: Tahoma,Geneva,Kalimati,sans-serif;
font-size: 12px;
line-height: 15px;
color: #000000;
font-weight: normal;
font-style: normal;
text-decoration: none;
}

.wfm-vertical-mega-menu ul li a {
font-family: "PT Sans", Arial, sans-serif;
font-size: 14px;
line-height: 18px;
color: #fff;
font-weight: bold;
font-style: normal;
text-decoration: none;
}

.wfm-vertical-mega-menu ul li.current-menu-ancestor a, .wfm-vertical-mega-menu ul li.current-menu-item a {
color: #6ec5ff;
font-weight: bold;
font-style: normal;
text-decoration: none;
}

.wfm-vertical-mega-menu ul li a:hover {
color: #e06262;
font-weight: bold;
font-style: normal;
text-decoration: none;
}

.wfm-vertical-mega-menu ul li .sub li.mega-hdr a.mega-hdr-a:hover {
color: #000000;
font-weight: normal;
font-style: normal;
text-decoration: none;
}

.wfm-vertical-mega-menu ul li .sub ul.sub-menu li a {
font-family: Tahoma,Geneva,Kalimati,sans-serif;
font-size: 12px;
line-height: 15px;
color: #000000;
font-weight: normal;
font-style: normal;
text-decoration: none;
}

.wfm-vertical-mega-menu ul li .sub ul.sub-menu li a:hover {
color: #000000;
font-weight: normal;
font-style: normal;
text-decoration: none;
}

.wfm-vertical-mega-menu ul li .sub-container.non-mega li a {
font-family: Tahoma,Geneva,Kalimati,sans-serif;
font-size: 12px;
line-height: 15px;
color: #000000;
font-weight: normal;
font-style: normal;
text-decoration: none;
}

.wfm-vertical-mega-menu ul li .sub-container.non-mega li a:hover {
color: #000000;
font-weight: normal;
font-style: normal;
text-decoration: none;
}

.ddsmoothmenuv {
margin-top: 0px;
margin-bottom: 0px;
}

.ddsmoothmenuv ul li a:link,.ddsmoothmenuv ul li a:visited,.ddsmoothmenuv ul li a:active {
background-color: #ffffff;
}

.ddsmoothmenuv ul li:hover,.ddsmoothmenuv ul li a.selected,.ddsmoothmenuv ul li a:hover,.ddsmoothmenuv ul li ul.sub-menu li, .ddsmoothmenuv ul li ul.sub-menu li a {
background-color: #efefef;
}

.ddsmoothmenuv ul li ul li:hover, .ddsmoothmenuv ul li ul li a:hover {
background-color: #ffffff;
}

.ddsmoothmenuv ul li a:link,.ddsmoothmenuv ul li a:visited {
font-family: Tahoma,Geneva,Kalimati,sans-serif;
font-size: 12px;
line-height: 18px;
color: #000000;
font-weight: normal;
font-style: normal;
text-decoration: none;
}

.ddsmoothmenuv ul li a:hover {
color: #000000;
font-weight: normal;
font-style: normal;
text-decoration: none;
}

.ddsmoothmenuv ul li  ul li a:link,.ddsmoothmenuv ul li  ul li a:visited {
font-family: Tahoma,Geneva,Kalimati,sans-serif;
font-size: 12px;
line-height: 18px;
color: #000000;
font-weight: normal;
font-style: normal;
text-decoration: none;
}

.ddsmoothmenuv ul li  ul li a:hover {
color: #000000;
font-weight: normal;
font-style: normal;
text-decoration: none;
}

div.vertical-menu a:hover {
background-color: #224287;
}

.vertical-menu a:link,.vertical-menu a:visited {
font-family: Tahoma,Geneva,Kalimati,sans-serif;
font-size: 14px;
line-height: 19px;
color: #ffff;
font-weight: bold;
font-style: normal;
text-decoration: none;
}

.vertical-menu a:hover {
color: #db5353;
font-weight: bold;
font-style: normal;
text-decoration: none;
}

ul.tabs li a {
background-color: #ffffff;
font-family: Tahoma,Geneva,Kalimati,sans-serif;
font-size: 12px;
line-height: 15px;
color: #000000;
font-weight: normal;
font-style: normal;
text-decoration: none;
}

ul.tabs li a:hover {
background-color: #d3d3d3;
color: #000000;
font-weight: normal;
font-style: normal;
text-decoration: none;
}

ul.tabs li a.current {
background-color: #efefef;
color: #000000;
font-weight: normal;
font-style: normal;
text-decoration: none;
}

div.tabs-wrapper div.panes {
background-color: #ffffff;
font-family: Tahoma,Geneva,Kalimati,sans-serif;
font-size: 12px;
line-height: 15px;
color: #000000;
font-weight: normal;
font-style: normal;
text-decoration: none;
}

.accordion-toggle {
background-color: #d3d3d3;
}

.accordion .current {
background-color: #efefef;
}

div.accordion div.pane {
background-color: #FFFFFF;
font-family: Tahoma,Geneva,Kalimati,sans-serif;
font-size: 12px;
line-height: 15px;
color: #000000;
font-weight: normal;
font-style: normal;
text-decoration: none;
}

h4.accordion-toggle, h4.accordion-toggle a, h4.accordion-toggle a:hover, h4.accordion-toggle a:visited {
font-family: Tahoma,Geneva,Kalimati,sans-serif;
font-size: 12px;
line-height: 15px;
color: #000000;
font-weight: normal;
font-style: normal;
text-decoration: none;
}

.toggle_title {
background-color: #efefef;
}

.acctogg_active {
background-color: #d3d3d3;
}

div.toggle {
background-color: #ffffff;
}

.toggle_title a.toggle-title {
font-family: Tahoma,Geneva,Kalimati,sans-serif;
font-size: 12px;
line-height: 15px;
color: #000000;
font-weight: normal;
font-style: normal;
text-decoration: none;
}

div.toggle_content {
font-family: Tahoma,Geneva,Kalimati,sans-serif;
font-size: 12px;
line-height: 15px;
color: #000000;
font-weight: normal;
font-style: normal;
text-decoration: none;
}

h3.slidertitle, h3.slidertitle a, h3.slidertitle a:hover, h3.slidertitle a:visited {
font-family: "Marvel", Arial, sans-serif;
font-size: 22px;
line-height: 36px;
color: #000000;
font-weight: normal;
font-style: normal;
text-decoration: none;
}

p.slidertext {
font-family: "Marvel", Arial, sans-serif;
font-size: 12px;
line-height: 15px;
color: #000000;
font-weight: normal;
font-style: normal;
text-decoration: none;
}

.anyCaption h3.slidertitle, .s3caption h3.slidertitle, .anyCaption h3.slidertitle, .s3caption h3.slidertitle a, .anyCaption h3.slidertitle, .s3caption h3.slidertitle a:hover, .anyCaption h3.slidertitle, .s3caption h3.slidertitle a:visited {
font-family: "Marvel", Arial, sans-serif;
font-size: 16px;
line-height: 20px;
color: #d3d3d3;
font-weight: normal;
font-style: normal;
text-decoration: none;
}

.anyCaption p.slidertext, .s3caption p.slidertext {
font-family: "Marvel", Arial, sans-serif;
font-size: 12px;
line-height: 15px;
color: #efefef;
font-weight: normal;
font-style: normal;
text-decoration: none;
}

h1.super-title, h1.super-title a, h1.super-title a:hover, h1.super-title a:visited {
font-family: "Yanone Kaffeesatz", Arial, sans-serif;
font-size: 36px;
line-height: 40px;
color: #A20035;
font-weight: normal;
font-style: normal;
text-decoration: none;
}

h3.element-title, h3.element-title a, h3.element-title a:hover, h3.element-title a:visited {
font-family: "PT Sans", Arial, sans-serif;
font-size: 24px;
line-height: 30px;
color: #3a4a9b;
font-weight: bold;
font-style: normal;
text-decoration: none;
}

.element-title {
background-position: top left;
background-repeat: repeat;
border-width: 0px;
border-style: none;
}

