BODY { margin: 0; background: #FFFFFF}
A.menutr:hover {
        color: black;
        background-position: center;
        background-repeat: no-repeat;
        font-weight: bold;
        font-style: normal;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
}
td {
        color: Black;
        font-family: verdana, arial, helvetica, sans-serif;
        font-size: 12px;
        font-weight: normal;
}
p {font-family: Arial, Helvetica, sans-serif}
p {font-size: 13px}
p.small{font-family: Arial, Helvetica, sans-serif}
p.small {font-size: 10px}
A:link, A:visited, A:active { color: #930D09; text-decoration: none; font-size: 12px; font-weight:bold;}
A:hover { color: #000000; background: none; }
A.sm:link, A.sm:visited, A.sm:active { color: #FA73E2; text-decoration: none; font-size: 9px; font-weight:bold;}
A.sm:hover { color: #000000; background: none; }
A.smr:link, A.smr:visited, A.smr:active { color: Red; text-decoration: none; font-size: 9px; font-weight:bold;}
A.smr:hover { color: #000000; background: none; }
A.og:link, A.og:visited, A.og:active { color: #DE2D21; text-decoration: none; font-size: 12px; font-weight:bold;}
A.og:hover { color: #000000; background: none; }
A.ca:link, A.ca:visited, A.ca:active { color: Yellow; text-decoration: none; font-size: 12px; font-weight:bold;}
A.ca:hover { color: #BABEDB; background: none; }
A.bk:link, A.bk:visited, A.bk:active { color: #3B6CE8; text-decoration: none; font-size: 12px; font-weight:bold;}
A.bk:hover { color: #BABEDB; background: none; }
H1 { color: #930D09; font-size: 11pt }
H2 { color: #930D09; font-size: 10pt }
H3 { color: #930D09; font-size: 8pt }

.hovermenu ul{
font: 18px arial;
font-weight: bold;
padding-left: 0;
margin-left: 0;
height: 18px;
}

.hovermenu ul li{
list-style: none;
display: inline;
}

.hovermenu ul li a{
padding: 2px 0.5em;
text-decoration: none;
float: left;
color: #761972;
background-color: #FFCDF6;
border: 1px solid #FFCDF6;
}

.hovermenu ul li a:hover{
color: #FFCDF6;
background-color: #9B3396;
border-style: outset;
}

html>body .hovermenu ul li a:active{ /* Apply mousedown effect only to NON IE browsers */
border-style: inset;
}
