
.main {
	BORDER-RIGHT: #82001c 1px solid; PADDING-RIGHT: 20px; PADDING-LEFT: 20px; MAX-WIDTH: 695px; PADDING-BOTTOM: 0px; MARGIN: 12px 4px; FONT: 13px/18px normal verdana, geneva, sans-serif; BORDER-LEFT: #82001c 1px solid; ; WIDTH: expression( document.body.clientWidth > 740 ? "740" : "auto" ); COLOR: #333; PADDING-TOP: 0px
}
H1 {
	FONT-SIZE: 28px; COLOR: #333
}
.pageHeading {
	FONT: bold 22px 'times new roman',times,serif; COLOR: #82001c