/* 
  -----------------------------------
  PVII Jazz 2005 Style Sheet
  by Project Seven Development
  www.projectseven.com
  Basic Print Media
  -----------------------------------
*/
#skiplinks, #masthead, #p7PMnav, #centerbottominfo {
	display: none;
}
/*Counteracts EQ Scripts Setting BottomPadding in the DOM*/
div, p {
	padding-bottom: 0px !important;
}
p {
	margin: 6pt 0 12pt 0;
}
#centercontent img {
	float: left; padding: 6pt 12pt 0 0;
}
h1, h2, h3, h4 {
	margin: 20pt 0 0 0;
}
#footer {
	margin: 20pt 0 0 0;
}
#sideboxwrapper, #leftboxwrapper, #rightboxwrapper, #footer {
	font-size: 70%;
}
h2#rightheader {
	font-size: 130%;
	margin: 20pt 0 6pt 0;
}