body {
	background-image: url('/clients/ColcoaPresale/Images/background2.jpg');
	background-repeat:  repeat-x;
	background-attachment: fixed;
	background-position: left top;
	background-color: #dfe9e7;
	 MARGIN-TOP: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    MARGIN-LEFT: 0px;
    MARGIN-RIGHT: 0px;
    PADDING-TOP: 0px

}
.nortxt
{
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 15px;
    FONT-FAMILY: Arial;
    COLOR: black;
    MARGIN-LEFT: 0px;
    FONT-SIZE: 10pt;
    FONT-WEIGHT: normal;
    MARGIN-RIGHT: 0px;
    TEXT-DECORATION: none
}
.crawl-nortxt
{
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 15px;
    FONT-FAMILY: Arial;
    COLOR: black;
    MARGIN-LEFT: 0px;
    FONT-SIZE: 10pt;
    FONT-WEIGHT: bold;
    MARGIN-RIGHT: 0px;
    TEXT-DECORATION: none;
    color:#ffffff;
}

.title
{
    PADDING-LEFT: 0px;
    FONT-FAMILY: Arial;
    COLOR: #1b4f82;
    MARGIN-LEFT: 0px;
    FONT-SIZE: 11pt;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none
}
.copy
{
    FONT-FAMILY: Arial;
    COLOR: #7e9797;
    FONT-SIZE: 8pt;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none
}
.copy:hover
{
    FONT-FAMILY: Arial;
    COLOR: #7e9797;
    FONT-SIZE: 8pt;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: underline
}


.copyhome
{
    FONT-FAMILY: Arial;
    COLOR: #7e9797;
    FONT-SIZE: 7pt;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none
}
.copyhome:hover
{
    FONT-FAMILY: Arial;
    COLOR: #7e9797;
    FONT-SIZE: 7pt;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: underline
}

.filmtitle
{
    FONT-FAMILY: Arial;
    COLOR: #993399;
    FONT-SIZE: 12pt;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none
}
.whitetxt
{
    FONT-FAMILY: Arial;
    COLOR: white;
    FONT-SIZE: 10pt;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none
}
.filmtitle2
{
    FONT-STYLE: italic;
    FONT-FAMILY: Arial;
    COLOR: #ff6600;
    FONT-SIZE: 14pt;
    FONT-WEIGHT: bold
}
.poster
{
    PADDING-BOTTOM: 8px;
    PADDING-LEFT: 15px;
    MARGIN-BOTTOM: 8px;
    MARGIN-LEFT: 15px
}
.filmtype
{
    FONT-STYLE: italic;
    FONT-FAMILY: Arial;
    COLOR: black;
    FONT-SIZE: 11pt;
    FONT-WEIGHT: bold
}
.titlebig
{
    FONT-FAMILY: Arial;
    COLOR: #000000;
    FONT-SIZE: 15pt;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none;
}
.date
{
    FONT-FAMILY: Arial;
    COLOR: white;
    FONT-SIZE: 10pt;
    FONT-WEIGHT: bold
}
.bgpage
{
    background-image:url('../images/bg-page2.png');
    background-repeat: repeat;
    
}
.pagelayout
{
	margin-left:35px;
    margin-right:35px;
    margin-bottom:25px;
    FONT-FAMILY: Arial;
    COLOR: black;
    FONT-SIZE: 10pt;
    FONT-WEIGHT: normal;

}
 


A
{
    COLOR: #982e14;
    TEXT-DECORATION: underline
}
A:hover
{
    COLOR: #000;
    TEXT-DECORATION: underline
}

