body {background: #282828;}
#page-bg {background: #0D0D0D url(/clients/CadillacsCountry/Images/header-bg2.png) 0 0 repeat-x;}
#page-bg2 {background: url(/clients/CadillacsCountry/Images/page-bg2.png) 50% 45px no-repeat;}
#main-body .mainbody-surround a, a {color: #DF0000;}

h3.module-title span, h1 span {color: #DF0000;}
.module-medium h3.module-title span, .module-medium a {color: #DF0000;}
.module-dark h3.module-title span, .module-dark a {color: #fff;}

/* Header */
#top-bar {background: #0D0D0D;color: #666;}
#top-bar a, #top-bar h3 {color: #666;}
#top-bar a:hover {color: #fff;}
#header {background: #282828 url(/clients/CadillacsCountry/Images/header-bg.png) 0 0 repeat-x;}
#header-overlay {background: url(/clients/CadillacsCountry/Images/header-bg-overlay.png) 50% 0 no-repeat;}
#logo {background: url(/clients/CadillacsCountry/Images/logo.png) 0 0 no-repeat;}
.searchmod-top {background: url(/clients/CadillacsCountry/Images/searchmod-top.png) 0 0 no-repeat;}
.searchmod-main {background: url(/clients/CadillacsCountry/Images/searchmod-main.png) 0 100% no-repeat;}
#searchmod {background: url(/clients/CadillacsCountry/Images/searchmod-input.png) 0 0 no-repeat;}
#searchmod-surround .rokradios {background: url(/clients/CadillacsCountry/Images/drop-arrow.png) 4px 1px no-repeat;color: #999;}
#searchmod-surround .rokradios-active {background: url(/clients/CadillacsCountry/Images/drop-arrow.png) 4px -116px no-repeat;}
a.large .button {background: url(/clients/CadillacsCountry/Images/topbar-buttons.png) 0 0 no-repeat;}
a.small .button {background: url(/clients/CadillacsCountry/Images/topbar-buttons.png) -15px 0 no-repeat;}
#lock-icon {background: url(/clients/CadillacsCountry/Images/topbar-buttons.png) -52px 0 no-repeat;}
#lock-icon.login {background: url(/clients/CadillacsCountry/Images/topbar-buttons.png) -32px 0 no-repeat;}

/* RokAjaxSearch */
.roksearch_wrapper1 {background: url(/clients/CadillacsCountry/Images/drop-bg-2.png) 0 100% no-repeat;}
.roksearch_wrapper2 {background: url(/clients/CadillacsCountry/Images/drop-top-2.png) 0 0 no-repeat;}
#roksearch_results a {color: #999;}
#roksearch_results a:hover {color: #fff;}
#roksearch_results h3 {color: #fff;}
#roksearch_results span {color: #888;}
#roksearch_results span.highlight {background: #555;color: #fff;}
#roksearch_results .roksearch_header, #roksearch_results .roksearch_row_btm {color: #fff;}
#roksearch_results .roksearch_odd {background: url(/clients/CadillacsCountry/Images/dark-module-div.png) 0 100% repeat-x;}
#roksearch_results .roksearch_even {background: url(/clients/CadillacsCountry/Images/dark-module-div.png) 0 100% repeat-x;}
#roksearch_results .roksearch_odd-hover, #roksearch_results .roksearch_even-hover {background-color: #333;}
#roksearch_results .roksearch_odd-hover h3, #roksearch_results .roksearch_even-hover h3 {background: url(../images/modules/black-arrow.png) 0 4px no-repeat;}
.results ol.list li p {color: #999;}
#roksearch_results a#roksearch_link {background: url(/clients/CadillacsCountry/Images/search-close.png) 0 100% no-repeat;}
#roksearch_results .arrow-left {background: url(/clients/CadillacsCountry/Images/search-close.png) 50% 1px no-repeat;}
#roksearch_results .arrow-left-disabled {background: url(/clients/CadillacsCountry/Images/search-close.png) 50% -34px no-repeat;}
#roksearch_results .arrow-right {background: url(/clients/CadillacsCountry/Images/search-close.png) 50% -16px no-repeat;}
#roksearch_results .arrow-right-disabled {background: url(/clients/CadillacsCountry/Images/search-close.png) 50% -34px no-repeat;}

/* Horizontal Menu */
#horiz-menu {background: url(/clients/CadillacsCountry/Images/horizmenu-bg.png) 0 0 repeat-x;}
#horiz-menu2 {background: url(/clients/CadillacsCountry/Images/horizmenu-l.png) 0 0 no-repeat;}
#horiz-menu3 {background: url(/clients/CadillacsCountry/Images/horizmenu-r.png) 100% 0 no-repeat;}
#horiz-menu .link span {background: url(/clients/CadillacsCountry/Images/drop-arrow.png) 4px 12px no-repeat;color: #999;}
#horiz-menu li.active .link span, #horiz-menu li:hover .link span, #horiz-menu li.sfHover .link span {background: url(/clients/CadillacsCountry/Images/drop-arrow.png) 4px -105px no-repeat;color: #DF0000;}
#horiz-menu li:hover li .link span, #horiz-menu li:hover li:hover li .link span, #horiz-menu li.sfHover li .link span, #horiz-menu li.sfHover li.sfHover li .link span {color: #fff;}
#horiz-menu li:hover li:hover .link span, #horiz-menu li:hover li:hover li:hover .link span, #horiz-menu li.sfHover li.sfHover .link span, #horiz-menu li.sfHover li.sfHover li.sfHover .link span {color: #DF0000;}

.menutop .columns-1 .drop1 {background: url(/clients/CadillacsCountry/Images/drop-top-1.png) 0 100% no-repeat;}
.columns-1 .drop2, .columns-1 .drop3 {display: none;}
.columns-2 .drop1 {background: #282828;}
.columns-2 .drop2 {background: url(/clients/CadillacsCountry/Images/drop-top-l.png) 0 0 no-repeat;}
.columns-2 .drop3 {background: url(/clients/CadillacsCountry/Images/drop-top-r.png) 100% 0 no-repeat;}
#horiz-menu ul ul.columns-1 {background: url(/clients/CadillacsCountry/Images/drop-bg-1.png) 0 100% no-repeat;}
#horiz-menu ul ul.columns-2 {background: url(/clients/CadillacsCountry/Images/drop-bg-2.png) 0 100% no-repeat;}
#horiz-menu ul ul.columns-3 {background: url(/clients/CadillacsCountry/Images/drop-bg-3.png) 0 100% no-repeat;}
#horiz-menu ul ul.columns-4 {background: url(/clients/CadillacsCountry/Images/drop-bg-4.png) 0 100% no-repeat;}
#horiz-menu ul ul li {background: url(/clients/CadillacsCountry/Images/drop-div.png) 0 100% repeat-x;}
#horiz-menu ul ul li .link, #horiz-menu ul ul li:hover li .link, #horiz-menu ul ul li.sfHover li .link {background: url(/clients/CadillacsCountry/Images/drop-arrow.png) 4px 6px no-repeat;}
#horiz-menu ul ul li:hover .link, #horiz-menu ul ul li:hover li:hover .link, #horiz-menu ul ul li.sfHover .link, #horiz-menu ul ul li.sfHover li.sfHover .link {background: url(/clients/CadillacsCountry/Images/drop-arrow.png) 4px -111px no-repeat;}
#horiz-menu ul ul li .link.daddy span, #horiz-menu ul li.parent.active:hover li .link.daddy span, #horiz-menu ul li.parent.active.sfHover li .link.daddy span, #horiz-menu ul li.parent:hover li .link.daddy span,  #horiz-menu ul li.parent.sfHover li .link.daddy span {background: url(/clients/CadillacsCountry/Images/drop-daddy.png) 95% 10px no-repeat;}

/* Showcase */
#showcase {background: url(/clients/CadillacsCountry/Images/showcase-m.png) 0 100% repeat-x;}
#showcase2 {background: url(/clients/CadillacsCountry/Images/showcase-l.png) 0 100% no-repeat;}
#showcase3 {background: url(/clients/CadillacsCountry/Images/showcase-r.png) 100% 100% no-repeat;}

/* Main Content */
.mainbody-surround {color: #333;}
.body-surround-top {background: url(/clients/CadillacsCountry/Images/surround-topbot.png) 0 0 repeat-x;}
.body-surround-top2 {background: url(/clients/CadillacsCountry/Images/surround-corners.png) 1px -20px no-repeat;}
.body-surround-top3 {background: url(/clients/CadillacsCountry/Images/surround-corners.png) 100% 0 no-repeat;}
.body-surround, .body-surround .moduletable, .body-surround .side-mod .module, .feature-block .description {background: #212121;}
.body-surround2 {background: url(/clients/CadillacsCountry/Images/surround-l.png) 0 0 repeat-y;}
.body-surround3 {background: url(/clients/CadillacsCountry/Images/surround-r.png) 100% 0 repeat-y;}
.body-surround-bottom {background: url(/clients/CadillacsCountry/Images/surround-topbot.png) 0 100% repeat-x;}
.body-surround-bottom2 {background: url(/clients/CadillacsCountry/Images/surround-corners.png) 1px -43px no-repeat;}
.body-surround-bottom3 {background: url(/clients/CadillacsCountry/Images/surround-corners.png) 100% -63px no-repeat;}
.module-medium .body-surround-top {background: url(/clients/CadillacsCountry/Images/med-surround-topbot.png) 0 0 repeat-x;}
.module-medium .body-surround-top2 {background: url(/clients/CadillacsCountry/Images/med-surround-corners.png) 1px -20px no-repeat;}
.module-medium .body-surround-top3 {background: url(/clients/CadillacsCountry/Images/med-surround-corners.png) 100% 0 no-repeat;}
.module-medium .body-surround, .module-medium .moduletable, .module-medium .side-mod .module {background: #191919;}
.module-medium .body-surround2 {background: url(/clients/CadillacsCountry/Images/med-surround-l.png) 0 0 repeat-y;}
.module-medium .body-surround3 {background: url(/clients/CadillacsCountry/Images/med-surround-r.png) 100% 0 repeat-y;}
.module-medium .body-surround-bottom {background: url(/clients/CadillacsCountry/Images/med-surround-topbot.png) 0 100% repeat-x;}
.module-medium .body-surround-bottom2 {background: url(/clients/CadillacsCountry/Images/med-surround-corners.png) 1px -43px no-repeat;}
.module-medium .body-surround-bottom3 {background: url(/clients/CadillacsCountry/Images/med-surround-corners.png) 100% -63px no-repeat;}
.module-dark .body-surround-top {background: url(/clients/CadillacsCountry/Images/dark-surround-topbot.png) 0 0 repeat-x;}
.module-dark .body-surround-top2 {background: url(/clients/CadillacsCountry/Images/dark-surround-corners.png) 1px -20px no-repeat;}
.module-dark .body-surround-top3 {background: url(/clients/CadillacsCountry/Images/dark-surround-corners.png) 100% 0 no-repeat;}
.module-dark .body-surround, .module-dark .moduletable, .module-dark .side-mod .module {background: #282828;}
.module-dark .body-surround2 {background: url(/clients/CadillacsCountry/Images/dark-surround-l.png) 0 0 repeat-y;}
.module-dark .body-surround3 {background: url(/clients/CadillacsCountry/Images/dark-surround-r.png) 100% 0 repeat-y;}
.module-dark .body-surround-bottom {background: url(/clients/CadillacsCountry/Images/dark-surround-topbot.png) 0 100% repeat-x;}
.module-dark .body-surround-bottom2 {background: url(/clients/CadillacsCountry/Images/dark-surround-corners.png) 1px -43px no-repeat;}
.module-dark .body-surround-bottom3 {background: url(/clients/CadillacsCountry/Images/dark-surround-corners.png) 100% -63px no-repeat;}

.mainbody-surround {background: #fff;}
.mainbody-tl, .mainbody-tr, .mainbody-bl, .mainbody-br {background-image: url(/clients/CadillacsCountry/Images/mainbody-corners.png);background-repeat: no-repeat;}
.module-medium .mainbody-tl, .module-medium .mainbody-tr, .module-medium .mainbody-bl, .module-medium .mainbody-br {background-image: url(/clients/CadillacsCountry/Images/mainbody-corners.png);}
.module-dark .mainbody-tl, .module-dark .mainbody-tr, .module-dark .mainbody-bl, .module-dark .mainbody-br {background-image: url(/clients/CadillacsCountry/Images/mainbody-corners.png);}
.mainbody-tl {background-position: 0 0;}
.mainbody-tr {background-position: -16px 0;}
.mainbody-bl {background-position: 0 -16px;}
.mainbody-br {background-position: -16px -16px;}
.module-medium .mainbody-tl {background-position: 0 -32px;}
.module-medium .mainbody-tr {background-position: -16px -32px;}
.module-medium .mainbody-bl {background-position: 0 -48px;}
.module-medium .mainbody-br {background-position: -16px -48px;}
.module-dark .mainbody-tl {background-position: 0 -64px;}
.module-dark .mainbody-tr {background-position: -16px -64px;}
.module-dark .mainbody-bl {background-position: 0 -80px;}
.module-dark .mainbody-br {background-position: -16px -80px;}
.mainbody-surround .module-header {background: url(/clients/CadillacsCountry/Images/white-module-h3-m.png) 0 0 repeat-x;}
.mainbody-surround .module-header2 {background: url(/clients/CadillacsCountry/Images/white-module-h3-l.png) 0 0 no-repeat;}
.mainbody-surround .module-header3 {background: url(/clients/CadillacsCountry/Images/white-module-h3-r.png) 100% 0 no-repeat;}
.componentheading, #login-module h3 {background: url(/clients/CadillacsCountry/Images/white-radio-button.png) 0 -117px no-repeat;color: #333;}
.article-info-surround {background: url(/clients/CadillacsCountry/Images/article-surround-r.png) 100% 100% no-repeat;}
.article-info-surround2 {background: url(/clients/CadillacsCountry/Images/article-surround-l.png) 0 100% no-repeat;}

/* Modules */
.module-light {color: #aaa;}
.module-medium {color: #aaa;}
.module-dark {color: #aaa;}
.row-handle {background: url(/clients/CadillacsCountry/Images/row-handle.png) 0 0 no-repeat;}
.module-header {background: url(/clients/CadillacsCountry/Images/module-h3-m.png) 0 0 repeat-x;}
.module-header2 {background: url(/clients/CadillacsCountry/Images/module-h3-l.png) 0 0 no-repeat;}
.module-header3 {background: url(/clients/CadillacsCountry/Images/module-h3-r.png) 100% 0 no-repeat;}
.hilite1 .module-header, #breadcrumbs {background: url(/clients/CadillacsCountry/Images/module-h3-m.png) 0 100% repeat-x;}
.hilite1 .module-header2, #breadcrumbs2 {background: url(/clients/CadillacsCountry/Images/module-h3-l.png) 0 100% no-repeat;}
.hilite1 .module-header3, #breadcrumbs3 {background: url(/clients/CadillacsCountry/Images/module-h3-r.png) 100% 100% no-repeat;}
.move-handle {background: url(/clients/CadillacsCountry/Images/move-handle.png) 0 0 no-repeat;}
.module-handle {background: url(/clients/CadillacsCountry/Images/move-handle.png) 100% 100% no-repeat;}
#breadcrumbs-home {background: url(/clients/CadillacsCountry/Images/breadcrumb-home.png) 0 0 no-repeat;}
span.breadcrumbs img {background: url(/clients/CadillacsCountry/Images/list-arrow.png) 50% 10px no-repeat;}
.rokradios {background: url(/clients/CadillacsCountry/Images/radio-button.png) 0 1px no-repeat;}
.rokradios-active {background: url(/clients/CadillacsCountry/Images/radio-button.png) 0 -121px no-repeat;}
.rokchecks {background: url(/clients/CadillacsCountry/Images/radio-button.png) 0 -243px no-repeat;}
.rokchecks-active {background: url(/clients/CadillacsCountry/Images/radio-button.png) 0 100% no-repeat;}
.mainbody-surround .rokradios {background: url(/clients/CadillacsCountry/Images/white-radio-button.png) 0 1px no-repeat;}
.mainbody-surround .rokradios-active {background: url(/clients/CadillacsCountry/Images/white-radio-button.png) 0 -121px no-repeat;}
.mainbody-surround .rokchecks {background: url(/clients/CadillacsCountry/Images/white-radio-button.png) 0 -243px no-repeat;}
.mainbody-surround .rokchecks-active {background: url(/clients/CadillacsCountry/Images/white-radio-button.png) 0 100% no-repeat;}
.poll-line, .side-mod .module {background: url(/clients/CadillacsCountry/Images/module-div.png) 0 100% repeat-x;}
.module-medium .module-header {background: url(/clients/CadillacsCountry/Images/med-module-h3-m.png) 0 0 repeat-x;}
.module-medium .module-header2 {background: url(/clients/CadillacsCountry/Images/med-module-h3-l.png) 0 0 no-repeat;}
.module-medium .module-header3 {background: url(/clients/CadillacsCountry/Images/med-module-h3-r.png) 100% 0 no-repeat;}
.module-medium .hilite1 .module-header, .module-medium #breadcrumbs {background: url(/clients/CadillacsCountry/Images/med-module-h3-m.png) 0 100% repeat-x;}
.module-medium .hilite1 .module-header2, .module-medium #breadcrumbs2 {background: url(/clients/CadillacsCountry/Images/med-module-h3-l.png) 0 100% no-repeat;}
.module-medium .hilite1 .module-header3, .module-medium #breadcrumbs3 {background: url(/clients/CadillacsCountry/Images/med-module-h3-r.png) 100% 100% no-repeat;}
.module-medium #breadcrumbs-home {background: url(/clients/CadillacsCountry/Images/med-breadcrumb-home.png) 0 0 no-repeat;}
.module-medium span.breadcrumbs img {background: url(/clients/CadillacsCountry/Images/med-list-arrow.png) 50% 10px no-repeat;}
.module-medium .moduletable h3 {color: #fff;}
.module-medium .move-handle {background: url(/clients/CadillacsCountry/Images/med-move-handle.png) 0 0 no-repeat;}
.module-medium .module-handle {background: url(/clients/CadillacsCountry/Images/med-move-handle.png) 100% 100% no-repeat;}
.module-medium .rokradios {background: url(/clients/CadillacsCountry/Images/med-radio-button.png) 0 1px no-repeat;}
.module-medium .rokradios-active {background: url(/clients/CadillacsCountry/Images/med-radio-button.png) 0 -121px no-repeat;}
.module-medium .rokchecks {background: url(/clients/CadillacsCountry/Images/med-radio-button.png) 0 -243px no-repeat;}
.module-medium .rokchecks-active {background: url(/clients/CadillacsCountry/Images/med-radio-button.png) 0 100% no-repeat;}
.module-medium .poll-line, .module-medium .side-mod .module {background: url(/clients/CadillacsCountry/Images/med-module-div.png) 0 100% repeat-x;}
.module-dark .module-header {background: url(/clients/CadillacsCountry/Images/dark-module-h3-m.png) 0 0 repeat-x;}
.module-dark .module-header2 {background: url(/clients/CadillacsCountry/Images/dark-module-h3-l.png) 0 0 no-repeat;}
.module-dark .module-header3 {background: url(/clients/CadillacsCountry/Images/dark-module-h3-r.png) 100% 0 no-repeat;}
.module-dark .hilite1 .module-header, .module-dark #breadcrumbs {background: url(/clients/CadillacsCountry/Images/dark-module-h3-m.png) 0 100% repeat-x;}
.module-dark .hilite1 .module-header2, .module-dark #breadcrumbs2 {background: url(/clients/CadillacsCountry/Images/dark-module-h3-l.png) 0 100% no-repeat;}
.module-dark .hilite1 .module-header3, .module-dark #breadcrumbs3 {background: url(/clients/CadillacsCountry/Images/dark-module-h3-r.png) 100% 100% no-repeat;}
.module-dark #breadcrumbs-home {background: url(/clients/CadillacsCountry/Images/dark-breadcrumb-home.png) 0 0 no-repeat;}
.module-dark span.breadcrumbs img {background: url(/clients/CadillacsCountry/Images/dark-list-arrow.png) 50% 10px no-repeat;}
.module-dark .moduletable h3 {color: #fff;}
.module-dark .move-handle {background: url(/clients/CadillacsCountry/Images/dark-move-handle.png) 0 0 no-repeat;}
.module-dark .module-handle {background: url(/clients/CadillacsCountry/Images/dark-move-handle.png) 100% 100% no-repeat;}
.module-dark .rokradios {background: url(/clients/CadillacsCountry/Images/dark-radio-button.png) 0 1px no-repeat;}
.module-dark .rokradios-active {background: url(/clients/CadillacsCountry/Images/dark-radio-button.png) 0 -121px no-repeat;}
.module-dark .rokchecks {background: url(/clients/CadillacsCountry/Images/dark-radio-button.png) 0 -243px no-repeat;}
.module-dark .rokchecks-active {background: url(/clients/CadillacsCountry/Images/dark-radio-button.png) 0 100% no-repeat;}
.module-dark .poll-line, .module-dark .side-mod .module {background: url(/clients/CadillacsCountry/Images/dark-module-div.png) 0 100% repeat-x;}
.readon1-l {background: url(/clients/CadillacsCountry/Images/readon-l.png) 0 0 no-repeat;}
.readon1-m {background: url(/clients/CadillacsCountry/Images/readon-m.png) 0 0 repeat-x;}
.readon1-r {background: url(/clients/CadillacsCountry/Images/readon-r.png) 100% 0 no-repeat;color: #fff;}
#main-body .bodycontent .readon1-l, #login-module .readon1-l {background: url(/clients/CadillacsCountry/Images/light-readon-l.png) 0 0 no-repeat;}
#main-body .bodycontent .readon1-m, #login-module .readon1-m {background: url(/clients/CadillacsCountry/Images/light-readon-m.png) 0 0 repeat-x;}
#main-body .bodycontent .readon1-r, #login-module .readon1-r {background: url(/clients/CadillacsCountry/Images/light-readon-r.png) 100% 0 no-repeat;color: #fff;}
.module-medium .readon1-l {background: url(/clients/CadillacsCountry/Images/med-readon-l.png) 0 0 no-repeat;}
.module-medium .readon1-m {background: url(/clients/CadillacsCountry/Images/med-readon-m.png) 0 0 repeat-x;}
.module-medium .readon1-r {background: url(/clients/CadillacsCountry/Images/med-readon-r.png) 100% 0 no-repeat;color: #fff;}
.module-dark .readon1-l {background: url(/clients/CadillacsCountry/Images/dark-readon-l.png) 0 0 no-repeat;}
.module-dark .readon1-m {background: url(/clients/CadillacsCountry/Images/dark-readon-m.png) 0 0 repeat-x;}
.module-dark .readon1-r {background: url(/clients/CadillacsCountry/Images/dark-readon-r.png) 100% 0 no-repeat;color: #fff;} 

/* Side Menus */
.module-light ul.menu li {background: url(/clients/CadillacsCountry/Images/module-div.png) 0 100% repeat-x}
.module-medium ul.menu li {background: url(/clients/CadillacsCountry/Images/med-module-div.png) 0 100% repeat-x}
.module-dark ul.menu li {background: url(/clients/CadillacsCountry/Images/dark-module-div.png) 0 100% repeat-x}
.module-light ul.menu li a, .module-light ul.menu li .separator {background: url(/clients/CadillacsCountry/Images/radio-button.png) 0 6px no-repeat;}
.module-medium ul.menu li a, .module-medium ul.menu li .separator {background: url(/clients/CadillacsCountry/Images/med-radio-button.png) 0 6px no-repeat;}
.module-dark ul.menu li a, .module-dark ul.menu li .separator {background: url(/clients/CadillacsCountry/Images/dark-radio-button.png) 0 6px no-repeat;}
.module-light ul.menu li.active a, .module-light ul.menu li.active .separator, .module-light ul.menu li a:hover {background: url(/clients/CadillacsCountry/Images/radio-button.png) 0 -116px no-repeat;}
.module-medium ul.menu li.active a, .module-medium ul.menu li.active .separator, .module-medium ul.menu li a:hover {background: url(/clients/CadillacsCountry/Images/med-radio-button.png) 0 -116px no-repeat;}
.module-dark ul.menu li.active a, .module-medium ul.menu li.active .separator, .module-dark ul.menu li a:hover {background: url(/clients/CadillacsCountry/Images/dark-radio-button.png) 0 -116px no-repeat;}

ul.menu li a {color: #999;}
.module-medium ul.menu li a {color: #999;}
.module-dark ul.menu li a {color: #ccc;}
ul.menu li a:hover, ul.menu li.active a.topdaddy, ul.menu li.parent li.active a.daddy, ul.menu li.parent li.parent li#current a {color: #DF0000;}
.module-medium ul.menu li a:hover, .module-medium ul.menu li.active a.topdaddy, .module-medium ul.menu li.parent li.active a.daddy, .module-medium ul.menu li.parent li.parent li#current a {color: #DF0000;}
.module-dark ul.menu li a:hover, .module-dark ul.menu li.active a.topdaddy, .module-dark ul.menu li.parent li.active a.daddy, .module-dark ul.menu li.parent li.parent li#current a {color: #DF0000;}
#main-body-surround ul.menu li.parent ul li a {background: url(/clients/CadillacsCountry/Images/list-arrow.png) 0 2px no-repeat}
#main-body-surround ul.menu li.parent ul li a:hover, #main-body-surround ul.menu li.parent li.active a.daddy, #main-body-surround ul.menu li.parent li.parent li#current a {background: url(/clients/CadillacsCountry/Images/list-arrow.png) 0 -130px no-repeat}
#main-body-surround .module-medium ul.menu li.parent ul li a {background: url(/clients/CadillacsCountry/Images/med-list-arrow.png) 0 2px no-repeat;}
#main-body-surround .module-medium ul.menu li.parent ul li a:hover, #main-body-surround .module-medium ul.menu li.parent li.active a.daddy, #main-body-surround .module-medium ul.menu li.parent li.parent li#current a {background: url(/clients/CadillacsCountry/Images/med-list-arrow.png) 0 -130px no-repeat;}
#main-body-surround .module-dark ul.menu li.parent ul li a {background: url(/clients/CadillacsCountry/Images/dark-list-arrow.png) 0 2px no-repeat;}
#main-body-surround .module-dark ul.menu li.parent ul li a:hover, #main-body-surround .module-dark ul.menu li.parent li.active a.daddy, #main-body-surround .module-dark ul.menu li.parent li.parent li#current a {background: url(/clients/CadillacsCountry/Images/dark-list-arrow.png) 0 -130px no-repeat;}
#main-body-surround .bodycontent ul.menu li.parent ul li a {background: url(/clients/CadillacsCountry/Images/white-list-arrow.png) 0 2px no-repeat;}
#main-body-surround .bodycontent ul.menu li.parent ul li a:hover, #main-body-surround .bodycontent ul.menu li.parent li.active a.daddy, #main-body-surround .bodycontent ul.menu li.parent li.parent li#current a {background: url(/clients/CadillacsCountry/Images/white-list-arrow.png) 0 -130px no-repeat;}

/* Bottom Section */
#bottom-bg {background: #282828 url(/clients/CadillacsCountry/Images/bottom-bg.png) 0 0 repeat-x;}
#bottom-menu {background: url(/clients/CadillacsCountry/Images/bottom-menu-m.png) 0 0 repeat-x;}
#bottom-menu2 {background: url(/clients/CadillacsCountry/Images/bottom-menu-l.png) 0 0 no-repeat;}
#bottom-menu3 {background: url(/clients/CadillacsCountry/Images/bottom-menu-r.png) 100% 0 no-repeat;}
#bottom-menu-overlay {background: url(/clients/CadillacsCountry/Images/bottom-menu-overlay.png) 50% 0 no-repeat;}
#bottom-menu a {color: #aaa;background: url(/clients/CadillacsCountry/Images/horizmenu-div.png) 100% 50% no-repeat;}
#bottom-menu a:hover {color: #fff;}
#bottom {background: #282828;color: #aaa;}
#bottom a {color: #DF0000;}
#bottom a:hover {color: #fff;}
#bottom ul li a {background: url(/clients/CadillacsCountry/Images/dark-list-arrow.png) 0 2px no-repeat;}
#bottommodules h3 {color: #aaa;}
#rocket {background: url(/clients/CadillacsCountry/Images/rocket.png) 0 0 no-repeat;}

/* Typography and Extras */
.blog_more h2 {color: #444;}
.blog_more ul li {border-bottom: 1px solid #e4e4e4;}
.blog_more ul li a, ul.latestnews li a, ul.mostread li a {background: url(/clients/CadillacsCountry/Images/list-arrow.png) 0 2px no-repeat;color: #aaa;}
.blog_more ul li a:hover, ul.latestnews li a:hover, ul.mostread li a:hover {background: url(/clients/CadillacsCountry/Images/list-arrow.png) 0 -130px no-repeat;color: #DF0000;}
.module-medium .blog_more ul li a, .module-medium ul.latestnews li a, .module-medium ul.mostread li a {background: url(/clients/CadillacsCountry/Images/med-list-arrow.png) 0 2px no-repeat;color: #aaa;}
.module-medium .blog_more ul li a:hover, .module-medium ul.latestnews li a:hover, .module-medium ul.mostread li a:hover {background: url(/clients/CadillacsCountry/Images/med-list-arrow.png) 0 -130px no-repeat;color: #DF0000;}
.module-dark .blog_more ul li a, .module-dark ul.latestnews li a, .module-dark ul.mostread li a {background: url(/clients/CadillacsCountry/Images/dark-list-arrow.png) 0 2px no-repeat;color: #aaa;}
.module-dark .blog_more ul li a:hover, .module-dark ul.latestnews li a:hover, .module-dark ul.mostread li a:hover {background: url(/clients/CadillacsCountry/Images/dark-list-arrow.png) 0 -130px no-repeat;color: #DF0000;}
.mainbody-surround .blog_more ul li a, .mainbody-surround ul.latestnews li a, .mainbody-surround ul.mostread li a {background: url(/clients/CadillacsCountry/Images/white-list-arrow.png) 0 2px no-repeat;color: #444;}
.mainbody-surround .blog_more ul li a:hover, .mainbody-surround ul.latestnews li a:hover, .mainbody-surround ul.mostread li a:hover {background: url(/clients/CadillacsCountry/Images/white-list-arrow.png) 0 -130px no-repeat;color: #DF0000;}
div.pagination div.tab {background: url(../images/page-tab-r.png) 100% 0 no-repeat;}
div.pagination div.tab2 {background: url(../images/page-tab-l.png) 0 0 no-repeat;}
form.form-login .inputbox {background: url(/clients/CadillacsCountry/Images/input-field-l.png) 0 0 no-repeat;color: #ccc;}
form.form-login .input-field-l {background: url(/clients/CadillacsCountry/Images/input-field-r.png) 100% 0 no-repeat;}
.module-medium form.form-login .inputbox {background: url(/clients/CadillacsCountry/Images/input-field-l.png) 0 -30px no-repeat;color: #ccc;}
.module-medium form.form-login .input-field-l {background: url(/clients/CadillacsCountry/Images/input-field-r.png) 100% -30px no-repeat;}
.module-dark form.form-login .inputbox {background: url(/clients/CadillacsCountry/Images/input-field-l.png) 0 -60px no-repeat;color: #ccc;}
.module-dark form.form-login .input-field-l {background: url(/clients/CadillacsCountry/Images/input-field-r.png) 100% -60px no-repeat;}
form.search_result input#search_searchword.inputbox, .mainbody-surround form.form-login .inputbox {background: url(/clients/CadillacsCountry/Images/input-field-l.png) 0 -90px no-repeat;color: #444;}
form.search_result .input-field-l, .mainbody-surround form.form-login .input-field-l {background: url(/clients/CadillacsCountry/Images/input-field-r.png) 100% -90px no-repeat;}
#login-module .inputbox {background: url(/clients/CadillacsCountry/Images/input-field-l.png) 0 -90px no-repeat;color: #333;}
#login-module .input-field-l {background: url(/clients/CadillacsCountry/Images/input-field-r.png) 100% -90px no-repeat;}
form.form-login .login-links a {background: url(/clients/CadillacsCountry/Images/list-arrow.png) 0 -130px no-repeat;}
.module-medium form.form-login .login-links a {background: url(/clients/CadillacsCountry/Images/med-list-arrow.png) 0 -130px no-repeat;}
.module-dark form.form-login .login-links a {background: url(/clients/CadillacsCountry/Images/dark-list-arrow.png) 0 -130px no-repeat;}
.bodycontent form.form-login .login-links a {background: url(/clients/CadillacsCountry/Images/white-list-arrow.png) 0 -130px no-repeat;}

/* RokTabs */
.roktabs-wrapper .active-arrows .roktabs-links {background: url(/clients/CadillacsCountry/Images/roktabs-bg.png) 0 0 repeat-x;}
ul.roktabs-top li.active, ul.roktabs-bottom li.active {background: url(/clients/CadillacsCountry/Images/roktabs-bg.png) 0 100% repeat-x;color: #fff;}
.roktabs-wrapper .arrow-next {background-image: url(/clients/CadillacsCountry/Images/roktabs-arrow.png);right: 0;}
.roktabs-wrapper .arrow-prev {background-image: url(/clients/CadillacsCountry/Images/roktabs-arrow.png);left: 0;}
.module-medium .roktabs-wrapper .active-arrows .roktabs-links {background: url(/clients/CadillacsCountry/Images/med-roktabs-bg.png) 0 0 repeat-x;}
.module-medium ul.roktabs-top li.active, .module-medium ul.roktabs-bottom li.active {background: url(/clients/CadillacsCountry/Images/med-roktabs-bg.png) 0 100% repeat-x;}
.module-medium .roktabs-wrapper .arrow-next {background-image: url(/clients/CadillacsCountry/Images/med-roktabs-arrow.png);}
.module-medium .roktabs-wrapper .arrow-prev {background-image: url(/clients/CadillacsCountry/Images/med-roktabs-arrow.png);}
.module-dark .roktabs-wrapper .active-arrows .roktabs-links {background: url(/clients/CadillacsCountry/Images/dark-roktabs-bg.png) 0 0 repeat-x;}
.module-dark ul.roktabs-top li.active, .module-dark ul.roktabs-bottom li.active {background: url(/clients/CadillacsCountry/Images/dark-roktabs-bg.png) 0 100% repeat-x;}
.module-dark .roktabs-wrapper .arrow-next {background-image: url(/clients/CadillacsCountry/Images/dark-roktabs-arrow.png);}
.module-dark .roktabs-wrapper .arrow-prev {background-image: url(/clients/CadillacsCountry/Images/dark-roktabs-arrow.png);}
.mainbody-surround .roktabs-wrapper .active-arrows .roktabs-links {background: url(/clients/CadillacsCountry/Images/white-roktabs-bg.png) 0 0 repeat-x;}
.mainbody-surround ul.roktabs-top li.active, .mainbody-surround ul.roktabs-bottom li.active {background: url(/clients/CadillacsCountry/Images/white-roktabs-bg.png) 0 100% repeat-x;}
.mainbody-surround .roktabs-wrapper .arrow-next {background-image: url(/clients/CadillacsCountry/Images/white-roktabs-arrow.png);}
.mainbody-surround .roktabs-wrapper .arrow-prev {background-image: url(/clients/CadillacsCountry/Images/white-roktabs-arrow.png);}

#community-wrap .app-box-title, #community-wrap .appsBoxTitle, #community-wrap .infoTitle, #community-wrap h3.frontTitle, body #community-wrap ul.submenu li a {color: #333;}

/* RokStories */
.feature-block-tl, .feature-block-tr, .feature-block-bl, .feature-block-br {background-image: url(/clients/CadillacsCountry/Images/feature-block-corner.png);background-repeat: no-repeat;}
.module-medium .feature-block-tl, .module-medium .feature-block-tr, .module-medium .feature-block-bl, .module-medium .feature-block-br {background-image: url(/clients/CadillacsCountry/Images/feature-block-corner.png);}
.module-dark .feature-block-tl, .module-dark .feature-block-tr, .module-dark .feature-block-bl, .module-dark .feature-block-br {background-image: url(/clients/CadillacsCountry/Images/feature-block-corner.png);}
.feature-block-tl {background-position: 0 0;}
.feature-block-tr {background-position: -16px 0;}
.feature-block-bl {background-position: 0 -16px;}
.feature-block-br {background-position: -16px -16px;}
.module-medium .feature-block-tl {background-position: 0 -32px;}
.module-medium .feature-block-tr {background-position: -16px -32px;}
.module-medium .feature-block-bl {background-position: 0 -48px;}
.module-medium .feature-block-br {background-position: -16px -48px;}
.module-dark .feature-block-tl {background-position: 0 -64px;}
.module-dark .feature-block-tr {background-position: -16px -64px;}
.module-dark .feature-block-bl {background-position: 0 -80px;}
.module-dark .feature-block-br {background-position: -16px -80px;}
#page-bg .module-light .feature-arrow-r {background: url(/clients/CadillacsCountry/Images/feature-block-arrows.png) 0 0 no-repeat;}
#page-bg .module-light .arrowright-hover {background: url(/clients/CadillacsCountry/Images/feature-block-arrows.png) 0 -73px no-repeat;}
#page-bg .module-light .arrowright-down {background: url(/clients/CadillacsCountry/Images/feature-block-arrows.png) 0 -146px no-repeat;}
#page-bg .module-light .feature-arrow-l {background: url(/clients/CadillacsCountry/Images/feature-block-arrows.png) -38px 0 no-repeat;}
#page-bg .module-light .arrowleft-hover {background: url(/clients/CadillacsCountry/Images/feature-block-arrows.png) -38px -73px no-repeat;}
#page-bg .module-light .arrowleft-down {background: url(/clients/CadillacsCountry/Images/feature-block-arrows.png) -38px -146px no-repeat;}
#page-bg .module-medium .feature-arrow-r {background: url(/clients/CadillacsCountry/Images/feature-block-arrows.png) -76px 0 no-repeat;}
#page-bg .module-medium .arrowright-hover {background: url(/clients/CadillacsCountry/Images/feature-block-arrows.png) -76px -73px no-repeat;}
#page-bg .module-medium .arrowright-down {background: url(/clients/CadillacsCountry/Images/feature-block-arrows.png) -76px -146px no-repeat;}
#page-bg .module-medium .feature-arrow-l {background: url(/clients/CadillacsCountry/Images/feature-block-arrows.png) -114px 0 no-repeat;}
#page-bg .module-medium .arrowleft-hover {background: url(/clients/CadillacsCountry/Images/feature-block-arrows.png) -114px -73px no-repeat;}
#page-bg .module-medium .arrowleft-down {background: url(/clients/CadillacsCountry/Images/feature-block-arrows.png) -114px -146px no-repeat;}
#page-bg .module-dark .feature-arrow-r {background: url(/clients/CadillacsCountry/Images/feature-block-arrows.png) -152px 0 no-repeat;}
#page-bg .module-dark .arrowright-hover {background: url(/clients/CadillacsCountry/Images/feature-block-arrows.png) -152px -73px no-repeat;}
#page-bg .module-dark .arrowright-down {background: url(/clients/CadillacsCountry/Images/feature-block-arrows.png) -152px -146px no-repeat;}
#page-bg .module-dark .feature-arrow-l {background: url(/clients/CadillacsCountry/Images/feature-block-arrows.png) -190px 0 no-repeat;}
#page-bg .module-dark .arrowleft-hover {background: url(/clients/CadillacsCountry/Images/feature-block-arrows.png) -190px -73px no-repeat;}
#page-bg .module-dark .arrowleft-down {background: url(/clients/CadillacsCountry/Images/feature-block-arrows.png) -190px -146px no-repeat;}

/* RokTwittie */
.module-light .roktwittie-text {color: #333;}
.module-medium .roktwittie-text, .module-dark .roktwittie-text {color: #333;}
.module-medium .roktwittie-text a, .module-dark .roktwittie-text a {color: #DF0000;}
.module-light #roktwittie .title {color: #fff;}
.module-medium #roktwittie .title {color: #ccc;}
.module-dark #roktwittie .title {color: #fff;}

/* RokBridge Modules */
.latest_posts {background: url(/clients/CadillacsCountry/Images/module-div.png) 0 100% repeat-x;}

/* K2 */
.k2-break-div {background: #212121;}
.k2-break1 {background: #fff;}
.k2-break2 {background: url(/clients/CadillacsCountry/Images/mainbody-corners.png) 0 -16px;}
.k2-break3 {background: url(/clients/CadillacsCountry/Images/mainbody-corners.png) -16px -16px;}
.k2-break4 {background: #fff;}
.k2-break5 {background: url(/clients/CadillacsCountry/Images/mainbody-corners.png) -16px 0;}
.k2-break6 {background: url(/clients/CadillacsCountry/Images/mainbody-corners.png) 0 0;}

.module-medium .k2-break-div {background: #191919;}
.module-medium .k2-break1 {background: #fff;}
.module-medium .k2-break2 {background: url(/clients/CadillacsCountry/Images/mainbody-corners.png) 0 -48px;}
.module-medium .k2-break3 {background: url(/clients/CadillacsCountry/Images/mainbody-corners.png) -16px -48px;}
.module-medium .k2-break4 {background: #fff;}
.module-medium .k2-break5 {background: url(/clients/CadillacsCountry/Images/mainbody-corners.png) -16px -32px;}
.module-medium .k2-break6 {background: url(/clients/CadillacsCountry/Images/mainbody-corners.png) 0 -32px;}

.module-dark .k2-break-div {background: #282828;}
.module-dark .k2-break1 {background: #fff;}
.module-dark .k2-break2 {background: url(/clients/CadillacsCountry/Images/mainbody-corners.png) 0 -80px;}
.module-dark .k2-break3 {background: url(/clients/CadillacsCountry/Images/mainbody-corners.png) -16px -80px;}
.module-dark .k2-break4 {background: #fff;}
.module-dark .k2-break5 {background: url(/clients/CadillacsCountry/Images/mainbody-corners.png) -16px -64px;}
.module-dark .k2-break6 {background: url(/clients/CadillacsCountry/Images/mainbody-corners.png) 0 -64px;}

ul.k2CommentsList li, ul.k2ItemsList li, ul.k2ArchiveList li, .rb-latest-members .rb-avatar-row {background: url(/clients/CadillacsCountry/Images/module-div.png) 0 100% repeat-x;}
.module-medium ul.k2CommentsList li, .module-medium ul.k2ItemsList li, .module-medium .rb-latest-members .rb-avatar-row {background: url(/clients/CadillacsCountry/Images/medium-module-div.png) 0 100% repeat-x;}
.module-dark ul.k2CommentsList li, .module-dark ul.k2ItemsList li, .module-dark .rb-latest-members .rb-avatar-row {background: url(/clients/CadillacsCountry/Images/dark-module-div.png) 0 100% repeat-x;}

ul.k2ArchiveList li a, .k2CategoryListContainer ul li a, .latest_posts_subject a {background: url(/clients/CadillacsCountry/Images/list-arrow.png) 0 -130px no-repeat;}
.module-medium ul.k2ArchiveList li a, .module-medium .k2CategoryListContainer ul li a, .module-medium .latest_posts_subject a {background: url(/clients/CadillacsCountry/Images/med-list-arrow.png) 0 -130px no-repeat;}
.module-dark ul.k2ArchiveList li a, .module-dark .k2CategoryListContainer ul li a, .module-dark .latest_posts_subject a {background: url(/clients/CadillacsCountry/Images/dark-list-arrow.png) 0 -130px no-repeat;}
.bodycontent ul.k2ArchiveList li a, .bodycontent .k2CategoryListContainer ul li a, .bodycontent .latest_posts_subject a {background: url(/clients/CadillacsCountry/Images/white-list-arrow.png) 0 -130px no-repeat;}

/* Community Builder */
.dynamic-tab-pane-control .tab-row { background: url(/clients/CadillacsCountry/Images/white-roktabs-bg.png) 0 100%;}
.dynamic-tab-pane-control .tab-row h2.tab.hover,  .dynamic-tab-pane-control .tab-row h2.tab.selected { background: url(/clients/CadillacsCountry/Images/white-roktabs-bg.png) repeat-x 0 0;}
#cbMenuNav li a { background: url(/clients/CadillacsCountry/Images/white-radio-button.png) no-repeat scroll 0 6px;}
#cbMenuNav li a:hover { background: url(/clients/CadillacsCountry/Images/white-radio-button.png) no-repeat scroll 0 -116px;}