/* 
 * Deprecated DNN CSS class names will remain available for some time
 * before being  permanently removed. Removal will occur according to
 * the  following process:
 *
 * 1. Removal will only occur with a major (x.y) release, never
 *    with a maintenance (x.y.z) release.
 * 2. Removal will not occur less than six months after the release
 *    when it was deprecated.
 * 3. Removal will not occur until after deprecation has been noted 
 *    in at least two major releases.
 *
 *                                              |        |Planned |
 *  Name                                        |Release |Removal |
 *----------------------------------------------+--------+--------+
 * Mod{NAME}C                                     5.6.2    6.2
 *   {NAME} = sanitized version of the DesktopModule Name 
 *   Used on <div> tag surrounding Module Content, inside container
 *----------------------------------------------+--------+--------+
 */  



/* PAGE BACKGROUND */
/* background color for the header at the top of the page  */
.HeadBg {
}

/* background color for the content part of the pages */
Body
{
}

.ControlPanel {
}

/* background/border colors for the selected tab */
.TabBg {
}

.LeftPane  { 
}

.ContentPane  { 
}

.RightPane  { 
}

/* text style for the selected tab */
.SelectedTab {
}

/* hyperlink style for the selected tab */
A.SelectedTab:link {
}

A.SelectedTab:visited  {
}

A.SelectedTab:hover    {
}

A.SelectedTab:active   {
}

/* text style for the unselected tabs */
.OtherTabs {
}
    
/* hyperlink style for the unselected tabs */
A.OtherTabs:link {
}

A.OtherTabs:visited  {
}

A.OtherTabs:hover    {
}

A.OtherTabs:active   {
}

/* GENERAL */
/* style for module titles */
.Head   {
}

/* style of item titles on edit and admin pages */
.SubHead    {
}

/* module title style used instead of Head for compact rendering by QuickLinks and Signin modules */
.SubSubHead {
}

/* text style used for most text rendered by modules */
.Normal
{
}

/* text style used for textboxes in the admin and edit pages, for Nav compatibility */
.NormalTextBox
{
}

.NormalRed
{
}

.NormalBold
{
}

/* text style for buttons and link buttons used in the portal admin pages */
.CommandButton     {
}
    
/* hyperlink style for buttons and link buttons used in the portal admin pages */
A.CommandButton:link {
}

A.CommandButton:visited  {
}

A.CommandButton:hover    {
}
    
A.CommandButton:active   {
}

/* button style for standard HTML buttons */
.StandardButton     {
}

/* GENERIC */
H1  {
}

H2  {
}

H3  {
}

H4  {
}

H5, DT  {
}

H6  {
}

TFOOT, THEAD    {
}

TH  {
}

A:link  {
}

A:visited   {
}

A:hover {
}

A:active    {
}

SMALL   {
}

BIG {
}

BLOCKQUOTE, PRE {
}


UL LI   {
}

UL LI LI    {
}

UL LI LI LI {
}

OL LI   {
}

OL OL LI    {
}

OL OL OL LI {
}
OL UL LI   {
}

HR {
}

/* MODULE-SPECIFIC */
/* text style for reading messages in Discussion */    
.Message    {
}   

/* style of item titles by Announcements and events */
.ItemTitle    {
}

/* Menu-Styles */
/* Module Title Menu */
.ModuleTitle_MenuContainer {
}

.ModuleTitle_MenuBar {
}

.ModuleTitle_MenuItem {
}

.ModuleTitle_MenuIcon {
}

.ModuleTitle_SubMenu {
}

.ModuleTitle_MenuBreak {
}

.ModuleTitle_MenuItemSel {
}

.ModuleTitle_MenuArrow {
}

.ModuleTitle_RootMenuArrow {
}

/* Main Menu */

.MainMenu_MenuContainer {
}

.MainMenu_MenuBar {
}

.MainMenu_MenuItem {
}

.MainMenu_MenuIcon {
}

.MainMenu_SubMenu {
}

.MainMenu_MenuBreak {
}

.MainMenu_MenuItemSel {
}

.MainMenu_MenuArrow {
}

.MainMenu_RootMenuArrow {
}

/* Login Styles */
.LoginPanel{
}

.LoginTabGroup{
}

.LoginTab {
}

.LoginTabSelected{
}

.LoginTabHover{
}

.LoginContainerGroup{
}

.LoginContainer{
}

@font-face {
    font-family: theDeadSaloon;
    src: url('/Portals/3/Fonts/thedeadsaloon-Regular.woff');
}

.fontDeadSaloon{
    font-family: 'theDeadSaloon', Fallback, sans-serif;
    font-size: 1.6em;
}


@media only screen and (max-width : 767px) {
.fontDeadSaloon{
    font-size: 1.2em;
}
}

@font-face {
    font-family: theLostSaloon;
    src: url('/Portals/3/Fonts/LostSaloon.woff');
}

.fontLostSaloon{
    font-family: 'theLostSaloon', Fallback, sans-serif;
    font-size: 1.6em;
}


@media only screen and (max-width : 767px) {
.fontLostSaloon{
    font-size: 1.2em;
}
}

@media screen and (max-width: 767px) {
            .polaroids li:nth-child(n+5) {
                display: none;
            }
        }

        ul.polaroids li {
            display: inline;
        }

        ul.polaroids a {
            background: #fff;
            display: inline;
            float: left;
            margin: 0 0 27px 30px;
            width: auto;
            padding: 10px 10px 15px;
            text-align: center;
            font-family: "Marker Felt",sans-serif;
            text-decoration: none;
            color: #333;
            font-size: 1.2em;
            -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
            -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
            -webkit-transform: rotate(-2deg);
            -webkit-transition: -webkit-transform .15s linear;
            -moz-transform: rotate(-2deg);
        }

        ul.polaroids li {
            padding-left: 0;
        }

        @media screen and (max-width: 768px) {
            ul.polaroids li a {
                margin-left: 0;
            }
        }

        ul.polaroids img {
            display: block;            
            margin-bottom: 12px;
        }

        ul.polaroids a:after {
            content: attr(title);
  font-family: cursive;
  font-size: 1.0em;
        }

        ul.polaroids li:nth-child(even) a {
            -webkit-transform: rotate(2deg);
            -moz-transform: rotate(2deg);
        }

        ul.polaroids li:nth-child(3n) a {
            -webkit-transform: none;
            position: relative;
            top: -5px;
            -moz-transform: none;
        }

        ul.polaroids li:nth-child(5n) a {
            -webkit-transform: rotate(5deg);
            position: relative;
            right: 5px;
            -moz-transform: rotate(5deg);
        }

        ul.polaroids li:nth-child(8n) a {
            position: relative;
            right: 5px;
            top: 8px;
        }

        ul.polaroids li:nth-child(11n) a {
            position: relative;
            left: -5px;
            top: 3px;
        }


        ul.polaroids li.messy a {
            margin-top: -400px;
            position: relative;
            left: 160px;
        }

        ul.polaroids li a:hover {
            -webkit-transform: scale(1.25);
            -moz-transform: scale(1.25);
            -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.5);
            -moz-box-shadow: 0 3px 6px rgba(0,0,0,.5);
            position: relative;
            z-index: 5;
        }

        ul.polaroidneg2 a {
            -webkit-transform: rotate(4deg);
            position: relative;
            right: 5px;
            -moz-transform: rotate(4deg);
        }

ul.polaroid0 a {
            -webkit-transform: rotate(0deg);
            position: relative;
            right: 5px;
            -moz-transform: rotate(0deg);
        }



.facebook-container {
    position: relative;
    padding-bottom: 95%;
    height: 0;
    overflow: hidden;
}

.facebook-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

.calendar-container {
    position: relative;
    padding-bottom: 60%;
    height: 0;
    overflow: hidden;
}

.calendar-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}







