
BODY {
scrollbar-face-color: #7D3C16;
scrollbar-3dlight-color: #000000;
scrollbar-darkshadow-color:#000000;
scrollbar-arrow-color: #231107;
scrollbar-track-color:#231107;

}

A  {
	color : #E9966C;
	text-decoration : underline;
}

A:Visited  {
	color : #E9966C;
	text-decoration : underline;
}

A:Active  {
	color :#E9966C;
	text-decoration : underline;
}

A:Hover  {
	color : #000000;
	text-decoration : none;
	background-color:#E9966C;
}
