#header {
	BACKGROUND-IMAGE: url(logo_bg.gif); BACKGROUND-REPEAT: no-repeat
}
BODY#main_body {
	BACKGROUND: url(pgbk.gif) #c4e7fd repeat-x; COLOR: #696969
}
#content_container BUTTON {
	BORDER-LEFT-COLOR: #1d81bf; BORDER-BOTTOM-COLOR: #1d81bf; COLOR: #ffffff; BORDER-TOP-COLOR: #1d81bf; BACKGROUND-COLOR: #26a8f6; BORDER-RIGHT-COLOR: #1d81bf
}
#content_container BUTTON:hover {
	BORDER-LEFT-COLOR: #6cc3f9; BORDER-BOTTOM-COLOR: #6cc3f9; BORDER-TOP-COLOR: #6cc3f9; BORDER-RIGHT-COLOR: #6cc3f9
}
#content_container BUTTON:active {
	BORDER-LEFT-COLOR: #333333; BORDER-BOTTOM-COLOR: #333333; BORDER-TOP-COLOR: #333333; BORDER-RIGHT-COLOR: #333333
}
#content_container TH {
	COLOR: #ffffff; BACKGROUND-COLOR: #1d81bf
}
#content_container TR.odd {
	COLOR: #696969; BACKGROUND-COLOR: #99d3f9
}
#content_container TR.even {
	COLOR: #696969; BACKGROUND-COLOR: #c4e7fd
}
#content_container FIELDSET {
	BORDER-LEFT-COLOR: #26a8f6; BORDER-BOTTOM-COLOR: #26a8f6; COLOR: #696969; BORDER-TOP-COLOR: #26a8f6; BACKGROUND-COLOR: #99d3f9; BORDER-RIGHT-COLOR: #26a8f6
}
#content_container LEGEND {
	COLOR: #696969
}
#content_container LABEL {
	COLOR: #696969
}
#content_container INPUT {
	BORDER-LEFT-COLOR: #356684; BORDER-BOTTOM-COLOR: #356684; BORDER-TOP-COLOR: #356684; BORDER-RIGHT-COLOR: #356684
}
#content_container TEXTAREA {
	BORDER-LEFT-COLOR: #356684; BORDER-BOTTOM-COLOR: #356684; BORDER-TOP-COLOR: #356684; BORDER-RIGHT-COLOR: #356684
}
