UNKNOWN {
	FONT-SIZE: 12px
}
.HighLightEventsHeader {
	FONT-SIZE: 12px; COLOR: black; BACKGROUND-COLOR: #ffb573
}
.HighLightEventsDetail {
	FONT-SIZE: 10px; BACKGROUND-COLOR: #ffe7c6; ToDay: bold
}
.SelectedDay {
	FONT-SIZE: 10px; BACKGROUND-COLOR: #e0e0e0
}
.NormalDay {
	FONT-SIZE: 10px; BACKGROUND-COLOR: #ffffff
}
.WeekList {
	FONT-SIZE: 10px; BACKGROUND-COLOR: #ffb573
}
.DayList {
	BORDER-RIGHT: thin; BORDER-TOP: thin; FONT-SIZE: 10px; BORDER-LEFT: thin; BORDER-BOTTOM: thin; BACKGROUND-COLOR: #ffe7c6
}
.Title {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: black; FONT-FAMILY: arial; BACKGROUND-COLOR: #bfbfbf
}
.CurrentFilterLink {
	FONT-SIZE: 10px; COLOR: red
}
.FilterLinks {
	FONT-SIZE: 10px
}
.PageLinks {
	FONT-SIZE: 12px; BACKGROUND-COLOR: white
}
.TableHeader {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; BACKGROUND-COLOR: #bfbfbf
}
.TableDetailEven {
	FONT-SIZE: 10px; BACKGROUND-COLOR: #ffe7c6
}
.TableDetailOdd {
	FONT-SIZE: 10px; BACKGROUND-COLOR: #ffb573
}
