/* --------- CLEARFIX ---------------*/
.clearfix:after { content: "."; display: block; clear: both; visibility:
hidden; line-height: 0; height: 0; }	
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; } 
* html .clearfix {height: 1%; }


a:link, a:visited, a {
	color: #293B93;
	text-decoration: none;
}
a:hover {
	color: #CB2530;
	text-decoration: none;

}
body {
	background-image: url(/clients/BoomersandSeniorsExpo/Images/bodybg.jpg);
	background-repeat: no-repeat;
	background-position: center -37px;
	background-color: #eee;
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #666666;
	margin: 0px;
	padding: 0px;
}
h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #333;
	font-weight: 900;
	margin: 0;
	padding: 0 0 20px 0;
}
h2 {
	font-size: 18px;
	color: #293B93;
	border-bottom: 0px #ccc solid;
	width: 100%;
	font-weight: 100;
	padding:0;
	display: block;
	margin:0 0 5px 0;

}
h3 {
	font-size: 13px;
	text-transform: uppercase;
	color: #CA2530;
	letter-spacing: 0px;
	font-weight: 900;
	margin: 0 0 0 0;
	padding: 0 0 10px 0;
	line-height: 13px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
#header {
	height: 205px;
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	background-image: url(../);
	background-position: 600px 60px;
	background-repeat: no-repeat;
	color: #fff;
}
#footer {
	height: 120px;
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	background-image: url(/clients/BoomersandSeniorsExpo/Images/footerbg.gif);
	background-position: center top;
	background-repeat: no-repeat;
	color: #666666;
	padding: 20px 0 0 0;
	margin: 20px auto 0 auto;
	text-align: center;
}
#wrapper {
	width: 920px;
	margin: 0 auto 0 auto;
	background-position: center top;
	padding: 0;
}
#rail {
	float: left;
	width: 230px;
	line-height: 20px;
	padding: 0 20px 20px 20px;
	border-left: 1px solid #dcdada;
	border-right: 1px solid #dcdada;
	background-image: url(/clients/BoomersandSeniorsExpo/Images/contentfade_bg.gif);
	background-color: #F3F1E9;
	background-repeat: repeat-x;
	margin: 0 0 0 20px;
}
.smalltext {
font-size:9px
}
.clearer {clear:both}
.mainpicbox {
	width: 460px;
	border: 1px solid #ccc;
	background-color:#F3F1E9;
	padding: 20px;
	margin: 17px 0 0 40px;
	line-height: 18px;
}
.railcaps {
	font-size: 18px;
	line-height: 20px;
	color: #B3B3B3;
	text-transform: lowercase;
	padding: 5px 0 0 0;
	display: block;
}
#wrapper p {
	line-height: 26px;
	padding: 3px 0 20px 0;
	margin: 0;
	font-size: 16px;
}

p.headline {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 20px;
	font-weight: 100;
	color: #253f98;
	margin: 20px 0 0 0;
}
#header ul {
	padding-top: 124px;
	font-size: 10px;
}

#header a:hover {
	color: #F3F1E9;
}
#header a:link {
	color: #F3F1E9;
	text-decoration: none;
}
#wrapper .headline {
	padding-top: 30px;
	padding-bottom: 10px;
}
#Home #home a, 
#About #about a {
padding-bottom: 2px;
background: transparent;
color: #CB2530;
}

blockquote {
	margin: 20px 0 20px 0;
	font-style: italic;
	font-size: 18px;
	line-height: 28px;
	color: #293B93;
}

.mainpic{
	margin: 10px 0 20px 20px;
	border: 1px solid #ccc;
	float: right;
	padding: 5px;
}
.padleft {
	padding-left: 40px;
	width: 400px;
}
.border {
	border: 1px solid #ccc;
}
.headertext {
	float: right;
	height: 20px;
	padding: 20px;
	color: #000099;
	width: 230px;
}
#rail a {
	color: #3366CC;
}
#rail a:hover {
	color: #666;
}
.infobox {
	margin: 5px;
	padding: 5px;
	float: right;
	width: 200px;
	border: 1px solid #CCCCCC;
}
.special {
	font-size: 28px;
	color: #333;
	line-height: 32px;
}
.maincontent {
	width: 560px;
	float: left;
	margin: 90px 0 20px 10px;
}

/*  --------- NAV STYLES--------- */
.nav {
	width: 224px;
	margin: 0 20px 0 40px;
	padding: 200px 0 0 0;
	float: left;
	background-color: #f2f2f2;
	background-image: url(/clients/BoomersandSeniorsExpo/Images/navbg.gif);
	background-repeat: no-repeat;
	background-position: left top;
}
.nav li {
	list-style-type: none;
}
.nav ul {
	margin: 0px;
	padding: 0px;
}
.nav ul li a {
	padding-bottom: 6px;
	display: block;
	font-size: 16px;
	padding-top: 5px;
	padding-right: 0;
	padding-left: 15px;
	border-right: 9px solid #fff;
	border-left: 9px solid #fff;

}
.nav a, .nav a:link, .nav a:visited, .nav a:active {
	color: #333;
	border-bottom: 1px solid #eee;
	background-color: #fff;
}
.nav a:hover {
	background-color: #eee;

}
#Home .nav .home a,
#Exhibitor_info .nav .exhibitor_info a,
#Contact .nav .contact a,
#About .nav .about a,
#About_the_expo .nav .about_the_expo a,
#Floorplan .nav .floorplan a,
#Expo_activities .nav .expo_activities a,
#Location .nav .location a,
#Exhibitors .nav .exhibitors a,
#Sponsors .nav .sponsors a,
#Press_releases .nav .press_releases a,
#Visitor_information .nav .visitor_information a {
	background-color: #F6ECEC;
	border-right: 9px solid #CB2530;
	border-left: 9px solid #CB2530;
	color: #CB2530;
}
.nav .navfooter {
}
.nav .navfooter {
	margin-left: 0px;
}
#Home .special {
	width: 440px;
	letter-spacing: -1px;
}
.floatright {
	float: right;
	padding-left: 10px;
}
.floatleft {
	float: left;
}
.maincontent ul {
	line-height: 24px;
	margin-top: 10px;
}
.maincontent ul ul li {
	list-style-type: disc;
}
.maincontent ul li {
	list-style-type: disc;
}
.image_right {
	float: right;
}

.footernav li {
	display: inline;
	padding: 0;
	margin: 0;
}
.footernav li a{
	font-size:9px;
	color:#999;
	text-transform:uppercase;
	padding: 5px 7px 5px 5px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	display: inline;
	width: 200px;
	border-right: 1px solid #ccc;
	}
.footernav li a:hover{color:#CB2530}

.footernav {
	display: block;
	text-align: center;
	line-height: 24px;
	width: 600px;
	margin: 10px auto 0 auto;

}
.threecolumn {
	width: 170px;
	float: left;
	padding-right: 10px;
	line-height: 16px;
}
.threecolumn ul {
	margin: 0px;
	padding: 20px 0 0 0;
	list-style-type: none;
	list-style-image: none;
	line-height: 16px;
}
.threecolumn li {
	list-style-type: none;
	border-bottom: 1px solid #ccc;
	background-image: url(/clients/BoomersandSeniorsExpo/Images/checkbox.gif);
	background-repeat: no-repeat;
	background-position: left top;
	display: block;
	margin-top: 5px;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0px;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 5px;
	padding-left: 20px;
	font-size: 14px;
}
#footer .special {font-size:14px;
color:#999;
font-style:italic;
}
.footer_content {
	text-align: center;
	float: none;
	width: 500px;
	display: block;
	margin:0 auto 0 auto;
}
.footernav li a.noborder {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border: 0;
}
.maincontent ul ul {
	margin-top: 0px;
	padding-top: 0px;
}
/* BIG BUTTON SPRITE */
.spritebox .sprite_button img{border:0;margin:0;padding:0;}
.spritebox .sprite_button {
	height: 50px;
	width: 257px;
	overflow: hidden;
	z-index:9999;
}
.spritebox .sprite_button ul, .spritebox .sprite_button ul li
 {list-style-type:none; margin:0;padding:0}
.spritebox .sprite_button li a {
	background-image: url(/clients/BoomersandSeniorsExpo/Images/buttonbg.png);
	background-position:0px -60px;
	display:block;
	}
.spritebox .sprite_button li a:hover {
	background-image: url(/clients/BoomersandSeniorsExpo/Images/buttonbg.png);
	background-position:0px 0px;
	}
.slider {
	margin: 0;
	line-height: 18px;
	clear: both;
	height: 410px;
}
.spritebox {
	padding-top: 5px;
	width: 250px;
	margin-right: 20px;
	float: left;
}

/* BLUE BUTTON*/

.spritebox_blue .sprite_button img{border:0;margin:0;padding:0;}
.spritebox_blue .sprite_button {
	height: 50px;
	width: 257px;
	overflow: hidden;
	z-index:9999;
}
.spritebox_blue .sprite_button ul, .spritebox_blue .sprite_button ul li
 {list-style-type:none; margin:0;padding:0}
.spritebox_blue .sprite_button li a {
	background-image: url(/clients/BoomersandSeniorsExpo/Images/buttonbg_blue.png);
	background-position:0px -60px;
	display:block;
	}
.spritebox_blue .sprite_button li a:hover {
	background-image: url(/clients/BoomersandSeniorsExpo/Images/buttonbg_blue.png);
	background-position:0px 0px;
	}
.slider {
	margin: 0;
	line-height: 18px;
	clear: both;
	height: 410px;
}
.spritebox_blue {
	padding-top: 5px;
	width: 250px;
	margin-right: 20px;
	float: left;
}
.nav ul ul.subnav li a {
	padding-left:30px;
	color: #999;
	display:block;
	background-repeat: no-repeat;
	background-position: 20px center;
	background-image: url(/clients/BoomersandSeniorsExpo/Images/arrow.gif);
}
.nav ul ul.subnav li a:hover {color:#333}
.navfooter a img {
	padding:10px 0 0 0;
}
div#footer ul.footernav li{
	list-style-type: none;
}
