body { min-width: 990px; background-image: url(/clients/agecrofthall/images/parchment.jpg); background-repeat: repeat; }

.cms-layout-centered { text-align: center; }
.cms-layout-header { width: 100%; height: 108px; border-bottom: 6px solid #354368; text-align: center; line-height: normal; overflow: hidden; }
.cms-layout-header-centered { width: 990px; margin: 0 auto; }
.cms-home-link { float: right; padding-top: 15px; }

.cms-layout-search { float: left; margin-top: 1em; }
.cms-layout-search td { line-height: 14px; }
.cms-layout-search input { border: solid 1px #354368; color: #354368; height: 12px; width: 135px; padding: 1px; font-size: 11px; background-color: transparent;  }
.cms-layout-search img { margin-right: .4em;  }
.cms-layout-sociallinks { }
.cms-layout-sociallinks img { height: 16px; margin-right: 0.25em;  }
.phoneNumber { color: #740E23; font-family: 'Lora',serif; font-size: 16pt; padding-left: 1em; }

.cms-layout-primarylinks { text-align: left; float: left; margin-top: 45px; }
.cms-layout-primarylinks-centered { }
.cms-layout-primarylinks a { font-family: 'Lora',serif; color: #740E23; display: inline-block }
.cms-layout-primarylinks a:hover, .cms-layout-primarylinks a.Selected { color: #354368;  }

.cms-layout-primarylinks ul { list-style-type: none; height: 25px; }
.cms-layout-primarylinks ul li { margin: 0; padding: 0; list-style-type: none; display: inline-block; vertical-align: top; float: left; }
.cms-layout-primarylinks ul li a { 
	font-size: 14pt; 
    font-weight: bold;
	text-decoration: none; 
	display: block; 
    padding: 5px 2em 2px 0;
}
.firefox .cms-layout-primarylinks ul li a { padding-bottom: 0; }

.cms-layout-primarylinks ul ul {
    border: solid 1px #f0e1ba;
    border-top: 6px solid #354368; 
	background-color: #f9eed2;
	z-index: 110;
	position: absolute;
	display: none;
	height: auto; 
	width: 155px;
}

.cms-layout-primarylinks ul li:hover > ul  { display: block; }
.cms-layout-primarylinks ul ul ul { left: 155px; border-top-style: none; margin-top: -18px; }
.cms-layout-primarylinks ul ul li { display: block; float: none; padding-right: 10px; width: 145px; }

.cms-layout-primarylinks ul ul li a { 
    font-family: "Roboto Light",Roboto,Verdana,Arial,Helvetica,sans-serif;
	font-size: 11px; 
	font-weight: normal;
    font-style: normal;
	display: block; 
	height: auto;
	text-align: left;
	width: 130px;
	text-indent: -5px;
	padding: 3px 10px 3px 15px;
} 

.cms-layout-primarylinks ul ul li a:hover, .cms-layout-primarylinks ul ul li a.Selected { color: #2d466d; background-color: #edd9a7;  }

.cms-layout-body { background-color: #fff; text-align: center; }

.cms-layout-body-centered { width: 990px; margin: 0 auto; clear: both; text-align: left; }

.cms-layout-sidebar { float: right; width: 170px; padding: 15px 0 0 20px; }

.cms-layout-top-utils { margin-bottom: 1em; float: right; }
.cms-layout-textsize { font-size: 8px; text-transform: uppercase; color: #999; }
.cms-layout-textsize img { vertical-align: middle; }
.cms-layout-textsize a { text-decoration: none; color: #999; }

.cms-layout-leftside { float: left; width: 125px; text-align: left; margin: 0 20px 0 10px; min-height: 200px; line-height: normal; position: relative; }
.cms-layout-siblinglinks { margin-top: 1em; line-height: 1.5em; }
.cms-layout-siblinglinks a { display: block;  text-decoration: none; font-size: 12px; color: #6A6A6A; }
.cms-layout-siblinglinks a:hover, .cms-layout-siblinglinks a.Selected { color: #2D466D; font-weight: bold; }
.cms-layout-siblinglinks a.cms-nav-level-1 { font-size: 14pt; color: #354368; font-weight: bold; font-family: 'Lora',serif;}
.cms-layout-siblinglinks a.cms-nav-level-3:before { content:" - "; }

.cms-layout-featuredlinks { margin-top: 1.5em; }
.cms-layout-featuredlinks a { display: block;  text-decoration: none; font-size: 14pt; color: #740E23; line-height: 2em; font-family: 'Lora',serif;}
.cms-layout-featuredlinks a:hover, .cms-layout-featuredlinks a.Selected { color: #354368; }

#RealContent { padding-left: 125px; } 

.cms-layout-bottom-utils { clear: both; padding: 1em 0 0.5em 155px; font-size: 10px; color: #203556; text-align: left; line-height: normal; }
.cms-layout-bottom-utils { }
.cms-layout-bottom-utils a { color: #203556; text-decoration: none; }
.cms-layout-bottom-utils a:hover { text-decoration: underline; }

.cms-layout-footer { border-top: 6px solid #354368; text-align:left; clear: both; line-height: normal; }
.cms-layout-footer-centered { width: 990px; margin: 0.7em auto; }
.cms-layout-footer hr { color: #636467; clear: both; }
.cms-layout-utilitylinks, .cms-layout-utilitylinks a { font-weight: normal; font-size: 10pt; text-decoration: none; color: #636467; }
.cms-layout-utilitylinks { float: left; height: 30px; }
.cms-layout-utilitylinks a:hover { text-decoration: underline; }
.cms-layout-ddi { float: right; text-align: right; font-weight: normal; font-size: 10pt; text-decoration: none; padding: 2px 0;  }
.cms-layout-ddi a { color: #000; }
.cms-layout-ddi a:hover { color: #740E23; }
.cms-layout-ddi img { vertical-align: middle; }

.cms-layout-sitemap { text-align:left; clear: both; }
.cms-layout-sitemap-centered { width: 990px; margin: 0 auto;  }
#sitemap {  }
.cms-layout-sitemap .smSection { float: left; display: inline-block; text-align: left; min-height: 100px; line-height: 120%; padding-right: 50px; }
.cms-layout-sitemap a { color: #636467; text-decoration: none; font-size: 11px; text-align: left; display: block; padding-left: 0px; line-height: 140%; margin-left: 0.3em; letter-spacing: 1px; }
.cms-layout-sitemap a:hover { color: #740E23; }
.cms-layout-sitemap a.cms-nav-level-1 { font-weight: bold; text-indent: -0.3em; }
.cms-layout-sitemap a.cms-nav-level-3:before { content:"- "; }
.cms-layout-sitemap-toggle { padding-bottom: 2px; display: none; }

.cms-calendar { text-align: center; margin: 1em 0 1em 2em; }

.cms-calendar .ui-datepicker { padding: 0; }
.cms-calendar .ui-datepicker.ui-corner-all { border-radius: 0 }
.cms-calendar .ui-datepicker { width: 11em; border: solid 4px #740e23; line-height: 1em; }
.cms-calendar .ui-datepicker table { font-size: 9.5px; border-collapse: collapse; }
.cms-calendar .ui-datepicker th { padding: 0.3em 0.1em; }
.cms-calendar .ui-datepicker td { padding: 0; }
.cms-calendar .ui-datepicker .ui-state-hover .ui-icon { background-image: url(ui-lightness/images/ui-icons_228ef1_256x240.png) }
.cms-calendar .ui-datepicker .ui-widget-header { background-image: none; background-color: #740e23; border-style: none; }
.cms-calendar .ui-datepicker .ui-widget-header.ui-corner-all { border-radius: 0; }
.cms-calendar .ui-datepicker .ui-state-default, .ui-datepicker .ui-widget-content .ui-state-default, .ui-datepicker .ui-widget-header .ui-state-default { color: #000; }
.cms-calendar .ui-datepicker .ui-datepicker-title { font-size: 0.8em; }
.cms-calendar .ui-datepicker .ui-datepicker-prev span, .cms-calendar .ui-datepicker .ui-datepicker-next span { margin-top: -10px }
.cms-calendar .ui-datepicker .ui-datepicker-month, .cms-calendar .ui-datepicker .ui-datepicker-year { color: #fcf1cf; }
.cms-calendar .ui-datepicker.ui-widget-content .ui-state-active { border-color: #fcf1cf;  }
.cms-calendar .ui-datepicker .ui-state-hover { color: #069; border: solid 1px #fcf1cf; }
.cms-calendar .ui-datepicker .dateHasEvent a { background-color: #7998ba; background-image: none; }
.cms-calendar .ui-datepicker .ui-icon-circle-triangle-e { background-position: -32px -16px; } 
.cms-calendar .ui-datepicker .ui-icon-circle-triangle-w { background-position: -96px -16px; } 
.cms-calendar .ui-datepicker td span, .cms-calendar .ui-datepicker td a { padding: .1em .1em; }

.events h4 a, .events h4 a:hover { color: #740E23; }
.galleria-container { overflow: inherit; }

.state1 { min-width: 0; }

/*
.cms-childnav-full-rollup .cms-child-item { float: left; width: 47%; margin-right: 20px; border-bottom: dashed 1px #ccc; }

.events th { vertical-align: top; }
.events h5 { margin-top: 0; }
.events .date { white-space: nowrap; text-align: right; font-style: italic; font-size: 10px; }
.events .category { font-style: italic; }

.bt-wrapper canvas { left: 0px; }

.frmLabel { text-align:right; padding-right:3px; vertical-align:top; padding-bottom:10px; }
.frmAnswer { text-align:left; padding-left:2px; vertical-align:top; padding-bottom:10px; }
*/

@media print
{
    body { min-width: 0; background-image: none; }
	.cms-layout-search, .cms-layout-sociallinks, .cms-layout-leftside, .cms-layout-top-utils, .cms-layout-recentpages, .cms-layout-sitemap, .cms-layout-footer, .cms-layout-primarylinks { display: none; }
	.cms-layout-body { border-style: none; width: auto;  }
	.cms-layout-header-centered { width: auto; text-align: right; }
	#RealContent { padding-left: 0px; }
}

@media handheld
{ 
	.cms-layout-footer { position: static; bottom: auto; left: auto; }
}
