<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
<head runat="server">
<asp:ContentPlaceHolder id="MasterHead" runat="server"></asp:ContentPlaceHolder>
<meta property="og:title" content="title" />
<meta property="og:description" content="description" />
<meta property="og:image" content="http://tix.com/images/TixLogo128x128.gif"/>
<meta property="og:image:secure_url" content="https://tix.com/images/TixLogo128x128.gif" />
<meta property="og:image:type" content="image/jpeg" />
</head>
<BODY leftmargin=0 rightmargin=0 topmargin=0 marginheight=0 marginwidth=0 >
<form id="form1" runat="server">
<div>
<!--<![endif]-->

<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>Classes | Circle Modern Dance</title>
	<link rel="profile" href="http://gmpg.org/xfn/11">
	<link rel="pingback" href="http://circlemoderndance.com/xmlrpc.php">
	<!--[if lt IE 9]>
	<script src="http://circlemoderndance.com/wp-content/themes/twentythirteen/js/html5.js"></script>
	<![endif]-->

	<!-- SEO Ultimate (http://www.seodesignsolutions.com/wordpress-seo/) -->
	<meta name="description" content="Circle has been providing fun and affordable adult dance education in Knoxville for 25 years.">
	<meta property="og:type" content="article">
	<meta property="og:title" content="Classes">
	<meta property="og:description" content="Circle has been providing fun and affordable adult dance education in Knoxville for 25 years.">
	<meta property="og:url" content="http://circlemoderndance.com/classes/">
	<meta property="article:published_time" content="2010-07-19">
	<meta property="article:modified_time" content="2015-07-06">
	<meta property="og:site_name" content="Circle Modern Dance">
	<meta name="twitter:card" content="summary">
	<!-- /SEO Ultimate -->

	<link rel="alternate" type="application/rss+xml" title="Circle Modern Dance » Feed" href="http://circlemoderndance.com/feed/">
	<link rel="alternate" type="application/rss+xml" title="Circle Modern Dance » Comments Feed" href="http://circlemoderndance.com/comments/feed/">
	<link rel="alternate" type="application/rss+xml" title="Circle Modern Dance » Classes Comments Feed" href="http://circlemoderndance.com/classes/feed/">

	<link rel="stylesheet" id="sociablecss-css" href="/clients/circlemoderndance/images/sociable.css" type="text/css" media="all">
	<link rel="stylesheet" id="fancybox-css" href="/clients/circlemoderndance/images/jquery.css" type="text/css" media="all">
	<link rel="stylesheet" id="shashinStyle-css" href="/clients/circlemoderndance/images/shashin.css" type="text/css" media="all">
	<link rel="stylesheet" id="sidebar-login-css" href="/clients/circlemoderndance/images/sidebar-login.css" type="text/css" media="all">
	<link rel="stylesheet" id="google-calendar-events-qtip-css" href="/clients/circlemoderndance/images/jquery_002.css" type="text/css" media="all">
	<link rel="stylesheet" id="google-calendar-events-public-css" href="/clients/circlemoderndance/images/gce-style.css" type="text/css" media="all">
	<link rel="stylesheet" id="twentythirteen-style-css" href="/clients/circlemoderndance/images/style.css" type="text/css" media="all">
	<link rel="stylesheet" id="cmd_styles-css" href="/clients/circlemoderndance/images/main.css" type="text/css" media="all">
	<link rel="stylesheet" id="twentythirteen-fonts-css" href="/clients/circlemoderndance/images/css.css" type="text/css" media="all">
	<link rel="stylesheet" id="genericons-css" href="/clients/circlemoderndance/images/genericons.css" type="text/css" media="all">
	<!--[if lt IE 9]>
<link rel='stylesheet' id='twentythirteen-ie-css'  href='http://circlemoderndance.com/wp-content/themes/twentythirteen/css/ie.css?ver=2013-07-18' type='text/css' media='all' />
<![endif]-->
	<script type="text/javascript" src="/clients/circlemoderndance/images/ZY5REoMgDEQvpGY6nqIH6AECRI1FYgk45fYtM9QP-7d5u5tkhPWVKZZubKLfe.js"></script>
	<script type="text/javascript">
		/* <![CDATA[ */
		var sidebar_login_params = {
			"ajax_url": "http:\/\/circlemoderndance.com\/wp-admin\/admin-ajax.php",
			"force_ssl_login": "0",
			"force_ssl_admin": "0",
			"is_ssl": "0",
			"i18n_username_required": "Please enter your username",
			"i18n_password_required": "Please enter your password",
			"error_class": "sidebar_login_error"
		};
		/* ]]> */
	</script>
	<script type="text/javascript" src="/clients/circlemoderndance/images/M9QvzkxJTUos0s3JT8_M008sLk4tKdbPKkYV18vNzAMA.js"></script>
	<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://circlemoderndance.com/xmlrpc.php?rsd">
	<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://circlemoderndance.com/wp-includes/wlwmanifest.xml">
	<meta name="generator" content="WordPress 4.3.1">
	<link rel="canonical" href="http://circlemoderndance.com/classes/">
	<link rel="shortlink" href="http://circlemoderndance.com/?p=4">
	<script type="text/javascript">
		var base_url_sociable = 'http://circlemoderndance.com/wp-content/plugins/sociable/'
	</script>
	<script gapi_processed="true" type="text/javascript" src="/clients/circlemoderndance/images/plusone_002.js"></script>
	<script src="/clients/circlemoderndance/images/secureAnonymousFramework"></script>
	<script src="/clients/circlemoderndance/images/button.js" async="" charset="utf-8" type="text/javascript"></script>
	<style type="text/css">
		* html #li_ui_li_gen_1445269181592_0 a#li_ui_li_gen_1445269181592_0-link {
			height: 1% !important;
		}

		#li_ui_li_gen_1445269181592_0 {
			position: relative !important;
			overflow: visible !important;
			display: block !important;
		}

		#li_ui_li_gen_1445269181592_0 span {
			-webkit-box-sizing: content-box !important;
			-moz-box-sizing: content-box !important;
			box-sizing: content-box !important;
		}

		#li_ui_li_gen_1445269181592_0 a#li_ui_li_gen_1445269181592_0-link {
			border: 0 !important;
			height: 20px !important;
			text-decoration: none !important;
			padding: 0 !important;
			margin: 0 !important;
			display: inline-block !important;
		}

		#li_ui_li_gen_1445269181592_0 a#li_ui_li_gen_1445269181592_0-link:link,
		#li_ui_li_gen_1445269181592_0 a#li_ui_li_gen_1445269181592_0-link:visited,
		#li_ui_li_gen_1445269181592_0 a#li_ui_li_gen_1445269181592_0-link:hover,
		#li_ui_li_gen_1445269181592_0 a#li_ui_li_gen_1445269181592_0-link:active {
			border: 0 !important;
			text-decoration: none !important;
		}

		#li_ui_li_gen_1445269181592_0 a#li_ui_li_gen_1445269181592_0-link:after {
			content: "." !important;
			display: block !important;
			clear: both !important;
			visibility: hidden !important;
			line-height: 0 !important;
			height: 0 !important;
		}

		#li_ui_li_gen_1445269181592_0 #li_ui_li_gen_1445269181592_0-logo {
			background-image: url(https://static.licdn.com/scds/common/u/images/apps/connect/sprites/sprite_connect_v14.png) !important;
			background-position: 0px -593px !important;
			background-repeat: no-repeat !important;
			background-color: #0077b5 !important;
			background-size: initial !important;
			cursor: pointer !important;
			border: 0 !important;
			border-right: 1px solid #066094 !important;
			text-indent: -9999em !important;
			overflow: hidden !important;
			padding: 0 !important;
			margin: 0 !important;
			position: absolute !important;
			left: 0px !important;
			top: 0px !important;
			display: block !important;
			width: 20px !important;
			height: 20px !important;
			float: right !important;
			border-radius: 2px !important;
			-moz-border-radius: 2px !important;
			border-top-right-radius: 2px !important;
			border-bottom-right-radius: 2px !important;
			-moz-border-radius-topright: 2px !important;
			-moz-border-radius-bottomright: 2px !important;
		}

		#li_ui_li_gen_1445269181592_0 #li_ui_li_gen_1445269181592_0-title {
			color: #fff !important;
			cursor: pointer !important;
			display: block !important;
			white-space: nowrap !important;
			float: left !important;
			margin-left: 1px !important;
			vertical-align: top !important;
			overflow: hidden !important;
			text-align: center !important;
			height: 18px !important;
			padding: 0 4px 0 23px !important;
			border: 1px solid #000 !important;
			border-top-color: #0077b5 !important;
			border-right-color: #0077b5 !important;
			border-bottom-color: #0077b5 !important;
			border-left-color: #0077b5 !important;
			text-shadow: 0 -1px #005887 !important;
			line-height: 20px !important;
			border-radius: 2px !important;
			-moz-border-radius: 2px !important;
			border-top-right-radius: 2px !important;
			border-bottom-right-radius: 2px !important;
			-moz-border-radius-topright: 2px !important;
			-moz-border-radius-bottomright: 2px !important;
			background-color: #0077b5 !important;
			background-image: -moz-linear-gradient(top, #0077b5 0%, #0077b5 100%) !important;
		}

		#li_ui_li_gen_1445269181592_0.hovered #li_ui_li_gen_1445269181592_0-title {
			border: 1px solid #000 !important;
			border-top-color: #0369a0 !important;
			border-right-color: #0369a0 !important;
			border-bottom-color: #0369a0 !important;
			border-left-color: #0369a0 !important;
			background-color: #0369a0 !important;
			background-image: -moz-linear-gradient(top, #0369a0 0%, #0369a0 100%) !important;
		}

		#li_ui_li_gen_1445269181592_0.clicked #li_ui_li_gen_1445269181592_0-title,
		#li_ui_li_gen_1445269181592_0.down #li_ui_li_gen_1445269181592_0-title {
			color: #fff !important;
			border: 1px solid #000 !important;
			border-top-color: #066094 !important;
			border-right-color: #066094 !important;
			border-bottom-color: #066094 !important;
			border-left-color: #066094 !important;
			background-color: #066094 !important;
			background-image: -moz-linear-gradient(top, #066094 0%, #066094 100%) !important;
		}

		.IN-shadowed #li_ui_li_gen_1445269181592_0 #li_ui_li_gen_1445269181592_0-title {}

		.IN-shadowed #li_ui_li_gen_1445269181592_0.hovered #li_ui_li_gen_1445269181592_0-title {}

		.IN-shadowed #li_ui_li_gen_1445269181592_0.clicked #li_ui_li_gen_1445269181592_0-title,
		.IN-shadowed #li_ui_li_gen_1445269181592_0.down #li_ui_li_gen_1445269181592_0-title {}

		#li_ui_li_gen_1445269181592_0 #li_ui_li_gen_1445269181592_0-title-text,
		#li_ui_li_gen_1445269181592_0 #li_ui_li_gen_1445269181592_0-title-text * {
			color: #fff !important;
			font-size: 11px !important;
			font-family: Arial, sans-serif !important;
			font-weight: bold !important;
			font-style: normal !important;
			-webkit-font-smoothing: antialiased !important;
			display: inline-block !important;
			background: transparent none !important;
			vertical-align: top !important;
			height: 18px !important;
			line-height: 20px !important;
			float: none !important;
		}

		#li_ui_li_gen_1445269181592_0 #li_ui_li_gen_1445269181592_0-title-text strong {
			font-weight: bold !important;
		}

		#li_ui_li_gen_1445269181592_0 #li_ui_li_gen_1445269181592_0-title-text em {
			font-style: italic !important;
		}

		#li_ui_li_gen_1445269181592_0.hovered #li_ui_li_gen_1445269181592_0-title-text,
		#li_ui_li_gen_1445269181592_0.hovered #li_ui_li_gen_1445269181592_0-title-text * {
			color: #fff !important;
		}

		#li_ui_li_gen_1445269181592_0.clicked #li_ui_li_gen_1445269181592_0-title-text,
		#li_ui_li_gen_1445269181592_0.down #li_ui_li_gen_1445269181592_0-title-text,
		#li_ui_li_gen_1445269181592_0.clicked #li_ui_li_gen_1445269181592_0-title-text *,
		#li_ui_li_gen_1445269181592_0.down #li_ui_li_gen_1445269181592_0-title-text * {
			color: #fff !important;
		}

		#li_ui_li_gen_1445269181592_0 #li_ui_li_gen_1445269181592_0-title #li_ui_li_gen_1445269181592_0-mark {
			display: inline-block !important;
			width: 0px !important;
			overflow: hidden !important;
		}

		.success #li_ui_li_gen_1445269181592_0 #li_ui_li_gen_1445269181592_0-title {
			color: #fff !important;
			border-top-color: #0077b5 !important;
			border-right-color: #0077b5 !important;
			border-bottom-color: #0077b5 !important;
			border-left-color: #0077b5 !important;
			background-color: #0077b5 !important;
			background-image: -moz-linear-gradient(top, #0077b5 0%, #0077b5 100%) !important;
		}

		.success #li_ui_li_gen_1445269181592_0 #li_ui_li_gen_1445269181592_0-title-text,
		.success #li_ui_li_gen_1445269181592_0 #li_ui_li_gen_1445269181592_0-title-text * {
			color: #fff !important;
		}

		.IN-shadowed .success #li_ui_li_gen_1445269181592_0 #li_ui_li_gen_1445269181592_0-title {}

		.success #li_ui_li_gen_1445269181592_0.hovered #li_ui_li_gen_1445269181592_0-title {
			color: #fff !important;
			border-top-color: #0369a0 !important;
			border-right-color: #0369a0 !important;
			border-bottom-color: #0369a0 !important;
			border-left-color: #0369a0 !important;
			background-color: #0369a0 !important;
			background-image: -moz-linear-gradient(top, #0369a0 0%, #0369a0 100%) !important;
		}

		.success #li_ui_li_gen_1445269181592_0.hovered #li_ui_li_gen_1445269181592_0-title-text,
		.success #li_ui_li_gen_1445269181592_0.hovered #li_ui_li_gen_1445269181592_0-title-text * {
			color: #fff !important;
		}

		.success #li_ui_li_gen_1445269181592_0.clicked #li_ui_li_gen_1445269181592_0-title,
		.success #li_ui_li_gen_1445269181592_0.down #li_ui_li_gen_1445269181592_0-title {
			color: #fff !important;
			border-top-color: #066094 !important;
			border-right-color: #066094 !important;
			border-bottom-color: #066094 !important;
			border-left-color: #066094 !important;
			background-color: #066094 !important;
			background-image: -moz-linear-gradient(top, #066094 0%, #066094 100%) !important;
		}

		.success #li_ui_li_gen_1445269181592_0.clicked #li_ui_li_gen_1445269181592_0-title-text,
		.success #li_ui_li_gen_1445269181592_0.down #li_ui_li_gen_1445269181592_0-title-text,
		.success #li_ui_li_gen_1445269181592_0.clicked #li_ui_li_gen_1445269181592_0-title-text *,
		.success #li_ui_li_gen_1445269181592_0.down #li_ui_li_gen_1445269181592_0-title-text * {
			color: #fff !important;
		}

		.IN-shadowed .success #li_ui_li_gen_1445269181592_0.clicked #li_ui_li_gen_1445269181592_0-title,
		.IN-shadowed .success #li_ui_li_gen_1445269181592_0.down #li_ui_li_gen_1445269181592_0-title {}

		#li_ui_li_gen_1445269181602_1-container.IN-right {
			display: inline-block !important;
			float: left !important;
			overflow: visible !important;
			position: relative !important;
			height: 20px !important;
			padding-left: 2px !important;
			line-height: 1px !important;
			cursor: pointer !important;
		}

		#li_ui_li_gen_1445269181602_1.IN-right {
			display: block !important;
			float: left !important;
			height: 20px !important;
			margin-right: 4px !important;
			padding-right: 4px !important;
			background-image: url(https://static.licdn.com/scds/common/u/images/apps/connect/sprites/sprite_connect_v14.png) !important;
			background-color: transparent !important;
			background-repeat: no-repeat !important;
			background-position: right -447px !important;
		}

		#li_ui_li_gen_1445269181602_1-inner.IN-right {
			display: block !important;
			float: left !important;
			padding-left: 8px !important;
			text-align: center !important;
			background-image: url(https://static.licdn.com/scds/common/u/images/apps/connect/sprites/sprite_connect_v14.png) !important;
			background-color: transparent !important;
			background-repeat: no-repeat !important;
			background-position: 0px -426px !important;
		}

		#li_ui_li_gen_1445269181602_1-content.IN-right {
			display: inline !important;
			font-size: 11px !important;
			color: #4e4e4e !important;
			font-weight: bold !important;
			font-family: Arial, sans-serif !important;
			line-height: 20px !important;
			padding: 0 5px 0 5px !important;
		}

		#li_ui_li_gen_1445269181602_1-container.IN-empty {
			display: none !important;
		}

		#li_ui_li_gen_1445269181602_1-container.IN-hidden #li_ui_li_gen_1445269181602_1 {
			display: none !important;
		}
	</style>
</head>

<body class="page page-id-4 page-template-default sidebar">
	<div id="page" class="hfeed site">
		<header id="masthead" class="site-header" role="banner">
			<a class="home-link" href="http://circlemoderndance.com/" title="Circle Modern Dance" rel="home">
				<h1 class="site-title">Circle Modern Dance</h1>
				<h2 class="site-description">Every body has the right to dance</h2>
			</a>

			<div id="navbar" class="navbar">
				<nav id="site-navigation" class="navigation main-navigation" role="navigation">
					<button class="menu-toggle">Menu</button>
					<a class="screen-reader-text skip-link" href="#content" title="Skip to content">Skip to content</a>
					<div class="menu-main-menu-container">
						<ul id="primary-menu" class="nav-menu">
							<li id="menu-item-732" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-732"><a href="http://circlemoderndance.com/">Home</a></li>
							<li id="menu-item-1063" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1063"><a href="http://circlemoderndance.com/25thanniversary/">25th Anniversary</a></li>
							<li id="menu-item-853" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children menu-item-853"><a href="#">Get Involved</a>
								<ul class="sub-menu">
									<li id="menu-item-854" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-854"><a href="http://circlemoderndance.com/dance-for-circle/">Dance for Circle</a></li>
									<li id="menu-item-833" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-833"><a href="http://circlemoderndance.com/call-for-choreographers/">Choreograph for Circle</a></li>
									<li id="menu-item-856" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-4 current_page_item menu-item-856"><a href="http://circlemoderndance.com/classes/">Classes</a></li>
									<li id="menu-item-855" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-855"><a href="http://circlemoderndance.com/donate-today/">DONATE TODAY</a></li>
									<li id="menu-item-860" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-860"><a href="http://circlemoderndance.com/volunteer/">Volunteer</a></li>
								</ul>
							</li>
							<li id="menu-item-736" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-4 current_page_item menu-item-736"><a href="http://circlemoderndance.com/classes/">Classes</a></li>
							<li id="menu-item-729" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-729"><a href="http://circlemoderndance.com/photos-videos/">Photos &amp; Videos</a>
								<ul class="sub-menu">
									<li id="menu-item-730" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-730"><a href="http://circlemoderndance.com/photos-videos/videos/">Videos</a></li>
									<li id="menu-item-731" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-731"><a href="http://circlemoderndance.com/photos-videos/photos/">Photos</a></li>
								</ul>
							</li>
							<li id="menu-item-734" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-734"><a href="http://circlemoderndance.com/donate-today/">DONATE TODAY</a></li>
							<li id="menu-item-735" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-735"><a href="http://circlemoderndance.com/mission/">About</a>
								<ul class="sub-menu">
									<li id="menu-item-743" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-743"><a href="http://circlemoderndance.com/core-dancers/">Core Dancers</a></li>
									<li id="menu-item-737" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-737"><a href="http://circlemoderndance.com/about/">Contact</a></li>
								</ul>
							</li>
						</ul>
					</div>

				</nav>
				<!-- #site-navigation -->
			</div>
			<!-- #navbar -->
		</header>
		<!-- #masthead -->

		<div id="main" class="site-main">

<asp:ContentPlaceHolder id="MasterContent" runat="server"></asp:ContentPlaceHolder>
		</div>
		<!-- #main -->
		<footer id="colophon" class="site-footer" role="contentinfo">
			<div id="secondary" class="sidebar-container" role="complementary">
				<div style="position: relative; height: 180.7px;" class="widget-area masonry">
					<aside style="position: absolute; left: 0px; top: 0px;" id="displaytweetswidget-2" class="widget widget_displaytweetswidget masonry-brick">
						<h3 class="widget-title">@CircleModern</h3>
						<p style="display: none;">Classes today, Emporium Annex Studio 2:00-3:30 Modern 3:30-4:30 Improv $7 class, $20 for 4 classes. 1st class free! <a href="http://t.co/rjWGyoPAMF" target="_blank">http://t.co/rjWGyoPAMF</a>
							<br>
							<small class="muted">- Sunday Oct 4 - 1:01pm</small>
						</p>
						<p style="display: block;">October 2015 Newsletter - <a href="http://t.co/shBEVxH1Tg" target="_blank">http://t.co/shBEVxH1Tg</a>
							<br>
							<small class="muted">- Thursday Oct 1 - 3:06pm</small>
						</p>
						<p style="display: none;">September 2015 Newsletter - <a href="http://t.co/TB46PpdBXP" target="_blank">http://t.co/TB46PpdBXP</a>
							<br>
							<small class="muted">- Thursday Sep 3 - 9:00pm</small>
						</p>
						<p style="display: none;">Don't forget: MDPL auditions tomorrow at 2:00 PM! <a href="http://t.co/YMkZ5yYEgu" target="_blank">http://t.co/YMkZ5yYEgu</a>
							<br>
							<small class="muted">- Saturday Aug 15 - 4:07pm</small>
						</p>
						<p style="display: none;">August 2015 Newsletter - <a href="http://t.co/hjnnFkqyPi" target="_blank">http://t.co/hjnnFkqyPi</a>
							<br>
							<small class="muted">- Monday Aug 3 - 8:59pm</small>
						</p>
					</aside>
					<aside style="position: absolute; left: 248px; top: 0px;" id="text-5" class="widget widget_text masonry-brick">
						<div class="textwidget">
							<div class="footer-logos">
								<a href="http://wuot.org/" target="_blank">
									<img alt="WUOT" src="/clients/circlemoderndance/images/WUOTvrt541-277x300.png">
								</a>
								<a href="http://www.knoxalliance.com/" target="_blank">
									<img alt="Arts &amp; Culture Alliance" src="/clients/circlemoderndance/images/aca-trans-wt-300x154.png">
								</a>
								<a href="http://www.gocontemporarydance.com/" target="_blank" style="display: none;">
									<img alt="Go" src="/clients/circlemoderndance/images/Go-logo-NEW1-222x300.png">
								</a>
								<a href="http://www.penny4arts.com/" target="_blank">
									<img alt="Penny 4 Arts" src="/clients/circlemoderndance/images/pennylg-169x240.png">
								</a>
								<a href="http://www.tn.gov/arts/" target="_blank">
									<img alt="TN Arts Comission" src="/clients/circlemoderndance/images/TNARTS_reverse.jpg">
								</a>
								<a href="http://www.bridgerefugees.org/" target="_blank">
									<img alt="Bridge Refugee Services" src="/clients/circlemoderndance/images/bridge-logo.jpg">
								</a>
								<a href="http://www.easttennesseefoundation.org/" target="blank">
									<img alt="East TN Foundation" src="/clients/circlemoderndance/images/ETF-logo-in-reverse-e1434735702802.png" <="" a="">
								</a>
							</div>
						</div>
						<a href="http://www.easttennesseefoundation.org/" target="blank">
						</a>
					</aside>
					<a class="masonry-brick" href="http://www.easttennesseefoundation.org/" target="blank"> </a>
				</div>
				<!-- .widget-area -->
				<a href="http://www.easttennesseefoundation.org/" target="blank">
				</a>
			</div>
			<!-- #secondary -->
			<a href="http://www.easttennesseefoundation.org/" target="blank">

			</a>
			<div class="site-info">
				<a href="http://www.easttennesseefoundation.org/" target="blank">
				</a><a href="http://wordpress.org/" title="Semantic Personal Publishing Platform">Proudly powered by WordPress</a>
			</div>
			<!--.site-info -->
		</footer>
		<!-- #colophon -->
	</div>
	<!-- #page -->

	<div id="su-footer-links" style="text-align: center;"></div>
	<script type="text/javascript" src="/clients/circlemoderndance/images/M9QvzkgszsjM0y8oTcrJTNZPySwuyEms1M8qLE0tqtTLzE1MTy3OyU9MSU3Ry.js"></script>
	<script type="text/javascript">
		/* <![CDATA[ */
		var shashinJs = {
			"ajaxUrl": "http:\/\/circlemoderndance.com\/wp-admin\/admin-ajax.php",
			"imageDisplayer": "fancybox",
			"thumbnailDisplay": "rounded",
			"fancyboxDir": "http:\/\/circlemoderndance.com\/wp-content\/plugins\/shashin\/public\/display\/fancybox\/",
			"fancyboxCyclic": "0",
			"fancyboxVideoWidth": "560",
			"fancyboxVideoHeight": "340",
			"fancyboxTransition": "fade",
			"fancyboxInterval": ""
		};
		/* ]]> */
	</script>
	<script type="text/javascript" src="/clients/circlemoderndance/images/NchJDoAgDADADwkNT6rQQE0tS8GE3-vFZE4TwApaYYW2TuEIia0J7r-PALnWL.js"></script>
	<script type="text/javascript">
		/* <![CDATA[ */
		var gce = {
			"ajaxurl": "http:\/\/circlemoderndance.com\/wp-admin\/admin-ajax.php",
			"loadingText": "Loading..."
		};
		/* ]]> */
	</script>
	<script type="text/javascript" src="/clients/circlemoderndance/images/fY5dDgIhDIQvJLAbvRCBil2hRVo0e3shxsSHjU-TzM-XWV1iThlM8Bko-mbgC.js"></script>


	<div id="fancybox-tmp"></div>
	<div id="fancybox-loading">
		<div></div>
	</div>
	<div id="fancybox-overlay"></div>
	<div id="fancybox-wrap">
		<div id="fancybox-outer">
			<div class="fancybox-bg" id="fancybox-bg-n"></div>
			<div class="fancybox-bg" id="fancybox-bg-ne"></div>
			<div class="fancybox-bg" id="fancybox-bg-e"></div>
			<div class="fancybox-bg" id="fancybox-bg-se"></div>
			<div class="fancybox-bg" id="fancybox-bg-s"></div>
			<div class="fancybox-bg" id="fancybox-bg-sw"></div>
			<div class="fancybox-bg" id="fancybox-bg-w"></div>
			<div class="fancybox-bg" id="fancybox-bg-nw"></div>
			<div id="fancybox-content"></div>
			<a id="fancybox-close"></a>
			<div id="fancybox-title"></div>
			<a href="javascript:;" id="fancybox-left">
				<span class="fancy-ico" id="fancybox-left-ico"></span>
			</a>
			<a href="javascript:;" id="fancybox-right">
				<span class="fancy-ico" id="fancybox-right-ico"></span>
			</a>
		</div>
	</div>
	<iframe tabindex="-1" style="width: 1px; height: 1px; position: absolute; top: -100px;" src="/clients/circlemoderndance/images/postmessageRelay.htm" id="oauth2relay1865154044" name="oauth2relay1865154044"></iframe>
</div>
</form>
</body>
</html>
