/*
Default style for WP-PageNavi plugin

http://wordpress.org/extend/plugins/wp-pagenavi/
*/

.wp-pagenavi {
	background: url(images/line.gif) repeat-x 0% 0%;
	width: 100%;
	overflow: hidden;
	padding: 12px 0 0 0;
	clear: both;
}

.wp-pagenavi a, .wp-pagenavi span {
	background: #f6f6f6;
	display: inline-block;
	margin: 0 2px;
	padding: 3px 9px;
	border: 1px solid #e1e1e1;
	line-height: 18px;
	font-size: 12px;
	text-decoration: none;
	color: #787878;
}

.wp-pagenavi a:hover, .wp-pagenavi span.current {
	background: #181818;
	color: #bababa;
}

.wp-pagenavi span.current {
	font-weight: bold;
}

span.pages {
	float: right;
}