/* if html, body tag is one with body tag, ie mac falters */
html, body { 
   height: 100%;
   width: 100%;
}
body {
   margin: 0;
   padding: 0;
   border: 0;
   overflow: hidden; /* ha */
   /* prevents scrollbars from appearing on the main window */
}
form {
	margin: 0;
	padding: 0;
}
hr {
	border: none 0; 
	border-top: 1px solid #009999;/*the border*/
	height: 1px;/*whatever the total width of the border-top and border-bottom equal*/
}
hr.dotted {
	border-top: 1px dotted #009999;/*the border*/
}
hr.dotted_gray {
	vertical-align: middle;
	border-top: 1px dotted #999999;/*the border*/
	clear: both;
}
hr.dotted_library {
	vertical-align: middle;
	border-top: 1px dotted #999999;/*the border*/
	width: 124px;
	margin-left: 0px;
}
 #wrapper {
	/* width: 100%; */
	/* height: 100%; */
	border: 0;
	margin: 0;
	padding: 0;
}
#header { 
	margin: 0;
	height: 44px; 
	width: 100%; 
	background: #fff url(/clients/brookwood/images/header_bg.gif) repeat-x;
	overflow: visible;
	}

/* contents - 2 col */
#homepage {
	position: absolute;
	top: 66px; left: 0px; right: 0px; bottom: 44px;
	background: #e9d89b url(/clients/brookwood/images/bg-wide02.gif);
	overflow: auto;
	border: 0;
}
#left {
	position: absolute;
	top: 66px;
	left: 0;
	bottom: 44px;
	margin: 0;
	border: 0;
	background: #e8e8e8 url(/clients/brookwood/images/left_bg.gif) repeat-y;
	width: 134px; 
}
#left_small {
	position: absolute;
	top: 66px;
	left: 0;
	bottom: 15px;
	margin: 0;
	border: 0;
	background: #e8e8e8 url(/clients/brookwood/images/left_bg.gif) repeat-y;
	width: 134px; 
}
.left_library {
	position: absolute;
	top: 75px;
	height: 200px;
	width: 134px;
	left: 10px;
	border: 0;
	z-index: 5;
}
.left_library_sub, .left_library_sub a:link{
	line-height: 17px;
	font-size: 10px;
	color: #cc6600;
}
.left_heron {
	position: absolute;
	bottom: 44px;
	height: 129px;
	width: 103px;
	left: 15px;
	border: 0;
	z-index: 5;
}
.left_heron_small {
	position: absolute;
	bottom: 15px;
	height: 129px;
	width: 103px;
	left: 15px;
	border: 0;
	z-index: 5;
}

#menu {
	margin: 0;
	height: 22px;
	width: 100%;
	top: 44px; left: 0;
	position: absolute;
	background: #ddd url(/clients/brookwood/images/menuShim.gif) repeat-x;
	z-index: 500;
	
	overflow: visible;
}
#content {
	top: 66px; left: 134px; right: 0px; bottom: 44px;
	position: absolute;
	overflow: auto;
	background: transparent url(/clients/brookwood/images/sidebar_bg.gif) repeat-y top right;
	background-color: none;
	border: 0;
}
#content_small {
	top: 66px; left: 134px; right: 0px; bottom: 15px;
	position: absolute;
	overflow: auto;
	background: transparent url(/clients/brookwood/images/sidebar_bg.gif) repeat-y top right;
	background-color: none;
	border: 0;
}
#right_buttons {
	width: 134px;
	vertical-align: top;
	background: transparent url(/clients/brookwood/images/sidebar_bg.gif) repeat-y;
}

#table_artwork {
	position: relative;
	top: 0; left: 0;
	background-color: none;
	width: 100%;
}
#table_body {
	background: none;
	width: 100%;
}
#artwork {
	height: 82px;
	overflow: hidden;
	z-index: 3;
}
#artwork_plus {
	position: absolute;
	top: 63px;
	left: 10px;
	height: 9px;
	width: 9px;
	z-index: 150;
	border: none;
}
#glideDiv0 {
	width: inherit;
	overflow: hidden;
	z-index: 50;
	display:none;
}
div.glide p { 
	color: #ffffff;
	padding: 2px;
	background-color:#999966;
	text-indent: 10px;
}  
#artwork_right {
	width: 114px;
	background: transparent url(/clients/brookwood/images/sidebar_bg_table.gif) repeat-y;
}
#content_body {
	padding: 24px 10px 10px 24px;
	vertical-align: top;
}
#content_body_small {
	padding: 24px 134px 10px 24px;
	vertical-align: top;
}
#footer { 
	position: absolute;
	margin: 0;
	height: 44px; 
	line-height: 10px;
	width: 100%; 
	display: block;
	bottom: 0;
	background: #fff url(/clients/brookwood/images/footer_bg.gif) repeat-x;
	overflow: visible;
	z-index: 800;
	}
#footer_small { 
	position: absolute;
	margin: 0;
	height: 15px; 
	line-height: 10px;
	width: 100%; 
	display: block;
	bottom: 0;
	background: #fff url(/clients/brookwood/images/footer_bg_small.gif) repeat-x;
	overflow: visible;
	z-index: 80;
	}
	
/* override */
h2 {
	margin-top: 4px;
	margin-bottom: 0;
	text-transform: uppercase;
}
.footlink, .footlink a:link, .footlink a:visited{ 
	color: white; 
	font-size: 9px; 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	line-height: 7px; 
	text-decoration: none; 
	text-transform: uppercase; 
	text-align: center; 
	vertical-align: middle; 
	margin-top: 14px; 
}

.footlink a:hover { 
	color: #336699;
}
