BLOCKQUOTE {
	FONT-FAMILY: Arial,Helvetica,Geneva,Sans-serif,sans-serif
}
BODY {
	BACKGROUND-IMAGE: url(/PrivateLabel/CentreStageKW/Images/background.gif); COLOR: rgb(0,0,0); FONT-FAMILY: Arial,Helvetica,Geneva,Sans-serif,sans-serif; BACKGROUND-COLOR: rgb(255,255,255)
}
A:active {
	FONT-FAMILY: Arial,Helvetica,Geneva,Sans-serif,sans-serif
}
A:link {
	COLOR: rgb(168,151,94); FONT-FAMILY: Arial,Helvetica,Geneva,Sans-serif,sans-serif
}
UL {
	FONT-FAMILY: Arial,Helvetica,Geneva,Sans-serif,sans-serif
}
A:visited {
	COLOR: rgb(128,128,128); FONT-FAMILY: Arial,Helvetica,Geneva,Sans-serif,sans-serif
}
.TextObject {
	FONT-FAMILY: Arial,Helvetica,Geneva,Sans-serif,sans-serif
}
H1 {
	FONT-FAMILY: Arial,Helvetica,Geneva,Sans-serif,sans-serif
}
H2 {
	FONT-FAMILY: Arial,Helvetica,Geneva,Sans-serif,sans-serif
}
P {
	FONT-SIZE: small; FONT-FAMILY: Arial,Helvetica,Geneva,Sans-serif,sans-serif
}
H3 {
	FONT-FAMILY: Arial,Helvetica,Geneva,Sans-serif,sans-serif
}
LI {
	FONT-FAMILY: Arial,Helvetica,Geneva,Sans-serif,sans-serif
}
OL {
	FONT-FAMILY: Arial,Helvetica,Geneva,Sans-serif,sans-serif
}
A {
	FONT-FAMILY: Arial,Helvetica,Geneva,Sans-serif,sans-serif
}
H4 {
	FONT-FAMILY: Arial,Helvetica,Geneva,Sans-serif,sans-serif
}
.TextNavBar {
	FONT-FAMILY: Arial,Helvetica,Geneva,Sans-serif,sans-serif
}
ADDRESS {
	FONT-FAMILY: Arial,Helvetica,Geneva,Sans-serif,sans-serif
}
H5 {
	FONT-FAMILY: Arial,Helvetica,Geneva,Sans-serif,sans-serif
}
PRE {
	FONT-FAMILY: Arial,Helvetica,Geneva,Sans-serif,sans-serif
}
H6 {
	FONT-FAMILY: Arial,Helvetica,Geneva,Sans-serif,sans-serif
}
A:hover {
	FONT-FAMILY: Arial,Helvetica,Geneva,Sans-serif,sans-serif
}
