/* usercss */

/* id:[44760]
   lm:[2009-02-09 00:13:13] */
P.p44760 {
  font-family:arial, helvetica, sans-serif;font-size:12px;color:#3333cc;background-color:transparent;
}
/* id:[49187]
   lm:[2009-08-20 17:44:57] */
P.p49187 {
  font-family:georgia, times new roman, times, serif;font-size:22px;color:#ff3300;background-color:transparent;
}
/* id:[49188]
   lm:[2009-03-11 14:12:52] */
P.p49188 {
  font-family:times new roman, times, serif;font-size:12px;color:#000000;background-color:transparent;
}
/* id:[49189]
   lm:[2009-06-01 18:44:22] */
P.p49189 {
  font-family:times new roman, times, serif;font-size:18px;color:#ffffff;background-color:transparent;
}
/* id:[49193]
   lm:[2009-03-11 14:50:39] */
P.p49193 {
  font-family:georgia, times new roman, times, serif;font-size:20px;color:#ff3333;background-color:transparent;
}
/* id:[49210]
   lm:[2009-08-21 16:44:44] */
P.p49210 {
  font-family:georgia, times new roman, times, serif;font-size:36px;color:#ff0033;background-color:#cccccc;
}
/* id:[49226]
   lm:[2009-06-01 18:36:04] */
P.p49226 {
  font-family:times new roman, times, serif;font-size:18px;color:#ff3300;background-color:transparent;
}
/* id:[56528]
   lm:[2009-08-20 17:03:59] */
P.p56528 {
  font-family:arial, helvetica, sans-serif;font-size:20px;color:#000000;background-color:transparent;
}
/* id:[56542]
   lm:[2009-08-21 19:13:14] */
P.p56542 {
  font-family:verdana, arial, helvetica, sans-serif;font-size:18px;color:#000000;background-color:transparent;
}
/* id:[69949]
   lm:[2009-08-20 15:42:36] */
P.p_footer {
  font-size:smaller;
}

