/* CSS Document */
body {
	background-color:#E6DDCC;
}
#main {
	width:845px;
	height:462px;
	position:relative;
	margin:0 auto 0 auto;
	/*padding-top:140px;*/
	/*border:1px solid black;*/
}
.allprograms {
	background-image:url(images/cd_bkg03.jpg);
	background-repeat:no-repeat;
}
#wrapper {
	/*width:960px;*/
	height:525px;
	margin:0 auto 0 auto;
	/*border:1px solid black;*/
	background-color:#E6DDCC;
}
#header {
	width:960px;
	height:80px;
	/*border:1px solid black;*/
	margin:0 auto 0 auto;
}
#headerlogo {
	position:relative;
	float:left;
	width:287px;
	height:80px;
	/*background-image:url(newlogo.png);
	background-repeat:no-repeat;*/
	/*border:1px solid black;*/
	clear:both;
}
#headerpattern {
	position:relative;
	float:right;
	width:666px;
	height:80px;
	background-image:url(pattern.png);
	background-repeat:no-repeat;
	/*border:1px solid black;*/
}
#headerglow {
	position:relative;
	width:664px;
	height:78px;
	background-image:url(glow.png);
	background-repeat:no-repeat;
	/*border:1px solid black;*/
}
#mininav {
	position:relative;
/*	width:230px;
	height:19px;
	/*border:1px solid black;*/
	float:right;
	margin-top:30px;
}
#mininav img {
	border:none;
}
#navigation {
	position:relative;
	margin-top:-55px;
	/*border:1px solid black;*/
	height:15px;
	width:600px;
	float:right;
	clear:both;
	z-index:200;
}
#navbox {
	height:38px;
	/*border:1px solid black;*/
}
#navline {
	height:20px;
	background-color:#620C19;
}
#navgradient {
	background-image:url(topnav.png);
	background-repeat:repeat-x;
	height:18px;
}
#content {
	height:500px;
	background-color:#870E21;
	position:relative;
	/*border:1px solid black;*/
	z-index:0;
}
#footer {
	height:65px;
	background-image:url(bottomgradient.png);
	background-repeat:repeat-x;
	/*border:1px solid black;*/
	background-color:#E6DDCC;
}
#secondarynav {
	margin-right:auto;
	margin-left:auto;
	padding-top:8px;
	/*border:1px solid black;*/
	width:750px;
}
#secondarynav a, a:visited {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#870E21;
	text-decoration:none;
}
#address {
	margin-right:auto;
	margin-left:auto;
	margin-top:5px;
	/*border:1px solid black;*/
	width:660px;
}
.ftrinc, #address p {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:9px;
	color:#870E21;
}
/*Nav hover states*/
#wrapper #content #main #navigation #dropdown-menu .f .a {
	width:175px;
}
#wrapper #content #main #navigation #dropdown-menu .f .a a:hover {
	background:#4c0a14;
}
#wrapper #content #main #navigation #dropdown-menu .f .b {
	width:95px;
}
#wrapper #content #main #navigation #dropdown-menu .f .b a:hover {
	background:#4c0a14;
}
#wrapper #content #main #navigation #dropdown-menu .f .c {
	width:115px;
}
#wrapper #content #main #navigation #dropdown-menu .f .c a:hover {
	background:#4c0a14;
}
#wrapper #content #main #navigation #dropdown-menu .f .d {
	width:216px;
}
#wrapper #content #main #navigation #dropdown-menu .f .d a:hover {
	background:#4c0a14;
}
#wrapper #content #main #navigation #dropdown-menu .f .e {
	width:182px;
}
#wrapper #content #main #navigation #dropdown-menu .f .e a:hover {
	background:#4c0a14;
}
#wrapper #header #headerpattern #headerglow #navigation #dropdown-menu {
	margin-top:15px;
}
.f {
	position:relative;
}
.f a:hover {
	background:#d9d0be;
	}

#leftlinks{
	margin-left:30px;
	float:left;
	/*clear:both;*/
	/*border:1px solid black;*/
	text-align:left;
}
#leftlinks a, a:visited, a:active {
	text-align:left;
	font-size:12px;
	font-family:Verdana, Geneva, sans-serif;
	color: #FFCC99;
}

a {
	
	font-size:12px;
	font-family:Verdana, Geneva, sans-serif;
	color: #FFCC99;


}
#leftlinks a:hover {
	text-align:left;
	font-size:12px;
	font-family:Verdana, Geneva, sans-serif;
	
}
#wrapper #content #main .block #scrollbar-demo h2 {
	font-family:Verdana, Geneva, sans-serif;
	color:#e6ddcc;
	margin:15px auto 0 auto;
}
#wrapper #content #main .block #scrollbar-demo #videocontainer {
	width:425px;
	height:344px;
	margin:47px auto 0 auto;

}