@import "reset.css";
@import "text.css";

html, body{
	background: #48433b url(background.gif) top left repeat-x;
}
.wrapper{
	width: 960px;
	margin: 0 auto;
}
#header{
	height: 86px;
	color: #F3F0E5;
	padding-top: 11px;
}
#header .wrapper{
	background: url(header.gif) top center repeat-y;
}
#logo{
	float: left;
	margin: 0;
}
#logo a{
	display: block;
	width: 265px;
	height: 89px;
	background: url(logo.png) top left no-repeat;
	text-indent: -9999px;
}
.slogan{
	color: #D8D3BC;
	float: left;
	font-size: 12px;
	font-weight: normal;
	margin-top: 64px;
	margin-left: 10px;
	text-indent: -40px;
}
#navigation{
	font-family:  Trebuchet MS, Arial, sans-serif;
	float: right;
	margin-top: 20px;
}
#navigation li{
	float: left;
	list-style: none;
	text-transform: uppercase;
	margin-left: 22px;
}
#navigation li a{
	font-weight: bold;
	text-decoration: none;
	color: #D8D3BC;
}
#navigation li a:hover{
	color: #fff;
	text-decoration: underline;
}
#content{
	padding: 35px 0;
}
.post-full, .post-thin, .post-full-home {
	background: #fff url(post.gif) top left repeat-x;
	border: 5px solid #D9D6B6;
	padding: 20px;
	margin-bottom: 20px;
}
.post-full-home {
	background: #fff url(anniv.gif) top right no-repeat ;
}
.product-image{
	float: left;
	margin: 0 20px 0 0;
}
h2{
	font-family:  Helvetica, Trebuchet MS, Arial, sans-serif;
	margin: 7px 0 0 0;
	line-height: 25px;
	font-weight: bold;
}
.subtitle{
	font-size: 20px;
	color: #7B7751;
	font-family:  Helvetica, Trebuchet MS, Arial, sans-serif;
	line-height: 33px;
}
.post-full p,.post-thin p,.post-full-home p,.post-full ul{
	line-height: 25px;
	color: #262016;
}
.post-full h4,.post-thin h4,.post-full-home h4{
	margin: 30px 0 0 0;
	font-size: 20px;
	color: #7B7751;
	font-family:  Helvetica, Trebuchet MS, Arial, sans-serif;
	line-height: 33px;
}
.show {
  font-style:italic;
}
.price{
	display: none;
}
.read-more{
	float: right;
}
.read-more a{
	display: block;
	background: url(read-more.gif) top left no-repeat;
	width: 99px;
	height: 32px;
	text-indent: -9999px;
}
.purchase{
	float: right;
	margin: 0 0 0 10px;
}
.purchase a{
	display: block;
	background: url(purchase.gif) top left no-repeat;
	width: 99px;
	height: 32px;
	text-indent: -9999px;
}
#left-col{
	float: left;
	width: 640px;
}
#sidebar{
	float: right;
	width: 300px;
	padding: 0 0 0 20px;
}
#sidebar ul li{
	list-style: none;
	margin: 0;
	padding: 20px;
	background: #e5dfc0;
	border: 1px solid #B5B291;
	border-top: 1px solid #fff;
}
#sidebar ul li h3{
	font-weight: normal;
}
li#about{
	background: #3f4b68 url(about.gif) top left no-repeat !important;
	border: 1px solid #262016 !important;
	color: #fff;
}
li#about h3{
	text-align: center;
	font-size: 17px;
	font-weight: normal;
}
#footer{
	background: url(footer.gif) top left repeat-x;
	padding: 20px 0;
	color: #D8D3BC;
}
#subscribe{
	background: url(rss.gif) top left no-repeat;
	padding: 0 0 0 40px;
}
.post-block{
	width: 415px;
	padding: 20px;
	float: left;
}
.post-block img{
	float: left;
	border: #d8d3bc 5px solid;
	margin: 0 10px 10px 0;
}
.post-block h5{
	margin: 0;
	font-weight: normal;
}
.alignleft{
	float: left;
/*	border: #E0DCC9 5px solid; */
	margin: 0 20px 10px 0;
}
.alignright{
	float: right;
/*	border: #E0DCC9 5px solid; */
	margin: 0 0 10px 20px;
}
#adress{
	background: #F5F3E7;
	border: 1px solid #B5B291;
	border-right: 0px solid;
	margin: 0 0 0 0;
	width: 174px;
	float: left;
	padding: 7px 7px 8px 7px;
	color: #68654A;
}
.subscribe_btn{
	background: url(subscribe.gif);
	width: 69px;
	height: 33px;
	text-indent: -9999px;
	border: 0px solid;
	margin: 0;
	float: right;
}
.subscribe_btn:hover {
	cursor: pointer;
}

/* Footer */
#footer {
  background-image:url(footerbg.gif);
	background-color:#262016;
	background-repeat:repeat-x;
	clear: both;
	padding-left:2px;
	padding-top:20px;
	position:relative;
	top:-3px;
	min-height:150px;
}

#footer_recent{
	width: 960px;
	margin: 0 auto;
}



#footer_eden .left {
	float: left;
	margin-top: 13px;
}

#footer_eden .right {
	margin-top: 13px;
	float: right;
	margin-right: 25px;
	padding-top: 16px;
}

#footer_eden .categories {
	margin-top: 13px;
	float: left;
	border-left: 1px solid #474540;
	border-right: 1px solid #474540;
	width:  580px;
	padding: 16px;
}

#footer_eden .categories div {
	float: left;
	margin: 1px;
}

#footer a {
	color:#f4eedd;
	text-decoration:none;
}

#footer_eden {
  width:960px;
    border-top:1px solid #474540;  
    padding-bottom:60px;
}
#footer_eden ul {
  margin:0px;
  padding:0px;
}
#footer_eden ul li {
  border-right:1px solid #474540;
  list-style:none;
  margin:0px;  
  padding:16px;
  display:inline;
  padding-right:32px;
}
#footer_eden ul li.right {
  border-right:0px;
  text-align:right;
  padding-right:16px;  
}
#footer_eden ul li.left {
  padding-left:0px;
  padding-right:16px;

}
#footer_eden a { color:#79776f; font-size:14px; font-family:Arial, sans-serif; font-style:italic;}
#footer_eden a strong { color:#dfd5b9; font-size:18px; margin-left:20px; }
#footer_eden img { position:relative; top:10px; left:-10px;}

.footer_column {
  float:left;
  margin-left:40px;
  width:260px;
  margin-top:40px;
  margin-bottom:40px;
}
.footer_column_left {
  float:left;
  width:360px;  
  margin-top:40px;
  margin-bottom:40px;
}
.link_list {
  padding:15px;
  border:1px solid #58564f;
  background-color:#14110B;
  margin:0px;
  margin-top:20px;
}
.link_list li {
   list-style:none; 
   padding:10px;
   padding-left:0px;
   padding-right:0px;
   border-bottom:1px solid #3a3a37;
   font-family:arial, sans-serif;
}
.link_list li small, .link_list li small a {
  color:#66645f;
  font-size:11px;
  text-transform:uppercase;
  display:block;
  margin-top:4px;
  font-style:normal;
}
.link_list li a {
  font-size:14px;
  color:#dfd5b9;
  text-decoration:none;
  font-style:italic;
}  
.link_list li a:hover {
    color:#ffffff;
    text-decoration:underline;
}
.link_list li small a { display:inline; }

.item_list {
  padding: 20px;
  border: 1px solid #58564f;
  background-color: #14110B;
  margin: 0px;
  margin-top: 20px;
  padding-bottom: 0px;
  padding-right: 10px;
  min-height: 220px;
}

.item_list li {
  margin: 0px;
  padding: 0px;
  list-style: none;
  width: 100px;
  margin-right: 8px;
  font-size: 9px;
  float: left;
  height: 110px;
  overflow: hidden;
  text-align: center;
  margin-bottom: 16px;
}
#footer address {
	font-family:  Trebuchet MS, Arial, sans-serif;
	letter-spacing: 0.15em;
	text-align: center;
	font-style: normal;
	font-weight: normal;
}

#footer .item_list a {
  font-size:9px;
  color:#66645f;
  text-decoration:none;
}
#footer .item_list a:hover { color:#aaa28b;}