BODY {
	TEXT-ALIGN: center
}
#doc {
	MIN-WIDTH: 750px; MARGIN: auto; WIDTH: 56.3em; TEXT-ALIGN: left
}
#hd {
	MARGIN-BOTTOM: 1em; TEXT-ALIGN: left
}
#bd {
	MARGIN-BOTTOM: 1em; TEXT-ALIGN: left
}
#ft {
	CLEAR: both; FONT-SIZE: 77%; FONT-FAMILY: verdana
}
.yui-t1 #yui-main .yui-b {
	FLOAT: right
}
.yui-t2 #yui-main .yui-b {
	FLOAT: right
}
.yui-t3 #yui-main .yui-b {
	FLOAT: right
}
.yui-t4 .yui-b {
	FLOAT: right
}
.yui-t5 .yui-b {
	FLOAT: right
}
.yui-t6 .yui-b {
	FLOAT: right
}
.yui-t1 .yui-b {
	FLOAT: left
}
.yui-t2 .yui-b {
	FLOAT: left
}
.yui-t3 .yui-b {
	FLOAT: left
}
.yui-t4 #yui-main .yui-b {
	FLOAT: left
}
.yui- t5 #yui-main .yui-b {
	FLOAT: left
}
.yui-t6 #yui-main .yui-b {
	FLOAT: left
}
.yui-t1 #yui-main .yui-b {
	MIN-WIDTH: 570px; WIDTH: 76%
}
.yui-t1 .yui-b {
	MIN-WIDTH: 160px; WIDTH: 21.33%
}
.yui-t2 #yui-main .yui-b {
	WIDTH: 73.4%
}
.yui-t4 #yui-main .yui-b {
	WIDTH: 73.4%
}
.yui-t2 .yui-b {
	MIN-WIDTH: 180px; WIDTH: 24%
}
.yui-t4 .yui-b {
	MIN-WIDTH: 180px; WIDTH: 24%
}
.yui-t3 #yui-main .yui-b {
	WIDTH: 57.6%
}
.yui-t6 #yui-main .yui-b {
	WIDTH: 57.6%
}
.yui-t3 .yui-b {
	MIN-WIDTH: 300px; WIDTH: 40%
}
.yui-t6 .yui-b {
	MIN-WIDTH: 300px; WIDTH: 40%
}
.yui-t5 #yui-main .yui-b {
	MIN-WIDTH: 490px; WIDTH: 65.4%
}
.yui-t5 .yui-b {
	MIN-WIDTH: 240px; WIDTH: 32%
}
.yui-g .yui-u {
	DISPLAY: inline; FLOAT: right
}
.yui-g .yui-g {
	DISPLAY: inline; FLOAT: right
}
.yui-ge .yui-u {
	DISPLAY: inline; FLOAT: right
}
.yui-gf .yui-u {
	DISPLAY: inline; FLOAT: right
}
.yui-g .first {
	FLOAT: left
}
.yui-gd .first {
	FLOAT: left
}
.yui-ge .first {
	FLOAT: left
}
.yui-gf .first {
	FLOAT: left
}
.yui-g .yui-u {
	WIDTH: 49.1%
}
.yui-g .yui-g {
	WIDTH: 49.1%
}
.yui-g .yui-g .yui-u {
	WIDTH: 48.1%
}
.yui-gb .yui-u {
	FLOAT: left; MARGIN-LEFT: 1.89%; WIDTH: 32%
}
.yui-gc .yui-u {
	FLOAT: left; MARGIN-LEFT: 1.89%; WIDTH: 32%
}
.yui-gd .yui-u {
	FLOAT: left; MARGIN-LEFT: 1.89%; WIDTH: 32%
}
.yui-gb .first {
	MARGIN-LEFT: 0px
}
.yui-gc .first {
	MARGIN-LEFT: 0px
}
.yui-gd .first {
	MARGIN-LEFT: 0px
}
.yui-gc .first {
	WIDTH: 66%
}
.yui-gd .yui-u {
	WIDTH: 66%
}
.yui-gd .first {
	WIDTH: 32%
}
.yui-ge .yui-u {
	WIDTH: 24%
}
.yui-ge .first {
	WIDTH: 74.2%
}
.yui-gf .yui-u {
	WIDTH: 74.2%
}
.yui-gf .first {
	WIDTH: 24%
}
.yui-ge .first {
	WIDTH: 74.2%
}
#bd:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: "."
}
.yui-g:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: "."
}
.yui-gb:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: "."
}
.yui-gc:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: "."
}
.yui-gd:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: "."
}
.yui- ge:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: "."
}
.yui-gf:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: "."
}
#bd {
	ZOOM: 1
}
.yui-g {
	ZOOM: 1
}
.yui-gb {
	ZOOM: 1
}
.yui-gc {
	ZOOM: 1
}
.yui-gd {
	ZOOM: 1
}
.yui-ge {
	ZOOM: 1
}
.yui-gf {
	ZOOM: 1
}
