BODY {
	BACKGROUND-COLOR: white
}
LABEL.hiddenStructure {
	DISPLAY: inline; FONT-WEIGHT: bold
}
#doc {
	MIN-WIDTH: 0px; WIDTH: auto
}
#hd {
	HEIGHT: auto; BACKGROUND-COLOR: transparent
}
#navigation {
	MIN-WIDTH: 0px; FLOAT: none; WIDTH: auto
}
.yui-t2 #yui-main .yui-b {
	MARGIN-TOP: 2em; FLOAT: none; WIDTH: auto
}
#searchbox {
	BACKGROUND-POSITION: center top; FLOAT: none; BACKGROUND-IMAGE: url(/components/images/graphics/head_mobile.jpg); PADDING-BOTTOM: 10px; WIDTH: auto; PADDING-TOP: 75px; BACKGROUND-REPEAT: no-repeat; HEIGHT: auto; TEXT-ALIGN: center
}
#searchform {
	MARGIN: 0px
}
#logo {
	DISPLAY: none
}
#globalnav {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 125%; PADDING-BOTTOM: 5px; MARGIN: 0px; WIDTH: auto; PADDING-TOP: 5px; TOP: auto; HEIGHT: auto; BACKGROUND-COLOR: #7d270e
}
#globalnav LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: none; BACKGROUND-IMAGE: none; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; TEXT-ALIGN: left
}
#globalnav LI A {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; FLOAT: none; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#globalnav SPAN {
	FLOAT: none
}
#yui-main UL {
	LIST-STYLE-IMAGE: none; LIST-STYLE-TYPE: disc
}
