a:link {
	font-family: Verdana, Geneva, sans-serif;
	color:#cca151;
	text-decoration: none;
}
a:visited {
	font-ebb95d: Verdana, Geneva, sans-serif;
	color:#cca151;
	text-decoration: none;
}
a:hover {
	text-decoration: none;
		color:#8bc3d9;
}
a:active {
	font-family: Verdana, Geneva, sans-serif;
	color: #cca151;
	background: #FFFFFF;
}
