<!DOCTYPE html>
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9" />
<head runat="server">
<asp:ContentPlaceHolder id="MasterHead" runat="server"></asp:ContentPlaceHolder>
</head>

<form id="form1" runat="server">
<div>
<link rel="canonical" href="http://braggcreekperformingarts.com/about-online-ticket-sales/">

<!-- / Yoast WordPress SEO plugin. -->

<link rel="alternate" type="application/rss+xml" title="Bragg Creek Performing Arts » Feed" href="http://braggcreekperformingarts.com/feed/">
<link rel="alternate" type="application/rss+xml" title="Bragg Creek Performing Arts » Comments Feed" href="http://braggcreekperformingarts.com/comments/feed/">
<link rel="alternate" type="application/rss+xml" title="Bragg Creek Performing Arts » About Online Ticket Sales Comments Feed" href="http://braggcreekperformingarts.com/about-online-ticket-sales/feed/">
<link rel="stylesheet" id="david-style-css" href="/clients/BraggCreekPerformingArts/Images/style.css" type="text/css" media="all">
<!--[if lt IE 9]>
<link rel='stylesheet' id='mytheme-ie-css'  href='/clients/BraggCreekPerformingARts/Images/ie.css?ver=1.0' type='text/css' media='all' />
<![endif]-->
<link rel="stylesheet" id="output-css" href="/clients/BraggCreekPerformingArts/Images/output.css" type="text/css" media="all">
<link rel="stylesheet" id="pdb-frontend-css" href="/clients/BraggCreekPerformingArts/Images/participants-database.css" type="text/css" media="all">
<link rel="stylesheet" id="dls-sus-style-css" href="/clients/BraggCreekPerformingArts/Images/style_002.css" type="text/css" media="all">
<link rel="stylesheet" id="NextGEN-css" href="/clients/BraggCreekPerformingArts/Images/nggallery.css" type="text/css" media="screen">
<link rel="stylesheet" id="shutter-css" href="/clients/BraggCreekPerformingArts/Images/shutter-reloaded.css" type="text/css" media="screen">
<link rel="stylesheet" id="jetpack-widgets-css" href="/clients/BraggCreekPerformingArts/Images/widgets.css" type="text/css" media="all">
<link rel="stylesheet" id="david-fonts-css" href="/clients/BraggCreekPerformingArts/Images/css_003.css" type="text/css" media="all">
<link rel="stylesheet" id="wpgmaps-style-css" href="/clients/BraggCreekPerformingArts/Images/wpgmza_style.css" type="text/css" media="all">

<script type="text/javascript" async="" src="/clients/BraggCreekPerformingArts/Images/quant.js"></script><script type="text/javascript" src="/clients/BraggCreekPerformingArts/Images/jquery.js"></script>
<script type="text/javascript" src="/clients/BraggCreekPerformingArts/Images/jquery-migrate.js"></script>
<script type="text/javascript" src="/clients/BraggCreekPerformingArts/Images/mailchimp-widget-min.js"></script>
<script type="text/javascript">
/* <![CDATA[ */
var shutterSettings = {"msgLoading":"L O A D I N G","msgClose":"Click to Close","imageCount":"1"};
/* ]]> */
</script>

<script type="text/javascript" src="/clients/BraggCreekPerformingArts/Images/shutter-reloaded.js"></script>
<script type="text/javascript" src="/clients/BraggCreekPerformingArts/Images/jquery_002.js"></script>
<script type="text/javascript" src="/clients/BraggCreekPerformingArts/Images/ngg.js"></script>
<script type="text/javascript" src="/clients/BraggCreekPerformingArts/Images/comment-reply.js"></script>
<script type="text/javascript" src="/clients/BraggCreekPerformingArts/Images/jquery_004.js"></script>
<script type="text/javascript" src="/clients/BraggCreekPerformingArts/Images/jquery_005.js"></script>
<script type="text/javascript" src="/clients/BraggCreekPerformingArts/Images/jquery_003.js"></script>
<script type="text/javascript" src="/clients/BraggCreekPerformingArts/Images/supersized.js"></script>
<script type="text/javascript" src="/clients/BraggCreekPerformingArts/Images/supersized_002.js"></script>
<!-- <meta name="NextGEN" version="1.9.13" /> -->
	<!--
	Supersized 3.2.7 - Fullscreen Background jQuery Plugin
	www.buildinternet.com/project/supersized
	
	By Sam Dunn / One Mighty Roar (www.onemightyroar.com)
	Released under MIT License / GPL License
 
        Adapted for Wordpress (WP Supersized 3.1.5) by Benoit De Boeck / World in my Eyes (www.worldinmyeyes.be)
	-->
        

            <link rel="stylesheet" href="/clients/BraggCreekPerformingArts/Images/css.css"><style>.site-header h1 a{ font-family: 'Yanone Kaffeesatz', 'Open Sans', arial, Sans-Serif; }</style><style>.site-header h1 a{ font-family: 'Yanone Kaffeesatz', 'Open Sans', arial, Sans-Serif; }</style>	<style type="text/css">.recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}</style>
	<style type="text/css">
			.site-title a,
		.site-description {
			color: #ffffff !important;
		}
		</style>
			<link rel="stylesheet" id="custom-css-css" type="text/css" href="/clients/BraggCreekPerformingArts/Images/a.css">
		<link rel="stylesheet" type="text/css" id="gravatar-card-css" href="/clients/BraggCreekPerformingArts/Images/hovercard.css">

	<div id="page" class="hfeed site">
	<header id="masthead" class="site-header" role="banner">
	
		<hgroup>
			<h1 class="site-title"><a href="http://braggcreekperformingarts.com/" title="Bragg Creek Performing Arts" rel="home">Bragg Creek Performing Arts</a></h1>
			<h2 class="site-description">Professional Performers Produced By Volunteers</h2>
		</hgroup>
	<nav id="site-navigation" class="main-navigation" role="navigation">
			<h3 class="menu-toggle">Menu</h3>
			<a class="assistive-text" href="#content" title="Skip to content">Skip to content</a>
			<div class="menu-main-menu-container"><ul id="menu-main-menu" class="nav-menu"><li id="menu-item-249" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-249"><a href="http://braggcreekperformingarts.com/">Home</a></li>
<li id="menu-item-188" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-188"><a href="http://braggcreekperformingarts.tix.com/Schedule.aspx?OrgNum=2683">Online Box Office</a></li>
<li id="menu-item-184" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor menu-item-184"><a href="http://braggcreekperformingarts.com/ticketing-locations/">Tickets</a>
<ul class="sub-menu">
	<li id="menu-item-222" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-9 current_page_item menu-item-222"><a href="http://braggcreekperformingarts.com/about-online-ticket-sales/">About Online Ticket Sales</a></li>
	<li id="menu-item-183" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-183"><a href="http://braggcreekperformingarts.com/faq-online-tickets/">FAQ Online Tickets</a></li>
	<li id="menu-item-22" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-22"><a href="http://braggcreekperformingarts.com/privacy-policy/">Privacy Policy</a></li>
</ul>
</li>
<li id="menu-item-80" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-80"><a href="http://braggcreekperformingarts.com/about-us/">About Us</a>
<ul class="sub-menu">
	<li id="menu-item-23" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-23"><a href="http://braggcreekperformingarts.com/find-us/">Find Us</a></li>
	<li id="menu-item-125" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-125"><a href="http://braggcreekperformingarts.com/contacts/">Contacts</a></li>
</ul>
</li>
<li id="menu-item-120" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-120"><a href="http://braggcreekperformingarts.com/links/">Links</a></li>
<li id="menu-item-148" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-148"><a href="http://braggcreekperformingarts.com/sponsors/">Sponsors</a></li>
<li id="menu-item-161" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-161"><a href="http://braggcreekperformingarts.com/newsletter/">Newsletter</a></li>
<li id="menu-item-211" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-211"><a href="http://braggcreekperformingarts.com/volunteers/">Volunteers</a>
<ul class="sub-menu">
	<li id="menu-item-267" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-267"><a href="http://braggcreekperformingarts.com/sign-up-sheet/">Sign Up Sheet</a></li>
</ul>
</li>
</ul></div>		</nav><!-- #site-navigation -->
</header><!-- #masthead -->
<div id="main" class="wrapper">	
		<!--TIX DATA START-->
		<asp:ContentPlaceHolder id="MasterContent" runat="server"></asp:ContentPlaceHolder>


   
<!-- #secondary -->
		
	</div><!-- #main .wrapper -->
	<footer id="colophon" role="contentinfo">
<div id="footer-widget">
		<div class="footer-area">
		<aside id="text-6" class="widget widget_text">				</div><!-- .second -->
	</div>

			<div id="footer-widget-area" role="complementary">


			</div><!-- #footer-widget-area -->
		<div class="site-info">
			Copyright 2013				<a href="http://braggcreekperformingarts.com/" title="Bragg Creek Performing Arts" rel="home">
					Bragg Creek Performing Arts</a> | 				<a href="http://artbiz.ca/" title="WordPress websites and blogs for artits">an artbiz concept</a>
		</div><!-- .site-info -->
	</footer><!-- #colophon -->
</div><!-- #page -->
	<div style="display:none">
	</div>

	</div>
</form>
</body>
</html>
