
body
{
background-color: #2F3338;
}

.bgwhite
{
background-color: White;
}

.hometext	
{ 
font-family: Arial, Sans-serif; 
font-size: 11px; 
color: #ffffff; 
}

.hometext a 
{ 
font-family: Arial, Sans-serif; 
font-size: 11px; 
font-weight: bold;
/*color: #C4AF5A;*/
color: #95C1E8;
text-decoration:none;
}

.morelink a 
{ 
font-family: Arial, Sans-serif; 
font-size: 11px; 
font-weight: bold;
color: #ADADAD; 
text-decoration:none;
}

.morelink a:hover
{ 
text-decoration:underline
}

.bodytext, .bodytext li, .bodytext td
{ 
font-family: Verdana, Geneva, sans-serif; 
font-size: 11px; 
line-height: 18px;
color: #333333; 
}

.red_text
{
font-family: Verdana, Geneva, sans-serif; 
font-size: 11px; 
line-height: 19px;
color: Red; 
}

.bodytextBG
{
background: url("../_gfx/cmn/body_leftmargin.gif");
background-repeat: repeat-y;
background-color: #ffffff;
}

.breadcrumbBG
{
background-color: #EAEAEA;
}

.breadcrumb	
{ 
font-family: Tahoma, Arial, Sans-serif; 
font-size: 10px; 
color: #808080; 
}

.breadcrumb	a:link
{ 
font-family: Arial, Sans-serif; 
font-size: 11px; 
color: #808080; 
text-decoration: none;
}

.pagetitle
{
font-family: tahoma, Arial, Sans-serif; 
font-size: 18px;
font-weight: bold; 
color: #19347D;
margin-top:15px;
margin-bottom:6px;
line-height:16px;
}

.subtitle	
{ 
font-family: tahoma, verdana, Arial, Sans-serif; 
font-size: 14px; 
font-weight: bold;
color: #606E8A; 
margin-top: 5px;
margin-bottom: 2px;
line-height:15px;
}

hr
{border-bottom: 2px dotted #B4B4B4;
 border-top: 0px;
 border-left: 0px;
 border-right: 0px}


/**************************************
Editworks Stylesheet
**************************************/

h1, .heading1, .h1
{   
font-size: 15px; 
font-weight: bold; 
}

h2, .heading2, .h2
{   
font-size: 13px; 
font-weight: bold; 
}

h3, .heading3, .h3
{   
font-size: 12px; 
font-weight: bold; 
}

.quote
{
margin-left:50px;
padding-left:12px;
color: #333333; 
line-height: 23px;
border-left: 2px solid #DADADA;
}

/***************
End for Editworks Stylesheet
***************/


/**************************************
Table Formatting
**************************************/

.bodytext table, .bodytext td, table.blank_table, .blank_table td, .blank_table th
{
font-family: verdana, geneva, Sans-serif; 
font-size: 11px; 
color: #333333; 
border: none;
border-width: 0px;
}

table.data_table
{
border: solid #C3C3C3;
border-width: 1px 1px 0 0;
margin: 0px;
padding:0px;
border-collapse: collapse;
border-spacing: 0;
}

table.data_table td, table.data_table th
{
line-height:13px;
border: solid #C3C3C3;
border-width: 0 0 1px 1px;
padding: 3px;
margin:0px;
/*spacing:0px;*/
border-collapse: collapse;
border-spacing: 0;
}


table.data_table_alt
{
border: solid #000;
border-width: 0px 0px 0px 0px;
margin: 0px;
padding:0px;
border-collapse: collapse;
border-spacing: 0;
margin-top: 0px;
}

table.data_table_alt td, table.data_table_alt th
{
line-height:13px;
border: solid #fff;
border-width: 0px 0px 0px 0px;
padding: 7px;
margin:0px;

/*spacing:0px;*/
border-collapse: collapse;
border-spacing: 0;
background-color: #ebebeb
}






table.box_table
{
border: 1px solid #C3C3C3;
background-color: #F6FAFE;
line-height:14px; 
}

.box_table td, th
{
border:none;
padding:15px;
color: #333333;
border-collapse: collapse;
border-spacing: 0;
}

td.table_h1, th.table_h1, .bodytext th
{ 
color: #FFFFFF;
background: #111B9C;
line-height: 16px;  
text-align: center;
font-weight: bold;
}

td.table_h2, th.table_h2
{
color: #000;
background: #DADADA; 
line-height: 16px;
}

td.table_h3, th.table_h3
{
color: #000;
background: #F7F7F7; 
line-height: 16px;
}

/***************
End for Table Formatting
***************/



.whiteBG
{
background-color: #ffffff;
}

.leftnavBG
{
background-color: #B4B4B4;
}

.topNav
{ 
font-family: Verdana, Arial, Sans-serif; 
font-size: 10px; 
color: #F5E8B8;
}

.topNav a
{ 
font-family: Verdana , Arial, Sans-serif; 
font-size: 10px; 
color: #F5E8B8;
font-weight: bold;
text-decoration:none
}

.newsList
{ 
font-family: Arial, Sans-serif; 
font-size: 11px; 
color: #333333;
}

.newsList a
{ 
font-family: Arial, Sans-serif; 
font-size: 11px; 
color: #333333;
}

.searchBox
{ 
font-family: Arial, Sans-serif; 
font-size: 10px; 
color: #333333;
width: 115px;
}

.shortcuts
{ 
font-family: Tahoma, Arial, Sans-serif; 
font-size: 10px; 
color: #333333;
width: 115px;
}

.header2	{ font-family: Arial, Sans-serif;  font-size: 14px; font-weight: bold; color: #9C8E2A;}
.header1	{ font-family: Arial, Sans-serif; font-size: 18px; font-weight: bold; color: #0070C3; padding: 3px; margin-top:1px; margin-left:20px;}

.footerBG
{
background-color:#404952;
}

.footertext
{
margin-top:5px;
font-family: tahoma, Arial, Sans-serif; 
font-size: 10px;
line-height: 14px;
color: #919191;
}

.footertext a
{
font-family: tahoma, Arial, Sans-serif; 
font-size: 10px;
color: #919191;
}

.sublink	{ font-family: Tahoma, Geneva, sans-serif; font-size: 11px; color: #666666; background-color:#EAEAEA; padding: 1px 0 1px 0}
.sublinktop	{ font-family: Tahoma, Geneva, sans-serif; font-size: 11px; font-weight: bold; color: #811A1B; padding: 1px 0 1px 0}
a.sub:link		{ font-family: Tahoma, Geneva, sans-serif; color: #37393F; text-decoration: none; font-weight: normal; }
a.sub:visited	{ font-family: Tahoma, Geneva, sans-serif; color: #37393F; text-decoration: none; font-weight: normal; }
a.sub:hover		{ font-family: Tahoma, Geneva, sans-serif; color: #37393F; text-decoration: underline; font-weight: normal; }
a.sub1:link		{ font-family: Tahoma, Geneva, sans-serif; color: #001F75; text-decoration: none; font-weight: bold; }
a.sub1:visited	{ font-family: Tahoma, Geneva, sans-serif; color: #001F75; text-decoration: none; font-weight: bold; }
a.sub1:hover	{ font-family: Tahoma, Geneva, sans-serif; color: #001F75; text-decoration: underline; font-weight: bold; }

a:hover
{
	text-decoration:none
}

a.dynaPath:link{
	font-family: verdana, Times, Serif;
	font-size: 9px;
	color: black;
}
a.dynaPath:visited{
	font-family: verdana, Times, Serif;
	font-size: 9px;
	color: black;
}
a.dynaPath:hover{
	font-family: verdana, Times, Serif;
	text-decoration:underline;
	font-size: 9px;
	color: black;
}

.admintoolbox
{
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	background-color: #FFFFFF;
	font-family: tahoma,verdana,arial,sanserif;
	font-size: 11px;
	color: #333333;
}

.admintoolbox td
{
	border-top: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
	padding-top: 2px;
	padding-left: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
}

.admintoolboxlabel
{
	font-weight: bold;
}

.admintoolboxtitlebar
{
	border-top: 0px;
	height: 20px;
	background-color: #603046;
	font-size: 9px;
	font-weight: bold;
	text-transform: uppercase;
	color: #FFFFFF;
	text-align: center;
}

.rowhighlightoff
{
	background-color:"#ffffff";
}

.rowhighlighton
{
	background-color:"#eeeeee";
}

.admintoolbox a:link	{ color: #603046; text-decoration: underline; font-weight: normal;}
.admintoolbox a:visited	{ color: #603046; text-decoration: underline; font-weight: normal;}
.admintoolbox a:hover	{ color: #603046; text-decoration: underline; font-weight: normal;}

.tableworkflow
{
	border-right: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	background-color: #FFFFFF;
	font-family: tahoma,verdana,arial,sanserif;
	font-size: 11px;
	color: #333333;
}

.tableworkflow td
{
	border-top: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
	padding-top: 2px;
	padding-left: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
}

.tableworkflowlabel
{
	font-weight: bold;
}

.titlebar
{
	border-top: 0px;
	height: 20px;
	background-color: #603046;
	font-size: 9px;
	font-weight: bold;
	text-transform: uppercase;
	color: #FFFFFF;
	text-align: center;
}

.specialButton
{
	font-family: tahoma;
	font-weight: bold;
	font-size: 11px;
	background-color: #9BF490;
}

.standardButton
{
	font-family: tahoma;
	font-size: 11px;
}

.smallButton
{
	padding: 1px;
	background-color: #CCCCCC;
	font-family: tahoma;
	font-size: 9px;
}

.backbutton
{
	padding-top: 10px;
	font-weight: bold;
	font-family: arial,sanserif;
	font-size: 12px;
	color: #333333;
}

.tableForm
{
	font-family: arial,sanserif;
	font-size: 12px;
	color: #333333;
}

.tableForm td
{
	padding-top: 4px;
	padding-left: 4px;
	padding-right: 4px;
	padding-bottom: 4px;
	text-align:left;
}

.toplinks
{ 
font-family: tahoma,Arial, Sans-serif; 
font-size: 10px; 
color: #ffffff;
}

.toplinks a
{ 
font-family: tahoma, Arial, Sans-serif; 
font-size: 10px; 
color: #ffffff;
text-decoration:none
}

.toplinks a:hover
{ 
text-decoration:underline
}

.searchbox
{ 
font-family: Arial, Sans-serif; 
font-size: 10px; 
color: #333333;
width: 115px;
}

.quicklinks
{ 
font-family: Tahoma, Arial, Sans-serif; 
font-size: 10px; 
color: #333333;
width: 115px;
}
/**************************
For Staff Directory Page
**************************/
.category
{
	border-collapse: collapse;
	border: #000000 0px solid;
}

th
{
	font-family: verdana,arial;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align:left;
}


.tableData
{
	border: 1px solid #999999;
	font-family: arial,sanserif;
	font-size: 11px;
	color: #333333;
}

.tableData td
{
	border-top: 1px solid #999999;
	padding-top: 4px;
	padding-left: 4px;
	padding-right: 4px;
	padding-bottom: 4px;
}

.tableData th
{
	padding-top: 4px;
	padding-left: 4px;
	padding-right: 4px;
	padding-bottom: 4px;
	font-size: 12px;
	font-weight: bold;
	color: #ffffff;
	background-color:#999999;
	text-align:left;
}

.category td
{
	font-family: arial,verdana;
	font-size: 12px;
	padding: 3px;
	border: 0px;
	text-align:left;
}

.category th
{
	font-family: arial,verdana;
	font-weight: bold;
	font-size: 12px;
	color: #000000;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align:left;
}
/**************************
End For Staff Directory Page
**************************/
/**************************
For Calendar Table Page
**************************/
.cmonth		{ font-family: Trebuchet MS; font-size: 18px; font-weight: bold; color: #637792; }
.cday		{
	font-family: Verdana;
	font-size: 9px;
	font-weight: bold;
	text-transform: uppercase;
	color: #FFFFFF;
	text-align: center;
	background-color : #637792;
}
.cdate		{ font-family: Arial; font-size: 18px; font-weight: bold; letter-spacing: -2px; color: #999999; }
.ctxt		{ font-family: Tahoma; font-size: 11px; color: #333333; }
.c1			{ background-color: #FFF0a0; }
.c2			{ background-color: #FFFFFF; }
.c3			{ background-color: #E0E4E9; }
.c4			{ background-color: #603046; }
/**************************
End For Calendar Table Page
**************************/
/********************************
For Calendar Detail Page
********************************/
.eventtitle{
	font-family: verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	line-height: 18px;
}
.eventsubtitle{
	font-family: verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;	
	line-height: 18px;
}
.eventleft{
	font-family: verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;		
	line-height: 18px;
}
.eventcontent{
	font-family: verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;			
	line-height: 18px;
}
/********************************
End For Calendar Detail Page
********************************/
/********************************
For Calendar Coucil Meeting Page
********************************/
.meetingtable{
	font-family: verdana;
	font-size: 11px;
	font-weight: normal;
	border-top-style : solid;
	border-top-width : 1px;
	border-left-style : solid;
	border-left-width : 1px;
	text-align: center;
	line-height: 18px;
}
.meetingth{
	font-family: verdana;
	font-size: 11px;
	font-weight: bold;
	background-color: #e7e7ef;
	color: #000000;
	border-bottom-style : solid;
	border-bottom-width : 1px;
	border-right-style : solid;
	border-right-width : 1px;
	text-align: center;
	line-height: 18px;
}
.meetingtd{
	font-family: verdana;
	font-size: 11px;
	font-weight: normal;
	border-bottom-style : solid;
	border-bottom-width : 1px;
	border-right-style : solid;
	border-right-width : 1px;
	text-align: center;
	line-height: 18px;
}
.meetingtypetd{
	font-family: verdana;
	font-size: 11px;
	font-weight: normal;	
	line-height: 18px;
}
/***************************************
End For Calendar Coucil Meeting Page
***************************************/

/* For Search Page */
.searchheader
{
	width:95%;
	margin:10px;
	background-color: navy;
	font-weight: bold;
	color:#FFFFFF;
	text-align: center;
	padding: 3px;
}

.searchsummary
{
	margin:10px;
}

.searchpaging
{
	width:95%;
	border:0px;
	margin:0px;
	padding:0px;
	margin-left:20px;
	margin-bottom:10px
}

.searchresult
{
	width:100%;
	margin:10px;
}

.searchresult table
{
	width:95%;
	border:0px;
	margin:0px;
	padding:0px;
}

.searchresult td
{
	padding: 2px;
}

.searchtitle
{
	font-size:14px;
	font-weight:bold;
}

.searchrowwhite
{ background-color: #FFFFFF; }

.searchrowdark
{ background-color: #E7E7E7; }

.searcherror
{
	margin:10px;
}

.message
{
	font-family:Arial;
	font-size: 11px;
	font-weight:normal;
	line-height:17px;
	color:Red; 	
}



/********************************
Begin Adv Component Formatting
********************************/

.advcomp_h1
{
color: #404952;
font-size: 19px;
font-family:Arial;
font-weight: bold;
}

.advcomp_h2
{
/*color: #B4B4B4;*/
color:#000000;
font-size: 12px;
font-weight: bold;
}

/********************************
End Adv Component Formatting
********************************/
