BODY {
background-color: #FFFFFF;
color: #000000;
font-family: verdana,arial,helvetica; }

.TixClass1 {
color: #008400;
background-color: #FFFFFF; }
.TixClass1 a:link {color: #0000FF; text-decoration: underline;}
.TixClass1 a:visited {color: #800080; text-decoration: underline;}
.TixClass1 a:active {color: #800000; text-decoration: underline;}

.TixClass2 {
color: #FFFFFF;
background-color: #008000; }
.TixClass2 a {color: #FFFFFF}
.TixClass2 a:link {color: #FFFFFF; text-decoration: underline;}
.TixClass2 a:visited {color: #FFFFFF; text-decoration: underline;}
.TixClass2 a:active {color: #FFFFFF; text-decoration: underline;}

.TixClass3 {
color: #FFFFFF;
background-color: #008000; }
.TixClass3 a {color: #FFFFFF}
.TixClass3 a:link {color: #FFFFFF; text-decoration: underline;}
.TixClass3 a:visited {color: #FFFFFF; text-decoration: underline;}
.TixClass3 a:active {color: #FFFFFF; text-decoration: underline;}

.TixClass4 {
color: #000000;
background-color: #F6EAB6; }
.TixClass4 a:link {color: #0000FF; text-decoration: underline;}
.TixClass4 a:visited {color: #800080; text-decoration: underline;}
.TixClass4 a:active {color: #800000; text-decoration: underline;}

#TixFooterImage {
background-image: url(/Images/PoweredByTixTransparentWhite.gif);
width: 122px;
height: 41; }
