#body_div {
	width: 564px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
#banner1_div {
}
#banner2_div {
	height: 149px;
	margin-bottom: 20px;
	margin-top: 10px;
	overflow: hidden;
}
#banner2_text {
	padding-top: 10px;
}
#credits {
	margin-top: 10px;
	font-size: 90%;
	font-style: italic;
	padding-bottom: 20px;
}
.clear {
	clear: left;
}
.clear_nospace {
	clear: left;
	margin-bottom: -20px;
}
#pagetitle_div {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
	font-weight: bold;
	color: #a30b14;
	text-transform: uppercase;
	border-top-width: 3px;
	border-bottom-width: 3px;
	border-top-style: ridge;
	border-bottom-style: ridge;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 10px;
}
.head_20px {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	color: #a30b14;
	font-size: 20px;
	margin-bottom: 20px;
}
.head_18px {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	color: #a30b14;
	font-size: 17px;
	margin-bottom: 20px;
}
#tix_info p {
	margin-top: 0px;
	margin-bottom: 5px;
}
#bo_wrapper {
	border-bottom-width: 2px;
	border-bottom-style: ridge;
	padding-bottom: 5px;
	padding-top: 5px;
}
#bo_info {
	vertical-align: bottom;
	height: 216px;
	display: table-cell;
}
#bo_info2 {
	padding-top: 56px;
	margin-top: 0px;
	margin-bottom: 0px;
	overflow: hidden;
}
.sans_b {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}
.sans_b_centered {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 18px;
	text-align: center;
	line-height: 1.5em;
	padding-bottom: 0px;
}
.sans_b_scap {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 80%;
	font-weight: bold;
	text-transform: uppercase;
}
.sans_b_red {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #a30b14;
}
.sans_b_red_scap {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #a30b14;
	font-size: 80%;
}
.p_large {
	font-size: 18px;
	line-height: 23px;
	margin-top: 0px;
	margin-bottom: 0px;
}
#directions_div {
	padding-bottom: 5px;
	border-bottom-width: 2px;
	border-bottom-style: ridge;
}
.invisible_small {
	color: #fddfb2;
	font-size: 5px;
	line-height: 0px;
}
.banner2_santabarbara {
	font-size: 22px;
	color: #0c207f;
	margin-bottom: 10px;
	margin-top: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: lighter;
}
#banner2_div p {
	margin-top: 0px;
	margin-bottom: 15px;
	font-size: 18px;
	line-height: 20px;
}
.page_title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
	font-weight: bold;
	color: #a30b14;
	text-transform: uppercase;
	border-top-width: 2px;
	border-bottom-width: 2px;
	border-top-style: ridge;
	border-bottom-style: ridge;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 10px;
}
.super {
	vertical-align: text-top;
	font-size: 50%;
}
.p_centered {
	text-align: center;
}
.show_about_title_ul {
	text-transform: none;
}
