@charset "UTF-8";
.show_div {
	border-bottom-width: 3px;
	border-bottom-style: ridge;
	padding-bottom: 10px;
	margin-bottom: 10px;
	padding-top: 5px;
}
.show_div_indented {
	border-bottom-width: 2px;
	border-bottom-style: ridge;
	padding-bottom: 10px;
	margin-bottom: 10px;
	padding-top: 5px;
	margin-left: 36px;
	clear: left;
}
.show_about_div {
}
.show_image_div {
	float: left;
	margin-right: 7px;
	margin-bottom: 5px;
	overflow: hidden;
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
}
.show_image_div_right {
	float: right;
	margin-right: 0px;
	margin-bottom: 5px;
	overflow: hidden;
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
	margin-left: 7px;
}
.show_image_div p {
	margin-top: 0px;
	margin-bottom: 4px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
}
.show_about_blurb {
	font-style: italic;
	padding-right: 20px;
	padding-left: 20px;
	margin-bottom: 0px;
}
.show_about_blurb-by {
	font-style: italic;
	padding-right: 20px;
	padding-left: 20px;
	text-align: right;
	margin-top: 0px;
}
.show_about_date {
	font-weight: bold;
	font-size: 15px;
	margin-top: 0px;
	margin-bottom: 12px;
}
.show_about_presenter {
	font-size: 75%;
	text-transform: uppercase;
	margin-top: 0px;
	margin-bottom: 5px;
}
.show_about_title  {
	margin-top: 0px;
	margin-bottom: 5px;
	text-transform: uppercase;
	font-size: 30px;
	line-height: 90%;
	font-weight: bold;
}
.show_about_title_small {
	font-size: 20px;
	font-weight: bold;
	margin-top: 0px;
	margin-bottom: 0px;
	text-transform: uppercase;
}
.show_about_tagline  {
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 17px;
	font-weight: bold;
}
.show_timetix_div {
	clear: both;
}
.show_timetix_div p {
	font-size: 95%;
	margin-top: 0px;
	margin-bottom: 0px;
}
.show_timetix_div p strong {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 90%;
}
.show_timetix_PM {
	font-size: 75%;
}
.show_timetix_invisible {
	color: #fddfb2;
}
.hanging {
	text-indent: -2em;
	margin-left: 2em;
	margin-top: 0px;
	margin-bottom: .5em;
}
.indent {
	margin-left: 1.5em;
}
.show_about_title-upperlower {
	margin-top: 0px;
	margin-bottom: 5px;
	text-transform: none;
	font-size: 30px;
	line-height: 90%;
	font-weight: bold;
}
.nospaceafter {
	margin-bottom: 0px;
}
