/* Have fun adding your style here :) - PS: At all times this file should contain a comment or a rule, otherwise opera might act buggy :( */


@media only screen and (min-width: 960px) {
	.template-blog.sidebar_right.dynamic_element.dynamic_el_6 .sidebar {
		display: none;
	}

	.template-blog.sidebar_right.dynamic_element.dynamic_el_6 .content.units.eight.alpha {
		width: 930px !important;
	}

	.template-blog.sidebar_right.dynamic_element.dynamic_el_6 .seven.units.entry-content.standard-content {
		width: 850px !important;
	}
}