A:link {
	COLOR: #66ff66; TEXT-DECORATION: none
}
A:visited {
	COLOR: #f00; FONT-FAMILY: FontName; TEXT-DECORATION: none
}
H1 {
	FONT: bold xx-large "2Stone Sans", "Gill Sans", Arial, Helvetica, sans-serif; COLOR: #000066; TEXT-ALIGN: center
}
.master {
	FONT-SIZE: 12pt; FONT-FAMILY: Arial, Helvetica, GillSans, "2Stone Sans", sans-serif
}
A:link {
	COLOR: #f00; TEXT-DECORATION: underline
}
H2 {
	FONT: bold x-large "2Stone Sans", GillSans, Helvetica, Arial, sans-serif; COLOR: #000033; TEXT-ALIGN: center
}
H3 {
	FONT: bold italic x-large "2Stone Sans", "Gill Sans", Helvetica, sans-serif; COLOR: #000033; TEXT-ALIGN: center
}
.caption {
	FONT: smaller GillSans, Verdana, Helvetica, "2Stone Sans", Arial, sans-serif; COLOR: #000000; TEXT-ALIGN: center
}
