/* Audio/Video jPlayer Skin -------------------------------*/

.solo-player div.jp-jplayer.jp-jplayer-video,
.solo-player div.jp-jplayer.jp-player-video { 
    background-color: #292a2b;
    width: 560px; 
}

.solo-player .jp-audio-container,
.solo-player .jp-video-container { margin-bottom: 20px; }

.solo-player div.jp-interface {
	position: relative;
	width: 100%;
	background: url(img/jplayer_bg.png) repeat-x;
	z-index: 100;
	-webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.4);
	box-shadow: 0px 1px 1px rgba(0,0,0,0.4);
}

.solo-player .jp-interface { height: 30px; }

.solo-player .jp-controls {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.solo-player .jp-controls li { display: inline; }

.solo-player .jp-controls a {
    border-bottom: none;
	position: absolute;
	overflow: hidden;
	text-indent: -9999px;
}

.solo-player .jp-controls a:hover { background-color: transparent; }

.solo-player a.jp-play,
.solo-player a.jp-pause {
	width: 33px;
	height: 30px;
	z-index: 1;
	outline: none;
	top: 0;
	left: 0;
}

.solo-player a.jp-play { background: url(img/jplayer-black-and-grey.png) 0 0 no-repeat; }

.solo-player a.jp-play:hover { background-position: -33px 0; }

.solo-player a.jp-pause { 
    background: url(img/jplayer-black-and-grey.png) 0 -30px no-repeat; 
    display: none;
}

.solo-player a.jp-pause:hover { background-position: -33px -30px; }

.solo-player .jp-progress-container {
	position: absolute;
	top: 0;
	left: 34px;
	width: 450px;
	height: 6px;
	padding: 12px 10px;
}

.solo-player .jp-progress { 
    position: absolute; 
	width: 100%;
	height: 7px;
	padding: 1px;
	background: url(img/jplayer-black-and-grey.png) 0 -192px repeat-x ;
}

.solo-player .jp-seek-bar {
	width: 0px;
	height: 5px;
	cursor: pointer;
	background: url(img/jplayer-black-and-grey.png) 0 -163px repeat-x;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
}

.solo-player .jp-play-bar {
	width: 0px;
	height: 5px;
	background: url(img/jplayer-black-and-grey.png) 0 -133px repeat-x ;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
}

.solo-player .jp-volume-bar-container {
	position: absolute;
	top: 0;
	right: 20px;
	width: 40px;
	height: 6px;
	padding: 12px 10px;
}

.solo-player .jp-volume-bar {
	position: relative;
	overflow: hidden;
	background: url(img/jplayer-black-and-grey.png) 0 -192px repeat-x;
	width: 40px;
	height: 9px;
	cursor: pointer;
	top: 0;
	left: 18px;
}

.solo-player .jp-volume-bar-value {
	width: 0px;
	height: 5px;
	margin: 1px;
	background: url(img/jplayer-black-and-grey.png) 0 -133px repeat-x;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
}

.solo-player a.jp-mute,
.solo-player a.jp-unmute {
	width: 17px;
	height: 13px;
	z-index: 1;
	outline: none;
	top: 9px;
	right: 60px;
}

.solo-player a.jp-mute { background: url(img/jplayer-black-and-grey.png) -10px -68px no-repeat; }

.solo-player a.jp-mute:hover { background-position: -43px -68px; }

.solo-player a.jp-unmute { background: url(img/jplayer-black-and-grey.png) -10px -98px no-repeat; }

.solo-player a.jp-unmute:hover { background-position: -43px -98px; }

.grid_4 .solo-player .jp-progress-container {width:135px!important}
.grid_8 .solo-player .jp-progress-container {width:450px}

.item-single .solo-player {margin:20px 0}