TD {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
P {
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.white {
	COLOR: white
}
A {
	COLOR: #990000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
A:hover {
	COLOR: #d44d4d
}
.bodySm {
	FONT-SIZE: 7pt
}
.copyright {
	FONT-SIZE: 7pt; COLOR: #990000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.photoHeaderHyperlink {
	COLOR: white; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.photoDescriptionHyperlink {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: black; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.photoDescriptionHyperlink:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #990000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.photoHeader {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; WIDTH: 100%; COLOR: white; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #770000
}
HR {
	COLOR: #e5c7c7; HEIGHT: 1px
}
BODY {
	BACKGROUND-COLOR: #770000
}
.subtitle {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #cc0000
}
.title {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #990000
}
.subtitle2 {
	FONT-WEIGHT: bold; FONT-SIZE: 7pt; COLOR: #990000
}
.tableHeader {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #990000
}
.button2 {
	BORDER-RIGHT: #990000 1px solid; BORDER-TOP: #990000 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 8pt; BORDER-LEFT: #990000 1px solid; COLOR: #990000; BORDER-BOTTOM: #990000 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
.button {
	BORDER-RIGHT: #990000 1px solid; BORDER-TOP: #990000 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 8pt; BORDER-LEFT: #990000 1px solid; COLOR: #ffffff; BORDER-BOTTOM: #990000 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #990000
}
SELECT {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; FONT-SIZE: 8pt; BORDER-LEFT: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
INPUT {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; FONT-SIZE: 8pt; BORDER-LEFT: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
TEXTAREA {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; FONT-SIZE: 8pt; BORDER-LEFT: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.required {
	COLOR: #ff0000
}
.picBorder {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; BORDER-LEFT-COLOR: #e5c7c7; BORDER-BOTTOM-WIDTH: 1px; BORDER-BOTTOM-COLOR: #e5c7c7; BORDER-TOP-COLOR: #e5c7c7; BORDER-RIGHT-WIDTH: 1px; BORDER-RIGHT-COLOR: #e5c7c7
}
