BODY {
	BACKGROUND-IMAGE: url(/Clients/BFHI/Images/bg1b.gif); TEXT-ALIGN: center; PADDING-BOTTOM: 0px; BACKGROUND-COLOR: #fc3; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND-REPEAT: repeat-x; PADDING-TOP: 20px
}
H1 {
	LINE-HEIGHT: 1.5; MARGIN: 0px; COLOR: #fff; FONT-SIZE: 24px; FONT-WEIGHT: 700
}
H3 {
	LINE-HEIGHT: 1.5; MARGIN: 0px; COLOR: #f90; FONT-SIZE: 10px; FONT-WEIGHT: 700
}
H2 {
	BORDER-BOTTOM: #ccc 1px dotted; PADDING-BOTTOM: 5px; LINE-HEIGHT: 1.5; MARGIN: 0px; COLOR: #369; FONT-SIZE: 16px; FONT-WEIGHT: 700
}
DIV.paragraph {
	PADDING-BOTTOM: 5px; LINE-HEIGHT: 1.5; MARGIN-TOP: 5px; FONT-SIZE: 11px
}
P {
	PADDING-BOTTOM: 5px; LINE-HEIGHT: 1.5; MARGIN-TOP: 5px; FONT-SIZE: 11px
}
#container {
	TEXT-ALIGN: left; PADDING-BOTTOM: 10px; BACKGROUND-COLOR: #fff; MARGIN: 0px auto; PADDING-LEFT: 10px; WIDTH: 700px; PADDING-RIGHT: 10px; FONT-FAMILY: Arial,Helvetica,sans-serif; HEIGHT: auto; FONT-SIZE: 11px; PADDING-TOP: 10px
}
#banner {
	WIDTH: 700px; MARGIN-BOTTOM: 10px; HEIGHT: 100px
}
#bannerLeft {
	BACKGROUND-IMAGE: url(/Clients/BFHI/Images/leaf.gif); WIDTH: 150px; FLOAT: left; HEIGHT: 100px; MARGIN-RIGHT: 10px
}
#bannerRight {
	BORDER-BOTTOM: #ccc 0px solid; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; WIDTH: 529px; PADDING-RIGHT: 0px; BACKGROUND: url(/Clients/BFHI/Images/bg1c.gif) repeat-x; FLOAT: left; HEIGHT: 49px; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 0px solid; PADDING-TOP: 50px
}
#content {
	BACKGROUND: url(/Clients/BFHI/Images/bg1.gif) repeat-y; HEIGHT: 1%
}
#leftColumn {
	FLOAT: left
}
#nav {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FLOAT: left; PADDING-TOP: 0px
}
#nav A {
	BORDER-BOTTOM: #333 1px dotted; PADDING-BOTTOM: 8px; MARGIN: 0px; PADDING-LEFT: 10px; WIDTH: 130px; PADDING-RIGHT: 10px; DISPLAY: block; COLOR: #fff; FONT-SIZE: 11px; TEXT-DECORATION: none; PADDING-TOP: 8px
}
#nav A:hover {
	BACKGROUND-COLOR: #333
}
#active A:link {
	BACKGROUND-COLOR: #333; COLOR: #f90
}
#active A:hover {
	BACKGROUND-COLOR: #333; COLOR: #f90
}
#active A:visited {
	BACKGROUND-COLOR: #333; COLOR: #f90
}
#leftColumnBottom {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; WIDTH: 130px; PADDING-RIGHT: 10px; BACKGROUND: url(/Clients/BFHI/Images/bg1c.gif) repeat-x; COLOR: #eaeaea; CLEAR: both; PADDING-TOP: 110px
}
#rightColumn {
	OVERFLOW-X: visible !important; MIN-HEIGHT: 400px; PADDING-LEFT: 15px; WIDTH: 530px; FLOAT: right; HEIGHT: auto !important; COLOR: #666
}
#clear {
	CLEAR: both
}
.date {
	COLOR: #999; FONT-SIZE: 10px; FONT-WEIGHT: normal
}
#copyright {
	FONT: 10px Arial,Helvetica,sans-serif; COLOR: #369; PADDING-TOP: 10px
}
#copyright A {
	COLOR: #369; TEXT-DECORATION: none
}
#copyright A:hover {
	COLOR: #f39
}
#weebly-menus .weebly-menu-wrap {
	Z-INDEX: 5000
}
#weebly-menus .weebly-menu {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#weebly-menus .weebly-menu LI {
	TEXT-ALIGN: left; WIDTH: 170px; FLOAT: left; CLEAR: left
}
#weebly-menus .weebly-menu LI A {
	BORDER-BOTTOM: #333 1px solid; POSITION: relative; BORDER-LEFT: #333 1px solid; PADDING-BOTTOM: 5px; LINE-HEIGHT: 1; PADDING-LEFT: 4px; WIDTH: 100%; PADDING-RIGHT: 4px; DISPLAY: block; FONT-FAMILY: Arial,Helvetica,sans-serif; BACKGROUND: #333; COLOR: #fff; FONT-SIZE: 11px; FONT-WEIGHT: normal; BORDER-RIGHT: #333 1px solid; TEXT-DECORATION: none; PADDING-TOP: 4px
}
#weebly-menus .weebly-menu LI A:hover {
	BORDER-BOTTOM: #666666 1px solid; BORDER-LEFT: #666666 1px solid; BACKGROUND: #666666; BORDER-RIGHT: #666666 1px solid
}
#weebly-menus SPAN.weebly-menu-title {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; DISPLAY: block; PADDING-TOP: 5px
}
#weebly-menus SPAN.weebly-menu-more {
	POSITION: absolute; PADDING-BOTTOM: 3px; LINE-HEIGHT: 28px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: block; FONT-FAMILY: Courier; BACKGROUND: url(http://images.weebly.com/weebly/images/submenu_arrow.gif) no-repeat center top; HEIGHT: 28px; TOP: 0px; RIGHT: 5px; PADDING-TOP: 1px
}
DIV.paragraph UL {
	MARGIN: 5px 0px; PADDING-LEFT: 25px !important
}
DIV.paragraph OL {
	MARGIN: 5px 0px; PADDING-LEFT: 25px !important
}
DIV.paragraph LI {
	MARGIN: 3px 0px 0px; PADDING-LEFT: 5px !important
}
DIV.paragraph UL {
	LIST-STYLE-POSITION: outside !important; LIST-STYLE-TYPE: disc !important
}
DIV.paragraph UL LI {
	LIST-STYLE-POSITION: outside !important; LIST-STYLE-TYPE: disc !important
}
DIV.paragraph OL {
	LIST-STYLE-POSITION: outside !important; LIST-STYLE-TYPE: decimal !important
}
DIV.paragraph OL LI {
	LIST-STYLE-POSITION: outside !important; LIST-STYLE-TYPE: decimal !important
}
