body {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px}
body td {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px}
h2 {  font-family: Goudy, Georgia, Times, "Times New Roman", serif; font-size: 18px; font-weight: bold}
h3 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; font-weight: bold}
h4 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold}
body td td {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px}
body td th {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold}
.main {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px}
.credit {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: italic;
}
.callink { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px }
.callink a:link { color: #CFCF2B; text-decoration: none }
.callink a:visited{ color: #CFCF2B; text-decoration: none }
.callink a:hover { color: #CFCF2B; text-decoration: underline }
.callink a:active{ color: #CFCF2B }

.blank {  }
.date {  font-size: 16px; font-weight: bold}
.date_range {
	font-family: Goudy, Georgia, Times, "Times New Roman", serif;
	font-size: 18px;
}
.text_title {
	font-family: Goudy, Georgia, Times, "Times New Roman", serif;
	font-size: 36px;
}
.text_title_home {
	font-family: Goudy, Georgia, Times, "Times New Roman", serif;
	font-size: 20px;
	font-style: italic;
	color: #FFFFFF;
}
.text_title_home a:link { color: #FFFFFF; text-decoration: none }
.text_title_home a:visited{ color: #FFFFFF; text-decoration: none }
.text_title_home a:hover { color: #FFFFFF; text-decoration: underline }
.text_title_home a:active{ color: #FFFFFF }
.text_title_sml {
	font-family: Goudy, Georgia, Times, "Times New Roman", serif;
	font-size: 18px;
	font-style: italic;
}
.text_title_smlr {
	font-family: Goudy, Georgia, Times, "Times New Roman", serif;
	font-size: 16px; font-style: italic; font-weight: bold}
.text_title_smlr a:link { text-decoration: none; color: #FFFFFF }
.text_title_smlr a:visited{ text-decoration: none; color: #FFFFFF }
.text_title_smlr a:hover { color: #CF9F2B }
.text_title_smlr a:active{ color: #CF9F2B }
.text_title_smlest {
	font-family: Goudy, Georgia, Times, "Times New Roman", serif;
	font-size: 14px; font-style: italic; font-weight: bold; color: #CC9900}
.text_title_smlest  a:link { text-decoration: none; color: #CCCC00 }
.text_title_smlest  a:visited{ text-decoration: none; color: #CCCC00 }
.text_title_smlest  a:hover { color: #CF9F2B }
.text_title_smlest  a:active{ color: #CF9F2B }
