/*
All About Keysville:  
According to the 2000 Census, the median household income was $25,750, while the median house value was $76,800.

STYLE ELEMENTS
---------------------
/*============================================================================

IE 6 STYLES

============================================================================*/

/* Fix for displaying PNG images in IE6 */
h1, h3, li, ul, blockquote, p { behavior: url(/PrivateLabel/DelShakes/images/iepngfix.htc); }

/* Adjusting the PNG positioning to align with the bottom */
div#nav_section h3 {
	top: -215px;
	}
	
/* Resetting the padding-top to the top of the page for IE6 */
.pc { /* content_main */
	padding-top:280px;
}

.sc { /* content_sub */
	padding-top:280px;
	}
	
/* Keeping from the a:hover on the tab since the li won't hover in IE6 */
div#nav_section li a:hover {
      background-position: 100% 0px;
      }	 
	  
div#content_main  h4 {
	border-top: dashed 1px #999;
	border-bottom: dashed 1px #999;
	padding: 10px;
	text-align: center;
	margin-bottom:15px;
	font-family: Georgia, "New Century Schoolbook", "Bitstream Vera Serif", Utopia, "Times New Roman", times, serif;
	line-height: 110%;
	letter-spacing: 1px;
	font-size:1.4em;
	}

div#content .anchors {
	padding: 0px;
	margin: 0px 0px 8px -6px;
	}
div#content .anchors li	{
	background: none;
	display: inline;
	padding: 0px 7px 0px 5px;
	border-right: solid 1px #bbb;
	font-size:0.9em;
	text-transform:uppercase;
	}	
	
/* Resetting the padding-top to the top of the page for IE6 */
.home .pc { /* content_main */
	padding-top:0px;
}

.home .sc { /* content_sub */
	padding-top:0px;
	}
	
jumpLinks p {
	background:transparent url(/PrivateLabel/DelShakes/images/bg_roundtop.gif) no-repeat left top;
}
	