.TopMenuGroup
{
  border:;
  background-image: url(cunited-images/mainnavi-bg.jpg);
}

.MenuGroup
{
  border:solid 1px #003167;
  background-color:#EEEEEE;
  padding-left: 100px;
}

.TopMenuItem
{
	background-image: ;
	color:#FFFFFF;
	font-family:verdana;
	font-size:11px;
	font-weight: bold;
	text-align:left;
	width:150px;
	height:29px;
	cursor:pointer;
	border:;
	
 }

.TopMenuItemHover
{
  background-image: ;
  color:#FF9A21;
  font-family:verdana;
  font-size:11px;
  text-align:left;
  font-weight: bold;
  width:150px;
  height:29px;
  cursor:pointer;
 
}

.MenuItem
{
  background-color:#eddbc1;
  color:#C97E01;
  font-family:verdana;
  font-size:11px;
  border: #C97E01;
  cursor:pointer;
}

.MenuItemHover
{
  background-color:#C97E01;
  color:#eddbc1;
  font-family:verdana;
  font-size:11px;
  border:#285D9F;
  cursor:pointer;
}

.NavTopMenuItem
{
  color:#285D9F;
  font-family:verdana;
  font-size:11px;
  text-align:left;
   width:150px;
  height:29px;
  cursor:pointer;
}

.NavTopMenuItemHover
{
  color:white;
  font-family:verdana;
  font-size:11px;
  text-align:left;
 width:150px;
  height:29px;
  cursor:pointer;
}

.NavMenuItem
{
  background-color:White;
  color:#6699CC;
  font-family:verdana;
  font-size:10px;
  border: solid 1px white;
  cursor:pointer;
}

.NavMenuItemHover
{
  background-color:#C97E01;
  color:#285D9F;
  font-family:verdana;
  font-size:10px;
  border: solid 1px white;
  cursor:pointer;
}

.NavTopMenuGroup
{
  border:solid 1px #003167;
  background-color:#4379C1;
}

.NavMenuGroup
{
  border:solid 1px #003167;
  background-color:#EEEEEE;
}

