/*‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡-CONSTANT-‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡*/
body  {background:url(/clients/Danbino/Images/sub_bg.jpg)}	
body, td, input, ul, form {
	padding:0px 0px 0px 0px; 
	margin:0px 0px 0px 0px;
}
table {								 	  	  
	border-collapse:collapse;			 	 
	border:0px;	
	width:100%;
	padding:0px 0px 0px 0px;
}									   
td {							       				  
	vertical-align:top;	  			  
	font:normal 13px Tahoma;
	line-height:16px;
	color:#464646;
}										   	   
input, textarea, select{			     
	font:normal 11px Tahoma;			
	vertical-align:middle;
	color:#464646;
}		
ul {list-style:none;}
img {border:0px;}

/*‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡-MAIN-‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡*/
.tail {width:50%}
.tail1_left {background:url(/clients/Danbino/Images/tail1_left.jpg) 0 0 repeat-x; height:450px}
.tail1_right {background:url(/clients/Danbino/Images/tail1_right2.jpg) repeat-x 0 0}
.tail2_left	{background:url(/clients/Danbino/Images/tail2_left.jpg) 0 0 repeat}
.tail2_right {background:url(/clients/Danbino/Images/tail2_right.jpg) 0 0 repeat}

/*‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡-HEADER-‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡*/
.mpct	{background:url(/clients/Danbino/Images/mpct.jpg) 0 0 no-repeat; height:336px; width:483px}
.mx		{width:33px; background:url(/clients/Danbino/Images/mx.jpg) 0 0 repeat-y}

/*‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡-CONTENT-‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡*/
#content	{background:url(/clients/Danbino/Images/cont_bg.jpg) 0 0 repeat-y;}
.cont_bottom	{height:100%; background:url(/clients/Danbino/Images/bottom.jpg) bottom left no-repeat}
#page0	.column_1	{width:350px}
#page0	.column_2	{width:343px}
#page0  .space {padding:5px 5px 5px 32px;}

#page1	.column_1	{width:234px; padding:10px 0px 0px 0px;}
#page1	.column_2	{width:226px}
#page1	.column_3	{width:224px}
#page1  .space {padding:30px 40px 36px 38px;}

#page2	.column_1	{width:234px}
#page2	.column_2	{width:455px}
#page2  .space {padding:30px 35px 36px 38px;}

#page3	.column_1	{width:460px}
#page3	.column_2	{width:229px}
#page3  .space {padding:30px 35px 36px 38px;}

#page4	.column_1	{width:234px}
#page4	.column_2	{width:455px}
#page4  .space {padding:30px 35px 36px 38px;}

#page5	.column_1	{width:234px; padding:10px 0px 0px 0px;}
#page5	.column_2	{width:226px}
#page5	.column_3	{width:224px}
#page5  .space {padding:30px 40px 36px 38px;}

#page6  .space {padding:40px 39px 36px 40px;}
.vl	{background:url(/clients/Danbino/Images/l.gif) top right repeat-y}
.gl	{background:url(/clients/Danbino/Images/gl.gif) bottom repeat-x}

/*‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡-FORMS-‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡*/
.input input, .ta{
	width:193px;
	height:17px;
	padding:6px 0px 0px 0px;
	background:#FFF;
}
.ta {
	height:135px;
	overflow:auto;
	margin:0px 0px 14px 0px;
}
.eq_height {height:25px; margin:1px 0px 0px 0px;}

/*‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡-TEXT-‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡*/
a 		{font:bold 11px Tahoma; color:#464646;}
b 		{font:bold 11px Tahoma; color:#464646;}
a:hover {text-decoration:none;}	
.nn a	{text-decoration:none;}
.nn a:hover {text-decoration:underline;}

/*‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡-LINKS-‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡*/
.link_1 {color:#464646; font:bold 9px Tahoma; background:url(/clients/Danbino/Images/bullet1.gif) 0 0 no-repeat; padding:0px 0px 0px 9px;}
.link_2 {font-weight:normal}

/*‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡-LISTS-‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡*/
li {
	list-style:none;
	line-height:12px;
	margin:0px 0px 5px 0px;
}
li a {
	color:#464646; 
	font:bold 11px Tahoma; 
	background:url(/clients/Danbino/Images/bullet2.gif) 0 0 no-repeat; 
	padding:0px 0px 0px 9px;
}

/*‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡-FOOTER-‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡*/
#footer td {text-align:center;}
#footer a  {color:#464646; font:normal 11px Tahoma} 

.f_bg	{background:url(/clients/Danbino/Images/fbg.jpg) 0 0 repeat}
.f_top {background:url(/clients/Danbino/Images/f_top.jpg) 0 0 repeat-x !important; padding:13px 0px 0px 0px;}
.f_bottom {background:url(/clients/Danbino/Images/f_bottom.jpg) bottom left repeat-x !important; height:100%}
.f_center {background:url(/clients/Danbino/Images/fbg_cent.jpg) 0 0 repeat-y}

/*‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡-„„„„„„„‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡‡*/
.news A {

		font: 13px Tahoma;
	text-decoration:none;
	font-weight:normal;
		line-height: 24px;
	}
	
.news A:hover { text-decoration:underline	;
color:#000;
}
.border-img {
	border: 1px solid #B6AD8C;
}
A border-img {filter:alpha(opacity=100); -moz-opacity:1.0; opacity:1.0; -khtml-opacity:1.0;}
A:hover border-img {filter:alpha(opacity=60); ; -moz-opacity:.6; opacity:0.6; -khtml-opacity:0.6;}

a img.thumb{filter:alpha(opacity=100); -moz-opacity:1.0; opacity:1.0; -khtml-opacity:1.0; border: 3px solid #464646}
a:hover img.thumb {filter:alpha(opacity=80); ; -moz-opacity:.8; opacity:0.8; -khtml-opacity:0.8; border: 3px solid #B6AD8C}