body {
    background: url('/clients/chabadzichron/assets/images/bg.jpg') top center fixed;
    background-size: cover;
    color: #fff;
    margin: 0;
    font-family: arial;
}

.title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #F0D3BF;
    font-size: 39px;
    font-variant: small-caps;
}

.content {
    background-color: #fff;
    color: #000;
    padding: 15px;
}
/*navi bruh*/
.navbar-padding {
    padding: 0;
}
.navbar-chabad {
    background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#F0D3BF));
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin: 0;
    
 
}
.navbar-chabad a {
    color:#5b1048;
    font-size: 14px;
    font-weight: 700;
}

.navbar-chabad .navbar-nav > li > a:hover, .navbar-custom .navbar-nav > li > a:focus {
    background-color:#fff;
    color: #5b1048;
    text-shadow: 0;
   
}


/*footer*/
.sub-footer-chabad {
   font-size: .85em;
    padding: 0;
}