.col-1, .col-2, .col-3, .col-4{
	float:left
}
/*======= width =======*/
.main{margin:0 auto; text-align:left; width:980px; }

/*======= header =======*/
#header {height:187px;  background:url(/clients/CaliforniaWineFestival/Images/top.gif) repeat-x top}

/*======= index.html =======*/
#page1 #content .col-1{ width:353px}
#page1 #content .col-2{ width:317px}
#page1 #content .col-3{ width:294px}
#page1 #content .col-3 .col-1{ width:112px}
#page1 #content .col-3 .col-2{ width:80px}
/*======= index-2.html =======*/
#page3 #content .col-1{ width:353px}
#page3 #content .col-2{ width:611px}
#page3 #content .col-2 .col-1{
	width:260px;
	margin-right:30px
}
#page3 #content .col-2 .col-2{ width:260px}
/*======= index-3.html =======*/
#page4 #content .row1 .col-1{ width:647px}
#page4 #content .row1 .col-2{ width:317px}
#page4 #content .col-1{ width:317px}
#page4 #content .col-2{ width:647px}
#page4 #content .col-2 .col-1{ width:260px; margin-right:35px}
#page4 #content .col-2 .col-2{ width:260px}
/*======= index-4.html =======*/
#page5 #content .col-1{ width:353px}
#page5 #content .col-2{ width:611px}
#page5 #content .col-2 .col-1{ width:260px; margin-right:35px}
#page5 #content .col-2 .col-2{ width:260px}

/*======= footer =======*/
#footer { height:127px; }
#footer .col-1{ width:677px; background:url(/clients/CaliforniaWineFestival/Images/bot1.gif) repeat-x top; height:65px}
#footer .col-2{ width:303px; background:url(/clients/CaliforniaWineFestival/Images/bot2.gif) repeat-x top; height:65px}
