#cchButtons {
	width: 240px;
	position: relative;
	text-align: center;
}

a.rollover {
	display: block;
	width: 112px;
	height: 130px;
	text-decoration: none;
	background: url("cch-buttons.jpg");
	float: left;
	margin: 3px;
	}

a#cchGiftCertificate.rollover {
	background-position: 0 0;
	}


a#cchGiftCertificate.rollover:hover {
	background-position: -112px 0;
	}
	
a#cchNewsletter.rollover {
	background-position: 0 -130px;
	}


a#cchNewsletter.rollover:hover {
	background-position: -112px -130px;
	}


a#cchMembership.rollover {
	background-position: 0 -260px;
	}


a#cchMembership.rollover:hover {
	background-position: -112px -260px;
	}

a#cchPartners.rollover {
	background-position: 0 -390px;
	}


a#cchPartners.rollover:hover {
	background-position: -112px -390px;
	}

a#cchFacebook.rollover {
	width: 230px;
	height: 60px;
	background-position: 0 -520px;
	}


a#cchFacebook.rollover:hover {
	width: 230px;
	height: 60px;
	background-position: 0 -580px;
	}


.displace {
	position: absolute;
	left: -5000px;
	}
