div.blog-archives 
{
	margin-top:15px;
}
div.blog-archives #nav 
{
	list-style:none !important;
	margin-left:0px !important;
	font-weight:bold !important;
	padding-bottom:.45em !important;
}

div.blog-archives #nav ul{
	list-style:none !important;
	margin-left:10px !important;
	font-weight:normal !important;
}

div.blog-archives #nav li{
	padding-left:15px !important;
	background: url('Images/BlogArchivesArrow.gif') left center no-repeat !important;
	padding-bottom:.20em !important;
	margin-left: 10px !important;
}

div.blog-archives #nav a{
	text-decoration:none !important;
}

div.blog-archives #nav a:hover{
	color:#1b53b9 !important;
}

div.blog-archives #nav .expandable{
	padding-left:0px !important;
	background-image:none !important;
	margin-left: 0px !important;
}

div.blog-archives #nav .expandable img{
	margin-right:2px !important;
	margin-left: 0px !important;
}

div.blog-archives #expandAll, div.blog-archives #collapseAll {
	padding-top:.20em !important;
	padding-bottom:.5em !important;
	font-weight:bold !important;
	background-image:none !important;
}

div.blog-archives img.blogExpand {
    padding-right: 5px;
}