.HeaderModule 
{
}

.HeaderSelection
{

}

.Label
{

}

.LabelError
{
	text-align:left;
	color:Red;
}

.LinkButton
{
	text-align:left;
	text-decoration:none;
	color:#0000FF;
}

.ImageButton
{
	cursor: hand;
}

.TextBox 
{
}

.TextBoxCapitalize
{
	color:#000000;
	border-style:solid;
	border-width:1px;
	border-color:#779bcd;
	text-transform:capitalize;
}

.TextBoxUpper
{
	color:#000000;
	border-style:solid;
	border-width:1px;
	border-color:#779bcd;	
	text-transform:uppercase;
}

.DropDownList
{
}

.RadioButtonList
{
}

.RadioButton
{
}

.ListBox
{
}

.PanelTitle
{
	font-weight:bold;
	text-align:left;	
	border-bottom-color:Gray;
	border-bottom-style:solid;
	border-bottom-width:1px;
	padding: 3px 0px 3px 8px;
}

.PanelTabs
{
	border-color:#EEEEEE;
	border-style:solid;
	border-width:1px;
	padding: 5px 5px 5px 5px;
}

.PanelSignUp
{
	background-color: #ebebeb;
	padding: 4px 0px 3px 5px;
}

.PanelError
{
	background-color: #ffe4e1;
	padding: 5px 5px 5px 5px;
	border-bottom-style: solid;
	border-bottom-width: 10px;
	border-bottom-color:White;
}

.PanelListHeader
{
	font-weight: bold;
	text-align:center;
	padding: 2px 0px 2px 0px;
}

.PanelBox
{
	/** background-color: #ebebeb; */
	padding: 4px 0px 3px 5px;
	border: solid 1px #cccccc;
}

.PanelScroll
{
	overflow:auto;
}

.BulletList
{
	text-align:left;
	border:solid 0px white;
}

.GraphicButton
{
	font-weight:bold;
	color:#036499;
}

.PicButton
{
	color:#FFFFFF;
	font-weight:bold;
	text-decoration:none;
}

a.PicButton:link,
a.PicButton:visited, 
a.PicButton:active, 
a.PicButton:hover
{
	color:#FFFFFF;
}

/** Data Grid **/
.ClientGridView
{
}

.ClientGridViewHeader
{
	font-weight:bold;
	color:White;
	background-color:#779BCD;
	text-align:center;
	vertical-align:middle;
	padding: 2px 0px 2px 0px;
}

.ClientGridViewRow
{
	font-weight:normal;
	color:Black;
	background-color:White;
	cursor: default;
}

.ClientGridViewSelectedRow
{
	font-family:Verdana;
	color:White;
	background-color:#265199;
	cursor: default;
}

/** Tab Strip **/
td.TabStrip
{
	cursor:hand;
}

a.TabStrip
{
	color:#036499;
	text-decoration:none;
	font-weight:bold;	
}

a.TabStrip:visited
{
	color:#036499;
}

a.TabStrip:hover
{
	color:#036499;
}

table.TabStrip
{
	border-style: solid;
	border-color: #8CA2B8;
	border-width: 1px;
}

.TabStripBorder
{
	border-style: solid;
	border-color: #8CA2B8;
	border-width: 1px;
}

.DatePicker
{
	color:#000000;
	border-style:solid;
	border-width:1px;
	border-color:#779bcd;
}

/** Fixed size font! **/
.FixedFont
{
	font-family:Terminal;
	font-size:8px;
	height:22px;
	overflow:hidden;
}
.FixedFontFirefox
{
	font-family:Terminal;
	font-size:13px;
	height:22px;
	overflow:-moz-scrollbars-vertical;
}
/** End of Fixed size font **/

.watermark 
{
	color: #999;
}