/* Toolbar Header Style */
#toolbarButtons, #toolbarButtonsWrapper
{
	/*background:url(toolbarImages/toolbarBG.jpg) repeat-x bottom;*/
	/*background-color:#aecfee;*/
	/*height:80px;*/
}

#mainToolbar table.toolbarHeader
{
	/*font-family: 'Trebuchet MS';
	font-size: 85%;*/
	font-weight: bold;
	background-color: #D2D2D2;
	width: 100%;
	color: #6F706F;
	line-height:normal;
}

#mainToolbar table.toolbarHeader H1 
{
	font-family: Tahoma;
	font-size: 14px;
	font-weight: bold;
	margin: 0px;
	padding: 0px;
	color: #6F706F;
}

#mainToolbar table.toolbarHeader H2
{
	font-family: Tahoma !important;
	font-size: 12px !important;
	font-weight: bold !important;
	margin: 0px !important;
	padding: 0px !important;
	color: #6F706F !important;
}

#mainToolbar table.toolbarHeader .Logout
{
	color: #6F706F;
	font-family: Tahoma;
	font-size: 11px;
	background: url("images/logout.jpg") 0 0 no-repeat;
	padding-left: 20px;
	padding-top: 3px;
	vertical-align: top;
	text-decoration: none;
}

#mainToolbar table.toolbarHeader .Mode
{
	color: #6F706F;
	font-family: Tahoma;
	font-size: 11px;
	background: url("images/mode.jpg") 0 0 no-repeat;
	padding-left: 20px;
	padding-top: 3px;
	vertical-align: top;
	text-decoration: none;
}

#mainToolbar table.toolbarHeader .EasyMode
{
	color: #6F706F;
	font-family: Tahoma;
	font-size: 11px;
	background: url("images/easy_edit.jpg") 0 0 no-repeat;
	padding-left: 20px;
	padding-top: 3px;
	vertical-align: top;
	text-decoration: none;
}

#mainToolbar table.toolbarHeader .Report
{
	color: #6F706F;
	font-family: Tahoma;
	font-size: 11px;
	background: url("images/prnicon.gif") 0 0 no-repeat;
	padding-left: 20px;
	padding-top: 3px;
	vertical-align: top;
	text-decoration: none;
}

#mainToolbar table.toolbarHeader .Knowledge
{
	color: #6F706F;
	font-family: Tahoma;
	font-size: 11px;
	background: url("images/knowledge.gif") 0 0 no-repeat;
	padding-left: 20px;
	padding-top: 3px;
	vertical-align: top;
	text-decoration: none;
}

#mainToolbar table.toolbarHeader .Usage
{
	color: #6F706F;
	font-family: Tahoma;
	font-size: 11px;
	background: url("images/icon-sitestats.gif") 0 0 no-repeat;
	padding-left: 20px;
	padding-top: 3px;
	vertical-align: top;
	text-decoration: none;
}

#mainToolbar table.toolbarHeader .Logout:hover,
#mainToolbar table.toolbarHeader .Usage:hover,
#mainToolbar table.toolbarHeader .Mode:hover,
#mainToolbar table.toolbarHeader .EasyMode:hover,
#mainToolbar table.toolbarHeader .Report:hover,
#mainToolbar table.toolbarHeader .Knowledge:hover
{
	background-position: 0 -20px;
}

#mainToolbar table.toolbarHeader .Label
{
	color: #6F706F;
	font-family: Tahoma;
	font-size: 10px;
	padding-left: 20px;
}

/*
#mainToolbar input, #mainToolbar select
{*/
	/*font-size: 10px;
	font-family: Arial, Helvetica;*/
/*	font:normal 11px Tahoma;
	color:Black;
	border:1px solid #2a6280;
	padding:1px 0 1px 3px;
}*/

#mainToolbar a.toolbarBasebutton 
{
	display: block;
	font:bold 11px Tahoma;
	color:#393939;
	text-align:left;
	text-decoration: none;
	height:22px;
	width:130px;
	padding: 10px 0 0 60px;
}

#mainToolbar a.buttonactive
{
	background-position: 0 -34px;
}
/* edit toolbar buttons */

/*
#mainToolbar a.toolbarBasebutton:hover 
{
	background-position: -59px 0;
	color:#b4c9d7;
}
*/

#mainToolbar a.toolbarBasebutton:active
{
	background-position: 0 -34px;
	/*color:#393939;*/
	/*background-color: #C4E5F9;*/
}

#mainToolbar .toolbarBasebutton
{
    /*display: block;
    background-position: center top;
    background-repeat: no-repeat;
    padding: 40px 5px 0px 5px;*/
}

#mainToolbar .toolbarAddPage 
{
	background: url("toolbarImages/nav_add_page.jpg") 0 0 no-repeat;
}

#mainToolbar .toolbarDeletePage
{
	background: url("toolbarImages/nav_delete_page.jpg") 0 0 no-repeat;
}

#mainToolbar .toolbarEditPage 
{
	background: url("toolbarImages/nav_edit_page.jpg") 0 0 no-repeat;
}

#mainToolbar .toolbarPublishBlogPost
{
	background: url("toolbarImages/nav_publish.jpg") 0 0 no-repeat;
}
#mainToolbar .toolbarDraftBlogPost
{
	background: url("toolbarImages/nav_unpublish.jpg") 0 0 no-repeat;
}
#mainToolbar .toolbarAddContent
{
	background: url("toolbarImages/nav_add_content.jpg") 0 0 no-repeat;
}

#mainToolbar .toolbarOptional
{
	background: url("toolbarImages/nav_optional.jpg") 0 0 no-repeat;
}

#mainToolbar .toolbarLibrary
{
	background: url("toolbarImages/nav_library.jpg") 0 0 no-repeat;
}

#mainToolbar .toolbarCopyPage
{
	background: url("toolbarImages/nav_copy_page.jpg") 0 0 no-repeat;
}

#mainToolbar .toolbarPreview
{
	background: url("toolbarImages/nav_date.jpg") 0 0 no-repeat;
}

#mainToolbar .toolbarDate
{
	height: 28px;
	background: url('toolbarImages/nav_date_textbox.jpg') 0 0 no-repeat;
}

/* Logo and DDL
One toolbarLogoXXXXX is needed for every possible instance name */
.toolbarLogoWebTreePro
{
	background: url('toolbarImages/logo.png') 0 0 no-repeat;
	height: 38px;
	margin-left: 10px;
}

.toolbarLogoIMSIMPLICITY
{
	background: url('toolbarImages/logoIMSIMPLICITY.png') 0 0 no-repeat;
	height: 38px;
	margin-left: 10px;
}

.toolbarSelect
{
	background: url('toolbarImages/nav_select.jpg') 0 0 no-repeat;
	height: 41px;
}


/*---------------
  Sub-Toolbar
---------------*/

#subToolbarButtons
{
	background:url(toolbarImages/subToolbarBG.jpg) repeat-x;
	height:44px;
	color:#7d9fc0;
}

#subToolbar a.subToolbarbutton
{
	display: block;
	font:bold 10px Tahoma;
	color:#393939;
	text-decoration: none;
}

/*
#subToolbar a.subToolbarbutton:hover 
{
	background-position: -59px 0;
	color:#b4c9d7;
}
*/

#subToolbarButtons .pageTitle
{
	font:bold 12px Arial;
	color:#7d9fc0;
}

/* Library */
#subToolbar .toolbarArticles
{
	height:24px;
	width:51px;
	padding:10px 0 0 42px;
	background: url("toolbarImages/btn_library_articles.jpg") 0 -34px no-repeat;
}

#subToolbar .toolbarImages
{
	height:24px;
	width:53px;
	padding:10px 0 0 42px;
	background: url("toolbarImages/btn_library_images.jpg") 0 -34px no-repeat;
}

#subToolbar .toolbarMedia
{
	height:24px;
	width:48px;
	padding:10px 0 0 42px;
	background: url("toolbarImages/btn_library_media.jpg") 0 -34px no-repeat;
}

#subToolbar .toolbarFiles
{
	height:24px;
	width:60px;
	padding:10px 0 0 42px;
	background: url("toolbarImages/btn_library_files.jpg") 0 -34px no-repeat;
}

/* Add/Edit Pages */
#subToolbar .toolbarAttributes
{
	height:29px;
	width:61px;
	padding:5px 0 0 42px;
	background: url("toolbarImages/btn_addpag_attributes.jpg") 0 -34px no-repeat;
}

#subToolbar .toolbarLocation
{
	height:24px;
	width:52px;
	padding:10px 0 0 35px;
	background: url("toolbarImages/btn_addpag_location.jpg") 0 -34px no-repeat;
}

#subToolbar .toolbarPublishDates
{
	height:29px;
	width:50px;
	padding:5px 0 0 35px;
	background: url("toolbarImages/btn_addpag_dates.jpg") 0 -34px no-repeat;
}

#subToolbar .toolbarAppearance
{
	height:24px;
	width:66px;
	padding:10px 0 0 33px;
	background: url("toolbarImages/btn_addpag_appearence.jpg") 0 -34px no-repeat;
}

#subToolbar .toolbarVisibility
{
	height:24px;
	width:49px;
	padding:10px 0 0 35px;
	background: url("toolbarImages/btn_addpag_visibility.jpg") 0 -34px no-repeat;
}

#subToolbar .toolbarPublishing
{
	height:24px;
	width:60px;
	padding:10px 0 0 35px;
	background: url("toolbarImages/btn_addpag_publishing.jpg") 0 -34px no-repeat;
}

/* Add/Edit Content */
#subToolbar .contentType
{
	height:29px;
	width:55px;
	padding:5px 0 0 48px;
	background: url("toolbarImages/btn_addcont_content_type.jpg") 0 -34px no-repeat;
}
#subToolbar .contentPlacement
{
	height:24px;
	width:58px;
	padding:10px 0 0 35px;
	background: url("toolbarImages/btn_addcont_placement.jpg") 0 -34px no-repeat;
}
#subToolbar .contentDetails
{
	height:24px;
	width:64px;
	padding:10px 0 0 35px;
	background: url("toolbarImages/btn_addcont_details.jpg") 0 -34px no-repeat;
}
#subToolbar .contentAttributes
{
	height:30px;
	width:58px;
	padding:5px 0 0 35px;
	background: url("toolbarImages/btn_addcont_attributes.jpg") 0 -34px no-repeat;
}
#subToolbar .contentVisibility
{
	height:24px;
	width:49px;
	padding:10px 0 0 35px;
	background: url("toolbarImages/btn_addcont_visibility.jpg") 0 -34px no-repeat;
}
#subToolbar .contentPublishing
{
	height:24px;
	width:60px;
	padding:10px 0 0 35px;
	background: url("toolbarImages/btn_addcont_publishing.jpg") 0 -34px no-repeat;
}


/* Active toolbar button -- should be left after all other "subToolbar" definitions */
#subToolbar .active
{
	background-position: 0 0;
}

/*
.published #mainToolbar {
    position: fixed;
    top: 0px !important;
    width: 100%;
    z-index: 1002;
}
*/