/**
 * @file
 * Page Background Styling
 *
 * The default layout method of Zen doesn't give themers equal-height columns.
 * However, equal-height columns are difficult to achieve and totally
 * unnecessary. Instead, use the Faux Columns method described in the following
 * ALA article:
 *   http://www.alistapart.com/articles/fauxcolumns/
 */


body {
	background:url("/clients/BoomerangEffectPlay/Images/background.jpg") repeat-x scroll 0 0 black;
	/*background:url("/clients/BoomerangEffectPlay/Images/dotted_background.png") repeat-x scroll 0 0 black;*/
	
}

#page-wrapper {
	width:1100px;
	
}

#page {
}

#header {
	color:white;
	background-color:black;
	height:30px;
}

#header .section {
}

#main-wrapper {
}

#main-front {
	background:url("/clients/BoomerangEffectPlay/Images/heart_dotted_line_2_home_page.png") no-repeat scroll 8px 0 transparent;
	height:435;
}

#main {
	background:url("/clients/BoomerangEffectPlay/Images/main_graphic.png") no-repeat scroll 52px -23px transparent;
}

.region-footer {
	background-color:black;
	color:white;
	height:300px;
}
