A:link {
	COLOR: #275a78; TEXT-DECORATION: none
}
A:hover {
	COLOR: #333333; TEXT-DECORATION: underline
}
A:active {
	COLOR: #275a78; TEXT-DECORATION: none
}
A:hover {
	COLOR: #333333; TEXT-DECORATION: underline
}
A:visited {
	COLOR: #275a78; TEXT-DECORATION: none
}
A:hover {
	COLOR: #333333; TEXT-DECORATION: underline
}
HTML {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
BODY {
	FONT-SIZE: 12px; MARGIN: 0px; COLOR: #564b47; FONT-FAMILY: Verdana, Arial, SunSans-Regular, Sans-Serif; BACKGROUND-COLOR: #f4ddb1
}
#wikiedit TEXTAREA {
	WIDTH: 100%
}
#menu {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 250px; PADDING-TOP: 0px; POSITION: absolute; BACKGROUND-COLOR: #f4ddb1
}
#menu UL {
	LIST-STYLE-TYPE: none
}
#menu LI {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
#title {
	FONT-WEIGHT: bold; FONT-SIZE: large; COLOR: #275a78; TEXT-ALIGN: center
}
#content {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 10px; MARGIN-LEFT: 250px; OVERFLOW: auto; PADDING-TOP: 10px; BACKGROUND-COLOR: #f8ebd2
}
#content LI {
	LIST-STYLE-TYPE: square
}
#footer {
	BORDER-TOP: 1px dotted; FONT-SIZE: x-small; MARGIN-LEFT: 250px; PADDING-TOP: 3px; BACKGROUND-COLOR: #f8ebd2; TEXT-ALIGN: center
}
#sidebar {
	FONT-WEIGHT: bold; MARGIN-LEFT: 0px
}
