.Dummy_Style { }

h1,h2,h3,h4,h5,h6 {
padding:0;
margin:0;
display:inline;
}

Table { 
font-family: Arial, Helvetica, sans-serif; 
font-size: 9pt; 
font-style: normal;
font-weight: normal; 
color: #a54499}


Td { 
font-family: Arial, Helvetica, sans-serif; 
font-size: 9pt; 
font-style: normal;
font-weight: normal; 
color: #a54499}


Td A { 
font-family: Arial, Helvetica, sans-serif; 
font-size: 9pt; 
font-style: normal;
font-weight: normal; 
color: #0054a4;
text-decoration: none}


.Main_Tb {
margin-left: auto;
margin-right: auto;
background-image: url(/clients/1023XLC/Images/main_bkgd.jpg);
border: #ffffff;
border-style: solid;
border-top-width: 0px;
border-right-width: 5px;
border-bottom-width: 0px;
border-left-width: 5px

}


.PW_Outer_Tb { }

.PW_Outer_Td { }

.PW_Logo_Tb {  }

.PW_Logo_Td {  }

.PW_Desc_Tb {  
background-image: url(/clients/1023XLC/Images/pw_desc_tb_bkgd.jpg);
padding-top: 0px; 
padding-right: 10px; 
padding-bottom: 2px; 
padding-left: 10px;
font-family: Arial, Helvetica, sans-serif; 
font-size: 8pt; 
color: #666666; 
text-decoration: none}

.PW_Desc_Td {  }

.PW_Player_Tb {  }

.PW_Player_Td {  }

.PW_Program_Name { 
font-family: Arial, Helvetica, sans-serif; 
font-size: 10pt; 
font-style: normal;
font-weight: bold; 
color: #333333}


.PW_Episode_Name { 
font-family: Arial, Helvetica, sans-serif; 
font-size: 8pt; 
font-style: normal;
font-weight: bold; 
color: #000000}


.PW_Episode_Desc { 
font-family: Arial, Helvetica, sans-serif; 
font-size: 8pt; 
font-style: normal;
font-weight: normal; 
color: #666666}

.PopUp_Tb {
background-color: #FFFFFF}


.PopUp_Header_Td {      
border: #b2b2b2; 
border-style: solid; 
border-top-width: 0px; 
border-right-width: 0px; 
border-bottom-width: 1px; 
border-left-width: 0px;
padding-top: 5px; 
padding-right: 0px; 
padding-bottom: 5px; 
padding-left: 0px;
font-family: Arial, Helvetica, sans-serif; 
font-size: 12pt; 
font-weight: bold;
color: #000000; 
text-decoration: none}

.PopUp_Td {      
padding-top: 2px; 
padding-right: 0px; 
padding-bottom: 2px; 
padding-left: 0px;
font-family: Arial, Helvetica, sans-serif; 
font-size: 9pt; 
font-weight: normal; 
color: #000000; 
text-decoration: none}


.PopUp_Font {  
font-family: Arial, Helvetica, sans-serif; 
font-size: 9pt; 
font-weight: normal; 
color: #000000; 
text-decoration: none}


.PopUp_Label {  
font-family: Arial, Helvetica, sans-serif; 
font-size: 9pt; 
font-weight: bold; 
color: #000000;
text-decoration: none}


.PopUp_Link { 
font-family: Arial, Helvetica, sans-serif; 
font-size: 9pt; 
font-style: normal; 
font-weight: bold; 
color: #0000FF}


.spacer {
font-size: 3pt}



.ITM_Td {
font-family: Arial, Helvetica, sans-serif; 
font-size: 9pt; 
font-style: normal;
font-weight: normal; 
color: #a54499}


.ITM_Link {
font-family: Arial, Helvetica, sans-serif; 
font-size: 9pt; 
font-style: normal;
font-weight: normal; 
color: #0054a4;
text-decoration: none}

.GoogleLabel {
font-family: Arial, Helvetica, sans-serif; 
font-size: 9pt; 
font-style: normal; 
font-weight: normal; 
color: #ffffff}

#descDiv {
color: #ffffff}


BODY{
background-image:url(/clients/1023XLC/Images/wxlc_background.jpg);
text-align:center;
margin-top:0;
margin-left:0;
margin-right:0;
margin-bottom:0;
background-position:top center;
background-repeat:repeat;
}