body,td,th {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
}
body {
	background-color: #000000;
	margin-left: 1px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;	
	scrollbar-base-color: #78644B;
    scrollbar-face-color: #78644B;
    scrollbar-arrow-color: #FFFFFF;
    scrollbar-track-color: #D0D0D0;
    scrollbar-highlight-color: #FFFFFF;
	scrollbar-3dlight-color: #D7CBB3;
    scrollbar-shadow-color: #4A3E2F;
    scrollbar-darkshadow-color: #000000;
}
:link {
    color: #000060;
}
:visited {
    color: #000060;
}
a:active {
    color: #FFFF00;
}
a:hover {
	text-decoration: none;
	color: #FFFFFF;
	background-color: #6666FF;
}
p {
    margin-top: 0px;
	margin-bottom: 10px;
}
.nav {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	color: #FFFFFF;
	font-style: oblique;
	font-weight: bold;
}
.bio {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	text-decoration: none;
	color: #FFFFFF;
}
.credit {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #D7CBB3;
}
.season {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #5A4637;
	background-color: #E6DCD2;
}
.t16 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
}
.t15 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
}
.t14 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}
.t13 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}
.t11 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}
.t10 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
}
.t09 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
}
.t08 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8px;
}
.ta16 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #D7CBB3;
}
.ta15 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #D7CBB3;
}
.ta14 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #D7CBB3;
}
.ta13 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #D7CBB3;
}
.ta12 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #D7CBB3;
}
.ta11 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #D7CBB3;
}
.ta10 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #D7CBB3;
}
.ta09 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #D7CBB3;
}
.ta08 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8px;
	color: #5A4637;
}
.tad24 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #5A4637;
}
.tad16 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #5A4637;
}
.tad15 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #5A4637;
}
.tad14 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #5A4637;
}
.tad13 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #5A4637;
}
.tad12 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #5A4637;
}
.tad11 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #5A4637;
}
.tad10 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #5A4637;
}
.tad09 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #5A4637;
}
.tad08 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8px;
	color: #5A4637;
}
.tb14 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000060;
	line-height: 24px;
}
.tw16 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #FFFFFF;
}
.tw15 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #FFFFFF;
}
.tw14 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #FFFFFF;
}
.tw13 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #FFFFFF;
}
.tw12 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
}
.tw11 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
}
.tw10 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
}
.tw09 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #FFFFFF;
}
.tw08 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8px;
	color: #FFFFFF;
}
