/* VERSIONS
/* 4_5: Initial css version, with most recent production improvements
/* 4_6: Added base css for Curriculum Search, Class Info, and Class Lists
/* 5_0: Include css for Custom Lists and revised Class Page/Class List css
/* 6_0: Module Framework

/* CURRICULUM STYLES
*******************************************************************************/

/* 
-----------------------------------------------------------------------------
 =Curriculum-List
----------------------------------------------------------------------------- */
.curriculum .list { }

/* 
-----------------------------------------------------------------------------
 =Curriculum-Searches
----------------------------------------------------------------------------- */
.curriculum .search { }
#CurSearch table,
#CurSearch table th,
#CurSearch table tr,
#CurSearch table td,
#CurSearch table {
	border: none;
	padding: 0;
	margin: 0;
	}
#CurSearch .btn-search {
	margin-left: 5px;
	}
	
/* 
-----------------------------------------------------------------------------
 =Curriculum/Class-Detail
----------------------------------------------------------------------------- */
.curriculum .detail { }
	.curriculum .detail .description { }
		.curriculum .detail .description p { }
		.curriculum .detail .description dl { }
	.curriculum .detail h3 { }
	.curriculum .detail .class-descriptions { }
		.curriculum .detail .class-descriptions h4 { }
		.curriculum .detail .class-descriptions ul { }
			.curriculum .detail .class-descriptions ul li { }
		
/* 
-----------------------------------------------------------------------------
 =Curriculum-Teacher-List
----------------------------------------------------------------------------- */
.curriculum .teachers { }
	.curriculum .teachers h2 { }
	.curriculum .teachers p { }
		.curriculum .teachers p a { }

/* 
-----------------------------------------------------------------------------
 =Department-List
----------------------------------------------------------------------------- */
.department { }
	.department h3 { }
	.department ul.dept-classlist { }
		.department ul.dept-classlist li { }
			.department ul.dept-classlist li a { }
			.department ul.dept-classlist li p { }


/* CUSTOM LIST STYLES
*******************************************************************************/

/* 
-----------------------------------------------------------------------------
 =General-Custom-List-Styles
----------------------------------------------------------------------------- */
.custom { }
	.custom .list { }
		.custom .list ul { }
			.custom .list ul li { }		
		
/* 
-----------------------------------------------------------------------------
 =Custom-Class-List
----------------------------------------------------------------------------- */
.custom-classes .list .myclasses-list {	}
	.custom-classes .list .myclasses-list li { }
		.custom-classes .list .myclasses-list .teacher-list { }
			.custom-classes .list .myclasses-list .teacher-list li {
				margin-bottom: 0;
				padding-bottom: 0;				
				}
				.custom-classes .list .myclasses-list .teacher-list li a { }
				
/* 
-----------------------------------------------------------------------------
 =Custom-Team-List
----------------------------------------------------------------------------- */
.custom-teams .list { }
	.custom-teams .list h2 { }
	.custom-teams .list ul { }
		.custom-teams .list ul li { }
			.custom-teams .list ul li a { }

/* 
-----------------------------------------------------------------------------
 =Custom-GroupLists-List
----------------------------------------------------------------------------- */
.custom-grouplists .list { }
	.custom-grouplists .list h2 { }
	.custom-grouplists .list ul.groups { }
		.custom-grouplists .list ul.groups li { }
		.custom-grouplists .list ul.groups li.owner { }
			.custom-grouplists .list ul.groups li a { }
			.custom-grouplists .list ul.groups li a.edit-list { }
			.custom-grouplists .list ul.groups li a.removeself-list { }
			.custom-grouplists .list ul.groups li a.remove-list { }
			.custom-grouplists .list ul.groups li a.email-list { }
			.custom-grouplists .list ul.groups li a.list-discussion { }
			.custom-grouplists .list ul.groups li span.utility-links { }


/* CLASS LIST STYLES
*******************************************************************************/

/* 
-----------------------------------------------------------------------------
 =Class-List
----------------------------------------------------------------------------- */
.classes-group {
	}
.classes-group ul.class-list {
	list-style: none;
	padding: 0;
	}
.classes-group ul.class-list li {
	background: none;
	padding-left: 0;
	}
.classes-group ul.class-list li a {
	}
	

	
            
            
            
            
            
	
/* CLASS INFO
-----------------------------------------------------------------------------
.class-info {
	}
.class-info ul.department-list {
	list-style: none;
	padding: 0;
	}
.class-info ul.department-list  li {
	background: none;
	padding-left: 0;
	}
.class-info ul.teacher-list {
	list-style: none;
	padding: 0;
	}
.class-info ul.teacher-list  li {
	background: none;
	padding-left: 0;
	}
 */	