<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html class="t-ff t-ff49" style="overflow: auto;">

<head>

<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
<head runat="server">
<asp:ContentPlaceHolder id="MasterHead" runat="server"></asp:ContentPlaceHolder>
<meta property="og:title" content="title" />
<meta property="og:description" content="description" />
<meta property="og:image" content="http://tix.com/images/TixLogo128x128.gif"/>
<meta property="og:image:secure_url" content="https://tix.com/images/TixLogo128x128.gif" />
<meta property="og:image:type" content="image/jpeg" />
</head>
<body>
<form id="form1" runat="server">
<div>
<script src="https://www.tix.com/clients/tix/js/jquery-1.6.4.min.js" type="text/javascript"></script>
	 <style>
		 div,span {
			 font-size: inherit;
		 }
	 </style>

	<meta http-equiv="Page-Enter" content="blendTrans(Duration=0)">
	<meta http-equiv="Page-Exit" content="blendTrans(Duration=0)">
	<meta name="vs_defaultClientScript" content="JavaScript">


	<link href="/clients/dkja/images/General.css" type="text/css" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="/clients/dkja/images/ClientCustom.css">
	<link href="/clients/dkja/images/content.css" type="text/css" rel="stylesheet">

	<link href="/clients/dkja/images/topMenu.css" type="text/css" rel="stylesheet">

	<link href="/clients/dkja/images/InfoPopup.css" type="text/css" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="/clients/dkja/images/IS_SlideShow_Firefox.css" media="screen">
	<link rel="Stylesheet" type="text/css" href="/clients/dkja/images/IS_AlbumSlideShow_Firefox.css">
	<meta name="DESCRIPTION" content="">
	<meta name="KEYWORDS" content="">
	<title>
		Donna Klein Jewish Academy -&gt; Home
	</title>
</head>

<body id="bodyTag" class="body_home1" ms_positioning="GridLayout">


	<!-- 2016.1.225.45 -->
	<div id="RadAjaxManager_InfoServeNetSU" style="display: none;">
		<span id="RadAjaxManager_InfoServeNet" style="display:none;"></span>
	</div>
	<div id="GuideLoading" class="RadAjax RadAjax_Web20 LoadingPanel" style="display:none;height:100%;width:100%;">
		<div class="raDiv">

		</div>
		<div class="raColor raTransp">

		</div>
	</div>


	<div id="Coverup" style="z-index: -1; left: 0px; visibility: hidden; width: 100%; position: absolute; top: 0px; height: 100%; background-color: transparent">
		<table style="width: 100%; height: 100%" cellspacing="0" cellpadding="0">
			<tbody>
				<tr>
					<td style="background-position: center center; background-attachment: fixed; width: 100%; background-repeat: no-repeat; height: 100%; text-align: center;"
									valign="middle">
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="DisableScreen" style="z-index: 999999; left: 0px; visibility: hidden; width: 100%; position: absolute; top: 0px; height: 100%; background-color: transparent; text-align: center;">
		<table style="width: 100%; height: 100%; border-collapse: collapse;">
			<tbody>
				<tr>
					<td style="width: 100%; height: 100%; text-align: center;" valign="middle">
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="main_ctr">
		<div class="mainhome">
			<div class="top_portal">
				<div class="topleft">
					<div class="search_bg">
						<table cellspacing="0" cellpadding="0" border="0">
							<tbody>
								<tr>
									<td class="portal_search"></td>
									<td class="search_button">
									
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="socialmedia">
						<a href="https://www.facebook.com/pages/DKJA/167052686646263" target="_blank"><img alt="" src="/clients/dkja/images/facebook.jpg" width="43" height="72"></a>
						<a href="http://twitter.com/DKJABoca" target="_blank"><img alt="" src="/clients/dkja/images/twitter.jpg" width="38" height="72"></a>
						<a href="http://instagram.com/dkjaboca" target="_blank"><img alt="" src="/clients/dkja/images/insta.png"></a>
					</div>
				</div>
				<div class="topright">
					<div class="login">
		
					</div>
					<div class="qlinks"><span relid="606365" hoverimagesrc="/clients/dkja/images/quicklinks_ro.jpg" trigerevent="onhover" speed="0" imagesrc="/clients/dkja/images/quicklinks.jpg"><table class="QuickLinksTable" cellspacing="0" cellpadding="0">
	<tbody><tr class="QuickLinksTableRow">
		<td class="QuickLinksTableCell"><table class="QuickLinksContentTable" cellspacing="0" cellpadding="0">
			<tbody><tr class="QuickLinksContentTableRow">
				<td class="QuickLinksContentTableLinksCell"><table class="QuickLinks_Advance_Table" cellspacing="0" cellpadding="0">
					<tbody><tr class="QuickLinks_Advance_Table_ImageRow">
						<td class="QuickLinks_Advance_Table_ImageCell"></td>
					</tr>
				</tbody></table>
				</td>
			</tr>
		</tbody></table>
		</td>
	</tr>
</tbody></table>

</span></div>
				</div>
			</div>
			<div class="home_header">
				<a href="http://www.dkja.org/RelId/33637/ISvars/default/Home.htm"><img alt="" src="/clients/dkja/images/header_internal.jpg"></a>
			</div>

			<div class="home_nav" submenumode="oneforall" submenucolumns="3">
				<div id="TS_D_DropDownTopMenu_Regular_Control_2097_div_TopContainer" style="position:relative;z-index:9" class="DropDownTopMenu_TopContainer">
					<table id="TS_D_DropDownTopMenu_Regular_Control_2097_table_DropDownTopMenu" class="DropDownTopMenu" cellspacing="0" cellpadding="0">
						<tbody>
							<tr>
								<td id="TS_D_DropDownTopMenu_Regular_Control_2097_ctl02" class="DropDownMenu_MenuCell DropDownMenu_MenuCell_1 DropDownMenu_MenuCell_First"
												tabindex="-1"
												onclick="javascript:window.location='http://www.dkja.org/About-Us';"><img id="TS_D_DropDownTopMenu_Regular_Control_2097_MenuImage_1" src="/clients/dkja/images/aboutus.jpg" style="border-style:None;"></td>
								<td id="TS_D_DropDownTopMenu_Regular_Control_2097_ctl33" class="DropDownMenu_MenuCell DropDownMenu_MenuCell_2" tabindex="0"
											
												onclick="javascript:window.location='http://www.dkja.org/RelId/607505/ISvars/default/Admissions.htm';"><img id="TS_D_DropDownTopMenu_Regular_Control_2097_MenuImage_2" src="/clients/dkja/images/admissions.jpg" style="border-style:None;"></td>
								<td id="TS_D_DropDownTopMenu_Regular_Control_2097_ctl64" class="DropDownMenu_MenuCell DropDownMenu_MenuCell_3" tabindex="1"
											
												onclick="javascript:window.location='http://www.dkja.org/RelId/607562/ISvars/default/Academics.htm';"><img id="TS_D_DropDownTopMenu_Regular_Control_2097_MenuImage_3" src="/clients/dkja/images/academics.jpg" style="border-style:None;"></td>
								<td id="TS_D_DropDownTopMenu_Regular_Control_2097_ctl89" class="DropDownMenu_MenuCell DropDownMenu_MenuCell_4" tabindex="2"
											
												onclick="javascript:window.location='http://www.dkja.org/RelId/606562/ISvars/default/Athletics.htm';"><img id="TS_D_DropDownTopMenu_Regular_Control_2097_MenuImage_4" src="/clients/dkja/images/athletics.jpg" style="border-style:None;"></td>
								<td id="TS_D_DropDownTopMenu_Regular_Control_2097_ctl96" class="DropDownMenu_MenuCell DropDownMenu_MenuCell_5" tabindex="3"
											
												onclick="javascript:window.location='http://www.dkja.org/RelId/606565/ISvars/default/Arts.htm';"><img id="TS_D_DropDownTopMenu_Regular_Control_2097_MenuImage_5" src="/clients/dkja/images/arts.jpg" style="border-style:None;"></td>
								<td id="TS_D_DropDownTopMenu_Regular_Control_2097_ctl109" class="DropDownMenu_MenuCell DropDownMenu_MenuCell_6 DropDownMenu_MenuCell_Last"
												tabindex="4" 
												onclick="javascript:window.location='http://www.dkja.org/RelId/606568/ISvars/default/Donate_Now.htm';"><img id="TS_D_DropDownTopMenu_Regular_Control_2097_MenuImage_6" src="/clients/dkja/images/donate.jpg" style="border-style:None;"></td>
							</tr>
							<tr>
			
							</tr>
						</tbody>
					</table>

				</div>
			
			</div>
			<div class="home_content">
<!--tix content?-->
<div style="background-color:#fff; padding: 10px;">	

<asp:ContentPlaceHolder id="MasterContent" runat="server"></asp:ContentPlaceHolder>

</div>
	</div>
	<div class="main_ctr_footer">
		<div class="footer">
			<div class="footer_left"><span class="footer_left_bold">Donna Klein Jewish Academy</span><br>9701 Donna Klein Boulevard, Boca Raton, Florida 33428<br>
				<span
								class="footer_left_b">t.</span> 561-852-3300 <span class="footer_left_b">f.</span> 561-852-3327 <span class="footer_left_b">e. </span><a>info@dkja.org</a></div>
			<div
							class="footer_nav"><a class="footer_home" href="http://www.dkja.org/RelId/33637/ISvars/default/Home.htm">Home</a><a href="http://www.dkja.org/RelId/606352/ISvars/default/Calendar.htm">Calendar</a>
				<a
								href="http://www.dkja.org/RelId/606350/ISvars/default/News.htm">News</a><a href="http://www.dkja.org/RelId/613356/ISvars/default/Contact_Us.htm"> Contact</a><a href="http://www.dkja.org/RelId/606347/ISvars/default/Site_Map.htm">Site Map</a>
					<span
									text="Mobile"><a id="TS_D_ReverseTemplates_3355" href="javascript:__doPostBack('TS$D$ReverseTemplates_3355','')">Mobile</a></span>
		</div>
		<div class="franklin">
			<a href="https://www.commonsensemedia.org/" target="_blank" class="commonSense"><img alt="" src="/clients/dkja/images/CommonSense.png"></a>&nbsp;&nbsp;
			<a href="http://jewishboca.org/" target="_blank"><img alt="" src="/clients/dkja/images/jf.png"></a>
			<a href="http://www.ravsak.org/" target="_blank" class="ravsak"><img alt="" src="/clients/dkja/images/ravsak_logo.png"></a><img alt="" style="border-width: 0px; border-style: solid;" src="/clients/dkja/images/franklin_covey.png"
							width="54" height="53">
			<div id="poweredby"><a href="http://www.magic-hour.com/" target="_blank">powered by magic hour</a></div>
		</div>
	</div>
	</div>
	</div>

	<!-- include from template virtual="google.inc" --><map name="rade_img_map_1414613455616" id="rade_img_map_1414613455616"><area shape="RECT" coords="3,3,59,52" href="http://www.dkja.org/RelId/555846189/ISvars/default/BLOGS.htm"><area shape="RECT" coords="5,63,58,114" href="http://www.dkja.org/RelId/606350/ISvars/default/Latest_News_26_Publications.htm"><area shape="RECT" coords="2,124,58,173" href="http://www.dkja.org/RelId/606352/ISvars/default/Calendar.htm"><area shape="RECT" coords="3,182,58,233" href="http://www.dkja.org/RelId/627882/ISvars/default/Make_an_Online_Donation.htm"><area shape="RECT" coords="1,238,59,293" href="http://vrtour.virtualsinc.com/company/dkja/1177" target="blank"></map>

<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>


		<script>
			$(document).ready(function() {
				$("#MasterContent_TixInnerContent_pnlButton").removeAttr("style");
				$("#MasterContent_TixInnerContent_ButtonPanel").removeAttr("style");
/* remove extra button defaults
				$("#MasterContent_TixInnerContent_ctl00_gvSchedule_btnBuyTix_0").removeAttr("style");
				$("#MasterContent_TixInnerContent_btnBackToShopping").removeAttr("style");
				$("#MasterContent_TixInnerContent_btnCancelOrder").removeAttr("style");
				$("#MasterContent_TixInnerContent_btnCheckout").removeAttr("style");
				$("#MasterContent_TixInnerContent_BackToShoppingButton").removeAttr("style");
				$("#MasterContent_TixInnerContent_LoginButton").removeAttr("style");
				$("#MasterContent_TixInnerContent_BackToShoppingButton").removeAttr("style");
				$("#MasterContent_TixInnerContent_CancelOrderButton").removeAttr("style");
				$("#MasterContent_TixInnerContent_CompleteButton").removeAttr("style");
				$("#MasterContent_TixInnerContent_BackToShoppingBtn").removeAttr("style");*/
				
				
			});
		</script>

		</div>
		</form>
	</body>

	</html>