html body {
  background-color: #b8ecd7;
}
body.diyBgActive .diyw .diyweb {
  background-image: none !important;
  background-color: transparent !important;
}
.diyw .diyweb {
  background-color: transparent !important;
}
.diyw .diyweb,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA0,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA0,
.diyw .diyfeCA .diyfeCA .diyfeCA0,
.diyw .diyfeCA .diyfeCA0,
.diyw .diyfeCA0 {
  background-color: #b8ecd7;
  color: #4bcf9a;
  font-family: 'Palatino Linotype', Palatino, 'Book Antiqua', serif;
  font-style: normal;
  font-size: 20.8px;
  font-weight: normal;
}
.diyw .diyweb h1,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA0 h1,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA0 h1,
.diyw .diyfeCA .diyfeCA .diyfeCA0 h1,
.diyw .diyfeCA .diyfeCA0 h1,
.diyw .diyfeCA0 h1 {
  color: #15201c;
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 32px;
  font-weight: bold;
  text-align: left;
}
.diyw .diyweb h2,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA0 h2,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA0 h2,
.diyw .diyfeCA .diyfeCA .diyfeCA0 h2,
.diyw .diyfeCA .diyfeCA0 h2,
.diyw .diyfeCA0 h2 {
  color: #15201c;
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 24px;
  font-weight: bold;
  text-align: left;
}
.diyw .diyweb p,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA0 p,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA0 p,
.diyw .diyfeCA .diyfeCA .diyfeCA0 p,
.diyw .diyfeCA .diyfeCA0 p,
.diyw .diyfeCA0 p {
  color: #4bcf9a;
  font-family: 'Palatino Linotype', Palatino, 'Book Antiqua', serif;
  font-style: normal;
  font-size: 20.8px;
  font-weight: normal;
}
.diyw .diyweb a,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA0 a,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA0 a,
.diyw .diyfeCA .diyfeCA .diyfeCA0 a,
.diyw .diyfeCA .diyfeCA0 a,
.diyw .diyfeCA0 a {
  color: #4bcf9a;
  font-style: normal;
  font-weight: normal;
}
.diyw .diyweb .diyfeLinkAsButton,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA0 .diyfeLinkAsButton,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA0 .diyfeLinkAsButton,
.diyw .diyfeCA .diyfeCA .diyfeCA0 .diyfeLinkAsButton,
.diyw .diyfeCA .diyfeCA0 .diyfeLinkAsButton,
.diyw .diyfeCA0 .diyfeLinkAsButton {
  background: #4bcf9a;
  color: #08150f;
  border: solid 1px #4bcf9a;
}
.diyw .diyweb .mainNav1 a,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA0 .mainNav1 a,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA0 .mainNav1 a,
.diyw .diyfeCA .diyfeCA .diyfeCA0 .mainNav1 a,
.diyw .diyfeCA .diyfeCA0 .mainNav1 a,
.diyw .diyfeCA0 .mainNav1 a {
  color: #a8c3b9;
  font-family: 'Comic Sans MS', cursive;
  font-style: italic;
  font-size: 16px;
  font-weight: normal;
}
.diyw .diyweb .mainNav2 a,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA0 .mainNav2 a,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA0 .mainNav2 a,
.diyw .diyfeCA .diyfeCA .diyfeCA0 .mainNav2 a,
.diyw .diyfeCA .diyfeCA0 .mainNav2 a,
.diyw .diyfeCA0 .mainNav2 a {
  color: #a8c3b9;
  font-family: 'Comic Sans MS', cursive;
  font-style: italic;
  font-size: 16px;
  font-weight: normal;
}
.diyw .diyweb .hr,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA0 .hr,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA0 .hr,
.diyw .diyfeCA .diyfeCA .diyfeCA0 .hr,
.diyw .diyfeCA .diyfeCA0 .hr,
.diyw .diyfeCA0 .hr {
  border-color: #4bcf9a;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA1,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA1,
.diyw .diyfeCA .diyfeCA .diyfeCA1,
.diyw .diyfeCA .diyfeCA1,
.diyw .diyfeCA1 {
  background-color: #083643;
  color: #7fcae0;
  font-family: 'Palatino Linotype', Palatino, 'Book Antiqua', serif;
  font-style: normal;
  font-size: 18.2px;
  font-weight: bold;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA1 h1,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA1 h1,
.diyw .diyfeCA .diyfeCA .diyfeCA1 h1,
.diyw .diyfeCA .diyfeCA1 h1,
.diyw .diyfeCA1 h1 {
  color: #b1e001;
  font-family: 'Palatino Linotype', Palatino, 'Book Antiqua', serif;
  font-style: italic;
  font-size: 49.4px;
  font-weight: bold;
  text-align: center;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA1 h2,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA1 h2,
.diyw .diyfeCA .diyfeCA .diyfeCA1 h2,
.diyw .diyfeCA .diyfeCA1 h2,
.diyw .diyfeCA1 h2 {
  color: #b1e001;
  font-family: 'Palatino Linotype', Palatino, 'Book Antiqua', serif;
  font-style: italic;
  font-size: 36.4px;
  font-weight: bold;
  text-align: center;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA1 p,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA1 p,
.diyw .diyfeCA .diyfeCA .diyfeCA1 p,
.diyw .diyfeCA .diyfeCA1 p,
.diyw .diyfeCA1 p {
  color: #7fcae0;
  font-family: 'Palatino Linotype', Palatino, 'Book Antiqua', serif;
  font-style: normal;
  font-size: 18.2px;
  font-weight: bold;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA1 a,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA1 a,
.diyw .diyfeCA .diyfeCA .diyfeCA1 a,
.diyw .diyfeCA .diyfeCA1 a,
.diyw .diyfeCA1 a {
  color: #b1e001;
  font-style: normal;
  font-weight: normal;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA1 .diyfeLinkAsButton,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA1 .diyfeLinkAsButton,
.diyw .diyfeCA .diyfeCA .diyfeCA1 .diyfeLinkAsButton,
.diyw .diyfeCA .diyfeCA1 .diyfeLinkAsButton,
.diyw .diyfeCA1 .diyfeLinkAsButton {
  background: #b1e001;
  color: #f7fce6;
  border: solid 1px #b1e001;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA1 .mainNav1 a,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA1 .mainNav1 a,
.diyw .diyfeCA .diyfeCA .diyfeCA1 .mainNav1 a,
.diyw .diyfeCA .diyfeCA1 .mainNav1 a,
.diyw .diyfeCA1 .mainNav1 a {
  color: #d1e4ea;
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA1 .mainNav2 a,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA1 .mainNav2 a,
.diyw .diyfeCA .diyfeCA .diyfeCA1 .mainNav2 a,
.diyw .diyfeCA .diyfeCA1 .mainNav2 a,
.diyw .diyfeCA1 .mainNav2 a {
  color: #d1e4ea;
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA1 .hr,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA1 .hr,
.diyw .diyfeCA .diyfeCA .diyfeCA1 .hr,
.diyw .diyfeCA .diyfeCA1 .hr,
.diyw .diyfeCA1 .hr {
  border-color: #127895;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA2,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA2,
.diyw .diyfeCA .diyfeCA .diyfeCA2,
.diyw .diyfeCA .diyfeCA2,
.diyw .diyfeCA2 {
  background-color: #476c5e;
  color: #edf0ef;
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA2 h1,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA2 h1,
.diyw .diyfeCA .diyfeCA .diyfeCA2 h1,
.diyw .diyfeCA .diyfeCA2 h1,
.diyw .diyfeCA2 h1 {
  color: #edf0ef;
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 32px;
  font-weight: bold;
  text-align: left;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA2 h2,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA2 h2,
.diyw .diyfeCA .diyfeCA .diyfeCA2 h2,
.diyw .diyfeCA .diyfeCA2 h2,
.diyw .diyfeCA2 h2 {
  color: #edf0ef;
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 24px;
  font-weight: bold;
  text-align: left;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA2 p,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA2 p,
.diyw .diyfeCA .diyfeCA .diyfeCA2 p,
.diyw .diyfeCA .diyfeCA2 p,
.diyw .diyfeCA2 p {
  color: #edf0ef;
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA2 a,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA2 a,
.diyw .diyfeCA .diyfeCA .diyfeCA2 a,
.diyw .diyfeCA .diyfeCA2 a,
.diyw .diyfeCA2 a {
  color: #edf0ef;
  font-style: normal;
  font-weight: normal;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA2 .diyfeLinkAsButton,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA2 .diyfeLinkAsButton,
.diyw .diyfeCA .diyfeCA .diyfeCA2 .diyfeLinkAsButton,
.diyw .diyfeCA .diyfeCA2 .diyfeLinkAsButton,
.diyw .diyfeCA2 .diyfeLinkAsButton {
  background: #edf0ef;
  color: #1f2120;
  border: solid 1px #edf0ef;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA2 .mainNav1 a,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA2 .mainNav1 a,
.diyw .diyfeCA .diyfeCA .diyfeCA2 .mainNav1 a,
.diyw .diyfeCA .diyfeCA2 .mainNav1 a,
.diyw .diyfeCA2 .mainNav1 a {
  color: #edf0ef;
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA2 .mainNav2 a,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA2 .mainNav2 a,
.diyw .diyfeCA .diyfeCA .diyfeCA2 .mainNav2 a,
.diyw .diyfeCA .diyfeCA2 .mainNav2 a,
.diyw .diyfeCA2 .mainNav2 a {
  color: #edf0ef;
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA2 .hr,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA2 .hr,
.diyw .diyfeCA .diyfeCA .diyfeCA2 .hr,
.diyw .diyfeCA .diyfeCA2 .hr,
.diyw .diyfeCA2 .hr {
  border-color: #8cb1a3;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA3,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA3,
.diyw .diyfeCA .diyfeCA .diyfeCA3,
.diyw .diyfeCA .diyfeCA3,
.diyw .diyfeCA3 {
  background-color: #cef09d;
  color: #151810;
  font-family: 'Palatino Linotype', Palatino, 'Book Antiqua', serif;
  font-style: normal;
  font-size: 18.2px;
  font-weight: normal;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA3 h1,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA3 h1,
.diyw .diyfeCA .diyfeCA .diyfeCA3 h1,
.diyw .diyfeCA .diyfeCA3 h1,
.diyw .diyfeCA3 h1 {
  color: #151810;
  font-family: 'Palatino Linotype', Palatino, 'Book Antiqua', serif;
  font-style: italic;
  font-size: 41.6px;
  font-weight: bold;
  text-align: left;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA3 h2,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA3 h2,
.diyw .diyfeCA .diyfeCA .diyfeCA3 h2,
.diyw .diyfeCA .diyfeCA3 h2,
.diyw .diyfeCA3 h2 {
  color: #151810;
  font-family: 'Palatino Linotype', Palatino, 'Book Antiqua', serif;
  font-style: italic;
  font-size: 20.8px;
  font-weight: bold;
  text-align: center;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA3 p,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA3 p,
.diyw .diyfeCA .diyfeCA .diyfeCA3 p,
.diyw .diyfeCA .diyfeCA3 p,
.diyw .diyfeCA3 p {
  color: #151810;
  font-family: 'Palatino Linotype', Palatino, 'Book Antiqua', serif;
  font-style: normal;
  font-size: 18.2px;
  font-weight: normal;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA3 a,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA3 a,
.diyw .diyfeCA .diyfeCA .diyfeCA3 a,
.diyw .diyfeCA .diyfeCA3 a,
.diyw .diyfeCA3 a {
  color: #151810;
  font-style: normal;
  font-weight: normal;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA3 .diyfeLinkAsButton,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA3 .diyfeLinkAsButton,
.diyw .diyfeCA .diyfeCA .diyfeCA3 .diyfeLinkAsButton,
.diyw .diyfeCA .diyfeCA3 .diyfeLinkAsButton,
.diyw .diyfeCA3 .diyfeLinkAsButton {
  background: #151810;
  color: #e3e4e1;
  border: solid 1px #151810;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA3 .mainNav1 a,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA3 .mainNav1 a,
.diyw .diyfeCA .diyfeCA .diyfeCA3 .mainNav1 a,
.diyw .diyfeCA .diyfeCA3 .mainNav1 a,
.diyw .diyfeCA3 .mainNav1 a {
  color: #151810;
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA3 .mainNav2 a,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA3 .mainNav2 a,
.diyw .diyfeCA .diyfeCA .diyfeCA3 .mainNav2 a,
.diyw .diyfeCA .diyfeCA3 .mainNav2 a,
.diyw .diyfeCA3 .mainNav2 a {
  color: #151810;
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA3 .hr,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA3 .hr,
.diyw .diyfeCA .diyfeCA .diyfeCA3 .hr,
.diyw .diyfeCA .diyfeCA3 .hr,
.diyw .diyfeCA3 .hr {
  border-color: #127895;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA4,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA4,
.diyw .diyfeCA .diyfeCA .diyfeCA4,
.diyw .diyfeCA .diyfeCA4,
.diyw .diyfeCA4 {
  background-color: #b1e001;
  color: #f7fce6;
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA4 h1,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA4 h1,
.diyw .diyfeCA .diyfeCA .diyfeCA4 h1,
.diyw .diyfeCA .diyfeCA4 h1,
.diyw .diyfeCA4 h1 {
  color: #f7fce6;
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 32px;
  font-weight: bold;
  text-align: left;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA4 h2,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA4 h2,
.diyw .diyfeCA .diyfeCA .diyfeCA4 h2,
.diyw .diyfeCA .diyfeCA4 h2,
.diyw .diyfeCA4 h2 {
  color: #f7fce6;
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 24px;
  font-weight: bold;
  text-align: left;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA4 p,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA4 p,
.diyw .diyfeCA .diyfeCA .diyfeCA4 p,
.diyw .diyfeCA .diyfeCA4 p,
.diyw .diyfeCA4 p {
  color: #f7fce6;
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA4 a,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA4 a,
.diyw .diyfeCA .diyfeCA .diyfeCA4 a,
.diyw .diyfeCA .diyfeCA4 a,
.diyw .diyfeCA4 a {
  color: #f7fce6;
  font-style: normal;
  font-weight: normal;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA4 .diyfeLinkAsButton,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA4 .diyfeLinkAsButton,
.diyw .diyfeCA .diyfeCA .diyfeCA4 .diyfeLinkAsButton,
.diyw .diyfeCA .diyfeCA4 .diyfeLinkAsButton,
.diyw .diyfeCA4 .diyfeLinkAsButton {
  background: #f7fce6;
  color: #272b19;
  border: solid 1px #f7fce6;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA4 .mainNav1 a,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA4 .mainNav1 a,
.diyw .diyfeCA .diyfeCA .diyfeCA4 .mainNav1 a,
.diyw .diyfeCA .diyfeCA4 .mainNav1 a,
.diyw .diyfeCA4 .mainNav1 a {
  color: #f7fce6;
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA4 .mainNav2 a,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA4 .mainNav2 a,
.diyw .diyfeCA .diyfeCA .diyfeCA4 .mainNav2 a,
.diyw .diyfeCA .diyfeCA4 .mainNav2 a,
.diyw .diyfeCA4 .mainNav2 a {
  color: #f7fce6;
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA4 .hr,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA4 .hr,
.diyw .diyfeCA .diyfeCA .diyfeCA4 .hr,
.diyw .diyfeCA .diyfeCA4 .hr,
.diyw .diyfeCA4 .hr {
  border-color: #defb6f;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.diyw .diyweb div#contentfooter {
  font-size: inherit;
  font-weight: inherit;
}
.diyw #website-logo a {
  text-decoration: none !important;
}
.diyw .diyfeCA0 #website-logo p.website-logo-text,
.diyw .diyfeCA0 #website-logo p.website-logo-text a {
  color: #4bcf9a !important;
  font-family: 'Palatino Linotype', Palatino, 'Book Antiqua', serif;
}
.diyw .diyfeCA1 #website-logo p.website-logo-text,
.diyw .diyfeCA1 #website-logo p.website-logo-text a {
  color: #7fcae0 !important;
  font-family: 'Palatino Linotype', Palatino, 'Book Antiqua', serif;
}
.diyw .diyfeCA2 #website-logo p.website-logo-text,
.diyw .diyfeCA2 #website-logo p.website-logo-text a {
  color: #edf0ef !important;
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
}
.diyw .diyfeCA3 #website-logo p.website-logo-text,
.diyw .diyfeCA3 #website-logo p.website-logo-text a {
  color: #151810 !important;
  font-family: 'Palatino Linotype', Palatino, 'Book Antiqua', serif;
}
.diyw .diyfeCA4 #website-logo p.website-logo-text,
.diyw .diyfeCA4 #website-logo p.website-logo-text a {
  color: #f7fce6 !important;
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
}
.diyw .diyfeLinkAsButton {
  border: 1px solid;
  border-radius: 5px;
  display: inline-block;
  padding: 8px 15px;
  text-decoration: none !important;
}
.diyw .diyfeLinkAsButton:hover {
  box-shadow: 0 0 0 2px inset;
}
.diyw .imageSubtitle {
  min-width: 30px;
}
body.startpage .diyw .diywebFooter .webnavigation a,
body.startpage .diyw .diywebFooter .diywebNav a {
  color: #f7fce6 !important;
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif !important;
  font-size: 14px !important;
}
.facebookTab .diyw #diyFbBoxPage {
  margin-left: 0 !important;
  width: 100% !important;
  overflow: auto !important;
}
.facebookTab .diyw #diyFbBoxWin,
.facebookTab .diyw #diyFbBoxPage,
.facebookTab .diyw #diyFbBoxBody,
.facebookTab .diyw .diyweb {
  height: 100% !important;
}
.facebookTab .diyw .diywebEmotionHeader,
.facebookTab .diyw .diywebHeader,
.facebookTab .diyw .diywebFond,
.facebookTab .diyw .diywebSecondary,
.facebookTab .diyw .diywebSidebar,
.facebookTab .diyw .diywebFooter,
.facebookTab .diyw .diywebContent .diyfeGridGroup:before,
.facebookTab .diyw .diywebNav {
  display: none;
}
.facebookTab .diyw .diywebMain {
  width: auto;
  float: none;
  padding-top: 0.1px;
}
.facebookTab .diyw .diywebLiveArea,
.facebookTab .diyw .diyweb:before {
  width: auto;
}
.facebookTab .diyw .diyweb {
  height: 100%;
  box-sizing: border-box;
  padding-left: 40px;
  padding-right: 40px;
}
.facebookTab .diyw .diywebContainer {
  width: auto;
  box-sizing: border-box;
}
.facebookTab .diyw {
  height: 100%;
  box-sizing: border-box;
}
.facebookTab .diyw #diyFbBoxBody div.sortable-matrix {
  width: auto !important;
}
.diyw .mainNav1 a.current {
  background-color: #b1e001;
  color: #f7fce6;
}
.diyw #mainNav1 a,
.diyw #mainNav1 a:link,
.diyw #mainNav1 a:visited,
.diyw #mainNav2 > li > a {
  background-color: #476c5e;
}
@media all and (min-width: 768px) {
  .diyw #mainNav1 a.parent:hover,
  .diyw #mainNav1 a.current:hover,
  .diyw #mainNav1 a:hover,
  .diyw #mainNav1 a:active,
  .diyw #mainNav1 a:focus,
  .diyw #mainNav2 > li > a:active,
  .diyw #mainNav2 > li > a:focus {
    background-color: #7ea898;
  }
}
.diyw #mainNav1 a.current,
.diyw #mainNav2 > li > a.current {
  background-color: #b1e001 !important;
  color: #f7fce6 !important;
}
.diyw .mainNav1 a:before,
.diyw .mainNav2 >li > a.parent:before {
  border-color: transparent #476c5e transparent transparent;
}
@media all and (min-width: 768px) {
  .diyw .mainNav1 a:hover:before {
    border-color: transparent #7ea898 transparent transparent;
  }
}
.diyw .mainNav1 a.current:before,
.diyw .mainNav2 >li > a.current:before {
  border-color: transparent #b1e001 transparent transparent;
}
.diyw #mainNav3 a {
  color: #476c5e;
}
.diyw .diyfeMobileNav .mainNav1 a {
  font-family: 'Comic Sans MS', cursive !important;
  font-size: 16px !important;
  font-weight: normal !important;
  font-style: italic !important;
}
.diyw .diyfeMobileNav .mainNav3 a {
  color: #476c5e !important;
}
body.diyBgActive .diyw #mainNav3 a {
  background-color: #b8ecd7;
}

.body {
background-image: url('http://www.borderlineevents.com/s/img/background.jpg?1407779996');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
  background-size: cover;
}
