#main_boxes {
	margin-top:7px;
	width:600px;
}

#main_boxes div {
	float:left;
	margin-right:4px;
}

#main_boxes #box_cm {
	margin-right:0 !important;
}

/* CSS for ajax ticker*/

#ajaxticker1 {
	width: 588px;
	height: 30px;
	border: 0px;
	background-color: #285799;
	color: #FFFFFF;
	margin-top: 6px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
padding-top: 8px;
padding-right: 4px;
padding-bottom: 4px;
padding-left: 8px;
}

#ajaxticker1 a {
	color: #FFFFFF;
	text-decoration: none;
	margin-top: 10px;
}


#ajaxticker1 div { /*IE6 bug fix when text is bold and fade effect (alpha filter) is enabled. Style inner DIV with same color as outer DIV*/
background-color: #285799;
}

.ticker { 
color: #FFFFFF;
}


