@import url(hacks.css );
A {
	COLOR: #6b5b37
}
A:hover {
	COLOR: #f2932e
}
A:hover:visited {
	COLOR: #f2932e
}
A:visited {
	COLOR: #908066
}
A IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
BODY {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; 
	BACKGROUND: url(bg-square.gif) #6c5b36; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; 
	MARGIN: 0px; FONT: 62.5% Tahoma,Geneva,Helvetica,Arial,sans-serif; COLOR: #222; PADDING-TOP: 0px; TEXT-ALIGN: center; BORDER-RIGHT-WIDTH: 0px
}
DD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H5 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H6 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H2 {
	FONT-SIZE: 1.5em
}
H3 {
	BACKGROUND-POSITION: 0px 0px; FONT-SIZE: 1.4em; MARGIN-BOTTOM: 5px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 21px
}
H4 {
	MARGIN-BOTTOM: 4px; FONT: bold 1.3em Lucida Sans Unicode,Lucida Grande,Tahoma,Geneva,Arial; COLOR: #564728; LETTER-SPACING: -1px
}
H4 A.mapBtn {
	LETTER-SPACING: 0px
}
H5 {
	FONT-SIZE: 1.2em
}
HR {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: #9c9485 2px dotted; BORDER-RIGHT-WIDTH: 0px
}
INPUT {
	FONT: 13px Tahoma,Geneva,Helvetica,Arial,sans-serif
}
LABEL {
	FONT: 13px Tahoma,Geneva,Helvetica,Arial,sans-serif
}
SELECT {
	FONT: 13px Tahoma,Geneva,Helvetica,Arial,sans-serif
}
TEXTAREA {
	FONT: 13px Tahoma,Geneva,Helvetica,Arial,sans-serif
}
FORM UL {
	LIST-STYLE-TYPE: none
}
INPUT {
	MARGIN-BOTTOM: 3px; VERTICAL-ALIGN: middle
}
SELECT {
	MARGIN-BOTTOM: 3px; VERTICAL-ALIGN: middle
}
TABLE {
	FONT: 1em Tahoma,Geneva,Helvetica,Arial,sans-serif
}
TD IMG {
	BORDER-TOP-WIDTH: 0px; DISPLAY: block; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
TEXTAREA {
	OVERFLOW: auto
}
#coppersquare {
	BORDER-RIGHT: #444 2px solid; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BACKGROUND: #fff; PADDING-BOTTOM: 0px; MARGIN: auto; BORDER-LEFT: #444 2px solid; WIDTH: 760px; PADDING-TOP: 0px; TEXT-ALIGN: left
}
#entertainment {
	BACKGROUND: #e0dcd2; MARGIN: auto; WIDTH: 760px; TEXT-ALIGN: left
}
#map {
	WIDTH: 750px; HEIGHT: 540px
}
#map #flashcontent A {
	COLOR: #fff
}
#body {
	WIDTH: 760px
}
#logo {
	WIDTH: 760px
}
#header {
	WIDTH: 760px
}
#menu {
	WIDTH: 760px
}
#footer {
	WIDTH: 760px
}
#logo {
	TEXT-ALIGN: center
}
#header {
	HEIGHT: 200px
}
.home #header {
	HEIGHT: 300px
}
#menu {
	BACKGROUND: url(nav-bg.jpg) #fff no-repeat 0px 0px; POSITION: relative
}
#coppersquare #content {
	FONT-SIZE: 1.1em; FLOAT: left; MARGIN: 10px 0px 10px 5px; WIDTH: 493px
}
#coppersquare .full#content {
	FLOAT: none; WIDTH: 750px
}
#coppersquare .SEO#content {
	FLOAT: none; WIDTH: 750px
}
#coppersquare #sidebar {
	FLOAT: right; MARGIN: 10px 5px 10px 0px; WIDTH: 226px
}
#footer {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #fff; PADDING-BOTTOM: 10px; TEXT-TRANSFORM: uppercase; COLOR: #96603f; PADDING-TOP: 20px; TEXT-ALIGN: center
}
#footer A {
	COLOR: #7b442d
}
#footer A:hover {
	COLOR: #222
}
.l49 {
	WIDTH: 226px
}
.l49 H3 {
	WIDTH: 226px
}
.l49 HR {
	WIDTH: 226px
}
.l49 P {
	WIDTH: 226px
}
.r49 {
	WIDTH: 226px
}
.r49 H3 {
	WIDTH: 226px
}
.r49 HR {
	WIDTH: 226px
}
.r49 P {
	WIDTH: 226px
}
.l49 {
	BORDER-RIGHT: #9c9485 2px dotted; PADDING-RIGHT: 20px; FLOAT: left
}
.r49 {
	FLOAT: right
}
#about-faqs {
	WIDTH: 226px
}
#about-tours {
	WIDTH: 226px
}
#about-business {
	WIDTH: 226px
}
#wd-attractions {
	WIDTH: 226px
}
#wd-activities {
	WIDTH: 226px
}
#about-faqs {
	FLOAT: right
}
#wd-activities {
	FLOAT: right
}
#about-tours {
	BORDER-RIGHT: #9c9485 2px dotted; PADDING-RIGHT: 21px; FLOAT: left
}
#wd-attractions {
	BORDER-RIGHT: #9c9485 2px dotted; PADDING-RIGHT: 21px; FLOAT: left
}
H3.long1 {
	BACKGROUND: url(/images/bg-heading-long1.gif)
}
H3.long2 {
	BACKGROUND: url(/images/bg-heading-long2.gif)
}
H3.long3 {
	BACKGROUND: url(/images/bg-heading-long3.gif)
}
H3.short1 {
	BACKGROUND: url(/images/bg-heading-short1.gif)
}
H3.short2 {
	BACKGROUND: url(/images/bg-heading-short2.gif)
}
H3.short3 {
	BACKGROUND: url(/images/bg-heading-short3.gif)
}
UL.pdf-list LI {
	LIST-STYLE-IMAGE: url(/images/ico-pdf.gif)
}
#coppersquare #intro {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 15px; MARGIN: 0px 0px 15px; PADDING-TOP: 0px; BORDER-BOTTOM: #9c9485 2px dotted
}



.copy {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #ffc; PADDING-BOTTOM: 20px; PADDING-TOP: 20px; TEXT-ALIGN: center
}
.intro {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #ffc; PADDING-BOTTOM: 20px; PADDING-TOP: 20px; TEXT-ALIGN: center
}
.pic {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #ffc; PADDING-BOTTOM: 20px; PADDING-TOP: 20px; TEXT-ALIGN: center
}
.copy {
	BACKGROUND: #ccf
}
.form P {
	MARGIN: 6px 0px
}
.shaded {
	BACKGROUND: #fbfbd9
}
.lMore {
	FLOAT: left; WIDTH: 29%; PADDING-TOP: 4px
}
.rMore {
	FLOAT: right; WIDTH: 69%
}
.align-left {
	MARGIN-RIGHT: 10px
}
.align-right {
	FLOAT: right; MARGIN-LEFT: 10px
}
.center {
	TEXT-ALIGN: center
}
.right {
	FLOAT: right
}
.align-left {
	FLOAT: left
}
.left {
	FLOAT: left
}
.nospace {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.email {
	PADDING-LEFT: 18px; BACKGROUND: url(/images/ico-email.gif) no-repeat 2px 3px; voice-family: inherit
}
.vcard {
	PADDING-LEFT: 21px; BACKGROUND: url(/images/ico-vcard2.gif) no-repeat 2px 3px; voice-family: inherit
}
.pdf {
	PADDING-LEFT: 21px; BACKGROUND: url(/images/ico-pdf.gif) no-repeat 2px 0px; voice-family: inherit
}
#content #ambformlinks LI A {
	BACKGROUND: url(/images/ico-quote.gif) no-repeat 0px 0px
}
#bizLink {
	BACKGROUND: url(/images/ico-quote.gif) no-repeat 0px 0px
}
.constItem H4 {
	BACKGROUND: url(/images/ico-construction.gif) #fbfbd9 no-repeat 5px 5px
}
#menu {
	CLEAR: both; HEIGHT: 71px
}
#menu UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#menu LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; POSITION: absolute
}
#menu A {
	DISPLAY: block; COLOR: #222; POSITION: relative; HEIGHT: 17px; _cursor: hand
}
#menu #nav-home {
	TOP: 18px
}
#menu #nav-about {
	TOP: 18px
}
#menu #nav-directory {
	TOP: 18px
}
#menu #nav-livinghere {
	TOP: 18px
}
#menu #nav-workinghere {
	TOP: 18px
}
#menu #nav-whattodo {
	TOP: 18px
}
#menu #nav-construction {
	TOP: 38px
}
#menu #nav-business {
	TOP: 38px
}
#menu #nav-ambassadors {
	TOP: 38px
}
#menu #nav-gettinghere {
	TOP: 38px
}
#menu #nav-contact {
	TOP: 38px
}
#menu #nav-skip {
	DISPLAY: none
}
#menu #nav-home {
	LEFT: 35px; WIDTH: 84px
}
#menu #nav-about {
	LEFT: 125px; WIDTH: 138px
}
#menu #nav-construction {
	LEFT: 125px; WIDTH: 138px
}
#menu #nav-directory {
	LEFT: 270px; WIDTH: 146px
}
#menu #nav-business {
	LEFT: 270px; WIDTH: 146px
}
#menu #nav-gettinghere {
	LEFT: 423px; WIDTH: 99px
}
#menu #nav-whattodo {
	LEFT: 423px; WIDTH: 99px
}
#menu #nav-livinghere {
	LEFT: 528px; WIDTH: 93px
}
#menu #nav-ambassadors {
	LEFT: 528px; WIDTH: 93px
}
#menu #nav-workinghere {
	LEFT: 628px; WIDTH: 93px
}
#menu #nav-contact {
	LEFT: 628px; WIDTH: 93px
}
#breadcrumb {
	MARGIN: 0px 0px 10px; WIDTH: 100%
}
#breadcrumb STRONG {
	FONT-SIZE: 1.3em
}
HTML A.mapBtn {
	BORDER-RIGHT: #f08326 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #f08326 1px solid; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; FONT: bold 9px/10px Tahoma; VERTICAL-ALIGN: middle; TEXT-TRANSFORM: lowercase; BORDER-LEFT: #f08326 1px solid; COLOR: #73714a! important; PADDING-TOP: 0px; BORDER-BOTTOM: #f08326 1px solid; BACKGROUND-COLOR: #ffe; TEXT-DECORATION: none
}
HTML A.mapBtn:hover {
	COLOR: #fff! important; BACKGROUND-COLOR: #f08326
}
.shaded A.mapBtn:hover {
	COLOR: #fff! important; BACKGROUND-COLOR: #f08326
}
.shaded A.mapBtn {
	BACKGROUND-COLOR: #fff
}
#prevBtn {
	BORDER-RIGHT: #e3bc63 2px solid; PADDING-RIGHT: 4px; BORDER-TOP: #e3bc63 2px solid; PADDING-LEFT: 4px; BACKGROUND: #222; PADDING-BOTTOM: 2px; MARGIN: 0px; FONT: bold 12px/16px Tahoma,Arial,sans-serif; TEXT-TRANSFORM: uppercase; BORDER-LEFT: #e3bc63 2px solid; COLOR: #f4e5c1; PADDING-TOP: 1px; BORDER-BOTTOM: #e3bc63 2px solid; TEXT-DECORATION: none
}
#nextBtn {
	BORDER-RIGHT: #e3bc63 2px solid; PADDING-RIGHT: 4px; BORDER-TOP: #e3bc63 2px solid; PADDING-LEFT: 4px; BACKGROUND: #222; PADDING-BOTTOM: 2px; MARGIN: 0px; FONT: bold 12px/16px Tahoma,Arial,sans-serif; TEXT-TRANSFORM: uppercase; BORDER-LEFT: #e3bc63 2px solid; COLOR: #f4e5c1; PADDING-TOP: 1px; BORDER-BOTTOM: #e3bc63 2px solid; TEXT-DECORATION: none
}
#prevBtn:hover {
	BORDER-RIGHT: #494a3c 2px solid; PADDING-RIGHT: 4px; BORDER-TOP: #494a3c 2px solid; PADDING-LEFT: 4px; FONT-WEIGHT: bold; BACKGROUND: #e0bc6b; PADDING-BOTTOM: 2px; MARGIN: 0px; TEXT-TRANSFORM: uppercase; BORDER-LEFT: #494a3c 2px solid; COLOR: #222; PADDING-TOP: 1px; BORDER-BOTTOM: #494a3c 2px solid; TEXT-DECORATION: none
}
#nextBtn:hover {
	BORDER-RIGHT: #494a3c 2px solid; PADDING-RIGHT: 4px; BORDER-TOP: #494a3c 2px solid; PADDING-LEFT: 4px; FONT-WEIGHT: bold; BACKGROUND: #e0bc6b; PADDING-BOTTOM: 2px; MARGIN: 0px; TEXT-TRANSFORM: uppercase; BORDER-LEFT: #494a3c 2px solid; COLOR: #222; PADDING-TOP: 1px; BORDER-BOTTOM: #494a3c 2px solid; TEXT-DECORATION: none
}
#content H3 {
	WIDTH: 100%
}
#coppersquare P {
	FONT-SIZE: 1.2em; COLOR: #333; LINE-HEIGHT: 1.5em
}
#content OL {
	FONT-SIZE: 1.2em; COLOR: #333; LINE-HEIGHT: 1.5em
}
#content UL {
	FONT-SIZE: 1.2em; COLOR: #333; LINE-HEIGHT: 1.5em
}
.config#content TD TD {
	FONT-SIZE: 1.2em; COLOR: #333; LINE-HEIGHT: 1.5em
}
#content UL UL {
	FONT-SIZE: 1em; MARGIN: 7px 0px 15px
}
#content OL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#content UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#content OL LI {
	MARGIN: 0px 0px 8px 15px
}
#content UL LI {
	MARGIN: 0px 0px 8px 15px
}
.lotsotype#content P {
	MARGIN-BOTTOM: 16px
}
.privacy#content P {
	MARGIN-BOTTOM: 16px
}
.SEO#content P {
	MARGIN-BOTTOM: 16px
}
.SEO#content H1 {
	FONT-SIZE: 1.5em
}
.SEO#content H2 {
	FONT-SIZE: 1.3em; MARGIN-BOTTOM: 6px
}
.SEO#content H3 {
	FONT-SIZE: 1.2em
}
.SEO#content UL {
	MARGIN: auto 0px 16px 20px
}
.SEO#content OL {
	MARGIN: auto 0px 16px 20px
}
#content STRONG {
	COLOR: #564728
}
#content .container {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; MARGIN: 5px 0px 0px; PADDING-TOP: 0px; BORDER-BOTTOM: #9c9485 2px dotted
}
#content .section {
	MARGIN-BOTTOM: 20px
}
#content .subcontainer {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 10px; MARGIN: 5px 0px 0px 15px; WIDTH: 206px; PADDING-TOP: 0px; BORDER-BOTTOM: #9c9485 2px dotted
}
.newwin {
	
}
.newwn:hover {
	
}
#home #content {
	WIDTH: 750px
}
#home #leftColumn {
	FLOAT: left; WIDTH: 100%
}
#home #rightColumn {
	FLOAT: right; WIDTH: 226px
}
#home #whatsNew .container {
	WIDTH: 488px
}
#home #whatsNew H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#home #whatsNew P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 9px; PADDING-TOP: 0px
}
#home #whatsNew .container A IMG {
	MARGIN: 0px 0px 0px 6px
}
#home #whatsNew .container A.full IMG {
	MARGIN: 0px
}
#home #constInfo {
	PADDING-BOTTOM: 8px; MARGIN: 7px 0px 13px; BORDER-BOTTOM: #827a65 2px dotted; TEXT-ALIGN: center
}
#home #homeLists {
	WIDTH: 488px
}
#home #homeLists UL {
	COLOR: #864910; LIST-STYLE-TYPE: square
}
#home #homeLists #comingEvents {
	FLOAT: left; WIDTH: 230px! important
}
#home #homeLists #constUpdates {
	FLOAT: right; WIDTH: 230px
}
#home #homeMaps {
	MARGIN-BOTTOM: 10px
}
#home #homeMaps P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 12px; MARGIN: 12px 0px; PADDING-TOP: 0px; BORDER-BOTTOM: #827a65 2px dotted
}
#content #econDevContent H4 {
	MARGIN: 15px 0px 5px
}
#content #econDevContent H5 {
	MARGIN: 10px 0px 5px
}
#content #econDevContent P {
	MARGIN-BOTTOM: 15px
}
#content #econDevContent UL {
	MARGIN-BOTTOM: 15px
}
#reportList {
	PADDING-LEFT: 10px; FONT-SIZE: 1.2em; MARGIN: 0px 0px 20px; LIST-STYLE-TYPE: none
}
#reportList LI {
	MARGIN: 5px 0px 5px 5px
}
#photos IMG {
	FLOAT: left; MARGIN-RIGHT: 2px
}
#photos IMG.end {
	MARGIN: 0px
}
#content #ambformlinks {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 12px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#content #ambformlinks LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 12px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#content #ambformlinks LI A {
	PADDING-RIGHT: 0px; PADDING-LEFT: 24px; MARGIN-BOTTOM: 2px; PADDING-BOTTOM: 0px; PADDING-TOP: 1px
}
#faqForm {
	POSITION: relative
}
#faqs P {
	MARGIN-BOTTOM: 25px
}
P#formError {
	BORDER-RIGHT: #757446 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #757446 1px solid; PADDING-LEFT: 10px; FONT-WEIGHT: bold; BACKGROUND: #222; PADDING-BOTTOM: 10px; MARGIN: 10px auto; BORDER-LEFT: #757446 1px solid; COLOR: #fff; PADDING-TOP: 10px; BORDER-BOTTOM: #757446 1px solid; TEXT-ALIGN: center
}
P#formError STRONG {
	COLOR: #f2932e
}
.config#content TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 2px; VERTICAL-ALIGN: top; PADDING-TOP: 2px
}
#signupForm TD {
	FONT-SIZE: 11px
}
.lhalf {
	BORDER-RIGHT: #9c9485 2px dotted; PADDING-RIGHT: 20px; FLOAT: left; WIDTH: 334px
}
.rhalf {
	FLOAT: right; WIDTH: 374px
}
#content .lhalf .container {
	WIDTH: 100%
}
#content .rhalf .container {
	WIDTH: 100%
}
.lEmail {
	WIDTH: 226px
}
.rEmail {
	WIDTH: 226px
}
.lEmail {
	BORDER-RIGHT: #9c9485 2px dotted; PADDING-RIGHT: 16px; FLOAT: left; MARGIN-RIGHT: 18px; _margin-right: 16px
}
.rEmail {
	FLOAT: right
}
BODY#whattodo {
	BACKGROUND: #8e310d
}
BODY.marquee {
	BACKGROUND: url(/images/bg-mini-gradient.jpg) #000 repeat-x 0px 0px
}
#marquee {
	BACKGROUND: url(/images/bg-marquee.jpg) no-repeat 0px 0px; WIDTH: 760px; POSITION: relative; HEIGHT: 199px
}
#marquee IMG {
	LEFT: 324px; POSITION: absolute; TOP: 0px
}
#entertainment {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
#entertainment #body {
	PADDING-LEFT: 40px
}
#entertainment #minisite {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; BACKGROUND: url(/images/bg-mini-paper.jpg) #dfdbd2 repeat-y 0px 0px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; WIDTH: 630px; PADDING-TOP: 0px
}
#entertainment #content {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; MIN-HEIGHT: 400px; FLOAT: left; PADDING-BOTTOM: 10px; MARGIN: 0px; WIDTH: 380px; PADDING-TOP: 10px
}
#entertainment #detail {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; MIN-HEIGHT: 400px; FLOAT: left; PADDING-BOTTOM: 10px; MARGIN: 0px; WIDTH: 380px; PADDING-TOP: 10px
}
#entertainment #sidebar {
	FLOAT: right; WIDTH: 223px
}
#entertainment #sideContent {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; BACKGROUND: url(/images/bg-mini-sidebar.jpg) #b8b5ad repeat-y 0px 0px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
BODY.marquee #footer {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; BACKGROUND: url(/images/bg-mini-paper.jpg) #dfdbd2 repeat-y 0px 0px; PADDING-BOTTOM: 10px; MARGIN: 0px 0px 0px 40px; WIDTH: 630px; PADDING-TOP: 20px
}
#whattodo #footer {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(/images/bg-marquee-bottom.jpg) #8e310d no-repeat 0px 0px; PADDING-BOTTOM: 20px; MARGIN: 0px; WIDTH: 760px; COLOR: #eee; PADDING-TOP: 0px
}
#whattodo #footer A {
	TEXT-TRANSFORM: none; COLOR: #fff
}
#mightyText {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 1em; PADDING-BOTTOM: 10px; MARGIN: 0px auto; WIDTH: 85%; COLOR: #000; PADDING-TOP: 10px
}
#mightyText A {
	COLOR: #000; TEXT-DECORATION: none
}
#entertainment P#intro {
	FONT-SIZE: 1.3em
}
#entertainment H2 {
	FONT-FAMILY: Tahoma,Geneva,Helvetica,Arial,sans-serif; LETTER-SPACING: 0px
}
#entertainment H3 {
	FONT-FAMILY: Tahoma,Geneva,Helvetica,Arial,sans-serif; LETTER-SPACING: 0px
}
#entertainment H4 {
	FONT-FAMILY: Tahoma,Geneva,Helvetica,Arial,sans-serif; LETTER-SPACING: 0px
}
#entertainment H5 {
	FONT-FAMILY: Tahoma,Geneva,Helvetica,Arial,sans-serif; LETTER-SPACING: 0px
}
#entertainment P {
	FONT-SIZE: 1.2em; MARGIN-BOTTOM: 2.8em; COLOR: #000; LINE-HEIGHT: 1.4em
}
#entertainment #sidebar LI {
	FONT-SIZE: 1.1em
}
#entertainment #sidebar P {
	FONT-SIZE: 1.1em
}
#entertainment #sidebar P {
	MARGIN-TOP: 1.5em
}
#entertainment #sideContent P {
	MARGIN: 0px 0px 2em
}
#entertainment #sidebar IMG {
	DISPLAY: block
}
#entertainment #sidebar UL {
	PADDING-LEFT: 2em
}
#entertainment #sidebar LI {
	MARGIN-BOTTOM: 0.6em
}
#calendar H3 {
	MARGIN-BOTTOM: 0px; HEIGHT: auto
}
#coupons H3 {
	MARGIN-BOTTOM: 0px; HEIGHT: auto
}
#directory H3 {
	MARGIN-BOTTOM: 0px; HEIGHT: auto
}
#calendar H3 {
	TEXT-TRANSFORM: uppercase; PADDING-TOP: 0px
}
#coupons H4 {
	TEXT-TRANSFORM: uppercase; PADDING-TOP: 0px
}
#directory H3 {
	TEXT-TRANSFORM: uppercase; PADDING-TOP: 0px
}
#calendar H3 A {
	COLOR: #a54000
}
#coupons H4 A {
	COLOR: #a54000
}
#directory #minisite H3 A {
	COLOR: #a54000
}
#entertainment #sidebar H5 {
	MARGIN-BOTTOM: 1em
}
#entertainment #sidebar P {
	MARGIN-BOTTOM: 1em
}
#entertainment #detail A {
	COLOR: #40765b
}
#entertainment #sidebar A {
	COLOR: #40765b
}
#entertainment #sidebar INPUT.text {
	WIDTH: 191px
}
#entertainment #sidebar SELECT {
	MAX-WIDTH: 191px
}
#detail H3 {
	FONT-SIZE: 1.6em; MARGIN-BOTTOM: 0.5em; TEXT-TRANSFORM: none
}
#venueConstruction {
	MARGIN-BOTTOM: 2.8em
}
#venueCoupons {
	MARGIN-BOTTOM: 2.8em
}
#venueConstruction P {
	MARGIN-BOTTOM: 0.5em
}
#venueCoupons P {
	MARGIN-BOTTOM: 0.5em
}
#venueEvents P {
	MARGIN-BOTTOM: 0.5em
}
#calendarTable {
	MARGIN-BOTTOM: 2em; TEXT-ALIGN: center
}
#calendar #detail H4 {
	FONT-SIZE: 1.4em; TEXT-TRANSFORM: uppercase; COLOR: #a93d00
}
#calendar #sidebar H4 {
	FONT-SIZE: 1.4em; TEXT-TRANSFORM: uppercase; COLOR: #a93d00
}
#calendar #sidebar H4 {
	FONT-SIZE: 1.3em
}
#sortDates {
	FLOAT: left; MARGIN-BOTTOM: 1.5em; WIDTH: 193px; TEXT-ALIGN: right
}
#sortDates IMG {
	FLOAT: left
}
#sortDates TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
#sortDates SELECT {
	FONT-SIZE: 13px
}
#calendar #sidebar .day {
	MARGIN-LEFT: 5px; WIDTH: 50px
}
#calendar #sidebar .month {
	WIDTH: 65px
}
#entertainment #sidebar .group {
	MARGIN: 0px 5px 0px 0px; WIDTH: 155px
}
#entertainment #sidebar #keywords {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 2px; MARGIN: 0px 5px 0px 0px; WIDTH: 180px; PADDING-TOP: 2px
}
#entertainment #content FORM P {
	MARGIN-BOTTOM: 1em
}
#entertainment #content FORM P LABEL {
	PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FLOAT: left; PADDING-BOTTOM: 2px; WIDTH: 100px; COLOR: #a93d00; PADDING-TOP: 4px; TEXT-ALIGN: right
}
#entertainment #content FORM P.connect LABEL {
	WIDTH: 300px; TEXT-ALIGN: left
}
#entertainment #content FORM P.connect INPUT {
	MARGIN: 6px 6px 0px 30px
}
#entertainment #content FORM P INPUT {
	FONT-WEIGHT: bold; FONT-SIZE: 1.3em; FLOAT: left; VERTICAL-ALIGN: middle
}
#entertainment #content FORM P SELECT {
	FONT-WEIGHT: bold; FONT-SIZE: 1.3em; FLOAT: left; VERTICAL-ALIGN: middle
}
#entertainment #content FORM P EM {
	LINE-HEIGHT: 2em
}
#entertainment #content FORM P INPUT {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; FONT-FAMILY: Verdana,Helvetica,Arial,sans-serif
}
#entertainment #content FORM P INPUT.error {
	COLOR: #fff; BACKGROUND-COLOR: #900
}
#entertainment #content FORM P INPUT.submit {
	MARGIN-LEFT: 110px; WIDTH: auto! important
}
#entertainment #content FORM TD.name {
	FONT-SIZE: 1.2em
}
#connectInterests {
	PADDING-BOTTOM: 10px
}
#connectInterests P {
	FLOAT: left
}
#connectInterests TABLE {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FLOAT: left; PADDING-BOTTOM: 10px; PADDING-TOP: 0px
}
#coupons #entertainment #detail {
	WIDTH: 623px
}
#coupons #coupon {
	BACKGROUND: #fff; MARGIN: 1.8em 0px 2.8em; WIDTH: 621px
}
#coupons #coupon IMG {
	DISPLAY: block
}
#coupons #coupon P {
	BORDER-RIGHT: #000 2px dashed; PADDING-RIGHT: 10px; BORDER-TOP: #000 2px dashed; PADDING-LEFT: 10px; FONT-SIZE: 1.3em; PADDING-BOTTOM: 10px; MARGIN: 10px; BORDER-LEFT: #000 2px dashed; PADDING-TOP: 10px; BORDER-BOTTOM: #000 2px dashed; TEXT-ALIGN: center
}
#coupons #coupon P SPAN {
	FONT-WEIGHT: bold; FONT-SIZE: 1.1em; LINE-HEIGHT: 1.6em
}
#coupons #disclaimer {
	PADDING-RIGHT: 10%; PADDING-LEFT: 10%; FONT-SIZE: 1.3em; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; TEXT-ALIGN: center
}
#bizFind {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 10px; MARGIN: 5px 0px 0px 15px; WIDTH: 206px; PADDING-TOP: 0px; BORDER-BOTTOM: #9c9485 2px dotted
}
#bizFind #bizSelect {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 7px; WIDTH: 206px; COLOR: #222; LINE-HEIGHT: 1.1em; PADDING-TOP: 0px
}
#bizFind #bizInput {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 7px; WIDTH: 206px; COLOR: #222; LINE-HEIGHT: 1.1em; PADDING-TOP: 0px
}
#bizFind #bizInput {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 1px; WIDTH: 198px; PADDING-TOP: 1px
}
#bizDetail P {
	MARGIN-BOTTOM: 15px
}
#bizDetail SPAN {
	BACKGROUND-COLOR: #ff0
}
#bizFind A {
	VERTICAL-ALIGN: middle
}
#bizSearch A {
	VERTICAL-ALIGN: middle
}
#bizResults {
	MARGIN-TOP: 15px; POSITION: relative
}
#bizResults H3 {
	FONT-SIZE: 1.3em; MARGIN: 5px 0px 10px
}
#bizLink {
	PADDING-RIGHT: 0px; PADDING-LEFT: 20px; PADDING-BOTTOM: 1px; PADDING-TOP: 1px
}
#content .reports P.section {
	WIDTH: 100%
}
#construction #searchResults H4 A {
	COLOR: #222; FONT-FAMILY: Tahoma,Geneva,Arial,sans-serif; LETTER-SPACING: 0px
}
#construction TABLE {
	BORDER-RIGHT: #ddd 1px solid; BORDER-TOP: #eee 1px solid; MARGIN: 0px 0px 10px 10px; BORDER-LEFT: #eee 1px solid; WIDTH: 478px; BORDER-BOTTOM: #ddd 1px solid
}
#construction TABLE TD {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; FONT-SIZE: 1.2em; BACKGROUND: #f6f5dd; PADDING-BOTTOM: 3px; VERTICAL-ALIGN: top; PADDING-TOP: 3px; TEXT-ALIGN: left
}
#construction TABLE TD.title {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
#construction TABLE TD.title A {
	
}
#construction TABLE TD.dates {
	WIDTH: 29%
}
#construction TABLE TD.times {
	WIDTH: 25%
}
#construction TABLE TD.reason {
	WIDTH: 30%
}
#construction TABLE IMG {
	DISPLAY: inline
}
#construction #constItem STRONG {
	BORDER-RIGHT: #ddd 1px solid; PADDING-RIGHT: 6px; BORDER-TOP: #ddd 1px solid; PADDING-LEFT: 6px; FONT-SIZE: 0.8em; PADDING-BOTTOM: 4px; BORDER-LEFT: #ddd 1px solid; PADDING-TOP: 4px; BORDER-BOTTOM: #ddd 1px solid; BACKGROUND-COLOR: #f6f5dd
}
.bizItem {
	MARGIN: 10px 0px 15px
}
.constItem {
	MARGIN: 10px 0px 15px
}
.bizItem {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
.constItem H4 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 45px; PADDING-BOTTOM: 7px; PADDING-TOP: 7px
}
.constItem .r49 {
	MARGIN-BOTTOM: 2px; PADDING-BOTTOM: 5px
}
.constItem .l49 {
	MARGIN-BOTTOM: 2px; PADDING-BOTTOM: 5px
}
.constItem .constLabel {
	MARGIN-BOTTOM: 6px
}
.lh-pic {
	FLOAT: left; WIDTH: 158px
}
.lh-text {
	FLOAT: right; WIDTH: 322px
}
#jobResults H5 {
	FONT-SIZE: 1.1em
}
#jobDetail H2 {
	MARGIN-BOTTOM: 10px; FONT: bold 1.5em Lucida Sans Unicode,Lucida Grande,Helvetica,Arial,sans-serif
}
#jobDetail P {
	MARGIN-BOTTOM: 15px
}
#na-find {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 10px; MARGIN: 5px 0px 0px 15px; WIDTH: 196px; PADDING-TOP: 0px
}
#na-select {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 1.1em; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 7px; WIDTH: 196px; COLOR: #222; LINE-HEIGHT: 1.1em; PADDING-TOP: 0px
}
.newsItems P {
	MARGIN-BOTTOM: 16px
}
#content #staff {
	PADDING-BOTTOM: 2em
}
#content #staff H4 {
	MARGIN-TOP: 2em; COLOR: #8f4d00; BORDER-BOTTOM: #9f7f59 1px solid; FONT-FAMILY: Tahoma,Geneva,Arial,Helvetica,sans-serif; LETTER-SPACING: 0px
}
#content #staff DIV {
	CLEAR: both; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; POSITION: relative
}
#content #staff DIV P {
	BORDER-RIGHT: #ddd 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #eee 1px solid; DISPLAY: block; PADDING-LEFT: 10px; FLOAT: left; PADDING-BOTTOM: 5px; MARGIN: 1em 0px 0px; BORDER-LEFT: #eee 1px solid; WIDTH: 210px; PADDING-TOP: 5px; BORDER-BOTTOM: #ddd 1px solid; BACKGROUND-COLOR: #f6f5dd
}
#content #staff DIV P.right {
	FLOAT: right; MARGIN-LEFT: 15px; TEXT-ALIGN: left
}
#content #contactForm P {
	MARGIN-BOTTOM: 10px
}
#sectionJump {
	FONT-SIZE: 1.2em; MARGIN-BOTTOM: 10px; WIDTH: 226px
}
#sectionJump UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 4px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#sectionJump LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 4px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#coppersquare #sidebar DIV {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; MARGIN: 10px 0px 0px; PADDING-TOP: 0px; BORDER-BOTTOM: #9c9485 2px dotted
}
#coppersquare #sidebar DIV.plug {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; MARGIN-BOTTOM: 15px; PADDING-BOTTOM: 20px; WIDTH: 100%; PADDING-TOP: 20px; TEXT-ALIGN: center
}
#didyouknow {
	WIDTH: 226px
}
#venueDirections SELECT {
	WIDTH: 180px
}
FIELDSET {
	BORDER-RIGHT: #dcdcdc 1px solid; BORDER-TOP: #af630a 1px solid; MARGIN-TOP: 17px; BORDER-LEFT: #dcdcdc 1px solid; BORDER-BOTTOM: #dcdcdc 1px solid
}
FIELDSET P {
	MARGIN: 7px 0px
}
FIELDSET LEGEND {
	FONT: bold 12px Arial,Helvetica,sans-serif; COLOR: #af630a
}
FIELDSET INPUT {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; FONT: 13px Verdana,Arial,Helvetica,sans-serif; PADDING-TOP: 3px
}
FIELDSET SELECT {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; FONT: 13px Verdana,Arial,Helvetica,sans-serif; PADDING-TOP: 3px
}
FIELDSET TEXTAREA {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; FONT: 13px Verdana,Arial,Helvetica,sans-serif; PADDING-TOP: 3px
}
FIELDSET SELECT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 14px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#askForm TEXTAREA {
	WIDTH: 99%
}
#bizFind INPUT {
	VERTICAL-ALIGN: middle
}
#bizSearch INPUT {
	VERTICAL-ALIGN: middle
}
#bizSearch #bizSelect {
	MARGIN-BOTTOM: 6px; WIDTH: 100%
}
#bizSearch #bizInput {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; MARGIN-BOTTOM: 6px; PADDING-BOTTOM: 1px; WIDTH: 216px; PADDING-TOP: 1px
}
#eventMenu FORM {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#eventForm INPUT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; PADDING-TOP: 0px
}
#eventForm LABEL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; PADDING-TOP: 0px
}
#eventForm SELECT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; PADDING-TOP: 0px
}
#faqForm SELECT {
	RIGHT: 5px; POSITION: absolute; TOP: 5px
}
#login INPUT {
	FONT-SIZE: 1em
}
#sidebar DIV SELECT {
	MARGIN-BOTTOM: 7px; WIDTH: 99%
}
#wd-attractions INPUT {
	VERTICAL-ALIGN: middle
}
#wd-activities INPUT {
	VERTICAL-ALIGN: middle
}
#wd-attractions SELECT {
	VERTICAL-ALIGN: middle
}
#wd-activities SELECT {
	VERTICAL-ALIGN: middle
}
#wd-attractions SELECT {
	WIDTH: 190px; MARGIN-RIGHT: 5px
}
#wd-activities SELECT {
	WIDTH: 190px; MARGIN-RIGHT: 5px
}
.formtable TD LABEL {
	FONT-SIZE: 1.1em; VERTICAL-ALIGN: middle
}
.formtable TD INPUT {
	FONT-SIZE: 1.1em; VERTICAL-ALIGN: middle
}
.formtable TD SELECT {
	FONT-SIZE: 1.1em; VERTICAL-ALIGN: middle
}
.formtable TD TEXTAREA {
	FONT-SIZE: 1.1em; VERTICAL-ALIGN: middle
}
#errorMsg {
	MARGIN: auto; WIDTH: 1000px
}
#errorMsg P {
	CLEAR: left; BORDER-RIGHT: #777 1px solid; BORDER-TOP: #777 1px solid; FONT-SIZE: 10px; MARGIN: 0px 0px 5px; BORDER-LEFT: #777 1px solid; WIDTH: 998px; COLOR: #bbb; LINE-HEIGHT: 20px; BORDER-BOTTOM: #777 1px solid; HEIGHT: 20px; BACKGROUND-COLOR: #000
}
#errorMsg SPAN {
	BORDER-RIGHT: #777 1px solid; DISPLAY: block; FLOAT: left; HEIGHT: 20px
}
#errorMsg STRONG {
	BORDER-RIGHT: #777 1px solid; DISPLAY: block; FLOAT: left; HEIGHT: 20px
}
#errorMsg STRONG {
	WIDTH: 78px; COLOR: #000; TEXT-ALIGN: center
}
#errorMsg SPAN.desc {
	PADDING-LEFT: 10px; WIDTH: 859px
}
#errorMsg SPAN.line {
	WIDTH: 48px; COLOR: #222; BACKGROUND-COLOR: #ccc; TEXT-ALIGN: center
}
#errorMsg STRONG.notice {
	BACKGROUND-COLOR: #ff0
}
#errorMsg STRONG.warning {
	BACKGROUND-COLOR: #f00
}
#wifiList {
	FONT-SIZE: 1.2em
}
#wifiList LI {
	MARGIN-BOTTOM: 0.5em
}
