@charset "utf-8";
/* Navigation Specifics */
#about_content {
  background-image: url(/clients/CBGCW/Images/bg_drop.png);
  background-repeat: repeat-y;
  background-position: 8px 0px;
  padding: 0 11px 10px;
}

#calendar {
  margin: 30px 0 0 7px;
}

#donate {
  margin: 20px 0 0 33px;
}

#give_content {
  background-image: url(/clients/CBGCW/Images/bg_drop.png);
  background-repeat: repeat-y;
  background-position: 8px 0px;
  padding: 0 11px 10px;
}

#logo {
  margin-left: 15px;
}

#news_content {
  background-image: url(/clients/CBGCW/Images/bg_drop.png);
  background-repeat: repeat-y;
  background-position: 8px 0px;
  padding: 0 11px 10px;
}

#services_content {
  background-image: url(/clients/CBGCW/Images/bg_drop.png);
  background-repeat: repeat-y;
  background-position: 8px 0px;
  padding: 0 11px 10px;
}

.accordian_click {
  margin: 0 0 -30px;
  cursor: pointer;
}

div.accordion {
  font-size: 12px;
  margin-left: -4px;
  margin-bottom: 0px;
  text-align: center;
}

div.accordion p {
  margin: 0;
  padding-top: 8px;
}

div.toggler {
  cursor: pointer;
}

.click {
  /*margin: 17px 0 -14px;*/
}


/* Text Format */
.accordion a:link, .accordion a:visited {
  text-decoration: none;
  color: #3F3F3F;
}

.accordion a:hover {
  text-decoration: none;
  color: #0093D0;
}


/* Navigation Basics */
#nav_top {
  background-image: url(/clients/CBGCW/Images/nav_a.png);
  background-repeat: no-repeat;
  height: 25px;
}

#nav_middle {
  background-image: url(/clients/CBGCW/Images/nav_b.png);
  background-repeat: repeat-y;
  padding: 1px 0 1px 23px;
}

#nav_bottom {
  background-image: url(/clients/CBGCW/Images/nav_c.png);
  background-repeat: no-repeat;
  height: 26px;
}
