.pulldown
{
    FONT-SIZE: 10px;
    FONT-FAMILY: "Trebuchet MS", sans-serif
}
.scorebox
{
    FONT-SIZE: 9px;
    FONT-FAMILY: "Trebuchet MS", sans-serif
}
.sidebartext
{
    PADDING-RIGHT: 3px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 14px;
    LINE-HEIGHT: 24px;
    PADDING-TOP: 12px;
    FONT-STYLE: italic;
    FONT-FAMILY: "Trebuchet MS", sans-serif;
    TEXT-ALIGN: right
}
.subtitle
{
    FONT-SIZE: 14px;
    FONT-STYLE: italic;
    FONT-FAMILY: "Trebuchet MS", sans-serif
}
.text
{
    FONT-SIZE: 11px;
    LINE-HEIGHT: 15px;
    FONT-FAMILY: "Trebuchet MS", sans-serif
}
.text2
{
    FONT-SIZE: 13px;
    LINE-HEIGHT: 20px;
    FONT-FAMILY: "Trebuchet MS", sans-serif
}
.title
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 21px;
    LINE-HEIGHT: 16px;
    PADDING-TOP: 4px;
    FONT-FAMILY: "Trebuchet MS", sans-serif
}
A:hover
{
    COLOR: #669;
    FONT-FAMILY: "Trebuchet MS", sans-serif;
    TEXT-DECORATION: underline
}
A:link
{
    FONT-FAMILY: "Trebuchet MS", sans-serif;
    TEXT-DECORATION: none
}
A:visited
{
    FONT-FAMILY: "Trebuchet MS", sans-serif;
    TEXT-DECORATION: none
}
