/**************** Dynamic Bulletin ***************************/
table.bulletin { width: 800px; border:0px; margin: 0px auto 0px auto; }
table.bulletin td.mainbody{ background-color:#dbdbdc; padding:10px; }
table.bulletin td.mainbody table.mainbodytable{ width:100%; background-color:#fff;}
table.bulletin td.mainbody table td.main{  }
table.bulletin table.layout { width:100%; }
table.bulletin .bulletinDate {font-weight:bold; margin-left:20px; margin-right:80px; color: #fee883; }
table.bulletin tr.bulletinInfo { background-color:#cc9d0b;}

/******************* Banner *******************/

table.bulletin td.banner{  width: 800px; text-align: center;  padding: 0; background-color:#0e295d; }

/******************* Footer *******************/

table.bulletin td.footer{ width:100%; text-align:center; color:#dcf2fd; height: 125px; background-color:#0c234e;  }
table.bulletin td.footer .footercontent{ padding:25px 0 15px 0; font-size: 12px; }
table.bulletin td.footer a,table.bulletin td.footer a:hover,table.bulletin td.footer a:active,table.bulletin td.footer a:visited{ color:#8ad3f8; text-decoration: underline; }


