H1 {
	FONT-SIZE: 24px; COLOR: #ff9933; FONT-FAMILY: Georgia, "Times New Roman", Times, serif
}
H2 {
	FONT-SIZE: 16px; COLOR: #ffffff; FONT-STYLE: italic; FONT-FAMILY: Georgia, "Times New Roman", Times, serif
}
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND-IMAGE: url(/PrivateLabel/CobbSymphony/Images/color_background.jpg); PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BACKGROUND-COLOR: #330000
}
DIV.background {
	LEFT: 0px; POSITION: absolute; TOP: 0px
}
DIV.toplinks {
	FONT-SIZE: 12px; LEFT: 152px; WIDTH: 623px; COLOR: #ff9933; FONT-FAMILY: Georgia, "Times New Roman", Times, serif; POSITION: absolute; TOP: 66px; TEXT-ALIGN: center
}
topmenu {
	FONT-SIZE: 12px; COLOR: #ff9933; FONT-FAMILY: Georgia, "Times New Roman", Times, serif
}
A.topmenu:link {
	FONT-SIZE: 12px; COLOR: #ff9933; FONT-FAMILY: Georgia, "Times New Roman", Times, serif; TEXT-DECORATION: none
}
A.topmenu:visited {
	FONT-SIZE: 12px; COLOR: #cc9933; FONT-FAMILY: Georgia, "Times New Roman", Times, serif; TEXT-DECORATION: none
}
A.topmenu:hover {
	FONT-SIZE: 12px; COLOR: #ffcc66; FONT-FAMILY: Georgia, "Times New Roman", Times, serif; TEXT-DECORATION: none
}
DIV.sublinks {
	FONT-SIZE: 12px; LEFT: 152px; WIDTH: 623px; COLOR: #cccc66; FONT-FAMILY: Georgia, "Times New Roman", Times, serif; POSITION: absolute; TOP: 105px; TEXT-ALIGN: center
}
A.sublinks:link {
	FONT-SIZE: 12px; COLOR: #cccc66; FONT-FAMILY: Georgia, "Times New Roman", Times, serif; TEXT-DECORATION: none
}
A.sublinks:visited {
	FONT-SIZE: 12px; COLOR: #cccc66; FONT-FAMILY: Georgia, "Times New Roman", Times, serif; TEXT-DECORATION: none
}
A.sublinks:hover {
	FONT-SIZE: 12px; COLOR: #cc9933; FONT-FAMILY: Georgia, "Times New Roman", Times, serif; TEXT-DECORATION: none
}
DIV.sidelinks {
	FONT-SIZE: 14px; LEFT: 15px; WIDTH: 117px; COLOR: #ffffff; LINE-HEIGHT: 100%; FONT-FAMILY: Georgia, "Times New Roman", Times, serif; POSITION: absolute; TOP: 203px; TEXT-ALIGN: center
}
A.sidelinks:link {
	FONT-SIZE: 12px; COLOR: #cccc66; LINE-HEIGHT: 100%; FONT-FAMILY: Georgia, "Times New Roman", Times, serif; TEXT-DECORATION: none
}
A.sidelinks:visited {
	FONT-SIZE: 12px; COLOR: #cccc66; LINE-HEIGHT: 100%; FONT-FAMILY: Georgia, "Times New Roman", Times, serif; TEXT-DECORATION: none
}
A.sidelinks:hover {
	FONT-SIZE: 12px; COLOR: #cc9933; LINE-HEIGHT: 100%; FONT-FAMILY: Georgia, "Times New Roman", Times, serif; TEXT-DECORATION: none
}
DIV.buytix {
	FONT-SIZE: 18px; LEFT: 781px; BACKGROUND-IMAGE: url(/PrivateLabel/CobbSymphony/Images/buytix_bground.jpg); WIDTH: 157px; COLOR: #ffffff; FONT-FAMILY: Georgia, "Times New Roman", Times, serif; POSITION: absolute; TOP: 406px; TEXT-ALIGN: center
}
A.buytix:link {
	FONT-SIZE: 18px; COLOR: #ff9933; FONT-FAMILY: Georgia, "Times New Roman", Times, serif; TEXT-DECORATION: none
}
A.buytix:visited {
	FONT-SIZE: 18px; COLOR: #cc9933; FONT-FAMILY: Georgia, "Times New Roman", Times, serif; TEXT-DECORATION: none
}
A.buytix:hover {
	FONT-SIZE: 18px; COLOR: #ffcc66; FONT-FAMILY: Georgia, "Times New Roman", Times, serif; TEXT-DECORATION: none
}
DIV.maincontent {
	LEFT: 252px; WIDTH: 700px; POSITION: absolute; TOP: 130px
}
P {
	FONT-SIZE: 14px; COLOR: #ffffff; LINE-HEIGHT: 115%; FONT-FAMILY: Georgia, "Times New Roman", Times, serif
}
A:link {
	FONT-SIZE: 10px; COLOR: #ff9933; FONT-FAMILY: Georgia, "Times New Roman", Times, serif; TEXT-DECORATION: none
}
A:visited {
	FONT-SIZE: 10px; COLOR: #cc9933; FONT-FAMILY: Georgia, "Times New Roman", Times, serif; TEXT-DECORATION: none
}
A:hover {
	FONT-SIZE: 10px; COLOR: #ffcc66; FONT-FAMILY: Georgia, "Times New Roman", Times, serif; TEXT-DECORATION: none
}
DIV.logo {
	LEFT: 23px; WIDTH: 103px; POSITION: absolute; TOP: 32px; HEIGHT: 133px
}
.tabletext {
	FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: Georgia, "Times New Roman", Times, serif
}
