<!DOCTYPE html>

	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<head runat="server">
<asp:ContentPlaceHolder id="MasterHead" runat="server"></asp:ContentPlaceHolder>
</head>
<BODY leftmargin=0 rightmargin=0 topmargin=0 marginheight=0 marginwidth=0 >
<form id="form1" runat="server">
<div>

	<title>
	Direct Yourself Downtown this Week | Downtown Shreveport</title>

	<link rel="alternate" type="application/rss+xml" title="Downtown Shreveport » Feed" href="http://downtownshreveport.com/feed/">
<link rel="alternate" type="application/rss+xml" title="Downtown Shreveport » Comments Feed" href="http://downtownshreveport.com/comments/feed/">
<link rel="alternate" type="application/rss+xml" title="Downtown Shreveport » Direct Yourself Downtown this Week Comments Feed" href="http://downtownshreveport.com/direct-yourself-downtown-this-week/feed/">
<link rel="stylesheet" id="wp-mailinglist-css" href="/clients/DowntownShreveport/Images/style.css" type="text/css" media="screen">
<link rel="stylesheet" id="jquery-ui-css" href="/clients/DowntownShreveport/Images/jquery-ui.css" type="text/css" media="all">
<link rel="stylesheet" id="colorbox-css" href="/clients/DowntownShreveport/Images/colorbox.css" type="text/css" media="all">
<link rel="stylesheet" id="shadowbox-css-css" href="/clients/DowntownShreveport/Images/shadowbox.css" type="text/css" media="screen">
<link rel="stylesheet" id="shadowbox-extras-css" href="/clients/DowntownShreveport/Images/extras.css" type="text/css" media="screen">
<link rel="stylesheet" id="tribe-events-calendar-style-css" href="/clients/DowntownShreveport/Images/events.css" type="text/css" media="all">
<link rel="stylesheet" id="mappress-css" href="/clients/DowntownShreveport/Images/mappress.css" type="text/css" media="all">
<script src="/clients/DowntownShreveport/Images/ga.js" async="" type="text/javascript"></script><script type="text/javascript" src="/clients/DowntownShreveport/Images/jquery_011.js"></script>
<script type="text/javascript" src="/clients/DowntownShreveport/Images/external-links.js"></script>
<script type="text/javascript" src="/clients/DowntownShreveport/Images/jquery_006.js"></script>
<script type="text/javascript" src="/clients/DowntownShreveport/Images/events.js"></script>
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://downtownshreveport.com/xmlrpc.php?rsd">
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://downtownshreveport.com/wp-includes/wlwmanifest.xml"> 
<link rel="prev" title="File Library" href="http://downtownshreveport.com/file-library/">
<link rel="next" title="Texas Avenue Makers Fair &lt;a style=&quot;color: #ff4b33; line-height: 21.81818199157715px; font-size: 16.363636016845703px;&quot; href=&quot;http://downtownshreveport.com/come-as-you-are-get-your-downtown-on/&quot;&gt;&lt;img class=&quot;wp-image-6268 alignleft&quot; alt=&quot;DDA logo&quot; src=&quot;http://downtownshreveport.com/media/2013/03/Logo2.jpg&quot; width=&quot;101&quot; height=&quot;117&quot; /&gt;&lt;/a&gt;" href="http://downtownshreveport.com/come-as-you-are-get-your-downtown-on/texas-avenue-makers-fair/">
<meta name="generator" content="WordPress 3.5.1">
<link rel="canonical" href="http://downtownshreveport.com/direct-yourself-downtown-this-week/">

<script type="text/javascript">
var wpmlAjax = 'http://downtownshreveport.com/wp-content/plugins/wp-mailinglist/wp-mailinglist-ajax.php';
var wpmlUrl = 'http://downtownshreveport.com/wp-content/plugins/wp-mailinglist';
var wpmlScroll = "Y";
$wpml = jQuery.noConflict();
jQuery = jQuery.noConflict();
$ = jQuery.noConflict();

var calImageURL = wpmlUrl + '/images/calendar.jpg';
var calNextURL = wpmlUrl + '/images/next.gif';
var calPrevURL = wpmlUrl + '/images/prev.gif';
</script><script type="text/javascript">/* <![CDATA[ */
/* WP External Links Plugin */
var wpExtLinks = { baseUrl: 'http://downtownshreveport.com', target: '_blank', excludeClass: '' };
/* ]]> */</script>
	
	<meta name="description" content="">
	<meta name="keywords" content="">


	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	

	
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	
	<!--[if gte IE 9]>
  	<style type="text/css">
    .gradient {
       filter: none;
    }
  	</style>
   <![endif]-->
	
	<link rel="stylesheet" href="/clients/DowntownShreveport/Images/master.css" type="text/css" media="screen">
	<link href="/clients/DowntownShreveport/Images/css.css" rel="stylesheet" type="text/css">
		
	<script type="text/javascript" src="/clients/DowntownShreveport/Images/jquery-1.js"></script>
	<script type="text/javascript" src="/clients/DowntownShreveport/Images/css3-mediaqueries.js"></script>
	<script type="text/javascript" src="/clients/DowntownShreveport/Images/modernizr-1.js"></script>	
	<script type="text/javascript" src="/clients/DowntownShreveport/Images/bootstrap-modal.js"></script>
	<script type="text/javascript" src="/clients/DowntownShreveport/Images/superfish.js"></script>
	<script type="text/javascript" src="/clients/DowntownShreveport/Images/jquery_009.js"></script>
	<script type="text/javascript" src="/clients/DowntownShreveport/Images/website.js"></script>
	
	
	
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-28357561-1']);
	  _gaq.push(['_trackPageview']);
	
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	  
		
	</script>
</head>


<body id="page" class="page page-id-1990 page-parent page-template-default">

<div id="wrapper">

	<header class="container">
		<div id="headlinks" class="row">
			<div class="span11 txtright">
				<a class="show-on-phones" href="#" onclick="window.open('http://www.facebook.com/dda.shreveport')">
					<img id="facebook-mobile" src="/clients/DowntownShreveport/Images/fb-header.png" alt="Follow us on Facebook">
				</a>
				<a class="btn btn-hdr gradient boldlink" href="#" onclick="window.open('http://www.parkingticketpayment.com/shreveport/')">Pay Parking Tickets Online</a>
				<a data-controls-modal="emailsub" data-backdrop="true" data-keyboard="true" class="btn btn-hdr gradient boldlink">Subscribe To Our eBlast!</a>
				<a class="btn btn-hdr gradient boldlink" href="http://downtownshreveport.com/contact-us/">Contact Us</a>
				
			</div>
			
			<div class="span1">
				<a href="#" onclick="window.open('http://www.facebook.com/dda.shreveport')">
					<img id="facebook" src="/clients/DowntownShreveport/Images/fb-header.png" alt="Follow us on Facebook">
				</a>
			</div>
		</div>				
		<div id="sitetitle" class="row air-top">
		<a href="http://downtownshreveport.com/">
				<img class="flush-vertical scale-with-grid" src="/clients/DowntownShreveport/Images/hd-site.png" alt="Discover Downtown Shreveport">
			</a>
		</div>
		
	
		<div id="main-drop-menu" class="row flush-vertical bg-mobile-menu"><ul id="menu-main" class="sf-menu txtleft zfix sf-js-enabled sf-shadow"><li id="menu-item-1388" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1388"><a class="sf-with-ul" href="#main-drop-menu">Business/Real Estate<span class="sf-sub-indicator"> »</span></a>
<ul style="display: none; visibility: hidden;" class="sub-menu">
	<li id="menu-item-417" class="firstlink menu-item menu-item-type-post_type menu-item-object-page menu-item-417"><a href="http://downtownshreveport.com/business-blank/business-at-a-glance/">Downtown at a Glance</a></li>
	<li id="menu-item-431" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-431"><a class="sf-with-ul" href="#">Real Estate<span class="sf-sub-indicator"> »</span></a>
	<ul style="display: none; visibility: hidden;" class="sub-menu">
		<li id="menu-item-847" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-847"><a href="http://downtownshreveport.com/downtown-real-estate-blank/building-inventory-for-sale/">Building Inventory For Sale</a></li>
		<li id="menu-item-421" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-421"><a href="http://downtownshreveport.com/downtown-real-estate-blank/office-inventory/">Office Inventory For Lease</a></li>
		<li id="menu-item-432" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-432"><a href="http://downtownshreveport.com/downtown-real-estate-blank/freestanding-building-inventory-for-lease/">Freestanding Building Inventory For Lease</a></li>
		<li id="menu-item-1135" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1135"><a href="http://downtownshreveport.com/downtown-real-estate-blank/land-for-sale/">Land For Sale</a></li>
		<li id="menu-item-3657" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3657"><a href="http://downtownshreveport.com/downtown-real-estate-blank/downtown-real-estate-firms/">Downtown Real Estate Firms</a></li>
		<li id="menu-item-1672" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1672"><a href="http://downtownshreveport.com/downtown-maps/">Real Estate Maps</a></li>
		<li id="menu-item-1137" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1137"><a href="http://downtownshreveport.com/downtown-real-estate-blank/downtown-office-space/">Office Space 2011 Year End</a></li>
	</ul>
</li>
	<li id="menu-item-1921" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1921"><a href="http://www.nlcog.org/DDA_App/default.htm" rel="external nofollow" title="" class="ext-link">Property Database/Ownership Info</a></li>
	<li id="menu-item-1174" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1174"><a href="http://www.shreveportla.gov/MasterPlan/Resource%20Guide.pdf" rel="external nofollow" title="" class="ext-link">Shreveport’s Master Plan</a></li>
</ul>
</li>
<li id="menu-item-1337" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1337"><a class="sf-with-ul" href="#main-drop-menu">Live &amp; Play<span class="sf-sub-indicator"> »</span></a>
<ul style="display: none; visibility: hidden;" class="sub-menu">
	<li id="menu-item-1243" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1243"><a class="sf-with-ul" href="http://downtownshreveport.com/live-and-play/">Live Downtown<span class="sf-sub-indicator"> »</span></a>
	<ul style="display: none; visibility: hidden;" class="sub-menu">
		<li id="menu-item-1170" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1170"><a class="sf-with-ul" href="#">Apartments<span class="sf-sub-indicator"> »</span></a>
		<ul style="display: none; visibility: hidden;" class="sub-menu">
			<li id="menu-item-1412" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1412"><a href="http://downtownshreveport.com/living-properties/ogilve-hardware-lofts">Ogilve Hardware Lofts</a></li>
			<li id="menu-item-1400" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1400"><a href="http://downtownshreveport.com/press-releases/new-life-to-downtown-buildings">Sears Apartments (Under Construction)</a></li>
			<li id="menu-item-1198" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1198"><a href="http://downtownshreveport.com/living-properties/united-jewelers-apartments">United Jewelers</a></li>
			<li id="menu-item-1199" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1199"><a href="http://downtownshreveport.com/living-properties/lee-hardware-apartments">Lee Hardware</a></li>
			<li id="menu-item-1200" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1200"><a href="http://downtownshreveport.com/living-properties/710-crockett-street-lofts">710 Crockett Street Lofts</a></li>
			<li id="menu-item-1201" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1201"><a href="http://downtownshreveport.com/living-properties/1023-texas-avenue-apartments">1023 Texas Avenue Apartments</a></li>
			<li id="menu-item-1202" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1202"><a href="http://downtownshreveport.com/living-properties/downtown-apartments">The Fairmont &amp; Jefferson Apts</a></li>
		</ul>
</li>
		<li id="menu-item-1171" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1171"><a class="sf-with-ul" href="#">Condos<span class="sf-sub-indicator"> »</span></a>
		<ul style="display: none; visibility: hidden;" class="sub-menu">
			<li id="menu-item-1196" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1196"><a href="http://downtownshreveport.com/living-properties/229-milam-condominiums/">Red River Bank Building (229 Milam)</a></li>
			<li id="menu-item-1509" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1509"><a href="http://downtownshreveport.com/living-properties/the-novena-627-crockett-condos/">The Novena (627 Crockett)</a></li>
		</ul>
</li>
		<li id="menu-item-1636" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1636"><a class="sf-with-ul" href="#">Homes<span class="sf-sub-indicator"> »</span></a>
		<ul style="display: none; visibility: hidden;" class="sub-menu">
			<li id="menu-item-1637" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1637"><a href="http://littlerealtyinc.com/searchdetail.php?C_sysid=1083315#http://littlerealtyinc.com/j_image/1083315_1.jpg" rel="external nofollow" title="" class="ext-link">723 Milam St</a></li>
		</ul>
</li>
	</ul>
</li>
	<li id="menu-item-1501" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1501"><a class="sf-with-ul" href="http://downtownshreveport.com/live-and-play/play-downtown-blank/">Play Downtown<span class="sf-sub-indicator"> »</span></a>
	<ul style="display: none; visibility: hidden;" class="sub-menu">
		<li id="menu-item-1498" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1498"><a href="http://downtownshreveport.com/live-and-play/play-downtown-blank/restaurants/">Restaurants</a></li>
		<li id="menu-item-1937" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1937"><a href="http://downtownshreveport.com/business-blank/vendors-red-river-district-2/">Red River District</a></li>
		<li id="menu-item-1494" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1494"><a href="http://downtownshreveport.com/live-and-play/play-downtown-blank/attractions/">Attractions</a></li>
		<li id="menu-item-1496" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1496"><a href="http://downtownshreveport.com/live-and-play/play-downtown-blank/landmarks/">Landmarks</a></li>
		<li id="menu-item-1495" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1495"><a href="http://downtownshreveport.com/live-and-play/play-downtown-blank/churches/">Churches</a></li>
		<li id="menu-item-1497" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1497"><a href="http://downtownshreveport.com/live-and-play/play-downtown-blank/public-art/">Public Art</a></li>
	</ul>
</li>
	<li id="menu-item-1967" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1967"><a href="http://downtownshreveport.com/business-blank/shreveport-common/">Shreveport Common</a></li>
	<li id="menu-item-1502" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1502"><a class="sf-with-ul" href="#">Visitors<span class="sf-sub-indicator"> »</span></a>
	<ul style="display: none; visibility: hidden;" class="sub-menu">
		<li id="menu-item-1503" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1503"><a href="http://www.shreveport-bossier.org/" rel="external nofollow" title="" class="ext-link">Convention &amp; Tourist Bureau</a></li>
		<li id="menu-item-1500" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1500"><a href="http://downtownshreveport.com/live-and-play/visitors-blank/hotels/">Hotels</a></li>
	</ul>
</li>
	<li id="menu-item-1492" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1492"><a href="http://downtownshreveport.com/live-and-play/live-downtown-blank/residential-studies/">Residential Studies &amp; Market Analysis Report</a></li>
	<li id="menu-item-1491" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1491"><a href="http://downtownshreveport.com/live-and-play/center-city-living/">Center City Living Study &amp; Report</a></li>
</ul>
</li>
<li id="menu-item-1504" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1504"><a class="sf-with-ul" href="#">What's Happening<span class="sf-sub-indicator"> »</span></a>
<ul style="display: none; visibility: hidden;" class="sub-menu">
	<li id="menu-item-1505" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1505"><a href="http://us2.campaign-archive2.com/?u=846e422a148b10fa6b0e9537e&amp;id=897e262c22&amp;e=" rel="external nofollow" title="" class="ext-link">Current Newsletter</a></li>
	<li id="menu-item-6299" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-6299"><a class="sf-with-ul" href="http://downtownshreveport.com/come-as-you-are-get-your-downtown-on/">Come get your downtown on!<span class="sf-sub-indicator"> »</span></a>
	<ul style="display: none; visibility: hidden;" class="sub-menu">
		<li id="menu-item-6418" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-6418"><a href="http://downtownshreveport.com/come-as-you-are-get-your-downtown-on/thursday-night-trolley-t-n-t/">Thursday Night Trolley</a></li>
		<li id="menu-item-6390" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-6390"><a href="http://downtownshreveport.com/come-as-you-are-get-your-downtown-on/texas-avenue-makers-fair/">Texas Avenue Makers Fair</a></li>
		<li id="menu-item-6805" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-6805"><a href="http://downtownshreveport.com/come-as-you-are-get-your-downtown-on/downtown-hidden-history-tour/">Hidden History II- Downtown’s Railroad Past!</a></li>
		<li id="menu-item-6804" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-6804"><a href="http://downtownshreveport.com/come-as-you-are-get-your-downtown-on/downtown-shreveport-paranormal-festival/">Louisiana’s Weirder Side: Downtown Shreveport Paranormal Festival</a></li>
		<li id="menu-item-5916" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5916"><a href="http://downtownshreveport.com/come-as-you-are-get-your-downtown-on/louisiana-film-prize/">Louisiana Film Prize</a></li>
		<li id="menu-item-5921" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5921"><a href="http://downtownshreveport.com/come-as-you-are-get-your-downtown-on/mcneill-street-pumping-station-new-music-festival/">McNeill Street Pumping Station New Music Festival</a></li>
	</ul>
</li>
	<li id="menu-item-5168" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5168"><a href="http://downtownshreveport.com/whats-happening-blank/in-the-news/">Downtown in the News</a></li>
	<li id="menu-item-1627" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1627"><a href="http://downtownshreveport.com/press-releases/">Press Releases</a></li>
	<li id="menu-item-4551" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4551"><a class="sf-with-ul" href="#">Downtown Projects<span class="sf-sub-indicator"> »</span></a>
	<ul style="display: none; visibility: hidden;" class="sub-menu">
		<li id="menu-item-4550" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4550"><a href="http://downtownshreveport.com/whats-happening-blank/hope/">HOPE for the Homeless</a></li>
	</ul>
</li>
</ul>
</li>
<li id="menu-item-4018" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4018"><a class="sf-with-ul" href="#">Parking<span class="sf-sub-indicator"> »</span></a>
<ul style="display: none; visibility: hidden;" class="sub-menu">
	<li id="menu-item-4044" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4044"><a href="http://downtownshreveport.com/parking/downtown-parking-information/">Downtown Parking Information</a></li>
	<li id="menu-item-4013" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4013"><a href="http://downtownshreveport.com/parking/parking-tickets/">Parking Tickets</a></li>
	<li id="menu-item-4012" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4012"><a href="http://downtownshreveport.com/who-are-we-blank/shrevepark/">ShrevePark</a></li>
</ul>
</li>
<li id="menu-item-1511" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1511"><a href="http://downtownshreveport.com/downtown-maps/">Maps</a></li>
<li id="menu-item-1512" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1512"><a href="http://downtownshreveport.com/incentives/">Incentives</a></li>
<li id="menu-item-1513" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1513"><a class="sf-with-ul" href="#">Quick Help<span class="sf-sub-indicator"> »</span></a>
<ul style="display: none; visibility: hidden;" class="sub-menu">
	<li id="menu-item-2986" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2986"><a href="http://downtownshreveport.com/quick-hel/employment-opportunities/">EMPLOYMENT OPPORTUNITIES</a></li>
	<li id="menu-item-1518" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1518"><a href="http://downtownshreveport.com/quick-hel/sidewalk-vendors/">Street/Sidewalk Vendors</a></li>
	<li id="menu-item-1519" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1519"><a href="http://downtownshreveport.com/quick-hel/street-performers/">Street Performers</a></li>
	<li id="menu-item-1516" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1516"><a href="http://downtownshreveport.com/quick-hel/pole-banner-faqs/">Pole Banners</a></li>
	<li id="menu-item-3674" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3674"><a href="http://downtownshreveport.com/quick-hel/performance-code-a-downtown-initiative/">Performance Code</a></li>
	<li id="menu-item-1790" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1790"><a href="http://downtownshreveport.com/who-are-we-blank/who-we-are/dda-programming-mini-grants/">DDA Programming Mini Grants</a></li>
	<li id="menu-item-1514" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1514"><a href="http://downtownshreveport.com/who-are-we-blank/downtown-shreveport-development-corporation/facade-rebate/">DSDC Facade Rebate</a></li>
	<li id="menu-item-1515" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1515"><a href="http://downtownshreveport.com/who-are-we-blank/downtown-shreveport-development-corporation/low-interest-loan-program/">DSDC Low Interest Loan Program</a></li>
	<li id="menu-item-1963" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1963"><a href="http://downtownshreveport.com/business-blank/shreveport-common/">Shreveport Common</a></li>
</ul>
</li>
<li id="menu-item-1520" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1520"><a class="sf-with-ul" href="#">Who We Are<span class="sf-sub-indicator"> »</span></a>
<ul style="display: none; visibility: hidden;" class="sub-menu">
	<li id="menu-item-1521" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1521"><a href="http://downtownshreveport.com/who-are-we-blank/who-we-are/">Downtown Development Authority</a></li>
	<li id="menu-item-1525" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1525"><a class="sf-with-ul" href="http://downtownshreveport.com/who-are-we-blank/downtown-shreveport-unlimited/">Downtown Shreveport Unlimited<span class="sf-sub-indicator"> »</span></a>
	<ul style="display: none; visibility: hidden;" class="sub-menu">
		<li id="menu-item-6265" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6265"><a href="http://downtownshreveport.com/who-are-we-blank/downtown-shreveport-unlimited/dsu-quarterly-luncheon/">DSU Quarterly Luncheon</a></li>
		<li id="menu-item-1527" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1527"><a href="http://mudbugmadness.com/" rel="external nofollow" title="" class="ext-link">Mudbug Madness</a></li>
		<li id="menu-item-1528" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1528"><a href="http://www.shreveportbrew.com/" rel="external nofollow" title="" class="ext-link">BREW</a></li>
		<li id="menu-item-4581" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4581"><a href="http://downtownshreveport.com/who-are-we-blank/downtown-shreveport-unlimited/2012-christmas-ornament/">2012 Christmas Ornament</a></li>
		<li id="menu-item-5800" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5800"><a href="http://downtownshreveport.com/media/2013/03/Membership-Application.pdf">DSU Membership Application</a></li>
		<li id="menu-item-5799" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5799"><a href="http://downtownshreveport.com/media/2013/03/Marketing-Funds-Request.pdf">DSU Marketing Funds Request</a></li>
	</ul>
</li>
	<li id="menu-item-1522" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1522"><a href="http://downtownshreveport.com/who-are-we-blank/downtown-shreveport-development-corporation/">Downtown Shreveport Development Corporation</a></li>
	<li id="menu-item-1526" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1526"><a href="http://downtownshreveport.com/who-are-we-blank/shrevepark/">ShrevePark</a></li>
</ul>
</li>
<li id="menu-item-6941" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-6941"><a class="sf-with-ul" href="#">History<span class="sf-sub-indicator"> »</span></a>
<ul style="display: none; visibility: hidden;" class="sub-menu">
	<li id="menu-item-1529" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1529"><a href="http://downtownshreveport.com/history/our-history-in-pics/">History in Pictures</a></li>
	<li id="menu-item-4298" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4298"><a href="http://downtownshreveport.com/history/history-of-the-petroleum-tower/">Historic Significance of the Petroleum Tower</a></li>
	<li id="menu-item-6949" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6949"><a href="http://downtownshreveport.com/history/georgetbishopbldg/">George T. Bishop Building</a></li>
	<li id="menu-item-6950" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6950"><a href="http://downtownshreveport.com/history/ogilvie-hardware/">Ogilvie Hardware – An Adaptive Rebirth</a></li>
	<li id="menu-item-6972" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-6972"><a href="http://downtownshreveport.com/press-releases/new-life-to-downtown-buildings/">New Life to Downtown Buildings (Sears, Lerner &amp; Zodiag)</a></li>
</ul>
</li>
<li id="menu-item-1530" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1530"><a href="http://downtownshreveport.com/">Home</a></li>
</ul>		</div>
	</header>
	<div id="page-wrapper" class="container zback">
		

<div class="row">

<img src="/clients/DowntownShreveport/Images/hd-block-pg.png" alt="" class="scale-with-grid block">

<div id="content" class="span8 txtleft">
<asp:ContentPlaceHolder id="MasterContent" runat="server"></asp:ContentPlaceHolder>


</div>



</div>


	</div>
</div>
<div id="footer" class="container">
	<div class="row">
			<div id="footer-info">
							</div>

			<footer>
				<div class="footer-nav span3 txtleft">
					<ul>
					<li id="nav_menu-3" class="widget-container widget_nav_menu"><div class="menu-footer-first-container"><ul id="menu-footer-first" class="menu"><li id="menu-item-955" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-955"><a href="http://downtownshreveport.com/business-blank/business-at-a-glance/">Downtown at a Glance</a></li>
</ul></div></li>	
					</ul>
				</div>
				<div class="footer-nav span3 txtleft">
					<ul>
					<li id="nav_menu-4" class="widget-container widget_nav_menu"><div class="menu-footer-second-container"><ul id="menu-footer-second" class="menu"><li id="menu-item-956" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-956"><a href="http://downtownshreveport.com/live-and-play/">Explore Downtown Living</a></li>
</ul></div></li>	
					</ul>					
				</div>
				<div class="footer-nav span3 txtleft">
					<ul>
					<li id="nav_menu-5" class="widget-container widget_nav_menu"><div class="menu-footer-third-container"><ul id="menu-footer-third" class="menu"><li id="menu-item-4682" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4682"><a href="http://downtownshreveport.com/parking/downtown-parking-information/">Parking Information</a></li>
</ul></div></li>	
					</ul>					
				</div>
				<div class="footer-nav span3 txtleft">
					<ul>
					<li id="nav_menu-6" class="widget-container widget_nav_menu"><div class="menu-footer-fourth-container"><ul id="menu-footer-fourth" class="menu"><li id="menu-item-6324" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-6324"><a href="http://downtownshreveport.com/come-as-you-are-get-your-downtown-on/">Events</a></li>
<li id="menu-item-969" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-969"><a href="http://downtownshreveport.com/sample-page/contact-us/">Contact Us</a></li>
</ul></div></li>				
					</ul>
				</div>
			</footer>

			
		</div>
		
		
<p>Website design, development &amp; mobile optimization was <a href="http://builtbydavid.com/" title="Shreveport Website Designer" rel="external nofollow" class="ext-link">Built By David</a></p>
</div>



						
<!-- Newsletter plugin footer file --><script type="text/javascript" src="/clients/DowntownShreveport/Images/wp-mailinglist.js"></script>
<script type="text/javascript" src="/clients/DowntownShreveport/Images/jquery_002.js"></script>
<script type="text/javascript" src="/clients/DowntownShreveport/Images/jquery_003.js"></script>
<script type="text/javascript" src="/clients/DowntownShreveport/Images/jquery_012.js"></script>
<script type="text/javascript" src="/clients/DowntownShreveport/Images/jquery.js"></script>
<script type="text/javascript" src="/clients/DowntownShreveport/Images/jquery_010.js"></script>
<script type="text/javascript" src="/clients/DowntownShreveport/Images/jquery_008.js"></script>
<script type="text/javascript" src="/clients/DowntownShreveport/Images/jquery_004.js"></script>
<script type="text/javascript" src="/clients/DowntownShreveport/Images/jquery_005.js"></script>
<script type="text/javascript" src="/clients/DowntownShreveport/Images/jquery_007.js"></script>
<script type="text/javascript" src="/clients/DowntownShreveport/Images/fb5230720420610a6d20e38efb19d3af.js"></script>

<!-- Begin Shadowbox JS v3.0.3.10 -->
<!-- Selected Players: html, iframe, img, qt, swf, wmp -->
<script type="text/javascript">
/* <![CDATA[ */
	var shadowbox_conf = {
		autoDimensions: false,
		animateFade: true,
		animate: true,
		animSequence: "sync",
		autoplayMovies: true,
		continuous: false,
		counterLimit: 10,
		counterType: "default",
		displayCounter: true,
		displayNav: true,
		enableKeys: true,
		flashBgColor: "#000000",
		flashParams: {bgcolor:"#000000", allowFullScreen:true},
		flashVars: {},
		flashVersion: "9.0.0",
		handleOversize: "resize",
		handleUnsupported: "link",
		initialHeight: 160,
		initialWidth: 320,
		modal: false,
		overlayColor: "#000",
		showMovieControls: true,
		showOverlay: true,
		skipSetup: false,
		slideshowDelay: 0,
		useSizzle: false,
		viewportPadding: 20
	};
	Shadowbox.init(shadowbox_conf);
/* ]]> */
</script>
<!-- End Shadowbox JS -->


<div id="emailsub" class="modal hide fade">
	<div class="modal-header">
              <a href="#" class="close">×</a>
              <h3>Subscribe to our eBlast</h3>
            </div>
            <div class="modal-body">
              <form id="sub" action="http://downtownshreveport.us2.list-manage.com/subscribe/post?u=846e422a148b10fa6b0e9537e&amp;id=0131161f59" method="post" name="mc-embedded-subscribe-form" class="validate" target="_blank">
              					
              		<label for="mce-EMAIL">Join Our Email List<strong class="note-required">*</strong></label>
              		<input name="EMAIL" class="required email" id="mce-EMAIL" style="width: 48%;z-index: 999; border:1px solid #666" type="text">
              		<input value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn primary round" type="submit">
              </form>
            </div>
            <div class="modal-footer">
              
            </div>

</div>

<div id="sb-container"><div id="sb-overlay"></div><div id="sb-wrapper"><div id="sb-title"><div id="sb-title-inner"></div></div><div id="sb-wrapper-inner"><div id="sb-body"><div id="sb-body-inner"></div><div id="sb-loading"><div id="sb-loading-inner"><span>loading</span></div></div></div></div><div id="sb-info"><div id="sb-info-inner"><div id="sb-counter"></div><div id="sb-nav"><a id="sb-nav-close" title="Close" onclick="Shadowbox.close()"></a><a id="sb-nav-next" title="Next" onclick="Shadowbox.next()"></a><a id="sb-nav-play" title="Play" onclick="Shadowbox.play()"></a><a id="sb-nav-pause" title="Pause" onclick="Shadowbox.pause()"></a><a id="sb-nav-previous" title="Previous" onclick="Shadowbox.previous()"></a></div></div></div></div></div></div>
</form>
</body>
</html>
