<%
'changelog
'LSP 06/06/16 - images
%>

<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" lang="en-US">

<head>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
<head runat="server">
<asp:ContentPlaceHolder id="MasterHead" runat="server"></asp:ContentPlaceHolder>
<meta property="og:title" content="title" />
<meta property="og:description" content="description" />
<meta property="og:image" content="http://tix.com/images/TixLogo128x128.gif"/>
<meta property="og:image:secure_url" content="https://tix.com/images/TixLogo128x128.gif" />
<meta property="og:image:type" content="image/jpeg" />
</head>
<BODY leftmargin=0 rightmargin=0 topmargin=0 marginheight=0 marginwidth=0 >
<form id="form1" runat="server">
<div>


	<!-- / Yoast SEO plugin. -->
<link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>



	<link rel="stylesheet" id="widget-calendar-pro-style-css" href="/clients/artistseriesconcerts/images/widget-calendar-full.css" type="text/css" media="all">
	<link rel="stylesheet" id="tribe_events-widget-calendar-pro-style-css" href="/clients/artistseriesconcerts/images/widget-calendar-theme.css" type="text/css" media="all">
	<link rel="stylesheet" id="tribe_events--widget-calendar-pro-override-style-css" href="/clients/artistseriesconcerts/images/widget-calendar.css" type="text/css" media="all">
	<link rel="stylesheet" id="bootstrap_tab-css" href="/clients/artistseriesconcerts/images/bootstrap_tab.css" type="text/css" media="all">
	<link rel="stylesheet" id="bootstrap_dropdown-css" href="/clients/artistseriesconcerts/images/bootstrap_dropdown.css" type="text/css" media="all">
	<link rel="stylesheet" id="ert_tab_icon_css-css" href="/clients/artistseriesconcerts/images/res_tab_icon.css" type="text/css" media="all">
	<link rel="stylesheet" id="outreach-pro-theme-css" href="/clients/artistseriesconcerts/images/style_002.css" type="text/css" media="all">
	<link rel="stylesheet" id="tribe-events-bootstrap-datepicker-css-css" href="/clients/artistseriesconcerts/images/datepicker.css" type="text/css" media="all">
	<link rel="stylesheet" id="ditty-news-ticker-font-css" href="/clients/artistseriesconcerts/images/styles.css" type="text/css" media="all">
	<link rel="stylesheet" id="ditty-news-ticker-css" href="/clients/artistseriesconcerts/images/style.css" type="text/css" media="all">
	<link rel="stylesheet" id="optional-css-css" href="/clients/artistseriesconcerts/images/column-style.css" type="text/css" media="all">
	<link rel="stylesheet" id="tmm-css" href="/clients/artistseriesconcerts/images/tmm_custom_style.css" type="text/css" media="all">
	<link rel="stylesheet" id="tribe-events-custom-jquery-styles-css" href="/clients/artistseriesconcerts/images/jquery-ui-1.css" type="text/css" media="all">
	<link rel="stylesheet" id="tribe-events-full-calendar-style-css" href="/clients/artistseriesconcerts/images/tribe-events-full.css" type="text/css" media="all">
	<link rel="stylesheet" id="tribe-events-calendar-style-css" href="/clients/artistseriesconcerts/images/tribe-events-theme.css" type="text/css" media="all">
	<link rel="stylesheet" id="tribe-events-calendar-full-mobile-style-css" href="/clients/artistseriesconcerts/images/tribe-events-full-mobile.css" type="text/css" media="only screen and (max-width: 768px)">
	<link rel="stylesheet" id="tribe-events-calendar-mobile-style-css" href="/clients/artistseriesconcerts/images/tribe-events-theme-mobile.css" type="text/css" media="only screen and (max-width: 768px)">
	<link rel="stylesheet" id="tribe-events-calendar-override-style-css" href="/clients/artistseriesconcerts/images/tribe-events.css" type="text/css" media="all">
	<link rel="stylesheet" id="tribe-events-full-pro-calendar-style-css" href="/clients/artistseriesconcerts/images/tribe-events-pro-full.css" type="text/css" media="all">
	<link rel="stylesheet" id="tribe-events-calendar-pro-style-css" href="/clients/artistseriesconcerts/images/tribe-events-pro-theme.css" type="text/css" media="all">
	<link rel="stylesheet" id="tribe-events-calendar-full-pro-mobile-style-css" href="/clients/artistseriesconcerts/images/tribe-events-pro-full-mobile.css" type="text/css" media="only screen and (max-width: 768px)">
	<link rel="stylesheet" id="tribe-events-calendar-pro-mobile-style-css" href="/clients/artistseriesconcerts/images/tribe-events-pro-theme-mobile.css" type="text/css" media="only screen and (max-width: 768px)">
	<link rel="stylesheet" id="dashicons-css" href="/clients/artistseriesconcerts/images/dashicons.css" type="text/css" media="all">

	<link rel="stylesheet" id="tablepress-default-css" href="/clients/artistseriesconcerts/images/default.css" type="text/css" media="all">


	<link rel="https://api.w.org/" href="http://artistseriesconcerts.org/wp-json/">
	<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://artistseriesconcerts.org/xmlrpc.php?rsd">
	<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://artistseriesconcerts.org/wp-includes/wlwmanifest.xml">
	<meta name="generator" content="WordPress 4.4.3">
	<link rel="Shortcut Icon" href="http://artistseriesconcerts.org/wp-content/themes/outreach-pro/images/favicon.ico" type="image/x-icon">
	<link rel="pingback" href="http://artistseriesconcerts.org/xmlrpc.php">
	<style type="text/css">
		.site-title a {
			background: url(/clients/artistseriesconcerts/images/cropped-ASC-logo2015.png) no-repeat !important;
		}
	</style>
	<!--[if lt IE 9]><script src="http://artistseriesconcerts.org/wp-content/themes/genesis/lib/js/html5shiv.min.js"></script><![endif]-->

	<style type="text/css" id="custom-background-css">
		body.custom-background {
			background-image: url('/clients/artistseriesconcerts/images/RedBackgroundASCwebfade.jpg');
			background-repeat: repeat-x;
			background-position: top center;
			background-attachment: fixed;
		}
	</style>

</head>

<body class="archive post-type-archive post-type-archive-tribe_events custom-background tribe-filter-live  tribe-events-uses-geolocation custom-header header-image content-sidebar outreach-pro-red events-list events-category events-category-classical events-archive tribe-events-style-full tribe-events-style-theme tribe-theme-parent-genesis tribe-theme-child-outreach-pro tribe-events-page-template"
				itemscope="" itemtype="http://schema.org/WebPage">
	<div class="site-container">
		<header class="site-header" itemscope="" itemtype="http://schema.org/WPHeader">
			<div class="wrap">
				<div class="title-area">
					<p class="site-title" itemprop="headline"><a href="http://artistseriesconcerts.org/">Artist Series Concert</a></p>
				</div>

		</header>
		<nav class="nav-primary" itemscope="" itemtype="http://schema.org/SiteNavigationElement">
			<div class="wrap">
				<div class="responsive-menu-icon"></div>
				<ul id="menu-primary-navigation" class="menu genesis-nav-menu menu-primary responsive-menu">
					<li id="menu-item-95" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-95"><a href="http://artistseriesconcerts.org/" itemprop="url"><span itemprop="name">Home</span></a></li>
					<li id="menu-item-28" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-28"><a href="http://artistseriesconcerts.org/about-us/" itemprop="url"><span itemprop="name">About Us</span></a>
						<ul class="sub-menu">
							<li id="menu-item-168" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-168"><a href="http://artistseriesconcerts.org/about-us/history/" itemprop="url"><span itemprop="name">History</span></a></li>
							<li id="menu-item-167" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-167"><a href="http://artistseriesconcerts.org/about-us/venue/" itemprop="url"><span itemprop="name">Venues</span></a></li>
							<li id="menu-item-166" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-166"><a href="http://artistseriesconcerts.org/about-us/prior-artists/" itemprop="url"><span itemprop="name">Prior Artists</span></a></li>
							<li id="menu-item-169" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-169"><a href="http://artistseriesconcerts.org/about-us/best-practices-policies/" itemprop="url"><span itemprop="name">Best Practices</span></a></li>
							<li id="menu-item-2011" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2011"><a href="http://artistseriesconcerts.org/about-us/board-of-directors/" itemprop="url"><span itemprop="name">Board of Trustees</span></a></li>
						</ul>
					</li>
					<li id="menu-item-3498" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children current-menu-item current_page_item menu-item-3498"><a href="http://artistseriesconcerts.org/events/" itemprop="url"><span itemprop="name">Concerts &amp; Tickets</span></a>
						<ul class="sub-menu">
							<li id="menu-item-3499" class="menu-item menu-item-type-taxonomy menu-item-object-tribe_events_cat current-menu-item menu-item-3499"><a href="http://artistseriesconcerts.org/events/category/classical/" itemprop="url"><span itemprop="name">Classical</span></a></li>
							<li id="menu-item-3662" class="menu-item menu-item-type-taxonomy menu-item-object-tribe_events_cat menu-item-3662"><a href="http://artistseriesconcerts.org/events/category/lunch-look-listen/" itemprop="url"><span itemprop="name">Lunch, Look &amp; Listen</span></a></li>
							<li id="menu-item-3502" class="menu-item menu-item-type-taxonomy menu-item-object-tribe_events_cat menu-item-3502"><a href="http://artistseriesconcerts.org/events/category/north-port/" itemprop="url"><span itemprop="name">North Port</span></a></li>
							<li id="menu-item-3503" class="menu-item menu-item-type-taxonomy menu-item-object-tribe_events_cat menu-item-3503"><a href="http://artistseriesconcerts.org/events/category/pop/" itemprop="url"><span itemprop="name">Pop</span></a></li>
							<li id="menu-item-3504" class="menu-item menu-item-type-taxonomy menu-item-object-tribe_events_cat menu-item-3504"><a href="http://artistseriesconcerts.org/events/category/soiree-series/" itemprop="url"><span itemprop="name">Soiree Series</span></a></li>
							<li id="menu-item-3505" class="menu-item menu-item-type-taxonomy menu-item-object-tribe_events_cat menu-item-3505"><a href="http://artistseriesconcerts.org/events/category/special-events/" itemprop="url"><span itemprop="name">Special Events</span></a></li>
						</ul>
					</li>
					<li id="menu-item-27" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-27"><a href="http://artistseriesconcerts.org/competitions/" itemprop="url"><span itemprop="name">Competitions</span></a>
						<ul class="sub-menu">
							<li id="menu-item-658" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-658"><a href="http://artistseriesconcerts.org/competitions/scholarship-video/" itemprop="url"><span itemprop="name">Scholarship Video</span></a></li>
							<li id="menu-item-191" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-191"><a href="http://artistseriesconcerts.org/competitions/endowed-named-scholarships/" itemprop="url"><span itemprop="name">Endowed &amp; Named Scholarships</span></a></li>
							<li id="menu-item-3007" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3007"><a target="_blank" href="http://artistseriesconcerts.org/wp-content/uploads/2016/01/2016-CompetitionAppl-011316-Small.pdf" itemprop="url"><span itemprop="name">2016 National Competition Application</span></a></li>
							<li id="menu-item-4191" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4191"><a href="http://artistseriesconcerts.org/wp-content/uploads/2015/12/2016-Suncoast-Music-Scholarships-Information-and-Application.pdf" itemprop="url"><span itemprop="name">2016 Local Competition Application</span></a></li>
						</ul>
					</li>
					<li id="menu-item-3229" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-3229"><a href="http://artistseriesconcerts.org/friends/" itemprop="url"><span itemprop="name">Volunteer</span></a>
						<ul class="sub-menu">
							<li id="menu-item-3217" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3217"><a href="http://artistseriesconcerts.org/friends/#mission" itemprop="url"><span itemprop="name">Mission</span></a></li>
							<li id="menu-item-3218" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3218"><a href="http://artistseriesconcerts.org/friends/#about" itemprop="url"><span itemprop="name">About Us</span></a></li>
							<li id="menu-item-3219" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3219"><a href="http://artistseriesconcerts.org/friends/#history" itemprop="url"><span itemprop="name">History</span></a></li>
							<li id="menu-item-3220" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3220"><a href="http://artistseriesconcerts.org/friends-events/" itemprop="url"><span itemprop="name">Events</span></a></li>
							<li id="menu-item-3221" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-3221"><a href="http://artistseriesconcerts.org/how-you-can-help/" itemprop="url"><span itemprop="name">How You Can Help</span></a>
								<ul class="sub-menu">
									<li id="menu-item-3222" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3222"><a href="http://artistseriesconcerts.org/how-you-can-help/#benefits" itemprop="url"><span itemprop="name">Member Benefits</span></a></li>
									<li id="menu-item-3223" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3223"><a href="http://artistseriesconcerts.org/how-you-can-help/#join" itemprop="url"><span itemprop="name">JOIN NOW!</span></a></li>
								</ul>
							</li>
							<li id="menu-item-3670" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3670"><a href="http://artistseriesconcerts.org/leadership/" itemprop="url"><span itemprop="name">Leadership</span></a></li>
							<li id="menu-item-3672" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3672"><a href="http://artistseriesconcerts.org/newsletter/" itemprop="url"><span itemprop="name">Newsletter</span></a></li>
							<li id="menu-item-3671" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3671"><a href="http://artistseriesconcerts.org/contact-us-2/" itemprop="url"><span itemprop="name">Contact ASC Friends</span></a></li>
						</ul>
					</li>
					<li id="menu-item-886" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-886"><a href="http://artistseriesconcerts.org/supporters/" itemprop="url"><span itemprop="name">Support</span></a></li>
					<li id="menu-item-464" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-464"><a href="http://artistseriesconcerts.org/category/news/" itemprop="url"><span itemprop="name">News</span></a></li>
					<li id="menu-item-1628" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1628"><a href="http://artistseriesconcerts.org/eat-stay/" itemprop="url"><span itemprop="name">Eat &amp; Stay</span></a></li>
					<li id="menu-item-23" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-23"><a href="http://artistseriesconcerts.org/contact-us/" itemprop="url"><span itemprop="name">Contact Us</span></a></li>
				</ul>
			</div>
		</nav>
		<div class="site-inner">
			<div class="wrap">
				<div id="tribe-events-pg-template">
<!--tix content-->

<asp:ContentPlaceHolder id="MasterContent" runat="server"></asp:ContentPlaceHolder>
</div>
				<!-- #tribe-events-pg-template -->
			</div>
		</div>
		<footer class="site-footer" itemscope="" itemtype="http://schema.org/WPFooter">
			<div class="wrap">
				<div class="footer-nav">
					<ul>
						<li>About Us</li>
						<li>Concerts</li>
						<li>Competitions</li>
						<li>Volunteer</li>
						<li>Support</li>
						<li>News &amp; Media</li>
					</ul>
				</div>
				<div class="copyright">&#169;&nbsp;2015–2016 Artist Series Concerts, Created By: BRAND 11 ELEVEN. ALL RIGHTS RESERVED.</div>
			</div>
		</footer>
	</div>
	<div class="popup">
		<style type="text/css">
			#AnythingPopup_BoxContainer1 {
				width: 380px;
				height: 260px;
				background: #FFFFFF;
				border: 1px solid #4D4D4D;
				padding: 0;
				position: fixed;
				z-index: 99999;
				cursor: default;
				-moz-border-radius: 10px;
				-webkit-border-radius: 10px;
				-khtml-border-radius: 10px;
				border-radius: 10px;
				display: none;
			}
			
			#AnythingPopup_BoxContainerHeader1 {
				height: 30px;
				background: #4D4D4D;
				border-top-right-radius: 10px;
				-moz-border-radius-topright: 10px;
				-webkit-border-top-right-radius: 10px;
				-khtml-border-top-right-radius: 10px;
				border-top-left-radius: 10px;
				-moz-border-radius-topleft: 10px;
				-webkit-border-top-left-radius: 10px;
				-khtml-border-top-left-radius: 10px;
			}
			
			#AnythingPopup_BoxContainerHeader1 a {
				color: #FFFFFF;
				font-family: Verdana, Arial;
				font-size: 10pt;
				font-weight: bold;
			}
			
			#AnythingPopup_BoxTitle1 {
				float: left;
				margin: 5px;
				color: #FFFFFF;
				font-family: Verdana, Arial;
				font-size: 12pt;
				font-weight: bold;
			}
			
			#AnythingPopup_BoxClose1 {
				float: right;
				width: 50px;
				margin: 5px;
			}
			
			#AnythingPopup_BoxContainerBody1 {
				margin: 15px;
				overflow: auto;
				height: 200px;
			}
			
			#AnythingPopup_BoxContainerFooter1 {
				position: fixed;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				background: #000000;
				opacity: .3;
				-moz-opacity: .3;
				filter: alpha(opacity=30);
				border: 1px solid #4D4D4D;
				z-index: 999;
				display: none;
			}
		</style><a href='javascript:AnythingPopup_OpenForm("AnythingPopup_BoxContainer1","AnythingPopup_BoxContainerBody1","AnythingPopup_BoxContainerFooter1","380","260");'>Click to open popup</a>
		<div style="display: none;" id="AnythingPopup_BoxContainer1">
			<div id="AnythingPopup_BoxContainerHeader1">
				<div id="AnythingPopup_BoxTitle1">Buy Tickets</div>
				<div id="AnythingPopup_BoxClose1"><a href="javascript:AnythingPopup_HideForm('AnythingPopup_BoxContainer1','AnythingPopup_BoxContainerFooter1');">Close</a></div>
			</div>
			<div id="AnythingPopup_BoxContainerBody1">
				<p class="p1">Call Artist Series Concerts office at
					<br>941-306-1202 for tickets (10a-4p, M-F).</p>
			</div>
		</div>
		<div style="display: none;" id="AnythingPopup_BoxContainerFooter1"></div>
		<style type="text/css">
			#AnythingPopup_BoxContainer3 {
				width: 380px;
				height: 260px;
				background: #FFFFFF;
				border: 1px solid #4D4D4D;
				padding: 0;
				position: fixed;
				z-index: 99999;
				cursor: default;
				-moz-border-radius: 10px;
				-webkit-border-radius: 10px;
				-khtml-border-radius: 10px;
				border-radius: 10px;
				display: none;
			}
			
			#AnythingPopup_BoxContainerHeader3 {
				height: 30px;
				background: #4D4D4D;
				border-top-right-radius: 10px;
				-moz-border-radius-topright: 10px;
				-webkit-border-top-right-radius: 10px;
				-khtml-border-top-right-radius: 10px;
				border-top-left-radius: 10px;
				-moz-border-radius-topleft: 10px;
				-webkit-border-top-left-radius: 10px;
				-khtml-border-top-left-radius: 10px;
			}
			
			#AnythingPopup_BoxContainerHeader3 a {
				color: #FFFFFF;
				font-family: Verdana, Arial;
				font-size: 10pt;
				font-weight: bold;
			}
			
			#AnythingPopup_BoxTitle3 {
				float: left;
				margin: 5px;
				color: #FFFFFF;
				font-family: Verdana, Arial;
				font-size: 12pt;
				font-weight: bold;
			}
			
			#AnythingPopup_BoxClose3 {
				float: right;
				width: 50px;
				margin: 5px;
			}
			
			#AnythingPopup_BoxContainerBody3 {
				margin: 15px;
				overflow: auto;
				height: 200px;
			}
			
			#AnythingPopup_BoxContainerFooter3 {
				position: fixed;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				background: #000000;
				opacity: .3;
				-moz-opacity: .3;
				filter: alpha(opacity=30);
				border: 1px solid #4D4D4D;
				z-index: 999;
				display: none;
			}
		</style><a href='javascript:AnythingPopup_OpenForm("AnythingPopup_BoxContainer3","AnythingPopup_BoxContainerBody3","AnythingPopup_BoxContainerFooter3","380","260");'>Click to open popup</a>
		<div style="display: none;" id="AnythingPopup_BoxContainer3">
			<div id="AnythingPopup_BoxContainerHeader3">
				<div id="AnythingPopup_BoxTitle3">Buy Tickets</div>
				<div id="AnythingPopup_BoxClose3"><a href="javascript:AnythingPopup_HideForm('AnythingPopup_BoxContainer3','AnythingPopup_BoxContainerFooter3');">Close</a></div>
			</div>
			<div id="AnythingPopup_BoxContainerBody3">
				<p class="p1"><span class="s1">Call Artist Series Concerts office at 941-306-1202 for tickets (10a-4p, M-F). Individual tickets: $45.</span></p>
			</div>
		</div>
		<div style="display: none;" id="AnythingPopup_BoxContainerFooter3"></div>
	</div>
	<link rel="stylesheet" id="gforms_reset_css-css" href="/clients/artistseriesconcerts/images/formreset.css" type="text/css" media="all">
	<link rel="stylesheet" id="gforms_formsmain_css-css" href="/clients/artistseriesconcerts/images/formsmain.css" type="text/css" media="all">
	<link rel="stylesheet" id="gforms_ready_class_css-css" href="/clients/artistseriesconcerts/images/readyclass.css" type="text/css" media="all">
	<link rel="stylesheet" id="gforms_browsers_css-css" href="/clients/artistseriesconcerts/images/browsers.css" type="text/css" media="all">
</div>
</form>
</body>
</html>
