* { margin:0; padding:0;}
body { background:url(/clients/3Cevent/Images/smallsample.jpg); font-family:Arial, Helvetica, sans-serif; font-size:130%; line-height:1em; color:#8d8d8d;}

input, textarea { font-family:Arial, Helvetica, sans-serif; font-size:1em;}

.fleft { float:left;}
.fright { float:right;}
.clear { clear:both;}

.alignright { text-align:right;}
.aligncenter { text-align:center;}

.wrapper { width:100%; overflow:hidden;}
.container { width:100%;}

p { margin:0; padding:0;}

.tail-top { background:url(/clients/3Cevent/Images/tail-top.gif) left top repeat-x;}
.tail-top-right { width:50%; position:absolute; background:url(/clients/3Cevent/Images/tail-top-right.gif) repeat-x right top; right:0; top:0; height:250px;}
.tail-bottom { background:url(/clients/3Cevent/Images/tail-bottom.gif) left bottom repeat-x;}


/*==================forms====================*/
input, select { vertical-align:middle; font-weight:normal;}
img {border:0; vertical-align:top; text-align:left;}

.input-box input { border:0; background:none; width:224px; vertical-align:top; padding-top:2px;}

.form { height:21px;}
form label.lab-1 { font-weight:bold; display:block; color:#fff; font-size:1.09em; margin-bottom:21px;}
.form input { width:13px; height:13px; border:0; padding:0; margin-right:8px; vertical-align:top;}

.form1 { height:48px;}
.form1 label { color:#626262; display:block;}
.form1 input { background:#686868; border:1px solid #000; padding:1px 0 1px 3px; width:220px;}
form .button { width:100%; overflow:hidden; padding-bottom:15px;}
form .button .link1 { float:right;}

.form2 { height:26px;}
.form2 input {width:223px; padding:2px 0 2px 3px; background:#fff; border-top:1px solid #303030; border-left:1px solid #303030; border-bottom:1px solid #9f9f9f;  border-right:1px solid #9f9f9f;}
textarea { width:287px; height:72px; overflow:auto; background:#fff;  border-top:1px solid #303030; border-left:1px solid #303030; border-bottom:1px solid #9f9f9f;  border-right:1px solid #9f9f9f; padding:2px 0 0 3px; }


/*==================list====================*/
ul { list-style:none;}

.site-nav { width:100%; overflow:hidden;}
.site-nav li { float:left;}

.list { width:100%; overflow:hidden;}
.list li { float:left; color:#686868; border-left:1px solid #fff; margin-left:-1px; line-height:1.1em; padding:0 4px;}
.list li a { color:#686868;}

.list1 { padding:2px 0 16px 0;}
.list1 li { color:#fff; border-top:1px solid #1e1e1e; padding:1px 0 1px 23px; } 
.list1 li a { color:#fff; text-decoration:none;}
.list1 li a:hover { text-decoration:underline;}
.list1 li span { color:#8d8d8d;}
.list1 li p { color:#8d8d8d;}

.list2 { width:100%; overflow:hidden; padding-bottom:13px;}
.list2 li { float:left; font-size:1.09em; color:#fff;}
.list2 li a { color:#fff; text-decoration:none; display:block; padding:10px 0 10px 0; width:112px; text-align:center; border-right:1px solid #202020; border-bottom:1px solid #202020;}
.list2 li a:hover { font-weight:bold; border-bottom:0; color:#ff5300;}
.list2 li.last a { border-right:0;}

.list3 { padding-top:17px;}
.list3 li { padding-bottom:4px;}
.list3 li a { display:block; line-height:1.09em; background:url(/clients/3Cevent/Images/link2-bgd.gif) repeat-x top #0e0e0e; color:#8d8d8d; text-decoration:none;}
.list3 li a em { display:block; background:url(/clients/3Cevent/Images/link2-left.gif) no-repeat left top;}
.list3 li a b { display:block; background:url(/clients/3Cevent/Images/link2-right.gif) no-repeat right top; cursor:pointer; padding:6px 0 0 32px; font-style:normal; font-weight:normal; min-height:29px; height:auto!important; height:29px;}
.list3 li a:hover { color:#fff;}
.list3 li a:hover em { background:url(/clients/3Cevent/Images/link2-left-act.gif) no-repeat left top;}

.list4 { margin-bottom:15px;}
.list4 li { background:url(/clients/3Cevent/Images/divider.gif) repeat-x bottom; width:100%; overflow:hidden; vertical-align:bottom; padding-bottom:16px; margin-bottom:15px;}
.list4 li.last { margin-bottom:0; background:none; padding-bottom:0;}
.list4 li p { padding-top:5px;}
.list4 li span { display:block; background:url(/clients/3Cevent/Images/marker-2.gif) no-repeat left top; padding-left:35px;}
.list4 li a { color:#fff; font-weight:bold; font-size:1.09em; text-decoration:none;}
.list4 li a:hover { text-decoration:underline;}

.list5 li { padding:0 0 1px 15px; background:url(/clients/3Cevent/Images/marker-1.gif) no-repeat left 7px; line-height:1.18em;}
.list5 li a { text-decoration:none;}
.list5 li a:hover { text-decoration:underline;}

.list6 { width:100%; overflow:hidden;}
.list6 li { float:left; margin-right:9px; padding-bottom:18px;}
.list6 li.alt { margin-right:0;}

.footer-nav li { float:left;}
.footer-nav li a { color:#686868; padding-right:30px;}

/*==================other====================*/
.img-box img { margin-bottom:7px; display:block;}

.img-box1 { width:100%; overflow:hidden;}
.img-box1 img { float:left; margin:0 12px 0 0;}
.img-box1 h3 { color:#fff; margin-bottom:3px;}

.img-box2 { width:100%; padding-bottom:10px; overflow:hidden; color:#fff; font-weight:bold;}
.img-box2 .fleft { font-size:3.27em; line-height:1em; padding-top:15px;}
.img-box2 .fright { font-size:1.09em; padding-top:35px;}

.p1 { margin-bottom:15px;}


/*==================txt, links, lines, titles====================*/
a {color:#8d8d8d;}
a:hover{text-decoration:none;}

h3 { font-size:1.09em; padding-left:17px;}
h3 span { padding-left:6px; display:block;}
h3 a { text-decoration:none;}
h3 a:hover { text-decoration:underline;}
h3.color1 { color:#ff5300;}
h3.color1 a { color:#ff5300;}
h3.color2 { color:#73be07;}
h3.color2 a { color:#73be07;}
h3.color3 { color:#0997b2;}
h3.color4 { color:#ffa200;}
h3.color5 { color:#ff006c;}
h3.color6 { color:#2f7bc8;}
h3.color7 { color:#ff3600;}
h3.color8 { color:#c566f6;}
h4 { font-size:1.64em; color:#fff; font-weight:normal; line-height:1em; margin-bottom:10px;}
h5 { font-size:1.64em; color:#fff; font-weight:normal; margin-bottom:15px;}

.txt1 { color:#fff; }
.txt2 { font-size:.91em; padding:5px 0 5px 20px;}
.txt3 { color:#ffa200; font-weight:bold;} 

.rss { position:absolute; right:13px; top:10px;}

.links { text-align:center; color:#ff006c; font-size:1.09em; font-weight:bold; margin-bottom:20px;}
.links a { color:#ff006c; text-decoration:underline;}
.links a:hover { text-decoration:none;}

.link { font-size:1.09em; line-height:1.5em; text-transform:uppercase;  font-weight:bold; padding:0 24px; text-align:center; margin:7px 0 22px 0;}
.link a { color:#ff5300; text-decoration:none;}
.link a:hover { text-decoration:underline;}

.link1 { display:block; float:left; font-size:1.09em; color:#fff; text-decoration:none; background:url(/clients/3Cevent/Images/link1-right.gif) no-repeat right top;}
.link1 em { display:block; background:url(/clients/3Cevent/Images/link1-left.gif) no-repeat left top; padding:0 2px;}
.link1 b { display:block;  background:url(/clients/3Cevent/Images/link1-bgd.gif) left top repeat-x; padding:2px 15px 3px 15px; font-style:normal;}
.link1:hover { text-decoration:underline;}

.line-hor { border-bottom:1px solid #242424; padding:10px 0; width:100%; overflow:hidden;}
.line-hor .fright { padding:0 15px 0 0;}
.line-hor1 { border-bottom:1px solid #242424; padding:10px 0; margin-bottom:15px;}

/*==================boxes====================*/
.input-box { width:237px; float:right; margin-right:2px; background:url(/clients/3Cevent/Images/input-tail.gif) repeat-x top;}
.input-box .left { background:url(/clients/3Cevent/Images/input-left.gif) no-repeat left top;}
.input-box .right { height:21px; background:url(/clients/3Cevent/Images/input-right.gif) no-repeat right top; padding:0 5px;}

.box { width:100%; background:url(/clients/3Cevent/Images/box-tail.gif); border-top:1px solid #292929; position:relative;}
.box .inner { padding:19px 0 0 0;}
.box .inner1 { padding:0 10px 27px 17px;}
.box .inner2 { padding:15px 12px 22px 15px;}
.box .inner3 { padding:15px 12px 15px 15px;}
.box .inner4 { padding:14px 0 16px 5px;}
.box p { line-height:1.18em;}

.box1 { background:#242424; width:100%; margin-bottom:13px;}
.box1 .border-top {background:url(/clients/3Cevent/Images/border.gif) repeat-x top;}
.box1 .border-bot {background:url(/clients/3Cevent/Images/border.gif) repeat-x bottom;}
.box1 .border-left {background:url(/clients/3Cevent/Images/border.gif) repeat-y left;}
.box1 .border-right {background:url(/clients/3Cevent/Images/border.gif) repeat-y right;}
.box1 .inner { padding:14px 17px 20px 16px;}


/*header*/
#header .row-1 { width:100%; overflow:hidden; height:50px;}
#header .row-1 .fleft { color:#4d4d4d; padding:18px 0 0 16px;}
#header .row-1 .fleft b { color:#696969;} 
#header .row-1 .fright { padding:13px 19px 0 0;}
#header .row-1 .fright .fright { padding:0;}
#header .row-2 { height:148px;}
#header .row-2 .indent { padding:37px 0 0 327px;}
#header .row-3 { padding-left:17px;}

/*content*/
#content { padding:0 0 22px 17px;}
#content .indent { padding-bottom:4px;}
#content .indent1 { padding-bottom:15px;}
#content .indent2 { padding:17px 25px 23px 23px;}
#content .banner { margin-bottom:8px;}

/*footer*/
#footer .fleft { padding:16px 0 0 17px;}
#footer .fleft p { color:#fff; padding-left:4px; margin-bottom:4px;}
#footer .fright { padding:30px 30px 0 0;}

/*==========================================*/
