.RadEContent, .RadEContentBordered {
    background: #fff;
}
a.login {
    color: #000 !important;
    font: normal normal bold 12px/1em Verdana, Arial, Helvetica, sans-serif;
}

/* background color for the content part of the pages */
Body {
    background: #fff;
    margin: 0;
}

.ControlPanel, .PagingTable {
    width: 100%;
    background: #fff;
    border: solid 1px #036;
}

.SkinObject {
    font: normal normal bold 8.5pt/1em Verdana, Arial, Helvetica, sans-serif;
    color: #fff;
    text-decoration: none;
}

A.SkinObject:link, A.SkinObject:visited, A.SkinObject:hover, A.SkinObject:active {
    text-decoration: none;
    color: #fff;
}

.Language {
    vertical-align: middle;
    margin: 0;
}
.Language img {
    border: none;
}

.Head {
    font: normal normal bold 16px/1em Verdana, Arial, Helvetica, sans-serif;
    color: #fff;
}

.SubHead {
    color: #fff;
    font: normal normal bold 12px/1em Verdana, Arial, Helvetica, sans-serif;
}
.SubSubHead {
    color: #000;
    font: normal normal bold 12px/1em Verdana, Arial, Helvetica, sans-serif;
}

.Normal, .NormalDisabled {
    font: normal normal normal 12px/1em Verdana, Arial, Helvetica, sans-serif;
}

.NormalDisabled {
    color: #c0c0c0;
}

.NormalBold {
    font: normal normal bold 12px/1em Verdana, Arial, Helvetica, sans-serif;
}

.NormalRed {
    font: normal normal normal 12px/1em Verdana, Arial, Helvetica, sans-serif;
    color: #ff0000;
}

.NormalTextBox {
    font: normal normal normal 12px/1em Verdana, Arial, Helvetica, sans-serif;
}

.DataGrid_AlternatingItem {
    background: #fff;
    color: #ff0000;
    font: normal normal normal 10px/1em Verdana, Arial, Helvetica, sans-serif;
}
.DataGrid_Container {
    background: transparent;
}
.DataGrid_Footer {
    background: #fff;
}
.DataGrid_Header {
    background: transparent;
    color: #000;
    font: normal normal bold 10px/1em Verdana, Arial, Helvetica, sans-serif;
    text-align: center;
}
.DataGrid_Item {
    background: transparent;
    color: #000;
    font: normal normal normal 10px/1em Verdana, Arial, Helvetica, sans-serif;
}
.DataGrid_SelectedItem {
    background: #c0c0c0;
    color: #0000ff;
    font: normal normal normal 10px/1em Verdana, Arial, Helvetica, sans-serif;
}

.TreeMenu_Node {
    font: normal normal normal 12px/1em Verdana, Arial, Helvetica, sans-serif;
}

.TreeMenu_NodeSelected {
    font: normal normal normal 12px/1em Verdana, Arial, Helvetica, sans-serif;
    background: #dcdcdc;
}

A.TreeMenu_Node:link, A.TreeMenu_NodeSelected:link, A.TreeMenu_Node:visited, A.TreeMenu_NodeSelected:visited, A.TreeMenu_Node:hover, A.TreeMenu_NodeSelected:hover, A.TreeMenu_Node:active, A.TreeMenu_NodeSelected:active {
    text-decoration: none;
    color: #ffffff;
}

.FileManager {
    border: solid 1px #000;
    height: 400px;
}
.FileManager_ToolBar {
    border-bottom: 1px solid #000;
    height: 25px;
}
.FileManager_Explorer {
    height: 100%;
    border: 1px solid #696969;
    background: #fff;
    margin: 2px;
}

.FileManager_FileList {
    height: 100%;
    border: 1px solid #696969;
    background: #fff;
    margin: 2px;
    overflow: auto;
}

.FileManager_MessageBox {
    text-align: center;
    vertical-align: middle;
    background: #fff;
    padding: 25px;
}

.FileManager_Header {
    color: #e7e7ff;
    background: #9EBFF6;
    border-bottom: 1px solid #696969;
    height: 25px;
    font: normal normal bold 12px/1em Verdana, Arial, Helvetica, sans-serif;
}

.FileManager_Pager {
    background: #eee;
    border-bottom: 1px solid #696969;
    height: 25px;
    font: normal normal bold 12px/1em Verdana, Arial, Helvetica, sans-serif;
}

.FileManager_StatusBar {
    background: #dedfde;
    border-bottom: 1px solid #696969;
    height: 25px;
    font: normal normal bold 12px/1em Verdana, Arial, Helvetica, sans-serif;
    margin: 2px;
}

.FileManager_Item {
    font: normal normal normal 12px/1em Verdana, Arial, Helvetica, sans-serif;
    color: #000;
    background-color: #f8f8f8;
    border-top: 1px dashed #000;
    border-bottom: 1px dashed #000;
}

.FileManager_AltItem {
    font: normal normal normal 12px/1em Verdana, Arial, Helvetica, sans-serif;
    color: #000;
    background: #eee;
    border-style: none;
}
.FileManager_SelItem {
    font: normal normal bold 12px/1em Verdana, Arial, Helvetica, sans-serif;
    color: #fff;
    background: #9ff;
    border-style: none;
}

.FileManagerTreeNode {
    font: normal normal normal 12px/1em Verdana, Arial, Helvetica, sans-serif;
}

.FileManagerTreeNodeSelected {
    font: normal normal bold 12px/1em Verdana, Arial, Helvetica, sans-serif;
    background: #dcdcdc;
}

A.FileManagerTreeNode:link, A.FileManagerTreeNodeSelected:link {
    text-decoration: none;
    color: #ffffff;
}
A.FileManagerTreeNode:visited, A.FileManagerTreeNodeSelected:visited {
    text-decoration: none;
    color: #ffffff;
}
A.FileManagerTreeNode:hover, A.FileManagerTreeNodeSelected:hover {
    text-decoration: none;
    color: #ff0000;
}
A.FileManagerTreeNode:active, A.FileManagerTreeNodeSelected:active {
    text-decoration: none;
    color: #ffffff;
}

.Wizard {
    border: 1px solid #000;
    height: 400px;
    width: 650px;
}
.WizardButton {
    border: 1px solid #696969;
    padding: 2px;
    background: #dcdcdc;
}
.WizardHeader {
    background: #ffffcc;
    border-bottom: 1px solid #000;
    height: 40px;
}
.WizardFooter {
    border-top: 1px solid #000;
    background: #ccffcc;
    height: 25px;
    text-align: right;
}
.WizardBody {
    padding: 10px;
    height: 325px;
}
.WizardHelp {
    padding: 5px;
    font-size: 9pt;
    border-left: 1px solid #000;
    width: 180px;
    background-color: #ccffff;
}
.WizardHelpText {
    overflow: auto;
    width: 180px;
    color: #000;
    height: 300px;
    font: normal normal normal 8pt/1em Verdana, Arial, Helvetica, sans-serif;
}
.WizardText {
    color: #000;
    font: normal normal normal 9pt/1em Verdana, Arial, Helvetica, sans-serif;
}

.Help {
    padding: 2px;
    color: #000;
    border: #000 1px solid;
    font: normal normal normal 12px/1em Verdana, Arial, Helvetica, sans-serif;
    background: #ffff99;
}

.CommandButton {
    font: 12px/1em Verdana, Arial, Helvetica, sans-serif;
    color: #fff;
}

A.CommandButton:link {
    text-decoration: underline;
    color: #fff;
}
A.CommandButton:visited {
    text-decoration: underline;
    color: #fff;
}
A.CommandButton:hover {
    text-decoration: underline;
    color: #fff;
}
A.CommandButton:active {
    text-decoration: underline;
    color: #fff;
}

.StandardButton {
    padding-right: 0 5px 0 5px;
    background: #ddd;
    color: #000000;
    font: normal normal normal 12px/1em Verdana, Arial, Helvetica, sans-serif;
}


H1, H2 {
    color: #666644;
    font: normal normal normal 20px/1em Verdana, Arial, Helvetica, sans-serif;
}

H3, H4, TFOOT, THEAD {
    color: #ffffff;
    font: normal normal normal 12px/1em Verdana, Arial, Helvetica, sans-serif;
}

H5, H6, DT {
    color: #ffffff;
    font: normal normal bold 12px/1em Verdana, Arial, Helvetica, sans-serif;
}

TH {
    color: #ffffff;
    vertical-align: baseline;
    font: normal normal bold 12px/1em Verdana, Arial, Helvetica, sans-serif;
}

A:link {
    text-decoration: none;
    color: #ffffff;
}
A:visited {
    text-decoration: none;
    color: #ffffff;
}
A:hover {
    text-decoration: underline;
    color: #ff0000;
}
A:active {
    text-decoration: none;
    color: #ffffff;
}

SMALL {
    font-size: 8px;
}
BIG {
    font-size: 14px;
}
BLOCKQUOTE, PRE {
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

UL LI {
    list-style-type: square;
}
UL LI LI {
    list-style-type: disc;
}
UL LI LI LI {
    list-style-type: circle;
}
OL LI {
    list-style-type: decimal;
}
OL OL LI {
    list-style-type: lower-alpha;
}
OL OL OL LI {
    list-style-type: lower-roman;
}
OL UL LI {
    list-style-type: disc;
}

HR {
    color: #696969;
    height: 1pt;
    text-align: left;
}

.ModuleTitle_MenuContainer {
    border: solid 1px #0000ff;
}

.ModuleTitle_MenuBar {
    cursor: pointer;
    height: 16;
    background: transparent;
}

.ModuleTitle_MenuItem {
    cursor: pointer;
    color: #000;
    font: normal normal normal 9pt/1em Verdana, Arial, Helvetica, sans-serif;
    border-left: 0;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    border-right: 0;
    background: transparent;
}

.ModuleTitle_MenuIcon {
    cursor: pointer;
    background: #eee;
    border-left: #eee 1px solid;
    text-align: center;
    width: 15px;
    height: 21px;
}

.ModuleTitle_SubMenu {
    z-index: 1000;
    cursor: pointer;
    background: #fff;
    border: 0;
}

.ModuleTitle_MenuBreak {
    border-bottom: 1px solid #eee;
    border-left: 0;
    border-top: 1px solid #eee;
    border-right: 0;
    background-color: #EEEEEE;
    height: 1px;
}

.ModuleTitle_MenuItemSel {
    cursor: pointer;
    color: #000;
    font: normal normal bold 9pt/1em Verdana, Arial, Helvetica, sans-serif;
    background: #c1d2ee;
}

.ModuleTitle_MenuArrow {
    font: normal normal normal 10pt/1em webdings;
    cursor: pointer;
    border-right: #fff 1px solid;
    border-bottom: #fff 1px solid;
    border-top: 0;
}

.ModuleTitle_RootMenuArrow {
    font: normal normal normal 10pt/1em webdings;
    cursor: pointer;
}


.MainMenu_MenuContainer {
    background: transparent;
    width: 1;
}

.MainMenu_MenuBar {
    cursor: pointer;
    cursor: hand;
    height: 16px;
    background: transparent;
}

.MainMenu_MenuItem {
    cursor: pointer;
    cursor: hand;
    color: #000;
    font: normal normal bold 12px/1em Verdana, Arial, Helvetica, sans-serif;
    border-left: 0;
    border-bottom: 1px solid #f3f0eb;
    border-top: 1px solid #f3f0eb;
    border-right: #f3f0eb 1 solid;
    background: transparent;
}

.MainMenu_MenuIcon {
    cursor: pointer;
    cursor: hand;
    background: #d8d8d8;
    border-left: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
    border-top: 1px solid #d8d8d8;
    text-align: center;
    width: 15px;
    height: 21px;
}

.MainMenu_SubMenu {
    z-index: 1000;
    cursor: pointer;
    cursor: hand;
    background: #f3f0eb;
    filter: progid:DXImageTransform.Microsoft.Shadow(color='DimGray', Direction=135, Strength=2);
    border: 0;
}

.MainMenu_SubMenu .MainMenu_MenuItemSel {
    font-weight: normal;
}

.MainMenu_SubMenu .MainMenu_MenuItem {
    color: #464030;
    font-weight: normal;
}

.MainMenu_MenuBreak {
    border-bottom: 1px solid #f3f0eb;
    border-left: 0;
    border-top: 1px solid #f3f0eb;
    border-right: 0;
    background: #f3f0eb;
    height: 1px;
}

.MainMenu_MenuItemSel {
    cursor: pointer;
    cursor: hand;
    color: #464030;
    font: normal normal normal 12px/1em Verdana, Arial, Helvetica, sans-serif;
    background-color: #fffdfa;
}

.MainMenu_MenuArrow {
    font: normal normal bold 10pt/1em webdings;
    cursor: pointer;
    cursor: hand;
    border-right: 1px solid #f3f0eb;
    border-bottom: 1px solid #f3f0eb;
    border-top: 0;
}

.MainMenu_RootMenuArrow {
    font: normal normal bold 10pt/1em webdings;
    cursor: pointer;
    cursor: hand;
}

.HeadBg {
    background: #ccc;
}

.TabBg {
    background: #000;
}

.SelectedTab {
    color: #fff;
    font: normal normal bold 8.5pt/1em Verdana, Arial, Helvetica, sans-serif;
    text-decoration: none;
}

A.SelectedTab:link {
    text-decoration: none;
    color: #fff;
}
A.SelectedTab:visited {
    text-decoration: none;
    color: #eee;
}
A.SelectedTab:hover {
    text-decoration: none;
    color: #ccc;
}
A.SelectedTab:active {
    text-decoration: none;
    color: #eee;
}

.OtherTabs {
    color: #fff;
    font: normal normal bold 8.5pt/1em Verdana, Arial, Helvetica, sans-serif;
    text-decoration: none;
}

A.OtherTabs:link {
    text-decoration: none;
    color: #fff;
}
A.OtherTabs:visited {
    text-decoration: none;
    color: #eee;
}
A.OtherTabs:hover {
    text-decoration: none;
    color: #ccc;
}
A.OtherTabs:active {
    text-decoration: none;
    color: #eee;
}

.PagingTable {
    height: 33px;
}

/*
.LabelEditOverClass
{	
	cursor: pointer;
	text-decoration: underline overline;
}
*/

.LabelEditTextClass {
    border: solid 1px #ff0000;
    background: transparent;
}

.LabelEditWorkClass {
    /*background: url(/DotNetNuke/images/dnnanim.gif) no-repeat right;*/
    border: 0;
    background: transparent;
}

.SuggestTextMenu {
    border: solid 1px #000;
    white-space: nowrap;
    background: #fff;
}

.SuggestNodeOver {
    background: #000080;
    color: #fff;
}


.eipbackimg {
    border: outset 1px; /*give toolbar a 3D look*/
    position: absolute; /*needed so it doesn't take up space */
    margin-top: -22px; /*specify toolbar to be just above text */
    white-space: nowrap; /* makes toolbar horizontal */
    background: url(../../images/eip_toolbar.gif);
    background-color: #99cccc;
    height: 22px;
}

.eipbuttonbackimg {
    width: 21px;
    height: 21px;
    cursor: pointer; /*change mouse to pointer when hover over button*/
    display: -moz-inline-box; /* Gecko proprietary  (ORDER IS IMPORTANT HERE!)*/
    display: inline-block; /* supported by Opera and ? */
}

.eipbutton_edit {
    background: url(../../images/eip_edit.gif) no-repeat 100% center;
}
.eipbutton_save {
    background: url(../../images/eip_save.gif) no-repeat 100% center;
}
.eipborderhover {
    border: outset 1px;
}

.DNNEmptyPane {
    width: 0px;
}

.DNNAlignleft {
    text-align: left;
}
.DNNAlignright {
    text-align: right;
}
.DNNAligncenter {
    text-align: center;
}

.LoginTab {
    float: left;
    background: url("../../images/tablogin_gray.gif") left top;
    margin: 0 3px 3px 0;
    padding: 5px 5px 4px 5px;
    text-decoration: none;
    color: #FFF;
    border: 1px #25569a solid;
}

.LoginTabSelected {
    float: left;
    background: url("../../images/tablogin_gray.gif") left top;
    margin: 0 3px 3px 0;
    padding: 5px 5px 4px 5px;
    text-decoration: none;
    color: #fff;
    background-position: 0% -41px;
    border: 1px solid #25569a;
}

.LoginTabHover {
    float: left;
    background: url("../../images/tablogin_gray.gif") left top;
    margin: 0 3px 3px 0;
    padding: 5px 5px 4px 5px;
    text-decoration: none;
    color: #555;
    border: 1px solid #c00;
    cursor: pointer;
}

.LoginContainerGroup {
    clear: both;
    padding-top: 5px;
}

.LoginContainer {
}

#nvhsmn {
    float: right;
}
#dnn_ctr380_ModuleContent, #nvhsmnftr {
    text-align: center;
    margin: 0 auto;
}
#dnn_ctr380_ModuleContent {
    width: 751px;
}
#nvhsmnftr {
    width: 460px;
}
#nvhsmn a, #nvhsmnftr a {
    font: 12px/1em verdana;
    color: #000;
    text-decoration: none;
}
#nvhsmn a:hover, #nvhsmnftr a:hover {
    text-decoration: underline;
}
#dnn_ctr379_ModuleContent ul, #dnn_ctr379_ModuleContent ul li, #dnn_ctr380_ModuleContent ul, #dnn_ctr380_ModuleContent ul li {
    display: inline;
    list-style: none;
}
#dnn_ctr379_ModuleContent ul li {
    margin: 10px 5px 0 5px;
    float: right;
    display: block;
}
#dnn_ctr380_ModuleContent ul li {
    margin: 10px 5px 0 5px;
    float: left;
    display: block;
}
