/* Default stylesheet for CommonSpot - generated 2006-03-24 09:18:04
Copyright 2002-2006, PaperThin, Inc.  */

/* Document-level styles */
.CS_Document {margin-top:0; margin-left:0; margin-right:0; margin-bottom:0;}

/* Generic Text */
.CS_Generic_Text_Caption {text-decoration:none; text-align:center; font-weight:bold}
.CS_Generic_Image_Caption {text-decoration:none; text-align:center; font-weight:bold}
.CS_Generic_Text {text-decoration:none}

/* Image Grid */
.CS_BBar_Image {text-decoration:none; border-style:none}

/* Bulleted List */
.CS_BL_Bullet {text-decoration:none; border-style:none; font-size:69%}
.CS_BL_Header {text-align:left}
.CS_BL_HeaderCaption {text-align:left; font-weight:bold; text-decoration:none}
.CS_BL_HeaderText {text-align:left; text-decoration:none; font-size:69%}
.CS_BL_Item {list-style-position:outside}
.CS_BL_ItemCaption {text-align:left; font-weight:bold; text-decoration:none}
.CS_BL_ItemText {text-align:left; text-decoration:none; font-size:69%}

/* Custom Script */

/* Simple Form */
.CS_Form_Label {text-align:right; font-size:83%; vertical-align:text-top}
.CS_Form_Tree {font-size:83%}
.CS_Form_RichText {font-size:83%}
.CS_Form_Date {font-size:83%}
.CS_Form_Image {text-decoration:none; border-style:none}
.CS_Form_URL {font-size:83%}
.CS_Form_Email {font-size:83%}
.CS_Form_DropDown_Item {font-size:83%}
.CS_Form_SectionLabel {font-weight:bold; font-size:83%}
.CS_Form_Number {font-size:83%; text-align:right}
.CS_Form_Text {font-size:83%}
.CS_Form_Description {font-size:69%}
.CS_Form_Button {text-align:center; font-size:83%}
.CS_Form_Required {font-weight:bold; text-align:right; vertical-align:text-top}
.CS_Form_ResultText {font-size:83%}
.CS_Form_Label_Baseline {text-align:right; font-size:83%; vertical-align:baseline}
.CS_Form_Required_Baseline {font-weight:bold; text-align:right; vertical-align:baseline}
.CS_Form_Form {padding:0; margin:0}
.CS_Form_SummaryMessage {font-size:83%}

/* Data Sheet */
.CS_DataSheet_Caption {text-decoration:none; text-align:center; font-weight:bold}
.CS_DataSheet_Alphabet {text-decoration:none; color:#0000FF; padding:4px}
.CS_DataSheet_Alphabet_Selected {text-decoration:none; color:#880088; padding:4px}
.CS_DataSheet_Table {padding:0; margin:0}
.CS_DataSheet_Header_Row {background-color:#888888}
.CS_DataSheet_HeaderItem_First_Column {background-color:#EEEEEE; font-weight:bold; color:#CC6600; padding:4px; text-align:left}
.CS_DataSheet_HeaderItem_Column {background-color:#EEEEEE; font-weight:bold; color:#CC6600; padding:4px; text-align:left}
.CS_DataSheet_Data_First_Column {padding:4px}
.CS_DataSheet_Data_Column {padding:4px}
.CS_DataSheet_Data_Cell {text-align:left}
.CS_DataSheet_Data_Cell_Numeric {text-align:right}
.CS_DataSheet_Data_Cell_Action {text-align:center; text-decoration:underline; color:#0000FF}
.CS_DataSheet_Data_Row_Alternate {background-color:#E5E5E5}
.CS_DataSheet_Summary_Row {text-align:center}
.CS_DataSheet_Summary_Links {font-size:83%; text-decoration:none}
.CS_DataSheet_Summary_Current_Page {font-size:83%}
.CS_DatasheetExport_Link {text-decoration:none; color:#0000FF; padding:5px}

/* Date */
.CS_Date_Label {font-size:83%}
.CS_Date_Date {font-size:83%}
.CS_Date_Time {font-size:83%}

/* Pop-up menus */

/* Microsoft Word,Imported HTML */

/* Image */
.CS_Image_Caption {text-decoration:none; text-align:center; font-weight:bold}
.CS_Image_IMG {text-decoration:none; border-style:none; text-align:center}

/* Label */
.CS_Label_Item {color:#FFFFFF; text-decoration:none; font-weight:bold}
.CS_Label_Current_Item {color:#FFFFFF; text-decoration:none; font-weight:bold}
.CS_Label_FirstLetter {color:#FFFFFF; font-size:120%; text-decoration:none; font-weight:bold}

/* Tabular Layout */
.CS_Layout_Table {border-style:none}
.CS_Layout_TH {text-align:center; font-weight:bold; text-decoration:none}
.CS_Layout_TR {text-align:left; vertical-align:top;}
.CS_Layout_TD {text-align:left; vertical-align:top}

/* Link Bars,BreadCrumbs,PageSet Navigation */
.CS_LinkBar_Item {font-size:83%}
.CS_LinkBar_BeforeLabel {font-size:83%}
.CS_LinkBar_Separator {font-size:83%}
.CS_LinkBar_AfterLabel {font-size:83%}
.CS_LinkBar_Image {text-decoration:none; border-style:none}
.CS_LinkBar_CurrentItem {font-size:83%}
.CS_LinkBar_HighlightedItem {font-size:83%}

/* Link List */
.CS_LinkList_Caption {text-decoration:none; text-align:center; font-weight:bold}
.CS_LinkList_Item {font-size:83%}
.CS_LinkList_Button {text-align:center; font-weight:bold; font-size:83%}
.CS_LinkList_Form {padding:0; margin:0}

/* Multi-Section */
.CS_MS_Header {text-align:left}
.CS_MS_Header_Caption {text-decoration:none; text-align:center; font-weight:bold}
.CS_MS_Header_Text {font-size:83%}
.CS_MS_Index_Table {background-color:#000000}
.CS_MS_Index_Column {background-color:#000000}
.CS_MS_Index_Item {text-align:left; font-size:83%}
.CS_MS_Item {font-size:83%}

/* Embedded Object (video, etc.) */
.CS_Object_Caption {text-decoration:none; text-align:center; font-weight:bold}

/* Page Index, PageSet Index */
.CS_PgIndex_Header {text-align:left; font-weight:bold}
.CS_PgIndex_Item_Title {text-decoration:none; font-size:83%}
.CS_PgIndex_Item_Description {text-decoration:none; font-size:69%}
.CS_PgIndex_Item_Category {text-decoration:none; font-size:69%}
.CS_PgIndex_Item_Author {text-decoration:none; font-size:69%}
.CS_PgIndex_Item_LastMod {text-decoration:none; font-size:69%}
.CS_PgIndex_Item_PubDate {text-decoration:none; font-size:69%}
.CS_PgIndex_Item_SubSite {text-decoration:none; font-size:69%}
.CS_PgIndex_Primary_Category {text-decoration:none; font-weight:bold}
.CS_PgIndex_Secondary_Category {text-decoration:none; font-weight:bold}
.CS_PgIndex_Bullet {text-decoration:none; border-style:none}
.CS_PgIndex_Item_Owner {font-size:69%}
.CS_PgIndex_Item_CreationDate {text-decoration:none; font-size:69%}
.CS_PgIndex_Item_LastMajor {text-decoration:none; font-size:69%}
.CS_PgIndex_Item_MoreLink {font-size:83%; border-style:none}
.CS_PgIndex_NoRecords {font-size:69%}

/* PowerPoint Presentation */
.CS_Pres_Caption {text-decoration:none; text-align:center; font-weight:bold}
.CS_Pres_Image {text-decoration:none; border-style:none}

/* Scheduled Content */

/* Search Form */
.CS_SF_Label {font-weight:bold; font-size:69%; text-decoration:none}
.CS_SF_Input {font-size:69%; text-decoration:none}
.CS_SF_Select {text-decoration:none; font-size:69%}
.CS_SF_Checkbox {font-size:69%; text-decoration:none}
.CS_SF_Button {font-size:69%; text-decoration:none}
.CS_SF_Image {text-decoration:none; border-style:none}
.CS_SF_Link {font-size:69%}
.CS_SF_AdvLink {font-size:69%}
.CS_SF_SubSiteLabel {font-weight:bold; font-size:69%; text-decoration:none}
.CS_SF_AdvImage {text-decoration:none; border-style:none}
.CS_SF_Form {padding:0; margin:0}

/* Search Results */
.CS_SR_Results_Header {font-size:83%; color:#808080}
.CS_SR_Category {font-weight:bold}
.CS_SR_PageNav {font-size:83%; text-align:left}
.CS_SR_Prev {font-size:83%}
.CS_SR_Next {font-size:83%}
.CS_SR_Page {font-size:83%}
.CS_SR_Item {font-size:83%}
.CS_SR_Item_Alternate {color:#88FF00; text-decoration:none}
.CS_SR_Item_Title {font-size:83%}
.CS_SR_Item_Description {font-size:83%}
.CS_SR_Item_SubSite {font-size:83%; text-decoration:none}
.CS_SR_Item_Author {font-size:83%; text-decoration:none}
.CS_SR_Item_LastMod {font-size:83%; text-decoration:none}
.CS_SR_Item_PubDate {font-size:83%; text-decoration:none}
.CS_SR_Item_Score {font-size:83%; text-decoration:none}
.CS_SR_Item_Owner {font-size:83%; text-decoration:none}
.CS_SR_Item_BreadCrumbs {font-size:83%; text-decoration:none}

/* Tab Bar */
.CS_TBar_Item {color:#FFFFFF; font-size:83%; text-decoration:none; font-weight:bold}
.CS_TBar_Item_Selected {color:#FFFFFF; font-size:83%; text-decoration:none; font-weight:bold}
.CS_TBar_SpacingCell {background-color:#000000}
.CS_TBar_ItemCell {background-color:#000000}
.CS_TBar_ItemCell_Selected {font-size:83%; text-decoration:none; font-weight:bold; text-align:center}

/* Tasks */

/* Text Around Image */
.CS_TAI_Caption {text-decoration:none; text-align:center; font-weight:bold}
.CS_TAI_Text {font-size:83%}
.CS_TAI_Image {text-align:center; text-decoration:none}

/* Textblock, Simple Link */
.CS_Textblock_Caption {text-decoration:none; text-align:left; font-weight:bold}
.CS_Textblock_Text {font-size:83%}

/* External Content (Web Process) */

/* Any Formatted Textblock */
.CS_RT_TABLE {padding:0; margin:0}
.CS_RT_TH {text-align:center; font-weight:bold}
.CS_RT_TD {text-align:left; vertical-align:top}
.CS_RT_UL {list-style-type:circle}
.CS_RT_OL {list-style-type:decimal}
.CS_RT_LI {list-style-position:outside}
.CS_RT_Image {text-decoration:none; border-style:none}

/* Forums element */

/* Query by Example */
.CS_QBE_Form {padding:0; margin:0}
.CS_QBE_Label {text-align:right; font-size:83%; vertical-align:text-top}
.CS_QBE_Label_Baseline {text-align:right; font-size:83%; vertical-align:baseline}
.CS_QBE_DropDown_Item {font-size:83%}
.CS_QBE_Description {font-size:69%}
.CS_QBE_Button {text-align:center; font-size:83%}

/* Facet Navigator */
.CS_Element_FacetNav {font-weight:normal}
.CS_FacetNav_BreadCrumb {font-weight:normal}
.CS_FacetNav_BreadCrumb_Facet {font-weight:normal}
.CS_FacetNav_BreadCrumb_Separator {font-weight:normal}
.CS_FacetNav_BreadCrumb_Term {font-weight:normal}
.CS_FacetNav_Navigator_List {font-weight:normal}
.CS_FacetNav_Navigator_List_Facet {font-weight:bold; font-size:83%}
.CS_FacetNav_Navigator_List_Term {font-size:83%}
.CS_FacetNav_Navigator_List_Count {font-size:83%}
.CS_FacetNav_BreadCrumb_Term_Current {font-weight:bold}

