/* CAS Style Sheet */

/* Admissions Background Image */
.wrap.top-admissions-info {
	background: url(/clients/Auyoga/Images/top-ad-info.jpg) no-repeat bottom right;
}

/* Home Page Info Box */
.info-box {
	margin-bottom: 15px;
}

/* Call to Action Yellow general
------------------------------------ */
.cta-btn {
	background: #f4c52f url(/clients/Auyoga/Images/cta-arrows-white.png) right 0 no-repeat;
}
.cta-btn:hover {
	background: #d49d15 url(/clients/Auyoga/Images/cta-arrows-white.png) right -15px no-repeat;
}

