 ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, div.paragraph, blockquote, fieldset, input { margin: 0; padding: 0; }
 ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, p, blockquote, fieldset, input { margin: 0; padding: 0; }
 ul { list-style: none; }
 fieldset { border: 0; }
 a img { border: 0; }
 .clear { clear: both; font-size: 0; height: 0; }
 a { color: #9e3603; text-decoration: none; }
 a:hover { color: #d35315; text-decoration: none; }
 body { font-family: Arial, Helvetica, sans-serif; font-size: 13px; color: #6f6f6f; margin: 0; padding: 0; background: #ffffff; }
 div.paragraph { line-height: 1.5; padding: .5em 0; }
 p { line-height: 1.5; padding: .5em 0; }
 h1, h2, h3, h4 { font-size: 20px; font-weight: normal; padding: .5em 0 .2em 0; }
 h1 { font-size: 30px; line-height: 1; color: #fff; }
 h2, h3 { line-height: 1.2; color: #6f6f6f; }
 h4 { font-size: 14px; line-height: 1.2; }
 blockquote { font-style:italic; border-left:4px solid #ddd; margin:10px 0 10px 0; padding-left:20px; line-height:1.5; color:#888; }
 .container { width: 818px; margin: 0 auto; top: -30px;  }
 #inner-section { background: #fff; }
 #header-wrap { border-bottom: #eaeaea 14px solid; border-top: #eaeaea 4px solid; background: url(/clients/BalletTheatreCompany/Images/header-bg.png?432041); padding-bottom: 20px; }
 #header-top { width: 818px; margin: 0 auto; }
 #header-top .phone-number a { color: #afafaf; }
 #header-top .phone-number a:hover { color: #fff; }
 #logo, #logo a { font-family: Georgia, "Times New Roman", Times, serif; text-decoration: none; font-size: 40px; color: #fff; font-weight: normal; }
 #navigation { line-height: 1; background: url(/clients/BalletTheatreCompany/Images/nav.png?432041) repeat-x; }
 #nav-l { background: url(/clients/BalletTheatreCompany/Images/nav-l.png?432041) no-repeat; padding: 0 0 0 14px; }
 #nav-r { background: url(/clients/BalletTheatreCompany/Images/nav-r.png?432041) right top no-repeat; padding: 0 14px 0 0; }
 #navigation ul { }
 #navigation li { float: left; position: relative; }
 #navigation li a { font-family: Arial, Helvetica, sans-serif; float: left; display: block; color: #181818; font-size: 12px; font-weight: normal; text-decoration: none; padding: 0 15px; height: 51px; line-height: 51px; outline: 0; border: 0; text-transform: uppercase; }
 #navigation li a:hover, #navigation li#active a { color: #9e3603; background: url(/clients/BalletTheatreCompany/Images/nav-over.png?432041); }
 #wsite-menus .wsite-menu li a { padding: 10px; color: #181818; background: #eaeaea; border: 0; border-bottom: 1px solid #d2d2d2; }
 #wsite-menus .wsite-menu li a:hover { background: #dddddd; color: #9e3603; }
 #header { width: 100%; height: 110px; }
 #header, #header table { border-collapse: collapse; border-spacing: 0; }
 #header td { vertical-align: middle; text-align: left; }
 #logo { padding: 25px 0 25px 15px; }
 #header-right { padding: 0 15px 0 10px; }
 #header-right table { float: right; width: 1px; }
 #header-right td { padding: 0; }
 #header-right .phone-number .wsite-text { color: #fff; text-align: right; font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: bold; display: block; white-space: nowrap; margin: 0 0 0 10px; }
 #header-right .wsite-social { vertical-align: middle; margin: 0 0 0 12px; }
 .wsite-social-item { width: 23px; height: 23px; margin: 0 0 0 3px; background-image:url(/clients/BalletTheatreCompany/Images/social-grey.png?432041); }
 .wsite-social-facebook {background-position:0 0;}
 .wsite-social-facebook:hover {background-position:0 -23px;}
 .wsite-social-facebook:active {background-position:0 -46px;}
 .wsite-social-pinterest {background-position:-23px 0;}
 .wsite-social-pinterest:hover {background-position:-23px -23px;}
 .wsite-social-pinterest:active {background-position:-23px -46px;}
 .wsite-social-twitter {background-position:-46px 0;}
 .wsite-social-twitter:hover {background-position:-46px -23px;}
 .wsite-social-twitter:active {background-position:-46px -46px;}
 .wsite-social-linkedin {background-position:-69px 0;}
 .wsite-social-linkedin:hover {background-position:-69px -23px;}
 .wsite-social-linkedin:active {background-position:-69px -46px;}
 .wsite-social-mail {background-position:-92px 0;}
 .wsite-social-mail:hover {background-position:-92px -23px;}
 .wsite-social-mail:active {background-position:-92px -46px;}
 .wsite-social-rss {background-position:-115px 0;}
 .wsite-social-rss:hover {background-position:-115px -23px;}
 .wsite-social-rss:active {background-position:-115px -46px;}
 .wsite-social-flickr {background-position:-138px 0;}
 .wsite-social-flickr:hover {background-position:-138px -23px;}
 .wsite-social-flickr:active {background-position:-138px -46px;}
 .wsite-social-plus {background-position:-161px 0;}
 .wsite-social-plus:hover {background-position:-161px -23px;}
 .wsite-social-plus:active {background-position:-161px -46px;}
 .wsite-social-vimeo {background-position:-184px 0;}
 .wsite-social-vimeo:hover {background-position:-184px -23px;}
 .wsite-social-vimeo:active {background-position:-184px -46px;}
 .wsite-social-yahoo {background-position:-207px 0;}
 .wsite-social-yahoo:hover {background-position:-207px -23px;}
 .wsite-social-yahoo:active {background-position:-207px -46px;}
 .wsite-social-youtube {background-position:-230px 0;}
 .wsite-social-youtube:hover {background-position:-230px -23px;}
 .wsite-social-youtube:active {background-position:-230px -46px;}
 #header-right .search { clear: right; float: right; }
 #header-right .wsite-search { display: inline-block; background: transparent url(/clients/BalletTheatreCompany/Images/searchForm-bg.png?432041) no-repeat; margin: 0 0 0 15px; }
 #header-right .wsite-search-input { width: 150px; height: 12px; border: 0; padding: 6px 10px 5px !important; background: none; font-family: Arial, Helvetica, sans-serif; color: #010101; vertical-align: top; font-size: 12px; }
 #header-right .wsite-search-button { display: inline-block; vertical-align: top; width: 31px; height: 24px; border: 0; margin: 0; padding: 0; cursor: pointer; font-size: 0; background: none; }
 #footer-wrap { border-top: 8px solid #eaeaea; background: url(/clients/BalletTheatreCompany/Images/footer.png?432041); min-width: 780px; }
 #footer { margin: 0 auto; width: 750px; padding: 20px 15px 25px; color: #afafaf; font-size: 12px; text-align: right; background: url(/clients/BalletTheatreCompany/Images/footer-highlight.png?432041); }
 #footer a { color: #FFFFFF; }
 #footer a:hover { color: #fff; text-decoration:underline; }
 #footer-right { float: right; width: 240px; text-align: right; display: none; }
 #footer blockquote { border-left:4px solid #666; color:#999; }
 #footer h2 { color: #ccc; }
 .rights { line-height: 19px; vertical-align: middle; }
 .wsite-footer { margin-bottom: 15px; }
 #footer h2 { font-size:18px; border-bottom:1px solid #ccc; }
 .wsite-form-container { margin-top:0px !important; text-align:left !important; }
 .wsite-footer .wsite-form-label { font-size: 1em !important; padding: 5px 0 2px 0 !important; color:#ccc; }
 .wsite-footer .wsite-form-field { width:300px !important; }
 .wsite-footer .form-radio-container { font-size:1em !important; }
 .wsite-footer .wsite-form-input { font-size: 1em !important; width: 100% !important; background-color:#fff; }
 .wsite-footer .form-select { width: 100% !important; background-color:#fff; }
 #main { padding: 25px 17px; }
 #banner, #banner-left { padding: 5px; border: 1px solid #d9d9d9; background: #fff; }
 .wsite-header { }
 #content { min-height: 400px; padding: 20px 0 0; }
 .tall-header-page .wsite-header { height: 186px; background: url(/clients/BalletTheatreCompany/Images/banner-tall.jpg?432041) no-repeat; }
 .short-header-page .wsite-header { height: 106px; background: url(/clients/BalletTheatreCompany/Images/banner-short.jpg?432041) no-repeat; }
 .no-header-page #banner { display: none; }
 .no-header-page #content { padding-top: 10px; }
 .no-header-page .wsite-header { }
 .no-header-page #banner-top { display: none; }
 .no-header-page #banner-bot { display: none; }
 .landing-page #banner { background: #fff; padding: 0 0 25px; border: none; border-bottom: 1px solid #eaeaea; }
 #banner-left { float: left; width: 332px; }
 #banner-left .wsite-header { height: 216px; background: url(/clients/BalletTheatreCompany/Images/banner-landing.jpg?432041) no-repeat; }
 #banner-right { float: left; width: 365px; padding: 25px 0 0 35px; }
 #banner-right h2 { font-size: 24px; font-weight: bold; color: #6f6f6f; margin: 0; }
 #banner-right div.paragraph { font-size: 15px; line-height: 21px; padding-bottom: 25px; }
 #banner-right p { font-size: 15px; line-height: 21px; padding-bottom: 25px; }
 .splash-page .wsite-header { height: 106px; background: url(/clients/BalletTheatreCompany/Images/banner-splash.jpg?432041) no-repeat; }
 .splash-page #container { width: 500px; }
 .splash-page .social, .splash-page .search, .splash-page .phone-number { display: none; }
 .splash-page #main { padding-top: 0; }
 .splash-page #navigation { display: none; }
 .splash-page #content { height: auto !important; min-height: 300px; }
 .splash-page #footer { width: 470px; text-align: center; }
 .wsite-form-label { display: inline-block; color: #6f6f6f; font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: normal; padding: 12px 0 2px 0; }
 .form-radio-container { }
 .wsite-form-input, .wsite-search-element-input { font-family: Arial, Helvetica, sans-serif; font-size: 13px; background: #fff; color: #6f6f6f; border: 1px solid #b3b3b3; padding: 7px 5px 6px 5px !important; line-height: 1; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
 .form-select { font-family: Arial, Helvetica, sans-serif; font-size: 13px; background: #fff; color: #6f6f6f; border: 1px solid #b3b3b3; padding: 3px; height: 26px; line-height: 26px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
 .wsite-button { color: #181818 !important; height: 34px; display: inline-block; text-transform: uppercase; font-size: 14px; border: none; font-weight: bold; text-decoration: none; padding: 0 10px 0 0; background: url(/clients/BalletTheatreCompany/Images/button.png?432041) no-repeat 100% -105px; text-shadow:0 1px 0 rgba(255,255,255,0.8); }
 .wsite-button:hover { background-position: 100% -140px; }
 .wsite-button:active { background-position: 100% -175px; }
 .wsite-button-inner { height: 34px; line-height: 34px; display: block; font-size: 14px; font-weight: bold; border: none; text-decoration: none; padding: 0 10px 0 20px; background: url(/clients/BalletTheatreCompany/Images/button.png?432041) no-repeat 0 0; }
 .wsite-button:hover .wsite-button-inner { background-position: 0 -35px; }
 .wsite-button:active .wsite-button-inner { background-position: 0 -70px; }
 .wsite-button-large { height: 41px; background: url(/clients/BalletTheatreCompany/Images/button_large.png?432041) no-repeat 100% -126px; padding: 0 10px 0 0; }
 .wsite-button-large:hover { background-position: 100% -168px; }
 .wsite-button-large:active { background-position: 100% -210px; }
 .wsite-button-large .wsite-button-inner { height: 41px; line-height: 41px; padding: 0 10px 0 20px; background: url(/clients/BalletTheatreCompany/Images/button_large.png?432041) no-repeat 0 0; }
 .wsite-button-large:hover .wsite-button-inner { background-position: 0 -42px; }
 .wsite-button-large:active .wsite-button-inner { background-position: 0 -84px; }
 .wsite-button-large.wsite-button-highlight { background-image: url(/clients/BalletTheatreCompany/Images/button_large_highlight.png?432041); }
 .wsite-button-large.wsite-button-highlight .wsite-button-inner { background-image: url(/clients/BalletTheatreCompany/Images/button_large_highlight.png?432041); }
 .wsite-button-highlight { background-image: url(/clients/BalletTheatreCompany/Images/button_highlight.png?432041); color: #fff !important; text-shadow:0 -1px 0 rgba(0,0,0,1); }
 .wsite-button-highlight .wsite-button-inner { background-image: url(/clients/BalletTheatreCompany/Images/button_highlight.png?432041); }

div.paragraph ul, div.paragraph ol { padding-left: 2.3em !important; margin: 5px 0 !important; overflow:hidden; }
div.paragraph li { padding-left: 5px !important; margin: 3px 0 0 !important; }
div.paragraph ul, div.paragraph ul li { list-style: disc outside !important; }
div.paragraph ol, div.paragraph ol li { list-style: decimal outside !important; }
blockquote { margin: 10px 0; padding-left: 20px; border-left: 4px solid #ddd; font-style: italic; line-height: 170%; }