body
{background-color: #fff; color: #000; margin: 0; font-family: 'Open Sans', sans-serif;}
a{text-decoration: none;}
.page-header
{background-color: #2B2B2B; color:#fff; margin:0;}
.title
{margin-top: 1%; margin-bottom:1%;}

.title span
{line-height: 36px;
font-size: 30px;
letter-spacing: -1px;
word-break: keep-all;
font-family: raleway, sans-serif;
font-weight: 700;}

.title
a{text-decoration: none;}
.red
{color: #C23C2E;}
.white
{color: #fff;}

.content
{padding: 3%;}
