BODY {
	PADDING-RIGHT: 0px; 
	PADDING-LEFT: 0px; 
	FONT-SIZE: 72%; 
	PADDING-BOTTOM: 0px; 
	MARGIN: 0px; 
	LINE-HEIGHT: 130%; 
	PADDING-TOP: 0px; 
	FONT-FAMILY: Arial, Helvetica, sans-serif; 
	BACKGROUND-COLOR: #000000
}
#container {
	PADDING-RIGHT: 0px; 
	PADDING-LEFT: 0px; 
	Z-INDEX: 200;
	MIN-HEIGHT: 850px; 
	PADDING-BOTTOM: 0px; 
	MARGIN: 0px auto; 
	WIDTH: 800px; 
	PADDING-TOP: 0px; 
	HEIGHT: 100%; 
	BACKGROUND-COLOR: #ffffff
}
* HTML #container {
	WIDTH: 800px
}
#header {
	FLOAT: left; WIDTH: 100%; COLOR: #0093d3; MARGIN-RIGHT: 0px; HEIGHT: 30px
}
#header P {
	PADDING-RIGHT: 15px; FONT-SIZE: 95%; TEXT-ALIGN: right
}
#header A {
	COLOR: #0093d3; TEXT-DECORATION: none
}
#header A:hover {
	COLOR: #0093d3; TEXT-DECORATION: underline
}
#logo {
	FLOAT: left; MARGIN-LEFT: 3px; WIDTH: 500px; BACKGROUND-COLOR: #ffffff
}
#images {
	FLOAT: left; MARGIN: 0px; WIDTH: 550px; BACKGROUND-COLOR: #ffffff
}
#rightimage {
	Z-INDEX: 5000; FLOAT: left; MARGIN: 13px 20px 100px 0px; WIDTH: 170px; COLOR: #ffffff; HEIGHT: 100px; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left
}
#season {
	FLOAT: left; MARGIN-LEFT: 15px; WIDTH: 500px; HEIGHT: 160px; BACKGROUND-COLOR: #ffffff
}
#season A {
	COLOR: #0093d3; TEXT-DECORATION: none
}
#season A:hover {
	COLOR: #0093d3; TEXT-DECORATION: underline
}
#box1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; Z-INDEX: 5000; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 15px 25px; WIDTH: 152px; COLOR: #ffffff; PADDING-TOP: 5px; HEIGHT: 90px; BACKGROUND-COLOR: #0093d3; TEXT-ALIGN: left
}
#box1 A {
	COLOR: #ffffff; TEXT-DECORATION: none
}
#box1 A:hover {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
#box2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; Z-INDEX: 5000; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 5px 25px; WIDTH: 152px; COLOR: #ffffff; PADDING-TOP: 5px; HEIGHT: 90px; BACKGROUND-COLOR: #0093d3; TEXT-ALIGN: left
}
#box2 A {
	COLOR: #ffffff; TEXT-DECORATION: none
}
#box2 A:hover {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
#box3 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 10px; Z-INDEX: 5000; FLOAT: right; PADDING-BOTTOM: 0px; MARGIN: 0px 25px 5px 0px; WIDTH: 147px; COLOR: #ffffff; PADDING-TOP: 5px; HEIGHT: 200px; BACKGROUND-COLOR: #0093d3; TEXT-ALIGN: left
}
#box3 A {
	COLOR: #ffffff; TEXT-DECORATION: none
}
#box3 A:hover {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
#box4 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 10px; Z-INDEX: 5000; FLOAT: right; PADDING-BOTTOM: 0px; MARGIN: 0px 25px 5px 0px; WIDTH: 147px; COLOR: #ffffff; PADDING-TOP: 5px; HEIGHT: 200px; BACKGROUND-COLOR: #0093d3; TEXT-ALIGN: left
}
#box4 A {
	COLOR: #ffffff; TEXT-DECORATION: none
}
#box4 A:hover {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
#box5 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; Z-INDEX: 5000; FLOAT: right; PADDING-BOTTOM: 0px; MARGIN: 0px 55px 120px 0px; WIDTH: 152px; COLOR: #ffffff; PADDING-TOP: 0px; HEIGHT: 205px; BACKGROUND-COLOR: #0093d3; TEXT-ALIGN: left
}
* HTML #box5 {
	MARGIN: 0px 15px 120px 0px; 
}
#box5 A {
	COLOR: #ffffff; TEXT-DECORATION: none
}
#box5 A:hover {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
#box5 H1 A {
	COLOR: #ebf77d; TEXT-DECORATION: none
}
#box5 H1 A:hover {
	COLOR: #ebf77d; TEXT-DECORATION: underline
}
#box6 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 10px; Z-INDEX: 5000; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px 10px 15px 0px; WIDTH: 162px; COLOR: #ffffff; PADDING-TOP: 5px; BACKGROUND-COLOR: #0093d3; TEXT-ALIGN: left
}
* HTML #box6 {
	MARGIN: 0px 0px 15px; margin: 0px 0px 15px 0px
}
#box6 A {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
#box6 A:hover {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
#vert_nav {
	PADDING-RIGHT: 0px; 
	PADDING-LEFT: 0px; 
	Z-INDEX: 5000; 
	FLOAT: left; 
	PADDING-BOTTOM: 0px; 
	MARGIN: 0px 20px 0px 25px; 
	WIDTH: 162px; 
	PADDING-TOP: 0px; 
	BACKGROUND-COLOR: #0093d3; 
	TEXT-ALIGN: left;
	
}
#vert_nav A {
	PADDING-RIGHT: 15px; 
	DISPLAY: block; 
	PADDING-LEFT: 10px; 
	FONT-WEIGHT: bold; 
	Z-INDEX: 5000; 
	PADDING-BOTTOM: 3px; 
	COLOR: #ebf77d; 
	PADDING-TOP: 3px; 
	LIST-STYLE-TYPE: none; 
	TEXT-ALIGN: left; 
	TEXT-DECORATION: none
}

* HTML #vert_nav A {
	padding: 5px 15px 3px 10px;
}

#vert_nav A:hover {
	DISPLAY: block; Z-INDEX: 5000; BACKGROUND-COLOR: #0093d3; TEXT-DECORATION: none
}
#vert_nav A:active {
	DISPLAY: block; Z-INDEX: 5000; BACKGROUND-COLOR: #ffffff; TEXT-DECORATION: none
}
#vert_nav A.expand {
	BACKGROUND: url(/PrivateLabel/ChicagoOperaTheater/Images/blue_right_arrow.jpg) #ffffff no-repeat right 50%
}
#vert_nav A.expand:visited {
	BACKGROUND: url(/PrivateLabel/ChicagoOperaTheater/Images/blue_right_arrow.jpg) #ffffff no-repeat right 50%
}
#vert_nav A.expand:hover {
	BACKGROUND-IMAGE: none; BACKGROUND-COLOR: #0093d3
}
#vert_nav UL {
	BORDER-RIGHT: #0093d3 1px solid; 
	PADDING-RIGHT: 0px; 
	BORDER-TOP: #0093d3 1px solid; 
	PADDING-LEFT: 0px; 
	Z-INDEX: 5000; 
	PADDING-BOTTOM: 
	0px; MARGIN: 0px; 
	BORDER-LEFT: #0093d3 1px solid; 
	COLOR: #ffffff; 
	PADDING-TOP: 0px; 
	BORDER-BOTTOM: #0093d3 1px solid; 
	LIST-STYLE-TYPE: none; 
	BACKGROUND-COLOR: #0093d3
}

#vert_nav UL LI:hover A {
	BACKGROUND: #ffffff; COLOR: #0093d3
}
#vert_nav LI {
	Z-INDEX: 5000; POSITION: relative; BACKGROUND-COLOR: #0093d3
}
#vert_nav LI:hover {
	Z-INDEX: 5000; COLOR: #0093d3; POSITION: relative; BACKGROUND-COLOR: #0093d3
}
#vert_nav LI:active {
	COLOR: #0093d3; BACKGROUND-COLOR: #ffffff
}
#vert_nav LI A:hover {
	Z-INDEX: 5000; COLOR: #0093d3; BACKGROUND-COLOR: #ffffff
}
#vert_nav LI A:active {
	Z-INDEX: 5000; COLOR: #0093d3; BACKGROUND-COLOR: #ffffff
}
#vert_nav LI UL {
	Z-INDEX: 5000; LEFT: -999em; WIDTH: 140px; POSITION: absolute; TOP: 0px; BACKGROUND-COLOR: #0093d3
}
DIV#vert_nav UL UL {
	DISPLAY: none
}
DIV#vert_nav UL UL UL {
	DISPLAY: none
}
DIV#vert_nav UL LI:hover UL UL {
	DISPLAY: none
}
DIV#vert_nav UL LI:hover UL UL UL {
	DISPLAY: none
}
DIV#vert_nav UL LI:hover UL {
	DISPLAY: block
}
DIV#vert_nav UL UL LI:hover UL {
	DISPLAY: block
}
DIV#vert_nav UL UL UL LI:hover UL {
	DISPLAY: block
}
#vert_nav LI UL A {
	PADDING-RIGHT: 15px; PADDING-LEFT: 10px; PADDING-BOTTOM: 5px; COLOR: #0093d3; PADDING-TOP: 5px
}
#vert_nav LI UL LI:hover {
	COLOR: #0093d3; BACKGROUND-COLOR: #ffffff
}
#vert_nav LI UL LI A:hover {
	COLOR: #ebf77d; BACKGROUND-COLOR: #0093d3
}
#vert_nav LI:hover UL {
	DISPLAY: block; Z-INDEX: 5000; LEFT: 100%; align: top
}
#vert_nav LI.over UL {
	DISPLAY: block; Z-INDEX: 5000; LEFT: 100%; align: top
}


#vert_nav a.sub1 {
color: #ffffff;
font-weight: normal;
text-decoration: none;
background-color: none;
background: none;
display: inline;
padding: 0px 0px 0px 0px;
}

#vert_nav a.sub1:hover {
color: #EBF77D;
background-color: none;
background: none;
}

#vert_nav a.sub1:active {
color: #EBF77D;
background-color: none;
background: none;
}





#vert_nav A.sub {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 18px; FONT-WEIGHT: normal; 
	PADDING-BOTTOM: 0px; COLOR: #ffffff; PADDING-TOP: 5px; TEXT-DECORATION: none
}
#vert_nav A.sub:hover {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #ebf77d
}
#vert_nav A.sub:active {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #ebf77d
}
#vert_nav A.subsub {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 30px; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; COLOR: #ffffff; PADDING-TOP: 0px; TEXT-DECORATION: none
}
#vert_nav A.subsub:hover {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #ebf77d
}
#vert_nav A.subsub:active {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #ebf77d
}
#vert_nav P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 18px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#maincol {
	MIN-HEIGHT: 610px; FLOAT: left; MARGIN: 65px 5px 0px 0px; WIDTH: 375px; BACKGROUND-COLOR: #ffffff
}
* HTML #maincol {
	WIDTH: 550px
}
#maincol A {
	COLOR: #0093d3; TEXT-DECORATION: none
}
#maincol A:hover {
	COLOR: #0093d3; TEXT-DECORATION: underline
}
#widecol {
	MIN-HEIGHT: 700px; FLOAT: left; MARGIN: 65px 5px 0px 0px; WIDTH: 540px; BACKGROUND-COLOR: #ffffff
}
* HTML #widecol {
	HEIGHT: 700px; hight: 700px
}
#widecol A {
	COLOR: #0093d3; TEXT-DECORATION: none
}
#widecol A:hover {
	COLOR: #0093d3; TEXT-DECORATION: underline
}
#biocol {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FLOAT: left; PADDING-BOTTOM: 10px; MARGIN: 0px 7px; WIDTH: 350px; PADDING-TOP: 15px; BACKGROUND-COLOR: #ffffff
}
#biocol A {
	COLOR: #0093d3; TEXT-DECORATION: none
}
#biocol A:hover {
	COLOR: #0093d3; TEXT-DECORATION: underline
}
#biocol IMG {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; BORDER-LEFT: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid
}
#footer {
	CLEAR: both; MARGIN: 0px; OVERFLOW: hidden; WIDTH: 100%; COLOR: #0093d3; HEIGHT: 40px
}
#footer P {
	PADDING-RIGHT: 15px; FONT-SIZE: 95%; TEXT-ALIGN: right
}
#footer A {
	COLOR: #0093d3; TEXT-DECORATION: none
}
#footer A:hover {
	COLOR: #0093d3; TEXT-DECORATION: underline
}
.white {
	COLOR: #ffffff
}
.yellowtext {
	COLOR: #ebf77d
}
.yellowtext {
	COLOR: #ebf77d
}
H1.yellow {
	FONT-SIZE: 150%; COLOR: #ebf77d; LINE-HEIGHT: 120%; align: top
}
H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 150%; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #0093d3; PADDING-TOP: 0px
}
H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 130%; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #000000; PADDING-TOP: 0px
}
.arrowdiv {
	FLOAT: right
}
IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
IMG A {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
BLOCKQUOTE {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; TEXT-INDENT: -3px; PADDING-TOP: 0px
}
#button {
	FLOAT: left; MARGIN: 0px 0px 15px; COLOR: #ffffff
}
#button A {
	BORDER-RIGHT: #0093d3 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #0093d3 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 3px; BORDER-LEFT: #0093d3 1px solid; COLOR: #ffffff; PADDING-TOP: 3px; BORDER-BOTTOM: #0093d3 1px solid; BACKGROUND-COLOR: #0093d3; TEXT-DECORATION: none
}
#button A:hover {
	BORDER-RIGHT: #0093d3 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #0093d3 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 3px; BORDER-LEFT: #0093d3 1px solid; COLOR: #0093d3; PADDING-TOP: 3px; BORDER-BOTTOM: #0093d3 1px solid; BACKGROUND-COLOR: #ffffff; TEXT-DECORATION: none
}
.season {
	COLOR: #0093d3
}
#seasoncol {
	BORDER-RIGHT: #0093d3 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #0093d3 1px solid; PADDING-LEFT: 10px; MIN-HEIGHT: 700px; FLOAT: left; PADDING-BOTTOM: 10px; MARGIN: 15px 7px 0px 0px; BORDER-LEFT: #0093d3 1px solid; WIDTH: 150px; COLOR: #0093d3; PADDING-TOP: 15px; BORDER-BOTTOM: #0093d3 1px solid
}
#seasonwidecol {
	BORDER-RIGHT: #0093d3 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #0093d3 1px solid; PADDING-LEFT: 10px; MIN-HEIGHT: 700px; FLOAT: left; PADDING-BOTTOM: 10px; MARGIN: 15px 7px 0px 0px; BORDER-LEFT: #0093d3 1px solid; WIDTH: 540px; COLOR: #0093d3; PADDING-TOP: 15px; BORDER-BOTTOM: #0093d3 1px solid
}
#seasoncol A {
	COLOR: #0093d3; TEXT-DECORATION: underline
}
#seasoncol A:hover {
	COLOR: #0093d3; TEXT-DECORATION: underline
}
#seasonwidecol A {
	COLOR: #0093d3; TEXT-DECORATION: underline
}
#seasonwidecol A:hover {
	COLOR: #0093d3; TEXT-DECORATION: underline
}
.education {
	COLOR: #ff0066
}
#educationcol {
	BORDER-RIGHT: #ff0066 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #ff0066 1px solid; PADDING-LEFT: 10px; MIN-HEIGHT: 700px; FLOAT: left; PADDING-BOTTOM: 10px; MARGIN: 15px 7px 0px 0px; BORDER-LEFT: #ff0066 1px solid; WIDTH: 150px; COLOR: #ff0066; PADDING-TOP: 15px; BORDER-BOTTOM: #ff0066 1px solid
}
#educationwidecol {
	BORDER-RIGHT: #ff0066 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #ff0066 1px solid; PADDING-LEFT: 10px; MIN-HEIGHT: 700px; FLOAT: left; PADDING-BOTTOM: 10px; MARGIN: 15px 7px 0px 0px; BORDER-LEFT: #ff0066 1px solid; WIDTH: 540px; COLOR: #ff0066; PADDING-TOP: 15px; BORDER-BOTTOM: #ff0066 1px solid
}
#educationcol A {
	COLOR: #ff0066; TEXT-DECORATION: underline
}
#educationcol A:hover {
	COLOR: #ff0066; TEXT-DECORATION: underline
}
#educationwidecol A {
	COLOR: #ff0066; TEXT-DECORATION: underline
}
#educationwidecol A:hover {
	COLOR: #ff0066; TEXT-DECORATION: underline
}
.donor {
	COLOR: #66cc00
}
#donorcol {
	BORDER-RIGHT: #66cc00 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #66cc00 1px solid; PADDING-LEFT: 10px; MIN-HEIGHT: 700px; FLOAT: left; PADDING-BOTTOM: 10px; MARGIN: 15px 7px 0px 0px; BORDER-LEFT: #66cc00 1px solid; WIDTH: 150px; COLOR: #66cc00; PADDING-TOP: 15px; BORDER-BOTTOM: #66cc00 1px solid
}
#donorwidecol {
	BORDER-RIGHT: #66cc00 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #66cc00 1px solid; PADDING-LEFT: 10px; MIN-HEIGHT: 700px; FLOAT: left; PADDING-BOTTOM: 10px; MARGIN: 15px 7px 0px 0px; BORDER-LEFT: #66cc00 1px solid; WIDTH: 540px; COLOR: #66cc00; PADDING-TOP: 15px; BORDER-BOTTOM: #66cc00 1px solid
}
#donorcol A {
	COLOR: #66cc00; TEXT-DECORATION: underline
}
#donorcol A:hover {
	COLOR: #66cc00; TEXT-DECORATION: underline
}
#donorwidecol A {
	COLOR: #66cc00; TEXT-DECORATION: underline
}
#donorwidecol A:hover {
	COLOR: #66cc00; TEXT-DECORATION: underline
}
