/* CSS Document */

body {
font-family: Arial, Helvetica, sans-serif;
background-color:#000000;
font-size: 72%;
line-height: 130%;
padding: 0;
margin: 0; 
}
 
#container {
background-color:#ffffff;
padding: 0px;
margin: 0px auto;
width: 800px;
height: 100%;
min-height: 850px;
z-index: 200;
}

* html #container {
width: 800px;
w\idth: 800px;
}

/* header styles ---------------------------------------------------------------------- */

#header {
float: left;
margin-right: 0px;
width: 100%;
height: 30px;
color: #0093D3;
}

#header p {
text-align: right;
font-size: 95%;
padding-right: 15px;
}

#header a {
color: #0093D3;
text-decoration: none;
}

#header a:hover {
color: #0093D3;
text-decoration: underline;
}



/* logo styles ---------------------------------------------------------------------- */

#logo {
float: left;
width: 500px;
margin-left: 15px;
background-color: #ffffff;
}


/* home page styles ---------------------------------------------------------------------- */

#images {
float: left;
width: 550px;
margin: 0px;
background-color: #FFFFFF;
}

#rightimage {
float: left;
color: #FFFFFF;
text-align: left;
width: 170px;
background-color: #ffffff;
margin: 13px 20px 100px 0px;
height: 100px;
z-index: 5000;
}

#season {
float: left;
width: 500px;
margin-left: 15px;
background-color: #FFFFFF;
height: 160px;
}

#season a {
color: #0093D3;
text-decoration: none;
}

#season a:hover {
color: #0093D3;
text-decoration: underline;
}

#box1 {
float: left;
color: #FFFFFF;
text-align: left;
width: 152px;
background-color: #0093D3;
padding: 5px 0px 0px 10px;
margin: 0px 0px 15px 25px;
height: 90px;
z-index: 5000;
}

#box1 a {
color: #ffffff;
text-decoration: none;
}

#box1 a:hover {
color: #ffffff;
text-decoration: underline;
}

#box2 {
float: left;
color: #FFFFFF;
text-align: left;
width: 152px;
background-color: #0093D3;
padding: 5px 0px 0px 10px;
height: 90px;
margin: 0px 0px 5px 25px;
z-index: 5000;
}

#box2 a {
color: #ffffff;
text-decoration: none;
}

#box2 a:hover {
color: #ffffff;
text-decoration: underline;
}

#box3 {
float: right;
color: #FFFFFF;
text-align: left;
width: 147px;
background-color: #0093D3;
padding: 5px 5px 0px 10px;
height: 200px;
margin:0px 25px 5px 0px;
z-index: 5000;
}

#box3 a {
color: #ffffff;
text-decoration: none;
}

#box3 a:hover {
color: #ffffff;
text-decoration: underline;
}

#box4 {
float: right;
color: #FFFFFF;
text-align: left;
width: 147px;
background-color: #0093D3;
padding: 5px 5px 0px 10px;
height: 200px;
margin:0px 25px 5px 0px;
z-index: 5000;
}

#box4 a {
color: #ffffff;
text-decoration: none;
}

#box4 a:hover {
color: #ffffff;
text-decoration: underline;
}

#box5 {
float: right;
color: #FFFFFF;
text-align: left;
width: 152px;
background-color: #0093D3;
padding: 0px 0px 0px 10px;
height: 205px;
margin: 0px 55px 120px 0px;
z-index: 5000;
}

* html #box5 {
margin: 0px 15px 120px 0px;
m\argin: 0px 15px 120px 0px;
}

#box5 a {
color: #ffffff;
text-decoration: none;
}

#box5 a:hover {
color: #ffffff;
text-decoration: underline;
}

#box5 h1 a {
color: #EBF77D;
text-decoration: none;
}

#box5 h1 a:hover {
color: #EBF77D;
text-decoration: underline;
}

#box6 {
float: left;
color: #FFFFFF;
text-align: left;
width: 162px;
background-color: #0093D3;
padding: 5px 5px 0px 10px;
/*height: 205px;*/
margin: 0px 10px 15px 0px;
z-index: 5000;
}


* html #box6 {
margin: 0px 0px 15px 0px;
m\argin: 0px 0px 15px 0px;
}

#box6 a {
color: #ffffff;
text-decoration: underline;
}

#box6 a:hover {
color: #ffffff;
text-decoration: underline;
}


/* navigation styles ---------------------------------------------------------------------- */
#vert_nav {
float: left;
text-align: left;
width: 162px;
background-color: #0093D3;
padding:0px;
margin:0px 20px 0px 25px;
z-index: 5000;
}


#vert_nav a {
text-decoration: none;
color: #EBF77D;
font-weight: bold;
text-align: left;
list-style: none;
padding: 8px 15px 8px 10px;
display: block;
z-index: 5000;
}

* html #vert_nav a {
padding: 2px 15px 5px 10px;
p\adding: 2px 15px 0px 10px;
}

#vert_nav a:hover {
text-decoration: none;
background-color: #0093D3;
display: block;
z-index: 5000;
}

#vert_nav a:active {
text-decoration: none;
background-color: #ffffff;
display: block;
z-index: 5000;
}

#vert_nav a.expand, #vert_nav a.expand:visited{
background:#ffffff url(blue_right_arrow.jpg) no-repeat right;
}

#vert_nav a.expand:hover{
background-color: #0093D3;
background-image: none;
}


#vert_nav ul {
padding: 0px;
margin: 0px;
list-style: none;
background-color: #0093D3;
border: 1px solid #0093D3;
color: #ffffff;
z-index: 5000;
}

#vert_nav ul li:hover a {
color: #0093D3;
background: #ffffff;
}

#vert_nav li { 
/*float: left;*/
position: relative;
/*width: 200px; */
background-color: #0093D3;
z-index: 5000;
}

#vert_nav li:hover {
position: relative;
background-color: #0093D3;
color: #0093D3;
z-index: 5000;
}

#vert_nav li:active {
background-color: #ffffff;
color: #0093D3;
}

#vert_nav li a:hover {
background-color: #ffffff;
color: #0093D3;
z-index: 5000;
}

#vert_nav li a:active {
background-color: #ffffff;
color: #0093D3;
z-index: 5000;
}


#vert_nav li ul { /* second-level lists */
position: absolute;
width: 140px;
top: 0px;
left: -999em; /* using left instead of display to hide menus because display: none isn't read by screen readers */
background-color: #0093D3;
z-index: 5000;
}

div#vert_nav ul ul,
div#vert_nav ul ul ul,
div#vert_nav ul li:hover ul ul,
div#vert_nav ul li:hover ul ul ul
{display:none;}

div#vert_nav ul li:hover ul,
div#vert_nav ul ul li:hover ul,
div#vert_nav ul ul ul li:hover ul
{display:block;}

#vert_nav li ul a {
padding: 5px 15px 5px 10px;
color: #0093D3; 
}

#vert_nav li ul li:hover {
background-color: #ffffff;
color: #0093D3;
}

#vert_nav li ul li a:hover {
background-color: #0093D3;
color: #EBF77D;
}

#vert_nav li:hover ul, #vert_nav li.over ul { /* lists nested under hovered list items */
left: 100%;
align: top;
display: block;
z-index: 5000;
}

#vert_nav a.sub1 {
color: #ffffff;
font-weight: normal;
text-decoration: none;
background-color: none;
background: none;
display: inline;
padding: 0px 0px 0px 0px;
}

#vert_nav a.sub1:hover {
color: #EBF77D;
background-color: none;
background: none;
}

#vert_nav a.sub1:active {
color: #EBF77D;
background-color: none;
background: none;
}

#vert_nav a.sub {
color: #ffffff;
font-weight: normal;
text-decoration: none;
display: inline;
padding: 5px 0px 0px 18px;
}

#vert_nav a.sub:hover {
color: #EBF77D;
background-color: none;
background: none;
}

#vert_nav a.sub:active {
color: #EBF77D;
background-color: none;
background: none;
}

#vert_nav a.subsub {
color: #ffffff;
font-weight: normal;
text-decoration: none;
background-color: none;
background: none;
display: inline;
padding: 0px 0px 0px 30px;
}

#vert_nav a.subsub:hover {
color: #EBF77D;
background-color: none;
background: none;
}

#vert_nav a.subsub:active {
color: #EBF77D;
background-color: none;
background: none;
}

#vert_nav p {
padding: 0px 0px 0px 18px;
margin: 0px;
background-color: none;
background: none;
}


/* main column styles ---------------------------------------------------------------------- */
#maincol {
float: left;
width: 375px;
margin: 65px 5px 0px 0px;
min-height: 610px;
background-color: #FFFFFF;
}

* html #maincol {
width: 360px;
w\idth: 360px;
}

#maincol a {
color: #0093D3;
text-decoration: none;
}

#maincol a:hover {
color: #0093D3;
text-decoration: underline;
}


/* wide column styles ---------------------------------------------------------------------- */
#widecol {
float: left;
width: 540px;
margin: 65px 5px 0px 0px;
min-height: 700px;
background-color: #FFFFFF;
}

* html #widecol {
height: 700px;
h\eight: 700px;
}

#widecol a {
color: #0093D3;
text-decoration: none;
}

#widecol a:hover {
color: #0093D3;
text-decoration: underline;
}


/* bio column styles ---------------------------------------------------------------------- */
#biocol {
float: left;
width: 350px;
margin: 0px 7px 0px 7px;
padding: 15px 10px 10px 10px;
background-color: #FFFFFF;
}

#biocol a {
color: #0093D3;
text-decoration: none;
}

#biocol a:hover {
color: #0093D3;
text-decoration: underline;
}

#biocol img {
border: 1px solid #000000;
}


/* footer styles ---------------------------------------------------------------------- */
#footer {
clear: both;
margin: 0px;
margin-right: 0px;
width: 100%;
height: 40px;
color: #0093D3;
overflow: hidden;
}

#footer p {
text-align: right;
font-size: 95%;
padding-right: 15px;
}

#footer a {
color: #0093D3;
text-decoration: none;
}

#footer a:hover {
color: #0093D3;
text-decoration: underline;
}

/* other styles ---------------------------------------------------------------------- */
.white {
color: #FFFFFF;
}

.yellowtext {
color: #EBF77D;
}

.yellowtext {
color: #EBF77D;
}

h1.yellow {
color: #EBF77D;
align: top;
font-size: 150%;
line-height: 120%;
}

h1 {
color: #0093D3;
font-size: 150%;
padding: 0px;
margin: 0px;
}

h2 {
color: #000000;
font-weight: bold;
font-size: 130%;
padding: 0px;
margin: 0px;
}


.arrowdiv {
float: right;
}

img {
border: 0px;
}

img a {
border: 0px;
}

blockquote {
text-indent: -3px;
padding: 0px;
margin: 0px;
}

#button {
color: #0093D3;
float: left;
margin: 0px 0px 15px 0px;
font-size: 150%;
}

#button a {
background-color: #ffffff;
color: #0093D3;
padding: 5px 5px 5px 5px;
border: 1px solid #0093D3;
text-decoration: none;
}

#button a:hover{
background-color: #0093D3;
color:  #ffffff;
padding: 5px 5px 5px 5px;
border: 1px solid #0093D3;
text-decoration: none;
}

.season {
color: #0093D3;
}

#seasoncol {
float: left;
width: 150px;
margin: 15px 7px 0px 0px;
padding: 15px 10px 10px 10px; 
min-height: 700px;
color: #0093D3;
border: 1px solid #0093D3;
}

#seasonwidecol {
float: left;
width: 540px;
margin: 15px 7px 0px 0px;
padding: 15px 10px 10px 10px; 
min-height: 700px;
color: #0093D3;
border: 1px solid #0093D3;
}

#seasoncol a {
color: #0093D3;
text-decoration: underline;
}

#seasoncol a:hover {
color: #0093D3;
text-decoration: underline;
}

#seasonwidecol a {
color: #0093D3;
text-decoration: underline;
}

#seasonwidecol a:hover {
color: #0093D3;
text-decoration: underline;
}

.education {
color:#FF0066;
}


#educationcol {
float: left;
width: 150px;
margin: 15px 7px 0px 0px;
padding: 15px 10px 10px 10px; 
min-height: 700px;
color: #FF0066;
border: 1px solid #FF0066;
}

#educationwidecol {
float: left;
width: 540px;
margin: 15px 7px 0px 0px;
padding: 15px 10px 10px 10px; 
min-height: 700px;
color: #FF0066;
border: 1px solid #FF0066;
}

#educationcol a {
color: #FF0066;
text-decoration: underline;
}

#educationcol a:hover {
color: #FF0066;
text-decoration: underline;
}

#educationwidecol a {
color: #FF0066;
text-decoration: underline;
}

#educationwidecol a:hover {
color: #FF0066;
text-decoration: underline;
}

.donor {
color:#66CC00;
}

#donorcol {
float: left;
width: 150px;
margin: 15px 7px 0px 0px;
padding: 15px 10px 10px 10px; 
min-height: 700px;
color: #66CC00;
border: 1px solid #66CC00;
}

#donorwidecol {
float: left;
width: 540px;
margin: 15px 7px 0px 0px;
padding: 15px 10px 10px 10px; 
min-height: 700px;
color: #66CC00;
border: 1px solid #66CC00;
}

#donorcol a {
color: #66CC00;
text-decoration: underline;
}

#donorcol a:hover {
color: #66CC00;
text-decoration: underline;
}

#donorwidecol a {
color: #66CC00;
text-decoration: underline;
}

#donorwidecol a:hover {
color: #66CC00;
text-decoration: underline;
}

.blueborder {
border: 1px solid #0093D3;
}