@font-face {
  font-family: 'Helvetica Neue';
  src: url('/clients/Preview/m/Images/fonts/HelveticaNeueLTStd-Lt.otf') format('OpenType')
}
@font-face {
	font-family: 'Neutra Text';
	src: url('/clients/Preview/m/Images/fonts/NeutraTextBook.ttf') format('TrueType');
}

body {
	font-family:'Helvetica Neue';
	letter-spacing:.8px;
}
p,
.text-block li {
	font-size:1.12em;
	letter-spacing:.98px;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Neutra Text';
}

/*----- Header Styles -----*/
#logo a img {
	width:200px;
	max-width:200px;
}
.sticky-header #menu #menu-nav>li>ul {
	margin-top:-39px;
	margin-left:5px;
}
.nav-small #menu #menu-nav>li>ul {
	margin-top:1px;
}

.sticky-header #menu #menu-nav li a {
	font-size:1.1em;
}
.sticky-header #menu #menu-nav>li>ul>li>ul {
	margin-left:-11px;
}

.sticky-header #menu #menu-nav>li>a:after {
	display:inline-block;
	margin-left:5px;
	font-family:"Icons";
   	content: "\e1c5";
}
.sticky-header #menu #menu-nav>li>a:last-child:after {
	content:"";
}
#social-header {
	margin-top:13px;
	margin-bottom:-10px;
}
.sticky-header #student-login {
	background:#ABD04F;
	opacity:0.9;
	padding:4px 8px 0;
	text-transform:uppercase;
	color:#fff;
	font-size:1.2em;
	font-family: "Neutra Text";
	transition: all .2s;
}
#ticket-link {
	display:inline-block;
	margin-left:15px;
}

.sticky-header #student-login:hover {
	opacity:1;
}

.sticky-header #contact-button {
	display:inline-block;
	padding:4px 8px 0 15px;
	margin-right:-10px;
	margin-left:1px;
	text-transform:uppercase;
	color:rgba(255,255,255,1);
	font-size:1.1em;
	font-family: "Source Sans Pro";
	transition: all .2s;
	opacity:.85;
}
#contact-button:hover {
	opacity:1;
}

/*-----Front Page Styles------*/
.tp-caption { font-family: "Helvetica Neue", sans-serif !important; text-shadow:1px 1px 3px rgba(0,0,0,.3);}
.box .box-text p,
.box .box-text h2 {
	padding: 0 0 25px 0;
}
.box .box-text p {
	font-size:1.2em;
}
.text-block.white p strong {
	font-size:1.2em;
}
.button-main.button-large {
	padding: 8px 10px 3px;
	font-family:"Neutra Text";
}

h4 {
	font-size:2em;
}
.row.white .text-block, 
.box .box-text p {
	font-size:1.17em;
}
.white p {
	letter-spacing:1.05px;
}
/*------Pages--------*/
.padding-bottom {
	padding-bottom:30px;
}
.padding-top {
	padding-top:100px;
}
.center {
	display:block;
	width:99%;
	margin:15px 0 25px .8%;
	font-size:1.12em;
}

.staff-section p {
	display:inline-block;
	padding:10px 0 10px 25px;
	width:30%;
	vertical-align:top;
}

.staff-section p img {
	display:block;
	width:120px;
}
.heading {
	padding-top:25px;
}
.second-heading {
	padding-top:30px;
}
.page-image {
	display:block;
	float:none;
	margin-bottom:30px;
}
.breadcrumbs {
	background:#ABD04F;
}
.breadcrumbs, .productions-breadcrumbs, .drama-breadcrumbs, .dance-breadcrumbs, .voice-breadcrumbs, .summerstage-breadcrumbs {
	padding:5px 0 0;
}

/*---Sidebars----*/
.sidebar .textwidget img {
	margin-bottom: 5px;
	opacity:0.9;
}
.sidebar .textwidget img:hover {
	opacity:1;
}
.sidebar {
	margin-left:12px;
	float:left;
	margin:10px 0 25px;
}
.sidebar li a {
	padding: 5px 2px;
	color:#000;
}
.sidebar li a:hover {
	color:rgba(0,0,0,.7);
}
.sidebar .widget_search {
	position:relative;
	margin-top:100px;
	padding: 15px 0;
}
.sidebar .widget_search h3 {
	font-size:1.3em;
	text-transform:uppercase;
}

.sidebar #searchform input {
	font-size:1em;
	height:35px;
	width:200px;
	margin-top:-5px;
	padding:0 3px;
}
.edu-button, .summerstage-button{
	clear:both;
}
#menu-dance-menu li,
#menu-drama-menu li,
#menu-shows-and-events-menu li,
#menu-about-us-menu li,
#menu-media-menu li,
#menu-summerstage-menu li,
#menu-for-educators-menu li,
#menu-support-menu li,
#menu-ticketing-menu li,
#menu-sopa-sidebar-menu-main li {
	font-size:1.23em;
	font-family: 'Neutra Text';
}
#menu-shows-and-events-menu li:last-child a,
#menu-sopa-sidebar-menu li:last-child a,
#menu-about-us-menu li:last-child a,
#menu-media-menu li:last-child a,
#menu-summerstage-menu li:last-child a,
#menu-for-educators-menu li:last-child a,
#menu-ticketing-menu li:last-child a,
.edu-button, .summerstage-button {
	display:block;
	margin:15px 0 0 0;
	padding:5px 10px 0;
	text-transform:uppercase;
	text-align:center;
	font-size:1.1em;
	font-family: 'Neutra Text';
	color:#fff;
	opacity:0.9;
	transition: opacity .2s;
}
.edu-button, .summerstage-button {
	font-size:1.3em;
	padding:10px 0 5px;
	width:100%;
}
#menu-shows-and-events-menu li:last-child a:hover,
#menu-sopa-sidebar-menu li:last-child a:hover,
#menu-about-us-menu li:last-child a:hover,
#menu-media-menu li:last-child a:hover,
#menu-summerstage-menu li:last-child a:hover,
#menu-for-educators-menu li:last-child a:hover,
.edu-button:hover, .summerstage-button:hover { 
	color:#fff;
	opacity:1;}

.summerstage-button {
	position:relative;
	margin-top:-35px;
}

/*----Media, About Us, Contact, Educators-----*/
#menu-about-us-menu li:last-child a,
#menu-ticketing-menu li:last-child a,
#menu-sopa-sidebar-menu li:last-child a,
#menu-media-menu li:last-child a,
#menu-for-educators-menu li:last-child a,
#photo-link .sopa-link, #video-link .sopa-link, #press-link .sopa-link, .edu-button,
#pd-link .sopa-link, #resource-link .sopa-link, #outreach-link .sopa-link, #schools-link .sopa-link {
	background: #ABD04F;}

.accordion-builder {
	width:100%;
	margin:25px 0 ;
}
.accordion-heading {
	min-height:90px;
	padding:20px 0;
}
.accordion-heading a {
	font-family:"Neutra Text";
	font-size:1.5em !important;
	padding:20px 0 5px;
}

.gallery-thumb {
	margin-right:25px;
	display:inline-block !important;
	max-height:auto !important;
	max-width:43% !important;
}
.album-title{
	display:inline-block;
	background:#ABD04F;
	color:#fff;
	width:70%;
	font-family:"Neutra Text";
	font-size:1.4em;
	padding:4px 4px 2px 8px;
	z-index:9999999999999;
	position:absolute;
	top:75%;
	opacity:.8;

}
.gallery-thumb img {
	width:100% !important;
	height:auto !important;

}
.faq-block {
	border-bottom:1px solid rgba(0,0,0,.2);
	padding:25px 0;
	padding-left:20px;
}
.faq-block strong {
	display:block;
	font-family:"Neutra Text";
	font-size:1.3em;
	padding:10px 0 0 0;
	margin-bottom:-15px;
}
/* ----- Calendar ----- */
#jd-calendar .fa {
	display:inline-block;
}
#jd-calendar { font-family: "Neutra Text";}
#jd-calendar { margin:20px 0 0 0px; background:#eee; width:100%;}
.my-calendar-table, thead, tbody { background: #fff; }
#jd-calendar .my-calendar-header { padding:10px 25px; }
#jd-calendar .my-calendar-nav {
	width:35%;
	float:left;
	font-size:1.4em;}
.mc-main .my-calendar-nav li a {display:inline-block !important;}
#jd-calendar a { color:#333; }
.my-calendar-table td { border:1px solid rgba(0,0,0,.1); height:100px;}
#jd-calendar .my-calendar-table .my-calendar-month, .mc-single { font-size:2.2em; background:#333; color:#fff; font-weight:300; margin:10px 0 16px; padding:3px 0;}
.my-calendar-date-switcher { float:right; font-size:1.5em;}
.my-calendar-date-switcher input[type="submit"] { padding:3px; background: #edcf25; }
#jd-calendar .rss, #jd-calendar .ics, #jd-calendar .mc-print, #jd-calendar .mc-format { display:none; }
.mc-time { text-align:center; font-size:1.1em; clear:both;}
.mc-time {font-size:1.3em; padding-top:5px;}
.mc-time a, .mc-time .mc-active {
	text-transform:uppercase;
	display:inline-block; 
	margin:0 5px; 
	width:100px; 
	height:auto !important;
	text-align:center; 
	padding:8px 0 5px;}
#jd-calendar .mc-time a { color: #fff; background:#edcf25;}
#jd-calendar .mc-time a:hover {opacity:1;}
.mc-time .mc-active {
	background:#333;
	color:#fff;
}
#jd-calendar tbody {
	font-size:1.2em;
}
#jd-calendar .day-heading, #jd-calendar .weekend-heading {
	font-size:1.3em;
	color:#232323;
}
#jd-calendar .event-title a {
	font-size:1.15em;
	font-weight:normal;
	letter-spacing:.9px;
}
#jd-calendar .event-title .category-icon {
	display:none;
}
#jd-calendar .category-key h3 {
	font-size:1em;
	letter-spacing:.9px;
}
.my-calendar-week {
	font-size:1.7em;
	margin:10px 0;
}
.mc-single {
	font-size:1.8em !important;
	font-weight:300 !important;
	padding: 3px 10px !important;
}
#mc-day {
	font-size:1.1em;
	padding:10px 0;
}
.mc-toggle.mc-close {
	margin-right:10px;
}
/*----Shows and Events-------*/
#menu-shows-and-events-menu li:last-child a, .ticket-button,
.productions-breadcrumbs,
#showcases-link .sopa-link, #mainstage-link .sopa-link, #special-events-link .sopa-link {
	background: #edcf25;
}
.ticket-button.green {
	background:#ABD04F;
}
.date-table {
	width:65%;
	float:right;
	margin-bottom:25px;
}
.date-table-left {
	width:65%;
	float:left;
	margin-bottom:25px;
}
.date-table-full {
	width:100%;
	float:none;
	margin-bottom:25px;
}
.date-table tr td:first-child,
.date-table-left tr td:first-child {
	font-weight:bold;
}
.show-blocks {
	clear:both;
	margin:50px 0 80px;
	padding:25px 0 50px;
}
.show-blocks.padding-less {
	padding-bottom:0;
	border-top:2px solid rgba(0,0,0,.1);
}
.title, .show-blocks strong:first-child {
	font-size:1.6em;
}

.title,
.show-blocks strong:first-of-type,
.ticket-button {
	font-family:"Neutra Text";
}
.ticket-button {
	display:block;
	float:right;
	width:65%;
	color:#fff;
	padding:8px 0 3px;
	margin:0 0 25px;
	text-align:center;
	text-transform:uppercase;
	font-size:1.45em;
	opacity:.85;
	transition: opacity .2s;
}
.ticket-button.left {
	float:left;
}
.ticket-button.no-float {
	float:none;
	width:100%;
}
.ticket-button.second {
	margin-bottom:5px;
}
.ticket-button:hover {
	opacity:1;
	color:#fff;
}
/*----School of Performing Arts----*/
.sopa-row {
	margin-top:30px;
}
#fundamentals-link, #junior-link, #senior-link, #intensive-link,
#ballet-link, #dc-link, #tap-link, #broadway-link, #hiphop-link, #lyrical-link, #conditioning-link, #showtime-link, #adventure-link, #mosaic-link, #pytap-link,
#showcases-link, #special-events-link, #press-link, #video-link, 
#resource-link, #schools-link, #outreach-link, #pd-link {
	margin:8px 0 5px 13px;
	width:47%;
	height:200px;
	background:#eee;
}
#mainstage-link, #photo-link, #dc-link {
	width:95.5%;
	height:200px;
	background:#eee;
	margin:8px 9px 5px 12px;
}
#drama-link, #dance-link, #voice-link {
	margin:8px 0 5px 13px;
	width:31%;
	height:200px;
	background:#eee;
}
/*Main*/
#voice-link {
	background:url('../../uploads/2014/12/HUB2165-e1417724318935.jpg');
	background-size:cover;}
#dance-link {
	background:url('../../uploads/2014/12/PYT_9001-e1417724565977.jpg');
	background-size:cover;}
#drama-link {
	background:url('../../uploads/2014/12/HUB5762-e1417724631633.jpg');
	background-size:cover;}
/*Drama*/
#fundamentals-link {
	background:url('../../uploads/2014/12/fundamentals.jpg');
	background-size:cover;}
#junior-link {
	background:url('../../uploads/2014/12/junior1.jpg');
	background-size:cover;}
#senior-link {
	background:url('../../uploads/2014/12/senior-e1417701518257.jpg');
	background-size:cover;}
#intensive-link {
	background:url('../../uploads/2014/12/intensive.jpg');
	background-size:cover;}
/*Dance*/
#dc-link {
	background:url('../../uploads/2014/12/B141C1633-e1418139354969.jpg');
	background-size:cover;}
#ballet-link {
	background:url('../../uploads/2014/12/ballet1-e1418159305179.jpg');
	background-size:cover;}
#tap-link {
	background:url('../../uploads/2014/12/tap.jpg');
	background-size:cover;}
#broadway-link {
	background:url('../../uploads/2014/12/broadway-e1418159389834.jpg');
	background-size:cover;}
#lyrical-link {
	background:url('../../uploads/2014/12/B141C4241.jpg');
	background-size:cover;}
#hiphop-link {
	background:url('../../uploads/2014/12/B141C2456-e1418137987791.jpg');
	background-size:cover;}
#conditioning-link {
	background:url('../../uploads/2014/12/HUB61811-e1418139557190.jpg');
	background-size:cover;}
/*Companies*/
#mosaic-link {
	background:url('../../uploads/2014/12/PYT_5569.jpg');
	background-size:cover;}
#pytap-link {
	background:url('../../uploads/2014/12/HUB5816.jpg');
	background-size:cover;}
/*Educators*/
#schools-link {
	background:url('../../uploads/2014/12/HUB0535.jpg');
	background-size:cover;}
#outreach-link {
	background:url('../../uploads/2014/12/outreach.jpg');
	background-size:cover;}
#resource-link {
	background:url('../../uploads/2014/12/HUB_6461.jpg');
	background-size:cover;}
#pd-link {
	background:url('../../uploads/2014/12/HUB0661.jpg');
	background-size:cover;}
/*Media*/
#photo-link {
	background:url('../../uploads/2014/12/HUB1330_cropped.jpg');
	background-size:cover;}
#video-link {
	background:url('../../uploads/2014/12/PYT_7811.jpg');
	background-size:cover;}
#press-link {
	background:url("../../uploads/2014/12/HUB2232.jpg");
	background-size:cover;}
.sopa-link {
	display:block;
	float:left;
	margin:15px 7px 0;
	padding:6px 10px 2px;
	text-transform:uppercase;
	text-align:center;
	font-size:1.4em;
	font-family: 'Neutra Text';
	color:#fff;
	opacity:.9;
	transition: all .2s;
}
.sopa-link:hover {
	color:#fff;
}
.sopa-link-block:hover .sopa-link {
	opacity:1;}
#voice-link .sopa-link {
	background: rgb(189,115,176);}
#menu-sopa-sidebar-menu li:last-child a {
	font-size:1.25em;}
#drama-link .sopa-link,
.drama-breadcrumbs,
.sopa-link.drama,
.page-drama-division #menu-sopa-sidebar-menu li:last-child a,
.parent-pageid-2285 #menu-sopa-sidebar-menu li:last-child a {
	background: rgb(236,162,118);}
.sopa-link.dance,
.dance-breadcrumbs,
#dance-link .sopa-link,
.page-dance #menu-sopa-sidebar-menu li:last-child a,
.parent-pageid-102 #menu-sopa-sidebar-menu li:last-child a {
	background: rgb(92,200,223);}
.voice-breadcrumbs,
.page-voice-division #menu-sopa-sidebar-menu li:last-child a {
	background: rgb(189,115,176);}
.heading h1,
.second-heading h1 {
	font-size:3em;}
.second-heading h2 {
	font-size:2em;
}
.heading h2 {
	font-size:2.8em;
}
.class-blocks {
	padding:20px 0;
	border-bottom:1px solid rgba(0,0,0,.2);}

.class-blocks p:first-child strong,
.class-blocks p:first-child b {
	font-size:1.5em;
	font-family:"Neutra Text";
}

.jazz-block:last-child {
	padding-bottom:25px;
} 
.jazz-block p strong {
	display:block;
	margin-bottom:-10px;
	font-size:1.1em;
}

#mainstage-link {
	background:url('../../uploads/2014/07/1.jpg');
	background-size:cover;
}
#showcases-link {
	background:url('../../uploads/2013/11/HUB6094.jpg');
	background-size:cover;
}
#special-events-link {
	background:url('../../uploads/2014/12/HUB2258_cropped.jpg');
	background-size:cover;
}
.top-bar-paragraph {
	border-top:2px solid rgba(0,0,0,.1);
	padding-top:25px;
}

.top-bar-paragraph > ul > li {
	margin-bottom:15px;
}
ul li ul li {
	font-size:.95em !important; }
/*------SummerStage-----*/
.sopa-link.summerstage,
.summerstage-breadcrumbs,
#menu-summerstage-menu li:last-child a,
.summerstage-button {
	background: #6957A4;
}
#showtime-link {
	background:url('../../uploads/2014/12/201.jpg');
	background-size:cover;}
#adventure-link {
	background:url('../../uploads/2014/12/HUB5725.jpg');
	background-size:cover;}
.camp-table {
	font-size:1.2em;
	border-bottom:2px solid rgba(0,0,0,.1);
}
.camp-table tr td:last-child {
	font-weight:bold;
}
/*------Footer Styles-----*/
#nsu-form-0 p {
	display:inline-block;
	vertical-align:bottom;
}
#nsu-form-0 p label {
	display:block;
}
#nsu-form-0 p:last-child {
	margin-left:5px;
}
#nsu-submit-0 {
	height:31px;
}

#footer-menu {
 display:inline-block;
 margin-top:-50px;
}


/*-----Responsive-----*/
@media screen and (max-width: 1225px) {

	.sticky-header #menu #menu-nav li a {
		font-size:.85em;
	}
	#logo a img {
		width:180px;
		max-width:180px;
	}
}
@media screen and (max-width:1100px) {
	.sticky-header #menu #menu-nav li a {
		font-size:.8em;
	}
	#jd-calendar .my-calendar-nav {
		font-size:1.1em;}
}

@media screen and (max-width: 991px) {
	#logo a img {
		width:160px;
		max-width:160px;
	}
	#logo {
		margin-top:-15px;
	}

	#mobile-nav {
		margin-top: -25px;
		margin-right:8px;
	}
	.social-header {
		margin-top: -20px;
	}
	.sticky-header #student-login {
		margin-right:5px;
		font-size:.9em;
		padding:0 5px;
		height:24px;
	}
	
	.menu-icon:before {
		position:relative;
		display:block;
		margin-left:-42px;
		margin-top:-2px;
		content:"Menu";
		color:rgba(255,255,255,.8);
	}

	.col-md-3 > .sidebar {
		border-top:none;
		display:block;
		position:relative;
		width:100%;
		margin-top:-100px;
	}

	.col-md-3 > .sidebar > .sidebar_content > .widget_text {
		display:block;
		width:35%;
	}
	.col-md-3 > .sidebar > .sidebar_content > .widget_text img {
		max-width:100%;
	}
	.col-md-3 > .sidebar > .sidebar_content > .widget_nav_menu {
		display:block;
		width:63%;
	}
	.col-md-3 > .sidebar > .sidebar_content > .widget_text {
		float:left;
	}
	.col-md-3 > .sidebar > .sidebar_content > .widget_nav_menu:nth-child(2) {
		float:right;
		margin-top:10px;
		margin-left:3px;
	}
	.col-md-3 > .sidebar > .sidebar_content .widget_nav_menu:nth-child(3) {
		display:none;

	}
	.col-md-3 > .sidebar > .sidebar_content > .widget_text:last-child {
		width:100%;
	}
	.col-md-3 > .sidebar > .sidebar_content > .widget_search {
		clear:both;
		float:left;
		width:100%;
		display:block;
		position:relative;
		margin-top:-30px;
	}
	.col-md-3 > .sidebar > .sidebar_content > .widget_search #searchform input {
		width:100%;
	}
	#menu-shows-and-events-menu li:last-child a,
	#menu-sopa-sidebar-menu li:last-child a,
	#menu-about-us-menu li:last-child a,
	#menu-media-menu li:last-child a,
	#menu-summerstage-menu li:last-child a,
	#menu-for-educators-menu li:last-child a {
		display:none;
	}
	#fundamentals-link, #junior-link, #senior-link, #intensive-link,
	#ballet-link, #dc-link, #tap-link, #broadway-link, #hiphop-link, #lyrical-link, #conditioning-link, #acrodance-link, #showtime-link, #adventure-link, #mosaic-link, #pytap-link,
	#showcases-link, #special-events-link, #photo-link, #video-link,
	#mainstage-link, #press-link, #drama-link, #dance-link, #voice-link,
	#pd-link, #resource-link, #schools-link, #outreach-link {
		margin:8px 0 5px 13px;
		width:95%;
		height:200px;
	}

	h2 {
		font-size:1.6em;
	}
	h4 {
		font-size:1.5em;
	}
	.row.white .text-block, 
	.box .box-text p {
		font-size:1em;
	}

	.staff-section p {
		width:48%;
		font-size:1em;
	}

	.show-blocks p img {
		float:none;
		display:block;
		margin:-25px auto 25px;
		max-height:300px;
		width:auto;
	}
	.show-blocks .date-table,
	.show-blocks .date-table-left {
		float:none;
		width:100%;
	}
	.show-blocks .ticket-button {
		float:none;
		width:100%;
		margin: 0 0 0;
	}

	.edu-button, .summerstage-button {
		width:103%;
		margin:-25px auto 0;
	}

	.edu-button, .summerstage-button, .widget_search, .widget_text, .widget_nav_menu {
		position:relative;
		z-index:9999;
	}
	.sticky-header { min-height:150px; }
	
	
}
@media screen and (max-width:800px) {
	#jd-calendar .my-calendar-nav {
		width:100%;}


}

@media screen and (max-width:700px) {
	.sticky-header { min-height:150px; }
}

@media screen and (max-width:506px) {
	#mobile-nav { margin-top:-70px;}
}
