body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
body,td,th {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
}
a:link {
	color: #6699CC;
	font-weight: bold;
	text-decoration: underline;
}
a:visited {
	color: #6699CC;
	font-weight: bold;
	text-decoration: underline;
}
a:hover {
	color: #6699CC;
	font-weight: bold;
	text-decoration: underline;
}
a:active {
	color: #6699CC;
	font-weight: bold;
	text-decoration: underline;
}
a.nav_link:link {
	color: #333333;
	font-weight: normal;
	text-decoration: none;
}
a.nav_link:visited {
	color: #333333;
	font-weight: normal;
	text-decoration: none;
}
a.nav_link:hover {
	color: #333333;
	font-weight: normal;
	text-decoration: underline;
}
a.nav_link:active {
	color: #333333;
	font-weight: normal;
	text-decoration: none;
}
a.white_link:link {
	color: #FFFFFF;
	font-weight: normal;
	text-decoration: underline;
}
a.white_link:visited {
	color: #FFFFFF;
	font-weight: normal;
	text-decoration: underline;
}
a.white_link:hover {
	color: #FFFFFF;
	font-weight: normal;
	text-decoration: underline;
}
a.white_link:active {
	color: #FFFFFF;
	font-weight: normal;
	text-decoration: underline;
}

.tabbed_box_titles {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
	color: #FFFFFF;
}
.right_sidebar_titles {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
	color: #333333;
}
.blue_text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #6699CC;
}
.white_text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
}
.titles {
	font-family: Papyrus;
	font-size: 16px;
	font-weight: bold;
	color: #333333;
}
.tabbed {
	background-color: #FFFFFF;
	border: 1px solid #1C3D68;
	margin-left: 7px;
}
