body,td,th {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	font-style: normal;
}
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #0083B7;
}

a:link {
	color: #8D613A;
}
a:visited {
	color: #8D613A;
}
a:hover {
	color: #8D613A;
}
a:active {
	color: #FFCC99;
}


a.nav_link:link {
	color: #FFFFFF;
	text-decoration:none
}
a.nav_link:visited {
	color: #FFFFFF;
	text-decoration:none
}
a.nav_link:hover {
	color: #FFFFFF;
	text-decoration:underline
}
a.nav_link:active {
	color: #FFFFFF;
	text-decoration:none
}


a.nav_link2:link {
	color: #FFFFFF;
	text-decoration:none;
	font-weight: bold;
}
a.nav_link2:visited {
	color: #FFFFFF;
	text-decoration:none
	font-weight: bold;
}
a.nav_link2:hover {
	color: #FFFFFF;
	text-decoration:underline
	font-weight: bold;
}
a.nav_link2:active {
	color: #FFFFFF;
	text-decoration:none
	font-weight: bold;
}

a.white_link:link {
	color: #FFFFFF;
	text-decoration:underline
}
a.white_link:visited {
	color: #FFFFFF;
	text-decoration:underline
}
a.white_link:hover {
	color: #FFFFFF;
	text-decoration:underline
}
a.white_link:active {
	color: #FFFFFF;
	text-decoration:underline
}


.titles {
	font-family: Perpetua, Arial;
	font-size: 18px;
	font-weight: bold;
	color: #8D613A;
}

.borders {
	border: thin solid #996633
}

.marquee {
	font-family:Arial, Helvetica, sans-serif;
	color:#000000;
	font-style:italic;
	font-weight:bold;
	font-size:13px;
	line-height:14px;
}
