/* @group RokContentRotator */

div.slide1, div.slide2 {
	width: 469px;
	height: 270px;
	margin: -15px 0 0 -15px;
	padding: 0;
}

.style1 div.slide1 {
	background: url(images/style1/slide1.jpg) 0 0 no-repeat;
}

.style1 div.slide2 {
	background: url(images/style1/slide2.jpg) 0 0 no-repeat;
}

.style2 div.slide1 {
	background: url(images/style2/slide1.jpg) 0 0 no-repeat;
}

.style2 div.slide2 {
	background: url(images/style2/slide2.jpg) 0 0 no-repeat;
}

.style3 div.slide1 {
	background: url(images/style3/slide1.jpg) 0 0 no-repeat;
}

.style3 div.slide2 {
	background: url(images/style3/slide2.jpg) 0 0 no-repeat;
}

.style4 div.slide1 {
	background: url(images/style4/slide1.jpg) 0 0 no-repeat;
}

.style4 div.slide2 {
	background: url(images/style4/slide2.jpg) 0 0 no-repeat;
}

.style5 div.slide1 {
	background: url(images/style5/slide1.jpg) 0 0 no-repeat;
}

.style5 div.slide2 {
	background: url(images/style5/slide2.jpg) 0 0 no-repeat;
}

.style6 div.slide1 {
	background: url(images/style6/slide1.jpg) 0 0 no-repeat;
}

.style6 div.slide2 {
	background: url(images/style6/slide2.jpg) 0 0 no-repeat;
}

.style7 div.slide1 {
	background: url(images/style7/slide1.jpg) 0 0 no-repeat;
}

.style7 div.slide2 {
	background: url(images/style7/slide2.jpg) 0 0 no-repeat;
}

.style8 div.slide1 {
	background: url(images/style8/slide1.jpg) 0 0 no-repeat;
}

.style8 div.slide2 {
	background: url(images/style8/slide2.jpg) 0 0 no-repeat;
}

.style9 div.slide1 {
	background: url(images/style9/slide1.jpg) 0 0 no-repeat;
}

.style9 div.slide2 {
	background: url(images/style9/slide2.jpg) 0 0 no-repeat;
}

.style10 div.slide1 {
	background: url(images/style10/slide1.jpg) 0 0 no-repeat;
}

.style10 div.slide2 {
	background: url(images/style10/slide2.jpg) 0 0 no-repeat;
}

.style11 div.slide1 {
	background: url(images/style11/slide1.jpg) 0 0 no-repeat;
}

.style11 div.slide2 {
	background: url(images/style11/slide2.jpg) 0 0 no-repeat;
}

.style12 div.slide1 {
	background: url(images/style12/slide1.jpg) 0 0 no-repeat;
}

.style12 div.slide2 {
	background: url(images/style12/slide2.jpg) 0 0 no-repeat;
}

/* @end */

/* @group RokIntroScroller */

img.intro1, img.intro2, img.intro3 {
	width: 167px;
	height: 60px;
}

.style1 img.intro1 {
	background: url(images/style1/intro1.jpg) 0 0 no-repeat;
}

.style1 img.intro2 {
	background: url(images/style1/intro2.jpg) 0 0 no-repeat;
}

.style1 img.intro3 {
	background: url(images/style1/intro3.jpg) 0 0 no-repeat;
}

.style2 img.intro1 {
	background: url(images/style2/intro1.jpg) 0 0 no-repeat;
}

.style2 img.intro2 {
	background: url(images/style2/intro2.jpg) 0 0 no-repeat;
}

.style2 img.intro3 {
	background: url(images/style2/intro3.jpg) 0 0 no-repeat;
}

.style3 img.intro1 {
	background: url(images/style3/intro1.jpg) 0 0 no-repeat;
}

.style3 img.intro2 {
	background: url(images/style3/intro2.jpg) 0 0 no-repeat;
}

.style3 img.intro3 {
	background: url(images/style3/intro3.jpg) 0 0 no-repeat;
}

.style4 img.intro1 {
	background: url(images/style4/intro1.jpg) 0 0 no-repeat;
}

.style4 img.intro2 {
	background: url(images/style4/intro2.jpg) 0 0 no-repeat;
}

.style4 img.intro3 {
	background: url(images/style4/intro3.jpg) 0 0 no-repeat;
}

.style5 img.intro1 {
	background: url(images/style5/intro1.jpg) 0 0 no-repeat;
}

.style5 img.intro2 {
	background: url(images/style5/intro2.jpg) 0 0 no-repeat;
}

.style5 img.intro3 {
	background: url(images/style5/intro3.jpg) 0 0 no-repeat;
}

.style6 img.intro1 {
	background: url(images/style6/intro1.jpg) 0 0 no-repeat;
}

.style6 img.intro2 {
	background: url(images/style6/intro2.jpg) 0 0 no-repeat;
}

.style6 img.intro3 {
	background: url(images/style6/intro3.jpg) 0 0 no-repeat;
}

.style7 img.intro1 {
	background: url(images/style7/intro1.jpg) 0 0 no-repeat;
}

.style7 img.intro2 {
	background: url(images/style7/intro2.jpg) 0 0 no-repeat;
}

.style7 img.intro3 {
	background: url(images/style7/intro3.jpg) 0 0 no-repeat;
}

.style8 img.intro1 {
	background: url(images/style8/intro1.jpg) 0 0 no-repeat;
}

.style8 img.intro2 {
	background: url(images/style8/intro2.jpg) 0 0 no-repeat;
}

.style8 img.intro3 {
	background: url(images/style8/intro3.jpg) 0 0 no-repeat;
}

.style9 img.intro1 {
	background: url(images/style9/intro1.jpg) 0 0 no-repeat;
}

.style9 img.intro2 {
	background: url(images/style9/intro2.jpg) 0 0 no-repeat;
}

.style9 img.intro3 {
	background: url(images/style9/intro3.jpg) 0 0 no-repeat;
}

.style10 img.intro1 {
	background: url(images/style10/intro1.jpg) 0 0 no-repeat;
}

.style10 img.intro2 {
	background: url(images/style10/intro2.jpg) 0 0 no-repeat;
}

.style10 img.intro3 {
	background: url(images/style10/intro3.jpg) 0 0 no-repeat;
}

.style11 img.intro1 {
	background: url(images/style11/intro1.jpg) 0 0 no-repeat;
}

.style11 img.intro2 {
	background: url(images/style11/intro2.jpg) 0 0 no-repeat;
}

.style11 img.intro3 {
	background: url(images/style11/intro3.jpg) 0 0 no-repeat;
}

.style12 img.intro1 {
	background: url(images/style12/intro1.jpg) 0 0 no-repeat;
}

.style12 img.intro2 {
	background: url(images/style12/intro2.jpg) 0 0 no-repeat;
}

.style12 img.intro3 {
	background: url(images/style12/intro3.jpg) 0 0 no-repeat;
}

/* @end */

/* @group Featured Story Block */

img.featured-story {
	width: 294px;
	height: 152px;
	margin-top: 12px;
}

.style1 img.featured-story {
	background: url(images/style1/featured-story.jpg) 0 0 no-repeat;
}

.style2 img.featured-story {
	background: url(images/style2/featured-story.jpg) 0 0 no-repeat;
}

.style3 img.featured-story {
	background: url(images/style3/featured-story.jpg) 0 0 no-repeat;
}

.style4 img.featured-story {
	background: url(images/style4/featured-story.jpg) 0 0 no-repeat;
}

.style5 img.featured-story {
	background: url(images/style5/featured-story.jpg) 0 0 no-repeat;
}

.style6 img.featured-story {
	background: url(images/style6/featured-story.jpg) 0 0 no-repeat;
}

.style7 img.featured-story {
	background: url(images/style7/featured-story.jpg) 0 0 no-repeat;
}

.style8 img.featured-story {
	background: url(images/style8/featured-story.jpg) 0 0 no-repeat;
}

.style9 img.featured-story {
	background: url(images/style9/featured-story.jpg) 0 0 no-repeat;
}

.style10 img.featured-story {
	background: url(images/style10/featured-story.jpg) 0 0 no-repeat;
}

.style11 img.featured-story {
	background: url(images/style11/featured-story.jpg) 0 0 no-repeat;
}

.style12 img.featured-story {
	background: url(images/style12/featured-story.jpg) 0 0 no-repeat;
}

/* @end */

/* @group Special Feature Block */

img.special-feature {
	width: 360px;
	height: 215px;
	float: left;
	margin-right: 15px;
}

.style1 img.special-feature {
	background: url(images/style1/special-feature.jpg) 0 0 no-repeat;
}

.style2 img.special-feature {
	background: url(images/style2/special-feature.jpg) 0 0 no-repeat;
}

.style3 img.special-feature {
	background: url(images/style3/special-feature.jpg) 0 0 no-repeat;
}

.style4 img.special-feature {
	background: url(images/style4/special-feature.jpg) 0 0 no-repeat;
}

.style5 img.special-feature {
	background: url(images/style5/special-feature.jpg) 0 0 no-repeat;
}

.style6 img.special-feature {
	background: url(images/style6/special-feature.jpg) 0 0 no-repeat;
}

.style7 img.special-feature {
	background: url(images/style7/special-feature.jpg) 0 0 no-repeat;
}

.style8 img.special-feature {
	background: url(images/style8/special-feature.jpg) 0 0 no-repeat;
}

.style9 img.special-feature {
	background: url(images/style9/special-feature.jpg) 0 0 no-repeat;
}

.style10 img.special-feature {
	background: url(images/style10/special-feature.jpg) 0 0 no-repeat;
}

.style11 img.special-feature {
	background: url(images/style11/special-feature.jpg) 0 0 no-repeat;
}

.style12 img.special-feature {
	background: url(images/style12/special-feature.jpg) 0 0 no-repeat;
}

/* @end */

/* @group Showcase */

img.showcase-corner {
	width: 226px;
	height: 169px;
}

.style1 img.showcase-corner {
	background: url(images/style1/showcase-corner.jpg) 0 0 no-repeat;
}

.style2 img.showcase-corner {
	background: url(images/style2/showcase-corner.jpg) 0 0 no-repeat;
}

.style3 img.showcase-corner {
	background: url(images/style3/showcase-corner.jpg) 0 0 no-repeat;
}

.style4 img.showcase-corner {
	background: url(images/style4/showcase-corner.jpg) 0 0 no-repeat;
}

.style5 img.showcase-corner {
	background: url(images/style5/showcase-corner.jpg) 0 0 no-repeat;
}

.style6 img.showcase-corner {
	background: url(images/style6/showcase-corner.jpg) 0 0 no-repeat;
}

.style7 img.showcase-corner {
	background: url(images/style7/showcase-corner.jpg) 0 0 no-repeat;
}

.style8 img.showcase-corner {
	background: url(images/style8/showcase-corner.jpg) 0 0 no-repeat;
}

.style9 img.showcase-corner {
	background: url(images/style9/showcase-corner.jpg) 0 0 no-repeat;
}

.style10 img.showcase-corner {
	background: url(images/style10/showcase-corner.jpg) 0 0 no-repeat;
}

.style11 img.showcase-corner {
	background: url(images/style11/showcase-corner.jpg) 0 0 no-repeat;
}

.style12 img.showcase-corner {
	background: url(images/style12/showcase-corner.jpg) 0 0 no-repeat;
}

/* @end */

/* @group StyleChanger */

img.stylechanger {
	width: 115px;
	height: 82px;
	margin-right: 10px;
	float: left;
}

.style1 img.stylechanger {
	background: url(images/style1/stylechanger.jpg) 0 0 no-repeat;
}

.style2 img.stylechanger {
	background: url(images/style2/stylechanger.jpg) 0 0 no-repeat;
}

.style3 img.stylechanger {
	background: url(images/style3/stylechanger.jpg) 0 0 no-repeat;
}

.style4 img.stylechanger {
	background: url(images/style4/stylechanger.jpg) 0 0 no-repeat;
}

.style5 img.stylechanger {
	background: url(images/style5/stylechanger.jpg) 0 0 no-repeat;
}

.style6 img.stylechanger {
	background: url(images/style6/stylechanger.jpg) 0 0 no-repeat;
}

.style7 img.stylechanger {
	background: url(images/style7/stylechanger.jpg) 0 0 no-repeat;
}

.style8 img.stylechanger {
	background: url(images/style8/stylechanger.jpg) 0 0 no-repeat;
}

.style9 img.stylechanger {
	background: url(images/style9/stylechanger.jpg) 0 0 no-repeat;
}

.style10 img.stylechanger {
	background: url(images/style10/stylechanger.jpg) 0 0 no-repeat;
}

.style11 img.stylechanger {
	background: url(images/style11/stylechanger.jpg) 0 0 no-repeat;
}

.style12 img.stylechanger {
	background: url(images/style12/stylechanger.jpg) 0 0 no-repeat;
}

/* @end */

/* @group Advertising */

img.ad1 {
	width: 170px;
	height: 250px;
}

.style1 img.ad1 {
	background: url(images/style1/ad1.jpg) 0 0 no-repeat;
}

.style2 img.ad1 {
	background: url(images/style2/ad1.jpg) 0 0 no-repeat;
}

.style3 img.ad1 {
	background: url(images/style3/ad1.jpg) 0 0 no-repeat;
}

.style4 img.ad1 {
	background: url(images/style4/ad1.jpg) 0 0 no-repeat;
}

.style5 img.ad1 {
	background: url(images/style5/ad1.jpg) 0 0 no-repeat;
}

.style6 img.ad1 {
	background: url(images/style6/ad1.jpg) 0 0 no-repeat;
}

.style7 img.ad1 {
	background: url(images/style7/ad1.jpg) 0 0 no-repeat;
}

.style8 img.ad1 {
	background: url(images/style8/ad1.jpg) 0 0 no-repeat;
}

.style9 img.ad1 {
	background: url(images/style9/ad1.jpg) 0 0 no-repeat;
}

.style10 img.ad1 {
	background: url(images/style10/ad1.jpg) 0 0 no-repeat;
}

.style11 img.ad1 {
	background: url(images/style11/ad1.jpg) 0 0 no-repeat;
}

.style12 img.ad1 {
	background: url(images/style12/ad1.jpg) 0 0 no-repeat;
}

img.ad2 {
	width: 170px;
	height: 220px;
}

.style1 img.ad2 {
	background: url(images/style1/ad2.jpg) 0 0 no-repeat;
}

.style2 img.ad2 {
	background: url(images/style2/ad2.jpg) 0 0 no-repeat;
}

.style3 img.ad2 {
	background: url(images/style3/ad2.jpg) 0 0 no-repeat;
}

.style4 img.ad2 {
	background: url(images/style4/ad2.jpg) 0 0 no-repeat;
}

.style5 img.ad2 {
	background: url(images/style5/ad2.jpg) 0 0 no-repeat;
}

.style6 img.ad2 {
	background: url(images/style6/ad2.jpg) 0 0 no-repeat;
}

.style7 img.ad2 {
	background: url(images/style7/ad2.jpg) 0 0 no-repeat;
}

.style8 img.ad2 {
	background: url(images/style8/ad2.jpg) 0 0 no-repeat;
}

.style9 img.ad2 {
	background: url(images/style9/ad2.jpg) 0 0 no-repeat;
}

.style10 img.ad2 {
	background: url(images/style10/ad2.jpg) 0 0 no-repeat;
}

.style11 img.ad2 {
	background: url(images/style11/ad2.jpg) 0 0 no-repeat;
}

.style12 img.ad2 {
	background: url(images/style12/ad2.jpg) 0 0 no-repeat;
}

/* @end */



















