.elSelect {
  cursor: pointer;
	height: 32px;
	position: relative;
	width: 416px;
	z-index: 2001;
}

.elSelect .selected {
	background: url(../images/btn_taskMenu.png) 0 0 no-repeat;
	color: #fff;
	width: 416px;
}

.elSelect .selected:hover {
	background: url(../images/btn_taskMenu.png) 0 -32px no-repeat;
}

.opened .elSelect .selected {
	background: url(../images/bkg_fauxContainer.png) no-repeat;
}

.opened .elSelect .selected:hover {
	background: url(../images/bkg_fauxContainer.png) no-repeat;
}

.elSelect .clear {
	clear: both;
}

.elSelect .selectedOption {
	width: 406px;
  cursor: pointer;
	height: 23px;
	padding: 9px 0 0 10px;
}

.elSelect .dropDown {
	display: none;
}

.elSelect .optionsContainer {
	background: url(../images/dropd_grad-bottom2.png) no-repeat bottom left;
  margin: 26px 0 0 0;
  overflow: auto;
  overflow-x: hidden;
  padding: 0 0 1px 0;
  position: absolute;
	top: 0;
	left: 0;
	width: 416px;
	display:none;
	z-index: 2000;
}

.elSelect .optionsContainer .selected {
	background: none;
}

.elSelect .option {
  height: 18px;
	padding: 4px 0 0 10px;
	width: 406px;
}

.opened .elSelect .optionsContainer .option:hover {
	background: url(../images/bkg_taskMenuRollover.png) 2px 0 no-repeat;
}

.elSelect .disabled {
	background-color:#C0CCCF;
	border-left:solid 1px #749490;
	border-right:solid 1px #749490;
	color:#90A4AA;
}

.elSelect .optionsContainerTop {
	display: none;
}
.elSelect .optionsContainerTop div {
	display: none;
}
.elSelect .optionsContainerTop div div {
	display: none;
}
.elSelect .optionsContainerBottom {
	display: none;
}
.elSelect .optionsContainerBottom div {
	display: none;
}
.elSelect .optionsContainerBottom div div {
	display: none;
}