/* moodalbox CSS */

div#mb_overlay {
	position: absolute;
	left: 0;
	width: 100%;
	background-color: #00958e;
	/*
	background: #00958e url(/clients/CenterCityPhila/Images/loadingAnim.gif) no-repeat center center;
	*/
	display: none;
	z-index: 4398;
	opacity: 0.8;
	filter: alpha(opacity=80);
}

.mb_loading {
	/*background: url(/clients/CenterCityPhila/Images/loadingAnim1.gif) no-repeat center center;*/
}

div#mb_center {
	/*
	background: url(/clients/CenterCityPhila/Images/bkg_Overlay.png) no-repeat;
	*/
	position: absolute;
	left: 50%;
	overflow: hidden;
	z-index: 4401;
}

div#mb_centercontainer {
	background: url(/clients/CenterCityPhila/Images/loadingLogo.png) no-repeat center center;
	width: 100%;
	position: absolute;
	left: 50%;
	overflow: hidden;
	z-index: 4400;
}

div#mb_centercontainerinner {
	background: url(/clients/CenterCityPhila/Images/loadingAnim.gif) no-repeat 135px 490px;
	width: 100%;
	position: absolute;
	left: 50%;
	overflow: hidden;
	z-index: 4400;
}

div#mb_contents {
	width: 400px;
	height: 400px;
	overflow: auto;
	visibility: hidden;
}

#mb_error {
	font-size: 1.2em;
	color: #CD0000;
	font-weight: bold;
	text-align: center;
	padding: 0.5em;
	font-family: Verdana, Helvetica, sans-serif;
}

#mb_error em {
font-size: 0.8em;
}

div#mb_bottom {
	display: none;
}

div#mb_caption {
	margin-right: 71px;
}