body {
  background-color: #fff;
  color: #000;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

/*navigation*/

.navigation-header {
  font-size: 24px;
  color: #5D5D5D;
  background: url("/clients/csa-marion/assets/images/000000-.12.png");
}
.navigation-header li {
  font-size: 24px;
  list-style-type: none;
  padding: 20px;
  display: inline-block;
}
.navigation-header a {
  color: #5d5d5d;
  font-weight: 400;
  text-decoration: none;
}
.navigation-header a:hover {
  color: #D5D5D5;
  font-weight: 400;
  text-decoration: none;
}

/*jumbotron*/

.jumbotron {
  background: url("/clients/csa-marion/assets/images/jumbotrong-bg.jpg") center;
  background-size: 100%;
}
.jumbotron-logo {
  background: url("/clients/csa-marion/assets/images/000000-.6.png");
}

/*sections*/

.middle-black {
  background-color: #000;
  color: #D5D5D5;
  font-family: inherit;
  font-size: inherit;
}
.middle-black h4 {
  font-weight: 300;
  font-size: 18px;
}
.middle-black h3 {
  font-weight: 500;
  font-size: 18px;
}
.subfooter {
  background: url("/clients/csa-marion/assets/images/subfooter-bg.png") repeat-x;
}
.footer-black {
  background-color: #000;
  color: #D5D5D5;
  font-family: inherit;
  font-size: inherit;
}
.footer-black h4 {
  font-weight: 300;
  font-size: 18px;
}
.footer-black h3 {
  font-weight: 500;
  font-size: 18px;
}
.footer-black a {
  text-decoration: none;
  color: #fff;
}
.footer-black a:hover {
  text-decoration: underline;
  color: #fff;
}
.footer-black li {
  list-style-type: none;
  margin-left: -40px;
}
