<%
'changelog
'LSP 03/28/16 - initial develompent
%>

<!DOCTYPE html>

<html lang="en-US"><!--<![endif]--><head>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
	<head runat="server">
	<asp:ContentPlaceHolder id="MasterHead" runat="server"></asp:ContentPlaceHolder>
	<meta property="og:title" content="title" />
	<meta property="og:description" content="description" />
	<meta property="og:image" content="http://tix.com/images/TixLogo128x128.gif"/>
	<meta property="og:image:secure_url" content="https://tix.com/images/TixLogo128x128.gif" />
	<meta property="og:image:type" content="image/jpeg" />
	</head>
	<BODY leftmargin=0 rightmargin=0 topmargin=0 marginheight=0 marginwidth=0 >
	<form id="form1" runat="server">
	<div>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">

	<link rel="profile" href="http://gmpg.org/xfn/11">
	<link rel="pingback" href="http://acts3manshow.com/xmlrpc.php">
	<!--[if lt IE 9]>
	<script src="http://acts3manshow.com/wp-content/themes/twentyfourteen/js/html5.js"></script>
	<![endif]-->
	<link rel="alternate" type="application/rss+xml" title="Acts the 3-Man Show » Feed" href="http://acts3manshow.com/feed/">
<link rel="alternate" type="application/rss+xml" title="Acts the 3-Man Show » Comments Feed" href="http://acts3manshow.com/comments/feed/">
<link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" id="twentyfourteen-jetpack-css" href="/clients/a3ms/images/twentyfourteen.css" type="text/css" media="all">
<link rel="stylesheet" id="social-widget-css" href="/clients/a3ms/images/social_widget.css" type="text/css" media="all">

<link rel="stylesheet" id="genericons-css" href="/clients/a3ms/images/genericons.css" type="text/css" media="all">
<link rel="stylesheet" id="twentyfourteen-style-css" href="/clients/a3ms/images/style.css" type="text/css" media="all">
<!--[if lt IE 9]>
<link rel='stylesheet' id='twentyfourteen-ie-css'  href='http://acts3manshow.com/wp-content/themes/twentyfourteen/css/ie.css?ver=20131205' type='text/css' media='all' />
<![endif]-->
<link rel="stylesheet" id="jetpack_css-css" href="/clients/a3ms/images/jetpack.css" type="text/css" media="all">
<script type="text/javascript" src="/clients/a3ms/images/jquery.js"></script>
<script type="text/javascript" src="/clients/a3ms/images/jquery-migrate.js"></script>
<link rel="https://api.w.org/" href="http://acts3manshow.com/wp-json/">
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://acts3manshow.com/xmlrpc.php?rsd">
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://acts3manshow.com/wp-includes/wlwmanifest.xml">
<meta name="generator" content="WordPress 4.4.2">

<link rel="dns-prefetch" href="http://i0.wp.com/">
<link rel="dns-prefetch" href="http://i1.wp.com/">
<link rel="dns-prefetch" href="http://i2.wp.com/">
<style type="text/css">img#wpstats{display:none}</style><link rel="stylesheet" type="text/css" id="gravatar-card-css" href="/clients/a3ms/images/hovercard.css"><link rel="stylesheet" type="text/css" id="gravatar-card-services-css" href="/clients/a3ms/images/services.css"></head>

<body class="error404 header-image">
<div id="page" class="hfeed site">
		<div id="site-header">
		<a href="http://acts3manshow.com/" rel="home">
			<img src="/clients/a3ms/images/cropped-Website-Header-21.jpg" alt="Acts the 3-Man Show" height="240" width="1260">
		</a>
	</div>

	<header id="masthead" class="site-header" role="banner">
		<div class="header-main">
			<h1 class="site-title"><a href="http://acts3manshow.com/" rel="home">Acts the 3-Man Show</a></h1>

			<div class="search-toggle">
				<a href="#search-container" class="screen-reader-text" aria-expanded="false" aria-controls="search-container">Search</a>
			</div>

			<nav id="primary-navigation" class="site-navigation primary-navigation" role="navigation">
				<button class="menu-toggle">Primary Menu</button>
				<a class="screen-reader-text skip-link" href="#content">Skip to content</a>
				<div class="menu-about-container"><ul id="primary-menu" class="nav-menu"><li id="menu-item-10" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-10"><a href="http://acts3manshow.com/">About</a>
<ul class="sub-menu">
	<li id="menu-item-40" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-40"><a href="http://acts3manshow.com/">The Show</a></li>
	<li id="menu-item-37" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-37"><a href="http://acts3manshow.com/cast-crew/">Cast &amp; Crew</a></li>
</ul>
</li>
<li id="menu-item-39" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-39"><a href="http://acts3manshow.com/upcoming-shows/">Upcoming Shows</a>
<ul class="sub-menu">
	<li id="menu-item-346" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-346"><a href="http://acts3manshow.com/touring-shows-2016/">Touring Shows 2016</a></li>
	<li id="menu-item-342" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-342"><a href="http://acts3manshow.com/umw-show-fredericksburg-va-june-17-18/">Fredericksburg, VA Show – June 17-18</a></li>
	<li id="menu-item-349" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-349"><a href="http://acts3manshow.com/past-shows/">Past Shows</a></li>
</ul>
</li>
<li id="menu-item-38" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-38"><a href="http://acts3manshow.com/reviews/">Reviews</a></li>
<li id="menu-item-65" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-65"><a href="http://acts3manshow.com/promo-material/">Promo Material</a>
<ul class="sub-menu">
	<li id="menu-item-76" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-76"><a href="http://acts3manshow.com/poster-cast-1/">A3MS Posters</a></li>
	<li id="menu-item-119" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-119"><a href="http://acts3manshow.com/bookmarks/">Bookmarks</a></li>
	<li id="menu-item-66" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-66"><a href="http://acts3manshow.com/program/">Audience Program</a></li>
</ul>
</li>
<li id="menu-item-328" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-328"><a href="http://acts3manshow.com/contact-us/">Contact Us</a></li>
</ul></div>			</nav>
		</div>

		<div id="search-container" class="search-box-wrapper hide">
			<div class="search-box">
	</div>
		</div>
	</header><!-- #masthead -->

	<div id="main" class="site-main">


	<div id="primary" class="content-area">
		<div id="content" class="site-content" role="main">

			<asp:ContentPlaceHolder id="MasterContent" runat="server"></asp:ContentPlaceHolder>

		</div><!-- #content -->
	</div><!-- #primary -->
<!-- #secondary -->

		</div><!-- #main -->

		<footer id="colophon" class="site-footer" role="contentinfo">


			<div class="site-info">
								<a href="https://wordpress.org/">Proudly powered by WordPress</a>
			</div><!-- .site-info -->
		</footer><!-- #colophon -->
	</div><!-- #page -->

		<div style="display:none">
	</div>

</div>
</form>
</body>
</html>
