*.primary {background-color: rgb(11, 11, 11)}
*.secondary {background-color: rgb(0, 0, 0)}
*.tertiary {background-color: rgb(255, 51, 51)}
*.background {background-color: rgb(255, 211, 246)}
h1#website-title {font-family: impact, "arial black", sans-serif; font-size: 40px; font-weight: bold; color: rgb(102, 204, 51); font-style: normal; text-decoration: none}
h2#website-slogan {font-family: geneva, arial, sans-serif; font-size: 16px; font-weight: bold; color: rgb(255, 165, 0); font-style: italic; text-decoration: none}
*#content {font-family: verdana, arial, sans-serif; font-size: 11px; font-weight: bold; color: rgb(0, 0, 0); font-style: normal; text-decoration: none; background-color: rgb(221, 255, 197)}
*#content a:link {font-family: geneva, arial, sans-serif; font-size: 10px; font-weight: bold; color: rgb(0, 0, 0); font-style: normal; text-decoration: underline}
*#content a:active {font-family: geneva, arial, sans-serif; font-size: 10px; font-weight: bold; color: rgb(0, 0, 0); font-style: normal; text-decoration: underline}
*#content a:visited {font-family: geneva, arial, sans-serif; font-size: 10px; font-weight: bold; color: rgb(0, 0, 0); font-style: normal; text-decoration: underline}
*#content a:hover {font-family: geneva, arial, sans-serif; font-size: 10px; font-weight: bold; color: rgb(0, 0, 0); font-style: normal; text-decoration: underline}
*#navcontainer div a h3 {font-family: verdana, arial, sans-serif; font-size: 15px; font-weight: bold; color: rgb(0, 0, 0); font-style: normal; text-decoration: none}
*#navcontainer div a:hover h3 {font-weight: bold; color: rgb(136, 136, 136); font-style: normal; text-decoration: none; background-color: rgb(255, 255, 255)}
*#navcontainer div a:hover {font-weight: bold; color: rgb(136, 136, 136); font-style: normal; text-decoration: none; background-color: rgb(255, 255, 255)}

