body {
	#background-color:#660066;
	background-color:#663366;	
}

table {
	border-color:#CC99CC;
}

h1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	text-transform: none;
	color:#CC99CC;
	letter-spacing: 1pt;
	word-spacing: 2pt;

}
h3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #BCBCBC;
}
a:link {
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;


}
a:visited {
	color:#CC99FF;
	text-decoration: none;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;




}
a:hover {
	color: #FF6699;
	font-style: normal;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;




}
.aSublink {
	font-weight: bold;
	color: #CC9999;
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;

}
p {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #CCCCCC;
	font-size: 11px;

}
h4 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #669966;
}
.homeLink {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;

}
.footer {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #330066;
	font-weight: bold;

}
.headingTab {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #CC99CC;
}
.formElement {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: bolder;
	font-variant: normal;
	text-transform: capitalize;
	color: #333366;
	background-color: #FFFFFF;

}
input {
	color: #333366;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bolder;
	padding: 2px;
	background-color: #FFFFFF;






}
textarea {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bolder;
	color: #333366;
	padding: 2px;
	background-color: #FFFFFF;


}
.levels {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
}
select {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #336699;
	padding: 4px;
	background-color: #FFFFFF;


}
ul {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #3399CC;
	list-style-type: square;
	list-style-position: outside;

}
.tsbLogo {
	border: 2px solid #FF6600;

}
.navCell {
	border: thin solid #333333;
}
hr {
	color: #999999;
}
h2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color:#CC99CC;
	word-spacing: 2px;
	letter-spacing: 1px;

}
.highlightText {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #3399CC;
}
.price {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #3399CC;
	font-weight: bold;

}
.priceHeading {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bolder;
	color: ##9966CC;
}
.photoCredit {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: bolder;
	color: #33CCCC;
}
.ArtistHeadline {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #3399CC;
}
.style1 {color: #cccccc}
.style12 {font-size: 12px}
.artistList {	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #FFFF00;
	font-weight: bold;
}
.style4 {font-size: 9px; font-weight: bold; font-family: Verdana, Arial, Helvetica, sans-serif;}