BODY
{
    font-family:Arial;
    font-size:7pt; color:#FFFFFF
}

A
{
	TEXT-DECORATION: underline;
	color: #FFFFFF
}

A:Hover
{
	TEXT-DECORATION: underline;
	color: #FFFFFF
}

TD
{
font-size: 9pt;
}

.link1
{
TEXT-DECORATION: none;
font-family: Century Gothic;
font-size: 9pt;
color: #FF6600
}

:hover.link1
{
font-family: Century Gothic;
font-size: 9pt;
color: #FF6600
}

.link2
{
TEXT-DECORATION: none;
font-family: Century Gothic;
font-size: 9pt;
color: #FFFFFF
}

:hover.link2
{
font-family: Century Gothic;
font-size: 9pt;
color: #FFFFFF
}


.subheading
{
font-size:14pt;
margin-bottom: 0px 
}


h1
{
color: #2B77B0;
font-weight: 400;
font-size: 19pt;
margin-bottom: 0px
}