A:hover
{
    COLOR: #999966;
    FONT-FAMILY: arial,verdana,sans-serif;
    FONT-SIZE: 12px;
    TEXT-DECORATION: none
}
A:visited
{
    COLOR: #339999;
    FONT-FAMILY: arial,verdana,sans-serif;
    FONT-SIZE: 12px;
    TEXT-DECORATION: none
}
A
{
    COLOR: #000000;
    FONT-FAMILY: arial,verdana,sans-serif;
    FONT-SIZE: 12px;
    TEXT-DECORATION: none
}
A.greenlink
{
    COLOR: #006633;
    FONT-FAMILY: arial,verdana,sans-serif;
    FONT-SIZE: 12px;
    TEXT-DECORATION: none
}
A.greenlink:visited
{
    COLOR: #006633;
    FONT-FAMILY: arial,verdana,sans-serif;
    FONT-SIZE: 12px;
    TEXT-DECORATION: none
}
A.greenlink:hover
{
    COLOR: #006633;
    FONT-FAMILY: arial,verdana,sans-serif;
    FONT-SIZE: 12px;
    TEXT-DECORATION: underline
}
.blackheader
{
    COLOR: #000000;
    FONT-FAMILY: arial,verdana,sans-serif;
    FONT-SIZE: 13px;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none
}
.boldcopy
{
    COLOR: #000000;
    FONT-FAMILY: arial,verdana,sans-serif;
    FONT-SIZE: 12px;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none
}
.copy
{
    COLOR: #000000;
    FONT-FAMILY: arial,verdana,sans-serif;
    FONT-SIZE: 12px;
    TEXT-DECORATION: none
}
.graycopy
{
    COLOR: #666666;
    FONT-FAMILY: arial,verdana,sans-serif;
    FONT-SIZE: 12px;
    TEXT-DECORATION: none
}
.browncopy
{
    COLOR: #999966;
    FONT-FAMILY: arial,verdana,sans-serif;
    FONT-SIZE: 12px;
    TEXT-DECORATION: none
}
.date
{
    COLOR: #ffffff;
    FONT-FAMILY: arial,verdana,sans-serif;
    FONT-SIZE: 10px
}
.footer
{
    COLOR: #ffffff;
    FONT-FAMILY: arial,verdana,sans-serif;
    FONT-SIZE: 9px
}
.greenheader
{
    COLOR: #006633;
    FONT-FAMILY: arial,verdana,sans-serif;
    FONT-SIZE: 13px;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none
}
.reverseheader
{
    COLOR: #ffffcc;
    FONT-FAMILY: arial,verdana,sans-serif;
    FONT-SIZE: 13px;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none
}
.redbold
{
    COLOR: #ff0000;
    FONT-FAMILY: arial, verdana, sans-serif;
    FONT-SIZE: 12px;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none
}
.greenheader_link
{
    COLOR: #006633;
    FONT-FAMILY: arial, verdana, sans-serif;
    FONT-SIZE: 13px;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none
}
