.body {
	BACKGROUND-POSITION: 25px 250px; MARGIN-BOTTOM: 20px; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: Tahoma, Arial, sans-serif; BACKGROUND-COLOR: #f2f4d7
}
.menuTable {
	BORDER-TOP: #f2f4d7 1px solid
}
.menuTD {
	BORDER-BOTTOM: #f2f4d7 1px solid; HEIGHT: 25px
}
.menuItem {
	COLOR: #f2f4d7; TEXT-ALIGN: center
}
.mainBuilding {
	PADDING-TOP: 15px; TEXT-ALIGN: center
}
.buildingTAble {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; FONT-SIZE: 10px; BORDER-LEFT: black 1px solid; BORDER-BOTTOM: black 1px solid; TEXT-ALIGN: center
}
.buildingCell {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; COLOR: #000000; PADDING-TOP: 5px; TEXT-ALIGN: center
}
.contactDiv {
	LEFT: 15px; WIDTH: 560px; POSITION: absolute; TOP: 100px
}
.theatreMain {
	PADDING-LEFT: 15px; WIDTH: 550px; COLOR: #000000; TEXT-ALIGN: center
}
.linksContent {
	PADDING-LEFT: 10px; TEXT-ALIGN: left
}
.linksCat {
	COLOR: #006b54
}
A.link:link {
	COLOR: #000; TEXT-DECORATION: underline
}
A.link:visited {
	COLOR: #000; TEXT-DECORATION: underline
}
A.link:active {
	COLOR: #000; TEXT-DECORATION: underline
}
.mapContent {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
.mainText {
	COLOR: #000000
}
.theatreText {
	COLOR: #000000; TEXT-ALIGN: left
}
.buildingInfo {
	PADDING-LEFT: 15px; FONT-SIZE: 13px; WIDTH: 690px; COLOR: #000000
}
H1 {
	MARGIN: 0px; FONT-FAMILY: "Trebuchet MS", sans-serif
}
H2 {
	MARGIN: 0px; FONT-FAMILY: "Trebuchet MS", sans-serif
}
H1 {
	FONT-SIZE: 1.2em
}
H2 {
	FONT-SIZE: 1em
}
