/**
 *
 *  Ticket 3870-8423700 - Teams Schedule
 *	Jacob John
 *  American Heritage School
 *
 */

    .athletics-schedule .fsListItems article {

      padding: 10px;
      margin-bottom: 0px;
      background: #fff5dc;

    }

    .athletics-schedule .fsListItems article > div {

      width: 100%;

    }

    .athletics-schedule .fsListItems article:nth-child(odd) {

      background: #eceaf5;

    }

/* End Block */

/**
 *
 *  Ticket 3870-8443462
 *  Pauline 
 *  5/6/16
 *  swap out background image. site loading slow due to the bg image size.  
 *
 */
html,body {
  background-image: url(/clients/ahschool/images/htmlbgmini.jpg);
}
.wf-loading {
visibility: hidden;
opacity: 0;
}
.wf-active, .wf-inactive {
visibility: visible;
opacity: 1;
}
/*End Section */