

#deptBannerWrap{
	min-height:110px;
  background:none!important;
	background-color:#45193d!important;
}

.acadPageBanner{
	display:none;
}

.lancaster-events-header > a{
	margin-top:0!important;
}

.extender-sidebar{
	background-color:#45193d!important;
}

.calendarwiz-module{
	position:relative;
	right:7px;
}

.calendarwiz-module div{
	max-width:215px!important;
}

.lancaster-events-home-content{
	margin-top:-125px;
}
@media screen and (max-width: 1478px)
{
  .calendarwiz-module{
    position:relative;
    right:0!important;
  }
  
  .calendarwiz-module div{
    width:100%!important;
    max-width:100%!important;
  }
}

@media screen and (max-width:939px){
	.RHEpage #aca_resp_nav_btn{
		background:url("/common/css/base2014/images/menu.png") no-repeat scroll 95% 15px #45193d
	}

	.lancaster-events-header h2 {	
		display:none;
	}
	
	.lancaster-events-header a {
		float:none!important;
		margin:-2em auto 0!important;
	}
  
	#deptBannerWrap{
		min-height:100%; 
	}
}