<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<head runat="server">
<asp:ContentPlaceHolder id="MasterHead" runat="server"></asp:ContentPlaceHolder>
</head>
<BODY leftmargin=0 rightmargin=0 topmargin=0 marginheight=0 marginwidth=0 >
<form id="form1" runat="server">
<div>

<link rel="shortcut icon" href="http://www.cyomusic.org/wp-content/themes/intrepidity/images/favicon.ico" type="image/x-icon">
<link rel="alternate" type="application/rss+xml" title="Catholic Youth Organization Music RSS Feed" href="http://www.cyomusic.org/feed">
<link rel="pingback" href="http://www.cyomusic.org/xmlrpc.php">
<script type="text/javascript" src="/clients/CYOMusic/Images/jquery.js"></script>
<script type="text/javascript" src="/clients/CYOMusic/Images/comment-reply.js"></script>
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://www.cyomusic.org/xmlrpc.php?rsd">
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://www.cyomusic.org/wp-includes/wlwmanifest.xml"> 
<link rel="prev" title="CYO TV" href="http://www.cyomusic.org/live">
<meta name="generator" content="WordPress 3.5.1">
<link rel="canonical" href="http://www.cyomusic.org/75th-season-celebration">

	<!-- begin gallery scripts -->
    <link rel="stylesheet" href="/clients/CYOMusic/Images/jd.css" type="text/css" media="screen" charset="utf-8">
	<link rel="stylesheet" href="/clients/CYOMusic/Images/jd_002.css" type="text/css" media="screen" charset="utf-8">
	<script type="text/javascript" src="/clients/CYOMusic/Images/mootools.js"></script>
	<script type="text/javascript" src="/clients/CYOMusic/Images/jd.htm"></script>
	<script type="text/javascript" src="/clients/CYOMusic/Images/jd.js"></script>
	<!-- end gallery scripts -->
<style type="text/css">
	#header {text-align:left }
	#description { clear:left;float: left; }
</style>

<link href="/clients/CYOMusic/Images/style_002.css" type="text/css" rel="stylesheet">
<link href="/clients/CYOMusic/Images/style.css" type="text/css" rel="stylesheet">

<script type="text/javascript" src="/clients/CYOMusic/Images/superfish.js"></script>
<script type="text/javascript" src="/clients/CYOMusic/Images/functions.js"></script>

<!--[if gte IE 5.5]>
<style type="text/css">.post img, .page img, .customhtml img {width: expression(this.width > 505 ? 505: true) }</style>
<![endif]-->
</head>

<body class="page page-id-179 page-template-default" style="font-size:13px;">
<div id="bg">
    <div id="shadow">
     
        <div id="header">
          <h1 id="logo">
			            	<a href="http://www.cyomusic.org/" id="blogname" style="background:none;text-indent:0;width:auto"><span class="blod">Catholic Youth Organization Music</span><br>www.cyomusic.org</a>
                      </h1>
        </div>
        
        <div id="container">
		<!--TIX DATA STARt-->
		
<asp:ContentPlaceHolder id="MasterContent" runat="server"></asp:ContentPlaceHolder>

    </div><!-- #Container-->
         
 
        <div id="globalnav">
        	<div id="navpocket">
              <ul id="nav" class="nav-wide sf-js-enabled sf-shadow">
                
                                <li><a href="http://www.cyomusic.org/" rel="nofollow">Home</a></li>
                                
				<li class="page_item page-item-179 current_page_item"><a href="http://www.cyomusic.org/75th-season-celebration">75th Season Celebration</a></li>
<li class="page_item page-item-15"><a href="http://www.cyomusic.org/join">How to Join</a></li>
<li class="page_item page-item-2"><a href="http://www.cyomusic.org/about">About Us</a></li>
<li class="page_item page-item-7"><a href="http://www.cyomusic.org/history">History</a></li>
<li class="page_item page-item-11"><a href="http://www.cyomusic.org/appearances">Appearances</a></li>
<li class="page_item page-item-89"><a href="http://www.cyomusic.org/live">CYO TV</a></li>
<li class="page_item page-item-13"><a href="http://www.cyomusic.org/contact">Contact Us</a></li>
                
                              </ul>
              
                        	</div>
        </div>
		
		<ul id="socialize-icons">
						            	<li id="icon-facebook"><a href="http://www.facebook.com/pages/CYO-Emerald-Knights-Band/94591852248" rel="nofollow" target="_blank">facebook</a></li>
                        				<li id="icon-twitter"><a href="http://twitter.com/cyoband" rel="nofollow" target="_blank">twitter</a></li>
            		</ul>
		
      <div id="footer">
		<div class="footer-content">
        	<div class="footer-widget">
                <ul class="footerlinks">
					<li class="widget" id="latest-tweets"><h2><a href="#" rel="nofollow"></a><a rel="nofollow" href="http://twitter.com/cyoband/">Tweets</a></h2><ul></ul></li>	
				</ul>
            </div>
        	<div class="footer-widget">
                <ul class="footerlinks">
					<li class="widget" id="linkcat-4"><h2><a href="#" rel="nofollow">Ensembles</a></h2>
	<ul class="xoxo blogroll">
<li><a href="http://www.cyomusic.org/bands">Band - Beginning Band</a></li>
<li><a href="http://cyomusic.org/bands">Band - Cadet Band</a></li>
<li><a href="http://cyomusic.org/bands">Band - Concert Band</a></li>
<li><a href="http://cyomusic.org/bands">Band - Honors Band</a></li>
<li><a href="http://cyomusic.org/summer">Summer Music Ensembles</a></li>

	</ul>
</li>
<li class="widget" id="linkcat-6"><h2><a href="#" rel="nofollow">Policies</a></h2>
	<ul class="xoxo blogroll">
<li><a href="http://cyomusic.org/policies">CYO Music Policies</a></li>
<li><a href="http://cyomusic.org/waiver">Waiver</a></li>

	</ul>
</li>
	
				</ul>
            </div>
        	<div class="footer-widget">

            </div>
       	  <div class="recover"></div>
          </div>
          
          <span id="copyright"><span class="alignleft">Copyright &#169; 		  	<script type="text/javascript">
			/* <![CDATA[ */
			var startCopyrightYear = 1939;
			if(!startCopyrightYear) {
				var d=new Date();
				startCopyrightYear = d.getFullYear();
			}
			printCopyrightYears(startCopyrightYear)
			/* ]]> */
            </script>1939-2013
            Catholic Youth Organization Music</span><span id="footer-tag"> | &nbsp; <a href="http://www.topblogformula.com/wordpress-business-themes/intrepidity" target="_blank">intrepidity</a> Theme by <a href="http://www.topblogformula.com/" target="_blank">Top Blog Formula</a> on <a href="http://www.wordpress.org/" target="_blank">WordPress</a></span> | &nbsp; 
							<a href="http://www.cyomusic.org/wp-login.php">Log In</a>
					  </span>

      </div>
            
    </div><!--End shadow-->

</div><!--End bg-->
</div>
</form>
</body>
</html>
