/* Tablet -- (min-width: 768px) and (max-width: 959px) */

/* HOME PAGE ----------------------------------------- */

.btn.btn-hdr { font-size:11px !important }

#slide-frame { height: 395px; }
 

#home-main-navigation 		{ font-size: 18px; font-size: 1.8rem; line-height: 2em; margin-top: -20px; }
#home-main-navigation ul	{ margin-left: 0; padding-left: 0; margin-bottom:  0; }

/* slider */
#slide-sidekick		{ margin: 0; padding: 0; margin-top: 5px; }
#slide-captions 	{ text-align: left; height: 125px; }
.slide-caption 		{ width: 400px !important; height: 75px; border:7px solid #9BBD81; -webkit-border-radius:20px; -moz-border-radius:20px; 
						border-radius:20px;  }
.slide-caption h2 	{ padding: 5px !important; font-size: 13px; font-size: 1.3rem; line-height: 1.2em; margin-bottom: 6px !important; 								      margin-top: 4px !important; margin-left:5px !important ; }
.slide-caption p 	{ padding: 0 0 9px 9px !important; margin-top: -6px !important; font-size: 11px; line-height: 1.2em;  }

#slide-caption-1:before, 
#slide-caption-1:after,   
#slide-caption-2:before,   
#slide-caption-2:after,   
#slide-caption-3:before,   
#slide-caption-3:after,
#slide-caption-4:before,   
#slide-caption-4:after,
#slide-caption-5:before,   
#slide-caption-5:after
{ top: 75px; } 

#slide-caption-1:before 	{ left:20px; top:75px; border:20px solid; border-color:#9BBD81 transparent transparent #9BBD81; }
#slide-caption-1:after 		{ left:28px; top:75px; border:10px solid; border-color:#fffac4 transparent transparent #fffac4; }   
#slide-caption-2:before 	{ left:50px; top:75px; border:20px solid; border-color:#9BBD81 transparent transparent #9BBD81; }   
#slide-caption-2:after 		{ left:58px; top:75px; border:10px solid; border-color:#fffac4 transparent transparent #fffac4; }
#slide-caption-3:before	 	{ left:80px; top:75px; border:20px solid; border-color:#9BBD81 transparent transparent #9BBD81; }   
#slide-caption-3:after 		{ left:88px; top:75px; border:10px solid; border-color:#fffac4 transparent transparent #fffac4; }
#slide-caption-4:before	 	{ left:130px; top:75px; border:20px solid; border-color:#9BBD81 transparent transparent #9BBD81;}   
#slide-caption-4:after	 	{ left:138px; top:75px; border:10px solid; border-color:#fffac4 transparent transparent #fffac4;}
#slide-caption-5:before		{ left:180px; top:75px; border:20px solid; border-color:#9BBD81 transparent transparent #9BBD81;}   
#slide-caption-5:after	 	{ left:188px; top:75px; border:10px solid; border-color:#fffac4 transparent transparent #fffac4;}
	
#slide-numbers 	{ margin-top: 5px; }
.slide-number p { margin:0; padding: 0; margin-top: -5px !important; }
.slide-number 	{ font-size: 14px; height:28px; width:28px; margin-left:10px;}
.slide-number.current,.slide-number:hover { font-size:15px !important; line-height:30px important; }

/* Home Page Tabs */
ul.tabs li a { font-size: 17px; font-size: 1.7rem; }
.tab_content h3.hd-tab { font-size: 16px !important; font-size: 1.6rem !important; }

#home-facts h2 { font-size: 20px; font-size:2.2rem; }
#home-facts p.mmmore  { margin-top: 0 !important; padding-top: 0 !important; margin-bottom: 20px !important; }

#welcome 		{ margin-top: -19px; }
#welcome h2 	{ margin-left: 55px; }
#welcome p 		{ margin: 15px; font-size: 15px; font-size: 1.5rem; }

#hd-who-we-are 		{ padding-left: 0; }
 
#who-we-are-menu li	{ margin-left: 0; padding-left: 0; font-size: 17px; font-size: 1.7rem; float:left; width:49%; font-family: "League Gothic" }
h2#hd-history 	{ padding-right: 10px; }

/* HOME PAGE ----------------------------------------- */

#sidebar .menu a { font-size: 14px; text-decoration: none; font-family: "News Cycle", sans-serif; }

.galleryid-918  dd.wp-caption-text.gallery-caption { font-size:14px !important }

#page #sitetitle { margin-bottom:-8px !important; }
.bg-mobile-menu { background: #5E5B79; padding-top:8px !important; padding-bottom:8px !important; text-align: right;}
.bg-mobile-menu select { margin-top:6px !important; min-width:375px; margin-right:20px; }

#page p, #page #page-content p, #page #page-content ul { font-size:14px !important; }
