

body{font:0.9em 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif;-webkit-font-smoothing:antialiased;-webkit-text-size-adjust:none;line-height:1.6em; color: #333; }

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
h1 { font-size: 35px; line-height: 40px; margin-bottom: 20px; font-family: 'News Cycle', sans-serif; font-weight: normal; color:#48465D;  }
h2 { font-size: 28px; line-height: 40px; margin-bottom: 10px; font-family: 'News Cycle', sans-serif; font-weight: normal; color:#48465D;  }
h3 { font-size: 24px; line-height: 34px; margin-bottom: 8px;  font-family: 'News Cycle', sans-serif; font-weight: normal; color:#48465D;  }
h4 { font-size: 18px; line-height: 30px; margin-bottom: 4px; font-family: 'News Cycle', sans-serif; font-weight: normal; color:#48465D;  }
h5 { font-size: 18px; line-height: 24px; font-family: 'News Cycle', sans-serif; font-weight: normal; color:#48465D;  }
h6 { font-size: 18px; line-height: 21px; font-family: 'News Cycle', sans-serif; font-weight: normal; color:#48465D;  }

h2.sm { font-size: 20px; }
.cap h3 { font-size: 16px; }

#content { text-align: left; }

#content h2 { border-bottom: 1px solid #48465D; padding-bottom:3px; }
#content h3 { color: #D86111; border-bottom: 1px solid #48465D; padding-bottom:3px;  }
#content h4 { color: #000;  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; border-bottom: 1px solid #bbb; }
#content p { line-height:1.5em; margin:15px 0; font-size: 16px; }
.org { color:  #D86111; border-color: #aaa !important; }

.modal-header h3 {
	font-size: 36px;
}
.newscycle { font-family: 'News Cycle', sans-serif; }
.league-gothic { font-family: LeagueGothic, sans-serif; }


@font-face {
    font-family: 'LeagueGothic';
    src: url('../fonts/league-gothic/League_Gothic-webfont.eot');
    src: url('../fonts/league-gothic/League_Gothic-webfont.eot?iefix') format('eot'),
         url('../fonts/league-gothic/League_Gothic-webfont.woff') format('woff'),
         url('../fonts/league-gothic/League_Gothic-webfont.ttf') format('truetype'),
         url('../fonts/league-gothic/League_Gothic-webfont.svg#webfont1Lb5Pdit') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'News Cycle';
    src: url('../fonts/news-cycle/NewsCycle-Regular-webfont.eot');
    src: url('../fonts/news-cycle/NewsCycle-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/news-cycle/NewsCycle-Regular-webfont.woff') format('woff'),
         url('../fonts/news-cycle/NewsCycle-Regular-webfont.ttf') format('truetype'),
         url('../fonts/news-cycle/NewsCycle-Regular-webfont.svg#NewsCycleRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
