input[type="text"],input[type=password],textarea{font-family:Arial, Helvetica, sans-serif;color:#000;font-size:1em;vertical-align:middle;font-weight:normal;padding:7px 9px;margin:0;background:#eceae9;border:none;outline:none;width:284px;}
/* Contact form */
#contact-form{position:relative; padding:5px 0 35px 0;}
	#contact-form fieldset{border:none;padding:0}
	#contact-form label {display:block;min-height:38px;}
		#contact-form input{ width:283px;}
		#contact-form textarea{height:134px;overflow:auto;width:283px; resize:none;}
		#contact-form .message{min-height:150px;}
.buttons{position:relative; overflow:hidden; padding:28px 1px 0 0; text-align:left;}
	.buttons strong{ font-weight:normal; margin-right:19px;}
.success, .error, .empty{display:none; text-align:left;}
.error, .empty{position:relative; color:red; font-size:10px; top:0px; left:10px;}
.success, .success strong{ color:#036991;}
@media only screen and (min-width: 768px) and (max-width: 995px) {#contact-form input,#contact-form textarea{ width:216px;}}
@media only screen and (max-width: 767px) {#contact-form input,#contact-form textarea{ width:280px;}}
@media only screen and (min-width: 480px) and (max-width: 767px) {#contact-form input,#contact-form textarea{ width:400px;}}
