@import url('/clients/CaminoRealPlayhouse/Images/skeleton.css');
@import url('/clients/CaminoRealPlayhouse/Images/superfish.css');
@import url('/clients/CaminoRealPlayhouse/Images/slider.css');

@import url('/clients/CaminoRealPlayhouse/Images/prettyPhoto.css');
*/
body {
	background: #eceae9;
	font: 11px/18px Arial, Helvetica, sans-serif;
	color: #454545;
	position: relative;
	min-width: 310px;
}
html, body {
	height: 100%;
}
p {
	padding-bottom: 18px;
}
a {
	color: #036991;
	outline: none;
	cursor: pointer;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
/*  Header styles */
h1, h2, h3, h4, h5, h6 {
	line-height: 1.2em;
	color: #2e2220;
	font-weight: normal;
	font-weight: 400;
	font-family: 'Lato', sans-serif;
}
h1 {
	font-size: 38px;
}
h2 {
	font-size: 34px;
}
h3 {
	font-size: 30px;
}
h4 {
	font-size: 26px;
}
h5 {
	font-size: 24px;
	text-transform: uppercase;
	font-weight: 700;
}
h6 {
	font-size: 20px;
	padding-bottom: 22px;
	height: 1px;
}
/* Global Structure---------------------------------------- */
.bg-header {
	width: 100%;
	background: url(/clients/CaminoRealPlayhouse/Images/bg.png) 50% 0 repeat-x;
	position: relative;
	z-index: 99;
}
.bg {
	width: 100%;
	background: url(/clients/CaminoRealPlayhouse/Images/bg.png) 50% 0 repeat-x;
	position: relative;
	overflow: hidden;
	z-index: 1;
	text-align: center;
}
/*---- overflow=hidden for menu editing | overflow=visible for content editing----*/
.pad-main {
	padding-top: 24px;
	overflow: hidden;
}
.bg2 {
	background: #F4E0AE;
	padding: 2px 15px 0 15px;
	max-width: 940px;
	position: relative;
	margin: 0 auto;
	display: inline-block;
}
/*----- txt,links,lines,titles -----*/
.clear {
	clear: both;
	line-height: 0;
	font-size: 0;
	overflow: visible;
	height: 0;
	width: 100%;
}
.wrapper {
	width: 100%;
	overflow: visible;
	position: relative;
}
.extra-wrap {
	overflow: visible;
	display: block;
}
.fleft {
	float: left;
}
.fright {
	float: right;
}
.alignright {
	text-align: right;
}
.aligncenter {
	text-align: center;
}
.alignmiddle * {
	vertical-align: middle;
}
.color1 {
	color: #036991;
}
.title2 {
	font: 18px/24px Arial, Helvetica, sans-serif;
	color: #777e83;
	text-transform: uppercase;
}
400 18px/24px Arial, Helvetica, sans-serif;
	color: #2e2220;
	font: 400 16px/24px Arial, Helvetica, sans-serif;
}
.title-2 a {
	font: 400 18px/24px Arial, Helvetica, sans-serif;
	color: #2e2220;
}
.title-2 a span {
	font: 400 20px/24px Arial, Helvetica, sans-serif;
	display: block;
}
	font: 400 18px/24px Arial, Helvetica, sans-serif;
	display: block;
}
.title-2 a:hover {
	font: 400 18px/24px Arial, Helvetica, sans-serif;
	color: #036991;
	text-decoration: none;
}
.title-3 a span {
	font: 400 18px/22px Arial, Helvetica, sans-serif;
	display: block;
}
.title-3 a span {
	font: 400 18px/22px Arial, Helvetica, sans-serif;
	display: block;
}
.title-3 a:hover {
	font: 400 18px/22px Arial, Helvetica, sans-serif;
	color: #036991;
	text-decoration: none;
}
/*********************************header*************************************/
header {
	position: relative;
	z-index: 99;
	padding: 15px 15px 1px 15px;
	background: #F4E0AE;
	max-width: 940px;
	display: block;
	margin: 0 auto;
}
.marg {
	width: 100%;
	text-align: center;
}
.logo {
	float: left;
}
.logo a {
	position: relative;
	text-align: left;
	padding: 35px 0 0 0;
	display: block;
	background: #352824;
	border-bottom: 3px solid #120c0b;
	min-width: 237px;
	height: 79px;
}
.logo img {
	max-width: 100%;
	height: auto;
	margin-left: 40px;
}
/********************** Content ************************/
section#content {
	overflow: hidden;
	position: relative;
	z-index: 1;
	text-align: left;
}
.padcontent {
	padding: 10px 0 10px 0;
		font: 11px/18px Arial, Helvetica, sans-serif;
}
.padcontent2 {
	padding: 10px 0 10px 0;
		font: 11px/18px Arial, Helvetica, sans-serif;
}
.padcontent3 {
	padding: 10px 0 10px 0;
		font: 11px/18px Arial, Helvetica, sans-serif;
}
		font: 12px/20px Arial, Helvetica, sans-serif;
}
.list1 li {
	padding: 10px 0 10px 10px;
		font: 16px/18px Arial, Helvetica, sans-serif;
}
.list1 li a {
	color: #036991;
		font: 16px/18px Arial, Helvetica, sans-serif;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.list1 li a {
	color: #036991;
		font: 11px/18px Arial, Helvetica, sans-serif;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.list1 li a {
	color: #036991;
		font: 11px/18px Arial, Helvetica, sans-serif;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.list1 li a:hover {
	color: #FFBC0D;
		font: 11px/18px Arial, Helvetica, sans-serif;
	text-decoration: none;
}
.col1 {
	width: 235px;
	float: left;
	text-align: left;
	font: 12px/18px Arial, Helvetica, sans-serif;
}
.col1 a {
	color: #fff;
	display: block;
	position: relative;
	overflow: visible;
	padding: 10px 10px 10px 10px;
}
.title {
	font: 400 20px/24px Arial, Helvetica, sans-serif;
	letter-spacing: -1px;
	position: relative;
	z-index: 3;
}
.title span {
	display: block;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: 700;
	margin-top: -2px;
	letter-spacing: normal;
}
.bgcolor4 .title span {
	font-size: 20px;
}
.col1 p {
	padding: 10px 0 0 2px;
	position: relative;
	z-index: 3;
}
.col1 a .mask {
	width: 235px;
	height: 172px;
	overflow: visible;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	opacity: 0;
	transform: translate(0, 172px) rotate(-80deg);
	-webkit-transform: translate(0, 172px) rotate(-80deg);
	-moz-transform: translate(0, 172px) rotate(-80deg);
	-o-transform: translate(0, 172px) rotate(-80deg);
	transition: all 0.2s 0.4s ease-in-out;
	-webkit-transition: all 0.2s 0.4s ease-in-out;
	-moz-transition: all 0.2s 0.4s ease-in-out;
	-o-transition: all 0.2s 0.4s ease-in-out;
}
.bgcolor1 {
	background: #03668e;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#036a91), to(#035a7f));
	background: -webkit-linear-gradient(#036a91, #035a7f);
	background: -moz-linear-gradient(#036a91, #035a7f);
	background: -ms-linear-gradient(#036a91, #035a7f);
	background: -o-linear-gradient(#036a91, #035a7f);
	background: linear-gradient(#036a91, #035a7f);
	-pie-background: linear-gradient(#036a91, #035a7f);
	border-bottom: 3px solid #012f50;
}
.bgcolor2 {
	background: #ffbb14;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#FFBC14), to(#ffb111));
	background: -webkit-linear-gradient(#FFBC14, #ffb111);
	background: -moz-linear-gradient(#FFBC14, #ffb111);
	background: -ms-linear-gradient(#FFBC14, #ffb111);
	background: -o-linear-gradient(#FFBC14, #ffb111);
	background: linear-gradient(#FFBC14, #ffb111);
	-pie-background: linear-gradient(#FFBC14, #ffb111);
	border-bottom: 3px solid #ff8e0d;
}
.bgcolor3 {
	background: #352724;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#352825), to(#2d211e));
	background: -webkit-linear-gradient(#352825, #2d211e);
	background: -moz-linear-gradient(#352825, #2d211e);
	background: -ms-linear-gradient(#352825, #2d211e);
	background: -o-linear-gradient(#352825, #2d211e);
	background: linear-gradient(#352825, #2d211e);
	-pie-background: linear-gradient(#352825, #2d211e);
	border-bottom: 3px solid #120c0b;
}
.bgcolor4 {
	background: #d2371b;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#D2371B), to(#ca2f17));
	background: -webkit-linear-gradient(#D2371B, #ca2f17);
	background: -moz-linear-gradient(#D2371B, #ca2f17);
	background: -ms-linear-gradient(#D2371B, #ca2f17);
	background: -o-linear-gradient(#D2371B, #ca2f17);
	background: linear-gradient(#D2371B, #ca2f17);
	-pie-background: linear-gradient(#D2371B, #ca2f17);
	border-bottom: 3px solid #ac1307;
}
.col1.bgcolor1 .mask {
	background: #012f50;
}
.col1.bgcolor2 .mask {
	background: #ff8e0d;
}
.col1.bgcolor3 .mask {
	background: #120c0b;
}
.col1.bgcolor4 .mask {
	background: #ac1307;
}
.col1 a:hover {
	text-decoration: none;
}
.col1 a:hover .mask {
	opacity: .7;
	transition-delay: 0s;
	-webkit-transition-delay: 0s;
	-moz-transition-delay: 0s;
	-o-transition-delay: 0s;
	transform: translate(0px, 0px);
	-webkit-transform: translate(0px, 0px);
	-moz-transform: translate(0px, 0px);
	-o-transform: translate(0px, 0px);
}
.col2 {
	float: left;
	width: 220px;
	margin: 0 10px;
}
.col2.col3 {
	width: 300px;
}
.quotes {
	background: #eceae9;
	position: relative;
	padding: 13px 20px 14px;
	margin-top: 5px;
}
.quotes span {
	display: block;
	background: url(/clients/CaminoRealPlayhouse/Images/quotes.png) 100% 0 no-repeat;
	width: 23px;
	height: 11px;
	position: absolute;
	bottom: -11px;
	left: 46%;
}
blockquote {
	font: 400 16px/24px Arial, Helvetica, sans-serif;
	color: #2e2220;
}
.quotes-link {
	text-align: center;
	padding: 27px 0 0 0;
}
.box2 img {
	float: left;
	margin: 6px 11px 0 0;
}
.box2 img.imgindent2 {
	margin: 6px 6px 0 0;
}
.box2 p {
	padding-bottom: 25px;
}
.box-product {
	background: #F7EACB;
	padding: 20px 20px 12px 20px;
	border-bottom: 3px solid #ECCD86;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.box-product .lightbox-image {
	display: block;
}
.box-product .title-2 {
	font: 400 15px/16px Arial, Helvetica, sans-serif;
	padding: 10px 0 10px 0;
}
.box-product .title-3 {
	font: 400 15px/16px Arial, Helvetica, sans-serif;
	padding: 0px 0 0px 0;
}
.box-product .title-2 a {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.box-product .title-2 a:hover {
	text-decoration: underline;
}
.box-product:hover {
	background: #8c241a;
	color: #fff;
	border-bottom: 3px solid #ac1308;
}
.box-product:hover .title-2 a {
	color: #fff;
}
.map {
	float: left;
	margin: 5px 21px 0 0;
}
.map iframe {
	width: 430px;
	height: 317px;
}
.contacts {
	display: block;
	overflow: visible;
	font-style: normal;
}
.contacts span {
	display: inline-block;
	width: 58px;
}
/* Elastislide Style */
.es-carousel-wrapper {
	background: #F4E0AE;
	padding: 1px 26px 1px;
	position: relative;
	margin: 1px 0 0 0;
	z-index: 99;
}
.es-carousel {
	overflow: visible;
}
.es-carousel ul {
	display: none;
}
.es-carousel ul li {
	height: 100%;
	float: left;
	display: block;
}
.es-carousel ul li a.button1 {
	margin-top: 20px;
	display: inline-block;
}
.es-carousel ul li a.lightbox-image {
	display: inline;
}
.es-carousel ul li span {
	display: block;
}
.es-carousel ul li img {
	display: block;
	border: none;
	max-height: 100%;
	max-width: 100%;
}
.es-nav span.es-nav-next, .es-nav span.es-nav-prev {
	display: block !important;
	position: absolute;
	top: -25px;
	line-height: 0;
	font-size: 0;
	width: 19px;
	text-indent: -5000px;
	height: 19px;
	z-index: 99;
	cursor: pointer;
	background-position: 0 0;
}
.es-nav span.es-nav-next {
	right: 0px;
	background-image: url(/clients/CaminoRealPlayhouse/Images/carousel-arrow.png);
}
.es-nav span.es-nav-prev {
	right: 24px;
	background-image: url(/clients/CaminoRealPlayhouse/Images/carousel-arrow2.png);
}
.es-nav span:hover {
	background-position: 0 -19px;
}
.dropcap {
	display: block;
	float: left;
	text-transform: uppercase;
	font: 400 60px/1.2em Arial, Helvetica, sans-serif;
	color: #fff;
	width: 76px;
	height: 76px;
	text-align: center;
	border-radius: 40px;
	margin: 8px 19px 9px 1px;
}
.dropcap span {
	display: block;
	margin-top: -2px;
}
.bgcolor2-1 {
	background: #03688f;
}
.bgcolor2-2 {
	background: #ffbc14;
}
.bgcolor2-3 {
	background: #352824;
}
.bgcolor2-4 {
	background: #d1371b;
}
/*  Buttons */
.button {
	display: inline-block;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	font: 12px/20px Arial, Helvetica, sans-serif;
	color: #fff;
	background: url(/clients/CaminoRealPlayhouse/Images/button.jpg) 0 0 repeat-x;
	padding: 2px 9px 3px 11px;
	border-radius: 5px;
}
.button span {
	background: url(/clients/CaminoRealPlayhouse/Images/button-arrow.png) 0 0 no-repeat;
	width: 5px;
	height: 8px;
	display: inline-block;
	margin: 7px 0 0 18px;
}
.button:hover {
	text-decoration: none;
	background: url(/clients/CaminoRealPlayhouse/Images/button.jpg) 0 -25px repeat-x;
}
.button1 {
	text-transform: uppercase;
	color: #777e83;
}
/******************** Footer ******************/
footer {
	width: 100%;
	position: relative;
	overflow: visible;
	font: 11px/20px Arial, Helvetica, sans-serif;
	color: FFBC0D;
}
footer .container_12 {
	padding: 44px 0 50px;
}
footer a {
	color: #ffffff;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
footer a:hover {
	color: #FFBC0D;
}
footer h1 {
	padding: 6px 0 15px 0;
}
footer h1 a {
	display: block;
	background: url(/clients/CaminoRealPlayhouse/Images/logo-footer.png) 0 0 no-repeat;
	width: 130px;
	height: 43px;
	text-indent: -5000px;
}
.copyright {
	color: #ffffff;
	margin-top: -21px;
}
.tooltips {
	position: relative;
	padding: 5px 0 0 0;
}
.tooltips li {
	display: inline-block;
	width: 102px;
	padding-bottom: 10px;
	padding-left: 1px;
}
.tooltips li a {
	color: #FFFFFF;
}
.tooltips li strong {
	display: inline-block;
	position: relative;
	margin: 1px 11px 0 0;
	width: 16px;
	height: 16px;
}
.tooltips li strong img {
	position: relative;
	z-index: 2;
	-webkit-transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	transition: all 0.5s linear;
}
.tooltips li strong span {
	position: absolute;
	top: 0;
	z-index: 1;
	left: 0;
	right: 0;
	bottom: 0;
}
.tooltips li a:hover {
	color: #FFFFFF;
	text-decoration: none;
}
.tooltips li a:hover img {
	-webkit-transform: rotate(360deg) scale(1.2);
	-moz-transform: rotate(360deg) scale(1.2);
	-o-ttransform: rotate(360deg) scale(1.2);
	transform: rotate(360deg) scale(1.2);
}
/* padding */
.padtop {
	padding: 44px 0 0 0;
}
.padtop2 {
	padding-top: 52px;
}
.padtop3 {
	padding-top: 39px;
}
.padtop62 {
	padding-top: 32px;
}
.padtop6 {
	padding-top: 26px;
}
.padtop5 {
	padding-top: 21px;
}
.padtop52 {
	padding-top: 20px;
}
.padtop7 {
	padding-top: 17px;
}
.padtop4 {
	padding-top: 13px;
}
.padbot4 {
	padding-bottom: 20px;
}
.padbot {
	padding-bottom: 21px;
}
.padbot2 {
	padding-bottom: 23px;
}
.padbot32 {
	padding-bottom: 7px;
}
.padbot3 {
	padding-bottom: 28px;
}
.padbot00 {
	padding-bottom: 0 !important;
}
.z1 {
	position: relative;
	z-index: 2;
}
.z2 {
	position: relative;
	z-index: 3;
}
.imgindent {
	float: left;
	margin: 5px 21px 0 0;
}
/* Lightbox image */
.lightbox-image {
	display: inline-block;
	position: relative;
}
.lightbox-image img {
	position: relative;
	z-index: 2;
	max-width: 100%;
	height: auto;
}
.lightbox-image span {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: url(/clients/CaminoRealPlayhouse/Images/magnify.png) 50% 50% no-repeat #fff;
}
/*==========================================*/
@media only screen and (min-width: 768px) and (max-width: 995px) {
.logo a {
	min-width: 179px;
	text-align: center;
}
.logo a img {
	margin: 0;
}
header {
	width: 748px;
}
.bg2 {
	width: 748px;
}
.col1 {
	width: 187px !important;
}
.col1 a .mask {
	width: 187px;
	height: 190px;
}
.title, .title span {
	font-size: 18px !important;
}
.col2 {
	width: 172px !important;
}
.col2.col3 {
	width: 236px !important;
}
.copyright {
	margin-top: -40px !important;
}
.tooltips li {
	width: 80px;
}
header {
	padding: 10px 10px 1px 10px;
}
.bg2 {
	padding: 2px 10px 0 10px;
}
.indent {
	overflow: auto;
	float: left;
}
.dropcap {
	margin: 8px 5px 9px 1px;
}
.map {
	margin-right: 15px;
}
.map iframe {
	width: 330px;
	height: 260px;
}
}
@media only screen and (max-width: 767px) {
footer h1 {
	display: none;
}
.logo {
	float: none;
}
.logo a {
	position: relative;
	text-align: left;
	padding-left: 2px;
}
.logo a img {
	margin: 0;
}
.col1 {
	width: 260px !important;
}
.col1 a {
	padding: 18px 20px 15px 17px;
}
.col1 a .mask {
	width: 260px;
	height: 172px;
}
.col2 {
	width: 260px !important;
	margin: 0;
}
.col2.col3.space {
	margin-right: 20px;
}
.copyright {
	margin-top: 0px !important;
	padding-top: 15px;
}
.tooltips li {
	padding-left: 0;
	padding-bottom: 5px;
}
.tooltips {
	position: relative;
	padding: 10px 0 0 0;
}
.es-carousel ul li a.button1, .es-carousel ul li span {
	display: none;
}
.imgindent {
	float: none;
	margin: 5px 0 20px 0;
}
.imgindent img {
	width: 300px;
}
.padbot0 {
	padding-bottom: 0 !important;
}
.title-2 a span {
	display: inline;
}
.title-2 {
	padding: 30px 0 0 0;
}
.col4 {
	width: 200px !important;
	float: left;
}
.box-product .lightbox-image img {
	width: 220px;
}
.map {
	margin: 0;
	float: none;
}
.map iframe {
	width: 260px;
	height: 160px;
}
.col5 {
	float: left;
	margin-right: 30px;
}
.contacts {
	padding-top: 20px;
	padding-bottom: 20px;
}
header {
	width: 260px;
}
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
.col1 {
	width: 420px !important;
}
.col1 a {
	padding: 25px 20px 22px 17px;
}
.col1 a .mask {
	width: 420px;
	height: 154px;
}
.col2 {
	width: 200px !important;
}
.imgindent img {
	width: 420px;
}
.box-product .lightbox-image img {
	width: 380px;
}
.map iframe {
	width: 420px;
	height: 160px;
}
header {
	width: 420px;
}
}
/* Project specifics =========================================================== */
/* Pour some CSS below ========================================================= */
