.ContainerMaster {
	WIDTH: 100%
}
.container {
	WIDTH: 100%; BACKGROUND-COLOR: transparent
}
.Normal {
	FONT-WEIGHT: normal; FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: Arial Georgia
}
A:link {
	COLOR: #793e1e
}
A:visited {
	COLOR: #793e1e
}
A:hover {
	COLOR: #793e1e; TEXT-DECORATION: underline
}
A:active {
	COLOR: #793e1e; TEXT-DECORATION: underline
}
A.link:link {
	COLOR: #793e1e
}
A.link:visited {
	COLOR: #793e1e
}
A.link:hover {
	COLOR: #793e1e; TEXT-DECORATION: underline
}
A.link:active {
	COLOR: #793e1e; TEXT-DECORATION: underline
}
.standardTitle {
	FONT-WEIGHT: normal; FONT-SIZE: 11pt; COLOR: #ded4ca; FONT-STYLE: normal; FONT-FAMILY: Arial; LETTER-SPACING: 0.5pt; BACKGROUND-COLOR: transparent
}
.rpTitle {
	FONT-WEIGHT: normal; FONT-SIZE: 11pt; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Arial; BACKGROUND-COLOR: transparent
}
.pf_title {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 8pt; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: white; PADDING-TOP: 0px; FONT-FAMILY: Arial; BACKGROUND-COLOR: transparent
}
.pictureContent {
	BORDER-RIGHT: #e7dcc8 1px solid; BORDER-TOP: #e7dcc8 1px solid; BORDER-LEFT: #e7dcc8 1px solid; BORDER-BOTTOM: #e7dcc8 1px solid
}
.left {
	BORDER-TOP: #e7dcc8 1px solid; BORDER-LEFT: #e7dcc8 1px solid; WIDTH: 3px; BORDER-BOTTOM: #e7dcc8 1px solid
}
.right {
	BORDER-RIGHT: #e7dcc8 1px solid; BORDER-TOP: #e7dcc8 1px solid; WIDTH: 3px; BORDER-BOTTOM: #e7dcc8 1px solid
}
