a:focus { outline: 0; }

html {
	overflow: 			auto;
	overflow-x: 		hidden;
	padding: 			0;
	margin: 			0;
	}

body {
	background: 		#fff;
	padding: 			0;
	margin: 			0;
	font:				12px Arial, Helvetica, sans-serif;
	line-height:		14px;
	color: 				#000;
	}

.common {
	position: 			relative;
	float: 				left;
	}

p {
	margin: 			0 0 19px 0;
	}

a {
	outline: 			none;
	text-decoration:	none;
	color: 				#006bb7;
	}

a:hover {
	text-decoration:	underline;
	}


.container {
	position: 			relative;
	float: 				left;
	width: 				926px;
	left: 				50%;
	margin: 			0 0 0 -463px;
	padding: 			0 0 20px 0;
	text-align: 		left;
	}

.container_solopreview {
	position: 			relative;
	float: 				left;
	width: 				926px;
	left: 				50%;
	margin:		 		0 0 0 -463px;
	padding: 			0 0 20px 0;
	text-align: 		left;
	}

.container_solopreview_msie {
	position: 			relative;
	float: 				left;
	width: 				926px;
	left: 				50%;
	margin:		 		0 0 0 -463px;
	padding: 			32px 0 20px 0;
	text-align: 		left;
	}

