BODY {
	FONT-SIZE: 10pt; MARGIN: 0pt 0pt 4pt; COLOR: black; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
P {
	FONT-SIZE: 10pt; COLOR: black; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: left
}
TD {
	FONT-SIZE: 10pt; COLOR: black; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
A {
	FONT-SIZE: 10pt; COLOR: #3300cc; TEXT-DECORATION: none
}
A:hover {
	TEXT-DECORATION: underline
}
.headline {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; COLOR: #3300cc
}
.headline_small {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #000000
}
.form_button_green {
	BORDER-RIGHT: #006600 thin solid; BORDER-TOP: #cccccc thin solid; FONT-WEIGHT: bold; FONT-SIZE: 11px; TEXT-TRANSFORM: capitalize; BORDER-LEFT: #cccccc thin solid; CURSOR: hand; COLOR: #ffffff; LINE-HEIGHT: 0.85; BORDER-BOTTOM: #006600 thin solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #006633
}
.size8 {
	FONT-SIZE: 8pt
}
.white_text {
	FONT-SIZE: 10pt; COLOR: #ffffff
}
.leftmenu {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #e4e5ea; TEXT-DECORATION: none
}
A.leftmenu:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #ff9933; TEXT-DECORATION: underline
}
.size8footer {
	FONT-SIZE: 8pt; COLOR: #808080; TEXT-DECORATION: none
}
A.size8footer:hover {
	COLOR: #808080; TEXT-DECORATION: underline
}
.size8footer_black {
	FONT-SIZE: 8pt; COLOR: #000000; TEXT-DECORATION: none
}
A.size8footer {
	FONT-WEIGHT: bold; COLOR: #808080; TEXT-DECORATION: none
}
.form_text {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.value_topic {
	FONT-STYLE: italic
}
.adminmenu_headerbackground {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 10pt; BACKGROUND: #3374ec; MARGIN: 6pt 4pt; BORDER-LEFT: #000000 1px solid; COLOR: #ffffff; BORDER-BOTTOM: #000000 1px solid
}
.admintable_header_green {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; BACKGROUND: #006633; COLOR: #ffffff
}
.admintable_header_white {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; FONT-SIZE: 10pt; BACKGROUND: #ffffff; BORDER-LEFT: #000000 1px solid; COLOR: #000000; BORDER-BOTTOM: #000000 1px solid
}
.admintable_header_gray {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; FONT-SIZE: 10pt; BACKGROUND: #cccccc; BORDER-LEFT: #000000 1px solid; COLOR: #000000; BORDER-BOTTOM: #000000 1px solid
}
.calendar_title {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #ffffff; BACKGROUND-COLOR: #ff9933; TEXT-ALIGN: center
}
.calendar_header {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #ffffff; BACKGROUND-COLOR: #ff9933; TEXT-ALIGN: center
}
.calendar_noevent {
	BACKGROUND: #e7e7e7
}
A.calendar_event {
	FONT-SIZE: 10pt; COLOR: #3333ff; TEXT-DECORATION: underline
}
A.calendar_event:hover {
	COLOR: #edae5c; TEXT-DECORATION: underline
}
#fixedtipdiv {
	BORDER-RIGHT: black 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: black 1px solid; PADDING-LEFT: 2px; Z-INDEX: 100; PADDING-BOTTOM: 2px; FONT: 12px/18px Verdana; BORDER-LEFT: black 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: black 1px solid; POSITION: absolute
}
#dhtmltooltip {
	BORDER-RIGHT: black 2px solid; PADDING-RIGHT: 2px; BORDER-TOP: black 2px solid; PADDING-LEFT: 2px; Z-INDEX: 100; FILTER: progid:DXImageTransform.Microsoft.Shadow(color=gray,direction=135); VISIBILITY: hidden; PADDING-BOTTOM: 2px; BORDER-LEFT: black 2px solid; WIDTH: 150px; PADDING-TOP: 2px; BORDER-BOTTOM: black 2px solid; POSITION: absolute; BACKGROUND-COLOR: lightyellow
}
.error {
	FONT-WEIGHT: bold; COLOR: #ff0000
}
.success {
	FONT-WEIGHT: bold; COLOR: #33cc33
}
.blacktableborder {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; BORDER-LEFT: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid
}
.whitetableborder {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; BORDER-LEFT: #ffffff 1px solid; BORDER-BOTTOM: #ffffff 1px solid
}
.graytableborder {
	BORDER-RIGHT: #868396 1px solid; BORDER-TOP: #868396 1px solid; BORDER-LEFT: #868396 1px solid; BORDER-BOTTOM: #868396 1px solid
}
.scrolling_headline {
	FONT-WEIGHT: bold; COLOR: #3374ec
}
.member_name {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt
}
.member_organization {
	FONT-WEIGHT: bold
}
.instructions {
	BORDER-RIGHT: #030180 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #030180 1px solid; PADDING-LEFT: 5px; FONT-SIZE: 8pt; BACKGROUND: #ffffcd; PADDING-BOTTOM: 5px; MARGIN: 6pt 4pt; BORDER-LEFT: #030180 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #030180 1px solid
}
