<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<head runat="server">
<asp:ContentPlaceHolder id="MasterHead" runat="server"></asp:ContentPlaceHolder>
</head>
<BODY BGCOLOR=#FFFFFF LINK=#333383 ALINK=#008400 VLINK=#333383 leftmargin=0 rightmargin=0 topmargin=0 marginheight=0 marginwidth=0 >
<form id="form1" runat="server">
<div>
<style xmlns:local="local" type="text/css">
      <!--
    .vertical { display: block; }
    .homelink { border: 0; }
--></style><style xmlns:local="local"><!--
        
    .vnav ul, .hnav ul {
   	margin: 0;
   	padding: 0;
   	list-style: none;
    width:100%;
    }
   	
    .vnav ul li {
   	position: relative;
   	margin: 0;
   	padding: 0;
    }
    .hnav ul li { 
   	position: relative;
   	margin: 0;
   	padding: 0;
        float: left; 
    }
    /* make sure active submenu is on top */
    .vnav ul li.over, .hnav ul li.over {
        z-index: 99;
    }
    .hnav li ul li { 
        float: none; 
        width: 165px;
    }
    
    .vnav li ul {
   	position: absolute;
   	left: 100%;
   	top: 0;
   	display: none;
    }
        
    .hnav li ul {
   	position: absolute;
   	left: 25%;
   	top: 100%;
   	display: none;
    }
    
    .hnav ul li ul li ul {
   	position: absolute;
   	left: 100%;
   	top: 0;
   	display: none;
    }
        
    .vnav ul li a {
   	display: block;
        width: 100%;
   	text-decoration: none;
    }
    .vnav ul li a.NavBarImage {
   	display: block;
        width: 100%;
   	text-decoration: none;
        margin: 0;
        padding: 0;
    }
    .vnav ul li a img {
   	display: block;
    }
    .hnav ul li a img {
   	display: block;
    }
    
    .hnav ul li a { 
   	display: block;
   	text-decoration: none;
    }
    .hnav li ul li a, .vnav li ul li a { 
        float: none;
        width: 100%;
        border: 1px solid #ccc;
   	border-bottom: 0;
        }

    .vnav ul li a:hover, .hnav ul li a:hover {
   	text-decoration: underline;
    }
    
    .tnav ul {
	   	margin: 0;
	   	padding: 0;
	   	list-style: none;
	   	display: inline;
    }
    .tnav ul li { 
	   	margin: 0;
	   	padding: 0;
	   	display: inline;
    }
    .tnav ul li a { 
	   	display: inline;
    }
   	
   /* Fix IE. Hide from IE Mac \*/
   * html .vnav ul li { float: left; height: 1%; }
   * html .hnav ul li { float: left; height: 1%; }
   /* End */
   
    .vnav li:hover ul, .vnav li.over ul {
        display: block;
        width: 100%;
        background-color: #ccc;
        border-bottom: 1px solid #ccc;
    }
    .hnav li:hover ul, .hnav li.over ul {
        display: block;
        width: 165px;
        background-color: #ccc;
        border-bottom: 1px solid #ccc;
    }
    .vnav li:hover ul li ul, .vnav li.over ul li ul, .hnav li:hover ul li ul, .hnav li.over ul li ul {
        display: none;
        background-color: #ccc;
        border-bottom: 1px solid #ccc;
    }
    .vnav li ul li:hover ul, .vnav li ul li.over ul, .hnav li ul li:hover ul, .hnav li ul li.over ul {
        display: block;
        width: 100%;
        background-color: #ccc;
        border-bottom: 1px solid #ccc;
    }
    .vnav li ul li:hover ul li ul, .vnav li ul li.over ul li ul, .hnav li ul li:hover ul li ul, .hnav li ul li.over ul li ul {
   	display: none;
   	background-color: #ccc;
        border-bottom: 1px solid #ccc;
    }
    .vnav li ul li ul li:hover ul, .vnav li ul li ul li.over ul, .hnav li ul li ul li:hover ul, .hnav li ul li ul li.over ul {
   	display: block;
        width: 100%;
   	background-color: #ccc;
        border-bottom: 1px solid #ccc;
    }

--></style>
   	<style type="text/css"><!-- .cornerimage {  
   		background-image: url(/clients/Triangle-Academy-Dance/Images/Logo.gif); 
       		background-repeat: no-repeat;
       		background-position: center;
       	}
    .pageheader {  
       		background-image: url(/clients/Triangle-Academy-Dance/Images/design_0009_1.jpg); 
         		background-color: transparent; 
       		background-repeat: no-repeat; 
       		background-position: top right;
       	}
    .user {  text-align: center; 
       		color: #000000;
       		font-family: georgia,times,serif;
       		font-size: 14px;
       	}
    .sitetitle {  
       		text-align: left;
       		color: 000000;
       		font-family: Arial, Helvetica, sans-serif;
       		font-size: 12px;
       		padding: 18px 83px 5px 83px;
       	}
    .pagetitle {  
       		text-align: left;
       		color: 333333;
       		font-family: Arial, Helvetica, sans-serif;
       		font-size: 16px;
       		padding: 18px 83px 5px 83px;
       	}
    .subhead {  padding: 17px 30px 5px 20px;}
    .main {  padding: 17px 30px 5px 20px;}
    .area_a {  padding: 17px 30px 5px 20px;}
    .area_b {  padding: 17px 30px 5px 20px;}
    .area_c {  padding: 17px 30px 5px 20px;}
    .runner {  
       		background-image: url(/clients/Triangle-Academy-Dance/Images/spacer.gif);
   		background-repeat: no-repeat;
       		color: #ffffff;
       		padding: 4px 20px 2px 20px;}
    .footer {  
       		color: #ffffff;
       	}
    .usertable {  }
    .subhead_table {  }
    .main_table {  }
    .area_a_table {  }
    .area_b_table {  }
    .area_c_table {  }
    .runner_table {  }
    .hnav {  }
    .horizontal {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; text-decoration: none;
                        color: #ffffff;
                        padding: 4px 9px 2px 9px; }
    .horizontal:hover {  }
    .horizontalfirst {  }
    .horizontallast {  }
    .vnav {  }
    .vertical {  }
    .vertical:hover {  }
    .verticalfirst {  }
    .verticallast {  }
    #currentnavpage {  
      		color: #ffffff; 
      		font-weight: bold;
      	}
    #currentnavpage:hover {  }
    .tnav {  }
    .textnav {  }
    .textnav:hover {  }
    .textnavfirst {  }
    .textnavlast {  }
    #textnav {  }
    #textnav:hover {  }
    .subnav .vertical { 
      		background-color: #eeeeee;
      		font-family: Verdana, Arial, Helvetica, sans-serif; 
      		font-size: 12px; 
      		text-decoration: none;
           color: #000000;
           padding: 2px 9px;
      	}
    .subnav .vertical:hover { 
      		background-color: #eeeeee;
      		color: #000000;
      		font-family: Verdana, Arial, Helvetica, sans-serif; 
      		font-size: 12px; 
           padding: 2px 9px;
      	 }
    A.NavBar {  
      		color: #ffffff;
      	}
    A.NavBar:active link {  
      		color: #ffffff;
      	}
    .user a { 
      		color: #000000;
      	}
    .user a:active { 
      		color: #000000;
      	 }
    .user a:visited { 
      		color: #000000;
      	 }
    body { 
      		background-image: url(/clients/Triangle-Academy-Dance/Images/spacer.gif);
   		background-repeat: repeat-all;
      		text-align: left;
      	}
    .pagebody { 
   	    padding: 17px 30px 5px 20px;
       }
    * html .pagebody { 
   	    padding-right: 70px;
       }
   
     -->
      	 </style>
                                 
      <!-- media="all": hack to hide stuff, when necessary
      	(like background images on normally-inline elements)
      	from NS 4 -->
      	<style type="text/css" media="all"><!--
      -->
      	 </style>
                                 
      </head>
      <body bgcolor="#D8D8F9">
                                 
      <table border="0" cellpadding="0" cellspacing="0" width="100%">
      <tbody><tr>
      <td align="left" bgcolor="#151599" valign="top" height="8"></td>
      </tr>
      <tr>
      <td align="left" valign="top" height="106"><table border="0" cellpadding="0" cellspacing="0" width="100%">
                                           <tbody><tr>
                                             <td style="background-repeat:no-repeat; background-position:top left " align="left" background="/clients/Triangle-Academy-Dance/Images/design_0009_2.jpg" valign="top" height="106"><table border="0" cellpadding="0" cellspacing="0" width="100%">
                                               <tbody><tr>
                                                 <td class="pageheader" align="left" valign="top" height="106">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tbody><tr>
                        <td>      
      <div xmlns:local="local" class="user sitetitle">
      <div style="text-align:left;"><span style="font-family:Papyrus,times new roman,serif;color:000000;font-weight:bold;font-style:italic;font-size:48px;">Triangle Academy of Dance</span></div>
   </div>
      
                        </td>
                        <td class="cornerimage" width="240" height="106"></td>
                        </tr>
                        </tbody></table>
                           </td>
                                               </tr>
                                             </tbody></table></td>
                                           </tr>
                                         </tbody></table></td>
                                       </tr>
                                       <tr>
                                         <td align="left" bgcolor="#11117C" valign="top" height="8"></td>
                                       </tr>
                                       <tr>
                                         <td style="background-repeat:repeat-x " align="right" background="/clients/Triangle-Academy-Dance/Images/design_0009_3.jpg" bgcolor="#010165" valign="top" height="22">
      
   <!--navbar Type="Horiz" uses-text="N"-->
   <div xmlns:local="local" class="hnav"><script language="javascript" type="text/javascript">
        function tweNavbarPreload(imgSrc, imgObj) {
            if (document.images) {
                eval(imgObj+' = new Image()');
                eval(imgObj+'.src = "'+imgSrc+'"');
            }
        }

        function tweNavbarChangeImage(imgName, imgObj) {
            if (document.images) {
                document[imgName].src = eval(imgObj + ".src");        
            }
        } 

    	</script><style>
        <!--
        .vnav li ul, .hnav li ul {background-color: #ffffff; 
                        color: #000000 ; 
                        text-align: left ; 
                    }
        .vnav li:hover ul, .vnav li.over ul, .hnav li:hover ul, .hnav li.over ul {background-color: ; 
                        color: #0 ; 
                        text-align: left ; 
                    }
        .vnav ul li a, .hnav ul li a {background-color: ; 
        
                        color: #0 ; 
                    }
        .vnav ul li.current a, .hnav ul li.current a {background-color: ; 
        
                        color: #0 ; 
                    }
        .vnav ul li a:hover, .hnav ul li a:hover {background-color: ; 
        
                        color: #0 ; 
                    }
        .vnav li ul li a, .hnav li ul li a {background-color: #ffffff; 
        
                        color: #000000 ; 
                    }
        .vnav li ul li a:hover, .hnav li ul li a:hover {background-color: #eeeeee; 
        
                        color: #000000 ; 
                    }
                    
        -->
        </style><ul><li class="nav"><a class="NavBar horizontal horizontalfirst" href="http://www.triangle-academy-dance.com/index.html">Intro</a></li>
      <wbr>
      <li class="current"><a class="NavBar horizontal" href="http://www.triangle-academy-dance.com/home.html" id="currentnavpage">Home</a></li>
      <wbr>
      <li class="nav"><a class="NavBar horizontal" href="http://www.triangle-academy-dance.com/philosophy.html">Our&nbsp;Philosophy</a></li>
      <wbr>
      <li class="nav"><a class="NavBar horizontal" href="http://www.triangle-academy-dance.com/staff.html">Our&nbsp;Staff</a></li>
      <wbr>
      <li class="nav"><a class="NavBar horizontal" href="http://www.triangle-academy-dance.com/our_studio.html">Our&nbsp;Studio</a></li>
      <wbr>
      <li onmouseover="this.className+=' over'" onmouseout="this.className=this.className.replace(' over','')" class="nav"><a class="NavBar horizontal" href="http://www.triangle-academy-dance.com/summer_on_line_registration.html">Summer&nbsp;Registration&nbsp;&amp;&nbsp;Class&nbsp;Information</a><ul>
            <li class="subnav"><a class="NavBar vertical" href="https://app.jackrabbitclass.com/portal/ppLogin.asp?id=510895" target="_new">Family Portal</a></li>
         </ul>
      </li>
      <wbr>
      <li class="nav"><a class="NavBar horizontal" href="http://triangle-academy-dance.tix.com/" target="_self">TAD&nbsp;Recital&nbsp;Ticket&nbsp;Sales</a></li>
      <wbr>
      <li class="nav"><a class="NavBar horizontal" href="http://www.triangle-academy-dance.com/photos.html">Photos</a></li>
      <wbr>
      <li onmouseover="this.className+=' over'" onmouseout="this.className=this.className.replace(' over','')" class="nav"><a class="NavBar horizontal" href="http://www.triangle-academy-dance.com/cyb.html">Carolina&nbsp;Youth&nbsp;Ballet</a><ul>
            <li class="subnav"><a class="NavBar vertical" href="http://carolinayouthballet.tix.com/" target="_self">On-Line Ticket Sales</a></li>
            <li class="subnav"><a class="NavBar vertical" href="http://www.triangle-academy-dance.com/id115.html">CYB Nutcracker</a></li>
         </ul>
      </li>
      <wbr>
      <li onmouseover="this.className+=' over'" onmouseout="this.className=this.className.replace(' over','')" class="nav"><a class="NavBar horizontal" href="http://www.triangle-academy-dance.com/teams.html">Teams</a><ul>
            <li class="subnav"><a class="NavBar vertical" href="http://www.triangle-academy-dance.com/jazz_teams.html">TAD Jazz Team 2011</a></li>
            <li class="subnav"><a class="NavBar vertical" href="http://www.triangle-academy-dance.com/tapteams.html">TAD Tap Teams</a></li>
         </ul>
      </li>
      <wbr>
      <li class="nav"><a class="NavBar horizontal" href="http://www.triangle-academy-dance.com/dancers_pointe_boutique.html">Dancer's&nbsp;Pointe&nbsp;Boutique</a></li>
      <wbr>
      <li onmouseover="this.className+=' over'" onmouseout="this.className=this.className.replace(' over','')" class="nav"><a class="NavBar horizontal horizontallast" href="http://www.triangle-academy-dance.com/general_info.html">General&nbsp;Information</a><ul>
            <li class="subnav"><a class="NavBar vertical" href="http://www.triangle-academy-dance.com/map_directions.html">Map/Directions</a></li>
            <li class="subnav"><a class="NavBar vertical" href="http://www.triangle-academy-dance.com/contact.html">Contact Us</a></li>
         </ul>
      </li></ul>
   </div>
   <!--/navbar--></td>
                                       </tr>
                                       <tr>
                                         <td class="pagebody" align="left" background="/clients/Triangle-Academy-Dance/Images/design_0009_4.jpg" valign="top" height="376">
      <asp:ContentPlaceHolder id="MasterContent" runat="server"></asp:ContentPlaceHolder>

										</td>
                                       </tr>
                                       <tr>
                                         <td style="background-repeat:repeat-x " align="left" background="/clients/Triangle-Academy-Dance/Images/design_0009_5.jpg" bgcolor="#151599" valign="top" height="28">
         
      
   <!--area Type="runner" class="user runner"-->
   <div xmlns:local="local" class="user runner">
      			
      			
      			
      		
      	
      <!--area Type="footer" class="user footer"-->
      <div class="user footer">
         <p><span style=""></span></p><div align="center"><font size="2" color="#FFFFFF" face="Verdana,Arial,Helvetica,sans-serif">Triangle Academy of Dance <br>2918 Kildaire Farm Road * Cary, NC * 27518 * 919-387-1298<br>Office Hours * Mon.-Fri. 2pm - 6pm * Saturday&nbsp;9am-12pm</font><!--"''"--></div><p></p>
      </div>
      <!--/area Type="footer"-->
   </div>
   <!--/area Type="runner"--></td>
                                       </tr>
                                     </tbody></table>
                                 
      
   
</div>
</form>
</body>
</html>