.postext {
	FONT-SIZE: small; COLOR: #999
}
.noshow {
	DISPLAY: none; COLOR: #ccc
}
TABLE.acajoomcss {
	BORDER-RIGHT: #d5d5d5 1px solid; BORDER-TOP: #d5d5d5 1px solid; MARGIN: 8px 0px 15px; BORDER-LEFT: #d5d5d5 1px solid; WIDTH: 100%; BORDER-BOTTOM: #d5d5d5 1px solid; BORDER-COLLAPSE: collapse; BACKGROUND-COLOR: #f9f9f9
}
TABLE.acajoomcss_bots {
	BORDER-RIGHT: #d5d5d5 1px solid; BORDER-TOP: #d5d5d5 1px solid; MARGIN: 8px 0px 15px; BORDER-LEFT: #d5d5d5 1px solid; WIDTH: 100%; BORDER-BOTTOM: #d5d5d5 1px solid; BORDER-COLLAPSE: collapse; BACKGROUND-COLOR: #f9f9f9
}
TABLE.acajoomcss TR.row0 {
	BACKGROUND-COLOR: #f9f9f9
}
TABLE.acajoomcss TR.row1 {
	BACKGROUND-COLOR: #eeeeee
}
TABLE.acajoomcss TH {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-SIZE: 11px; PADDING-BOTTOM: 2px; COLOR: #000; PADDING-TOP: 6px; BACKGROUND-REPEAT: repeat; HEIGHT: 25px; TEXT-ALIGN: right
}
TABLE.acajoomcss TD {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; TEXT-ALIGN: right
}
FIELDSET.acajoomcss {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; MARGIN: 0px 10px 10px; BORDER-LEFT: #ccc 1px solid; BORDER-BOTTOM: #ccc 1px solid
}
TABLE.acajoomtable TD {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
TABLE.acajoomcss_bots TD {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
TABLE.acajoomtable TD.key {
	BORDER-RIGHT: #e9e9e9 1px solid; FONT-WEIGHT: bold; WIDTH: 150px; COLOR: #666; BORDER-BOTTOM: #e9e9e9 1px solid; BACKGROUND-COLOR: #f6f6f6; TEXT-ALIGN: left
}
TABLE.acajoomtable TD.paramlist_key {
	BORDER-RIGHT: #e9e9e9 1px solid; FONT-WEIGHT: bold; WIDTH: 150px; COLOR: #666; BORDER-BOTTOM: #e9e9e9 1px solid; BACKGROUND-COLOR: #f6f6f6; TEXT-ALIGN: left
}
TABLE.acajoomtable TD.vtop {
	VERTICAL-ALIGN: top
}
#acajoom TABLE.adminheading TH {
	PADDING-RIGHT: 0px; PADDING-LEFT: 65px; BACKGROUND: url(acajoom.jpg) no-repeat left 50%; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#acajoom UL {
	BORDER-RIGHT: medium none; PADDING-RIGHT: 0px; BORDER-TOP: medium none; PADDING-LEFT: 20px; LIST-STYLE-IMAGE: url(dot.png); PADDING-BOTTOM: 1px; MARGIN: 0px; BORDER-LEFT: medium none; PADDING-TOP: 1px; BORDER-BOTTOM: medium none
}
DIV.centermain {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
TABLE.panelheading {
	BORDER-RIGHT: #d5d5d5 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #d5d5d5 1px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; BORDER-LEFT: #d5d5d5 1px solid; WIDTH: 100%; PADDING-TOP: 10px; BORDER-BOTTOM: #d5d5d5 1px solid; BORDER-COLLAPSE: collapse; BACKGROUND-COLOR: #f9f9f9
}
TABLE.panelheading TR.row0 {
	BACKGROUND-COLOR: #f9f9f9
}
TABLE.panelheading TR.row1 {
	BACKGROUND-COLOR: #eeeeee
}
TABLE.panelheading TH {
	PADDING-RIGHT: 4px; PADDING-LEFT: 60px; FONT-SIZE: 16px; BACKGROUND: url(generic.png) left 50%; PADDING-BOTTOM: 2px; COLOR: #c24733; PADDING-TOP: 6px; HEIGHT: 25px; TEXT-ALIGN: left
}
TABLE.panelheading TD {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; TEXT-ALIGN: left
}
TABLE.panelheading TD.editor {
	FONT-SIZE: 9px
}
TABLE.cpanel TD {
	TEXT-ALIGN: center
}
#acajoom TABLE.panelheading TH.userpanel {
	PADDING-RIGHT: 0px; PADDING-LEFT: 65px; BACKGROUND: url(userpanel.png) no-repeat left 50%; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; HEIGHT: 58px
}
#cpanel {
	VERTICAL-ALIGN: middle; TEXT-ALIGN: center
}
#cpanel DIV.icon {
	MARGIN: 3px; VERTICAL-ALIGN: middle; TEXT-ALIGN: center
}
#cpanel DIV.icon A {
	BORDER-RIGHT: #ddd 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #ddd 1px solid; DISPLAY: block; PADDING-LEFT: 5px; FLOAT: left; PADDING-BOTTOM: 1px; VERTICAL-ALIGN: middle; BORDER-LEFT: #ddd 1px solid; WIDTH: 110px; PADDING-TOP: 2px; BORDER-BOTTOM: #ddd 1px solid; HEIGHT: 100px; TEXT-DECORATION: none
}
#cpanel DIV.icon A:link {
	COLOR: #808080
}
#cpanel DIV.icon A:hover {
	BORDER-RIGHT: #c24733 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #c24733 1px solid; PADDING-LEFT: 6px; PADDING-BOTTOM: 0px; BORDER-LEFT: #c24733 1px solid; COLOR: #333; PADDING-TOP: 3px; BORDER-BOTTOM: #c24733 1px solid; BACKGROUND-COLOR: #f1e8e6
}
#cpanel DIV.icon A:active {
	COLOR: #808080
}
#cpanel DIV.icon A:visited {
	COLOR: #808080
}
#cpanel DIV.icon IMG {
	MARGIN-TOP: 13px
}
#cpanel DIV.icon SPAN {
	DISPLAY: block; PADDING-TOP: 3px
}
TABLE.acajoom_stats TD {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid
}
