#jceutils_lightbox {
	Z-INDEX: 10001; LEFT: 0px; WIDTH: 100%; LINE-HEIGHT: 0; POSITION: absolute; TOP: 40px; TEXT-ALIGN: center
}
#jceutils_overlay {
	Z-INDEX: 9999; LEFT: 0px; WIDTH: 100%; POSITION: absolute; TOP: 0px; BACKGROUND-COLOR: #000; moz-opacity: 0; opacity: 0
}
#jceutils_lightbox A IMG {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none
}
#jceutils_outerImageContainer {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; MARGIN: 0px auto; BORDER-LEFT: #000000 1px solid; WIDTH: 250px; BORDER-BOTTOM: #000000 1px solid; POSITION: relative; HEIGHT: 250px; BACKGROUND-COLOR: #fff
}
#jceutils_outerIframeContainer {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; MARGIN: 0px auto; BORDER-LEFT: #000000 1px solid; WIDTH: 250px; BORDER-BOTTOM: #000000 1px solid; POSITION: relative; HEIGHT: 250px; BACKGROUND-COLOR: #fff
}
#jceutils_imageContainer {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; MARGIN: 0px auto; PADDING-TOP: 10px
}
#jceutils_iframeContainer {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; MARGIN: 0px auto; PADDING-TOP: 10px
}
#jceutils_iframecontent {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
#jceutils_iframeTop {
	FONT-WEIGHT: bold; HEIGHT: 20px
}
#jceutils_loading {
	LEFT: 0%; WIDTH: 100%; LINE-HEIGHT: 0; POSITION: absolute; TOP: 40%; HEIGHT: 25%; TEXT-ALIGN: center
}
#jceutils_imageDataContainer {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: 0px; MARGIN: 0px auto; BORDER-LEFT: #000000 1px solid; LINE-HEIGHT: 1.4em; BORDER-BOTTOM: #000000 1px solid; BACKGROUND-COLOR: #fff
}
#jceutils_imageData {
	PADDING-LEFT: 10px; HEIGHT: 40px
}
#jceutils_iframeData {
	PADDING-LEFT: 10px; HEIGHT: 30px
}
#jceutils_imageData #jceutils_imageDetails {
	FLOAT: left; WIDTH: 100%; TEXT-ALIGN: left
}
#jceutils_iframeData #jceutils_iframeDetails {
	FLOAT: left; WIDTH: 100%; TEXT-ALIGN: left
}
#jceutils_imageData #jceutils_imageNav {
	FLOAT: left; WIDTH: 100%; COLOR: #000000; TEXT-ALIGN: left
}
#jceutils_imageData #jceutils_caption {
	PADDING-RIGHT: 5px; COLOR: #000000
}
#jceutils_imageData #jceutils_navDisplayPrev #jceutils_numberDisplay #jceutils_navDisplayNext {
	CLEAR: left; PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px
}
#jceutils_numberLink {
	FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
#jceutils_closeButton {
	RIGHT: 0px; POSITION: absolute; TOP: 0px
}
.tooltip {
	BORDER-RIGHT: black 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: black 1px solid; PADDING-LEFT: 4px; Z-INDEX: 9999; PADDING-BOTTOM: 4px; BORDER-LEFT: black 1px solid; WIDTH: 180px; COLOR: #000000; PADDING-TOP: 4px; BORDER-BOTTOM: black 1px solid; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left
}
.tooltip H4 {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; MARGIN: 0px
}
.tooltip P {
	FONT-SIZE: 11px
}
