.clr {
	CLEAR: both
}
DIV.mosimage_caption {
	FONT-SIZE: 11px
}
#page_bg {
	BACKGROUND: url(background.gif) #333333 no-repeat 50% top
}
#center {
	TEXT-ALIGN: center
}
#main_bg {
	BACKGROUND: url(blog_bg.png) repeat-y; MARGIN: 20px auto; WIDTH: 770px; TEXT-ALIGN: left
}
#content_bg {
	MARGIN: 0px 10px
}
#header {
	BACKGROUND: url(blog_header.jpg) #000 no-repeat 0px 0px; WIDTH: 750px; HEIGHT: 194px
}
#newflash {
	FLOAT: right; OVERFLOW: hidden; WIDTH: 193px; HEIGHT: 194px
}
#newflash DIV {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
#newflash TABLE.contentpaneopen TD {
	COLOR: #ddd
}
#topmenu {
	BACKGROUND: #000; HEIGHT: 30px; TEXT-ALIGN: center
}
#footer {
	BACKGROUND: #000; HEIGHT: 30px; TEXT-ALIGN: center
}
#topmenu UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#topmenu LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; HEIGHT: 30px
}
#topmenu A:link {
	BORDER-RIGHT: #fff 1px solid; PADDING-RIGHT: 30px; DISPLAY: block; PADDING-LEFT: 30px; FLOAT: left; PADDING-BOTTOM: 0px; COLOR: #fff; LINE-HEIGHT: 30px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; HEIGHT: 30px
}
#topmenu A:visited {
	BORDER-RIGHT: #fff 1px solid; PADDING-RIGHT: 30px; DISPLAY: block; PADDING-LEFT: 30px; FLOAT: left; PADDING-BOTTOM: 0px; COLOR: #fff; LINE-HEIGHT: 30px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; HEIGHT: 30px
}
#topmenu A:hover {
	BORDER-RIGHT: #fff 1px solid; BACKGROUND: #b24a2f; BORDER-BOTTOM: 0px; TEXT-DECORATION: none
}
#content {
	BORDER-RIGHT: #c00 0px solid; BORDER-TOP: #c00 0px solid; FLOAT: left; BORDER-LEFT: #c00 0px solid; WIDTH: 558px; PADDING-TOP: 20px; BORDER-BOTTOM: #c00 0px solid
}
#navigation {
	BORDER-RIGHT: #00c 0px solid; BORDER-TOP: #00c 0px solid; FLOAT: right; MARGIN: 0px; BORDER-LEFT: #00c 0px solid; WIDTH: 190px; BORDER-BOTTOM: #00c 0px solid
}
.padding {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; PADDING-BOTTOM: 40px; WIDTH: 100%; PADDING-TOP: 0px
}
.highlight {
	BORDER-RIGHT: #dbdac4 1px solid; PADDING-RIGHT: 15px; BORDER-TOP: #dbdac4 1px solid; PADDING-LEFT: 15px; BACKGROUND: #ecece3; PADDING-BOTTOM: 0px; BORDER-LEFT: #dbdac4 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #dbdac4 1px solid
}
#footer {
	CLEAR: both; COLOR: #999; LINE-HEIGHT: 30px; HEIGHT: 30px
}
SPAN.pathway {
	DISPLAY: block; MARGIN-BOTTOM: 15px
}
#content-pane .tab-page {
	
}
TABLE.contentpane {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; PADDING-TOP: 0px; BORDER-COLLAPSE: collapse; TEXT-ALIGN: left
}
TABLE.contentpaneopen {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; PADDING-TOP: 0px; BORDER-COLLAPSE: collapse; TEXT-ALIGN: left
}
.small {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #666666; TEXT-ALIGN: left
}
.modifydate {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; PADDING-BOTTOM: 10px; COLOR: #666666; PADDING-TOP: 8px; TEXT-ALIGN: left
}
.createdate {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; PADDING-BOTTOM: 10px; VERTICAL-ALIGN: top; COLOR: #666666; LINE-HEIGHT: 10px; PADDING-TOP: 0px
}
.readon {
	
}
H3 {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; MARGIN: 10px 0px 5px; COLOR: #9b9a87; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; TEXT-ALIGN: center
}
.componentheading {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; MARGIN: 10px 0px 5px; COLOR: #9b9a87; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; TEXT-ALIGN: left
}
.contentheading {
	FONT-WEIGHT: normal; FONT-SIZE: 22px; VERTICAL-ALIGN: bottom; WIDTH: 100%; COLOR: #333; FONT-FAMILY: Geneva, Arial, Helvetica, sans-serif; HEIGHT: 40px; TEXT-ALIGN: left
}
DIV.moduletable {
	MARGIN-BOTTOM: 20px
}
TABLE.moduletable .contentheading {
	HEIGHT: 30px
}
A.contentpagetitle:link {
	FONT-WEIGHT: normal; FONT-SIZE: 18px; WIDTH: 100%; COLOR: #4971ba; PADDING-TOP: 5px; TEXT-ALIGN: left
}
A.contentpagetitle:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 18px; WIDTH: 100%; COLOR: #4971ba; PADDING-TOP: 5px; TEXT-ALIGN: left
}
A.contentpagetitle:hover {
	COLOR: #ff0000
}
A.mainlevel {
	DISPLAY: block; BORDER-BOTTOM: #ddd 1px solid
}
A:link {
	COLOR: #c23f2d; BORDER-BOTTOM: #c23f2d 1px dotted; TEXT-DECORATION: none
}
A:visited {
	COLOR: #c23f2d; BORDER-BOTTOM: #c23f2d 1px dotted; TEXT-DECORATION: none
}
A:hover {
	COLOR: #76261b; BORDER-BOTTOM: #76261b 1px dotted
}
A.category:link {
	
}
A.category:visited {
	
}
A.category:hover {
	
}
A.pagenav {
	
}
A.pagenav:visited {
	
}
A.pagenav:hover {
	
}
.frontpageheader {
	FONT-WEIGHT: bold; FONT-SIZE: 15px; COLOR: #ffffff; LINE-HEIGHT: 30px
}
.newsfeedheading {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #333333; TEXT-ALIGN: left
}
.newsfeeddate {
	
}
.fase4rdf A:link {
	
}
.fase4rdf A:hover {
	
}
.componentheading {
	
}
.sectiontableheader {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-WEIGHT: bold; BACKGROUND: #ecece3; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
HTML {
	MARGIN-BOTTOM: 1px; HEIGHT: 100%
}
BODY {
	BACKGROUND: #ffffff; MARGIN: 0px; HEIGHT: 100%
}
TD {
	FONT-SIZE: 10pt; COLOR: #333333; LINE-HEIGHT: 13pt; FONT-FAMILY: Arial, Helvetica, sans-serif
}
TR {
	FONT-SIZE: 10pt; COLOR: #333333; LINE-HEIGHT: 13pt; FONT-FAMILY: Arial, Helvetica, sans-serif
}
P {
	FONT-SIZE: 10pt; COLOR: #333333; LINE-HEIGHT: 13pt; FONT-FAMILY: Arial, Helvetica, sans-serif
}
DIV {
	FONT-SIZE: 10pt; COLOR: #333333; LINE-HEIGHT: 13pt; FONT-FAMILY: Arial, Helvetica, sans-serif
}
UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
UL LI {
	BACKGROUND-POSITION: 0px 5px; PADDING-LEFT: 15px; BACKGROUND-IMAGE: url(blog_bullet.png); LINE-HEIGHT: 20px; PADDING-TOP: 0px; BACKGROUND-REPEAT: no-repeat
}
.button {
	
}
.inputbox {
	FONT-SIZE: 12px; FONT-FAMILY: Trebuchet MS, Arial, Helvetica, sans-serif
}
.ontab {
	BORDER-RIGHT: #9da6b3 1px outset; BORDER-TOP: #9da6b3 1px outset; FONT-WEIGHT: normal; BORDER-LEFT: #9da6b3 1px outset; CURSOR: pointer; COLOR: #ff6600; BORDER-BOTTOM: #ffffff 0px solid; BACKGROUND-COLOR: #121a1d; TEXT-ALIGN: center
}
.offtab {
	BORDER-RIGHT: #9da6b3 1px outset; BORDER-TOP: #9da6b3 1px outset; FONT-WEIGHT: normal; BORDER-LEFT: #9da6b3 1px outset; CURSOR: pointer; COLOR: #cccccc; BORDER-BOTTOM: #9da6b3 1px solid; BACKGROUND-COLOR: #25343b; TEXT-ALIGN: center
}
.tabpadding {
	
}
.tabheading {
	BACKGROUND-COLOR: #eeeeee; TEXT-ALIGN: left
}
.pagetext {
	DISPLAY: none; VISIBILITY: hidden; POSITION: relative; TOP: 0px
}
H4 {
	
}
H5 {
	
}
H6 {
	
}
HR {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; BACKGROUND: #999999; BORDER-LEFT: 1px solid; BORDER-BOTTOM: 1px solid; HEIGHT: 1px
}
HR.separator {
	
}
TABLE.contenttoc {
	BORDER-RIGHT: #dbdac4 1px solid; BORDER-TOP: #dbdac4 1px solid; BACKGROUND: #ecece3; MARGIN-BOTTOM: 5px; MARGIN-LEFT: 5px; BORDER-LEFT: #dbdac4 1px solid; BORDER-BOTTOM: #dbdac4 1px solid
}
TABLE.contenttoc TH {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 2px; COLOR: #666666; PADDING-TOP: 2px; TEXT-ALIGN: left
}
TABLE.contenttoc TD {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
.contentdescription {
	TEXT-ALIGN: left
}
.poll {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
TD.poll B {
	FONT-WEIGHT: normal
}
TABLE.pollstableborder {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px
}
TABLE.pollstableborder TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
TD.sectiontableentry1 {
	COLOR: #333333
}
TD.sectiontableentry2 {
	COLOR: #333333
}
TR.sectiontableentry1 TD {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px
}
TR.sectiontableentry2 TD {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px
}
.smalldark {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #333333; TEXT-DECORATION: none
}
.pagenav {
	FONT-WEIGHT: bold
}
.pagenavbar {
	
}
.content_rating {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt
}
.content_vote {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt
}
.back_button {
	MARGIN-TOP: 40px; MARGIN-BOTTOM: 10px; TEXT-ALIGN: center
}
STRONG {
	COLOR: #333333
}
