ul#mainlevel-nav {
list-style: none;
padding: 0 0 0 0;
margin: 5px 0 0 0;
color: #bd0006;
}

a.mainlevel-nav {
font-style: normal;
text-align: center;
font-weight: bold;
font-size: 130%;
text-decoration: none;
color: #bd0006;
}

li .mainlevel-nav {
height: 42px;
line-height: 42px;
margin: 0 0 2px 8px;
width: 176px;
display: block;
background: url(/clients/ChicosAngels/Images/bg_topmenu.gif) no-repeat left top;
color: #bd0006;
}

a.mainlevel-nav:hover {
font-style: normal;
text-align: center;
font-weight: bold;
font-size: 130%;
text-decoration: none;
color: bd0006;
}

li .mainlevel-nav:hover {
height: 42px;
line-height: 42px;
margin: 0 0 2px 8px;
width: 176px;
display: block;
background: url(/clients/ChicosAngels/Images/bg_topmenu_hover.gif) no-repeat left top;
color: #bd0006;

}

.mainlevel {
font-style: normal;
text-align: left;
font-weight: normal;
font-size: 100%;
text-decoration: none;
height: 23px;
line-height: 23px;
margin: 0 0 1px -7px;
position: relative;
padding: 0 0 0 10px;
width: 166px;
display: block;
background: url(/clients/ChicosAngels/Images/bg_leftmenu.gif) no-repeat left top;
color: #bd0006;

}

.mainlevel:hover {
text-decoration: none;
font-style: normal;
background: url(/clients/ChicosAngels/Images/bg_leftmenu_hover.gif) no-repeat left top;
color:#BD0006;
}

.mainlevel#active_menu {
text-decoration: none;
font-style: normal;
background: url(/clients/ChicosAngels/Images/bg_leftmenu_hover.gif) no-repeat left top;
color: #bd0006;
}
