TD.results {
	VERTICAL-ALIGN: top
}
DIV.ScheduleListing {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; LEFT: 0px; BORDER-LEFT: 1px solid; WIDTH: 630px; BORDER-BOTTOM: 1px solid; TOP: 0px; HEIGHT: 100%; BACKGROUND-COLOR: #ffffff
}
DIV.UnderTitleBarSpotLight {
	BORDER-RIGHT: #c4c7d4 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #c4c7d4 1px solid; PADDING-LEFT: 0px; LEFT: 0px; PADDING-BOTTOM: 0px; BORDER-LEFT: #c4c7d4 1px solid; WIDTH: 100%; PADDING-TOP: 0px; BORDER-BOTTOM: #c4c7d4 1px solid; POSITION: relative; TOP: 0px; BACKGROUND-COLOR: #ffffff
}
IMG.TixAndInfo {
	BORDER-RIGHT: black 0px; BORDER-TOP: black 0px; VERTICAL-ALIGN: middle; BORDER-LEFT: black 0px; BORDER-BOTTOM: black 0px
}
INPUT.textbox {
	FONT-SIZE: 9pt; FONT-FAMILY: arial
}
INPUT.button {
	BORDER-TOP-WIDTH: 1px; FONT-WEIGHT: bold; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 8pt; BORDER-LEFT-COLOR: black; BORDER-BOTTOM-WIDTH: 1px; BORDER-BOTTOM-COLOR: black; BORDER-TOP-COLOR: black; FONT-FAMILY: arial; BACKGROUND-COLOR: #def0f5; BORDER-RIGHT-WIDTH: 1px; BORDER-RIGHT-COLOR: black
}
A.info {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: white; FONT-FAMILY: arial; BACKGROUND-COLOR: #ff9900
}
A.EventHeader {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: white; FONT-FAMILY: arial
}
SPAN.EventListing {
	FONT-SIZE: 8pt; COLOR: black; FONT-FAMILY: arial
}
SPAN.EventCaption {
	FONT-SIZE: 8pt; FONT-FAMILY: arial
}
SPAN.EventDate {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; FONT-FAMILY: arial
}
SPAN.EventDetailHeading {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; FONT-FAMILY: arial
}
SPAN.EventTypeDesc {
	FONT-WEIGHT: bold; FONT-SIZE: 9px; VERTICAL-ALIGN: middle; COLOR: gray; FONT-FAMILY: arial
}
