* {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
BODY {
	BACKGROUND-IMAGE: url(/PrivateLabel/UltimateCageFights/Images/ic_039_body_bg.gif); WIDTH: 100%; BACKGROUND-REPEAT: repeat-y
}
DIV {
	POSITION: relative
}
H1 {
	MARGIN: 10px
}
H2 {
	MARGIN: 10px
}
H3 {
	MARGIN: 10px
}
H4 {
	MARGIN: 10px
}
H5 {
	MARGIN: 10px
}
H6 {
	MARGIN: 10px
}
H1#website-title {
	MARGIN: 0px
}
H2#website-slogan {
	MARGIN: 0px
}
#navcontainer DIV H3 {
	MARGIN: 0px
}
#navcontainer DIV H3 {
	MARGIN: 0px
}
UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 20px; PADDING-BOTTOM: 0px; MARGIN: 10px; PADDING-TOP: 0px
}
OL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 20px; PADDING-BOTTOM: 0px; MARGIN: 10px; PADDING-TOP: 0px
}
OL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 30px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
BLOCKQUOTE {
	MARGIN: 10px 10px 10px 40px
}
.clearer {
	CLEAR: both
}
.accent-none {
	DISPLAY: none
}
#shadowEffect1 {
	Z-INDEX: 1000; BACKGROUND: url(/PrivateLabel/UltimateCageFights/Images/shade1.gif) no-repeat left top; FILTER: alpha(opacity=25); LEFT: 0px; WIDTH: 100%; POSITION: absolute; TOP: 0px; HEIGHT: 160px; opacity: .25
}
#shadowEffect2 {
	Z-INDEX: 1000; BACKGROUND: url(/PrivateLabel/UltimateCageFights/Images/shade2.gif) no-repeat left top; FILTER: alpha(opacity=25); LEFT: 0px; WIDTH: 100%; POSITION: absolute; TOP: 0px; HEIGHT: 160px; opacity: .25
}
#shadowEffect3 {
	Z-INDEX: 1000; BACKGROUND: url(/PrivateLabel/UltimateCageFights/Images/shade3.gif) no-repeat left top; FILTER: alpha(opacity=10); LEFT: 0px; WIDTH: 100%; POSITION: absolute; TOP: 0px; HEIGHT: 160px; opacity: .1
}
#nav-top {
	BACKGROUND: url(/PrivateLabel/UltimateCageFights/Images/ic_039_wrap_bg.gif) no-repeat 0px 0px; FLOAT: left; WIDTH: 100%
}
#nav-left {
	BACKGROUND: url(/PrivateLabel/UltimateCageFights/Images/ic_039_wrap_bg.gif) no-repeat 0px 0px; FLOAT: left; WIDTH: 100%
}
#nav-right {
	BACKGROUND: url(/PrivateLabel/UltimateCageFights/Images/ic_039_wrap_bg.gif) no-repeat 0px 0px; FLOAT: left; WIDTH: 100%
}
#interior-wrapper {
	FLOAT: left; WIDTH: 750px
}
#img-container {
	FLOAT: left; WIDTH: 750px; HEIGHT: 160px
}
.accent {
	FLOAT: left; WIDTH: 750px; HEIGHT: 160px
}
#ac-cover-a {
	LEFT: 0px; WIDTH: 46px; POSITION: absolute; TOP: 145px; HEIGHT: 16px
}
* HTML #ac-cover-a {
	POSITION: relative; TOP: -16px
}
#ac-cover-b {
	LEFT: 164px; WIDTH: 61px; POSITION: absolute; TOP: 144px; HEIGHT: 16px
}
#accent-cover {
	Z-INDEX: 100; BACKGROUND: url(/PrivateLabel/UltimateCageFights/Images/ic_039_imgcontainer_bg.gif) no-repeat left top; LEFT: 0px; WIDTH: 750px; POSITION: absolute; TOP: 0px; HEIGHT: 160px
}
#inner {
	FLOAT: left; MARGIN: 0px; WIDTH: 750px
}
* HTML #inner {
	MARGIN: -23px 0px 0px
}
#headertop {
	BACKGROUND-POSITION: left top; BACKGROUND-IMAGE: url(/PrivateLabel/UltimateCageFights/Images/ic_039_header_bg.gif); MARGIN: 0px 0px 0px -1px; WIDTH: 554px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 67px
}
#website-title {
	PADDING-RIGHT: 0px; PADDING-LEFT: 100px; LEFT: 200px; PADDING-BOTTOM: 0px; WIDTH: 454px; PADDING-TOP: 2px; POSITION: absolute; TOP: 161px
}
#website-slogan {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; Z-INDEX: 1000; LEFT: 194px; PADDING-BOTTOM: 15px; WIDTH: 554px; PADDING-TOP: 13px; POSITION: absolute; TOP: 184px; TEXT-ALIGN: right
}
#website-slogan-position {
	BACKGROUND-POSITION: left top; LEFT: 194px; BACKGROUND-IMAGE: url(/PrivateLabel/UltimateCageFights/Images/ic_039_header_bg.png); WIDTH: 565px; BACKGROUND-REPEAT: no-repeat; POSITION: absolute; TOP: 182px; HEIGHT: 45px; TEXT-ALIGN: right
}
#nav-left #navcontainer {
	PADDING-RIGHT: 0px; 
	BACKGROUND-POSITION: 46px 0px; 
	PADDING-LEFT: 0px; Z-INDEX: 1000; 
	FLOAT: left; 
	BACKGROUND-IMAGE: url(/PrivateLabel/UltimateCageFights/Images/ic_039_nav_bg.gif); 
	PADDING-BOTTOM: 0px; 
	WIDTH: 196px; 
	PADDING-TOP: 67px; 
	BACKGROUND-REPEAT: no-repeat
}
#nav-left #navcontainer #nav-wrapper {
	Z-INDEX: 1000
}
#nav-left #content {
	FLOAT: right; WIDTH: 554px
}
#nav-left #footer {
	BORDER-TOP: #777 1px solid; FLOAT: left; MARGIN: 0px 0px 0px 12px; WIDTH: 542px; COLOR: #fff
}
* HTML #nav-left #footer {
	MARGIN: 0px 0px 0px 6px
}
#nav-left #footer P {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
#nav-left #navcontainer DIV {
	DISPLAY: block; FLOAT: right; CURSOR: pointer
}
#nav-left #navcontainer DIV {
	WIDTH: 130px; TEXT-ALIGN: right 
}
#nav-left #navcontainer DIV A:link {
	BORDER-RIGHT: #000 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #000 1px solid; PADDING-LEFT: 5px; FLOAT: left; PADDING-BOTTOM: 5px; MARGIN: 0px 0px 4px; BORDER-LEFT: #000 1px solid; WIDTH: 120px; PADDING-TOP: 5px; BORDER-BOTTOM: #000 1px solid; TEXT-ALIGN: right; TEXT-DECORATION: none; WORD-WRAP: break-word
}
#nav-left #navcontainer DIV A:active {
	BORDER-RIGHT: #000 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #000 1px solid; PADDING-LEFT: 5px; FLOAT: left; PADDING-BOTTOM: 5px; MARGIN: 0px 0px 4px; BORDER-LEFT: #000 1px solid; WIDTH: 120px; PADDING-TOP: 5px; BORDER-BOTTOM: #000 1px solid; TEXT-ALIGN: right; TEXT-DECORATION: none; WORD-WRAP: break-word
}
#nav-left #navcontainer DIV A:visited {
	BORDER-RIGHT: #000 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #000 1px solid; PADDING-LEFT: 5px; FLOAT: left; PADDING-BOTTOM: 5px; MARGIN: 0px 0px 4px; BORDER-LEFT: #000 1px solid; WIDTH: 120px; PADDING-TOP: 5px; BORDER-BOTTOM: #000 1px solid; TEXT-ALIGN: right; TEXT-DECORATION: none; WORD-WRAP: break-word
}
#nav-left #navcontainer DIV A:hover {
	BORDER-BOTTOM: #000 1px solid
}
#nav-left #navcontainer DIV DIV.submenu {
	DISPLAY: block; FLOAT: left
}
#nav-left #navcontainer DIV DIV.submenu H3 {
	DISPLAY: block; FLOAT: left
}
#nav-left #navcontainer DIV DIV.submenu {
	Z-INDEX: 2000; LEFT: 0px; VISIBILITY: hidden; WIDTH: 130px; POSITION: absolute; TOP: 0px
}
#nav-left #navcontainer DIV DIV.submenu DIV {
	DISPLAY: block
}
#nav-left #navcontainer DIV DIV.submenu A:link {
	FLOAT: left; WIDTH: 120px; CURSOR: pointer; WORD-WRAP: break-word
}
#nav-left #navcontainer DIV DIV.submenu A:active {
	FLOAT: left; WIDTH: 120px; CURSOR: pointer; WORD-WRAP: break-word
}
#nav-left #navcontainer DIV DIV.submenu A:visited {
	FLOAT: left; WIDTH: 120px; CURSOR: pointer; WORD-WRAP: break-word
}
#nav-left #navcontainer DIV DIV.submenu A:hover {
	WIDTH: 120px
}
#nav-left #content-table {
	FLOAT: left; WIDTH: 554px
}
#nav-left #content-table #content-table-sub {
	BACKGROUND-POSITION: 0px 0px; BACKGROUND-IMAGE: url(/PrivateLabel/UltimateCageFights/Images/ic_039_content_bg.png); WIDTH: 10px; BACKGROUND-REPEAT: no-repeat
}
#nav-left #content-table-main {
	BORDER-TOP: #777 1px solid; BORDER-LEFT: #777 1px solid; WIDTH: 534px
}
#nav-left #content-table-main P {
	MARGIN: 15px
}
BODY#wide #interior-wrapper {
	WIDTH: 1000px
}
BODY#wide #inner {
	WIDTH: 1000px
}
BODY#wide #nav-left #content {
	WIDTH: 804px
}
BODY#wide #nav-left #footer {
	WIDTH: 792px
}
BODY#wide #nav-left #content-table {
	WIDTH: 792px
}
BODY#wide #nav-left #content-table-main {
	WIDTH: 772px
}
