img.statusicon{cursor: pointer;}
/*GENERAL*/
.events_note_msg {color: #FF0000; font-size: .9em; font-weight: bold;}

/*SCHEDULE AND ARCHIVE*/
.filterform_wrapper {margin: 5px 0px 5px 0px; font-size: 1.2em; color: #990000; font-weight: bold; border-bottom: 2px solid #990000;}
.events_even_wrapper {border-bottom: 2px dashed #999999; margin: 5px 0px 5px 0px; padding: 5px;}
.events_odd_wrapper {border-bottom: 2px dashed #999999; margin: 5px 0px 5px 0px; padding: 5px;}
.archive_current_link {margin: 5px 0px 5px 30px; font-size: 1.2em;}
.archive_current_link a:link, .archive_current_link a:visited, .archive_current_link a:hover, .archive_current_link a:active {color: #cc0000; font-weight: bold; border-bottom: 2px dotted #cc0000;}
.event_item_heading {margin: 5px 0px 5px 0px; font-size: 1.2em;}
.event_item_title {margin: 5px 0px 5px 0px; font-size: 1.1em;}
.event_item_starttime {font-style: italic;}
.event_item_location {font-weight: normal;}
.event_item_description {padding: 5px; margin: 0px 0px 5px 0px; font-size: 1em;}
.moreinfo_holder {margin: 20px 5px 10px 5px; padding: 0;}
.event_outside_url {display: block; padding: 2px; margin: 8px; color: #000066; font-weight: bold;}
.event_outside_url a:link, .event_outside_url a:visited, .event_outside_url a:hover, .event_outside_url a:active {color: #000066; font-weight: bold;}
.event_buy_ticket {border: 1px solid #336633; padding: 2px; margin: 3px; color: #336633; font-weight: bold;}
.event_buy_ticket a:link, .event_buy_ticket a:visited, .event_buy_ticket a:hover, .event_buy_ticket a:active {color: #336633; font-weight: bold;}
.event_fightcard {border: 1px solid #990000; padding: 2px; margin: 3px; color: #990000; font-weight: bold;}
.event_fightcard a:link, .event_fightcard a:visited, .event_fightcard a:hover, .event_fightcard a:active {color: #990000; font-weight: bold;}
.noticeyear {color: #cc0000; text-decoration:underline;}
.noeventsfound {color: #990000; font-size: 1.2em; margin: 30px 0px 50px 0px;}
/*FIGHT CARD*/
.bout_title {font-size: 1.4em; text-align: center; margin: 5px;}
.bout_description {color: #990000; font-size: 1.2em; text-align: center; font-weight: bold; margin: 2px 0px 5px 2px;}
.event_hype_txt {color: #990000; font-size: 1.4em; font-style: italic; margin: 5px;}
.bouts_even_wrapper {margin: 5px 0px 15px 0px; padding: 5px; width: 100%;}
.bouts_odd_wrapper {margin: 5px 0px 15px 0px; padding: 5px; width: 100%;}
.redcorner_wrapper {width: 300px; float: right; text-align: center; margin-right: 15px;}
.redcorner_wrapper {width: 300px; float: left; text-align: center;}
.red_corner_heading {color: #ffffff;}
.red_gold_corner_heading {color: #990000;}
.red_winner {color: #000000; font-size: 1.4em; font-weight: bold; border-bottom: dotted 3px #FFCC00; letter-spacing: 5px;}
.red_winner_not {color: #000000; font-size: 1.4em; font-weight: bold;}
.red_fighter_name {text-transform: uppercase; font-size: 1.5em; color: #990000; font-weight: bold;}
.red_fighter_view_profile {font-size: .9em;}
.red_fighter_city {font-size: 1.2em; font-weight: bold; font-style: italic;}
.red_fighter_record{font-size: 1.2em; font-weight: bold;}
.rounds_weight_wrapper {width: 100px; float: left; margin: 0px 10px 0px 25px; padding-top: 30px; font-size: 1.2em; font-weight: bold; text-align: center;}
.vs {font-size: 1.4em; margin: 2px 0px 5px 0px;}
.rounds {font-size: 1.1em;}
.weight {font-size: .9em; font-style: italic;}
.weightclass {font-size: .8em; font-style: italic;}
.bluecorner_wrapper {width: 300px; float: left; text-align: center;}
.blue_corner_heading {color: #ffffff;}
.blue_gold_corner_heading {color: #000099;}
.blue_winner {color: #000000; font-size: 1.4em; font-weight: bold; border-bottom: dotted 3px #FFCC00; letter-spacing: 5px;}
.blue_winner_not {color: #000000; font-size: 1.4em; font-weight: bold;}
.blue_fighter_name {text-transform: uppercase; font-size: 1.5em; color: #000099; font-weight: bold;}
.blue_fighter_city {font-size: 1.2em; font-weight: bold; font-style: italic;}
.blue_fighter_record{font-size: 1.2em; font-weight: bold;}

.imgtrophyleft {margin: 0px 10px 0px 0px; display: inline;}
.imgtrophyright {margin: 0px 0px 0px 10px; display: inline;}

/*ROUNDED BLOCKS*/
/*RED*/
/* set the image to use and establish the lower-right position */
.redbox, .redbox_body, .redbox_head, .redbox_head h3 {
    background: transparent url(../images/redbox.jpg) no-repeat bottom right;
    margin: 0;
    padding: 0; 
}

.redbox {
    width: 300px !important;   /* intended total box width - padding-right(next) */
    width: 285px;              /* IE Win = width - padding */
    padding-right: 15px;       /* the gap on the right edge of the image (not content padding) */
    margin: 0px auto;         /* use to position the box */
}

/* set the top-right image */
.redbox_head {
    background-position: top right;
    margin-right: -15px;       /* pull the right image over on top of border */
    padding-right: 40px;       /* right-image-gap + right-inside padding */
}

/* set the top-left image */
.redbox_head h3 {
    background-position: top left;
    margin: 0;                 /* reset */
    border: 0;                 /* reset */
    padding: 15px 0 5px 40px; /* padding-left = image gap + interior padding ... no padding-right */
    height: auto !important; 
    height: 1%;                /* IE Holly Hack */
}

/* set the lower-left corner image */
.redbox_body {
    background-position: bottom left;
    margin-right: 25px;        /* interior-padding right */
    padding: 5px 0 25px 40px; /* mirror .cssbox_head right/left */
}
/*BLUE*/
/* set the image to use and establish the lower-right position */
.bluebox, .bluebox_body, .bluebox_head, .bluebox_head h3 {
    background: transparent url(../images/bluebox.jpg) no-repeat bottom right;
    margin: 0;
    padding: 0; 
}

.bluebox {
    width: 300px !important;   /* intended total box width - padding-right(next) */
    width: 285px;              /* IE Win = width - padding */
    padding-right: 15px;       /* the gap on the right edge of the image (not content padding) */
    margin: 0px auto;         /* use to position the box */
}

/* set the top-right image */
.bluebox_head {
    background-position: top right;
    margin-right: -15px;       /* pull the right image over on top of border */
    padding-right: 40px;       /* right-image-gap + right-inside padding */
}

/* set the top-left image */
.bluebox_head h3 {
    background-position: top left;
    margin: 0;                 /* reset */
    border: 0;                 /* reset */
    padding: 15px 0 5px 40px; /* padding-left = image gap + interior padding ... no padding-right */
    height: auto !important; 
    height: 1%;                /* IE Holly Hack */
}

/* set the lower-left corner image */
.bluebox_body {
    background-position: bottom left;
    margin-right: 25px;        /* interior-padding right */
    padding: 5px 0 25px 40px; /* mirror .cssbox_head right/left */
}
/*GOLD*/
/* set the image to use and establish the lower-right position */
.goldbox, .goldbox_body, .goldbox_head, .goldbox_head h3 {
    background: transparent url(../images/goldbox.jpg) no-repeat bottom right;
    margin: 0;
    padding: 0; 
}

.goldbox {
    width: 300px !important;   /* intended total box width - padding-right(next) */
    width: 285px;              /* IE Win = width - padding */
    padding-right: 15px;       /* the gap on the right edge of the image (not content padding) */
    margin: 0px auto;         /* use to position the box */
}

/* set the top-right image */
.goldbox_head {
    background-position: top right;
    margin-right: -15px;       /* pull the right image over on top of border */
    padding-right: 40px;       /* right-image-gap + right-inside padding */
}

/* set the top-left image */
.goldbox_head h3 {
    background-position: top left;
    margin: 0;                 /* reset */
    border: 0;                 /* reset */
    padding: 15px 0 5px 40px; /* padding-left = image gap + interior padding ... no padding-right */
    height: auto !important; 
    height: 1%;                /* IE Holly Hack */
}

/* set the lower-left corner image */
.goldbox_body {
    background-position: bottom left;
    margin-right: 25px;        /* interior-padding right */
    padding: 5px 0 25px 40px; /* mirror .cssbox_head right/left */
}
