A:link {
	COLOR: #000000; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A:visited {
	COLOR: #770000; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A:hover {
	COLOR: #000099; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.tableborder16 {
	BORDER-RIGHT: #cfc9ac thin solid; BORDER-TOP: #cfc9ac thin solid; BORDER-LEFT: #cfc9ac thin solid; BORDER-BOTTOM: #cfc9ac thin solid
}
TD {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif
}
.showname {
	COLOR: #331110
}
.credits {
	FONT-SIZE: 9px; COLOR: #999999; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif
}
.menu {
	FONT-SIZE: 11px; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif
}
.underline {
	TEXT-DECORATION: underline
}
