html {
	height: 100%;
}
body{

	font-family: Arial;
	font-size: 10pt;
	color: #000000;
	height: 100%;
	margin: 0px 0px 0px 0px;
	
	background: url(/clients/ACOMusic/Images/bodybackground.jpg) top left repeat ; 
	
		
	}


body {
	font-family: Arial;
	font-size: 10pt;
	color: #000000;	
}
.maintable{
		
	
	background: url(/clients/ACOMusic/Images/background.jpg) top left repeat ; 
	
	
		
		
	
}

.maintablebg
{

}

a {
	color: #493D93;
}

a:hover {
	color: #;
}

a:visited {
	color: #;
}



.mininavtext{
	font-size: 12px;
	padding: 0px 5px 0px 5px;
	vertical-align: middle;
}
.mininavbutton{
	width: 26px;
	height: 19px;
	display: inline;
}
.mininav{
	text-align: center;
	vertical-align: middle;
	height: 19px;
	width: 300px;
}
.minicap{
	font-size: 12px;
}

.navigationtable{
	width: 265px;
}
.navigationcell {
	width: 235px;
	padding-right: 30px;
	text-align: right;
}

.navigationcell.firstlevel 
{

 

 

}

.navigationcell.firstlevel.selected
{

 

}


.navigation {
	font-family: Arial;
	color: #493D93;
	font-size: 11pt;
	font-weight: bold;
	text-decoration: none;
	text-align: right;
	display: block;
	
}
.navigation a{
	font-family: Arial;
	color: #493D93;
	font-size: 11pt;
	font-weight: bold;
	text-decoration: none;
	text-align: right;
}
a.navigation:active {
	font-family: Arial;
	color: #493D93;
	font-size: 11pt;
	font-weight: bold;
	text-decoration: none;
	text-align: right;
}
a.navigation:visited {
	font-family: Arial;
	color: #493D93;
	font-size: 11pt;
	font-weight: bold;
	text-decoration: none;
	text-align: right;
}
a.navigation:hover {
	font-family: Arial;
	color: #000000;
	font-size: 11pt;
	font-weight: bold;
	text-decoration: none;
	text-align: right;
	
}
.navigationsub {
	font-family: Arial;
	color: #000000;
	font-size: 11pt;
	font-style: italic;
	text-decoration: none;
}
.navigationsub a{
	font-family: Arial;
	color: #000000;
	font-size: 11pt;
	font-style: italic;
	text-decoration: none;
}
.navigationsub:active {
	font-family: Arial;
	color: #000000;
	font-size: 11pt;
	font-style: italic;
	text-decoration: none;
}
.navigationsub:visited {
	font-family: Arial;
	color: #000000;
	font-size: 11pt;
	font-style: italic;
	text-decoration: none;
}
.navigationsub:hover {
	font-family: Arial;
	color: #493D93;
	font-size: 11pt;
	font-style: italic;
	text-decoration: none;
}

.content{
	width: 730px;
	padding-left: 20px;
	height: 100%;
}
#contentbox{
	margin-top: 0;
	width: 100%;
}
.default {
	font-family: Arial;
	color: #000000;
	font-size: 10pt;
}
.default-large {
	font-family: Arial;
	color: #000000;
	font-size: 14pt;
}
.defaultlink {
	font-family: Arial;
	color: #000000;
	font-size: 10pt;
}
.defaultlink a:link {
	font-family: Arial;
	color: #493D93;
	font-size: 10pt;
}
.defaultlink a:visited {
	font-family: Arial;
	color: #493D93;
	font-size: 10pt;
}
.defaultlink a:hover {
	font-family: Arial;
	color: #493D93;
	font-size: 10pt;
}
.defaultlink a:active {
	font-family: Arial;
	color: #493D93;
	font-size: 10pt;
}
.tinyfont { font-family: Arial; color: #493D93; font-size: 7pt; font-style: italic;}
.smallfont { font-family: Arial; color: #493D93; font-size: 8pt; }
.normal { font-family: Arial;color: #000099;font-size: 10pt; }
.medium { font-family: Arial;color: #000099;font-size: 12pt; }
.large { font-family: Arial;color: #000099;font-size: 14pt; }
.xlarge { font-family: Arial;color: #000099;font-size: 16pt; }
.title{
	font-family: Arial;
	color: #000000;
	font-size: 12pt;
	text-align: left;
	font-weight: bold;
	text-decoration: none;
}
.title a:link {
	font-family: Arial;
	color: #000000;
	font-size: 12pt;
	text-align: left;
	font-weight: bold;
	text-decoration: none;
}
.title a:visited {
	font-family: Arial;
	color: #000000;
	font-size: 12pt;
	text-align: left;
	font-weight: bold;
	text-decoration: none;
}
.title a:hover {
	font-family: Arial;
	color: #000000;
	font-size: 12pt;
	text-align: left;
	text-decoration: underline;
}
.title a:active {
	font-family: Arial;
	color: #000000;
	font-size: 12pt;
	text-align: left;
	font-weight: bold;
	text-decoration: none;
}
.cart{
	font-family: Arial;
	color: #000000;
	font-size: 12pt;
	text-align: right;
	font-weight: bold;
	text-decoration: none;
}
.cart a:link {
	font-family: Arial;
	color: #000000;
	font-size: 12pt;
	text-align: right;
	font-weight: bold;
	text-decoration: none;
}
.cart a:visited {
	font-family: Arial;
	color: #000000;
	font-size: 12pt;
	text-align: right;
	font-weight: bold;
	text-decoration: none;
}
.cart a:hover {
	font-family: Arial;
	color: #000000;
	font-size: 12pt;
	text-align: right;
	text-decoration: underline;
}
.cart a:active {
	font-family: Arial;
	color: #000000;
	font-size: 12pt;
	text-align: right;
	font-weight: bold;
	text-decoration: none;
}
.alignsite{
	height: 100%;
}
.minheight{
	height: 1px;
}
.maxheight{
	height: 100%;
}
.floatLeft{
	float: left; margin: 5px;
}
.floatRight{
	float: right;
}
.floatTop{
}
.floatBottom{
}
div.wrapContainer{
	width:99.5%;
	float:left;
}
.paddme{
	padding: 3px 6px 3px 0px;
}

td.header
{
	height: 435px; 
	background: url(/clients/ACOMusic/Images/advheaderbackground.jpg) top left no-repeat ; 
}

td.header.home
{
	background-image: url(/clients/ACOMusic/Images/advheaderhomebackground.jpg); 
}

