@import url("Positioning.css");
a,a:link,a:visited,a:hover,a:active{color:#115ea6;text-decoration:none}
label{font-size:1.1em}
th{text-align:left;font-weight:bold}
caption{font-size:1.25em;color:#fff}
.requiredAsterisk{color:red}
.ApplicationTitle{color:#225d92}
.callbackStatus{border:#000 thin solid;background-color:#fff8dc}
.footer{font-size:smaller;color:#225d92}
#MenuContainer a{color:#4d4d4f;font-weight:700}
.menuBack{background-image:url(../Images/NavBar-bakgrd.gif);background-repeat:no-repeat}
.staticMenuOver,.dropMenuOver{background-color:#b2b2b3}
div.ctl00_mainmenu_0,.dropMenu{background-color:#dedfe0!important}
.blueButton{color:#fff}
.yellowButton{color:#000}
.tipHeader{font-weight:bold}
.ui-widget-header a{color:#fff}
td.ui-widget-content{border:1px solid #fff}
th{text-transform:uppercase;background-color:#fff;color:#717173;font-weight:bold;padding-left:.5em;padding-top:.5em;padding-bottom:.5em;vertical-align:top}
.serves{font-size:.9em}
div.ui-timePicker li.tpSelected{background-color:#316ac5;background:none repeat scroll 0 0 #316ac5;color:#fff}
#tipDiv,#helpDialog{border-left:1px solid #000;border-right:1px solid #000;border-bottom:1px solid #000;}
a.tandc{font-size:.6em}
#ctl00_HeaderContainer { display: none; }
#FooterContainer { display: none; }
#HeaderContainer { display: none; }