.mstheme {
	separator-image: url(arthsepa.gif); list-image-1: url(artbul1a.gif); list-image-2: url(artbul2a.gif); list-image-3: url(artbul3a.gif); nav-banner-image: url(artbanna.gif); navbutton-horiz-normal: url(artnvhna.gif); navbutton-horiz-hovered: url(artnvhha.gif); navbutton-horiz-pushed: url(artnvhsa.gif); navbutton-vert-normal: url(artprena.gif); navbutton-vert-hovered: url(artpreha.gif); navbutton-vert-pushed: url(artpresa.gif); navbutton-home-normal: url(arthomna.gif); navbutton-home-hovered: url(arthomha.gif); navbutton-home-pushed: url(arthomsa.gif); navbutton-next-normal: url(artnexna.gif); navbutton-next-hovered: url(artnexha.gif); navbutton-next-pushed: url(artnexsa.gif); navbutton-prev-normal: url(artprena.gif); navbutton-prev-hovered: url(artpreha.gif); navbutton-prev-pushed: url(artpresa.gif); navbutton-up-normal: url(artupbna.gif); navbutton-up-hovered: url(artupbha.gif); navbutton-up-pushed: url(artupbsa.gif)
}
.mstheme-bannertxt {
	FONT-WEIGHT: normal; FONT-SIZE: 6px; VERTICAL-ALIGN: middle; COLOR: rgb(255,255,255); FONT-STYLE: normal; FONT-FAMILY: Book Antiqua, Times New Roman, Times; TEXT-ALIGN: center
}
.mstheme-horiz-navtxt {
	FONT-WEIGHT: bold; FONT-SIZE: 2px; VERTICAL-ALIGN: middle; COLOR: rgb(255,255,255); FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica; TEXT-ALIGN: center
}
.mstheme-vert-navtxt {
	FONT-WEIGHT: bold; FONT-SIZE: 1px; VERTICAL-ALIGN: middle; COLOR: rgb(255,255,255); FONT-STYLE: normal; FONT-FAMILY: Arial Narrow; TEXT-ALIGN: center
}
.mstheme-navtxthome {
	FONT-WEIGHT: bold; FONT-SIZE: 1px; VERTICAL-ALIGN: middle; COLOR: rgb(255,255,255); FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica; TEXT-ALIGN: center
}
.mstheme-navtxtnext {
	FONT-WEIGHT: bold; FONT-SIZE: 1px; VERTICAL-ALIGN: middle; COLOR: rgb(255,255,255); FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica; TEXT-ALIGN: center
}
.mstheme-navtxtprev {
	FONT-WEIGHT: bold; FONT-SIZE: 1px; VERTICAL-ALIGN: middle; COLOR: rgb(255,255,255); FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica; TEXT-ALIGN: center
}
.mstheme-navtxtup {
	FONT-WEIGHT: bold; FONT-SIZE: 1px; VERTICAL-ALIGN: middle; COLOR: rgb(255,255,255); FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica; TEXT-ALIGN: center
}
UL {
	LIST-STYLE-IMAGE: url(artbul1a.gif)
}
UL UL {
	LIST-STYLE-IMAGE: url(artbul2a.gif)
}
UL UL UL {
	LIST-STYLE-IMAGE: url(artbul3a.gif)
}
A:link {
	COLOR: rgb(102,102,51)
}
A:active {
	COLOR: rgb(153,51,0)
}
A:visited {
	COLOR: rgb(153,153,51)
}
BODY {
	COLOR: rgb(0,0,0); BACKGROUND-COLOR: rgb(255,255,255)
}
TABLE {
	table-border-color-light: rgb(153, 153, 102); table-border-color-dark: rgb(0, 102, 102)
}
H1 {
	COLOR: rgb(0,0,0)
}
H2 {
	COLOR: rgb(0,0,0)
}
H3 {
	COLOR: rgb(0,0,0)
}
H4 {
	COLOR: rgb(0,0,0)
}
H5 {
	COLOR: rgb(0,0,0)
}
H6 {
	COLOR: rgb(0,0,0)
}
BUTTON {
	COLOR: rgb(11,0,0); BACKGROUND-COLOR: rgb(255,204,0)
}
LABEL {
	COLOR: rgb(255,255,204)
}
.mstheme-text {
	
}
TEXTAREA {
	COLOR: rgb(0,0,0)
}
FIELDSET {
	COLOR: rgb(0,0,0)
}
LEGEND {
	COLOR: rgb(204,51,153)
}
SELECT {
	COLOR: rgb(0,0,0)
}
CAPTION {
	COLOR: rgb(204,51,153)
}
TH {
	COLOR: rgb(255,255,204)
}
.mstheme-bannertxt A:link {
	COLOR: rgb(255,204,0)
}
.mstheme-bannertxt A:active {
	COLOR: rgb(102,255,0)
}
.mstheme-bannertxt A:visited {
	COLOR: rgb(153,153,102)
}
.mstheme-bannertxt-g {
	FONT-WEIGHT: normal; FONT-SIZE: 6px; VERTICAL-ALIGN: middle; COLOR: rgb(255,255,255); FONT-STYLE: normal; FONT-FAMILY: Book Antiqua, Times New Roman, Times; TEXT-ALIGN: center
}
.mstheme-bannertxt-g A:link {
	COLOR: rgb(255,204,0)
}
.mstheme-bannertxt-g A:active {
	COLOR: rgb(102,255,0)
}
.mstheme-bannertxt-g A:visited {
	COLOR: rgb(153,153,102)
}
.mstheme-bannertxt-s {
	FONT-WEIGHT: normal; FONT-SIZE: 6px; VERTICAL-ALIGN: middle; COLOR: rgb(255,255,255); FONT-STYLE: normal; FONT-FAMILY: Book Antiqua, Times New Roman, Times; TEXT-ALIGN: center
}
.mstheme-bannertxt-s A:link {
	COLOR: rgb(255,204,0)
}
.mstheme-bannertxt-s A:active {
	COLOR: rgb(102,255,0)
}
.mstheme-bannertxt-s A:visited {
	COLOR: rgb(153,153,102)
}
.mstheme-horiz-navtxt A:link {
	COLOR: rgb(255,204,0)
}
.mstheme-horiz-navtxt A:active {
	COLOR: rgb(102,255,0)
}
.mstheme-horiz-navtxt A:visited {
	COLOR: rgb(153,153,102)
}
.mstheme-horiz-navtxt-g {
	FONT-WEIGHT: bold; FONT-SIZE: 2px; VERTICAL-ALIGN: middle; COLOR: rgb(255,255,255); FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica; TEXT-ALIGN: center
}
.mstheme-horiz-navtxt-g A:link {
	COLOR: rgb(255,204,0)
}
.mstheme-horiz-navtxt-g A:active {
	COLOR: rgb(102,255,0)
}
.mstheme-horiz-navtxt-g A:visited {
	COLOR: rgb(153,153,102)
}
.mstheme-horiz-navtxt-gs {
	FONT-WEIGHT: bold; FONT-SIZE: 2px; VERTICAL-ALIGN: middle; COLOR: rgb(255,255,255); FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica; TEXT-ALIGN: center
}
.mstheme-horiz-navtxt-gs A:link {
	COLOR: rgb(255,204,0)
}
.mstheme-horiz-navtxt-gs A:active {
	COLOR: rgb(102,255,0)
}
.mstheme-horiz-navtxt-gs A:visited {
	COLOR: rgb(153,153,102)
}
.mstheme-navtxthome A:link {
	COLOR: rgb(255,204,0)
}
.mstheme-navtxthome A:active {
	COLOR: rgb(102,255,0)
}
.mstheme-navtxthome A:visited {
	COLOR: rgb(153,153,102)
}
.mstheme-navtxthome-g {
	FONT-WEIGHT: bold; FONT-SIZE: 1px; VERTICAL-ALIGN: middle; COLOR: rgb(255,255,255); FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica; TEXT-ALIGN: center
}
.mstheme-navtxthome-g A:link {
	COLOR: rgb(255,204,0)
}
.mstheme-navtxthome-g A:active {
	COLOR: rgb(102,255,0)
}
.mstheme-navtxthome-g A:visited {
	COLOR: rgb(153,153,102)
}
.mstheme-navtxthome-gs {
	FONT-WEIGHT: bold; FONT-SIZE: 1px; VERTICAL-ALIGN: middle; COLOR: rgb(255,255,255); FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica; TEXT-ALIGN: center
}
.mstheme-navtxthome-gs A:link {
	COLOR: rgb(255,204,0)
}
.mstheme-navtxthome-gs A:active {
	COLOR: rgb(102,255,0)
}
.mstheme-navtxthome-gs A:visited {
	COLOR: rgb(153,153,102)
}
.mstheme-navtxtnext A:link {
	COLOR: rgb(255,204,0)
}
.mstheme-navtxtnext A:active {
	COLOR: rgb(102,255,0)
}
.mstheme-navtxtnext A:visited {
	COLOR: rgb(153,153,102)
}
.mstheme-navtxtnext-g {
	FONT-WEIGHT: bold; FONT-SIZE: 1px; VERTICAL-ALIGN: middle; COLOR: rgb(255,255,255); FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica; TEXT-ALIGN: center
}
.mstheme-navtxtnext-g A:link {
	COLOR: rgb(255,204,0)
}
.mstheme-navtxtnext-g A:active {
	COLOR: rgb(102,255,0)
}
.mstheme-navtxtnext-g A:visited {
	COLOR: rgb(153,153,102)
}
.mstheme-navtxtnext-gs {
	FONT-WEIGHT: bold; FONT-SIZE: 1px; VERTICAL-ALIGN: middle; COLOR: rgb(255,255,255); FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica; TEXT-ALIGN: center
}
.mstheme-navtxtnext-gs A:link {
	COLOR: rgb(255,204,0)
}
.mstheme-navtxtnext-gs A:active {
	COLOR: rgb(102,255,0)
}
.mstheme-navtxtnext-gs A:visited {
	COLOR: rgb(153,153,102)
}
.mstheme-navtxtprev A:link {
	COLOR: rgb(255,204,0)
}
.mstheme-navtxtprev A:active {
	COLOR: rgb(102,255,0)
}
.mstheme-navtxtprev A:visited {
	COLOR: rgb(153,153,102)
}
.mstheme-navtxtprev-g {
	FONT-WEIGHT: bold; FONT-SIZE: 1px; VERTICAL-ALIGN: middle; COLOR: rgb(255,255,255); FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica; TEXT-ALIGN: center
}
.mstheme-navtxtprev-g A:link {
	COLOR: rgb(255,204,0)
}
.mstheme-navtxtprev-g A:active {
	COLOR: rgb(102,255,0)
}
.mstheme-navtxtprev-g A:visited {
	COLOR: rgb(153,153,102)
}
.mstheme-navtxtprev-gs {
	FONT-WEIGHT: bold; FONT-SIZE: 1px; VERTICAL-ALIGN: middle; COLOR: rgb(255,255,255); FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica; TEXT-ALIGN: center
}
.mstheme-navtxtprev-gs A:link {
	COLOR: rgb(255,204,0)
}
.mstheme-navtxtprev-gs A:active {
	COLOR: rgb(102,255,0)
}
.mstheme-navtxtprev-gs A:visited {
	COLOR: rgb(153,153,102)
}
.mstheme-navtxtup A:link {
	COLOR: rgb(255,204,0)
}
.mstheme-navtxtup A:active {
	COLOR: rgb(102,255,0)
}
.mstheme-navtxtup A:visited {
	COLOR: rgb(153,153,102)
}
.mstheme-navtxtup-g {
	FONT-WEIGHT: bold; FONT-SIZE: 1px; VERTICAL-ALIGN: middle; COLOR: rgb(255,255,255); FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica; TEXT-ALIGN: center
}
.mstheme-navtxtup-g A:link {
	COLOR: rgb(255,204,0)
}
.mstheme-navtxtup-g A:active {
	COLOR: rgb(102,255,0)
}
.mstheme-navtxtup-g A:visited {
	COLOR: rgb(153,153,102)
}
.mstheme-navtxtup-gs {
	FONT-WEIGHT: bold; FONT-SIZE: 1px; VERTICAL-ALIGN: middle; COLOR: rgb(255,255,255); FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica; TEXT-ALIGN: center
}
.mstheme-navtxtup-gs A:link {
	COLOR: rgb(255,204,0)
}
.mstheme-navtxtup-gs A:active {
	COLOR: rgb(102,255,0)
}
.mstheme-navtxtup-gs A:visited {
	COLOR: rgb(153,153,102)
}
.mstheme-topbar-font A:link {
	COLOR: rgb(255,204,0)
}
.mstheme-topbar-font A:active {
	COLOR: rgb(102,255,0)
}
.mstheme-topbar-font A:visited {
	COLOR: rgb(153,153,102)
}
.mstheme-topbar-font-g {
	FONT-SIZE: 8pt; COLOR: rgb(255,255,204); FONT-FAMILY: Arial, Helvetica
}
.mstheme-topbar-font-g A:link {
	COLOR: rgb(255,204,0)
}
.mstheme-topbar-font-g A:active {
	COLOR: rgb(102,255,0)
}
.mstheme-topbar-font-g A:visited {
	COLOR: rgb(153,153,102)
}
.mstheme-vert-navtxt A:link {
	COLOR: rgb(255,204,0)
}
.mstheme-vert-navtxt A:active {
	COLOR: rgb(102,255,0)
}
.mstheme-vert-navtxt A:visited {
	COLOR: rgb(153,153,102)
}
.mstheme-vert-navtxt-g {
	FONT-WEIGHT: bold; FONT-SIZE: 1px; VERTICAL-ALIGN: middle; COLOR: rgb(255,255,255); FONT-STYLE: normal; FONT-FAMILY: Arial Narrow; TEXT-ALIGN: center
}
.mstheme-vert-navtxt-g A:link {
	COLOR: rgb(255,204,0)
}
.mstheme-vert-navtxt-g A:active {
	COLOR: rgb(102,255,0)
}
.mstheme-vert-navtxt-g A:visited {
	COLOR: rgb(153,153,102)
}
.mstheme-vert-navtxt-gs {
	FONT-WEIGHT: bold; FONT-SIZE: 1px; VERTICAL-ALIGN: middle; COLOR: rgb(255,255,255); FONT-STYLE: normal; FONT-FAMILY: Arial Narrow; TEXT-ALIGN: center
}
.mstheme-vert-navtxt-gs A:link {
	COLOR: rgb(255,204,0)
}
.mstheme-vert-navtxt-gs A:active {
	COLOR: rgb(102,255,0)
}
.mstheme-vert-navtxt-gs A:visited {
	COLOR: rgb(153,153,102)
}
.mstheme-vert-navtxt {
	FONT-WEIGHT: bold; FONT-SIZE: 1px; VERTICAL-ALIGN: middle; COLOR: rgb(255,255,255); FONT-STYLE: normal; FONT-FAMILY: Arial Narrow; TEXT-ALIGN: center
}
.mstheme {
	navbutton-background-color: rgb(51,51,51); top-bar-button: url(artnavgl.gif)
}
.mstheme-topbar-font {
	FONT-SIZE: 8pt; COLOR: rgb(255,255,204); FONT-FAMILY: Arial, Helvetica
}
BODY {
	FONT-FAMILY: Arial, Helvetica
}
BUTTON {
	BORDER-RIGHT: 1pt solid; BORDER-TOP: 1pt solid; FONT-SIZE: 8pt; BORDER-LEFT: 1pt solid; BORDER-BOTTOM: 1pt solid; FONT-FAMILY: Arial, Helvetica
}
CAPTION {
	FONT-SIZE: 14pt; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica
}
FIELDSET {
	BORDER-RIGHT: 1pt solid; BORDER-TOP: 1pt solid; FONT-SIZE: 8pt; BORDER-LEFT: 1pt solid; BORDER-BOTTOM: 1pt solid; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica
}
H1 {
	FONT-WEIGHT: normal; FONT-SIZE: 24pt; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica
}
H2 {
	FONT-WEIGHT: normal; FONT-SIZE: 18pt; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica
}
H3 {
	FONT-WEIGHT: normal; FONT-SIZE: 14pt; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica
}
H4 {
	FONT-WEIGHT: normal; FONT-SIZE: 12pt; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica
}
H5 {
	FONT-WEIGHT: normal; FONT-SIZE: 10pt; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica
}
H6 {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica
}
LABEL {
	FONT-SIZE: 8pt; FONT-FAMILY: Arial, Helvetica
}
LABEL {
	FONT-SIZE: 8pt; FONT-FAMILY: Arial, Helvetica
}
.mstheme-label {
	FONT-SIZE: 8pt; FONT-FAMILY: Arial, Helvetica
}
LEGEND {
	FONT-SIZE: 8pt; FONT-STYLE: normal; FONT-FAMILY: Arial
}
MARQUEE {
	FONT-SIZE: 14pt; FONT-FAMILY: Arial, Helvetica
}
SELECT {
	FONT-SIZE: 8pt; BORDER-TOP-STYLE: solid; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica; BORDER-RIGHT-STYLE: solid; BORDER-LEFT-STYLE: solid; BORDER-BOTTOM-STYLE: solid
}
TABLE {
	FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica
}
TEXTAREA {
	FONT-SIZE: 8pt; BORDER-TOP-STYLE: solid; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica; BORDER-RIGHT-STYLE: solid; BORDER-LEFT-STYLE: solid; BORDER-BOTTOM-STYLE: solid
}
TH {
	FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica
}
