.link {
	FONT: 12pt Tahoma; COLOR: white; TEXT-DECORATION: none
}
A:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}
TD {
	FONT: bold 10pt Tahoma; COLOR: black; TEXT-DECORATION: none
}
B {
	FONT-WEIGHT: bold
}
.Headline {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #000000; FONT-FAMILY: Arial, Verdana, Tahoma
}
.BodyText {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Tahoma
}
.BodyTextBold {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Tahoma
}
.FooterText {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Tahoma
}
.FooterTextBold {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Tahoma
}
.SponsorList {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; LINE-HEIGHT: 16px; FONT-FAMILY: Verdana, Arial, Tahoma
}
INPUT {
	BACKGROUND: #f3f3ff
}
TEXTAREA {
	BACKGROUND: #f3f3ff
}
SELECT {
	BACKGROUND: #f3f3ff
}
