BODY {
	FONT-SIZE: 12px; BACKGROUND: #ffffff; MARGIN: 0px; COLOR: #000000; FONT-FAMILY: Tahoma, Verdana, sans-serif
}
IMG {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
TD {
	FONT-SIZE: 12px; FONT-FAMILY: Tahoma, Verdana, sans-serif
}
TH {
	FONT-SIZE: 12px; FONT-FAMILY: Tahoma, Verdana, sans-serif
}
DIV {
	FONT-SIZE: 12px; FONT-FAMILY: Tahoma, Verdana, sans-serif
}
SELECT {
	FONT-SIZE: 12px; FONT-FAMILY: Tahoma, Verdana, sans-serif
}
TEXTAREA {
	FONT-SIZE: 12px; FONT-FAMILY: Tahoma, Verdana, sans-serif
}
INPUT {
	FONT-SIZE: 12px; FONT-FAMILY: Tahoma, Verdana, sans-serif
}
A {
	BACKGROUND-POSITION: 0% 0%; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND-ATTACHMENT: scroll; BACKGROUND-IMAGE: url(none); COLOR: #006666; BACKGROUND-REPEAT: repeat
}
A.pn-normal {
	BACKGROUND-POSITION: 0% 0%; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND-ATTACHMENT: scroll; BACKGROUND-IMAGE: url(none); COLOR: #006666; BACKGROUND-REPEAT: repeat
}
A.pn-title {
	FONT-WEIGHT: bold; FONT-SIZE: 14px
}
A.pn-sub {
	FONT-SIZE: 12px
}
A.pn-logo {
	FONT-WEIGHT: bold; FONT-SIZE: 20px; LETTER-SPACING: 3px; TEXT-DECORATION: none
}
.pn-logo {
	FONT-WEIGHT: bold; FONT-SIZE: 20px; LETTER-SPACING: 3px
}
.pn-logo-small {
	FONT-WEIGHT: bold; FONT-SIZE: 13px
}
.pn-pagetitle {
	FONT-WEIGHT: bold; FONT-SIZE: 16px
}
H1 {
	FONT-WEIGHT: bold; FONT-SIZE: 16px
}
.pn-title {
	FONT-WEIGHT: bold; FONT-SIZE: 14px
}
H2 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px
}
.pn-normal {
	FONT-SIZE: 12px; COLOR: #000000; TEXT-DECORATION: none
}
.pn-sub {
	
}
.pn-storytitle {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; LETTER-SPACING: 3px; BACKGROUND-COLOR: #ffffcc
}
