BODY {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: left top; PADDING-LEFT: 0px; BACKGROUND-IMAGE: url(images/index01.gif); PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BACKGROUND-REPEAT: repeat-x; BACKGROUND-COLOR: #000000
}
BODY {
	FONT-SIZE: 11px; COLOR: #b1b5bd; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif
}
TH {
	FONT-SIZE: 11px; COLOR: #b1b5bd; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif
}
TD {
	FONT-SIZE: 11px; COLOR: #b1b5bd; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif
}
.img1 {
	FLOAT: left; MARGIN-RIGHT: 14px
}
.img2 {
	FLOAT: right; MARGIN-LEFT: 14px
}
P {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 11px
}
.align-justify {
	TEXT-ALIGN: justify
}
.text1 {
	COLOR: #e7e8e8
}
.text2 {
	FONT-SIZE: 9px; COLOR: #ffba00
}
.text3 {
	FONT-SIZE: 9px; COLOR: #ffffff
}
.text4 {
	FONT-SIZE: 9px; COLOR: #697990
}
.text5 {
	COLOR: #6e7d94
}
.text6 {
	COLOR: #5e6e8b
}
.text7 {
	FONT-SIZE: 12px; COLOR: #ffba00
}
.ol1 {
	LINE-HEIGHT: 18px
}
A {
	COLOR: #ffba00
}
A:hover {
	TEXT-DECORATION: none
}
A.link1 {
	COLOR: #cfd1d4; TEXT-DECORATION: underline
}
A.link1:hover {
	TEXT-DECORATION: none
}
