.body {background-color: #242424;}
#Form {background-color: #0B0B0B;}

.wsc_top_light1
{
    background: transparent url(/clients/CSA-Marion/Images/top_light1.png) 50% 0 no-repeat;
}

.wsc_top_light2,
.wsc_top_light3
{
    background: none;
}

/*---------------- Search ----------------*/

.wsc_search
{
    background:url("/clients/CSA-Marion/Images/search_noframe.png") no-repeat scroll 0 0 transparent;
}

/*---------------- Menu ------------------*/

.wsc_menu_inner
{
    background: transparent url(/clients/CSA-Marion/Images/menu_background.png) 0 0 no-repeat;
}

/* top hover */

.wsc_menu ul.sf-menu > li > a:hover,
.wsc_menu ul.sf-menu > li.sfHover > a {
	background: transparent url(/clients/CSA-Marion/Images/menu_hov.png) 0 0 repeat-x;
}


/* top selected */

.wsc_menu ul.sf-menu > li.current > a {
	background: transparent url(/clients/CSA-Marion/Images/menu_hov.png) 0 0 repeat-x;
}

.wsc_menu ul.sf-menu > li.first > a:hover > span.wsc_curve,
.wsc_menu ul.sf-menu > li.sfHover.first > a > span.wsc_curve,
.wsc_menu ul.sf-menu > li.current.first > a > span.wsc_curve
{
	background: transparent url(/clients/CSA-Marion/Images/menu_first_hov.png) 0 0 no-repeat;
}

/* inner */
.wsc_menu ul.sf-menu ul a,
.wsc_menu ul.sf-menu ul a:active,
.wsc_menu ul.sf-menu ul a:visited {
    background: url("/clients/CSA-Marion/Images/custom_list2.png") no-repeat scroll 0 12px transparent;
}

.wsc_menu ul.sf-menu ul li,
.wsc_menu ul.sf-menu ul li.sfHover,
.wsc_menu ul.sf-menu ul li:hover {
 	background: transparent url(/clients/CSA-Marion/Images/menu_hor_dev.png) 0 bottom repeat-x;
}

.wsc_menu ul.sf-menu ul li.last {
    background: none;
}


/* inner hover */

.wsc_menu ul.sf-menu ul li a:hover {
    background: url("/clients/CSA-Marion/Images/custom_list2_hov.png") no-repeat scroll 0 12px transparent;
}

/* inner selected */

.wsc_menu ul.sf-menu ul li.current a {
    background: url("/clients/CSA-Marion/Images/custom_list2_hov.png") no-repeat scroll 0 12px transparent;
}


/*---------------- Login -------------------*/
.body .wsc_login,
.body .wsc_login a,
.body .wsc_login a:link,
.body .wsc_login a:visited {
    color: #9c9c9c;
}

/*---------------------------------------------- FEATURED -------------------------------*/

.wsc_featured_inner
{
    background: transparent url(/clients/CSA-Marion/Images/banner_shadow.png) center 0 no-repeat;
}


/*Featured section with 3 columns*/
.wsc_featured .wsc_3_cells_devider .wsc_first_devider
{
    background: transparent url(/clients/CSA-Marion/Images/top_section_vert_frame.png) 315px 110% no-repeat;
}

.wsc_featured .wsc_3_cells_devider .wsc_second_devider
{
    background: transparent url(/clients/CSA-Marion/Images/top_section_vert_frame.png) 635px 110% no-repeat;
}


/*---------------------------------------------- CONTENT --------------------------------*/

.wsc_content {
    background: url("/clients/CSA-Marion/Images/content_bottom_light.png") no-repeat scroll 50% bottom transparent;
}

.wsc_content_inner
{
    background: url("/clients/CSA-Marion/Images/content_bottom_line.png") repeat-x scroll 0 bottom transparent;
}

blockquote.wsc_testimonials1 p,
blockquote.wsc_testimonials1 a {
    color: #878787;
}

blockquote.wsc_testimonials1 a:link,
blockquote.wsc_testimonials1 a:visited {
    color: #719c00;
}

/*---------------- Content buttons ------------*/
a.button2{    background: transparent url(/clients/CSA-Marion/Images/button3_left.png) 0 0 no-repeat;}a.button2 span{    background: transparent url(/clients/CSA-Marion/Images/button3_right.png) right 0 no-repeat;}a.button2 strong{    background: transparent url(/clients/CSA-Marion/Images/button3_center.png) 0 0 repeat-x;}


a.button{    background: transparent url(/clients/CSA-Marion/Images/button4_left.png) 0 0 no-repeat;}a.button span{  background: transparent url(/clients/CSA-Marion/Images/button4_right.png) right 0 no-repeat;}a.button strong{    background: transparent url(/clients/CSA-Marion/Images/button4_center.png) 0 0 repeat-x;}

/* News */
.news_box {
    background: transparent url(/clients/CSA-Marion/Images/devider_hor.png) 0 0 repeat-x;
}

/* Testimonials with userpic on left */
blockquote.wsc_testimonials1
{
    background: url("/clients/CSA-Marion/Images/quotes.png") no-repeat scroll 5px 0 transparent;
}


/* Image in expandable frame */
.wsc_image_frame .wsc_frame_tl {background: transparent url(/clients/CSA-Marion/Images/frame_tl.png) 0 0 no-repeat;}
.wsc_image_frame .wsc_frame_tr {background: transparent url(/clients/CSA-Marion/Images/frame_tr.png) right 0 no-repeat;}
.wsc_image_frame .wsc_frame_tc {background: transparent url(/clients/CSA-Marion/Images/frame_tc.png) 0 0 repeat-x;}

.wsc_image_frame .wsc_frame_cl {background: transparent url(/clients/CSA-Marion/Images/frame_cl.png) 0 0 repeat-y;}
.wsc_image_frame .wsc_frame_cr {background: transparent url(/clients/CSA-Marion/Images/frame_cr.png) right 0 repeat-y;}
.wsc_image_frame .wsc_frame_cc {background: transparent url(/clients/CSA-Marion/Images/frame_cc.png) 0 0 repeat;}

.wsc_image_frame .wsc_frame_bl {background: transparent url(/clients/CSA-Marion/Images/frame_bl.png) 0 0 no-repeat;}
.wsc_image_frame .wsc_frame_br {background: transparent url(/clients/CSA-Marion/Images/frame_br.png) right 0 no-repeat;}
.wsc_image_frame .wsc_frame_bc {background: transparent url(/clients/CSA-Marion/Images/frame_bc.png) 0 0 repeat-x;}
/* End of Image in expandable frame */


/* Image in expandable frame transparent for all colors*/
.wsc_image_frame2 img {border: none; padding: 1px; background: transparent url(/clients/CSA-Marion/Images/img_border.png) 0 0 repeat;}

.wsc_image_frame2 .wsc_frame_tl {background: transparent url(/clients/CSA-Marion/Images/frame_tl.png) 0 0 no-repeat;}
.wsc_image_frame2 .wsc_frame_tr {background: transparent url(/clients/CSA-Marion/Images/frame_tr.png) right 0 no-repeat;}
.wsc_image_frame2 .wsc_frame_tc {background: transparent url(/clients/CSA-Marion/Images/frame_tc.png) 0 0 repeat-x;}

.wsc_image_frame2 .wsc_frame_cl {background: transparent url(/clients/CSA-Marion/Images/frame_cl.png) 0 0 repeat-y;}
.wsc_image_frame2 .wsc_frame_cr {background: transparent url(/clients/CSA-Marion/Images/frame_cr.png) right 0 repeat-y;}
.wsc_image_frame2 .wsc_frame_cc {background: transparent url(/clients/CSA-Marion/Images/frame_cc.png) 0 0 repeat;}

.wsc_image_frame2 .wsc_frame_bl {background: transparent url(/clients/CSA-Marion/Images/frame_bl.png) 0 0 no-repeat;}
.wsc_image_frame2 .wsc_frame_br {background: transparent url(/clients/CSA-Marion/Images/frame_br.png) right 0 no-repeat;}
.wsc_image_frame2 .wsc_frame_bc {background: transparent url(/clients/CSA-Marion/Images/frame_bc.png) 0 0 repeat-x;}
/* End of Image in expandable frame transparent for all colors*/


/* Image in expandable frame drop down*/
.wsc_dd_frame .menu_frame_arrow {background: transparent url(/clients/CSA-Marion/Images/menu_frame_arrow.png) 0 0 no-repeat; position: absolute; left: 15%; top: 0; margin-top: -7px;}

.wsc_dd_frame .wsc_frame_tl {background: transparent url(/clients/CSA-Marion/Images/frame_tl.png) 0 0 no-repeat;}
.wsc_dd_frame .wsc_frame_tr {background: transparent url(/clients/CSA-Marion/Images/frame_tr.png) right 0 no-repeat;}
.wsc_dd_frame .wsc_frame_tc {background: transparent url(/clients/CSA-Marion/Images/frame_tc.png) 0 0 repeat-x;}

.wsc_dd_frame .wsc_frame_cl {background: transparent url(/clients/CSA-Marion/Images/frame_cl.png) 0 0 repeat-y;}
.wsc_dd_frame .wsc_frame_cr {background: transparent url(/clients/CSA-Marion/Images/frame_cr.png) right 0 repeat-y;}
.wsc_dd_frame .wsc_frame_cc {background: #1a1a1a url(/clients/CSA-Marion/Images/frame_cc.png) 0 0 repeat;}

.wsc_dd_frame .wsc_frame_bl {background: transparent url(/clients/CSA-Marion/Images/frame_bl.png) 0 0 no-repeat;}
.wsc_dd_frame .wsc_frame_br {background: transparent url(/clients/CSA-Marion/Images/frame_br.png) right 0 no-repeat;}
.wsc_dd_frame .wsc_frame_bc {background: transparent url(/clients/CSA-Marion/Images/frame_bc.png) 0 0 repeat-x;}
/* End of Image in expandable frame drop down */

/* ---- Lists with custom markers ---------- */

ul.wsc_custom_list li {
    background: url("/clients/CSA-Marion/Images/custom_list2.png") no-repeat scroll 0 6px transparent;
}

/* ---- End of Lists with custom markers --- */

/*---------------------------------------------- PREFOOTER ------------------------------*/

/* Prefooter General */
.wsc_prefooter {
	background: #171717 url(/clients/CSA-Marion/Images/footer_back.png) center 0 repeat-x;
}



.wsc_3_cells_devider .wsc_first_devider
{
    background: transparent url(/clients/CSA-Marion/Images/cells_devider_footer.png) 315px center no-repeat;
}

.wsc_3_cells_devider .wsc_second_devider
{
    background: transparent url(/clients/CSA-Marion/Images/cells_devider_footer.png) 635px center no-repeat;
}


/*---------------------------------------------- FOOTER --------------------------------*/

.wsc_footer {
	background: #0b0b0b;
}



/*---------------------------------------------- CONTAINERS ----------------------------*/

/*--------------------  Box container -------------*/
.box_container,
.c_head.box_container
{
    background: transparent url(/clients/CSA-Marion/Images/box_container_top.png) 0 0 no-repeat;
}

.box_container_inner
{
    background: transparent url(/clients/CSA-Marion/Images/box_container_bottom.png) 0 bottom no-repeat;

}


.box_container_inner2
{
    background: transparent url(/clients/CSA-Marion/Images/box_container_center.png) 0 0 repeat-y;

}
