body { 
	font:13px "Helvetica Neue",Helvetica,Arial,sans-serif; 
		/* customize_font_color */ color:#333333; /* customize_font_color */
	line-height: 18px;
	/* customize_background */ background-color: #fff ; /* customize_background */
	padding:0;margin:0
	
}

a {
	/* customize_link_color */  color: #0088CC; /* customize_link_color */ text-decoration:none;
}

a:hover {
	/* customize_link_hover */ color: #005580; /* customize_link_hover */text-decoration: none;
} 



/* customize_miscellaneous */ 


/* customize_miscellaneous */
