/*!
 *UB CSS
 * 
 */

/*FROM OLD CSS*/
.sidebar .AC-BlockText  {
font-size: .95em;
}
/* Welcome Plain pages
.AC-WelcomeLinkListing, .AC-AdmissionsNavigation {
    padding-left: 0.5em;
}*/
.AC-WelcomeLinkListing .AC-BlockText UL, .AC-AdmissionsNavigation .AC-BlockText UL {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 956px;
}
.AC-WelcomeLinkListing .AC-BlockText UL LI, .AC-AdmissionsNavigation .AC-BlockText UL LI {
    float: left;
    padding-bottom: 0.5em;
    padding-right: 2.52em;
    width: 295px;
}
.AC-WelcomeLinkListing .AC-BlockText UL LI.last, .AC-AdmissionsNavigation .AC-BlockText UL LI.last {
    padding-right: 0;
}
.AC-WelcomeLinkListing .AC-BlockText UL LI A, .AC-AdmissionsNavigation .AC-BlockText UL LI A {
    background: url(images/additionalInfo_arrow.gif) no-repeat scroll 100% 5px transparent;
    display: block;
    float: left;
    font-size: 1.5em;
    padding-right: 1.2em;
    text-align: left;
}
.AC-WelcomeLinkListing .AC-BlockText UL LI P, .AC-AdmissionsNavigation .AC-BlockText UL LI P {
    clear: both;
    color: #968E7D;
    font-style: italic;
}
.AC-WelcomeLinkListing .AC-BlockText2 A, .AC-AdmissionsNavigation .AC-BlockText2 A {
    display: block;
    float: left;
    font-size: 100%;
    padding-right: 1.2em;
    text-align: right;
}

/*Common Border Styles, mostly used in the left column to control where borders appear on banners, related links, information for*/
.borderTop {border:0px;border-top:1px solid #cec8bc;}
.borderBottom {border:0px;border-bottom:1px solid #cec8bc;}
.borderTopBottom {border:0px;border-top:1px solid #cec8bc;border-bottom:1px solid #cec8bc;}
.borderNone {border:0px;}

/*Related Links*/
.AC-RelatedLinks, .AC-InfoFor {margin:0px;}
.AC-RelatedLinks .AC-BlockHeader, .AC-InfoFor .AC-BlockHeader {font-size:.95em;color:#A7A091;padding:1.5em .7em 0 .7em;}
.AC-RelatedLinks .AC-BlockText, .AC-InfoFor .AC-BlockText {padding:.7em .7em 1.5em .7em;}
.AC-RelatedLinks .AC-BlockText UL, .AC-InfoFor .AC-BlockText UL {list-style-type:none;margin:0px;padding:0px;}
.AC-RelatedLinks .AC-BlockText UL LI A, .AC-InfoFor .AC-BlockText UL LI A {color:#3c4549;}

.AC-RelatedLinks .AC-BlockText UL LI, .AC-InfoFor .AC-BlockText UL LI {padding-bottom:.5em;}


/*Contact Information*/
.AC-ContactInfo {line-height:1.8em;background:#fcf6ed;}
.AC-ContactInfo .AC-BlockHeader {text-align:center;padding-top:1.5em;}
.AC-ContactInfo .AC-BlockText {padding:0em 1.5em 1.5em 1.5em;font-size:.95em;}
.AC-ContactInfo .AC-BlockText strong {font-family:Arial;}
.AC-BlockHeader {padding-bottom: 1em;}
.AC-ContactInfo .AC-BlockText div {padding: 0px;margin: 0px;font-size: 1.3em;}

.AC-ContactInfo, .AC-VideoCallout {border:1px solid #e0d5c5;}

/*Video callout event*/
.AC-VideoCallout {background: none repeat scroll 0 0 #FEFDF9;padding: 1.8em;}
.AC-VideoCallout .AC-BlockText P {padding-top: 1.5em;}
.AC-VideoCallout .AC-BlockTitle {font-size: 1.1em;padding-top: 1.5em;}
.AC-Block h4 {margin:0;}
.AC-VideoCallout .AC-BlockCtrl, .AC-VideoCallout .AC-Archive {font-size: 0.95em;}

/*Banners*/
.AC-Banner, .AC-BannerLarge{padding:2.5em 0;}
.AC-Banner {padding-left:.7em;}
div.ct-right .AC-Banner {padding:2em 2em;}


/*Subpage Request Information*/
.AC-ReqInfosub							{background:#fcf8f1;border:1px solid #eadfcb;width:174px;padding:0em 0em 1.5em 0em;margin-left:1.6em;}
.AC-ReqInfosub .AC-BlockHeader			{height:0px;text-indent:-9999px;overflow:hidden;padding:0px;}
.AC-ReqInfosub .AC-BlockText				{padding:0em 1.5em 0em 1.5em;}
.AC-ReqInfosub .AC-BlockText ul 			{list-style-type:none;margin:0px;padding:0px;}
.AC-ReqInfosub .AC-BlockText ul li		{padding-bottom:.5em;}
.AC-ReqInfosub .AC-BlockCtrl			{padding-top:.5em;}

.AC-Spot {
    background: url(images/whiteToOrangeGradient.gif) repeat-x scroll 0 0 #F1E3CC;
    border: 5px solid #CEBA96;
    padding: 0.45em;
}
.AC-Spot .AC-BlockHeader {
    padding-bottom: 0.5em;
}
.AC-Spot .AC-BlockHeader H4 {
    color: #434A2F;
}
.AC-Spot .AC-BlockText {
    padding: 1em;
}
.AC-Spot .AC-BlockText P {
    color: #746953;
    margin: 0;
}

.AC-Spot .AC-BlockTitle {
    padding-bottom: 0.5em;
}
.AC-Spot .AC-BlockTitle A {
    color: #474F52;
    font-size: 1.1em;
}
.AC-Block {
margin-bottom: 1.5em;
}
/*
*Welcome page
*/
.AC-CampusHighlight, .AC-StudentWelcome, .AC-QuickFact {
margin-right: 1.7em;
padding: 1.3em;
width: 274px;
background: #fcf6ec url(images/lightorangetoorange_gradient.gif) repeat-x;
border: 1px solid #eae0cd;
float: left;
min-height: 330px;
}
.AC-CampusHighlight .AC-BlockHeader {
padding-left: .5em;
}
.AC-CampusHighlight .AC-BlockImage {
text-align: center;
}
.AC-CampusHighlight .AC-BlockImage IMG {
display: inline;
}
.AC-CampusHighlight .AC-BlockText {
padding: .7em;
}
.AC-CampusHighlight .AC-BlockTitle {
color: #3c4549;
font-size: 1.3em;
padding-bottom: .5em;
}
.AC-CampusHighlight .AC-BlockText P {
color: #746953;
}
.AC-QuickFact .AC-BlockText P {
padding-top: 0em;
color: #7c715b;
}
.AC-QuickFact .AC-BlockText P EM {
color: #cf843a;
display: block;
padding-bottom: .5em;
font-size: 1.7em;
line-height: 1.4em;
}
.AC-QuickFact .AC-BlockTitle span {
    color: #EAE4D7;
    display: block;
    font-size: 10em;
    padding: 0.2em 0 0.6em;
}
.AC-StudentWelcome {
margin: 0px;
}
.AC-StudentWelcome .AC-BlockImage{float:right;padding:0em;margin-top:-70px;}
.AC-StudentWelcome .AC-BlockTitle{padding:1em 0 2em 0;background:url(images/swirl.gif) no-repeat 20% 100%;}
.AC-StudentWelcome .AC-BlockTitle em	{color:#5ea2b9;font-size:3em;}
.AC-StudentWelcome .AC-BlockHeader{height:0px;text-indent:-9999px;overflow:hidden;padding:0px;}
.AC-StudentWelcome .AC-BlockText	{padding:.7em;font-size:1.1em;}
.AC-StudentWelcome .AC-BlockText em	{color:#3c4549;line-height:2em;}
.AC-StudentWelcome .AC-BlockCtrl	{display:inline;}
.AC-StudentWelcome .AC-BlockCtrl a{color:#5ea2b9;}

/*
FinAid Process
*/
.AC-FinAidProcess {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#5EA2B9 url(../images/admissions/UB_BG.gif) no-repeat scroll 100% 0;
line-height:1.4em;
margin-bottom:0;
position:relative;
}
.AC-FinAidProcess .AC-Note {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#2C525E none repeat scroll 0 0;
bottom:0;
color:#FFFFFF;
font-family:Arial;
font-size:0.89em;
padding:0.5em 3em;
}
.AC-FinAidProcess .AC-BlockHeader {
padding:2.5em 2.5em 0;
}
.AC-FinAidProcess .AC-BlockHeader h4 {
color:#FFFFFF;
}
.AC-FinAidProcess .AC-BlockText {
padding:1.5em 2.5em 0;
}
.AC-FinAidProcess .AC-BlockText ul {
list-style-type:none;
margin:0;
padding:0;
}
.AC-FinAidProcess .AC-BlockText ul li {
color:#27434C;
font-size:1.5em;
padding-bottom:1em;
}
.AC-FinAidProcess .AC-BlockText ul li span {
color:#FFFFFF;
}
.AC-FinAidProcess .AC-BlockText ul li p {
color:#FFFFFF;
font-size:0.7em;
font-weight:normal;
padding-left:1.4em;
padding-top:0.5em;
}
.AC-FinAidProcess .AC-BlockText ul li a {
color:#27434C;
}


.AC-AlumniGive {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#9DA446 none repeat scroll 0 0;
}
.AC-AlumniGive .AC-BlockHeader {
height:0;
overflow:hidden;
padding:0;
text-indent:-9999px;
}
.AC-AlumniGive .AC-BlockText {
color:#FFFFFF;
padding:0 1.7em 1.5em;
text-align:center;
}

.AC-INtlTools  {
margin-top:-30px;
position:absolute;
right:0;
}

.AC-IntlTools ul {
list-style-type:none;
margin:0;
padding:0;
}
.AC-IntlTools ul li {
border-right:1px solid #C9C4BB;
float:left;
padding:0 1em;
}
.AC-IntlTools ul li a {
color:#A07A42;
}
.AC-IntlTools ul li.first {
border:0 none;
}
.AC-IntlTools ul li.last {
border:0 none;
padding-right:0;
}

/** News Featured **/
.AC-News.FeaturedStory {
    background: url(images/brown_gradient.gif) repeat-x scroll 0 0 #3E382C;
    float: left;
    margin-bottom: 0;
    padding: 2.5em;
    width: 653px;
}
.AC-News.FeaturedStory .AC-BlockImage {
    background: url(images/brown_dotted_gradient.gif) no-repeat scroll 0 0 transparent;
    clear: both;
    float: left;
    padding-left: 2em;
    width: 170px;
}

.AC-News.FeaturedStory .AC-BlockHeader H4 {
    color: #C4BAA3;
	float:none;
}
.AC-News.FeaturedStory .AC-BlockHeader{display:block;}
.AC-News.FeaturedStory .AC-BlockText {
    background: url("none") repeat scroll 0 0 transparent;
    clear: none;
    float: right;
    padding: 1em 0;
}
.AC-News.FeaturedStory .AC-BlockText EM {
    color: #E0D5C5;
    display: block;
    padding: 1em 0;
}
.AC-News.FeaturedStory .AC-BlockText P {
    color: #E0D5C5;
    font-size: 1.3em;
    line-height: 1.5em;
}
.AC-News.FeaturedStory .AC-BlockText A {
    color: #998AB7;
}
.AC-News.FeaturedStory .AC-BlockItem {
    padding: 0 1.5em;
    width: 400px;
}
.AC-News.FeaturedStory .AC-BlockTitle {
    color: #998AB7;
    font-size: 1.6em;
    line-height: 1.3em;
}
.AC-News.FeaturedStory .AC-BlockCtrl A {
    color: #998AB7;
}

/* tab pane styling 
.panes div {
            
    
    
    border-top:0;
   
    background-color:#fff;

}
*/
/*Academic Program Listing Page*/

.AC-BlockText ul li.header {
border-bottom:1px solid #3C4549;
color:#3C4549;
font-size:1.4em;
margin-bottom:0.5em;
list-style-type:none;
}

/*.AC-ProgramListing								{clear:both;background:#fff;padding:1em 1em 3.5em 0em;border-top:10px solid #5EA2B9;min-height:678px;}*/
.AC-ProgramListing{clear:both;padding:0 1em 3.5em 0em;min-height:678px;}

.AC-ProgramListing .AC-BlockHeader				{height:0px;text-indent:-9999px;overflow:hidden;padding:0px;}
/*.AC-ProgramListing .AC-BlockText UL 			{list-style-type:none;margin:0px;padding:0 0 2em 0;width:309px;color:#3c4549;margin-left:2.5em;}*/
.AC-ProgramListing .AC-BlockText ul {
list-style-type:none;margin:0px;padding:0;width:309px;color:#3c4549;margin-left:0;}

.AC-ProgramListing .AC-BlockText UL LI			{padding-bottom:.5em;}
.AC-ProgramListing .AC-BlockText UL LI.header	{color:#3C4549;font-size:1.4em;border-bottom:1px solid #3C4549;margin-bottom:.5em;}
.AC-ProgramListing .AC-BlockText UL LI UL		{list-style-type:disc;padding:0em;margin-left:2em;font-size:.95em;}
.AC-ProgramListing .AC-BlockText UL LI UL LI	{padding-bottom:.1em;}
.AC-ProgramListing .ProgramLeft,
.AC-ProgramListing .ProgramRight				{width:309px;padding:0;}
.AC-ProgramListing .ProgramLeft					{float:left;}
.AC-ProgramListing .ProgramRight				{float:right;}

.AC-ProgramListing A	{color:#3C4549;}

.AC-ProgramListing .sortByProgramListing UL				{width:auto;padding-right:1.5em;}
.AC-ProgramListing .sortByProgramListing UL LI				{border-bottom:1px solid #e0d5c5;padding:1em;}
.AC-ProgramListing .sortByProgramListing UL LI.header			{padding-left:0px;margin-bottom:0px;}
.AC-ProgramListing .sortByProgramListing UL LI A			{color:#544674;}

.AC-ProgramListing .sortByProgramListing UL LI .alphaMajor		{float:left;width:50%;}
.AC-ProgramListing .sortByProgramListing UL LI .alphaConcentration	{float:right;width:50%;}


/*#AC-TabsPrograms				{padding:0em 0em 3.1em 0em;margin:0px;background:transparent;margin-bottom:2.5em;}
#AC-TabsPrograms H6				{font-size:.9em;padding:0px;}*/
.AC-TabsPrograms{border-bottom: 10px solid #5EA2B9;}
.AC-TabCtrlPrograms				{list-style-type:none;padding:0em 0em;margin:0px;width:700px;}
.AC-TabCtrlPrograms	LI			{color:#565148;cursor:pointer;float:left;display:block;width:250px;text-align:center;padding:.85em 0;background:url(images/tab_gradient_BG.gif) repeat-x;}
.AC-TabCtrlPrograms li h5 {margin:0;}
.AC-TabCtrlPrograms .active h5{color:#fff;}	
.AC-TabCtrlPrograms	LI.active	{background:#5ea2b9;}
.AC-TabCtrlPrograms #tab1		{margin-left:.5em;}

.AC-SortTools					{padding: 0em 0 1em;}
.AC-SortTools UL LI				{float:left;font-size: 1.1em;}
.AC-SortTools .alpha, .AC-SortTools .bySchool{cursor:pointer;}
.AC-SortTools .alpha 			{display:block;background:url(images/alpha_BG.gif) no-repeat;height:30px;width:110px;text-align:center;padding-top:.3em;margin-left:1em;color:#5ea2b9;}
.AC-SortTools .bySchool			{display:block;background:url(images/bySchool_BG.gif) no-repeat;height:30px;width:88px;text-align:center;padding-top:.3em;color:#5ea2b9;}
.AC-SortTools .active 			{color:#6D6A65;}
.sortBySchoolListing			{display:none;}


/** Clearfix styles - Substitute for Spacer Div **/
/*Academics Landing Page 
.clearfix:after 			{visibility:hidden;display:block;font-size:0px;content:" ";clear:both;height:0px;}
.clearfix 				{display:inline-block;}
.clearfix 				{display:block;}
* html .clearfix 			{height:1%;}


.AC-Left		{float:left;}
.AC-Right		{float:right;}

*/
/*Academic Program Tools*/
.AC-ProgramTools{margin-top: 6px;}
.AC-ProgramTools ul{list-style-type:none;margin:0px;text-align: right;}
.AC-ProgramTools ul li{display: inline;padding:0 1em;border-right:1px solid #c9c4bb;}
.AC-ProgramTools ul li a{color:#a07a42;}
.AC-ProgramTools ul li.first{border:0px;}
.AC-ProgramTools ul li.last{padding-right:0em;border:0px;}
/*
.navlist { margin: 0; }

.navlist li
{
float: left;
width: 50%;
list-style-type: none;
text-align: center;
}

.navlist li a
{
display: block;
padding: .3em;
color: #887aa0;
background-color:#e0ded3;
font: normal 16px 'Raleway',sans-serif;
text-decoration:underline;
}

.navlist li a:hover
{
background-color: #666;
color: #fff;
text-decoration:underline;
}

.navlist li a.current
{
background-color: #5EA2B9;
color: #fff;
text-decoration:none;
}

.navlist li.middle
{
border-top: 10px solid #5EA2B9;

}
*/

/** Spot light slide show **/

/*Spotlights, Alumni/Club  Default Callout View
.AC-Spot					{border:5px solid #ceba96;background: #f1e3cc url(../images/sitewide/whiteToOrangeGradient.gif) repeat-x;padding:.45em;}
.AC-Spot .AC-BlockHeader					{padding-bottom:.5em;}
.AC-Spot .AC-BlockHeader H4					{color:#434a2f;}
.AC-Spot .AC-BlockText						{padding:1em 1em 1em 1em;}
.AC-Spot .AC-BlockText P					{margin:0px;color:#746953;}
.AC-Spot .AC-BlockTitle						{padding-bottom:.5em;}
.AC-Spot .AC-BlockTitle A					{color:#474f52;font-size:1.1em;}
*/

/*Spotlights Student*/
.AC-Spot.Student									{background: #808b40 url(images/green_quote_BG.jpg) no-repeat;border:0px;padding:0px;}
/*.undergrad .AC-Spot.Student								{background: #45859b url(../images/sitewide/blue_quote_BG.jpg) no-repeat;}
.contEd .AC-Spot.Student								{background: #45859b url(../images/sitewide/purple_quote_BG.jpg) no-repeat;}
.alumni .AC-Spot.Student							{background: #ffffff url(../images/sitewide/white_quote_BG.jpg) no-repeat;}	
*/
.AC-Spot.Student .AC-BlockHeader					{padding-bottom:.5em;}
.AC-Spot.Student .AC-BlockHeader H4					{color:#434a2f;text-indent:-9999px;overflow:hidden;padding:0em;height:0px;}
.AC-Spot.Student .AC-BlockTitle						{line-height:2.1em;}

.AC-Spot.Student .AC-BlockText						{padding:4em 2em 0em 4em;float:left;width:317px;}
.AC-Spot.Student .AC-BlockText P					{margin:0px;color:#fff;padding-bottom:1.5em;font-size:1.1em;}


/**
.healthSciences .AC-Spot.Student .AC-BlockText P			{color:#faffdb;}

.healthSciences .AC-Spot.Student .AC-BlockText div p,
.undergrad .AC-Spot.Student .AC-BlockText div p,
.contEd .AC-Spot.Student .AC-BlockText div p			{color:#fff;}

.undergrad .AC-Spot.Student .AC-BlockText P				{color:#bfdde2;}
.contEd .AC-Spot.Student .AC-BlockText P				{color:#c2bad1;}
**/



.AC-Spot.Student .AC-BlockText DIV P					{color:#fff;padding-bottom:.5em;}
.AC-Spot.Student .AC-BlockText P SPAN				{display:block;color:#32370c;font-size:.97em;}
/*
.contEd .AC-Spot.Student .AC-BlockText P SPAN  A		{color:#9BA92F;}
.undergrad .AC-Spot.Student .AC-BlockText P SPAN A			{color:#14404e;}
.alumni .AC-Spot.Student .AC-BlockText P				{color:#746953;}
.alumni .AC-Spot.Student .AC-BlockText P SPAN A			{}
*/


.AC-Spot.Student .AC-BlockText EM					{font-size:1.5em;}
.AC-Spot.Student .AC-BlockTitle						{padding-bottom:1.5em;color:#fff;}

.AC-Spot.Student .AC-BlockTitle A					{font-size:1.1em;}
.AC-Spot.Student .AC-BlockImage						{float:right;}
.AC-Spot.Student .AC-BlockCtrl		A				{text-transform:uppercase;color:#fff;font-weight:bold;background: url(../images/sitewide/spot_arrow_right.png) no-repeat 100% 7px;width:85px;display:block;font-family:Arial;}
/*
.alumni .AC-Spot.Student .AC-BlockTitle				{color:#c99155;}
.alumni .AC-Spot.Student .AC-BlockCtrl		A		{color:#c99155;background:url(../images/sitewide/spot_orange_arrow.gif) no-repeat 100% 4px;}
*/

/*
.AC-QuoteBlock		{background:url(../images/sitewide/spotlight_BG_Quote.gif) repeat-x;width:842px;height:131px;margin: -34px 0 0 -34px;}
.AC-QuoteBlock EM	{font-size: 2em; text-align: center; display: block; vertical-align: middle; padding:2em 1em 1em; color:#fff;padding-bottom:1em;}
#AC-SpotDetails		{position:relative;}
#AC-SpotDetails div	{width:423px;}
#AC-SpotDetails div strong	{color:#666564;}
.AC-DetailHeaderInfo		{color:#14404e;width:390px;}
.AC-SpotDetailImage img		{float:right;}
#AC-SpotDetails #AC-DetailBody	{background:#fff;padding:0;color:#746953;margin-top:1.5em;}
.AC-QuoteBlockBorder	{width:842px;text-indent:-9999px;overflow:hidden;height:14px;margin: 0em -34px;background:url(../images/sitewide/spotlight_BG_arrow.gif) no-repeat 50% 0;border-top:24px solid #315C6C;}
.AC-QuoteBlockBorder.zMargin	{margin-top:-34px;}
*/


.AC-VideoArchive UL		{list-style-type:none;padding:0px;margin:0px;}
.AC-VideoArchive UL LI		{padding:2em 0em;color:#746953;margin-bottom:8px;border-bottom:1px solid #C3C0BF;}
.AC-VideoArchive UL LI IMG	{border:3px solid #746953;}
.AC-VideoArchive UL LI DIV	{margin-left:2em;margin-bottom:.5em;clear:both;}
.AC-VideoArchive UL LI DIV A	{color:#4C350E;}

.AC-VideoArchive .AC-BlockImage			{width:155px;float:left;}
.AC-VideoArchive .AC-VideoDescription		{float:left;clear:none;}




.AC-AppListing {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent none repeat scroll 0 0;
float:left;
line-height:1.4em;
margin-bottom:0;
margin-top:-28px;
padding:0 0 3em 2.5em;
position:relative;
width:681px;
}
.AC-AppListing .AC-Note {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#2C525E none repeat scroll 0 0;
bottom:0;
color:#FFFFFF;
font-size:0.89em;
padding:0.5em 3em;
}
.AC-AppListing .AC-BlockHeader {
padding:2.5em 2.5em 0;
}
.AC-AppListing h4 {
color:#FFFFFF;
}
.AC-AppListing .AC-BlockText {
}
.AC-AppListing p {
clear:both;
color:#FFFFFF;
font-size:0.97em;
font-weight:normal;
}
.AC-AppListing {

}
.AC-AppListing h4 {
color:#27434C;
font-size:1em;
}
.AC-AppListing strong {
color:#27434C;
display:block;
padding:1.5em 0;
}

.AC-AppListing .controls {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent none repeat scroll 0 0;
margin:0;
padding:0;
text-align:left;
}
.AC-AppListing .controls.continue {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#651E1E none repeat scroll 0 0;
padding:1em 1em 2em;
}
.AC-AppListing .controls.completed {
padding:1em 1em 2em;
}
.AC-AppListing .controls a {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
-moz-border-radius-bottomleft:15px;
-moz-border-radius-bottomright:15px;
-moz-border-radius-topleft:15px;
-moz-border-radius-topright:15px;
background:transparent url(images/btn_BG.gif) repeat-x scroll 0 0;
border:1px solid #BAB6AD;
color:#333333;
cursor:pointer;
display:block;
margin:0;
padding:0.4em 2em;
text-decoration:none;
}
.AC-AppListing .controls a:hover {
color:#CF843A;
}
.AC-AppListing .appintl a:hover {
text-decoration:underline;
}
.AC-AppListing .appintl a {
color:#FFCC66;
}

.AC-AppTypeCt {
background-color:#5EA2B9;
padding:0;
}
.AC-AppTypeCt .AC-AppListing {
float:left;
width:325px;
}
.AC-AppTypeCt .AC-AppListing .AC-AppType {
padding:0 35px 0 0;
}
.AC-AppTypeCt .AC-AppListing:first-child {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(images/appDivider_BG.gif) repeat-y scroll 100% 0;
}


#applicationSelectHeader {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#5EA2B9 url(images/UB_BG.gif) no-repeat scroll 100% 0;
padding:1.5em 0 2em 2.5em;
}
#applicationSelectHeader h4 {
color:#FFFFFF;
}
/*
*
*
*/
