/*--- Avanquest WebEasy Page Style ---*/


.cc274              { /* Common */
	border          :   0px none #a7809f;
	}
.cc275              { /* Common */
	font            : bold 11px 'Arial', Helvetica, sans-serif;
	color           : #ffffff;
	text-align      : center;
	}
.cc276              { /* Common */
	border          :   0px none #f0e4b7;
	}
.cc277              { /* Common */
	border          :   0px none #ffffff;
	clip            : rect(0px,427px,1px,0px);
	}
.cc278              { /* Common */
	font            : 11px 'Arial', Helvetica, sans-serif;
	color           : #330066;
	}
.cc279              { /* Common */
	border          :   0px none #f0f0f0;
	}
.cc280              { /* Common */
	font            : italic 15px 'Arial', Helvetica, sans-serif;
	color           : #330066;
	text-align      : right;
	}
.cc281              { /* Common */
	font            : 29px 'Arial', Helvetica, sans-serif;
	color           : #ffffff;
	}
.cc282              { /* Common */
	font            : 13px 'Arial', Helvetica, sans-serif;
	color           : #ffffff;
	}
.cc283              { /* Common */
	font            : 16px 'Arial', Helvetica, sans-serif;
	color           : #000080;
	}
.cc284              { /* Common */
	font            : 16px 'Arial', Helvetica, sans-serif;
	color           : #ffffff;
	}
span#e29            { /* /clients/CCTArts/Images/ccta001019.jpg */
	background      : transparent url(/clients/CCTArts/Images/ccta001019.jpg) no-repeat top left;
	position        : absolute;
	left            :  20px;
	top             :   4px;
	width           : 882px;
	height          : 133px;
	}
span#e24            { /* /clients/CCTArts/Images/ccta026009.gif */
	background      : transparent url(/clients/CCTArts/Images/ccta026009.gif) no-repeat top left;
	position        : absolute;
	left            :  20px;
	top             : 141px;
	width           : 882px;
	height          :  29px;
	}
div#e18             { /* Communications */
	position        : absolute;
	left            :  29px;
	top             : 148px;
	width           :  96px;
	height          :  21px;
	}
div#e19             { /* About CCTA */
	position        : absolute;
	left            : 156px;
	top             : 148px;
	width           :  78px;
	height          :  18px;
	}
div#e20             { /* CCTA Programs  */
	position        : absolute;
	left            : 243px;
	top             : 148px;
	width           : 131px;
	height          :  19px;
	}
div#e1              { /* Theatrical Arts Producti... */
	position        : absolute;
	left            : 382px;
	top             : 148px;
	width           : 183px;
	height          :  21px;
	}
div#e2              { /* <DIV><FONT style="BACKGR... */
	position        : absolute;
	left            : 572px;
	top             : 148px;
	width           : 166px;
	height          :  21px;
	}
div#e17             { /* <DIV><FONT style="BACKGR... */
	position        : absolute;
	left            : 765px;
	top             : 149px;
	width           : 130px;
	height          :  19px;
	}
span#e35            { /* /clients/CCTArts/Images/ccta026017.gif */
	background      : transparent url(/clients/CCTArts/Images/ccta026017.gif) no-repeat top left;
	position        : absolute;
	left            : 584px;
	top             : 174px;
	width           : 320px;
	height          : 397px;
	}
span#e27            { /* /clients/CCTArts/Images/ccta026011.gif */
	background      : transparent url(/clients/CCTArts/Images/ccta026011.gif) no-repeat top left;
	position        : absolute;
	left            :   0px;
	top             : 176px;
	width           : 576px;
	height          :  99px;
	}
span#e22            { /* /clients/CCTArts/Images/ccta001023.jpg */
	background      : transparent url(/clients/CCTArts/Images/ccta001023.jpg) no-repeat top left;
	position        : absolute;
	left            : 499px;
	top             : 187px;
	width           :  66px;
	height          :  77px;
	}
img#e34             { /* /clients/CCTArts/Images/ccta026016.jpg */
	position        : absolute;
	left            : 599px;
	top             : 188px;
	width           : 280px;
	height          : 189px;
	}
div#e26             { /* What They're Saying\ */
	background      : transparent url(/clients/CCTArts/Images/ccta026010.gif) no-repeat top left;
	position        : absolute;
	left            :  26px;
	top             : 196px;
	width           : 484px;
	height          :  77px;
	}
span#e21            { /* /clients/CCTArts/Images/ccta026008.gif */
	background      : transparent url(/clients/CCTArts/Images/ccta026008.gif) no-repeat top left;
	position        : absolute;
	left            :  56px;
	top             : 244px;
	width           : 427px;
	height          :   1px;
	}
div#e25             { /* 6655 Dobbin Road #4  I  ... */
	position        : absolute;
	left            :  52px;
	top             : 248px;
	width           : 486px;
	height          :  31px;
	}
span#e37            { /* /clients/CCTArts/Images/ccta026019.gif */
	background      : transparent url(/clients/CCTArts/Images/ccta026019.gif) no-repeat top left;
	position        : absolute;
	left            :  20px;
	top             : 283px;
	width           : 560px;
	height          : 288px;
	}
img#e16             { /* /clients/CCTArts/Images/ccta026007.gif */
	position        : absolute;
	left            : 500px;
	top             : 288px;
	width           :  74px;
	height          :  80px;
	}
span#e36            { /* /clients/CCTArts/Images/ccta026018.gif */
	background      : transparent url(/clients/CCTArts/Images/ccta026018.gif) no-repeat top left;
	position        : absolute;
	left            :  21px;
	top             : 307px;
	width           : 660px;
	height          : 124px;
	}
img#e15             { /* /clients/CCTArts/Images/ccta026006.gif */
	position        : absolute;
	left            :  41px;
	top             : 369px;
	width           : 502px;
	height          :  66px;
	}
span#e28            { /* /clients/CCTArts/Images/ccta026012.gif */
	background      : transparent url(/clients/CCTArts/Images/ccta026012.gif) no-repeat top left;
	position        : absolute;
	left            : 601px;
	top             : 422px;
	width           : 321px;
	height          : 117px;
	}
img#e33             { /* /clients/CCTArts/Images/ccta026015.gif */
	position        : absolute;
	left            :  40px;
	top             : 425px;
	width           : 524px;
	height          :  55px;
	}
div#e23             { /* Our mission is to educat... */
	position        : absolute;
	left            : 611px;
	top             : 441px;
	width           : 281px;
	height          :  95px;
	}
img#e3              { /* /clients/CCTArts/Images/ccta026001.gif */
	position        : absolute;
	left            :  42px;
	top             : 487px;
	width           : 524px;
	height          :  55px;
	}
span#e14            { /* /clients/CCTArts/Images/ccta026005.gif */
	background      : transparent url(/clients/CCTArts/Images/ccta026005.gif) no-repeat top left;
	position        : absolute;
	left            : 235px;
	top             : 597px;
	width           : 672px;
	height          : 232px;
	}
div#e12             { /* Photos */
	position        : absolute;
	left            :  26px;
	top             : 629px;
	width           : 151px;
	height          :  41px;
	}
img#e11             { /* /clients/CCTArts/Images/ccta026004.jpg */
	position        : absolute;
	left            : 292px;
	top             : 643px;
	width           : 143px;
	height          : 110px;
	}
img#e10             { /* /clients/CCTArts/Images/ccta026003.jpg */
	position        : absolute;
	left            : 443px;
	top             : 643px;
	width           : 143px;
	height          : 110px;
	}
img#e9              { /* /clients/CCTArts/Images/ccta026002.jpg */
	position        : absolute;
	left            : 594px;
	top             : 643px;
	width           : 143px;
	height          : 110px;
	}
div#e13             { /* <DIV><STRONG>Premier of&... */
	position        : absolute;
	left            :  62px;
	top             : 660px;
	width           : 234px;
	height          :  55px;
	}
div#e7              { /* <DIV><SPAN style="FONT-F... */
	position        : absolute;
	left            : 442px;
	top             : 755px;
	width           :  73px;
	height          :  47px;
	}
div#e6              { /* <DIV><SPAN style="FONT-F... */
	position        : absolute;
	left            : 594px;
	top             : 755px;
	width           :  73px;
	height          :  47px;
	}
div#e8              { /* <DIV><SPAN style="FONT-F... */
	position        : absolute;
	left            : 292px;
	top             : 756px;
	width           :  73px;
	height          :  47px;
	}
span#e38            { /* /clients/CCTArts/Images/ccta026020.gif */
	background      : transparent url(/clients/CCTArts/Images/ccta026020.gif) no-repeat top left;
	position        : absolute;
	left            : 237px;
	top             : 871px;
	width           : 672px;
	height          : 322px;
	}
div#e4              { /* CCTA Students */
	position        : absolute;
	left            :  28px;
	top             : 903px;
	width           : 151px;
	height          :  71px;
	}
img#e32             { /* /clients/CCTArts/Images/ccta026014.jpg */
	position        : absolute;
	left            : 254px;
	top             : 904px;
	width           :  80px;
	height          :  85px;
	}
div#e31             { /* <DIV><SPAN style="FONT-F... */
	position        : absolute;
	left            : 336px;
	top             : 909px;
	width           : 515px;
	height          : 281px;
	}
div#e5              { /* <DIV><STRONG>IN THE NEWS... */
	position        : absolute;
	left            :  64px;
	top             : 976px;
	width           : 234px;
	height          :  55px;
	}
img#e30             { /* /clients/CCTArts/Images/ccta026013.jpg */
	position        : absolute;
	left            : 254px;
	top             :1048px;
	width           :  86px;
	height          :  65px;
	}
div#page            { /* Page Holder */
	position        : relative;
	width           : 925px;
	height          :3600px;
	text-align      : left;
	margin-left     : auto;
	margin-right    : auto;
	}
body                { /* Page Body */
	background      : #422963 url(/clients/CCTArts/Images/b10031.gif) repeat fixed;
	text-align      : center;
	overflow        : auto;
	}



/*--- EndOfFile ---*/
