.newspostinfo_sep {float: left; padding-right: 5px;}
.newspostinfo_element {display: block; float: left; padding-right: 5px;}

/*** Plugin Styles ***/
/* Table Div Boxes */
.tbcon {
	width: 100%;
}
.tbrow {
	width: 100%;
}
.tbcell {
	float: left;
}
.tbcell img {
	vertical-align: middle;
}
.tbcell span {
	vertical-align: middle;
}
.tbtitle {
	color: #ffffff;
	background-color: #6691D0;
	border: 1px solid #3565AC;
	width: 400px;
	font-weight: bold;
}
.clear { clear: both; }

.tbcon h2 {
	font-size: 18px;
}

.newspostitem {
	padding-bottom: 4px;
}
.newspostitemsep {
	padding-bottom: 4px;
	padding-top: 4px;
	border-bottom: 1px solid #cccccc;
}

.newsposttitle {
	font-weight: bold;
	word-wrap: break-word;
}
.newspostnotes {
	word-wrap: break-word;
}
.newspostdesc {
	padding: 0px;
	word-wrap: break-word;
}
.newspostdesc p{
	margin: 0px 0px 10px 0px;
	padding: 0px;
	word-wrap: break-word;
}
.newspubdate {
	font-style: italic;
}
.newslink {
	
}
.newsnone {
	padding-bottom: 4px;
}
#archdate {
	font-style: italic;
}

/* CF 2009-09-30 */
.newspostedit {
	float: right;
	width: 20px;
	height: 20px;
}
img.floatLeft {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}
td.noImgMargin img.floatLeft {
	float: left;
	margin-right: 0px;
	margin-bottom: 0px;
}
div.newspostitemsep table {
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	border: none;
	border-width: 0px;
}