@charset "utf-8";
/* CSS Document */

#layer1  {
	background-image:url(/clients/BayStreetPlayers/Images/header.jpg);
	visibility: visible;
	position: absolute;
	left: 200px;
	top: 13px;
	z-index: 5;
	width: 580px;
	height: 117px;
}
