HTML {
	HEIGHT: 100%
}
IMG {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
BODY {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; HEIGHT: 100%; BORDER-RIGHT-WIDTH: 0px
}
TD {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
P {
	MARGIN-TOP: 0em; MARGIN-BOTTOM: 1em
}
H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H5 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H6 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 2em; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 1em; PADDING-TOP: 0px; LIST-STYLE-TYPE: square
}
INPUT.button {
	BORDER-RIGHT: #999999 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 5px; BACKGROUND: #f3f3f3; PADDING-BOTTOM: 3px; MARGIN: 0px; FONT: bold 10px/10px Verdana, Helvetica, sans-serif; BORDER-LEFT: #cccccc 1px solid; COLOR: #666666; PADDING-TOP: 3px; BORDER-BOTTOM: #999999 1px solid; HEIGHT: 24px
}
INPUT.text {
	BORDER-RIGHT: #484848 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #484848 1px solid; PADDING-LEFT: 3px; BACKGROUND: #ffffff; PADDING-BOTTOM: 3px; FONT: 8pt Arial, Tahoma, Verdana, Helvetica, sans-serif; BORDER-LEFT: #484848 1px solid; WIDTH: 300px; COLOR: #000000; PADDING-TOP: 3px; BORDER-BOTTOM: #484848 1px solid; HEIGHT: 15px
}
INPUT.text-inactive {
	BORDER-RIGHT: #484848 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #484848 1px solid; PADDING-LEFT: 3px; BACKGROUND: #ffffff; PADDING-BOTTOM: 3px; FONT: 8pt Arial, Tahoma, Verdana, Helvetica, sans-serif; BORDER-LEFT: #484848 1px solid; WIDTH: 300px; PADDING-TOP: 3px; BORDER-BOTTOM: #484848 1px solid; HEIGHT: 15px
}
INPUT.text-fixed {
	BORDER-RIGHT: #484848 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #484848 1px solid; PADDING-LEFT: 3px; BACKGROUND: #f6f6f6; PADDING-BOTTOM: 3px; FONT: 8pt Arial, Tahoma, Verdana, Helvetica, sans-serif; BORDER-LEFT: #484848 1px solid; WIDTH: 300px; COLOR: #303030; PADDING-TOP: 3px; BORDER-BOTTOM: #484848 1px solid; HEIGHT: 15px
}
TEXTAREA {
	BORDER-RIGHT: #484848 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #484848 1px solid; PADDING-LEFT: 3px; BACKGROUND: #ffffff; PADDING-BOTTOM: 3px; FONT: 8pt Courier, serif; BORDER-LEFT: #484848 1px solid; WIDTH: 452px; COLOR: #000000; PADDING-TOP: 3px; BORDER-BOTTOM: #484848 1px solid; HEIGHT: 120px
}
SELECT {
	BACKGROUND: #ffffff; FONT: 8pt Arial, Tahoma, Verdana, Helvetica, sans-serif; COLOR: #000000
}
.clearer {
	CLEAR: both; LINE-HEIGHT: 0; HEIGHT: 0px
}
.inline-icon {
	VERTICAL-ALIGN: middle; MARGIN-RIGHT: 5px
}
.error-box {
	PADDING-RIGHT: 15px; MARGIN-TOP: 1em; PADDING-LEFT: 15px; PADDING-BOTTOM: 15px; COLOR: #ffffff; PADDING-TOP: 15px; BACKGROUND-COLOR: #754c24
}
.error-text {
	COLOR: #754c24
}
.error-text A:link {
	COLOR: #754c24
}
.error-text A:visited {
	COLOR: #754c24
}
.error-text A:active {
	COLOR: #754c24
}
.error-text A:hover {
	COLOR: #754c24
}
.faded-text {
	COLOR: #999999
}
.offsite-link {
	PADDING-LEFT: 12px; BACKGROUND: url(/layout/iconSets/dark/open-off-site.png) no-repeat left center; MARGIN-RIGHT: 1px
}
.offsite-link-inline {
	PADDING-RIGHT: 12px; BACKGROUND: url(/layout/iconSets/dark/open-off-site.png) no-repeat right center; MARGIN-RIGHT: 1px
}
.folder-link-expand {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; FONT-SIZE: 9px; BACKGROUND: url(/layout/iconSets/dark/folder-expand.png) no-repeat center center; PADDING-BOTTOM: 0px; CURSOR: pointer; LINE-HEIGHT: 9px; PADDING-TOP: 0px
}
.folder-link-contract {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; FONT-SIZE: 9px; BACKGROUND: url(/layout/iconSets/dark/folder-contract.png) no-repeat center center; PADDING-BOTTOM: 0px; CURSOR: pointer; LINE-HEIGHT: 9px; PADDING-TOP: 0px
}
.thumbnail-image-float-left {
	FONT-SIZE: 9px; FLOAT: left; MARGIN: 0px 10px 8px 0px; FONT-FAMILY: Verdana, sans-serif
}
.thumbnail-image-float-right {
	FONT-SIZE: 9px; FLOAT: right; MARGIN: 0px 0px 8px 10px; FONT-FAMILY: Verdana, sans-serif
}
.thumbnail-image-float-none {
	FONT-SIZE: 9px; FONT-FAMILY: Verdana, sans-serif
}
.thumbnail-image-float-left IMG {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; BORDER-BOTTOM: #ccc 1px solid; TEXT-DECORATION: none
}
.thumbnail-image-float-right IMG {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; BORDER-BOTTOM: #ccc 1px solid; TEXT-DECORATION: none
}
.thumbnail-image-float-none IMG {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; BORDER-BOTTOM: #ccc 1px solid; TEXT-DECORATION: none
}
.full-image-float-left {
	FONT-SIZE: 9px; FLOAT: left; MARGIN: 0px 10px 8px 0px; FONT-FAMILY: Verdana, sans-serif
}
.full-image-float-right {
	FONT-SIZE: 9px; FLOAT: right; MARGIN: 0px 0px 8px 10px; FONT-FAMILY: Verdana, sans-serif
}
.full-image-float-none {
	FONT-SIZE: 9px; FONT-FAMILY: Verdana, sans-serif
}
.full-image-float-left IMG {
	TEXT-DECORATION: none
}
.full-image-float-right IMG {
	TEXT-DECORATION: none
}
.full-image-float-none IMG {
	TEXT-DECORATION: none
}
.document-heading {
	MARGIN-BOTTOM: 1.8em
}
.document-title {
	MARGIN-BOTTOM: 0.8em
}
.header {
	MARGIN-BOTTOM: 2em
}
.body {
	MARGIN-TOP: 1em; MARGIN-BOTTOM: 2em
}
.body-direct {
	MARGIN-BOTTOM: 2em
}
.footer {
	MARGIN-TOP: 2em
}
.journal-filter-header {
	MARGIN-BOTTOM: 15px; PADDING-BOTTOM: 10px; BORDER-BOTTOM: #999999 1px solid
}
.journal-navigation {
	MARGIN-TOP: 2em
}
.journal-comment-area {
	BORDER-TOP: #999999 1px solid; MARGIN-TOP: 25px; PADDING-TOP: 15px
}
.journal-comment-area .caption {
	
}
.journal-comment-area .text {
	
}
.journal-comment-area-disabled-text {
	MARGIN-TOP: 2em
}
.journal-entry-navigation {
	MARGIN-BOTTOM: 2em
}
.journal-entry {
	MARGIN-BOTTOM: 2em
}
.journal-entry .title {
	
}
.journal-entry .tag {
	CLEAR: both
}
.journal-entry .body {
	MARGIN-TOP: 1em; MARGIN-BOTTOM: 0px
}
.journal-entry-follow-up {
	CLEAR: both; PADDING-LEFT: 12px; MARGIN-BOTTOM: 1em; BORDER-LEFT: #999999 1px solid
}
.journal-entry-follow-up .follow-up-caption {
	MARGIN-BOTTOM: 1em
}
.journal-entry-follow-up .follow-up-body {
	
}
.unpublished {
	COLOR: #999999
}
.amazon-item-list {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.amazon-item-list LI {
	MARGIN-BOTTOM: 10px; LIST-STYLE-TYPE: none; HEIGHT: 1%
}
.amazon-item-list LI .picture {
	FLOAT: left
}
.amazon-item-list LI .description {
	MARGIN-BOTTOM: 15px; MARGIN-LEFT: 70px; HEIGHT: 1%
}
.amazon-item-list LI .description .authors {
	MARGIN-BOTTOM: 15px
}
.amazon-item-list LI .description .text {
	MARGIN-BOTTOM: 15px
}
.amazon-item-list LI .description .amazon-link {
	
}
.gallery-navigation {
	MARGIN-TOP: 15px; MARGIN-BOTTOM: 15px
}
.gallery-description {
	MARGIN-TOP: 5px
}
.picture-gallery-list {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.picture-gallery-list LI {
	MARGIN-BOTTOM: 12px; LIST-STYLE-TYPE: none; HEIGHT: 1%
}
.picture-gallery-list LI .pictureWrapper {
	FLOAT: left
}
.picture-gallery-list LI .picture {
	BORDER-RIGHT: #dddddd 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #dddddd 1px solid; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; BORDER-LEFT: #dddddd 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: #dddddd 1px solid
}
.picture-gallery-list LI .description {
	MARGIN-LEFT: 95px
}
.picture-gallery-list LI .description .caption {
	MARGIN-BOTTOM: 5px
}
.picture-gallery-list LI .description .author {
	MARGIN-TOP: 5px; MARGIN-BOTTOM: 5px
}
.picture-gallery-list LI .description .text {
	
}
.picture-gallery-thumbnail-list {
	HEIGHT: 1%
}
.picture-gallery-thumbnail-list .thumbnail {
	BORDER-RIGHT: #dddddd 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #dddddd 1px solid; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; BORDER-LEFT: #dddddd 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: #dddddd 1px solid
}
.picture-gallery-thumbnail-list .thumbnail-container {
	FLOAT: left; MARGIN-BOTTOM: 12px; MARGIN-RIGHT: 12px
}
.picture-full {
	BORDER-RIGHT: #dddddd 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #dddddd 1px solid; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; BORDER-LEFT: #dddddd 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: #dddddd 1px solid
}
.file-item-list {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.file-item-list LI {
	CLEAR: both; MARGIN-BOTTOM: 10px; LIST-STYLE-TYPE: none; HEIGHT: 1%
}
.file-item-list LI .icon {
	DISPLAY: block; FLOAT: left
}
.file-item-list LI .content {
	MARGIN-LEFT: 26px; PADDING-TOP: 2px; HEIGHT: 1%
}
.file-item-list LI .title {
	DISPLAY: inline
}
.folder-item-list {
	
}
.folder-item-list LI {
	MARGIN-BOTTOM: 1em
}
.link-group-list {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.link-group-list LI {
	MARGIN-BOTTOM: 1.5em; LIST-STYLE-TYPE: none
}
.link-group-list LI UL {
	MARGIN-TOP: 1em
}
.link-group-list LI UL LI {
	MARGIN-BOTTOM: 0.5em; LIST-STYLE-TYPE: square
}
.link-group-list LI UL LI .title {
	
}
.link-group-list LI UL LI .description {
	
}
.discussion-comment-list {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.discussion-comment-list LI {
	MARGIN-TOP: 10px; PADDING-LEFT: 26px; BACKGROUND: url(/layout/iconSets/dark/comment.png) no-repeat 0px 1px; PADDING-BOTTOM: 10px; BORDER-BOTTOM: #dddddd 1px solid; LIST-STYLE-TYPE: none
}
.discussion-comment-list LI:unknown {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px
}
.discussion-comment-list LI .post-title {
	DISPLAY: inline
}
.comment {
	MARGIN-TOP: 1em; PADDING-BOTTOM: 1em; BORDER-BOTTOM: #999999 1px dashed
}
.comment .body {
	MARGIN-TOP: 1em
}
.comment .signature {
	MARGIN-TOP: 0.5em; TEXT-ALIGN: right
}
.comment-unapproved-notice {
	PADDING-RIGHT: 15px; MARGIN-TOP: 1em; PADDING-LEFT: 15px; PADDING-BOTTOM: 15px; COLOR: #ffffff; PADDING-TOP: 15px; BACKGROUND-COLOR: #754c24
}
.comment-unapproved {
	BORDER-RIGHT: #754c24 2px solid; PADDING-RIGHT: 15px; BORDER-TOP: #754c24 2px solid; MARGIN-TOP: 0px; PADDING-LEFT: 15px; PADDING-BOTTOM: 15px; BORDER-LEFT: #754c24 2px solid; PADDING-TOP: 15px; BORDER-BOTTOM: #754c24 2px solid
}
.comment-unapproved .body {
	MARGIN-TOP: 1em
}
.comment-unapproved .signature {
	MARGIN-TOP: 0.5em; TEXT-ALIGN: right
}
.change-list {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.change-list LI {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 28px; BACKGROUND: no-repeat 0px 1px; PADDING-BOTTOM: 1.2em; MARGIN: 0px 0px 1.2em; PADDING-TOP: 0px; BORDER-BOTTOM: #cccccc 1px solid; LIST-STYLE-TYPE: none
}
.change-list LI:unknown {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px
}
.input-field {
	MARGIN-BOTTOM: 1em
}
.input-field .title {
	MARGIN-BOTTOM: 5px
}
.input-field .control {
	
}
.input-field-error {
	FONT-WEIGHT: bold; MARGIN-BOTTOM: 5px
}
.table .row {
	CLEAR: both
}
.table .left {
	FLOAT: left; MARGIN: 5px; WIDTH: 100px; TEXT-ALIGN: right
}
.table .right {
	MARGIN-BOTTOM: 5px; MARGIN-LEFT: 100px
}
.notice-box {
	MARGIN-BOTTOM: 2em
}
.notice-box .caption {
	DISPLAY: inline
}
.notice-box .caption-text {
	MARGIN-TOP: 1em; MARGIN-BOTTOM: 2em
}
.notice-box .link-field-title {
	MARGIN-TOP: 1em; FONT-WEIGHT: bold; PADDING-BOTTOM: 10px
}
.notice-box .link-field-text {
	
}
.notice-box-alert {
	PADDING-RIGHT: 1em; BORDER-TOP: #999999 1px solid; PADDING-LEFT: 1em; MARGIN-BOTTOM: 1em; PADDING-BOTTOM: 1em; PADDING-TOP: 1em; BORDER-BOTTOM: #999999 1px solid
}
.notice-box-alert .icon {
	FLOAT: left
}
.notice-box-alert .text {
	MARGIN-LEFT: 22px; HEIGHT: 1%
}
#squarespace-powered {
	PADDING-BOTTOM: 40px; TEXT-ALIGN: left
}
.content-passthrough .amazon-item-list-pt LI {
	MARGIN-BOTTOM: 10px
}
.content-passthrough .amazon-item-list-pt .picture {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: none; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0.5em; PADDING-TOP: 0px
}
.content-passthrough .amazon-item-list-pt .description {
	MARGIN: 0px
}
.content-passthrough .amazon-item-list-pt .description .text {
	MARGIN: 0px
}
.content-passthrough .change-list-pt {
	MARGIN: 0px
}
.content-passthrough .change-list-pt LI {
	MARGIN-BOTTOM: 0.4em
}
.content-passthrough .archive-item-list-pt {
	MARGIN: 0px 0px 1em
}
.content-passthrough .archive-item-list-pt LI {
	MARGIN-BOTTOM: 0.4em
}
.content-passthrough .link-group-list-pt {
	MARGIN-BOTTOM: 0.5em
}
.content-passthrough .link-group-list-pt LI .title {
	FONT-WEIGHT: bold
}
.content-passthrough .link-group-list-pt LI .description {
	
}
.content-passthrough .link-group-list-pt LI UL {
	MARGIN-BOTTOM: 10px
}
.content-passthrough .link-group-list-pt LI UL LI {
	MARGIN-BOTTOM: 2px
}
.content-passthrough .link-group-list-pt LI UL LI .title {
	FONT-WEIGHT: normal
}
.content-passthrough .link-group-list-pt LI UL LI .description {
	
}
.section UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.section UL LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.journal-entry .tag {
	FONT-SIZE: 10px; BORDER-LEFT-COLOR: #660000; PADDING-BOTTOM: 5px; COLOR: #666; BORDER-TOP-COLOR: #660000; BORDER-BOTTOM: #660000 1px solid; FONT-FAMILY: 'Trebuchet MS', Trebuchet, Verdana, sans-serif; TEXT-ALIGN: right; BORDER-RIGHT-COLOR: #660000
}
BODY {
	FONT-WEIGHT: normal; FONT-SIZE: 14px; BORDER-LEFT-COLOR: #666; BORDER-BOTTOM-COLOR: #666; COLOR: #666; BORDER-TOP-COLOR: #666; LINE-HEIGHT: 1.4em; FONT-STYLE: normal; FONT-FAMILY: 'Trebuchet MS', Trebuchet, Verdana, sans-serif; LETTER-SPACING: 0px; TEXT-ALIGN: justify; TEXT-DECORATION: none; BORDER-RIGHT-COLOR: #666
}
.journal-filter-header H2 {
	FONT-WEIGHT: normal; FONT-SIZE: 14px; BORDER-LEFT-COLOR: #666; BORDER-BOTTOM-COLOR: #666; COLOR: #666; BORDER-TOP-COLOR: #666; LINE-HEIGHT: 1.4em; FONT-STYLE: normal; FONT-FAMILY: 'Trebuchet MS', Trebuchet, Verdana, sans-serif; LETTER-SPACING: 0px; TEXT-ALIGN: justify; TEXT-DECORATION: none; BORDER-RIGHT-COLOR: #666
}
.sectionWrapper {
	PADDING-LEFT: 25px; FONT-SIZE: 11px; BORDER-LEFT-COLOR: #666; BORDER-BOTTOM-COLOR: #666; PADDING-BOTTOM: 5px; BORDER-TOP-COLOR: #666; PADDING-TOP: 10px; FONT-FAMILY: Tahoma, Arial, Helvetica, Geneva, sans-serif; TEXT-ALIGN: justify; BORDER-RIGHT-COLOR: #666
}
H1 {
	MARGIN-TOP: 15px; FONT-WEIGHT: normal; FONT-SIZE: 18px; TEXT-TRANSFORM: uppercase; COLOR: #660000; FONT-FAMILY: 'Trebuchet MS', Trebuchet, Verdana, sans-serif; LETTER-SPACING: 5px; TEXT-DECORATION: none
}
H1 A:hover {
	MARGIN-TOP: 15px; FONT-WEIGHT: normal; FONT-SIZE: 18px; TEXT-TRANSFORM: uppercase; COLOR: #660000; FONT-FAMILY: 'Trebuchet MS', Trebuchet, Verdana, sans-serif; LETTER-SPACING: 5px; TEXT-DECORATION: none
}
H1 A:visited {
	MARGIN-TOP: 15px; FONT-WEIGHT: normal; FONT-SIZE: 18px; TEXT-TRANSFORM: uppercase; COLOR: #660000; FONT-FAMILY: 'Trebuchet MS', Trebuchet, Verdana, sans-serif; LETTER-SPACING: 5px; TEXT-DECORATION: none
}
H1 A:link {
	MARGIN-TOP: 15px; FONT-WEIGHT: normal; FONT-SIZE: 18px; TEXT-TRANSFORM: uppercase; COLOR: #660000; FONT-FAMILY: 'Trebuchet MS', Trebuchet, Verdana, sans-serif; LETTER-SPACING: 5px; TEXT-DECORATION: none
}
H1 A:active {
	MARGIN-TOP: 15px; FONT-WEIGHT: normal; FONT-SIZE: 18px; TEXT-TRANSFORM: uppercase; COLOR: #660000; FONT-FAMILY: 'Trebuchet MS', Trebuchet, Verdana, sans-serif; LETTER-SPACING: 5px; TEXT-DECORATION: none
}
A:link {
	FONT-WEIGHT: bold; COLOR: #660000; TEXT-DECORATION: none
}
A:visited {
	FONT-WEIGHT: bold; COLOR: #660000; TEXT-DECORATION: none
}
A:hover {
	FONT-WEIGHT: bold; COLOR: #660000; BACKGROUND-COLOR: #ecf0d7; TEXT-DECORATION: none
}
#pageFooterWrapper {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-SIZE: x-small; PADDING-BOTTOM: 3px; TEXT-TRANSFORM: uppercase; PADDING-TOP: 3px; BACKGROUND-REPEAT: repeat-y; FONT-FAMILY: 'Trebuchet MS', Trebuchet, Verdana, sans-serif; BACKGROUND-COLOR: #f0f0f0; TEXT-ALIGN: left
}
H2 {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #525252; FONT-FAMILY: 'Trebuchet MS', Trebuchet, Verdana, sans-serif; BACKGROUND-COLOR: transparent; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.h2 {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #525252; FONT-FAMILY: 'Trebuchet MS', Trebuchet, Verdana, sans-serif; BACKGROUND-COLOR: transparent; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.archives {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #525252; FONT-FAMILY: 'Trebuchet MS', Trebuchet, Verdana, sans-serif; BACKGROUND-COLOR: transparent; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.caption {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #525252; FONT-FAMILY: 'Trebuchet MS', Trebuchet, Verdana, sans-serif; BACKGROUND-COLOR: transparent; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.journal-entry .title A {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #525252; FONT-FAMILY: 'Trebuchet MS', Trebuchet, Verdana, sans-serif; BACKGROUND-COLOR: transparent; TEXT-ALIGN: left; TEXT-DECORATION: none
}
H3 {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; TEXT-TRANSFORM: none; COLOR: #666; FONT-FAMILY: 'Trebuchet MS', Trebuchet, Verdana, sans-serif; LETTER-SPACING: normal
}
.h3subtitle {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; TEXT-TRANSFORM: none; COLOR: #666; FONT-FAMILY: 'Trebuchet MS', Trebuchet, Verdana, sans-serif; LETTER-SPACING: normal
}
.h1subtitle {
	FONT-SIZE: 9px; TEXT-TRANSFORM: uppercase; COLOR: #660000; PADDING-TOP: 5px; FONT-FAMILY: 'Trebuchet MS', Trebuchet, Verdana, sans-serif; LETTER-SPACING: 2px
}
#pageHeader {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; TEXT-TRANSFORM: uppercase; FONT-FAMILY: 'Trebuchet MS', Trebuchet, Verdana, sans-serif; LETTER-SPACING: 3px
}
#sidebar A:link {
	FONT-WEIGHT: bold; COLOR: #660000; LINE-HEIGHT: 1.5em
}
#sidebar A:visited {
	FONT-WEIGHT: bold; COLOR: #660000; LINE-HEIGHT: 1.5em
}
#sidebar A:hover {
	FONT-WEIGHT: bold; COLOR: #660000; LINE-HEIGHT: 1.5em; FONT-STYLE: normal; BACKGROUND-COLOR: #ecf0d7
}
.continue {
	FONT-WEIGHT: bold; COLOR: #660000; LINE-HEIGHT: 1.5em; FONT-STYLE: normal; BACKGROUND-COLOR: #ecf0d7
}
.h2subtitle {
	FONT-SIZE: 10px; PADDING-BOTTOM: 5px; COLOR: #666; FONT-FAMILY: 'Trebuchet MS', Trebuchet, Verdana, sans-serif
}
.gallery-navigation {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; LINE-HEIGHT: normal; PADDING-TOP: 0px
}
.journal-archive-set H3 {
	FONT-SIZE: 11px; FONT-FAMILY: 'Trebuchet MS', Trebuchet, Verdana, sans-serif
}
.journal-archive-set .h3subtitle {
	FONT-SIZE: 11px; FONT-FAMILY: 'Trebuchet MS', Trebuchet, Verdana, sans-serif
}
.journal-navigation {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; TEXT-ALIGN: center
}
.picture-full {
	BORDER-RIGHT: #660000 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #660000 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #660000 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #660000 1px solid
}
.comment {
	MARGIN-TOP: 5px; BORDER-LEFT-COLOR: #660000; PADDING-BOTTOM: 5px; BORDER-TOP-COLOR: #660000; BORDER-BOTTOM: #660000 1px solid; BORDER-RIGHT-COLOR: #660000
}
.flatcomment {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-COLOR: #660000; PADDING-BOTTOM: 15px; BORDER-TOP-COLOR: #660000; PADDING-TOP: 15px; BORDER-BOTTOM: #660000 1px solid; TEXT-ALIGN: right; BORDER-RIGHT-COLOR: #660000
}
.journal-filter-header {
	BORDER-LEFT-COLOR: #660000; MARGIN-BOTTOM: 15px; PADDING-BOTTOM: 10px; BORDER-TOP-COLOR: #660000; BORDER-BOTTOM: #660000 1px solid; BORDER-RIGHT-COLOR: #660000
}
.section .content-navigation {
	MARGIN-BOTTOM: 5px
}
.section .content-passthrough {
	MARGIN-BOTTOM: 5px
}
.section .module {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.section .module .folder .module {
	PADDING-LEFT: 12px
}
BODY {
	BACKGROUND: url(/layout/images/balancedots.) #cccc99 left top; TEXT-ALIGN: center
}
TEXTAREA {
	WIDTH: 425px
}
#canvas {
	PADDING-RIGHT: 25px; PADDING-LEFT: 25px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; TEXT-ALIGN: justify
}
#canvasWrapper {
	PADDING-RIGHT: 25px; PADDING-LEFT: 25px; BACKGROUND: #fff; PADDING-BOTTOM: 25px; MARGIN: 25px auto; WIDTH: 675px; PADDING-TOP: 25px
}
#content {
	MIN-HEIGHT: 500px; MARGIN-BOTTOM: 20px; OVERFLOW: hidden; WIDTH: 425px
}
#contentWrapper {
	FLOAT: left; WIDTH: 425px
}
.journal-comment-area {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; MARGIN: 0px; BORDER-RIGHT-WIDTH: 0px
}
#pageBodyWrapper {
	MARGIN-TOP: 20px
}
#pageFooterWrapper {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; HEIGHT: 1%
}
#pageHeader {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; MIN-HEIGHT: 70px; BACKGROUND: url(/layout/images/balance.) no-repeat right top; PADDING-BOTTOM: 5px; VERTICAL-ALIGN: middle; PADDING-TOP: 5px
}
#pageHeaderWrapper {
	BORDER-BOTTOM: #754c24 1px solid
}
.section .content-navigation {
	LIST-STYLE-TYPE: none
}
.section .content-passthrough {
	LIST-STYLE-TYPE: none
}
.section .module .folder {
	LIST-STYLE-TYPE: none
}
.section .module .folder .module {
	LIST-STYLE-TYPE: none
}
#sidebar {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; OVERFLOW: hidden; PADDING-TOP: 0px
}
#sidebarWrapper {
	FLOAT: right; WIDTH: 175px
}
.flatcomment {
	CLEAR: both
}

@media Screen    
{
#siteNoticeArea {
	
}
#siteNoticeAreaWrapper {
	FONT-SIZE: 9px! important; Z-INDEX: 100; BACKGROUND: url(/layout/managementSystems/gray/bar-plain.png) repeat-x left bottom; LEFT: 0px; TEXT-TRANSFORM: none! important; WIDTH: 100%; COLOR: #f2f2f2! important; LINE-HEIGHT: 11px! important; FONT-FAMILY: Tahoma, Arial, Helvetica, Geneva, sans-serif! important; LETTER-SPACING: normal! important; POSITION: fixed; TOP: 0px; TEXT-ALIGN: left! important; TEXT-DECORATION: none! important
}
#siteMemberNoticeAreaWrapper {
	FONT-SIZE: 9px! important; Z-INDEX: 100; RIGHT: 0px; BACKGROUND: url(/layout/managementSystems/gray/bar-left-end.png) no-repeat left bottom; TEXT-TRANSFORM: none! important; COLOR: #f2f2f2! important; LINE-HEIGHT: 11px! important; FONT-FAMILY: Tahoma, Arial, Helvetica, Geneva, sans-serif! important; LETTER-SPACING: normal! important; POSITION: fixed; TOP: 0px; TEXT-ALIGN: left! important; TEXT-DECORATION: none! important; min-width: 300px
}
#noticeAreaLogin A {
	PADDING-RIGHT: 11px; DISPLAY: block; PADDING-LEFT: 46px; BACKGROUND: url(/layout/managementSystems/gray/website-manager.png) no-repeat 2px 1px; FLOAT: left; PADDING-BOTTOM: 11px; MARGIN-LEFT: 4px; PADDING-TOP: 8px
}
#noticeAreaLogin A:hover {
	PADDING-RIGHT: 11px; DISPLAY: block; PADDING-LEFT: 46px; BACKGROUND: url(/layout/managementSystems/gray/website-manager.png) no-repeat 2px -37px; FLOAT: left; PADDING-BOTTOM: 11px; MARGIN-LEFT: 4px; PADDING-TOP: 8px
}
#noticeAreaProfileSection {
	PADDING-RIGHT: 11px; PADDING-LEFT: 46px; BACKGROUND: url(/layout/managementSystems/gray/user.png) no-repeat 2px 1px; FLOAT: left; PADDING-BOTTOM: 11px; MARGIN-LEFT: 4px; PADDING-TOP: 8px
}
#noticeAreaContentSubscribed {
	PADDING-RIGHT: 11px; PADDING-LEFT: 46px; BACKGROUND: url(/layout/managementSystems/gray/subscription-on.png) no-repeat 2px 1px; FLOAT: left; PADDING-BOTTOM: 11px; MARGIN-LEFT: 4px; PADDING-TOP: 8px
}
#noticeAreaContentUnSubscribed {
	PADDING-RIGHT: 11px; PADDING-LEFT: 46px; BACKGROUND: url(/layout/managementSystems/gray/subscription-off.png) no-repeat 2px 1px; FLOAT: left; PADDING-BOTTOM: 11px; MARGIN-LEFT: 4px; PADDING-TOP: 8px
}
.noticeAreaWarning A {
	PADDING-RIGHT: 11px; DISPLAY: block; PADDING-LEFT: 46px; BACKGROUND: url(/layout/managementSystems/gray/warning.png) no-repeat 2px 1px; FLOAT: right; PADDING-BOTTOM: 11px; MARGIN-LEFT: 4px; PADDING-TOP: 8px
}
.noticeAreaWarning A:hover {
	PADDING-RIGHT: 11px; DISPLAY: block; PADDING-LEFT: 46px; BACKGROUND: url(/layout/managementSystems/gray/warning.png) no-repeat 2px -37px; FLOAT: right; PADDING-BOTTOM: 11px; MARGIN-LEFT: 4px; PADDING-TOP: 8px
}
#siteNoticeAreaLogo {
	DISPLAY: inline; BACKGROUND: url(/universal/images/manager/squarespace-logo.png) no-repeat 0px 0px; FLOAT: right; WIDTH: 160px; CURSOR: pointer; HEIGHT: 38px
}
.adminSegment {
	DISPLAY: block; FONT-SIZE: 10px; PADDING-BOTTOM: 3px; LINE-HEIGHT: 20px; PADDING-TOP: 3px; FONT-FAMILY: Tahoma; TEXT-ALIGN: right
}
.adminSegmentBoxIcon {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; BACKGROUND: url(/layout/managementSystems/gray/admin-ss.png) no-repeat 3px 8px; FLOAT: left; LINE-HEIGHT: 20px
}
.adminSegmentBoxBegin {
	PADDING-RIGHT: 3px; BACKGROUND: url(/layout/managementSystems/gray/admin-left.png) no-repeat left bottom; FLOAT: left; LINE-HEIGHT: 20px
}
.adminSegmentBoxContent {
	BACKGROUND: url(/layout/managementSystems/gray/admin-middle.png) repeat-x left bottom; FLOAT: left; COLOR: white; LINE-HEIGHT: 20px
}
.adminSegmentBoxEnd {
	PADDING-LEFT: 3px; BACKGROUND: url(/layout/managementSystems/gray/admin-right.png) no-repeat right bottom; FLOAT: left; LINE-HEIGHT: 20px
}
.adminSegmentBoxContent {
	BORDER-TOP-WIDTH: 0px! important; FONT-WEIGHT: normal! important; BORDER-LEFT-WIDTH: 0px! important; FONT-SIZE: 10px! important; BORDER-BOTTOM-WIDTH: 0px! important; TEXT-TRANSFORM: none! important; COLOR: #f2f2f2! important; FONT-FAMILY: Tahoma, Arial, Helvetica, Geneva, sans-serif! important; LETTER-SPACING: 0px! important; BACKGROUND-COLOR: transparent! important; BORDER-RIGHT-WIDTH: 0px! important; TEXT-DECORATION: none! important
}
.adminSegmentBoxBegin {
	BORDER-TOP-WIDTH: 0px! important; FONT-WEIGHT: normal! important; BORDER-LEFT-WIDTH: 0px! important; FONT-SIZE: 10px! important; BORDER-BOTTOM-WIDTH: 0px! important; TEXT-TRANSFORM: none! important; COLOR: #f2f2f2! important; FONT-FAMILY: Tahoma, Arial, Helvetica, Geneva, sans-serif! important; LETTER-SPACING: 0px! important; BACKGROUND-COLOR: transparent! important; BORDER-RIGHT-WIDTH: 0px! important; TEXT-DECORATION: none! important
}
.adminSegmentBoxEnd {
	BORDER-TOP-WIDTH: 0px! important; FONT-WEIGHT: normal! important; BORDER-LEFT-WIDTH: 0px! important; FONT-SIZE: 10px! important; BORDER-BOTTOM-WIDTH: 0px! important; TEXT-TRANSFORM: none! important; COLOR: #f2f2f2! important; FONT-FAMILY: Tahoma, Arial, Helvetica, Geneva, sans-serif! important; LETTER-SPACING: 0px! important; BACKGROUND-COLOR: transparent! important; BORDER-RIGHT-WIDTH: 0px! important; TEXT-DECORATION: none! important
}
.adminSegmentBoxContent A:link {
	BORDER-TOP-WIDTH: 0px! important; FONT-WEIGHT: normal! important; BORDER-LEFT-WIDTH: 0px! important; FONT-SIZE: 10px! important; BORDER-BOTTOM-WIDTH: 0px! important; TEXT-TRANSFORM: none! important; COLOR: #f2f2f2! important; FONT-FAMILY: Tahoma, Arial, Helvetica, Geneva, sans-serif! important; LETTER-SPACING: 0px! important; BACKGROUND-COLOR: transparent! important; BORDER-RIGHT-WIDTH: 0px! important; TEXT-DECORATION: none! important
}
.adminSegmentBoxContent A:visited {
	BORDER-TOP-WIDTH: 0px! important; FONT-WEIGHT: normal! important; BORDER-LEFT-WIDTH: 0px! important; FONT-SIZE: 10px! important; BORDER-BOTTOM-WIDTH: 0px! important; TEXT-TRANSFORM: none! important; COLOR: #f2f2f2! important; FONT-FAMILY: Tahoma, Arial, Helvetica, Geneva, sans-serif! important; LETTER-SPACING: 0px! important; BACKGROUND-COLOR: transparent! important; BORDER-RIGHT-WIDTH: 0px! important; TEXT-DECORATION: none! important
}
.adminSegmentBoxContent A:active {
	BORDER-TOP-WIDTH: 0px! important; FONT-WEIGHT: normal! important; BORDER-LEFT-WIDTH: 0px! important; FONT-SIZE: 10px! important; BORDER-BOTTOM-WIDTH: 0px! important; TEXT-TRANSFORM: none! important; COLOR: #f2f2f2! important; FONT-FAMILY: Tahoma, Arial, Helvetica, Geneva, sans-serif! important; LETTER-SPACING: 0px! important; BACKGROUND-COLOR: transparent! important; BORDER-RIGHT-WIDTH: 0px! important; TEXT-DECORATION: none! important
}
.adminSegmentBoxContent A:hover {
	BORDER-TOP-WIDTH: 0px! important; FONT-WEIGHT: normal! important; BORDER-LEFT-WIDTH: 0px! important; FONT-SIZE: 10px! important; BORDER-BOTTOM-WIDTH: 0px! important; TEXT-TRANSFORM: none! important; COLOR: white! important; FONT-FAMILY: Tahoma, Arial, Helvetica, Geneva, sans-serif! important; LETTER-SPACING: 0px! important; BACKGROUND-COLOR: transparent! important; BORDER-RIGHT-WIDTH: 0px! important; TEXT-DECORATION: none! important
}
#siteNoticeArea A:link {
	BORDER-TOP-WIDTH: 0px! important; FONT-WEIGHT: normal! important; BORDER-LEFT-WIDTH: 0px! important; FONT-SIZE: 10px! important; BORDER-BOTTOM-WIDTH: 0px! important; TEXT-TRANSFORM: none! important; COLOR: #f2f2f2! important; FONT-FAMILY: Tahoma, Arial, Helvetica, Geneva, sans-serif! important; LETTER-SPACING: 0px! important; BACKGROUND-COLOR: transparent! important; BORDER-RIGHT-WIDTH: 0px! important; TEXT-DECORATION: none! important
}
#siteNoticeArea A:visited {
	BORDER-TOP-WIDTH: 0px! important; FONT-WEIGHT: normal! important; BORDER-LEFT-WIDTH: 0px! important; FONT-SIZE: 10px! important; BORDER-BOTTOM-WIDTH: 0px! important; TEXT-TRANSFORM: none! important; COLOR: #f2f2f2! important; FONT-FAMILY: Tahoma, Arial, Helvetica, Geneva, sans-serif! important; LETTER-SPACING: 0px! important; BACKGROUND-COLOR: transparent! important; BORDER-RIGHT-WIDTH: 0px! important; TEXT-DECORATION: none! important
}
#siteNoticeArea A:active {
	BORDER-TOP-WIDTH: 0px! important; FONT-WEIGHT: normal! important; BORDER-LEFT-WIDTH: 0px! important; FONT-SIZE: 10px! important; BORDER-BOTTOM-WIDTH: 0px! important; TEXT-TRANSFORM: none! important; COLOR: #f2f2f2! important; FONT-FAMILY: Tahoma, Arial, Helvetica, Geneva, sans-serif! important; LETTER-SPACING: 0px! important; BACKGROUND-COLOR: transparent! important; BORDER-RIGHT-WIDTH: 0px! important; TEXT-DECORATION: none! important
}
#siteMemberNoticeArea A:link {
	BORDER-TOP-WIDTH: 0px! important; FONT-WEIGHT: normal! important; BORDER-LEFT-WIDTH: 0px! important; FONT-SIZE: 10px! important; BORDER-BOTTOM-WIDTH: 0px! important; TEXT-TRANSFORM: none! important; COLOR: #f2f2f2! important; FONT-FAMILY: Tahoma, Arial, Helvetica, Geneva, sans-serif! important; LETTER-SPACING: 0px! important; BACKGROUND-COLOR: transparent! important; BORDER-RIGHT-WIDTH: 0px! important; TEXT-DECORATION: none! important
}
#siteMemberNoticeArea A:visited {
	BORDER-TOP-WIDTH: 0px! important; FONT-WEIGHT: normal! important; BORDER-LEFT-WIDTH: 0px! important; FONT-SIZE: 10px! important; BORDER-BOTTOM-WIDTH: 0px! important; TEXT-TRANSFORM: none! important; COLOR: #f2f2f2! important; FONT-FAMILY: Tahoma, Arial, Helvetica, Geneva, sans-serif! important; LETTER-SPACING: 0px! important; BACKGROUND-COLOR: transparent! important; BORDER-RIGHT-WIDTH: 0px! important; TEXT-DECORATION: none! important
}
#siteMemberNoticeArea A:active {
	BORDER-TOP-WIDTH: 0px! important; FONT-WEIGHT: normal! important; BORDER-LEFT-WIDTH: 0px! important; FONT-SIZE: 10px! important; BORDER-BOTTOM-WIDTH: 0px! important; TEXT-TRANSFORM: none! important; COLOR: #f2f2f2! important; FONT-FAMILY: Tahoma, Arial, Helvetica, Geneva, sans-serif! important; LETTER-SPACING: 0px! important; BACKGROUND-COLOR: transparent! important; BORDER-RIGHT-WIDTH: 0px! important; TEXT-DECORATION: none! important
}
#siteNoticeArea A:hover {
	BORDER-TOP-WIDTH: 0px! important; FONT-WEIGHT: normal! important; BORDER-LEFT-WIDTH: 0px! important; FONT-SIZE: 10px! important; BORDER-BOTTOM-WIDTH: 0px! important; TEXT-TRANSFORM: none! important; COLOR: white! important; FONT-FAMILY: Tahoma, Arial, Helvetica, Geneva, sans-serif! important; LETTER-SPACING: 0px! important; BACKGROUND-COLOR: transparent! important; BORDER-RIGHT-WIDTH: 0px! important; TEXT-DECORATION: none! important
}
#siteMemberNoticeArea A:hover {
	BORDER-TOP-WIDTH: 0px! important; FONT-WEIGHT: normal! important; BORDER-LEFT-WIDTH: 0px! important; FONT-SIZE: 10px! important; BORDER-BOTTOM-WIDTH: 0px! important; TEXT-TRANSFORM: none! important; COLOR: white! important; FONT-FAMILY: Tahoma, Arial, Helvetica, Geneva, sans-serif! important; LETTER-SPACING: 0px! important; BACKGROUND-COLOR: transparent! important; BORDER-RIGHT-WIDTH: 0px! important; TEXT-DECORATION: none! important
}

}
