/*----------------------------------
		Theme404_Business7
		Cat Business and Legal
----------------------------------*/

body {
	margin: 30px 0 20px 0;
	font-size: 12px ;
	font-family: Arial, Verdana, Helvetica, sans-serif;
}

.sf_outer_wrapper {
	
}

.sf_extra1 {
	
}

.sf_wrapper {
	width: 770px;
	background-repeat: repeat-y;
	margin: 0 auto;
}

/*--------------------------------
		Top Navigation
---------------------------------*/

.sf_navigation_top {
	display: none;
}

.sf_navigation_top ul{
	
}

.sf_navigation_top ul:after{
	
}


.sf_navigation_top ul li {
	
}

.sf_navigation_top ul li.sf_last_nav_item{
	
}

.sf_navigation_top ul li.sf_first_nav_item{

}

.sf_navigation_top ul li a {
}

.sf_navigation_top ul li a:visited {
	
	
}

.sf_navigation_top ul li a:hover{
}

/*--------------------------------
		End Top Navigation
---------------------------------*/



.sf_extra10 {
	
}



/*--------------------------------
		Header
---------------------------------*/

.sf_header_wrapper {
	width: 770px;
	height: 130px;
}

.sf_extra2 {
	sf_edit: true;
}

.sf_main_header {
	sf_edit: true;
	font-size: 20px;
	margin-left: 20px;
	font-weight: bold;
	padding-top: 30px;
	height: 50px;
}

.sf_extra3 {
	sf_edit: true;
}

.sf_sub_header {
	sf_edit: true;
	font-size: 14px;
	margin-left: 20px;	
}

.sf_main_header p, .sf_sub_header p {
	margin: 0;
	padding: 0;
}

/*--------------------------
		End Header
--------------------------*/



.sf_extra4 {
}



/*--------------------------------
		Bottom Navigation
---------------------------------*/

.sf_navigation{
	float: right;
	display: inline;
	width: 200px;
}

.sf_navigation ul{
	height: auto !important;
	list-style-type: none;
	margin: 0;
	padding: 0 0 0 8px;
}

.sf_navigation ul:after{
	content: ".";
    display: block;
    visibility: hidden;
    height: 0;
    font-size: 1px;
    clear: both;
}

.sf_navigation ul li {

}

.sf_navigation ul li.sf_last_nav_item{
}

.sf_navigation ul li.sf_first_nav_item{

}

.sf_navigation ul li a {
	text-decoration: none;
	background-repeat: no-repeat;
	background-position: left;
	padding: 5px 0 5px 15px;
	font-weight: bold;
	display: block;
	height: auto !important;
}

.sf_navigation ul li a:visited {

}

.sf_navigation ul li a:hover{
	color
}
/*------------------------------------
	Flyout - right Aligned Menu
------------------------------------*/
#Nav1 iframe {
	position: absolute;
	/* account for the border */
	left: -0.25em;
	top: -0.25em;
	z-index: 0;
	filter: progid:DXImageTransform.Microsoft.Alpha(style=0,opacity=0);
	margin-left: 3px;
}
.sf_subnavigation, .sf_subnavigation2 {
	display:none;
}
#Nav1 li:hover, #Nav1 li.hover {  
    position: static;  
} 

#Nav1 li { /* all list items */

}
#Nav1 li ul { 
	position:absolute;
	left: -999em;
	margin:-25px 0 0 -95px;
	padding:0px;
	width:100px;
	background:#4c4c4c;
	z-index:1000;
}
#Nav1 li ul li {
	margin:0;
	padding:0px;
}
#Nav1 li ul li a {
	display: block;
	padding:10px;
	width:90px;
	background:#f1f1f1;
}
#Nav1 li ul li a:hover {
	background:#ffffff;
}

#Nav1 li:hover ul, 
#Nav1 li.sfhover ul { 
	left: auto;
}
/*--------------------------------
		End Bottom Navigation
---------------------------------*/



.sf_extra5 {
}



/*--------------------------------
		 	Page Title
---------------------------------*/

.sf_pagetitle {
	sf_edit: true;
	width: 540px;
	padding: 6px;
	margin-left: 13px;
	font-size: 18px;
	font-weight: bold;
	height: auto !important;
}

.sf_pagetitle h1 {
	font-size:18px;
	font-weight:bold;
	margin:0;
}

/*--------------------------------
		 End Page Title
---------------------------------*/



.sf_extra6 {
}



/*--------------------------------
		 Sub Navigation
---------------------------------*/

.sf_subnavigation {
	display: none;
}

.sf_subnavigation ul{
	
}

.sf_subnavigation ul:after{
	
}

.sf_subnavigation ul li {
	
}

.sf_subnavigation ul li.sf_last_nav_item{

}

.sf_subnavigation ul li.sf_first_nav_item{

}

.sf_subnavigation ul li a {
	
}

.sf_subnavigation ul li a:visited {
	
}

.sf_subnavigation ul li a:hover{
	
}

/*--------------------------------
		 End Sub Navigation
---------------------------------*/

.sf_extra11 {

}
	
/*--------------------------
		Content
--------------------------*/

.sf_content {
	float: left;
	display:inline;
	sf_edit: true;
	width: 550px;
	margin-left: 10px;
}

.sf_content img {
	
}

/*--------------------------
		End Content
--------------------------*/



.sf_extra12 {
	sf_edit: true;
}



/*--------------------------------
		 Sub Navigation2
---------------------------------*/

.sf_subnavigation2 {
	display: none;
}

.sf_subnavigation2 ul{
	
}

.sf_subnavigation2 ul:after{
	
}

.sf_subnavigation2 ul li {
	
}

.sf_subnavigation2 ul li.sf_last_nav_item{

}

.sf_subnavigation2 ul li.sf_first_nav_item{

}

.sf_subnavigation2 ul li a {
	
}

.sf_subnavigation2 ul li a:visited {
	
}

.sf_subnavigation2 ul li a:hover{
	
}

/*--------------------------------
		 End Sub Navigation2
---------------------------------*/



.sf_extra7 {
}

.sf_extra7 span{
	
}



/*--------------------------
		 Footer
--------------------------*/

.sf_footer {
	sf_edit: true;	
	clear: both;
	text-align: right;
	width: 770px;
}

/*--------------------------
		End Footer
--------------------------*/


.sf_extra8 {
	
}

.sf_extra9 {
	
}


/*--------------------------
		Extra Stuff
--------------------------*/


a:link {
	text-decoration: underline;
}

a:visited {
	
}

a:hover {
	text-decoration: none;
}

.sf_banner {
	margin: 40px auto 0 auto;
	text-align: center;
}
/**
 * Sticking flyout menu bug
 *
 * @bugfix
 * @affected ie7
 * @css-for ie7
 * @valid yes
 */
#Nav1 li:hover, #Nav1 li.hover {  
    position: static;  
} 
