.calendardate
{
    COLOR: #ffffff;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 10px;
    LINE-HEIGHT: normal
}
.heading
{
    COLOR: #993300;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 14px;
    FONT-WEIGHT: bold;
    LINE-HEIGHT: 17px
}
.calendardateGold
{
    COLOR: #999966;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 10px;
    LINE-HEIGHT: normal
}
.bodycopy
{
    COLOR: #006600;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 11px;
    LINE-HEIGHT: 13px
}
.bodycopyBold
{
    COLOR: #006600;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    FONT-SIZE: 11px;
    FONT-WEIGHT: bolder;
    LINE-HEIGHT: 13px
}
