.whiteText
{
    FONT-SIZE: 11px;
    COLOR: #ffffff;
    LINE-HEIGHT: 13px;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
.whiteTextBold
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    COLOR: #ffffff;
    LINE-HEIGHT: 13px;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
.blackText
{
    FONT-SIZE: 11px;
    COLOR: #000000;
    LINE-HEIGHT: 13px;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
.blackTextBold
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    COLOR: #000000;
    LINE-HEIGHT: 13px;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
.headings
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 14px;
    COLOR: #f0027f;
    LINE-HEIGHT: 16px;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
