#wrapper #content #main .block {
	width:900px;
	position:relative;
	margin:auto;
	float:right;
	/*border:1px solid black;*/
}
#wrapper #content #main .block #scrollbar-demo {
	width:900px;
	height:462px;
	position:relative;
	padding:0 10px 0 10px;
	text-align:justify;
	overflow:auto;

	/*z-index:-1;*/
}
#wrapper #content #main .block #scrollbar-demo p {
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	color:#e6ddcc;
}

.scrollBar .bar{
	width:14px;
	height:26px;
}

.scrollBar .button{
	width:14px;
	height:24px;
	background-color:#FFB119;
	outline:none;
	background-position:top center;
	background-repeat:no-repeat;
	cursor:pointer;
}

.scrollBar .button.topButton{
	background-image:url('arrow-up2.gif');
}

.scrollBar .button.bottomButton{
	background-image:url('arrow-down2.gif');
}

.scrollBar .button.active{
	background-position:bottom center ;
}

.scrollBar .scrollable{
	cursor:pointer;
	background-color:#620c19;
}

.scrollBar .knob{
	height:20px;
}

.scrollBar .knob.verticalKnob{
	cursor:pointer;
}

.scrollBar .knob.horizontalKnob{
	cursor:pointer;
}

.scrollBar .knobVerticalTip{
	height:12px;
	background-position:top center;
	background-repeat:no-repeat;
}

.scrollBar .knobVerticalFill{
	background-color:#e6ddcc;
	background-position:left center;
	/*background-repeat:repeat-y;
	background-image:url('vertical-knob.gif');*/
	position:absolute;
	bottom:12px;
	top:12px;
}

.scrollBar .knob.active{
	border:none;
}

.scrollBar .corner{
	background:#FFB119 url('corner.gif') center center no-repeat;
}
