BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND-IMAGE: url(index01.gif); PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
BODY {
	FONT-SIZE: 9px; COLOR: #acacac; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif
}
TH {
	FONT-SIZE: 9px; COLOR: #acacac; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif
}
TD {
	FONT-SIZE: 9px; COLOR: #acacac; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.input1 {
	
}
.align-justify {
	TEXT-ALIGN: justify
}
.text1 {
	COLOR: #ffffff
}
.text2 {
	COLOR: #595959
}
A {
	COLOR: #8ea0c1
}
A:hover {
	TEXT-DECORATION: none
}
A.link1 {
	COLOR: #acacac
}
.style1 {
	
}
.style1 A {
	
}
.style1 A:hover {
	
}
