div.bf_form_secureform {
	border: 2px solid green;
	margin: 0px auto;
	width: 600px;
	padding: 10px;
	margin-bottom: 10px;
	display: none;
}

div.bf_form_secureform span {
	color: green;
	font-weight: bolder;
	font-size: 17px;
	display: none;
}

#user_box button {
	font-size: 1.05em;
	margin-left: 3px;
	border: 1px;
}

button.bfbutton {
	border: 1px #ccc solid;
}

button img,.icon {
	border: 0px none;
	margin-right: 3px;
	vertical-align: -3px;
}

button {
	cursor: pointer;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	font-weight: bold;
	padding: 0.1em 0.2em;
}

#user_box {
	color: #FFFFFF;
	text-align: right;
}

#user_box button {
	font-size: 1.05em;
}

#user_box button img {
	vertical-align: -3px;
}

.required {
	color: red;
	font-weight: bold;
	margin-left: 5px;
	font-size: 20px;
}

.failvalidation input,.failvalidation textarea,.failvalidation select {
	background-color: #FF6E6E;
}

.failvalidation span,.failvalidation label {
	font-weight: bold;
	color: red;
}

.passvalidation input,.passvalidation textarea,.passvalidation select {
	background-color: #d2ffd2;
}

div#bf_failvalidation_messages p {
	text-align: center;
	color: red;
	font-weight: bold;
}

div#bf_failvalidation_messages h1 {
	text-align: center;
	color: red;
	font-weight: bolder;
}

div#bf_failvalidation_messages {
	width: 99%;
	border: 2px dashed red;
	margin: 0 auto;
	padding: 5px;
}

.pstrength-minchar {
	font-size: 10px;
}