BODY {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 10pt; PADDING-TOP: 0px
}
#page_wrapper {
	TEXT-ALIGN: center; WIDTH: 100%
}
#masthead {
	BACKGROUND-IMAGE: url(images/main_header_bc_seal.jpg); TEXT-ALIGN: center; WIDTH: 100%; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center 50%; PADDING-TOP: 20px
}
#news_scroller {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; MARGIN-BOTTOM: 0px; HEIGHT: 20px; OVERFLOW: hidden
}
#top_nav {
	BACKGROUND-IMAGE: url(images/main_top_nav_bg.jpg); TEXT-ALIGN: center; PADDING-BOTTOM: 0px; MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; HEIGHT: 24px; PADDING-TOP: 0px
}
#page_banner {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; WIDTH: 100%; MARGIN-BOTTOM: 0px; HEIGHT: 207px
}
#container {
	TEXT-ALIGN: center; MARGIN: 0px auto; WIDTH: 824px; PADDING-TOP: 0px
}
#admin_container {
	TEXT-ALIGN: center; MARGIN: 0px auto; WIDTH: 866px; PADDING-TOP: 0px
}
#page_container {
	TEXT-ALIGN: left
}
#left_col {
	TEXT-ALIGN: left; PADDING-BOTTOM: 30px; MARGIN-TOP: 0px; PADDING-LEFT: 0px; WIDTH: 156px; FLOAT: left; PADDING-TOP: 0px
}
#right_col {
	TEXT-ALIGN: left; WIDTH: 248px; PADDING-RIGHT: 7px; FLOAT: right; VERTICAL-ALIGN: top; PADDING-TOP: 15px
}
#center_content {
	TEXT-ALIGN: left; MARGIN-LEFT: 165px; MARGIN-RIGHT: 257px
}
#page_content {
	TEXT-ALIGN: left; MARGIN-LEFT: 165px; VERTICAL-ALIGN: top; MARGIN-RIGHT: 273px; PADDING-TOP: 15px
}
#page_footer {
	BACKGROUND-IMAGE: url(images/main_footer_bg.jpg); TEXT-ALIGN: center; LINE-HEIGHT: 24px; WIDTH: 100%; FONT-FAMILY: Arial, Helvetica, sans-serif; LETTER-SPACING: 1pt; HEIGHT: 24px; COLOR: white; CLEAR: both; FONT-SIZE: 7pt; VERTICAL-ALIGN: middle; FONT-WEIGHT: lighter; WORD-SPACING: 1pt
}
#adm_right_col {
	TEXT-ALIGN: left; WIDTH: 271px; FLOAT: right; VERTICAL-ALIGN: top
}
#adm_left_col {
	TEXT-ALIGN: left; PADDING-BOTTOM: 0px; MARGIN-TOP: 0px; PADDING-LEFT: 0px; WIDTH: 170px; FLOAT: left; HEIGHT: 260px; VERTICAL-ALIGN: top; PADDING-TOP: 0px
}
#adm_page_content {
	TEXT-ALIGN: left; MARGIN-LEFT: 150px; VERTICAL-ALIGN: top; MARGIN-RIGHT: 281px; PADDING-TOP: 15px
}
UL.FirstLevelUL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
LI.FirstLevelLI {
	BACKGROUND-IMAGE: url(images/main_left_nav_bullet.jpg); LINE-HEIGHT: 1.5em; LIST-STYLE-TYPE: none; PADDING-LEFT: 15px; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-POSITION: 0px 0.33em; MARGIN-BOTTOM: 5px; FONT-SIZE: 8pt; FONT-WEIGHT: bold
}
LI.FirstLevelLI A {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #c90030; FONT-SIZE: 8pt; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
UL.SecondLevelUL {
	PADDING-BOTTOM: 0px; MARGIN: 2px 0px 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
LI.SecondLevelLI {
	BACKGROUND-IMAGE: url(images/main_left_nav_dash.jpg); LINE-HEIGHT: 1.2em; LIST-STYLE-TYPE: none; PADDING-LEFT: 8px; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-POSITION: 0px 0.45em; FONT-SIZE: 8pt; FONT-WEIGHT: bold
}
LI.SecondLevelLI A {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #000000; FONT-SIZE: 8pt; FONT-WEIGHT: lighter; TEXT-DECORATION: none
}
.SiteMapPathRootNodeStyle {
	FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 8pt; TEXT-DECORATION: none
}
.SiteMapPathNodeStyle {
	FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 8pt; TEXT-DECORATION: none
}
.HomeWhatsNextGroupStyle {
	PADDING-BOTTOM: 0px; MARGIN-TOP: 10px; WIDTH: 252px; FONT-FAMILY: Arial, Helvetica, sans-serif; MARGIN-BOTTOM: 0px; COLOR: #f5ab30; FONT-SIZE: 8pt; FONT-WEIGHT: bold
}
.HomeWhatsNextTitleStyle {
	MARGIN-TOP: 5px; MARGIN-BOTTOM: 0px
}
.HomeWhatsNextTitleStyle A {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #c90030; FONT-SIZE: 8pt; FONT-WEIGHT: lighter
}
.HomeWhatsNextDescStyle {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: black; FONT-SIZE: 8pt; FONT-WEIGHT: lighter
}
.HomeCommonLinksStyle {
	FONT-VARIANT: small-caps; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: black; FONT-SIZE: 7pt; FONT-WEIGHT: lighter; TEXT-DECORATION: none
}
.TabContainerStyle {
	BACKGROUND-IMAGE: none; BORDER-BOTTOM: white 1px solid; BORDER-LEFT: white 1px solid; BACKGROUND-COLOR: #f5ab30; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: white; FONT-SIZE: 8pt; BORDER-TOP: white 1px solid; BORDER-RIGHT: white 1px solid
}
.TabContainerStyle SPAN {
	
}
.TabPanelStyle {
	
}
.HomeTabButtonGroup {
	WIDTH: 366px
}
.HomeTabButtonStyle {
	BORDER-BOTTOM: white 1px solid; BORDER-LEFT: white 1px solid; PADDING-BOTTOM: 2px; LINE-HEIGHT: 18px; TEXT-TRANSFORM: uppercase; BACKGROUND-COLOR: #f5ab30; PADDING-LEFT: 2px; WIDTH: auto; PADDING-RIGHT: 2px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: white; FONT-SIZE: 7pt; VERTICAL-ALIGN: middle; BORDER-TOP: white 1px solid; FONT-WEIGHT: lighter; BORDER-RIGHT: white 1px solid; TEXT-DECORATION: none; PADDING-TOP: 2px
}
.HomeTabButtonSelectedStyle {
	BORDER-BOTTOM: white 0px; BORDER-LEFT: white 0px; PADDING-BOTTOM: 2px; LINE-HEIGHT: 18px; TEXT-TRANSFORM: uppercase; BACKGROUND-COLOR: #c90030; PADDING-LEFT: 2px; WIDTH: auto; PADDING-RIGHT: 2px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: white; FONT-SIZE: 7pt; VERTICAL-ALIGN: middle; BORDER-TOP: white 0px; FONT-WEIGHT: lighter; BORDER-RIGHT: white 0px; TEXT-DECORATION: none; PADDING-TOP: 2px
}
.HomeWhatsNewTitleStyle {
	TEXT-ALIGN: left; PADDING-BOTTOM: 15px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #f5ab30; FONT-SIZE: 10pt; FONT-WEIGHT: bold
}
.HomeWhatsNewTextStyle {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: black; FONT-SIZE: 8pt; FONT-WEIGHT: lighter
}
.HomeWhatsNewDateStyle {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #c90030; FONT-SIZE: 8pt; FONT-WEIGHT: lighter
}
.HomeWhatsNewDateStyle A {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #c90030; FONT-SIZE: 8pt; FONT-WEIGHT: lighter
}
.HomeWhatsNewMoreStyle {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #c90030; FONT-SIZE: 8pt; FONT-WEIGHT: lighter
}
.HomeCampusNewsLinkStyle {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: black; FONT-SIZE: 8pt; FONT-WEIGHT: lighter
}
.TopNavStaticMenuStyle {
	
}
.TopNavStaticSelectedStyle {
	
}
.TopNavStaticMenuItemStyle {
	LINE-HEIGHT: 1.5em; FONT-FAMILY: Arial, Helvetica, sans-serif; MARGIN-BOTTOM: 0px; COLOR: #c90030; MARGIN-LEFT: 0px; FONT-SIZE: 8pt; FONT-WEIGHT: bold
}
.TopNavStaticMenuItemStyle A {
	BACKGROUND-IMAGE: none; MARGIN-LEFT: 5px
}
.TopNavStaticHoverStyle {
	
}
.TopNavStaticHoverStyle A {
	
}
.TopNavDynamicMenuStyle {
	BACKGROUND-IMAGE: url(/images/75p_white.png); Z-INDEX: 100; BORDER-BOTTOM: #f9e4b2 1px solid; BORDER-LEFT: #f9e4b2 1px solid; PADDING-BOTTOM: 0px; BACKGROUND-COLOR: transparent; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; COLOR: black; BORDER-TOP: #f9e4b2 1px solid; BORDER-RIGHT: #f9e4b2 1px solid; PADDING-TOP: 0px
}
.TopNavDynamicHoverStyle {
	BACKGROUND-IMAGE: url(/images/75p_yellow.png); BACKGROUND-COLOR: transparent; COLOR: black
}
.TopNavDynamicHoverStyle A {
	COLOR: black
}
.TopNavDynamicSelectedStyle {
	COLOR: black
}
.TopNavDynamicMenuItemStyle {
	TEXT-ALIGN: left; PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; WIDTH: 100%; PADDING-RIGHT: 2px; DISPLAY: block; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: black; FONT-SIZE: 8pt; PADDING-TOP: 2px
}
.TopNavDynamicMenuItemStyle A {
	COLOR: black
}
.TopNavLevel1Style {
	TEXT-ALIGN: left; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 24px; FONT-SIZE: 8pt; FONT-WEIGHT: 900; MARGIN-RIGHT: 10px
}
.TopNavLevel1Style TABLE {
	TEXT-ALIGN: right; WIDTH: 100%
}
.TopNavLevel1Style {
	TEXT-ALIGN: left; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 24px; FONT-SIZE: 8pt; FONT-WEIGHT: 900; MARGIN-RIGHT: 10px
}
.TopNavLevel1Style A {
	TEXT-ALIGN: left; TEXT-TRANSFORM: uppercase; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 8pt; FONT-WEIGHT: 900; MARGIN-RIGHT: 20px
}
.TopNavLevel1SelectedStyle A {
	COLOR: #eba512
}
.TopNavLevel1HoverStyle A {
	COLOR: #eba512
}
.LeftSideBorderBG {
	BACKGROUND-IMAGE: url(images/left_side_border_bg.jpg); BACKGROUND-REPEAT: repeat-x; BACKGROUND-POSITION: right 50%; HEIGHT: 7px
}
.LeftSideBG {
	BACKGROUND-IMAGE: url(images/left_side_bg.jpg); BACKGROUND-REPEAT: repeat-y; BACKGROUND-POSITION: right 50%; HEIGHT: 199px
}
.RightSideBorderBG {
	BACKGROUND-IMAGE: url(images/right_side_border_bg.jpg); BACKGROUND-REPEAT: repeat-x; BACKGROUND-POSITION: left 50%; HEIGHT: 7px
}
.RightSideBG {
	BACKGROUND-IMAGE: url(images/right_side_bg.jpg); BACKGROUND-REPEAT: repeat-y; BACKGROUND-POSITION: left 50%; HEIGHT: 199px
}
.PageSiteMapPathStyle {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; PADDING-TOP: 5px
}
.PageSiteMapPathCurrentStyle {
	TEXT-TRANSFORM: uppercase; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 9pt; FONT-WEIGHT: bolder
}
.PageWhatsNextGroupStyle {
	PADDING-BOTTOM: 0px; MARGIN-TOP: 10px; WIDTH: 252px; FONT-FAMILY: Arial, Helvetica, sans-serif; MARGIN-BOTTOM: 0px; COLOR: #f5ab30; FONT-SIZE: 8pt; FONT-WEIGHT: bold
}
.PageWhatsNextTitleStyle {
	MARGIN-TOP: 5px; MARGIN-BOTTOM: 0px
}
.PageWhatsNextTitleStyle A {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #c90030; FONT-SIZE: 8pt; FONT-WEIGHT: lighter
}
.PageWhatsNextDescStyle {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: black; MARGIN-LEFT: -5px; FONT-SIZE: 8pt; FONT-WEIGHT: lighter
}
.PageTitleStyle {
	FONT-FAMILY: Arial, Helvetica, sans-serif; MARGIN-BOTTOM: 10px; COLOR: #c90030; FONT-SIZE: 12pt; FONT-WEIGHT: 900
}
.PageTextStyle {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #000000; FONT-SIZE: 10pt; FONT-WEIGHT: normal
}
.PageErrorStyle {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #ff0000; FONT-SIZE: 10pt; FONT-WEIGHT: normal
}
.LeftNavStaticMenuStyle {
	
}
.LeftNavStaticSelectedStyle {
	
}
.LeftNavStaticMenuItemStyle {
	BACKGROUND-IMAGE: url(images/main_left_nav_bullet.jpg); LINE-HEIGHT: 1.5em; MARGIN-TOP: 5px; TEXT-INDENT: 0px; PADDING-LEFT: 0px; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-POSITION: 0px 0.33em; COLOR: #c90030; MARGIN-LEFT: 0px; FONT-SIZE: 8pt; FONT-WEIGHT: bold
}
.LeftNavStaticMenuItemStyle A {
	BACKGROUND-IMAGE: none; TEXT-INDENT: 0px; PADDING-LEFT: 15px; MARGIN-LEFT: 0px
}
.LeftNavStaticMenu2Style {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.LeftNavStaticMenuItem2Style {
	BACKGROUND-IMAGE: url(images/main_left_nav_dash.jpg); LINE-HEIGHT: 1.2em; LIST-STYLE-TYPE: none; MARGIN-TOP: 0px; TEXT-INDENT: 0px; PADDING-LEFT: 0px; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-POSITION: 0px 0.45em; MARGIN-BOTTOM: 0px; MARGIN-LEFT: 15px; FONT-SIZE: 8pt; FONT-WEIGHT: bold
}
.LeftNavStaticMenuItem2Style A {
	PADDING-LEFT: 8px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #000000; MARGIN-LEFT: 0px; FONT-SIZE: 8pt; FONT-WEIGHT: lighter; TEXT-DECORATION: none
}
.LeftNavStaticHoverStyle {
	
}
.LeftNavStaticHoverStyle A {
	
}
.LeftNavDynamicHoverStyle {
	BACKGROUND-COLOR: #f9e4b2
}
.LeftNavDynamicHoverStyle A {
	BACKGROUND-COLOR: #f9e4b2
}
.LeftNavDynamicMenuStyle {
	Z-INDEX: 1; BORDER-BOTTOM: #f9e4b2 1px solid; BORDER-LEFT: #f9e4b2 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 150px; PADDING-RIGHT: 0px; BORDER-TOP: #f9e4b2 1px solid; BORDER-RIGHT: #f9e4b2 1px solid; PADDING-TOP: 0px
}
.LeftNavDynamicSelectedStyle {
	
}
.LeftNavDynamicMenuItemStyle {
	BACKGROUND-IMAGE: none; PADDING-BOTTOM: 2px; BACKGROUND-COLOR: #f2f1f1; MARGIN: 0px; PADDING-LEFT: 5px; WIDTH: 150px; PADDING-RIGHT: 5px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #000000; FONT-SIZE: 8pt; PADDING-TOP: 2px
}
.LeftNavDynamicMenuItemStyle A {
	BACKGROUND-IMAGE: none; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 150px; PADDING-RIGHT: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #000000; FONT-SIZE: 8pt; TEXT-DECORATION: none; PADDING-TOP: 0px
}
.SiteMapStyle {
	MARGIN-TOP: 0px
}
.ReorderListStyle UL {
	PADDING-LEFT: 0px; MARGIN-LEFT: 0px
}
.ReorderListStyle LI {
	LIST-STYLE-TYPE: none; TEXT-INDENT: 0px; PADDING-LEFT: 0px; MARGIN-BOTTOM: 0px; MARGIN-LEFT: 0px; LIST-STYLE-IMAGE: none
}
.ReorderListStyle LI A {
	BACKGROUND-IMAGE: none; TEXT-INDENT: 0px; PADDING-LEFT: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #c90030; MARGIN-LEFT: 0px; FONT-SIZE: 8pt; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.ReorderListTextBoxStyle {
	BORDER-BOTTOM: #c90030 1px solid; BORDER-LEFT: #c90030 1px solid; SCROLLBAR-BASE-COLOR: #c90030; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #c90030; FONT-SIZE: 8pt; OVERFLOW: auto; BORDER-TOP: #c90030 1px solid; FONT-WEIGHT: bold; BORDER-RIGHT: #c90030 1px solid
}
.ReorderListDragHandleStyle {
	CURSOR: move
}
.AdminPageTitleBoxStyle {
	PADDING-BOTTOM: 0px; TEXT-TRANSFORM: uppercase; BACKGROUND-COLOR: #c90030; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 156px; PADDING-RIGHT: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #ffffff; FONT-SIZE: 9pt; FONT-WEIGHT: bolder; PADDING-TOP: 0px
}
.AdminPageInfoBoxStyle {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 156px; PADDING-RIGHT: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 9pt; OVERFLOW: hidden; FONT-WEIGHT: normal; PADDING-TOP: 0px
}
.HomePageTitleBoxStyle {
	PADDING-BOTTOM: 0px; TEXT-TRANSFORM: uppercase; BACKGROUND-COLOR: #c90030; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 156px; PADDING-RIGHT: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #ffffff; FONT-SIZE: 9pt; FONT-WEIGHT: bolder; PADDING-TOP: 0px
}
.PageTitleBoxStyle {
	PADDING-BOTTOM: 0px; TEXT-TRANSFORM: uppercase; BACKGROUND-COLOR: #c90030; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 156px; PADDING-RIGHT: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #ffffff; FONT-SIZE: 9pt; FONT-WEIGHT: bolder; PADDING-TOP: 0px
}
.PageInfoBoxStyle {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 156px; PADDING-RIGHT: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 9pt; OVERFLOW: hidden; FONT-WEIGHT: normal; PADDING-TOP: 0px
}
.PageInfoBoxStyle A {
	COLOR: black
}
.AdminTabButtonGroup {
	MARGIN-TOP: 0px; WIDTH: 366px; HEIGHT: 24px
}
.AdminTabButtonStyle {
	BORDER-BOTTOM: white 0px; BORDER-LEFT: white 0px; PADDING-BOTTOM: 2px; BACKGROUND-COLOR: #f5ab30; PADDING-LEFT: 2px; WIDTH: auto; PADDING-RIGHT: 2px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: white; FONT-SIZE: 7pt; VERTICAL-ALIGN: middle; BORDER-TOP: white 0px; FONT-WEIGHT: lighter; BORDER-RIGHT: white 0px; TEXT-DECORATION: none; PADDING-TOP: 2px
}
.AdminTabButtonSelectedStyle {
	BORDER-BOTTOM: white 0px; BORDER-LEFT: white 0px; PADDING-BOTTOM: 2px; BACKGROUND-COLOR: #c90030; PADDING-LEFT: 2px; WIDTH: auto; PADDING-RIGHT: 2px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: white; FONT-SIZE: 7pt; VERTICAL-ALIGN: middle; BORDER-TOP: white 0px; FONT-WEIGHT: lighter; BORDER-RIGHT: white 0px; TEXT-DECORATION: none; PADDING-TOP: 2px
}
UL.CMSFirstLevelUL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
LI.CMSFirstLevelLI {
	LINE-HEIGHT: 1.5em; LIST-STYLE-TYPE: none; PADDING-LEFT: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif; MARGIN-BOTTOM: 5px; FONT-SIZE: 8pt; FONT-WEIGHT: bold
}
LI.CMSFirstLevelLI A {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #c90030; FONT-SIZE: 8pt; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.PageOptionsPanelStyle {
	MARGIN-TOP: 0px; MARGIN-RIGHT: 10px; PADDING-TOP: 0px
}
.PageTypeSelectionPanelStyle {
	PADDING-BOTTOM: 0px; MARGIN-BOTTOM: 0px
}
.lnkBackStyle {
	PADDING-TOP: 2px
}
.PageTitleLabelStyle {
	
}
.PageInfoStyle {
	FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 8pt
}
.FileUploadStyle {
	BORDER-BOTTOM: black 1px solid; BORDER-LEFT: black 1px solid; WIDTH: 325px; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 9pt; BORDER-TOP: black 1px solid; BORDER-RIGHT: black 1px solid
}
.FileUrlLabelStyle {
	FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 9pt
}
UL.AdminFirstLevelUL {
	PADDING-BOTTOM: 0px; BACKGROUND-COLOR: transparent; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: auto; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
LI.AdminFirstLevelLI {
	BACKGROUND-IMAGE: url(../images/main_left_nav_bullet.jpg); LINE-HEIGHT: 1.5em; LIST-STYLE-TYPE: none; PADDING-LEFT: 15px; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-POSITION: 0px 0.33em; MARGIN-BOTTOM: 5px; COLOR: #c90030; FONT-SIZE: 8pt; FONT-WEIGHT: bold
}
LI.AdminFirstLevelLI A {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #c90030; FONT-SIZE: 8pt; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.BannerImageSelectorStyle INPUT {
	BORDER-BOTTOM: #c90030 1px solid
}
.BannerTextLine1Style {
	PADDING-BOTTOM: 0px; TEXT-TRANSFORM: uppercase; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 24pt; FONT-WEIGHT: 900; PADDING-TOP: 0px
}
.BannerTextLine2Style {
	TEXT-TRANSFORM: uppercase; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-SIZE: 18pt; FONT-WEIGHT: 900
}
A.BodyTextLinkStyle {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #b8153c; FONT-SIZE: 10pt; FONT-WEIGHT: lighter
}
.BodyTextGold {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #e79c20; FONT-SIZE: 10pt; FONT-WEIGHT: lighter
}
.BodyTextMaroon {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #b8153c; FONT-SIZE: 10pt; FONT-WEIGHT: lighter
}
.AdBlockTableStyleSBG {
	BACKGROUND-IMAGE: url(/BCAdBlockImages/adblock-bg-blue-gradient-simple.jpg); BORDER-BOTTOM: red 0px; BORDER-LEFT: red 0px; WIDTH: 248px; BORDER-TOP: red 0px; BORDER-RIGHT: red 0px
}
.AdBlockTitleStyleSBG {
	TEXT-TRANSFORM: uppercase; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: white; FONT-SIZE: 12pt; FONT-WEIGHT: 900
}
.AdBlockTextStyleSBG {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: white; FONT-SIZE: 10pt
}
.AdBlockTextStyleSBG A {
	COLOR: white
}
.AdBlockTableStyleSBr {
	BORDER-BOTTOM: red 0px; BORDER-LEFT: red 0px; BACKGROUND-COLOR: #602808; WIDTH: 248px; BORDER-TOP: red 0px; BORDER-RIGHT: red 0px
}
.AdBlockTitleStyleSBr {
	TEXT-TRANSFORM: uppercase; BACKGROUND-COLOR: #602808; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: white; FONT-SIZE: 12pt; FONT-WEIGHT: 900
}
.AdBlockTextStyleSBr {
	BACKGROUND-COLOR: #602808; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: white; FONT-SIZE: 10pt
}
.AdBlockTextStyleSBr A {
	COLOR: white
}
.AdBlockLeftTableStyleSBG {
	BACKGROUND-IMAGE: url(/BCAdBlockImages/adblock-bg-blue-gradient-simple.jpg); BORDER-BOTTOM: red 0px; BORDER-LEFT: red 0px; WIDTH: 156px; BORDER-TOP: red 0px; BORDER-RIGHT: red 0px
}
.AdBlockLeftTitleStyleSBG {
	TEXT-TRANSFORM: uppercase; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: white; FONT-SIZE: 12pt; FONT-WEIGHT: 900
}
.AdBlockLeftTextStyleSBG {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: white; FONT-SIZE: 10pt
}
.AdBlockTextStyleSBG A {
	COLOR: white
}
.AdBlockLeftTableStyleSBr {
	BORDER-BOTTOM: red 0px; BORDER-LEFT: red 0px; BACKGROUND-COLOR: #602808; WIDTH: 156px; BORDER-TOP: red 0px; BORDER-RIGHT: red 0px
}
.AdBlockLeftTitleStyleSBr {
	TEXT-TRANSFORM: uppercase; BACKGROUND-COLOR: #602808; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: white; FONT-SIZE: 12pt; FONT-WEIGHT: 900
}
.AdBlockLeftTextStyleSBr {
	BACKGROUND-COLOR: #602808; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: white; FONT-SIZE: 10pt
}
.AdBlockLeftTextStyleSBr A {
	COLOR: white
}
.AdBlockTableStyleGL {
	BACKGROUND-IMAGE: url(/BCAdBlockImages/adblock_bg_greek_letters.jpg); BORDER-BOTTOM: red 0px; BORDER-LEFT: red 0px; WIDTH: 248px; BORDER-TOP: red 0px; BORDER-RIGHT: red 0px
}
.AdBlockTitleStyleGL {
	TEXT-TRANSFORM: uppercase; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 90px; COLOR: white; FONT-SIZE: 12pt; VERTICAL-ALIGN: bottom; FONT-WEIGHT: 900
}
.AdBlockTextStyleGL {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: white; FONT-SIZE: 10pt
}
.AdBlockTextStyleGL A {
	COLOR: white
}
.NewsScrollerCategory {
	BACKGROUND-COLOR: #b8153c; COLOR: white
}
.NewsScrollerCategory A {
	BACKGROUND-COLOR: #b8153c; COLOR: white
}
.NewsScrollerInfo A {
	COLOR: black; TEXT-DECORATION: none
}
.NewsScrollerInfo A:hover {
	COLOR: black; TEXT-DECORATION: underline
}
.NewsScrollerSeparator {
	COLOR: #b8153c; FONT-SIZE: 10pt
}
.ImageBrowserDropDownStyle {
	BORDER-BOTTOM: black 1px solid; BORDER-LEFT: black 1px solid; BORDER-TOP: black 1px solid; BORDER-RIGHT: black 1px solid
}
.divWhatsNewSeparatorStyle {
	PADDING-BOTTOM: 0px; MARGIN-TOP: 20px; MARGIN-BOTTOM: 15px; PADDING-TOP: 0px
}
.PageWhatsNewTitleStyle {
	TEXT-ALIGN: left; PADDING-BOTTOM: 0px; MARGIN-TOP: 25px; FONT-FAMILY: Arial, Helvetica, sans-serif; MARGIN-BOTTOM: 15px; COLOR: #f5ab30; FONT-SIZE: 10pt; FONT-WEIGHT: bold; PADDING-TOP: 0px
}
.PageWhatsNewTextStyle {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: black; FONT-SIZE: 10pt
}
.PageWhatsNewTextStyle A {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #c90030; FONT-SIZE: 10pt
}
.PageWhatsNewCategoryStyle {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #c90030; FONT-SIZE: 10pt
}
.PageWhatsNewDateStyle {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #c90030; FONT-SIZE: 10pt
}
.PageWhatsNewDateStyle A {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #c90030; FONT-SIZE: 10pt
}
.PageWhatsNewMoreStyle {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #c90030; FONT-SIZE: 10pt
}
.PageWhatsNewMoreStyle A {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #c90030; FONT-SIZE: 10pt
}
.PageCampusNewsLinkStyle {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: black; FONT-SIZE: 10pt; FONT-WEIGHT: lighter
}
.BCButtonStyle {
	BORDER-BOTTOM: #000000 1px solid; BORDER-LEFT: #000000 1px solid; BACKGROUND-COLOR: #c90030; COLOR: #ffffff; BORDER-TOP: #000000 1px solid; FONT-WEIGHT: bold; BORDER-RIGHT: #000000 1px solid
}
.BCTextBoxStyle {
	BORDER-BOTTOM: #c90030 1px solid; BORDER-LEFT: #c90030 1px solid; SCROLLBAR-BASE-COLOR: #c90030; BORDER-TOP: #c90030 1px solid; BORDER-RIGHT: #c90030 1px solid
}
.BCTextBoxWatermarkStyle {
	BORDER-BOTTOM: #c90030 1px solid; BORDER-LEFT: #c90030 1px solid; COLOR: #999999; BORDER-TOP: #c90030 1px solid; BORDER-RIGHT: #c90030 1px solid
}
BCDropDownStyle {
	BORDER-BOTTOM: #c90030 1px solid; BORDER-LEFT: #c90030 1px solid; WIDTH: 245px; BORDER-TOP: #c90030 1px solid; BORDER-RIGHT: #c90030 1px solid
}
#BCSearchResults {
	WIDTH: 250px
}
.ajax__calendar .ajax__calendar_container {
	BORDER-BOTTOM: #646464 1px solid; BORDER-LEFT: #646464 1px solid; BACKGROUND-COLOR: #ffffff; COLOR: #000000; BORDER-TOP: #646464 1px solid; BORDER-RIGHT: #646464 1px solid
}
.ajax__calendar .ajax__calendar_footer {
	BORDER-TOP: #f5f5f5 1px solid
}
.ajax__calendar .ajax__calendar_dayname {
	BORDER-BOTTOM: #f5f5f5 1px solid
}
.ajax__calendar .ajax__calendar_day {
	BORDER-BOTTOM: #ffffff 1px solid; BORDER-LEFT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; BORDER-RIGHT: #ffffff 1px solid
}
.ajax__calendar .ajax__calendar_month {
	BORDER-BOTTOM: #ffffff 1px solid; BORDER-LEFT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; BORDER-RIGHT: #ffffff 1px solid
}
.ajax__calendar .ajax__calendar_year {
	BORDER-BOTTOM: #ffffff 1px solid; BORDER-LEFT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; BORDER-RIGHT: #ffffff 1px solid
}
.ajax__calendar .ajax__calendar_active .ajax__calendar_day {
	BORDER-BOTTOM-COLOR: #0066cc; BACKGROUND-COLOR: #edf9ff; BORDER-TOP-COLOR: #0066cc; COLOR: #0066cc; BORDER-RIGHT-COLOR: #0066cc; BORDER-LEFT-COLOR: #0066cc
}
.ajax__calendar .ajax__calendar_active .ajax__calendar_month {
	BORDER-BOTTOM-COLOR: #0066cc; BACKGROUND-COLOR: #edf9ff; BORDER-TOP-COLOR: #0066cc; COLOR: #0066cc; BORDER-RIGHT-COLOR: #0066cc; BORDER-LEFT-COLOR: #0066cc
}
.ajax__calendar .ajax__calendar_active .ajax__calendar_year {
	BORDER-BOTTOM-COLOR: #0066cc; BACKGROUND-COLOR: #edf9ff; BORDER-TOP-COLOR: #0066cc; COLOR: #0066cc; BORDER-RIGHT-COLOR: #0066cc; BORDER-LEFT-COLOR: #0066cc
}
.ajax__calendar .ajax__calendar_other .ajax__calendar_day {
	BORDER-BOTTOM-COLOR: #ffffff; BACKGROUND-COLOR: #ffffff; BORDER-TOP-COLOR: #ffffff; COLOR: #646464; BORDER-RIGHT-COLOR: #ffffff; BORDER-LEFT-COLOR: #ffffff
}
.ajax__calendar .ajax__calendar_other .ajax__calendar_year {
	BORDER-BOTTOM-COLOR: #ffffff; BACKGROUND-COLOR: #ffffff; BORDER-TOP-COLOR: #ffffff; COLOR: #646464; BORDER-RIGHT-COLOR: #ffffff; BORDER-LEFT-COLOR: #ffffff
}
.ajax__calendar .ajax__calendar_hover .ajax__calendar_day {
	BORDER-BOTTOM-COLOR: #daf2fc; BACKGROUND-COLOR: #edf9ff; BORDER-TOP-COLOR: #daf2fc; COLOR: #0066cc; BORDER-RIGHT-COLOR: #daf2fc; BORDER-LEFT-COLOR: #daf2fc
}
.ajax__calendar .ajax__calendar_hover .ajax__calendar_month {
	BORDER-BOTTOM-COLOR: #daf2fc; BACKGROUND-COLOR: #edf9ff; BORDER-TOP-COLOR: #daf2fc; COLOR: #0066cc; BORDER-RIGHT-COLOR: #daf2fc; BORDER-LEFT-COLOR: #daf2fc
}
.ajax__calendar .ajax__calendar_hover .ajax__calendar_year {
	BORDER-BOTTOM-COLOR: #daf2fc; BACKGROUND-COLOR: #edf9ff; BORDER-TOP-COLOR: #daf2fc; COLOR: #0066cc; BORDER-RIGHT-COLOR: #daf2fc; BORDER-LEFT-COLOR: #daf2fc
}
.ajax__calendar .ajax__calendar_hover .ajax__calendar_title {
	COLOR: #0066cc
}
.ajax__calendar .ajax__calendar_hover .ajax__calendar_today {
	COLOR: #0066cc
}
.l A {
	COLOR: #c90030
}
#gsc-result gsc-webResult {
	COLOR: #c90030
}
#gsc-result gsc-webResult A {
	COLOR: #c90030
}
#BCSearchResults .gs-title * {
	COLOR: #c90030
}
#BCSearchResults DIV.gs-visibleUrl-long.gs-visibleUrl {
	DISPLAY: block
}
#BCSearchResults DIV.gs-visibleUrl-short.gs-visibleUrl {
	DISPLAY: none
}
