A.BodyTextBlackLinkStyle {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #000000; FONT-SIZE: 10pt
}
A.BodyTextLinkStyle {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #b8153c; FONT-SIZE: 10pt; FONT-WEIGHT: lighter
}
A.BodyTextLinkStyle9 {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #b8153c; FONT-SIZE: 9pt; FONT-WEIGHT: lighter
}
.BodyTextGold {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #e79c20; FONT-SIZE: 10pt; FONT-WEIGHT: lighter
}
.BodyTextGoldBold {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #e79c20; FONT-SIZE: 10pt; FONT-WEIGHT: bold
}
.BodyTextMaroon {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #b8153c; FONT-SIZE: 10pt; FONT-WEIGHT: lighter
}
.BodyTextMaroonBold {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #b8153c; FONT-SIZE: 10pt; FONT-WEIGHT: bold
}
.BodyTextMaroonBoldPad {
	PADDING-LEFT: 5px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #b8153c; FONT-SIZE: 10pt; FONT-WEIGHT: bold
}
.BodyTextWhite {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #ffffff; FONT-SIZE: 10pt; FONT-WEIGHT: lighter
}
.BodyTextWhiteBold {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #ffffff; FONT-SIZE: 10pt; FONT-WEIGHT: bold
}
.PageTextStylePad {
	PADDING-LEFT: 5px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #000000; FONT-SIZE: 10pt; FONT-WEIGHT: normal
}
.PageTextStylePad9 {
	PADDING-LEFT: 3px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #000000; FONT-SIZE: 9pt; FONT-WEIGHT: normal
}
.PageTextStylePadAll9 {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #000000; FONT-SIZE: 9pt; FONT-WEIGHT: normal; PADDING-TOP: 5px
}
.PageTextStylePadAll8 {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #000000; FONT-SIZE: 8pt; FONT-WEIGHT: normal; PADDING-TOP: 5px
}
.PageTextStyle8 {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #000000; FONT-SIZE: 8pt; FONT-WEIGHT: normal
}
.BodyTextWhitePad {
	PADDING-LEFT: 5px; FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #ffffff; FONT-SIZE: 10pt; FONT-WEIGHT: normal
}
.button {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 2px; PADDING-LEFT: 8px; WIDTH: 100px; PADDING-RIGHT: 8px; BACKGROUND: url(../BCImageGallery/Buttons/Submit_Black.png) no-repeat left top; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 2px
}
