@charset "utf-8";

/* 
	novimi
   	jun11
	coded by dimos zarkadas
*/

body
{
	background: #997421 url('/clients/CityofNovi/Images/bg.jpg') center top no-repeat;
	font-family: 'Trebuchet MS', Georgia;
	color: #2e2e2e;
	font-size: 13px;
	margin: 0;
	padding: 0;
	}
	
a {
	text-decoration: underline;
	color: #997421;

}

a:visited {
	text-decoration: underli ne;
	color: #997421;
}

a:hover {
	text-decoration: underline;
	color: #131a37;
}






/* #Skip To Content# */
	
.skiptocontent  {
	width: 2px;
	height: 2px;
	position: absolute;
	top: 0px;
	left: 0px;

}


/* #Home# */

.homelink  {
	width: 80px;
	height: 130px;
	position: absolute;
	top: 45px;
	left: 25px;

}


.homenews {

	background: #FFFFFF url('/clients/CityofNovi/Images/bg-novitoday.gif') left top no-repeat;

}

.homenewstext {
		padding: 70px 10px 20px 26px;
		list-style-type: none; 
		color: #ffffff;
		font-size: 14px;
		font-weight:bold;
		line-height:17px;

}

.homenewstext a {
		color: #a98c4b;
		text-decoration:none;
		

}

.homenewstext a:hover {
		color: #C6B99E;
		text-decoration:none;

}

.homeposted {

background: #FFFFFF url('/clients/CityofNovi/Images/bg-keepposted.gif') left top no-repeat;

}

.homepostedtext {
		padding: 70px 10px 20px 26px;
		list-style-type: none; 
		color: #5c5c5c;
		font-size: 14px;
		font-weight:bold;
		line-height:17px;

}

.homepostedtext a {
		color: #5c5c5c;
		text-decoration:none;

}

.homepostedtext a:hover {
		color: #a98c4b;
		text-decoration:none;

}


.homespotlight {

background: #FFFFFF url('/clients/CityofNovi/Images/bg-spotlight.gif') center top no-repeat;

}

#homespotlightcontent  {
	padding: 60px 0px 0px 0px;
}

#homespotlighticon {
	width:120px;
	height:76px;
	float: left;
	padding:5px 0px 0px 0px;
}

#homespotlighttext  {
	font-size:12px;
	line-height:12px;
	font-weight: bold;
	color:#5B5C5C;
	padding: 5px 0px 18px 0px;
	border-bottom-style:dashed;
	border-bottom-width: 1px;
    border-color:#acacac;

}

#homespotlighttext a {
	color:#5B5C5C;
	text-decoration: none;

}

#homespotlighttext a:hover {
	color:#a98c4b;
	text-decoration: none;

}


.homecalendar {

background: #FFFFFF url('/clients/CityofNovi/Images/bg-calendar.gif') center top no-repeat;

}

.calendar  {
	
		font-weight: bold;
		font-size: 14px;
		color: #1C2E79;
		padding:10px 0px 0px 20px;
	
}

.calendar a {
			text-decoration:none;
			color: #1C2E79;
}

.calendar a:hover {
			text-decoration:none;
			color: #a98c4b;
}

.calendarservice  {
	
		font-size: 8pt;
		color: #997521;
		padding:0px 20px 10px 0px;
	
}

.calendarservice a {
			text-decoration:none;
			color: #997521;
}

.calendarservice a:hover {
			text-decoration:none;
			color: #1C2E79;
}



#quickaccess {
	width: 273px;
	height: 181px;
	position: absolute;
	top: 85px;
	left: 355px;

}

#socialmedia {
	position: relative;
	top: 95px;
	left: 680px;
	width:280px;
	height:35px;
		
}

#search {
	width: 259px;
	height: 33px;
	position: absolute;
	top: 23px;
	left: 350px;
	font-family: Trebuchet MS, Arial, Sans-Serif;
	font-size: 11px;
}

#search a {
	color: #1a5131;
	
}

#searchstatic {
	width: 259px;
	height: 33px;
	position: absolute;
	top: 48px;
	left: 700px;
	font-family: Trebuchet MS, Arial, Sans-Serif;
	font-size: 11px;
}

#searchstatic a {
	color: #1a5131;
	
}


#weather {
	float:right;
}

/* #Home Content# */

.homecontent {

	color: #173b30;
	font-size: 11px;
	font-weight: bold;
	margin: 0px -20px -20px -20px;
	font-family: 'Trebuchet MS', Arial, Arial, Sans-Serif;
	width: 775px;
	height: 410px;
	background: #FFFFFF url('/clients/CityofNovi/Images/homecontent_bgrd.jpg') bottom no-repeat;	
	clear: both;
}

.homecontent h2 {

margin-top: 0px;

}
/* #Interior Content# */

.interiorcontentbackground  {

background-color: #FFFFFF;

}

#interiorcontent {

	color: #525252;
	font-size: 14px;
	font-family: 'Trebuchet MS', Arial, Arial, Sans-Serif;
	width: 745px;
	min-height: 700px;
	padding: 0 1em 1em 1.5em;
	background-color: #FFFFFF;

}

#interiorcontent ul {
	
	margin-left:20px;

}

/* #Util# */

#util  {
	width: 1000px;
	height: 33px;
	text-align: right;		
}

#util a {

	color: #102167;	
	font-size: 11px;
	font-weight:bold;
	text-decoration: none;
	padding: 10px 0px 10px 15px;
}

#util a:hover {
	color: #997421;
}

/* #Iframe# */

.iframe {

	background-color: #fdf6da;

}

/* #Side Nav# */

.sidenavbg {
	background: #FFFFFF url('/clients/CityofNovi/Images/bg-secondary-navbg.gif');

}

.sidenavbottom {
	background: #FFFFFF url('/clients/CityofNovi/Images/bg-sidenav-bottom.gif') center top no-repeat;

}

#back  {
	padding-left: 20px;
	background: url('/clients/CityofNovi/Images/bg-secondary-nav-back.gif');
}

#back a {

	font-size: 12px;
	text-transform: uppercase;
	text-decoration:none;
	font-weight: bold;
	color: #212c6e;
}

#back a:hover {

	color: #997521;

}

#topoverview  {
	padding: 5px 20px 5px 20px;
	background: url('/clients/CityofNovi/Images/bg-secondary-nav-top.gif');
}

#topoverview a {

	font-size: 12px;
	text-decoration:none;
	font-weight: bold;
	color: #ffffff;
	line-height: 15px;

}

#topoverview a:hover {

	color: #997521;

}



#sidelink a {

	font-size: 12px;
	text-decoration:none;
	font-weight: bold;
	color: #ffffff;
	border-bottom-style:solid;
	border-bottom-width: 1px;
    border-color:#adb1b2;
	text-align: left;
	display: block;
	padding: 3px 10px 5px 20px;
}


#sidelink a:hover {
	color: #997521;
}

#sidelink li {
	margin: 0;
	padding: 0;
}

#sidelink ul {
	margin: 0;
	padding: 0;
}

ul.one {
	list-style: none;

}


a.one {

	padding-top: 3px;
	display: block;
	list-style: none;
	line-height: 18px;
 
}



.one {
	padding-top: 3px;
	list-style: none;
	border-bottom-style:dotted;
 	border-color:#ffffff;
 
}



/* #Header# */

#header {
	color: #1f8699;
	position: relative;
	top: 0px;
	left: 0px;
	width: 1000px;
	height: 207px;
	font-size: 11px;
	font-family: 'Trebuchet MS', Arial, Sans-Serif;
	text-decoration: none;
	list-style-type: none;
	background-image: url('/clients/CityofNovi/Images/bg-header.jpg');
}

#headerstatic {
	color: #1f8699;
	position: relative;
	top: 0px;
	left: 0px;
	width: 1000px;
	height: 207px;
	font-size: 11px;
	font-family: 'Trebuchet MS', Arial, Sans-Serif;
	text-decoration: none;
	list-style-type: none;
	background-image: url('/clients/CityofNovi/Images/bg-header-static.jpg');
}


/* #Footer# */

#footer {
	position: relative;
	color: #474747;
	top: 0px;
	left: 0px;
	width: 1000px;
	height: 105px;
	font-size: 12px;
	font-weight: bold;
	font-family: 'Trebuchet MS', Arial, Arial, Sans-Serif;
	background-image: url('/clients/CityofNovi/Images/bg-footer.gif');
}

#footermenu {
	height: 30px;
	padding-top: 10px;
	position: relative;
	top: 10px;
	left: 12px;
	color: #565553;
}

#footermenu a {
	padding-right: 15px;
	color: #1c2e79;
	text-decoration: none;

}

#footermenu a:hover {
	text-decoration: underline;
}

#footermenu a:hover {
	padding-right: 15px;
	text-decoration: underline;
}

/* #Credentials# */

#credentials  {

	position: relative;	
	float: left;
	width: 225px;
	height: 115px;
	background-image: url('/clients/CityofNovi/Images/credentials_bgrd.gif');	
}

.adalink {
	width: 70px;
	height: 33px;
	position: absolute;
	top: 65px;
	left: 810px;
}

.mwslink {
	width: 95px;
	height: 33px;
	position: absolute;
	top: 65px;
	left: 890px;
}

/* #Image Control# */

.img   {
        border-style: solid;    
        border-color: #535989;
        border-width: 1px;
}

/* #Breadcrumbs# */

#breadcrumbs  {

	font-size: 14px;
	padding: 10px 10px 10px 20px;
	background-image: url('/clients/CityofNovi/Images/bg-sub-nav.gif');
	color: #1c2e79;
	font-weight: bold;
	text-decoration:none;

}

#breadcrumbs a {
		color: #1c2e79;
		text-decoration:none;
	
}

#breadcrumbs a:hover {
	color: #997521;
	text-decoration:none;
	
}


#breadcrumbs-nobg  {

	font-size: 14px;
	padding: 10px 10px 10px 20px;
	color: #1c2e79;
	font-weight: bold;
	
}

/* #Addthis# */

#addthis {

 	float:right;

}

/* #Headings# */

H1 {font-family: 'Trebuchet MS', Arial, verdana, georgia, sans-serif;
    font-size: 13pt;
    font-weight: bold;
    padding: 0px 10px 10px 0px;
    margin-left:20px;
    color: #2e2e2e;
    border-bottom:thin dashed #2e2e2e;
    background-color:#FFFFFF;
    width: 735px;
}
    
H2 {font-family: 'Trebuchet MS', Arial, sans-serif;
    font-size: 12pt;
    font-weight: bold;
    color: #62460d;}
    
H3 {font-family: 'Trebuchet MS', Arial, sans-serif;
    font-size: 10pt;
    font-weight: bold;
    color: #6A583A;}
    
H4 {font-family: Arial, verdana, georgia, sans-serif;
    font-size: 8pt;
    font-weight: bold;
    color: #cdba94;}
    
H5 {font-family: 'Trebuchet MS', Arial, sans-serif;
    font-size: 8pt;
    font-weight: normal;
    color: #8e784c;}
    
H6 {font-family: 'Trebuchet MS', Arial, sans-serif;
	font-size: 12pt;
	font-weight: bold;
	margin-bottom: -20px;
	color: #62460d;}



/* #Tables# */

.tablewithheading {
	font-family: 'Trebuchet MS', Arial, Arial, Sans-Serif;
	font-size: 10pt;
	height: 25px;
	color: #445240;
	background: #FFFFFF;

}

.tablecontent {
	font-family: 'Trebuchet MS', Arial, Arial, Sans-Serif;
	font-size: 10pt;
	padding: 15px 20px 10px 20px;
	border-style: solid;
	border-width: 1px;
	border-color: #966c20;
	background: #966c20;
}


table.tableright  {
	border-style: solid;
	background: #fdf6da;
	border-color: #E3C678;
	border-width: 1px;
	border-spacing: 0px;
	padding: 5px;
	border-collapse: separate;
	text-align: left;
	font-family: 'Trebuchet MS', Arial, Arial, Sans-Serif;
	font-size: 11px;
	color: #173b30;
	outline: 0px;
	margin-left: 10px;
	margin-bottom: 10px;
}

table.fullwidth  {
	border-style: solid;
	background: #fdf6da;
	border-color: #E3C678;
	padding: 5px;
	border-width: 1px;
	border-spacing: 0px;
	border-collapse: separate;
	text-align: left;
	font-family: 'Trebuchet MS', Arial, Arial, Sans-Serif;
	font-size: 11px;
	color: #173b30;
	outline: 0px;
}

table.fullwidth2  {
	border-style: solid;
	background: #141b38;
	padding: 5px;
	border-width: 1px;
	border-spacing: 0px;
	border-collapse: separate;
	text-align: left;
	font-family: 'Trebuchet MS', Arial, Arial, Sans-Serif;
	font-size: 13px;
	color: #FFFFFF;
	font-weight: bold;
	outline: 0px;
}


th.colhdr  {
	background: #141b38;
	color: #FFFFFF;
	padding: 2px;
	font-family: 'Trebuchet MS', Arial, Arial, Sans-Serif;
	font-size: 13px;
	margin: 0px;

}
