@import url("global.css");

/* REDIFINED TAGS */
h1 {
	margin: 0;
}
h2 {
	font: 1em Helvetica, Arial, Verdana, sans-serif;
	color: #727171;
	text-align: center;
}
h3 {
	font: 1em Helvetica, Arial, Verdana, sans-serif;
	color: #727171;
}

/* SUBNAV */
ul#nav_sub {
	list-style-type: none;
	margin: 20px auto 0 auto;
	padding: 0;
}
li#ns_1, li#ns_1 a, li#ns_1 a:hover, li#ns_2, li#ns_2 a, li#ns_2 a:hover, li#ns_3, li#ns_3  a, li#ns_3 a:hover, li#ns_4, li#ns_4 a, li#ns_4 a:hover, li#ns_5, li#ns_5 a, li#ns_5 a:hover, li#ns_6, li#ns_6 a, li#ns_6 a:hover {
	display: block;
	margin: 0;
	padding: 0;
	text-indent: -9999px;
}

/* CONTENT */
#contentContainer {
	padding: 0 225px 0 225px;
}
#left_col, #middle_col, #right_col {
	position: relative;
	float: left;
}

/* LEFT COLUMN */
#left_col {
	width: 220px;
	height: 300px;
	margin: 0 0 0 -225px;
	padding: 0 0 0 5px;
}
#left_col_header {
	width: 220px;
	height: 145px;
	margin: 0 0 0 0;
}
/* MIDDLE COLUMN */
#middle_col {
	padding: 0 15px 20px 0px;
	width: 435px;
	border-right: 1px solid #EEE4D3;
	line-height: 1.5em;
	min-height: 300px;
	letter-spacing: 1px;
}
#middle_col_header {
	width: 435px;
	height: 145px;
}
#middle_col_content {
	padding-left: 15px;
}
#middle_col h1 {
	text-indent: -9999px;
	width: 420px;
	height: 19px;
	margin-bottom: -10px;
}
#h1-1 {
	margin-top: 20px;
}
#h1-2, #h1-3, #h1-4, #h1-5, #h1-6, #h1-7, #h1-8, #h1-9 {
	margin-top: 25px;
}

	/* RIGHT COLUMN */
#right_col {
	width: 195px;
	padding: 0 15px 0 15px;
	margin: 0 -237px 0 0;
}
#right_col_header {
	background: url("/clients/35words/images/upcomingShows_35W.gif") no-repeat;
	width: 195px;
	height: 59px;
	margin: 0 0 20px 0;
}
#right_col_content {
	margin: 0 0 20px 0;
}
#right_col_sponsors {
	margin: 5px 0 30px 0;
}

/* FOOTER 2 */
#footer2 {
	position: relative;
	border-top: 3px double #EEE4D3;
	clear: both;
	padding: 20px 0 20px 15px;
}
