@charset "UTF-8";
/* CSS Document */










h1.index_header {
	font-size: 26px;
}

#navbar1 {
	margin:0;
	padding:0;
	width:100%;
	background-color:#c4904c;
	height:35px;
}


#left_box {
	float: left;
	background-color: #FFF;
	width: 200px;
	padding: 5px;
	margin: 0px 15px 15px 0px; 
	border: 1px #8D0C00 groove;
	top: 575px;
	height:815px;
}

#left_box p {
	text-align: left;
	color: #A75D31;
}
#left_box h2 {
	text-align: center;
	color: #8D0C00;
	font-size:20px;
}
#left_box li {
	list-style:none;
	font-size:18px;
	line-height:2em;
}

#left_box ul {
	text-align:center;
	padding:0;
}

#left_box img {
	text-align:center;
}

#left_box a:link {
	color: #8D0C00;
	text-decoration: none;
}
#left_box a:visited {
	color: #8D0C00;
	text-decoration: none;
}
#left_box a:hover {
	color: #8D0C00;
	text-decoration: underline;
}
#left_box a:active {
	color: #8D0C00;
	text-decoration: none;
	text-align: left;
}



#right_box {
	float: right;
	background-color: #FFF;
	width: 350px;
	padding: 5px;
	margin: 0px 0px 100px 15px; 
	border: 1px #8D0C00 groove;
	top: 575px;
	text-align: center;
	height:1400px;
        z-index: 1;
}
#right_box p {
	border-bottom: .5px #A75D31 dotted;
}
#right_box a:link {
	color: #A75D31;
	text-decoration: none;
        z-index: 1;
}
#right_box a:visited {
	color: #4f5c38;
	text-decoration: none;
        z-index: 1;
}
#right_box a:hover {
	color: #4f5c38;
	text-decoration: underline;
        z-index: 1;
}
#right_box a:active {
	color: #4f5c38;
	text-decoration: none;
}
#right_box p {
	border-bottom: .5px #A75D31 dotted;
}

img {
	border: 0px;
	margin: 0;
	padding: 0;
}
.oneColFixCtrHdr #footer {
	padding: 0 10px; /* this padding matches the left alignment of the elements in the divs that appear above it. */
	background:#4f5c38;
	clear: both;
	margin: auto;
}
.oneColFixCtrHdr #footer p {
	margin: 0; /* zeroing the margins of the first element in the footer will avoid the possibility of margin collapse - a space between divs */
	padding: 10px 0; /* padding on this element will create space, just as the the margin would have, without the margin collapse issue */
	color: #ffffcc;
	font-size: 85%;
}
.mainimage {
	text-align: center;
	margin: 0px;
	padding: 0px;
}




#header2 h2{
	text-align: center;
	color: #333;
	margin: 10px;
	padding: 10px,5px;
	height: 15px;
	font-size: 115%;
	line-height: 85%;
}
.h2ital {
	font-style: italic;
}
.center {
	text-align: center;
}

#right_box table {
   font-family: Arial, sans-serif;
   font-size: 12px;
   color: #666666;
   border: none;
   width: 200px;
   border-collapse: collapse;
   text-align: center;
}

#right_box tr, td {
   border: none;
}

#right_box td {
   padding: 5px;
   width: 35px;
}

#right_box th {
   border-bottom: none;
}

#right_box td:hover {
  background-color: #d8d7d7;
}

#right_box td a:link.linked_red   {
  text-decoration: none;
  color: #8b252c;
  font-weight: bold;
}

#right_box td a:visited.linked_red {
  text-decoration: none;
  color: #8b252c;
  font-weight: bold;
}

#right_box td a:hover.linked_red {
  text-decoration: underline;
  color: #8b252c;
  font-weight: bold;
  }

#right_box td.linked_blue a:link  {
  text-decoration: none;
  color: #25498b;
}

#right_box td.linked_blue a:visited {
  text-decoration: none;
  color: #25498b;
}

#right_box td.linked_blue a:hover {
  text-decoration: none;
  color: white;
}

#right_box td.linked_green a:link  {
  text-decoration: none;
  color: #175706;
}

#right_box td.linked_green a:visited {
  text-decoration: none;
  color: #175706;
}

#right_box td.linked_green a:hover {
  text-decoration: none;
  color: white;
}

#right_box td a:hover {
  color: white;
  text-decoration: none;

}

#right_box td a:active {
  color: white;
  text-decoration: none;
}

#right_box td.linked_green:hover {
  background-color: #175706;
  color: white;
}

#right_box td.linked_red:hover {
  background-color: #8b252c;
  color: white;
}

#right_box td.linked_blue:hover {
  background-color: #25498b;
  color: white;
}
#right_box td.linked_gold:hover {
  background-color: #FC0;
  color: white;
}
#right_box td.linked_purple:hover {
  background-color: #FC0;
  color: white;
}

#right_box td.linked_gold a:link  {
  text-decoration: none;
  color:#FC0;
}

#right_box td.linked_gold a:visited {
  text-decoration: none;
  color: #FC0;
}

#right_box td.linked_gold a:hover {
  text-decoration: none;
  color: white;
}

#right_box td.linked_gold:hover {
  background-color: #FC0;
  color: white;
}


#right_box td.linked_purple a:link  {
  text-decoration: none;
  color:#306;
}

#right_box td.linked_purple a:visited {
  text-decoration: none;
  color: #306;
}

#right_box td.linked_purple a:hover {
  text-decoration: none;
  color: white;
}

#right_box td.linked_purple:hover {
  background-color: #306;
  color: white;
}

#right_box .calendar_head {
  font-style: italic;
}

#right_box p {
	padding: 0px 0px 10px 0px;	
}

.justify {
	text-align: justify;
}

.red a:link {
	color: #8b252c;
	text-decoration: none;	
	font-weight: bold;

}
.red a:visited {
	text-decoration: none;
	color: #8b252c;
	font-weight: bold;

}
.red a:hover {
	text-decoration: underline;
	color: #8b252c;
	font-weight: bold;
}
.red a:active {
	text-decoration: none;
	color: #8b252c;
	font-weight: bold;

}

.blue a:link {
	color: #25498b;
	text-decoration: none;	
	font-weight: bold;

}
.blue a:visited {
	text-decoration: none;
	color: #25498b;
	font-weight: bold;

}
.blue a:hover {
	text-decoration: underline;
	color: #25498b;
	font-weight: bold;
}
.blue a:active {
	text-decoration: none;
	color: #25498b;
	font-weight: bold;

}	

.green a:link {
	color: #175706;
	text-decoration: none;	
	font-weight: bold;

}
.green a:visited {
	text-decoration: none;
	color: #175706;
	font-weight: bold;

}
.green a:hover {
	text-decoration: underline;
	color: #175706;
	font-weight: bold;
}
.green a:active {
	text-decoration: none;
	color: #FC0;
	font-weight: bold;
}	

.gold a:link {
	color: #FC0;
	text-decoration: none;	
	font-weight: bold;

}
.gold a:visited {
	text-decoration: none;
	color: #FC0;
	font-weight: bold;

}
.gold a:hover {
	text-decoration: underline;
	color: #FC0;
	font-weight: bold;
}
.gold a:active {
	text-decoration: none;
	color: #FC0;
	font-weight: bold;

}	

.purple a:link {
	color: #306;
	text-decoration: none;
	font-weight: bold;
}
.purple a:visited {
	text-decoration: none;
	color: #306;
	font-weight: bold;
}
.purple a:hover {
	text-decoration: underline;
	color: #306;
	font-weight: bold;
}
.purple a:active {
	text-decoration: none;
	color: #306;
	font-weight: bold;
	font-style: italic;
}	
#header2 h2 a:link {
	color: #333333;
	text-decoration: none;	
	font-weight: bold;

}
#header2 h2 a:visited {
	text-decoration: none;
	color: #333333;
	font-weight: bold;

}
#header2 h2 a:hover {
	text-decoration: underline;
	color: #4f5c38;
	font-weight: bold;
}
#header2 h2 a:active {
	text-decoration: none;
	color: #333333;
	font-weight: bold;

}	

p a:link {
	color: #333333;
	text-decoration: none;	
	font-weight: bold;

}
p a:visited {
	text-decoration: none;
	color: #333333;
	font-weight: bold;

}
p a:hover {
	text-decoration: underline;
	color: #4f5c38;
	font-weight: bold;
}
p a:active {
	text-decoration: none;
	color: #333333;
	font-weight: bold;

}	

#navBar1 {
	background-color: #c4904c;
	padding: 0;
	width: 100%;
	height: 35px;
}

#navBar2.MenuBar2 ul {
	list-style-type: none;
	color: #A75D31;
	font-size: 100%;
	height: 35px;
}

#navBar2.MenuBar2 li {
	background-color: #A75D31;
	margin: 10px, 0px;
	padding: 5px;
	list-style-type: none;
	font-size: 100%;
	position: relative;
	text-align: center;
	cursor: pointer;
	width: 8.57em;
	float: left;
}

#navBar2.MenuBar2 li:hover {
	background-color: #4f5c38;
	margin: 10px, 0px;
	padding: 5px;
	list-style-type: none;
	font-size: 100%;
	position: relative;
	text-align: center;
	cursor: pointer;
	width: 8.57em;
	float: left;
}

#navBar2.MenuBar2 a:link {
	list-style-type: none;
	color: #ffffcc;
	text-decoration: none;
}

#navBar2.MenuBar2 a:visited {
	list-style-type: none;
	color: #ffffcc;
	text-decoration: none;
}

#navBar2.MenuBar2 a:hover {
	list-style-type: none;
	color: #ffffcc;
	text-decoration: none;
	font-size: 100%;
}

#navBar2.MenuBar2 a:active {
	list-style-type: none;
	color: #ffffcc;
	text-decoration: none;
}

ul.MenuBar2 li {
	margin: 0;
	padding: 0;
	list-style-type: none;
	position: relative;
	text-align: left;
	cursor: pointer;
	width: 8.57em;
	float: left;
}

.image_left {
	padding: 0px 15px 0px 0px;
}

.body_content p {
	width: 515px;
	margin-left: 170px;
}

.body_content h2.headright {
	width: 515px;
	margin-left: 170px;
}

.body_content ul {
	width: 515px;
	margin-left: 170px;
}

.body_left p {
	width: 575px;
	margin: 0px 0px 0px 115px;
}

.bodyflushleft p {
	width: 685px;
	margin: 0px;
}



.bodyleftjustify {
        text-align: justify;
        text-justify: newspaper;
}













.body_left p img {
	margin: 0px 0px 0px -115px;
}

ul.list {
	list-style-type: none;
	font-weight: bold;
}
	
.sub {
	padding: 0px 10px;
	border: #4f5c38 solid 1px;
	margin: 0px 250px 0px 40px;
	background-color: white;
}

.sub p {
	width: 600px;
	text-align: center;
}

h2.redital {
	text-align: center;
	font-style: italic;
	color: #8D0C00;
}

h2.blueital {
	text-align: center;
	font-style: italic;
	color: #25498b;
}

h2.greenital {
	text-align: center;
	font-style: italic;
	color: #175706;
}

#mainContent hr {
	color: #A75D31;
}

.imagespace {
	padding: 0px 0px 10px 0px;	
}

.bodyflushleft ul.aud_list {
	background-color: white;
	border: #4f5c38 1px solid;
	list-style: none;
	text-align:center;
	padding: 10px;
	line-height: 140%;
	margin: 15px 335px 15px 125px;
	
}

.lead {
	line-height: 140%;
}

#recordings {
	width:680px;
}

h3.redred {
	color:red;
}

h3.redred a:link {
	text-decoration:underline;
	color:red;
}

h3.redred a:visited {
	text-decoration:underline;
	color:red;
}

h3.redred a:hover {
	text-decoration:none;
	color:red;
}
.oneColFixCtrHdr #container #mainContent h2 {
	text-align: center;
}

.left_justify {
	text-align:left;
}

.no_decoration {
	list-style:none;
}

ul.no_decoration {
	width:700px;
	color:#8D0C00;
}

.oneColFixCtrHdr #container #mainContent h1 {
	color: #8D0C00;
}

.support_link a:link {
	color: #8D0C00;
}

.support_link a:visited {
	color: #8D0C00;
}

.support_link a:hover {
	color: #A75D31;
}

.bioDiv {
clear: left;
	text-align: left; 
 margin-bottom: 25px	
}

.bioPic {
	margin: 5px;
	float: left;
}

.concertSection
{ border-bottom: 2px solid #d79900;
background-color: #fff2ba;
text-align: left;
font-weight: bold;
color: #404040;}

.concertIntermission
{ 
background-color: #fff2ba;
text-align: center;
font-weight: bold;
color: #404040;}

.selectionName
{ 
padding: 0px 5px 0px 10px;
text-align: left;
font-weight: normal;
color: #000000;}

.selectionComposer
{ 
padding: 0px 10px 0px 5px;
text-align: left;
font-weight: normal;
color: #4D4E3D;}

.concertSummaryTitle
{
	text-align: center;
	font-weight: bold;
	color: rgb(0, 0, 144);
	font-size: xX-large;
}

.concertSummaryTitle_Compact
{
	text-align: left;
	font-weight: bold;
	color: rgb(0, 0, 144);
}


.concertSummaryDates
{
	text-align: center;
	font-weight: bold;
	color: rgb(0, 0, 144);
	font-size: large;
}

.concertSummaryDates_Compact
{
	text-align: left;
	font-weight: bold;
	color: rgb(0, 0, 144);
}

.concertSummaryText
{
	text-align: center;
	font-weight: normal;
	color: rgb(0, 0, 0);
	font-size: large;
}


#calendarPop {
	position: relative;
	font-weight: bold;
	color: rgb(0, 0, 144);
	background-color: rgb(200, 200, 200);
	z-index: 1;
}
#calendarPop a { z-index: 1; }
#calendarPop a span { display: none; color: rgb(0, 0, 144); z-index: 1000; position:relative; }
#calendarPop a:hover span {
	border: medium #000000 solid;
	display: block;
	position: absolute;
	width: 300px;
	background-color: rgb(155, 155, 155);
	height: 50px;
	left: -450px;
	top: -10px;
	color: rgb(0, 0, 144);
	padding: 5px;
	z-index: 1000;
}


/* BLOG ENTRIES */

.blogEntry {
	text-align: left;
	margin-top: 20px;
}





.blogHeader {
	padding: 5px;
	background: #005030;
	color: #FFFFFF;
	text-align: left;
}
.blogTitle {
	font-size: large;
	font-weight: bold;
}
.blogDate {
	font-size: x-small;
	margin-left: 10px;
}
.blogContent {
	text-align: left;
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 10px;
}
a.blogContent {
	font-family: Arial, Helvetica, sans-serif;
}

.blogMore {
	margin-top: 10px;
        font-family: Arial, Helvetica, sans-serif;
	font-size: smaller;
}

.blogMore a { color: rgb(189, 93, 49); }

/* VERTICAL MENU */
.glossymenu, .glossymenu li ul{
list-style-type: none;
margin: 0;
padding: 0;
width: 140px; /*WIDTH OF MAIN MENU ITEMS*/
border: 1px solid black;
}

.glossymenu li{
position: relative;
}

.glossymenu li a{
background: white url(/clients/DesertChorale/Images/glossyback.jpg) repeat-x bottom left;
font: bold 10px Verdana, Helvetica, sans-serif;
color: white;
display: block;
width: auto;
padding: 5px 0;
padding-left: 10px;
text-decoration: none;
}

.glossymenu li ul{ /*SUB MENU STYLE*/
position: absolute;
width: 150px; /*WIDTH OF SUB MENU ITEMS*/
left: 0;
top: 0;
display: none;
}

.glossymenu li ul li{
float: left;
}

.glossymenu li ul a{
width: 160px; /*WIDTH OF SUB MENU ITEMS - 10px padding-left for A elements */
}

.glossymenu .arrowdiv{
position: absolute;
right: 2px;
background: transparent url(/clients/DesertChorale/Images/arrow.gif) no-repeat center right;
}

.glossymenu li a:visited, .glossymenu li a:active{
color: white;
}

.glossymenu li a:hover{
background-image: url(/clients/DesertChorale/Images/glossyback2.gif);
}


.calendarPop1 {
        display: block;
        font: 90% sans-serif;
        font-weight: bold;
	border: medium #000000 solid;
	width: 300px;
	background-color: rgb(155, 155, 155);
	height: 50px;
	color: rgb(0, 0, 144);
	padding: 8px;
	z-index: 1000;
        margin-top:5px;
        margin-left:15px; 
}

.calendarPop2 {
        display: none;
        font: 90% sans-serif;
        font-weight: bold;
	border: medium #000000 solid;
	width: 300px;
	background-color: rgb(155, 155, 155);
	height: 50px;
	color: rgb(0, 0, 144);
	padding: 8px;
	z-index: 1000;
        margin-top:5px;
        margin-left:15px; 
}


/* Holly Hack for IE \*/
* html .glossymenu li { float: left; height: 1%; }
* html .glossymenu li a { height: 1%; }
/* End */