header{text-align:right;margin:20px 0 40px;}
h1 {font:bold 36px/36px Helvetica, Arial, sans-serif;text-transform:uppercase;letter-spacing: 10px;margin-bottom:5px;position:relative; }
h1 span{text-transform:lowercase;letter-spacing:0;font:bold 12px/12px Helvetica, Arial, sans-serif;position:absolute;top:0;right:0;}
h1 a{text-decoration:none;color:#000}
h1 a span{color:000}
h2.alt {font-family: Helvetica,Arial,sans-serif;

font-style: normal;

font-variant: normal;

font-weight: normal;

font-size: 18px;

line-height: 18px;

font-size-adjust: none;

font-stretch: normal;

-x-system-font: none;

text-transform: uppercase;

color: #999999;}
.menu{text-align:center;margin-bottom:30px;}
.menu h3{text-align:right;margin-bottom:0;}
.menu h3 a{text-decoration:none;}
.menu h3 a:hover{/*text-decoration:underline;*/color:#000}
h2 i, .menu h3 a i, .list li a i{color:#bdbdbd;}
h2 b, .menu h3 a b, .list li a b{color:#000;letter-spacing:2px;}
.menu div p{margin:0;text-align:right;color:#bdbdbd;}

#sidebar{margin-top:56px;}
#sidebar ul{padding:0;list-style:none;margin:0;font-size:14px;}
#sidebar li{margin-bottom:10px;}
#sidebar li.active a, #sidebar li.active li.active a{color:#000;text-decoration:underline}
#sidebar li a, #sidebar li.active li a{text-decoration:none;color:#999999;}
#sidebar li ul{font-size:12px;margin:5px 0 0 10px;}
#sidebar li ul li{margin-bottom:5px;}

a{color:#000000}
.container a:hover, #sidebar li a:hover, .follow ul li a:hover, #sidebar li.active li.active a:hover{color:#f808b7}

.body h3{font-weight:bold;margin-bottom:0.5em;}
#sidebar li.active li a:hover, .list li a:hover i, .list li a:hover b 

{

color: #f808b7;

}
.menu h3 img, .pics img {border:2px solid #eaeaea; padding:2px;}
.menu h3 a:hover img{border-color:#000;}

.pics{text-align:right}
.body p{text-align: justify;}
.text p{text-align: justify;margin-top:30px;}
.intro{margin: 0 0 30px;}
.emailform h2, .tweet h2{font-size:14px;font-weight:bold;color:#000;text-transform:uppercase;letter-spacing:2px;}
.emailform{background:#d6d6d6;padding:10px 10px 10px 15px;}

.tweet h2{padding-top:5px;margin-bottom:10px;}
.tweet h2 a{text-decoration:none;color:#000;}
.tweet .hd, .tweet .bd{margin-left:28px;}
.tweet .hd{position:relative}
.tweet .hd .icon{position:absolute;top:0;right:0;}
.tweet_list{list-style:none;margin:0;padding:0;}
.tweet_list li{margin:0 0 10px 0;padding-left:0;text-align: justify;}
.tweet_list li a{color:#BDBDBD;text-decoration:none;}
.tweet_list li .tweet_time a{font-size:11px;}

.recommendations h2{margin-bottom:0;}
.recommendations h3{color:#bdbdbd;font-weight:normal;padding-bottom:0.75em;}
.tour_map{position:relative;}
.tour_map ul{list-style:none;margin:0;padding:0;}
.tour_map li{position:absolute;}
.tour_map li a{display:block;height:12px;width:12px;text-indent:-1000em;}

blockquote{ font:italic 14px/20px Helvetica, Arial, sans-serif; margin: 0px;   quotes: "\201C" "\201D";color:#bdbdbd;   }
blockquote cite{display:block;margin:4px 0 0 15px;font:bold 12px/16px 'Lato', arial, sans-serif;color:#000}


/*
.tour_map li#{top:;left:;}
background:#0f0;
*/
.tour_map li#mbc {top: 42px;left: 157px;}
.tour_map li#rg{top:27px;left:455px;}
.tour_map li#nwl{top:42px;left:455px;}
.tour_map li#fbc {top: 99px;left: 249px;}
.tour_map li#ppmk{top:133px;left:248px;}
.tour_map li#ve{top:147px;left:248px;}
.tour_map li#cl{top:170px;left:353px;}
.tour_map li#bb{top:193px;left:353px;}
.tour_map li#sc{top:261px;left:433px;}
.tour_map li#fw{top:426px;left:521px;}
.tour_map li#mcf{top:342px;left:296px;}
.tour_map li#cmw{top:327px;left:296px;}
.tour_map li#gm{top:327px;left:318px;}
.tour_map li#mc{top:327px;left:227px;}
.tour_map li#tb{top:320px;left:156px;}
.tour_map li#pd{top:320px;left:140px;}
.tour_map li#brm{top:320px;left:125px;}
.tour_map li#brc{top:296px;left:109px;}
.tour_map li#hr{top:362px;left:282px;}


.tooltip{display: none;background: transparent;position: absolute;top: 0;left: 0;width:230px;color: white;z-index: 1000;}
.right.tooltip .inner{	margin:0 0 0 0;}
.tooltip .inner{margin:0 10px 0 0;padding:10px;	background: #fff;color:#000;text-transform:uppercase; -webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-webkit-box-shadow:0 3px 7px rgba(0, 0, 0, 0.4); -moz-box-shadow:0 3px 7px rgba(0, 0, 0, 0.4);box-shadow:0 3px 7px rgba(0, 0, 0, 0.4);}
.tooltip .inner h3{margin-bottom:5px;font-size:14px;}
.tooltip .inner p{color:#bdbdbd;margin-bottom:0;}

.follow h3{font:normal 13px/18px Helvetica, Arial, sans-serif;text-transform:uppercase;}
.follow ul{list-style:none;margin:30px 0;border-top:2px solid #ebebeb;padding:10px 10%;}
.follow ul li{list-style:none;float:left;margin:0 10px 0 0 ;}
.follow ul li p{text-transform: uppercase;letter-spacing: 1px;padding: 5px 5px 5px 15px;color: #999999;}
.follow ul li a{color:#BDBDBD;text-decoration:none;}

.clear:after, .clearfix:after{content: ".";display: block;height: 0;clear: both;visibility: hidden;font-size:0;line-height:0;}

.follow ul{list-style:none;margin:30px 0;border-top:2px solid #ebebeb;padding:10px 0 0 158px;}
.home .follow ul{padding-left:118px;}
.follow ul li{list-style:none;float:left;margin:0 6px 0 0 ;line-height:0;}
.follow ul li a{color:#999;text-decoration:none;}
.follow ul li.icon a{background: url('/clients/avitaltours/images/icons.png') no-repeat 0 0;height:32px;width:32px;display:block;}
.follow ul li.icon a.twitter{background-position:0 0;}
.follow ul li.icon a.twitter:hover{background-position:0 -32px;}
.follow ul li.icon a.facebook{background-position:-32px 0;}
.follow ul li.icon a.facebook:hover{background-position:-32px -32px;}
.follow ul li.icon a.bio{background-position:-64px 0;}
.follow ul li.icon a.bio:hover{background-position:-64px -32px;}

