
.fs_style_6 {font-size:10pt;
line-height:1em;}

.fs_style_7 {font-size:12pt;
line-height:1em;}

.fs_style_8 {font-size:14pt;
line-height:1em;}

.fs_style_9 {font-size:18pt;
line-height:1em;}

.fs_style_10 {font-size:24pt;
line-height:1em;}

.fs_style_11 {font-size:36pt;
line-height:1em;}

.fs_style_5 {font-size:8pt;
line-height:1em;}

.fs_style_13 {float:left;
margin:0 1em 1em 0;}

.fs_style_14 {float:right;
margin:0 0 1em 1em;}

.fs_style_1 {font-size:18px;
font-weight:bold;
color:#f00;}

.fs_style_12 {color: #4e7bae;}

.fs_style_3 {display:block;
text-align:right;
text-decoration:none;
padding:2px 4px;
color:#6e613a;
background-color:#f2eee3;
border:1px solid #b3a98a;}

.fs_style_4 {text-decoration:none;
padding:2px 4px;
color:#6e613a;
background-color:#f2eee3;
border:1px solid #b3a98a;
line-height:2em;}
