span.ts1{font-family:Tahoma;font-size:18;color:#7094db;font-weight:bold;}
span.ts1c2{color:#2e5cb8;}
span.ts2{font-family:Tahoma;font-size:15;color:#2e5cb8;font-weight:bold;}
span.ts2c2{color:#7094db;}
span.ts3{font-family:Tahoma;font-size:14;color:#2e5cb8;}
span.ts3c2{color:#7094db;}
span.gb1{font-family:Verdana;font-size:19;color:#000000;font-weight:bold;}
td.gb1-bk{background-color:#a3bef5;}
table.gb1-bk{background-color:#a3bef5;}
td.gb1-tbar{background-color:#7094db;}
table.gb1-tbar{background-color:#7094db;}
span.gb2{font-family:Tahoma;font-size:12;color:#ffffff;}
td.gb2-bk{background-color:#cfdefc;}
table.gb2-bk{background-color:#cfdefc;}
td.gb2-tbar{background-color:#7094db;}
table.gb2-tbar{background-color:#7094db;}
span.gb3{font-family:Tahoma;font-size:12;color:#7094db;}
td.gb3-bk{background-color:#cfdefc;}
table.gb3-bk{background-color:#cfdefc;}
td.gb3-tbar{background-color:#2e5cb8;}
table.gb3-tbar{background-color:#2e5cb8;}
div.qb1 table tr td {text-align:left;padding:1px 1px 1px 1px}
a.lnkd {font-size:10pt;color:2e5cb8;text-decoration:none}
div.qb1 table tr td a:hover {text-decoration:none;color:#a3bef5;text-align:left;padding-left:0px;padding-right:0px;font-size:8pt}
div.qb1 table tr td a {text-decoration:none;color:#ffffff;text-align:left;padding-left:0px;padding-right:0px;font-size:8pt}
a.lnkl {font-size:10pt;color:a3bef5;text-decoration:none}
a.lnkd:hover {font-size:10pt;color:7094db;text-decoration:none}
a.lnkl:hover {font-size:10pt;color:cfdefc;text-decoration:none}
div#mu1 ul {margin:0px;padding:0px;}
div#mu1 li {margin:0px;margin-right:1px;list-style-type:none; ;}
div#mu1 a {border:1px solid #000000;margin:0px 1px 1px 0px;padding:5px;background-color:#2e5cb8;text-align:right;text-decoration:none;color:#ffffff;font-weight:normal;font-size:10pt;display:table;width:100%}
div#mu1 a:hover {background-color:#7094db;color:#cfdefc;}
div#mu1 a.sel {background-color:#7094db;color:#ffffff;}
div#mu1 a.sel:hover {background-color:#7094db;}
div#mu1 a span {display:block}
div#mu2 ul {margin:0px;padding:0px;}
div#mu2 li {margin:0px;margin-right:1px;list-style-type:none; ;}
div#mu2 a {border:1px solid #2e5cb8;margin:0px 1px 1px 0px;padding:5px;background-color:#a3bef5;text-align:right;text-decoration:none;color:#2e5cb8;font-weight:normal;font-size:10pt;display:table;width:100%}
div#mu2 a:hover {background-color:#cfdefc;color:#7094db;}
div#mu2 a.sel {background-color:#cfdefc;color:#000000;}
div#mu2 a.sel:hover {background-color:#cfdefc;}
div#mu2 a span {display:block}






BODY {background-repeat:;background-position:}

