body,div,td {font-size:10pt}
a {}
a:hover {}

.esbH1 {font-weight:bold;font-size:12pt;}
.esbH2 {font-weight:bold;font-size:11pt;}
.esbH3 {font-weight:bold;font-size:10pt;}
.esbLabel {}
.esbErrBox {border:1px solid #ff0000;background-color:#efefef}
.esbErrH1 {font-size:10pt;font-weight:bold;color:#ffffff;padding:2px;background-color:#ff0000}
.esbErr {font-size:10pt;color:#000000;padding:5px}
afont.df  p {margin-top:0px}
div.forms-def .esbFormTable {}
div.forms-def .esbFormTable td {padding:1px;}
div.forms-def .esbFormLab {}
div.forms-def  td.esbFormLab {text-align:right;}
div.forms-def  td.esbFormFF {display:none}
div.forms-def .esbFormData {}
div.forms-def .esbFormBtn {}
div.forms-def .esbFormField {}



