#container {
	MARGIN: 0px auto; WIDTH: 702px; 
}
#mainContent {
	TEXT-ALIGN: left
}
BODY {
	FONT-FAMILY: arial, helvetica, serif; BACKGROUND-COLOR: #cccccc
}
#nav {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 10em; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#nav UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 10em; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#nav LI {
	FLOAT: left; MARGIN-BOTTOM: -1px; WIDTH: auto; LINE-HEIGHT: 2em; POSITION: relative
}
#nav LI UL {
	MARGIN-TOP: -2.05em; LEFT: -999em; MARGIN-LEFT: 10.1em; POSITION: absolute
}
#nav LI UL UL {
	LEFT: -999em
}
#nav LI A {
	DISPLAY: block; PADDING-LEFT: 2em; FONT-SIZE: 13px; WIDTH: 10em; COLOR: white; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BACKGROUND-COLOR: #410778; TEXT-DECORATION: none; BORDER-BOTTOM-STYLE: none
}
#nav LI A:hover {
	COLOR: white; BACKGROUND-COLOR: #b0cc29
}
#nav LI:hover UL UL {
	LEFT: -999em
}
#nav LI:hover UL UL UL {
	LEFT: -999em
}
#nav LI.sfhover UL UL {
	LEFT: -999em
}
#nav LI.sfhover UL UL UL {
	LEFT: -999em
}
#nav LI:hover UL {
	LEFT: auto
}
#nav LI LI:hover UL {
	LEFT: auto
}
#nav LI LI LI:hover UL {
	LEFT: auto
}
#nav LI.sfhover UL {
	LEFT: auto
}
#nav LI LI.sfhover UL {
	LEFT: auto
}
#nav LI LI LI.sfhover UL {
	LEFT: auto
}
#content {
	MARGIN-LEFT: 12em
}
.mini_nav {
	BORDER-RIGHT: #ffffff thin solid; BORDER-TOP: #ffffff thin solid; FONT-SIZE: 10px; COLOR: #410778; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: right; TEXT-DECORATION: none
}
.mini_nav A {
	FONT-SIZE: 10px; COLOR: #410778; BORDER-TOP-STYLE: none; FONT-FAMILY: Arial, Helvetica, sans-serif; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; TEXT-ALIGN: right; TEXT-DECORATION: none; BORDER-BOTTOM-STYLE: none
}
.mini_nav A:hover {
	FONT-SIZE: 10px; COLOR: #410778; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: right; TEXT-DECORATION: underline
}
.border_topright {
	BORDER-TOP: #ffffff thin solid; BORDER-LEFT-COLOR: #ffffff; BORDER-BOTTOM-COLOR: #ffffff; BORDER-RIGHT-STYLE: solid; BORDER-RIGHT-COLOR: #ffffff
}
.logo_top {
	BORDER-RIGHT: #ffffff thin solid; BORDER-TOP: #ffffff thin solid; Z-INDEX: 20; VERTICAL-ALIGN: top; BORDER-LEFT: #ffffff thin solid; POSITION: relative
}
.border_R {
	BORDER-RIGHT: #ffffff thin solid
}
.border_T_R_B_L {
	BORDER-RIGHT: #ffffff thin solid; BORDER-TOP: #ffffff thin solid; BORDER-LEFT: #ffffff thin solid; BORDER-BOTTOM: #ffffff thin solid
}
H1 {
	MARGIN-TOP: 20px; FONT-WEIGHT: bold; FONT-SIZE: 14px; Z-INDEX: 20; MARGIN-LEFT: 20px; COLOR: #ce821a; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: left
}
.copy {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; MARGIN-BOTTOM: 0px; COLOR: #666666; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.center_indent_home {
	MARGIN-LEFT: 40px; MARGIN-RIGHT: 20px
}
H2 {
	MARGIN-TOP: -5px; FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #666666; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.border_R_Lgrey {
	BORDER-RIGHT: #ffffff thin solid; VERTICAL-ALIGN: top; BORDER-LEFT: #cccccc 1px solid
}
.center_indent_other {
	MARGIN-LEFT: 20px; MARGIN-RIGHT: 20px
}
H3 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #666666; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.audition_table {
	MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 10px; VERTICAL-ALIGN: top
}
