body {
  background-color: #000;
  color: #fff;
  margin: 0;
  font-family: arial;
}
.dropdown:hover .dropdown-menu {
  display: block;
  background-color:#000 !important;
}
li a:hover {
        background: #000;
}


/*container*/

.container {
  min-width: 960px;
  max-width: 960px;
}

/*navigation*/

.navbar {
  background-color: #000;
  font-size: 20px;

}
.active{
font-family: 'Open Sans', sans-serif;
font-size: 20px;
color: #EC0B6D;}
.navbar {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;

}
.navbar a {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: #fff;


}
.navbar a:hover {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: #49C9F5;


}


.custom>li> a
{color:#fff;}
.custom>li> a:hover
{color:#49C9F5;
background-color:#000 !important;}
.custom {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #000;
  color: #fff;
  text-align: center;

  -webkit-background-clip: padding-box;
  background-clip: padding-box;

  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);}


/*social media icons*/

.social ul {
  list-style: none;
}
.social li {
  list-style-type: none;
  display: inline-block;
  line-height: 35px;
  margin-top: 5px;
  margin-right: 2px;
  margin-bottom: 2px;
  margin-left: 0px;
  vertical-align: middle;
  text-align: center;
  width: 35px;
  height: 35px;
  color: #000;
  font-size: 20px;
  background-color: #49C9F5;
}
.social li a {
  list-style: none;
  line-height: 35px;
  width: 35px;
  height: 35px;
  display: block;
  vertical-align: middle;
  text-align: center;
  color: #000;
  font-size: 20px;
  background-color: #49C9F5;
}
.social li a:hover {
  list-style: none;
  line-height: 35px;
  width: 35px;
  height: 35px;
  display: block;
  vertical-align: middle;
  text-align: center;
  font-size: 20px;
  background-color: #fff;
}
.dropdown:hover .dropdown-menu {
  display: block;
  background-color:#000 !important;
}
/*content*/
.content
{border: 10px solid #49c9f5}
