/* @override http://www.calvarytemple.org/templates/main/css/menu.css */

#addtocart {
	margin-left: 115px;
}

#left-menu {
	float:left;
	margin-top:39px;
	margin-bottom:21px;
}

#left-menu ul, #left-menu ul li ul {
	list-style-type:none;
	margin:0px;
	padding-left:0px;
}

#left-menu ul li ul {
	margin-top:0px;
	
}

#left-menu ul li ul ul {
	padding-left: 10px;
	margin-top: -5	px;
	margin-bottom:10px;
	width:140px;
}

#left-menu ul li {
	margin-bottom:10px;
}

#left-menu ul li a {
	display:block;
	width:140px;
	height:23px;
	padding:7px 0px 0px 10px;
	color:#ffffff;
	font-size:14px;
	font-weight:bold;
	text-transform:lowercase;
	text-decoration:none;
}

#left-menu ul li ul li {
	margin: 5px;
}

#left-menu ul li ul li a {
	display:block;
	width:120px;
	padding:6px 3px 6px 10px;
	height:auto;
	color:#7C6A55;
	font-size:9px;
	text-decoration:none;
	text-transform:none;
	margin-left:10px;
}

#left-menu ul li ul li a:hover {
	color:#ffffff;
}

#left-menu ul li ul li a.mainlevel_current {
	color:#ffffff;
}

/**** BEGIN ITEM-SPECIFIC MENU STYLES ****/

#left-menu ul li#menuitem_1 a {
	background:url(/clients/CalvaryTemple/Images/menubg_item1.gif) no-repeat;
}

#left-menu ul li#menuitem_1 ul li a {
	background:none;
}

#left-menu ul li#menuitem_1 ul li a:hover, #left-menu ul li#menuitem_1 ul li a.mainlevel_current {
	background:#B06010;
}



#left-menu ul li#menuitem_2 a {
	background:url(/clients/CalvaryTemple/Images/menubg_item2.gif) no-repeat;
}

#left-menu ul li#menuitem_2 ul li a {
	background:none;
}

#left-menu ul li#menuitem_2 ul li a:hover, #left-menu ul li#menuitem_2 ul li a.mainlevel_current {
	background:#0067AC;
}



#left-menu ul li#menuitem_3 a {
	background:url(/clients/CalvaryTemple/Images/menubg_item3.gif) no-repeat;
}

#left-menu ul li#menuitem_3 ul li a {
	background:none;
}

#left-menu ul li#menuitem_3 ul li a:hover, #left-menu ul li#menuitem_3 ul li a.sublevel_current {
	color:#ffffff;
	background:#B32317;
}



#left-menu ul li#menuitem_4 a {
	background:url(/clients/CalvaryTemple/Images/menubg_item4.gif) no-repeat;
}

#left-menu ul li#menuitem_4 ul li a {
	background:none;
	width: 112px;
}

#left-menu ul li#menuitem_4 ul li a:hover, #left-menu ul li#menuitem_4 ul li a.mainlevel_current {
	background:#4F6E18;
	
}



#left-menu ul li#menuitem_5 a {
	background:url(/clients/CalvaryTemple/Images/menubg_item5.gif) no-repeat;
}

#left-menu ul li#menuitem_5 ul li a {
	background:none;
}

#left-menu ul li#menuitem_5 ul li a:hover, #left-menu ul li#menuitem_5 ul li a.mainlevel_current {
	background:#005568;
}



#left-menu ul li#menuitem_6 a {
	background:url(/clients/CalvaryTemple/Images/menubg_item6.gif) no-repeat;
}

#left-menu ul li#menuitem_6 ul li a {
	background:none;
}

#left-menu ul li#menuitem_6 ul li a:hover, #left-menu ul li#menuitem_6 ul li a.mainlevel_current {
	background:#E89419;
}



#left-menu ul li#menuitem_7 a {
	background:url(/clients/CalvaryTemple/Images/menubg_item7.gif) no-repeat;
}

#left-menu ul li#menuitem_7 ul li a {
	background:none;
}

#left-menu ul li#menuitem_7 ul li a:hover, #left-menu ul li#menuitem_7 ul li a.mainlevel_current {
	background:#5A2049;
}


#left-menu ul li#menuitem_8 a {
	background:url(/clients/CalvaryTemple/Images/menubg_item8.gif) no-repeat;
}

#left-menu ul li#menuitem_8 ul li a {
	background:none;
}

#left-menu ul li#menuitem_8 ul li a:hover, #left-menu ul li#menuitem_8 ul li a.mainlevel_current {
	background:#5A2049;
}

/**** END ITEM-SPECIFIC MENU STYLES ****/
.sublevel{
	
}
