BODY {
	FONT-FAMILY: Arial, Helvetica, sans-serif; 
	margin: 0 auto;
	text-align:center;
	font-size: 12px; 
/*	font-size: 62.5%;*/	
	line-height: 170%;
	color: #828282; background:#ecdec1;
}

* {padding: 0px; margin : 0px}

A:link {color:#a78104; text-decoration: none}
A:visited {color:#a78104; text-decoration: none}
A:hover {COLOR: #684f40; text-decoration: underline}
A:active {COLOR: #990000; text-decoration: underline}

h1, h2, h3 { font-family: "Times New Roman", Times, serif; margin: 0 auto; padding: 0; line-height: 130%;  }

h1 { font-size: 24px; color: #a78104; padding: 10px 10px 4px 10px; font-weight:normal; letter-spacing:1px;}

h2 { font-size: 14px; color: #a78104; padding: 10px 8px 4px 8px; font-weight:bold; font-family:Arial, Helvetica, sans-serif}

h3 { font-size: 14px; color: #666;  padding: 8px 8px 4px 8px; font-style:italic; font-weight:bold;}

p {padding: 3px 10px; }

#wrapper { position: relative; width: 1000px; background:url(/clients/ClaremontResort/Images/bg.jpg) center repeat-y; margin: 0 auto; overflow:hidden;}

#container { 
	position:relative;
	background: #ffffff;
	width: 960px;
	margin: 0 auto;
	padding: 0;
	text-align:left;
	overflow:hidden;
}

#top {
	width: 960px;
	height: 110px;
	float: left;
	}

#logo {
	width: 466px;
	height: 84px;
	margin-left: 14px;
	margin-top: 12px;
	float:left; 
	}

#top-right {
	font-family:"Times New Roman", Times, serif;
	float: right;
	margin:15px 18px 0 0;
	font-size: 10px;
	/*font-weight:bold;*/
	text-align: right;
	color: #604736;
	letter-spacing: 2px;}
	
/* navigation menu */

#nav{
	width: 960px;
	height: 30px;
	text-align:center;
	padding: 0; margin: 0;
	float: left;
	}
	
#navcontainer { 
	width: 960px;
	height: 25px;
margin: 0;
padding: 5px 0 0 0; }

#navcontainer ul { 
	
list-style-type: none; margin: 0;
}

#navcontainer ul li { display: inline; font-family:Georgia, "Times New Roman", Times, serif; font-size: 12px; }

#navcontainer ul li a { text-decoration: none; padding: 8px 12px; color:#604736; }

#navcontainer ul li a:hover {color: #a78103;}

#photo {
	width: 960px; float:left; height: 528px; background:url(/clients/ClaremontResort/Images/banner/02.jpg); overflow:hidden; }

#admenu {
	width: 960px;
	list-style-type: none;
	margin: 0;
	float:left; text-align:center;
	overflow:hidden;
	}

#quickbooking { margin-right:6px; float: left; width: 188px; height: 192px; padding: 24px; background:#e3d1a8; color: #88715a; text-transform:uppercase; font-size:11px; text-align:left;}
#quickbooking h1 { font-family:"Times New Roman", Times, serif; font-size: 13px; color: #88715a; text-transform:uppercase; padding: 0; margin: 0 0 12px 0; }

#content {
	
	width: 960px;
	min-height:480px;
	margin: 4px 0 0 0;

	/*padding:4px 20px;
	text-align:left;*/

	}

#cont_main {
	width: 960px; margin: 0 0 0 5px;}
	
#cont_main_text {width: 960px;}
	
#masthead {width: 100%; height: 120px; background:#684f40;}

#masthead h1 {color: #FFFFFF; padding: 40px 0 0 30px;}

#cont_sec {
	width: 236px; float:left; margin: 0;}
	
#cont_sec ul.navsec { list-style-type:none;
text-transform:uppercase;
font-family:"Times New Roman", Times, serif;
font-size: 12px;
margin: 24px;
color:#684f40;}

#cont_sec ul.navsec li {padding: 3px 0;}


.tert {margin-left: 18px;}


	
#cont_main p {
	line-height: 185%;}

#left_ad {
	width: 240px;
	margin: 0;
	}

#left_ad img {padding: 10px 0;}

tr.dark td {
	background-color: #ebd699; 
}


#cont_main ul li {margin-left: 46px; padding: 2px;}

#top_bm ul {list-style-type:none; margin: 0;}

#top_bm ul li {display: inline; margin: 0; }

#top_bm ul li a {margin: 0; padding: 0 0 0 4px;}
.small {
	font-size:10px;}

.highlight {	background-color: #FC0; padding: 4px;}

.quote {
	font-style:italic;}

.fleft {float: left;}

.fright {float: right;}


#cont_main ul.photo {
	text-align:center;
	list-style-type: none;
	width: 610px;
	margin: 0;
	padding: 0;
	}

#cont_main ul.photo li {
	float: left;
	width: 150px;
	padding: 2em 0 1em 0;
	margin: 0 20px;
}

#siteinfo {
	font-family:"Times New Roman", Times, serif;
	letter-spacing: 1px;
	position:relative; float: left;
	width: 950px; 
	margin: 5px 0;
	padding: 5px;
	color: #6e5748;
	font-size: 10px; text-transform:uppercase;
}

#siteinfo p { margin: 0; padding:0;}

#top-right a:link, #address a:visited, #siteinfo a:link, #siteinfo a:visited { color: #6e5748;}
#top-right a:hover, #siteinfo a:hover { color: #a78103;}

.urbangreymenu{
width: 212px; /*width of menu*/
margin:24px 0 0 24px;
padding:0;
text-align: left;
font-family:"Times New Roman", Times, serif;
font-size: 12px;
color:#684f40;
}

.urbangreymenu h3{
margin:0 auto;
padding:0;
font-size: 12px; font-style:normal; line-height:16px;
}

.urbangreymenu .headerbar{
height: 28px;
clear: both;
font-weight:normal;
color: #684f40;
background: none;
margin: 0; /*bottom spacing between header and rest of content*/
text-transform: uppercase;
}

.urbangreymenu .headerbar a, .urbangreymenu .headerbar a:visited{
text-decoration: none;
font-weight:normal;
color: #684f40;
display: block;
line-height:16px;
padding: 0;
margin: 0;
}

.urbangreymenu .headerbar a:hover{
text-decoration: none;
color: #a78104;
display: block;
line-height:16px;
padding: 0;
margin: 0;
}

.urbangreymenu ul{
list-style-type: none;
margin: -8px 0 16px 0;
padding: 0;
}

.urbangreymenu ul li{
padding-bottom: 2px; /*bottom spacing between menu items*/
margin:0;
}

.urbangreymenu ul li a, .urbangreymenu ul li a:visited{
font: normal 11px;
color: #684f40;
background: none;
display: block;
padding: 0px;
height: 20px;
line-height: 20px;
text-decoration: none;
margin-left: 20px;
}

.urbangreymenu ul li a:hover{ /*hover state CSS*/
color: #a78104;
}

.urbangreymenu .selected a, .urbangreymenu .selected a:visited {
color: #a78104;
}

.urbangreymenu .headerbar a.selected, .urbangreymenu .headerbar a.selected:visited
 {color: #a78104; }

a.button:link, a.button:visited {color: #ffffff; background:#a78104; padding: 3px; text-decoration:none; margin: 10px 0;}

a.button:hover {color: #ffffff; background: #684f40;  text-decoration:none; }

#calendar table { font-size: 11px; }

#calendar tr.top td { background:#a78104; font-weight: bold; }

#calendar tr.top td a:link, #calendar tr.top td a:visited { color:#ffffff;}

#calendar tr.top td a:hover { color:#000000;}

#calendar tr.top1 td { padding-left: 10px; font-weight: bold; color:#a78104  }

#calendar tr td { padding: 8px 2px 6px 10px; line-height: 110%; }

#calendar tr.dark td { background-color: #ededed; }