BODY {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: left top; PADDING-LEFT: 0px; BACKGROUND-IMAGE: url( BACKGROUND-IMAGE: url(/PrivateLabel/DonTugo/Images/bg_main_bottom.gif);); PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BACKGROUND-REPEAT: repeat-x; FONT-FAMILY: Tahoma; BACKGROUND-COLOR: #01010d
}

A {
	FONT-SIZE: 11px; COLOR: #ffffff; TEXT-DECORATION: underline
}
A:hover {
	FONT-SIZE: 11px; COLOR: #9091a6; TEXT-DECORATION: none
}
.read A {
	FONT-WEIGHT: 600; COLOR: #9091a6; TEXT-DECORATION: underline
}
.read A:hover {
	FONT-WEIGHT: 600; COLOR: #9091a6; TEXT-DECORATION: none
}

.footer {
	FONT-SIZE: 11px; COLOR: #9091a6
}
.footer A {
	FONT-SIZE: 11px; COLOR: #9091a6; TEXT-DECORATION: underline
}
.footer A:hover {
	FONT-SIZE: 11px; COLOR: #9091a6; TEXT-DECORATION: none
}
