<!DOCTYPE html>
<head runat="server">
<asp:ContentPlaceHolder id="MasterHead" runat="server"></asp:ContentPlaceHolder>
</head>
<BODY leftmargin=0 rightmargin=0 topmargin=0 marginheight=0 marginwidth=0 >
<form id="form1" runat="server">
<div>


	<link rel="alternate" type="application/rss+xml" title="Centerpoint Legacy Theatre » Feed" href="http://www.centerpointtheatre.org/feed/">
<link rel="alternate" type="application/rss+xml" title="Centerpoint Legacy Theatre » Comments Feed" href="http://www.centerpointtheatre.org/comments/feed/">
<link rel="alternate" type="application/rss+xml" title="Centerpoint Legacy Theatre » Box Office Comments Feed" href="http://www.centerpointtheatre.org/project/box-office/feed/">
<meta content="Divi v.1.2" name="generator"><link rel="stylesheet" id="divi-fonts-css" href="/clients/CenterPointTheatre/Images/css_002.css" type="text/css" media="all">
<link rel="stylesheet" id="et-gf-open-sans-css" href="/clients/CenterPointTheatre/Images/css.css" type="text/css" media="all">
<link rel="stylesheet" id="divi-style-css" href="/clients/CenterPointTheatre/Images/style.css" type="text/css" media="all">
<link rel="stylesheet" id="et-shortcodes-css-css" href="/clients/CenterPointTheatre/Images/shortcodes.css" type="text/css" media="all">
<link rel="stylesheet" id="et-shortcodes-responsive-css-css" href="/clients/CenterPointTheatre/Images/shortcodes_responsive.css" type="text/css" media="all">
<script type="text/javascript" src="/clients/CenterPointTheatre/Images/jquery_004.js"></script>
<script type="text/javascript" src="/clients/CenterPointTheatre/Images/jquery-migrate.js"></script>
<script type="text/javascript" src="/clients/CenterPointTheatre/Images/jquery_003.js"></script>
<script type="text/javascript" src="/clients/CenterPointTheatre/Images/jquery.js"></script>
<script type="text/javascript" src="/clients/CenterPointTheatre/Images/jquery_002.js"></script>
<script type="text/javascript" src="/clients/CenterPointTheatre/Images/comment-reply.js"></script>
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://www.centerpointtheatre.org/Wordpress/xmlrpc.php?rsd">
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://www.centerpointtheatre.org/Wordpress/wp-includes/wlwmanifest.xml"> 
<link rel="prev" title="A Man For All Seasons" href="http://www.centerpointtheatre.org/project/a-man-for-all-seasons/">
<link rel="next" title="Scrooge" href="http://www.centerpointtheatre.org/project/scrooge/">
<meta name="generator" content="WordPress 3.8">
<link rel="canonical" href="http://www.centerpointtheatre.org/project/box-office/">
<link rel="shortlink" href="http://www.centerpointtheatre.org/?p=1678">
		<script type="text/javascript">
		var ajaxurl = 'http://www.centerpointtheatre.org/Wordpress/wp-admin/admin-ajax.php';
		</script>
	<link rel="stylesheet" type="text/css" href="/clients/CenterPointTheatre/Images/style_002.css">
                </head><body class="single single-project postid-1678 custom-background et_pb_pagebuilder_layout et_right_sidebar ie et_includes_sidebar su-other-shortcodes-loaded"><div style="display: none;" id="1678-wpf">
                <a href="http://www.centerpointtheatre.org/project/box-office/"><img alt="" src="/clients/CenterPointTheatre/Images/FloatingTickets.png" width="63" height="213"></a>                     </div>
				<script type="text/javascript">
                                jQuery(document).ready(function($) {
                                        jQuery('#1678-wpf').dcFloater({
                        width: '',
                        location: 'top',
                        align: 'right',
                        offsetLocation:150,
                        offsetAlign:0,
                        speedFloat:'',
                        tabText: '',
                        tabClose: false,
                        easing: 'easeOutQuint',
                        event: 'hover',
			                        disableFloat:true,
                        idWrapper: '1678-wpf-id',
                                                
                                        });
                                });
                        </script>


        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">	<style>
		a { color: #5c5e00; }

		body { color: #000000; }

		.et_pb_counter_amount, .et_pb_featured_table .et_pb_pricing_heading, .et_pb_pricing_table_button, .comment-reply-link, .form-submit input { background-color: #82b240; }

		.woocommerce a.button.alt, .woocommerce-page a.button.alt, .woocommerce button.button.alt, .woocommerce-page button.button.alt, .woocommerce input.button.alt, .woocommerce-page input.button.alt, .woocommerce #respond input#submit.alt, .woocommerce-page #respond input#submit.alt, .woocommerce #content input.button.alt, .woocommerce-page #content input.button.alt, .woocommerce a.button, .woocommerce-page a.button, .woocommerce button.button, .woocommerce-page button.button, .woocommerce input.button, .woocommerce-page input.button, .woocommerce #respond input#submit, .woocommerce-page #respond input#submit, .woocommerce #content input.button, .woocommerce-page #content input.button, .woocommerce-message, .woocommerce-error, .woocommerce-info { background-color: #82b240 !important; }

		#et_search_icon:hover, .mobile_menu_bar:before, .footer-widget h4, .et-social-icon a:hover, .et_pb_sum, .et_pb_pricing li a, .et_overlay:before { color: #82b240; }

		.woocommerce .star-rating span:before, .woocommerce-page .star-rating span:before { color: #82b240 !important; }

		.et-search-form, .nav li ul, .et_mobile_menu, .footer-widget li:before, .et_pb_pricing li:before { border-color: #82b240; }

		#main-footer { background-color: #5a6044; }

		#top-menu a { color: #4f0000; }

		#top-menu li.current-menu-ancestor > a, #top-menu li.current-menu-item > a { color: #89570a; }

	h1, h2, h3, h4, h5, h6 { font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif; }body, input, textarea, select { font-family: 'Open Sans', Helvetica, Arial, Lucida, sans-serif; }	</style>
<style type="text/css" id="custom-background-css">
body.custom-background { background-color: #ede9e3; background-image: url('/clients/CenterPointTheatre/Images/BackBackGround_LightFlourishWarm.jpg'); background-repeat: repeat-y; background-position: top center; background-attachment: fixed; }
</style>
<style type="text/css" id="et-custom-css">
.et_pb_section {padding-top: 10px;}
.et_pb_row { padding: 15px 0 0 0!important; }
.et_pb_image {margin-bottom: +5px;}
.home #main-header {margin-bottom: -10px;}
.home .et_pb_section:nth-child(2) {padding-top: +15px;} 

#logo {max-height:70px !important;}
//#top-menu {background-color: #000;}
#main-header {background-image: url(/clients/CenterPointTheatre/Images/Runner_BrushedNavBG.jpg) ;
background-color: #919d8f;}

#et_search_icon:before {display:none !important;}

Control Slider Dementions
.et_pb_container {
max-height: 100px !important;
}
.et_pb_slide_description {
padding: 300px 25px;
}
.et_pb_slide_image img {
margin-top: -150px;
}

.et_pb_slider a.et_pb_more_button {
background-color: rgba(126, 0, 0, 1)
}



//Code to lock down background image
//.et_pb_slider .et_pb_slide, .et_pb_section {
//-moz-background-size: contain;
//-webkit-background-size: contain;
//background-size: contain;
//}
</style>

	<header id="main-header">
		<div class="container clearfix">
					<a href="http://www.centerpointtheatre.org/">
				<img src="/clients/CenterPointTheatre/Images/CPTLogoSMHeader3.png" alt="Centerpoint Legacy Theatre" id="logo">
			</a>

			<div id="et-top-navigation">
				<nav id="top-menu">
				<ul id="top-menu" class="nav"><li id="menu-item-1681" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item menu-item-1681"><a href="http://www.centerpointtheatre.org/project/box-office/">Box Office</a></li>
<li id="menu-item-1925" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1925"><a href="#">Our Seasons</a>
<ul class="sub-menu">
	<li id="menu-item-103" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-103"><a href="http://www.centerpointtheatre.org/donate/">Barlow Main Stage</a>
	<ul class="sub-menu">
		<li id="menu-item-642" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-642"><a href="http://www.centerpointtheatre.org/project/forever-plaid/">Forever Plaid</a></li>
		<li id="menu-item-436" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-436"><a href="http://www.centerpointtheatre.org/project/the-sound-of-music/">Sound of Music</a></li>
		<li id="menu-item-644" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-644"><a href="http://www.centerpointtheatre.org/project/man-of-la-mancha/">Man of La Mancha</a></li>
		<li id="menu-item-646" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-646"><a href="http://www.centerpointtheatre.org/project/children-of-eden/">Children of Eden</a></li>
		<li id="menu-item-648" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-648"><a href="http://www.centerpointtheatre.org/project/peter-pan/">Peter Pan</a></li>
		<li id="menu-item-650" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-650"><a href="http://www.centerpointtheatre.org/project/jekyll-hyde/">Jekyll &amp; Hyde</a></li>
		<li id="menu-item-652" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-652"><a href="http://www.centerpointtheatre.org/project/scrooge/">Scrooge</a></li>
	</ul>
</li>
	<li id="menu-item-184" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-184"><a href="http://www.centerpointtheatre.org/leishman-performance-hall/">Leishman Performance Hall</a>
	<ul class="sub-menu">
		<li id="menu-item-655" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-655"><a href="http://www.centerpointtheatre.org/project/a-man-for-all-seasons/">A Man For All Seasons</a></li>
		<li id="menu-item-658" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-658"><a href="http://www.centerpointtheatre.org/project/the-odd-couple/">The Odd Couple</a></li>
		<li id="menu-item-661" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-661"><a href="http://www.centerpointtheatre.org/project/the-complete-works-of-william-shakespeare-abridged">The Complete Works of William Shakespeare (Abridged)</a></li>
		<li id="menu-item-664" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-664"><a href="http://www.centerpointtheatre.org/project/its-a-wonderful-life-a-live-radio-play">It’s a Wonderful Life: A Live Radio Play</a></li>
	</ul>
</li>
	<li id="menu-item-391" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-391"><a href="http://www.centerpointtheatre.org/centerpoint-academy/childrens-production-season/">Academy Productions</a></li>
	<li id="menu-item-183" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-183"><a href="http://www.centerpointtheatre.org/our-seasons/upcoming-season/">Upcoming Season</a></li>
</ul>
</li>
<li id="menu-item-741" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-741"><a href="#">Academy</a>
<ul class="sub-menu">
	<li id="menu-item-102" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-102"><a href="http://www.centerpointtheatre.org/centerpoint-academy/">Centerpoint Academy</a></li>
	<li id="menu-item-224" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-224"><a href="http://www.centerpointtheatre.org/centerpoint-academy/classes-offered/">Classes Offered</a></li>
	<li id="menu-item-223" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-223"><a href="http://www.centerpointtheatre.org/centerpoint-academy/childrens-production-season/">Academy Season</a></li>
</ul>
</li>
<li id="menu-item-1628" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1628"><a href="#">About Us</a>
<ul class="sub-menu">
	<li id="menu-item-105" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-105"><a href="http://www.centerpointtheatre.org/policies-and-procedures/">About Us</a></li>
	<li id="menu-item-1334" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1334"><a href="http://www.centerpointtheatre.org/policies-and-procedures/contact-us/">Contact Us</a></li>
	<li id="menu-item-106" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-106"><a href="http://www.centerpointtheatre.org/policies-and-procedures/mission-statement/">Mission Statement</a></li>
	<li id="menu-item-107" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-107"><a href="http://www.centerpointtheatre.org/policies-and-procedures/board-members/">Board Members</a>
	<ul class="sub-menu">
		<li id="menu-item-108" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-108"><a href="http://www.centerpointtheatre.org/policies-and-procedures/board-members/board-notes/">Board Notes</a></li>
		<li id="menu-item-109" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-109"><a href="http://www.centerpointtheatre.org/policies-and-procedures/board-members/monthly-newsletters/">Monthly Newsletters</a></li>
	</ul>
</li>
	<li id="menu-item-101" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-101"><a href="http://www.centerpointtheatre.org/policies-and-procedures/employee-directory/">Employee Directory</a></li>
</ul>
</li>
<li id="menu-item-1629" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1629"><a href="#">Join Us</a>
<ul class="sub-menu">
	<li id="menu-item-215" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-215"><a href="http://www.centerpointtheatre.org/join-us/volunteerism/">Volunteers</a></li>
	<li id="menu-item-213" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-213"><a href="http://www.centerpointtheatre.org/join-us/donations/">Donations</a></li>
	<li id="menu-item-211" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-211"><a href="http://www.centerpointtheatre.org/join-us/bricks-and-pavers/">Seats and Pavers</a></li>
	<li id="menu-item-214" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-214"><a href="http://www.centerpointtheatre.org/join-us/sponsorship/">Sponsorship</a></li>
	<li id="menu-item-210" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-210"><a href="http://www.centerpointtheatre.org/join-us/encore-club/">Encore Club</a></li>
	<li id="menu-item-209" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-209"><a href="http://www.centerpointtheatre.org/join-us/bravo-high-school-program/">Bravo! High School Program</a></li>
	<li id="menu-item-216" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-216"><a href="http://www.centerpointtheatre.org/join-us/employment/">Employment</a></li>
	<li id="menu-item-98" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-98"><a href="http://www.centerpointtheatre.org/auditions/">Auditions</a></li>
</ul>
</li>
<li id="menu-item-110" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-110"><a href="http://www.centerpointtheatre.org/rentals/">Rentals</a></li>
<li id="menu-item-1578" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1578"><a href="http://www.flickr.com/photos/ronrussell/collections/72157617412744726/">Photos</a></li>
</ul>				</nav>

				<div id="et_top_search">
					<span id="et_search_icon"></span>
					
				</div>

				<div id="et_mobile_nav_menu"><a href="#" class="mobile_nav closed"><span class="mobile_menu_bar"></span><ul id="mobile_menu" class="et_mobile_menu"><li id="menu-item-1681" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item menu-item-1681 et_first_mobile_item"><a href="http://www.centerpointtheatre.org/project/box-office/">Box Office</a></li>
<li id="menu-item-1925" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1925"><a href="#">Our Seasons</a>
<ul class="sub-menu">
	<li id="menu-item-103" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-103"><a href="http://www.centerpointtheatre.org/donate/">Barlow Main Stage</a>
	<ul class="sub-menu">
		<li id="menu-item-642" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-642"><a href="http://www.centerpointtheatre.org/project/forever-plaid/">Forever Plaid</a></li>
		<li id="menu-item-436" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-436"><a href="http://www.centerpointtheatre.org/project/the-sound-of-music/">Sound of Music</a></li>
		<li id="menu-item-644" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-644"><a href="http://www.centerpointtheatre.org/project/man-of-la-mancha/">Man of La Mancha</a></li>
		<li id="menu-item-646" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-646"><a href="http://www.centerpointtheatre.org/project/children-of-eden/">Children of Eden</a></li>
		<li id="menu-item-648" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-648"><a href="http://www.centerpointtheatre.org/project/peter-pan/">Peter Pan</a></li>
		<li id="menu-item-650" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-650"><a href="http://www.centerpointtheatre.org/project/jekyll-hyde/">Jekyll &amp; Hyde</a></li>
		<li id="menu-item-652" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-652"><a href="http://www.centerpointtheatre.org/project/scrooge/">Scrooge</a></li>
	</ul>
</li>
	<li id="menu-item-184" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-184"><a href="http://www.centerpointtheatre.org/leishman-performance-hall/">Leishman Performance Hall</a>
	<ul class="sub-menu">
		<li id="menu-item-655" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-655"><a href="http://www.centerpointtheatre.org/project/a-man-for-all-seasons/">A Man For All Seasons</a></li>
		<li id="menu-item-658" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-658"><a href="http://www.centerpointtheatre.org/project/the-odd-couple/">The Odd Couple</a></li>
		<li id="menu-item-661" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-661"><a href="http://www.centerpointtheatre.org/project/the-complete-works-of-william-shakespeare-abridged">The Complete Works of William Shakespeare (Abridged)</a></li>
		<li id="menu-item-664" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-664"><a href="http://www.centerpointtheatre.org/project/its-a-wonderful-life-a-live-radio-play">It’s a Wonderful Life: A Live Radio Play</a></li>
	</ul>
</li>
	<li id="menu-item-391" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-391"><a href="http://www.centerpointtheatre.org/centerpoint-academy/childrens-production-season/">Academy Productions</a></li>
	<li id="menu-item-183" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-183"><a href="http://www.centerpointtheatre.org/our-seasons/upcoming-season/">Upcoming Season</a></li>
</ul>
</li>
<li id="menu-item-741" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-741"><a href="#">Academy</a>
<ul class="sub-menu">
	<li id="menu-item-102" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-102"><a href="http://www.centerpointtheatre.org/centerpoint-academy/">Centerpoint Academy</a></li>
	<li id="menu-item-224" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-224"><a href="http://www.centerpointtheatre.org/centerpoint-academy/classes-offered/">Classes Offered</a></li>
	<li id="menu-item-223" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-223"><a href="http://www.centerpointtheatre.org/centerpoint-academy/childrens-production-season/">Academy Season</a></li>
</ul>
</li>
<li id="menu-item-1628" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1628"><a href="#">About Us</a>
<ul class="sub-menu">
	<li id="menu-item-105" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-105"><a href="http://www.centerpointtheatre.org/policies-and-procedures/">About Us</a></li>
	<li id="menu-item-1334" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1334"><a href="http://www.centerpointtheatre.org/policies-and-procedures/contact-us/">Contact Us</a></li>
	<li id="menu-item-106" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-106"><a href="http://www.centerpointtheatre.org/policies-and-procedures/mission-statement/">Mission Statement</a></li>
	<li id="menu-item-107" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-107"><a href="http://www.centerpointtheatre.org/policies-and-procedures/board-members/">Board Members</a>
	<ul class="sub-menu">
		<li id="menu-item-108" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-108"><a href="http://www.centerpointtheatre.org/policies-and-procedures/board-members/board-notes/">Board Notes</a></li>
		<li id="menu-item-109" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-109"><a href="http://www.centerpointtheatre.org/policies-and-procedures/board-members/monthly-newsletters/">Monthly Newsletters</a></li>
	</ul>
</li>
	<li id="menu-item-101" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-101"><a href="http://www.centerpointtheatre.org/policies-and-procedures/employee-directory/">Employee Directory</a></li>
</ul>
</li>
<li id="menu-item-1629" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1629"><a href="#">Join Us</a>
<ul class="sub-menu">
	<li id="menu-item-215" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-215"><a href="http://www.centerpointtheatre.org/join-us/volunteerism/">Volunteers</a></li>
	<li id="menu-item-213" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-213"><a href="http://www.centerpointtheatre.org/join-us/donations/">Donations</a></li>
	<li id="menu-item-211" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-211"><a href="http://www.centerpointtheatre.org/join-us/bricks-and-pavers/">Seats and Pavers</a></li>
	<li id="menu-item-214" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-214"><a href="http://www.centerpointtheatre.org/join-us/sponsorship/">Sponsorship</a></li>
	<li id="menu-item-210" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-210"><a href="http://www.centerpointtheatre.org/join-us/encore-club/">Encore Club</a></li>
	<li id="menu-item-209" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-209"><a href="http://www.centerpointtheatre.org/join-us/bravo-high-school-program/">Bravo! High School Program</a></li>
	<li id="menu-item-216" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-216"><a href="http://www.centerpointtheatre.org/join-us/employment/">Employment</a></li>
	<li id="menu-item-98" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-98"><a href="http://www.centerpointtheatre.org/auditions/">Auditions</a></li>
</ul>
</li>
<li id="menu-item-110" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-110"><a href="http://www.centerpointtheatre.org/rentals/">Rentals</a></li>
<li id="menu-item-1578" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1578"><a href="http://www.flickr.com/photos/ronrussell/collections/72157617412744726/">Photos</a></li>
</ul></a></div>			</div> <!-- #et-top-navigation -->
		</div> <!-- .container -->
	</header> <!-- #main-header -->
<div id="main-content">


			
				<article id="post-1678" class="post-1678 project type-project status-publish hentry">

				
					<div class="entry-content">
					<div class="et_pb_section et_pb_fullwidth_section">
			<div class="et_pb_slider et_pb_slider_no_arrows et_pb_slider_no_pagination">
			<div class="et_pb_slides">
				<div class="et_pb_slide et_pb_slide_with_image et_pb_bg_layout_dark et-pb-active-slide" style="background-color:#ffffff;background-image:url(/clients/CenterPointTheatre/Images/BoxOfficeHeader.jpg);">
			<div style="min-height: 540px;" class="et_pb_container clearfix">
				<div class="et_pb_slide_image"><img src="/clients/CenterPointTheatre/Images/Empty.png" alt=""></div>
				<div class="et_pb_slide_description">
					
					<div class="et_pb_slide_content"></div>
					
				</div> <!-- .et_pb_slide_description -->
			</div> <!-- .et_pb_container -->
			
		</div> <!-- .et_pb_slide -->
		
			</div> <!-- .et_pb_slides -->
		</div> <!-- .et_pb_slider -->
		
			
		</div> <!-- .et_pb_section --><div class="et_pb_section">
 <!-- .et_pb_row --><div class="et_pb_row">
		<!--TIX DATA START-->
	
<asp:ContentPlaceHolder id="MasterContent" runat="server"></asp:ContentPlaceHolder>
		</div> <!-- .et_pb_row -->
					</div> <!-- .entry-content -->

				
				</article> <!-- .et_pb_post -->

						

</div> <!-- #main-content -->

	<footer id="main-footer">
		
<div class="container">
	<div id="footer-widgets" class="clearfix">
	<div class="footer-widget"><div id="text-13" class="fwidget widget_text">			<div class="textwidget"><a href="http://www.centerpointtheatre.org/media/"><img src="/clients/CenterPointTheatre/Images/MediaAndPressButton1.jpg"></a></div>
		</div> <!-- end .fwidget --></div> <!-- end .footer-widget --><div class="footer-widget"><div id="text-12" class="fwidget widget_text">			<div class="textwidget"><a href="http://www.centerpointtheatre.org/auditions/"><img src="/clients/CenterPointTheatre/Images/ActorsAudition.jpg"></a></div>
		</div> <!-- end .fwidget --></div> <!-- end .footer-widget --><div class="footer-widget"><div id="text-6" class="fwidget widget_text">			<div class="textwidget"><a href="http://www.centerpointtheatre.org/actors-resources/"><img src="/clients/CenterPointTheatre/Images/ActorsLogin.jpg" alt="Actors Login"></a>

</div>
		</div> <!-- end .fwidget --></div> <!-- end .footer-widget --><div class="footer-widget last"><div id="text-5" class="fwidget widget_text"><h4 class="title">Contact CPT</h4>			<div class="textwidget"><p>525 N 400 W<br>
Centerville UT, 84014<br>
801-298-1302 </p>
</div>
		</div> <!-- end .fwidget --></div> <!-- end .footer-widget -->	</div> <!-- #footer-widgets -->
</div>	<!-- .container -->
		<div id="footer-bottom">
			<div class="container clearfix">
				<ul id="et-social-icons">
									<li class="et-social-icon et-social-facebook">
						<a href="https://www.facebook.com/CenterPointLegacyTheatre">
							<span>Facebook</span>
						</a>
					</li>
													<li class="et-social-icon et-social-twitter">
						<a href="https://twitter.com/CPT_Theatre">
							<span>Twitter</span>
						</a>
					</li>
																</ul>

				<p id="footer-info">Designed by <a href="http://www.r63media.com/" title="Media for the Masses Themes">R63 Media</a> | Media for the Masses <a href=""></a></p>
			</div>	<!-- .container -->
		</div>
	</footer> <!-- #main-footer -->

	<div class="wu-slider wu-left" style="top:18%;">	  
		
			
		 <div class="wu-icon">
		  <a href="http://www.facebook.com/CenterPointLegacyTheatre" target="_blank"> <img src="/clients/CenterPointTheatre/Images/facebook.png" class="wu-48"> </a>	
		 </div>	
		 
	 
		 
		
	  
	 	  
		
			
		 <div class="wu-icon">
		  <a href="https://twitter.com/CPT_Theatre" target="_blank"> <img src="/clients/CenterPointTheatre/Images/twitter.png" class="wu-48"> </a>	
		 </div>	
		 
	 
		 
		
	  
	 	  
		
			
		 <div class="wu-icon">
		  <a href="http://www.youtube.com/user/CenterPointTheatre1" target="_blank"> <img src="/clients/CenterPointTheatre/Images/youtube.png" class="wu-48"> </a>	
		 </div>	
		 
	 
		 
		
	  
	 </div>
	 </div>
</form>
</body>
</html>