BODY {
	FONT-SIZE: small; MARGIN: 0px; FONT-FAMILY: Verdana, Helvetica, Arial, sans-serif; BACKGROUND-COLOR: #ffffff
}
#main {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 100%; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; BACKGROUND-COLOR: #b0c4de
}
#sidebar {
	BORDER-RIGHT: #675c47 thin groove; PADDING-RIGHT: 10px; BORDER-TOP: #675c47 thin groove; PADDING-LEFT: 10px; FONT-SIZE: 95%; PADDING-BOTTOM: 10px; MARGIN: 0px 0px 10px 13px; BORDER-LEFT: #675c47 thin groove; PADDING-TOP: 10px; BORDER-BOTTOM: #675c47 thin groove; BACKGROUND-COLOR: #f8b340
}
#footer {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; FONT-SIZE: 90%; PADDING-BOTTOM: 15px; MARGIN: 15px 5px 10px 15px; PADDING-TOP: 15px; BACKGROUND-COLOR: #b0c4de; TEXT-ALIGN: center
}
#header {
	MARGIN: 10px 0px 5px 35px; HEIGHT: 192px; BACKGROUND-COLOR: #ffffff
}
#tablenav {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; MARGIN: 10px; PADDING-TOP: 5px; BACKGROUND-COLOR: #666666; border-spacing: 7px
}
#tableset {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 95%; PADDING-BOTTOM: 5px; MARGIN: 0px 10px 5px 7px; WIDTH: 560px; PADDING-TOP: 5px; BACKGROUND-COLOR: #ffffff
}
#tablelocal {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 90%; PADDING-BOTTOM: 5px; MARGIN: 0px 10px 5px 7px; WIDTH: 580px; LINE-HEIGHT: 1.9em; PADDING-TOP: 5px; BACKGROUND-COLOR: #ffffff
}
.cellcolor {
	FONT-SIZE: 90%; WIDTH: 560px; BACKGROUND-COLOR: #fff8dc
}
.cellcolor2 {
	FONT-SIZE: 90%; WIDTH: 560px; BACKGROUND-COLOR: #b0c4de
}
TABLE {
	/*TABLE-LAYOUT: fixed*/
}
LI.inline {
	BORDER-RIGHT: #800000 1px dotted; PADDING-RIGHT: 3px; DISPLAY: inline; PADDING-LEFT: 2px; FONT-SIZE: 85%
}
LI.last {
	PADDING-RIGHT: 2px; DISPLAY: inline; PADDING-LEFT: 4px; FONT-SIZE: 85%; BORDER-RIGHT-WIDTH: 0px
}
H1 {
	FONT-SIZE: 120%; COLOR: #000080
}
H2 {
	FONT-SIZE: 110%
}
A:link {
	COLOR: #000080; /*BORDER-BOTTOM: #800000 thin dotted;*/ TEXT-DECORATION: none
}
A:visited {
	COLOR: #000080; BORDER-BOTTOM: #800000 thin dotted; TEXT-DECORATION: none
}
A:hover {
	COLOR: #ad552c; TEXT-DECORATION: none
}
#sidebar {
	FLOAT: right; WIDTH: 170px
}
#main {
	MARGIN-LEFT: 15px; MARGIN-RIGHT: 203px
}
UL {
	LIST-STYLE-IMAGE: url(smplane.gif); MARGIN-LEFT: 0px
}
TABLE#tablelocal A {
	TEXT-DECORATION: none
}
#footer {
	CLEAR: both
}
#allcontent {
	PADDING-BOTTOM: 5px; MARGIN-LEFT: auto; WIDTH: 800px; MARGIN-RIGHT: auto; PADDING-TOP: 5px; BACKGROUND-COLOR: #ffffff
}
