<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<head runat="server">
<asp:ContentPlaceHolder id="MasterHead" runat="server"></asp:ContentPlaceHolder>
</head>
<BODY leftmargin=0 rightmargin=0 topmargin=0 marginheight=0 marginwidth=0 >
<form id="form1" runat="server">
<div>
<title>Art &amp; Science Center for Southeast Arkansas</title><!-- InstanceEndEditable -->
<style type="text/css"><!--
.style1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: normal;
}
.style3 {font-family: Arial, Helvetica, sans-serif; font-size: small; }
-->
a:link { color: black; text-decoration: none }
a:active { color: yellow; text-decoration: none }
a:visited { color: black; text-decoration: none }
a:hover { color: red; text-decoration: underline }
.style5 {font-family: Arial, Helvetica, sans-serif; font-size: medium; }
.style4 {font-size: 14px}
.style5 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
}
.title {
	font-family: "Times New Roman", Times, serif;
	font-size: 50px;
	font-weight: bolder;
	color: #FFCC33;
}
--></style><!-- InstanceBeginEditable name="head" -->
<style type="text/css"><!--
.style1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: normal;
}
.style3 {font-family: Arial, Helvetica, sans-serif; font-size: small; }
-->
a:link { color: black; text-decoration: none }
a:active { color: yellow; text-decoration: none }
a:visited { color: black; text-decoration: none }
a:hover { color: red; text-decoration: underline }
.style5 {font-family: Arial, Helvetica, sans-serif; font-size: medium; }
.style4 {font-size: 14px}
.style5 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
}
.title {
	font-family: "Times New Roman", Times, serif;
	font-size: 50px;
	font-weight: bolder;
	color: #FFCC33;
}
--></style>
<style type="text/css"><!--
.style1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: normal;
}
.style3 {font-family: Arial, Helvetica, sans-serif; font-size: small; }
-->
a:link { color: black; text-decoration: none }
a:active { color: yellow; text-decoration: none }
a:visited { color: black; text-decoration: none }
a:hover { color: red; text-decoration: underline }
.style5 {font-family: Arial, Helvetica, sans-serif; font-size: medium; }
.style4 {font-size: 14px}
.style5 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
}
.title {
	font-family: "Times New Roman", Times, serif;
	font-size: 50px;
	font-weight: bolder;
	color: #FFCC33;
}
.style10 {
	font-family: "Times New Roman", Times, serif;
	font-size: 14px;
	font-weight: bold;
}
.style13 {font-size: 14px; font-weight: bold; }
.style14 {font-size: xx-large; font-weight: bold; }
--></style><!-- InstanceEndEditable -->
<script src="/clients/ArtsScienceCenter/Images/ga.js" async="" type="text/javascript"></script><script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-38623562-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body bgcolor="">
<table border="0" cellpadding="0" cellspacing="0" height="" width="873">
<tbody>
<tr>
<td colspan="6" class="style1" align="right" bgcolor="" height="143" valign="bottom">
<div class="style1" align="right"><img src="/clients/ArtsScienceCenter/Images/ascpb_logo.gif" alt="Arts &amp; Science Center for Southeast Arkansas" align="left" border="0" height="126" hspace="4" vspace="4" width="505"><img src="/clients/ArtsScienceCenter/Images/asc.png" alt="Arts &amp; Science Center for Southeast Arkansas" height="143" width="359"></div></td></tr>
<tr>
<td colspan="6" class="style1" align="right" bgcolor="#FF0000" height="20" valign="bottom">
<div class="style1" align="right"><a href="http://artssciencecenter.org/galleries/galleries.html">In the Galleries</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://artssciencecenter.org/stage/current.html">&nbsp;Performing Arts</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://artssciencecenter.org/events/classes.html">Classes&nbsp;</a>&nbsp;&nbsp;&nbsp;<a href="http://artssciencecenter.org/galleries/ADN1.html">&nbsp;&nbsp;Science Exhibits</a><a href="http://artssciencecenter.org/galleries/Newton%27s%20Corner.html">&nbsp;&nbsp;</a></div></td></tr></tbody></table>
<table border="0" cellpadding="0" cellspacing="0" height="1836" width="873">
<tbody>
<tr>
<td rowspan="3" align="right" bgcolor="" valign="top" width="160">
<p><span class="style4"><span class="style1"><br>
<br><a href="http://artssciencecenter.org/index.html">Home</a></span></span></p>
<p class="style3"><a href="http://artssciencecenter.org/about/about.html">About</a></p>
<p class="style3"><a href="http://artssciencecenter.org/galleries/galleries.html">In the Galleries</a><br>
<br><a href="http://artssciencecenter.org/stage/current.html">On Stage</a></p>
<p class="style3"><a href="http://artssciencecenter.org/live5/live5.html">Live@5</a></p>
<p class="style3"><a href="http://artssciencecenter.org/events/events.html">Events and Programs</a></p>
<p class="style3"><a href="http://artssciencecenter.org/classes/classes.html" title="">Classes and Camps</a></p>
<p class="style3"><a href="http://artssciencecenter.org/classes/lessonplans.html" title="">For Educators</a></p>
<p class="style3"><a href="http://artssciencecenter.org/science/adn.html">Science Exhibits</a></p>
<p class="style3"><a href="http://artssciencecenter.org/visit/directions.html">Visit the Museum</a></p>
<p class="style3"><a href="http://artssciencecenter.org/member/join.html">Become a Member</a></p>
<p class="style3"><a href="http://artssciencecenter.org/help/volunteers.html">How to Help</a></p>
<p class="style3"><a href="http://artssciencecenter.org/contact/contact.html">Contact Us</a><br>
</p></td>
<td bgcolor="black" width="1">
<spacer type="block" width="1"></spacer></td>
<td valign="top" align="center">
<!--TIX DATA START-->
<asp:ContentPlaceHolder id="MasterContent" runat="server"></asp:ContentPlaceHolder>

</td>
<td  align="center">
<h6>&nbsp;</h6></td>
<td class="style1" valign="top"><br>
</td>
<td bgcolor="#000000" width="1"><img src="/clients/ArtsScienceCenter/Images/blank.gif" alt="" border="0" height="1" width="1"></td></tr></tbody></table>
<table border="0" cellpadding="0" cellspacing="0" height="" width="873">
<tbody>
<tr height="20">
<td style="padding: 15px" center"="" class="style5" bgcolor="#ffffff" height="96" valign="bottom">
<div align="center">About | Exhibits | Events | News | Contact   In the 
Gallery | On the Stage | Summer Camps | Traveling Exhibits | Calendar of
 Events | Donate | Volunteer Kids’ Science ExhibitsVisit the Museum 
Become a MemberHow to Help Contact Us<br>
<br></div>
<div class="style5" align="center">Arts and Science Center for Southeast Arkansas 870-536-3375     *      info@artssciencecenter.org     *      Pine Bluff, AR<br>
      C 2008 Copyright Arts and Science Center for Southeast Arkansas</div></td></tr></tbody></table>
</div>
</form>
</body>
</html>
