.tabs_content_container input#generate-book-list.button {
margin: 10px 10px 10px 0;
}

.tabs_content_container div#no-items.block-item {
margin: 33px 0 0 0;
min-height: 201px;
}

div#no-items.block-item {
margin: 25px 0 0 0;
}

div.block-item {
min-height: 167px;
}

#full-page .block-textbookexpress {
	width:100%;
	margin:0;
	padding:0;
	background:transparent;
	border:none;
}

#full-page .block-textbookexpress h5 {
	color: #00529B;/*set color of header texts*/
	font-weight:400;
	font-size:1.7em;
	margin-bottom:1em;
	padding-left:6px;
}


#full-page a.action-link, #full-page .block-textbookexpress h3 a {
	display:none;
}

#full-page .block-item, #full-page #course-selector {width:45%;}

#full-page #course-selector {
	display:block !important;
	margin-right:4%;
}

#full-page .block-item{
	margin-top:25px;
	padding-bottom:10px;
}

#full-page ol#section-list li {
	padding:3px 6px;
}

#full-page ol#section-list li:nth-child(odd) {
	background:#EEE;
}

#full-page ol#section-list li a {
	float:right;
}

#full-page a.morecourses {
	clear:right;
	margin-bottom:10px;
	cursor:pointer;
}


input#tbe-add-section.button {
margin: 10px 23px 10px 0;
float: left;
}

.menu-trigger {
	display:none;
}

div#content {margin: 0 auto;max-width: 960px;width: 98%;}
div#content.two-col div#main {max-width: 926px;padding: 1%;width: 98%;}
div#footer {min-width: inherit;}

.adspace-left {width:49%;margin-right:.5%;}
.adspace-right {width: 48.9%;}
.tabs_content_container .block-onecol, .tabs_content_container .block-twocol, div#content.two-col .tabs_content_container div#main {margin: 0 0 8px;padding: 2%;width: 100%;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;max-width:inherit;}
.tabs_content_container .product {width:29% !important}
.tabs_content_container select, div#main form .block-course-select select.box {width:98%;padding:2%;}
.tabs_content_container div.block-item {width:47.5%; min-height:200px; margin:33px 0 0 0;}
.theme-light.slider-wrapper {max-width: 960px;width: 98% !important;height:100% !important;overflow:hidden;}
.theme-light .nivoSlider {height:100% !important;width:99.4%;}
.nivo-caption {height:auto !important;}
div#header {min-width:inherit;padding:5px 2%;width:96%;}
#site-name {height: auto;margin-left: 0;padding: 0;width: auto;}
#header div#site-name a {margin:0;width:auto;}
div#nav {margin:-5px 0 0 0;}
.cart-content {height:80px;width:60px;}
#subhead {min-width:inherit;width:98%;height:auto;max-width:960px;}
#GMnav {min-width:30%;width:62%;height:auto;line-height:normal;padding:8px 0;}
#GMsearch {width:38%;float:left;margin:0;}
.GMmenu {padding:0}
.GMmenu li a {margin:0 24px 0 0;}
.GMmenu li {margin:0;}
input#txtSearch.box {width:236px;}

div#content.three-col div#main {width:70%;margin:0;padding:2%;}
div#content.three-col div#sub-nav {margin:0;width:23%;padding:0;}
.product {width:28%;margin:4% 2%;}
.product a:first-child {display:block;min-height:175px;}
.product-list .product-thumb, .product-thumb {width:100%;min-height:0 !important; max-height:800px !important;max-width:174px;}
.product-name a, .product-price a, .category-link a {display:inline !important;}
#product-info {width:50%;margin:0;}
div#product-photo {width:45%;margin:0;}
#product-photo img, div.book-cover img {margin: 3% auto;max-width: 200px;width: 94%;}
#main #enlarge {margin: auto;width: 140px;}
.product-feature .product {width:46%;}

a.close-jqm {width:27px;height:27px;}


@media screen and (max-width: 885px) {

/* Navigation
--------------------------------------------------------------------------------------- */
#subhead {
	height:50px;
	position:relative;
}

.adspace-right {width: 48%;min-width:0px;}
.adspace-left {width: 48%;min-width:0px;}

.cart-content {height:80px;width:60px;}

div#GMnav {
	display:none;
}

.menu-trigger {
	background:url(../../images/menu.png) no-repeat center center;
	background-size:100% auto;
	display:block;
	cursor: pointer;
	height:2rem;
	width:2rem;
	margin:20px 0 0 10px;
	-webkit-transition:.3s;
	transition:.3s;
}

.menu-trigger.rotate {
	-webkit-transform:rotate(180deg);
	transform:rotate(180deg);
}

.menu-trigger span {
	visibility:hidden;
}

#GMnav {
	width:100%;
	min-width:320px;
	height:auto;
	padding:0 0 0 0;
	margin-bottom:20px;
	padding-left:10px;
}

.GMmenu li, ul#nav-textbook li {
	width:100%;
	border-right:0;
	font-family: "Dosis";
}

ul#nav-textbook li {
	padding:6px 0;
}

ul.GMmenu {
	margin:0 !important;
	padding:0;
	float:left;
}

ul#nav-textbook {
	margin:0 !important;
	padding:0;
	float:left;
}


ul#nav-textbook, ul.GMmenu {
	width:100%;
	text-align:center;
}

.GMmenu li,.GMmenu li a {
	margin-left:0;
	top:0;
	float:none;
}

#GMsearch {
	height:auto;
	margin-right:0;
	padding-top:0;
	position:absolute;
	right:10px;
	top:0;
	width:70%;
}

div#site-search {
	width:100%;
}

input#txtSearch.box {
	width:80%;
}

ul#nav-textbook li span {
	display:none;					
}

.mobile-nav-header {
	display:block;
	margin:0;
	padding: 15px 0 !important;	
	clear:both;
	color:#00529B;
}

.mobile-nav-account {
	display:block;	
}


.GMmenu li a, ul#nav-textbook li a {
	font-size: 20px;
	color:#000;
	text-decoration:none;
	line-height:25px;
	margin:0 0 0 0;
	padding:0 0 0 0;
	text-align:center;				
}

#nav-textbook li.mobile-nav-account {
	display:block;

}

ul#nav-textbook li.mobile-nav-account:last-child {
	padding-bottom:25px;
}


#search-nav {
    width: 100%;
}

div#site-name img {
	height:100%;
	width:100%;
}


#tabs li a {
	padding: 8px 7px;
	font-size:12px;	
 }



}


@media screen and (max-width: 760px) { /* breakpoint for page content */

/* Global Page Content
--------------------------------------------------------------------------------------- */
html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

#content-top {
    height: 0;
    width: 100%;
}


.cart-content {
    height: 80px;
    width: 61px;
}

.account-item table,
	.account-item thead,
	.account-item tbody,
	.account-item th,
	.account-item tr,
	.account-item td,
	.cart-contents table,
	.cart-contents thead,
	.cart-contents tbody,
	.cart-contents th,
	.cart-contents tr,
	.cart-contents td,
	table#selected-courses,
	#selected-courses thead,
	#selected-courses tbody,
	#selected-courses th,
	#selected-courses tr,
	#selected-courses td {
		display: block;
	}

	.account-item thead tr,
	.cart-contents thead tr,
	#selected-courses thead tr {
		position: absolute;
		top: -99999em;
		left: -99999em;
	}

	.account-item tbody,
	.cart-contents tbody,
	#selected-courses tbody {
		border-bottom: 0 !important;
	}

	.cart-contents tr,
	#selected-courses tr {
		border-bottom: 1px solid #aaa;
	}

	.account-item td,
	.cart-contents td,
	#selected-courses td {
		position: relative;
		padding-left: 33%;
		border-bottom: 0 !important;
	}

	.account-item td {
		padding-left: 42%;
	}

	#selected-courses td {
		padding-left: 36%;
	}

	.account-item td:before,
	.cart-contents td:before,
	#selected-courses td:before {
		position: absolute;
		top: .1em;
		left: .7em;
		width: 25%;
		padding-right: 1em;
		white-space: nowrap;
		text-align: right;
		color: #777;
	}

	.account-item td:before {
		width: 33%;
	}

	#selected-courses td:before {
		width: 28%;
	}

	/* generated table labels for cart.asp */
	.cart-contents tbody td.cart-item:before		{ content:"Item:"; }
	.cart-contents tbody td.item-price:before		{ content:"Price:"; }
	.cart-contents tbody td.item-qty:before			{ content:"Qty:"; }
	.cart-contents tbody td.item-totalprice:before 	{ content:"Total Price:"; } 
	/* generated table labels for account_orderhistory.asp */
	.account-item td.order-number:before 			{ content:"Order Num."; }
	.account-item td.order-date:before 				{ content:"Date"; }
	.account-item td.order-amount:before 			{ content:"Order Amount"; }
	.account-item td.order-status:before 			{ content:"Status"; }
	/* generated table labels for account_reservations.asp */
	.account-item td.department:before 				{ content:"Department"; }
	.account-item td.course:before 					{ content:"Course"; }
	.account-item td.section:before 				{ content:"Section"; }
	.account-item td.section { min-height:25px;}
	/* generated table labels for textbook_express.asp */
	#selected-courses td:nth-child(1):before		{ content:"Term"; }
	#selected-courses td:nth-child(2):before		{ content:"Department"; }
	#selected-courses td:nth-child(3):before		{ content:"Course"; }
	#selected-courses td:nth-child(4):before		{ content:"Section"; }


* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

div#header,#subhead,div#footer,.footer-container {
	min-width:100%;
}

div#content.two-col,div#content,div#content.two-col div#main {
	width:96%;
	padding:0;
	margin:2%;
}

div#site-name {
	width:70%;
	margin-left:0;
}

#header div#site-name a {
	margin-left:0;
}


div#nav {
	margin-right:0;
}

#user-summary {
	display:none;
}

div#header {
	height:65px;
	margin-bottom:0;
	padding: 0 1%;
}

#store-logo img {
	margin-bottom:.5em;
}

#pages {
	margin:0;
	border-radius:0;
	padding:0;
}

div.block-onecol,div.block-twocol {
	margin:2%;
	width:96%;
	padding:2%;
}

div.adspace-left,div.adspace-right {
	max-width:100%;
	min-width:100%;
}

.jqm-content a.button,form input.secondary, #main form input.secondary, #main a.secondary, #main a.secondary:visited, .jqm-content a.secondary, #main form select.box {
	width:auto;
}

div#main {
	min-width:292px;
}

.block-onecol.block-textbookexpress.highlight {
	min-width:292px;
}

div#content.three-col div#main {
	width:100%;
	margin-left:0;
	border:none;
}

div#content.two-col div#main {
	border:none;
}

.search-result-set {
	padding-left:0
}

.search-result-set .book-list {
	width:100%;
}


/* Tabbed blocks on home page
--------------------------------------------------------------------------------------- */

#tabs {
	padding: 2%;
}

#tabs li {
	line-height:30px;
	width:100%;
}

#tabs li a {
	border-bottom:1px solid #9A9A9A;
	border-radius:10px;
	white-space:nowrap;
	width:100%;
	display:inline-block;
	text-align:center;
	margin-bottom:3px;

}

#tabs_container {
	border-bottom:none;
}

.adspace-left img,.adspace-right img {
	width:96%;
	margin:2%;
}

.tabs_content_container .product-feature .product {
    text-align: center;
    width: 46% !important;
    margin:2% 2% 0 2%;
    border:none;
}

.tabs_content_container .product-thumb {
	width:auto !important;
}


div#no-items.block-item {
    float: left;
    margin: 30px 0 0;
    width: 100%;
}

input#tbe-add-section.button {
    margin: 10px 0 0 0;
}

#course-selector.block-course-select {
    float: left;
    width: 100%;
}

select {
	width:100%;
	min-height:40px;
}

div.block-item, .tabs_content_container div.block-item {
	width:100%;
	min-height:5px;
	height:auto;
}

div.product:hover {
	border:none;
}

.announce {
	text-align:center;
	padding: 10px 0;
}

.announce li {
	list-style:none;
}



/* AdSpace
--------------------------------------------------------------------------------------- */

.adspace-right {
	margin-top:25px;
}




/* Footer
--------------------------------------------------------------------------------------- */

.mobile-footerlogo {
	display:none;
}

div.mobile-footerquick {
	padding-bottom:25px;
}





/* Shop Merchandise / General Books / Search
--------------------------------------------------------------------------------------- */

.product {
    text-align: center;
    width: 46%;
    margin:2% 2% 0 2%;
    border:none;
    min-height:275px;
    border-radius:0;
}

.catalog-feature li {
    width: 50%;
    min-height:165px;
}

#reserve-promo {
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #AAAAAA;
    float: right;
    margin: 0 0 1em 1em;
    padding: 0.5em;
    width: 40%;
}

div#content.three-col div#sub-nav {
    float: none;
    margin-right: 0;
    width: 100%;
}

#product-photo, .product-thumb-group {
    margin: 0;
    width: 100%;
}

#product-photo a img {
    margin: 0 auto;
    max-width: 400px;
    width:100%;
}
div#product-photo {
    width: 100%;
    margin:auto;
}

#product-info {
    margin-left: 0;
    width: 100%;
}

div#product-desc.product-block {
    margin-right: 0;
    width: 100%;
}

.jqmWindow {
    width: 100%;
}

#main #enlarge {
	display:none;		
}

img#lightboxImage {
    margin: 0 auto;
    padding: 0;
}

.products-row {
    clear: none;
    width:100%;
}

.product-list .product-thumb {
    width: auto;
    max-width:100%;
    min-height:1px;
    max-height:160px;
}

.product > a {
    display: block;
    min-height: 130px;
    text-align: center;
    width: 100%;
}

.catalog-popular-image:hover {
	transform:none;
	-webkit-transition:none;
	border-radius:10%
	
}

.product-list, .product, .product-name, .product-price {
    font-size: 105%;
}

/* Sell Textbooks 
--------------------------------------------------------------------------------------- */

#buybackPriceCheck div {
    width: 100%;
    margin-top: 15px;
}


#buybackPriceCheck #txtISBN {
    width: 100%;
}

#buyback-isbn a.help {
	margin:0 0 5px 0;
}

#buyback-condition {
    border-left: none;
    padding-left: 0;
}

#buybackPriceCheck #buyback-submit {
		padding-left: 0;
		margin-bottom: 0;
		float: right;
		width: 100%;
	}

	#buyback-activityindicator {
		margin: 0 !important;
		float: right !important;
	}

	#buyback-list table,
	#buyback-list tbody,
	#buyback-list tr,
	#buyback-list td,
	#buyback-list tfoot {
		display: block;
	}

	#buyback-list tr {
		border-top: 1px solid #aaa;
	}

	#buyback-list td {
		border: 0;
	}

	#buyback-list .book-cover,
	#buyback-list .book-desc {
		float: left;
	}

	#buyback-list .book-cover,
	#buyback-list .last-result .book-cover {
		width: 35%;
	}
	
	#buyback-list .book-cover img {
    min-width: 30px;
    width: 100%;
}

	#buyback-list .book-desc {
		width: 65%;
		float:right;
	}

	#buyback-list .book-info,
	#buyback-list .last-result .book-info {
		width: 100%;
		clear: both;
		padding-top: 0;
	}

	#buyback-list .last-result span.book-title {
		font-size: 100%;
	}

	#buyback-list tfoot td {
		display: none;
	}

	#buyback-list tfoot td:last-child {
		display: block;
	}

	.sell_estimate h1,
	.sell_estimate h3 {
		display: none;
	}

	.sell_estimate div#content.two-col div#main {
		padding-left: 0;
		padding-right: 0;
	}

	.sell_estimate h3,
	.sell_estimate #buyback-estimate,
	.sell_estimate #main > p {
		padding-left: 1em;
		padding-right: 1em;
	}

	#buyback-estimate tr {
		border-top: 1px solid #aaa;
		display: block;
		clear: both;
	}

	#buyback-estimate thead tr {
		border-top: 0;
	}

	#buyback-estimate th:last-child,
	#buyback-estimate .actions,
	#buyback-estimate tfoot td:last-child {
		display: none;
	}

	#buyback-estimate th,
	#buyback-estimate td {
		width: 75%;
		display: block;
		border-bottom: 0;
		float: left;
	}

	#buyback-estimate td.buyback-price {
		width: 25%;
	}

	#buyback-estimate th {
		width: 50%;
	}

	#buyback-estimate th.buyback-price {
		width: 50%;
	}

	#buyback-estimate tfoot td,
	#buyback-estimate tfoot td.buyback-price {
		width: 100%;
	}

/* Swap
--------------------------------------------------------------------------------------- */

#swap-main-buy, #swap-main-sell {
    margin: 0;
    width: 100%;
}
.book-detail {
	width:100%;
	float:left;
}

.book-detail .book-desc {
    float: left;
    width: 100%;
    margin:0;
}

#swap .book-detail .book-cover {
    width: 100%;
}

#product-photo img, div.book-cover img {
    margin-bottom: 10px;
}

.book-detail .book-cover {
    width: 100%;
    margin-bottom:
}

.book-list-controls .book-search-form {
    float: left;
    margin-bottom: 5px;
    padding: 0;
    width: 100%;
}

.book-list-controls {
    margin-bottom: 25px;
}

	#swap-main-buy #fSearchType {
		margin-left: 0;
	}

	#swap-main-sell label {
		display: block;
	}

	#swap-main-sell #txtISBN {
		margin-left: 0;
	}

	#swap-main-sell .search-box .help {
		margin-left: 0;
	}

	#swap-list table,
	#swap-list thead,
	#swap-list tbody,
	#swap-list th,
	#swap-list tr,
	#swap-list td,
	#swap-seller-list table,
	#swap-seller-list thead,
	#swap-seller-list tbody,
	#swap-seller-list th,
	#swap-seller-list tr,
	#swap-seller-list td {
		display: block;
	}

	#swap-list thead tr,
	#swap-seller-list thead tr {
		position: absolute;
		top: -99999em;
		left: -99999em;
	}
	
	#swap-list tbody,
	#swap-seller-list tbody {
		border-bottom: 0 !important;
	}

	#swap-list tr,
	#swap-seller-list tr {
		border-bottom: 1px solid #aaa;
	}

	#swap-list td,
	#swap-seller-list td {
		position: relative;
		padding-left: 36%;
		border-bottom: 0 !important;
		text-align: left;
	}

	#swap-list td:before,
	#swap-seller-list td:before {
		position: absolute;
		top: .1em;
		left: .7em;
		width: 30%;
		padding-right: 1em;
		white-space: nowrap;
		text-align: right;
		color: #777;
	}

	#swap-list td:first-child:before 	{ content: "Your Book:"; }
	#swap-list td.currency:before 		{ content: "Your Price:";}
	#swap-list td:nth-child(3):before	{ content: "Expires In:";}
	#swap-seller-list td:nth-child(2):before 	{ content: "Asking Price:"; } 
	#swap-seller-list td:nth-child(3):before 	{ content: "Condition:"; }

	#swap-list .cross-sell {
		margin-left: 0;
	}

	#swap .book-list-controls .book-search-form {
		float: left;
		width: 100%;
		padding-right: 0;
	}

	#swap .book-list-controls .book-search-desc {
		margin: 0;
	}

	#swap .book-search-form #fSearchTerm {
		margin-bottom: .5em;
	}

	#swap .product-list-controls {
		padding-left: 0;
		padding-right: 0;
	}

	#swap .product-list-paging-title {
		width: 100%;
	}

	#swap .product-list-sort-title {
		display: none;
	}

	#swap .book-detail .book-cover {
		width: 100%;
	}

	#swap .book-detail .book-desc {
		padding: 0;
		width: 100%;
	}

	#swap-seller-list .contact div div {
		text-align: left;
	}

	#swap-seller-list .contact label {
		display: block;
		text-transform: capitalize;
	}

	#swap-seller-list .contact input[type="text"] {
		width: 80% !important;
	}

	#swap-seller-list .contact .button {
		margin-top: .5em;
	}
	
.search-box {
    width: 100%;
}

#swap-list {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #DDDDCC #DDDDCC;
    border-image: none;
    border-right: 1px solid #DDDDCC;
    border-style: none solid solid;
    border-width: 0 1px 1px;
    margin-right: 0;
    margin-top:15px;
    padding: 15px;
}	



/* Textbooks
--------------------------------------------------------------------------------------- */

.course-select-item, .reserve-courseadd-manual {
    width: 100%;
}

#course-select #fDept {
    width: 100%;
}


#course-select #fCourse {
    width: 100%;
}

#course-select #fSection {
    margin-right: 0;
    width: 100%;
}


#buy-reserve {
    margin-left: 0;
}

#reserve-feature {
    float: left;
}

div.book-info {
    border-left: none;
    float: left;
    width: 100%;
}

.book-info .special {
    background: none;
    margin-bottom: 25px;

}

	#course-bookdisplay table.hasrentals,
	#course-bookdisplay .hasrentals > thead,
	#course-bookdisplay .hasrentals > tbody,
	#course-bookdisplay .hasrentals > thead > th,
	#course-bookdisplay .hasrentals > tbody > tr,
	#course-bookdisplay .hasrentals > tbody > tr > td {
		display: block;
	}

	#course-bookdisplay table.hasrentals,
	#course-bookdisplay .hasrentals > tbody > tr,
	.cross_sell_course_list {
		float: left;
		clear: both;
		width: 100%;
	}

	#course-bookdisplay .hasrentals > thead > tr {
		position: absolute;
		top: -99999em;
		left: -99999em;
	}

	#course-bookdisplay .hasrentals > tbody {
		border-top: 0;
	}

	#course-bookdisplay .hasrentals > tbody > tr {
		border-bottom: 1px solid #aaa;
	}

	#course-bookdisplay .hasrentals > tbody > tr:nth-child(even) {
		border-bottom: 0;
	} 

	#course-bookdisplay .hasrentals > tbody > tr > td {
		position: relative;
		border-top: 0;
	}

	#course-bookdisplay .hasrentals .book-cover,
	#course-bookdisplay .hasrentals .book-qty {
		float: left;
		width: 25%;
		max-width: 132px;
	}

	#course-bookdisplay .hasrentals .book-desc,
	#course-bookdisplay .hasrentals .book-pref {
		float: left;
		width: 75%;
	}

	#course-bookdisplay .hasrentals .book-qty {
		clear: both;
	}

	#course-bookdisplay .hasrentals .book-qty:before { content:"Qty: "; }
 

	#course-bookdisplay .hasrentals .book-qty:before {
		font-weight: bold;
	}

	.hasrentals .book-qty input {
		margin-top: 8px;
	}

	#course-bookdisplay .hasrentals .book-pref {
		padding-right: 0;
	}

	#course-bookdisplay td.book-pref dl.rental-price-info {
		margin-top: -3px;
	}

	.hasrentals .book-pref select.rental-sku {
		margin-top: 33px;
	}

	div#course-quickselect {
		float: left;
	}

div#course-quickselect strong {
		float: left;
	}

div#course-quickselect label {
		float: left;
	}

#course-quickselect input[type="checkbox"] {
		display: block;
		float: left;
		margin-top: .4em;
		clear: left;
	}

div#course-bookdisplay-footer {
		margin: 1em 0 0 0;
	}
	
	
div#course-bookdisplay .book-cover img {
    width: 100%;
}

#course-bookdisplay .hasrentals .book-pref {
    padding-right: 0;
}

#coupon-display, .course-notes {
    margin: 0 0 20px;
}

#buy-reserve-button {
    margin: 0;

}

#reserve-promo, #buy-reserve-button {
    width: 100%;
    margin: 0 0 10px 0;
}

div#course-quickselect {
    border-top: 1px solid #999999;
    width: 100%;
    margin-bottom: 5px;
}

tr.alt td {
    background-color: transparent;
}

#course-bookdisplay td.book-pref dt {
    white-space: nowrap;

}

#course-bookdisplay .hasrentals .book-desc, #course-bookdisplay .hasrentals .book-pref {
padding: 1% 0 1% 8%;
margin-bottom:15px;
}

.hasrentals table.rental-price-list {
    width: 100%;
}


/* Modals 
--------------------------------------------------------------------------------------- */

.jqmWindow {top:.5em;left:0.5em;right:.5em;height:95%;width:95%;margin:0;overflow:scroll;}
.jqm-content {font-size:1em;max-height:85% !important; width:auto !important;}
.modal-cart-summary {width:60%;}
a.close-jqm, a.close-jqm:hover,#lightbox img#closeButton {right:1%;top:1%; margin:0;position:absolute;height:27px;width:27px;}
.jqm-title {margin-bottom:0;width:80%;}
#main a.modal-continue-shopping.button.secondary,#main .jqm-content a.modal-view-cart-button.button {font-size:1em;}
.jqm-content table td {padding: 0.2em 1em 0 0;text-align: left;}
.jqm-content table tr td:last-child {padding-right: 0;}
.modal-product-image {width: auto;max-width: 115px;}
.modal-product-image img {width: 100%;min-width: 30px;height: auto;}
.item-added-modal table {margin-left: 0;margin-bottom: .5em;width: 100%;}
.modal-cart-summary {margin: .5em 0 1em 0;}
.modal-view-cart a {margin-left: .5em;}
.jqm-top-left, .jqm-top-center, .jqm-top-right, .jqm-middle-left, .jqm-middle-right, .jqm-bottom-left, .jqm-bottom-center, .jqm-bottom-right {display: none;}

#main #enlarge, #overlay, #lightbox {display:none !important}



/* Pre-Order/Reserve Textbooks 
--------------------------------------------------------------------------------------- */


#reserve #login,#buy-reserverequest-form h2 {margin-bottom:0;}
#main #buy-reserverequest-form form, #reserve h2 {margin-top:0;}
#reserve #coupon-entry {background:#ddd;border:1px solid #ccc;padding:1em;}
#reserve #coupon-entry input.box {width:100%;}
#coupon-entry label {display:block;}
#reserve-course-list p.coupon-message {display: block;margin-right: 0;margin-top: 0;}
#reserve-course-list fieldset {margin-bottom:1em;padding: 15px 5px;}
#reserve-course-list thead th,#reserve-course-list tbody td,#buy-reserverequest-form th,#buy-reserverequest-form tbody td {display:block;}
#reserve-course-list thead,#buy-reserverequest-form thead {display:none;}
#reserve-course-list tr,#buy-reserverequest-form tr {border-top:1px solid #999;}
#reserve-course-list td:nth-child(1),#buy-reserverequest-form td:nth-child(1) {border-top:none}
#reserve-course-list td:before,#buy-reserverequest-form td:before {color:#777;left:.7em;padding-right:1em;position:absolute;text-align:right;top.1em;white-space:nowrap;width:33%;}
#reserve-course-list td,#buy-reserverequest-form td {padding-left:42%;}
#reserve-course-list td:nth-child(1):before {content:"Department";}
#reserve-course-list td:nth-child(2):before {content:"Course";}
#reserve-course-list td:nth-child(3):before {content:"Section";}
#reserve-course-list td:nth-child(4):before {content:"Condition";}
#reserve-course-list td:nth-child(5):before {content:"Materials";}
#buy-reserverequest-form td:nth-child(1):before {content:"Department";}
#buy-reserverequest-form td:nth-child(2):before {content:"Course";}
#buy-reserverequest-form td:nth-child(3):before {content:"Section";}
#buy-reserverequest-form td:nth-child(4):before {content:"Preference";}
#reserve-course-list input#submit_reservation.button {-webkit-appearance:none;white-space:normal;}
#add-course-controls div {width: 100% !important;}
.field-controls {background: #F1F1E7;border: 1px solid #DDC;}
.field-controls h4 {margin: 10px 0 5px 0;}
#buy-reserverequest-form a.button {margin-bottom: 15px;}
#buy-reserverequest-form h4 {margin-top:0;}


#coupon-entry {
	margin:0 0 5px 0;
}

/* Checkout 
--------------------------------------------------------------------------------------- */


#main form.two-col label {
    text-align: left;
    float: none;
}

#checkout-review-shipping {
    width: 100%;
}

#checkout dl dd {
    margin-left: 0;
}

dd {
	margin-left:0px;
	-webkit-margin-start: 0px;
	-mozilla-margin-start: 0px;
}

fieldset {
    padding: 0 2%;
    margin-bottom: 15px;
}

#main form select.box {
	width:100%;
}

#checkout-review-payment #billing-address {
    float: left;
    margin-left:0;
    width: 100%;
}
#checkout-review-payment #credit-card {
    width: 100%;
}

#checkout-receipt-payment {
    float: left;
    width: 100%;
}

#checkout-receipt-shipping {
    margin-left: 0;
    float: left;
    width: 100%;

}




/* Cart
--------------------------------------------------------------------------------------- */

table.data td {
    border-top: none;
}

.cart-item .book-meta {
    text-align: left;
    text-indent: 0;
}

.cart-contents .item-qty {
    text-align: left;
}

table.data tfoot tr td {
    border-top: none;
    color: #333333;
    font-weight: bold;
    
}

.cart-contents td.item-totalprice, .cart-contents th.item-totalprice {
    text-align: left;
}

input#checkout.button {
    margin: 5px 15px 20px 0;
}


#main .cart-contents .item-qty input.box {
    width: 1.5em;
}

.cart-contents tfoot tr td {
background: transparent;
border-top: none;
width: 0;
padding: 0;
float: right;
}

table.data tfoot {
    float: left;
    padding: 5px;
    vertical-align: middle;
}


/* Account / Order History 
--------------------------------------------------------------------------------------- */

#account-login-email, #account-login-password {
    float: left;
    margin: 0;
    width: 100%;
}

#account-login-password label {
    margin-left: 0;
}

input#fPassword.box {
    margin-left: 0;
}

#main form .box, textarea.box {
    color: #333333;
    font-size: 1.3em;
    min-height: 35px;
    width: 100%;
}

#account-login input.button, #account-quickcreate input.button {
    margin-bottom: 15px;
    width:100%;
}

form#login_form a {
    float: left;
}

#account-nav li {
    float: left;
    width: 100%;
    border:none;
}

#account-content {
    background: none repeat scroll 0 0 #F2F2F2;
    float: left;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    width:100%;
}

#account-nav {
    width: 100%;
    margin-bottom: 10px;
}

#account-nav .selected {
    background: none;
}

#account-nav a {
	border-radius: 10px;
    display: inline-block;
    margin-bottom: 3px;
    text-align: center;
    white-space: nowrap;
    width: 100%;
    text-align:center;
	text-decoration:none;
	background-color:#DDDDDD;
	color:#666;
	border: 1px solid #9a9a9a;
	padding: 12px 0 12px 0;
	}

#account-nav .selected a, #account-nav .selected a:visited {
    background-color: #00529B;
    color:#fff;
}

ul#account-nav a:hover {
	border-left: none;
	background-color:#c4c4c4;
	padding: 12px 0 12px 0;
	}

#account-nav li:last-child; {
    margin-bottom:15px;
}

.cart-totals {
    width: 100%;
}

table.data {
    border-bottom:none;
    width: 98%;
}


.account-item dl dt {
    text-align: left;
    width: 100%;
}


.account-item dl dd {
    margin: 0 0 0.5em;
}


/* Footer
--------------------------------------------------------------------------------------- */
#footer ul.footermenu li {overflow:hidden;max-height:0;-webkit-transition:.5s;transition:.5s;}
#footer ul.footermenu.active li {max-height:2em;}

/* Shop and Search Nav
--------------------------------------------------------------------------------------- */
#sub-nav h3, #search-nav h3 {
    background: none repeat scroll 0 0 transparent;
    border-bottom: 1px solid #FFFFFF;
    border-radius: 0;
    color: #00529B;
    margin: 0 0 15px;
    padding: 0.4rem;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    width: 100%;
}

#sub-nav h2, #search-nav h2 {
    font-size: 175%;
    text-align:center;

}


h3.trigger-button:after {background:url("../../images/arrow.png") no-repeat;content:"";height:1rem;width:1rem;position:absolute;-webkit-transition:.3s;transition:.3s;}
h3.trigger-button {background:#444;color:#fff;font-size:2em;margin:0;padding:0.4rem;}
h3.trigger-button.rotate:after {transform:rotate(180deg);-webkit-transform:rotate(180deg);-ms-transform:rotate(180deg);}
#sub-nav .accordion {overflow:hidden;max-height:0;-webkit-transition:.3s;transition:.3s;transform:scale(0);-webkit-transform:scale(0);}

#sub-nav .accordion.active {max-height:50em;transform:scale(1);-webkit-transform:scale(1);border-bottom: 2px solid #333;}
#sub-nav ul li {background:transparent;padding:.4em 1em;text-indent:0;}

#sub-nav ul li a {
    color: #00529B;
    font-size: 14px;
}

#sub-nav ul li.selected a {
	color: #00529B;
    font-size: 14px;

}
#sub-nav ul li.crumbs {
    background: none repeat scroll 0 0 #333333;
    border-bottom-style: solid;
    color: #FFFFFF;
    padding: 0.4em;
}

#sub-nav ul li.crumbs a {
     color: #FFFFFF;
}



#sub-nav li.selected, {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-bottom: 1px dashed #00529B;
    border-left: medium none;
    border-top: 1px dashed #00529B;
}

#sub-nav ul li.crumbs:last-child {display:none;}


div#sub-nav ul, div#sub-nav ul li {
    margin-bottom: 0;
    text-align: center;
}


div#search-nav ul.accordion {overflow:hidden;max-height:0;-webkit-transition:.3s;transition:.3s;transform:scale(0);-webkit-transform:scale(0);}
div#search-nav ul.accordion.active {max-height:50em;transform:scale(1);-webkit-transform:scale(1);}
#search-nav li {background:transparent;width:100%;text-align:center;padding:.4em 1em;}


#search-nav li:last-child {border:0;}

#search-nav li a {
	color: #00529B;
    font-size: 14px;
}

#search-nav li a:hover {
	color: #00529B;
    font-size: 14px;
    font-weight:normal;
}


#search-nav li a:hover,#search-nav li.selected a {padding:0;border-left:0;}



div#sub-nav a:hover {
	font-weight:normal;
}

div#content.three-col h1 {
    margin: 15px 0 25px 0;
}

.catalog-feature h3 {
    text-align: center;
}

div#main-book {
    max-width: 600px;
    width:100%;
    min-height:0;
}

div#main-book img {
    width:100%;
}



/* Buy Textbook Page
--------------------------------------------------------------------------------------- */

#full-page .block-item, #full-page #course-selector {width: 100%;}


} /* end breakpoint for page content */
