<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<head runat="server">
<asp:ContentPlaceHolder id="MasterHead" runat="server"></asp:ContentPlaceHolder>
</head>
<BODY leftmargin=0 rightmargin=0 topmargin=0 marginheight=0 marginwidth=0 >
<form id="form1" runat="server">
<div>
	<link rel="stylesheet" href="/clients/BostonCivicSymphony/Images/bcs.css">
	<link rel="stylesheet" href="/clients/BostonCivicSymphony/Images/ie6fixes.css">
<!-- compliance patch for microsoft browsers -->
<!--[if lt IE 7]>
<script src="ie7/ie7-standard-p.js" type="text/javascript">
</script>
<![endif]-->


<div id="wrap">

<div id="banner">
	<div id="left"><h1>Boston Civic Symphony</h1>
		<h2>Max Hobart, Music Director and Conductor</h2>
		<h2 id="season"></script>2013-2014 Season</h2>
	</div>
	<div id="right"><img src="/clients/BostonCivicSymphony/Images/maxhobart.jpg" alt="Max Hobart, Director" width="300"></div>
</div><!--banner-->

 	<div id="navcontainer">
 		<ul id="navlist">
			<li id="navhome"><a href="http://bostoncivicsymphony.org/index.html">Home</a></li>
 			<li id="navabout"><a href="http://bostoncivicsymphony.org/about.html">About the Orchestra</a></li>
  			<li><a href="http://bostoncivicsymphony.org/director.html">Max Hobart</a></li>
			<li><a href="http://bostoncivicsymphony.org/tickets.html">Tickets</a></li>
			<li><a href="http://bostoncivicsymphony.org/donate.html">Donation</a></li>
 			<li><a href="http://bostoncivicsymphony.org/audition.html">Audition</a></li>
			<li><a href="http://bostoncivicsymphony.org/contact.html">Contact Us</a></li>
			<li><script type="text/javascript">
var keeperaltpage = "index.html";
function keeperCheck(){
   keeperpass = window.document.keeper.page.value;
   keeperframe.location.href = keeperpass + "2.html";
   timer = setTimeout("keeperTest(keeperpass)",2000); }
function keeperTest(pass){
   if(keeperframe.keeperpasscheck)
   { location.href = pass + ".html"; }
   else { location.href = keeperaltpage; } }
</script>

</li></ul>
	</div>

<div id="tickets">

<!--TIX DATA START-->

<asp:ContentPlaceHolder id="MasterContent" runat="server"></asp:ContentPlaceHolder>


</div><!--contact-->	


<div id="bottom">
<div id="footer"><script language="JavaScript" src="/clients/BostonCivicSymphony/Images/footer.js" type="text/javascript"></script>&#169;2013 &nbsp;Boston Civic Symphony. All rights reserved.<br>Web Design:&nbsp;<a href="http://www.visual-velocity.com/">Visual Velocity</a> &nbsp;&nbsp; |&nbsp; &nbsp; BCS Photographer:&nbsp; Mickey Goldin</div>

<div id="mcc"><a href="http://www.massculturalcouncil.org/" target="_blank"><img src="/clients/BostonCivicSymphony/Images/masscult.png" alt="mass cultural council" width="100"></a></div>

<div id="amazon"><a href="http://www.amazon.com/exec/obidos/redirect-home?site=amazon&amp;tag=civicsymphony-20" target="_blank"><img src="/clients/BostonCivicSymphony/Images/amazon.jpg" alt="shop amazon" width="125"></a></div>
</div><!--bottom-->
</div><!--wrap-->
</div>
</form>
</body>
</html>
