<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
<head runat="server">
<asp:ContentPlaceHolder id="MasterHead" runat="server"></asp:ContentPlaceHolder>
</head>
<BODY leftmargin=0 rightmargin=0 topmargin=0 marginheight=0 marginwidth=0 >
<form id="form1" runat="server">
<div>

<meta name="description" content="The world's premier biennial festival of early music featuring international baroque opera, celebrated concerts, and a world-famous Exhibition.">

<meta name="keywords" content="Boston Early Music Festival, Baroque music, Renaissance music, Medieval music, concerts, baroque opera, chamber opera, grammy nomination, Best Opera Recording, Conradi, Lully, Monteverdi, early instruments, early music exhibition">
<style type="text/css"> 
<!-- 
.thrColFixHdr #container { 
	width: 800px;  /* using 20px less than a full 800px width allows for browser chrome and avoids a horizontal scroll bar */
	background: #FFFFFF;
	margin: 0;
	border: 0;
	text-align: left; /* this overrides the text-align: center on the body element. */
} 
.thrColFixHdr #header { 
	background: #FFFFFF; 
	
} 
.thrColFixHdr #header h1 {
	margin: 0; /* zeroing the margin of the last element in the #header div will avoid margin collapse - an unexplainable space between divs. If the div has a border around it, this is not necessary as that also avoids the margin collapse */
	padding: 10px 0; /* using padding instead of margin will allow you to keep the element away from the edges of the div */
}
.thrColFixHdr #sidebar2 {
	float: right; /* since this element is floated, a width must be given */
	width: 110px; /* padding keeps the content of the div away from the edges */
	padding-top: 12px;
	background-color: #FFFFFF;
}
.thrColFixHdr #mainContent {
	margin-top: 0;
	margin-right: 0px;
	margin-bottom: 0;
	margin-left: 196px;
	padding-top: 0;
	padding-right: 10px;
	padding-bottom: 0;
	padding-left: 10px;
	text-align: left;
} 
.thrColFixHdr #footer {
	background-color: #FFFFFF;
} 
.thrColFixHdr #footer p {
	margin: 0; /* zeroing the margins of the first element in the footer will avoid the possibility of margin collapse - a space between divs */
	padding: 10px 0; /* padding on this element will create space, just as the the margin would have, without the margin collapse issue */
}
.clearfloat { /* this class should be placed on a div or break element and should be the final element before the close of a container that should fully contain a float */
	clear:both;
    height:0;
    font-size: 1px;
    line-height: 0px;
}
#p2r1c7 {	position:absolute;
	left:516px;
	top:0px;
	width:284px;
	height:50px;
	z-index:2;
	visibility:visible;
}
--> 
</style>
<!--[if IE 5]>
<style type="text/css"> 
/* place css box model fixes for IE 5* in this conditional comment */
.thrColFixHdr #sidebar1 { width: 180px; }
.thrColFixHdr #sidebar2 { width: 190px; }
</style>
<![endif]--><!--[if IE]>
<style type="text/css"> 
/* place css fixes for all versions of IE in this conditional comment */
body {word-wrap: break-word;}
.thrColFixHdr #sidebar2, .thrColFixHdr #sidebar1 { padding-top: 30px; }
.thrColFixHdr #mainContent { zoom: 1; }
/* the above proprietary zoom property gives IE the hasLayout it needs to avoid several bugs */
</style>
<![endif]-->
<script src="/clients/BEMF/Images/AC_RunActiveContent.js" type="text/javascript"></script>
<script src="/clients/BEMF/Images/SpryMenuBar.js" type="text/javascript"></script>
<script type="text/javascript">
<!--
function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
//-->
</script>

<style type="text/css">
<!--
.style9 {font-family: Georgia, "Times New Roman", Times, serif}
-->
</style>
<style type="text/css">
<!--
.style17 {color: #CC0066}
-->
</style>
<style type="text/css">
<!--
.style23 {font-family: Arial, Helvetica, sans-serif}
-->
</style>
<style type="text/css">
<!--
.style35 {
	color: ##8b1619;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}
-->
</style>
<style type="text/css">
<!--
.style36 {
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
}
-->
</style>
<style type="text/css">
<!--
.style37 {color: #8b1619}
.style39 {font-size: 12px}
.style37 {	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	color: #8b1619;
}
.style39 {	color: #000000;
	font-style: italic;
}
.style40 {	font-size: 18px;
	font-weight: bold;
}
.style41 {font-size: 18px}
.style42 {color: #000000}
-->
</style>


<link href="/clients/BEMF/Images/SpryMenuBarHorizontal.css" rel="stylesheet" type="text/css">
<link href="/clients/BEMF/Images/BEMF09.css" rel="stylesheet" type="text/css">
<style type="text/css">
<!--
.style43 {color: #990000}
-->
</style>
</head>

<body class="thrColFixHdr" onload="MM_preloadImages('/clients/BEMF/Images/joinRoll.gif','/clients/BEMF/Images/foot_r1_c9_f2.gif','/clients/BEMF/Images/p2_r2_c1_f2.gif','/clients/BEMF/Images/p2head_r3_c3_f2.gif','/clients/BEMF/Images/p2head_r3_c4_f2.gif','/clients/BEMF/Images/p2head_r3_c5_f2.gif','/clients/BEMF/Images/p2head_r3_c6_f2.gif','/clients/BEMF/Images/joinRoll.gif')">
<div class="thrColFixHdr" id="container">
  <div id="header">
    <table border="0" cellpadding="0" cellspacing="0" width="805">
      <!-- fwtable fwsrc="BEMF2ndFinal.png" fwpage="Page 1" fwbase="p2head.gif" fwstyle="Dreamweaver" fwdocid = "435666440" fwnested="0" -->
      <tbody><tr>
        <td width="174"><img src="/clients/BEMF/Images/spacer.gif" alt="" border="0" height="1" width="174"></td>
        <td width="76"><img src="/clients/BEMF/Images/spacer.gif" alt="" border="0" height="1" width="76"></td>
        <td width="57"><img src="/clients/BEMF/Images/spacer.gif" alt="" border="0" height="1" width="57"></td>
        <td width="85"><img src="/clients/BEMF/Images/spacer.gif" alt="" border="0" height="1" width="85"></td>
        <td width="89"><img src="/clients/BEMF/Images/spacer.gif" alt="" border="0" height="1" width="89"></td>
        <td width="36"><img src="/clients/BEMF/Images/spacer.gif" alt="" border="0" height="1" width="35"></td>
        <td width="55"><img src="/clients/BEMF/Images/spacer.gif" alt="" border="0" height="1" width="53"></td>
        <td width="48"><img src="/clients/BEMF/Images/spacer.gif" alt="" border="0" height="1" width="48"></td>
        <td width="69"><img src="/clients/BEMF/Images/spacer.gif" alt="" border="0" height="1" width="69"></td>
        <td width="66"><img src="/clients/BEMF/Images/spacer.gif" alt="" border="0" height="1" width="66"></td>
        <td width="50"><img src="/clients/BEMF/Images/spacer.gif" alt="" border="0" height="1" width="48"></td>
      </tr>
      <tr>
        <td colspan="6"><a name="top" id="top"></a><a href="http://www.bemf.org/index.html"><img src="/clients/BEMF/Images/p2_r1_c1.gif" border="0"></a></td>
        <td colspan="5"><img src="/clients/BEMF/Images/concerts.gif"></td>
        <td width="10"><img src="/clients/BEMF/Images/spacer.gif" border="0" height="50" width="1"></td>
      </tr>
      <tr>
        <td rowspan="2" colspan="2"><a href="https://www.bemf.org/orderfms/orderform.htm" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image38','','/clients/BEMF/Images/p2_r2_c1_f2.gif',1)"><img src="/clients/BEMF/Images/p2_r2_c1.gif" alt="Purchase Tickets" name="Image38" id="Image38" border="0" height="58" width="250"></a></td>
        <td colspan="9" bgcolor="#003F70"><ul id="MenuBar1" class="MenuBarHorizontal MenuBarActive">
          <li><a class="MenuBarItemSubmenu" href="http://www.bemf.org/pages/concerts/concerts.htm">CONCERTS</a>
              <ul>
                <li><a href="http://www.bemf.org/pages/concerts/bostonconcerts.htm">Boston Concerts</a></li>
                <li><a href="http://www.bemf.org/pages/concerts/nyconcerts.htm">New York Concerts</a></li>
                <li><a href="http://www.bemf.org/pages/concerts/nextseason.htm">Next Season</a></li>
                <li><a href="http://www.bemf.org/pages/concerts/pastCon/pastCon.htm">Past Seasons</a></li>
                <li><a href="http://www.bemf.org/pages/venues/venues.htm">Venues</a></li>
              </ul>
          </li>
          <li><a href="http://www.bemf.org/pages/fest/festival.htm" class="MenuBarItemSubmenu">FESTIVAL</a>
            <ul>
              <li><a href="http://www.bemf.org/pages/about/directors.htm">Paul O'Dette,<br>
                Artistic Co-Director</a></li>
              <li><a href="http://www.bemf.org/pages/about/directors.htm#stubbs">Stephen Stubbs,<br>Artistic Co-Director</a></li>
              <li><a href="http://www.bemf.org/pages/fest/schedule.htm">Schedule of Events</a></li>
<li><a href="http://www.bemf.org/pages/fest/festOpera.htm">Operatic Centerpiece</a></li>
<li><a href="http://www.bemf.org/pages/fest/festCon.htm">Festival Concerts</a></li>
<li><a href="http://www.bemf.org/pages/fest/exhibitStore.htm">Exhibition &amp; CD Store</a></li>
<li><a href="http://www.bemf.org/pages/fest/fringe.htm">Fringe Concerts</a></li>
              <li><a href="http://www.bemf.org/pages/fest/symposia.htm">Symposia &amp;<br>
                Masterclasses</a></li>
<li><a href="http://www.bemf.org/pages/fest/family.htm">Family Day</a></li>
<li><a href="http://www.bemf.org/pages/fest/register.htm">Registration Materials</a></li>
<li><a href="http://www.bemf.org/pages/venues/venues.htm">Venues</a></li>
<li><a href="http://www.bemf.org/pages/fest/visit.htm">Visitor's Guide</a></li>
<li><a href="http://www.bemf.org/pages/fest/pastFest/pastFest.htm">Past Festivals</a></li>
            </ul>
            </li>
          <li><a href="http://www.bemf.org/pages/opera/opera.htm" class="MenuBarItemSubmenu">OPERA</a>
            <ul>
              <li><a href="http://www.bemf.org/pages/opera/Fest_opera.htm">Festival Operas</a></li>
              <li><a href="http://www.bemf.org/pages/opera/chamOpera.htm">Annual Chamber <br>
                Operas</a></li>
              <li><a href="http://www.bemf.org/pages/about/directors.htm#blin">Gilbert Blin,<br>Opera Director</a></li>
              <li><a href="http://www.bemf.org/pages/opera/rel_events.htm">Related Events</a></li>
              <li><a href="http://www.bemf.org/pages/record.htm">Recordings</a></li>
              <li><a href="http://www.bemf.org/pages/opera/editions.htm">Editions</a></li>
            </ul>
            </li>
          <li><a href="http://www.bemf.org/pages/record.htm" class="MenuBarItemSubmenu">RECORDINGS</a>
            <ul class="">
              <li><a href="http://www.bemf.org/pages/record.htm">BEMF Opera CDs</a></li>
              <li><a href="https://www.bemf.org/orderfms/orderform.htm">Buy CDs Now</a></li>
            </ul>
            </li>
          <li><a class="MenuBarItemSubmenu" href="http://www.bemf.org/pages/education.htm">EDUCATION</a>
              <ul class="">
                <li><a href="http://www.bemf.org/pages/education.htm#family">Family Day</a>                </li>
                <li><a href="http://www.bemf.org/pages/education.htm#school">School Presentations</a></li>
                <li><a href="http://www.bemf.org/pages/education.htm#adult">Adult Education</a></li>
                <li><a href="http://www.bemf.org/pages/education.htm#coffin">David Coffin, Director</a></li>
                <li><a href="http://www.bemf.org/pages/give/edu_fund.htm">Support</a></li>
              </ul>
          </li>
          <li><a href="http://www.bemf.org/pages/give/give.htm" class="MenuBarItemSubmenu">GIVE TO BEMF</a>
            <ul>
              <li><a href="https://www.bemf.org/orderfms/orderform.htm">Give Now Online</a></li>
              <li><a href="http://www.bemf.org/pages/give/fund.htm">Fundraising Initiatives</a></li>
              <li><a href="http://www.bemf.org/pages/give/ways.htm">Ways to Give</a></li>
            </ul>
            </li>
          <li><a href="http://www.bemf.org/pages/about/about.htm" class="MenuBarItemSubmenu">ABOUT US</a>
            <ul>
              <li><a href="http://www.bemf.org/pages/about/about.htm">History of BEMF</a></li>
              <li><a href="http://www.bemf.org/pages/about/faq.htm">FAQs</a></li>
              <li><a href="http://www.bemf.org/pages/about/execDir.htm">Kathleen Fay,<br>Executive Director</a></li>
              <li><a href="http://www.bemf.org/pages/about/directors.htm">Artistic Directors</a></li>
              <li><a href="http://www.bemf.org/pages/about/board.htm">Board of Directors</a></li>
              <li><a href="http://www.bemf.org/pages/about/staff.htm">Staff</a></li>
              <li><a href="http://www.bemf.org/pages/about/work.htm">Work for BEMF</a></li>
              <li><a href="http://www.bemf.org/pages/about/aboutEM.htm">About Early Music</a></li>
              <li><a href="http://www.bemf.org/pages/about/links.htm">Colleague Links</a></li>
            </ul>
            </li>
        </ul>        </td>
        <td><img src="/clients/BEMF/Images/spacer.gif" alt="" border="0" height="31" width="1"></td>
      </tr>
      <tr>
        <td><a href="http://www.bemf.org/pages/reviews/review.htm" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image41','','/clients/BEMF/Images/p2head_r3_c3_f2.gif',1)"><img src="/clients/BEMF/Images/p2head_r3_c3.gif" alt="Reviews" name="Image41" id="Image41" border="0" height="27" width="57"></a></td>
        <td><a href="http://www.bemf.org/pages/press/releases.htm" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image42','','/clients/BEMF/Images/p2head_r3_c4_f2.gif',1)"><img src="/clients/BEMF/Images/p2head_r3_c4.gif" alt="Press Room" name="Image42" id="Image42" border="0" height="27" width="85"></a></td>
        <td><a href="http://www.bemf.org/pages/ad/adorders.htm" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image43','','/clients/BEMF/Images/p2head_r3_c5_f2.gif',1)"><img src="/clients/BEMF/Images/p2head_r3_c5.gif" alt="Advertising" name="Image43" id="Image43" border="0" height="27" width="89"></a></td>
        <td colspan="2"><a href="http://www.bemf.org/pages/contact/contact.htm" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image44','','/clients/BEMF/Images/p2head_r3_c6_f2.gif',1)"><img src="/clients/BEMF/Images/p2head_r3_c6.gif" alt="Contact Us" name="Image44" id="Image44" border="0" height="27" width="88"></a></td>
        <td colspan="4"><a href="http://www.bemf.org/pages/contact/mail.htm" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image39','','/clients/BEMF/Images/joinRoll.gif',1)"><img src="/clients/BEMF/Images/join.gif" alt="Join Our Mailing List" name="Image39" id="Image39" border="0" height="27" width="231"></a></td>
        <td><img src="/clients/BEMF/Images/spacer.htm" alt="" border="0" height="27" width="1"></td>
      </tr>
    </tbody></table>
    <a href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image39','','../pages/page_gifs/joinRoll.gif',1)"></a></div>
  <div id="sidebar1">
  <p><span class="SideLevel_A">&nbsp;&nbsp;<a href="http://www.bemf.org/pages/concerts/concerts.htm">Concerts</a></span> <br>
    <span class="SideLevel_B">&nbsp;&nbsp;&nbsp;&nbsp;Boston Concerts</span><br>
    <span class="SideLevel_B"><a href="http://www.bemf.org/pages/concerts/concerts.htm">&nbsp;&nbsp;&nbsp;&nbsp;</a><a href="http://www.bemf.org/pages/concerts/nyconcerts.htm">New York Concerts</a><br>
      &nbsp;&nbsp;&nbsp;&nbsp;<a href="http://www.bemf.org/pages/concerts/pastCon/pastCon.htm">Past Seasons</a><br>
      &nbsp;&nbsp;&nbsp;&nbsp;<a href="http://www.bemf.org/pages/venues/venues.htm">Venues</a></span><br>
    <br>
    <span class="SideLevel_A"><strong>&nbsp;&nbsp;<a href="http://www.bemf.org/pages/fest/festival.htm">Festival</a></strong><br>
      <br>
      <strong>&nbsp;&nbsp;<a href="http://www.bemf.org/pages/opera/opera.htm">Opera</a></strong><br>
      <br>
      <strong>&nbsp;&nbsp;<a href="http://www.bemf.org/pages/record.htm">Recordings</a></strong><br>
      <br>
    <strong>&nbsp;&nbsp;<a href="http://www.bemf.org/pages/education.htm">Education</a></strong></span></p>
  <p class="SideLevel_A"><strong>&nbsp;&nbsp;<a href="http://www.bemf.org/pages/give/give.htm">Give to BEMF</a></strong><br>
    <br>
    <strong>&nbsp;&nbsp;<a href="http://www.bemf.org/pages/about/about.htm">About Us</a></strong></p>
  <p><br>
  </p>
  </div>
  <div id="mainContent">
<!--TIX DATA STARt-->
<asp:ContentPlaceHolder id="MasterContent" runat="server"></asp:ContentPlaceHolder>

  </div>
  <div id="footer">
    <div id="p2footr5c1"></div>
    <table border="0" cellpadding="0" cellspacing="0" width="800">
      <!-- fwtable fwsrc="BEMF2ndFinal.png" fwpage="Page 1" fwbase="foot.gif" fwstyle="Dreamweaver" fwdocid = "435666440" fwnested="0" -->
      <tbody><tr>
        <td><img src="/clients/BEMF/Images/spacer.gif" alt="" border="0" height="1" width="174"></td>
        <td><img src="/clients/BEMF/Images/spacer.gif" alt="" border="0" height="1" width="76"></td>
        <td><img src="/clients/BEMF/Images/spacer.gif" alt="" border="0" height="1" width="57"></td>
        <td><img src="/clients/BEMF/Images/spacer.gif" alt="" border="0" height="1" width="85"></td>
        <td><img src="/clients/BEMF/Images/spacer.gif" alt="" border="0" height="1" width="89"></td>
        <td><img src="/clients/BEMF/Images/spacer.gif" alt="" border="0" height="1" width="35"></td>
        <td><img src="/clients/BEMF/Images/spacer.gif" alt="" border="0" height="1" width="53"></td>
        <td><img src="/clients/BEMF/Images/spacer.gif" alt="" border="0" height="1" width="48"></td>
        <td><img src="/clients/BEMF/Images/spacer.gif" alt="" border="0" height="1" width="69"></td>
        <td><img src="/clients/BEMF/Images/spacer.gif" alt="" border="0" height="1" width="66"></td>
        <td><img src="/clients/BEMF/Images/spacer.gif" alt="" border="0" height="1" width="48"></td>
        <td><img src="/clients/BEMF/Images/spacer.gif" alt="" border="0" height="1" width="1"></td>
      </tr>
      <tr>
        <td colspan="8"><img name="foot_r1_c1" src="/clients/BEMF/Images/foot_r1_c1.gif" id="foot_r1_c1" alt="" border="0" height="26" width="617"></td>
        <td><a href="http://www.bemf.org/pages/sitemap.htm" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image40','','/clients/BEMF/Images/foot_r1_c9_f2.gif',1)"><img src="/clients/BEMF/Images/foot_r1_c9.gif" alt="Site Map" name="Image40" id="Image40" border="0" height="26" width="69"></a></td>
        <td colspan="2"><img name="foot_r1_c10" src="/clients/BEMF/Images/foot_r1_c10.gif" id="foot_r1_c10" alt="" border="0" height="26" width="114"></td>
        <td><img src="/clients/BEMF/Images/spacer.gif" alt="" border="0" height="26" width="1"></td>
      </tr>
    </tbody></table>
    <!-- end #footer -->
  </div>
  <!-- end #container --></div>
<script type="text/javascript">
<!--
var MenuBar1 = new Spry.Widget.MenuBar("MenuBar1", {imgDown:"../SpryAssets/SpryMenuBarDownHover.gif", imgRight:"../SpryAssets/SpryMenuBarRightHover.gif"});
//-->
</script>
</div>
</form>
</body>
</html>

