HTML {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#page {
	LEFT: 5px; WIDTH: 800px; POSITION: absolute; TOP: 5px; HEIGHT: 500px; BACKGROUND-COLOR: #ffffff
}
#headerimg1 {
	Z-INDEX: 1; LEFT: 20px; WIDTH: 700px; POSITION: absolute; TOP: 0px; HEIGHT: 109px; BACKGROUND-COLOR: #ffffff
}
#searchbox {
	Z-INDEX: 2; LEFT: 485px; WIDTH: 50px; POSITION: absolute; TOP: 48px; HEIGHT: 30px
}
#column1 {
	BORDER-RIGHT: #000080 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #000080 1px solid; PADDING-LEFT: 8px; Z-INDEX: 1; LEFT: 20px; PADDING-BOTTOM: 8px; BORDER-LEFT: #000080 1px solid; WIDTH: 605px; PADDING-TOP: 8px; BORDER-BOTTOM: #000080 1px solid; POSITION: absolute; TOP: 140px; HEIGHT: auto; BACKGROUND-COLOR: #ffffff
}
#column2 {
	BORDER-RIGHT: #000080 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #000080 1px solid; PADDING-LEFT: 8px; Z-INDEX: 1; LEFT: 645px; PADDING-BOTTOM: 8px; BORDER-LEFT: #000080 1px solid; WIDTH: 148px; PADDING-TOP: 8px; BORDER-BOTTOM: #000080 1px solid; POSITION: absolute; TOP: 140px; HEIGHT: auto; BACKGROUND-COLOR: #ffffff
}
#footer {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; Z-INDEX: 2; LEFT: 0px; PADDING-BOTTOM: 10px; MARGIN: 10px; WIDTH: 85%; BOTTOM: 5px; PADDING-TOP: 10px; POSITION: absolute; HEIGHT: 20px; BACKGROUND-COLOR: #ffffff
}
#srchbox {
	Z-INDEX: 3; RIGHT: 80px; WIDTH: 110px; POSITION: absolute; TOP: 40px
}
HTML {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px ALIGN: CENTER
}
H1 {
	MARGIN-TOP: 0em; FONT-WEIGHT: bold; FONT-SIZE: 1.1em; MARGIN-BOTTOM: 0.3em; COLOR: #000080; LINE-HEIGHT: 1; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; TEXT-ALIGN: center
}

H3 {
	MARGIN-TOP: 1em; FONT-WEIGHT: bold; FONT-SIZE: 0.9em; MARGIN-BOTTOM: 0em; COLOR: #000080; LINE-HEIGHT: 1; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; TEXT-ALIGN: justify
}


P {
	MARGIN-TOP: 0.2em; FONT-SIZE: 0.75em; MARGIN-BOTTOM: 1em; COLOR: #000080; LINE-HEIGHT: 1.4; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; TEXT-ALIGN: justify
}

.maintextunder {
	TEXT-DECORATION: underline
}
.maintextbold {
	FONT-WEIGHT: bold
}
.maintextcenter {
	TEXT-ALIGN: center
}
.maintextundercenter {
	TEXT-ALIGN: center; TEXT-DECORATION: underline
}
.maintextboldcenter {
	FONT-WEIGHT: bold; TEXT-ALIGN: center
}
.maintextitaliccenter {
	FONT-STYLE: italic; TEXT-ALIGN: center
}
.maintextright {
	TEXT-ALIGN: right
}
.closetext {
	MARGIN-TOP: 0em; MARGIN-BOTTOM: 1em
}
.closetextbold {
	MARGIN-TOP: 0em; FONT-WEIGHT: bold
}
.closetextcenter {
	MARGIN-TOP: 0em; TEXT-ALIGN: center
}
.closetextboldcenter {
	MARGIN-TOP: 0em; FONT-WEIGHT: bold; TEXT-ALIGN: center
}
.closetextitaliccenter {
	MARGIN-TOP: 0em; FONT-STYLE: italic; TEXT-ALIGN: center
}
.flushtext {
	MARGIN-TOP: 0em; MARGIN-BOTTOM: 0.2em; LINE-HEIGHT: 1
}
.flushtextcenter {
	MARGIN-TOP: 0em; MARGIN-BOTTOM: 0.2em; LINE-HEIGHT: 1; TEXT-ALIGN: center
}
.flushtextunder {
	MARGIN-TOP: 0em; MARGIN-BOTTOM: 0.2em; LINE-HEIGHT: 1; TEXT-DECORATION: underline
}
.flushtextbold {
	MARGIN-TOP: 0em; FONT-WEIGHT: bold; MARGIN-BOTTOM: 0.2em; LINE-HEIGHT: 1
}
.caption {
	MARGIN-TOP: 0.3em; FONT-SIZE: 0.6em; MARGIN-BOTTOM: 0.3em; TEXT-ALIGN: center
}
.footertext {
	MARGIN-TOP: 0.2em; FONT-SIZE: 0.6em; TEXT-ALIGN: center
}
A:link {
	COLOR: #000080; BACKGROUND-COLOR: transparent; TEXT-DECORATION: underline
}
A:visited {
	COLOR: #000080; BACKGROUND-COLOR: transparent; TEXT-DECORATION: underline
}
A:active {
	COLOR: #000080; BACKGROUND-COLOR: transparent; TEXT-DECORATION: underline
}
A:hover {
	COLOR: #ff0000; BACKGROUND-COLOR: transparent; TEXT-DECORATION: underline
}
