BODY {
	FONT-SIZE: 16px; BACKGROUND: url(/PrivateLabel/BluesToThePoint/Images/bg.png) #000000 fixed no-repeat right 50%; MARGIN: 0px; COLOR: #bec7cc; FONT-FAMILY: Georgia, "Times New Roman", Times, serif; LETTER-SPACING: -1px
}
A:link {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
A:visited {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
A:active {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A:hover {
	COLOR: #ffffff; TEXT-DECORATION: none
}
H1 {
	FONT-SIZE: 24px; COLOR: #ffffff; LETTER-SPACING: -2px
}
H2 {
	FONT-SIZE: 20px; COLOR: #ffffff; LETTER-SPACING: -2px
}
H3 {
	FONT-SIZE: 16px; COLOR: #ffffff; LETTER-SPACING: -2px
}
DIV#header {
	Z-INDEX: 10; POSITION: relative
}
DIV#content {
	MARGIN-TOP: -3px; BACKGROUND-IMAGE: url(/PrivateLabel/BluesToThePoint/Images/content-bg.png); WIDTH: 786px; LINE-HEIGHT: 1.1
}
DIV#copy {
	PADDING-RIGHT: 320px; PADDING-LEFT: 25px; PADDING-BOTTOM: 15px; align: left; line-spacing: 5px
}
DIV#navigation {
	FONT-SIZE: 12px; Z-INDEX: 15; FLOAT: right; BACKGROUND-IMAGE: url(/PrivateLabel/BluesToThePoint/Images/nav-bg.png); WIDTH: 305px; POSITION: relative; HEIGHT: 100%
}
DIV#footer {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; Z-INDEX: 5; RIGHT: 0px; PADDING-BOTTOM: 0px; BOTTOM: 0px; PADDING-TOP: 0px; POSITION: fixed
}
INPUT {
	BORDER-RIGHT: #4b6878 2px solid; PADDING-RIGHT: 2px; BORDER-TOP: #4b6878 2px solid; PADDING-LEFT: 2px; FONT-SIZE: 16px; PADDING-BOTTOM: 2px; BORDER-LEFT: #4b6878 2px solid; COLOR: #0e354a; PADDING-TOP: 2px; BORDER-BOTTOM: #4b6878 2px solid; BACKGROUND-COLOR: #ced6da
}
.sidebartext {
	PADDING-LEFT: 15px
}
.style1 {
	FONT-SIZE: x-large
}
