.slogan
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	color:#666666;
	font-style:normal;
	padding:3px;
}
.nav1
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	text-decoration:none;
	color:#073187;
	padding:3px 10px;
}
.nav1active
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	text-decoration:none;
	color:#800040;
	padding:3px 10px;
}
.nav1:hover
{
	color:#800040;
}
a
{
	color:#073187;
}
a:hover
{
	text-decoration:none;
}
p
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
}
li
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
}
h1
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#073187;
}
h2
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#800040;
}
.copyright
{
	color:#666666;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:8px;
}
.border
{
	border-top:1px #612C8C;
	border-right:1px solid #612C8C;
	border-bottom:1px solid #612C8C;
	border-left:1px solid #612C8C;
}
.nav2
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#FFFFFF;
	text-decoration:none;
	font-weight:bold;
	padding:3px 10px;
	display:block;
}
.nav2active
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#800040;
	text-decoration:none;
	font-weight:bold;
	padding:3px 10px;
	display:block;
}
.nav2:hover
{
	color:#800040;
}
.border2
{
	border-top:1px solid #612C8C;
	border-right:1px solid #612C8C;
	border-bottom:1px #612C8C;
	border-left:1px solid #612C8C;
}
.border3
{
	border:1px solid #FFFFFF;
}
.borderb
{
	border-top:1px solid #000000;
	border-right:1px solid #000000;
	border-bottom:1px solid #000000;
	border-left:1px solid #000000;
}
.border4
{
	border-top:1px solid #612C8C;
	border-right:1px none #612C8C;
	border-bottom:1px none #612C8C;
	border-left:1px solid #612C8C;
}
.border5
{
	border-top-width:1px;
	border-right-width:1px;
	border-bottom-width:1px;
	border-left-width:1px;
	border-top-style:solid;
	border-right-style:none;
	border-bottom-style:none;
	border-left-style:none;
	border-top-color:#612C8C;
	border-right-color:#612C8C;
	border-bottom-color:#612C8C;
	border-left-color:#612C8C;
}
