.nav {
	BORDER-RIGHT: #cccc99 thin; BORDER-TOP: #cccc99 thin; FONT-WEIGHT: bold; FONT-SIZE: 11px; TEXT-TRANSFORM: lowercase; BORDER-LEFT: #cccc99 thin; CURSOR: auto; COLOR: #3300cc; BORDER-BOTTOM: #cccc99 thin; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffcc
}
.header {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-VARIANT: normal
}
.main {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.sidebar {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #cccc99; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #993300
}
.bulleted {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; LIST-STYLE-TYPE: circle
}
.addnav {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #993300
}
.addNav_small {
	PADDING-RIGHT: 2px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 10px; PADDING-BOTTOM: 2px; MARGIN-LEFT: 15px; COLOR: #ffffff; PADDING-TOP: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #993300
}
.sidebar2 {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #cccc99
}
.credits {
	FONT-SIZE: 10px; COLOR: #333333; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.bigheader {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #000004; FONT-FAMILY: Arial, Helvetica, sans-serif
}
IMG.left {
	FLOAT: left
}
IMG.right {
	FLOAT: right
}
.formfield {
	BORDER-RIGHT: #8c9c99 1px solid; BORDER-TOP: #8c9c99 1px solid; FONT-SIZE: 10px; BORDER-LEFT: #8c9c99 1px solid; COLOR: #003163; BORDER-BOTTOM: #8c9c99 1px solid; BACKGROUND-COLOR: #fbfbfb
}
.FormButton {
	BORDER-RIGHT: 1px outset; BORDER-TOP: 1px outset; FONT-WEIGHT: bold; FONT-SIZE: 10px; BORDER-LEFT: 1px outset; COLOR: white; BORDER-BOTTOM: 1px outset; BACKGROUND-COLOR: #8c9c99; TEXT-ALIGN: center
}
