TD {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: verdana, sans-serif
}
B {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: verdana,sans-serif
}
A {
	COLOR: #000000; TEXT-DECORATION: none
}
A:link {
	FONT-WEIGHT: bold; COLOR: #607e9f; TEXT-DECORATION: underline
}
A:active {
	FONT-WEIGHT: bold; COLOR: #607e9f; TEXT-DECORATION: underline
}
A:visited {
	FONT-WEIGHT: bold; COLOR: #607e9f; TEXT-DECORATION: underline
}
.blurb {
	FONT-SIZE: 10px; COLOR: #ffffff; FONT-STYLE: italic; FONT-FAMILY: arial,sans-serif
}
.medium {
	FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: verdana,sans-serif
}
.medium2 {
	FONT-SIZE: 9pt; COLOR: #cccc33; FONT-FAMILY: verdana,sans-serif
}
.color2 {
	COLOR: #003366
}
.small {
	FONT-SIZE: 7pt; COLOR: #000000; FONT-FAMILY: verdana,sans-serif
}
.large {
	FONT-SIZE: 22pt; COLOR: #000000; FONT-FAMILY: verdana,sans-serif
}
