body {
	margin: 0;
	background: #000 url(/clients/DCDC/Images/banner_tile.gif) top left repeat-x;
	}
a {
	color: #9d1d00;
	}
a:hover {
	color: #fb0000;
	text-decoration: none;
	}
#wrapper {
	width: 1000px;
	float: left;
	position: relative;
	}
	#wrapper h1 {
		width: 401px;
		height: 35px;
		margin: 0;
		padding: 0;
		text-indent: -9000px;
		background: transparent url(/clients/DCDC/Images/h1_DCDC.gif) top left no-repeat;
		position: absolute;
		top: 0;
		right: 0;
		}

#content {
	width: 505px;
	float: left;
	font: normal 10px/18px Verdana, Arial, Helvetica, sans-serif;
	color: #999794;
	min-height: 529px;
	margin-bottom: 20px;
	margin-top: 128px;
	padding-left: 449px;
	background: transparent url(/clients/DCDC/Images/bg_home.jpg) top left no-repeat;
	z-index: 1;
	}
#content.minHeight {
	height: 529px;
	}
#about #content {
	background: transparent url(/clients/DCDC/Images/bg_about.jpg) top left no-repeat;
	}
#education #content {
	background: transparent url(/clients/DCDC/Images/bg_education.jpg) top left no-repeat;
	}
#contact #content {
	background: transparent url(/clients/DCDC/Images/bg_contact.jpg) top left no-repeat;
	}
#school #content {
	background: transparent url(/clients/DCDC/Images/bg_school.jpg) top left no-repeat;
	}
#season #content {
	background: transparent url(/clients/DCDC/Images/bg_season.jpg) top left no-repeat;
	}
#support #content {
	background: transparent url(/clients/DCDC/Images/bg_support.jpg) top left no-repeat;
	}


	/* For SIFR */
	#copy h2 {
		text-indent: 0;
		background: none;
		height: 1em;
		margin: 30px 0 5px 0;
		font-size: 18px;
		font-family: "Arial Narrow", Arial, sans-serif;
		color: #9d1d00;
		background-color: transparent;
		}
	#home #content #copy h2 {
		margin: 0;
		padding: 0;
		width: 503px;
		height: 99px;
		text-indent: -9000px;
		overflow: hidden;
		background: transparent url(/clients/DCDC/Images/h2_home.gif) top left no-repeat;
		}
		#home #flash-content {
			width: 456px;
			clear: both;
			margin: 10px 0;
			}
		#copy {
			width: 456px;
			clear: both;
			float: right;
			font: normal 10px/18px Verdana, Arial, Helvetica, sans-serif;
			color: #999794;
			}
			#content #copy h3 {
			margin: 20px 0 10px 0;
			background-color: #1a1a1a;
			color: #cdc8b6;
			font: normal 11px Arial, Helvetica, sans-serif;
			padding: 6px;
			border-left: 1px solid #9d1d00;
			letter-spacing: 2px;
			}
			#content #copy h4 {
			background-color: #999794;
			color: #000;
			font: bold 12px/1.5 Arial, Helvetica, sans-serif;
			padding: 5px 10px;
			border: 3px solid #9d1d00;
			border-left: 0;
			border-right: 0;
			margin: 1em 0;
		}

			#copy p {
				margin: 0 0 12px 0;
				padding: 0;
				}
			.center-text {
				text-align: center;
				}
			.small {
				font-size: 75%;
				line-height: normal;
				}
			.float-img-left {
				float: left;
				margin-right: 10px;
				margin-bottom: 10px;
				}
			.clear-left {
				clear: left;
				margin-top: 25px;
				}
			
			/* styles for listing table */
			.listing-tbl {
				background-color: #222;
				color: #999794;
				border-collapse: collapse;
				border: 1px solid #000;
				}
				/*.listing-tbl thead tr th, .listing-tbl tbody tr td {
					border: 1px solid #000;
					}*/
				.listing-tbl thead tr th {
					background-color: #000;
					color: #fff;
					}
					.listing-tbl thead tr th a {
						color: #999794;
						text-decoration: none;
						}
					.listing-tbl thead tr th a:hover {
						color: #ccc;
						text-decoration: underline;
						}
				.listing-tbl tbody tr.odd td {
					background-color: #000;
					}
			
			/* style for dancer headshots */
			#dancer-headshots li {
				display: inline;
				float: left;
				height: 250px;
				list-style-type: none;
				margin-right: 10px;
				width: 160px;
				text-align: center;	
				}
				#dancer-headshots li img {
					display: block;
					margin: 10px auto;
					}
			#ssp-controls {
				margin: 0 auto;
				border-collapse: collapse;
				caption-side: top;
				}
			#ssp-controls caption {
				color: #ccc;
				border-bottom: 1px solid #999;
				padding: 10px 0 2px 0;
				font-size: 80%;
				font-weight: bold;
				font-family: Verdana, Tahoma, sans-serif;
				text-align: left;
				margin: 0 auto;
				}
			#ssp-controls td {
				color: #999;
				font-size: 80%;
				font-family: Verdana, Tahoma, sans-serif;
				text-align: left;
				padding: 2px;
				}
#navbar {
	width: 1000px;
	height: 115px;
	position: absolute;
	top: 0;
	left: 0;
	}
	#navbar #logo {
		position: absolute;
		top: 0;
		left: 0;
		}
	#navbar #logo a img {
		border: 0;
		}
	#navbar ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	position: absolute;
	width: 813px;
	/*height: 80px;*/
	top: 35px;
	left: 187px;
	float: left;
}
#navbar ul li {
	float: left;
	height: 80px;
	margin: 0;
	padding: 0;
	text-indent: -9000px;
	position:relative;
}
#navbar ul li a {
	display: block;
	height: 80px;
}
#navbar ul li a:hover {
	background-position: top right !important;
}
	
			/* Nav Buttons */
			#nav_home a {
				background: transparent url(/clients/DCDC/Images/navbar_home.gif) top left no-repeat;
				width: 32px;
				}
			#nav_about a {
				background: transparent url(/clients/DCDC/Images/navbar_about.gif) top left no-repeat;
				width: 70px;
				}
			#nav_schedule a {
				background: transparent url(/clients/DCDC/Images/navbar_schedule.gif) top left no-repeat;
				width: 103px;
				}
			#nav_support a {
				background: transparent url(/clients/DCDC/Images/navbar_support.gif) top left no-repeat;
				width: 149px;
				}
			#nav_education a {
				background: transparent url(/clients/DCDC/Images/navbar_education.gif) top left no-repeat;
				width: 120px;
				}
			#nav_school a {
				background: transparent url(/clients/DCDC/Images/navbar_school.gif) top left no-repeat;
				width: 154px;
				}
			#nav_presenter a {
				background: transparent url(/clients/DCDC/Images/navbar_presenter.gif) top left no-repeat;
				width: 133px;
				}
			#nav_contact a {
				background: transparent url(/clients/DCDC/Images/navbar_contact.gif) top left no-repeat;
				width: 51px;
				}
			/* End Nav Buttons */

			#home #nav_home a {
				background-position: top right !important;
			}
			#about #nav_about a {
				background-position: top right !important;
			}
			#season #nav_schedule a {
				background-position: top right !important;
			}
			#support #nav_support a {
				background-position: top right !important;
			}
			#education #nav_education a {
				background-position: top right !important;
			}
			#school #nav_school a {
				background-position: top right !important;
			}
			#presenter #nav_presenter a {
				background-position: top right !important;
			}
			#contact #nav_contact a {
				background-position: top right !important;
			}

#subnav-presenter, #subnav-about {
	position: absolute;
	top: 102px;
	font: 10px Verdana, sans-serif;
	color: #333;
	border: 1px solid #38342e;
	padding: 7px 10px;
	background-color: #000;
	text-align: center;
	}
#subnav-about {
	left: 220px;
	width: 550px;
	}
#subnav-presenter {
	left: 660px;
	width: 270px;
	}
#footer {
	border-top: 1px solid #38342e;
	float: left;
	color: #bab2a7;
	width: 100%;
	clear: both;
	padding: 25px 0;
	}
	#footer p {
		width: 954px;
		margin: 0;
		padding: 0;
		border-left: 1px solid #000;
		text-align: right;
		font: normal 10px/18px Verdana, Arial, Helvetica, sans-serif;
		}
	a.footer-link {
		color: #bab2a7;
		text-decoration: none;
		}
	a:hover.footer-link {
		text-decoration: underline;
		}