BODY
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8.5pt;
    COLOR: #000000;
    FONT-FAMILY: Trebuchet, verdana, arial, sans-serif
}
TD
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8.5pt;
    COLOR: #000000;
    FONT-FAMILY: Trebuchet, verdana, arial, sans-serif
}
A
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8.5pt;
    COLOR: #000000;
    FONT-FAMILY: Trebuchet, verdana, arial, sans-serif
}
txt
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8.5pt;
    COLOR: #000000;
    FONT-FAMILY: Trebuchet, verdana, arial, sans-serif
}
UL
{
    LIST-STYLE-IMAGE: none;
    MARGIN: 0em 0em 0em 1.3em
}
.txtH
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10pt;
    COLOR: #000000;
    FONT-FAMILY: Trebuchet, verdana, arial, sans-serif
}
.txtHB
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #197ec7;
    FONT-FAMILY: Trebuchet, verdana, arial, sans-serif
}
.txtB
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8.5pt;
    COLOR: #000000;
    FONT-FAMILY: Trebuchet, verdana, arial, sans-serif
}
.alert
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 9pt;
    COLOR: red;
    FONT-FAMILY: Trebuchet, verdana, arial, sans-serif
}
.alertB
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8.5pt;
    COLOR: red;
    FONT-FAMILY: Trebuchet, verdana, arial, sans-serif
}
.button
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 7.5pt;
    FONT-FAMILY: trebuchet, verdana, arial, sans-serif
}
.form
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8.5pt;
    FONT-FAMILY: verdana, arial, sans-serif
}
A.linkB
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8.5pt;
    COLOR: #000000;
    FONT-FAMILY: Trebuchet, verdana, arial, sans-serif;
    TEXT-DECORATION: none
}
A.linkB:hover
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8.5pt;
    COLOR: #666666;
    FONT-FAMILY: Trebuchet, verdana, arial, sans-serif;
    TEXT-DECORATION: underline
}
A.linkBS
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8.5pt;
    COLOR: #666666;
    FONT-FAMILY: Trebuchet, verdana, arial, sans-serif;
    TEXT-DECORATION: none
}
A.linkBS:hover
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8.5pt;
    COLOR: #666666;
    FONT-FAMILY: Trebuchet, verdana, arial, sans-serif;
    TEXT-DECORATION: underline
}
A.link
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8.5pt;
    COLOR: #000000;
    FONT-FAMILY: Trebuchet, verdana, arial, sans-serif;
    TEXT-DECORATION: underline
}
A.link:hover
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8.5pt;
    COLOR: #666666;
    FONT-FAMILY: Trebuchet, verdana, arial, sans-serif;
    TEXT-DECORATION: none
}
A.linkS
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8.5pt;
    COLOR: #666666;
    FONT-FAMILY: Trebuchet, verdana, arial, sans-serif;
    TEXT-DECORATION: none
}
A.linkS:hover
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8.5pt;
    COLOR: #666666;
    FONT-FAMILY: Trebuchet, verdana, arial, sans-serif;
    TEXT-DECORATION: underline
}
A.linkB1
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8.5pt;
    COLOR: #000000;
    FONT-FAMILY: Trebuchet, verdana, arial, sans-serif;
    TEXT-DECORATION: underline
}
A.linkB1:hover
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8.5pt;
    COLOR: #666666;
    FONT-FAMILY: Trebuchet, verdana, arial, sans-serif;
    TEXT-DECORATION: none
}
A.linkSB1
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8.5pt;
    COLOR: #666666;
    FONT-FAMILY: Trebuchet, verdana, arial, sans-serif;
    TEXT-DECORATION: none
}
A.linkSB1:hover
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8.5pt;
    COLOR: #666666;
    FONT-FAMILY: Trebuchet, verdana, arial, sans-serif;
    TEXT-DECORATION: underline
}
A.linkN
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8.5pt;
    COLOR: #000000;
    FONT-FAMILY: Trebuchet, verdana, arial, sans-serif;
    TEXT-DECORATION: none
}
A.linkN:hover
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8.5pt;
    COLOR: #666666;
    FONT-FAMILY: Trebuchet, verdana, arial, sans-serif;
    TEXT-DECORATION: underline
}
