H1 {
	FONT-SIZE: 20pt; COLOR: #990000; LINE-HEIGHT: 22pt; FONT-FAMILY: helvetica, arial, sans-serif
}
H2 {
	FONT-SIZE: 14pt; COLOR: #666666; LINE-HEIGHT: 16pt; FONT-FAMILY: helvetica, arial, sans-serif
}
H3 {
	FONT-SIZE: 14pt; COLOR: #990000; LINE-HEIGHT: 16pt; FONT-FAMILY: helvetica, arial, sans-serif
}
H4 {
	FONT-SIZE: 12pt; COLOR: #666666; LINE-HEIGHT: 14pt; FONT-FAMILY: helvetica, arial, sans-serif
}
H4.headline {
	FONT-SIZE: 12pt; COLOR: #333399; LINE-HEIGHT: 14pt; FONT-FAMILY: helvetica, arial, sans-serif
}
P.first {
	FONT-SIZE: 12pt; COLOR: #000000; LINE-HEIGHT: 14pt; FONT-FAMILY: helvetica, arial, sans-serif
}
P.firstred {
	FONT-SIZE: 12pt; COLOR: #990000; LINE-HEIGHT: 14pt; FONT-FAMILY: helvetica, arial, sans-serif
}
P.second {
	FONT-SIZE: 9pt; COLOR: #000000; LINE-HEIGHT: 12pt; FONT-FAMILY: helvetica, arial, sans-serif
}
P.third {
	FONT-SIZE: 8pt; COLOR: #000000; LINE-HEIGHT: 10pt; FONT-FAMILY: helvetica, arial, sans-serif
}
B.gray {
	FONT-SIZE: 12pt; COLOR: #666666; LINE-HEIGHT: 14pt; FONT-FAMILY: helvetica, arial, sans-serif
}
B.blue {
	FONT-SIZE: 12pt; COLOR: #333399; LINE-HEIGHT: 14pt; FONT-FAMILY: helvetica, arial, sans-serif
}
UL {
	FONT-SIZE: 12pt; COLOR: #000000; LINE-HEIGHT: 14pt; FONT-FAMILY: helvetica, arial, sans-serif
}
OL {
	FONT-SIZE: 12pt; COLOR: #000000; LINE-HEIGHT: 14pt; FONT-FAMILY: helvetica, arial, sans-serif
}
A {
	COLOR: #990000; FONT-FAMILY: helvetica, arial, sans-serif; TEXT-DECORATION: underline
}
A:hover {
	COLOR: #666666; FONT-FAMILY: helvetica, arial, sans-serif; TEXT-DECORATION: underline
}
A:unknown {
	COLOR: #666666; FONT-FAMILY: helvetica, arial, sans-serif; TEXT-DECORATION: underline
}
