body{
	margin:0;
	color:#3d3d3d;
	font:13px Arial, Helvetica, sans-serif;
	background:#050505;
	min-width:960px;
}
img{border-style:none;}
a{
	text-decoration:none;
	color:#F8B216;
}
a:hover{text-decoration:underline;}
.search-form input,
.search-form textarea,
.search-form select{
	font:100% arial,sans-serif;
	vertical-align:middle;
	color:#737373;
	background: #c8c8c8;
}
form,
fieldset{
	margin:0;
	padding:0;
	border-style:none;
}
hr{
	clear: both;
}
#wrapper{
	background:#c9c9c9 url("https://secure.thewebshop.ca/churchoftherock.ca/img/background-gradient.jpg") repeat-x;
	width:100%;
}
.w1{
	width:100%;
	background:url(https://secure.thewebshop.ca/churchoftherock.ca/img/layout/bg-wrapper.jpg) no-repeat 50% 0;
	z-index: 1;
}
#header{
	width:100%;
	background:url(https://secure.thewebshop.ca/churchoftherock.ca/img/layout/bg-header.gif) repeat-x;
	position: relative;
}
.header-holder{
	width:100%;
	background:url("https://secure.thewebshop.ca/churchoftherock.ca/img/header-background.jpg") no-repeat 50% 0;
	height:auto;
	padding:11px 0 0;
	border-bottom: 1px solid #2b2b2b;
}
.header-frame{
	width: 960px;
	margin: 0 auto;
	position: relative;
	height: 85px;
}
#header .info-box{
	width:100%;
	overflow:hidden;
	margin:8px 0 10px;
	height:83px;
}
#header .add-box{
	float:right;
	width:652px;
	padding:26px 0 0;
}
#header .add-box .box{
	width:301px;
	text-align:right;
	color:#fff;
	font:11px/13px Arial, Helvetica, sans-serif;
	float:left;
	margin:0 20px 0 0;
}
#header .add-box address{font-style:normal;}
#header .add-box address span{
	display:block;
	line-height:16px;
}
#header .add-box address .color{color:#f8b216;}
#header .add-box .box p{margin:0;}
#header .add-box .second{width:100px;}
#header .add-box .box a{color:#f8b216;}
#header .add-box .join{
	display:block;
	font:14px/16px Arial, Helvetica, sans-serif;
}
#header .add-box dl{margin:0;}
#header .add-box dt{display:inline;}
#header .add-box dd{
	display:inline;
	margin:0;
}
.search-form{
	float:left;
	background: #c8c8c8;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	width:170px;
	height:20px;
	padding:6px 0 0 14px;
	margin:16px 0 0 27px;
	display:inline;
}
.search-form .text{
	float:left;
	background:none;
	border:0;
	padding:0;
	margin:0;
	position:relative;
	font:11px/14px Arial, Helvetica, sans-serif;
	width: 128px;
}
.search-form .submit{
	float:left;
	margin:0 0 0 10px;
	position:relative;
}
.logo{
	background:url(https://secure.thewebshop.ca/churchoftherock.ca/img/layout/logo.png) no-repeat;
	width:144px;
	height:98px;
	text-indent:-9999px;
	float:left;
	margin:0 0 0 28px;
	display:inline;
}
.logo a{
	display:block;
	height:98px;
	overflow:hidden;
	position:relative;
}

#header #nav .sf-sub-indicator {
	display:none;
}
#nav {
	position: absolute;
	top:47px;
	width: 960px;
}
#nav ul.dropdown{
	list-style:none;
	padding:0;
	margin:0 0 0 -18px;
	height:1%;
	z-index: 105;
}
#nav ul.dropdown *{
	z-index: 105;
}
#nav ul.dropdown li
{
	background-color: #333;
}

#nav ul.dropdown li.level-0{
	float:left;
	font:14px/16px Arial, Helvetica, sans-serif;
	background: url(https://secure.thewebshop.ca/churchoftherock.ca/img/layout/separator-nav.gif) no-repeat;
	padding:13px 25px 11px;
	margin:0 1px 0 -1px;
}

#nav ul.dropdown li.first-menu-item
{
	background: none;
}
#nav ul.dropdown a{color:#fff;}
#nav ul.dropdown a:hover{color:#F8B216;}
#nav ul.dropdown .active a{
	text-decoration:none;
	color:#f8b216;
}
#nav ul.dropdown ul.sub_menu {
	margin-top: 3px;
}
#nav .search-form {
	right: 3px;
	position: absolute;
	bottom: 11px;
}
.mega-menu {
}
#main{
	width:960px;
	margin:0 auto;
	padding:22px 0;
	z-index: 0;
	position: relative;
}
.calendar #main { width: 980px; }
.main-box{
	width:960px;
background-color: #ffffff;
	margin:0 0 22px;
}
.gallery{
	float:left;
	position:relative;
}
.gallery-holder{
	background:url(https://secure.thewebshop.ca/churchoftherock.ca/img/layout/bg-gallery.png) no-repeat;
	width:678px;
	height:440px;
	padding:6px 6px 72px;
}
.slide-hold{
	height:440px;
	width:678px;
	overflow:hidden;
	position:relative;
}
.slide,
.paging,
.switcher,
#carousel-nav{
	list-style:none;
	padding:0;
	margin:0;
	position:absolute;
}
.slide{
	top:0;
	left:0;
	width:99999px;
}
.slide li{
	float:left;
	width:678px;
	height:440px;
}
.paging,
#carousel-nav{
	left:416px;
	top:23px;
	z-index: 100;
}
.paging li,
#carousel-nav li {
	float:left;
	margin:0 2px 0 0;
}
.paging a, #carousel-nav a{
	float:left;
	width:29px;
	height:21px;
	background:url(https://secure.thewebshop.ca/churchoftherock.ca/img/layout/bg-paging.png) no-repeat;
	color:#fff;
	font:14px/16px Arial, Helvetica, sans-serif;
	text-align:center;
	padding:5px 0 0;
	cursor:pointer;
}
.paging a:hover,
.paging .active a,
#carousel-nav a:hover,
#carousel-nav a.carousel-nav-active{
	background:url(https://secure.thewebshop.ca/churchoftherock.ca/img/layout/bg-paging-hover.png) no-repeat;
	text-decoration:none;
}
.switcher{
	left:8px;
	bottom:0;
}
.switcher li{
	float:left;
	position:relative;
}
#watch-online{
	z-index:100;
	margin:-6px 0 0;
}
#video-tour{
	z-index:90;
	margin:6px 0 0 -20px;
}
#donate{
	z-index:80;
	margin:-4px 0 0 -29px;
}
#estore{
	z-index:70;
	margin:4px 0 0 -23px;
}
#now-what{
	z-index:60;
	margin:-5px 0 0 -22px;
}
.switcher li a{
	float:left;
	width:144px;
	height:119px;
	overflow:hidden;
	cursor:pointer;
	text-indent:-9999px;
}
#watch-online a{background:url(https://secure.thewebshop.ca/churchoftherock.ca/img/layout/switcher-watch-online-sprite.png) no-repeat;}
#video-tour a{background:url(https://secure.thewebshop.ca/churchoftherock.ca/img/layout/switcher-video-tour-sprite.png) no-repeat;}
#donate a{background:url(https://secure.thewebshop.ca/churchoftherock.ca/img/layout/switcher-donate-sprite.png) no-repeat;}
#estore a{background:url(https://secure.thewebshop.ca/churchoftherock.ca/img/layout/switcher-estore-sprite.png) no-repeat;}
#now-what a{background:url(https://secure.thewebshop.ca/churchoftherock.ca/img/layout/switcher-now-what-sprite.png) no-repeat;}
#watch-online a:hover,
#watch-online.active a{background:url(https://secure.thewebshop.ca/churchoftherock.ca/img/layout/switcher-watch-online-sprite.png) no-repeat 0 -119px;}
#video-tour a:hover,
#video-tour.active a{background:url(https://secure.thewebshop.ca/churchoftherock.ca/img/layout/switcher-video-tour-sprite.png) no-repeat 0 -119px;}
#donate a:hover,
#donate.active a{background:url(https://secure.thewebshop.ca/churchoftherock.ca/img/layout/switcher-donate-sprite.png) no-repeat 0 -119px;}
#estore a:hover,
#estore.active a{background:url(https://secure.thewebshop.ca/churchoftherock.ca/img/layout/switcher-estore-sprite.png) no-repeat 0 -120px;}
#now-what a:hover,
#now-what.active a{background:url(https://secure.thewebshop.ca/churchoftherock.ca/img/layout/switcher-now-what-sprite.png) no-repeat 0 -120px;}
#content-top-rounded-corners { background: url(https://secure.thewebshop.ca/churchoftherock.ca/img/layout/bg-content.gif) no-repeat; width: 688px; float: left; height: 10px; }
#content{
	width:688px;
	float:left;
	background:url(https://secure.thewebshop.ca/churchoftherock.ca/img/layout/bg-content.gif) no-repeat -688px 100%;
	padding:0 0 14px;
	color:#000;
}
.content-holder{
	background:url(https://secure.thewebshop.ca/churchoftherock.ca/img/layout/bg-content.gif) repeat-y -1376px 0;
	overflow:hidden;
}
.content-frame{
	background:url(https://secure.thewebshop.ca/churchoftherock.ca/img/layout/bg-content.gif) no-repeat 0 -10px;
	overflow:hidden;
	height:1%;
	padding:11px 73px 15px 20px;
	min-height: 800px;
}
.breadcrumbs{
	list-style:none;
	padding:0;
	margin:0 0 10px -5px;
	overflow:hidden;
	height:1%;
	display: none;
}
.breadcrumbs li{
	float:left;
	background:url(https://secure.thewebshop.ca/churchoftherock.ca/img/layout/arrow-breadcrumbs.gif) no-repeat 0 50%;
	color:#6e6e6e;
	font:11px/13px Arial, Helvetica, sans-serif;
	padding:0 4px 0 14px;
	margin:0 7px 0 -7px;
}
.breadcrumbs a{color:#6e6e6e;}
#content img{
	vertical-align:top;
	margin:0 0 5px;
}
#content p{
	margin:0 0 21px;
	line-height:17px;
}
#content h1{
	margin:0 0 22px;
	color:#366ab0;
	font:25px/27px Arial, Helvetica, sans-serif;
}
#content h2{
	color:#454545;
	margin:0 0 8px;
	font:20px/22px Arial, Helvetica, sans-serif;
}
.aside{
	width:337px;
	float:right;
	margin:0 0 0 -100px;
	position:relative;
	padding:4px 0 0;
	color:#fff;
	z-index: 30;
}
.aside a{color:#fff;}
.aside a:hover,
.container .calendar-box .post a:hover{
	color:#eaa815;
	text-decoration:none;
}
.aside-holder{
	background:url(https://secure.thewebshop.ca/churchoftherock.ca/img/layout/aside-t.png) no-repeat;
	padding:12px 0 0;
	width:100%;
}
.aside-frame{
	background:url(https://secure.thewebshop.ca/churchoftherock.ca/img/layout/aside-c.png) repeat-y;
	overflow:hidden;
	width:100%;
}
.aside-content{
	padding:4px 10px 0 27px;
	overflow:hidden;
	height:1%;
	position:relative;
}
.aside-content .link-default p { margin-top: 0; }
.aside-b{
	background:url(https://secure.thewebshop.ca/churchoftherock.ca/img/layout/aside-b.png) no-repeat;
	height:11px;
	width:337px;
}
.aside .link{
	width:100%;
	overflow:hidden;
	margin:0 0 14px;
}
.aside img{vertical-align:top;}
.aside .post img{margin:0 0 8px;}
.post{
	list-style:none;
	padding:0 0 0 20px;
	margin:0;
}
.post li{
	margin:0 0 11px;
	vertical-align:top;
	overflow:hidden;
	height:1%;
}
.post p{
	font:14px/16px Arial, Helvetica, sans-serif;
	margin:0 0 4px;
}
.post .date, #upcoming-ministry-events .date{
	font:10px/12px Arial, Helvetica, sans-serif;
	display:block;
	margin:0 0 8px;
}
#upcoming-ministry-events .date { margin-bottom: 0; }
.aside-inner .link{
	height:102px;
	overflow:hidden;
	width:302px;
}
.aside-inner .link-default { height: auto; }
.aside-inner .link a:hover{border:none;}
.aside-inner .link a:hover img{margin:-102px 0 0;}
.aside-inner .link-default a:hover img{margin:0;}
.aside .menu{
	background:url(https://secure.thewebshop.ca/churchoftherock.ca/img/layout/bg-aside-menu.png) no-repeat;
	height:174px;
	width:258px;
	overflow:hidden;
	padding:17px 22px 10px;
}
.aside .menu ul{
	list-style:none;
	padding:0;
	margin:0;
}
.aside .menu ul li{
	font:12px/18px Arial, Helvetica, sans-serif;
	color:#fff;
	margin:0 0 10px;
}
.aside .menu ul a{color:#fff;}
.aside .menu  h3{
	font:30px/32px Arial, Helvetica, sans-serif;
	margin:0 0 10px;
}
.aside .menu ul a:hover{color:#eaa815;}
.container{
	width:100%;
	background:url(https://secure.thewebshop.ca/churchoftherock.ca/img/layout/bg-main-content.gif) no-repeat;
	padding:10px 0 0;
	margin:0 0 22px;
}
.container-holder{
	background:url(https://secure.thewebshop.ca/churchoftherock.ca/img/layout/bg-main-content.gif) no-repeat -960px 100%;
	padding:0 0 10px;
}
.container-frame{
	background:url(https://secure.thewebshop.ca/churchoftherock.ca/img/layout/bg-main-content.gif) repeat-y -1920px 0;
	overflow:hidden;
	height:1%;
	padding:0 10px;
}
.container  .events{
	width:570px;
	float:left;
	background:#eceedf url(https://secure.thewebshop.ca/churchoftherock.ca/img/layout/bg-events.gif) no-repeat -626px 100%;
	padding:15px 30px 10px 26px;
}
.container .events .title{
	background:#5d7eaf url(https://secure.thewebshop.ca/churchoftherock.ca/img/layout/bg-events.gif) no-repeat;
	overflow:hidden;
	padding:11px 10px 9px 17px;
	margin:-15px -30px 0 -26px;
	width:599px;
	border-bottom:1px solid #000;
}
.container .events .title h2{
	float:left;
	color:#fff;
	font:16px/18px Arial, Helvetica, sans-serif;
	margin:0;
}
.container .events .title .more{
	background:url(https://secure.thewebshop.ca/churchoftherock.ca/img/layout/arrow-title.gif) no-repeat 0 7px;
	float:right;
	padding:0 0 0 10px;
	color:#fff;
	line-height:14px;
	margin:3px 0 0;
}
.posts .subtitle{
	overflow:hidden;
	width:100%;
	margin:0 0 12px;
}
.posts .subtitle .btn{
	float:right;
	margin:5px 0 0;
	background:url(https://secure.thewebshop.ca/churchoftherock.ca/img/layout/btn-more.gif) no-repeat 100% 0;
	padding:0 23px 0 0;
	font:10px/12px Arial, Helvetica, sans-serif;
	cursor:pointer;
	height:19px;
}
.posts .subtitle .btn:hover{text-decoration:none;}
.posts .subtitle .btn span{
	float:left;
	background:url(https://secure.thewebshop.ca/churchoftherock.ca/img/layout/btn-more.gif) no-repeat 0 -19px;
	height:16px;
	padding:3px 0 0 13px;
}
.posts .subtitle h3{
	color:#3783a7;
	margin:0;
	font:18px/27px Arial, Helvetica, sans-serif;
	float:left;
}
.posts .subtitle h2 a{color:#3d3d3d;}
.container .posts{
	list-style:none;
	padding:0;
	margin:0 -30px 0 -26px;
	overflow:hidden;
	width:626px;
}
.container .posts p{
	margin:0;
	line-height:17px;
}
.container .posts .alignright {
	float: left;
	margin:4px 35px 0 0;
	border: 5px solid #ccccc1;
}
.container .posts .mark .alignright {
	float:right;
	margin:4px 0 0 35px;
	border:5px solid #ccccc1;
}

.container .posts li{
	padding:16px 30px 15px 26px;
	overflow:hidden;
	height:1%;
}
.container .posts .mark {
	background:#fffff1;
	padding-top:7px;
}
.ministry-blog-posts li { padding: 7px; }
.ministry-blog-posts li a.thumbwrap { float: left; padding: 5px; background: #eee; margin-right: 10px; border: 1px solid #aaa; }
#content .ministry-blog-posts li a.thumbwrap img { margin-bottom: 0; }
.ministry-blog-posts li.mark a.thumbwrap { background: #fff; }
.ministry-blog-posts .mark { background: #eee; }
.calendar-box{
	width:300px;
	float:right;
	color:#fff;
}
.calendar-box p{
	margin:0;
	font:14px/17px Arial, Helvetica, sans-serif;
}
.calendar-box .title{
	background:url(https://secure.thewebshop.ca/churchoftherock.ca/img/layout/bg-title-calendar.gif) no-repeat;
	height:50px;
	overflow:hidden;
	padding:40px 9px 10px;
	margin:0 0 8px;
}
.calendar-box .title p{font:16px/18px Arial, Helvetica, sans-serif;}
.calendar-box h3{
	margin:0;
	font:30px/32px Arial, Helvetica, sans-serif;
	color:#fff;
}
.calendar-box a{color:#fefefe;}
.calendar-box .more{
	display:block;
	text-align:right;
	font-size:11px;
	margin:0 0 4px;
}
.calendar-box .post{padding-left:14px;}
.calendar-box .post li{margin-bottom:25px;}
.calendar-box .post .date{
	margin-bottom:3px;
	color:#c4c4c4;
}
.pillars-box{
	background:url(https://secure.thewebshop.ca/churchoftherock.ca/img/layout/bg-main-content.gif) no-repeat -2880px 0;
	padding:10px 0 0;
	width:100%;
	overflow:hidden;
}
.calendar .pillars-box { width: 960px; }
.pillars-holder{
	background:url(https://secure.thewebshop.ca/churchoftherock.ca/img/layout/bg-main-content.gif) no-repeat -3840px 100%;
	padding:0 0 7px;
}
.pillars-frame{
	background:#000 url(https://secure.thewebshop.ca/churchoftherock.ca/img/layout/bg-main-content.gif) no-repeat -4800px 0;
	overflow:hidden;
	padding:0 10px;
	height:1%;
}
.pillars-box .columns{
	width:950px;
	overflow:hidden;
}
.pillars-box .columns .holder{
	background:#050505 url(https://secure.thewebshop.ca/churchoftherock.ca/img/layout/bg-pillar-columns.gif) no-repeat;
	float:left;
	overflow:hidden;
}
.pillars-box .columns .frame{
	background:url(https://secure.thewebshop.ca/churchoftherock.ca/img/layout/bg-pillar-columns.gif) no-repeat -935px 100%;
	float:left;
	overflow:hidden;
	margin:0 0 0 -5px;
}
.pillars-box .columns .box{
	float:left;
	width:164px;
	margin:0 0 0 5px;
	min-height:191px;
	text-align:center;
	padding:1px 10px 10px;
	display:inline;
}
* html .pillars-box .columns .box{height:191px;}
.pillars-box .columns .image{
	margin:0 -10px;
	width:184px;
	overflow:hidden;
}
.pillars-box .columns .image img{
	vertical-align:top;
	margin:0 0 15px;
}
.pillars-box .columns ul{
	list-style:none;
	padding:0;
	margin:0;
}
.pillars-box .columns ul li{
	color:#ccc;
	font:14px/16px Arial, Helvetica, sans-serif;
	margin:0 0 7px;
}
.pillars-box .columns ul a{color:#ccc;}
#footer{
	width:100%;
	background:#050505;
}
.footer-holder{
	margin:0 auto;
	width:935px;
	overflow:hidden;
	padding:22px 25px 25px 0;
}
.footer-box{
	float:left;
	width:671px;
	font:bold 11px/13px Arial, Helvetica, sans-serif;
	color:#fff;
}
.footer-box address{font-style:normal;}
.footer-box address span{
	display:inline;
	margin:0 25px 0 0;
}
.footer-box address .mark{color:#dfc17e;}
.footer-box dl{margin:0;}
.footer-box dt{display:inline;}
.footer-box dd{
	display:inline;
	margin:0 25px 0 0;
}
.footer-logo{
	float:right;
	background:url(https://secure.thewebshop.ca/churchoftherock.ca/img/layout/logo.png) no-repeat;
	width:144px;
	height:98px;
	text-indent:-9999px;
	margin:0 16px 0 0;
}
.footer-logo a{
	display:block;
	height:98px;
	overflow:hidden;
	position:relative;
}
.social-networks{
	list-style:none;
	padding:0;
	margin:-2px 0 0;
	float:right;
}
.social-networks li{float:left;}
.social-networks a{
	width:30px;
	height:30px;
	float:left;
	text-indent:-9999px;
	overflow:hidden;
	margin:0 12px 0 0;
}
.social-networks .facebook{background:url(https://secure.thewebshop.ca/churchoftherock.ca/img/layout/ico-facebook.gif) no-repeat;}
.social-networks .twitter{background:url(https://secure.thewebshop.ca/churchoftherock.ca/img/layout/ico-twitter.gif) no-repeat;}
.social-networks .rss{background:url(https://secure.thewebshop.ca/churchoftherock.ca/img/layout/ico-rss.gif) no-repeat;}
.social-networks .mail{background:url(https://secure.thewebshop.ca/churchoftherock.ca/img/layout/ico-mail.gif) no-repeat;}
.social-networks .podcast{background:url(https://secure.thewebshop.ca/churchoftherock.ca/img/layout/ico-podcast.gif) no-repeat;}
#footer a{
	color:#424242;
	text-decoration:underline;
}
#footer a:hover{text-decoration:none;}
.footer-holder .link{
	display:block;
	margin:0 0 4px;
}
#footer .cws-plug { color: #424242; font:10px/12px Arial, Helvetica, sans-serif; }
.footer-holder .link a{font:10px/12px Arial, Helvetica, sans-serif;}
.footer-holder p{
	margin:0;
	font:11px/13px Verdana, Arial, Helvetica, sans-serif;
	color:#2e2e2e;
}
#footer .contact-box{
	width:100%;
	overflow:hidden;
	padding:2px 0 0;
	margin:0 0 30px;
}
#content a, .event-details a, .event-details a:visited { color: #5d7eaf; }
#content a:visited { color: #6e154c; }
input.text-field { width: 260px; }
p.map-bubble-text { margin-right: 10px; }
.aside .ajax_calendar_widget a { color: #f8b216; }
body.mceContentBody { background: #fff; }
body.mceContentBody a { color: #5D7EAF; }


#footer .contact-box {
	margin-bottom: 22px;
}

.footer-box .contact-box address p {
	font-size: 15px;
	color: #e9e9e9;
	line-height: 1.24em;
	font-family: "Century Gothic", Verdana, arial, sans-serif;
}

.footer-box {
	position: relative;
	width: 615px;
}

.footer-box .social-networks {
	position: absolute;
	margin-top: -30px;
	right: 0px;
}

.footer-box .copyright {
	font-size: 14px;
	color: #818181;
}

	#footer .footer-box .copyright a,
	#footer .footer-box .copyright a:link,
	#footer .footer-box .copyright a:visited,
	#footer .footer-box .copyright a:active {
		color: #818181;
	}

.footer-box .cws-plug {
	padding-top: 7px;
	text-align: right;
	padding-right: 11px;
}