/* CSS Document */

body{ background-image: url(/clients/aces4autism/images/bgmain.jpg);
margin: 0;
padding:0;
}

#mainbox{ width:859px;

background-image: url(/clients/aces4autism/images/mctnbg.jpg);
margin: 0 auto;
border:#CCCCCC 0px solid;
}

#topbg{
width:836px; height:112px;
margin: 10px auto 0px;
display:block;
background-image:url(/clients/aces4autism/images/topbg.jpg);
}

#logo{ width:174px;
height:148px;
float: left;
}


#banner{ background-image:url(/clients/aces4autism/images/banner.jpg); height:236px;
width:836px;
margin: 0 auto;
}

#menu{ background-image:url(/clients/aces4autism/images/menubg.jpg);
width:836px; height:38px;
margin: 0 auto;
}


#topmenu{
display:block; clear:both; margin:0 auto; 
}

ul{
list-style:none; width:836px; margin-left:-35px; margin-top:-16px;
}

li{
list-style:none; display:inline; float:left;  vertical-align: middle; 
}


.sep{
list-style:none; display:inline; float:left; 
}

.font1{
font-family:Verdana, Helvetica, sans-serif;
font-weight:bold;
font-size:10pt;
color:#ffffff;
text-decoration:none;
margin-top:30px;
}

#topmenu1{
display:block; 
font-family:Verdana, Helvetica, sans-serif;
font-size:10pt;
color:#7a8498;
font-weight:bold;
}

.topmenufonts{
font-family:Verdana, Helvetica, sans-serif;
font-size:10pt;
color:#7a8498;
font-weight:bold;
text-decoration:none;
}

#content{ width:836px;
margin:0 auto;
clear:both;
}

.font2{ font-family:"Times New Roman", Times, serif;
font-size:29px;
color:#FFFFFF;
}

.fontprizes{ font-family:"Times New Roman", Times, serif;
font-size:18px;
color:#FFFFFF;
}

.fonthead{ font-family: Verdana, Helvetica, sans-serif;
font-size:29px;
color:#FFFFFF;
}

.fonthead1{ font-family: Verdana, Helvetica, sans-serif;
font-size:18px;
color:#FFFFFF;
}

.fonthead2{ font-family: Verdana;
font-size:22px;
color:#FFFFFF;
}

.font3{ font-family: Verdana, Helvetica, sans-serif;
font-size:13px;
color:#FFFFFF;
font-weight:bold;
}

.font4{ font-family: Verdana, Helvetica, sans-serif;
font-size:10px;
color:#FFFFFF;
font-weight:bold;
}

#topfonts{ font-family:Verdana, Helvetica, sans-serif;
font-size:11pt;
color:#FFFFFF;
font-weight:bold;
display:inline;
}

#footer{ margin:0 auto;
font-family:Verdana, Helvetica, sans-serif;
width:836px;
font-size:8pt;
color:#FFFFFF;
}

hr{
color:#a90820;
}
