@charset "utf-8";
/* CSS Document */
html, body {
	height: 100%;
	margin: 0px;
	padding: 0px;
}

body {
	font: 11px "Verdana";
	color: #333333;
	background: #03275f;
}

a {
	outline: 0px;
	color: #158117;
}

a:visited {
	color: #328527;
}

p {
	margin: 15px 0px 0px 0px;
}

img {
	border: 0px;
}

form {
	margin: 0px;
	padding: 0px;
}

input, textarea {
	font: 11px "Verdana";
	color: #333;
}

h1 {
	font: bold 30px "Tahoma";
	color: #204263;
	margin: 0 0 15px 0;
	padding: 0px;
}

h2 {
	font: bold 16px "Tahoma";
	color: #336699;
}

h3 {
	font: bold 14px "Tahoma";
	color: #336699;
	margin: 0  0 6px 0;
}

object {
	outline: 0;
}
div.footer_background
{
	background: url('/clients/CatalinaChamber/Images/footer_background.png') top left no-repeat;
	line-height:20px;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop, src='/clients/CatalinaChamber/Images/footer_background.png');
}
#background-container {
	background: url('/clients/CatalinaChamber/Images/background.jpg') no-repeat top center;
}

div#root-container {
	position: relative;
	margin: 0 auto;
	width: 949px;
}

	div#main-container {
		position: relative;
		padding-top: 151px;
	}
		
		
	div#nav-container {
		position: absolute;
		top: 102px;
		left: -5px;
		width: 959px;
		z-index: 9;
	}

		ul#nav-list {
			list-style-type: none;
			padding: 0px;
			margin: 0px;
		}
		
			ul#nav-list li {
				float: left;
				position: relative;
			}
			
				ul#nav-list li a #nav01 {
					background: url(/clients/CatalinaChamber/Images/nav-about_catalina.png) top left no-repeat;
					filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop, src='/clients/CatalinaChamber/Images/nav-about_catalina.png');
				}
				
					ul#nav-list li a:hover #nav01 {
						background: url(/clients/CatalinaChamber/Images/nav-about_catalina-on.png) top left no-repeat;
						filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop, src='/clients/CatalinaChamber/Images/nav-about_catalina-on.png');
					}
				
				ul#nav-list li a #nav02 {
					background: url(/clients/CatalinaChamber/Images/nav-howto.png) top left no-repeat;
					filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop, src='/clients/CatalinaChamber/Images/nav-howto.png');
				}
				
					ul#nav-list li a:hover #nav02 {
						background: url(/clients/CatalinaChamber/Images/nav-howto-on.png) top left no-repeat;
						filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop, src='/clients/CatalinaChamber/Images/nav-howto-on.png');
					}
				
				ul#nav-list li a #nav03 {
					background: url(/clients/CatalinaChamber/Images/nav-what_to_do.png) top left no-repeat;
					filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop, src='/clients/CatalinaChamber/Images/nav-what_to_do.png');
				}
				
					ul#nav-list li a:hover #nav03 {
						background: url(/clients/CatalinaChamber/Images/nav-what_to_do-on.png) top left no-repeat;
						filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop, src='/clients/CatalinaChamber/Images/nav-what_to_do-on.png');
					}
				
				ul#nav-list li a #nav04 {
					background: url(/clients/CatalinaChamber/Images/nav-where.png) top left no-repeat;
					filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop, src='/clients/CatalinaChamber/Images/nav-where.png');
				}
				
					ul#nav-list li a:hover #nav04 {
						background: url(/clients/CatalinaChamber/Images/nav-where-on.png) top left no-repeat;
						filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop, src='/clients/CatalinaChamber/Images/nav-where-on.png');
					}
				
				ul#nav-list li a #nav05 {
					background: url(/clients/CatalinaChamber/Images/nav-specials.png) top left no-repeat;
					filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop, src='/clients/CatalinaChamber/Images/nav-specials.png');
				}
				
					ul#nav-list li a:hover #nav05 {
						background: url(/clients/CatalinaChamber/Images/nav-specials-on.png) top left no-repeat;
						filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop, src='/clients/CatalinaChamber/Images/nav-specials-on.png');
					}
				
				ul#nav-list li a #nav06 {
					background: url(/clients/CatalinaChamber/Images/nav-meetings.png) top left no-repeat;
					filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop, src='/clients/CatalinaChamber/Images/nav-meetings.png');
				}
				
					ul#nav-list li a:hover #nav06 {
						background: url(/clients/CatalinaChamber/Images/nav-meetings-on.png) top left no-repeat;
						filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop, src='/clients/CatalinaChamber/Images/nav-meetings-on.png');
					}
				
				ul#nav-list li a #nav07 {
					background: url(/clients/CatalinaChamber/Images/nav-media.png) top left no-repeat;
					filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop, src='/clients/CatalinaChamber/Images/nav-media.png');
				}
				
					ul#nav-list li a:hover #nav07 {
						background: url(/clients/CatalinaChamber/Images/nav-media-on.png) top left no-repeat;
						filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop, src='/clients/CatalinaChamber/Images/nav-media-on.png');
					}
				
				ul#nav-list li a #nav08 {
					background: url(/clients/CatalinaChamber/Images/nav-about_chamber.png) top left no-repeat;
					filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop, src='/clients/CatalinaChamber/Images/nav-about_chamber.png');
				}
				
					ul#nav-list li a:hover #nav08 {
						background: url(/clients/CatalinaChamber/Images/nav-about_chamber-on.png) top left no-repeat;
						filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop, src='/clients/CatalinaChamber/Images/nav-about_chamber-on.png');
					}
					
				ul#nav-list li a #nav09 {
					background: url(/clients/CatalinaChamber/Images/nav-community.png) top left no-repeat;
					filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop, src='/clients/CatalinaChamber/Images/nav-community.png');
				}
				
					ul#nav-list li a:hover #nav09 {
						background: url(/clients/CatalinaChamber/Images/nav-community-on.png) top left no-repeat;
						filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop, src='/clients/CatalinaChamber/Images/nav-community-on.png');
					}
			
			ul#nav-list ul.nav-dropdown-list {
				display: none;
				position: absolute;
				z-index: 9;
				top: 62px;
				left: 0px;
				width: 178px;
			}
			
			ul#nav-list li.nav-list-item-first ul.nav-dropdown-list {
				left: 28px;
			}
			
			ul#nav-list li.nav-list-item-last ul.nav-dropdown-list {
				left: -67px;
			}
			
				ul.nav-dropdown-list li {
					width: 100%;
					height: auto;
					clear: left;
					background: url(/clients/CatalinaChamber/Images/nav-dropdown-bg.png) top left;
					/* IE hack */
  					background:#ffffff url(/clients/CatalinaChamber/Images/nav-dropdown-bg.png) top left\9; /* Targets IE only */
					filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src='/clients/CatalinaChamber/Images/nav-dropdown-bg.png');
				}
					
					ul.nav-dropdown-list li a {
						width: 173px;
						/*height: 13px;*/
						display: inline-block;
						padding: 8px 0px 6px 5px;
						text-decoration: none;
						font-weight: bold;
						color: #248ba6;
						font-size: 10px;
					}
					
						ul.nav-dropdown-list li a:visited {
							color: #248ba6;
						}
					
						ul.nav-dropdown-list li a:hover {
							color: #fff;
							background: url('/clients/CatalinaChamber/Images/nav-dropdown-over.gif') bottom left no-repeat #248BA6;
						}
				
					ul.nav-dropdown-list li.nav-dropdown-end {
						width: 178px;
						height: 10px;
						background: url(/clients/CatalinaChamber/Images/nav-dropdown-bottom.png) top left no-repeat;
						filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop, src='/clients/CatalinaChamber/Images/nav-dropdown-bottom.png');
					}
		
		div#footer-container {
			width: 100%;
			text-align: center;
			font-size: 10px; 
			color: #005C74; 
		}
		
		div#footer-container a{
			color: #005C74; 
			text-decoration: none;
		}
			div#footer-links-container {
				float: left;
				position: relative;
				left: 50%;
				margin: 5px 0px 0px 0px;
				height:30px;
			}
			
				ul#footer-links-list {
					position: relative;
					left: -50%;
				}
				
				ul#footer-links-list li {
					color: #005c74;
					position: relative;
					margin-right: 5px;
				}
				
					ul#footer-links-list li a {
						color: #005c74;
						text-decoration: none;
					}
					
			hr.sitemap-divider {
				width: 455px;
				height: 1px;
				border: 0px;
				border-top: 1px solid #011f4d;
				margin: 0 auto;
				margin-top: 10px;
				margin-bottom: 15px;
			}
			
			div#sitemap-container {
				font: "Arial";
				font-size:11px;
				text-align: left;
				margin: 10px auto;
				padding:0px;
				text-align:center;
				width:680px;
			}
			div#sitemap-container ul{
				width:160px;
				text-align:left;
				margin:5px;
				padding:0px;
			}
			
			div#sitemap-container h2{
				color:#00173c;
				font-size:11px;
				font-weight:bold;
				padding:0px;
				margin:0px 0px 15px 0px;
			}
			div#sitemap-divider ul li{
				margin:0px;
				padding:0x;
			}
				ul.sitemap-list-column {
					float: left;
					padding:0px;
					margin:0px 0px 0px 50px;
					clear:right;
				}
				
					ul.sitemap-list-column li {
						margin:0px 0px 10px 0px;
					}
					
					ul.sitemap-list-column a {
						text-decoration: none;
						color: #005C74;
					}
					
					ul.sitemap-list-column h2 {
						color: #005C74;
					}
					
					ul.sitemap-list-all-bold li a, li.sitemap-list-item-bold a {
						font-weight: bold;
					}
					
					li.sitemap-list-item-bold {
						width: 150px;
					}
					
					ul.sitemap-list-first {
						margin: 0px;
					}
				
				ul.sitemap-list-short-rows li {
					margin-bottom: 8px;
				}
		
		div#did-you-know-container {
			position: absolute;
			z-index: 8;
			top: 47px;
			left: 620px;
			width: 252px;
			height: 73px;
			background: url(/clients/CatalinaChamber/Images/bubble-didyouknow.png) top left no-repeat;
			filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop, src='/clients/CatalinaChamber/Images/bubble-didyouknow.png');
		}
		
			div#did-you-know-content {
				font: bold 11px "Arial";
				color: #0f8faf;
				text-align: center;
				margin-top: 28px;
				line-height: 13px;
				padding: 0px 22px 0px 22px;
			}
			
				div.bubble-indent {
					width: 20px;
					height: 1px;
				}
				
				div.bubble-indent-left {
					float: left;
				}
				
				div.bubble-indent-right {
					float: right;
				}
		
		div#top-search-links-container {
			position: absolute;
			top: 5px;
			left: 477px;
			font: 11px "Arial";
			color: #000;
		}
		
			div#top-search-links-container ul li {
				margin-left: 5px;
				line-height: 22px;
				vertical-align: middle;
			}
			
				div#top-search-links-container ul li img {
					height: 22px;
					width: 0px;
				}
				
				div#top-search-links-container ul li a {
					text-decoration: none;
					color: #000;
					vertical-align: middle;
				}
				
				div#top-search-links-container input {
					vertical-align: middle;
				}
				
				div#top-search-links-container input#search {
					width: 115px;
				}
			
		div#logo-link {
			position: absolute;
			z-index: 99;
			top: 0px;
			left: 35px;
		}
			
			
			
.list-clean {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

.list-left li {
	float: left;
}

.list-right li {
	float: right;
}

input {
	
}

input.text {
	background: #fff;
	border: 1px solid #53b4c8;
}

#ad-container {
	text-align: left;
	margin: 0 0 10px;
	height:57px;
	width:463;
	}

/* MAP */

#map-flash-container{
	padding:14px 0px 0px 0px;
	margin:0px auto;
	width:903px;
	height:614px;
	position:relative;
}

/* END MAP */

.cms-input-text {
	width: 350px;
	padding: 4px;
	border: 1px solid #000;
	background: #fff;
}

#clear
{
	clear: both;
}