HTML {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#page {
	LEFT: 5px; WIDTH: 800px; POSITION: absolute; TOP: 5px; HEIGHT: 500px; BACKGROUND-COLOR: #ffffff
}
#headerimg1 {
	Z-INDEX: 1; LEFT: 20px; WIDTH: 700px; POSITION: absolute; TOP: 5px; HEIGHT: 110px; BACKGROUND-COLOR: #ffffff
}
#searchbox {
	Z-INDEX: 2; LEFT: 475px; WIDTH: 250px; POSITION: absolute; TOP: 55px; HEIGHT: 30px
}
#column1 {
	BORDER-RIGHT: #000080 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #000080 1px solid; PADDING-LEFT: 8px; Z-INDEX: 1; LEFT: 20px; PADDING-BOTTOM: 8px; BORDER-LEFT: #000080 1px solid; WIDTH: 605px; PADDING-TOP: 8px; BORDER-BOTTOM: #000080 1px solid; POSITION: absolute; TOP: 145px; HEIGHT: auto; BACKGROUND-COLOR: #ffffff
}
#column2 {
	BORDER-RIGHT: #000080 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #000080 1px solid; PADDING-LEFT: 8px; Z-INDEX: 1; LEFT: 645px; PADDING-BOTTOM: 8px; BORDER-LEFT: #000080 1px solid; WIDTH: 165px; PADDING-TOP: 8px; BORDER-BOTTOM: #000080 1px solid; POSITION: absolute; TOP: 145px; HEIGHT: auto; BACKGROUND-COLOR: #ffffff
}
#footer {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; Z-INDEX: 2; LEFT: 0px; PADDING-BOTTOM: 10px; MARGIN: 10px; WIDTH: 85%; BOTTOM: 5px; PADDING-TOP: 10px; POSITION: absolute; HEIGHT: 20px; BACKGROUND-COLOR: #ffffff
}
#mailinglist {
	Z-INDEX: 5; LEFT: 505px; WIDTH: 110px; POSITION: absolute; TOP: 82px
}
#srchbox {
	Z-INDEX: 5; RIGHT: 80px; WIDTH: 110px; POSITION: absolute; TOP: 40px
}
H1 {
	MARGIN-TOP: 0em; FONT-WEIGHT: bold; FONT-SIZE: 1.1em; MARGIN-BOTTOM: 0.3em; COLOR: #000080; LINE-HEIGHT: 1.4; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; TEXT-ALIGN: center
}
H2 {
	MARGIN-TOP: 0em; FONT-WEIGHT: bold; FONT-SIZE: 0.9em; MARGIN-BOTTOM: 0.2em; COLOR: #000080; LINE-HEIGHT: 1.4; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; TEXT-ALIGN: left
}
H3 {
	MARGIN-TOP: 1em; FONT-WEIGHT: bold; FONT-SIZE: 0.75em; MARGIN-BOTTOM: 0.2em; COLOR: #000080; LINE-HEIGHT: 1.4; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; TEXT-ALIGN: justify
}
H4 {
	MARGIN-TOP: 1em; FONT-WEIGHT: bold; FONT-SIZE: 0.75em; MARGIN-BOTTOM: 1em; COLOR: #000080; LINE-HEIGHT: 1.4; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; TEXT-ALIGN: center
}
H5 {
	MARGIN-TOP: 0.6em; FONT-WEIGHT: bold; FONT-SIZE: 0.75em; MARGIN-BOTTOM: 0.2em; COLOR: #000080; LINE-HEIGHT: 1.4; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; TEXT-ALIGN: center
}
H6 {
	MARGIN-TOP: 1em; FONT-WEIGHT: bold; FONT-SIZE: 0.75em; MARGIN-BOTTOM: 0.5em; COLOR: #000080; LINE-HEIGHT: 1.4; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; TEXT-ALIGN: left
}
P {
	MARGIN-TOP: 0.3em; FONT-SIZE: 0.75em; MARGIN-BOTTOM: 0.2em; COLOR: #000080; LINE-HEIGHT: 1.4; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; TEXT-ALIGN: justify
}
.maintextunder {
	TEXT-DECORATION: underline
}
.maintextbold {
	FONT-WEIGHT: bold
}
.maintextcenter {
	TEXT-ALIGN: center
}
.maintextundercenter {
	TEXT-ALIGN: center; TEXT-DECORATION: underline
}
.maintextboldcenter {
	FONT-WEIGHT: bold; TEXT-ALIGN: center
}
.maintextitaliccenter {
	FONT-STYLE: italic; TEXT-ALIGN: center
}
.maintextright {
	TEXT-ALIGN: right
}
.closetext {
	MARGIN-TOP: 0em; MARGIN-BOTTOM: 1em
}
.closetextbold {
	MARGIN-TOP: 0em; FONT-WEIGHT: bold
}
.closetextcenter {
	MARGIN-TOP: 0em; TEXT-ALIGN: center
}
.closetextboldcenter {
	MARGIN-TOP: 0em; FONT-WEIGHT: bold; TEXT-ALIGN: center
}
.closetextitaliccenter {
	MARGIN-TOP: 0em; FONT-STYLE: italic; TEXT-ALIGN: center
}
.flushtext {
	MARGIN-TOP: 0em; MARGIN-BOTTOM: 0.2em
}
.flushtextcenter {
	MARGIN-TOP: 0em; MARGIN-BOTTOM: 0.2em; TEXT-ALIGN: center
}
.flushtextunder {
	MARGIN-TOP: 0em; MARGIN-BOTTOM: 0.2em; TEXT-DECORATION: underline
}
.flushtextbold {
	MARGIN-TOP: 0em; FONT-WEIGHT: bold; MARGIN-BOTTOM: 0.2em
}
.caption {
	MARGIN-TOP: 0.3em; FONT-SIZE: 0.6em; MARGIN-BOTTOM: 0.3em; TEXT-ALIGN: center
}
.footertext {
	CLEAR: both; MARGIN-TOP: 0.2em; FONT-SIZE: 0.6em; TEXT-ALIGN: center
}
.indent1 {
	MARGIN-LEFT: 3em
}
.indent2 {
	MARGIN-LEFT: 5em
}
.indent3 {
	MARGIN-LEFT: 7em
}
.head1 {
	MARGIN-TOP: 0em; FONT-WEIGHT: bold; FONT-SIZE: 1.1em; MARGIN-BOTTOM: 0.4em; COLOR: #000080; LINE-HEIGHT: 1.4; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; TEXT-ALIGN: center
}
.head2 {
	MARGIN-TOP: 0.2em; FONT-WEIGHT: bold; FONT-SIZE: 0.9em; MARGIN-BOTTOM: 0.2em; COLOR: #000080; LINE-HEIGHT: 1.4; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; TEXT-ALIGN: center
}
.head3 {
	CLEAR: both; MARGIN-TOP: 15px; FONT-WEIGHT: bold; FONT-SIZE: 0.9em; MARGIN-BOTTOM: 0.2em; COLOR: #000080; LINE-HEIGHT: 1.4; BORDER-BOTTOM: #000080 1px solid; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; TEXT-ALIGN: center
}
.head4 {
	CLEAR: both; MARGIN-TOP: 15px; FONT-WEIGHT: bold; FONT-SIZE: 0.9em; MARGIN-BOTTOM: 0.2em; COLOR: #000080; LINE-HEIGHT: 1.4; BORDER-BOTTOM: #000080 1px solid; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; TEXT-ALIGN: left
}
.head5 {
	CLEAR: both; MARGIN-TOP: 0.2em; FONT-WEIGHT: bold; FONT-SIZE: 0.8em; MARGIN-BOTTOM: 0.2em; COLOR: #000080; LINE-HEIGHT: 1; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; TEXT-ALIGN: left
}
.head6 {
	CLEAR: both; MARGIN-TOP: 1.5em; FONT-WEIGHT: bold; FONT-SIZE: 0.9em; MARGIN-BOTTOM: 0.2em; COLOR: #000080; LINE-HEIGHT: 1.8; BORDER-BOTTOM: #000080 1px solid; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; TEXT-ALIGN: left
}
.rightimg {
	BORDER-TOP-WIDTH: 0px; MARGIN-TOP: 10px; BORDER-LEFT-WIDTH: 0px; FLOAT: right; BORDER-BOTTOM-WIDTH: 0px; MARGIN-BOTTOM: 20px; MARGIN-LEFT: 10px; BORDER-RIGHT-WIDTH: 0px
}
.leftimg {
	BORDER-TOP-WIDTH: 0px; MARGIN-TOP: 10px; BORDER-LEFT-WIDTH: 0px; FLOAT: left; BORDER-BOTTOM-WIDTH: 0px; MARGIN-BOTTOM: 20px; MARGIN-RIGHT: 10px; BORDER-RIGHT-WIDTH: 0px
}
.clear {
	BORDER-TOP-WIDTH: 0px; CLEAR: both; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
A:link {
	COLOR: #000080; BACKGROUND-COLOR: transparent; TEXT-DECORATION: underline
}
A:visited {
	COLOR: #000080; BACKGROUND-COLOR: transparent; TEXT-DECORATION: underline
}
A:active {
	COLOR: #000080; BACKGROUND-COLOR: transparent; TEXT-DECORATION: underline
}
A:hover {
	COLOR: #ff0000; BACKGROUND-COLOR: transparent; TEXT-DECORATION: underline
}
