BODY
{
    FONT-SIZE: 12px;
    COLOR: #cccccc;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #666666
}
.main A:link
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #666666;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.main A:visited
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #666666;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.main A:hover
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #ffffff;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.main A:active
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #ffffff;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.navbar A:link
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #00ccff;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.navbar A:visited
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #00ccff;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.navbar A:hover
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #00ffff;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    TEXT-DECORATION: underline
}
.navbar A:active
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #00ffff;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.cpyright
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #999999;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
.phcrdit
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    COLOR: #cccccc;
    FONT-STYLE: normal;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
.mapbox A:link
{
    FONT-SIZE: 12px;
    COLOR: #0000ff;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: underline
}
.mapbox A:visited
{
    FONT-SIZE: 12px;
    COLOR: #9966cc;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: underline
}
.mapbox A:hover
{
    FONT-SIZE: 12px;
    COLOR: #0000ff;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.mapbox A:active
{
    FONT-SIZE: 12px;
    COLOR: #9900ff;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
H1
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 24px;
    COLOR: #cccccc;
    FONT-FAMILY: Georgia, "Times New Roman", Times, serif
}
.info
{
    FONT-SIZE: 12px;
    COLOR: #cccccc;
    FONT-FAMILY: Georgia, "Times New Roman", Times, serif
}
H2
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 18px;
    COLOR: #cccccc;
    FONT-FAMILY: Georgia, "Times New Roman", Times, serif
}
H3
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 14px;
    COLOR: #cccccc;
    FONT-FAMILY: Georgia, "Times New Roman", Times, serif
}
.forstats A:link
{
    FONT-SIZE: 12px;
    COLOR: #999999;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.forstats A:visited
{
    FONT-SIZE: 12px;
    COLOR: #999999;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.forstats A:hover
{
    FONT-SIZE: 12px;
    COLOR: #cccccc;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    TEXT-DECORATION: underline
}
.forstats A:active
{
    FONT-SIZE: 12px;
    COLOR: #cccccc;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
