BODY {
	background-color: #c4b582;
	FONT-FAMILY: Arial, Helvetica, sans-serif; 
	margin: 0 auto;
	text-align:center;
	font-size: 12px;
	line-height: 150%;
	color: #000;
	scrollbar-3dlight-color:#7a6832;
scrollbar-arrow-color:#fff;
scrollbar-base-color:#cfc299;
scrollbar-darkshadow-color:#7a6832;
scrollbar-face-color:#7a6832;
scrollbar-highlight-color:#cfc299;
scrollbar-shadow-color:#cfc299;
scrollbar-track-color:#fff;
}

* {padding:0; margin:0;}

P {
	padding: 3px 0;}

H1 {FONT-FAMILY: Arial, Helvetica, sans-serif; font-size: 17px; color: #000000; font-weight: normal; padding: 0px 0 4px 0px;}

H2 {FONT-FAMILY: Arial, Helvetica, sans-serif; font-size: 14px; color: #000; font-weight: bold; padding: 10px 0 6px 0px; }

H3 {FONT-FAMILY: Arial, Helvetica, sans-serif; font-size: 12px; color: #000; font-weight: bold; }

img	{border:none} 

A:link {color:#6d5d2d; text-decoration: none}

A:visited {color:#6d5d2d; text-decoration: none}

A:hover {COLOR: #52476; text-decoration: underline}

A:active {COLOR: #990000; text-decoration: underline}


#container { 
	position:relative;
	width: 940px;
	margin: 0 auto;
	top: 25px;
	text-align:left;
	border: 5px solid #6d5d2d;
}

#top {	
	position:relative;
	width: 940px;
	height: 446px;
	margin: 0 auto;
}


#logo {
	width: 940px;
	height: 80px;
	background-image:url(/clients/ClaremontResort/Images/logo.gif);
	background-repeat:no-repeat;
	}
	
	
#logo h1, #logo h1 a {
	display:block;
	height: 80px;
	text-indent: -9999px;
	margin: 0; padding: 0;
	}

#top_photo {
	width: 940px;
	height: 366px;
	}

#content
	{
	position:relative;
	margin: 0; padding: 0;
	width: 940px;
	height: 500px;
	background-color:#f2eed4;
	background-color:#ede9c6;
	background-image:url(/clients/ClaremontResort/Images/content_bg.jpg);
	background-repeat:repeat-x;
	font-size: 12px;
	line-height: 170%;
		overflow:hidden;

	}

#cont_main
	{
	position:absolute;
	width: 480px;
	top: 44px;
	left: 70px;
	float:left;
	text-align: left;
	}

#cont_photo
	{
	position:absolute;
	width: 650px;
	top: 44px;
	left: 6px;
	float:left;
	text-align: left;
	height: 420px;
	overflow-y: auto;
	}

#cont_main_seo
	{
	position:absolute;
	width: 480px;
	left: 70px;
	float:left;
	text-align: left;
	top: 54px; 	
	height: 420px;
	overflow-y: auto;
	}	
	
#cont_main_menu
	{
	position:absolute;
	width: 156px;
	top: 62px;
	float:left;
	}
	
#cont_main_dots {
	position:absolute;
	float: left;
	left: 170px;
	top: 45px;
	width: 5px;
	height: 303px;
	background-image:url(/clients/ClaremontResort/Images/dot_vert.gif);
	background-repeat:no-repeat;
}

#cont_main_title {
	position:absolute; 
	width: 920px;
	
	padding-right: 10px;
	float:left;
	text-align: center;
	top: 58px;
}

#cont_main_text, #cont_main_text_b, #cont_main_text_c, #cont_main_text_d
	{
	position:absolute; 
	width: 900px;
	left: 10px;
	padding-right: 10px;
	float:left;
	text-align: left;
	overflow-y: auto;
	overflow-x:hidden;
	}
	
#cont_main_map
	{
	position:absolute; 
	width: 470px;
	left: 190px;
	padding-right: 10px;
	float:left;
	text-align: left;
	top: 50px; 
	
	}	
	
#cont_main_text
	{	top: 90px; height: 390px;	}
	
#cont_main_text_b
	{	top: 114px; height: 370px;}

#cont_main_text_c
	{	top: 210px; height: 250px;}

#cont_main_text_d
	{	top: 150px; height: 310px;}	
	
#cont_main_text ul, #cont_main_text_b ul, #cont_main_text_c ul, #cont_main_text_d ul, #cont_main ul, #cont_main_seo ul
	{
	list-style-type: square ;
	padding: 0;
	margin: 0 0 10px 30px;
	}
	

#cont_main_top {
	position:absolute;
	width: 380px;
	top: 58px;
	left: 220px;
	float:left;
	text-align: left;
	}

#cont_main_top ul{
	list-style-type:none;
	padding: 0;
	margin: 0;
	font-size:12px; font-weight:600;
	}
	
#cont_main_top ul li { display: inline; }

#cont_main_top ul li a, #site_info ul li a:visited {
	text-decoration: none;
	padding: 0 1px;
	color:#05184c;
}

#cont_main_top ul li a:hover {
	text-decoration: underline;
	color:#000;}
	}

	
#cont_main p, #cont_main_text p {
	padding: 0 0 12px 0;}


#cont_sec
	{
	width: 274px;
	float:right;
	text-align: left;
	}
	
#cont_sec img {
	margin: 10px 0 0 0;}

	
#main_menu {
	position:relative;
	margin: 0 auto;
	width: 940px;}

ul#mmenu {
	position:relative;
	width: 940px;
	height: 31px;
	list-style-type:none;
	}
	
ul#mmenu a {
	display:block;
	height: 31px;
	text-decoration:none;
	text-indent: -9999px;
	overflow:hidden;
	}	

li#mm_1 {
	position:absolute;
	width: 194px;
	height: 31px;
	background: url(/clients/ClaremontResort/Images/navmain.jpg) no-repeat 0 0;}
	
li#mm_2 {
	position:absolute;
	left: 194px;
	width: 151px;
	height: 31px;
	background: url(/clients/ClaremontResort/Images/navmain.jpg) no-repeat -194px 0;}

li#mm_3 {
	position:absolute;
	left: 345px;
	width: 84px;
	height: 31px;
	background: url(/clients/ClaremontResort/Images/navmain.jpg) no-repeat -345px 0;}
	
li#mm_4 {
	position:absolute;
	left: 429px;
	width: 70px;
	height: 31px;
	background: url(/clients/ClaremontResort/Images/navmain.jpg) no-repeat -429px 0;}	
	
li#mm_5 {
	position:absolute;
	left: 499px;
	width: 74px;
	height: 31px;
	background: url(/clients/ClaremontResort/Images/navmain.jpg) no-repeat -499px 0;}
	
li#mm_6 {
	position:absolute;
	left: 573px;
	width: 158px;
	height: 31px;
	background: url(/clients/ClaremontResort/Images/navmain.jpg) no-repeat -573px 0;}

li#mm_7 {
	position:absolute;
	left: 731px;
	width: 209px;
	height: 31px;
	background: url(/clients/ClaremontResort/Images/navmain.jpg) no-repeat -731px 0;}

li#mm_1 a {width:194px;}
li#mm_2 a {width:151px;}
li#mm_3 a {width:84px;}
li#mm_4 a {width:70px;}
li#mm_5 a {width:74px;}
li#mm_6 a {width:158px;}
li#mm_7 a {width:209px;}


li#mm_1 a:hover {background: url(/clients/ClaremontResort/Images/navmain.jpg) no-repeat 0 -31px;}
li#mm_2 a:hover {background: url(/clients/ClaremontResort/Images/navmain.jpg) no-repeat -194px -31px;}
li#mm_3 a:hover {background: url(/clients/ClaremontResort/Images/navmain.jpg) no-repeat -345px -31px;}
li#mm_4 a:hover {background: url(/clients/ClaremontResort/Images/navmain.jpg) no-repeat -429px -31px;}
li#mm_5 a:hover {background: url(/clients/ClaremontResort/Images/navmain.jpg) no-repeat -499px -31px;}
li#mm_6 a:hover {background: url(/clients/ClaremontResort/Images/navmain.jpg) no-repeat -573px -31px;}
li#mm_7 a:hover {background: url(/clients/ClaremontResort/Images/navmain.jpg) no-repeat -731px -31px;}

#site_info {
	position:relative;
	width: 940px;
	margin: 20px auto;
	text-align:center;
	color: #6d5d2d;
	font-size:10px;
}

#site_info img {
	margin: 12px auto;}

#site_info p {
	padding:2px;}
	
#site_info a:link {color:#6d5d2d; text-decoration: none}

#site_info a:visited {color:#6d5d2d; text-decoration: none}

#site_info a:hover {color:#fff; text-decoration: none}

#site_info ul{
	list-style-type:none;
	padding: 0;
	margin: 0;
	}
	
#site_info ul li { display: inline; }

#site_info ul li a, #site_info ul li a:visited {
	text-decoration: none;
	padding: 0 1px;
	color:#6d5d2d;
}

#site_info ul li a:hover {
	text-decoration: underline;
	color:#fff;}
	
#footer {
	position:relative;
	width: 940px;
	height: 69px;
	background-image:url(/clients/ClaremontResort/Images/footer_bg.jpg);}
	
#photo_gallery {
	float:left;
	width: 230px;
	height: 55px;
	text-align:center; 
	padding-top: 14px;}
	
#newsletter {
		float:left;
	width: 291px;
	height: 55px;
	text-align:center;
	padding-top: 14px; 
	}
	
#blog {
		float:left;
	width: 186px;
	height: 55px;
	text-align:center;
	padding-top: 14px; 
	}
	
#gift_certificates {
		float:left;
	width: 233px;
	height: 55px;
	text-align:center;
	padding-top: 14px;}
	
#cont_main_text ul.twocol {
	list-style-type: none;
	padding: 0 0 0 5px;
	width: 380px;
	margin: 0;
}

#cont_main_text ul.twocol li {
	float: left;
	width: 180px;
}

#resBox {
	width: 238px;
	height:150px;
	margin: 30px 0 10px 0;
	background:#dad1b1;
	background-image:url(/clients/ClaremontResort/Images/resbox_bg.png);
	background-repeat:repeat-x;
	background-position:bottom;
	border:1px solid #7b6934;
	}
	
#resBox img {border: 0; padding: 0; margin:0; float: left;}

.resFontLabel {float:left; text-align:left; width:51px; margin-left:12px;}

.loginboxdiv
{
 margin:0;
 height:24px;
 width:180px;
 background:url(/clients/ClaremontResort/Images/newsbox.png) no-repeat bottom;
}

.loginbox
{
 background:none;
 border:none;
 width:160px;
 height:20px;
 margin:0;
 padding: 2px 7px 0px 7px;
 font-family:Verdana, Arial, Helvetica, sans-serif;
 font-size:11px;
}

