@charset "utf-8";
/* CSS Document */

.imail {
	background: url(/clients/championforest/images/sendemail.gif) no-repeat 3px 50%;
	padding: 0 0 0 18px;
}

.idelete {
	background: url(/clients/championforest/images/delete.png) no-repeat 0 0;
	padding: 0 0 0 20px;
}

.ipdf {
	background: url(/clients/championforest/images/acrobat.gif) no-repeat 2px 50%;
	padding-left: 25px !important;
}

.mp3 {
	background: url(/clients/championforest/images/ipod.gif) no-repeat 2px 50%;
}

.video {
	background: url(/clients/championforest/images/television_a.gif) no-repeat 2px 50%;
}

.videoa {
	background: url(/clients/championforest/images/television_a2.png) no-repeat 2px 50%;
}

.videob {
	background: url(/clients/championforest/images/television_b2.png) no-repeat 2px 50%;
}

.notes {
	background: url(/clients/championforest/images/acrobat.gif) no-repeat 2px 50%;
}

.ipowerpoint {
	background: url(/clients/championforest/images/page_white_powerpoint.gif) no-repeat 2px 50%;
	padding: 1px 0 1px 20px;
}

.iword {
	background: url(/clients/championforest/images/page_word.gif) no-repeat 2px 50%;
	padding: 1px 0 1px 20px;
}

.itunes {
	width: 155px;
	height: 44px;
	background: url(/clients/championforest/images/itunes.gif) no-repeat 0 0;
	display: block;
	text-decoration: none;
	text-indent: -9999px;
}

.feed48 {
	width: 48px;
	height: 48px;
	background: url(/clients/championforest/images/feed48.gif) no-repeat 0 0;
	display: block;
	text-decoration: none;
	text-indent: -9999px;
}

.feed32 {
	width: 32px;
	height: 44px;
	background: url(/clients/championforest/images/feed32.gif) no-repeat 0 6px;
	display: block;
	text-decoration: none;
	text-indent: -9999px;
}
