@charset "utf-8";
/* CSS Document */
/* SEARCH BOX */

body {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	background: white;
	line-height: 1.7em;
}

a {
	overflow: hidden;
}

img {
	border: none;
	display: block;
}

h1, h2, h3, h4, h5, h6, p, img {
	margin: 0;
	padding: 0;
}

#navContainer {
	width: 100%;
	background: white;
}

#navCenter {
	margin: 0 auto;
	width: 974px;
	position: relative;
	z-index: 500;
}
	
		#searchbox {
			margin: 0 auto;
			height: 24px;
			background: #d0d3d6;
			width: 960px;
			padding: 1px 0 1px 0;
			display: none;
		}
		
			#searchbox form {
				margin: 0;
				padding: 0;
			}
			
				#searchbox form p {
					margin: 0;
					padding: 0;
				}
				
					#searchbox form p label {
						width: 87px;
						height: 24px;
						background: url(/i/theme/2008/search/searchhere.gif) no-repeat 50% 50%;
						text-indent: -9999px;
						display: block;
						float: left;
					}
					
					#searchbox form p input#navinput {
						float: left;
						border: none;
						width: 813px;
						background: white;
						height: 16px;
						padding: 4px;
					}
					
					#searchbox form p input#navsubmit {
						width: 14px;
						height: 14px;
						display: block;
						background: url(/i/theme/2008/search/search.gif) no-repeat 0 5px;
						padding: 5px 0 5px 0;
						margin: 0 8px 0 10px;
						float: left;
					}
					
						#searchbox form p input#navsubmit:hover {
							background-position: -14px 5px;
						}
					
					#searchbox form p a#searchclose {
						display: block;
						height: 24px;
						text-decoration: none;
						width: 10px;
						background: url(/i/theme/2008/search/cancel.gif) no-repeat 0 7px;
						text-indent: -9999px;
					}
					
						#searchbox form p a#searchclose:hover {
							background-position: -10px 7px;
						}
	
	/* END SEARCH BOX */
	
#nav {
	height: 49px;
	padding: 0;
}

	#navr {
		float: right;
		font-family: Tahoma;
		font-size: 11px;
		padding: 16px 7px 0 0;
		line-height: 14px;
		width: 165px;
	}
	
		#navr a {
			float: right;
			margin: 0 5px 0 7px;
			color: #465560;
			text-decoration: underline;
		}
		
			#navr a:hover {
				color: #772224;
			}
		
			a#i-rss, a#i-search {
				display: block;
				width: 14px;
				height: 14px;
				text-indent: -9999px;
				background: url(/clients/championforest/images/feeds.gif) no-repeat 0 0;
				text-decoration: none;
				margin: 0 0 0 7px;
			}
			
			a#i-search {
				background: url(/clients/championforest/images/search.gif) no-repeat 0 0;
			}
			
				a#i-search:hover, a#i-rss:hover {
					background-position: -14px 0;
				}

	#nav ul {
		list-style: none;
		margin: 0;
		padding: 5px 0 5px 0;
		
	}
	
		#nav ul li {
			float: left;
			height: 39px;
		}
		
			#nav ul li a {
				display: block;
				height: 39px;
				text-indent: -9999px;
				text-decoration: none;
				background-repeat: no-repeat;
				background-position: 0 -39px;
				position: relative;
				z-index: 2;
			}
			
			li#np-home a {
				background-image: url(/clients/championforest/images/home2.png);
				width: 36px;
			}
			
			li#np-about a {
				background-image: url(/clients/championforest/images/about.png);
				width: 64px;
			}
	
			li#np-contact a {
				background-image: url(/clients/championforest/images/contact.png);
				width: 75px;
			}
	
			li#np-espanol a {
				background-image: url(/clients/championforest/images/espanol.png);
				width: 74px;
			}
			
			li#np-events a {
				background-image: url(/clients/championforest/images/events.png);
				width: 66px;
			}
			
			li#np-lifegroups a {
				background-image: url(/clients/championforest/images/lifegroups.png);
				width: 91px;
			}

			li#np-ministries a {
				background-image: url(/clients/championforest/images/ministries.png);
				width: 83px;
			}
	
			li#np-serve a {
				background-image: url(/clients/championforest/images/serve.png);
				width: 114px;
			}
	
			li#np-sports a {
				background-image: url(/clients/championforest/images/sports.png);
				width: 116px;
			}
	
			li#np-worship a {
				background-image: url(/clients/championforest/images/worship.png);
				width: 75px;
			}
			
				#nav ul li a.paged {
					background-position: 0 -78px;
				}
			
				#nav ul li a:hover, #nav ul li.hovered a {
					background-position: 0 0;
					z-index: 5000;
				}
				
				
				
/* SUB NAV */

.navpop {
	padding: 0 0 7px 0;
	font-family: Tahoma;
	font-size: 11px;
	position: absolute;
	z-index: 1000;
	display: none;
	top: 32px;
	line-height: 1.7em;
}

	.snavbkg {
	
	}

	.snavclear {
		height: 5px;
		clear: both;
		width: 10px;
	}
	
	.sub160 .snavbkg {
		background: url(/clients/championforest/images/top160.png) no-repeat 0 0;
		width: 194px;
	}
	
	.sub160 {
		background: url(/clients/championforest/images/bottom160.png) no-repeat 0 100%;	
	}
	
	.sub320 .snavbkg {
		background: url(/clients/championforest/images/top320.png) no-repeat 0 0;
		width: 374px;
	}
	
	.sub320 {
		background: url(/clients/championforest/images/bottom320.png) no-repeat 0 100%;	
	}
	
	.sub960 .snavbkg {
		background: url(/clients/championforest/images/top960.png) no-repeat 0 0;
		width: 960px;
		padding: 7px 7px 0 7px
	}
	
	.sub960 {
		background: url(/clients/championforest/images/bottom960.png) no-repeat 0 100%;	
	}
	


	.navpop ul {
		list-style: none;
		margin: 0;
		padding: 12px 12px 0 12px;
	}
	
		.navpop ul li {
			margin: 0;
			padding: 0;
			display: block;
		}
		
			.navpop ul li a {
				display: block;
				padding: 2px 7px 2px 7px;
				margin: 0;
				width: 156px;
				color: black;
			}
			
				.navpop ul li a em {
					float: right;
					font-family: Arial;
					font-size: 10px;
				}
			
				.navpop ul li a:hover {
					background: #f1f2f2;
					border: 1px dotted #dcddde;
					padding: 1px 6px 1px 6px;
					color: #772224;
				}
				
				.sub320 ul {
					float: left;
					width: 170px;
					padding: 12px 0 0 12px;
				}
				
					.sub320 ul.snavtwo {
						padding: 12px 0 0 10px;
					}

				#shome {
					left: -2px;
				}
				
				#sabout {
					left: 34px;
				}
				
				#sespanol {
					left: 173px;
				}
				
				#sevents {
					left: 247px;
				}
				
				#slifegroups {
					left: 313px;
				}
				
				#sministries {
					left: 404px;
				}
				
				#sserve {
					left: 487px;
				}
				
				#ssports {
					left: 601px;
				}
				
				#sworship {
					left: 717px;
				}
				
#bkg {
	width: 100%;
	min-width: 974px;
}

#container {
	width: 974px;
	margin: 0 auto;
	position: relative;
}

/* sIFR */

.sIFR-flash {
  visibility: visible !important;
  margin: 0;
  padding: 0;
}

.sIFR-replaced, .sIFR-ignore {
  visibility: visible !important;
}

.sIFR-alternate {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  display: block;
  overflow: hidden;
}

.sIFR-replaced div.sIFR-fixfocus {
  margin: 0pt; 
  padding: 0pt; 
  overflow: auto; 
  letter-spacing: 0px; 
  float: none;
}

.sIFR-active h2 {
  visibility: hidden;
  font-family: Verdana;
  line-height: 1em;
  font-size: 30px;
}



/* end sIFR */