 {
	BEHAVIOR: url(iepngfix.htc)
}
BODY {
	BACKGROUND: url(body_bg.jpg) #e2e0cb repeat-x 0px 190px; TEXT-ALIGN: center; min-width: 900px
}
#index {
	BACKGROUND: url(body_bg.jpg) #e2e0cb repeat-x 0px 360px; TEXT-ALIGN: center
}
#curve {
	Z-INDEX: 2; BACKGROUND: url(header_curve.png) no-repeat center 50%; LEFT: 0px; POSITION: relative; TOP: 114px; HEIGHT: 77px
}
#index #curve {
	TOP: 284px
}
#header_shell {
	BACKGROUND: #b1cbdf; LEFT: 0px; BORDER-BOTTOM: #8dacc3 10px solid; POSITION: relative; TOP: -77px; HEIGHT: 180px
}
#index #header_shell {
	HEIGHT: 350px
}
#header {
	BACKGROUND: url(logo.jpg) #b1cbdf no-repeat left -177px; MARGIN: 0px auto; OVERFLOW: hidden; WIDTH: 900px; PADDING-TOP: 125px; POSITION: relative; HEIGHT: 65px; TEXT-ALIGN: center
}
#index #header {
	PADDING-TOP: 130px; HEIGHT: 225px
}
#img_rotator {
	MARGIN: 0px auto; OVERFLOW: hidden; WIDTH: 600px; HEIGHT: 225px
}
#content {
	BACKGROUND: #fefdf7; PADDING-BOTTOM: 30px; MARGIN: 0px auto; WIDTH: 600px; POSITION: relative; TOP: -76px; TEXT-ALIGN: left
}
#index #content {
	TOP: -76px
}
