td {

	vertical-align: top;
	font-family:Tahoma;
	font-size:11px;
	color: #E5E5E5;
}

a {
	text-decoration: underline;
	color:#9D5FBB;
}

A:Hover  {
	color : #DBACF2;
	text-decoration : underline;
}

H3 {
	color: #7F409E;
	font-weight: bold;
	font-size : 20px;
	font-family:Tahoma;
}