<!DOCTYPE html>
<html  lang="en-US"><meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
<head runat="server">
<asp:ContentPlaceHolder id="MasterHead" runat="server"></asp:ContentPlaceHolder>
<meta property="og:title" content="title" />
<meta property="og:description" content="description" />
<meta property="og:image" content="http://tix.com/images/TixLogo128x128.gif"/>
<meta property="og:image:secure_url" content="https://tix.com/images/TixLogo128x128.gif" />
<meta property="og:image:type" content="image/jpeg" />
</head>
<BODY leftmargin=0 rightmargin=0 topmargin=0 marginheight=0 marginwidth=0 >
<form id="form1" runat="server">
<div>

    <title>Tryout | Boston City FC</title>
    <link rel="profile" href="http://gmpg.org/xfn/11">
	<link rel="pingback" href="http://www.bostoncityfc.com/xmlrpc.php">
	<!--[if lt IE 9]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
  <link rel="stylesheet" href="/clients/bostoncityfc/images/font-awesome.css"  />
<script async="" src="/clients/bostoncityfc/images/www-widgetapi.js" id="www-widgetapi-script" type="text/javascript"></script>
<script async="" src="/clients/bostoncityfc/images/cbgapi.loaded_1"></script>
<script async="" src="/clients/bostoncityfc/images/cbgapi.loaded_0"></script>
<script src="/clients/bostoncityfc/images/sdk.js" id="facebook-jssdk"></script>
<script src="/clients/bostoncityfc/images/analytics.js" async=""></script>
<script src="/clients/bostoncityfc/images/analytics.js" async=""></script>
 <link rel="shortcut icon" href="http://www.bostoncityfc.com/wp-content/uploads/2015/04/logo-bcfc-300x300.ico">
		<style type="text/css">
			@import url(https://fonts.googleapis.com/css?family=Asap:regular);@import url(https://fonts.googleapis.com/css?family=Asap:regular);@import url(http://fonts.googleapis.com/css?family=Asap:700);@import url(https://fonts.googleapis.com/css?family=Asap:regular);	.cs-section-title h2{
		font-size:18px !important;

	}
	body,.main-section p {
		font:Normal  14px 'Asap', sans-serif; 		color:#444444;
	}
	header .logo{
		margin:0px 0px !important;
   	}
	.nav li a,header .btn-style1,.footer-nav ul li a {
		font:Normal  12px 'Asap', sans-serif !important;	}
 	h1{
	font:700 Normal  28px 'Asap', sans-serif !important;}
	h2{
	font:700 Normal  24px 'Asap', sans-serif !important;}
	h3{
	font:700 Normal  22px 'Asap', sans-serif !important;}
	h4{
	font:700 Normal  20px 'Asap', sans-serif !important;}
	h5{
	font:700 Normal  16px 'Asap', sans-serif !important;}
	h6{
	font:700 Normal  14px 'Asap', sans-serif !important;}

	.main-section h1, .main-section h1 a {color: #333333 !important;}
	.main-section h2, .main-section h2 a{color: #333333 !important;}
	.main-section h3, .main-section h3 a{color: #333333 !important;}
	.main-section h4, .main-section h4 a{color: #333333 !important;}
	.main-section h5, .main-section h5 a{color: #333333 !important;}
	.main-section h6, .main-section h6 a{color: #333333 !important;}
	.widget-section-title h2 {
		font:Normal  16px 'Asap', sans-serif !important;	}
	.top-bar,#lang_sel ul ul {background-color:#000;}
	#lang_sel ul ul:before { border-bottom-color: #000; }
	.top-bar p{color:#999 !important;}
	.top-bar a,.cs-users i{color:#8f8f8f !important;}
 	.logo-section,.main-head{background:#0b0b0b !important;}
	.main-navbar {background:#080808 !important;}
	.search-top input[type="text"],.search-top:after,.logo-section .left-side p{color:#999 !important;}
	.navigation ul > li > a,li.parentIcon a:after,.cs-user,.cs-user-login {color:#ffffff !important;}
	.navigation ul  > li > .sub-dropdown,.navigation ul  >  li > .sub-dropdown > li > .sub-dropdown,.mega-grid{ background-color:#090f17 !important;}
	.navigation  .sub-dropdown li a{color:#fff !important;}
	.navigation ul .sub-dropdown > li:hover > a,ul ul li.current-menu-ancestor.parentIcon > a:after,ul ul li.parentIcon:hover > a:after {border-bottom-color:##af1a21;color:##af1a21 !important;}
	.navigation ul > li.current-menu-item > a,.navigation ul > li.current-menu-ancestor > a,.navigation ul > li:hover > a,li.current-menu-ancestor.parentIcon > a:after,li.parentIcon:hover > a:after {color:#fff !important;}
	.navigation .navbar-nav > .active > a:before, .navigation .navbar-nav > li > a:before{ border-bottom-color:#fff !important; }
	.cs-user,.cs-user-login { border-color:#fff !important; }
	{
		box-shadow: 0 4px 0 #000 inset !important;
	}
	.header_2 .nav > li:hover > a,.header_2 .nav > li.current-menu-ancestor > a {

	}
	</style>
<style type="text/css">
        footer#footer-sec, footer#footer-sec:before,.footer-tweets {
            background-color:#f0f0f0 !important;
        }
		footer.group {
            background-image:url("http://www.bostoncityfc.com/wp-content/uploads/2015/05/back-3-1920x963-flip1.jpg") !important;
        }
        #copyright {
            background:url(http://www.bostoncityfc.com/wp-content/uploads/2015/05/back-3-1920x963-flip1.jpg) #F0F0F0 !important;
        }
        #copyright p {
            color:#666666 !important;
        }
		#footer-sec a,#footer-sec .widget-form ul li input[type="submit"],#footer-sec .tagcloud a,#footer-sec .widget ul li a, #footer-sec li,#copyright a {
            color:#444444 !important;
        }
       #footer-sec .widget h2, #footer-sec .widget h5,#footer-sec h2,#footer-sec h3,#footer-sec h4,#footer-sec h5,#footer-sec h6 {
            color:#000000 !important;
        }
        #footer-sec .widget ul li,#footer-sec .widget p, #footer-sec .widget_calendar tr td,#footer-sec,#footer-sec .col-md-3 p,footer .widget_latest_post .post-options li,footer .widget i,.widget-form ul li i,footer .widget_rss li,footer .widget_recent_comments span {
            color:#444444 !important;
        }
		.footer-tweets ul li .text,.footer-tweets ul li .text:before{
			background:#ffffff !important;
		}
    </style>
<style type="text/css">
/*!
* Theme Color File */

/*!
* Theme Color */
.cs-color, .cs-colorhover:hover, .post-option li a:hover,.filter-nav li.active a,.prev .left-arrow, .prev-next-post article.next .right-arrow, .prev-next-post article.prev:after,.social-media ul li a:hover, #copyright P a,.footer-tweets ul li .text a,.navigation ul .sub-dropdown > li:hover > a, .social-media ul li a:hover i,.post-option li a:hover,
/* ShopButton */.woocommerce ul.products li.product a.add_to_cart_button, .woocommerce-page ul.products li.product a.add_to_cart_button,
.woocommerce #content input.button, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .woocommerce-page #content input.button,.woocommerce-page a.button, .woocommerce-page button.button, .woocommerce-page input.button/* ShopButton */,
/*Widget*/.recent_blog_widget ul li a:hover,.widget_team ul li a:hover,.recent_blog_widget ul li a:hover,.widget_result ul li a:hover,.twitter-logo a,.footer-tweets ul li i,  /* Sub Dropdown */.navigation ul .sub-dropdown > li:hover > a, .social-media ul li a:hover i, .blog-grid .text h2 i,
.widget_blog ul li i, .prev-next-post a .icon-list8, .pagination li a:hover, .pagination li.pgprev:hover img,
.woocommerce #content table.cart a.remove, .woocommerce table.cart a.remove, .woocommerce-page #content table.cart a.remove, .woocommerce-page table.cart a.remove {
 color:#af1a21 !important;
}
/*!
* Theme Background Color */
.cs-bg-color,.cs-bgcolor, .cs-bgcolorhover:hover,.cs-tags ul li:hover a, .share-btn, .custom-btn,.team-detail figure figcaption header .player-no,.cs-tags ul li a:hover,.share-btn,form p.form-submit input[type="submit"],.team-detail figure figcaption header .player-no,.cs-qoute .cs-auther-name:before,
/* ShopButton */
.woocommerce #content input.button:hover, .woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover, .woocommerce-page #content input.button:hover, .woocommerce-page #respond input#submit:hover, .woocommerce-page a.button:hover, .woocommerce-page button.button:hover, .woocommerce-page input.button:hover/* ShopButton */,/*Widget*/.widget_archive ul li:hover, .widget_categories ul li:hover,.widget_pages ul > li:hover > a,.widget_meta ul li:hover,.widget_nav_menu ul > li:hover > a,.tagcloud a:hover,#wp-calendar tbody tr td#today,.widget_calendar thead,.history-list article h4:before,.history-grid article h4:before,.spreater-holder span:before, /* New Class */form p.form-submit input[type="submit"], .main-section .button_style .default, .flat, .main-section .strock, .main-section .three-d,
#footer-sec .signup .user-signup input[type="submit"] {
	background-color:#af1a21 !important;
}
/*!
* Theme Border Color */
.cs-borcolor, .cs-borcolorhover:hover,.cs-section-title h2:before,.widget-section-title h2:before,
/* ShopButton */.woocommerce ul.products li.product a.add_to_cart_button, .woocommerce-page ul.products li.product a.add_to_cart_button,
.woocommerce #content input.button, .woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .woocommerce-page #content input.button, .woocommerce-page #respond input#submit, .woocommerce-page a.button, .woocommerce-page button.button, .woocommerce-page input.button /* ShopButton */,
/* New Class */.cs-section-title h2:before, .filter-nav li.active a, .products li a span:before {
 border-color:#af1a21 !important;
}

.devider1:after {
	border-top-color: #af1a21 !important;
}

		.breadcrumbs, .breadcrumbs li, .breadcrumbs li a {
			color: #ffffff !important;
		}
		.sidebar-color .widget-section-title h2,.sidebar-color .widget a {
		color:  !important;
	}
	.sidebar-color .widget p,.sidebar-color .widget span,.sidebar-color .widget ul li,.sidebar-color .widget .infotext,.sidebar-color .widget i {
		color:  !important;
	}

</style>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"><link rel="alternate" type="application/rss+xml" title="Boston City FC » Feed" href="http://www.bostoncityfc.com/feed/">
<link rel="alternate" type="application/rss+xml" title="Boston City FC » Comments Feed" href="http://www.bostoncityfc.com/comments/feed/">
<link rel="alternate" type="application/rss+xml" title="Boston City FC » Tryout Comments Feed" href="http://www.bostoncityfc.com/tryout/feed/">

<link rel="stylesheet" id="contact-form-7-css" href="/clients/bostoncityfc/images/styles.css" type="text/css" media="all">
<link rel="stylesheet" id="rs-plugin-settings-css" href="/clients/bostoncityfc/images/settings.css" type="text/css" media="all">
<style id="rs-plugin-settings-inline-css" type="text/css">
.tp-caption a{color:#ff7302;text-shadow:none;-webkit-transition:all 0.2s ease-out;-moz-transition:all 0.2s ease-out;-o-transition:all 0.2s ease-out;-ms-transition:all 0.2s ease-out}.tp-caption a:hover{color:#ffa902}
</style>
<link rel="stylesheet" id="page-list-style-css" href="/clients/bostoncityfc/images/page-list.css" type="text/css" media="all">
<link rel="stylesheet" id="bootstrap_css-css" href="/clients/bostoncityfc/images/bootstrap.css" type="text/css" media="all">
<link rel="stylesheet" id="responsive_css-css" href="/clients/bostoncityfc/images/responsive.css" type="text/css" media="all">
<link rel="stylesheet" id="style_css-css" href="/clients/bostoncityfc/images/style.css" type="text/css" media="all">
<link rel="stylesheet" id="themetypo_css-css" href="/clients/bostoncityfc/images/themetypo.css" type="text/css" media="all">
<link rel="stylesheet" id="iconmoon_css-css" href="/clients/bostoncityfc/images/iconmoon.css" type="text/css" media="all">
<link rel="stylesheet" id="widget_css-css" href="/clients/bostoncityfc/images/widget.css" type="text/css" media="all">
<link rel="stylesheet" id="flexslider_css-css" href="/clients/bostoncityfc/images/flexslider.css" type="text/css" media="all">
<link rel="stylesheet" id="mediaelementplayer.min_css-css" href="/clients/bostoncityfc/images/mediaelementplayer.css" type="text/css" media="all">
<link rel="stylesheet" id="prettyPhoto_css-css" href="/clients/bostoncityfc/images/prettyphoto.css" type="text/css" media="all">
<link rel="stylesheet" id="cs_woocommerce_css-css" href="/clients/bostoncityfc/images/cs_woocommerce.css" type="text/css" media="all">
<link rel="stylesheet" id="__EPYT__style-css" href="/clients/bostoncityfc/images/ytprefs.css" type="text/css" media="all">

<!-- This site uses the Google Analytics by Yoast plugin v5.4.6 - Universal enabled - https://yoast.com/wordpress/plugins/google-analytics/ -->

<!-- / Google Analytics by Yoast -->
<script type="text/javascript" src="/clients/bostoncityfc/images/jquery_005.js"></script>
<script type="text/javascript" src="/clients/bostoncityfc/images/jquery-migrate.js"></script>
<script type="text/javascript" src="/clients/bostoncityfc/images/jquery_007.js"></script>
<script type="text/javascript" src="/clients/bostoncityfc/images/jquery_006.js"></script>

<script type="text/javascript" src="/clients/bostoncityfc/images/ytprefs.js"></script><script type="text/javascript" src="/clients/bostoncityfc/images/iframe_api"></script>
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://www.bostoncityfc.com/xmlrpc.php?rsd">
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://www.bostoncityfc.com/wp-includes/wlwmanifest.xml">
<meta name="generator" content="WordPress 4.2.7">
<link rel="canonical" href="/clients/bostoncityfc/images/a.htm">
<link rel="shortlink" href="http://www.bostoncityfc.com/?p=1455">

			<style type="text/css">.recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}</style>

<!-- BEGIN GADWP v4.8.3 Universal Tracking - https://deconf.com/google-analytics-dashboard-wordpress/ -->

<!-- END GADWP Universal Tracking -->

    <link href="/clients/bostoncityfc/images/badge.css" type="text/css" rel="stylesheet">
	<body class="page page-id-1455 page-template-default">
         	<!-- Wrapper Start -->
    <div class="wrapper header-relative wrapper_full_width">
	   	<!-- Header Start -->
		<!-- Header Start -->
	<header id="main-header" class="header">
  <!-- Top Strip -->
  <!-- Top Strip -->

  <!-- Top Strip -->
  <!-- Main Header -->
		  <section class="logo-section" style="background-color:#0b0b0b;">
            	<div class="container">
                	<aside class="left-side">
                    	<div class="logo">
                        			<a href="http://www.bostoncityfc.com/">
			<img src="/clients/bostoncityfc/images/header-1.jpg" style="width:252px; height: 100px;" alt="Boston City FC">
        </a>
	                        </div>
                                            </aside>
                    <aside class="right-side">
                    <div class="search-top cs-searchv2">

</div>
<ul class="socialmedia">						        		            <li><a title="" href="http://www.facebook.com/bostoncityfc" data-original-title="Facebook" data-placement="top" class="colrhover" target="_blank">

                                 <i style="color:#cccccc;" class="fa fa-facebook "></i>
						</a></li>						        		            <li><a title="" href="https://twitter.com/bostoncityfc1" data-original-title="Twitter" data-placement="top" class="colrhover" target="_blank">

                                 <i style="color:#cccccc;" class="fa fa-twitter "></i>
						</a></li>						        		            <li><a title="" href="https://plus.google.com/106925592490472760261/about" data-original-title="Google Plus" data-placement="top" class="colrhover" target="_blank">

                                 <i style="color:#cccccc;" class="fa fa-google-plus "></i>
						</a></li>						        		            <li><a title="" href="https://instagram.com/bostoncityfc" data-original-title="Instagram" data-placement="top" class="colrhover" target="_blank">

                                 <i style="color:#cccccc;" class="fa fa-instagram "></i>
						</a></li>						        		            <li><a title="" href="http://www.youtube.com/c/Bostoncityfc" data-original-title="Youtube" data-placement="top" class="colrhover" target="_blank">

                                 <i style="color:#eee;" class="fa fa-youtube "></i>
						</a></li></ul>                    </aside>
                </div>
            </section>
  			<section style="z-index: 1000; position: fixed; top: 0px; margin-left: 0px; width: 1920px; left: 0px;" class="main-navbar scroll-to-fixed-fixed">
            	<div class="container">
                    <nav class="navigation">
                    	<a href="#" class="cs-click-menu"><i class="icon-list8"></i></a>
                      <ul class="nav navbar-nav"><li id="menu-item-743" class="menu-item dropdown sub-menu menu-item-type-post_type dropdown sub-menu menu-item-object-page"><a href="http://www.bostoncityfc.com/">Home</a></li>
<li id="menu-item-1328" class="menu-item dropdown sub-menu menu-item-type-post_type dropdown sub-menu menu-item-object-page dropdown sub-menu menu-item-has-children parentIcon"><a href="http://www.bostoncityfc.com/bhcup/">BH CUP</a>
<ul class="sub-dropdown">
	<li id="menu-item-1446" class="menu-item  menu-item-type-post_type  menu-item-object-page"><a href="http://www.bostoncityfc.com/bhcup/">BH CUP</a></li>
	<li id="menu-item-1441" class="menu-item  menu-item-type-taxonomy  menu-item-object-category"><a href="http://www.bostoncityfc.com/category/bh-cup-news/">BH Cup News</a></li>
	<li id="menu-item-1443" class="menu-item  menu-item-type-taxonomy  menu-item-object-category"><a href="http://www.bostoncityfc.com/category/bh-cup-videos/">BH Cup Videos</a></li>
	<li id="menu-item-1442" class="menu-item  menu-item-type-taxonomy  menu-item-object-category"><a href="http://www.bostoncityfc.com/category/bh-cup-clipping/">BH Cup Clipping</a></li>
</ul> <!--End Sub Menu -->
</li>
<li id="menu-item-753" class="menu-item dropdown sub-menu menu-item-type-post_type dropdown sub-menu menu-item-object-page dropdown sub-menu menu-item-has-children parentIcon"><a href="http://www.bostoncityfc.com/about-us/">About Us</a>
<ul class="sub-dropdown">
	<li id="menu-item-1676" class="menu-item  menu-item-type-post_type  menu-item-object-page"><a href="http://www.bostoncityfc.com/about-us/">About Us</a></li>
	<li id="menu-item-899" class="menu-item  menu-item-type-post_type  menu-item-object-page"><a href="http://www.bostoncityfc.com/players/">Players – Sub 17</a></li>
	<li id="menu-item-1120" class="menu-item  menu-item-type-post_type  menu-item-object-page"><a href="http://www.bostoncityfc.com/coaches/">Coaches</a></li>
</ul> <!--End Sub Menu -->
</li>
<li id="menu-item-1619" class="menu-item dropdown sub-menu menu-item-type-post_type dropdown sub-menu menu-item-object-page"><a href="http://www.bostoncityfc.com/fanclub/">Fan Club</a></li>
<li id="menu-item-1951" class="menu-item dropdown sub-menu menu-item-type-post_type dropdown sub-menu menu-item-object-page dropdown sub-menu current-menu-item dropdown sub-menu page_item dropdown sub-menu page-item-1455 dropdown sub-menu current_page_item"><a href="http://www.bostoncityfc.com/tryout/">Tryout</a></li>
<li id="menu-item-737" class="menu-item dropdown sub-menu menu-item-type-post_type dropdown sub-menu menu-item-object-page"><a href="http://www.bostoncityfc.com/blog-grid/">Blog</a></li>
<li id="menu-item-883" class="menu-item dropdown sub-menu menu-item-type-post_type dropdown sub-menu menu-item-object-page"><a href="http://www.bostoncityfc.com/contact-us/">Contact Us</a></li>
</ul>                    </nav>
                </div>
            </section><span style="display: block; z-index: 1;"></span>

  <!-- Main Header -->
</header>
	<!-- Header End -->
	<!-- Header 1 End -->


						<div class="clear"></div>
             			<!-- Breadcrumb SecTion -->


  <!-- Container -->
  <div class="absolute-sec">  <div class="container">
        <!-- PageInfo -->
        <div class="pageinfo page-title-align-left"><h1 style="color:#ffffff !important">Tryout</h1></div></div>
  <!-- Container -->
    </div>
</div>
<div class="clear"></div>
        <!-- Breadcrumb SecTion -->
        <!-- Main Content Section -->
        <main id="main-content">
            <!-- Main Section Start -->
            <div class="main-section">                <!-- Page Section -->
        <div class="container">

          <div class="row">

            <div class="col-md-12">
              <asp:ContentPlaceHolder id="MasterContent" runat="server"></asp:ContentPlaceHolder>


            </div>
          </div>
        </div>     <!-- Main Section End -->
        </div>
        </main>
        <!-- Main Content Section -->
        <div class="clear"></div>
        <!-- Footer Start -->

 				<!-- Footer End -->
			        <!-- Bottom Section -->
                <section id="copyright">
            <div class="container">
                    <div class="row">
                    	<div class="col-md-12">
                        	<div class="footer_icon"><a href="http://www.bostoncityfc.com/"><img src="/clients/bostoncityfc/images/Boston-City-FC-logo-NOVA-100x100.png" alt="Boston City FC"></a></div><div class="social-media"><ul class="socialmedia">						        		            <li><a title="" href="http://www.facebook.com/bostoncityfc" data-original-title="Facebook" data-placement="top" class="colrhover" target="_blank">

                                 <i style="color:#cccccc;" class="fa fa-facebook "></i>
						</a></li>						        		            <li><a title="" href="https://twitter.com/bostoncityfc1" data-original-title="Twitter" data-placement="top" class="colrhover" target="_blank">

                                 <i style="color:#cccccc;" class="fa fa-twitter "></i>
						</a></li>						        		            <li><a title="" href="https://plus.google.com/106925592490472760261/about" data-original-title="Google Plus" data-placement="top" class="colrhover" target="_blank">

                                 <i style="color:#cccccc;" class="fa fa-google-plus "></i>
						</a></li>						        		            <li><a title="" href="https://instagram.com/bostoncityfc" data-original-title="Instagram" data-placement="top" class="colrhover" target="_blank">

                                 <i style="color:#cccccc;" class="fa fa-instagram "></i>
						</a></li>						        		            <li><a title="" href="http://www.youtube.com/c/Bostoncityfc" data-original-title="Youtube" data-placement="top" class="colrhover" target="_blank">

                                 <i style="color:#eee;" class="fa fa-youtube "></i>
						</a></li></ul></div><p>&#169;2015 Boston City FC All rights reserved.
<br>

</p>                    	 </div>
             	 	</div>
              </div>
       </section>

            </div>
    <!-- Wrapper End -->
  </div>
  </form>
  </body>
  </html>
<!-- Columns End -->
