
/* slideshow gallery fix */
div.gallery{background:#756b5a !important;}

/* ********************************************************* */
/* Page Layout */
/* ********************************************************* */
/** 100 percent width divs */
#ouwsContent,#deptBannerWrap,#audienceNavigation{clear:both;width:100%;margin:0 auto;}
/** 960 width divs */
#acadPageWrap,#deptBanner{width:58.75em;margin:0 auto;}
/** page layout **/
#acadPageWrap{min-height: 32em;}
#primeContent{width:45em;float:right;clear: both;}
#secondaryContent{width:12em;background:url('/ws/sitetemplates/academic/2011/images/nav_top.png') no-repeat #fff;float: left;}
div#wsnavfoot{background:url('/ws/sitetemplates/academic/2011/images/nav_bottom.png') no-repeat #fff;min-height:52px;clear: left;}
#tertiaryContent{clear:both;}
#mainColumn{width:45em;float:left;}
#middleColumn{width:30em;float: left;}
#lastColumn{float:right;width:13.125em;}

/* ********************************************************* */
/* Page Element Specifics */
/* ********************************************************* */
/** banner**/
#deptBannerWrap{padding:.5em 0em; position:relative;}
#ouwsContent #deptBanner h1 a{font-family:'BergamoPro',times,serif;font-size:.75em;text-decoration:none;color:#fff !important;}
#ouwsContent #deptBanner h2 a{font-family:'CartoGothicProCaps',arial,sans-serif;color:#fff !important;font-size:.8em;font-weight:normal;line-height:1.5em;text-decoration:none;}
/** audience Nav **/
#audienceNavigation{float:left;width:100%;border-bottom: 1px solid #d6d4d1;padding-bottom: .25em;}
#audienceNavigation ul{margin-left:0;}
#audienceNavigation li{list-style-type:none;display:inline;margin-right:1.75em;margin-left: 1em;}
#audienceNavigation li a{font-family:'BergamoPro',times,serif;font-weight:bold;font-size: 1.2em;text-decoration:none;color:#847d76 !important;}

/** breadcrumb **/
#breadcrumb{clear:left;width: auto;padding:.25em 0 0 1em;margin-bottom:1em;}
#breadcrumb a,#breadcrumb span{font-size:.7em;color:#9a9081;}
#breadcrumb a.CS_LinkBar_Item{text-decoration:none;}
/** social **/
#socialMedia{float:right;width:8em;margin-top: -1.75em;}

#socialMedia div.imageImg img{display:block;margin:0 !important;padding: 0 .1em;float: right;clear:none;}

#spot1,#spot2,#spot3{}
#wsnav{}
#accrediation{}

.borderedBox{border: 1px solid #e5e4e3; border-radius:10px 10px 10px 10px; -webkit-border-radius: 10px; -moz-border-radius:10px;background: #f4f4f4;}


/* ********************************************************* */
/* Page Main Content Areas */
/* ********************************************************* */
#primeContent h2{font-size: 1.35em;padding-top:1em;font-family:'CartoGothicProCaps';font-weight:normal;} /* TMH 11/1/13 */
#primeContent h3{font-size: 1.25em;}
#primeContent h4{font-size: 1.2em;}
#primeContent p{line-height: 1.5em;font-size:.8em} 
#primeContent li p{font-size:1em;}
#primeContent td{padding:1px 5px;}

