
/* ********************************************************* */
/* Accordion-Flyout Nav */
/* ********************************************************* */

#mainNav{z-index:2;padding:0;margin:0;font-size:.8em;float: left;margin-top:24px;width: 100%;}
ul#mainNav a{font-family:'CartoGothicPro',Arial;color:#4b473f;text-decoration:none;font-weight: bold;}

ul#mainNav li{background:url('/ws/sitetemplates/academic/2011/images/nav-item-background_2.png') no-repeat #fff;list-style: none;padding:0;line-height: 2em;min-height:2.5em;margin-left: -1px;}

ul#mainNav > li a{margin-left: 1em;}
ul.subNav{display:none;margin:0;}

#mainNav ul.subNav li{list-style: disc inside;font-size: .9em;line-height: 1.5em;background: url('/ws/sitetemplates/academic/2011/images/nav_middle_2.png')repeat-y #f9f9f9;min-height:1em;padding:.25em 0 .25em 2em;margin-left: 0;margin-right:.25em;text-indent:-1em;}
#mainNav ul.subNav li:last-child{padding-bottom:1em;}
#mainNav ul.subNav li a,#mainNav ul.subSubNav li a{font-weight:normal;*display:inline-block;margin-left: 0;}
#mainNav ul.subNav li a:hover,#mainNav ul.subSubNav li a:hover,#mainNav ul.subNav .arrowed a:hover{color:#00694e;}

#mainNav ul.subNav .arrowed ul.subSubNav li:hover{background:#5d5751;}
#mainNav ul.subSubNav{display:none;position:relative;width:10em;background:#847d76;left: 8em;top:-1em;;}

#mainNav ul.subSubNav li{border:solid 1px #fff;height:2em;display:block;padding-left: 1em;background: #00694e; }
#mainNav ul.subSubNav li a{font-weight:bold;color: #fff;}
#mainNav span.subInd{margin-left: .25em;}

/* hilite current site/page */
/*#mainNav li.exp ul{display: block !important;}*/
