A:link
{
    FONT-WEIGHT: normal;
    COLOR: #dedbce;
    TEXT-DECORATION: none
}
A:visited
{
    FONT-WEIGHT: normal;
    COLOR: #dedbce;
    TEXT-DECORATION: none
}
A:hover
{
    FONT-WEIGHT: normal;
    COLOR: #ffffff
}
A:active
{
    FONT-WEIGHT: normal;
    COLOR: #dedbce;
    TEXT-DECORATION: none
}
A.menu:link
{
    FONT-WEIGHT: normal;
    COLOR: #dedbce;
    TEXT-DECORATION: none
}
A.menu:visited
{
    FONT-WEIGHT: normal;
    COLOR: #dedbce;
    TEXT-DECORATION: none
}
A.menu:hover
{
    FONT-WEIGHT: normal;
    COLOR: #ffffff;
    TEXT-DECORATION: none
}
A.menu:active
{
    FONT-WEIGHT: normal;
    COLOR: #dedbce;
    TEXT-DECORATION: none
}
BODY
{
    SCROLLBAR-FACE-COLOR: #e7e8e6;
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    SCROLLBAR-HIGHLIGHT-COLOR: #e7e8e6;
    SCROLLBAR-SHADOW-COLOR: #000000;
    COLOR: #211c00;
    SCROLLBAR-3DLIGHT-COLOR: #000000;
    SCROLLBAR-ARROW-COLOR: #000000;
    SCROLLBAR-TRACK-COLOR: #ffffff;
    FONT-FAMILY: verdana,arial,helvetica;
    SCROLLBAR-DARKSHADOW-COLOR: #e7e8e6;
    TOPMARGIN: 0;
    LEFTMARGIN: 0
}
TD
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    COLOR: #211c00;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.newshead
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.newsdate
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 9px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.by
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 9px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
