.album1
{
	display: inline;
	padding: 0px;
	margin:0px;
	float: left;
	font-family: Calibri;
}

.album1 ul
{
	display: inline;
	list-style: none;
	margin: 0px;
	padding: 0px;
	width:250px;
}

.album1 ul li
{
	width: 110px;
	height: 80px;
	border: 0px solid #000;
	display: inline-block;
	/*ackground-color: #333399;*/
	color: #FFFFFF;
	margin:5px;
	padding: 0px;
}

.album1 ul li.hover
{
    width: 110px;
    height: 80px;
    border: 2px solid #000;
    display: inline-block;
    background-color: #6699FF;
    color: #FFFFFF;
    margin:5px;
    padding: 0px;
    cursor: pointer;
	cursor: hand;
}

.album1 ul li.nfactive
{
	width: 110px;
	height: 80px;
	border: 2px solid #000;
	display: inline-block;
	background-color: #C0C0C0;
	color: #FFFFFF;
	margin:5spx;
	padding: 0px;
}

.album1-container
{
	padding: 5px;
	width: 110px;
	height: 85px;
}

.album1-image
{
    height:125px;
	vertical-align:middle;
	text-align:left;
	width: 100px;
	float: left;
}
.album1-image img
{
    vertical-align:middle;
	text-align:left;
	border: 1px dashed #808080;
	margin: 5px;
}
.album1-title
{
	width:140px;
	height:25px;
	vertical-align: middle;
	font-size: 110%;
	font-weight: bold;
	float: right;
}
.album1-decsription
{
	width: 140px;
	height: 100px;
	float: right;
	text-align: left;
}
