a { color: #85B0DA; }

h1 { font-size: 14px; text-transform: uppercase; background-color: #CB678D; color: #ffffff; padding: 5px 10px; margin-top: 0; }
h2 { font-size: 18pt; }
h3, h3 a { color: #CB678D; text-decoration: none; }

body { background-color: #000000; color: #ffffff; font-family: tahoma; font-size: 10pt; }

td { vertical-align: top; }

a img { border: 0; }

#PageContent { margin: 35px 20px 10px 10px; text-align: left; }
	img.page-heading { float: right; margin-left: 20px; }

#footer { background: url(/clients/captngroovy/images/footer.gif) bottom center no-repeat; }
	#footer p { margin-left: 85px; margin-top: 15px; }
	#footer p, #footer p a { font-size: 8.5pt; line-height: 12pt; }
	#footer p a { text-decoration: none; padding: 0 10px; }
	
td.site-credits, td.site-credits a { font-size: 8.5pt; line-height: 20px; color: gray; text-decoration: none; padding: 0 10px; }


.small-text { font-size: 11px; }
.fine-print { font-size: 11px; color: silver; }

.photo-gallery a { display: block; float: left; margin: 2px; height: 100px; padding: 5px; width: 100px; border: 2px solid #85B0DA; /*background-color: #666;*/ }
.photo-gallery img { /*padding-right: 15px; padding-bottom: 20px;*/ border: none; }

