#menu-box-sub {
	width: 934px;
	height: 61px;
	margin-top: 93px;
	margin-left: 4px;
	background-image: url(/clients/DurangoCowboyGathering/Images/background-menu-sub.jpg);
	background-repeat: no-repeat;
}

#menu-box-sub2 {
	width: 934px;
	height: 61px;
	margin-top: 0px;
	margin-left: 4px;
	background-image: url(/clients/DurangoCowboyGathering/Images/background-menu-sub.jpg);
	background-repeat: no-repeat;
}

.menu-performers, .menu-schedule, .menu-youth, .menu-parade, .menu-visitor, .menu-tickets {
	height: 30px;
	display: block;
	float:left;
	background-image: url(/clients/DurangoCowboyGathering/Images/menu-top-master.gif);
	background-repeat: no-repeat;
}

.menu-performers {
	width: 136px;
	margin-left: 0px;
	background-position: 0px 0px;
}

.menu-schedule {
	width: 131px;
	margin-left: 1px;
	background-position: -137px 0px;
}

.menu-youth {
	width: 185px;
	margin-left: 1px;
	background-position: -269px 0px;
}

.menu-parade {
	width: 116px;
	margin-left: 1px;
	background-position: -455px 0px;
}

.menu-visitor {
	width: 198px;
	margin-left: 1px;
	background-position: -572px 0px;
}

.menu-tickets {
	width: 149px;
	margin-left: 15px;
	background-position: -785px 0px;
}

.menu-performers:hover { background-position: 0px -30px; }
.menu-schedule:hover   { background-position: -137px -30px; }
.menu-youth:hover      { background-position: -269px -30px; }
.menu-parade:hover     { background-position: -455px -30px; }
.menu-visitor:hover    { background-position: -572px -30px; }
.menu-tickets:hover    { background-position: -785px -30px; }

.menu-about, .menu-gallery, .menu-posters, .menu-links, .menu-sponsors, .menu-volunteer, .menu-contact {
	height: 23px;
	display: block;
	float:left;
	background-image: url(/clients/DurangoCowboyGathering/Images/menu-sub-master.gif);
	background-repeat: no-repeat;
}

.menu-about {
	width: 90px;
	margin-left: 90px;
	background-position: 0px 0px;
}

.menu-gallery {
	width: 115px;
	margin-left: 0px;
	background-position: -90px 0px;
}

.menu-posters {
	width: 157px;
	margin-left: 0px;
	background-position: -205px 0px;
}

.menu-links {
	width: 116px;
	margin-left: 0px;
	background-position: -362px 0px;
}

.menu-sponsors {
	width: 88px;
	margin-left: 0px;
	background-position: -478px 0px;
}

.menu-volunteer {
	width: 92px;
	margin-left: 0px;
	background-position: -566px 0px;
}

.menu-contact {
	width: 99px;
	margin-left: 0px;
	background-position: -659px 0px;
}

.menu-about:hover    { background-position: 0px -23px; }
.menu-gallery:hover  { background-position: -90px -23px; }
.menu-posters:hover  { background-position: -205px -23px; }
.menu-links:hover    { background-position: -362px -23px; }
.menu-sponsors:hover { background-position: -478px -23px; }
.menu-volunteer:hover { background-position: -566px -23px; }
.menu-contact:hover   { background-position: -659px -23px; }
