/* Print Style Sheet */
body {background:white;font: 14pt Times, serif;margin:0;}


#content{margin-left:0;float:none;width:auto;}

#content a{font-weight:bold;color:#000066;text-decoration:underline;}

#content a:link:after, #content a:visited:after{content:" (" attr(href) ") ";font-size:90%;}

#content a[href="/"]:after  {content:" (http://dakshina.org" attr(href) ") ";}

h1, h2, h3, h4, h5, h6 {page-break-after:avoid;page-break-inside:avoid;}

h3 {margin-left:10px;margin-bottom:0px;padding-bottom:0px;}

blockquote, table, pre {page-break-inside:avoid;}

ul, ol, dl  {page-break-before:avoid;}

#footer a,#navbar, #sidebar {display:none !important;}

#commentform {display:none !important;}

p img { padding: 0; max-width: 100%; }

hr {max-width:100%; min-width:50%; height:1px;}

img {border:0; font-size:60%; page-break-inside:avoid;page-break-after:avoid;}

a img {border:0}

.title_buttons{ display:none;}
