BODY {
	FONT-SIZE: 7pt; COLOR: #ffffff; FONT-FAMILY: Arial
}
A {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
A:hover {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
TD {
	FONT-SIZE: 9pt
}
.link1 {
	FONT-SIZE: 9pt; COLOR: #ff6600; FONT-FAMILY: Century Gothic; TEXT-DECORATION: none
}
.link1:hover {
	FONT-SIZE: 9pt; COLOR: #ff6600; FONT-FAMILY: Century Gothic
}
.link2 {
	FONT-SIZE: 9pt; COLOR: #ffffff; FONT-FAMILY: Century Gothic; TEXT-DECORATION: none
}
.link2:hover {
	FONT-SIZE: 9pt; COLOR: #ffffff; FONT-FAMILY: Century Gothic
}
.subheading {
	FONT-SIZE: 14pt; MARGIN-BOTTOM: 0px
}
H1 {
	FONT-WEIGHT: 400; FONT-SIZE: 19pt; MARGIN-BOTTOM: 0px; COLOR: #2b77b0
}
