BODY {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; MARGIN: 0px; PADDING-TOP: 10px
}
P {
	FONT-SIZE: 13px; COLOR: #000000; LINE-HEIGHT: 16px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
A {
	COLOR: #434447
}
A:hover {
	COLOR: #7b8246
}
UL#menu {
	PADDING-RIGHT: 0px; BORDER-TOP: #785a3c 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 125px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
UL#menu OL {
	PADDING-RIGHT: 5px; DISPLAY: none; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; MARGIN: 0px; PADDING-TOP: 5px; LIST-STYLE-TYPE: none; TEXT-ALIGN: right
}
UL#menu LI {
	COLOR: #ffffff; FONT-FAMILY: Garmond Primer Pro, Garamond, Times New Roman , serif 
	font-size: 12px
}
UL#menu A {
	COLOR: #ffffff; FONT-FAMILY: Garmond Primer Pro, Garamond, Times New Roman , serif 
	font-size: 12px
}
UL#menu LI {
	LINE-HEIGHT: 25px; BORDER-BOTTOM: #785a3c 1px solid
}
UL#menu OL LI {
	BORDER-BOTTOM: medium none
}
UL#menu OL LI:unknown {
	content: "- "
}
UL#menu A {
	TEXT-DECORATION: none; outline: none
}
UL#menu A:hover {
	COLOR: #7f8937
}
UL#menu A.active {
	COLOR: #8f7039
}
.seasonlist {
	FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 13px; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.tickets {
	FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 13px; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.heading {
	FONT-WEIGHT: bolder; FONT-SIZE: 16px; COLOR: #3c401c; LINE-HEIGHT: 18px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.heading1 {
	FONT-WEIGHT: bolder; FONT-SIZE: 20px; COLOR: #3c401c; LINE-HEIGHT: 18px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.reviewheading {
	FONT-WEIGHT: bolder; COLOR: #000000; LINE-HEIGHT: 13px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.chart {
	FONT-SIZE: 10px; COLOR: #000000; LINE-HEIGHT: 11px; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.cds {
	FONT-WEIGHT: bold; COLOR: #8c181b
}
