.ac td {font-size: 8pt; padding: 3px;}
.ac table {font-size: 8pt; border: 1px solid black;}
.ac {font-size: 8pt; text-align: center; border: 1px solid #cccccc; margin-bottom: 0; margin-right: 2px;}
.ac_hdr {color: white; font-size: 8pt; background-color: #08396b;}
.ac_wn {color: black; font-size: 8pt; background-color: #cccccc;}
.ac_av {color: white; background-color: green; cursor:pointer;}
.ac_bl {color: white; background-color: #eeeeee;}
.ac_nd {color: white; background-color: gray; }
.ac_na {color: white; background-color: red;}
.ac_av_l {color: white; background: url(/website/images/general/cal_av_l.gif) no-repeat; cursor:pointer;}
.ac_av_r {color: white; background: url(/website/images/general/cal_av_r.gif) no-repeat; cursor:pointer;}
.ac_nav {color: black; font-size: 8pt; padding-left: 4px; margin-top: 10px; padding-bottom: 0; margin-bottom: 0;}
.ac_legend {color: black; font-size: 8pt; padding-left: 4px; padding-bottom: 0; margin-bottom: 0;}
.navbtn {background-color: transparent; font-size: 8pt; padding: 0; border: 0; text-decoration: underline; cursor: pointer;}
.ac_nav td {font-size: 8pt; padding: 2px;}

.hc-container {width: 600px; height: 300px;border:0;margin:0;padding:0;}
.hc-canvas {padding:0;margin:0;border:0; clear: both; position: relative; display: block; width: 100%; height: 100%; overflow: scroll; background-color: #cccccc;}
.hc-time {font-size: 10pt;position:absolute;padding:0;margin:0;border:0;background-color:#eeeeee;color:#7674cb;width:60px;border:1px solid #9593d7;text-align:right;}
.hc-padding {padding:2px 5px 5px 0px;}
.hc-sm {font-size: 8pt;}
.hc-header {position:absolute;padding:0;margin:0;border:0;left:0;top:0;background-color: #08396b;color:white;text-align:center;border: 1px solid white;font-size:8pt;}
.hc-available {position:absolute;padding:0;margin:0;left:0;top:0;background-color:green;border: 1px solid white;}
.hc-reserved {position:absolute;font-size:10px;overflow:hidden;padding:0;margin:0;border:0;background-color:red;color:white;border-left:1px solid white;border-right:1px solid white;text-align:center;vertical-align: bottom;}
.hc-reserved-top {position:absolute;padding:0;margin:0;border:0;background: url(/website/images/general/hc-top-100-red.gif) no-repeat;}
.hc-reserved-bottom {position:absolute;padding:0;margin:0;border:0;background: url(/website/images/general/hc-bottom-100-red.gif) no-repeat;}
.leg-av {display: inline; margin: 4px; height:10px;width:15px; background-color: green; }
.leg-na {display: inline; margin: 4px;height:10px;width:15px; background-color: red;}
.leg-cl {display: inline; margin: 4px;height:10px;width:15px; background-color: #cccccc;}
.hc-nav td {color: black; background-color: white; font-size: 8pt; padding-top: 5px; padding-left: 4px; padding-bottom: 0; margin-bottom: 0;}
