/* #Mobile (Landscape)
================================================== */
/* Note: Design for a width of 480px */

@media only screen and (min-width: 480px) and (max-width: 767px) {

/* Navigations
---------------------------------------- */

#header {
	min-height: 216px;
	margin: 0 0 18px 0;
}

	#header .grid_12 {
		min-height: 216px;
	}

/* Primary navigation */
nav.primary {
	clear:both;
	width:100%;
	margin:0;
	text-align:center;
	padding:10px 0;
	top: 160px;
}

/* Logo */
.logo {
	padding-bottom:0;
	}
.logo img{
	width:150px;
	height:auto;
	}
	.logo .tagline {
		display:block;
		}

/* Top search */
#top-search {

	}
#top-search .input-search {
	width:150px;
	}
#top-search #submit {
	
	}

/* Header widget */
#widget-header {
	padding:5px 0 15px 0;
	}
	
	
/* Slider
---------------------------------------- */
#slider-wrapper {
	height: 306px;
}

	#slider-wrapper .grid_12 {
		height: 306px;
	}
	
	#slider-wrapper .inner {
		background: url(../images/line.gif) repeat-x 0% 230px;
		height: 231px;
	}

.flexslider-holder {
	height: 230px;
}

	.flex-caption strong {
		font-size: 26px;
	}




































.primary_content_wrap img {
	max-width: 408px !important;
	height: auto !important;
}

ul.latestpost {
	margin: 0 0 12px 0;
}

	ul.latestpost li {
		width: 125px;
		margin: 0 10px 10px 0;
	}

	ul.latestpost li.odd {
		margin: 0 10px 10px 0;
	}
	
		ul.latestpost li .featured-thumbnail {
			margin: 0 0 10px 0;
		}
	
			ul.latestpost li .featured-thumbnail img {
				width: 113px;
			}
	
		ul.latestpost li time {
			padding: 0 0 7px 0;
		}

ul.gallery li .featured-thumbnail img {
	width: 123px !important;
}

	ul.gallery li.odd {
		margin: 0 4px 4px 0;
	}

ul.faces li {
	float: left;
	width: 200px;
	margin: 0 10px 18px 0 !important;
	padding: 0;
	overflow: hidden;
	vertical-align: top;
}

	ul.faces li .featured-thumbnail {
		margin: 0 0 18px 0;
	}
	
		ul.faces li .featured-thumbnail img {
			width: 188px;
		}
	
	ul.faces li h5 {
		width: 100%;
		overflow: hidden;
		margin: 0;
	}
































/* Flickr widget */
.flickrImages a {
	width:69px;
	height:69px;
	}

/* Post */
.post-meta .fright {
	float:right;
	clear:none;
	}

/* Testimonials list*/
article.testimonial {
	padding:30px 30px 30px 145px;
	background-position:120px 20px;
	}
	.testi-pic {
		left:20px;
		top:20px;
		width:70px;
		height:70px;
		}

/* Images */
.frame.alignleft,
.frame.alignright,
.frame.alignnone {
	margin-right:0;
	width:404px;
	}
	
/* SlidesJS */
.slides_container {
	width:420px;
}
.slides_container .item {
	width:420px;
	height:250px;
}
.slides_container .item .thumbnail img {
	width:100%;
	height:auto;
	}

/* Comments */
.commentlist ul.children {
	margin-left:0;
	}


/* Post Formats
---------------------------------------- */

/* Image Post Format */


/* Gallery Post Format */
.slides_container_gallery {
	width:420px;
	height:200px;
	}
	.slides_container_gallery .g_item {
		width:420px;
		}

/* Audio Format Type */
.audiojs .scrubber {
	width:248px;
	}
	
		
	
/* Portfolio
---------------------------------------- */

/* Default layout 3 columns */
#gallery .portfolio li {
	width:auto;
	float:none;
	margin-right:0;
	}
	#gallery .portfolio li a.image-wrap {
		width:410px;
		height:256px;
		}
		#gallery .portfolio li img {
			width:100%;
			height:auto;
			}

/* 1 column portfolio*/
#gallery.one_column .portfolio li a.image-wrap {
	width:408px;
	height:204px;
	float:none;
	}
	#gallery.one_column .folio-desc {
		width:100%;
		padding-top:15px;
		margin:0;
		}
			
			
/* 2 columns portfolio*/
#gallery.two_columns .portfolio li {
	width:100%;
	margin-right:0;
	}
	#gallery.two_columns .portfolio li a.image-wrap {
		width:410px;
		height:259px;
		}		
			
/* 4 columns portfolio*/
#gallery.four_columns .portfolio li {
	width:200px;
	margin-right:17px;
	}
#gallery.four_columns .portfolio li.even {
	margin-right:0;
	}
	#gallery.four_columns .portfolio li a.image-wrap {
		width:190px;
		height:118px;
		}

	
	
/* Sidebar
---------------------------------------- */
#searchform .searching {
	width:260px;
	}

}