.container_12 {
width: 100%;
}

.s2_grid_12 {
    width: auto;
}

.WaGadgetEventsStateList .boxOuterContainer .boxHeaderOuterContainer .boxHeaderContainer h4.boxHeaderTitle {
font-size: 18px; !important;
margin-left: 10px;
padding-bottom: 10px;
}

.WaGadgetEventsStateList h3.sectionTitle {
  margin: 0 0 0 0;
  font-size: 30px;
}

.gadgetStyle001 .gadgetStyleTitle h4 {
 color: #ffffff;

}

.boxHeaderContainer {
background: #F4E6BF !important;

}

.gadgetStyleTitle {
background: #7F1327 !important;

}

.typeButton, .nextButton {
background: #7F1327 !important;
color: #ffffff !important;
}

.pageTitle, .pageTitle a, .pageTitleContainer
{
color: #7f1327 !important;
background:white !important;
}
h1.pageTitle
{
font-size: 19px !important;
color: #7F1327 !important;
}
.infoOuterContainer {
border-color: Black !important;
background-color: #F4E6BF;}

.EventListCalendar td > div {
font-size:10px !important;
line-height:10px !important;
color:#7d7e7e !important;
background:#F0F0F0 !important;
}

.EventListCalendarItemDefault > div > a
{
 font-size:10px !important;
line-height:10px !important;
color:#7d7e7e !important;
}
.yearViewHeader {
background-color:#b08f8a !important;
}
.EventListCalendarHeader {
background-color:#b08f8a !important;
}



