<html lang="en"><head>
  <meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
  <head runat="server">
  <asp:ContentPlaceHolder id="MasterHead" runat="server"></asp:ContentPlaceHolder>
  <meta property="og:title" content="title" />
  <meta property="og:description" content="description" />
  <meta property="og:image" content="http://tix.com/images/TixLogo128x128.gif"/>
  <meta property="og:image:secure_url" content="https://tix.com/images/TixLogo128x128.gif" />
  <meta property="og:image:type" content="image/jpeg" />
  </head>
  <BODY leftmargin=0 rightmargin=0 topmargin=0 marginheight=0 marginwidth=0 >
  <form id="form1" runat="server">
  <div>


  <link rel="stylesheet" href="/clients/chestnutstreetplayhouse/images/normalize.htm">
  <link rel="stylesheet" href="/clients/chestnutstreetplayhouse/images/style.css">
  <link rel="stylesheet" href="/clients/chestnutstreetplayhouse/images/mainstage.css">
  <link rel="stylesheet" href="/clients/chestnutstreetplayhouse/images/navigation.css">
  <link rel="icon" type="image/png" href="http://www.chestnutstreetplayhouse.org/imgs/logo.png">

<script src="/clients/chestnutstreetplayhouse/images/jquery.js"></script>
<style>
span {font-size: inherit; }
</style>

</head>

<body>

<section id="mainheader">

	<div id="logo"><a href="http://www.chestnutstreetplayhouse.org/index.html"><img src="/clients/chestnutstreetplayhouse/images/logoimg2.png"></a></div>
	<div id="text"><a href="http://www.chestnutstreetplayhouse.org/index.html"><img src="/clients/chestnutstreetplayhouse/images/logotext2.png"></a></div>
	<div id="buy"><a href="http://chestnutstreetplayhouse.tix.com/Schedule.aspx?OrgNum=5022"><img src="/clients/chestnutstreetplayhouse/images/buy.png"></a></div>

<br class="clear">
<nav id="nav">
	<ul id="navigation">
		<li><a href="http://www.chestnutstreetplayhouse.org/index.html">Home</a></li>
		<li><a href="http://www.chestnutstreetplayhouse.org/about.html">About Us</a>
			<ul class="sub">
				<li><a href="http://www.chestnutstreetplayhouse.org/mission.html">Mission &amp; History</a></li>
				<li><a href="http://www.chestnutstreetplayhouse.org/pastms.html">Past Productions</a></li>
				<li><a href="http://www.chestnutstreetplayhouse.org/work.html">Work With Us</a></li>
			</ul>
		</li>
		<li><span class="thispage"><a href="http://www.chestnutstreetplayhouse.org/mainstage.html" class="slink">Mainstage</a></span>
			<ul class="sub">
				<li><a href="http://www.chestnutstreetplayhouse.org/nowstage.html">On Stage Now!</a></li>
				<li><a href="http://www.chestnutstreetplayhouse.org/mainstage.html">Mainstage 2016</a></li>
			</ul>
		</li>
		<li><a href="http://www.chestnutstreetplayhouse.org/education.html">Education</a></li>
		<li><a href="http://www.chestnutstreetplayhouse.org/support.html" class="slink">Support</a>
			<ul class="sub">
				<li><a href="http://chestnutstreetplayhouse.tix.com/Donation.aspx?OrgNum=5022">Donations</a></li>
				<li><a href="http://www.chestnutstreetplayhouse.org/corporate.html">Corporate Sponsors</a></li>
				<li><a href="http://www.chestnutstreetplayhouse.org/advertise.html">Advertise</a></li>
			</ul>
		</li>
		<li><a href="http://www.chestnutstreetplayhouse.org/contact.html">Contact</a></li>
	</ul>
</nav>
</section>


<section class="wrapper">

<section id="main">
<!--TIX CONTENT--><BR><BR>
<asp:ContentPlaceHolder id="MasterContent" runat="server"></asp:ContentPlaceHolder>

</section>
<br class="clear">
<div class="push"></div>
</section>

<footer>
<div id="constant">
<!--Begin CTCT Sign-Up Form-->
<!-- EFD 1.0.0 [Fri Nov 20 09:28:26 EST 2015] -->


<div class="ctct-embed-signup" style="-webkit-font-smoothing: antialiased;">
   <div style="color:black; background-color:#white; border-radius:0px;">
       <span id="success_message" style="display:none;">
           <div style="text-align:center;">Thanks for signing up!</div>
       </span>

   </div>
</div>

<script type="text/javascript" src="/clients/chestnutstreetplayhouse/images/signup-form.js"></script>
<!--End CTCT Sign-Up Form-->

</div>
	<div class="social">
		<ul id="horizontal-list">
			<li><a href="https://www.facebook.com/pages/Chestnut-Street-Playhouse/111884105499512?fref=ts"><img src="/clients/chestnutstreetplayhouse/images/fb.png" alt="fb"></a></li>
			<a href="https://twitter.com/CSP_Norwich"><img src="/clients/chestnutstreetplayhouse/images/twitter.png" alt="Twitter"></a>
			<li><a href="https://instagram.com/chestnutstreetplayhouse/"><img src="/clients/chestnutstreetplayhouse/images/ig.png" alt="instagram"></a></li>
			<li><a href="mailto:ChestnutStreetPlayhouse@gmail.com"><img src="/clients/chestnutstreetplayhouse/images/email.png" alt="Email"></a></li>
		</ul>
	</div>

		<p>Chestnut Street Playhouse, 24 Chestnut Street, Norwich, CT 06360 - 860-886-2378<br><a href="mailto:boxoffice@chestnutstreetplayhouse.org">BoxOffice@ChestnutStreetPlayhouse.org</a></p>

</footer></div>
</form>
</body>
</html>
