.IS_SlideShow_MainContainer 
{
margin: auto;
height:416px;
width: 926px;



}


.IS_SlideShow_ImagesContainer {

position:relative;
z-index: 1 !important;

}

.IS_SlideShow_CaptionContainer 
{
    opacity:1 !important;
 background:url('/Customized/Uploads/sitetemplateimages/caption.png') repeat;
position:absolute;
width: 926px;
height:145px;
z-index: 3;
top:290px;

  
}

.IS_SlideShow_Caption 
{
display:none;

}

.IS_SlideShow_ThumbnailsContainer
{display:none !important;
    opacity:1 !important;
width:313px;
height:136px;
position:relative;

 top:299px;
 left:619px;
background:url('/Customized/Uploads/sitetemplateimages/thumb_bg.png') no-repeat;


}




.IS_SlideShow_ThumbnailsList
{
 padding-top:48px;
 /*padding-left:96px;*/
 padding-left:0px;
 position:static !important;
 float:right;
}



.IS_SlideShow_ThumbnailsListItem  
{margin:7px;    width:19px;
    height:19px;
    
}

.IS_SlideShow_ThumbnailsListItem a
{
 
}

.IS_SlideShow_ThumbnailsListItem a img
{ width:19px;
    height:19px;
    
}

.IS_SlideShow_ThumbnailsListItem a div
{
 margin-right:7px;
}

.IS_SlideShow_ThumbnailsListItem_Hover
{   
    width:19px;
    height:19px; margin:7px !important;

}



.IS_SlideShow_ThumbnailsListItem_Hover a
{

}

.IS_SlideShow_ThumbnailsListItem_Hover a img
{
   width:19px;
    height:19px; 
}

.IS_SlideShow_ThumbnailsListItem_Hover a div
{
    margin-right:7px !important;

}.IS_SlideShow_ControlsBox 
{
 
}

.IS_SlideShow_ControlsBox_ButtonsList {}

.IS_SlideShow_ControlsBox_ButtonsList li 
{
    float:left;
}

.IS_SlideShow_ControlsBox_FirstImageButton {}

.IS_SlideShow_ControlsBox_PreviousImageButton {}

.IS_SlideShow_ControlsBox_PlayPauseImageButton {}

.IS_SlideShow_ControlsBox_NextImageButton {}

.IS_SlideShow_ControlsBox_LastImageButton {}

.SlideShow_LoadingMessage 
{
    background-color:#1e1e1e;
}