.sf_extra2 { background-image: url(/clients/Call2Adventure/Images/bg_19w8.jpg);
 }
body { background-color:#440905; }
.sf_main_header { color:#FFFFFF; }
.sf_sub_header { color:#None; }
.sf_pagetitle { color:#4E567C; }
.sf_footer { color:#None; }
.sf_main { background-color:#None; }
.sf_region3 { background-color:#None; }
.sf_navigation { background-color:#None; }
.sf_navigation ul li { background-color:#None; }
.sf_navigation ul li a { color:#000000; }
.sf_navigation ul li a { background-color:#None; }
.sf_navigation ul li a:visited { color:#000000; }
.sf_navigation ul li a:hover { color:#000000; }
.sf_navigation ul li a:hover { background-color:#None; }
.sf_navigation ul li.active-nav a { color:#None; }
.sf_navigation ul li.active-nav a { background-color:#None; }
a { color:#333333; }
a:link { color:#333333; }
a:visited { color:#333333; }
a:hover { color:#333333; }
body#page_9a0e7717-19bd-4d8b-9171-7ca92744724e div#content1 { width:95%; }
body#page_664c7d39-7697-4dd3-aeb7-c7462b8ee51c div#content1 { width:95%; }
body#page_664c7d39-7697-4dd3-aeb7-c7462b8ee51c div# { width:100%; }
body#page_38524db7-06f0-4bab-a969-3927f40eeab2 div#content1 { width:95%; }
body#page_0a477643-605b-4e7f-aedd-b563e516e731 div#content1 { width:95%; }
body#page_0a477643-605b-4e7f-aedd-b563e516e731 div# { width:100%; }
body#page_90313ca3-65fe-408d-9215-f1d96906ae68 div#content1 { width:95%; }
body#page_ed5c1555-e824-41dc-897f-89f347c8fa22 div#content1 { width:95%; }
body#page_ed5c1555-e824-41dc-897f-89f347c8fa22 div# { width:100%; }
body#page_7521e25e-d20b-4494-b10d-c22f29d900f7 div#content1 { width:95%; }
body#page_7521e25e-d20b-4494-b10d-c22f29d900f7 div# { width:100%; }
body#page_210cd1ed-a5c1-400c-a5d4-c66f93c29e46 div#content1 { width:95%; }
body#page_210cd1ed-a5c1-400c-a5d4-c66f93c29e46 div# { width:100%; }
body#page_90313ca3-65fe-408d-9215-f1d96906ae68 div# { width:100%; }
body#page_8446b1ec-8eb9-4ef0-b5a0-b19f8eaac645 div#layoutcontainer { width:97.62%; }
body#page_66685d74-19f5-47ec-8118-a0c596e83e5f div#layoutcontainer { width:97.62%; }
body#page_66685d74-19f5-47ec-8118-a0c596e83e5f div# { width:100%; }
