 HTML .postbox .content {
	HEIGHT: 1%
}
 HTML .comment_1 .content {
	HEIGHT: 1%
}
 HTML .comment_2 .content {
	HEIGHT: 1%
}
 HTML .comment_author .content {
	HEIGHT: 1%
}
LI.sidebar-spacer {
	WIDTH: 220px
}
